Repository Automattic/jetpack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @automattic/jetpack, @georgestephanis, @kraftbj, @jeherve

.github/CODEOWNERS:

############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Catch-all owners, the Jetpack Pit Crew
* @automattic/jetpack

# Individual Modules:
modules/contact-form*    @georgestephanis
modules/custom-css*      @georgestephanis

# Other bits of the Codebase
class.jetpack-debugger.php @kraftbj
docs/* @jeherve

Replace class constants in response keys with string constants; clean up whitespace
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Owners: @automattic/jetpack

Differential Revision: D7273-code
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Owners: @automattic/jetpack

5.4 Running changelog (#7748)
  changelog.txt
  readme.txt
  to-test.md
Owners: @automattic/jetpack

5.4 Running changelog (#7748)
  changelog.txt
  readme.txt
  to-test.md
Owners: @automattic/jetpack

update version
  jetpack.php
  package.json
Owners: @automattic/jetpack

add new gulpfile to svnignore
  .svnignore
Owners: @automattic/jetpack

Sync: Stop syncing Customizer changesets (#7301)
  sync/class.jetpack-sync-defaults.php
Owners: @automattic/jetpack

IDC: Minimize database hits in validation logic
  class.jetpack.php
Owners: @automattic/jetpack

Bumped version to 5.5-alpha.
  jetpack.php
  package.json
Owners: @automattic/jetpack

Ran yarn upgrade.
  yarn.lock
Owners: @automattic/jetpack

Put the SEO utils and titles constants back
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Owners: @automattic/jetpack

IDC: Minimize database hits in validation logic
  class.jetpack.php
Owners: @automattic/jetpack

add new gulpfile to svnignore
  .svnignore
Owners: @automattic/jetpack

add new gulpfile to svnignore (#7873)
  .svnignore
Owners: @automattic/jetpack

Sync: Start syncing Plugin Actions
  json-endpoints/jetpack/class.jetpack-json-api-plugins-endpoint.php
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Owners: @automattic/jetpack

Add documentation for new site_settings_update_wga filter
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Owners: @automattic/jetpack

Fix typo
  docs/rest-api.md
Owners: @jeherve

Improve description of what Jetpack settings are
  docs/rest-api.md
Owners: @jeherve

tt
  class.jetpack-cli.php
Owners: @automattic/jetpack

fix_changes
  class.jetpack-cli.php
Owners: @automattic/jetpack

fix
  class.jetpack-cli.php
Owners: @automattic/jetpack

use wp_kes()
  modules/carousel/jetpack-carousel.php
Owners: @automattic/jetpack

add wp_kes()
  modules/carousel/jetpack-carousel.php
Owners: @automattic/jetpack

add one changes
  class.jetpack-cli.php
Owners: @automattic/jetpack

Removed testing for the URL from the tweet unit test.
  tests/php/modules/shortcodes/test_class.tweet.php
Owners: @automattic/jetpack

Adding another failed test fix.
  tests/php/modules/shortcodes/test_class.tweet.php
Owners: @automattic/jetpack

Master Bar: update Plugins sidebar nav
  modules/masterbar/masterbar.php
Owners: @automattic/jetpack

Clarify GPLv2 or later
  LICENSE.txt
Owners: @automattic/jetpack

jetpack raw option: Add a way to bypass it
  class.jetpack-options.php
  tests/php/test_class.jetpack-options.php
Owners: @automattic/jetpack

Fix spelling of scheme in class.jetpack.signature.php
  class.jetpack-signature.php
Owners: @automattic/jetpack

Fix spelling of scheme in class.jetpack.signature.php (#7886)
  class.jetpack-signature.php
Owners: @automattic/jetpack

Clarify GPLv2 or later (#7879)
  LICENSE.txt
Owners: @automattic/jetpack

Clarify GPLv2 or later (#7879)
  LICENSE.txt
Owners: @automattic/jetpack

convert HTML5 date into to text field + jQuery datepicker
  modules/contact-form/css/jquery-ui-datepicker.css
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

fixing jquery datepicker year format jQuery uses yy for 4 digit year - see http://api.jqueryui.com/datepicker/\#utility-formatDate
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

Add doc to newly added gaq filter
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

removing date input field styles
  modules/contact-form/css/grunion.css
Owners: @georgestephanis

updating contact form editor view to not use HTML5 date input
  modules/contact-form/grunion-editor-view.php
Owners: @georgestephanis

Contact Form: Update date input class name to be more specific Check input type on output and update classname there (vs. in shortcode)
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

Added Core's native method of localizing jQuery datepicker.
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis
