Repository Automattic/jetpack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @automattic/jetpack, @georgestephanis, @kraftbj, @jeherve

General: dismiss variable assignment so avoid an undefined variable when Jetpack is not connected but jetpack_dashboard_widget has an action
  class.jetpack.php
Owners: @automattic/jetpack

Onboarding: create the token as a network option.
  class.jetpack-options.php
  class.jetpack.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

Google Analytics: Add support for new settings to endpoints (Differential Revision: D7273-code) (#7869)
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Owners: @automattic/jetpack

Google Analytics: Add support for new settings to endpoints (Differential Revision: D7273-code) (#7869)
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Owners: @automattic/jetpack

Fixes as suggested in the PR
  class.jetpack-options.php
  tests/php/test_class.jetpack-options.php
Owners: @automattic/jetpack

General: dismiss variable assignment so avoid an undefined variable when Jetpack is not connected but jetpack_dashboard_widget has an action (#7896)
  class.jetpack.php
Owners: @automattic/jetpack

General: dismiss variable assignment so avoid an undefined variable when Jetpack is not connected but jetpack_dashboard_widget has an action (#7896)
  class.jetpack.php
Owners: @automattic/jetpack

Added seo tools suite loading even if the site is not active and not in development mode.
  class.jetpack.php
  modules/module-extras.php
Owners: @automattic/jetpack

Onboarding: create the token as a network option. (#7895)
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  class.jetpack-options.php
  class.jetpack.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

Onboarding: create the token as a network option. (#7895)
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  class.jetpack-options.php
  class.jetpack.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

Improved condition readability and clarified a filter comment.
  class.jetpack.php
  modules/module-extras.php
Owners: @automattic/jetpack

Update jetpack.php version header
  tools/update-versions.sh
Owners: @automattic/jetpack

SEO tools suite loading even if the site is not active and not in development mode. (#7900)
  class.jetpack.php
  modules/module-extras.php
Owners: @automattic/jetpack

SEO tools suite loading even if the site is not active and not in development mode. (#7900)
  class.jetpack.php
  modules/module-extras.php
Owners: @automattic/jetpack

Contact Form: Convert HTML5 date input to text input + jQuery Datepicker (#7890)
  modules/contact-form/css/grunion.css
  modules/contact-form/css/jquery-ui-datepicker.css
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/grunion-editor-view.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

Contact Form: Convert HTML5 date input to text input + jQuery Datepicker (#7890)
  modules/contact-form/css/grunion.css
  modules/contact-form/css/jquery-ui-datepicker.css
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/grunion-editor-view.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

bump beta version
  jetpack.php
  package.json
Owners: @automattic/jetpack

build languages
  _inc/jetpack-strings.php
  languages/jetpack-pl_PL.mo
  languages/jetpack-pl_PL.po
  languages/json/jetpack-ar.json
  languages/json/jetpack-de_DE.json
  languages/json/jetpack-de_DE_formal.json
  languages/json/jetpack-el.json
  languages/json/jetpack-en_AU.json
  languages/json/jetpack-en_CA.json
  languages/json/jetpack-en_GB.json
  languages/json/jetpack-en_NZ.json
  languages/json/jetpack-eo.json
  languages/json/jetpack-es_AR.json
  languages/json/jetpack-es_CL.json
  languages/json/jetpack-es_ES.json
  languages/json/jetpack-es_VE.json
  languages/json/jetpack-fa_IR.json
  languages/json/jetpack-fi.json
  languages/json/jetpack-fr_BE.json
  languages/json/jetpack-fr_FR.json
  languages/json/jetpack-he_IL.json
  languages/json/jetpack-hr.json
  languages/json/jetpack-id_ID.json
  languages/json/jetpack-it_IT.json
  languages/json/jetpack-ja.json
  languages/json/jetpack-ko_KR.json
  languages/json/jetpack-nl_NL.json
  languages/json/jetpack-nl_NL_formal.json
  languages/json/jetpack-pl_PL.json
  languages/json/jetpack-pt_BR.json
  languages/json/jetpack-ro_RO.json
  languages/json/jetpack-ru_RU.json
  languages/json/jetpack-sk_SK.json
  languages/json/jetpack-sq.json
  languages/json/jetpack-sv_SE.json
  languages/json/jetpack-tr_TR.json
  languages/json/jetpack-zh_CN.json
  languages/json/jetpack-zh_HK.json
  languages/json/jetpack-zh_TW.json
Owners: @automattic/jetpack

Fix -rtl suffix for gulp task
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

Fix -rtl suffix for gulp task
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

New build
  css/jetpack-rtl.css
Owners: @automattic/jetpack

these modules enqueue the rtl files separately
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

add related posts css to separate list
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

these modules enqueue the rtl files separately
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

add related posts css to separate list
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

New build
  modules/carousel/jetpack-carousel-rtl.css
  modules/contact-form/css/grunion-rtl.css
  modules/related-posts/related-posts-rtl.css
  modules/shortcodes/css/recipes-print-rtl.css
  modules/shortcodes/css/recipes-rtl.css
  modules/tiled-gallery/tiled-gallery/tiled-gallery-rtl.css
Owners: @automattic/jetpack, @georgestephanis

Fix -rtl suffix for gulp task (#7901)
  tools/builder/frontend-css.js
Owners: @automattic/jetpack

REST API: Correct highlander comment avatars.
  class.json-api-endpoints.php
Owners: @automattic/jetpack

Add doc to newly added gaq filter
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

wp_footer should use add_action, not add_filter
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

Google Analytics: Add support for IP anonymization and basic ecommerce tracking
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

Ruggedize order received transaction array construction
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

add changelog & to-test for GA addition
  readme.txt
  to-test.md
Owners: @automattic/jetpack

REST API: Correct highlander comment avatars. (#7902)
  class.json-api-endpoints.php
Owners: @automattic/jetpack

REST API: Correct highlander comment avatars. (#7902)
  class.json-api-endpoints.php
Owners: @automattic/jetpack

bump beta version
  jetpack.php
  package.json
Owners: @automattic/jetpack

New build
  class.json-api-endpoints.php
  css/jetpack-rtl.css
  css/jetpack.css
  css/jetpack.rtl.css
  jetpack.php
  modules/google-analytics/wp-google-analytics.php
  readme.txt
  to-test.md
Owners: @automattic/jetpack

is_object check on $user variable in grofiles_hovercards_data
  modules/gravatar-hovercards.php
Owners: @automattic/jetpack

PHPDoc adjustments
  modules/contact-form/grunion-contact-form.php
Owners: @georgestephanis

.github/CODEOWNERS:

############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Catch-all owners, the Jetpack Pit Crew
* @automattic/jetpack

# Individual Modules:
modules/contact-form*    @georgestephanis
modules/custom-css*      @georgestephanis

# Other bits of the Codebase
class.jetpack-debugger.php @kraftbj
docs/* @jeherve
