Repository Automattic/jetpack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @automattic/jetpack, @georgestephanis, @kraftbj, @jeherve

.github/CODEOWNERS:

############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Catch-all owners, the Jetpack Pit Crew
* @automattic/jetpack

# Individual Modules:
modules/contact-form*    @georgestephanis
modules/custom-css*      @georgestephanis

# Other bits of the Codebase
class.jetpack-debugger.php @kraftbj
docs/* @jeherve

Ruggedize order received transaction array construction
  modules/google-analytics/wp-google-analytics.php
Owners: @automattic/jetpack

Sync: Sync `get_editable_roles` (#7838)
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-users.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Owners: @automattic/jetpack

updating spacing per WP Core CSS Standards
  modules/contact-form/css/grunion.css
Owners: @georgestephanis

update jQuery datepicker to use 4digit years (matching to HTML5 date input)
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

Add config to run e2e tests against master branch (#7661)
  .circleci/config.yml
Owners: @automattic/jetpack

Improve docs for /connection endpoint
  docs/rest-api.md
Owners: @jeherve

Improve /connection/data endpoint docs
  docs/rest-api.md
Owners: @jeherve

Improve /connection and /connection/user endpoints docs
  docs/rest-api.md
Owners: @jeherve

Improve docs for /module/all endpoint
  docs/rest-api.md
Owners: @jeherve

Use Jetpack_Options for token, create token during partner provision instead of url generation
  class.jetpack-cli.php
  class.jetpack-options.php
  class.jetpack.php
Owners: @automattic/jetpack

Improve docs for /module/:slug endpoint
  docs/rest-api.md
Owners: @jeherve

Remove unnecesary piece of doc in /module/:slug/active endpoint
  docs/rest-api.md
Owners: @jeherve

Move Site Information header to where it belongs
  docs/rest-api.md
Owners: @jeherve

Improve docs for /module/protect/data endpoint
  docs/rest-api.md
Owners: @jeherve

Changelog: add #6538
  readme.txt
Owners: @automattic/jetpack

updating card spacing method for ie11 compatibility (#7797)
  _inc/client/components/settings-group/style.scss
Owners: @automattic/jetpack

Changelog: add #7767
  readme.txt
Owners: @automattic/jetpack

Remove docs for deprecated endpoint /monitor/last
  docs/rest-api.md
Owners: @jeherve

Remove docs for deprecated endpoint /verification-tools/services
  docs/rest-api.md
Owners: @jeherve

Changelog: add #7782
  readme.txt
  to-test.md
Owners: @automattic/jetpack

Add full support for Contact Form Date Field (#7819)
  modules/contact-form/css/grunion.css
  modules/contact-form/css/jquery-ui-datepicker.css
  modules/contact-form/grunion-contact-form.php
  modules/contact-form/grunion-editor-view.php
  modules/contact-form/js/grunion-frontend.js
Owners: @georgestephanis

Change onboarding key name to instead of
  class.jetpack-cli.php
  class.jetpack-options.php
  class.jetpack.php
Owners: @automattic/jetpack

Changelog: add #7797
  readme.txt
Owners: @automattic/jetpack

Improve docs for /updates/plugins endpoint
  docs/rest-api.md
Owners: @jeherve

Changelog: add #7819
  readme.txt
  to-test.md
Owners: @automattic/jetpack

Milestone Widget - Add "Time Unit" setting and ability to count up to a milestone (#7782)
  modules/widgets/milestone/admin.js
  modules/widgets/milestone/milestone.js
  modules/widgets/milestone/milestone.php
  modules/widgets/milestone/style-admin.css
Owners: @automattic/jetpack

Update docs for /module/akismet/data and /module/vaultpress/data endponts
  docs/rest-api.md
Owners: @jeherve

Onboarding: fix failing tests and check that rest_route index is defined before using it
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  class.jetpack.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

Update akismet and vaultpress headings
  docs/rest-api.md
Owners: @jeherve

Onboarding: up versions
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

update to-test to add misc stuff
  readme.txt
  to-test.md
Owners: @automattic/jetpack

Add example POST request with jQuery and fetch API
  docs/rest-api.md
Owners: @jeherve

Remove unnecesary piece of doc
  docs/rest-api.md
Owners: @jeherve

Remove unnecesary piece of doc
  docs/rest-api.md
Owners: @jeherve

Fix heading level from 3 to 4 in Jetpack Settings endpoints
  docs/rest-api.md
Owners: @jeherve

REST API: Fix the comment author object for comments whose author info (#7707)
  class.json-api-endpoints.php
Owners: @automattic/jetpack

add comment edit fix to changelog
  readme.txt
  to-test.md
Owners: @automattic/jetpack

JPOalypso: onboard connections (#7468)
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  _inc/lib/widgets.php
  class.jetpack-cli.php
  class.jetpack-options.php
  class.jetpack.php
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-add-widget-endpoint.php
  sync/class.jetpack-sync-module-themes.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Owners: @automattic/jetpack

updated .gitignore
  .gitignore
Owners: @automattic/jetpack

Updated .svnignore
  .svnignore
Owners: @automattic/jetpack
