Repository Automattic/jetpack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @georgestephanis, @Automattic/jetpack-search, @kraftbj, @gibrown, @automattic/jetpack-infinity

Move rendering of form settings toggle to separate function.
  extensions/blocks/contact-form/edit.js
Owners: none

Rewrite the contact form edit component as a functional component.
  extensions/blocks/contact-form/edit.js
Owners: none

Just count the innerBlocks.
  extensions/blocks/contact-form/edit.js
Owners: none

Remove call to color validator since this is no longer used.
  extensions/blocks/contact-form/attributes.js
Owners: none

Make sure the preview works by adding an empty example reference. Remove the isDefault from the contact variation so that the form block still shows in the main inserter.
  extensions/blocks/contact-form/index.js
  extensions/blocks/contact-form/variations.js
Owners: none

Move the advanced settings filter into JetpackFieldControls
  extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/edit.js
  extensions/blocks/contact-form/extensions/advanced-settings.js
Owners: none

Add missing translations to variation data.
  extensions/blocks/contact-form/variations.js
Owners: none

Replace use of with
  extensions/blocks/contact-form/edit.js
Owners: none

Make sure that we pass through the old submit button text attribute value from two versions ago.
  extensions/blocks/contact-form/deprecated.js
Owners: none

Make sure the block works on WP version 5.3 and with/without Gutenberg plugin installed.
  extensions/blocks/contact-form/edit.js
  extensions/blocks/contact-form/editor.scss
Owners: none

Do not pass through custom button classes on migration since this causes duplication of generated classes by Gutenberg.
  extensions/blocks/contact-form/deprecated/v2/index.js
Owners: none

Remove filter for adding advanced controls, and add them directly.
  extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/components/jetpack-field-multiple.js
  extensions/blocks/contact-form/components/jetpack-field-textarea.js
  extensions/blocks/contact-form/components/jetpack-field.js
Owners: none

Simplify the deprecation settings.
  extensions/blocks/contact-form/attributes.js
  extensions/blocks/contact-form/deprecated.js
  extensions/blocks/contact-form/deprecated/index.js
  extensions/blocks/contact-form/deprecated/v1/index.js
  extensions/blocks/contact-form/edit.js
  extensions/blocks/contact-form/index.js
Owners: none

Update extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/components/jetpack-field-controls.js
Owners: none

Add a new class to the contact form when being used with the block so that we can modify the field width without breaking older sites.
  modules/contact-form/css/grunion.css
  modules/contact-form/grunion-contact-form.php
Owners: @georgestephanis

Clarify what happens when clicking the Connect to Instagram
  extensions/blocks/instagram-gallery/use-connect-instagram.js
Owners: none

Support flex on the front end rendering of forms.
  modules/contact-form/css/grunion.css
  modules/contact-form/grunion-contact-form.php
Owners: @georgestephanis

Justify content to the left and use transparent borders to maintain consistent spacing between elements while still using flexbox.
  extensions/blocks/contact-form/editor.scss
  modules/contact-form/css/grunion.css
Owners: @georgestephanis

Switch fieldWidth attribute to width
  extensions/blocks/contact-form/components/jetpack-field-checkbox.js
  extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/components/jetpack-field-multiple.js
  extensions/blocks/contact-form/components/jetpack-field-textarea.js
  extensions/blocks/contact-form/components/jetpack-field-width.js
  extensions/blocks/contact-form/components/jetpack-field.js
  extensions/blocks/contact-form/index.js
Owners: none

Use flex-start not left.
  extensions/blocks/contact-form/editor.scss
  modules/contact-form/css/grunion.css
Owners: @georgestephanis

Support changing of field widths in the editor to support more advanced layouts.
  extensions/blocks/contact-form/components/jetpack-field-checkbox.js
  extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/components/jetpack-field-multiple.js
  extensions/blocks/contact-form/components/jetpack-field-textarea.js
  extensions/blocks/contact-form/components/jetpack-field-width.js
  extensions/blocks/contact-form/components/jetpack-field.js
  extensions/blocks/contact-form/editor.scss
  extensions/blocks/contact-form/index.js
Owners: none

Use yoda conditions
  modules/shortcodes/spotify.php
Owners: none

Add better default to getSitePurchases, since all other reducers are relying on it.
  _inc/client/state/site/reducer.js
Owners: none

Dashboard Setup page: do not add menu for non-admins
  _inc/lib/admin-pages/class.jetpack-react-page.php
Owners: none

Shortcodes - Spotify: Fix embed when text not preceded by HTML tag. (#15801)
  modules/shortcodes/spotify.php
  tests/php/modules/shortcodes/test-class.spotify.php
Owners: none

Jetpack is bestpack
  require-lib.php
Owners: none

Jetpack is seriously bestpack
  require-lib.php
Owners: none

add filter to Redirect::get_url
  packages/redirect/src/class-redirect.php
Owners: none

Blocks: add utility to display messages in blocks
  class.jetpack-gutenberg.php
Owners: none

Update packages/redirect/src/class-redirect.php
  packages/redirect/src/class-redirect.php
Owners: none

Connection: increase timeout on the token request (#15764)
  packages/connection/src/class-manager.php
Owners: none

Add guidelines for what should be in a package.
  packages/README.md
Owners: none

Proper namespacing
  packages/redirect/src/class-redirect.php
Owners: none

add references to new section
  docs/coding-guidelines.md
Owners: none

Dashboard Setup page: do not add menu for non-admins (#15809)
  _inc/lib/admin-pages/class.jetpack-react-page.php
Owners: none

Debugger: Remove return for hiding in site health. (#15725)
  _inc/lib/debugger/debug-functions.php
Owners: @kraftbj

Update _inc/lib/class-jetpack-wizard.php
  _inc/lib/class-jetpack-wizard.php
Owners: none

Update _inc/lib/class-jetpack-wizard.php
  _inc/lib/class-jetpack-wizard.php
Owners: none

Update class-jetpack-wizard-banner.php
  class-jetpack-wizard-banner.php
Owners: none

Update class-jetpack-wizard-banner.php
  class-jetpack-wizard-banner.php
Owners: none

.github/CODEOWNERS:

############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Individual Modules:
/modules/contact-form/    @georgestephanis
/modules/custom-css/      @georgestephanis
/modules/search/          @Automattic/jetpack-search

# Other bits of the Codebase
/_inc/lib/debugger/ @kraftbj
/_inc/lib/jetpack-wpes-query-builder/ @gibrown

# Functionality that is important to our partners
/class.jetpack-cli.php @automattic/jetpack-infinity
/bin/partner-provision.sh @automattic/jetpack-infinity
/bin/partner-cancel.sh @automattic/jetpack-infinity
