Repository Automattic/jetpack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @georgestephanis, @Automattic/jetpack-search, @kraftbj, @gibrown, @automattic/jetpack-infinity

Add updated SVG and adjust some CSS
  _inc/client/setup-wizard/checklist-answer/style.scss
  _inc/client/setup-wizard/income-question/index.jsx
  _inc/client/setup-wizard/income-question/style.scss
  images/generating-cash.svg
Owners: none

Adjust responsive behavior of checkbox inputs
  _inc/client/setup-wizard/checklist-answer/style.scss
Owners: none

Increase chevron size
  _inc/client/setup-wizard/checklist-answer/index.jsx
Owners: none

Adjust advance section margin for narrow windows
  _inc/client/setup-wizard/income-question/style.scss
Owners: none

Adjust font weight of subtitle
  _inc/client/setup-wizard/income-question/style.scss
Owners: none

Increase margin between subtitle and answers
  _inc/client/setup-wizard/income-question/style.scss
Owners: none

Update routing to use react-route v5 style
  _inc/client/main.jsx
  _inc/client/setup-wizard/index.jsx
Owners: none

Change componentWillUnmount to an arrow function
  _inc/client/setup-wizard/checklist-answer/index.jsx
Owners: none

Change route.path to location.pathname
  _inc/client/components/masthead/index.jsx
Owners: none

Update links to the income question page
  _inc/client/setup-wizard/intro-page/index.jsx
Owners: none

Use calypso colors
  _inc/client/setup-wizard/checklist-answer/style.scss
  _inc/client/setup-wizard/income-question/style.scss
  _inc/client/setup-wizard/intro-page/style.scss
  _inc/client/setup-wizard/style.scss
Owners: none

Remove CSS adjusting checkbox size
  _inc/client/setup-wizard/checklist-answer/style.scss
Owners: none

Adjust margin of income answers when page is narrow
  _inc/client/setup-wizard/income-question/style.scss
Owners: none

Put <p> tags around text
  _inc/client/setup-wizard/checklist-answer/index.jsx
  _inc/client/setup-wizard/checklist-answer/style.scss
Owners: none

Adjust alignment of text and checkboxes
  _inc/client/setup-wizard/checklist-answer/style.scss
Owners: none

Adjust width and margin of checkbox answers
  _inc/client/setup-wizard/income-question/style.scss
Owners: none

Remove leading slash from the image path
  _inc/client/setup-wizard/income-question/index.jsx
Owners: none

Fix for difference between upload and media library
  extensions/blocks/image-compare/edit.js
Owners: none

Remove check for image sizes
  extensions/blocks/image-compare/view.js
Owners: none

Extend the logic to non-amp pages
  modules/shortcodes/ted.php
  tests/php/modules/shortcodes/test-class.ted.php
Owners: none

Set theme jekyll-theme-cayman
  _config.yml
Owners: none

Polish it up.
  extensions/blocks/image-compare/edit.js
  extensions/blocks/image-compare/editor.scss
  extensions/blocks/image-compare/img-upload.js
Owners: none

Simplify tests
  tests/php/modules/shortcodes/test-class.ted.php
Owners: none

Instagram Gallery Block: Improve the "not many posts" Notice (#15632)
  extensions/blocks/instagram-gallery/edit.js
Owners: none

Make TED shortcode AMP compatible (#15604)
  modules/shortcodes/ted.php
  tests/php/modules/shortcodes/test-class.ted.php
Owners: none

AMP Support for Cookies and Consent * Adds a `amp-consent` component when the AMP site is being viewed based on the widget settings
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/style.css
  modules/widgets/eu-cookie-law/widget-amp.php
Owners: none

* Add rule that we're ignoring in sharing sources code
  modules/sharedaddy/sharing-sources.php
Owners: none

I18N question content
  _inc/client/setup-wizard/income-question/index.jsx
Owners: none

Increase padding at the top of the answer containers
  _inc/client/setup-wizard/checklist-answer/style.scss
Owners: none

Additon of jetpack_sync_non_blocking option and filter to enable non-blocking check-in flow
  packages/sync/src/class-defaults.php
  packages/sync/src/class-main.php
  tests/php/sync/test_class.jetpack-sync-options.php
Owners: none

Add AMP compatibility to Slideshow shortcode (#15319)
  class.jetpack-gutenberg.php
  extensions/blocks/slideshow/slideshow.php
  modules/shortcodes/slideshow.php
  tests/php/modules/shortcodes/test-class.slideshow.php
Owners: none

Tasks: add task to lint a single js file
  package.json
Owners: none

Convert arrow functions to function functions
  _inc/client/setup-wizard/checklist-answer/index.jsx
Owners: none

Search: Add boundaries to number of posts per request option (#15704)
  modules/search/class-jetpack-instant-search.php
Owners: @Automattic/jetpack-search

Declare arrow functions with useCallback
  _inc/client/setup-wizard/checklist-answer/index.jsx
Owners: none

New jetpack_sync_non_blocking option and filter.
  packages/sync/src/class-main.php
  packages/sync/src/class-sender.php
Owners: none

Add deps to callbacks
  _inc/client/setup-wizard/checklist-answer/index.jsx
Owners: none

First pass at notices for changing lock or package files
  bin/post-merge-checkout-hook.sh
  package.json
Owners: none

external-media-endpoint: update wpcom path
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
Owners: none

Remove return for hiding in site health.
  _inc/lib/debugger/debug-functions.php
Owners: @kraftbj

.github/CODEOWNERS:

############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Individual Modules:
/modules/contact-form/    @georgestephanis
/modules/custom-css/      @georgestephanis
/modules/search/          @Automattic/jetpack-search

# Other bits of the Codebase
/_inc/lib/debugger/ @kraftbj
/_inc/lib/jetpack-wpes-query-builder/ @gibrown

# Functionality that is important to our partners
/class.jetpack-cli.php @automattic/jetpack-infinity
/bin/partner-provision.sh @automattic/jetpack-infinity
/bin/partner-cancel.sh @automattic/jetpack-infinity
