Repository Automattic/jetpack, pull requests merged in 2018-04, with the labels that each got.

#9193 Add custom search terms for the Privacy card
  _inc/client/privacy/index.jsx
Labels: Admin Page, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug, [Type] GDPR

#9210 Docker: add `docker:compose` script
  package.json
Labels: Docker

#9211 Admin Page: Stats - Fix default value for week and month stats query
  _inc/client/rest-api/index.js
  _inc/client/state/at-a-glance/actions.js
Labels: Admin Page, Stats, [Status] Ready to Merge, [Type] Bug

#9182 Search: add alt attribute to stats pixel.
  _inc/lib/class.jetpack-search-performance-logger.php
Labels: Accessibility, Search, Stats, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#9207 Fixes context usage in i18n in client side code.
  gulpfile.babel.js
  package.json
  yarn.lock
Labels: Internationalization, [Status] Ready to Merge, [Type] Bug

#9191 Remove references to privacy.blog
  _inc/client/privacy/index.jsx
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] GDPR

#9213 Dashboard Stats: render spinner/empty stats card correctly
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/at-a-glance/stats/test/component.js
Labels: Admin Page, [Status] Needs Review, [Type] Bug

#9218 Added changelog entries for things menged in 6.0 beta period.
  readme.txt
Labels: General, [Type] Enhancement

#9220 Bump version to 6.1-alpha.
  jetpack.php
  package.json
  readme.txt
  yarn.lock
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#9149 Docker: use `.env` files for customisation
  .gitignore
  docker/Dockerfile
  docker/README.md
  docker/bin/install.sh
  docker/bin/multisite-convert.sh
  docker/bin/run.sh
  docker/default.env
  docker/docker-compose.yml
  package.json
Labels: Docker, General, [Status] Needs Review

#9226 E2E tests: Get rid of old, invalid cache
  .circleci/config.yml
Labels: Unit Tests, [Status] Ready to Merge

#9114 Docker: Adds instructions for Xdebug in PhpStorm
  docker/README.md
Labels: Docker, [Status] Ready to Merge

#9235 Docker: add uninstall script
  docker/README.md
  docker/bin/install.sh
  docker/bin/multisite-convert.sh
  docker/bin/run.sh
  docker/bin/uninstall.sh
  package.json
Labels: Docker, [Status] Needs Review

#9178 CLI: Partner: Updates partner provisioning to allow REST API
  _inc/class.jetpack-provision.php
  class.jetpack-xmlrpc-server.php
  tests/php/test_class.jetpack-xmlrpc-server.php
Labels: Jetpack Start, [Status] Ready to Merge

#9243 Docs: Partners: Add documentation for provisioning plan directly
  docs/partners/plan-provisioning-direct-api.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#9253 GA: This feature is also available for Premium plans
  modules/google-analytics.php
Labels: Google Analytics, [Status] Ready to Merge, [Type] Bug

#9246 Jetpack Autoupdates: Removed php warning
  class.jetpack-autoupdate.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#9263 Admin Page: Add isModuleForcedInactive and isModuleForcedActive convenience selectors
  _inc/client/state/modules/reducer.js
  _inc/client/state/modules/test/selectors.js
Labels: Admin Page, [Status] Needs Review

#9267 3rd Party: Add override support for jetpack_active_modules filter
  3rd-party/class.jetpack-modules-overrides.php
  tests/php/3rd-party/test_class.jetpack-modules-overrides.php
Labels: General, Unit Tests, [Status] Ready to Merge

#9266 Tools: Add Gutenberg, WP Rollback and WP Downgrade checkboxes to Live Branches Script
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: General, Gutenberg, [Status] Ready to Merge

#9271 SSO: Ensure cookie is secure if is_ssl() is true
  modules/sso.php
Labels: SSO, [Status] Needs Review

#9291 Docker: update step when creating .env
  docker/README.md
Labels: Docker, [Status] Needs Review, [Type] Bug

#9287 Docker: create log file before tail
  docker/README.md
  docker/bin/tail.sh
  package.json
Labels: Docker, [Type] Enhancement

#9288 Docker: fix env variables in phpunit setup
  docker/config/wp-tests-config.php
Labels: Docker, [Status] Needs Review, [Type] Bug

#9275 Admin Page: Correct plan icon in upgade nudges
  _inc/client/components/settings-card/index.jsx
Labels: Admin Page, Plans, [Status] Needs Review, [Type] Bug

#9272 Docs: Partners: Ensure that oauth2/token examples specify access_token
  docs/partners/plan-provisioning-direct-api.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#9304 Code Sync: Autosave Post v1.1 endpoint - was wpcom-ahead
  json-endpoints/class.wpcom-json-api-autosave-post-v1-1-endpoint.php
Labels: DO NOT SQUASH, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge

#9303 Code Sync: Upload Media v1.1 endpoint - was wpcom-ahead
  json-endpoints/class.wpcom-json-api-upload-media-v1-1-endpoint.php
Labels: DO NOT SQUASH, WPCOM API, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge

#9305 Code Sync: jetpack-gallery-item file - was wpcom-ahead
  modules/tiled-gallery/tiled-gallery/tiled-gallery-item.php
Labels: DO NOT SQUASH, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9306 Code Sync: sal/class.json-api-post-base.php - was wpcom-ahead
  sal/class.json-api-post-base.php
Labels: DO NOT SQUASH, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9186 Code sync: bring divergent SAL files in sync
  sal/class.json-api-site-base.php
  sal/class.json-api-site-jetpack-base.php
Labels: DO NOT SQUASH, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9308 Options: add basic options to sync whitelist
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#9311 Masterbar: Remove the Next Steps link
  modules/masterbar/masterbar.php
Labels: Masterbar, [Status] Ready to Merge, [Type] Janitorial

#9296 JPS: XML-RPC: Require authentication of jetpack.remoteProvision when site connected
  class.jetpack-xmlrpc-server.php
Labels: Jetpack Start, [Status] Needs Review

#9312 Protect: Revert XML RPC request should get hard blocker quicke
  modules/protect.php
Labels: [Status] Ready to Merge

#9307 Add files to fusion whitelist
  fusion/whitelist.json
Labels: Fusion, [Status] Needs Review

#9295 Adding sync modules required on wpcom for Activity Log to Fusion whit…
  fusion/whitelist.json
Labels: Fusion, Sync, [Status] Ready to Merge

#9251 Sync: Bug fix empty the queue if there is nothing to send and only skip
  sync/class.jetpack-sync-sender.php
  tests/php/sync/server/class.jetpack-sync-server-eventstore.php
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Sync, [Pri] High, [Status] Needs Review, [Type] Bug

#9198 Add border and new layout to dashboard numbers
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/components/dash-item/style.scss
  _inc/client/scss/variables/_colors.scss
Labels: Admin Page, [Status] Needs Design Review, [Status] Needs Review, [Type] Janitorial

#9324 Changes the way Jetpack handles asset paths based on environment.
  class.jetpack.php
  jetpack.php
  modules/shortcodes.php
  modules/shortcodes/slideshow.php
  tests/php/test_class.jetpack.php
Labels: General, [Status] Ready to Merge

#9269 Tools: Add Code Snippets checkbox to Live Branches Script
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: General, [Status] Ready to Merge

#9329 Reverts changes made in 9324
  class.jetpack.php
  jetpack.php
  modules/shortcodes.php
  modules/shortcodes/slideshow.php
  tests/php/test_class.jetpack.php
Labels: [Status] Needs Review, [Type] Janitorial

#9317 Docker: create .env file if it doesn't exist
  package.json
Labels: Docker, [Status] Needs Review, [Type] Enhancement

#9332 Readme: add @clickysteve to list of contributors.
  readme.txt
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9259 Add/sync callable timezone
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Activity Log, Sync, [Status] Ready to Merge, [Type] Enhancement

#9337 Markdown: fix jetpack_utf8_strlen regex
  _inc/lib/markdown/extra.php
Labels: Markdown, [Status] Ready to Merge, [Type] Bug

#9313 Sync: add admin email options to sync whitelist
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#8934 Admin Page: Add module override support using common components
  _inc/client/at-a-glance/index.jsx
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/at-a-glance/stats/test/component.js
  _inc/client/components/banner/index.jsx
  _inc/client/components/dash-item/test/component.js
  _inc/client/components/form/form-toggle/index.jsx
  _inc/client/components/jetpack-banner/index.jsx
  _inc/client/components/module-overridden-banner/index.jsx
  _inc/client/components/module-overridden-banner/style.scss
  _inc/client/components/module-toggle/README.md
  _inc/client/components/module-toggle/index.jsx
  _inc/client/components/settings-card/index.jsx
  _inc/client/components/settings-card/test/component.js
  _inc/client/discussion/comments.jsx
  _inc/client/discussion/index.jsx
  _inc/client/plans/plan-body.jsx
  _inc/client/traffic/index.jsx
  _inc/client/traffic/search.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/traffic/verification-services.jsx
  _inc/client/writing/custom-content-types.jsx
  _inc/client/writing/index.jsx
  _inc/client/writing/media.jsx
  _inc/client/writing/theme-enhancements.jsx
Labels: Admin Page, [Status] Ready to Merge

#9350 WordAds: remove dns prefetch for scripts that are no longer used
  modules/wordads/wordads.php
Labels: WordAds, [Status] Ready to Merge

#9245 Modules: Confirm array is present
  class.jetpack.php
Labels: General, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Bug

#9007 Shortcodes: Sync Mixcloud with WP.com
  modules/shortcodes/mixcloud.php
Labels: Shortcodes, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#9277 Replace -'s with _'s
  _inc/client/components/module-settings/module-settings-form.jsx
Labels: Tracks, [Pri] High, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement, [Type] Janitorial

#9273 Bring Jetpack Sitemaps in sync w/ upcoming dotcom changes
  modules/sitemaps/sitemap-builder.php
  modules/sitemaps/sitemap-librarian.php
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge

#9360 IDC: Clear VaultPress options when in IDC and Jetpack connection cycled
  class.jetpack-idc.php
Labels: IDC, Vault, [Status] Ready to Merge

#9367 Revert suppress filters for json-api
  json-endpoints/class.wpcom-json-api-list-media-endpoint.php
  json-endpoints/class.wpcom-json-api-post-endpoint.php
  json-endpoints/class.wpcom-json-api-post-v1-1-endpoint.php
  sal/class.json-api-site-base.php
Labels: WPCOM API, [Status] Ready to Merge

#9362 JPS: Do not escape translated strings since they are not echoed
  _inc/class.jetpack-provision.php
  class.jetpack-xmlrpc-server.php
Labels: Jetpack Start, [Status] Ready to Merge

#9354 Sync: add more options to the whitelist
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Sync, [Status] Ready to Merge

#9368 Code Sync: Top Posts Widget - was divergent
  modules/widgets/top-posts.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9328 Options: sync mailserver settings
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-module-options.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#9285 Fixes the internationalization of the plans tab
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Internationalization, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#9385 Comments: Fix counts endpoint's response format
  json-endpoints/class.wpcom-json-api-get-comment-counts-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9349 Slideshow: fix warnings (wpcom merge)
  class.jetpack-post-images.php
Labels: [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#9355 jetpack_woocommerce_remove_share function to remove sharing display on cart pages.
  3rd-party/woocommerce.php
Labels: Likes, Sharing, [Status] Ready to Merge, [Type] Enhancement

#9339 Sharing: Make via/related functions static for outside use
  modules/sharedaddy/sharing-sources.php
Labels: Publicize, Sharing, [Status] Ready to Merge, [Type] Enhancement

#8976 Gravatar: always use HTTPS to query images
  modules/gravatar-hovercards.php
  modules/widgets/gravatar-profile.php
Labels: Extra Sidebar Widgets, Gravatar Hovercards, [Pri] Normal, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Enhancement

#8956 Publicize: remove cursor css property from publicize disconnect button
  modules/publicize/assets/publicize.css
  modules/publicize/assets/rtl/publicize-rtl.css
  modules/publicize/ui.php
Labels: Publicize, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#9353 Publicize: Return out early for non-Publicize CPTs
  modules/publicize/publicize-jetpack.php
Labels: Publicize, [Status] Ready to Merge, [Type] Bug

#9347 Likes: Bust the likes iframe cache
  modules/likes/jetpack-likes-master-iframe.php
Labels: Comment Likes, Likes, [Status] Ready to Merge, [Type] Bug

#9348 Media Summary: Setup postdata for obtaining the excerpt
  _inc/lib/class.media-summary.php
Labels: General, [Status] Ready to Merge, [Type] Bug

#9228 Social Icons: bundle screen reader text CSS class.
  modules/widgets/social-icons/social-icons.css
Labels: Extra Sidebar Widgets, [Pri] High, [Status] Ready to Merge, [Type] Bug

#9386 Widgets: Gravatar Profile - Remove trailing comma from last function call parameter in Gravatar Profile Widget
  modules/widgets/gravatar-profile.php
Labels: Extra Sidebar Widgets, [Pri] BLOCKER, [Pri] High, [Status] Needs Review, [Type] Bug

#9382 Jetpack Sync: remove recursion from checksum call
  functions.global.php
  sync/class.jetpack-sync-json-deflate-array-codec.php
  sync/class.jetpack-sync-module.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: [Status] Needs Review

#9380 Sync: Add Array checks in the updates modules
  sync/class.jetpack-sync-module-updates.php
Labels: Sync, [Status] Needs Review

#8847 Sync: Do bulk delete of post meta on daily akismet cleanup
  modules/contact-form/grunion-contact-form.php
  sync/class.jetpack-sync-module-posts.php
  sync/class.jetpack-sync-wp-replicastore.php
  sync/interface.jetpack-sync-replicastore.php
  tests/php/sync/server/class.jetpack-sync-server-replicator.php
  tests/php/sync/server/class.jetpack-sync-test-replicastore.php
  tests/php/sync/test_class.jetpack-sync-meta.php
Labels: Sync, [Status] Ready to Merge

#9383 Dev Mode: Force bool on is_development_mode
  class.jetpack.php
  tests/php/test_class.jetpack.php
Labels: [Status] Ready to Merge, [Type] Bug

#9372 Privacy Settings: Update the accompanying copy.
  _inc/client/privacy/index.jsx
Labels: Admin Page, Needs GDPR Review, [Status] Ready to Merge, [Type] GDPR

#9274 Update/do not require gzencode
  sync/class.jetpack-sync-json-deflate-array-codec.php
  sync/class.jetpack-sync-sender.php
  sync/class.jetpack-sync-simple-codec.php
  tests/php/sync/test_interface.jetpack-sync-codec.php
Labels: Sync, [Status] Needs Review

#9322 Update site settings enpdoints to support Google My Business integration
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: WP REST API, [Status] Ready to Merge

#9208 Shortcode: Specifically check for DOMDocument
  modules/shortcodes/class.filter-embedded-html-objects.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Bug

#9390 WordAds: Remove Acceptable Ads
  modules/wordads/wordads.php
Labels: WordAds, [Status] Ready to Merge, [Type] Janitorial

#9391 Add synced files to fusion whitelist
  fusion/whitelist.json
Labels: Fusion, [Status] Ready to Merge, [Type] Janitorial

#9310 WordAds: promote Ad widget within WordAds settings card
  _inc/client/traffic/ads.jsx
Labels: Needs GDPR Review, WordAds, [Status] Ready to Merge, [Type] Enhancement

#9236 Widgets: Social Icons - Load admin form supporting javascript without scoping it to the customizer or the widgets page
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge

#9403 Testing: stop running e2e tests on master in CircleCI
  .circleci/config.yml
Labels: [Type] Janitorial

#9392 Don't set data-* attributes if the ID in the HTML isn't for an attachment on this site.
  modules/carousel/jetpack-carousel.php
Labels: Carousel, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#8075 Add filter for honoring DNT support for Stats
  modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Enhancement, [Type] GDPR

#8972 Content Options: Add a check for WooCommerce Shop page in order to exclude it from the is_archive check
  modules/theme-tools/content-options/featured-images.php
Labels: Theme Tools, [Status] Ready to Merge, [Type] Enhancement

#9238 Synchronize the Sharing module code.
  fusion/whitelist.json
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing-sources.php
  modules/sharedaddy/sharing.js
  modules/sharedaddy/sharing.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Fusion, Sharing, [Status] Ready to Merge, [Type] Dotcom Merge

#9278 Remove QUnit and its dependencies.
  gulpfile.babel.js
  package.json
  tests/qunit/gallery-settings.js
  tests/qunit/index.html
  tests/qunit/modules/shortcodes/slideshow-shortcode.js
  yarn.lock
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#9268 Added a check for WordAds feature.
  _inc/client/components/settings-card/index.jsx
  _inc/client/state/site/reducer.js
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-admin.php
  class.jetpack.php
Labels: WordAds, [Status] Ready to Merge, [Type] Enhancement

#9280 CLI: JPS: Update partner-provision.sh script to use /jpphp/provision endpoint
  bin/partner-provision.sh
  class.jetpack-cli.php
  class.jetpack-client-server.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  docs/partners/plan-provisioning-direct-api.md
  json-endpoints/jetpack/class.jetpack-json-api-user-connect-endpoint.php
  tests/php/test_class.jetpack-xmlrpc-server.php
Labels: Jetpack CLI, Jetpack Start, Needs GDPR Review, [Status] Ready to Merge

#9338 Open Graph: Add closing comment to OG tags
  functions.opengraph.php
Labels: Publicize, Sharing, [Status] Ready to Merge, [Type] Enhancement

#9321 WooCommerce Analytics: always return a properly formatted URL.
  modules/google-analytics/classes/wp-google-analytics-universal.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: Google Analytics, WooCommerce Analytics, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#9400 Merge WP.com changes to Embed Render Endpoint
  json-endpoints/class.wpcom-json-api-render-embed-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9402 Comic Custom Post Type: remove omnisearch
  modules/custom-post-types/comics.php
Labels: Custom Content Types, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9387 Introduce WordAds shortcode for inline ad placements
  gulpfile.babel.js
  modules/shortcodes/wordads.php
  modules/wordads/wordads.php
Labels: WordAds, [Status] Ready to Merge, [Type] Enhancement

#9352 Update get apps illustration and CTA link
  _inc/client/components/apps-card/index.jsx
  _inc/client/components/apps-card/style.scss
  images/get-apps.svg
Labels: Admin Page, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#9239 WooCommerce Services JITM: use redirect parameter.
  3rd-party/woocommerce-services.php
Labels: JITM, [Status] Ready to Merge, [Type] Janitorial

#9394 Fix user currency
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack.php
Labels: Internationalization, Plans, [Status] Ready to Merge, [Type] Bug

#9404 WordAds: rename tracks event to use underscores over hyphens
  _inc/client/traffic/ads.jsx
Labels: WordAds, [Status] Ready to Merge

#9351 WordAds: Add ads.txt support
  modules/wordads/php/api.php
  modules/wordads/wordads.php
Labels: WordAds, [Pri] BLOCKER, [Status] Ready to Merge

#9405 Admin Page: pass object instead of string to SettingsGroup component for custom content-types settings
  _inc/client/writing/custom-content-types.jsx
Labels: Admin Page, [Status] Needs Review, [Type] Bug

#9366 Code Sync: sync easy-markdown.php - was divergent
  modules/markdown/easy-markdown.php
Labels: Markdown, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9261 Changelog 6.1: running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: General

#9411 General: Fix error when jetpack_active_plan is empty
  class.jetpack.php
Labels: [Status] Needs Review, [Type] Bug

#9413 Readme: fix typos
  readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial

#9412 Testimonial: remove omnisearch
  modules/custom-post-types/testimonial.php
Labels: Custom Content Types, [Status] Ready to Merge, [Type] Dotcom Merge

#9410 DashItem - fixes count to wrap when numbers are too long or on smaller screen sizes
  _inc/client/components/dash-item/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#9417 Code sync: responsive videos
  modules/theme-tools/responsive-videos.php
Labels: Theme Tools, [Type] Dotcom Merge

#9376 CSS tidy: merge changes from Jetpack
  modules/custom-css/csstidy/class.csstidy.php
  modules/custom-css/csstidy/class.csstidy_optimise.php
  modules/custom-css/csstidy/class.csstidy_print.php
Labels: Custom CSS, [Status] Tested on WP.com, [Type] Dotcom Merge

#9422 fix spelling of "concatenate"
  class.jetpack.php
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9420 Fusion: Twenty-Sixteen Social Icons Widget support
  modules/theme-tools/compat/twentysixteen-rtl.css
  modules/theme-tools/compat/twentysixteen.css
Labels: Theme Tools, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#9431 Add missing support info icon for Downtime Monitoring
  _inc/client/security/monitor.jsx
Labels: Monitor, Needs GDPR Review, [Status] Needs Review, [Type] GDPR

#9393 WordAds: Return WordAds module status through SAL
  sal/class.json-api-site-jetpack.php
Labels: WordAds, [Status] Ready to Merge

#9440 Update WordAds shortcode name
  modules/shortcodes/wordads.php
  modules/wordads/wordads.php
Labels: WordAds, [Pri] BLOCKER

#9407 Merge Changes to class.json-api-endpoints.php from WordPress.com
  class.json-api-endpoints.php
Labels: WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9428 WPCOM merge: list post type taxonomies endpoint
  json-endpoints/class.wpcom-json-api-list-post-type-taxonomies-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9448 WordAds: prioritize header ad display when hitting 6-ad limit
  modules/wordads/wordads.php
Labels: WordAds, [Status] Ready to Merge
