Repository Automattic/jetpack, pull requests merged in 2018-05, with the labels that each got.

#9447 WordAds: reinstate sectionId param needed for ads rendering
  modules/wordads/php/widgets.php
  modules/wordads/wordads.php
Labels: WordAds, [Pri] BLOCKER, [Status] Ready to Merge

#9451 Lazy Images: Add jetpack-lazy-loaded-image event
  modules/lazy-images/js/lazy-images.js
  modules/theme-tools/compat/twentysixteen.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#9449 Admin Page: Check for connect permissions a bit later for hiding connection Banner
  _inc/client/main.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#9424 Fixed missing expected plan properties.
  class.jetpack.php
Labels: General, [Status] Ready to Merge, [Type] Bug

#8939 Merges changes to the Search module from WordPress.com
  modules/search/class.jetpack-search.php
Labels: Search, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9450 WordAds: update ads.txt to pull from daily transient, falling back to api call
  modules/wordads/wordads.php
Labels: WordAds, [Status] Ready to Merge

#9461 Revert "Code Sync: sync easy-markdown.php - was divergent (#9366)"
  modules/markdown/easy-markdown.php
Labels: Markdown, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#9467 General: Start the 6.2 release cycle
  jetpack.php
  package.json
Labels: General, [Status] Needs Review, [Type] Janitorial

#9442 Fusion: merge WPCOM changes to enhanced-open-graph.php
  modules/publicize/enhanced-open-graph.php
Labels: Fusion, Publicize, Sharing, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9469 Resolve divergence in file: whitespace
  modules/carousel/jetpack-carousel.js
Labels: Carousel, [Status] Ready to Merge

#9475 Likes: Bust the likes iframe cache
  modules/likes/jetpack-likes-master-iframe.php
Labels: Internationalization, Likes, [Status] Ready to Merge, [Type] Bug

#9476 Fusion: add comment endpoint to whitelist
  fusion/whitelist.json
Labels: Fusion, WPCOM API, [Status] Needs Review

#9437 WPCOM merge: update post endpoints
  json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9453 Fusion: add list-post-type-taxonomies to whitelist
  fusion/whitelist.json
Labels: Fusion, WPCOM API, [Status] Needs Review

#9473 Modules: resolve divergent custom css change
  modules/custom-css/custom-css.php
Labels: Custom CSS, [Status] Ready to Merge, [Type] Dotcom Merge

#9478 Fusion: add update-post endpoints to whitelist
  fusion/whitelist.json
Labels: Fusion, WPCOM API, [Status] Needs Review

#9427 WPCOM merge: list post types endpoint
  json-endpoints/class.wpcom-json-api-list-post-types-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9465 WPCOM merge: site settings endpoint
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: WPCOM API, [Status] Needs Review, [Type] Dotcom Merge

#9464 REST API: Allow filters to update site settings
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9445 Readme: fix typo
  readme.txt
Labels: General, [Status] Ready to Merge, [Type] Bug

#9483 Update Fusion whitelist
  fusion/whitelist.json
Labels: Fusion, [Status] Ready to Merge, [Type] Janitorial

#9460 Masterbar: Invert Order of Customize and Themes buttons
  modules/masterbar/masterbar.php
Labels: Masterbar, [Status] Ready to Merge, [Status] Tested on WP.com

#9485 Update Travis success email notifications stop emailing success notices
  .travis.yml
Labels: [Type] Janitorial

#9503 Adds a filter that switches minified assets on or off.
  jetpack.php
  modules/sharedaddy/sharing.php
Labels: General, Sharing, [Status] Ready to Merge, [Type] Enhancement

#9508 Fusion: Add update-comment endpoint to whitelist
  fusion/whitelist.json
Labels: Fusion, [Status] Needs Review

#9336 Add warning about privacy policy in EU cookie widget
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/eu-cookie-law-admin.js
  modules/widgets/eu-cookie-law/form.php
Labels: Extra Sidebar Widgets, Needs GDPR Review, [Status] Ready to Merge, [Type] GDPR

#9488 Likes: Automatically bust the likes iframe cache weekly
  modules/likes/jetpack-likes-master-iframe.php
Labels: Likes, [Status] Ready to Merge, [Type] Enhancement

#9472 Sync: Add codec to the sync objects endpoint
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: Sync, [Status] Ready to Merge

#9395 Register personal data exporter & eraser for feedback (i.e., contact form submissions)
  modules/contact-form/grunion-contact-form.php
  tests/php/modules/contact-form/test_class.grunion-contact-form.php
Labels: Contact Form, Needs GDPR Review, [Status] Ready to Merge, [Type] GDPR

#9439 WPcom Merge: Sync bulk delete endpoint
  json-endpoints/class.wpcom-json-api-bulk-delete-post-endpoint.php
Labels: WPCOM API, [Status] Needs Review, [Type] Dotcom Merge

#9497 WordAds: Don't insert ads unless this is the main query within the loop.
  modules/wordads/wordads.php
Labels: WordAds, [Pri] High, [Status] Ready to Merge, [Type] Bug

#9505 Sync: Extract Import sync events into its own module.
  sync/class.jetpack-sync-module-import.php
  sync/class.jetpack-sync-module-posts.php
  sync/class.jetpack-sync-modules.php
  tests/php/sync/test_class.jetpack-sync-import.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Sync, [Status] Needs Review

#9474 WPcom Merge: get site endpoint
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9489 REST API: Change new settings filter from v6.2.0 to v6.1.1
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: WPCOM API, [Status] Needs Review

#9517 Stats page: Brand it Jetpack
  modules/stats.php
Labels: Stats, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#9518 Stats page: update background to match Jetpack
  modules/stats.php
Labels: Stats, [Status] Design Polish, [Status] Needs Review, [Type] Enhancement

#9526 Docker: add note about yarn version in readme.md
  docker/README.md
Labels: Docker, [Type] Janitorial

#9524 Contact Form: Fix scrolling/height for very large contact forms
  modules/contact-form/js/editor-view.js
Labels: Contact Form, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#9491 Jetpack: Sync fix theme update test
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Sync, Unit Tests, [Status] Needs Review

#9532 wpcom merge: REST API: Roles endpoint update for JP sites
  json-endpoints/class.wpcom-json-api-list-roles-endpoint.php
  sal/class.json-api-site-jetpack.php
Labels: WPCOM API, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge

#9538 Add option `wp_page_for_privacy_policy` to sync
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#9444 i18n: remove wrapping div outside of translatable string.
  modules/shortcodes/wordads.php
Labels: Internationalization, WordAds, [Status] Ready to Merge, [Type] Bug

#9519 Fix/multiple themes
  class.jetpack.php
  sync/class.jetpack-sync-module-themes.php
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Sync, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#9495 Related Posts: Only attempt to grab related posts for Published posts.
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, [Status] Ready to Merge, [Type] Bug

#9433 Fusion: r168073-wpcom, r168325-wpcom
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Touches WP.com Files, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Dotcom Merge

#9463 EU Cookie Law Widget: Update the title and description
  modules/widgets/eu-cookie-law.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] GDPR

#9535 Google Translate Widget: Override admin-bar styles
  modules/widgets/google-translate.php
Labels: Extra Sidebar Widgets, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge

#9540 Sharing Recaptcha: manual Domain/Package validation
  modules/sharedaddy/recaptcha.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9533 wpcom merge: publicize
  modules/publicize.php
  modules/publicize/publicize.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Janitorial

#9563 Code Sync: Bring changes to json-api-site-jetpack-base present in wpcom - was divergent
  sal/class.json-api-site-jetpack-base.php
Labels: DO NOT SQUASH, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge

#9534 Docs: Partners: Add sh to sample commands in case scripts are not executable
  docs/partners/plan-provisioning.md
Labels: Docs, Jetpack Start, [Status] Needs Review

#9364 Photon: Merge changes from wpcom
  functions.photon.php
  tests/php/test_functions.photon.php
Labels: Photon, [Status] In Progress, [Type] Dotcom Merge

#9559 EU Cookie Law Widget: Update cookie banner text.
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/widget.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] GDPR

#9560 Implement VR shortcode in Gutenberg
  .gitignore
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack.php
  modules/shortcodes/css/blocks/vr-block.css
  modules/shortcodes/js/blocks/vr-block.jsx
  modules/shortcodes/vr.php
Labels: Gutenberg, Shortcodes, [Status] Needs Review, [Type] Enhancement

#9570 Cleanup amp support
  3rd-party/3rd-party.php
  3rd-party/class.jetpack-amp-support.php
  class.jetpack.php
Labels: General, [Status] Needs Review, [Type] Enhancement

#9571 Fix Widget Visibility Condition Actions for Edge
  modules/widget-visibility/widget-conditions/widget-conditions.css
Labels: Touches WP.com Files, Widget Visibility, [Status] Needs Review, [Type] Bug

#9528 Lazy Images: Fix bug where images would disappear when scrolling
  modules/lazy-images/js/lazy-images.js
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug

#9530 Privacy Settings: Content and Copy Updates
  _inc/client/privacy/index.jsx
Labels: Privacy, [Status] Ready to Merge, [Type] GDPR

#9550 WooCommerce Anayltics: Use `Jetpack::get_active_plugins`
  modules/woocommerce-analytics/wp-woocommerce-analytics.php
Labels: WooCommerce Analytics, [Status] Ready to Merge, [Type] Bug

#9373 WordAds: Update EU Cookie Law Widget w/ ads compliance features
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/eu-cookie-law-admin.js
  modules/widgets/eu-cookie-law/eu-cookie-law.js
  modules/widgets/eu-cookie-law/form.php
  modules/widgets/eu-cookie-law/widget.php
  modules/wordads/php/params.php
  modules/wordads/wordads.php
Labels: Extra Sidebar Widgets, WordAds, [Status] Ready to Merge, [Type] GDPR

#9502 CLI: Adds an api_call command that acts as wrapper for making authed API calls
  class.jetpack-cli.php
Labels: Jetpack CLI, [Status] Ready to Merge

#9564 Cookies & Consent Widget: Default to core's privacy policy when present
  modules/widgets/eu-cookie-law.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] GDPR

#9585 Sharing: Refactor Jetpack::is_akismet_active() to also check for a valid key
  class.jetpack.php
Labels: General, [Pri] High, [Status] Has Changelog, [Status] Ready to Merge, [Type] Bug

#9529 Add changelog 6.1.1
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Status] Needs Review

#9599 Fix personal data eraser so it works with latest core
  modules/contact-form/grunion-contact-form.php
Labels: Touches WP.com Files, [Status] Ready to Merge

#9601 Update screenshot captions
  readme.txt
Labels: General, [Status] Design Review Complete, [Status] Needs Review

#9609 Fix EU cookie banner `E_NOTICE` on missing array index
  modules/widgets/eu-cookie-law.php
Labels: [Status] Ready to Merge

#9600 Revert "Update site settings enpoints to support Google My Business integration (#9322)"
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge

#9611 General: Remove fusion directory from .svnignore
  .svnignore
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9627 Code Sync: Bring wpcom changes to class json endpoints: Add Site keyrings endpoint
  class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Review, [Type] Dotcom Merge

#9620 File sync: Media endpoints
  json-endpoints/class.wpcom-json-api-edit-media-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-get-media-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9622 File sync: site-settings-v3-endpoint
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9621 File sync: Site settings endpoint v3 & 4
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9554 CLI: Publicize: Adds publicize command for listing connections
  class.jetpack-cli.php
  modules/publicize/publicize-jetpack.php
  tests/php/modules/publicize/test_class.publicize.php
Labels: Jetpack CLI, Publicize, [Status] Ready to Merge

#9492 Sync: Check that jetpack_json_wrap exists
  sync/class.jetpack-sync-json-deflate-array-codec.php
Labels: Sync, [Status] Ready to Merge

#9629 Media endpoint: Rename class - Media not defined in Jetpack
  json-endpoints/class.wpcom-json-api-list-media-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#9593 CLI: Allow formatting the output when listing modules
  class.jetpack-cli.php
Labels: Jetpack CLI, [Status] Ready to Merge, [Type] Enhancement

#9630 Remove wpcom-only comment
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Janitorial

#9500 Docker: disable Jetpack update notices
  docker/mu-plugins/avoid-plugin-deletion.php
Labels: Docker, [Status] Ready to Merge, [Type] Enhancement

#9596 Stats: Print stats pixel again
  modules/stats.php
Labels: Stats, [Pri] High, [Status] Ready to Merge, [Type] Bug

#9625 Detect /amp/ suffix when determining AMP request
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, [Status] Needs Review

#9544 Jetpack Sync: Fix fragile php action links test
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync

#9624 File sync: Portfolio CPT (partial)
  modules/custom-post-types/portfolios.php
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9401 Contact form: Fix undefined variables.
  modules/contact-form/admin.php
Labels: Contact Form, [Status] Ready to Merge, [Type] Bug

#9614 Related Posts: Make label for thumbnails clearer (#9568)
  _inc/client/components/module-settings/index.jsx
  _inc/client/traffic/related-posts.jsx
  _inc/lib/class.core-rest-api-endpoints.php
  modules/related-posts/class.related-posts-customize.php
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, [Status] Ready to Merge, [Type] Enhancement

#9514 Sync: Remove jetpack_valid_failed_login_attempt sync event
  sync/class.jetpack-sync-module-protect.php
  sync/class.jetpack-sync-modules.php
  tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: Sync, [Status] Ready to Merge

#9454 Tiled Galleries: Use Photon for linked media file
  modules/tiled-gallery/tiled-gallery/tiled-gallery-item.php
Labels: Photon, Tiled Galleries, [Status] Ready to Merge, [Type] Enhancement

#9429 Sync: populate the plugins list before doing the update
  sync/class.jetpack-sync-module-plugins.php
Labels: Sync, [Status] Ready to Merge

#9160 Content Options: Exclude Jetpack CPT from the archives blog display
  modules/theme-tools/content-options/blog-display.php
Labels: Custom Content Types, Theme Tools, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#9647 Code Sync: sync easy-markdown.php - was wpcom-ahead - will be jetpack-ahead
  modules/markdown/easy-markdown.php
Labels: Markdown, Touches WP.com Files, [Status] Needs Review

#9633 Reset bottom margin for eu cookie law form in case theme changed it
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#9004 load polldaddy scripts asynchronously
  modules/shortcodes/polldaddy.php
Labels: Shortcodes, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#9481 Likes: sync changes needed for WordPress.com
  modules/likes.php
  modules/likes/jetpack-likes-settings.php
Labels: Likes, [Status] Ready to Merge

#9612 Remove .widget class from selector used in EU Cookie Law Widget styles
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#9615 WhatsApp sharing button has invalid space (#9591)
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#9635 REST API: Add term feed URL to terms API endpoints
  class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Review, [Type] Dotcom Merge

#9578 Add REST API endpoint to allow changing the connection owner
  _inc/lib/class.core-rest-api-endpoints.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: WP REST API, [Status] Needs Review, [Type] Enhancement

#9613 Lazy Images: Make it a part of Jumpstart #9567
  modules/lazy-images.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Enhancement

#9648 Add option for top of page position for the cookie widget
  modules/widgets/customizer-utils.js
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/eu-cookie-law.js
  modules/widgets/eu-cookie-law/form.php
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#9655 Dash Cards: Fix icon overlap
  _inc/client/components/dash-item/style.scss
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#9636 CLI: Add testing suite to cli status command
  class.jetpack-cli.php
  class.jetpack-debugger.php
Labels: Cheesy Ticket, Jetpack CLI, [Type] Enhancement

#9575 Twitter Timeline Widget: Deprecate type `widget-id`
  modules/widgets/twitter-timeline.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge

#9628 Add changelog 6.2
  changelog.txt
  readme.txt
  to-test.md
Labels: General

#9543 Plugins API: Do not send empy array when the activity links are empty
  json-endpoints/jetpack/class.jetpack-json-api-plugins-endpoint.php
Labels: Manage, WPCOM API, [Status] Ready to Merge

#9661 Revert "Sync: Remove jetpack_valid_failed_login_attempt sync event"
  sync/class.jetpack-sync-module-protect.php
  sync/class.jetpack-sync-modules.php
  tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#9663 Sync: Do not sync failed login attempts that happen via xml-rpc.
  sync/class.jetpack-sync-module-protect.php
  tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: Protect, Sync, [Status] Ready to Merge

#9662 General: Move docker ignored files before the list of files we are not going to ignore
  .gitignore
Labels: General, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#9665 Sync: Fix single theme update
  sync/class.jetpack-sync-module-themes.php
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#9580 Simple Payments Widget: Add style overrides
  class.jetpack.php
  modules/widgets/simple-payments.php
  modules/widgets/simple-payments/style.css
  tools/builder/frontend-css.js
Labels: Extra Sidebar Widgets, Simple Payments, [Status] Needs Review
