Repository Automattic/jetpack, pull requests merged in 2018-12, with the labels that each got.

#10757 Map Block: Add api key dynmically via data attribute
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Pri] High, [Status] Ready to Merge

#10224 Youtube Shortcode: Updates regex
  modules/shortcodes/youtube.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#9301 Build. Remove yarn cache clean command from yarn distclean
  package.json
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#10788 File Sync: lib/gp-locales: update form core GP
  locales.php
Labels: Internationalization, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com

#10802 Remove unused gulp tasks
  gulpfile.babel.js
  package.json
  yarn.lock
Labels: [Status] Needs Review, [Type] Janitorial

#10560 Unlaunched sites: Set a blog option of "unlaunched" to sites that are created private
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#10793 Eslint: Remove eslines
  bin/pre-commit-hook.js
  package.json
  yarn.lock
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#10784 Janitorial: add Prettier to help prettify JS code in Jetpack.
  .prettierrc
  package.json
  yarn.lock
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#10812 Search: Fix fatal error in dev mode, and add a message
  modules/widgets/search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10818 JITMs: add redux structure and REST API client method to be used by the JITM component of the Jetpack Dashboard (Spin-off of #10759).
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/jitm/actions.js
  _inc/client/state/jitm/index.js
  _inc/client/state/jitm/reducer.js
  _inc/client/state/jitm/test/reducer.js
  _inc/client/state/jitm/test/selectors.js
  _inc/client/state/reducer.js
Labels: Admin Page, JITM, Unit Tests, [Status] Ready to Merge

#10745 Publicize: Only register REST API endpoint when module is active
  _inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
  tests/php/core-api/wpcom-fields/test_post-fields-publicize-connections-inactive.php
  tests/php/core-api/wpcom-fields/test_post-fields-publicize-connections.php
Labels: Publicize, Touches WP.com Files, WP REST API, [Pri] High, [Status] Ready to Merge, [Type] Bug

#10850 Jetpack Live Branches: Remove feature wordpress-5-beta from Jetpack Live Branches script
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#10846 Update Security section links on Jetpack Dashboard
  _inc/client/at-a-glance/index.jsx
  _inc/client/components/dash-section-header/index.jsx
  _inc/client/components/dash-section-header/test/component.js
Labels: Admin Page, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#10860 Scope a test to pre-5.0 WordPress versions
  tests/php/modules/lazy-images/test_class.lazy-images.php
Labels: Lazy Images, Unit Tests, [Status] Ready to Merge

#10861 Update master's readme after the 6.8.1 release
  readme.txt
Labels: [Type] Janitorial

#10856 Contact form update success message
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Type] Bug

#10855 Add review to the list of allowed comment types for the /comments/$comment_id
  json-endpoints/class.wpcom-json-api-comment-endpoint.php
  json-endpoints/class.wpcom-json-api-list-comments-endpoint.php
Labels: Touches WP.com Files, WPCOM API

#10668 Jetpack: Use settings search term as default module configuration URL
  class.jetpack-admin.php
  class.jetpack.php
  modules/custom-css.php
  modules/infinite-scroll.php
  modules/likes.php
  modules/tiled-gallery.php
  modules/widgets.php
Labels: Admin Page, Touches WP.com Files, [Status] Ready to Merge

#10868 Admin Page: Update reference to window object for Redux Dev tools
  _inc/client/state/redux-store.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#10890 JITMs: revert redux changes for new JITM component
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/jitm/actions.js
  _inc/client/state/jitm/index.js
  _inc/client/state/jitm/reducer.js
  _inc/client/state/jitm/test/reducer.js
  _inc/client/state/jitm/test/selectors.js
  _inc/client/state/reducer.js
Labels: JITM, [Status] Ready to Merge, [Type] Janitorial

#10887 Bump minimum required version of WordPress to 4.9
  jetpack.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#10894 Remove un-used `.npmrc` config file
  .codeclimate.yml
  .npmrc
  .svnignore
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#10885 Travis: run master tests from the 5.0 branch instead of master
  tests/setup-travis.sh
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#10922 Revert "Update dependency history to v4"
  _inc/client/state/jumpstart/actions.js
  package.json
  yarn.lock
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#10866 Widen dash container: changing mast head and content area max widths
  _inc/client/components/masthead/style.scss
  _inc/client/scss/shared/_main.scss
Labels: Admin Page, [Status] Ready to Merge

#10923 Update VideoPress admin CSS.
  modules/videopress/videopress-admin-rtl.min.css
Labels: VideoPress, [Status] Ready to Merge, [Type] Janitorial

#10932 Admin Page: Rename modulesettingsform High Order component to withModuleSettingsFormHelpers for clarity
  _inc/client/at-a-glance/index.jsx
  _inc/client/components/dash-item/index.jsx
  _inc/client/components/module-settings/README.md
  _inc/client/components/module-settings/index.jsx
  _inc/client/components/module-settings/inline-module-toggle.jsx
  _inc/client/components/module-settings/with-module-settings-form-helpers.jsx
  _inc/client/components/settings-card/README.md
  _inc/client/components/upgrade-notice-content/index.jsx
  _inc/client/discussion/comments.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/privacy/index.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/security/antispam.jsx
  _inc/client/security/backups-scan.jsx
  _inc/client/security/monitor.jsx
  _inc/client/security/protect.jsx
  _inc/client/security/sso.jsx
  _inc/client/sharing/likes.jsx
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
  _inc/client/traffic/ads.jsx
  _inc/client/traffic/google-analytics.jsx
  _inc/client/traffic/related-posts.jsx
  _inc/client/traffic/search.jsx
  _inc/client/traffic/seo.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/traffic/sitemaps.jsx
  _inc/client/traffic/verification-services.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/custom-content-types.jsx
  _inc/client/writing/masterbar.jsx
  _inc/client/writing/media.jsx
  _inc/client/writing/post-by-email.jsx
  _inc/client/writing/speed-up-site.jsx
  _inc/client/writing/theme-enhancements.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#10912 Gutenberg: Check for Publicize capabilities at registration
  modules/publicize/publicize.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#10914 Publicize: Use the right capability for toggling global connections
  modules/publicize/publicize.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#10942 Jetpack Live Branches: Update script to include WordPress 4
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#10920 Jumpstart: add link to dismiss Jumpstart inside modal.
  _inc/client/components/jumpstart/index.jsx
Labels: Jumpstart, [Status] Ready to Merge

#10924 Settings: add new card for managing plugins.
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/security/index.jsx
  _inc/client/security/manage-plugins.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#10936 Admin Page: Add actionable card for creating a Portfolio item when the post type is active
  _inc/client/writing/custom-content-types.jsx
Labels: Admin Page, Custom Content Types, [Status] Design Review Complete, [Status] Ready to Merge

#10833 Simple Payments Block: Fix availability
  class.jetpack-gutenberg.php
  modules/simple-payments/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com

#10893 Cleanup class.jetpack-gutenberg.php for clarity
  class.jetpack-gutenberg.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com

#10947 Fix Publicize Share Connection Toggle
  modules/publicize/publicize-jetpack.php
Labels: Publicize, [Status] Needs Review, [Type] Bug

#10953 Revert "Update dependency react-tap-event-plugin to v3"
  package.json
  yarn.lock
Labels: [Status] Ready to Merge

#10938 Gutenberg: Use preset index.json instead of block-manifest.json
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10954 Jumpstart: switch from a modal to a card.
  _inc/client/admin.js
  _inc/client/components/jumpstart/index.jsx
  _inc/client/components/jumpstart/style.scss
  _inc/client/main.jsx
  _inc/client/state/jumpstart/actions.js
Labels: Jumpstart, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#10962 Disconnect dialog: fix features limits
  _inc/client/components/jetpack-disconnect-dialog/index.jsx
Labels: Admin Page, VideoPress, [Status] Ready to Merge

#10969 Calypsoify: only build from original file.
  tools/builder/sass.js
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#10966 Jetpack Sync: check that $_SERVER variables are set before using them in current url
  sync/class.jetpack-sync-listener.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#10956 Admin Page: hide Related Posts preview when not active.
  _inc/client/traffic/related-posts.jsx
Labels: Admin Page, Related Posts, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#10940 Settings: add descriptions to settings sections
  _inc/client/discussion/index.jsx
  _inc/client/security/index.jsx
  _inc/client/settings/index.jsx
  _inc/client/settings/style.scss
  _inc/client/sharing/index.jsx
  _inc/client/traffic/index.jsx
  _inc/client/writing/index.jsx
Labels: Admin Page, [Status] Ready to Merge

#10758 Admin: introduce affiliate code in upgrade links in admin UI
  _inc/client/at-a-glance/backups.jsx
  _inc/client/at-a-glance/scan.jsx
  _inc/client/components/settings-card/index.jsx
  _inc/client/components/support-card/index.jsx
  _inc/client/components/themes-promo-card/index.jsx
  _inc/client/components/upgrade-link/README.md
  _inc/client/components/upgrade-link/index.jsx
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/my-plan/my-plan-header.jsx
  _inc/client/plans/plan-grid.jsx
  _inc/client/pro-status/index.jsx
  _inc/client/state/initial-state/reducer.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#10842 Jetpack Affiliate: add affiliate code to JITM links if it exists
  class.jetpack-affiliate.php
  class.jetpack-jitm.php
  class.jetpack.php
  tests/php/test_class.jetpack-affiliate.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#10867 Connection Banners: Add premium services to last slide
  class.jetpack-connection-banner.php
  images/jetpack-powering-up.svg
  images/jetpack-speed.svg
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Ready to Merge

#10840 JITMs: Fix styling to work better with a popular plugin, take 2
  scss/jetpack-admin-jitm.scss
Labels: JITM, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Bug

#10960 JITM: hide message 3 seconds after clicking the module act. CTA
  _inc/jetpack-jitm.js
Labels: JITM, [Status] Design Review Complete, [Type] Enhancement

#10564 Gutenpack Subscription Block
  _inc/lib/core-api/wpcom-endpoints/subscribers.php
  modules/subscriptions.php
Labels: Gutenberg, Subscriptions, [Status] Needs Review

#10888 Connection: show full screen connection banner modal in JP dash
  _inc/client/components/jetpack-connect/index.jsx
  _inc/client/components/jetpack-connect/style.scss
  _inc/client/components/jetpack-disconnect-dialog/index.jsx
  _inc/client/main.jsx
  _inc/client/scss/style.scss
  _inc/client/state/connection/actions.js
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  class.jetpack-connection-banner.php
  images/feature-photon-lrg.jpg
  images/feature-photon-med.jpg
  images/feature-photon-sm.jpg
  images/jetpack-speed.svg
  images/long-clouds.svg
  images/stat-bars.svg
  scss/organisms/_banners.scss
Labels: Admin Page, Connect Flow, [Status] Design Review Complete, [Status] Ready to Merge

#10977 REST API: Remove core API related posts endpoint
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-site-endpoints.php
Labels: WP REST API, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#10911 My plan: update feature cards
  _inc/client/my-plan/index.jsx
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/my-plan/style.scss
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge

#10909 Secondary users: update notices to indicate a Jetpack account is needed
  _inc/client/components/banner/style.scss
  _inc/client/components/button/style.scss
  _inc/client/components/gridicon/index.jsx
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
  _inc/client/writing/masterbar.jsx
  _inc/client/writing/post-by-email.jsx
Labels: Admin Page, NUX, [Status] Ready to Merge

#10726 Post-purchase warm welcome: add got it button
  _inc/client/components/welcome-new-plan/personal.jsx
  _inc/client/components/welcome-new-plan/premium.jsx
  _inc/client/components/welcome-new-plan/professional.jsx
Labels: Admin Page, NUX, Warm Welcome, [Status] Ready to Merge

#10972 Admin Page: Make settings updates have better notice messages
  _inc/client/components/module-settings/connect-module-options.jsx
  _inc/client/state/settings/actions.js
  _inc/client/writing/speed-up-site.jsx
Labels: Admin Page, [Status] Design Review Complete, [Status] Ready to Merge

#10981 Shortlinks: Register as REST API post field and Gutenberg plugin
  class.jetpack-gutenberg.php
  modules/shortlinks.php
Labels: Gutenberg, Shortlinks, Touches WP.com Files, WP REST API, [Pri] Low, [Status] Ready to Merge, [Type] Feature

#10991 Dashboard: ensure window is scrolled to the top when changing view
  _inc/client/at-a-glance/index.jsx
  _inc/client/main.jsx
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge

#10979 SSO: set option when someone sees a JITM helping them to discover SSO.
  class.jetpack-jitm.php
  class.jetpack-options.php
  modules/sso.php
Labels: JITM, Touches WP.com Files, [Status] Needs Copy Review, [Status] Needs Review, [Type] Enhancement

#10958 Stats: update look of dashboard widget
  _inc/client/dashboard-widget/style.scss
  class.jetpack.php
  modules/stats.php
Labels: Stats, [Status] Needs Review, [Type] Enhancement

#10982 Asset CDN: Fix json translation loading
  modules/photon-cdn.php
Labels: Asset CDN, Gutenberg, Internationalization, [Status] Ready to Merge, [Type] Bug

#10941 Admin Page: new Performance tab.
  _inc/client/admin.js
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/non-admin-view/index.jsx
  _inc/client/main.jsx
  _inc/client/performance/index.jsx
  _inc/client/performance/media.jsx
  _inc/client/performance/search.jsx
  _inc/client/performance/speed-up-site.jsx
  _inc/client/settings/index.jsx
  _inc/client/traffic/index.jsx
  _inc/client/writing/index.jsx
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#10883 Tracks: only send event if route has changed.
  _inc/client/main.jsx
Labels: Tracks, [Status] Ready to Merge, [Type] Bug

#10706 Search: Add a hook on returning filters.
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10978 Twenty Nineteen: updates to widget styles
  modules/theme-tools/compat/twentynineteen.css
  tools/builder/frontend-css.js
Labels: Theme Tools, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#10132 Gutenberg: Add a Related Posts block
  _inc/client/traffic/related-posts.jsx
  modules/related-posts/class.related-posts-customize.php
  modules/related-posts/jetpack-related-posts.php
  modules/related-posts/related-posts.js
Labels: Gutenberg, Related Posts, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Type] Task

#11011 Publicize: Return correct information for Gutenberg extensions availa…
  modules/publicize/publicize.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#11008 Jetpack monitor verbiage update. changing USA centric idiom
  _inc/client/at-a-glance/monitor.jsx
  _inc/client/security/monitor.jsx
  _inc/jetpack-strings.php
Labels: Admin Page, Monitor, [Status] Ready to Merge, [Type] Enhancement

#11019 JITM margin adjustment inside jp dash - take two
  scss/jetpack-admin-jitm.scss
Labels: JITM, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#11015 Gutenberg: Load beta blocks when proxied and sync back D22261-code
  _inc/lib/core-api/wpcom-endpoints/gutenberg-available-extensions.php
  class.jetpack-gutenberg.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge

#11027 Publicize: Register properly as a Gutenberg extension
  modules/publicize/publicize.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge

#11022 Carousel: modal should open clicked image, and not 1st img in gallery
  modules/carousel/jetpack-carousel.js
  modules/carousel/jetpack-carousel.php
Labels: Carousel, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10889 JITMs: display more relevant notices depending on the Jetpack dashboard screen you visit.
  _inc/jetpack-jitm.js
Labels: JITM, [Status] Needs Review, [Type] Enhancement

#11029 My plan: left align compare plans by default
  _inc/client/my-plan/style.scss
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#10875 Social Icons: only enqueue scrips and styles when needed.
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#11048 Related Posts: Sync version with the latest one on WP.com
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Status] Needs Review

#11053 Connection Banner style enhancements
  _inc/client/scss/variables/_colors.scss
  class.jetpack-connection-banner.php
  scss/organisms/_banners.scss
Labels: [Status] Ready to Merge, [Type] Enhancement

#11030 PHP 7.3: avoid warnings from continue inside a switch statement
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
  modules/custom-css/csstidy/class.csstidy.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial
