Repository Automattic/jetpack, pull requests merged in 2018-10, with the labels that each got.

#10247 Make sure fields for other services don't change when we edit and save a verification token
  _inc/client/traffic/verification-services.jsx
Labels: Admin Page, Verification tools, [Status] Design Polish, [Status] Ready to Merge

#10263 Site verify cancel button and tweak status
  _inc/client/components/module-settings/module-settings-form.jsx
  _inc/client/traffic/style.scss
  _inc/client/traffic/verification-services/google.jsx
Labels: Verification tools, [Status] Ready to Merge, [Type] Enhancement

#10261 Add an isset check to avoid PHP notice
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Bug

#10268 Add additional checks to CDN to avoid rewriting too many paths.
  modules/photon-cdn.php
Labels: Asset CDN, [Status] Ready to Merge, [Type] Bug

#10265 REST API: Add a related posts endpoint
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-site-endpoints.php
  modules/related-posts/jetpack-related-posts.php
Labels: Gutenberg, Touches WP.com Files, WP REST API, [Status] Ready to Merge

#10277 General: Start the 6.7 release cycle
  jetpack.php
  package.json
Labels: General, [Type] Janitorial

#10276 Docs: Add Gutenberg SDK doc
  docs/guides/gutenberg-blocks.md
Labels: Docs, Gutenberg, [Status] Ready to Merge

#10280 Widgets: concatenate author and Social Icons widget CSS
  class.jetpack.php
  tools/builder/frontend-css.js
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#10274 Sitemaps: Ensures sitemap creation immediately upon activation
  modules/sitemaps.php
  modules/sitemaps/sitemap-state.php
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10283 Changelog: create changelog for 6.6.1
  readme.txt
Labels: General, [Type] Janitorial

#10233 Gutenberg: Add global JETPACK_BLOCK_ASSETS_BASE_URL
  class.jetpack.php
Labels: Gutenberg, [Status] Ready to Merge

#10286 Docs: Add reference to phpcs to PR guide
  docs/pull-request.md
Labels: [Status] Ready to Merge, [Type] Janitorial

#10187 Travis CI: optimize setting up containers
  .nvmrc
  .travis.yml
  tests/prepare-wordpress.sh
  tests/run-travis.sh
  tests/setup-travis.sh
Labels: Unit Tests, [Status] Ready to Merge, [Type] Enhancement

#10303 Docs: Update repo URL from https to git based
  docker/README.md
  docs/development-environment.md
Labels: Docs, [Status] Ready to Merge

#10297 Rename jetpack_site_verification_google_verify_error prop
  _inc/client/traffic/verification-services/google.jsx
Labels: Admin Page, Verification tools, [Status] Ready to Merge, [Type] Bug

#10285 Featured Content: Prevent tag hiding from REST API interactions
  modules/theme-tools/featured-content.php
Labels: Theme Tools, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10287 Fix Error on Verification Settings No Change
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: Admin Page, Verification tools, [Status] Ready to Merge, [Type] Bug

#10298 Sitemaps: Remove double encoding of site name
  modules/sitemaps/sitemap-builder.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10275 Sitemaps: Various improvements
  modules/sitemaps.php
  modules/sitemaps/sitemap-buffer-fallback.php
  modules/sitemaps/sitemap-buffer-image-fallback.php
  modules/sitemaps/sitemap-buffer-master-fallback.php
  modules/sitemaps/sitemap-buffer-news-fallback.php
  modules/sitemaps/sitemap-buffer-page-fallback.php
  modules/sitemaps/sitemap-buffer-video-fallback.php
  modules/sitemaps/sitemap-buffer.php
  modules/sitemaps/sitemap-builder.php
  modules/sitemaps/sitemap-librarian.php
  modules/sitemaps/sitemap-logger.php
  modules/sitemaps/sitemap-state.php
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10306 Protect: update math_form() method input tag
  modules/protect/math-fallback.php
Labels: Protect, [Status] Ready to Merge, [Type] Bug

#10273 Narrower bottom border on site verify description
  _inc/client/traffic/style.scss
Labels: Verification tools, [Status] Design Polish, [Status] Needs Design Review, [Status] Ready to Merge

#10307 Proposal: Update npm/yarn and composer commands php:5.2-compatibility to just php:compatibility
  bin/pre-commit-hook.js
  composer.json
  docs/development-environment.md
  package.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#10312 Docs: JPS: Remove mention of wpcom_user_email
  docs/partners/plan-provisioning-direct-api.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#10316 CODEOWNERS: Make jetpack-crew can approve any PR
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Janitorial

#10320 require_lib: remove extra line to bring files in sync
  require-lib.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10292 Gutenpack: Enable local Jetpack Gutenberg by default
  class.jetpack.php
  docs/guides/gutenberg-blocks.md
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#10289 REST API: Make related posts endpoint return no posts without an error
  _inc/lib/core-api/class.jetpack-core-api-site-endpoints.php
Labels: Related Posts, WP REST API, [Status] Ready to Merge, [Type] Enhancement

#9935 Fix VR Gutenberg block
  modules/shortcodes/css/blocks/vr-block.css
  modules/shortcodes/js/blocks/vr-block.jsx
Labels: Gutenberg, Shortcodes, [Status] Ready to Merge, [Type] Bug

#10344 Prevent Save and Cancel buttons from wraping
  _inc/client/traffic/style.scss
Labels: Internationalization, Verification tools, [Status] Ready to Merge, [Type] Bug

#10322 Verbiage enhancements for WordPress.com login settings
  _inc/client/security/sso.jsx
Labels: Admin Page, SSO, [Status] Ready to Merge, [Type] Enhancement

#10255 Add target to Publicize and ShareButtons components
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
Labels: Admin Page, Publicize, Sharing, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#10345 Simple Payments: Internationalization and CS fixes.
  modules/widgets/simple-payments/form.php
  modules/widgets/simple-payments/widget.php
Labels: Internationalization, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10200 Calypsoify: Integrate into Jetpack
  modules/calypsoify/README.md
  modules/calypsoify/mods-gutenberg.js
  modules/calypsoify/mods.js
  modules/calypsoify/style-gutenberg.css
  modules/calypsoify/style.css
  modules/class.jetpack-calypsoify.php
  modules/module-extras.php
  tools/builder/admin-css.js
Labels: Admin Page, [Status] Needs Author Reply, [Status] Needs Design Review, [Status] Needs Testing, [Type] Feature

#10310 Add param to allow customizing boosting of fields searched
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10348 Fix Stat Type of Google Site Verification
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/class.jetpack-keyring-service-helper.php
  modules/publicize/publicize-jetpack.php
Labels: Admin Page, Publicize, [Status] Ready to Merge, [Type] Bug

#10323 Google Apps shortcode: allow presentations to appear fullscreen.
  modules/shortcodes/googleapps.php
  tests/php/modules/shortcodes/test_class.googleapps.php
Labels: Shortcodes, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#10351 Register `wp-url` script
  class.jetpack.php
Labels: Gutenberg, [Status] Needs Review

#10309 Return empty sitemap if not generated yet
  modules/sitemaps/sitemap-builder.php
  modules/sitemaps/sitemap-stylist.php
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, Verification tools, [Status] Ready to Merge, [Type] Enhancement

#10357 Update jetpack-blocks dependency
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Needs Review, [Type] Task

#10305 Upgrading: Defensive coding when we care about a 'new' method
  class.jetpack.php
  modules/widgets/simple-payments.php
Labels: Extra Sidebar Widgets, General, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10328 Gutenberg: Enqueue editor assets on Gutenberg action
  class.jetpack-gutenberg.php
  class.jetpack.php
  sync/class.jetpack-sync-module-posts.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10356 Docs: Cleanup & update to developer-related docs
  docker/README.md
  docs/CONTRIBUTING.md
  docs/coding-guidelines.md
  docs/development-environment.md
  docs/git-workflow.md
  docs/guides/get-started-with-git.md
  docs/guides/report-bugs.md
  docs/guides/submit-patch.md
  docs/pull-request.md
  readme.md
Labels: Docs, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#10361 Map Block Dependencies, Second Try
  class.jetpack-gutenberg.php
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#10359 IS: Remove continue within a switch
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10363 Remove scheme from URL so sitemap stylesheets don't break across protocols
  modules/sitemaps/sitemap-finder.php
  tests/php/modules/sitemaps/test_class.sitemap-finder.php
Labels: Touches WP.com Files, Verification tools, [Status] Ready to Merge, [Type] Bug

#10331 Gutenberg: Remove VR Block
  .gitignore
  gulpfile.babel.js
  modules/shortcodes/css/blocks/vr-block.css
  modules/shortcodes/js/blocks/vr-block.jsx
  modules/shortcodes/vr.php
  package.json
  yarn.lock
Labels: Gutenberg, Shortcodes, [Status] Ready to Merge, [Type] Janitorial

#10362 Add Jetpack::setup_wp_i18n_locale_data method
  class.jetpack-gutenberg.php
  class.jetpack.php
Labels: Gutenberg, Internationalization, [Status] Ready to Merge

#10282 CSS concatenation: fix differences between what the 2 lists.
  class.jetpack.php
  tools/builder/frontend-css.js
Labels: General, [Status] Ready to Merge, [Type] Bug

#10364 Gutenberg: Add @wordpress/edit-post dependency
  class.jetpack-gutenberg.php
Labels: Gutenberg, [Status] Ready to Merge

#10360 Docs: Partners: Add links within README; Add doc for automatic account creation
  docs/partners/README.md
  docs/partners/automatic-account-creation-connection.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#10376 Add GitHub issue templates for bug & feature request types
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#10358 Live Branches: add gutenpack param if a PR uses the Gutenberg label
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#10379 npm scripts: `clean-client` should clean out css/ too
  package.json
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#10383 Activity Log: add mention to readme.
  readme.txt
Labels: Activity Log, [Status] Ready to Merge, [Type] Enhancement

#10385 Update jetpack-blocks to 1.0.0-alpha.1
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Ready to Merge

#10373 General: Add badge if API is sandboxed
  _inc/client/components/masthead/index.jsx
  _inc/client/components/masthead/style.scss
  _inc/client/state/connection/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: Admin Page, General, [Type] Enhancement

#10377 Connection Banner: update with site Activity and site accelerator copy
  class.jetpack-connection-banner.php
Labels: Activity Log, Asset CDN, [Status] Ready to Merge, [Type] Enhancement

#10369 Add Developer Tools section in docs
  docs/development-environment.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#10386 Likes: ensure that the Likes column is accessible.
  modules/likes.php
Labels: Accessibility, Likes, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10384 Danger: update success messaging for internal/external contributors
  dangerfile.js
  package.json
  yarn.lock
Labels: [Status] Ready to Merge, [Type] Janitorial

#10374 Admin page: add site Activity card
  _inc/client/plans/plan-body.jsx
Labels: Activity Log, Admin Page, [Status] Ready to Merge, [Type] Enhancement

#10043 Publicize: Sync WordPress.com and Jetpack UI
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10311 Asset CDN / Photon: group the 2 features under a single module card in the admin.
  _inc/client/writing/index.jsx
  _inc/client/writing/speed-up-site.jsx
  modules/photon-cdn.php
Labels: Asset CDN, Photon, [Status] Ready to Merge, [Type] Enhancement

#10394 Connection Banners: update wording for Site Accelerator.
  class.jetpack-connection-banner.php
Labels: Asset CDN, [Status] Ready to Merge, [Type] Enhancement

#10388 Include 'mobile_browser' param when requesting JITMs. This will allow mobile targeted messages
  class.jetpack-jitm.php
Labels: JITM, [Status] Needs Review, [Type] Enhancement

#10401 Jetpack Live Branches: Add wordpress-5-beta feature
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#10389 Add method to disable Gutenberg on specific post types in Calypsoify
  modules/class.jetpack-calypsoify.php
Labels: Calypsoify, Gutenberg, [Status] Ready to Merge

#10399 Docs: Partners: Separate success from error responses
  docs/partners/plan-provisioning-direct-api.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#10403 Docs: Update docblocks to use correct version syntax
  json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
  json-endpoints/jetpack/class.jetpack-json-api-themes-modify-endpoint.php
  modules/masterbar/masterbar.php
  modules/photon-cdn.php
  modules/protect/blocked-login-page.php
  sync/class.jetpack-sync-actions.php
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
Labels: Docs, [Status] Ready to Merge, [Type] Bug

#9042 Upgraded to gulp 4 and moved React and Sass to separate files.
  gulpfile.babel.js
  package.json
  tools/builder/admin-css.js
  tools/builder/frontend-css.js
  tools/builder/react.js
  tools/builder/sass.js
  tools/builder/util.js
  yarn.lock
Labels: General, [Status] Needs Review, [Status] Needs Testing, [Type] Bug, [Type] Enhancement

#10098 Update: Replace polldaddy shortcode with crowdsignal
  modules/likes/style.css
  modules/minileven/theme/pub/minileven/style.css
  modules/shortcodes/crowdsignal.php
  modules/shortcodes/polldaddy.php
  modules/theme-tools/compat/twentyfifteen-rtl.css
  modules/theme-tools/compat/twentyfifteen.css
  modules/theme-tools/compat/twentyfourteen-rtl.css
  modules/theme-tools/compat/twentyfourteen.css
  modules/theme-tools/compat/twentysixteen-rtl.css
  modules/theme-tools/compat/twentysixteen.css
  tests/php/modules/shortcodes/test_class.crowdsignal.php
  tests/php/modules/shortcodes/test_class.polldaddy.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10404 Build tools: Remove carriage returns in build-module-headings-translations.php
  modules/module-headings.php
  tools/build-module-headings-translations.php
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#10391 i18n extractor: extract strings from Gutenberg Blocks.
  gulpfile.babel.js
Labels: Gutenberg, Internationalization, [Status] Ready to Merge, [Type] Enhancement

#10253 Debugger: General Updates
  class.jetpack-debugger.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#10365 Disable Google verification using API if site is under construction
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Admin Page, Verification tools, [Status] Ready to Merge

#10400 JITM: add an option to display an "activate" button in JITM.
  _inc/jetpack-jitm.js
  class.jetpack-jitm.php
Labels: Asset CDN, JITM, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#10366 Warm Update: first pass at a message welcoming users post-update
  _inc/client/components/jetpack-dialogue/style.scss
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/components/upgrade-notice-content/index.jsx
Labels: Asset CDN, [Status] Ready to Merge, [Type] Enhancement

#10477 Debugger:Add PHP XML check
  class.jetpack-debugger.php
  modules/sitemaps/sitemap-builder.php
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10396 Decouple Publicize Connection Lists from UI Take 2
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
  tests/php/modules/publicize/test_class.publicize.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10486 Danger: Use single success message
  dangerfile.js
Labels: [Status] Needs Review, [Type] Janitorial

#10470 Make cancel link appear as a button for a11y
  modules/sharedaddy/sharing-sources.php
Labels: Accessibility, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10368 Gutenberg: Use Fullscreen mode in Calypsoify
  modules/calypsoify/mods-gutenberg.js
  modules/calypsoify/style-gutenberg.css
  modules/class.jetpack-calypsoify.php
Labels: Calypsoify, Gutenberg, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#10489 Warm update: update wording and title based on feedback
  _inc/client/components/upgrade-notice-content/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#10490 Connection banner: update based on feedback.
  class.jetpack-connection-banner.php
Labels: Asset CDN

#10405 Gutenpack: Only load frontend assets as required
  class.jetpack-gutenberg.php
  class.jetpack.php
  gulpfile.babel.js
  modules/tiled-gallery.php
Labels: Gutenberg, Tiled Galleries, [Status] Ready to Merge

#10390 Add compatibility for Twenty Nineteen default theme
  modules/theme-tools.php
  modules/theme-tools/compat/twentynineteen.css
  modules/theme-tools/compat/twentynineteen.php
Labels: Infinite Scroll, Theme Tools, [Status] In Progress, [Type] Enhancement

#10278 Changelog: prepare for 6.7 release.
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Status] In Progress, [Type] Janitorial

#10491 Gutenpack: opt-in for beta blocks
  class.jetpack-gutenberg.php
  modules/tiled-gallery.php
Labels: Gutenberg, [Status] In Progress, [Type] Janitorial

#10494 Bump the jetpack blocks version to 6.8.0-beta.1
  package.json
  yarn.lock
Labels: Gutenberg

#10480 Adds new endpoint for testing the connection to wpcom and UI for testing it while API is sandboxed
  _inc/client/components/masthead/index.jsx
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/connection/actions.js
  _inc/lib/class.core-rest-api-endpoints.php
Labels: WP REST API, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#10493 REST API: Ensure URL is a string before passing to esc_url_raw
  class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Bug
