Repository Automattic/jetpack, pull requests merged in 2018-11, with the labels that each got.

#10500 Build Tools: Invalidate `require.cache` of the correct path.
  tools/builder/react.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#10498 Ensure old files aren't being built
  package.json
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#10507 Fix long site title display on Calypsoify pages
  modules/calypsoify/style.css
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#10515 Fix long site title display on Calypsoify pages (mobile)
  modules/calypsoify/style.css
Labels: Calypsoify, [Status] Ready to Merge

#10516 Twenty Nineteen: Fix Content Options post details alignment.
  modules/theme-tools/compat/twentynineteen.css
  modules/theme-tools/compat/twentynineteen.php
Labels: Theme Tools, [Status] Ready to Merge

#10499 6.7 Warm Welcome: enhanced Tracks
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/components/upgrade-notice-content/index.jsx
Labels: Admin Page, Tracks, [Status] Ready to Merge

#10504 6.7: Cherry-picked changelog additions
  readme.txt
Labels: General, [Status] In Progress, [Type] Enhancement

#10468 Docs: Document WP.com REST API Partner Endpoints
  docs/partners/reporting-endpoints/README.md
  docs/partners/reporting-endpoints/activations-list.md
  docs/partners/reporting-endpoints/activations-summary.md
  docs/partners/reporting-endpoints/invoices-past.md
  docs/partners/reporting-endpoints/invoices-upcoming.md
Labels: Docs, [Status] Ready to Merge

#10530 Sitemaps: Only strip protocol for sitemap stylesheets
  modules/sitemaps/sitemap-finder.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10503 Standalone Block Registration/Block Dependencies
  class.jetpack-gutenberg.php
  modules/blocks.php
  modules/module-extras.php
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#10523 Fix calypsoify masterbar to top of screen to fix gap
  modules/calypsoify/style.css
Labels: Calypsoify, Masterbar

#10492 VideoPress: Ensure VideoPress URL is a string
  modules/videopress/utility-functions.php
Labels: VideoPress, [Status] Ready to Merge, [Type] Bug

#10542 General: Start the 6.8 release cycle
  jetpack.php
  package.json
  yarn.lock
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#10545 Sync: fix docbock @param
  sync/class.jetpack-sync-module-posts.php
Labels: Docs, Sync, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#10531 Simple Payments: PayPal script execution error on Gutenberg
  modules/simple-payments/simple-payments.php
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10402 Simple payments: allow read+write access to meta fields via REST API
  modules/simple-payments/simple-payments.php
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#10555 Simple Payments: Improve price formatting
  modules/simple-payments/simple-payments.php
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#10570 Gutenpack: Include full jetpack-blocks bundle build
  gulpfile.babel.js
  package.json
Labels: Gutenberg, Simple Payments, [Status] Ready to Merge, [Type] Enhancement

#10574 Sitemaps: Update docs to correct object type
  modules/sitemaps/sitemap-builder.php
Labels: Docs, Sitemaps, Touches WP.com Files, [Status] Needs Review, [Status] Ready to Merge, [Type] Bug

#10566 Fix: #10548 AtD / Gutenberg: request is made to AtD when module is deactivated
  class.jetpack-gutenberg.php
Labels: Gutenberg, [Status] Ready to Merge, [Type] Bug

#10581 Simple payments widget: remove Indian Rupees
  modules/widgets/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10579 Twenty Nineteen: second round of compat fixes for Jetpack widgets
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, [Status] Ready to Merge, [Type] Bug

#10576 Changelog: prep for 6.7.1
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Status] In Progress, [Type] Janitorial

#10590 Remove author bio styles from Twenty Nineteen
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, [Status] Ready to Merge, [Type] Bug

#10506 Update Gutenberg block availability checks
  class.jetpack-gutenberg.php
  class.jetpack.php
  modules/markdown.php
  modules/related-posts.php
  phpunit.xml.dist
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, [Status] Ready to Merge

#10615 CLI: Jetpack Start: Fix issue where user token didn't always save properly
  class.jetpack-cli.php
Labels: Jetpack CLI, Jetpack Start, [Status] Ready to Merge

#10610 Revert "Simple payments widget: remove Indian Rupees"
  modules/widgets/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Pri] High, [Status] Ready to Merge

#10371 Calypsoify: Refactor and add autoupdate functionality
  class.jetpack.php
  modules/calypsoify/_colors.scss
  modules/calypsoify/build-sass.sh
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/calypsoify/mods.js
  modules/calypsoify/style-gutenberg-min.css
  modules/calypsoify/style-gutenberg-min.rtl.css
  modules/calypsoify/style-gutenberg-min.rtl.css.map
  modules/calypsoify/style-gutenberg.css
  modules/calypsoify/style-gutenberg.scss
  modules/calypsoify/style-min.css
  modules/calypsoify/style-min.rtl.css
  modules/calypsoify/style-min.rtl.css.map
  modules/calypsoify/style.css
  modules/calypsoify/style.scss
  modules/module-extras.php
  tools/builder/admin-css.js
  tools/builder/sass.js
Labels: Calypsoify, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#10600 REST API: Add Field Controller
  _inc/lib/core-api/class-wpcom-rest-field-controller.php
  _inc/lib/core-api/load-wpcom-endpoints.php
  tests/php/core-api/test_class-wpcom-rest-field-controller.php
Labels: Gutenberg, WP REST API, [Type] Enhancement

#10625 Update/gutenberg block registration logic
  modules/markdown.php
  modules/markdown/easy-markdown.php
  modules/related-posts.php
  modules/related-posts/jetpack-related-posts.php
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Review

#10631 Some more small iterations on Calypsoify.
  .gitignore
  modules/calypsoify/_colors.scss
  modules/calypsoify/build-sass.sh
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/calypsoify/style-gutenberg-min.css
  modules/calypsoify/style-gutenberg-min.rtl.css
  modules/calypsoify/style-gutenberg-min.rtl.css.map
  modules/calypsoify/style-gutenberg.scss
  modules/calypsoify/style-min.css
  modules/calypsoify/style-min.rtl.css
  modules/calypsoify/style-min.rtl.css.map
  modules/calypsoify/style.scss
  tools/builder/sass.js
Labels: Calypsoify, [Status] Needs Review

#10630 Typo - remove left-over right angle bracket
  modules/sitemaps/sitemap-builder.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10589 Fix module layout issues with Twenty Nineteen theme
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, [Status] Ready to Merge, [Type] Bug

#10639 Try/google maps api key
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-options.php
Labels: Touches WP.com Files

#10605 Publicize: Add REST API Take 3
  _inc/lib/core-api/wpcom-endpoints/publicize-connection-test-results.php
  _inc/lib/core-api/wpcom-endpoints/publicize-connections.php
  _inc/lib/core-api/wpcom-endpoints/publicize-services.php
  _inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
  tests/php/core-api/wpcom-fields/test_post-fields-publicize-connections.php
  tests/php/modules/publicize/test_class.publicize.php
Labels: Gutenberg, Publicize, Touches WP.com Files, WP REST API, [Status] Ready to Merge, [Type] Enhancement

#10552 Fix gap for sidebar in calypsoify on mobile
  modules/calypsoify/style.scss
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#10622 Add lodash as map view dependency
  modules/blocks.php
Labels: Gutenberg, [Status] Ready to Merge

#10628 Pre-commit hook: ignore ES6 JS files in pre-commit hook
  bin/pre-commit-hook.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#10644 Admin Page: Remove unused file modules-per-tab-page.jsx
  _inc/client/components/module-settings/modules-per-tab-page.jsx
Labels: [Status] Ready to Merge, [Type] Janitorial

#10479 Akismet: Always cache key result
  class.jetpack.php
Labels: General, Sharing, [Status] Ready to Merge, [Type] Bug

#10612 Alternate XML-RPC Endpoint
  class.jetpack.php
Labels: [Type] Enhancement

#10648 Danger: check milestone due date for release date
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#10614 Connection Banner: un-dismiss the banner on plugin upgrade
  class.jetpack.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#10620 Whitelisting WooCommerce's comment.rating field
  sync/class.jetpack-sync-module-woocommerce.php
Labels: Sync, [Status] Ready to Merge

#10654 Publicize: Register Gutenblock upon initialization
  modules/publicize.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10653 Gutenberg: Enqueue social logos style with block assets
  class.jetpack-gutenberg.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Needs Review

#10645 Publicize API: Sync with WordPress.com
  _inc/lib/core-api/wpcom-endpoints/publicize-connections.php
  _inc/lib/core-api/wpcom-endpoints/publicize-services.php
Labels: Publicize, Touches WP.com Files, WP REST API, [Status] Ready to Merge, [Status] Tested on WP.com

#10650 REST API Field Controller: Simplify Array Recursion
  _inc/lib/core-api/class-wpcom-rest-field-controller.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10643 Jetpack Admin: handle a search term on page load
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation-settings/test/component.js
Labels: Admin Page, [Status] Ready to Merge

#10537 Gutenpack: Add/contact form to the gutenberg editor
  class.jetpack-gutenberg.php
  modules/contact-form/grunion-contact-form.php
  tests/php/modules/contact-form/test_class.grunion-contact-form.php
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Needs Review

#10647 Asset CDN: do not try to serve assets from non-public versions.
  modules/photon-cdn.php
Labels: Asset CDN, [Status] Ready to Merge, [Type] Bug

#10636 Store: Seo utils for E-commerce plan
  modules/seo-tools/jetpack-seo-utils.php
Labels: SEO Tools, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com

#10646 Handle the new markup of the Gutenberg Gallery blocks.
  modules/carousel/jetpack-carousel.js
  modules/carousel/jetpack-carousel.php
Labels: Carousel, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#10616 Add Woocommerce change events to Jetpack Sync
  sync/class.jetpack-sync-module-woocommerce.php
Labels: Rewind, Sync, [Status] Ready to Merge

#10655 Update simple payments code to work with E-commerce plan
  modules/simple-payments/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#10592 Photon: Do not image_downsize for REST API requests in the edit context
  class.photon.php
  tests/php/test_class.jetpack_photon.php
Labels: Photon, [Pri] High, [Status] Ready to Merge, [Type] Bug

#10671 Jetpack Gutenberg: fix #10665
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10673 Publicize: Correctly set a post's connections on/off switches during REST requests
  _inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
Labels: Publicize, Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Testing, [Status] Ready to Merge, [Type] Bug

#10543 Changelog: prepare for the next release.
  readme.txt
  to-test.md
Labels: General, [Type] Janitorial

#10676 SVN: do not ship .map or .scss files in the .org releases.
  .gitignore
  .svnignore
Labels: Calypsoify, [Status] Ready to Merge, [Type] Janitorial

#10635 Markdown: Leave Gutenberg content intact
  modules/markdown/easy-markdown.php
Labels: Gutenberg, Markdown, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#10623 Sync available Jetpack Gutenberg blocks
  class.jetpack-gutenberg.php
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge

#10672 Updates notices / banners for 6.8 release
  _inc/client/README.md
  _inc/client/components/jetpack-dialogue/style.scss
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/components/upgrade-notice-content/index.jsx
  _inc/client/state/initial-state/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-connection-banner.php
  images/block-picker.png
  images/jetpack-gutenberg.svg
Labels: General, Gutenberg

#10684 Contact form: Add jetpack-contact-form-shortcode-preview for styling …
  modules/contact-form/grunion-editor-view.php
Labels: Touches WP.com Files, [Status] Ready to Merge

#10700 Upgrade jetpack-blocks to 10.1.1
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Ready to Merge, [Type] Task

#10702 Change default form url label on published pages
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10670 Contact Form: Update the icon
  modules/contact-form/css/editor-ui.css
  modules/contact-form/grunion-contact-form.php
  scss/jetpack-icons.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10695 Fix some misnamed errors/events
  class.jetpack-xmlrpc-server.php
Labels: Jetpack Start, [Status] Ready to Merge

#10705 Form: fade placeholder when user rolls the mouse over an input field
  modules/contact-form/css/grunion.css
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Type] Enhancement

#10699 Publicize Gutenberg: Move extension registration to a safer location
  modules/publicize.php
  modules/publicize/publicize.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Needs Review

#10696 Upgrade notice: switch to checking if Gutenberg is available
  _inc/client/README.md
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/components/upgrade-notice-content/index.jsx
  _inc/client/state/initial-state/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: Admin Page, Gutenberg, [Status] Needs Review

#10712 Ensure Simple Payments are published when rendering
  modules/simple-payments/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#10710 REST API: Add /gutenberg/available-extensions endpoint
  _inc/lib/core-api/wpcom-endpoints/gutenberg-available-extensions.php
Labels: Gutenberg, WP REST API, [Status] Needs Review

#10713 Gutenberg: Use Blocks from staging dir if proxied
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10679 Asset CDN: consider Pressable releases Public versions.
  modules/photon-cdn.php
  modules/tt
Labels: Asset CDN, [Status] Ready to Merge, [Type] Bug

#10719 Janitorial: remove file added by mistake in #10679
  modules/tt
Labels: [Type] Bug, [Type] Janitorial

#10720 Blocks: update to latest version.
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#10664 Fix: Unnecessary query calls without WooCommerce - PR ready for review
  modules/woocommerce-analytics/wp-woocommerce-analytics.php
Labels: Performance, WooCommerce Analytics, [Status] Ready to Merge

#10721 Update Jetpack version numbers to start 6.9 cycle
  jetpack.php
  package.json
  yarn.lock
Labels: [Type] Janitorial

#10538 WooCommerce Analytics: a fix to check if the WC session is a valid object
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#10738 Typo – Conncetion → Connection
  _inc/client/state/connection/actions.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#10740 REST API: G'berg Available Extensions: Set Site Specific Endpoint Flag
  _inc/lib/core-api/wpcom-endpoints/gutenberg-available-extensions.php
Labels: Gutenberg, Touches WP.com Files, WP REST API, [Status] Ready to Merge

#10728 Tiled gallery block: load assets
  class.jetpack-gutenberg.php
  class.jetpack.php
  modules/tiled-gallery/tiled-gallery.php
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge

#10742 Maps Block: Add an new api endpoint
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  tests/php/core-api/wpcom-fields/test_class.service-api-keys.php
Labels: Gutenberg, [Block] Map, [Status] Needs Review

#10749 Affiliates: introduce class to get the affiliate code
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-affiliate.php
  class.jetpack.php
  jetpack.php
  phpunit.xml.dist
  tests/php/test_class.jetpack-affiliate.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement
