Repository Automattic/jetpack, pull requests merged in 2018-03, with the labels that each got.

#8841 Remote provision API
  _inc/class.jetpack-provision.php
  class.jetpack-cli.php
  class.jetpack-xmlrpc-server.php
Labels: Jetpack CLI, Jetpack Start, [Status] Needs Review, [Type] Enhancement

#8947 Ignore yarn-error.log
  .gitignore
Labels: [Status] Ready to Merge, [Type] Bug

#8964 Search: Keep the posts in the order that ES returns them to us in.
  modules/search/class.jetpack-search.php
Labels: Search, [Pri] High, [Status] Needs Review, [Type] Bug

#8960 Fix markdown bullets in readme.txt
  readme.txt
Labels: FixTheFlows, General, [Status] Ready to Merge

#8951 Fix where if a user isn't logged into wpcom, go to blank screen
  _inc/client/plans/plan-grid.jsx
  _inc/client/state/initial-state/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: FixTheFlows, Plans, [Pri] High, [Status] Needs Review, [Type] Bug, [Type] Quick Fix

#8962 Default to grid view when uploading videos
  _inc/client/plans/plan-body.jsx
Labels: Admin Page, FixTheFlows, VideoPress, [Status] Ready to Merge, [Type] Bug

#8977 Move like/share metaboxes to right side
  modules/likes/jetpack-likes-settings.php
  modules/sharedaddy/sharedaddy.php
Labels: FixTheFlows, [Status] Needs Review

#8980 Fix contact form styling for `input[type="url"]`
  modules/contact-form/css/editor-inline-editing-style.css
  modules/contact-form/css/editor-style.css
Labels: FixTheFlows, [Status] Needs Review

#8978 Fix display of site URL on disconnect
  _inc/client/components/jetpack-disconnect-dialog/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge

#8889 Lazy Images: Initialize lazy images on wp hook
  modules/lazy-images.php
Labels: Lazy Images, [Status] Needs Review, [Type] Bug

#8981 Commit change to module-headings.php
  modules/module-headings.php
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#8986 Update SEO/analytics links to avoid redirects
  _inc/client/traffic/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge

#9000 General: Start the 6.0 release cycle
  jetpack.php
  package.json
  yarn.lock
Labels: General, [Type] Janitorial

#8999 Focusing strapline on more broadly-applicable keywords and features
  readme.txt
Labels: FixTheFlows, General, Search, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#8979 Backups: Update "install and activate" link
  _inc/client/at-a-glance/backups.jsx
Labels: FixTheFlows, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Task

#8949 Add docker scripts
  .gitignore
  .svnignore
  docker/Dockerfile
  docker/README.md
  docker/apache_default
  docker/data/mysql/.gitkeep
  docker/docker-compose.yml
  docker/htaccess
  docker/htaccess-multi
  docker/logs/.gitkeep
  docker/mu-plugins/.gitignore
  docker/mu-plugins/debug.php
  docker/php.ini
  docker/run.sh
  docker/ssmtp.conf
  docker/wordpress-develop/.gitkeep
  docker/wordpress/.gitkeep
  docker/wp-tests-config.php
  docs/development-environment.md
  package.json
Labels: [Status] Ready to Merge

#9016 Remove Holiday Snow
  .jshintignore
  _inc/client/README.md
  _inc/client/components/setting-toggle/README.md
  _inc/client/components/settings/README.md
  _inc/client/components/settings/index.jsx
  _inc/client/state/settings/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  modules/holiday-snow.php
  modules/holiday-snow/snowstorm.js
  modules/module-extras.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: [Status] Needs Design Review, [Status] Needs Review

#9008 Update Waffle.io link in readme.md
  readme.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#9019 Add stub holiday snow module and deprecated hooks
  class.jetpack.php
  modules/holiday-snow.php
Labels: Theme Tools, [Pri] High, [Status] Needs Review, [Type] Janitorial

#9026 Open Graph: stop trying to query for a Blavatar post ID
  functions.opengraph.php
Labels: Sharing, [Pri] High, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#9005 Add icon and font parity with other Publish items
  modules/publicize/ui.php
Labels: FixTheFlows, Publicize, [Status] Ready to Merge

#9035 Added the Jetpack Options file to the Whitelist.
  fusion/whitelist.json
Labels: Fusion, [Status] Ready to Merge, [Type] Enhancement

#9037 Upgraded i18n-calypso to 1.9.1 to fix the Beta Builder.
  package.json
  yarn.lock
Labels: General, [Status] Ready to Merge, [Type] Bug

#9009 Remove unused VideoPress method
  modules/videopress/class.jetpack-videopress.php
Labels: VideoPress, [Status] Ready to Merge, [Type] Janitorial

#9030 Remove unused Jetpack_User_Agent_Info variable
  modules/tiled-gallery/tiled-gallery/tiled-gallery-rectangular.php
Labels: Tiled Galleries, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#8867 Admin Page Fix all eslint warnings about the react/jsx-no-bind rule
  .eslintrc
  _inc/client/components/form/input-checkbox-multiple.jsx
  _inc/client/components/form/input-radio.jsx
  _inc/client/components/global-notices/index.jsx
  _inc/client/components/jetpack-notices/dismissable.jsx
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation/index.jsx
  _inc/client/components/popover/docs/example.jsx
  _inc/client/components/section-nav/docs/example.jsx
  _inc/client/components/select-dropdown/docs/example.jsx
  _inc/client/components/settings-card/index.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/plans/plan-body.jsx
  _inc/client/pro-status/index.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/security/sso.jsx
  _inc/client/traffic/ads.jsx
  _inc/client/traffic/related-posts.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/custom-content-types.jsx
  _inc/client/writing/media.jsx
  _inc/client/writing/theme-enhancements.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#9046 Add SEO tools to the premium plan in module meta
  modules/seo-tools.php
Labels: Plans, SEO Tools, [Status] Ready to Merge

#9013 Docker environment: Introduce several changes now that the base work is in master.
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
  docker/htaccess
  docker/htaccess-multi
  docker/mu-plugins/.gitignore
  docker/mu-plugins/avoid-plugin-deletion.php
  docker/run.sh
  package.json
Labels: Docker, [Status] Ready to Merge

#8855 XML RPC request should get hard blocker quicker
  modules/protect.php
Labels: Protect, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#8982 JITMs: Allow opening in the same window
  _inc/jetpack-jitm.js
Labels: FixTheFlows, JITM, Rewind, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#9012 Masterbar: fixes "origin" undefined error.
  modules/masterbar/tracks-events.js
Labels: Masterbar, [Status] Ready to Merge, [Type] Bug, [Type] Quick Fix

#8984 Fix ignored phrase overflow/overlap
  _inc/client/components/tags-input/style.scss
Labels: FixTheFlows, [Status] Needs Author Reply, [Status] Ready to Merge

#8944 Ads: Adding site id to head meta
  modules/wordads/wordads.php
Labels: WordAds, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Enhancement

#8973 Remove/account creation links
  _inc/client/components/connect-button/index.jsx
  _inc/client/components/connect-button/style.scss
  _inc/client/components/connect-button/test/component.js
  _inc/client/components/jetpack-connect/index.jsx
  _inc/client/components/jetpack-connect/style.scss
Labels: Connect Flow, FixTheFlows, NUX, [Pri] High, [Status] Ready to Merge

#8936 Use JS sourcemaps during development
  webpack.config.js
Labels: General, [Status] Needs Changelog, [Type] Enhancement

#9010 no-store cache policy for admin pages
  class.jetpack-admin.php
Labels: FixTheFlows, NUX, Warm Welcome, [Status] Ready to Merge, [Type] Bug

#9070 Admin Page: Verify index exists before using it
  class.jetpack-admin.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#9056 VaultPress: if Rewind is enabled, remove its entry in sidebar and hide its notice
  3rd-party/vaultpress.php
Labels: FixTheFlows, Rewind, [Status] Ready to Merge, [Type] Bug

#9072 Build: add `private:true` to package.json
  package.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#9075 Docker: Improve documentation
  docker/README.md
Labels: Docker

#9079 Remove likes from jumpstart
  modules/likes.php
  modules/module-headings.php
Labels: Jumpstart, Likes, [Status] Ready to Merge

#9087 Build: Ignore docker directory in gulp tasks that glob with **/*.php
  gulpfile.babel.js
Labels: Docker, General, [Status] Needs Review, [Type] Bug, [Type] Janitorial

#9021 WooCommerce Analytics: fix PHP warning.
  modules/google-analytics/classes/wp-google-analytics-universal.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#9097 Add illustrations for Jetpack connection banner screens
  images/characters.svg
  images/jetpack-design.svg
  images/jetpack-performance.svg
  images/security.svg
Labels: Connect Flow, FixTheFlows, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#9094 Docker: mention Ngrok inspector in docs
  docker/README.md
Labels: Docker, Docs, [Status] Ready to Merge

#9088 Widen the connection banner content
  scss/organisms/_banners.scss
Labels: FixTheFlows, [Pri] Low, [Status] Needs Design Review, [Status] Ready to Merge

#9100 JITM: Do not use all caps for button text
  scss/jetpack-admin-jitm.scss
Labels: JITM, [Status] Design Polish, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#9107 Widgets: WordPress Posts - Add rel=noopener attribute to links in WordPress posts widget if set to open in new window
  modules/widgets/wordpress-post-widget.php
Labels: Extra Sidebar Widgets, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Bug

#9061 Masterbar: Always sign out from WordPress.com
  modules/masterbar/masterbar.php
Labels: Masterbar, [Status] Needs e2e Canary Testing, [Status] Ready to Merge

#9115 Docker: Profiling: Set xdebug.profiler_enable_trigger = On
  docker/php.ini
Labels: Docker, Performance, [Status] Ready to Merge

#9090 Build: exclude more folders
  Gruntfile.js
  gulpfile.babel.js
  phpcs.xml
Labels: Docker, General, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#9080 Update notice styles to match Calypso
  _inc/client/components/admin-notices/index.jsx
  _inc/client/components/global-notices/style.scss
  _inc/client/components/notice/index.jsx
  _inc/client/components/notice/style.scss
  _inc/client/pro-status/index.jsx
  _inc/client/scss/calypso-colors.scss
Labels: Accessibility, FixTheFlows, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#9109 Admin Page: Replace p for div in jumpstart component
  _inc/client/components/jumpstart/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#9096 Admin Page: Hide pro set up button for searchable modules
  _inc/client/pro-status/index.jsx
Labels: FixTheFlows, [Status] Ready to Merge, [Type] Bug

#9125 Comments: Add title attibute to comment form iframe
  modules/comments/comments.php
Labels: Accessibility, Comments, FixTheFlows, [Status] Ready to Merge

#8969 Plans: don't hide on small screens
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/style.scss
Labels: Plans, [Pri] Normal, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Bug

#9117 Readme: update contributor lists.
  readme.md
  readme.txt
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#9108 Stats: don't display the date range tabs when the initial dialog is shown
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/at-a-glance/stats/test/component.js
Labels: Admin Page, FixTheFlows, Stats, [Status] Ready to Merge, [Type] Bug

#9058 Sync: Avoid synching personal data in WooCommerce orders
  sync/class.jetpack-sync-module-woocommerce.php
Labels: Sync, [Pri] High, [Status] Ready to Merge, [Type] Bug

#9031 Load Twitter widget using secure connection
  modules/shortcodes/tweet.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Janitorial

#9066 Jetpack: Sync comment untrashed and unspammed
  sync/class.jetpack-sync-module-comments.php
  tests/php/sync/test_class.jetpack-sync-comments.php
Labels: Sync, [Status] Ready to Merge

#9076 Likes: Make posts with manually enabled likes still be likeable if Likes are enabled for all posts
  modules/likes/jetpack-likes-settings.php
Labels: FixTheFlows, Likes, [Status] Needs Changelog, [Status] Ready to Merge

#9003 Add/user tracking option api
  _inc/lib/class.jetpack-user-event-tracking.php
  phpunit.xml.dist
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
  sync/class.jetpack-sync-module-users.php
  tests/php.multisite.xml
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/test_class.jetpack-user-event-tracking.php
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Enhancement, [Type] GDPR

#9127 Lazy Images: Add test to check #9047
  tests/php/modules/lazy-images/test_class.lazy-images.php
Labels: Lazy Images, Unit Tests, [Status] Ready to Merge

#9135 Google Analytics: fix PHP notice on search reported by some users.
  modules/google-analytics/classes/wp-google-analytics-legacy.php
Labels: Google Analytics, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#9055 Cherry pick keys from `$_SERVER` array
  modules/subscriptions.php
Labels: Subscriptions, [Status] Ready to Merge, [Type] Enhancement

#9052 WooCommerce Analytics: Queue `add_to_cart` Events
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-utils.php
  modules/woocommerce-analytics/wp-woocommerce-analytics.php
Labels: WooCommerce Analytics, [Pri] High, [Status] Needs Review, [Type] Bug

#9123 Fusion: add all synced files to whitelist
  fusion/whitelist.json
Labels: Fusion, [Status] Ready to Merge

#8945 Add search to the Professional plan warm welcome
  _inc/client/components/welcome-new-plan/professional.jsx
Labels: Admin Page, Search, Warm Welcome, [Status] Ready to Merge, [Type] Enhancement

#9147 Docker: move config files to a folder
  docker/Dockerfile
  docker/bin/run.sh
  docker/config/apache_default
  docker/config/htaccess
  docker/config/htaccess-multi
  docker/config/php.ini
  docker/config/ssmtp.conf
  docker/config/wp-tests-config.php
  package.json
Labels: Docker, [Status] Ready to Merge

#8993 Add new settings route and page for Privacy settings
  _inc/client/admin.js
  _inc/client/components/footer/index.jsx
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation/index.jsx
  _inc/client/main.jsx
  _inc/client/privacy/index.jsx
  _inc/client/settings/index.jsx
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: [Pri] BLOCKER, [Status] Needs Design Review, [Status] Ready to Merge, [Type] GDPR

#9122 Add utility for WPCOM API requests as user
  class.jetpack-client.php
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] GDPR

#9146 Network Settings: secure footer links
  views/admin/network-admin-footer.php
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9053 Connection Modal: Update text to clarify when tracking begins.
  _inc/client/components/connect-button/index.jsx
Labels: [Pri] BLOCKER, [Pri] Normal, [Status] Ready to Merge, [Type] Bug, [Type] GDPR

#9148 Admin Page Fix popover positioning
  _inc/client/components/popover/index.jsx
Labels: Admin Page, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Enhancement

#9137 Settings: update learn more info
  _inc/client/components/settings-group/index.jsx
  _inc/client/components/settings-group/test/component.js
  _inc/client/discussion/comments.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/security/antispam.jsx
  _inc/client/security/backups-scan.jsx
  _inc/client/security/protect.jsx
  _inc/client/security/sso.jsx
  _inc/client/sharing/likes.jsx
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
  _inc/client/traffic/ads.jsx
  _inc/client/traffic/google-analytics.jsx
  _inc/client/traffic/related-posts.jsx
  _inc/client/traffic/search.jsx
  _inc/client/traffic/seo.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/traffic/sitemaps.jsx
  _inc/client/traffic/verification-services.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/custom-content-types.jsx
  _inc/client/writing/masterbar.jsx
  _inc/client/writing/media.jsx
  _inc/client/writing/post-by-email.jsx
  _inc/client/writing/speed-up-site.jsx
  _inc/client/writing/theme-enhancements.jsx
Labels: Admin Page, FixTheFlows, [Status] Needs Changelog, [Status] Ready to Merge, [Status] Requires String Changes, [Type] Enhancement

#9136 Admin Page: Ads Settings - Fix settings toggling
  _inc/client/traffic/ads.jsx
Labels: Admin Page, FixTheFlows, WordAds, [Pri] High, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Bug

#9102 Not showing connection view if the user cannot connect.
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/main.jsx
  _inc/client/state/initial-state/reducer.js
Labels: Admin Page, FixTheFlows, [Status] Ready to Merge, [Type] Bug

#9140 Sync AMP permalink URL
  sync/class.jetpack-sync-module-posts.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Sync, [Status] Ready to Merge

#9153 Privacy Settings: Fix PropTypes error
  _inc/client/privacy/index.jsx
Labels: [Status] Ready to Merge, [Type] Bug

#9062 Load the Search widget even if Extra Sidebar Widgets is disabled
  modules/module-extras.php
  modules/search/class.jetpack-search.php
  modules/widgets.php
  modules/widgets/search.php
Labels: Extra Sidebar Widgets, Search, [Status] Ready to Merge

#9124 API: SAL: Remove skyword-tracking shortcode when querying for post via SAL
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#9078 Dashboard: add link to manage plugins and moderate comments in Calypso
  _inc/client/at-a-glance/akismet.jsx
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/at-a-glance/style.scss
Labels: Admin Page, FixTheFlows, [Status] Ready to Merge, [Type] Enhancement

#9154 Redux ingestion for user tracking settings
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/reducer.js
  _inc/client/state/tracking/actions.js
  _inc/client/state/tracking/index.js
  _inc/client/state/tracking/reducer.js
  _inc/client/state/tracking/test/reducer.js
  _inc/client/state/tracking/test/selectors.js
Labels: [Status] Ready to Merge, [Type] GDPR

#9142 Add user tracking endpoint proxy for `tracks_opt_out`
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack.php
Labels: Tracks, [Status] Ready to Merge, [Type] GDPR

#9152 Remove Manage from the legacy settings page if active
  class.jetpack-modules-list-table.php
Labels: Manage, [Status] Ready to Merge, [Type] Bug

#9162 Connection: Update connection banner text to clarify ToS acceptance on click
  functions.global.php
Labels: [Status] Ready to Merge, [Type] Enhancement

#9161 Settings: introduce new selector to check module availability
  _inc/client/at-a-glance/monitor.jsx
  _inc/client/at-a-glance/photon.jsx
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/at-a-glance/protect.jsx
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/at-a-glance/stats/test/component.js
  _inc/client/state/modules/reducer.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#9093 Jetpack: Add subscription management link to already subscribed error
  modules/subscriptions.php
Labels: Subscriptions, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#9077 VaultPress: remove WP core notice that says that the plugin was activated
  3rd-party/vaultpress.php
Labels: FixTheFlows, Rewind, [Status] Ready to Merge, [Type] Bug

#9166 Dashboard: fix undefined prop type
  _inc/client/at-a-glance/akismet.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#9105 Search: add settings and upgrade notice to at-a-glance dash
  _inc/client/at-a-glance/index.jsx
  _inc/client/at-a-glance/search.jsx
  _inc/client/at-a-glance/style.scss
  _inc/client/components/dash-item/index.jsx
  _inc/client/pro-status/index.jsx
Labels: Plans, Search, [Status] Ready to Merge, [Type] Enhancement

#8985 Add inline module settings for plan welcome page
  _inc/client/components/jetpack-dialogue/style.scss
  _inc/client/components/module-settings/inline-module-toggle.jsx
  _inc/client/components/welcome-new-plan/monitor-akismet-backups-prompt.jsx
  _inc/client/components/welcome-new-plan/personal.jsx
  _inc/client/components/welcome-new-plan/premium.jsx
  _inc/client/components/welcome-new-plan/professional.jsx
  _inc/client/components/welcome-new-plan/social-seo-ads-prompt.jsx
  _inc/client/components/welcome-new-plan/videopress-prompt.jsx
Labels: FixTheFlows, Plans, Warm Welcome, [Status] Needs Design Review, [Status] Needs Review, [Status] Ready to Merge

#8498 Add new Social Icons widget and deprecate old Social Media Icons widget
  modules/widgets/social-icons.php
  modules/widgets/social-icons/social-icons-admin.css
  modules/widgets/social-icons/social-icons-admin.js
  modules/widgets/social-icons/social-icons.css
  modules/widgets/social-media-icons.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#8954 Add markdown support for bbpress CPTs
  3rd-party/bbpress.php
Labels: Markdown, [Status] Ready to Merge, [Type] Enhancement

#9156 Update/centralize user privacy + cookie (PR combo)
  _inc/client/lib/analytics/index.js
  _inc/client/privacy/index.jsx
  _inc/lib/tracks/class.tracks-client.php
Labels: Tracks, [Status] Ready to Merge, [Type] GDPR

#9120 Infinite Scroll: Improved rendering callbacks w/ WooCommerce support
  3rd-party/woocommerce.php
  modules/infinite-scroll/infinity.js
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, [Pri] BLOCKER, [Pri] Normal, [Status] Needs Testing, [Type] Bug

#9064 Fixed Pinterest embeds for URLs other than .com.
  modules/shortcodes/pinterest.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Bug

#9027 Widgets - EU Cookie Law: fix issue with custom URL choice and selective refresh
  modules/widgets/customizer-utils.js
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/form.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#9165 Admin Page Update default state value for stats reducer
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/state/at-a-glance/actions.js
  _inc/client/state/at-a-glance/reducer.js
Labels: Admin Page, Stats, [Status] Ready to Merge, [Type] Bug

#9167 Fix where jitms may return an empty response where it shouldn't
  class.jetpack-jitm.php
Labels: JITM, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial, [Type] Quick Fix

#8991 JITMS: Add the ability to parse lists
  _inc/jetpack-jitm.js
  scss/jetpack-admin-jitm.scss
Labels: JITM, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#9172 REST API: Core Update, fix fatal on PHP 7.1
  json-endpoints/jetpack/class.jetpack-json-api-core-modify-endpoint.php
Labels: Manage, WPCOM API, [Status] Ready to Merge, [Type] Bug

#9034 Changelog 6.0: running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: General

#9175 Search: Strip slashes from search terms
  modules/search/class.jetpack-search-helpers.php
Labels: Search, [Status] Ready to Merge

#9081 Fix/5151 add in progress notice
  modules/publicize/publicize.php
  modules/subscriptions.php
Labels: FixTheFlows, Publicize, [Status] Needs Copy, [Status] Needs Design Review, [Status] Needs Review, [Status] Needs Testing, [Type] Enhancement

#9084 Security: add Monitor toggles to Jetpack and unify copy
  _inc/client/at-a-glance/monitor.jsx
  _inc/client/components/dash-item/index.jsx
  _inc/client/components/dash-item/test/component.js
  _inc/client/components/jetpack-disconnect-dialog/index.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/security/index.jsx
  _inc/client/security/monitor.jsx
  modules/monitor.php
Labels: Admin Page, Monitor, [Type] Enhancement

#9176 Tools: Add tampermonkey script for Jetpack Live Branches on GitHub
  docs/testing/testing-tips.md
  tools/jetpack-live-branches/README.md
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: Docs, General, [Status] Ready to Merge

#9173 Warm Welcome: Update illustrations across all paid plan welcome screens
  images/connect-jetpack.svg
  images/customize-theme.svg
  images/generating-cash-2.svg
  images/people-around-page.svg
  images/security.svg
  images/wordads.svg
Labels: Admin Page, Warm Welcome, [Status] Has Changelog, [Status] Needs Changelog, [Type] Enhancement

#9157 Docker: set ServerName directive for Apache
  docker/config/apache_default
  docker/docker-compose.yml
Labels: Docker, [Status] Needs Changelog, [Type] Bug

#9192 Settings: update searchable modules to accept the new object format
  _inc/client/components/settings-group/README.md
  _inc/client/components/settings-group/index.jsx
  _inc/client/searchable-modules/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#9195 Social Icons Widget: add deprecation notice to old file.
  modules/widgets/social-media-icons.php
Labels: Extra Sidebar Widgets, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial
