Repository Automattic/jetpack, pull requests merged in 2018-02, with the labels that each got.

#8804 Docs: Partners: Add JPS provisioning/cancelling doc
  docs/partners/plan-provisioning.md
Labels: Docs, Jetpack Start, [Status] Needs Review

#8801 Docs: Add partner docs directory; Add module management doc
  docs/partners/managing-modules.md
Labels: Docs, Jetpack Start, [Status] Needs Review

#8784 Switch e2e tests to Jurassic.Ninja infrastructure
  .circleci/config.yml
Labels: Unit Tests, [Status] Ready to Merge

#8820 PR template: add instructions for testing instructions.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#8823 Add sitemap post types to sync blacklist
  sync/class.jetpack-sync-defaults.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#8787 Lazy Images: Allow filtering out images via class and attributes
  modules/lazy-images/lazy-images.php
  tests/php/modules/lazy-images/test_class.lazy-images.php
Labels: Lazy Images, Unit Tests, [Status] Needs Review, [Type] Enhancement

#8686 Jetpack Start: Allow hosts to pass a tracking ID when provisioning or cancelling a plan
  bin/partner-cancel.sh
  bin/partner-provision.sh
  class.jetpack-cli.php
Labels: Jetpack CLI, Jetpack Start, [Status] Ready to Merge, [Type] Enhancement

#8709 Admin Page: Remove prop-types related warnings from development builds
  _inc/client/admin.js
  _inc/client/components/banner/index.jsx
  _inc/client/components/button/index.jsx
  _inc/client/components/card/index.jsx
  _inc/client/components/chart/bar-container.jsx
  _inc/client/components/chart/bar.jsx
  _inc/client/components/chart/label.jsx
  _inc/client/components/chart/legend.jsx
  _inc/client/components/clipboard-button-input/index.jsx
  _inc/client/components/count/index.jsx
  _inc/client/components/external-link/index.jsx
  _inc/client/components/foldable-card/index.jsx
  _inc/client/components/form-input-validation/index.jsx
  _inc/client/components/form/action-bar.jsx
  _inc/client/components/form/clipboard-button/index.jsx
  _inc/client/components/form/form-toggle/index.jsx
  _inc/client/components/form/index.jsx
  _inc/client/components/form/input-checkbox-multiple.jsx
  _inc/client/components/form/input-checkbox.jsx
  _inc/client/components/form/input-hidden.jsx
  _inc/client/components/form/input-radio.jsx
  _inc/client/components/form/input-select.jsx
  _inc/client/components/form/input-text.js
  _inc/client/components/form/label.jsx
  _inc/client/components/form/section.jsx
  _inc/client/components/global-notices/docs/example.jsx
  _inc/client/components/global-notices/index.jsx
  _inc/client/components/gridicon/index.jsx
  _inc/client/components/info-popover/index.jsx
  _inc/client/components/modal/index.jsx
  _inc/client/components/notice/index.jsx
  _inc/client/components/notice/notice-action.jsx
  _inc/client/components/plans/plan-icon/index.jsx
  _inc/client/components/popover/index.jsx
  _inc/client/components/popover/menu.jsx
  _inc/client/components/root-child/index.jsx
  _inc/client/components/search/index.jsx
  _inc/client/components/search/search-collection.jsx
  _inc/client/components/section-header/index.jsx
  _inc/client/components/section-nav/index.jsx
  _inc/client/components/section-nav/item.jsx
  _inc/client/components/section-nav/segmented.jsx
  _inc/client/components/section-nav/tabs.jsx
  _inc/client/components/select-dropdown/index.jsx
  _inc/client/components/select-dropdown/item.jsx
  _inc/client/components/spinner/index.jsx
  _inc/client/components/tooltip/index.jsx
  _inc/client/notices/validation-error-list.jsx
  package.json
  yarn.lock
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#8832 Docs: Clarify that user ID for partner plan provisioning is from remote install
  class.jetpack-cli.php
  docs/partners/plan-provisioning.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#8837 Update CODEOWNERS
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Good For Community

#8367 Sync: Fix Trying to get property of non-object in sync/class.jetpack-sync-module-posts.php
  sync/class.jetpack-sync-module-posts.php
Labels: Sync, [Status] Needs Review, [Type] Bug

#8838 Use encrypted config for E2E tests
  .circleci/config.yml
Labels: Unit Tests

#8836 API: 3rd-party: Add tools for getting module overrides; Add to API
  3rd-party/3rd-party.php
  3rd-party/class.jetpack-modules-overrides.php
  json-endpoints/jetpack/class.jetpack-json-api-modules-endpoint.php
  tests/php/3rd-party/test_class.jetpack-modules-overrides.php
Labels: General, Jetpack Start, Unit Tests, WPCOM API, [Status] Ready to Merge

#8834 Plans In Plugin: Add plans endpoint
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Plans, WP REST API, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#8839 Admin: Update search module card to better match Calypso
  _inc/client/traffic/search.jsx
Labels: Search, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#8862 Add pre commit hook for linting JS
  .eslines.json
  .eslintrc
  .gitignore
  .svnignore
  bin/pre-commit-hook.js
  package.json
  yarn.lock
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#8870 WordAds: Avoid usage of create_function
  modules/wordads/php/widgets.php
Labels: WordAds, [Status] Ready to Merge, [Type] Janitorial

#8850 Make sure that $output is an array before treating it as an array
  json-endpoints/class.wpcom-json-api-list-comments-endpoint.php
Labels: WPCOM API, [Pri] High, [Status] Ready to Merge, [Type] Bug

#8852 Rename class to fix a theme clash.
  3rd-party/beaverbuilder.php
Labels: General, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#8866 Settings: Auto-focus the widgets panel in the Customizer for Search module
  _inc/client/traffic/search.jsx
Labels: Admin Page, Search, [Status] Ready to Merge

#8829 Sync: Add action hook to enqueue_action
  sync/class.jetpack-sync-listener.php
Labels: Sync, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#8864 Build: eslint --fix build files
  Gruntfile.js
  gulpfile.babel.js
  package.json
  webpack.config.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#8875 REST API: Add support for stats module in JPO endpoints
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: WP REST API, [Status] Ready to Merge

#8874 REST API: Add Country field to Business Address onboarding step
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: WP REST API, [Status] Ready to Merge

#8881 Jetpack Connect URL: use correct URL to auto-approve
  class.jetpack-connection-banner.php
  class.jetpack.php
Labels: General, [Pri] High, [Status] Ready to Merge, [Type] Bug

#8817 Activity log: add user-login to failed login attempts
  modules/protect.php
  sync/class.jetpack-sync-module-protect.php
  tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: Activity Log, Protect, [Status] In Progress

#8243 Masterbar: Proposal - Do not sign out by default from wpcom when clicking the Sign out link
  modules/masterbar/masterbar.php
Labels: Masterbar, [Status] Proposal, [Status] Ready to Merge

#8865 Docs: Partner: First pass at documenting endpoints
  docs/partners/plan-provisioning-direct-api.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#8795 Admin Page: Remove unnecessary wrapping with connect from Banner component
  _inc/client/components/banner/index.jsx
Labels: Admin Page, [Status] Needs Review, [Type] Janitorial

#8790 Sync: Refactor test so it's able to pass on PHP 5.2
  tests/install-php-phpunit.sh
  tests/php/sync/anonymous_function_test_for_register_post_types_callback_error.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, Unit Tests, [Status] Ready to Merge, [Type] Bug

#8886 Unit tests: Remove PHP 5.2 from travis allowed failures
  .travis.yml
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#8296 New module for WooCommerce analytics
  modules/module-extras.php
  modules/module-info.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-utils.php
  modules/woocommerce-analytics/wp-woocommerce-analytics.php
Labels: WooCommerce Analytics, [Pri] High, [Status] Ready to Merge, [Type] Enhancement

#8863 API: Jetpack: API: Updates /sites/%s/jetpack/modules endpoints respon…
  class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#8860 Add/plans ingestion
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/site/actions.js
  _inc/client/state/site/reducer.js
Labels: Plans, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#8421 Improve accessibility of Holiday Snow
  modules/holiday-snow/snowstorm.js
Labels: Accessibility, Theme Tools, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#8894 Analytics: jquery selector for Update button
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Ready to Merge

#8899 change from daily cache busting to weekly - inline with e.js
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Ready to Merge

#8914 Docs: add instructions to work-around pre-commit issues on Windows
  docs/development-environment.md
Labels: Docs, [Status] Needs Review, [Status] Ready to Merge, [Type] Enhancement

#8878 Scripts: remove `yarn build` command from lint script
  package.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#8901 Sync: Remove Woo _stock* meta from whitelist
  sync/class.jetpack-sync-module-woocommerce.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#8822 Search: Implicitly activate search when widget added
  .eslintignore
  modules/search/class.jetpack-search-helpers.php
  modules/search/class.jetpack-search.php
  modules/widgets/search.php
  modules/widgets/search/css/search-widget-admin-ui.css
  modules/widgets/search/css/search-widget-frontend.css
  modules/widgets/search/js/search-widget-admin.js
  modules/widgets/search/js/search-widget.js
Labels: Search, [Status] Ready to Merge, [Type] Enhancement

#8890 Lazy Images: Use W3C IntersectionObserver polyfill
  modules/lazy-images/js/lazy-images.js
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug

#8805 Docs: Add README.md for docs/partners directory
  docs/partners/README.md
  docs/partners/managing-modules.md
  docs/partners/plan-provisioning-direct-api.md
  docs/partners/plan-provisioning.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#8927 Remove outliers for mysql and ES query times
  _inc/lib/class.jetpack-search-performance-logger.php
Labels: Search, [Status] Needs Review

#8911 JSON API: Remove obsolete "update invites" endpoint
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-update-invites-endpoint.php
Labels: WPCOM API, [Pri] Normal, [Status] Ready to Merge

#8933 JPO: Delete onboarding token after connecting the site
  class.jetpack-client-server.php
Labels: General, [Status] Ready to Merge

#8930 Plans in Plugin: correctly forward the client IP for currency localization
  _inc/lib/class.core-rest-api-endpoints.php
Labels: WP REST API, [Status] Needs Review

#8928 Debugger: Update debug contact form category options
  class.jetpack-debugger.php
Labels: General, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#8931 Search: When disabling the search module, move any active search widgets to the inactive list.
  modules/search/class.jetpack-search.php
Labels: Search, [Status] Needs Review, [Type] Bug

#8915 Jetpack Connect: Respect from and redirect parameters for Calypso
  class.jetpack.php
Labels: General, [Status] Ready to Merge

#8868 Markdown: Avoid usage of create_function
  _inc/lib/markdown/extra.php
Labels: Markdown, [Status] Ready to Merge, [Type] Janitorial

#8462 REST: Change /sites/:site/posts date range queries to use post_date_gmt
  json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#8664 Twitter cards: add new jetpack_twitter_image_default filter
  class.jetpack-twitter-cards.php
Labels: Sharing, [Status] Ready to Merge, [Type] Enhancement

#8844 Admin Page: Show app dismissal button only for admin users in Dashboard
  _inc/client/components/apps-card/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#8935 Add flag/option for whether TOS has been agreed upon
  _inc/lib/tracks/class.tracks-client.php
  class.jetpack-options.php
  class.jetpack-tracks.php
  class.jetpack.php
Labels: Tracks, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#8856 CLI: Do not allow managing partner plans while in safe mode
  class.jetpack-cli.php
Labels: Jetpack CLI, Jetpack Start, Sync, [Status] Ready to Merge, [Type] Bug

#8938 Remove Jumpstart reference from SEO Tools
  modules/seo-tools.php
Labels: Jumpstart, SEO Tools, [Status] Ready to Merge

#8858 Add VIP slug
  _inc/client/at-a-glance/activity.jsx
  _inc/client/components/plans/plan-icon/README.md
  _inc/client/components/plans/plan-icon/index.jsx
  _inc/client/lib/plans/constants.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#8932 Sharing: remove LinkedIn sharing counts.
  modules/sharedaddy/sharing.js
Labels: Sharing, [Pri] High, [Status] Ready to Merge, [Type] Janitorial

#8625 Added suppress_filters param to get_posts / get_children function calls.
  class.jetpack-post-images.php
  json-endpoints/class.wpcom-json-api-list-media-endpoint.php
  json-endpoints/class.wpcom-json-api-post-endpoint.php
  json-endpoints/class.wpcom-json-api-post-v1-1-endpoint.php
  modules/carousel/jetpack-carousel.php
  modules/minileven/theme/pub/minileven/functions.php
  modules/minileven/theme/pub/minileven/image.php
  modules/shortcodes/slideshow.php
  modules/stats.php
  modules/theme-tools/featured-content.php
  modules/tiled-gallery/tiled-gallery.php
  modules/widgets/migrate-to-core/image-widget.php
  sal/class.json-api-site-base.php
Labels: General, Performance, [Status] Ready to Merge

#8425 Widget Visibility: fix widget minor conditions dropdown entities
  modules/widget-visibility/widget-conditions.php
  modules/widget-visibility/widget-conditions/widget-conditions.js
Labels: Touches WP.com Files, Widget Visibility, [Status] Ready to Merge, [Type] Bug

#8819 Changelog 5.9: running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Status] Ready to Merge

#8903 Add a Plans comparison table
  _inc/client/components/data/query-site/index.jsx
  _inc/client/plans/index.jsx
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/style.scss
  _inc/client/state/site/actions.js
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Admin Page, Plans, [Status] Ready to Merge

#8942 Update e2e CircleCI config to use generic container
  .circleci/config.yml
Labels: Unit Tests, [Type] Enhancement

#8937 Search: Set some default configuration values
  modules/widgets/search.php
Labels: Search, [Status] Needs Changelog, [Status] Needs Review, [Type] Bug
