Repository Automattic/jetpack, pull requests merged in 2018-07, with the labels that each got.

#9839 Fix: add text domains where missing
  _inc/class.jetpack-provision.php
  class.jetpack-cli.php
  modules/subscriptions.php
  sync/class.jetpack-sync-functions.php
Labels: Internationalization, [Status] Needs Review, [Type] Janitorial

#9677 Try: Make Travis not run on docs
  .travis.yml
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9844 Travis: fix tests running in CI
  .travis.yml
  docker/README.md
Labels: General, Unit Tests, [Type] Bug

#9845 Revert: Travis not run on docs (#9677 & #9844)
  .travis.yml
Labels: Unit Tests, [Status] Ready to Merge, [Type] Bug

#9850 Shortcodes: Update hulu tests to be skipped
  tests/php/modules/shortcodes/test_class.hulu.php
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#9840 Add a Jumpstart description for Lazy Images.
  modules/lazy-images.php
Labels: Jumpstart, Lazy Images, [Status] Ready to Merge

#9836 Connection Splash Screen: Update agreement text to specify that consent is granted by clicking the Set up Jetpack button
  functions.global.php
Labels: General, [Status] Ready to Merge

#9851 Respect JETPACK_START_API_HOST env var in partner-provision.sh
  bin/partner-provision.sh
Labels: Jetpack Start, [Status] Ready to Merge, [Type] Bug

#9856 General: Start the 6.4 release cycle
  jetpack.php
  package.json
Labels: General, [Status] Ready to Merge

#9859 Fix a Fatal Errors in Jetpack 6.3 under PHP 5.2
  modules/widgets/simple-payments.php
Labels: Simple Payments, [Pri] High, [Type] Bug

#9866 Add 6.3.2 changelog
  changelog.txt
  readme.txt
Labels: General, [Status] Ready to Merge

#9865 Docs: Partners: Add doc for partners that describes upgrade redirecting
  docs/partners/upgrade-redirection.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#9873 Jetpack: Add wp_cli indictator to sync action actor
  sync/class.jetpack-sync-listener.php
  tests/php/sync/test_class.jetpack-sync-listener.php
Labels: Activity Log, Sync, [Status] Ready to Merge

#9872 Lazy Images: Do not change image display for no JS support
  modules/lazy-images/lazy-images.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug

#9863 Widgets - Simple Payments: fix a few issues
  modules/widgets/simple-payments.php
  modules/widgets/simple-payments/form.php
Labels: [Status] Ready to Merge, [Type] Bug

#9874 Docs: Partners: Add document for determining connection status
  docs/partners/determining-connection-status.md
Labels: Docs, Jetpack Start, [Status] Needs Review, [Type] Enhancement

#9772 Test PHPUnit in Travis in parallel
  .travis.yml
  tests/install-php-phpunit.sh
  tests/run-travis.sh
Labels: Unit Tests, [Status] Needs Review, [Status] Proposal, [Type] Enhancement

#9888 Connection splash: update copy on contact us button
  class.jetpack-connection-banner.php
Labels: Admin Page, NUX, [Status] Ready to Merge

#9887 Quick tour: don't scroll to top
  _inc/jetpack-connection-banner.js
Labels: Admin Page, FixTheFlows, NUX, [Status] Ready to Merge

#9878 General: Update PHP Codesniffer configuration to include the PHPCompatibility standard
  composer.json
  docs/development-environment.md
  package.json
  phpcs.xml
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#9907 Fix: When we update core in using calypso we wouldn't send the event as a core autoupdate
  sync/class.jetpack-sync-module-updates.php
  tests/php/sync/test_class.jetpack-sync-updates.php
Labels: [Status] Needs Review, [Status] Needs Testing

#9906 Indicate when user email changes via Jetpack sync
  sync/class.jetpack-sync-module-users.php
  tests/php/sync/test_class.jetpack-sync-users.php
Labels: Sync, [Status] Ready to Merge

#9857 Shortcodes: Revert "Shortcodes: Update hulu tests to be skipped"
  tests/php/modules/shortcodes/test_class.hulu.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#9920 Make Gutenberg be checked by default in Jetpack Live branches
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: General, [Status] Ready to Merge

#9917 Lazy Images: WooCommerce: Adds compat for lazy images when updating cart quantity
  3rd-party/woocommerce.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug

#9923 Shortcodes: Add flat.io oEmbed
  modules/shortcodes/flatio.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Enhancement

#9928 Docs: Partners: Add doc for retrieving provision status of a site
  docs/partners/determining-provisioning-status.md
Labels: Docs, Jetpack Start, [Status] Ready to Merge

#9905 Fix 5.2 compatibility issues
  _inc/class.jetpack-provision.php
  class.jetpack-cli.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  class.json-api-endpoints.php
  class.json-api.php
  class.photon.php
  functions.compat.php
  json-endpoints/class.wpcom-json-api-edit-media-v1-2-endpoint.php
  modules/contact-form/grunion-contact-form.php
  modules/custom-css/csstidy/class.csstidy.php
  modules/custom-css/csstidy/class.csstidy_print.php
  modules/markdown/easy-markdown.php
  modules/post-by-email.php
  modules/shortcodes/slideshow.php
  modules/stats.php
  modules/tiled-gallery/tiled-gallery/templates/carousel-container.php
  modules/tiled-gallery/tiled-gallery/templates/partials/carousel-image-args.php
  sal/class.json-api-site-base.php
  sync/class.jetpack-sync-module-users.php
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#9908 Add PHP 5.2 Compatibility linting pre-commit hook
  bin/pre-commit-hook.js
  composer.json
  docs/development-environment.md
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#9912 Improves The SEO Framework compatibility.
  class.jetpack.php
  modules/seo-tools.php
Labels: General, [Status] Ready to Merge

#9931 Fix EOL for module-headings.php
  modules/module-headings.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#9200 Remove grunt
  .svnignore
  Gruntfile.js
  package.json
  yarn.lock
Labels: Internationalization, [Status] Ready to Merge, [Type] Janitorial

#9925 REST API: Change blog owner when changing the connection owner
  _inc/lib/class.core-rest-api-endpoints.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: WP REST API, [Status] Ready to Merge, [Type] Enhancement

#9871 Widgets: fixes PHP's fatal class not found error on Simple Payments Widget
  modules/widgets/simple-payments.php
Labels: Extra Sidebar Widgets, Multisite, Simple Payments, [Pri] High, [Status] Ready to Merge, [Type] Bug

#9927 Publicize UI: Replace icons with the social logos font
  modules/publicize/assets/publicize-fb-2x.png
  modules/publicize/assets/publicize-google-2x.png
  modules/publicize/assets/publicize-linkedin-2x.png
  modules/publicize/assets/publicize-path-2x.png
  modules/publicize/assets/publicize-tumblr-2x.png
  modules/publicize/assets/publicize-twitter-2x.png
  modules/publicize/assets/publicize.css
  modules/publicize/ui.php
Labels: Publicize, [Status] Needs Design Review, [Type] Enhancement

#9854 Connection Splash Screen: Replace OSX for macOS in connection banner
  class.jetpack-connection-banner.php
Labels: General, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#9926 Publicize: Remove the ability to select personal facebook page from the overlay
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
Labels: Publicize, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review

#9938 Update/identify broken facebook accounts
  class.jetpack-cli.php
  modules/publicize/assets/publicize.css
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review

#9849 Site Logo: remove custom name for "Site Identity" section
  modules/theme-tools/site-logo/inc/class-site-logo.php
Labels: Theme Tools, [Status] Ready to Merge, [Type] Enhancement

#9911 Try moving Danger CI into existing container to speedup TravisCI builds
  .travis.yml
  package.json
Labels: Unit Tests, [Status] Proposal, [Status] Ready to Merge, [Type] Janitorial

#9855 General: Update module headings
  modules/module-headings.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#9949 Plans: add new two year plan slugs
  class.jetpack.php
Labels: Simple Payments, [Status] Needs Review, [Type] Bug

#9948 Publicize: Fix warning showing in the backhground when connecting facebook to publicize
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge

#9939 Fix: Make the button text in a sentence a placeholder
  functions.global.php
Labels: General, [Status] Ready to Merge

#9842 Widgets: shows a warning for Admin users when Simple Payments is not enabled.
  modules/simple-payments/simple-payments.php
  modules/widgets/simple-payments.php
  modules/widgets/simple-payments/admin-warning.php
  modules/widgets/simple-payments/customizer.css
Labels: Extra Sidebar Widgets, Simple Payments, [Status] Has Changelog, [Status] Ready to Merge, [Type] Enhancement

#9941 Add changelog for 6.3.3.
  changelog.txt
  readme.txt
Labels: General, [Status] Needs Review

#9801 Remove extra 30px from responsive height
  modules/shortcodes/youtube.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Enhancement

#9951 Update/sharing links to redirect to calypso
  class.jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
  modules/sharedaddy/sharing.php
Labels: General, Sharing, Touches WP.com Files, [Status] Ready to Merge

#9853 General: Remove the word fascinating from the text that clarifies when TOS agreement begins
  _inc/client/components/connect-button/index.jsx
  functions.global.php
Labels: General, [Status] Design Review Complete, [Type] Enhancement

#9681 Improve AMP compatibility for Comments iframe
  modules/comments/comments.php
Labels: AMP, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#9902 Widgets: Add jetpack_top_posts_widget_layout filter
  modules/widgets/top-posts.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Enhancement

#9638 Contact Form: Updates to data exporter/eraser
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Privacy, Touches WP.com Files, [Status] Ready to Merge, [Type] GDPR

#9877 Contact Form: Only optimize tables via a filter
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, [Status] Ready to Merge, [Type] Enhancement

#9897 Add changelog 6.4
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Status] Ready to Merge
