Repository Automattic/jetpack, pull requests merged in 2019-02, with the labels that each got.

#11230 Copy Post: add link to support doc.
  modules/module-info.php
Labels: Copy a Post, [Status] Ready to Merge, [Type] Enhancement

#10680 Fixing eu cookie law widget close button being hidden
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#11239 localize behaviour and make Block Editor consistent
  changelog.txt
  class.jetpack.php
  modules/custom-css/csstidy/lang.inc.php
  modules/custom-css/custom-css/css/codemirror.css
  modules/custom-css/custom-css/css/rtl/codemirror-rtl.css
  modules/likes/jetpack-likes-settings.php
  readme.txt
  sync/class.jetpack-sync-settings.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11241 Copy Post: Activate under Writing settings, rather than just being a searchable module.
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/writing/composing.jsx
  modules/copy-post.php
  modules/module-headings.php
Labels: Copy a Post, Touches WP.com Files, [Status] Ready to Merge

#11247 Copy Post: copy password as well if it is set.
  modules/copy-post.php
Labels: Copy a Post, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#11257 Copy Post: display toggle when searching for the feature.
  _inc/client/writing/index.jsx
Labels: Copy a Post, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#11269 Janitorial: update dev version' numbers after stable release
  jetpack.php
  package.json
Labels: [Type] Janitorial

#11270 Net Neutrality: Remove
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#11115 Calypsoify: Update default colors to match WordPress.com
  modules/calypsoify/_colors.scss
  modules/calypsoify/_muriel-wpcom.scss
  modules/calypsoify/gutenberg-styles/button.scss
  modules/calypsoify/style-gutenberg.scss
  modules/calypsoify/style.scss
Labels: Calypsoify, [Status] Needs Design Review

#11267 My Plan: remove upgrade prompts from cards describing current plan.
  _inc/client/my-plan/my-plan-body.jsx
Labels: Plans, [Type] Enhancement

#10998 Server Side: Business Hours block from George's Random Blocks
  _inc/lib/core-api/wpcom-endpoints/business-hours.php
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Status] Needs Author Reply

#11278 Admin Page: Update wp-prettier dependency to 1.16.4
  package.json
  yarn.lock
Labels: Admin Page, General, [Status] Ready to Merge, [Type] Janitorial

#11274 Load styles for contact info block
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Type] Enhancement

#11281 Business Hours Block: add missing Translators comment.
  modules/blocks.php
Labels: Internationalization, Touches WP.com Files, [Block] Business Hours, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#11283 Twenty Nineteen: Fix Top Posts and Pages Widget image list margins
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, Touches WP.com Files, [Status] Needs Review

#11273 Copy Post: update module description to not use a period.
  modules/copy-post.php
  modules/module-headings.php
Labels: Copy a Post, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#10583 Simple Payments: Add generic currency fallback symbol
  modules/simple-payments/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Pri] Low

#11268 Gutenberg: Keep using VideoPress videos after a downgrade
  modules/module-extras.php
  modules/videopress.php
  modules/videopress/class.videopress-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, VideoPress, [Status] Ready to Merge

#11252 Let all Pinterest TLDs Show the Social Menus Icon
  modules/theme-tools/social-menu/icon-functions.php
  modules/theme-tools/social-menu/social-menu.css
Labels: Theme Tools, [Status] Ready to Merge, [Type] Bug

#11092 Mailchimp Block: Non Server-Side Render Approach
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-mailchimp.php
  modules/blocks.php
  modules/shortcodes/email-subscribe.php
Labels: Gutenberg, Touches WP.com Files, [Block] Mailchimp, [Status] Needs Copy Review, [Status] Ready to Merge

#11248 Top Posts: allow the use of negative integers when getting posts
  modules/widgets/top-posts.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Type] Bug

#11291 Updating docker docs
  docker/README.md
Labels: Docker, Docs, [Type] Enhancement

#11296 Social Icons Widget: Handle Alternative Pinterest TLDs
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, [Type] Bug

#11276 Enable seo-tools for the WPCOM Ecommerce bundle
  _inc/client/lib/plans/constants.js
  class.jetpack.php
Labels: Plans, SEO Tools, [Status] Ready to Merge

#11302 Docs: Remove partner documentation in favor of new repo
  docs/partners/README.md
  docs/partners/automatic-account-creation-connection.md
  docs/partners/determining-connection-status.md
  docs/partners/determining-provisioning-status.md
  docs/partners/managing-modules.md
  docs/partners/plan-provisioning-direct-api.md
  docs/partners/plan-provisioning.md
  docs/partners/redirect-after-authorization.md
  docs/partners/reporting-endpoints/README.md
  docs/partners/reporting-endpoints/activations-list.md
  docs/partners/reporting-endpoints/activations-summary.md
  docs/partners/reporting-endpoints/invoices-past.md
  docs/partners/reporting-endpoints/invoices-upcoming.md
  docs/partners/upgrade-redirection.md
Labels: Docs, Jetpack Start, [Status] Needs Review

#11305 Fix content option settings to allow for both excerpts and full content
  modules/theme-tools/compat/twentynineteen.php
Labels: Theme Tools, Touches WP.com Files, [Status] Ready to Merge

#11212 Jetpack_Gutenberg: Decouple extensions registration from availability
  class.jetpack-gutenberg.php
  modules/blocks.php
  modules/contact-form/grunion-contact-form.php
  modules/markdown/easy-markdown.php
  modules/publicize/publicize.php
  modules/related-posts/jetpack-related-posts.php
  modules/shortlinks.php
  modules/simple-payments/simple-payments.php
  modules/subscriptions/views.php
  modules/videopress/class.videopress-gutenberg.php
  tests/php/modules/contact-form/test_class.grunion-contact-form.php
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files

#11300 Update mailchimp texts
  modules/blocks.php
  modules/shortcodes/email-subscribe.php
Labels: Shortcodes, Touches WP.com Files, [Block] Mailchimp, [Status] Needs Author Reply, [Type] Task

#11308 Gutenberg: only load extra blocks if Gutenberg is available.
  modules/module-extras.php
Labels: Gutenberg, [Type] Bug

#11319 Remove IE8 support and consolidate browserslist config to package.json
  docs/guides/report-bugs.md
  modules/carousel/jetpack-carousel-ie8fix.css
  modules/carousel/jetpack-carousel.php
  modules/minileven/theme/pub/minileven/rtl.css
  package.json
  tools/builder/admin-css.js
  tools/builder/frontend-css.js
  tools/builder/sass.js
Labels: Carousel, Docs, Mobile Theme, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11162 WP REST API: Add VideoPress data to media endpoints
  _inc/lib/core-api/wpcom-fields/attachment-fields-videopress.php
  tests/php/core-api/wpcom-fields/test_attachment-fields-videopress.php
Labels: Gutenberg, VideoPress, WP REST API, [Status] Ready to Merge

#11293 Fix vertical spacing for new posts loaded with Infinite Scroll
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, Touches WP.com Files, [Status] Ready to Merge

#11312 Blocks: load each block from a separate file, take 2
  class.jetpack-gutenberg.php
  class.jetpack.php
  extensions/README.md
  extensions/blocks/business-hours/business-hours.php
  extensions/blocks/contact-info/contact-info.php
  extensions/blocks/gif/gif.php
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/map/map.php
  extensions/blocks/slideshow/slideshow.php
  extensions/blocks/tiled-gallery/tiled-gallery.php
  extensions/blocks/vr/vr.php
  modules/blocks.php
  modules/module-extras.php
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#11223 Blocks: allow multi-line submit buttons
  modules/contact-form/grunion-contact-form.php
  modules/subscriptions/views.php
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Block] Subscriptions, [Status] Ready to Merge, [Type] Bug

#11310 Gutenberg: Add and use jetpack_register_block_type() wrapper
  class.jetpack-gutenberg.php
  extensions/blocks/business-hours/business-hours.php
  extensions/blocks/contact-info/contact-info.php
  extensions/blocks/gif/gif.php
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/map/map.php
  extensions/blocks/slideshow/slideshow.php
  extensions/blocks/tiled-gallery/tiled-gallery.php
  extensions/blocks/vr/vr.php
  modules/contact-form/grunion-contact-form.php
  modules/markdown/easy-markdown.php
  modules/related-posts/jetpack-related-posts.php
  modules/simple-payments/simple-payments.php
  modules/subscriptions/views.php
  modules/videopress/class.videopress-gutenberg.php
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11322 Drop Mailchimp shortcode support
  class.jetpack.php
  modules/shortcodes/css/jetpack-email-subscribe.css
  modules/shortcodes/email-subscribe.php
  modules/shortcodes/js/jetpack-email-subscribe.js
  tools/builder/frontend-css.js
Labels: Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Janitorial

#11220 Adding support for up to 6 related posts
  modules/related-posts/jetpack-related-posts.php
  modules/related-posts/related-posts.css
Labels: Gutenberg, Related Posts, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11321 Set the availability of the VideoPress extension for Gutenberg
  modules/videopress/class.videopress-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, VideoPress, [Status] Ready to Merge

#11338 Revert "Sync: add fastcgi finish request to sync (#11146)"
  sync/class.jetpack-sync-sender.php
Labels: Sync, [Pri] High, [Status] Has Changelog, [Status] Ready to Merge, [Type] Bug

#11317 Mailchimp Block: UI Review Updates
  extensions/blocks/mailchimp/mailchimp.php
Labels: Gutenberg, Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge

#11306 Update business hours block schema
  extensions/blocks/business-hours/business-hours.php
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Status] Ready to Merge, [Type] Feature

#11280 Display notice for LinkedIn connection so they can reauthenticate
  _inc/lib/core-api/wpcom-endpoints/publicize-connection-test-results.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Has Changelog, [Status] Ready to Merge, [Type] Enhancement

#11314 Sharing: remove Publicize section in WP Admin > Settings > Sharing
  class.jetpack-gutenberg.php
  modules/publicize.php
  modules/publicize/ui.php
  modules/sharedaddy/sharing.php
Labels: Publicize, Touches WP.com Files, [Status] Has Changelog, [Status] Ready to Merge, [Type] Janitorial

#11337 Jetpack 7.0.1: changelog
  changelog.txt
  readme.txt
Labels: [Pri] BLOCKER, [Status] Needs Copy Review, [Status] Ready to Merge, [Type] Janitorial

#11347 Gutenberg: use 2 methods to get the site fragment.
  class.jetpack-gutenberg.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11356 Jetpack Blocks: update to a new version of the blocks.
  package.json
  yarn.lock
Labels: [Pri] BLOCKER, [Type] Janitorial

#11353 Publicize: add a section in Sharing settings pointing users to Calypso
  modules/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#11357 Search / Infinite Scroll: bring in changes from Release Branch
  3rd-party/debug-bar/class.jetpack-search-debug-bar.php
  modules/infinite-scroll/infinity.php
  modules/widgets/search.php
  readme.txt
Labels: Infinite Scroll, Search, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#11352 Ads: Add search pages to archive toggle
  modules/wordads/php/params.php
Labels: WordAds

#10723 Travis CI: test in PHP 7.3
  .travis.yml
  tests/php/sync/test_class.jetpack-sync-plugins-updates.php
  tests/php/sync/test_class.jetpack-sync-plugins.php
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Sync, Unit Tests, [Status] Ready to Merge

#11342 Related Post Settings: Sync Copy with Proposed Copy in Calypso
  _inc/client/traffic/related-posts.jsx
Labels: Admin Page, Related Posts, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#11343 Fixes the CDN asset path filter breaking i18n.
  modules/photon-cdn.php
Labels: Asset CDN, Internationalization, [Status] Ready to Merge, [Type] Bug

#11325 Markdown: move block to its own file.
  extensions/blocks/markdown/markdown.php
  modules/markdown/easy-markdown.php
Labels: Gutenberg, Markdown, Touches WP.com Files, [Type] Janitorial

#11363 Travis: Do not test building on a built branch
  .travis.yml
Labels: [Status] Needs Review, [Type] Enhancement

#11364 Mailchimp: whitelist the option
  class.jetpack-options.php
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Bug

#11358 Business Hours Block: allow folks to filter the block's content
  extensions/blocks/business-hours/business-hours.php
Labels: Touches WP.com Files, [Block] Business Hours, [Status] Ready to Merge, [Type] Feature

#11328 Gutenpack: Revert deprecating jetpack_register_block
  class.jetpack-gutenberg.php
  extensions/blocks/business-hours/business-hours.php
  extensions/blocks/contact-info/contact-info.php
  extensions/blocks/gif/gif.php
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/map/map.php
  extensions/blocks/markdown/markdown.php
  extensions/blocks/slideshow/slideshow.php
  extensions/blocks/tiled-gallery/tiled-gallery.php
  extensions/blocks/vr/vr.php
  modules/contact-form/grunion-contact-form.php
  modules/related-posts/jetpack-related-posts.php
  modules/simple-payments/simple-payments.php
  modules/subscriptions/views.php
  modules/videopress/class.videopress-gutenberg.php
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files

#11374 Short-circuit Asset CDN in AMP responses
  modules/photon-cdn.php
Labels: AMP, [Type] Enhancement

#11224 Repeat Visitor: register new block and assets
  extensions/blocks/repeat-visitor/repeat-visitor.php
Labels: Gutenberg, [Block] Previously Visited, [Status] Needs Design Review, [Status] Ready to Merge

#11365 Add tracking to the legacy Publicize settings links to Calypso
  _inc/lib/tracks/tracks-ajax.js
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, Tracks, [Status] Ready to Merge, [Type] Janitorial

#11336 Fusion: Sync likes settings with WPCOM
  modules/likes/jetpack-likes-settings.php
Labels: Comment Likes, Fusion, Likes, [Status] Ready to Merge, [Type] Dotcom Merge

#11332 AtD: Use `admin_url()` correctly
  modules/after-the-deadline.php
  modules/after-the-deadline/tinymce/plugin.js
Labels: AtD, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#11376 Blocks: run phpcbf to catch all errors in blocks files
  extensions/blocks/business-hours/business-hours.php
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Status] Ready to Merge, [Type] Janitorial

#11372 Photon: add paypalobjects.com to the list of banned domains.
  functions.photon.php
Labels: Photon, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11240 Ads: Add Gutenberg/Jetpack Ads Block
  modules/shortcodes/wordads.php
  modules/wordads/wordads.php
Labels: Gutenberg, WordAds, [Block] Ad, [Status] Ready to Merge

#11315 Update Jetpack character illustration in full-screen connection banner
  images/characters.svg
Labels: Admin Page, Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#11377 Mailchimp: Hide Block If No Connection
  extensions/blocks/mailchimp/mailchimp.php
Labels: Gutenberg, Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge

#11346 WPCOM API: Change switch_likes_status post meta to be 0 if likes are being disabled
  json-endpoints/class.wpcom-json-api-post-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
  sal/class.json-api-post-base.php
Labels: Likes, Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#11383 PHPCS: Clean up a few warnings and use strict compare on array_search
  extensions/blocks/business-hours/business-hours.php
Labels: Touches WP.com Files, [Block] Business Hours, [Type] Bug

#11380 Admin Page: move Carousel settings from Performance to Writing
  _inc/client/performance/index.jsx
  _inc/client/performance/media.jsx
  _inc/client/writing/index.jsx
  _inc/client/writing/writing-media.jsx
Labels: Admin Page, Carousel, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#11295 Copy Post: Fix content for non-standard post formats.
  modules/copy-post.php
Labels: Copy a Post, Touches WP.com Files, [Status] Ready to Merge

#11385 Custom CSS: Remove redundant hook callback registration.
  modules/custom-css/custom-css-4.7.php
Labels: Custom CSS, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11390 Gutenberg Class: PHPCBF auto PHP Lint run.
  class.jetpack-gutenberg.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11389 Sync: PHPCBF auto PHP Lint run.
  sync/class.jetpack-sync-actions.php
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
  sync/class.jetpack-sync-json-deflate-array-codec.php
  sync/class.jetpack-sync-listener.php
  sync/class.jetpack-sync-module-attachments.php
  sync/class.jetpack-sync-module-callables.php
  sync/class.jetpack-sync-module-comments.php
  sync/class.jetpack-sync-module-constants.php
  sync/class.jetpack-sync-module-full-sync.php
  sync/class.jetpack-sync-module-import.php
  sync/class.jetpack-sync-module-menus.php
  sync/class.jetpack-sync-module-meta.php
  sync/class.jetpack-sync-module-network-options.php
  sync/class.jetpack-sync-module-options.php
  sync/class.jetpack-sync-module-plugins.php
  sync/class.jetpack-sync-module-posts.php
  sync/class.jetpack-sync-module-terms.php
  sync/class.jetpack-sync-module-themes.php
  sync/class.jetpack-sync-module-updates.php
  sync/class.jetpack-sync-module-users.php
  sync/class.jetpack-sync-module-woocommerce.php
  sync/class.jetpack-sync-module-wp-super-cache.php
  sync/class.jetpack-sync-module.php
  sync/class.jetpack-sync-modules.php
  sync/class.jetpack-sync-queue.php
  sync/class.jetpack-sync-sender.php
  sync/class.jetpack-sync-server.php
  sync/class.jetpack-sync-settings.php
  sync/class.jetpack-sync-simple-codec.php
  sync/class.jetpack-sync-users.php
  sync/class.jetpack-sync-wp-replicastore.php
  sync/interface.jetpack-sync-replicastore.php
Labels: Sync, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#11388 Dev domains: remove and replace by .test tld.
  class.jetpack-data.php
  tests/php/test_functions.photon.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#11341 Sync: Re-adds the fastcgi_finish_request()
  sync/class.jetpack-sync-sender.php
Labels: Sync, [Status] Needs Testing, [Status] Ready to Merge, [Type] Enhancement

#11391 Gutenberg Class: fix all phpcs warnings.
  class.jetpack-gutenberg.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11370 Publicize: Sync Classic Editor Notices with WP.com
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge

#11379 General: Add PHPCS/PHPCBF precommit hooks
  .phpcs.xml.dist
  bin/pre-commit-hook.js
  composer.json
  readme.txt
Labels: General, [Type] Enhancement

#11384 Carousel: Don't enable for Slideshow Block
  modules/carousel/jetpack-carousel.php
Labels: Carousel, Gutenberg, Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge

#11382 Sync: Add new NUX options to whitelisted options
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: NUX, Sync, [Status] Ready to Merge

#11368 Dashboard: match dotcom's new default color scheme
  _inc/client/components/forms/styles.scss
  _inc/client/components/module-settings/style.scss
  _inc/client/scss/calypso-colors.scss
  _inc/client/scss/variables/_colors.scss
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  modules/protect/blocked-login-page.php
Labels: Admin Page, [Status] Ready to Merge

#11253 Social Menus & Icons: Add Discord Support
  modules/theme-tools/social-menu/icon-functions.php
  modules/theme-tools/social-menu/social-menu.svg
  modules/widgets/social-icons.php
Labels: Theme Tools, [Status] Ready to Merge, [Type] Enhancement

#10554 Debugger: Introduce testing suite
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/debugger/0-load.php
  _inc/lib/debugger/class-jetpack-cxn-test-base.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  _inc/lib/debugger/class-jetpack-debugger.php
  class.jetpack-admin.php
  class.jetpack-cli.php
  class.jetpack-debugger.php
  class.jetpack-signature.php
  class.jetpack.php
  composer.json
  composer.lock
  jetpack.php
Labels: [Status] Ready to Merge, [Type] Enhancement

#11398 Travis: run PHP 7.3 tests globally
  .travis.yml
Labels: Unit Tests, [Pri] Low, [Status] Ready to Merge

#11339 Adding support for alt text to Jetpack_PostImages
  class.jetpack-post-images.php
  tests/php/test_class.jetpack-post-images.php
Labels: General, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#11387 Likes/Fusion: Sync jetpack-likes-settings file to wpcom again
  modules/likes/jetpack-likes-settings.php
Labels: Fusion, Likes, [Pri] Normal, [Status] Ready to Merge

#11386 Ad Gutenblock: Move code to blocks path & provide Fusion compatibility
  extensions/blocks/wordads/wordads.php
  modules/shortcodes/wordads.php
  modules/wordads/wordads.php
Labels: Gutenberg, Touches WP.com Files, WordAds, [Pri] High, [Status] Ready to Merge

#11367 Contact Info: Make the block dynamic so that we can add the schema.
  extensions/blocks/contact-info/class-jetpack-contact-info-block.php
  extensions/blocks/contact-info/contact-info.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Pri] High, [Status] Needs Review

#11329 Instagram: update embed to support new TV URLs
  modules/shortcodes/instagram.php
  tests/php/modules/shortcodes/test_class.instagram.php
Labels: Shortcodes, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#11111 Publicize / Subs: do not show pushed message for private posts
  modules/publicize/publicize.php
  modules/subscriptions.php
Labels: Publicize, Subscriptions, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#9389 Add reCaptcha support to Contact Form.
  _inc/lib/recaptcha.php
  modules/contact-form/grunion-contact-form.php
  modules/sharedaddy/recaptcha.php
  modules/sharedaddy/sharedaddy.php
  phpunit.xml.dist
  tests/php/_inc/lib/test_class.recaptcha.php
Labels: Contact Form, Touches WP.com Files, [Type] Enhancement

#11411 Contact Info block: do not use a relative path to require file.
  extensions/blocks/contact-info/contact-info.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#11400 Stats: hide the Stats's widget title SVG in Screen Options.
  _inc/client/dashboard-widget/style.scss
  class.jetpack.php
Labels: Stats, [Pri] High, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Bug

#11238 Mobile Theme: fix notice when trying to display gallery images.
  modules/minileven/theme/pub/minileven/content-gallery.php
Labels: Mobile Theme, [Pri] Low, [Type] Bug

#11394 Dashboard: update inactive card styling
  _inc/client/components/dash-item/style.scss
Labels: Admin Page, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge

#11416 Business Hours Block: adjust schema and remove current time
  extensions/blocks/business-hours/business-hours.php
Labels: Touches WP.com Files, [Block] Business Hours, [Status] Needs Review, [Type] Bug

#11414 Jetpack admin page: hide admin_notices that appear above admin area
  _inc/client/components/admin-notices/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#11350 Slideshow: Remove View-Side Dependencies
  extensions/blocks/slideshow/slideshow.php
Labels: Gutenberg, Touches WP.com Files, [Block] Slideshow, [Pri] Normal, [Status] Ready to Merge

#11402 Cron endpoint: change expected return from wp_schedule_single_event
  json-endpoints/jetpack/class.jetpack-json-api-cron-endpoint.php
Labels: Sync, WP REST API, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#11166 Mobile Theme: do not redirect to referer
  modules/minileven/minileven.php
  modules/minileven/theme/pub/minileven/footer.php
Labels: Mobile Theme, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#11401 Sharing: add alt text to OG tags and Twitter Cards
  class.jetpack-twitter-cards.php
  functions.opengraph.php
Labels: Accessibility, Publicize, Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#11409 woocommerceanalytics: Add product type to events
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Ready to Merge

#11417 Publicize: Remove Google+
  modules/publicize/assets/publicize.css
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge

#11340 Using remove_filter to remove Related Posts if block is visible
  modules/related-posts/jetpack-related-posts.php
Labels: Gutenberg, Related Posts, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge

#11403 Mailchimp: Markup Improvements
  extensions/blocks/mailchimp/mailchimp.php
Labels: Accessibility, Gutenberg, Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Enhancement

#11292 Changelog: changes for the 7.1 release
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Type] Janitorial

#11420 Jetpack Blocks: update to a new version of the blocks for 7.1
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#11326 Tiled gallery: Remove unused view dependencies
  extensions/blocks/tiled-gallery/tiled-gallery.php
Labels: Gutenberg, Performance, Tiled Galleries, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#11287 Adds a new Photon use mode that disables intermediate image sizes.
  _inc/lib/class.jetpack-photon-image-sizes.php
  _inc/lib/class.jetpack-photon-image.php
  class.json-api-endpoints.php
  class.photon.php
  functions.photon.php
Labels: Photon, Touches WP.com Files, [Pri] Normal, [Status] Has Changelog, [Status] In Progress, [Status] Ready to Merge, [Type] Enhancement

#10611 Plugin Search: Add proof of concept
  class.jetpack-options.php
  class.jetpack-tracks.php
  modules/contact-form.php
  modules/lazy-images.php
  modules/module-extras.php
  modules/module-headings.php
  modules/monitor.php
  modules/photon-cdn.php
  modules/photon.php
  modules/plugin-search.php
  modules/plugin-search/plugin-search.css
  modules/plugin-search/plugin-search.js
  modules/plugin-search/psh-128.png
  modules/plugin-search/psh-256.png
  modules/plugin-search/psh.svg
  modules/protect.php
  modules/publicize.php
  modules/related-posts.php
  modules/search.php
  modules/sharedaddy.php
  modules/vaultpress.php
  modules/videopress.php
Labels: Touches WP.com Files, [Status] Has Changelog, [Status] Needs Author Reply, [Status] Needs GDPR Review, [Type] Feature

#11422 General: update module headings.
  modules/module-headings.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#11423 Jetpack Live Branches: Do not default to launching shortlived sites
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#11426 Publicize: Remove assets directory
  modules/publicize/assets/connected.gif
  modules/publicize/assets/facebook-logo.png
  modules/publicize/assets/linkedin-logo.png
  modules/publicize/assets/publicize.css
  modules/publicize/assets/publicize.js
  modules/publicize/assets/rtl/publicize-rtl.css
  modules/publicize/assets/spinner.gif
  modules/publicize/assets/tumblr-logo.png
  modules/publicize/assets/twitter-logo.png
  tools/builder/admin-css.js
Labels: Publicize, [Status] Ready to Merge

#11419 Promo cards: update styling on Apps/Theme cards
  _inc/client/components/apps-card/style.scss
Labels: Admin Page, [Status] Design Review Complete, [Status] Ready to Merge

#11433 Photon: add Dropbox to list of banned domains.
  functions.photon.php
Labels: Photon, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11434 Business Hours: Ensure we have a valid time before rendering interval
  extensions/blocks/business-hours/business-hours.php
Labels: Touches WP.com Files, [Block] Business Hours, [Status] Ready to Merge, [Type] Bug

#11432 Contact Form: remove reCAPTCHA support
  _inc/lib/recaptcha.php
  modules/contact-form/grunion-contact-form.php
  modules/sharedaddy/recaptcha.php
  modules/sharedaddy/sharedaddy.php
  phpunit.xml.dist
  readme.txt
  tests/php/modules/sharedaddy/test_class.recaptcha.php
  to-test.md
Labels: Contact Form, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge

#11424 Plugin search hints: various fixes and enhancements
  modules/plugin-search.php
  modules/vaultpress.php
Labels: Needs GDPR Review, Plugin Search Hints, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#11444 Photon: update module name to use the new naming convention
  modules/module-headings.php
  modules/photon.php
Labels: Photon, [Status] Ready to Merge, [Type] Janitorial

#11439 Docker: install Gutenberg and Gutenberg debugger by default
  docker/bin/install.sh
Labels: Docker, [Pri] Low, [Status] Ready to Merge
