Repository Automattic/jetpack, pull requests merged in 2019-07, with the labels that each got.

#12806 7.5 Changelog: Updates during the Beta period
  readme.txt
Labels: [Pri] BLOCKER, [Status] In Progress, [Status] Needs Cherry-Pick, [Type] Janitorial

#12912 Amin Page: Rename Tracks event prop for akismet feature to be anti-spam for activation and installation buttons
  _inc/client/at-a-glance/akismet.jsx
Labels: Admin Page, Anti-Spam, [Status] Ready to Merge

#12911 Fix a typo
  readme.txt
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#12916 Admin: fix console warning due to undefined props
  _inc/client/components/upgrade-link/README.md
  _inc/client/components/upgrade-link/index.jsx
  _inc/client/my-plan/my-plan-header/index.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#12919 Disable instagram tests for now
  tests/php/modules/shortcodes/test-class.instagram.php
Labels: Touches WP.com Files, Unit Tests, [Status] Ready to Merge

#12882 E2E tests: Add mailchimp block test
  tests/e2e/config/encrypted.enc
  tests/e2e/lib/blocks/mailchimp.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/wpcom/connections.js
  tests/e2e/lib/pages/wpcom/login.js
  tests/e2e/specs/mailchimp.test.js
Labels: [Block] Mailchimp, [Status] Ready to Merge, [Type] Janitorial

#12931 Update versions for 7.5.1
  jetpack.php
  package.json
  readme.txt
Labels: Touches WP.com Files, [Status] Needs GDPR Review, [Status] Needs Review, [Type] Janitorial

#12930 Jetpack DNA: Register Jetpack autoloader in uninstall.php
  uninstall.php
Labels: Jetpack DNA, [Type] Bug

#12923 Avoid running these functions on commit
  packages/compat/functions.php
Labels: Jetpack DNA, [Status] Ready to Merge, [Type] Bug

#12909 Remove e2e test code that purchases the Jetpack plan twice in a row
  tests/e2e/lib/pages/wpcom/checkout.js
Labels: [Status] Needs Review

#12938 IDC: use correct namespace when calling Jetpack Logo
  class.jetpack-idc.php
Labels: General, Jetpack DNA, [Pri] High, [Status] Ready to Merge, [Type] Bug

#12902 E2E Tests: Extend README
  tests/e2e/README.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#12939 General: start 7.6 release cycle.
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Type] Janitorial

#12928 Sync: ensure we can calculate a histogram for terms
  packages/sync/src/Defaults.php
  packages/sync/src/Replicastore.php
Labels: Sync, [Status] Needs Review

#12943 Don't exit if ABSPATH is not defined
  packages/compat/functions.php
Labels: [Status] Needs Review, [Type] Bug

#12917 Sync: Use Status::is_development_mode() instead of the Jetpack one
  composer.lock
  packages/sync/composer.json
  packages/sync/src/Actions.php
Labels: Jetpack DNA, Sync, [Status] Needs Review

#12922 Tests: Cleanup any obsolete PHP 5.2 remnants
  tests/php/_inc/lib/test_class.rest-api-authentication.php
  tests/php/core-api/test_class.jetpack-core-api-module-endpoints.php
  tests/php/core-api/test_class.jetpack-core-api-xmlrpc-consumer-endpoint.php
  tests/php/json-api/test-class.json-api-jetpack-endpoints.php
  tests/php/json-api/test-class.json-api-plugins-endpoints.php
  tests/php/media/test-class.jetpack-media-extractor.php
  tests/php/sync/anonymous_function_test_for_register_post_types_callback_error.php
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-plugins-updates.php
  tests/php/sync/test_class.jetpack-sync-plugins.php
  tests/php/sync/test_interface.jetpack-sync-codec.php
  tests/php/sync/test_interface.jetpack-sync-replicastore.php
  tests/php/test_class.jetpack_photon.php
Labels: Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12933 Blocks: Always return a site slug from getSiteFragment()
  extensions/shared/get-site-fragment.js
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#12920 Status: Port Jetpack::is_multi_network() and add tests
  packages/status/src/Status.php
  packages/status/tests/php/test_Status.php
Labels: General, Jetpack DNA, [Status] Needs Review

#12948 Connection Manager: Prevent notice on empty Jetpack blog token
  packages/connection/src/Manager.php
  tests/php/general/test_class.jetpack-data.php
Labels: Sync, [Status] Ready to Merge

#12941 General: update PHP requirements to match 7.5.1 release
  jetpack.php
  readme.txt
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#12955 Jetpack DNA: Fix errors and finish Status package README
  packages/status/README.md
Labels: Docs, Jetpack DNA, [Pri] Low, [Status] Ready to Merge

#12957 Sync: Implement term taxonomy blacklist
  packages/sync/src/Defaults.php
  packages/sync/src/Replicastore.php
  packages/sync/src/Settings.php
  packages/sync/src/modules/Terms.php
  tests/php/sync/test_class.jetpack-sync-terms.php
Labels: Sync, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#12932 My Plan: fix button that activates VideoPress
  _inc/client/my-plan/my-plan-body.jsx
Labels: Admin Page, VideoPress, [Status] Ready to Merge

#12945 Git hooks: Mark commits that skipped a pre-commit hook
  bin/pre-commit-hook.js
  bin/prepare-commit-msg.js
  dangerfile.js
  package.json
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#12867 Mobile: Hide edit post link in content
  class.jetpack.php
Labels: General, [Status] Ready to Merge, [Status] Tested on WP.com

#12823 Blocks: Show Blocks if they're missing a plan, add Upgrade Nudge
  class.jetpack-gutenberg.php
  extensions/shared/get-jetpack-extension-availability.js
  extensions/shared/register-jetpack-block.js
  extensions/shared/upgrade-nudge/index.jsx
  extensions/shared/upgrade-nudge/store.js
  extensions/shared/upgrade-nudge/style.scss
  extensions/shared/wrap-paid-block/index.jsx
  extensions/shared/wrap-paid-block/style.scss
  modules/simple-payments/simple-payments.php
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Needs Review

#12960 Docker: Add yarn command for updating Core unit tests
  package.json
Labels: Docker, Touches WP.com Files, [Status] Ready to Merge

#12947 Travis: Run php:compatibility check
  _inc/lib/class.jetpack-automatic-install-skin.php
  composer.json
  tests/run-travis.sh
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12956 Jetpack DNA: Port Jetpack::is_single_user_site and add tests
  packages/status/README.md
  packages/status/src/Status.php
  packages/status/tests/php/test_Status.php
Labels: General, Jetpack DNA, [Status] Needs Review

#12951 Sync: allow terms module to return term by id
  packages/sync/src/Replicastore.php
  packages/sync/src/modules/Terms.php
  tests/php/sync/test_class.jetpack-sync-terms.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#12953 Jetpack DNA: Introduce a Roles package
  packages/roles/README.md
  packages/roles/composer.json
  packages/roles/phpunit.xml.dist
  packages/roles/src/Roles.php
  packages/roles/tests/php/bootstrap.php
  packages/roles/tests/php/test_Roles.php
Labels: General, Jetpack DNA, [Status] Needs Review

#12950 Plans: Always overwrite jetpack_active_plan option when updating from /site response
  class.jetpack-plan.php
Labels: Plans, [Status] Needs Review, [Type] Enhancement

#12952 Sync: Use Status::is_multi_network instead of the Jetpack one
  packages/sync/src/Defaults.php
Labels: Jetpack DNA, Sync, [Status] Needs Review

#12905 Travis CI: Explicitly mention multisite running on master WP
  .travis.yml
  tests/run-travis.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#12971 Sync: Return term even when taxonomy isn't registered
  packages/sync/src/modules/Terms.php
Labels: Sync, [Status] Needs Review

#12810 My Plan: Free upgrade tracking
  _inc/client/my-plan/my-plan-header/index.js
Labels: Admin Page, Plans, Tracks, [Status] Needs Author Reply

#12998 Sync: Fix PHPCS errors in WP Super Cache module
  packages/sync/src/modules/WP_Super_Cache.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12997 Sync: Fix PHPCS errors in WooCommerce module
  packages/sync/src/modules/WooCommerce.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#12996 Sync: Fix PHPCS errors in Users module
  packages/sync/src/modules/Users.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#12994 Sync: Fix PHPCS errors in Themes module
  packages/sync/src/modules/Themes.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#12992 Sync: Fix PHPCS errors in Stats module
  packages/sync/src/modules/Stats.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#12963 Upgrade Nudge: Fix Styling by using `@wordpress/editor`'s `Warning` component
  extensions/shared/styles/gutenberg-variables.scss
  extensions/shared/upgrade-nudge/index.jsx
  extensions/shared/upgrade-nudge/style.scss
  extensions/shared/wrap-paid-block/index.jsx
  extensions/shared/wrap-paid-block/style.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#12989 Sync: Fix PHPCS errors in Plugins module
  packages/sync/src/modules/Plugins.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#12993 Sync: Fix PHPCS errors in Terms module
  packages/sync/src/modules/Terms.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12991 Sync: Fix PHPCS errors in Protect module
  packages/sync/src/modules/Protect.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12990 Sync: Fix PHPCS errors in Posts module
  packages/sync/src/modules/Posts.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12987 Sync: Fix PHPCS errors in Network Options module
  packages/sync/src/modules/Network_Options.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12986 Sync: Fix PHPCS errors in base module
  packages/sync/src/modules/Module.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12985 Sync: Fix PHPCS errors in Meta module
  packages/sync/src/modules/Meta.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12984 Sync: Fix PHPCS errors in Menus module
  packages/sync/src/modules/Menus.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12983 Sync: Fix PHPCS errors in Import module
  packages/sync/src/modules/Import.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12982 Sync: Fix PHPCS errors in Full Sync module
  packages/sync/src/modules/Full_Sync.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12981 Sync: Fix PHPCS errors in Constants sync module
  packages/sync/src/modules/Constants.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12980 Sync: Fix PHPCS errors in Comments sync module
  packages/sync/src/modules/Comments.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12979 Sync: Fix PHPCS errors in Callables sync module
  packages/sync/src/modules/Callables.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12978 Sync: Fix PHPCS errors in Attachments sync module
  packages/sync/src/modules/Attachments.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12967 Jetpack DNA: Update sync to use the Roles package
  composer.lock
  packages/sync/composer.json
  packages/sync/src/Listener.php
  packages/sync/src/Users.php
  packages/sync/src/modules/Posts.php
  tests/php/sync/test_class.jetpack-sync-listener.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Jetpack DNA, Sync, [Status] Needs Review

#12995 Sync: Fix PHPCS errors in Updates module
  packages/sync/src/modules/Updates.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12988 Sync: Fix PHPCS errors in Options module
  packages/sync/src/modules/Options.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#12969 Sync: Improve the taxonomies blacklist by adding more conflicting ones
  packages/sync/src/Defaults.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#13010 Jetpack Options: add a readme
  packages/options/README.md
Labels: Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13021 Docker: Remove Gutenberg and debugger plugins from the install script
  docker/bin/install.sh
Labels: Docker, Gutenberg, [Status] Needs Review, [Type] Janitorial

#13023 PHPCS: Bumping the minimum version for phpcs to 5.6
  .phpcs.xml.dist
Labels: [Status] Needs Review, [Type] Janitorial

#13034 Add the missing use declaration to the compat layer file.
  packages/compat/legacy/class.jetpack-sync-actions.php
  packages/compat/legacy/class.jetpack-sync-modules.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Bug

#13019 Paid Blocks Nudge: Fix Border by Injecting has-warning Style
  extensions/shared/register-jetpack-block.js
  extensions/shared/with-has-warning-is-interactive-class-names/index.jsx
  extensions/shared/with-has-warning-is-interactive-class-names/style.scss
  extensions/shared/wrap-paid-block.jsx
  extensions/shared/wrap-paid-block/style.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#13024 Sync: Fixes phpcs errors for `packages/sync/modules.php`
  packages/sync/src/Modules.php
Labels: Sync, [Status] Needs Review, [Type] Janitorial

#13018 Sync: Fix PHPCS errors in Utils
  packages/sync/src/Utils.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13017 Sync: Migrate to use is_active() from the connection package
  packages/sync/composer.json
  packages/sync/src/Actions.php
  packages/sync/src/Users.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Enhancement

#13004 Upgrade Nudge: Autosave upon Upgrade Button click
  extensions/shared/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#12935 Sync: Move is_function_in_backtrace to Users sync module
  class.jetpack.php
  packages/sync/src/modules/Users.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13041 Sync: Migrate to use is_user_connected() from the conn package
  packages/sync/src/Users.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Enhancement

#13012 Fixed a typo in the mobile magic links modal
  _inc/client/components/mobile-magic-link/index.jsx
Labels: Admin Page, [Status] Ready to Merge

#12970 Fix prepare-commit-msg hook when file is missing
  bin/prepare-commit-msg.js
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#13042 Build Tools: Remove Unused Gulp Packages
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#13047 Connection Package: Create a readme
  packages/connection/README.md
Labels: Docs, Jetpack DNA, [Status] Needs Review, [Type] Janitorial

#13053 Sync: Fix PHPCS errors in Sender
  packages/sync/src/Sender.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#13052 Sync: Fix PHPCS errors in Server
  packages/sync/src/Server.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13051 Sync: Fix PHPCS errors in Settings
  packages/sync/src/Settings.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13050 Sync: Fix PHPCS errors in Simple Codec
  packages/sync/src/Simple_Codec.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13049 Sync: Fix PHPCS errors in Users
  packages/sync/src/Users.php
Labels: Jetpack DNA, Sync, [Status] Needs Review, [Type] Janitorial

#13061 Update lodash dependency
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Needs Review

#13045 Build: Use `fancy-log` directly instead of `gulp-util`
  tools/builder/admin-css.js
  tools/builder/frontend-css.js
Labels: Build, [Status] Ready to Merge

#13043 Add smoke tests for deprecated methods.
  tests/php/test_deprecation.php
Labels: Unit Tests, [Status] Needs Review, [Type] Enhancement

#13058 Fixes de/activation hooks that didn't work.
  jetpack.php
  load-jetpack.php
Labels: General, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#13064 Added changelog for 7.5.3.
  readme.txt
Labels: General, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#12965 Premium block flows: add tracks event
  class.jetpack-gutenberg.php
  extensions/editor.js
  extensions/shared/upgrade-nudge/index.jsx
  extensions/shared/wrap-paid-block.jsx
Labels: Gutenberg, Touches WP.com Files, Tracks, [Pri] High, [Status] Needs Review

#13066 Update Dependencies
  _inc/client/traffic/verification-services/google.jsx
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#12796 Fix/9754 seo verbiage copy sprint
  _inc/client/components/settings-card/index.jsx
  _inc/client/traffic/seo.jsx
Labels: Admin Page, SEO Tools, [Status] Needs Review

#12974 Carousel: Add Pointer Cursor to Gallery
  modules/carousel/jetpack-carousel.css
  modules/carousel/rtl/jetpack-carousel-rtl.css
Labels: Carousel, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#13056 Roles: Use roles package everywhere, deprecate legacy methods
  _inc/class.jetpack-provision.php
  class.jetpack-client-server.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  composer.json
  composer.lock
  modules/sso.php
Labels: General, Jetpack DNA, [Status] Ready to Merge, [Type] Enhancement

#13069 Build: Replace Old Packages
  gulpfile.babel.js
  package.json
  tools/builder/admin-css.js
  tools/builder/frontend-css.js
  tools/builder/react.js
  tools/builder/sass.js
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#12815 Theme enhancements copy changes
  _inc/client/writing/theme-enhancements.jsx
Labels: Admin Page, Infinite Scroll, Mobile Theme, [Status] Ready to Merge

#13059 Custom CSS: Media Width label misaligned in Firefox
  modules/custom-css/custom-css/css/customizer-control.css
Labels: Custom CSS, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#13025 E2E Tests: Try to fix some e2e issues
  tests/e2e/lib/blocks/mailchimp.js
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/jest.test.failure.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/page.js
  tests/e2e/lib/pages/wp-admin/login.js
  tests/e2e/lib/pages/wpcom/login.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#13062 Sync: Fix PHPCS errors in Actions
  packages/sync/src/Actions.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#13044 Build: Update gulp-clean-css to 4.2.0
  modules/custom-css/csstidy/cssparse.css
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#13071 Use single Gridicon
  extensions/shared/upgrade-nudge/index.jsx
Labels: Build, Gutenberg, Performance, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#13075 Upgrade nudge: Improve theme style leaking in
  extensions/shared/upgrade-nudge/index.jsx
  extensions/shared/upgrade-nudge/style.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge

#13076 Upgrade nudge: Use spans for layout - divs are invalid p descendent
  extensions/shared/upgrade-nudge/index.jsx
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13080 Unit Tests: Fix WooCommerce tests bootstrap
  tests/php/sync/test_class.jetpack-sync-woocommerce.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Bug

#13079 Sync: listen for status changes on Woo product reviews
  packages/sync/src/modules/Comments.php
  packages/sync/src/modules/WooCommerce.php
  tests/php/sync/test_class.jetpack-sync-comments.php
  tests/php/sync/test_class.jetpack-sync-woocommerce.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#13015 Allow syncing of home option via WP-CLI
  packages/sync/src/modules/Callables.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#12959 Hosting Partners: Provisioning script can now send SSH credentials.
  bin/partner-provision.sh
Labels: Jetpack Start, [Status] Ready to Merge

#12954 oEmbeds: add support for Song.link
  class.jetpack.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, [Type] Enhancement

#12977 Contact Form AMP Support
  modules/contact-form/grunion-contact-form.php
Labels: AMP, Contact Form, Touches WP.com Files, [Status] Ready to Merge

#11915 Replace jshint with eslint
  gulpfile.babel.js
  modules/.eslintrc.js
  modules/infinite-scroll/infinity.js
  modules/photon/photon.js
  modules/shortcodes/js/jmpress.js
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13087 At a Glance Upgrade Banners - changed them to grow vertically
  _inc/client/at-a-glance/style.scss
Labels: Admin Page, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13088 Sync: Fix PHPCS errors in Codec interface
  packages/sync/src/Codec_Interface.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Type] Janitorial

#13101 Sync: Fix remaining PHPCS errors in sync modules
  packages/sync/src/modules/Callables.php
  packages/sync/src/modules/Users.php
Labels: Sync, [Status] Ready to Merge, [Type] Janitorial

#13098 Sync: Fix PHPCS errors in the Replicastore
  packages/sync/src/Replicastore.php
Labels: Sync, [Status] Ready to Merge, [Type] Janitorial

#13099 Sync: Fix PHPCS errors in the Replicastore Interface
  packages/sync/src/Replicastore_Interface.php
Labels: Sync, [Status] Ready to Merge, [Type] Janitorial

#13100 Sync: Fix PHPCS errors in the Queue_Buffer
  packages/sync/src/Queue_Buffer.php
Labels: Sync, [Status] Ready to Merge, [Type] Janitorial

#13104 Sync Callables that should be always sent on WP_CLI
  packages/sync/src/modules/Callables.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#12741 Instant Search: Add initial framework
  .gitignore
  _inc/search/components/api.js
  _inc/search/components/search-result.jsx
  _inc/search/components/search-results.jsx
  _inc/search/components/search-widget.jsx
  _inc/search/src/index.jsx
  modules/search/class.jetpack-search.php
  package.json
  webpack.config.js
  yarn.lock
Labels: Search, Touches WP.com Files, [Status] Needs Review

#13065 Upgrade nudge: Update copy
  extensions/shared/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Task

#13054 Extensions: Fix upgrade nudge when loading data
  extensions/shared/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge

#13067 Sync: ensure we can calculate a histogram for term_taxonomy
  packages/sync/src/Defaults.php
  packages/sync/src/Replicastore.php
  packages/sync/src/modules/Terms.php
  tests/php/sync/test_class.jetpack-sync-terms.php
Labels: Sync, [Status] Needs Review

#12830 Sync: add Action Scheduler to the list of blacklisted post types
  packages/sync/src/Defaults.php
Labels: Sync, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13083 Fixed variable name to the defined one.
  packages/analyzer/src/Differences/Class_Moved.php
Labels: Jetpack DNA, [Status] Ready to Merge, [Type] Bug

#13125 Sync: get checksum for term_relationships table
  packages/sync/src/Defaults.php
  packages/sync/src/Replicastore.php
Labels: Sync, [Status] Needs Review

#13122 wpcom block editor: add missing wp deps
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#13132 Sync certain options updated via WPCLI instantly
  packages/sync/src/Actions.php
  packages/sync/src/modules/Callables.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#13116 Support links: use the Beta support form when on a dev version
  _inc/client/components/jetpack-notices/feedback-dash-request.jsx
  _inc/client/components/support-card/index.jsx
  _inc/lib/debugger/class-jetpack-debug-data.php
  _inc/lib/debugger/class-jetpack-debugger.php
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#13102 Save a post revision when overwriting an old autosave with a significantly different new one
  json-endpoints/class.wpcom-json-api-autosave-post-v1-1-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#13117 Top Posts: allow one to customize avatar image options w/ filter
  modules/widgets/top-posts.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#12999 Simplify stats graph to use <img> tag
  modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Enhancement

#13110 Remove parentheses from list table view counts when Calypsofying.
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Status] Ready to Merge

#13129 Update calypsoify menu colors to match calypso
  modules/calypsoify/style.scss
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#12926 Ensure core video block deprecations cannot be overriden
  extensions/blocks/videopress/editor.js
Labels: Gutenberg, Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Bug

#12958 AMP Compatibility: Remove social share CSS
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#13142 Unit Tests: Update check_authentication signature
  tests/php/_inc/lib/test_class.rest-api-authentication.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#13077 Sync: Full sync the term relationships
  packages/sync/src/Modules.php
  packages/sync/src/modules/Module.php
  packages/sync/src/modules/Term_Relationships.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-term-relationships.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#13133 Sync: allow WordPress.com to fetch out-of-sync term relationships.
  packages/sync/src/Replicastore.php
  packages/sync/src/modules/Terms.php
Labels: Sync, [Status] Needs Author Reply

#13124 Sync: Update Close Buffer Endpoint
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  packages/sync/src/Queue.php
Labels: Sync, WPCOM API, [Status] Needs Review

#12821 Improve AMP support for Photon
  3rd-party/class.jetpack-amp-support.php
  class.photon.php
  tests/php/test_class.jetpack_photon.php
Labels: AMP, Photon, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#13028 Enable related posts for AMP
  modules/related-posts/jetpack-related-posts.php
Labels: AMP, Related Posts, Touches WP.com Files, [Status] Ready to Merge

#13140 Added missing quote mark for input’s class attribute value
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#13139 Connection: Instantiate the XML-RPC Connector after adding Bootstrap Methods
  class.jetpack.php
  tests/php/general/test_class.jetpack.php
Labels: Connect Flow, [Status] Needs Review

#13120 Flickr Widget: Adds option to open Flickr images in a new tab
  modules/widgets/flickr.php
  modules/widgets/flickr/form.php
Labels: Extra Sidebar Widgets, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13143 Build / JITM: move assets inside package and build all CSS when building plugin
  .svnignore
  gulpfile.babel.js
  packages/jitm/assets/jetpack-admin-jitm-rtl.css
  packages/jitm/assets/jetpack-admin-jitm-rtl.min.css
  packages/jitm/assets/jetpack-admin-jitm.css
  packages/jitm/assets/jetpack-admin-jitm.min.css
  packages/jitm/assets/jetpack-admin-jitm.scss
  packages/jitm/src/JITM.php
  tools/builder/sass.js
Labels: Build, Internationalization, JITM, Jetpack DNA, [Pri] High, [Status] Ready to Merge, [Type] Bug

#13147 Stats: Use Transient API to Improve Cache Performance
  class.jetpack.php
  modules/stats.php
  packages/options/legacy/class.jetpack-options.php
Labels: [Pri] High, [Status] Needs Testing, [Status] Ready to Merge, [Type] Bug

#12940 7.6: running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#13150 Moved the WordPress i18n library dependency to regular dependencies.
  package.json
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#13152 Testing list: fix typo
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#13151 JSHint: Remove leftover comments/config files
  .github/codeclimate-base.yml
  .jshintignore
  .jshintrc
  .svnignore
  _inc/polldaddy-shortcode.js
  _inc/twitter-timeline.js
  bin/pre-commit-hook.js
  modules/carousel/jetpack-carousel.js
  modules/contact-form/js/grunion.js
  modules/custom-css/custom-css/js/css-editor.js
  modules/custom-css/custom-css/js/use-codemirror.js
  modules/custom-post-types/comics/comics.js
  modules/custom-post-types/js/many-items.js
  modules/custom-post-types/js/menu-checkboxes.js
  modules/custom-post-types/js/nova-drag-drop.js
  modules/lazy-images/js/lazy-images.js
  modules/likes/post-count.js
  modules/photon/photon.js
  modules/related-posts/related-posts.js
  modules/sharedaddy/admin-sharing.js
  modules/sharedaddy/sharing.js
  modules/shortcodes/js/recipes-printthis.js
  modules/shortcodes/js/slideshow-shortcode.js
  modules/simple-payments/paypal-express-checkout.js
  modules/tiled-gallery/tiled-gallery/tiled-gallery.js
  modules/widget-visibility/widget-conditions/widget-conditions.js
  modules/widgets/gallery/js/admin.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13153 Style related posts on AMP Reader Mode
  modules/related-posts/jetpack-related-posts.php
  modules/related-posts/related-posts.css
Labels: AMP, Related Posts, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug
