Repository Automattic/jetpack, pull requests merged in 2019-01, with the labels that each got.

#11049 Related Posts: Remove unused var
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Status] Ready to Merge

#11050 Related Posts: Dynamically infer blog ID
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Status] Ready to Merge

#10880 Resp. videos: don't load if theme supports core responsive embeds
  modules/theme-tools/responsive-videos.php
Labels: Gutenberg, Theme Tools, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#9359 Widget: Added option to set DoNotTrack in Twitter Timeline Widget
  modules/widgets/twitter-timeline.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11059 PHP 7.3: Fix PHP Warning: "continue"
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#10985 Gutenberg: adds feature content support
  modules/theme-tools/featured-content.php
Labels: Gutenberg, Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#11037 Use the Comment Blacklist to check Contact Form submissions for spam.
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Needs Unit Tests, [Status] Ready to Merge

#11070 Danger: Update deprecated API method
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#11067 Travis: run master tests from master instead of the 5.0 branch
  tests/setup-travis.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#11061 Tiled Galleries: do not rely on the Tiled Gallery module.
  modules/blocks.php
  modules/tiled-gallery/tiled-gallery.php
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11043 Tiled gallery block: add wp-blob dependency
  class.jetpack-gutenberg.php
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge

#10755 Sharing: update Tumblr official sharing button.
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11072 Connection banner color update: changing red to green as not to scare people
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#11060 Carousel: add support for the new Tiled Gallery block.
  modules/blocks.php
  modules/carousel/jetpack-carousel.js
  modules/carousel/jetpack-carousel.php
Labels: Carousel, Gutenberg, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11000 Post Images: add new method to detect images from Gutenberg blocks
  class.jetpack-post-images.php
  tests/php/test_class.jetpack-post-images.php
Labels: Gutenberg, Publicize, Related Posts, Sharing, Touches WP.com Files, [Status] Needs Testing, [Status] Ready to Merge, [Type] Bug

#10786 Fix WooCommerce comment type handling in the API
  class.json-api.php
  json-endpoints/class.wpcom-json-api-get-comment-counts-endpoint.php
  json-endpoints/class.wpcom-json-api-list-comments-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#10945 Fix checks for serving AMP response and improve AMP compatibility
  3rd-party/class.jetpack-amp-support.php
  modules/carousel/jetpack-carousel.php
  modules/comment-likes.php
  modules/lazy-images/lazy-images.php
  modules/likes.php
  modules/masterbar.php
  modules/stats.php
  modules/widgets/milestone/milestone.php
Labels: AMP, Stats, Touches WP.com Files, [Status] Needs Testing, [Type] Bug

#11023 Refactor subscriptions code so it can be used in Fusion
  modules/subscriptions.php
  modules/subscriptions/readme.md
  modules/subscriptions/views.php
Labels: Fusion, Subscriptions, [Status] Ready to Merge, [Type] Janitorial

#11077 Blocks: update to latest version for Jetpack 6.9 Beta
  package.json
  yarn.lock
Labels: [Type] Janitorial

#11079 Build process: new npm module that allows gulp-uglify to process es6
  package.json
  tools/builder/react.js
  yarn.lock
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#11080 JS Minification: do not rename files when minificating
  tools/builder/react.js
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#11075 Jetpack Gutenberg: Kill `$default_blocks` with :fire:
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11085 SVN: remove the renovate config file from SVN.
  .svnignore
Labels: [Status] Ready to Merge, [Type] Janitorial

#10597 Introduce Mailchimp Shortcode
  class.jetpack-gutenberg.php
  modules/shortcodes/css/jetpack-email-subscribe.css
  modules/shortcodes/email-subscribe.php
  modules/shortcodes/js/jetpack-email-subscribe.js
Labels: Gutenberg, Shortcodes, Touches WP.com Files, [Pri] High, [Status] Has Changelog, [Status] Ready to Merge, [Type] Feature

#11087 JITM: make sure no JITMs can ever be displayed at the same time.
  _inc/jetpack-jitm.js
Labels: JITM, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#11096 Gutenberg/Publicize: Don't enqueue social logos anymore
  class.jetpack-gutenberg.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11103 Lazy Images: Also check that HTML element has js class as a fallback for our class being overridden
  modules/lazy-images/lazy-images.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Bug

#11104 Revert "Jetpack Gutenberg: Kill `$default_blocks` with :fire:"
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11108 Ensure the subscription form respects whether to show subscriber count
  modules/subscriptions/views.php
Labels: Gutenberg, [Block] Subscriptions, [Status] Ready to Merge, [Type] Bug

#11105 Connection banner: display banner inside React page.
  _inc/client/main.jsx
  class.jetpack-connection-banner.php
  scss/organisms/_banners.scss
Labels: Admin Page, Connect Flow, [Type] Bug

#11086 Subscriptions: small refactor to be compatible with wpcom
  modules/subscriptions/views.php
Labels: Fusion, Subscriptions, [Block] Subscriptions, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#11102 Contact Form Block: Add parent field to child blocks
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11119 Blocks: update to latest version of blocks for 6.9 release
  package.json
  yarn.lock
Labels: [Status] Needs Review, [Type] Janitorial

#11117 Update Jetpack version numbers to start 7.0 cycle
  jetpack.php
  package.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#11121 Docs: fix version number used for new filter.
  class.jetpack-gutenberg.php
Labels: Docs, Touches WP.com Files, [Type] Janitorial

#10990 Search: Re-use should_handle_query filter elsewhere in class.
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11084 Admin: make sure the scan text is in italic, like everywhere else
  _inc/client/at-a-glance/scan.jsx
Labels: Admin Page, Vault, [Status] Ready to Merge, [Type] Bug

#11163 Publicize: Include Verbiage Enhancements
  _inc/client/sharing/publicize.jsx
Labels: Publicize, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#11158 Like Button Settings: Include Verbiage Enhancements
  _inc/client/sharing/likes.jsx
Labels: Admin Page, Likes, [Status] Design Review Complete, [Status] Ready to Merge

#11168 Notices: Add a site blacklisted notice
  _inc/client/components/jetpack-notices/state-notices.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#11139 Admin Page: avoid PHP notices when looking at non-JP admin pages.
  _inc/lib/admin-pages/class.jetpack-admin-page.php
Labels: Admin Page, Connect Flow, [Status] Ready to Merge, [Type] Bug

#11178 Contact Form Submissions: Break Words
  modules/contact-form/css/grunion.css
Labels: Contact Form, Touches WP.com Files, [Status] Design Review Complete, [Type] Enhancement

#11161 Maps Block: Fix typos in copy of API endpoint
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
Labels: Touches WP.com Files, WP REST API, [Block] Map

#11173 Shortcode: Cache Twitter output
  modules/shortcodes/tweet.php
Labels: Performance, Shortcodes, [Status] Ready to Merge, [Type] Enhancement

#11172 Jetpack_Gutenberg: Use new jetpack_register_gutenberg_extensions action for availability
  class.jetpack-gutenberg.php
  modules/publicize/publicize.php
  modules/simple-payments/simple-payments.php
Labels: Gutenberg, Publicize, Simple Payments, Touches WP.com Files, [Status] Needs Review

#11155 Sync: Plugin and Theme updates should only be sent once
  sync/class.jetpack-sync-module-updates.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-updates.php
Labels: Activity Log, Sync

#11153 Apply fixed position to carousel overlay
  modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Status] Design Polish, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#11146 Sync: add fastcgi finish request to sync
  sync/class.jetpack-sync-sender.php
Labels: Sync

#11094 Sync: Consider whitelisted option filters
  sync/class.jetpack-sync-defaults.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#10989 Giphy Block Registration
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Giphy

#11183 Notices: Update blacklisted notice copy
  _inc/client/components/jetpack-notices/state-notices.jsx
Labels: Admin Page, [Pri] Low, [Type] Enhancement

#10951 Publicize: Deprecate Google+
  modules/module-info.php
  modules/publicize.php
  modules/publicize/assets/publicize.css
  modules/publicize/publicize.php
  modules/publicize/ui.php
Labels: Publicize, Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Design Review

#11204 Sync: Add tests for Jetpack_Sync_Defaults::is_whitelisted_option
  tests/php/sync/test_class.jetpack-sync-defaults.php
Labels: Sync, Unit Tests, [Status] Ready to Merge

#10237 Sync: Plugin action links set on current_screen instead of admin_init
  sync/class.jetpack-sync-module-callables.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, [Type] Bug

#11133 Plans: Make sure the option we store plan info in is autoloaded in the single autoload options query when not in the cache.
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack.php
Labels: Plans, [Status] Ready to Merge

#11177 API: Endpoint to allow setting WooCommerce access token and secret via secure endpoint
  json-endpoints/jetpack/class.jetpack-json-api-jps-woocommerce-connect-endpoint.php
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: Jetpack Start, WPCOM API

#11159 Eliminate obsolete polyfill script in Subscriptions widget
  modules/subscriptions/subscriptions.css
  modules/subscriptions/views.php
Labels: AMP, Subscriptions, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#11149 Subscriptions: display the checkboxes for logged in users too.
  modules/subscriptions.php
  modules/subscriptions/subscriptions.css
Labels: Subscriptions, [Status] Ready to Merge, [Type] Bug

#10988 Gutenpack: Adds the contact info blocks
  modules/blocks.php
  sync/class.jetpack-sync-defaults.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Status] Needs Testing

#11182 Shorten publicize message about Facebook Page restrictions
  modules/publicize/publicize.php
Labels: Publicize, Touches WP.com Files, [Type] Dotcom Merge

#11211 Calypsoify: Fix a typo in the top comment block
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Status] Needs Review, [Type] Janitorial

#11200 Sharing: Deprecate Google+ Sharing Button
  _inc/lib/class.core-rest-api-endpoints.php
  modules/sharedaddy.php
  modules/sharedaddy/admin-sharing.css
  modules/sharedaddy/admin-sharing.js
  modules/sharedaddy/images/googleplus1.png
  modules/sharedaddy/images/googleplus1@2x.png
  modules/sharedaddy/images/icon-googleplus-2x.png
  modules/sharedaddy/images/icon-googleplus.png
  modules/sharedaddy/images/smart-googleplus1.png
  modules/sharedaddy/images/smart-googleplus1@2x.png
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing-sources.php
  modules/sharedaddy/sharing.css
  modules/sharedaddy/sharing.js
  modules/sharedaddy/sharing.php
Labels: Google+, Sharing, Touches WP.com Files, [Status] Needs Changelog, [Status] Needs Copy, [Status] Needs Design Review, [Status] Needs Testing

#11214 GIF: Caption Styling Fixes
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Giphy, [Status] Ready to Merge

#11195 AMP: move checks for AMP requests later, inside modules.
  3rd-party/class.jetpack-amp-support.php
  class.jetpack.php
  modules/carousel/jetpack-carousel.php
  modules/lazy-images/lazy-images.php
  modules/sharedaddy/sharing-service.php
Labels: AMP, Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Review, [Type] Bug

#11124 Subscription block use new button component
  modules/subscriptions/views.php
Labels: Gutenberg, Touches WP.com Files, [Block] Subscriptions

#11209 Shortcodes: Deprecate Google+ Shortcode/Embed
  modules/shortcodes.php
  modules/shortcodes/googleplus.php
Labels: Google+, Shortcodes, Touches WP.com Files, [Status] Ready to Merge

#10602 Protect: jpp_math_pass cookie and transient after generate_math_page form submit
  modules/protect.php
  modules/protect/math-fallback.php
Labels: Protect, [Status] Ready to Merge, [Type] Bug

#11216 Contact Info block: register child blocks as so.
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Status] Needs Review, [Type] Bug

#11189 Multisite: fix the display of the main connection banner.
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  views/admin/must-connect-main-blog.php
Labels: Multisite, [Pri] High, [Status] Ready to Merge, [Type] Bug

#11069 Give contact form submit button inline block styling
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge

#11128 Mailchimp: only load CSS when needed.
  class.jetpack.php
  modules/shortcodes/email-subscribe.php
  modules/simple-payments/simple-payments.php
  tools/builder/frontend-css.js
Labels: Gutenberg, Shortcodes, Touches WP.com Files, [Block] Mailchimp, [Pri] High, [Type] Bug

#11170 Publicize: shortcircuit API when Publicize isn't available anymore
  _inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
Labels: Publicize, Touches WP.com Files, [Pri] High, [Type] Bug

#11202 Widgets: Remove Google+ Badge
  modules/widgets.php
  modules/widgets/google-plus/js/admin.js
  modules/widgets/googleplus-badge.php
Labels: Extra Sidebar Widgets, Google+

#11120 Jetpack 7.0: running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Type] Janitorial

#11206 Sync: Add new core option to default sync, paused themes and plugins
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-functions.php
  sync/class.jetpack-sync-module-callables.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, [Status] Has Changelog, [Status] Ready to Merge

#11198 Color update: Update blue and gray illustration colors
  images/apps.svg
  images/apps/triple-devices.svg
  images/cloud-based.svg
  images/connect-jetpack.svg
  images/customize-theme-2.svg
  images/customize-theme.svg
  images/generating-cash-2.svg
  images/get-apps.svg
  images/jetpack-design.svg
  images/jetpack-gutenberg.svg
  images/jetpack-performance.svg
  images/jetpack-powering-up.svg
  images/jetpack-search.svg
  images/jetpack-speed.svg
  images/jetpack-welcome.svg
  images/jupiter.svg
  images/man-and-laptop.svg
  images/people-around-page.svg
  images/plans/plan-business.svg
  images/plans/plan-free.svg
  images/plans/plan-personal.svg
  images/plans/plan-premium.svg
  images/security.svg
  images/stars-full.svg
  images/stars-left.svg
  images/stars-right.svg
  images/stats-people.svg
  images/themes.svg
  images/wordads.svg
Labels: General, [Status] Needs Design Review, [Status] Needs Review

#11203 Blocks: Minor reorder functions
  modules/blocks.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#10974 Register Slideshow BLock
  modules/blocks.php
Labels: Gutenberg, Shortcodes, Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge

#11226 Gulp: run default tasks in series, not in parallel
  gulpfile.babel.js
Labels: General, Internationalization, [Pri] BLOCKER, [Type] Bug

#11234 Jetpack Live Branches: Fix branch name selection.
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#11237 Copy Post: Change access check for source post.
  modules/copy-post.php
Labels: Copy a Post, [Type] Bug

#11193 Use VideoPress videos as source of the core video blocks
  modules/videopress.php
  modules/videopress/class.videopress-gutenberg.php
Labels: Gutenberg, VideoPress, [Status] Ready to Merge
