Repository Automattic/jetpack, pull requests merged in 2019-08, with the labels that each got.

#13157 Send disconnecting userid
  class.jetpack.php
Labels: Sync, [Status] Ready to Merge

#13160 Pre-commit hook: Add ES5 linting
  bin/pre-commit-hook.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#13154 Site Settings: Allow language change even if WPLANG is defined as constant
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: Internationalization, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#13070 Build: Server-side Render UpgradeNudge for use in PHP
  _inc/lib/components.php
  _inc/lib/plans.php
  bin/phpcs-whitelist.js
  class.jetpack-plan.php
  extensions/shared/components/index.jsx
  extensions/shared/components/style.scss
  extensions/shared/i18n-to-php.js
  extensions/shared/test/i18n-to-php.js
  extensions/shared/upgrade-nudge/index.jsx
  modules/simple-payments/simple-payments.php
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#13171 Danger: fail CI build if new php files not whitelisted
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#13166 SAL: use Post ID instead of Post Object in current_user_can
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug, [Type] Happiness Request

#13165 Upgrade Nudge: Fix redirect_to for Jetpack wp-admin
  _inc/lib/components.php
  extensions/shared/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Review

#13081 Upgrade nudge: Remove feature gate
  modules/simple-payments/simple-payments.php
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Task

#12671 Jetpack Sync: New endpoint to retrieve an ID range.
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
  packages/sync/src/Replicastore.php
  packages/sync/src/modules/Comments.php
  packages/sync/src/modules/Module.php
  packages/sync/src/modules/Posts.php
  packages/sync/src/modules/Term_Relationships.php
  packages/sync/src/modules/Terms.php
  packages/sync/src/modules/Users.php
Labels: Sync, WP REST API, [Status] Needs Author Reply

#13189 Jetpack 7.7: update version numbers to start release cycle
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Pri] High, [Type] Janitorial

#13191 SVN Ignore: add last pre-commit check file to the list
  .svnignore
Labels: [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#13134 VideoPress: Add video settings to the VideoPress-enhanced video block
  extensions/blocks/videopress/deprecated/v1/index.js
  extensions/blocks/videopress/deprecated/v1/save.js
  extensions/blocks/videopress/edit.js
  extensions/blocks/videopress/editor.js
  extensions/blocks/videopress/save.js
  extensions/blocks/videopress/url.js
Labels: Gutenberg, Touches WP.com Files, VideoPress, [Status] Needs Review

#13188 Docker: Don't bind host 3306
  docker/README.md
  docker/docker-compose.yml
Labels: Docker, [Status] Ready to Merge, [Type] Task

#13184 ESLint: Simplify via configuration cascading
  .eslintignore
  .eslintrc.js
  _inc/.eslintrc.js
  _inc/client/.eslintrc.js
  _inc/lib/tracks/tracks-ajax.js
  _inc/lib/tracks/tracks-callables.js
  bin/pre-commit-hook.js
  extensions/.eslintrc.js
  package.json
Labels: Build, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13194 Sync: Ensure we properly compare numbers when querying for object counts
  packages/sync/src/Replicastore.php
Labels: Sync, [Status] Needs Review, [Type] Bug

#12699 Adds full connection cycle capability to the Connection package.
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-client-server.php
  class.jetpack-network.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  packages/autoloader/src/autoload.php
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
  packages/connection/src/Manager.php
  packages/connection/src/XMLRPC_Connector.php
  packages/connection/tests/php/test_Manager.php
  packages/sync/src/Sender.php
  packages/tracking/src/Tracking.php
  tests/php/bootstrap.php
  tests/php/general/test_class.jetpack-network.php
  tests/php/general/test_class.jetpack-xmlrpc-server.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13202 Masterbar setting: fix typo
  _inc/client/writing/masterbar.jsx
Labels: Admin Page, Masterbar, [Status] Ready to Merge, [Type] Janitorial

#13193 Update development environment readme
  docs/development-environment.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13217 Connection: Implement is_connection_owner in the connection package
  class.jetpack.php
  modules/videopress/class.jetpack-videopress.php
  packages/connection/src/Manager.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13215 Connection: Remove unused initialize() from Manager
  packages/connection/src/Manager.php
  packages/connection/src/Manager_Interface.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Janitorial

#13127 Update illustration colors to use Color Studio v2
  images/connect-jetpack.svg
  images/get-apps.svg
  images/jetpack-google-analytics.svg
  images/jetpack-gutenberg.svg
  images/jetpack-marketing.svg
  images/jetpack-performance-icon.svg
  images/jetpack-powering-up.svg
  images/jetpack-search-icon.svg
  images/jetpack-security.svg
  images/jetpack-site-activity.svg
  images/jetpack-spam.svg
  images/jetpack-speed-icon.svg
  images/jetpack-speed.svg
  images/jetpack-support.svg
  images/jetpack-themes.svg
  images/jetpack-video-hosting.svg
  images/jetpack-welcome.svg
  images/jetpack-wordads.svg
  images/man-and-laptop.svg
  images/plans/plan-business.svg
  images/plans/plan-free.svg
  images/plans/plan-personal.svg
  images/plans/plan-premium.svg
  images/security.svg
  images/stats-people.svg
Labels: Admin Page, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#13167 Add Jetpack Authors Widget Filter
  class.jetpack.php
  modules/widgets/authors.php
Labels: Extra Sidebar Widgets, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13222 Connection: Remove unnecessary non-implemented Manager methods
  packages/connection/src/Manager.php
  packages/connection/src/Manager_Interface.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13225 JSON API: Fix for non-UTF-8 data
  class.json-api.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Review, [Type] Bug

#13213 REST API: Load theme plugins and functions in post list/count REST endpoints
  json-endpoints/class.wpcom-json-api-get-post-counts-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#13231 React dashboard: fix typo
  _inc/client/main.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#13226 Packages: Introduce a simple A/B test package
  composer.json
  composer.lock
  packages/abtest/README.md
  packages/abtest/composer.json
  packages/abtest/phpunit.xml.dist
  packages/abtest/src/Abtest.php
  packages/abtest/tests/php/bootstrap.php
  packages/abtest/tests/php/test_Abtest.php
Labels: Jetpack DNA, [Status] Needs Review, [Type] Feature

#13199 Blocks: Move UpgradeNudge into components/
  extensions/shared/components/index.jsx
  extensions/shared/components/upgrade-nudge/index.jsx
  extensions/shared/components/upgrade-nudge/store.js
  extensions/shared/components/upgrade-nudge/style.scss
  extensions/shared/wrap-paid-block.jsx
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13192 Simple Payments: escape title and description output
  modules/simple-payments/simple-payments.php
  readme.txt
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#13179 when in debug mode, reduce sitemap cache duration
  modules/sitemaps/sitemap-constants.php
Labels: Sitemaps, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13173 Woo Analytics: use core WP function to enqueue script
  class.jetpack.php
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13232 JSON API: Don't set `WP_Query`'s `search` parameter if the search string is empty
  json-endpoints/class.wpcom-json-api-list-posts-endpoint.php
  json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-list-posts-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Bug

#13137 Add Open Graph meta tags for archive pages.
  functions.opengraph.php
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13162 Add medium_large size to images that are Photonized
  class.photon.php
  tests/php/test_class.jetpack_photon.php
Labels: Photon, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13172 Masterbar: limit access to Stats and Plan menu items
  modules/masterbar/masterbar.php
Labels: Masterbar, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#13182 Stats: Update method for inserting JavaScript - Removed fallback / workaround for themes without wp_footer
  modules/stats.php
Labels: Stats, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13200 Change post_type capabilities
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#13238 Dependencies: Update `eslint-plugin-lodash`
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, dependencies

#13245 Tests: Core now caches API Endpoint Schemas. Flush that cache.
  tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
Labels: Publicize, Touches WP.com Files, Unit Tests, [Status] Needs Review

#13244 Jetpack Search: Use full namespace for class_exists check for authenticated_requests to work
  modules/search/class.jetpack-search.php
Labels: Touches WP.com Files, [Status] Needs Review

#13230 Connection: adds a new `is_registered()` method
  _inc/class.jetpack-provision.php
  _inc/lib/class.core-rest-api-endpoints.php
  packages/connection/src/Manager.php
  tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
Labels: Connect Flow, Touches WP.com Files, [Status] Needs Review

#13235 Connection: Move out the JSON API auth hooking
  class.jetpack.php
  packages/connection/src/Manager.php
Labels: Connect Flow, [Pri] High, [Status] Ready to Merge, [Type] Bug

#13220 Connection: Implement disconnect_user in the connection package
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-cli.php
  class.jetpack.php
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
  packages/connection/src/Manager.php
  packages/connection/src/Manager_Interface.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13253 Connection: Move remote file upload handlers back to Jetpack class
  class.jetpack.php
  packages/connection/src/Manager.php
Labels: Connect Flow, Jetpack DNA, [Pri] High, [Status] Ready to Merge, [Type] Bug

#13255 Connection: Use Manager for retrieving token in Client
  packages/connection/src/Client.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13216 E2E Tests: Fix tests in CI
  .travis.yml
  package.json
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/lib/pages/wpcom/checkout.js
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#13211 Add doc for remote debugging in vscode
  docker/README.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13262 Connection Banner: show button conditionally
  class.jetpack-connection-banner.php
  jetpack.php
Labels: Connect Flow, [Status] Needs Review

#13263 Connect Button: enqueue javascript conditionally
  _inc/connect-button.js
  class.jetpack-connection-banner.php
  jetpack.php
Labels: Connect Flow

#13259 Connection: Fix non-textdomained strings
  packages/connection/src/Manager.php
Labels: Connect Flow, Jetpack DNA, [Status] Ready to Merge, [Type] Enhancement

#13218 Premium blocks: Add plan param to post-checkout redirect URL
  extensions/shared/components/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#13258 Connection: Deprecate Jetpack::setup_xmlrpc_handlers
  class.jetpack.php
  tests/php/general/test_class.jetpack.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13209 Premium blocks: Show notification on plan upgrade/checkout
  extensions/editor.js
  extensions/shared/plan-upgrade-notification.js
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#13264 Jetpack: build_connect_url
  class.jetpack.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#13267 Protect: Improve Network Activated Jetpack check
  modules/protect.php
Labels: Protect, [Status] Ready to Merge

#13204 Social Menu: Update Medium Icon
  modules/theme-tools/social-menu/social-menu.svg
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13271 Connection: Use is_active and is_user_connected from the package
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13205 Prevent AMP validation errors from unnecessary code in responsive-videos module extra
  modules/theme-tools/responsive-videos.php
Labels: AMP, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#13183 Social Icons Widget: Add more common feed url components to supported icons
  bin/phpcs-whitelist.js
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13278 Reduce Photon-resized AMP Story image max height from 1440 to 1280
  3rd-party/class.jetpack-amp-support.php
  tests/php/test_class.jetpack_photon.php
Labels: AMP, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#13268 Stats: load rtl stylesheet for dashboard widget.
  class.jetpack.php
Labels: Internationalization, Stats, [Status] Ready to Merge, [Type] Bug

#13286 Use Post ID instead of Post Object in current_user_can
  json-endpoints/class.wpcom-json-api-post-endpoint.php
  sal/class.json-api-post-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#13270 Connection: Move the Jetpack IXR client to the package
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/class.jetpack-keyring-service-helper.php
  class.frame-nonce-preview.php
  class.jetpack-autoupdate.php
  class.jetpack-ixr-client.php
  class.jetpack.php
  composer.lock
  modules/monitor.php
  modules/post-by-email.php
  modules/protect.php
  modules/publicize/publicize-jetpack.php
  modules/sso.php
  modules/subscriptions.php
  modules/subscriptions/views.php
  packages/autoloader/src/autoload.php
  packages/connection/composer.json
  packages/connection/legacy/class.jetpack-ixr-client-multicall.php
  packages/connection/legacy/class.jetpack-ixr-client.php
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
  packages/connection/legacy/load-ixr.php
  packages/connection/src/Manager.php
  packages/sync/src/Actions.php
  tests/php/core-api/test_class.jetpack-core-api-module-endpoints.php
  tests/php/core-api/test_class.jetpack-core-api-xmlrpc-consumer-endpoint.php
  tests/php/general/test_class.jetpack-xmlrpc-server.php
Labels: Connect Flow, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#13274 Jetpack Connection: do it via iframe
  _inc/connect-button.js
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-connection-banner.php
  scss/jetpack-connect.scss
Labels: Connect Flow, [Status] Needs Author Reply

#13285 Connection: Update XMLRPC server to use existing connection object
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13284 Connection: Use generate_secrets from the package
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
  packages/connection/src/Manager.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13138 Instant Search: Render interface on search pages
  .gitignore
  .svnignore
  _inc/search/components/api.js
  _inc/search/components/search-result.jsx
  _inc/search/src/index.jsx
  modules/search/.eslintrc.js
  modules/search/class.jetpack-search.php
  modules/search/instant-search/README.md
  modules/search/instant-search/components/api.js
  modules/search/instant-search/components/search-result.jsx
  modules/search/instant-search/components/search-result.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-widget.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/instant-search.scss
  modules/search/instant-search/lib/query-string.js
  package.json
  tools/builder/sass.js
  webpack.config.js
  yarn.lock
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement, [Type] Feature

#13228 Upgrade nudge: Add filter to control block-editor upgrade nudges
  class.jetpack-gutenberg.php
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Task

#13283 Media: Unify remote file upload handler registration logic
  class.jetpack.php
  packages/connection/src/Manager.php
Labels: General, Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#13273 Related Posts: Fix bug that prevents related posts from displaying in AMP view
  modules/related-posts/jetpack-related-posts.php
Labels: AMP, Related Posts, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#13300 Connection: Move Jetpack::sign_role() to the package
  _inc/class.jetpack-provision.php
  class.jetpack-client-server.php
  class.jetpack.php
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
  packages/connection/src/Manager.php
  packages/sync/src/Users.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13301 Connection: Use a hook for event log in package
  class.jetpack.php
  packages/connection/legacy/class.jetpack-xmlrpc-server.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Review, [Type] Enhancement

#13288 Connection: Introduce a connect-in-place AB test
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Pri] Normal, [Status] Needs Review, [Type] Feature

#12474 Contact Info & Map Widget: Remove Geocoding and add map to form
  modules/widgets/contact-info.php
  modules/widgets/contact-info/contact-info-admin.js
  modules/widgets/contact-info/contact-info-map.css
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#13237 Connection: Return the correct error when the verification secrets do not exist
  packages/connection/src/Manager.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Bug

#13304 Jetpack Connection Banner: move the connection button
  class.jetpack-connection-banner.php
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Ready to Merge

#13085 At a Glance: Improve Akismet Upgrade and Activate Flow
  _inc/client/at-a-glance/akismet.jsx
  _inc/client/pro-status/index.jsx
  _inc/client/rest-api/index.js
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Anti-Spam, [Pri] Normal, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#13266 Protect: Dismissible Network Activation Warning
  class.jetpack.php
  modules/protect.php
Labels: Protect, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Ready to Merge

#13308 Handle connection errors on the Jetpack side gracefully
  _inc/connect-button.js
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#13311 Tweak connect prompt margins on mobile devices
  scss/organisms/_banners.scss
Labels: [Status] Needs Design Review

#13317 Regen asset CDN paths, which were stale
  bin/build-asset-cdn-json.php
Labels: Asset CDN, [Status] Ready to Merge, [Type] Enhancement

#13281 Premium blocks: Add plan param to redirect URL - take 2 - simple sites
  extensions/shared/components/upgrade-nudge/index.jsx
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#13252 Sites Endpoint: Include launch_status in the v1.2 response
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#13307 Twitter: change the way the @wordpressdotcom handle is added.
  class.jetpack-twitter-cards.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#13302 Gutenblocks: add new utility to get all classes for a given block
  class.jetpack-gutenberg.php
  extensions/blocks/gif/gif.php
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/repeat-visitor/repeat-visitor.php
  modules/memberships/class-jetpack-memberships.php
Labels: Gutenberg, Recurring Payments, Touches WP.com Files, [Block] GIF, [Block] Mailchimp, [Block] Repeat Visitor, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#13196 Full Site Editing: add a `is_fse_active` property to the Site object in the REST API
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#12733 WordAds Block: AMP Support
  modules/wordads/wordads.php
Labels: AMP, WordAds, [Status] Ready to Merge, [Type] Enhancement

#13323 Heartbeat: Add stat about missing connection owner.
  class.jetpack-heartbeat.php
  packages/connection/src/Manager.php
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#13322 Deleting the connection owner? Think again (or transfer ownership.)
  _inc/lib/class.core-rest-api-endpoints.php
  packages/connection/src/Manager.php
  packages/jitm/src/JITM.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: General, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#13261 Video sitemap description: change the XSL Stylesheet to display the HTML
  modules/sitemaps/sitemap-stylist.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#13335 Add Stats to XML-RPC Errors
  class.jetpack-heartbeat.php
  class.jetpack.php
  packages/options/legacy/class.jetpack-options.php
Labels: General, [Status] Ready to Merge

#13333 Fix Upgrade and Subsite Registration Redirects
  class.jetpack-network.php
  class.jetpack.php
Labels: General, [Pri] High, [Status] Ready to Merge

#13190 7.7 changelog: initial set of changes
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#13344 Add a full stop for consistent typography
  _inc/client/at-a-glance/plugins.jsx
Labels: Admin Page, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#13342 Premium blocks: update frontend nudge with plan_upgraded redirect param
  _inc/lib/components.php
Labels: Simple Payments, Touches WP.com Files, [Status] Ready to Merge

#13348 Connect in Place: Prompt Plans after connection
  _inc/client/admin.js
  _inc/client/components/jetpack-logo/README.md
  _inc/client/components/jetpack-logo/index.jsx
  _inc/client/components/masthead/index.jsx
  _inc/client/main.jsx
  _inc/client/plans-prompt/index.jsx
  _inc/client/plans-prompt/style.scss
  _inc/client/plans/style.scss
  _inc/client/scss/style.scss
  _inc/connect-button.js
  class.jetpack-connection-banner.php
Labels: Connect Flow, Plans, [Status] Ready to Merge

#13364 Jetpack Connection Flow: no iframe variation for mobile folks
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Status] Ready to Merge

#13368 Make use of a minified JS file in connect-in-place feature
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Status] Ready to Merge

#13282 E2E tests: Add wp-admin pre-connection tests
  .travis.yml
  tests/e2e/bin/setup-e2e-travis.sh
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/pages/wp-admin/dashboard.js
  tests/e2e/lib/pages/wp-admin/jetpack.js
  tests/e2e/lib/pages/wp-admin/plugins.js
  tests/e2e/lib/pages/wp-admin/sidebar.js
  tests/e2e/lib/setup.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/mailchimp.test.js
  tests/e2e/specs/simple-payments.test.js
  tests/e2e/specs/word-ads.test.js
Labels: [Status] Needs Review, [Type] Janitorial

#13365 Instant Search: Implement minimal search results and spelling correction
  modules/search/instant-search/components/api.js
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/gridicon/style.scss
  modules/search/instant-search/components/search-result-minimal.jsx
  modules/search/instant-search/components/search-result-minimal.scss
  modules/search/instant-search/components/search-result.jsx
  modules/search/instant-search/components/search-result.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-widget.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/instant-search.scss
Labels: Instant Search, Search, [Status] Ready to Merge

#13372 Connection Flow: hide TOS text
  _inc/connect-button.js
Labels: Connect Flow, [Status] Ready to Merge, [Type] Bug

#13374 Manage: Remove file stubs
  modules/manage.php
  modules/manage/activate-admin.php
  modules/manage/confirm-admin.php
Labels: Manage, [Status] Ready to Merge, [Type] Janitorial

#13375 Remove deprecated module stubs
  modules/blocks.php
  modules/debug.php
  modules/gplus-authorship.php
  modules/holiday-snow.php
  modules/omnisearch.php
  modules/random-redirect.php
  modules/site-icon.php
  modules/social-links.php
  modules/tonesque.php
  modules/wpcc.php
Labels: Site Icon, [Status] Needs Review, [Type] Janitorial
