Repository Automattic/jetpack, pull requests merged in 2019-03, with the labels that each got.

#11277 Docker: Add docker based yarn build
  docker/README.md
  docker/bin/run.sh
  package.json
Labels: Docker, [Status] Ready to Merge

#11442 Ustream: update shortcode to use Ustream's HTML5 player
  modules/shortcodes/ustream.php
  tests/php/modules/shortcodes/test_class.ustream.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#10725 Docker: upgrade PHP version in Docker development environment
  docker/Dockerfile
  tests/php/bootstrap.php
Labels: Docker, [Status] Ready to Merge

#8280 migrate parse_url to wp_parse_url.
  class.jetpack.php
  modules/contact-form/admin.php
  modules/likes.php
  modules/stats.php
Labels: Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#6704 Add specific message for double-encoded redirects
  class.jetpack.php
Labels: General, Needs GDPR Review, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#11467 Plugin search hints: maintain array keys after sorting
  modules/plugin-search.php
Labels: Plugin Search Hints, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#11471 Plugin search hints: fix console warning when loading the plugin thickbox
  modules/plugin-search/plugin-search.js
Labels: Plugin Search Hints, [Status] Ready to Merge, [Type] Bug

#11472 Jetpack Blocks: update to last version before release
  package.json
  yarn.lock
Labels: [Pri] BLOCKER, [Type] Janitorial

#11476 Widgets: My Community widget updates
  modules/widgets/my-community.php
  readme.txt
Labels: Extra Sidebar Widgets, [Pri] High

#11477 Update Jetpack version numbers to start 7.2 cycle
  jetpack.php
  package.json
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#11475 Protect: Math Fallback updates
  modules/protect/math-fallback.php
  readme.txt
Labels: Protect, [Pri] High, [Status] Needs Review, [Type] Bug

#11451 Post Images: Return attachment info when using from_thumbnail
  class.jetpack-post-images.php
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11483 REST API: Ensure Publicize is available before use
  _inc/lib/core-api/wpcom-endpoints/publicize-services.php
Labels: Publicize, Touches WP.com Files, WP REST API, [Status] Ready to Merge, [Type] Bug

#11482 Plugin search hints: fix issue where the first result was replaced
  modules/plugin-search.php
Labels: Plugin Search Hints, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#11481 Subscription form: fix missing subscriber count
  modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Block] Subscriptions, [Type] Bug

#11486 Stats Widget: Update language when no hits or no response from API server
  modules/widgets/blog-stats.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Enhancement

#11489 Stats: Improve cache performance.
  modules/stats.php
Labels: Performance, Stats, [Pri] High, [Status] Ready to Merge

#11418 My plan: update free plan page
  _inc/client/my-plan/index.jsx
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/my-plan/my-plan-header.jsx
  _inc/client/my-plan/style.scss
  images/jetpack-performance-icon.svg
  images/jetpack-security.svg
  images/jetpack-site-activity.svg
  images/jetpack-speed-icon.svg
  images/jetpack-support.svg
  images/jetpack-themes.svg
  images/jetpack-updates.svg
Labels: Admin Page, Plans, [Status] Design Review Complete, [Status] Needs Copy Review, [Status] Ready to Merge

#11487 Tiled gallery: add wp-polyfill as a dependency
  class.jetpack-gutenberg.php
  extensions/blocks/tiled-gallery/tiled-gallery.php
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#11498 Mailchimp: Add view polyfill
  extensions/blocks/mailchimp/mailchimp.php
Labels: Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Bug

#11495 Readme: update tested up to WP 5.1
  readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial

#11497 Add repeat visitor polyfill
  extensions/blocks/repeat-visitor/repeat-visitor.php
Labels: Touches WP.com Files, [Block] Repeat Visitor, [Status] Ready to Merge, [Type] Bug

#11488 Plugin search hints: introduce a master control
  _inc/jetpack-server-sandbox.php
  modules/plugin-search.php
Labels: Plugin Search Hints, [Status] Ready to Merge, [Type] Enhancement

#11499 Jetpack Blocks: update blocks for Jetpack 7.1.1 release
  package.json
  yarn.lock
Labels: [Pri] BLOCKER, [Type] Janitorial

#11502 REST API: Ensure proper WP_Error is returned.
  _inc/lib/core-api/wpcom-endpoints/publicize-services.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11298 REST API: Change likes and sharing post meta to REST fields
  modules/likes.php
  modules/sharedaddy/sharing.php
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, WP REST API, [Pri] Normal, [Status] Ready to Merge

#11508 Add team Catalyst as codeowner to Jetpack CLI
  .github/CODEOWNERS
Labels: Jetpack CLI, [Status] Ready to Merge, [Type] Janitorial

#11503 REST API: Add check for the global
  _inc/lib/core-api/wpcom-endpoints/publicize-connections.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11512 Stats Widget: add translator comment to give more context.
  class.jetpack.php
Labels: Internationalization, Stats, [Status] Needs Review, [Type] Bug

#11514 Bump minimum version to 5.0
  jetpack.php
  readme.txt
Labels: [Pri] BLOCKER, [Status] Needs Review, [Type] Enhancement

#11516 REST API: Register Likes/Sharing fields for all post types
  modules/likes.php
  modules/sharedaddy/sharing.php
Labels: Likes, Sharing, Touches WP.com Files, WP REST API, [Status] Ready to Merge

#11520 Stats: Return error for API requests
  modules/stats.php
Labels: Admin Page, Stats, [Status] Ready to Merge, [Type] Bug

#11450 Connection: Add site creation date argument
  class.jetpack-network.php
  class.jetpack.php
  tests/php/test_class.jetpack.php
Labels: Connect Flow, NUX, [Pri] Normal, [Status] Ready to Merge, [Type] Task

#11527 Publicize: rely on ES to count words for posts.
  _inc/lib/class.media-summary.php
Labels: Internationalization, Publicize, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#11524 Shortcodes: remove Lytro shortcode and add it to unavailable list.
  modules/shortcodes/lytro.php
  modules/shortcodes/unavailable.php
  tests/php/modules/shortcodes/test_class.lytro.php
Labels: Shortcodes, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com, [Type] Janitorial

#11525 Sitemap: fix phpcs warnings with shortcode.
  modules/shortcodes/sitemap.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11526 Mailchimp: update shortcode to bring in sync with WordPress.com
  modules/shortcodes/mailchimp.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#11519 REST API: Update docblock
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: Docs, [Status] Ready to Merge, [Type] Bug

#11501 Unit tests: Include geo-location tests in phpunit.xml
  phpunit.xml.dist
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#11500 Readme: 7.1.1 updates
  readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial

#11529 Quiz Shortcode: bring shortcode in sync with WordPress.com
  modules/shortcodes/quiz.php
Labels: Shortcodes, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#11540 Shortcodes: Clean up Crowdsignal oEmbed regex
  modules/shortcodes/crowdsignal.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Bug

#11449 Sitemaps: Add thumbnails to video sitemaps
  modules/sitemaps/sitemap-builder.php
Labels: Sitemaps, Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Enhancement

#11550 Linter: Update jshint config
  .jshintrc
Labels: [Status] Ready to Merge, [Type] Janitorial

#11551 Shortcopy: update Jumpstart
  _inc/client/components/jumpstart/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#11538 Settings: reorder Security tab
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/settings/index.jsx
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge

#11460 Bump Minimum Required WordPress Version to 5.0
  _inc/class.jetpack-provision.php
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/admin-pages/class.jetpack-settings-page.php
  class.jetpack-gutenberg.php
  class.jetpack-modules-list-table.php
  class.jetpack-post-images.php
  class.jetpack-twitter-cards.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  functions.opengraph.php
  json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/carousel/jetpack-carousel.php
  modules/contact-form/grunion-contact-form.php
  modules/custom-css/custom-css-4.7.php
  modules/infinite-scroll/infinity.php
  modules/markdown/easy-markdown.php
  modules/pwa/class.jetpack-pwa-helpers.php
  modules/related-posts/class.related-posts-customize.php
  modules/related-posts/jetpack-related-posts.php
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing-sources.php
  modules/shortcodes.php
  modules/shortlinks.php
  modules/stats.php
  modules/theme-tools/compat/twentysixteen.php
  modules/widget-visibility/widget-conditions.php
  modules/widgets/search.php
  sync/class.jetpack-sync-functions.php
  sync/class.jetpack-sync-module-options.php
  sync/class.jetpack-sync-module-posts.php
  sync/class.jetpack-sync-module-terms.php
  sync/class.jetpack-sync-module-themes.php
  sync/class.jetpack-sync-wp-replicastore.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#11462 Sync: Add the NUX site user type option to the whitelisted options.
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: NUX, Sync, [Status] Ready to Merge

#11554 Admin Page: Introduce handy redux state selectors for checking availability of perfomance and security features.
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation-settings/test/component.js
  _inc/client/state/modules/reducer.js
  _inc/client/state/modules/test/selectors.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#11558 Shortcopy: modify jumpstarted features
  modules/carousel.php
  modules/contact-form.php
  modules/gravatar-hovercards.php
  modules/module-headings.php
  modules/photon-cdn.php
  modules/related-posts.php
  modules/sharedaddy.php
  modules/sitemaps.php
  modules/subscriptions.php
  modules/tiled-gallery.php
Labels: Admin Page, Jumpstart, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11505 My Plan: update page for all paid plans
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/my-plan/style.scss
  images/jetpack-google-analytics.svg
  images/jetpack-marketing.svg
  images/jetpack-search-icon.svg
  images/jetpack-spam.svg
  images/jetpack-video-hosting.svg
  images/jetpack-wordads.svg
Labels: Admin Page, [Status] Needs Copy Review, [Status] Needs Design Review, [Status] Needs Review

#11571 PR Template Check: Grammar Nitpicking
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#11579 Update eslint ignore
  .eslintignore
Labels: [Status] Ready to Merge, [Type] Janitorial

#11577 Use /regex/.test over "string".match( /regex/ )
  modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11578 Update/optimized calypso prettier package
  _inc/client/traffic/related-posts.jsx
  package.json
  yarn.lock
Labels: [Status] Ready to Merge, [Type] Janitorial

#11568 Stalebot: Ignore issues/PRs in a project
  .github/stale.yml
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#11570 Contact Info Wiget: Bug fix url encoding
  modules/widgets/contact-info.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge

#11484 Add AMP support for shortcodes and oEmbeds for Crowdsignal (Polldaddy)
  modules/shortcodes/crowdsignal.php
Labels: AMP, Shortcodes, [Status] Ready to Merge, [Type] Enhancement

#11573 Shortcopy: update the fullscreen Jetpack setup dialog
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  class.jetpack-connection-banner.php
  scss/organisms/_banners.scss
Labels: [Status] Ready to Merge, [Type] Enhancement

#11581 Plugin Search Tracks: Only track search terms with >= 3 chars
  modules/plugin-search.php
Labels: Plugin Search Hints, Tracks, [Status] Ready to Merge, [Type] Janitorial

#11576 Lint: Fix jshint === lint
  modules/custom-css/custom-css/js/css-editor.js
Labels: Custom CSS, Touches WP.com Files, [Status] Needs Review, [Status] Ready to Merge, [Type] Janitorial

#11584 Docker: Don't show a warning for unset PORT_WORDPRESS variable.
  docker/docker-compose.yml
Labels: Docker, [Status] Ready to Merge

#11587 Shortcopy: update event key for Tracks
  class.jetpack-connection-banner.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#11589 Photon: add Instagram CDN to list of banned domains.
  functions.photon.php
Labels: Photon, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#11582 Stats: Ensure an error is returned if non-200
  modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Enhancement

#11588 Connection banner: remove B test since it's no longer used
  class.jetpack-connection-banner.php
  tests/php/test_class.jetpack-connection-banner.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#11592 Unit-tests: Make first batch of tests to work on WPCOM
  tests/php/bootstrap.php
  tests/php/core-api/wpcom-fields/test_attachment-fields-videopress.php
  tests/php/core-api/wpcom-fields/test_class.service-api-keys.php
  tests/php/core-api/wpcom-fields/test_class.subscribers-endpoint.php
  tests/php/lib/class-wp-test-jetpack-rest-testcase.php
  tests/php/lib/wpcom-helper-functions.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#11600 Connection Banner: Address typo in connection banner
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Bug

#11606 Unit-tests: Use relative path for attachment_id in VideoPress unit-test
  tests/php/core-api/wpcom-fields/test_attachment-fields-videopress.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#11607 Readme: update with security and performance focus
  readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial

#11604 Kickstarter: solve all phpcs warnings in preparation for Fusion
  modules/shortcodes/kickstarter.php
Labels: Shortcodes, [Status] Needs Review, [Type] Janitorial

#11596 Business Hours block: provide defaults
  extensions/blocks/business-hours/business-hours.php
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Status] Ready to Merge, [Type] Bug

#11616 Browserlist: Use Gutenberg's settings
  package.json
  yarn.lock
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#11598 Plans: Refactor so that logic is in own Jetpack_Plans class
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  _inc/lib/debugger/class-jetpack-debugger.php
  bin/pre-commit-hook.js
  class.jetpack-admin.php
  class.jetpack-plan.php
  class.jetpack.php
  jetpack.php
  modules/masterbar/masterbar.php
  modules/plugin-search.php
  modules/search/class.jetpack-search.php
  modules/simple-payments/simple-payments.php
  modules/videopress/class.jetpack-videopress.php
  modules/videopress/class.videopress-gutenberg.php
  modules/videopress/class.videopress-options.php
  modules/widgets/search.php
Labels: Plans, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11603 Fixes Gutenberg i18n data loading.
  class.jetpack-gutenberg.php
Labels: Gutenberg, Internationalization, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11620 Add Gutenpack squad as codeowners for Gutenberg files
  .github/CODEOWNERS
Labels: Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#11602 Gravatar: fix all phpcs warnings in file in preparation for Fusion
  modules/shortcodes/gravatar.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11625 Archive shortcodes: update to keep in sync with WordPress.com.
  modules/shortcodes/archiveorg-book.php
  modules/shortcodes/archiveorg.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Janitorial

#11628 Unit-tests: Rename ready-to-sync core-api test files
  phpunit.xml.dist
  tests/php/core-api/wpcom-fields/test-attachment-fields-videopress.php
  tests/php/core-api/wpcom-fields/test-class.service-api-keys.php
  tests/php/core-api/wpcom-fields/test-class.subscribers-endpoint.php
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#11615 Configure dependencies as exact versions
  .npmrc
  .svnignore
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#11612 Shortcodes: update Hulu shortcode for Fusion
  modules/shortcodes/hulu.php
  tests/php/modules/shortcodes/test_class.hulu.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Janitorial

#11630 Brightcove shortcode: fix all phpcs warnings
  modules/shortcodes/brightcove.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Janitorial

#11617 Shortcopy: updates to banners
  _inc/client/main.jsx
  class.jetpack-connection-banner.php
  scss/organisms/_banners.scss
Labels: [Status] Ready to Merge, [Type] Enhancement

#11632 Danger: Announce code freeze is the day before the beta day
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#11629 Getty shortcode: fix all PHPCS warnings in preparation for Fusion
  modules/shortcodes/getty.php
Labels: Shortcodes, [Status] Needs Review, [Type] Janitorial

#11627 PSH: Restore Akismit and VaultPress cards
  modules/plugin-search.php
Labels: Plugin Search Hints, [Pri] High, [Status] Ready to Merge, [Type] Bug

#11623 Related posts: updates demo images for newer ones
  _inc/client/components/module-settings/index.jsx
  _inc/client/traffic/related-posts.jsx
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge

#10698 Docker: ngrok inside a docker
  docker/README.md
  docker/docker-compose-ngrok.yml
  package.json
Labels: Docker, [Status] Ready to Merge, [Type] Enhancement

#11636 Blacklist `vip-legacy-redirect` post type
  sync/class.jetpack-sync-defaults.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#11644 Ads Gutenblock: Add "Hide ad on mobile views" toggle
  extensions/blocks/wordads/wordads.php
Labels: Gutenberg, Touches WP.com Files, WordAds, [Block] Ad, [Status] Ready to Merge

#11638 Tweet Shortcode: phpcs fixes to prepare for Fusion
  modules/shortcodes/tweet.php
Labels: Shortcodes, [Status] Ready to Merge, [Type] Janitorial

#11647 Yarn: Add an php:autofix command that lets you phpcbf autofix specifiles
  composer.json
  package.json
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#11645 Shortcopy: update illustrations on plan headers
  _inc/client/my-plan/style.scss
  images/plans/plan-business.svg
  images/plans/plan-free.svg
  images/plans/plan-personal.svg
  images/plans/plan-premium.svg
Labels: Admin Page, [Status] Needs Design Review, [Type] Enhancement

#11652 Readme: update with site management tweak
  readme.txt
Labels: [Status] Needs Review, [Type] Janitorial

#11555 Search: new URL param to display search query results in page source
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11626 Jetpack Plan: Updated cached plan via common method; fix issues with plan caching
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-plan.php
  phpunit.xml.dist
  tests/php/test_class.jetpack-plan.php
Labels: Plans, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#11635 Google Apps Shortcode: fix all phpcs warnings.
  modules/shortcodes/googleapps.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11654 Update minified VideoPress admin RTL CSS
  modules/videopress/videopress-admin-rtl.min.css
Labels: VideoPress, [Status] Ready to Merge, [Type] Janitorial

#11649 SSO: Fix typo in SSO Discover JITM
  modules/sso.php
Labels: SSO, [Status] Ready to Merge

#11531 Twenty Nineteen: Prevent Sharing Button Overlap
  modules/theme-tools/compat/twentynineteen.css
Labels: Theme Tools, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#11657 Add wp-polyfill as a dependency for Slideshow block
  extensions/blocks/slideshow/slideshow.php
Labels: Gutenberg, Touches WP.com Files, [Block] Slideshow, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#11569 Contact Info: Only load styles for this block.
  class.jetpack-gutenberg.php
  extensions/blocks/contact-info/class-jetpack-contact-info-block.php
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Status] Ready to Merge

#11653 Syntax fixes in contact form CSS and builder JS
  modules/contact-form/css/editor-inline-editing-style.css
  modules/contact-form/css/editor-style.css
  tools/builder/react.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#11443 Fix height of Contact Info map iframe in AMP
  modules/widgets/contact-info.php
Labels: AMP, Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11661 Sharing: Updated WhatsApp url to track stats
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11618 Ensuring extensions/blocks do not inadvertently register twice
  class.jetpack-gutenberg.php
  sync/class.jetpack-sync-sender.php
  tests/php/bootstrap.php
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Related Posts, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11666 Publicize: do not rely on ES to count words for posts
  _inc/lib/class.media-summary.php
Labels: Publicize, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#11651 Calypsoify: Delay use of core admin functions until they are loaded.
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Pri] BLOCKER, [Status] Ready to Merge

#11639 Build: Prepare tooling for Gutenberg extensions in Jetpack
  .svnignore
  bin/build-asset-cdn-json.php
  tools/build-release-branch.sh
Labels: Gutenberg, [Pri] High, [Status] Ready to Merge, [Type] Janitorial

#11672 Remove un-used Travis CI install script
  .svnignore
  bin/travis_install.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#11609 General: Fail on load if using unsupported WP.
  jetpack.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#11679 Admin Page: avoid console errors when saving changes in a form
  _inc/client/components/settings-card/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#11560 Related Posts: Revert "Removing enabled and published checks"
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Status] Needs Author Reply, [Type] Bug

#11643 Added password strength checker class and Sync listener.
  _inc/lib/class.jetpack-password-checker.php
  bin/pre-commit-hook.js
  sync/class.jetpack-sync-listener.php
  sync/class.jetpack-sync-module-users.php
  tests/php/sync/test_class.jetpack-sync-users.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11548 Jetpack blocks: Update version and build path
  gulpfile.babel.js
  package.json
  yarn.lock
Labels: Gutenberg, [Status] Needs Review, [Type] Task

#11479 Jetpack 7.2: changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] In Progress, [Type] Janitorial

#11686 FormToggle Test: Remove an obsolete require()
  _inc/client/components/form/form-toggle/test/index.jsx
Labels: [Status] Needs Review, [Type] Janitorial

#11692 Shortcopy: don't jumpstart Sitemaps since it's already auto activated
  modules/sitemaps.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#11640 Extensions: Add extensions building
  .eslintignore
  .eslintrc.js
  .svnignore
  babel.config.extensions.js
  bin/pre-commit-hook.js
  extensions/blocks/map/map-theme-picker/index.js
  extensions/setup/block-category.js
  extensions/setup/editor.js
  extensions/setup/index.json
  extensions/setup/public-path.js
  extensions/setup/view.js
  extensions/shared/get-site-fragment.js
  extensions/utils/get-jetpack-extension-availability.js
  extensions/utils/text-match-replace.js
  gulpfile.babel.js
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#11680 Cartodb, Codepen, Flatio: fix all phpcs warnings
  modules/shortcodes/cartodb.php
  modules/shortcodes/codepen.php
  modules/shortcodes/flatio.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#11700 Fixed translation exporter URL and redirect.
  tools/export-translations.php
Labels: Internationalization, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Type] Bug

#11697 svnignore: Remove .babelrc*
  .svnignore
Labels: [Status] Ready to Merge, [Type] Janitorial

#11690 Add initial 7.2 changelog to master
  changelog.txt
  readme.txt
  to-test.md
Labels: [Status] Ready to Merge, [Type] Janitorial

#11693 Unit-tests: Move some files around for WPCOM sync
  phpunit.xml.dist
  tests/php/json-api/test-class.json-api-jetpack-endpoints.php
  tests/php/json-api/test-class.json-api-plugins-endpoints.php
  tests/php/json-api/test_class.json-api-platform-jetpack.php
  tests/php/json-api/test_class.json-api-post-jetpack.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#11566 Github User Script: Remove the gutenpack & WP 4.9 options
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#11669 Shortcodes: remove Audio shortcode.
  modules/shortcodes/audio.php
Labels: Shortcodes, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11668 Archives Shortcode: fix all phpcs warnings.
  modules/shortcodes/archives.php
Labels: Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#11671 Google+ shortcode: fix all phpcs warnings
  modules/shortcodes/googleplus.php
Labels: Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11670 Bandcamp: fix all phpcs warnings.
  modules/shortcodes/bandcamp.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11703 Slideshow: Fix Javascript Error After Adding Block
  extensions/blocks/slideshow/slideshow.js
Labels: [Block] Slideshow, [Status] Ready to Merge, [Type] Bug

#11716 Renovate: Update renovate support policy
  renovate.json
Labels: [Status] Ready to Merge, [Type] Janitorial

#11660 OG Tags: Fix notice when author object is not retrieved + PHPCS
  bin/pre-commit-hook.js
  functions.opengraph.php
Labels: Publicize, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11599 Add "noindex" meta to sites in Docker development environment
  docker/bin/install.sh
Labels: Docker, [Pri] Low, [Status] Ready to Merge

#11721 Dev tools: add state mocking for different Rewind states
  _inc/client/components/dev-card/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#11667 Spotify: fix all phpcs warnings in preparation for Fusion
  modules/shortcodes/spotify.php
Labels: Shortcodes, [Status] Needs Review, [Type] Janitorial

#11724 Unit tests: Rename a test file
  tests/php/json-api/test-class.json-api-jetpack-endpoints.php
  tests/php/json-api/test-class.json-api-plugins-endpoints.php
  tests/php/json-api/test-class.json-api-post-jetpack.php
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#11714 Package scripts: improve coherency
  package.json
  tools/build-release-branch.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Type] Task

#11725 Travis: Ignore `yarn lint` on built branches
  .travis.yml
Labels: [Status] Ready to Merge, [Type] Janitorial

#11720 Module Descriptions: add 3 missing modules.
  bin/pre-commit-hook.js
  modules/module-info.php
Labels: Accessibility, Admin Page, [Pri] Low, [Status] Needs Changelog, [Status] Ready to Merge, [Type] Janitorial

#11735 Docker docs: include all relevant Ngrok regions
  docker/README.md
Labels: Docker, Docs, [Status] Ready to Merge

#11736 Fix empty term description update
  json-endpoints/class.wpcom-json-api-update-term-endpoint.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11687 Dashboard: Migrate CommonJS module.exports to ESM export default
  _inc/client/components/button-group/docs/example.jsx
  _inc/client/components/card/index.jsx
  _inc/client/components/chart/index.jsx
  _inc/client/components/chart/legend.jsx
  _inc/client/components/count/docs/example.jsx
  _inc/client/components/foldable-card/index.jsx
  _inc/client/components/form/counter.js
  _inc/client/components/form/index.jsx
  _inc/client/components/form/input-checkbox-multiple.jsx
  _inc/client/components/form/input-checkbox.jsx
  _inc/client/components/form/input-hidden.jsx
  _inc/client/components/form/input-radio.jsx
  _inc/client/components/form/input-select.jsx
  _inc/client/components/form/input-text.js
  _inc/client/components/form/required-error-label.js
  _inc/client/components/gridicon/index.jsx
  _inc/client/components/info-popover/docs/example.jsx
  _inc/client/components/modal/index.jsx
  _inc/client/components/popover/menu-item.jsx
  _inc/client/components/popover/menu.jsx
  _inc/client/components/search/docs/example.jsx
  _inc/client/components/search/index.jsx
  _inc/client/components/section-nav/docs/example.jsx
  _inc/client/components/section-nav/index.jsx
  _inc/client/components/section-nav/item.jsx
  _inc/client/components/section-nav/segmented.jsx
  _inc/client/components/section-nav/tabs.jsx
  _inc/client/components/select-dropdown/docs/example.jsx
  _inc/client/components/select-dropdown/item.jsx
  _inc/client/components/select-dropdown/separator.jsx
  _inc/client/components/spinner/docs/example.jsx
  _inc/client/components/spinner/index.jsx
  _inc/client/components/tooltip/index.jsx
  _inc/client/config.js
  _inc/client/lib/accessible-focus/index.js
  _inc/client/lib/analytics/index.js
  _inc/client/lib/touch-detect/index.js
  _inc/client/lib/viewport/README.md
  _inc/client/lib/viewport/index.js
  _inc/client/mixins/emitter/index.js
  _inc/client/mixins/url-search/build-url.js
  _inc/client/mixins/url-search/index.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#11742 jshint: ignore folders
  .jshintignore
Labels: [Status] Ready to Merge, [Type] Enhancement

#11739 Add (beta) to beta extensions
  extensions/utils/register-jetpack-block.js
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#11737 Change i18n fallback format
  class.jetpack.php
Labels: Internationalization, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#11729 Repeat Visitor: Fix threshold reset bug
  extensions/blocks/repeat-visitor/components/edit.js
  extensions/blocks/repeat-visitor/editor.scss
  extensions/blocks/repeat-visitor/index.js
Labels: Gutenberg, [Block] Repeat Visitor, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#11757 Repeat Visitor: swap 'traffic' for 'return' in block keywords
  extensions/blocks/repeat-visitor/index.js
Labels: [Block] Repeat Visitor, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#11741 Include root level json files in `reformat-files`
  package.json
  renovate.json
Labels: [Status] Needs Review, [Type] Janitorial

#11755 Repeat Visitor: Clarify visibility criteria
  extensions/blocks/repeat-visitor/components/edit.js
  extensions/blocks/repeat-visitor/repeat-visitor.php
Labels: Touches WP.com Files, [Block] Repeat Visitor, [Status] Needs Cherry-Pick, [Status] Needs Review

#11756 Ads Gutenblock: Fix for loading blocks on infinite scroll
  modules/wordads/wordads.php
Labels: Gutenberg, WordAds, [Pri] High, [Status] Needs Cherry-Pick, [Status] Needs Review
