Repository Automattic/jetpack, pull requests merged in 2019-05, with the labels that each got.

#12214 Calypsoify: Fix undefined index notice
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#12212 General: Prepare for the 7.4 season.
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Review, [Status] Tested on WP.com, [Type] Janitorial

#12207 Shortcodes: fix all phpcs warnings for slideshare
  modules/shortcodes/slideshare.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12205 Recipes: fix all phpcs warnings
  modules/shortcodes/recipe.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12206 Shortcodes: fix all phpcs warnings with Scribd
  modules/shortcodes/scribd.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#12224 Twitter Timeline Shortcode: fix all phpcs warnings.
  modules/shortcodes/twitter-timeline.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12225 Untappd: fix all phpcs warnings
  modules/shortcodes/untappd-menu.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12218 Verification Tools Remove add_filter for removed function
  bin/phpcs-whitelist.js
  modules/verification-tools.php
Labels: [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12210 Shortlinks: add shortlinks in API responses to Pages and Attachments
  modules/shortlinks.php
Labels: Gutenberg, Shortlinks, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#12229 Unit Tests: Temporarily disable IG tests
  tests/php/modules/shortcodes/disabled-test-class.instagram.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12234 Update URLs to match new URLs in calypso
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
  _inc/client/traffic/index.jsx
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-mailchimp.php
  extensions/blocks/publicize/connection.js
  extensions/blocks/publicize/settings-button.js
  modules/plugin-search.php
  modules/publicize/publicize.php
  modules/sharedaddy.php
Labels: Publicize, Sharing, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#12237 Fix visual bug with Jetpack Connect panel
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12233 Default Modules: Restore Contact Form
  modules/contact-form.php
Labels: Contact Form, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12240 PHP linting: show sniff codes
  composer.json
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#12239 Calypsoify: Place iframed block editor notices under the top controls
  modules/calypsoify/style-gutenberg.scss
Labels: Calypsoify, Gutenberg, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#12243 Travis CI: Fix spaces syntax in run-travis.sh
  tests/run-travis.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#12249 About: fix collapsing avatars
  _inc/client/components/about-page/style.scss
Labels: Admin Page, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#12250 Travis: Hard-code WP 5.0 and 5.1 for PHP 5.2 tests
  .travis.yml
  tests/setup-travis.sh
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#12219 Contact Form: Update CSS stylesheet
  modules/contact-form/css/grunion.css
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#12236 readme.txt - update screenshot captions
  readme.txt
Labels: [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#12231 Tests: Speed up lint test by 2x with `find -prune`
  tests/php/test_php-lint.php
Labels: Unit Tests, [Status] Needs Review, [Type] Bug

#12245 WP.com Block Editor: Update version check to a daily basis.
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#12261 REST API: Revert v1.3 of sites endpoints.
  json-endpoints.php
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-3-endpoint.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12262 REST API: Add the `jetpack_frame_nonce` site option to sites endpoints.
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Needs Review

#12258 Admin - Network: remove unwanted space between nav buttons
  _inc/client/components/masthead/style.scss
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#12263 Dashboard: replace dismiss text/link for apps card with a button
  _inc/client/components/apps-card/index.jsx
  _inc/client/components/apps-card/style.scss
Labels: Admin Page, FixTheFlows, [Status] Needs Review, [Type] Janitorial

#12264 Development environment check script: Update sh reference to bash
  tools/check-development-environment.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#12247 Debug Data: Improve master user output and remove tokens
  _inc/lib/debugger/class-jetpack-debug-data.php
Labels: General, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Enhancement

#12226 Memberships: Product creation fail message
  _inc/lib/core-api/wpcom-endpoints/memberships.php
Labels: Memberships, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12267 Development Environment Check: Improve detection of command availability by using the command: type
  docs/development-environment-cli-support.md
  tools/check-development-environment.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#12271 Add User Agent detection for WordPress Desktop app
  class.jetpack-user-agent.php
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12244 Memberships: disclaimer about fees
  extensions/blocks/membership-button/edit.jsx
  extensions/blocks/membership-button/editor.scss
Labels: Memberships, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#12274 General: Update the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#12273 Subscriptions: hook checkboxes in comment submit field, not button
  modules/subscriptions.php
Labels: Subscriptions, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12276 Shortcodes: update VideoPress to fix phpcs warning.
  modules/shortcodes/videopress.php
Labels: Shortcodes, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#12279 Gutenframe: Fix post content scrolling when floated sidebar is available.
  modules/calypsoify/style-gutenberg.scss
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#12253 Full Sync: Provide info when the data is empty.
  sync/class.jetpack-sync-module-full-sync.php
  sync/class.jetpack-sync-module-network-options.php
  sync/class.jetpack-sync-module.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, [Status] Ready to Merge

#12284 Tiled gallery & Slideshow blocks: fix transforms between blocks
  extensions/blocks/slideshow/transforms.js
  extensions/blocks/tiled-gallery/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Slideshow, [Block] Tiled Gallery, [Status] Needs Review, [Type] Bug

#12283 WordAds: fix all phpcs warnings in shortcode.
  modules/shortcodes/wordads.php
Labels: Shortcodes, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#12294 Bring over/7.3 changes
  _inc/lib/debugger/class-jetpack-debug-data.php
  changelog.txt
  readme.txt
  to-test.md
Labels: [Type] Janitorial

#12288 YouTube: fix all phpcs warnings in shortcode.
  modules/shortcodes/youtube.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12275 Upcoming Events: fix phpcs warnings in shortcode.
  modules/shortcodes/upcoming-events.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12223 Twitch.tv: fix all phpcs warnings and allow the use of HTTPS.
  modules/shortcodes/twitchtv.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12222 Shortcodes: fix all phpcs warnings for TED videos.
  modules/shortcodes/ted.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12296 Travis CI: add a script to trigger a custom phpunit job
  tests/run-travis.sh
  tools/trigger-travis-build.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#12221 Soundcloud: simplify shortcode and fix all phpcs warnings
  modules/shortcodes/soundcloud.php
  tests/php/modules/shortcodes/test-class.soundcloud.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12208 Shortcodes: fix all phpcs warnings with slideshows
  modules/shortcodes/slideshow.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12194 Pinterest: fix all PHPCS warnings in preparation for Fusion
  modules/shortcodes/pinterest.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12195 Presentations: fix all phpcs warnings
  modules/shortcodes/presentations.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12193 Mixcloud: fix all PHPCS warnings in preparation for Fusion
  modules/shortcodes/mixcloud.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12170 Medium: update embed method to reflect Medium changes
  modules/shortcodes/medium.php
  tests/php/modules/shortcodes/test-class.medium.php
Labels: Shortcodes, [Pri] Normal, [Status] Needs Review, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#9971 Add blogid to the tracking object
  _inc/client/lib/analytics/index.js
  _inc/client/main.jsx
  _inc/lib/tracks/class.tracks-client.php
Labels: Tracks, [Status] Ready to Merge, [Type] Enhancement

#12306 Ensure Jetpack Sync Sender is not loaded when doing cron and sync during cron is disabled
  sync/class.jetpack-sync-actions.php
  tests/php/sync/test_class.jetpack-sync-integration.php
Labels: Sync, [Status] Needs Review

#12313 Debug Data: Update site health debug data to clarify keys are public
  _inc/lib/debugger/class-jetpack-debug-data.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#12184 Removed duplicate self-executing anonymous function
  modules/google-analytics/classes/wp-google-analytics-legacy.php
Labels: WooCommerce Analytics, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#12268 Change html height to auto when opening carousel
  modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#12326 Site Health: Remove 'Successful Test'
  _inc/lib/debugger/debug-functions-for-php53.php
Labels: General, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#12316 Editor / Likes and Sharing: Set back_compat regardless of beta blocks
  modules/likes/jetpack-likes-settings.php
  modules/sharedaddy/sharedaddy.php
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#12081 CLI: Add a new command that lets you remove the callback checksum across all sites on a network
  class.jetpack-cli.php
Labels: Jetpack CLI, Sync, [Status] Ready to Merge, [Type] Enhancement

#12323 About Page: remove submenu and add link to page in footer
  _inc/client/components/footer/index.jsx
  _inc/lib/admin-pages/class-jetpack-about-page.php
  _inc/lib/admin-pages/class.jetpack-admin-page.php
Labels: Admin Page, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#12204 Slideshow: Update mobile styles
  extensions/blocks/slideshow/style.scss
Labels: Accessibility, Gutenberg, Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge, [Type] Good First Bug

#12269 Sharing: Change WhatsApp URL for Firefox for desktop
  class.jetpack-user-agent.php
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12332 CLI: Fix PHPCS translate errors
  class.jetpack-cli.php
Labels: Internationalization, Jetpack CLI, [Status] Ready to Merge, [Type] Janitorial

#12329 Admin - Plans: correctly place the dotted line under the currency symbol
  _inc/client/plans/style.scss
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#12327 Revert "Fix visual bug with Jetpack Connect panel (#12237)"
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Needs Cherry-Pick, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#11814 Crowdsignal: updates to get ready for Fusion
  _inc/crowdsignal-shortcode.js
  _inc/crowdsignal-survey.js
  _inc/polldaddy-shortcode.js
  modules/shortcodes/crowdsignal.php
  tests/php/modules/shortcodes/test-class.crowdsignal.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12305 Deprecated filters: remove duplicate key.
  class.jetpack.php
Labels: Manage, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#12246 Set a correct user role for multisite plugin installation API test
  tests/php/json-api/test-class.json-api-plugins-endpoints.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12215 Gutenframe: Redirect logged out users
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: Calypsoify, Gutenberg, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#12285 Wufoo: update shortcode to fix phpcs warnings
  modules/shortcodes/wufoo.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#12282 Vine: fix all phpcs warnings
  modules/shortcodes/vine.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12339 Social Icons SVG: switch to the presentation role
  modules/widgets/social-icons.php
Labels: Accessibility, Extra Sidebar Widgets, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12209 Adding checksums to Jetpack_JSON_API_Sync_Status_Endpoint
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
  sync/class.jetpack-sync-actions.php
  tests/php/sync/test_class.jetpack-sync-actions.php
  tests/php/sync/test_class.jetpack-sync-integration.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#12319 Sharing: update default sharing settings to include buttons.
  modules/sharedaddy/sharing-service.php
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#12241 Add Calypso env getter
  _inc/class.jetpack-provision.php
  class.jetpack.php
  modules/sso.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#12357 Add new Option for cross site search allowed ids
  class.jetpack-options.php
  sync/class.jetpack-sync-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Search, Sync, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12061 Tiled gallery block: Add srcset to images in the editor
  extensions/blocks/tiled-gallery/gallery-image/edit.js
  extensions/blocks/tiled-gallery/layout/index.js
  extensions/blocks/tiled-gallery/utils/index.js
Labels: Gutenberg, Performance, Tiled Galleries, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#12216 Don't Rely on HTTP Requests for Shortcode Tests
  tests/php/modules/shortcodes/disabled-test-class.instagram.php
  tests/php/modules/shortcodes/test-class.getty.php
  tests/php/modules/shortcodes/test-class.hulu.php
  tests/php/modules/shortcodes/test-class.instagram.php
  tests/php/modules/shortcodes/test-class.ted-external.php
  tests/php/modules/shortcodes/test-class.ted.php
  tests/php/modules/shortcodes/test-class.tweet.php
Labels: Shortcodes, Touches WP.com Files, Unit Tests, [Status] Ready to Merge

#12124 Related Posts: do not add markup to attachment pages by default.
  modules/related-posts/jetpack-related-posts.php
Labels: Related Posts, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12360 Vimeo: fix all phpcs warnings and bring in sync with Jetpack.
  modules/shortcodes/vimeo.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12373 Subscriptions: display checkboxes above submit button.
  modules/subscriptions.php
Labels: Subscriptions, [Pri] Normal, [Status] Needs Review, [Type] Bug

#12297 Shortcodes: add directory to PHPCS pre-commit hook
  bin/phpcs-whitelist.js
  modules/shortcodes/getty.php
  modules/shortcodes/polldaddy.php
  modules/shortcodes/vine.php
  modules/shortcodes/wufoo.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#12371 Update readme.md
  readme.md
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#12351 Pass through the `from` parameter when connecting an already connected Jetpack
  class.jetpack.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#12287 General: Remove pre-5.1 era code
  .travis.yml
  jetpack.php
  modules/plugin-search.php
  modules/related-posts/jetpack-related-posts.php
  modules/shortcodes/crowdsignal.php
  sync/class.jetpack-sync-functions.php
  tests/php/bootstrap.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#12252 Multisite: Use WP 5.1-era hook wp_initialize_site
  class.jetpack-network.php
Labels: Multisite, [Status] Ready to Merge

#12372 Admin Page: remove Themes card on Plans tab
  _inc/client/components/themes-promo-card/index.jsx
  _inc/client/plans/index.jsx
Labels: Admin Page, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#12383 Tracks: Add length limit when we save the Jetpack feature search input.
  _inc/client/components/tracker/index.jsx
Labels: Tracks, [Status] Needs Review, [Type] Enhancement

#12381 Dashboard Build: Use StaticSiteGeneratorPlugin to build Static HTML
  _inc/client/static.jsx
  package.json
  tools/builder/react.js
  webpack.config.js
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Needs Review

#12388 Tests, Docs: Remove references to dops-components
  _inc/client/components/inline-expand/README.md
  _inc/client/components/jetpack-notices/README.md
  package.json
  tools/builder/sass.js
Labels: Docs, Touches WP.com Files, Unit Tests, [Status] Ready to Merge

#12337 Remove admin menu toggle in new post screen
  modules/masterbar/overrides.css
Labels: [Status] Design Review Complete, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#12290 Display Posts Widget: Remove overly opinionated CSS
  modules/widgets/wordpress-post-widget/style.css
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#12301 Remove inline learn more prompts on comments section
  _inc/client/discussion/comments.jsx
  _inc/client/discussion/style.scss
Labels: Admin Page, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#12390 Tiled Gallery: Remove invalidating strip attribute from block save
  extensions/blocks/tiled-gallery/utils/index.js
Labels: Gutenberg, [Block] Tiled Gallery, [Status] Ready to Merge, [Type] Bug

#12072 Build: Base webpack.config.js on calypso-build's
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  class.jetpack-idc.php
  class.jetpack.php
  modules/photon-cdn/jetpack-manifest.php
  package.json
  tools/builder/react.js
  tools/builder/sass.js
  webpack.config.js
  yarn.lock
Labels: Admin Page, Build, Touches WP.com Files, [Status] Ready to Merge

#12270 Fix: Updating or deactivating a module overwrites the available modules.
  class.jetpack.php
  tests/php/general/test_class.jetpack.php
Labels: General, [Status] Ready to Merge

#12393 Business Hours: Update front-end of the description list
  extensions/blocks/business-hours/business-hours.php
  extensions/blocks/business-hours/index.js
  extensions/blocks/business-hours/style.scss
  extensions/blocks/business-hours/view.js
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge

#12395 General: require PHP 5.3+ to be able to run Jetpack.
  .travis.yml
  jetpack.php
  readme.txt
  tests/setup-travis.sh
Labels: General, Jetpack DNA, [Status] Ready to Merge, [Type] Janitorial

#12277 My plan: Add checklist progress banner
  _inc/client/components/data/query-checklist-progress.js
  _inc/client/components/screen-reader-text/index.js
  _inc/client/my-plan/checklist-progress-card/index.js
  _inc/client/my-plan/checklist-progress-card/progress-bar/index.js
  _inc/client/my-plan/checklist-progress-card/progress-bar/style.scss
  _inc/client/my-plan/checklist-progress-card/style.scss
  _inc/client/my-plan/my-plan-header.jsx
  _inc/client/scss/style.scss
  _inc/client/scss/variables/_colors.scss
  _inc/client/state/action-types.js
  _inc/client/state/checklist/actions.js
  _inc/client/state/checklist/reducer.js
  _inc/client/state/checklist/selectors.js
  _inc/client/state/reducer.js
  package.json
  yarn.lock
Labels: Admin Page, Plans, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#12406 Business Hours: Simplify hours format
  extensions/blocks/business-hours/business-hours.php
  extensions/blocks/business-hours/components/day-preview.js
  extensions/blocks/business-hours/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Business Hours, [Pri] Normal, [Status] Ready to Merge

#12412 Gutenframe: Re-enable links to manage reusable blocks
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/calypsoify/style-gutenberg.scss
Labels: Calypsoify, Gutenberg, [Status] Ready to Merge

#11318 Add AMP support for GIF block
  class.jetpack-gutenberg.php
  extensions/blocks/gif/gif.php
  extensions/blocks/gif/style.scss
Labels: AMP, Gutenberg, Touches WP.com Files, [Block] GIF, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#12424 Travis Notifications: Remove oskosk, kraftjb, and jeherve from recipients
  .travis.yml
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12328 CXN Tests: Better unexpected state handling in wpcom connection test
  _inc/lib/debugger/class-jetpack-cxn-tests.php
Labels: General, [Status] Needs Review, [Type] Bug

#12401 Sharing: only set default pages showing buttons when not set yet
  modules/sharedaddy/sharing-service.php
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12425 SEO Tools: support taxonomy archive pages in page titles.
  modules/seo-tools/jetpack-seo-titles.php
Labels: SEO Tools, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#12380 Connect flow: sanitize "from" parameter when building connect url
  class.jetpack.php
Labels: Connect Flow, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#12428 Comments: Do not use HTTP 500 for non-server errors.
  modules/comments/base.php
  modules/comments/comments.php
Labels: Comments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#12435 General: Bump PHPCS rules
  .phpcs.xml.dist
Labels: General, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#12430 My Plan: Remove features CTAs
  _inc/client/my-plan/my-plan-body.jsx
Labels: Plans, [Status] Ready to Merge, [Type] Task

#12414 Fix "View Full Site" and "View Mobile Site" for WordPress Subdirectory Installations
  modules/minileven/minileven.php
  modules/minileven/theme/pub/minileven/footer.php
Labels: Mobile Theme, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12417 Memberships: Automatically select + min amount
  extensions/blocks/membership-button/edit.jsx
Labels: Memberships, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#12416 Memberships: fix button presentation
  extensions/blocks/membership-button/edit.jsx
  modules/memberships/class-jetpack-memberships.php
Labels: Memberships, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#12418 Memberships: renewal period more visible
  extensions/blocks/membership-button/edit.jsx
Labels: Memberships, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12348 Memberships: Check plan before displaying the block
  _inc/lib/core-api/wpcom-endpoints/memberships.php
  extensions/blocks/membership-button/edit.jsx
Labels: Gutenberg, Memberships, Touches WP.com Files, [Status] Ready to Merge

#12379 Packages: Add a basic Jetpack Logo package
  .phpcs.xml.dist
  .svnignore
  .travis.yml
  bin/phpcs-whitelist.js
  class.jetpack-connection-banner.php
  composer.json
  composer.lock
  jetpack.php
  package.json
  packages/.gitignore
  packages/logo/assets/logo.svg
  packages/logo/composer.json
  packages/logo/src/Logo.php
  packages/logo/src/README.md
  phpunit.xml.dist
  tests/php/packages/logo/test_Logo.php
Labels: Jetpack DNA, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Task

#12411 About: update to use the live data from the new endpoint
  _inc/lib/admin-pages/class-jetpack-about-page.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#12429 My Plan: Add Checklist CTA
  _inc/client/my-plan/my-plan-header/checklist-cta.js
  _inc/client/my-plan/my-plan-header/checklist-progress-card/index.js
  _inc/client/my-plan/my-plan-header/checklist-progress-card/progress-bar/index.js
  _inc/client/my-plan/my-plan-header/checklist-progress-card/progress-bar/style.scss
  _inc/client/my-plan/my-plan-header/checklist-progress-card/style.scss
  _inc/client/my-plan/my-plan-header/index.js
  _inc/client/my-plan/style.scss
  _inc/client/scss/style.scss
Labels: Plans, [Status] Ready to Merge, [Type] Task

#12341 Warn in log if user's WP version is too old for Jetpack
  jetpack.php
Labels: General, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#12444 Sitemaps: Improve filter name
  bin/phpcs-whitelist.js
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12440 Admin - REST API: introduce endpoint to get Activity Log data
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Activity Log, Admin Page, [Status] Ready to Merge, [Type] Enhancement

#12449 Analytics: Add tracks to checklist CTAs
  _inc/client/my-plan/my-plan-header/checklist-cta.js
  _inc/client/my-plan/my-plan-header/checklist-progress-card/index.js
  _inc/client/my-plan/my-plan-header/index.js
Labels: Admin Page, Plans, Tracks, [Status] Ready to Merge

#12451 Moving logo readme file to the package root
  packages/logo/README.md
Labels: Docs, Jetpack DNA, [Status] Ready to Merge

#12403 UI tests: Add MVP e2e configuration
  .travis.yml
  package.json
  tests/e2e/.eslintrc.js
  tests/e2e/README.md
  tests/e2e/bin/setup-e2e-travis.sh
  tests/e2e/bin/travis/travis_default-site.conf
  tests/e2e/bin/travis/travis_fastcgi.conf
  tests/e2e/bin/travis/travis_php-fpm.conf
  tests/e2e/config/config.js
  tests/e2e/config/setup.js
  tests/e2e/jest-puppeteer.config.js
  tests/e2e/jest.config.js
  tests/e2e/lib/pageHelper.js
  tests/e2e/lib/pages/page.js
  tests/e2e/lib/pages/wp-admin/dashboard.js
  tests/e2e/specs/dummy.test.js
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, Unit Tests, [Status] Needs Review

#12454 Masterbar: Revert recent changes
  modules/masterbar/masterbar.php
  modules/masterbar/tracks-events.js
  sync/class.jetpack-sync-module-users.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Type] Bug

#12434 Unit Tests: Add support for VVV 3.0's path.
  tests/php/bootstrap.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Bug

#12455 Memberships: flip to production
  extensions/index.json
Labels: Gutenberg, Memberships, Touches WP.com Files, [Status] Ready to Merge

#12458 Connect flow: remove post-disconnect survey
  _inc/client/components/jetpack-notices/dismissable.jsx
Labels: Admin Page, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#12460 Calypsoify: Fix Calypsoify so that it removes core menus correctly
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Pri] High, [Status] Ready to Merge, [Type] Bug

#12461 Membership block: link to calypso part
  extensions/blocks/membership-button/edit.jsx
Labels: Gutenberg, Memberships, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#12462 Fixes gulp language extract task async problem.
  gulpfile.babel.js
Labels: Build, Internationalization, [Status] Ready to Merge, [Type] Bug

#12463 Build: Fix imported modules breaking ie11
  _inc/client/lib/analytics/index.js
  package.json
  webpack.config.js
Labels: Admin Page, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#12266 Use wp eval-file when generating module headings
  class.jetpack.php
  gulpfile.babel.js
  modules/module-headings.php
  tools/build-module-headings-translations.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#12442 Compser: Read once, fail gracefully (and more)
  jetpack.php
  tools/build-jetpack.sh
  tools/build-release-branch.sh
  tools/deploy-to-master-stable-branch.sh
Labels: Jetpack DNA, [Status] Ready to Merge, [Type] Janitorial

#12457 Masterbar: allow logging out of wpcom when logging out of site.
  modules/masterbar.php
  modules/masterbar/masterbar.php
Labels: Masterbar, [Pri] High, [Status] Ready to Merge, [Type] Bug

#12448 Fix/respect client defined store_sandbox cookie when fetching plan data
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Plans, [Status] Ready to Merge, [Type] Janitorial

#12467 Masterbar: Add recovery mode menu item.
  modules/masterbar/masterbar.php
Labels: Masterbar, [Pri] BLOCKER, [Status] Ready to Merge

#12469 Dev Environment: add Composer to the required tools
  docs/development-environment.md
Labels: Docs, Jetpack DNA, [Status] Ready to Merge, [Type] Enhancement

#10333 Add private sites module
  _inc/client/security/index.jsx
  _inc/client/security/private.jsx
  bin/phpcs-whitelist.js
  class.jetpack.php
  jetpack.php
  modules/module-extras.php
  modules/module-headings.php
  modules/module-info.php
  modules/private.php
  modules/private/class-jetpack-private.php
  modules/private/private.php
  yarn.lock
Labels: Private Sites, Touches WP.com Files, [Pri] Normal, [Status] Needs Design Review, [Status] Needs GDPR Review, [Status] Ready to Merge

#12472 Masterbar: avoid Fatal Errors on sites that do not run WP 5.2
  modules/masterbar/masterbar.php
Labels: Masterbar, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#12304 7.4 Changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] In Progress, [Type] Janitorial

#12164 Connection: Select One of Multiple Blog Tokens
  _inc/class.jetpack-provision.php
  _inc/lib/debugger/class-jetpack-debug-data.php
  class.jetpack-data.php
  class.jetpack-xmlrpc-server.php
  class.jetpack.php
  modules/comments/comments.php
  tests/php/general/test_class.jetpack-data.php
Labels: Atomic, Comments, Connect Flow, IDC, [Pri] High, [Status] Ready to Merge, [Type] Enhancement

#12477 Packages: Prepend Automattic\ to the Logo package namespace
  class.jetpack-connection-banner.php
  composer.lock
  packages/logo/README.md
  packages/logo/composer.json
  packages/logo/src/Logo.php
  tests/php/packages/logo/test_Logo.php
Labels: Jetpack DNA, [Status] Needs Review, [Type] Janitorial

#12476 Release: make sure the autoloader is available in release branches
  .gitignore
  .svnignore
  tools/build-release-branch.sh
Labels: Jetpack DNA, [Pri] BLOCKER, [Status] Needs Review

#12479 Remove Composer Installers
  composer.json
  composer.lock
Labels: Jetpack DNA, [Status] Ready to Merge, [Type] Janitorial

#12475 Packages: Add a package release and repo mirroring script
  bin/release-package.php
Labels: General, Jetpack DNA, [Status] Ready to Merge, [Type] Task

#12480 Build: Do not declare symlink strategy for the Jetpack Logo package
  composer.json
  composer.lock
  tools/build-jetpack.sh
  tools/build-release-branch.sh
Labels: Build, Jetpack DNA, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#12484 Build: Remove extra composer install command from build-jetpack.sh
  tools/build-jetpack.sh
  tools/build-release-branch.sh
Labels: Build, Jetpack DNA, [Status] Ready to Merge

#12483 Composer: Define local packages with a wildcard
  composer.json
Labels: General, Jetpack DNA, [Status] Ready to Merge, [Type] Enhancement

#12492 Tokens: Clarify documentation about the structure of the token secret
  class.jetpack-data.php
  modules/comments/comments.php
Labels: Connect Flow, Docs, [Status] Ready to Merge
