Repository Automattic/jetpack, pull requests merged in 2019-04, with the labels that each got.

#11775 Docs: update link to Docker engine
  docker/README.md
Labels: Docker, [Status] Needs Review, [Type] Enhancement

#11771 Unit-tests: WPCOM-ize Media testsuite
  class.json-api.php
  phpunit.xml.dist
  tests/php.multisite.xml
  tests/php/json-api/test-class.json-api-jetpack-endpoints.php
  tests/php/json-api/test-class.json-api-post-jetpack.php
  tests/php/json-api/test_class.json-api-platform-jetpack.php
  tests/php/lib/wpcom-helper-functions.php
  tests/php/media/test-class.jetpack-media-extractor.php
  tests/php/media/test-class.jetpack-media-summary.php
  tests/php/media/test-class.jetpack-post-images.php
Labels: Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#11790 Simple payments block: document why block isn't reusable
  extensions/blocks/simple-payments/index.js
Labels: Docs, Simple Payments, Touches WP.com Files, [Pri] Low, [Status] Needs Review

#11796 Module Extras: clearly separate features
  bin/pre-commit-hook.js
  modules/module-extras.php
  modules/verification-tools/verification-tools-utils.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#11758 Masterbar: Hide for WordPress mobile apps
  modules/masterbar/masterbar.php
Labels: Masterbar, [Status] Ready to Merge

#11408 Social Menu & Social Media Icons: add StackOverflow support
  modules/theme-tools/social-menu/icon-functions.php
  modules/theme-tools/social-menu/social-menu.svg
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Theme Tools, Touches WP.com Files, [Pri] Normal, [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#11731 Simple Payments: pre-populate attributes when converting from classic block
  extensions/blocks/simple-payments/edit.js
Labels: Gutenberg, Simple Payments, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#11800 PHPCS: Add theme-tools/social-menu to linter list
  bin/pre-commit-hook.js
  modules/theme-tools/social-menu/icon-functions.php
Labels: Theme Tools, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11706 General: Bump versions everywhere
  .phpcs.xml.dist
  composer.json
  jetpack.php
  package.json
  readme.txt
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11816 Check that newly added php files are included in phpcs whitelist
  bin/phpcs-whitelist.js
  bin/pre-commit-hook.js
  dangerfile.js
Labels: [Status] Needs Review, [Type] Janitorial

#11823 Fix Jetpack live branches
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#11787 Tiled gallery block: switch "masonry" keyword to "pictures"
  extensions/blocks/tiled-gallery/index.js
Labels: Tiled Galleries, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge

#11826 Remove legacy notice targetted for IE10
  _inc/client/static.jsx
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/admin-pages/class.jetpack-settings-page.php
  tools/builder/react.js
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#11825 Contact form block: Remove unused component
  extensions/blocks/contact-form/components/jetpack-field-required-toggle.js
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11708 General: Use yarn for more building
  package.json
  tools/build-jetpack.sh
  tools/build-release-branch.sh
Labels: Touches WP.com Files, [Status] Needs Review, [Type] Bug, [Type] Janitorial

#11876 Plugin Search Hints: only display feature suggestion when your plan supports it
  modules/plugin-search.php
  modules/vaultpress.php
Labels: Plugin Search Hints, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#11811 Build: Share babel config for client and extensions
  _inc/lib/admin-pages/class.jetpack-react-page.php
  babel.config.extensions.js
  babel.config.js
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Admin Page, Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11747 Blocks: Remove Availability Fallback for Beta Blocks
  class.jetpack-gutenberg.php
  extensions/utils/get-jetpack-extension-availability.js
  tests/php/test_class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#9089 Remove Manage as a module
  class.jetpack-autoupdate.php
  class.jetpack-heartbeat.php
  class.jetpack-modules-list-table.php
  class.jetpack.php
  json-endpoints/jetpack/class.jetpack-json-api-endpoint.php
  modules/manage.php
  modules/manage/activate-admin.php
  modules/manage/confirm-admin.php
  modules/module-headings.php
Labels: FixTheFlows, [Status] Needs Testing, [Type] Janitorial

#11807 Global functions: fix all PHPCS warnings and add pre-commit hook
  bin/phpcs-whitelist.js
  functions.global.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11908 Search Hints: Show no hints if more than 2 have already been dismissed
  modules/plugin-search.php
Labels: Feature Hints, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#11913 Slideshow: Add wp-escape-html dependency to view
  extensions/blocks/slideshow/slideshow.php
Labels: Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#11912 Manage: Properly check if manage through API is disabled
  class.jetpack-autoupdate.php
  class.jetpack.php
  json-endpoints/jetpack/class.jetpack-json-api-endpoint.php
Labels: Manage, [Status] Ready to Merge, [Type] Bug

#11921 Remove unused Makefile
  _inc/client/components/form/form-toggle/Makefile
Labels: [Status] Ready to Merge, [Type] Janitorial

#11709 Add Likes and Sharing sidebar as a Gutenberg extension
  extensions/blocks/likes/editor.js
  extensions/blocks/likes/index.js
  extensions/blocks/likes/likes-checkbox.js
  extensions/blocks/sharing/editor.js
  extensions/blocks/sharing/index.js
  extensions/blocks/sharing/sharing-checkbox.js
  extensions/setup/index.json
  extensions/shared/jetpack-likes-and-sharing-panel.js
  extensions/shared/jetpack-plugin-sidebar.js
  modules/likes.php
  modules/likes/jetpack-likes-settings.php
  modules/sharedaddy/sharedaddy.php
  modules/sharedaddy/sharing.php
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11909 Feature Hints: update design to make card stand out more
  modules/plugin-search.php
  modules/plugin-search/plugin-search.css
  modules/plugin-search/plugin-search.js
Labels: Feature Hints, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Needs Design Review, [Status] Needs Review, [Type] Enhancement

#11911 Admin Page: Remove references to manage as module
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/components/dash-item/index.jsx
  _inc/client/security/index.jsx
  _inc/client/security/manage-plugins.jsx
  _inc/client/state/search/test/selectors.js
Labels: Admin Page, Manage, [Status] Needs Review, [Type] Janitorial

#11926 PSH: update list of keywords
  modules/photon-cdn.php
Labels: Asset CDN, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Enhancement

#11929 PSH: Remove Backups and Security except for higher plans
  modules/plugin-search.php
Labels: Feature Hints, [Status] Needs Changelog, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#11939 Readme: Port 7.2.1 changes to master
  readme.txt
Labels: [Status] Needs Review, [Type] Janitorial

#11940 Unit-tests: WPCOM-ify shortcode tests
  phpunit.xml.dist
  tests/php/modules/shortcodes/test-class.archiveorg.php
  tests/php/modules/shortcodes/test-class.archives.php
  tests/php/modules/shortcodes/test-class.bandcamp.php
  tests/php/modules/shortcodes/test-class.brightcove.php
  tests/php/modules/shortcodes/test-class.crowdsignal.php
  tests/php/modules/shortcodes/test-class.dailymotion.php
  tests/php/modules/shortcodes/test-class.facebook.php
  tests/php/modules/shortcodes/test-class.flickr.php
  tests/php/modules/shortcodes/test-class.getty.php
  tests/php/modules/shortcodes/test-class.gist.php
  tests/php/modules/shortcodes/test-class.googleapps.php
  tests/php/modules/shortcodes/test-class.googlemaps.php
  tests/php/modules/shortcodes/test-class.gravatar.php
  tests/php/modules/shortcodes/test-class.hulu.php
  tests/php/modules/shortcodes/test-class.instagram.php
  tests/php/modules/shortcodes/test-class.kickstarter.php
  tests/php/modules/shortcodes/test-class.mailchimp.php
  tests/php/modules/shortcodes/test-class.presentations.php
  tests/php/modules/shortcodes/test-class.quiz.php
  tests/php/modules/shortcodes/test-class.scribd.php
  tests/php/modules/shortcodes/test-class.sitemap.php
  tests/php/modules/shortcodes/test-class.slideshare.php
  tests/php/modules/shortcodes/test-class.slideshow.php
  tests/php/modules/shortcodes/test-class.soundcloud.php
  tests/php/modules/shortcodes/test-class.spotify.php
  tests/php/modules/shortcodes/test-class.ted.php
  tests/php/modules/shortcodes/test-class.tweet.php
  tests/php/modules/shortcodes/test-class.twitter-timeline.php
  tests/php/modules/shortcodes/test-class.ustream.php
  tests/php/modules/shortcodes/test-class.vimeo.php
  tests/php/modules/shortcodes/test-class.vine.php
  tests/php/modules/shortcodes/test-class.vr.php
  tests/php/modules/shortcodes/test-class.youtube.php
  tests/php/modules/shortcodes/test-shortcode-defense.php
Labels: Unit Tests, [Status] Needs Review, [Type] Janitorial

#11770 Sync: Full Sync users with previous_end
  sync/class.jetpack-sync-module-users.php
  tests/php/sync/server/class.jetpack-sync-server-replicator.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge

#11585 Fix: Removal of widget DOM element following acceptance of cookie policy
  modules/widgets/eu-cookie-law/eu-cookie-law.js
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#11567 Social Menu & Icons: Remove Google Plus Support
  modules/theme-tools/social-menu/icon-functions.php
  modules/theme-tools/social-menu/social-menu.svg
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Theme Tools, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11753 At a glance: improve Rewind messages in Scan and Backups cards
  _inc/client/at-a-glance/backups.jsx
  _inc/client/at-a-glance/index.jsx
  _inc/client/at-a-glance/scan.jsx
  _inc/client/components/settings-card/style.scss
  _inc/client/pro-status/index.jsx
  _inc/client/security/backups-scan.jsx
Labels: Activity Log, Rewind, [Status] Ready to Merge, [Type] Enhancement

#11948 Update module headings to avoid notices
  modules/module-headings.php
  tools/build-module-headings-translations.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#11946 Dailymotion shortcode: fix all PHPCS warnings.
  modules/shortcodes/dailymotion.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#11920 totally remove js script from ig, instead of preg replace
  modules/shortcodes/instagram.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11952 Instagram shortcode: fix all phpcs warnings
  modules/shortcodes/instagram.php
Labels: Shortcodes, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#11924 General: Add Poseidon as code owners for sync
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Janitorial

#11691 Testimonials shortcode: order by menu_order
  modules/custom-post-types/testimonial.php
Labels: Custom Content Types, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#11954 Admin Page: Do not show Apps card in settings page
  _inc/client/components/masthead/index.jsx
  _inc/client/main.jsx
Labels: Admin Page, [Status] Ready to Merge

#11591 Extensions: Read dependencies dynamically
  class.jetpack-gutenberg.php
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/map/map.php
  extensions/blocks/repeat-visitor/repeat-visitor.php
  extensions/blocks/slideshow/slideshow.php
  extensions/blocks/tiled-gallery/tiled-gallery.php
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Block] Mailchimp, [Block] Map, [Block] Repeat Visitor, [Block] Slideshow, [Status] Needs Review, [Type] Enhancement

#11958 Update Sync Code owners
  .github/CODEOWNERS
Labels: [Type] Janitorial

#11945 Sync: Full Sync End should include the range (min, max, count) on full sync end
  sync/class.jetpack-sync-module-full-sync.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, [Status] Ready to Merge

#11812 Extensions: Add extensions tests
  .travis.yml
  extensions/blocks/tiled-gallery/layout/mosaic/test/index.js
  extensions/shared/test/get-site-fragment.js
  jest.config.js
  package.json
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, Unit Tests, [Status] Ready to Merge

#11802 Blocks: Make webpack.config.extensions.js extend calypso-build's
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Review

#11968 Extensions: Restore declared script dependencies
  class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11967 Extensions: Fix webpack config
  webpack.config.extensions.js
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11984 General: Fixes code owners in the tests/sync folder
  .github/CODEOWNERS
Labels: General, [Status] Ready to Merge

#11979 Publicize Gutenberg sidebar: remove Google+
  extensions/blocks/publicize/connection.js
  extensions/blocks/publicize/editor.scss
  extensions/blocks/publicize/service-icon.js
Labels: Google+, Gutenberg, Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11994 Jetpack Network: Fix connection site creation date
  class.jetpack-network.php
Labels: Connect Flow, [Pri] High, [Status] Needs Review, [Type] Bug

#11949 Build: Base babel.config.js on calypso-build's
  babel.config.js
  package.json
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#11956 Settings: Add togle for Latex / Beautiful Math under Writing, Composing settings
  _inc/client/writing/composing.jsx
  modules/latex.php
  modules/module-headings.php
Labels: Admin Page, Beautiful Math, [Status] Needs Copy Review, [Status] Ready to Merge

#12003 Settings: Remove ending period from latex toggle label
  _inc/client/writing/composing.jsx
Labels: Admin Page, Beautiful Math, [Status] Ready to Merge, [Type] Bug

#12009 Plugin Autoupdates in settings: fixed capitalization and spacing
  _inc/client/security/manage-plugins.jsx
Labels: Admin Page, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#12018 Contact Form: Do not display administrator's contact info in form
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#12014 Extensions: Include chunkhash in chunk filenames
  package.json
  webpack.config.extensions.js
  yarn.lock
Labels: Build, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#10669 Remove legacy config pages & related code
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack.php
  modules/after-the-deadline.php
  modules/carousel/jetpack-carousel.php
  modules/comments.php
  modules/custom-content-types.php
  modules/custom-css.php
  modules/gravatar-hovercards.php
  modules/infinite-scroll.php
  modules/likes.php
  modules/minileven.php
  modules/monitor.php
  modules/post-by-email.php
  modules/protect.php
  modules/protect/config-ui.php
  modules/publicize.php
  modules/related-posts.php
  modules/sharedaddy.php
  modules/sso.php
  modules/stats.php
  modules/subscriptions.php
  modules/tiled-gallery.php
  modules/vaultpress.php
  modules/verification-tools.php
  modules/widgets.php
Labels: Admin Page, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11976 Debugger: Integration for WordPress 5.2 Site Health functionality
  _inc/lib/debugger/0-load.php
  _inc/lib/debugger/class-jetpack-cxn-test-base.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  _inc/lib/debugger/class-jetpack-debug-data.php
  _inc/lib/debugger/class-jetpack-debugger.php
  jetpack.php
Labels: General, [Status] Ready to Merge

#12021 Added branches and tag information to the build checkout.
  tools/build-jetpack.sh
Labels: Build, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#12020 Related Posts: do not use nested rules in vanilla CSS file
  modules/related-posts/related-posts.css
Labels: Related Posts, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#11996 VR Shortcode: fix all PHPCS warnings and bring file in sync with WordPress.com
  modules/shortcodes/vr.php
Labels: Shortcodes, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12023 Blocks: add translation context to block search keywords
  extensions/blocks/contact-form/index.js
  extensions/blocks/gif/index.js
  extensions/blocks/map/settings.js
  extensions/blocks/markdown/index.js
  extensions/blocks/slideshow/index.js
  extensions/blocks/subscriptions/index.js
Labels: Gutenberg, Internationalization, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12011 Sync: Only update the callable checksum if the checksum changed.
  sync/class.jetpack-sync-module-callables.php
Labels: Sync, [Status] Ready to Merge

#11975 Sync: Add/full sync start send range
  sync/class.jetpack-sync-module-full-sync.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, [Status] Ready to Merge

#11953 Admin Page: Do not show Support Card in Settings page
  _inc/client/main.jsx
Labels: Admin Page, [Status] Design Review Complete, [Status] Ready to Merge

#11972 Build: Remove polyfills
  _inc/client/README.md
  _inc/client/rest-api/index.js
  package.json
  yarn.lock
Labels: Admin Page, Performance, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#11925 Update the blocks documentation
  extensions/README.md
Labels: Docs, Gutenberg, Touches WP.com Files, [Status] Needs Review

#12024 AMP: remove deprecated Google+ icon
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#12026 3rd party tools: update the way the files are required
  3rd-party/3rd-party.php
  bin/phpcs-whitelist.js
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#12010 Add yarn script to run test for multisite
  docker/README.md
  package.json
Labels: Docker, Touches WP.com Files, [Status] Ready to Merge

#12053 AMP compat: make sure Jetpack-only functions are ignored on wpcom
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12025 Update Rewind references to Backup & Scan
  3rd-party/vaultpress.php
  _inc/client/components/dev-card/index.jsx
  _inc/client/security/backups-scan.jsx
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack.php
  docker/README.md
Labels: Backup & Scan, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Enhancement

#12052 Likes and sharing panel: Render on demand
  extensions/blocks/likes/index.js
  extensions/blocks/likes/likes-checkbox.js
  extensions/blocks/sharing/index.js
  extensions/blocks/sharing/sharing-checkbox.js
  extensions/shared/jetpack-likes-and-sharing-panel.js
  extensions/shared/jetpack-plugin-sidebar.js
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#12060 Docs: Remove Gutenberg Blocks Guide
  docs/guides/gutenberg-blocks.md
Labels: Docs, Gutenberg, [Status] Ready to Merge

#12040 LaTeX settting - update tooltip description
  _inc/client/writing/composing.jsx
Labels: Beautiful Math, [Status] Ready to Merge, [Type] Enhancement

#12041 Jumpstart - fix bottom margin to better fit my-plans (and other views)
  _inc/client/components/jumpstart/style.scss
Labels: Jumpstart, [Status] Ready to Merge, [Type] Enhancement

#12004 Settings: Add card and toggle for Extra Sidebar Widgets in the Writing tab
  _inc/client/writing/index.jsx
  _inc/client/writing/widgets.jsx
  modules/module-headings.php
  modules/widgets.php
Labels: Admin Page, Extra Sidebar Widgets, [Status] Design Review Complete, [Status] Ready to Merge

#12037 Post Flair: Fix official LinkedIn and Pinterest buttons vertical alignement by displaying elements as a block
  modules/sharedaddy/sharing.css
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#12015 Sync: Add new WP Cli Lets us set disable and enable and reset jetpack sync queues.
  class.jetpack-cli.php
Labels: Jetpack CLI, [Status] Ready to Merge, [Type] Enhancement

#12063 Travis: Remove PHP 5.2 from WP Master
  .travis.yml
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12017 Settings: Add toggle for Widget visibility under Widgets card in the Writing tab
  _inc/client/writing/widgets.jsx
Labels: Admin Page, Widget Visibility, [Status] Needs Copy Review, [Status] Ready to Merge

#12031 Likes and Sharing Gutenberg extension: Add another hook to catch late-registered CPTs
  modules/likes.php
  modules/sharedaddy/sharing.php
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Ready to Merge

#12032 Gutenberg: Enable Likes and Sharing extension in production
  extensions/index.json
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Ready to Merge

#12005 CLI: new command to create a skeleton of a block
  class.jetpack-cli.php
  extensions/README.md
  wp-cli-templates/block-edit-js.mustache
  wp-cli-templates/block-editor-js.mustache
  wp-cli-templates/block-editor-scss.mustache
  wp-cli-templates/block-index-js.mustache
  wp-cli-templates/block-register-php.mustache
  wp-cli-templates/readme.md
Labels: Gutenberg, Jetpack CLI, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#11715 First pass of ssh uploader cli command
  class.jetpack-cli.php
Labels: Jetpack CLI, [Status] Ready to Merge

#11991 Slideshow block: add image ids to add image in og:image tag
  class.jetpack-post-images.php
  extensions/blocks/slideshow/edit.js
  extensions/blocks/slideshow/index.js
Labels: Publicize, Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge

#12047 Jetpack_Plan: add monthly wpcom variants for bundles
  _inc/client/lib/plans/constants.js
  class.jetpack-plan.php
Labels: Plans, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#12056 Prevent notice about JETPACK__PLUGIN_DIR already being defined when programmatically uninstalling Jetpack
  uninstall.php
Labels: [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#11992 Raw Options: prevent update_raw_option from creating multiple values
  class.jetpack-options.php
  tests/php/test_class.jetpack-options.php
Labels: General, Touches WP.com Files, [Status] Needs Review

#11810 Publicize: fix counting words in posts, take 2.
  _inc/lib/class.media-summary.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#12071 VaultPress module: Fix fatal on REST API request when forging configure URL.
  modules/vaultpress.php
Labels: [Status] Needs Review, [Type] Bug

#12013 Build: Remove explicit Babel dependencies
  package.json
  yarn.lock
Labels: Build, Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#12066 REST API: Fix missing post type in autosaves.
  json-endpoints/class.wpcom-json-api-autosave-post-v1-1-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Bug

#12073 Remove Gutenpack as codeowners
  .github/CODEOWNERS
Labels: Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#11981 WPCOM API: List post-types also return their "public" property
  json-endpoints/class.wpcom-json-api-list-post-types-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#12008 Sync: Add network_disable sync setting that only applies to networks
  sync/class.jetpack-sync-actions.php
  sync/class.jetpack-sync-defaults.php
  sync/class.jetpack-sync-listener.php
  sync/class.jetpack-sync-settings.php
  tests/php/sync/test_class.jetpack-sync-settings.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#12044 Sync: Add post type to non registed post type as well as blocked
  sync/class.jetpack-sync-module-posts.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Sync, Touches WP.com Files, [Status] Ready to Merge

#11610 Adding filter for Sharedaddy ajax_action.
  modules/sharedaddy/sharing-service.php
Labels: Sharing, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#12075 Upgrade prettier package
  modules/widgets/eu-cookie-law/eu-cookie-law.js
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11726 Shortcode reversals: fix phpcs warnings to prepare for Fusion
  modules/shortcodes/class.filter-embedded-html-objects.php
Labels: Shortcodes, Touches WP.com Files, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#11766 Masterbar: remove Sites, Reader, and Account submenus
  bin/phpcs-whitelist.js
  modules/masterbar/masterbar.php
  modules/masterbar/rtl-admin-bar.php
  modules/masterbar/tracks-events.js
  sync/class.jetpack-sync-module-users.php
Labels: Masterbar, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement, [Type] Happiness Request

#11923 Related Posts: avoid translation issues with double quotes
  modules/related-posts/jetpack-related-posts.php
Labels: Internationalization, Related Posts, Touches WP.com Files, [Pri] High, [Status] Needs Review, [Status] Tested on WP.com, [Type] Bug

#11799 Sync: Add/full sync terms previous end
  sync/class.jetpack-sync-module-terms.php
  tests/php/sync/server/class.jetpack-sync-server-replicator.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#11970 Build: Remove redundant lines from webpack config
  webpack.config.js
Labels: Admin Page, Touches WP.com Files, [Status] Needs Review, [Type] Janitorial

#12078 Shortcodes: deprecate the Digg service
  modules/shortcodes/diggthis.php
  modules/shortcodes/unavailable.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Janitorial

#12079 Shortcodes: properly deprecate the Email Subscribe shortcode
  modules/shortcodes/email-subscribe.php
  modules/shortcodes/unavailable.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Janitorial

#10915 Adding aldavigdis and gititon to readme markdown file
  readme.md
Labels: Docs, [Status] In Progress

#12098 Allow JITMs to be translated.
  class.jetpack-jitm.php
Labels: Internationalization, JITM, [Pri] Normal, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#12000 Build: remove externalized dependencies from `package.json`
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#12090 Settings: module prioritization for Widgets or Widget Visibility
  _inc/client/searchable-modules/index.jsx
  _inc/client/writing/index.jsx
  _inc/client/writing/widgets.jsx
  modules/widget-visibility.php
  modules/widgets.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#12094 API: Fixes php warnings in jetpack json api
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: Sync, [Status] Ready to Merge, [Type] Bug

#12085 Likes and Sharing: Hide metaboxes on private post types
  extensions/blocks/likes/likes-checkbox.js
  extensions/blocks/sharing/sharing-checkbox.js
  modules/likes.php
  modules/sharedaddy/sharing.php
Labels: Gutenberg, Likes, Sharing, Touches WP.com Files, [Status] Ready to Merge

#12059 Update to Activity card
  _inc/client/at-a-glance/activity.jsx
Labels: Activity Log, [Status] Ready to Merge, [Type] Enhancement

#12092 Settings - Writing: add toggle for Shortcode Embeds
  _inc/client/searchable-modules/index.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/index.jsx
  modules/shortcodes.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#12087 Shortcodes: fix all phpcs warnings for the Facebook shortcode
  modules/shortcodes/facebook.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Status] Tested on WP.com, [Type] Janitorial

#12113 Tracks Replace usage of add_user_meta for `update_user_meta` in tracks/client.php
  _inc/lib/tracks/client.php
Labels: Tracks, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#12093 Settings - Traffic: add setting for Shortlinks
  _inc/client/searchable-modules/index.jsx
  _inc/client/traffic/index.jsx
  _inc/client/traffic/shortlinks.jsx
  modules/shortlinks.php
Labels: Admin Page, Shortlinks, [Status] Ready to Merge, [Type] Enhancement

#12088 Settings - Writing: introduce a toggle for Custom CSS
  _inc/client/searchable-modules/index.jsx
  _inc/client/writing/index.jsx
  _inc/client/writing/theme-enhancements.jsx
  modules/custom-css.php
Labels: Admin Page, Custom CSS, [Status] Ready to Merge, [Type] Enhancement

#11246 Photon: get rid of jQuery dependency
  class.photon.php
  modules/photon/photon.js
Labels: Photon, [Status] Ready to Merge, [Type] Enhancement

#12121 Settings: remove Latex searchable module card. Make setting searchable.
  _inc/client/searchable-modules/index.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#12050 Update docs for Jetpack Gutenberg extensions
  extensions/README.md
Labels: Docs, Gutenberg, Touches WP.com Files, [Status] Ready to Merge

#12099 Jumpstart: Do not check for updated Jetpack options as precondition to show Jumpstart card in the dashboard
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-options.php
  class.jetpack.php
Labels: Admin Page, Jumpstart, Touches WP.com Files, [Status] Ready to Merge

#12126 Jumpstart: Respect jetpack_action_taken in jumpstart value for users that updated Jetpack to 7.3
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: Jumpstart, [Status] Ready to Merge, [Type] Bug

#12112 Sharing: Improve contrast for accessibility.
  modules/sharedaddy/sharing.css
Labels: Accessibility, Sharing, Touches WP.com Files, [Status] Ready to Merge

#12128 Tracks: Make Jetpack Connect (jpc) verification Tracks events be literals
  class.jetpack-xmlrpc-server.php
Labels: Tracks, [Status] Ready to Merge, [Type] Janitorial

#11980 Tiled gallery block: remove commented-out captions code
  extensions/blocks/tiled-gallery/edit.js
  extensions/blocks/tiled-gallery/editor.scss
  extensions/blocks/tiled-gallery/gallery-image/edit.js
  extensions/blocks/tiled-gallery/gallery-image/save.js
  extensions/blocks/tiled-gallery/index.js
  extensions/blocks/tiled-gallery/layout/index.js
  extensions/blocks/tiled-gallery/layout/test/fixtures/image-sets.js
  extensions/blocks/tiled-gallery/variables.scss
  extensions/blocks/tiled-gallery/view.scss
Labels: Gutenberg, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#11564 Sharing: Remove Google+ from deprecated list
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12137 Update Gutenberg extensions docs i18n example
  extensions/README.md
Labels: Docs, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#12136 Admin Page: Plans - Fix Plan Upgrade button click handler
  _inc/client/plans/top-button.jsx
Labels: Admin Page, Plans, [Status] Ready to Merge, [Type] Bug

#12138 File sync: reorder array to match wpcom
  modules/shortcodes/unavailable.php
Labels: Shortcodes, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12118 Remove modal for paid features
  _inc/client/components/welcome-new-plan/index.jsx
  _inc/client/components/welcome-new-plan/monitor-akismet-backups-prompt.jsx
  _inc/client/components/welcome-new-plan/personal.jsx
  _inc/client/components/welcome-new-plan/premium.jsx
  _inc/client/components/welcome-new-plan/professional.jsx
  _inc/client/components/welcome-new-plan/social-seo-ads-prompt.jsx
  _inc/client/components/welcome-new-plan/style.scss
  _inc/client/components/welcome-new-plan/videopress-prompt.jsx
  _inc/client/main.jsx
  _inc/client/scss/style.scss
  _inc/client/state/settings/actions.js
  _inc/client/state/settings/reducer.js
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  class.jetpack-plan.php
  tests/php/test_class.jetpack-plan.php
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#12140 AMP: check if class exists before to use it.
  modules/likes.php
  modules/widgets/contact-info.php
Labels: AMP, Extra Sidebar Widgets, Likes, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#12139 AMP: check if the class exists before to use it
  modules/carousel/jetpack-carousel.php
  modules/related-posts/jetpack-related-posts.php
  modules/sharedaddy/sharing-service.php
Labels: AMP, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#12131 WordAds: Add location id to each ad call
  extensions/blocks/wordads/wordads.php
  modules/wordads/wordads.php
Labels: Gutenberg, Touches WP.com Files, WordAds, [Block] Ad, [Status] Ready to Merge

#12125 Sync: Store and retrieve granular item count data
  sync/class.jetpack-sync-module-full-sync.php
  tests/php/sync/test_class.jetpack-sync-full.php
Labels: Sync, [Status] Needs Review, [Type] Enhancement

#11354 Editor: Allow composing block editor posts on WordPress.com.
  bin/phpcs-whitelist.js
  modules/module-extras.php
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
  phpunit.xml.dist
  tests/php/modules/wpcom-block-editor/test_class-jetpack-wpcom-block-editor.php
Labels: Calypsoify, [Pri] BLOCKER, [Status] Needs Review, [Type] Enhancement

#12086 Shortcodes: fix all phpcs warnings for the Flickr shortcode
  modules/shortcodes/flickr.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#12082 Update Jumpstart card to elaborate on recommended features
  _inc/client/components/jumpstart/index.jsx
Labels: Admin Page, Jumpstart, [Status] Ready to Merge

#12130 Settings: introduce toggle for Site Verification
  _inc/client/traffic/verification-services.jsx
  _inc/client/traffic/verification-services/google.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#12070 Editor: Add WordPress.com integrations to the block editor
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: Calypsoify, Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#12135 Gutenframe: Show message if user is logged out
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#12134 Remove portfolio post type description
  modules/custom-post-types/portfolios.php
Labels: Custom Content Types, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12150 Settings: don't show JITMs the first time the user visits the Jetpack admin
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-jitm.php
  class.jetpack-options.php
Labels: Admin Page, JITM, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#12152 Gutenberg/Publicize: Fix issue where no connections are shown for CPTs
  _inc/lib/core-api/class-wpcom-rest-field-controller.php
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Ready to Merge

#11865 Unit-tests: WPCOMify core-api publicize test
  tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#12154 Google Video: retire shortcode.
  modules/shortcodes/googlevideo.php
  modules/shortcodes/unavailable.php
Labels: Shortcodes, Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Dotcom Merge, [Type] Janitorial

#10469 New Contact Form After Email Sent Hook
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Type] Enhancement

#11631 Explore new set of default modules
  modules/after-the-deadline.php
  modules/contact-form.php
  modules/custom-content-types.php
  modules/gravatar-hovercards.php
  modules/latex.php
  modules/post-by-email.php
  modules/publicize.php
  modules/sharedaddy.php
  modules/sitemaps.php
  modules/subscriptions.php
  modules/vaultpress.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement
