Repository Automattic/jetpack, pull requests merged in 2020-08, with the labels that each got.

#16615 Social Preview: Add scaffolding for the feature
  class.jetpack-plan.php
  extensions/blocks/social-previews/editor.js
  extensions/blocks/social-previews/editor.scss
  extensions/blocks/social-previews/index.js
  extensions/blocks/social-previews/social-previews.php
  extensions/index.json
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge

#16643 Connection: update design in full connection view
  class.jetpack-connection-banner.php
  images/jetpack-connection-performance.svg
  images/jetpack-connection-security.svg
  scss/organisms/_banners.scss
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#16651 VideoPress Block: Retain alignment support
  extensions/blocks/videopress/editor.js
Labels: Touches WP.com Files, VideoPress, [Status] Ready to Merge

#16671 Settings: check for subdirectory site before rendering Ads.txt section
  _inc/client/traffic/ads.jsx
Labels: Admin Page, WordAds, [Status] Ready to Merge, [Type] Bug

#16437 E2E Tests: Add Jetpack updater test
  .travis.yml
  .wp-env.json
  bin/phpcs-requirelist.js
  tests/e2e/bin/cli-prep.sh
  tests/e2e/bin/includes.sh
  tests/e2e/bin/prep.sh
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/pages/wp-admin/dashboard.js
  tests/e2e/lib/pages/wp-admin/plugins.js
  tests/e2e/lib/pages/wpcom/connections.js
  tests/e2e/lib/setup-env.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/plugins/e2e-plan-data-interceptor.php
  tests/e2e/plugins/e2e-plugin-updater.php
  tests/e2e/specs/plugin-updater.test.js
Labels: E2E Tests, [Status] Ready to Merge

#16659 Janitorial: Update vulnerable NPM packages
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16677 Site Scan: Short-circuit update_threats_link() if Admin Bar is not present
  modules/scan/admin-bar-notice.js
Labels: Backup & Scan, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16690 Error Notice: removing HTML code, adjusting maximum width.
  _inc/client/components/global-notices/style.scss
  _inc/client/components/notice/index.jsx
Labels: Admin Page, [Status] Design Review Complete, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16593 Donations block: Make currency and amounts editable
  extensions/blocks/donations/amount.js
  extensions/blocks/donations/attributes.js
  extensions/blocks/donations/controls.js
  extensions/blocks/donations/edit.js
  extensions/blocks/donations/editor.scss
  extensions/blocks/donations/tab.js
  extensions/blocks/donations/tabs.js
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge

#16706 Update versions to start 8.9 Release cycle
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#16712 Connection Register: Add current user email to connection register request
  packages/connection/src/class-manager.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16640 Fix recurring payments block disconnected from plan when page is reopened in block editor.
  extensions/blocks/recurring-payments/edit.jsx
Labels: Touches WP.com Files, [Block] Payments, [Status] Ready to Merge, [Type] Bug

#16633 Social Previews: Add sidebar UI
  _inc/client/scss/variables/_colors.scss
  extensions/blocks/publicize/connection.js
  extensions/blocks/publicize/editor.scss
  extensions/blocks/publicize/service-icon.js
  extensions/blocks/social-previews/constants.js
  extensions/blocks/social-previews/editor.scss
  extensions/blocks/social-previews/index.js
  extensions/blocks/social-previews/panel.js
  extensions/shared/icons.js
  extensions/shared/icons.scss
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge

#16722 Admin Page: update string still using old i18n format
  _inc/client/components/dash-item/index.jsx
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16721 Admin Page: avoid blank dashboard when notice is not a string
  _inc/client/components/notice/index.jsx
Labels: Admin Page, [Pri] High, [Status] Ready to Merge, [Type] Bug

#16672 Woo Services: update to use existing Jetpack plugin install tools
  3rd-party/woocommerce-services.php
Labels: JITM, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16708 E2E Tests: Fix locator for classic connection flow
  .wp-env.json
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
Labels: E2E Tests, [Status] Needs Review

#16725 Social Previews: Sidebar design updates
  extensions/blocks/social-previews/editor.scss
  extensions/blocks/social-previews/panel.js
Labels: [Block] Social Previews, [Status] Needs Team Review, [Status] Ready to Merge

#16674 New class to handle async XML-RPC requests
  packages/connection/README.md
  packages/connection/docs/xmlrpc-async-calls.md
  packages/connection/src/class-xmlrpc-async-call.php
  packages/connection/tests/php/test_XMLPC_Async_Call.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16735 Lodash: Revert to previous version
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Status] Needs Review, [Type] Bug

#16717 Premium Blocks: Handle core/audio block
  extensions/editor.js
  extensions/shared/blocks/cover/editor.scss
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
  extensions/shared/get-allowed-mime-types.js
  extensions/shared/plan-utils.js
  extensions/shared/premium-blocks/components.js
  extensions/shared/premium-blocks/editor.scss
  extensions/shared/premium-blocks/index.js
  extensions/shared/premium-blocks/media-placeholder.js
  extensions/shared/premium-blocks/media-replace-flow.js
  extensions/shared/premium-blocks/with-upgrade-banner.jsx
Labels: Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Team Review, [Type] Feature

#16705 Donations: Save block content
  extensions/blocks/donations/amount.js
  extensions/blocks/donations/attributes.js
  extensions/blocks/donations/common.scss
  extensions/blocks/donations/context.js
  extensions/blocks/donations/controls.js
  extensions/blocks/donations/editor.scss
  extensions/blocks/donations/index.js
  extensions/blocks/donations/save.js
  extensions/blocks/donations/tab.js
  extensions/blocks/donations/tabs.js
  extensions/blocks/donations/view.js
  extensions/blocks/donations/view.scss
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge

#16724 Make Social Previews a gated feature on WPCom
  extensions/blocks/social-previews/editor.js
  extensions/blocks/social-previews/index.js
  extensions/blocks/social-previews/panel.js
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge

#16745 Update/social preview modal styles
  extensions/blocks/social-previews/modal.js
  extensions/blocks/social-previews/modal.scss
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Needs Review, [Status] Needs Team Review

#16736 Jetpack Monitor: Switch from `user_token` to `blog_token`.
  modules/monitor.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#16758 Jetpack Protect: Replace `user_token` with `blog_token`.
  modules/protect.php
Labels: Connect Flow, [Status] Ready to Merge

#16750 add tracking for deleted but active master users
  packages/connection/src/class-error-handler.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#16778 Add Slim SEO to list of SEO plugins
  class.jetpack.php
  modules/seo-tools.php
Labels: SEO Tools, Sharing, [Status] Ready to Merge, [Type] Enhancement

#16742 Donations: Remove feature from Personal plans
  class.jetpack-plan.php
Labels: [Block] Donation, [Status] Ready to Merge

#16760 avoid warning on wp cli
  docker/mu-plugins/avoid-plugin-deletion.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#16780 E2E Tests: Updates to slack reporter
  tests/e2e/lib/reporters/slack.js
Labels: E2E Tests, [Status] Ready to Merge

#16757 E2E tests: fail E2E CI job
  .travis.yml
Labels: E2E Tests, [Status] Ready to Merge

#16756 E2E tests: Add retry to .org login method
  tests/e2e/lib/pages/wp-admin/login.js
Labels: E2E Tests, [Status] Ready to Merge, [Type] Enhancement

#16743 Donations: Avoid using buttons elements in block output
  extensions/blocks/donations/amount.js
  extensions/blocks/donations/common.scss
  extensions/blocks/donations/editor.scss
  extensions/blocks/donations/save.js
  extensions/blocks/donations/tab.js
  extensions/blocks/donations/tabs.js
  extensions/blocks/donations/view.js
  extensions/blocks/donations/view.scss
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge

#16726 Resolve Sync Errors from empty edge case and WP.com returning concurrent_request_error
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  packages/sync/src/class-queue.php
  tests/php/sync/test_class.jetpack-sync-queue.php
Labels: Sync, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16710 Update/update role use user token
  packages/sync/src/class-users.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge

#16751 Settings: Change copy to not imply backups have been successful
  _inc/client/security/backups-scan.jsx
  _inc/client/security/jetpack-backup.jsx
Labels: Admin Page

#16782 8.8.1: a changelog
  changelog.txt
  readme.txt
Labels: [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#16741 WP 5.5 Compat: Align Jetpack and Core's plugin autoupdates
  class.jetpack-autoupdate.php
  class.jetpack.php
  json-endpoints/jetpack/class.jetpack-json-api-plugins-endpoint.php
  json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
  modules/calypsoify/class.jetpack-calypsoify.php
  packages/sync/src/class-actions.php
  packages/sync/src/class-defaults.php
  packages/sync/src/modules/class-network-options.php
  tests/php/sync/test_class.jetpack-sync-full-immediately.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-network-options.php
  tests/php/sync/test_class.jetpack-sync-plugins.php
Labels: Calypsoify, Manage, [Status] Has Changelog, [Status] Needs Package Release, [Status] Ready to Merge

#16766 Remove usages of removed HTTP_RAW_POST_DATA
  class.jetpack.php
  packages/connection/src/class-manager.php
  tests/php/_inc/lib/test_class.rest-api-authentication.php
  tests/php/modules/post-by-email/test-class.post-by-email-api.php
Labels: General, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16692 Use blog token to add new comment subscriber
  modules/subscriptions.php
Labels: Subscriptions, [Status] Ready to Merge, [Type] Enhancement

#16806 Docker: Add phpmyadmin to the docker-composer.yml
  docker/README.md
  docker/docker-compose.yml
Labels: Docker, [Status] Ready to Merge, [Type] Enhancement

#16762 Instant Search: Tweak expanded result path styling
  modules/search/instant-search/components/search-result-expanded.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16737 Improve a11y of amp-social-share
  modules/sharedaddy/sharing-sources.php
  tests/php/3rd-party/test_class.jetpack-amp-support.php
Labels: Accessibility, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16704 Social Previews: Add Modal
  extensions/blocks/social-previews/constants.js
  extensions/blocks/social-previews/editor.js
  extensions/blocks/social-previews/editor.scss
  extensions/blocks/social-previews/index.js
  extensions/blocks/social-previews/modal.js
  extensions/blocks/social-previews/modal.scss
  extensions/blocks/social-previews/upgrade-illustration.svg
  extensions/blocks/social-previews/upgrade.js
  extensions/blocks/social-previews/utils.js
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge

#16542 Settings: Recognize valid Akismet keys from wp-config and restrict input
  _inc/client/security/antispam.jsx
Labels: Admin Page, Anti-Spam, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#16810 Docker: Add package testing shortcut
  docker/README.md
  package.json
  packages/README.md
  packages/abtest/phpunit.xml.dist
  packages/assets/phpunit.xml.dist
  packages/connection/phpunit.xml.dist
  packages/constants/phpunit.xml.dist
  packages/jitm/phpunit.xml.dist
  packages/partner/phpunit.xml.dist
  packages/redirect/phpunit.xml.dist
  packages/roles/phpunit.xml.dist
  packages/terms-of-service/phpunit.xml.dist
  tests/package-runner.sh
Labels: Docker, Jetpack DNA, Touches WP.com Files, Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16817 Infinite Scroll: Fix bug condition where no wrapper is present
  modules/infinite-scroll/infinity.js
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16746 Extensions: make `render_callback` optional when checking block registration against plan
  class.jetpack-gutenberg.php
  extensions/blocks/social-previews/editor.js
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge

#16792 External Media: Fix `speak` announcements
  extensions/shared/external-media/sources/with-media.js
Labels: Accessibility, Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge

#16669 Increase the `editor.MediaUpload` hook priority
  extensions/shared/external-media/index.js
Labels: Touches WP.com Files, [Extensions] External Media, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16739 My Plan: Add Offer Reset project new plans (Jetpack Security, Jetpack Complete)
  _inc/client/components/dev-card/index.jsx
  _inc/client/lib/plans/constants.js
  _inc/client/my-plan/my-plan-header/index.js
  images/plans/plan-complete.svg
  images/plans/plan-security-daily.svg
  images/plans/plan-security-realtime.svg
Labels: Admin Page, Plans, [Status] Ready to Merge

#16761 New shell command for easier access to the database.
  docker/bin/run-extras.sh
  docker/bin/run.sh
  package.json
Labels: Debug Tools, Docker, Touches WP.com Files, [Status] Ready to Merge

#16795 Theme Tools: Resolve PHP 7.4 array offset notice.
  modules/theme-tools/social-menu.php
Labels: Theme Tools, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16703 Connect-in-place: hide new heading during connection process
  _inc/connect-button.js
  class.jetpack-connection-banner.php
Labels: Connect Flow, [Pri] Normal, [Status] Needs Review, [Type] Bug

#16702 Sync: Fix nonce action string in theme edit sync
  packages/sync/src/modules/class-themes.php
Labels: Activity Log, [Package] Sync, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16786 CI: Try collect js coverage
  .travis.yml
  jest.config.js
  package.json
  packages/a8c-mc-stats/phpunit.xml.dist
  packages/abtest/phpunit.xml.dist
  packages/assets/phpunit.xml.dist
  packages/autoloader/phpunit.xml.dist
  packages/connection/phpunit.xml.dist
  packages/constants/phpunit.xml.dist
  packages/device-detection/phpunit.xml.dist
  packages/error/phpunit.xml.dist
  packages/jitm/phpunit.xml.dist
  packages/logo/phpunit.xml.dist
  packages/partner/phpunit.xml.dist
  packages/redirect/phpunit.xml.dist
  packages/roles/phpunit.xml.dist
  packages/status/phpunit.xml.dist
  packages/terms-of-service/phpunit.xml.dist
  packages/terms-of-service/tests/php/test-terms-of-service.php
  phpunit.xml.dist
  tests/process-coverage.sh
  tests/run-travis.sh
  yarn.lock
Labels: Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge

#16759 External Media: Add account disconnect button
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/sources/google-photos/google-photos-account.js
  extensions/shared/external-media/sources/google-photos/google-photos-disconnect.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Privacy Updates

#16635 Use blog token to make the request to fetchSubscriberCount
  modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16821 Plugins: add hook triggered when a plugin is successfully installed.
  _inc/lib/class.core-rest-api-endpoints.php
Labels: WP REST API, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16820 Creative Mail: configure some options when activating plugin
  3rd-party/creative-mail.php
Labels: Contact Form, DO NOT MERGE, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16748 Donations: Process payment after choosing an amount
  extensions/blocks/donations/common.scss
  extensions/blocks/donations/donations.php
  extensions/blocks/donations/editor.scss
  extensions/blocks/donations/save.js
  extensions/blocks/donations/tab.js
  extensions/blocks/donations/view.js
  extensions/blocks/donations/view.scss
  extensions/blocks/recurring-payments/view.js
  extensions/blocks/recurring-payments/view.scss
  extensions/shared/memberships.js
  extensions/shared/memberships.scss
Labels: Touches WP.com Files, [Block] Donation, [Block] Payments, [Status] Ready to Merge, [Type] Enhancement

#16831 Theme Tools: Use `genericons` if no option are set.
  modules/theme-tools/social-menu.php
Labels: Theme Tools, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#16826 Security: Add resolution for `serialize-javascript`
  package.json
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16794 External Media: Arrow keys navigation
  extensions/shared/external-media/media-browser/index.js
  extensions/shared/external-media/media-browser/media-item.js
  extensions/shared/external-media/media-button/index.js
  extensions/shared/external-media/sources/with-media.js
Labels: Accessibility, Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Enhancement

#16755 Autoloader: don't reset the autoloader version during plugin update
  .gitignore
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/src/autoload.php
  packages/autoloader/src/functions.php
Labels: Jetpack DNA, [Package] Autoloader, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#16838 Packages: Update filenames after #16810
  packages/assets/.gitattributes
  packages/connection/.gitattributes
  packages/jitm/.gitattributes
  packages/partner/.gitattributes
  packages/redirect/.gitattributes
Labels: Jetpack DNA, Unit Tests, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16793 Instant Search: Add sanitizers for Customizer checkbox controls
  modules/search/class-jetpack-search-customize.php
  modules/search/class.jetpack-search-helpers.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#16577 Reconnect Process: Partial Reconnect
  _inc/client/state/connection/actions.js
  packages/connection/composer.json
  packages/connection/src/class-client.php
  packages/connection/src/class-manager.php
  packages/connection/src/class-rest-connector.php
  packages/connection/tests/php/test-rest-endpoints.php
  packages/connection/tests/php/test_Manager.php
Labels: Admin Page, Connect Flow, [Status] Needs Package Release, [Status] Needs Tracks Review, [Status] Ready to Merge

#16799 Calendly Block: Add edit button to block toolbar
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/editor.scss
Labels: Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge, [Type] Enhancement

#16801 Cover Block: Force notice text color so it is visible
  extensions/shared/blocks/cover/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Extensions] Premium Blocks, [Status] Ready to Merge

#16802 Slideshow Block: Hide Swiper next and previous button arrows
  extensions/blocks/slideshow/style.scss
Labels: Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge, [Type] Bug

#16860 Build Tools: remove obsolete build-script and update documentation
  .svnignore
  bin/release-package.php
  packages/README.md
Labels: Docs, Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16818 Compat: add new Creative Mail compat file
  3rd-party/3rd-party.php
  3rd-party/creative-mail.php
  bin/phpcs-requirelist.js
  packages/jitm/src/class-post-connection-jitm.php
Labels: Contact Form, JITM, Touches WP.com Files, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16713 REST API endpoints: expand management endpoints
  _inc/client/rest-api/index.js
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/plugins.php
  bin/phpcs-requirelist.js
  extensions/shared/plugin-management.js
  packages/sync/src/modules/class-plugins.php
Labels: Admin Page, Jetpack CRM, WP REST API, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16670 Instagram Widget: Enqueue CSS in Customizer
  modules/widgets/class-jetpack-instagram-widget.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#16843 test attachments attributes with wordbless
  packages/lazy-images/composer.json
  packages/lazy-images/tests/php/test_class.lazy-images.php
  packages/lazy-images/tests/php/wp-logo.jpg
Labels: Lazy Images, [Status] Needs Package Release

#16872 Unit Tests: Fixing a failing `remote_authorize` test.
  packages/connection/tests/php/test-rest-endpoints.php
Labels: Unit Tests, [Status] Needs Package Release, [Status] Needs Review

#16875 Social Previews: Enable in Production build
  extensions/index.json
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge, [Type] Enhancement

#16797 Social Previews: Add upgrade path
  extensions/blocks/social-previews/upgrade.js
  extensions/shared/plan-utils.js
  extensions/shared/use-upgrade-flow/README.md
  extensions/shared/use-upgrade-flow/index.js
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge, [Type] Task

#16869 VideoPress API: Setting WP current user for XML-RPC methods.
  modules/videopress/class.videopress-xmlrpc.php
Labels: VideoPress, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16844 Donations: Update plans when currency changes
  _inc/lib/core-api/wpcom-endpoints/memberships.php
  extensions/blocks/donations/controls.js
  extensions/blocks/donations/edit.js
  extensions/blocks/donations/tabs.js
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge

#16830 Jetpack SSO: Cleaning up the `requestNonce` API request.
  modules/sso.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Janitorial

#16811 Sharing: Add bottom margin to sharing buttons section
  modules/sharedaddy/sharing.css
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16716 Requests to Stats CSV use the blog token
  modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Enhancement

#16611 Premium Blocks: Implement the new design
  class.jetpack-gutenberg.php
  extensions/blocks/send-a-message/variations.js
  extensions/blocks/videopress/editor.js
  extensions/editor.js
  extensions/extended-blocks/paid-blocks/README.md
  extensions/extended-blocks/paid-blocks/components.js
  extensions/extended-blocks/paid-blocks/edit.js
  extensions/extended-blocks/paid-blocks/editor.scss
  extensions/extended-blocks/paid-blocks/index.js
  extensions/extended-blocks/paid-blocks/media-placeholder.js
  extensions/extended-blocks/paid-blocks/media-replace-flow.js
  extensions/extended-blocks/paid-blocks/paid-symbol.js
  extensions/extended-blocks/paid-blocks/render-paid-icon.js
  extensions/extended-blocks/paid-blocks/test/render-paid-icon.js
  extensions/extended-blocks/paid-blocks/upgrade-plan-banner.jsx
  extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
  extensions/shared/blocks/cover/components.js
  extensions/shared/blocks/cover/edit.js
  extensions/shared/blocks/cover/editor.scss
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
  extensions/shared/components/upgrade-nudge/index.jsx
  extensions/shared/get-allowed-mime-types.js
  extensions/shared/plan-utils.js
  extensions/shared/register-jetpack-block.js
  extensions/shared/use-upgrade-flow/README.md
  extensions/shared/use-upgrade-flow/index.js
Labels: Touches WP.com Files, [Extensions] Premium Blocks, [Status] Ready to Merge

#16861 Creative Mail: update option to lowercase
  3rd-party/creative-mail.php
Labels: Contact Form, [Status] Ready to Merge, [Type] Janitorial

#16892 Donations: Fix dependencies
  extensions/blocks/donations/amount.js
  extensions/blocks/donations/donations.php
  extensions/blocks/donations/view.js
  extensions/index.json
  extensions/shared/currencies.js
Labels: Touches WP.com Files, [Block] Donations, [Status] Ready to Merge

#16867 AAG: Display Backups card when Rewind API is loading or has error
  _inc/client/at-a-glance/backups.jsx
Labels: Admin Page, Backup & Scan, [Status] Ready to Merge, [Type] Bug

#16808 Form Block: add a new Consent Field, a new Newsletter setting, and a new newsletter variation
  extensions/blocks/contact-form/components/jetpack-field-consent.js
  extensions/blocks/contact-form/components/jetpack-field-controls.js
  extensions/blocks/contact-form/components/jetpack-field-css.js
  extensions/blocks/contact-form/components/jetpack-field-label.js
  extensions/blocks/contact-form/components/jetpack-newsletter-integration-settings.js
  extensions/blocks/contact-form/edit.js
  extensions/blocks/contact-form/editor.scss
  extensions/blocks/contact-form/index.js
  extensions/blocks/contact-form/variations.js
  modules/contact-form/css/grunion.css
  modules/contact-form/grunion-contact-form.php
  tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Needs Tracks Review, [Status] Ready to Merge, [Type] Enhancement

#16727 Make Stats module use the blog token
  modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Enhancement

#16889 Social Previews: improve preview description handling
  extensions/blocks/social-previews/modal.js
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge, [Type] Enhancement

#16895 wrap-paid-block: remove component. deprecated.
  extensions/shared/wrap-paid-block.jsx
Labels: Touches WP.com Files, [Extensions] Paid Blocks, [Status] Ready to Merge, [Type] Janitorial

#16285 Use new heartbeat package
  class.jetpack-heartbeat.php
  class.jetpack.php
  composer.json
  composer.lock
  packages/heartbeat/src/class-heartbeat.php
  tests/php/general/test_class.jetpack-heartbeat.php
  tests/php/sync/test_class.jetpack-sync-modules-stats.php
Labels: Jetpack DNA, Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16655 Simplify error notices for broken connections
  packages/connection/README.md
  packages/connection/docs/error-handling.md
  packages/connection/src/class-error-handler.php
  packages/connection/src/error-handlers/class-invalid-blog-token.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16663 Improve Story block media loading
  extensions/blocks/story/edit.js
  extensions/blocks/story/icon.js
  extensions/blocks/story/index.js
  extensions/blocks/story/player/components/background.js
  extensions/blocks/story/player/components/calypso-spinner.js
  extensions/blocks/story/player/components/controls.js
  extensions/blocks/story/player/components/index.js
  extensions/blocks/story/player/components/media.js
  extensions/blocks/story/player/components/overlay.js
  extensions/blocks/story/player/index.js
  extensions/blocks/story/player/lib/wait-media-ready.js
  extensions/blocks/story/player/player.js
  extensions/blocks/story/player/slide.js
  extensions/blocks/story/player/style.scss
  extensions/blocks/story/story.php
  extensions/blocks/story/view.js
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Enhancement

#16698 Use blog token to request the jetpack.updateBlog XMLRPC endpoint
  modules/stats.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#16879 Connection REST API: Unit test for the `remote_authorize` request.
  packages/connection/tests/php/test-rest-endpoints.php
Labels: Connect Flow, Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge

#16883 Jetpack Dashboard: More meaningful error notices.
  _inc/client/components/jetpack-notices/jetpack-connection-errors.jsx
  _inc/client/rest-api/index.js
  _inc/client/state/site/reducer.js
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Admin Page, Connect Flow, [Pri] Normal, [Status] Ready to Merge

#16900 Compat Package: Fix method declaration compatibility
  packages/compat/legacy/class-jetpack-sync-actions.php
Labels: [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16898 Premium Blocks: set blocks availability
  class.jetpack-gutenberg.php
  class.jetpack-plan.php
  class.jetpack.php
  extensions/extended-blocks/core-audio/core-audio.php
  extensions/extended-blocks/core-cover/core-cover.php
  extensions/extended-blocks/core-video/core-video.php
  extensions/extended-blocks/premium-content-container/premium-content-container.php
Labels: Touches WP.com Files, [Extensions] Paid Blocks, [Status] Needs Review, [Status] Needs Team Review

#16882 Premium Blocks: tracking events
  extensions/extended-blocks/paid-blocks/edit.js
  extensions/extended-blocks/paid-blocks/render-paid-icon.js
  extensions/extended-blocks/paid-blocks/upgrade-plan-banner.jsx
  extensions/extended-blocks/paid-blocks/utils.js
  extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
Labels: Touches WP.com Files, Tracks, [Extensions] Paid Blocks, [Status] Needs Review, [Status] Needs Tracks Review

#16634 Use the blog token to make the request for fetchSiteOptions
  class.jetpack.php
Labels: [Status] Ready to Merge

#16897 Disable xmlrpc errors out of JP dashboard
  packages/connection/docs/error-handling.md
  packages/connection/src/class-error-handler.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge

#16880 Update donations block icon to heart gridicon
  extensions/blocks/donations/icon.js
  extensions/blocks/donations/index.js
Labels: Touches WP.com Files, [Block] Donations, [Status] Needs Review

#16907 Connection: Fix broken connection for secondary users
  _inc/client/components/auth-iframe/index.jsx
Labels: Connect Flow, [Pri] High, [Status] Ready to Merge

#16917 remove no longer needed check
  packages/connection/src/class-error-handler.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge

#16921 add new features to debug helper
  packages/connection/src/class-error-handler.php
  packages/debug-helper/modules/inc/class-broken-token-xmlrpc.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge

#16862 Flickr: avoid Fatal errors when receiving unexpected response
  modules/shortcodes/flickr.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16913 Sidebar: Point Jetpack sidebar link to the dashboard instead of WordPress.com
  modules/scan/class-admin-sidebar-link.php
Labels: Admin Page, [Status] Ready to Merge

#16874 Protect: avoid HTML markup displayed on Locked login page
  modules/protect/blocked-login-page.php
Labels: Protect, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16918 Settings: Hide auto-update plugins module for Atomic sites
  _inc/client/security/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Janitorial

#16937 Search: avoid fatals when merging to wp.com
  modules/search/class-jetpack-search-customize.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge

#16914 Donations: Avoid setting a link in the donate button
  extensions/blocks/donations/tab.js
Labels: Touches WP.com Files, [Block] Donations, [Status] Ready to Merge

#16910 Donations: Handle multiple blocks in frontend
  extensions/blocks/donations/view.js
Labels: Touches WP.com Files, [Block] Donations, [Status] Ready to Merge

#16597 Jetpack Anti-Spam: update Anti-Spam label in sidebar menu item
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-admin.php
  class.jetpack-plan.php
  class.jetpack.php
  packages/options/legacy/class-jetpack-options.php
Labels: Anti-Spam, [Status] Needs Package Release, [Status] Ready to Merge

#16700 Gist Shortcode: Remove jQuery Dependency
  modules/shortcodes/gist.php
  modules/shortcodes/js/gist.js
  tests/php/modules/shortcodes/test-class.gist.php
Labels: Performance, Shortcodes / Embeds, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16911 Donations: Send users back to editor after connecting to Stripe
  extensions/blocks/donations/edit.js
  extensions/blocks/donations/loading-status.js
  extensions/blocks/donations/tabs.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/shared/components/stripe-nudge/index.jsx
Labels: Touches WP.com Files, [Block] Donations, [Status] Needs Review

#16949 Move Donations block to production build
  extensions/index.json
Labels: Touches WP.com Files, [Block] Donations, [Status] Ready to Merge

#16890 Customizer: Tweak cookie widget edit button position
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, Widget Visibility, [Status] Ready to Merge

#16873 Protect: check for jetpack_protect_save_whitelist function before using it
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
Labels: Protect, [Status] Ready to Merge, [Type] Bug

#16687 Blocks: update base-styles dependency
  extensions/blocks/contact-form/editor.scss
  extensions/blocks/donations/common.scss
  extensions/blocks/donations/view.scss
  extensions/blocks/gif/editor.scss
  extensions/blocks/gif/style.scss
  extensions/blocks/map/add-point/style.scss
  extensions/blocks/map/style.scss
  extensions/blocks/markdown/editor.scss
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/publicize/editor.scss
  extensions/blocks/rating-star/style.scss
  extensions/blocks/recurring-payments/editor.scss
  extensions/blocks/seo/editor.scss
  extensions/blocks/slideshow/editor.scss
  extensions/blocks/social-previews/modal.scss
  extensions/blocks/story/editor.scss
  extensions/blocks/tiled-gallery/editor.scss
  extensions/blocks/wordads/editor.scss
  extensions/shared/components/style.scss
  extensions/shared/external-media/editor.scss
  package.json
  yarn.lock
Labels: Build, Gutenberg, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16950 Social Previews: fix previews overflowing (Responsive Updates)
  extensions/blocks/social-previews/modal.scss
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge, [Type] Bug

#16607 OpenTable: Implement block styles natively
  extensions/blocks/opentable/attributes.js
  extensions/blocks/opentable/deprecated/v2/index.js
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/editor.scss
  extensions/blocks/opentable/index.js
  extensions/blocks/opentable/opentable.php
  extensions/blocks/opentable/restaurant-picker.js
  extensions/blocks/opentable/use-previous.js
  extensions/blocks/opentable/utils.js
  extensions/blocks/opentable/view.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16286 Connection: use heartbeat to send connected plugins info
  packages/connection/composer.json
  packages/connection/src/class-manager.php
  packages/heartbeat/src/class-heartbeat.php
  tests/php/general/test_class.jetpack.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge

#16953 Form Block: add missing textdomain
  extensions/blocks/contact-form/edit.js
Labels: Contact Form, Internationalization, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16952 Social Previews: Simplify featured image media size logic
  extensions/blocks/social-previews/modal.js
  extensions/blocks/social-previews/utils.js
Labels: Touches WP.com Files, [Block] Social Previews, [Status] Ready to Merge, [Type] Enhancement

#16902 Contact From: Use the new plugin management api for the newsletter
  extensions/blocks/contact-form/components/jetpack-newsletter-integration-settings.js
Labels: Contact Form, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#16886 Site Settings API: Add support for Instant Search flag
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Instant Search, Search, Touches WP.com Files, WPCOM API, [Status] Needs Review, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#16814 Shortcodes: Add support for proxying Instagram embeds via WP.com API
  modules/shortcodes/instagram.php
  tests/php/modules/shortcodes/test-class.instagram.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge

#16954 add new contributors to the readme file
  readme.md
  readme.txt
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16839 Connection: move the rest authentication methods to the connection package
  class.jetpack.php
  packages/connection/src/class-rest-authentication.php
  packages/connection/tests/php/test_Rest_Authentication.php
  tests/php/_inc/lib/test_class.rest-api-authentication.php
  tests/php/modules/post-by-email/test-class.post-by-email-api.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Jetpack DNA, [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16925 Update Authorize URL iframe to include affiliate code
  class.jetpack.php
  packages/partner/src/class-partner.php
  tests/php/general/test_class.jetpack.php
Labels: Connect Flow, [Package] Partner, [Pri] BLOCKER, [Status] Needs Package Release, [Status] Ready to Merge

#16935 Donations block: Redirect users back to Calypso after connecting to Stripe
  _inc/lib/core-api/wpcom-endpoints/memberships.php
  extensions/blocks/donations/fetch-status.js
Labels: Touches WP.com Files, [Block] Donations, [Status] Ready to Merge

#16959 Instant Search: Fix search query decoding
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#16958 Contact Form: put feedback that matches the disallowed list in trash
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16960 Changing Setup Wizard upgradeLinks to use Redirect slugs instead of hardcoding
  _inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
Labels: Admin Page, [Pri] High, [Status] Ready to Merge

#16828 Setup Wizard: Add Creative Mail Recommendation
  _inc/client/rest-api/index.js
  _inc/client/setup-wizard/feature-toggle/index.jsx
  _inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
  _inc/client/setup-wizard/feature-toggle/style.scss
  _inc/client/setup-wizard/index.jsx
  _inc/client/state/setup-wizard/feature-recommendations.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#16965 Blocks: add Calypso Color Schemes back
  package.json
  postcss.config.js
  yarn.lock
Labels: Build, Gutenberg, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#16707 Changelog: initial change for 8.9 release
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#16970 Adding the /bin/jt directory into .gitignore.
  .gitignore
Labels: [Status] Ready to Merge, [Type] Janitorial

#16981 Docs: Reference one location for minimum version of Yarn needed
  docker/README.md
  docs/development-environment.md
Labels: Docker, Docs, [Status] Ready to Merge, [Type] Janitorial

#16691 Depreacate xmlrpc async call
  class.jetpack.php
Labels: [Package] Connection, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#16978 Beta Building: Normalize version number.
  tools/get-version.sh
  tools/includes/normalize-version.sh
  tools/version-update.sh
Labels: Build, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16979 Tracking: Add the connection check.
  packages/tracking/src/class-tracking.php
Labels: Tracks, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#16967 ToS: Remove dependency to Jetpack Connection
  packages/terms-of-service/composer.json
  packages/terms-of-service/src/class-terms-of-service.php
  packages/terms-of-service/tests/php/test-terms-of-service.php
Labels: Jetpack DNA, [Package] Terms of Service, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#16893 Sync - Allow blog token usage in sync related endpoints
  json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  json-endpoints/jetpack/class.wpcom-json-api-get-option-endpoint.php
Labels: [Package] Sync, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16988 Remove deprecated jetpack_tos_agreed
  class.jetpack.php
Labels: [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16987 Config: Add connection status check
  packages/config/composer.json
  packages/config/src/class-config.php
Labels: Package] Config, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#16991 Config: Remove composer dependencies
  packages/config/composer.json
Labels: Package] Config, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge
