Repository Automattic/jetpack, pull requests merged in 2020-11, with the labels that each got.

#17523 E2E Tests: Try localtunnel instead of ngrok
  .github/workflows/e2e-tests.yml
  package.json
  tests/e2e/bin/cli-prep.sh
  tests/e2e/bin/env.sh
  tests/e2e/bin/includes.sh
  tests/e2e/bin/prep.sh
  tests/e2e/bin/wp-setup.sh
  tests/e2e/config/encrypted.enc
  tests/e2e/jest.config.js
  tests/e2e/lib/blocks/simple-payments.js
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/global-teardown.js
  tests/e2e/lib/pages/page.js
  tests/e2e/lib/pages/wp-admin/block-editor.js
  tests/e2e/lib/pages/wp-admin/in-place-authorize.js
  tests/e2e/lib/pages/wp-admin/jetpack.js
  tests/e2e/lib/pages/wp-admin/login.js
  tests/e2e/lib/pages/wpcom/authorize.js
  tests/e2e/lib/pages/wpcom/login.js
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/setup-env.js
  tests/e2e/lib/setup.js
  tests/e2e/lib/tunnel-manager.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/plugin-updater.test.js
  tests/e2e/specs/pre-connection.test.js
  tests/e2e/specs/pro-blocks.test.js
  yarn.lock
Labels: E2E Tests, Touches WP.com Files, [Status] Ready to Merge

#17685 Podcast Player: Render fallback link outside the frontend
  extensions/blocks/podcast-player/podcast-player.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Enhancement

#17624 Update get_term Replicastore function to handle term_taxonomy_id option
  packages/sync/src/class-replicastore.php
  packages/sync/src/interface-replicastore.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review

#17663 Instant Search: change messaging for results loaded without a query
  modules/search/instant-search/components/search-results.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#17699 E2E Tests: Fix calypso plans page locators
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
Labels: E2E Tests, [Status] Ready to Merge, [Type] Bug

#17195 Admin Page: Improve language for unpaid sites re Support offering
  _inc/client/components/support-card/index.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Happiness Request

#17683 Pinterest: Fix typo in Pinterest URL regex
  extensions/blocks/pinterest/pinterest.php
  tests/php/extensions/blocks/test-class.pinterest.php
Labels: Touches WP.com Files, [Block] Pinterest, [Pri] High, [Status] Ready to Merge, [Type] Bug

#17598 Use the first good image for the open graph tag
  functions.opengraph.php
  tests/php/test_class.functions.opengraph.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#17707 Build: Alphabetize package.json
  bin/pre-commit-hook.js
  package.json
Labels: Build, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#17690 Story block set inserter support to false for web, but keep it for native
  extensions/blocks/story/index.js
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Enhancement

#17709 Build: update lock file
  yarn.lock
Labels: Build, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17710 Widget conditions: fix indentation issues introduced in #17434
  modules/widget-visibility/widget-conditions.php
Labels: Touches WP.com Files, Widget Visibility, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#17692 Update access of comment_status_to_approval_value to allow extension.
  packages/sync/src/class-replicastore.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Ready to Merge

#17693 Tests: Speed up linting with php-parallel-lint
  .gitignore
  bin/parallel-lint.sh
  composer.json
  composer.lock
  phpunit.xml.dist
  tests/php/test_php-lint.php
  tests/run-travis.sh
Labels: Unit Tests, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17716 Pass HTTP POST when making a wp.com api request
  packages/connection/src/class-client.php
Labels: VideoPress, WPCOM API, [Status] Needs Package Release, [Status] Ready to Merge

#17686 E2E tests: Fix e2e slack reporter
  .github/workflows/e2e-tests.yml
  tests/e2e/lib/global-teardown.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/wpcom/authorize.js
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
  tests/e2e/lib/reporters/slack.js
  tests/e2e/lib/setup-env.js
Labels: E2E Tests, [Status] Ready to Merge, [Type] Bug

#17638 Slideshow: Add better email styles for slideshow blocks
  extensions/blocks/slideshow/style.scss
Labels: Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge

#17728 Git hooks: Improve "not verified" flagging
  bin/pre-commit-hook.js
  bin/prepare-commit-msg.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17729 Codesniffer: Fix code coverage generation hang due to Generic.PHP.Syntax sniff
  .phpcs.xml.dist
  packages/codesniffer/tests/php/tests/test-jetpackstandard.php
Labels: [Package] Codesniffer, [Pri] High, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#17723 Sitemaps: Include a trailing slash on the home url.
  modules/sitemaps/sitemap-builder.php
Labels: Sitemaps, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#17649 Changelog: update with latest changes
  changelog.txt
  readme.txt
Labels: [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#17493 External Media: Don't append to Coblocks replace button
  extensions/shared/external-media/index.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#17734 Tests: Clean up registered post types
  tests/php/sync/test_class.jetpack-sync-posts.php
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Task

#17752 Docs: Fix the sanitize link in the coding standards document.
  docs/coding-guidelines.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge

#17756 Git hooks: Revert code removing the "not verified" tag
  bin/prepare-commit-msg.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17749 Coming soon: synching roll back changes on WPCOM
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-update-site-homepage-endpoint.php
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#17759 Update version numbers to start 9.2 release cycle
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#17765 Contact Form: bring changes from release branch to master
  changelog.txt
  modules/contact-form/admin.php
  modules/contact-form/js/grunion-admin.js
  readme.txt
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Type] Bug

#17758 Status: Add a couple of test cases for staging site detection
  packages/status/tests/php/test-status.php
Labels: Unit Tests, [Package] Status, [Pri] Low, [Status] Needs Package Release, [Status] Ready to Merge

#17755 Improve PHP 8 compatibility
  .github/codeclimate-base.yml
  .github/files/phpcompatibility-dev-phpcs.xml
  .github/matchers/phpcs-problem-matcher.json
  .github/workflows/phpcompatibility-dev.yml
  .phpcs.config.xml
  .phpcs.xml.dist
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/class.media.php
  _inc/lib/debugger/class-jetpack-cxn-test-base.php
  class.jetpack-gutenberg.php
  class.jetpack-modules-list-table.php
  class.jetpack-post-images.php
  class.json-api-endpoints.php
  composer.json
  dangerfile.js
  modules/contact-form/grunion-contact-form.php
  modules/widgets/rsslinks-widget.php
  packages/device-detection/src/class-device-detection.php
  tests/php/general/test_class.jetpack-xmlrpc-server.php
  tests/php/general/test_class.jetpack.php
  tests/php/lib/class-wp-test-jetpack-rest-testcase.php
  tests/php/modules/sso/test_class.jetpack-sso-helpers.php
  tests/php/sync/test_class.jetpack-sync-callables.php
  tests/php/sync/test_class.jetpack-sync-integration.php
Labels: Touches WP.com Files, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#17140 Mobile stories block
  extensions/blocks/contact-info/edit.native.js
  extensions/blocks/story/edit.native.js
  extensions/blocks/story/editor.native.scss
  extensions/blocks/story/icon-customize.native.js
  extensions/blocks/story/index.js
  extensions/blocks/story/story-editing-button.native.js
  extensions/editor.native.js
  extensions/shared/icons.scss
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Enhancement

#17771 Unit Tests: Fix typo in docblock
  tests/php/test_class.jetpack_photon.php
Labels: Photon, Unit Tests, [Pri] Low, [Status] Ready to Merge

#17776 Docs: Update coding-guidelines.md to point to the Jetpack PHPCS standard
  docs/coding-guidelines.md
Labels: Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17757 Scan: Use admin menu API to register menu item
  modules/scan/class-admin-sidebar-link.php
Labels: Backup & Scan, [Status] Ready to Merge, [Type] Enhancement

#17762 Modify masterbar module to include new unified admin color schemes file
  modules/masterbar.php
  modules/masterbar/admin-color-schemes/admin-color-schemes.php
  modules/masterbar/masterbar/masterbar.php
  modules/masterbar/masterbar/overrides.css
  modules/masterbar/masterbar/rtl-admin-bar.php
  modules/masterbar/masterbar/tracks-events.js
  modules/module-headings.php
Labels: Masterbar, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#17781 Masterbar: Remove unused RTL_Admin_Bar class
  modules/masterbar/masterbar/masterbar.php
  modules/masterbar/masterbar/rtl-admin-bar.php
Labels: Masterbar, [Status] Ready to Merge, [Type] Enhancement

#17768 WhatsApp Button: Fix misalignment on mobile devices
  extensions/blocks/send-a-message/whatsapp-button/view.scss
Labels: Touches WP.com Files, [Block] Send a message, [Type] Bug

#17784 Masterbar: Remove Admin Bar include
  modules/masterbar/masterbar/masterbar.php
Labels: Masterbar, [Status] Needs Review, [Type] Bug

#17706 Contact Form Block: Improve fallback markup.
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#17778 AMP infinite scroll add hidden
  modules/infinite-scroll/class-jetpack-amp-infinite-scroll-sanitizer.php
  modules/theme-tools/compat/twentynineteen.php
  modules/theme-tools/compat/twentytwenty.php
Labels: AMP, Infinite Scroll, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#17696 Payments Block: Remove notice from canvas
  extensions/blocks/recurring-payments/edit.jsx
Labels: Touches WP.com Files, [Block] Payments, [Status] Ready to Merge

#17767 Clarified error message for non-writable options table.
  packages/connection/src/class-manager.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge

#17726 Pre-commit: Lint E2E tests files
  bin/pre-commit-hook.js
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#17727 Codecoverage: fix reports
  .travis.yml
  packages/blocks/phpunit.xml.dist
  packages/lazy-images/phpunit.xml.dist
  tests/process-coverage.sh
  tests/run-travis.sh
Labels: Build, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#17806 [RNMobile] Reimplement (#17140) Mobile stories block for release 1.41.1
  extensions/blocks/contact-info/edit.native.js
  extensions/blocks/story/edit.native.js
  extensions/blocks/story/editor.native.scss
  extensions/blocks/story/icon-customize.native.js
  extensions/blocks/story/index.js
  extensions/blocks/story/story-editing-button.native.js
  extensions/editor.native.js
  extensions/shared/icons.scss
Labels: Touches WP.com Files

#17708 Story block improvements
  extensions/blocks/story/edit.js
  extensions/blocks/story/icon.js
  extensions/blocks/story/player/components/bullet.js
  extensions/blocks/story/player/components/button.js
  extensions/blocks/story/player/components/media.js
  extensions/blocks/story/player/components/overlay.js
  extensions/blocks/story/player/index.js
  extensions/blocks/story/player/player.js
  extensions/blocks/story/player/progress-bar.js
  extensions/blocks/story/player/style.scss
  extensions/blocks/story/story.php
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Enhancement

#17796 Add support for stats in Web Stories.
  modules/stats.php
Labels: Stats, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#17819 Tests: Use Composer 2.0.6 in Travis tests
  .travis.yml
Labels: Unit Tests, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#17800 Add the no_user_testing mode
  packages/connection/src/class-manager.php
  packages/status/src/class-status.php
Labels: [Package] Connection, [Package] Status, [Status] Needs Author Reply, [Status] Needs Package Release, [Type] Enhancement

#17705 Tiled Gallery Block: Update styles for WP.com emails.
  extensions/blocks/tiled-gallery/view.scss
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Status] Ready to Merge, [Type] Enhancement

#17694 Fix remaining phpcs warnings in most of requirelist
  bin/phpcs-requirelist.js
  class.jetpack-plan.php
  extensions/blocks/instagram-gallery/instagram-gallery.php
  extensions/blocks/wordads/wordads.php
  json-endpoints/jetpack/class-jetpack-json-api-delete-backup-helper-script-endpoint.php
  json-endpoints/jetpack/class-jetpack-json-api-install-backup-helper-script-endpoint.php
  modules/google-analytics/classes/class-jetpack-google-amp-analytics.php
  modules/masterbar.php
  modules/masterbar/admin-color-schemes/class-admin-color-schemes.php
  modules/post-by-email/class-jetpack-post-by-email.php
  modules/shortcodes/mailchimp.php
  modules/shortcodes/presentations.php
  modules/shortcodes/untappd-menu.php
  modules/shortcodes/wordads.php
  modules/wordads/php/class-wordads-sidebar-widget.php
  packages/abtest/.gitignore
  packages/abtest/composer.json
  packages/abtest/tests/php/bootstrap.php
  packages/abtest/tests/php/test-abtest.php
  packages/connection/src/class-rest-authentication.php
  packages/sync/src/modules/class-term-relationships.php
  packages/sync/src/modules/class-users.php
Labels: Touches WP.com Files, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#17473 Contact Form: Clean up test logic
  tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#17827 Testing Tools: Add Jetpack Debug Helper to live branches script
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#17821 social-icons: only return a single icon per link
  modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17783 Masterbar: Register admin_color as user meta
  modules/masterbar.php
  modules/masterbar/admin-color-schemes/class-admin-color-schemes.php
  modules/masterbar/masterbar/class-masterbar.php
  phpunit.xml.dist
  tests/php/modules/masterbar/test-class-admin-color-schemes.php
Labels: Masterbar, WP REST API, [Status] Ready to Merge, [Type] Enhancement

#17830 Milestone Widget: Remove non-class code from class definition file.
  modules/widgets/milestone.php
  modules/widgets/milestone/class-milestone-widget.php
  modules/widgets/milestone/milestone.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#17831 Pre-commit: Run phpcs-changed even if no required files are changed
  bin/pre-commit-hook.js
Labels: [Pri] High, [Status] Ready to Merge, [Type] Bug

#17661 Instant Search: Implement cancellable API requests
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/lib/api.js
  package.json
  yarn.lock
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#17700 Instagram: introduce new function to clean up URL and params
  modules/shortcodes/instagram.php
  tests/php/modules/shortcodes/test-class.instagram.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#17840 Whatsapp Block: Fix Guyana country code metadata
  extensions/blocks/send-a-message/shared/countrycodes.js
Labels: Touches WP.com Files, [Block] Send a message, [Status] Ready to Merge, [Type] Bug

#17785 Github Actions: Always run (but sometimes skip) phpcompatibility-dev
  .github/workflows/phpcompatibility-dev.yml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17835 Build: use symlinked dev versions of packages in dev environment
  bin/version-packages.sh
  composer.json
Labels: Build, [Pri] Normal, [Status] Ready to Merge

#17813 Autoloader: AutoloadGenerator no longer extends Composer's AutoloadGenerator class
  .travis.yml
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/src/CustomAutoloaderPlugin.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge

#17404 Jetpack Sync : update should_initialize_sender_enqueue to honor filtered value vs overwriting.
  packages/sync/src/class-actions.php
  packages/sync/src/class-listener.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#17626 Edit Post API: Restores the post comments when untrashing a post.
  json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
  tests/php/json-api/test-class.json-api-update-post-endpoints.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#17794 Status: Improve the staging site detection
  packages/status/src/class-status.php
  packages/status/tests/php/test-status.php
Labels: [Package] Status, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#17751 Update of Out of Sync Site Health message to be more clear.
  _inc/lib/debugger/class-jetpack-cxn-tests.php
Labels: [Package] Sync, [Status] Ready to Merge, [Type] Enhancement

#17867 Status: Fix test failure
  packages/status/tests/php/test-status.php
Labels: Unit Tests, [Package] Status, [Pri] High, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#17838 Migrate jetpack_published_post to wp_after_insert_post hook
  packages/sync/src/modules/class-posts.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Activity Log, Backup & Scan, Publicize, Search, Subscriptions, [Package] Sync, [Status] Needs Package Release, [Status] Ready to Merge

#17713 Handle empty SERVER_PORT information on signature checks
  packages/connection/legacy/class-jetpack-signature.php
  packages/connection/tests/php/bootstrap.php
  packages/connection/tests/php/test_Signature.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#17868 E2E Tests: Fix tests
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
Labels: E2E Tests, [Status] Ready to Merge, [Type] Janitorial

#17833 Status: Introduce get_site_suffix method
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/components.php
  class.jetpack-cli.php
  class.jetpack-gutenberg.php
  class.jetpack.php
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/masterbar/masterbar/class-masterbar.php
  modules/publicize/publicize.php
  modules/sharedaddy/sharing-service.php
  packages/jitm/src/class-post-connection-jitm.php
  packages/redirect/composer.json
  packages/redirect/src/class-redirect.php
  packages/redirect/tests/php/test-redirect.php
  packages/status/src/class-status.php
  packages/status/tests/php/test-status.php
Labels: Touches WP.com Files, [Status] Needs Package Release, [Status] Needs Testing, [Status] Ready to Merge

#17847 Docs: Document "suggested changelog entry"
  .github/PULL_REQUEST_TEMPLATE.md
  docs/writing-a-good-changelog-entry.md
Labels: Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17798 Fix incorrect links to Jetpack credentials form
  _inc/client/at-a-glance/backups.jsx
  _inc/client/at-a-glance/scan.jsx
  _inc/client/security/backups-scan.jsx
  _inc/client/security/jetpack-backup.jsx
Labels: Admin Page, Backup & Scan, Redirects, [Status] Ready to Merge

#17856 Remove spacing inside figure tag for Story block
  extensions/blocks/story/story.php
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge

#17844 Instant Search: Stop passing search string as query string object
  modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#17876 Fix Date constructor RangeError exception on Firefox when running alongside Gutenberg 9.4.1
  extensions/shared/external-media/constants.js
Labels: Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#17697 Contact Form: Use the same default email and subject as the form block
  extensions/blocks/contact-form/attributes.js
  extensions/blocks/contact-form/edit.js
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17875 Modules: Make the generated module-headings.php pass PHPCS
  modules/module-headings.php
  tools/build-module-headings-translations.php
Labels: [Pri] Normal, [Status] Needs Changelog, [Type] Janitorial

#17815 Disable web stories open graph tags.
  3rd-party/3rd-party.php
  3rd-party/web-stories.php
  bin/phpcs-requirelist.js
Labels: Publicize, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#17760 Story block: Fix static preview for VideoPress videos on WP.com
  extensions/blocks/story/story.php
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Bug

#17795 Google Analytics: Add Support for GA4 Tags with GA4 JS
  docker/README.md
  modules/google-analytics/classes/wp-google-analytics-legacy.php
  tests/php/modules/google-analytics/test-class.google-analytics.php
Labels: Google Analytics, [Pri] High, [Status] Ready to Merge, [Type] Bug

#17886 External Media: Fix month order in Google Photos
  extensions/shared/external-media/constants.js
Labels: Gutenberg, Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#17881 Docs: Add minimum composer version to dev env doc
  docs/development-environment.md
Labels: Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17772 9.2: a changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#17780 Replace /plans and /plans-prompt routes with a redirect to cloud.jetpack.com/pricing
  _inc/client/at-a-glance/search.jsx
  _inc/client/components/plans/plan-price/README.md
  _inc/client/components/plans/plan-price/index.jsx
  _inc/client/components/plans/plan-price/style.scss
  _inc/client/lib/plans/constants.js
  _inc/client/main.jsx
  _inc/client/performance/search.jsx
  _inc/client/plans-prompt/index.jsx
  _inc/client/plans-prompt/style.scss
  _inc/client/plans/constants.js
  _inc/client/plans/duration-switcher.js
  _inc/client/plans/feture-item.jsx
  _inc/client/plans/index.jsx
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/product-selector.jsx
  _inc/client/plans/single-product-components/plan-radio-button.jsx
  _inc/client/plans/single-product-components/plan-radio-button.scss
  _inc/client/plans/single-product-components/price-group.jsx
  _inc/client/plans/single-product-components/product-options-label.js
  _inc/client/plans/single-product-components/product-savings.jsx
  _inc/client/plans/single-product-components/product-savings.scss
  _inc/client/plans/single-product-components/promo-nudge.jsx
  _inc/client/plans/single-product-components/promo-nudge.scss
  _inc/client/plans/single-product-components/purchased-product-card.jsx
  _inc/client/plans/single-product-components/upgrade-button.jsx
  _inc/client/plans/single-product-search/index.jsx
  _inc/client/plans/single-product/index.js
  _inc/client/plans/single-product/style.scss
  _inc/client/plans/single-products.scss
  _inc/client/plans/style.scss
  _inc/client/plans/top-button.jsx
  _inc/client/plans/utility.js
  _inc/client/scss/style.scss
  _inc/client/state/site/reducer.js
Labels: Admin Page, Plans, Redirects, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#17889 Theme Tools: add Twenty Twenty One compatibility files
  bin/phpcs-requirelist.js
  modules/theme-tools.php
  modules/theme-tools/compat/twentytwentyone.css
  modules/theme-tools/compat/twentytwentyone.php
  tools/builder/frontend-css.js
Labels: Theme Tools, Touches WP.com Files, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#17899 Change URL attribute type to string
  extensions/blocks/podcast-player/podcast-player.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#17903 Tools: Fix empty dir removal in tools/deploy-to-svn.sh
  tools/deploy-to-svn.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#17904 Update .svnignore
  .svnignore
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17900 API: Expose `anchor_podcast` option in the site endpoint
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#17895 Masterbar: Make tests WPCOM-patible
  tests/php/modules/masterbar/test-class-admin-color-schemes.php
Labels: Masterbar, Unit Tests, [Status] Ready to Merge, [Type] Enhancement

#17863 fix (wpcom api): fix linting errors in Settings endpoint
  bin/phpcs-requirelist.js
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17910 WPCOM API: update option names in request format
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#17915 fix typos and add section to error handling docs
  packages/connection/docs/error-handling.md
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge

#17902 Build: migrate from Travis to GH Actions
  .github/workflows/code-coverage.yml
  .github/workflows/js-tests.yml
  .github/workflows/phpunit.yml
  .travis.yml
  packages/connection/tests/php/bootstrap.php
  tests/php/bootstrap.php
  tests/php/modules/masterbar/test-class-admin-color-schemes.php
  tests/run-travis.sh
  tests/setup-travis.sh
Labels: Actions, Build, Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge

#17906 Tools: Use build-production-concurrently in tools/build-release-branch.sh
  tools/build-release-branch.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17887 E2E Tests: Remove Ngrok references
  tests/e2e/README.md
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/pages/wp-admin/block-editor.js
  tests/e2e/lib/pages/wp-admin/dashboard.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/plugin-updater.test.js
Labels: E2E Tests, [Status] Ready to Merge

#17919 Remove TravisCI build status image from readme
  readme.md
Labels: General, Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Type] Bug

#17912 Slideshow block: Force captions to have opacity
  extensions/blocks/slideshow/style.scss
Labels: Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge, [Type] Bug

#17924 Closes 16836 - Added NPE check for post when updating image metadata
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17703 Phpcs: Replace the requirelist with an excludelist
  .phpcs.config.xml
  .svnignore
  bin/class-jetpack-phpcs-exclude-filter.php
  bin/phpcs-excludelist.txt
  bin/phpcs-requirelist-commands.js
  bin/phpcs-requirelist.js
  bin/pre-commit-hook.js
  composer.json
  dangerfile.js
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  modules/widgets/social-icons.php
  tests/php/json-api/test-class.json-api-update-post-endpoints.php
  tests/php/modules/masterbar/test-class-admin-color-schemes.php
Labels: Touches WP.com Files, Unit Tests, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17718 Reorganize composer scripts
  bin/pre-commit-hook.js
  composer.json
  docs/development-environment.md
  package.json
  packages/lazy-images/README.md
  tests/run-travis.sh
Labels: Touches WP.com Files, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#17908 Connection: Refreshing connected plugin on multisite networks
  packages/connection/src/class-plugin-storage.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#17719 CI: Add a Github workflow to run php linting
  .github/files/php-linting-phpcs.xml
  .github/matchers/php-lint-problem-matcher.json
  .github/matchers/phpcs-problem-matcher.json
  .github/workflows/php-linting.yml
  bin/parallel-lint.sh
  tests/run-travis.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial
