Repository Automattic/jetpack, pull requests merged in 2020-06, with the labels that each got.

#16010 Fix `jetpack sync start` CLI command
  class.jetpack-cli.php
  packages/sync/src/class-sender.php
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Sync, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16020 Jetpack Setup Wizard: Fix last-child margin of recommended features
  _inc/client/setup-wizard/feature-toggle-group/style.scss
  _inc/client/setup-wizard/recommended-features/style.scss
Labels: Admin Page, Connect Flow, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16018 Connection: Fix issue where ABSPATH not included with register
  packages/connection/src/class-manager.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#15952 Recurring Payments: Update price after currency changes
  extensions/blocks/recurring-payments/edit.jsx
Labels: Touches WP.com Files, [Block] Recurring Payments, [Status] Ready to Merge

#16019 Jetpack Setup Wizard: Adjust order of recommended features
  _inc/client/state/setup-wizard/feature-recommendations.js
  _inc/client/state/setup-wizard/reducer.js
Labels: Admin Page, Connect Flow, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16003 Image Compare: set width and height attributes for block's images
  extensions/blocks/image-compare/edit.js
  extensions/blocks/image-compare/image-compare.php
Labels: AMP, Touches WP.com Files, [Block] Image Compare, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16009 Form Block: Make sure the add block button is aligned correctly.
  extensions/blocks/contact-form/editor.scss
Labels: Contact Form, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16022 Hide pre-connection JITM on the posts page when few posts are published
  packages/jitm/src/class-pre-connection-jitm.php
Labels: Admin Page, Connect Flow, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#16008 Move Jetpack logo to icon file
  extensions/shared/block-category.js
  extensions/shared/icons.js
  extensions/shared/jetpack-plugin-sidebar.js
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16011 Refactor currentUserConnected checks
  extensions/blocks/instagram-gallery/constants.js
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/use-connect-wpcom.js
  extensions/shared/is-current-user-connected.js
Labels: Touches WP.com Files, [Block] Latest Instagram Posts, [Status] Ready to Merge, [Type] Janitorial

#16037 General: start 8.7 release cycle
  jetpack.php
  package.json
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#15817 Change the Contact Form "Empty Spam" button to empty the spam in batches so the page doesn't time out when there's a lot of spam.
  modules/contact-form/admin.php
  modules/contact-form/css/grunion.css
  modules/contact-form/js/grunion-admin.js
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge

#15717 External Media: Implementation
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  bin/phpcs-whitelist.js
  extensions/editor.js
  extensions/shared/external-media/constants.js
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/index.js
  extensions/shared/external-media/media-browser/index.js
  extensions/shared/external-media/media-browser/media-item.js
  extensions/shared/external-media/media-browser/placeholder.js
  extensions/shared/external-media/media-button/index.js
  extensions/shared/external-media/media-button/media-menu.js
  extensions/shared/external-media/media-button/media-sources.js
  extensions/shared/external-media/sources/api.js
  extensions/shared/external-media/sources/google-photos/auth-instructions.js
  extensions/shared/external-media/sources/google-photos/auth-progress.js
  extensions/shared/external-media/sources/google-photos/breadcrumbs.js
  extensions/shared/external-media/sources/google-photos/date-formatting.js
  extensions/shared/external-media/sources/google-photos/filter-option.js
  extensions/shared/external-media/sources/google-photos/filter-request.js
  extensions/shared/external-media/sources/google-photos/filter-view.js
  extensions/shared/external-media/sources/google-photos/google-photos-auth.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
  extensions/shared/external-media/sources/google-photos/index.js
  extensions/shared/external-media/sources/index.js
  extensions/shared/external-media/sources/pexels.js
  extensions/shared/external-media/sources/with-media.js
  extensions/shared/icons.js
  package.json
  yarn.lock
Labels: Touches WP.com Files, WP REST API, [Extensions] External Media, [Status] Ready to Merge, [Type] Enhancement

#15982 Block Extensions: Fix Stripe nudge Tracks event.
  extensions/shared/components/stripe-nudge/index.jsx
Labels: Touches WP.com Files, [Block] Recurring Payments, [Status] Ready to Merge, [Type] Bug

#16039 Twitter Cards: avoid PHP notices when no image width / height info
  class.jetpack-twitter-cards.php
Labels: Sharing, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#16038 Revert #16010
  class.jetpack-cli.php
  packages/sync/src/class-sender.php
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Sync, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Type] Bug

#16045 Changelog: 8.6.1 updates
  readme.txt
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16052 Update Lazy Load description in readme.txt
  readme.txt
Labels: Docs, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#16050 SEO Tools: Re-term 'grandfather' to 'legacy'
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  modules/seo-tools/jetpack-seo-utils.php
Labels: SEO Tools, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16058 Remove usage of the Jetpack_Error class in the connection package
  packages/connection/legacy/class-jetpack-xmlrpc-server.php
  packages/connection/src/class-manager.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Needs Review

#16051 Image Compare: Increase CSS specificity to avoid theme conflict
  extensions/blocks/image-compare/view.scss
Labels: Touches WP.com Files, [Block] Image Compare, [Status] Ready to Merge

#16044 External Media: Render Media after authentication
  extensions/shared/external-media/sources/google-photos/google-photos-auth.js
  extensions/shared/external-media/sources/google-photos/index.js
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review, [Type] Bug

#16059 External MediaExtend button margin to featured image
  extensions/shared/external-media/editor.scss
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review, [Type] Bug

#15927 AMP support for [gravatar-profile] shortcode
  modules/shortcodes/css/gravatar-amp.css
  modules/shortcodes/gravatar.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge

#16073 Improve AMP compatibility for the TwitchTV shortcodes.
  modules/shortcodes/twitchtv.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16061 Remove usage of Jetpack_Error
  class.jetpack-error.php
  class.jetpack.php
  modules/subscriptions.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#16032 WooCommerce Anaylytics: PHPCS
  bin/phpcs-whitelist.js
  modules/woocommerce-analytics.php
  modules/woocommerce-analytics/class-jetpack-woocommerce-analytics.php
  modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Ready to Merge, [Type] Enhancement

#16071 External Media: Better reflect accepted media types
  extensions/shared/external-media/media-button/media-menu.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge

#16075 Clear threats for Atomic sites
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Backup & Scan, WPCOM API, [Status] Needs Team Review, [Status] Ready to Merge

#16083 Conflicting plugins: add Rank Math to the list
  class.jetpack.php
  modules/seo-tools.php
Labels: SEO Tools, Sharing, Sitemaps, Verification tools, [Status] Ready to Merge, [Type] Enhancement

#16024 Image Compare: remove unused dependencies
  extensions/blocks/image-compare/edit.js
Labels: Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16040 SAL: avoid notice with incomplete media items
  sal/class.json-api-post-base.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16088 Fix accessibility of verbose related posts
  modules/related-posts/related-posts.js
Labels: Accessibility, Related Posts, [Status] Design Review Complete, [Status] Ready to Merge

#16091 Improve dashboard stats a11y
  _inc/client/at-a-glance/style.scss
  _inc/client/components/chart/bar.jsx
  _inc/client/components/chart/style.scss
Labels: Accessibility, Stats, [Status] Design Review Complete, [Status] Ready to Merge

#16054 Podcast Player: add episode link and hide single episode track lists
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/icons/link.js
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/templates/playlist-track.php
  extensions/blocks/podcast-player/templates/podcast-header-title.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#16074 Improve AMP compatibility for the Mixcloud shortcode
  modules/shortcodes/mixcloud.php
  tests/php/modules/shortcodes/test-class.mixcloud.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16077 External Media: Account for multiple images
  extensions/shared/external-media/media-button/media-menu.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Enhancement

#16063 Make Slideshare shortcode to be compatible with AMP
  modules/shortcodes/slideshare.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16055 External Media: Fix Modal focus loss on arrow keypress
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Package Release, [Status] Ready to Merge

#15888 AMP support for [dailymotion-channel] shortcode
  modules/shortcodes/dailymotion.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge

#16097 Adds Jetpack products and Cloud eligibility to site API
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#16100 Remove whitelist/blacklist from files in the Jetpack root directory
  class.jetpack-cli.php
  class.jetpack-gutenberg.php
  class.jetpack.php
  functions.photon.php
Labels: General, Gutenberg, Jetpack CLI, Protect, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16098 External Media: Fix mobile modal size
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Status] Needs Team Review

#16101 Sitemaps: Do not use relative include.
  modules/sitemaps.php
  modules/sitemaps/sitemap-builder.php
  modules/sitemaps/sitemap-librarian.php
  modules/sitemaps/sitemap-state.php
  modules/sitemaps/sitemaps.php
Labels: Sitemaps, Touches WP.com Files, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#16103 External Media: Loading and disabled states for the copying state
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/media-browser/index.js
  extensions/shared/external-media/media-browser/media-item.js
  extensions/shared/external-media/sources/google-photos/filter-view.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
  extensions/shared/external-media/sources/pexels.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review

#16106 Fix color contrast ratio accessibility issue with "required" text on forms
  modules/contact-form/css/grunion.css
Labels: Accessibility, Contact Form, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge

#15497 AMP Sharing Support - Include all services
  3rd-party/class.jetpack-amp-support.php
  modules/sharedaddy/amp-sharing.css
  modules/sharedaddy/sharing-sources.php
  tests/php/3rd-party/test_class.jetpack-amp-support.php
Labels: AMP, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16023 VideoPress Block: Add support for playing the video in the block editor.
  extensions/blocks/videopress/edit.js
Labels: Gutenberg, Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Enhancement

#16102 External Media: Restore focus on modal close
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/media-button/media-menu.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#15931 Button Block: Add parent-child syncing mechanism
  extensions/blocks/button/attributes.js
  extensions/blocks/button/edit.js
  extensions/blocks/button/use-passthrough-attributes.js
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Status] Ready to Merge, [Type] Enhancement

#16124 External Media: Prevent clicks from propagating out
  extensions/shared/external-media/media-button/index.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review, [Type] Bug

#16122 Actions: revert warning about Crew being away again
  .github/workflows/needs-review.yml
Labels: [Status] Ready to Merge, [Type] Janitorial

#16145 Jetpack Unit Tests: Skip test_shortcodes_hulu_id_via_oembed_http_reqUest as the test is super flakey
  tests/php/modules/shortcodes/test-class.hulu.php
Labels: Shortcodes / Embeds, Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#16155 Add missing closing curly brace for media at-rule
  modules/scan/class-admin-bar-notice.php
Labels: Backup & Scan, [Status] Ready to Merge, [Type] Bug

#16149 Recurring Payments: Remove border on editor
  extensions/shared/submit-button.js
Labels: Touches WP.com Files, [Block] Recurring Payments, [Status] Needs Review

#16148 Recurring Payments: Keep custom text on plan change
  extensions/blocks/recurring-payments/edit.jsx
Labels: Touches WP.com Files, [Block] Recurring Payments, [Status] Ready to Merge

#16139 Recurring Payments: Allow setting a custom text color
  extensions/blocks/recurring-payments/edit.jsx
Labels: Touches WP.com Files, [Block] Recurring Payments, [Status] Ready to Merge

#16144 External Media: Improve CSS namespacing
  extensions/shared/external-media/editor.scss
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Review, [Type] Bug

#16078 Search: Sync minor change from wp.com
  modules/search/class-jetpack-instant-search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Team Review

#16107 Cover: Handling site plan and its errors
  extensions/editor.js
  extensions/shared/blocks/cover/cover-media-placeholder.js
  extensions/shared/blocks/cover/editor.scss
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
  extensions/shared/components/block-nudge/index.jsx
  extensions/shared/components/upgrade-nudge/index.jsx
Labels: Plans, Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Enhancement

#16134 Allow custom CSS to override [portfolio] shortcode styles
  modules/custom-post-types/portfolios.php
  modules/custom-post-types/testimonial.php
Labels: Custom Content Types, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#16115 Add a trailing / to jetpack.com/redirect URLs.
  _inc/client/lib/jp-redirect/index.js
  composer.lock
  packages/redirect/README.md
  packages/redirect/composer.json
  packages/redirect/src/class-redirect.php
  packages/redirect/tests/php/test_Redirect.php
Labels: Performance, Redirects, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16138 TwentyTwenty specific fixes for the .com toolbar
  modules/theme-tools/compat/twentytwenty.css
Labels: Backwards Compatibility, Theme Tools, Touches WP.com Files, [Status] Ready to Merge

#16151 API: Add filter to /sites/$blog-id/roles
  json-endpoints/class.wpcom-json-api-list-roles-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge

#16131 Update copy for shortlinks module
  modules/module-headings.php
  modules/shortlinks.php
Labels: Shortlinks, [Status] Ready to Merge

#16080 Instant Search: Start extracting translatable strings
  modules/search/class-jetpack-instant-search.php
  webpack.config.search.js
Labels: Instant Search, Internationalization, Search, Touches WP.com Files, [Status] Ready to Merge

#16162 Form Block: Add required option to the checkbox field
  extensions/blocks/contact-form/components/jetpack-field-checkbox.js
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16177 updates jetpack product topic on pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, [Status] Ready to Merge

#16030 AMP support for Gravatar Hovercards
  modules/gravatar-hovercards.php
  modules/gravatar/gravatar-hovercards-amp.css
Labels: AMP, Gravatar Hovercards, [Status] Ready to Merge

#16164 Make Comics CPT validate for AMP
  modules/custom-post-types/comics.php
Labels: AMP, Custom Content Types, Touches WP.com Files, [Status] Ready to Merge

#16049 REST File upload: Add custom error codes
  json-endpoints/class.wpcom-json-api-upload-media-v1-1-endpoint.php
Labels: Internationalization, Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#15977 Jetpack and Network: add a filter for the jetpack_disconnect capability
  bin/phpcs-whitelist.js
  class.jetpack-network.php
  class.jetpack.php
  tests/php/general/test-class.jetpack-network.php
  tests/php/general/test_class.jetpack-network.php
Labels: General, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16146 Shortcodes: Twitch: Add required parent query param to embed
  modules/shortcodes/twitchtv.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Dotcom Merge

#15260 WordAds: Add consent support for California Consumer Privacy Act (CCPA)
  _inc/client/traffic/ads.jsx
  _inc/client/traffic/index.jsx
  _inc/lib/class.core-rest-api-endpoints.php
  bin/phpcs-whitelist.js
  modules/wordads/js/wordads-ccpa.js
  modules/wordads/php/class-wordads-california-privacy.php
  modules/wordads/php/params.php
  modules/wordads/php/widgets.php
  modules/wordads/wordads.php
  packages/sync/src/class-defaults.php
  scss/cleanslate.scss
  scss/wordads-ccpa.scss
  tests/php/sync/test_class.jetpack-sync-options.php
  tools/builder/react.js
Labels: Touches WP.com Files, WordAds, [Status] Design Review Complete, [Status] Needs Package Release, [Status] Needs Privacy Updates, [Status] Ready to Merge, [Type] Enhancement

#16181 Tunneling: Add bash scripts to .gitignore
  .gitignore
Labels: Build, [Status] Ready to Merge

#16017 Instant Search: Add default sort customizer control
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-sort.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/lib/api.js
  modules/search/instant-search/lib/constants.js
  modules/search/instant-search/lib/dom.js
  modules/search/instant-search/lib/query-string.js
  modules/search/instant-search/lib/sort.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Feature

#16087 HACK: Add beta build github action
  .github/workflows/build-beta.yml
Labels: Actions, [Status] Ready to Merge, [Type] Infrastructure

#16175 SSO: Update types in `jetpack_sso_handle_login` action DocBlock
  modules/sso.php
Labels: Docs, SSO, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#16125 Image Compare: fix issue with editing two blocks in a post
  extensions/blocks/image-compare/view.js
Labels: Touches WP.com Files, [Block] Image Compare, [Status] Ready to Merge

#16172 Latest Instagram Posts: Don't try to reuse a connection if it doesn't exist anymore
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/use-connect-instagram.js
Labels: Gutenberg, Touches WP.com Files, [Block] Latest Instagram Posts, [Status] Ready to Merge, [Type] Bug

#16185 External Media: Improve upload permission check
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  tests/php/core-api/wpcom-endpoints/test_class-wpcom-rest-api-v2-endpoint-external-media.php
Labels: Touches WP.com Files, Unit Tests, [Status] Needs Review, [Type] Enhancement

#16191 Staging Sites: add newspack staging to the list of known providers
  packages/status/src/class-status.php
  packages/status/tests/php/test-status.php
Labels: Development Mode, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#16197 Jetpack Live Branches: Fix Jurassic Ninja link update on DOM re-render
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge, [Type] Janitorial

#16132 Remove the jQuery Spin and spin.js libraries
  .eslintignore
  _inc/jquery.spin.js
  _inc/spin.js
  class.jetpack.php
  modules/carousel/jetpack-carousel.css
  modules/carousel/jetpack-carousel.js
  modules/carousel/jetpack-carousel.php
  modules/custom-post-types/comics.php
  modules/custom-post-types/comics/comics.css
  modules/custom-post-types/comics/comics.js
Labels: Performance, Touches WP.com Files, [Status] Ready to Merge

#16200 Github Actions: fix build-beta artifact
  .github/workflows/build-beta.yml
Labels: Actions, [Status] Needs Review

#16192 Tools: Update whitelist
  .svnignore
  bin/phpcs-requirelist.js
  bin/pre-commit-hook.js
  dangerfile.js
  docs/development-environment.md
Labels: General, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16193 PHPCS Updates after WPCS 2.3
  bin/phpcs-requirelist.js
  docker/mu-plugins/avoid-plugin-deletion.php
  docker/mu-plugins/debug.php
  extensions/blocks/podcast-player/templates/podcast-header-title.php
  json-endpoints/jetpack/class-jetpack-json-api-install-backup-helper-script-endpoint.php
  modules/theme-tools/site-breadcrumbs.php
  packages/abtest/tests/php/test_Abtest.php
  packages/analyzer/scripts/jetpack-slurper.php
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/tests/php/path_to_class.php
  packages/autoloader/tests/php/test_Autoloader.php
  packages/autoloader/tests/php/test_file_loader.php
  packages/logo/tests/php/test_Logo.php
  packages/partner/tests/php/test_Partner.php
  packages/roles/tests/php/test_Roles.php
  packages/terms-of-service/tests/php/test_TermsOfService.php
  tests/e2e/plugins/e2e-plan-data-interceptor.php
Labels: Touches WP.com Files, [Pri] Low, [Status] Needs Package Release, [Status] Needs Review, [Type] Janitorial

#16168 New script that will revert the stable tag for Jetpack in wp.org svn.
  tools/revert-release.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#16187 Sitemaps: Disable Core's sitemap
  modules/sitemaps.php
Labels: Sitemaps, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16184 Site Purchases: Return an error if the response from the API is not 200
  _inc/lib/core-api/class.jetpack-core-api-site-endpoints.php
Labels: Admin Page, WP REST API, WPCOM API, [Pri] Normal, [Status] Ready to Merge

#16209 Plugin Search Hints: Remove status request to wp.com.
  modules/plugin-search.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#15863 Calendly Block: Replace SubmitButton with new button block
  extensions/blocks/calendly/attributes.js
  extensions/blocks/calendly/calendly.php
  extensions/blocks/calendly/deprecated/v1/index.js
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/editor.scss
  extensions/blocks/calendly/index.js
  extensions/blocks/calendly/save.js
  extensions/blocks/calendly/test/utils.js
  extensions/blocks/calendly/utils.js
  extensions/blocks/calendly/view.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Block] Calendly, [Status] Ready to Merge

#16086 Podcast Player: Fix initialization of podcast player on infinite scroll load
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/view.js
Labels: Infinite Scroll, Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#16222 Sitemaps: Update filter
  modules/sitemaps.php
Labels: Sitemaps, [Status] Ready to Merge, [Type] Bug

#15918 Eventbrite Block: Update Button
  extensions/blocks/button/edit.js
  extensions/blocks/button/index.js
  extensions/blocks/eventbrite/attributes.js
  extensions/blocks/eventbrite/deprecated/index.js
  extensions/blocks/eventbrite/deprecated/v1/index.js
  extensions/blocks/eventbrite/deprecated/v2/index.js
  extensions/blocks/eventbrite/deprecated/v2/save.js
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/eventbrite.php
  extensions/blocks/eventbrite/index.js
  extensions/blocks/eventbrite/modal-button-preview.js
  extensions/blocks/eventbrite/save.js
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Block] Eventbrite, [Status] Ready to Merge, [Type] Enhancement

#15934 Button Block: Add documentation
  extensions/blocks/button/README.md
Labels: Gutenberg, [Block] Button, [Status] Ready to Merge, [Type] Janitorial

#16199 Jetpack Sync: Update reference to `JETPACK_MASTER_USER` to not use the global constant
  packages/sync/src/class-actions.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement, [Type] Janitorial

#16228 Eventbrite Block: Center the button when the parent block is center aligned
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/eventbrite/style.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#16046 Sync: Add test to verify do_full_sync returns error when existing lock
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Sync, Unit Tests, [Status] Needs Changelog, [Status] Needs Review

#16204 PHPCS: Modules
  modules/shortcodes/crowdsignal.php
  modules/shortcodes/mailchimp.php
  modules/shortcodes/tweet.php
  modules/theme-tools/devicepx.php
Labels: Shortcodes / Embeds, Theme Tools, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#15669 Connection Package: Soft Disconnects
  class.jetpack.php
  packages/connection/docs/register-site.md
  packages/connection/src/class-manager.php
  packages/connection/src/class-plugin-storage.php
  packages/connection/src/class-plugin.php
  packages/connection/tests/php/test-class-plugin.php
  packages/connection/tests/php/test_Manager.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge

#16229 Blog Stats Widget: Update Label on Hits Text Field
  modules/widgets/blog-stats.php
Labels: Extra Sidebar Widgets, Stats, [Status] Needs Review

#16053 Explicit single execution of do_full_sync from cron
  packages/sync/src/class-actions.php
  tests/php/sync/test_class.jetpack-sync-actions.php
Labels: Sync, Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16234 Reformat files
  _inc/client/components/foldable-card/index.jsx
  _inc/client/components/form-input-validation/index.jsx
  _inc/client/components/global-notices/docs/example.jsx
  _inc/client/components/popover/index.jsx
  _inc/client/components/setting-toggle/index.jsx
  _inc/client/components/spinner/docs/example.jsx
  _inc/client/plans-prompt/index.jsx
  _inc/client/traffic/verification-services/google.jsx
  extensions/blocks/image-compare/index.js
  extensions/blocks/tiled-gallery/deprecated/v1/layout/mosaic/ratios.js
  extensions/blocks/tiled-gallery/layout/mosaic/ratios.js
  extensions/shared/blocks/cover/cover-media-placeholder.js
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
  extensions/shared/components/upgrade-nudge/index.jsx
Labels: Touches WP.com Files, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#15989 Instant Search: Add support for hiding search sort selector
  bin/phpcs-requirelist.js
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/class.jetpack-search-helpers.php
  modules/search/customize-controls/class-label-control.css
  modules/search/customize-controls/class-label-control.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/lib/customize.js
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Feature

#16180 Memberships: Add a donations argument to the status endpoint.
  _inc/lib/core-api/wpcom-endpoints/memberships.php
Labels: Touches WP.com Files, WP REST API, [Block] Payments, [Status] Ready to Merge

#16167 Calypsoify: Add check for cookies to enable breaking out of iframe if 3rd party cookies blocked
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: Calypsoify, [Status] Ready to Merge, [Type] Enhancement

#16227 Publicize: Properly formats text in broken connections list
  extensions/blocks/publicize/editor.scss
Labels: Gutenberg, Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16062 Connection: add the api_constant filter before setup_xmlrpc_handlers called
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16239 Dev Tools: Broken Token Helper
  docker/mu-plugins/.gitignore
  docker/mu-plugins/avoid-plugin-deletion.php
  docker/mu-plugins/jetpack-debug-helper-loader.php
  docker/mu-plugins/jetpack-debug-helper/class-broken-token.php
  docker/mu-plugins/jetpack-debug-helper/css/style.css
  docker/mu-plugins/jetpack-debug-helper/inc/class-broken-token-xmlrpc.php
  docker/mu-plugins/jetpack-debug-helper/plugin.php
Labels: Docker, [Status] Needs Review, [Type] Enhancement

#16247 Add test case reminder bot configuration
  .github/test-case-reminder.json
Labels: [Status] Needs Review, [Type] Infrastructure

#16206 Instant Search: Use full width of overlay if sidebar is empty
  modules/search/class-jetpack-instant-search.php
  modules/search/instant-search/components/jetpack-colophon.scss
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/index.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#15106 Feature Branch: Update the Autoloader
  .gitignore
  packages/autoloader/README.md
  packages/autoloader/phpunit.xml.dist
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/src/CustomAutoloaderPlugin.php
  packages/autoloader/src/autoload.php
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-classes-handler.php
  packages/autoloader/src/class-files-handler.php
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/src/class-version-selector.php
  packages/autoloader/src/functions.php
  packages/autoloader/tests/php/bootstrap.php
  packages/autoloader/tests/php/test-version-selector.php
  packages/autoloader/tests/php/test_Autoloader.php
  packages/autoloader/tests/php/test_file_loader.php
  packages/autoloader/tests/php/test_plugins_handler.php
Labels: Jetpack DNA, [Package] Autoloader, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16057 Check blog token when computing is_registered
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge

#16251 Autoloader: use JETPACK__PLUGIN_DIR when looking for the jetpack plugin directory
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-classes-handler.php
  packages/autoloader/src/class-files-handler.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16256 Autoloader: add fallback check for plugin path in mu-plugins
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-classes-handler.php
  packages/autoloader/src/class-files-handler.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Needs Review

#16237 Memberships: Allow an `all` value for product type when querying membership status.
  _inc/lib/core-api/wpcom-endpoints/memberships.php
Labels: Touches WP.com Files, WP REST API, [Block] Payments, [Status] Ready to Merge

#16133 Renaming Earn features
  _inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/recurring-payments/view.js
  extensions/blocks/simple-payments/index.js
  modules/widgets/simple-payments.php
  modules/widgets/simple-payments/admin-warning.php
  modules/widgets/simple-payments/form.php
  modules/widgets/simple-payments/widget.php
  tests/e2e/lib/blocks/simple-payments.js
  tests/e2e/specs/pro-blocks.test.js
Labels: Pay with Paypal, Touches WP.com Files, [Block] Payments, [Status] Ready to Merge, [Type] Enhancement

#16170 Mailchimp Block: Replace submit button with inner button block
  extensions/blocks/mailchimp/deprecated/v1/index.js
  extensions/blocks/mailchimp/edit.js
  extensions/blocks/mailchimp/index.js
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/mailchimp/view.scss
Labels: Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Enhancement

#16249 Add regression checklist
  docs/testing/regression-checklist/README.md
  docs/testing/regression-checklist/mapping.json
  docs/testing/regression-checklist/regression-checklist.md
  docs/testing/regression-checklist/test-suites/extenstions/all.md
  docs/testing/regression-checklist/test-suites/extenstions/blocks/contact-form.md
  docs/testing/regression-checklist/test-suites/modules/publicize.md
  docs/testing/regression-checklist/test-suites/modules/stats.md
  docs/testing/regression-checklist/test-suites/packages/connection.md
  docs/testing/regression-checklist/test-suites/packages/sync.md
Labels: [Status] Needs Review, [Type] Infrastructure

#16258 Docker: Add docs on switching WP versions
  docker/README.md
Labels: Docker, Docs, [Status] Ready to Merge

#16236 Editor: Revert Update switch to classic editor link
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Status] Ready to Merge

#16262 Regression Checklist: Fix typo and encoding issue
  docs/testing/regression-checklist/test-suites/extensions/all.md
  docs/testing/regression-checklist/test-suites/extensions/blocks/contact-form.md
  docs/testing/regression-checklist/test-suites/packages/connection.md
Labels: [Status] In Progress

#16171 Cover: Use context to show Upgrade Nudge.
  extensions/shared/blocks/cover/components.js
  extensions/shared/blocks/cover/cover-media-placeholder.js
  extensions/shared/blocks/cover/edit.js
  extensions/shared/blocks/cover/editor.scss
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
  extensions/shared/get-allowed-mime-types.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16232 Gutenburg blocks: use BlockIcon in MediaPlaceholder for Simple payments
  extensions/blocks/simple-payments/featured-media.js
Labels: Gutenberg, Pay with Paypal, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge

#16271 Cover: Only add filter if needed
  extensions/shared/blocks/cover/cover-media-placeholder.js
  extensions/shared/blocks/cover/index.js
  extensions/shared/blocks/cover/utils.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16243 Instant Search: use our own decode function for query strings
  modules/search/instant-search/lib/query-string-decode.js
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#16279 Autoloader: fix the fatal that occurs during plugin update
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/src/functions.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Needs Review

#16231 Slideshow: do not render markup when user doesn't select any images
  extensions/blocks/slideshow/slideshow.js
  extensions/blocks/slideshow/slideshow.php
Labels: Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge, [Type] Enhancement

#16272 Cover: Handle upgrade nudge when replace background
  extensions/shared/blocks/cover/cover-replace-control-button.js
  extensions/shared/blocks/cover/index.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16129 Moving jetpack_is_mobile into a package
  class.jetpack-user-agent.php
  class.jetpack.php
  composer.json
  composer.lock
  functions.global.php
  modules/custom-css/custom-css.php
  modules/infinite-scroll/themes/twentyfourteen.php
  modules/masterbar/masterbar.php
  modules/sharedaddy/sharing-sources.php
  packages/device-detection/.gitattributes
  packages/device-detection/README.md
  packages/device-detection/composer.json
  packages/device-detection/phpunit.xml.dist
  packages/device-detection/src/class-device-detection.php
  packages/device-detection/src/class-user-agent-info.php
  packages/device-detection/tests/php/bootstrap.php
  packages/device-detection/tests/php/test_DeviceDetection.php
Labels: Jetpack DNA, Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge

#16242 Memberships: Add a route for generating products.
  _inc/lib/core-api/wpcom-endpoints/memberships.php
  extensions/blocks/recurring-payments/index.js
Labels: Touches WP.com Files, WP REST API, [Block] Payments, [Status] Ready to Merge

#16277 Form Block: Fix checked option on checkbox not persisting.
  extensions/blocks/contact-form/components/jetpack-field-checkbox.js
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge

#16283 Form Block: add more test cases
  docs/testing/regression-checklist/test-suites/extensions/blocks/contact-form.md
Labels: Contact Form, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16069 External Media: Updates for 8.7
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/index.js
  extensions/shared/external-media/media-browser/index.js
  extensions/shared/external-media/media-browser/media-item.js
  extensions/shared/external-media/media-button/media-menu.js
  extensions/shared/external-media/sources/google-photos/filter-view.js
  extensions/shared/external-media/sources/google-photos/google-photos-auth.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
  extensions/shared/external-media/sources/google-photos/index.js
  extensions/shared/external-media/sources/pexels.js
  extensions/shared/external-media/sources/with-media.js
  tests/php/core-api/wpcom-endpoints/test_class-wpcom-rest-api-v2-endpoint-external-media.php
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review, [Status] Ready to Merge, [Type] Task

#16260 Fix AMP Reader Mode sharing warning
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Sharing, Touches WP.com Files, [Status] Needs Review

#16190 External Media: Update Google Photo Filters
  extensions/shared/external-media/constants.js
  extensions/shared/external-media/sources/google-photos/date-formatting.js
  extensions/shared/external-media/sources/google-photos/filter-option.js
  extensions/shared/external-media/sources/google-photos/filter-request.js
  extensions/shared/external-media/sources/google-photos/filter-view.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Author Reply

#16284 Autoloader: use paths to identify plugins instead of the directories
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-classes-handler.php
  packages/autoloader/src/class-files-handler.php
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/src/functions.php
  packages/autoloader/tests/php/test_plugins_handler.php
Labels: Jetpack DNA, [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16288 External Media: Show for empty galleries
  extensions/shared/external-media/index.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#16289 External Media: Update button class for styles to apply
  extensions/shared/external-media/editor.scss
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#16173 Config: check for both JITM namespaces
  packages/config/src/class-config.php
Labels: JITM, Jetpack DNA, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge

#16282 Editor: Hide switch to classic link if in editor deprecation group
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Status] Ready to Merge

#16297 IDC: remove remote killswitch
  class.jetpack.php
  tests/php/general/test_class.jetpack.php
Labels: General, IDC, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16293 SEO Tools / Open Graph: improve cleaning up of description meta tags
  functions.opengraph.php
  modules/seo-tools/jetpack-seo.php
  tests/php/test_class.functions.opengraph.php
Labels: SEO Tools, Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16295 Facebook: avoid relying on jQuery for the official button
  modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16294 Social Logos: update to include new Facebook logo design
  _inc/social-logos/social-logos.css
  _inc/social-logos/social-logos.eot
  _inc/social-logos/social-logos.html
  _inc/social-logos/social-logos.min.css
  _inc/social-logos/social-logos.ttf
  _inc/social-logos/social-logos.woff
  _inc/social-logos/social-logos.woff2
  modules/sharedaddy/images/smart-like.png
  modules/sharedaddy/images/smart-like@2x.png
  modules/theme-tools/social-menu/social-menu.svg
Labels: Extra Sidebar Widgets, Sharing, Theme Tools, Touches WP.com Files, [Pri] Normal, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#16300 Connection package: Don't throw warnings if the database is corrupted somehow
  packages/connection/src/class-plugin-storage.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge

#16246 Widgets: Display Posts widget: Fetch less data when requesting posts from WPCOM
  modules/widgets/wordpress-post-widget/class.jetpack-display-posts-widget-base.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16290 Dashboard: Reconnect Notice
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/components/jetpack-notices/notice-action-disconnect.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#16201 Connection: move connection custom caps to the Connection package
  class.jetpack.php
  packages/connection/composer.json
  packages/connection/src/class-manager.php
  packages/connection/tests/php/test_Manager.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement
