Repository Automattic/jetpack, pull requests merged in 2020-04, with the labels that each got.

#15201 Podcast Player: Scope podcast player styles for consistency
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15229 E2E tests: Hide welcome guide in block editor
  tests/e2e/lib/pages/wp-admin/block-editor.js
Labels: [Status] Needs Review, [Type] Bug

#15228 Podcast Player - make feed fetch call cancellable and cancel on Block removal.
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/utils.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review, [Type] Feature

#15226 Podcast Player: Add interaction overlay
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/editor.scss
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review

#15221 Update/podcast header ss rendering
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/templates/podcast-header-title.php
  extensions/blocks/podcast-player/templates/podcast-header.php
  extensions/blocks/podcast-player/templates/podcast-title.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review

#15205 Set default values for getRewindMessage
  _inc/client/security/backups-scan.jsx
  _inc/client/security/jetpack-backup.jsx
Labels: Backup & Scan, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#15231 ESLint: update eslint config
  .eslintrc.js
Labels: Build, [Status] Ready to Merge

#15217 add missing textdomain do gettext call
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Internationalization, Touches WP.com Files, [Status] Ready to Merge

#15230 Podcast Player: format active track in SS
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/templates/playlist-track.php
  extensions/blocks/podcast-player/templates/podcast-header.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review, [Type] Enhancement

#15223 ensure woo analytics checkout event fires for checkout block
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Needs Author Reply, [Status] Needs Cherry-Pick

#15207 Podcast Player Accessibility and Interactions
  extensions/blocks/podcast-player/components/audio-player.js
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/icons/track-icons.js
Labels: Accessibility, Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review, [Type] Enhancement

#15236 Upgrades packages that successfully build.
  package.json
  yarn.lock
Labels: Build, General, Touches WP.com Files, [Status] Ready to Merge

#15238 Google+: remove old references
  _inc/lib/class.core-rest-api-endpoints.php
  modules/theme-tools/social-links.php
Labels: Theme Tools, Touches WP.com Files, WP REST API, [Pri] Low, [Status] Needs Review, [Type] Janitorial

#15243 Podcast Player: Set colors to podcast title and description, in server-side.
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/templates/podcast-header-title.php
  extensions/blocks/podcast-player/templates/podcast-header.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review, [Type] Enhancement

#15241 ESLint: Workaround failure to parse files with template literals
  .eslintrc.js
Labels: Build, [Pri] High, [Status] Needs Review, [Type] Janitorial

#15232 Autoloader: Skip single-file plugins
  packages/autoloader/src/class-plugins-handler.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Author Reply, [Status] Needs Package Release

#15233 WP for Teams: add is_wpforteams_site option to sites endpoint
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#15252 E2E tests: Retry to connect on connection failure
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/pages/wpcom/authorize.js
Labels: Unit Tests, [Status] Ready to Merge

#15234 Podcast Player: Add loading and default states
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/templates/podcast-header.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review

#15193 Plan: Add support for Monthly pay period to products.
  _inc/client/plans/duration-switcher.js
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/product-selector.jsx
  _inc/client/plans/single-product-backup/body.jsx
  _inc/client/plans/single-product-backup/index.jsx
  _inc/client/plans/single-product-components/plan-radio-button.jsx
  _inc/client/plans/single-product-components/upgrade-button.jsx
  _inc/client/plans/single-product-search/index.jsx
  _inc/client/plans/single-products.scss
  _inc/client/plans/style.scss
  _inc/client/state/action-types.js
  _inc/client/state/initial-state/reducer.js
  _inc/client/state/plans/actions.js
  _inc/client/state/plans/index.js
  _inc/client/state/plans/reducer.js
  _inc/client/state/reducer.js
Labels: Plans, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug, [Type] Enhancement

#15240 My Plan: Adds a card for Jetpack Scan to My Plans
  _inc/client/lib/plans/constants.js
  _inc/client/my-plan/my-plan-card/index.jsx
  _inc/client/my-plan/my-plan-header/index.js
  images/products/product-jetpack-scan.svg
Labels: Backup & Scan, [Status] Ready to Merge, [Type] Feature

#15242 Search: format the number of records displayed on plan page
  _inc/client/plans/single-product-search/index.jsx
Labels: Instant Search, Search, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15139 Post by Email: Refactoring and Unit Tests
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  bin/phpcs-whitelist.js
  modules/post-by-email.php
  modules/post-by-email/class-jetpack-post-by-email.php
  modules/post-by-email/post-by-email.js
  phpunit.xml.dist
  tests/php/modules/post-by-email/test-class.post-by-email-api.php
Labels: Post By Email, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#15185 Block: Opentable - fix the required plan name so upgrade nudge shows correctly
  extensions/blocks/opentable/opentable.php
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15237 Plans: update links on single products
  _inc/client/plans/product-selector.jsx
  _inc/client/plans/single-product-backup/body.jsx
  _inc/client/plans/single-product-search/index.jsx
  _inc/client/plans/single-products.scss
  _inc/client/plans/style.scss
Labels: Backup & Scan, Instant Search, Plans, Search, [Status] Needs Cherry-Pick, [Status] Needs Design Review, [Status] Ready to Merge

#15265 Instant Search: Improve customizer integration
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/lib/colors.js
  modules/search/instant-search/lib/customize.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#15278 Update cache-busting parameter for gprofiles
  modules/gravatar-hovercards.php
Labels: Gravatar Hovercards, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15259 Instan Search: Stop spawning the overlay on popstate events
  modules/search/instant-search/components/search-app.jsx
Labels: Carousel, Instant Search, Search, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#15270 Minor CSS fix to the email input box in email subscription widget
  modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15279 Instant Search: ensures all widgets have no background
  modules/search/instant-search/components/search-sidebar.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Needs Review

#15220 Feature: Podcast Player
  .phpcs.xml.dist
  extensions/blocks/podcast-player/components/audio-player.js
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/editor.scss
  extensions/blocks/podcast-player/icons/track-icons.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/templates/playlist-track.php
  extensions/blocks/podcast-player/templates/podcast-header-title.php
  extensions/blocks/podcast-player/templates/podcast-header.php
  extensions/blocks/podcast-player/templates/podcast-title.php
  extensions/blocks/podcast-player/utils.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#15218 Eventbrite, Pinterest Blocks: Use new shared function to test embeddable URLs
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/index.js
  extensions/blocks/pinterest/edit.js
  extensions/blocks/pinterest/index.js
  extensions/shared/test-embed-url.js
  tests/e2e/lib/blocks/eventbrite.js
  tests/e2e/lib/blocks/pinterest.js
  tests/e2e/specs/free-blocks.test.js
Labels: Gutenberg, Touches WP.com Files, [Block] Eventbrite, [Block] Pinterest, [Status] Ready to Merge, [Type] Janitorial

#15280 Update the base styles package and the dependent variables
  extensions/blocks/tiled-gallery/editor.scss
  package.json
  yarn.lock
Labels: Build, Gutenberg, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14454 Blocks: Add support for Collections
  extensions/blocks/amazon/index.js
  extensions/blocks/business-hours/index.js
  extensions/blocks/calendly/index.js
  extensions/blocks/contact-form/index.js
  extensions/blocks/contact-info/address/index.js
  extensions/blocks/contact-info/email/index.js
  extensions/blocks/contact-info/index.js
  extensions/blocks/contact-info/phone/index.js
  extensions/blocks/eventbrite/index.js
  extensions/blocks/gif/index.js
  extensions/blocks/google-calendar/index.js
  extensions/blocks/instagram-gallery/index.js
  extensions/blocks/mailchimp/index.js
  extensions/blocks/map/settings.js
  extensions/blocks/markdown/index.js
  extensions/blocks/opentable/index.js
  extensions/blocks/pinterest/index.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/rating-star/index.js
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/related-posts/index.js
  extensions/blocks/repeat-visitor/index.js
  extensions/blocks/revue/index.js
  extensions/blocks/simple-payments/index.js
  extensions/blocks/slideshow/index.js
  extensions/blocks/subscriptions/index.js
  extensions/blocks/tiled-gallery/index.js
  extensions/blocks/wordads/index.js
  extensions/shared/block-category.js
Labels: General, Gutenberg, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#15257 Podcast Player: Use CSS mask to color ME.js controls
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#15051 Shortlinks: Fix the UI in newer version of Gutenberg
  extensions/shared/clipboard-input.scss
Labels: Gutenberg, Shortlinks, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15310 Blocks: do not Jetpack collection on WordPress.com.
  extensions/shared/block-category.js
Labels: Gutenberg, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#15288 Search: Add explicit handling for Atomic sites
  _inc/client/at-a-glance/search.jsx
  _inc/client/components/settings-card/index.jsx
  _inc/client/performance/search.jsx
Labels: Atomic, Instant Search, Search, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15307 Instant Search: improve theme compatibility
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-filters.scss
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#15091 Instagram Gallery Block: Add the UI
  _inc/lib/class-jetpack-instagram-gallery-helper.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram.php
  bin/phpcs-whitelist.js
  extensions/blocks/instagram-gallery/attributes.js
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/editor.scss
  extensions/blocks/instagram-gallery/index.js
  extensions/blocks/instagram-gallery/instagram-gallery.php
  extensions/blocks/instagram-gallery/view.js
  extensions/blocks/instagram-gallery/view.scss
  webpack.config.extensions.js
Labels: Touches WP.com Files, [Block] Instagram Gallery, [Status] Ready to Merge

#15135 Autoloader: Update version selection
  .gitignore
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-classes-handler.php
  packages/autoloader/src/class-files-handler.php
  packages/autoloader/src/class-version-selector.php
  packages/autoloader/src/functions.php
  packages/autoloader/tests/php/bootstrap.php
  packages/autoloader/tests/php/test_Autoloader.php
  packages/autoloader/tests/php/test_file_loader.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#15316 Search: Fix php notice on autoconfig of search overlay
  modules/search/class-jetpack-instant-search.php
Labels: Instant Search, Search, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15305 Build: Add yarn resolutions for vulnerable packages
  package.json
  yarn.lock
Labels: Build, Touches WP.com Files, [Status] Ready to Merge

#15309 Jetpack::deprecated_hooks() reports wrong $function_name
  class.jetpack.php
Labels: General, [Status] Needs Review, [Type] Bug

#15318 E2E tests: fix reconnection logic
  tests/e2e/bin/docker-e2e-cli.sh
  tests/e2e/lib/pages/wpcom/authorize.js
Labels: Unit Tests, [Status] Ready to Merge, [Type] Bug

#15315 Markdown Block: ensure the editor buttons look good everywhere
  extensions/blocks/markdown/edit.js
Labels: Gutenberg, Markdown, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15330 My Plan: Update Themes card copy
  _inc/client/my-plan/my-plan-body.jsx
Labels: Admin Page, [Status] Ready to Merge

#15331 E2E Tests: Attempt to make re-connection work
  tests/e2e/lib/pages/wpcom/authorize.js
Labels: Unit Tests, [Status] Ready to Merge

#15321 Podcast Player: introduce CSS vars for colors
  extensions/blocks/podcast-player/attributes.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/podcast-player.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review, [Type] Enhancement

#15332 Podcast player: enable mediaelement player color customization
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15335 Podcast Player: simplify player color handler.
  extensions/blocks/podcast-player/edit.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review, [Type] Enhancement

#15338 8.5 Release: update version numbers to start release cycle
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#15339 SSO: Validate the wpcom_user_id
  modules/sso.php
Labels: SSO, [Status] Ready to Merge, [Type] Enhancement

#15336 Podcast Player: memoize colors object
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/utils.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Review

#15320 Podcast Player: Theme Compatibility Fixes
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15281 Podcast Player: Lint everything
  extensions/blocks/podcast-player/components/audio-player.js
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/editor.scss
  extensions/blocks/podcast-player/icons/track-icons.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/utils.js
  extensions/blocks/podcast-player/view.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Janitorial

#15345 SSO:
  changelog.txt
  modules/sso.php
  readme.txt
Labels: SSO, [Status] Needs Review, [Type] Bug

#14681 Connection: add a filter for setting Jetpack api constants
  packages/connection/src/class-client.php
  packages/connection/src/class-manager.php
  packages/connection/src/class-utils.php
  packages/connection/tests/php/test_Manager.php
  packages/connection/tests/php/test_Utils.php
  packages/constants/composer.json
  packages/constants/src/class-constants.php
  packages/constants/tests/php/test_Constants.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge

#15322 Calypsoify: Support new Gutenberg back button
  modules/calypsoify/mods-gutenberg.js
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#15343 Podcast Player: Fix Sound Icon Position
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15344 Docs: Update the Connection Manager namespace, a minor typo
  docs/pull-request.md
  packages/connection/docs/authorize-user.md
  packages/connection/docs/register-site.md
Labels: Docs, [Status] Needs Package Release, [Status] Ready to Merge

#15366 Recipes: take into account new Lazy attribute that may be added
  modules/shortcodes/recipe.php
  tests/php/modules/shortcodes/test-class.recipe.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#15355 Podcast Player: Remove header divider
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15351 Podcast Player: Decode all HTML entities
  _inc/lib/class-jetpack-podcast-helper.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Type] Bug

#14967 Add core site editor status to site api
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#15378 ESLint: Don't require JSDoc on functions in JP Extensions
  extensions/.eslintrc.js
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#15367 Remove the rest of the Skyword library.
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#15365 Fix: When footer is not enabled, avoid JS errors
  modules/infinite-scroll/infinity.js
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#15368 Fix: Append all posts from IS response
  modules/infinite-scroll/infinity.js
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#15395 Top Posts Widget: provide defaults for newly added param.
  modules/widgets/top-posts.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] BLOCKER, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug, [Type] Happiness Request

#15394 Podcast player: apply color customization to error state
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15360 Create a new package to hold the method to build the redirect URL
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/pro-status/index.jsx
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-mailchimp.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  _inc/lib/debugger/class-jetpack-debug-data.php
  _inc/lib/debugger/class-jetpack-debugger.php
  _inc/lib/functions.wp-notify.php
  class.jetpack-idc.php
  class.jetpack.php
  composer.json
  composer.lock
  functions.global.php
  modules/calypsoify/class.jetpack-calypsoify.php
  modules/custom-content-types.php
  modules/custom-css/custom-css.php
  modules/infinite-scroll/infinity.php
  modules/masterbar/masterbar.php
  modules/module-info.php
  modules/plugin-search.php
  modules/post-by-email/class-jetpack-post-by-email.php
  modules/protect/blocked-login-page.php
  modules/publicize/publicize-jetpack.php
  modules/publicize/publicize.php
  modules/sharedaddy.php
  modules/sso.php
  modules/sso/class.jetpack-sso-notices.php
  modules/stats.php
  modules/verification-tools/blog-verification-tools.php
  modules/widgets/contact-info.php
  modules/widgets/eu-cookie-law/form.php
  modules/widgets/gravatar-profile.php
  modules/widgets/my-community.php
  modules/widgets/search.php
  modules/widgets/top-posts.php
  modules/widgets/twitter-timeline.php
  packages/jitm/composer.json
  packages/jitm/src/class-jitm.php
  packages/redirect/.gitattributes
  packages/redirect/README.md
  packages/redirect/composer.json
  packages/redirect/phpunit.xml
  packages/redirect/src/class-redirect.php
  packages/redirect/tests/php/bootstrap.php
  packages/redirect/tests/php/test_Redirect.php
  tests/php/general/test_class.jetpack.php
Labels: General, Touches WP.com Files, [Status] In Progress

#15380 Update Sync limits based on analysis of data loss events.
  packages/sync/src/class-defaults.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Review

#15407 Action: Add new action for "Required Review"
  .github/workflows/required-review.yml
Labels: Actions, [Status] Needs Review, [Type] Janitorial

#15391 E2E tests: Try e2e allure reporting
  .travis.yml
  package.json
  tests/e2e/.eslintrc.js
  tests/e2e/bin/push-allure-artifacts.sh
  tests/e2e/jest.config.js
  tests/e2e/lib/jest.test.failure.js
  yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15434 Create Jetpack Redirect package
  packages/redirect/.gitattributes
  packages/redirect/README.md
  packages/redirect/composer.json
  packages/redirect/phpunit.xml
  packages/redirect/src/class-redirect.php
  packages/redirect/tests/php/bootstrap.php
  packages/redirect/tests/php/test_Redirect.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge

#15323 Block: OpenTable: Add a warning if width is set to anything other than wide if style is wide
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/editor.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#15369 Podcast Player: Add an error boundary
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/components/with-error-boundary.js
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/view.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15372 AMP: allow the display of the admin bar in AMP views.
  3rd-party/class.jetpack-amp-support.php
Labels: AMP, Touches WP.com Files, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#15396 Sync Health Tests: make messages easier to translate
  _inc/lib/debugger/class-jetpack-cxn-tests.php
Labels: Internationalization, Sync, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Type] Bug

#15393 8.4.2: changelog
  readme.txt
Labels: General, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#15441 adds Jetpack Redirect to composer dependencies
  composer.json
  composer.lock
Labels: General, Touches WP.com Files, [Status] Ready to Merge

#15442 Podcast Player: Break components into their own files
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/track-error.js
  extensions/blocks/podcast-player/components/track-icon.js
  extensions/blocks/podcast-player/components/track.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#15239 Blocks: reorganize docs to be easier to parse
  extensions/README.md
Labels: Docs, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15325 Add useConnectService custom hook for connecting keyring services
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/use-connect-instagram.js
Labels: Touches WP.com Files, [Block] Instagram Gallery, [Status] Ready to Merge

#15406 Fix for missing API key field issue
  modules/widgets/contact-info.php
  tests/php/modules/widgets/test_contact-info-widget.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Has Changelog, [Status] Needs Author Reply, [Status] Needs Cherry-Pick, [Type] Bug

#15445 Podcast player: make speaker icons consistent
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Author Reply

#15329 Block: Instagram - add animation to the image loading
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/editor.scss
  extensions/blocks/instagram-gallery/image-transition.js
Labels: Touches WP.com Files, [Block] Instagram Gallery, [Status] Ready to Merge, [Type] Enhancement

#15427 Jetpack Sync: Split `jetpack_post_meta_batch_delete` in action to be called in chunks of 100 items
  packages/sync/src/modules/class-posts.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Sync, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#15453 Plans: Fix plans link to send users to jetpack-monthly
  _inc/client/plans/plan-grid.jsx
Labels: Admin Page, Plans, [Status] Ready to Merge, [Type] Bug

#15448 require-lib: Update order to return out most likely valid option
  3rd-party/class.jetpack-amp-support.php
  _inc/lib/core-api/wpcom-endpoints/memberships.php
  _inc/lib/debugger.php
  extensions/blocks/map/map.php
  modules/contact-form/grunion-contact-form.php
  modules/widgets/simple-payments.php
  require-lib.php
Labels: General, Performance, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#15451 Podcast player: instruct IE11 user on how to activate audio support
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/components/with-error-boundary.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15446 Podcast Player: Add external embed detection
  extensions/blocks/podcast-player/api.js
  extensions/blocks/podcast-player/constants.js
  extensions/blocks/podcast-player/edit.js
Labels: Touches WP.com Files, [Status] Needs Team Review

#15389 Mobile Contact Info Block
  extensions/README.md
  extensions/blocks/contact-info/address/edit.native.js
  extensions/blocks/contact-info/edit.native.js
  extensions/editor.native.js
  extensions/shared/register-jetpack-block.native.js
  extensions/shared/simple-input.native.js
Labels: Touches WP.com Files, [Block] Contact Info, [Status] Ready to Merge, [Type] Enhancement

#15462 Podcast Player: Fix error message alignment
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review, [Type] Bug

#15463 Podcast Player: Make current track title inherit primary color
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#15465 Podcast Player: Center track icon vertically
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#15439 Block: Revue - Remove width setting on block inputs
  extensions/blocks/revue/edit.js
  extensions/blocks/revue/view.scss
Labels: Touches WP.com Files, [Block] Revue, [Status] Ready to Merge, [Type] Bug

#15454 Inline PDFs: better fallback link with more instructions
  modules/shortcodes/inline-pdfs.php
  tests/php/modules/shortcodes/test-class.inline-pdf.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15483 Remove Crew as codeowners for the whole repo.
  .github/CODEOWNERS
Labels: [Status] In Progress, [Type] Janitorial

#15494 Comments: update default comment type
  json-endpoints/class.wpcom-json-api-get-comments-tree-endpoint.php
  json-endpoints/class.wpcom-json-api-update-comment-endpoint.php
  modules/carousel/jetpack-carousel.php
  modules/sitemaps/sitemap-librarian.php
  packages/sync/src/modules/class-comments.php
  tests/php/sync/server/class.jetpack-sync-test-object-factory.php
  tests/php/sync/test_class.jetpack-sync-comments.php
  tests/php/sync/test_class.jetpack-sync-woocommerce.php
Labels: Carousel, Sync, Touches WP.com Files, Unit Tests, WPCOM API, [Pri] BLOCKER, [Status] Needs Package Release, [Status] Needs Review, [Type] Janitorial

#15346 Iteration 7 Podcast Player
  _inc/lib/class-jetpack-podcast-helper.php
  extensions/blocks/podcast-player/api.js
  extensions/blocks/podcast-player/attributes.js
  extensions/blocks/podcast-player/components/audio-player.js
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/components/track-error.js
  extensions/blocks/podcast-player/components/track-icon.js
  extensions/blocks/podcast-player/components/track.js
  extensions/blocks/podcast-player/components/with-error-boundary.js
  extensions/blocks/podcast-player/constants.js
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/editor.scss
  extensions/blocks/podcast-player/icons/track-icons.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/podcast-player/podcast-player.php
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/utils.js
  extensions/blocks/podcast-player/view.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Task

#15492 Recipe shortcode: on AMP, change the Print link
  modules/shortcodes/recipe.php
  tests/php/modules/shortcodes/test-class.recipe.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#15503 Podcast Player: Ready for Prime Time
  extensions/index.json
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Task

#15509 Podcast Player: Show header template even if no cover art is available
  extensions/blocks/podcast-player/templates/podcast-header.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Team Review

#15493 Multisite: Check for the Beta Plugin managed version
  class.jetpack-network-sites-list-table.php
Labels: Multisite, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#15467 Blocks: Add No Post Editor entry point
  extensions/index.json
  webpack.config.extensions.js
Labels: Build, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15521 Travis CI: Remove unneeded logging in push artifacts script
  tests/e2e/bin/push-allure-artifacts.sh
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#15504 Podcast Player: Improve themes compatibility
  extensions/blocks/podcast-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#15461 Jetpack: Move comment notification override to the constructor
  class.jetpack.php
  packages/autoloader/src/autoload.php
Labels: Atomic, General, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#15508 Podcast Player: Fix missing replace button
  extensions/blocks/podcast-player/edit.js
Labels: Gutenberg, Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#15429 Jetpack Setup Wizard: Add setup wizard intro page
  _inc/client/admin.js
  _inc/client/components/masthead/index.jsx
  _inc/client/main.jsx
  _inc/client/scss/style.scss
  _inc/client/setup-wizard/index.jsx
  _inc/client/setup-wizard/intro-page/index.jsx
  _inc/client/setup-wizard/intro-page/style.scss
  _inc/client/setup-wizard/style.scss
  _inc/client/state/initial-state/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
  class.jetpack-admin.php
Labels: Admin Page, Connect Flow, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#15530 Comments: do not create comments with the comment type just yet
  json-endpoints/class.wpcom-json-api-update-comment-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#15532 Build: Improve Danger's whitelist message
  bin/phpcs-whitelist.js
  dangerfile.js
Labels: [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#15334 E2E Tests: better slack logging
  .gitignore
  .svnignore
  babel.config.js
  package.json
  tests/e2e/bin/docker-e2e-cli.sh
  tests/e2e/bin/install-wordpress.sh
  tests/e2e/jest.config.js
  tests/e2e/lib/blocks/mailchimp.js
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/global-teardown.js
  tests/e2e/lib/jest.test.failure.js
  tests/e2e/lib/logger.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/page.js
  tests/e2e/lib/pages/wpcom/authorize.js
  tests/e2e/lib/pages/wpcom/login.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/reporters/slack.js
  tests/e2e/lib/setup-env.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/free-blocks.test.js
  tests/e2e/specs/pro-blocks.test.js
  yarn.lock
Labels: Touches WP.com Files, Unit Tests, [Status] Ready to Merge

#15387 E2E tests: refactor ENV setup
  tests/e2e/jest.config.js
  tests/e2e/lib/jest.test.failure.js
  tests/e2e/lib/setup-env.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/free-blocks.test.js
  tests/e2e/specs/pro-blocks.test.js
Labels: Unit Tests, [Status] Ready to Merge

#15496 E2E tests: fix flakiness in some tests
  tests/e2e/lib/blocks/word-ads.js
Labels: Unit Tests, [Status] Ready to Merge, [Type] Enhancement

#15482 Add the PopupMonitor lib
  _inc/client/lib/popup-monitor/README.md
  _inc/client/lib/popup-monitor/index.js
  _inc/client/lib/sharing/index.js
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram.php
  extensions/blocks/instagram-gallery/use-connect-instagram.js
  package.json
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, [Block] Instagram Gallery, [Status] Ready to Merge

#15546 Blacklisting Post Types from Sync
  packages/sync/src/class-defaults.php
Labels: Sync, [Status] Needs Package Release, [Status] Ready to Merge

#15432 Skip contact form spam recheck if no information to use
  modules/contact-form/admin.php
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge

#15538 E2E Tests: Add Connection mocking
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/setup-env.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/free-blocks.test.js
  tests/e2e/specs/pro-blocks.test.js
Labels: Unit Tests, [Status] Ready to Merge

#15420 Add AMP support to shortcode `[archives option=format]`
  modules/shortcodes/archives.php
  tests/php/modules/shortcodes/test-class.archives.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15422 Scribd shortcode AMP compatibility: allow external links
  modules/shortcodes/scribd.php
  tests/php/modules/shortcodes/test-class.scribd.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15421 AMP compatibility fix for Internet Defense League widget
  modules/widgets/internet-defense-league.php
Labels: AMP, Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Enhancement

#15317 Google Maps shortcode AMP compatibility fix: external links
  modules/shortcodes/googlemaps.php
  tests/php/modules/shortcodes/test-class.googlemaps.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15539 Unit Tests: Try using PHPUnit 6 and 7
  tests/setup-travis.sh
Labels: Unit Tests, [Status] Ready to Merge, [Type] Enhancement

#15512 Podcast Player: Clean-up styles & fix few remaining issues
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/track-error.js
  extensions/blocks/podcast-player/components/track.js
  extensions/blocks/podcast-player/style.scss
  extensions/blocks/podcast-player/templates/playlist-track.php
  extensions/blocks/podcast-player/templates/podcast-header.php
  extensions/blocks/podcast-player/templates/podcast-title.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge

#15534 Admin Page: update a few URLs to use jp-redirect
  _inc/client/at-a-glance/backups.jsx
  _inc/client/components/footer/index.jsx
Labels: Redirects, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#15477 Recipes: show prep time before cook time when published
  modules/shortcodes/recipe.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15398 Add AMP compatibility to Carousel module
  modules/carousel/jetpack-carousel.php
  phpunit.xml.dist
  tests/php/modules/carousel/test-class.jetpack-carousel.php
Labels: AMP, Carousel, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#15500 Update README.md on partner package
  packages/partner/README.md
Labels: Docs, [Package] Partner, [Status] Needs Package Release, [Status] Ready to Merge

#15328 Add AMP support for the Twitter Timeline widget
  modules/widgets/twitter-timeline.php
  tests/php/modules/widgets/test_twitter-timeline-widget.php
Labels: AMP, Extra Sidebar Widgets, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#15525 add support to direct url to Redirects::get_url
  packages/redirect/src/class-redirect.php
  packages/redirect/tests/php/bootstrap.php
  packages/redirect/tests/php/test_Redirect.php
Labels: Redirects, [Status] Needs Package Release, [Status] Ready to Merge

#15554 Recipes: update tests after markup update
  tests/php/modules/shortcodes/test-class.recipe.php
Labels: Shortcodes / Embeds, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#15549 Search: Don't add widget to an empty sidebar-1 area
  modules/search/class-jetpack-instant-search.php
Labels: Instant Search, Search, [Status] Ready to Merge

#15495 Store Product List: Stop setting attributes on the Store_Product class object to fill in data for the API responses
  _inc/lib/plans.php
Labels: Plans, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#15511 Crowsignal shortcode: Always attempt to embed survey iframe. Refs D42082
  modules/shortcodes/crowdsignal.php
  tests/php/modules/shortcodes/test-class.crowdsignal.php
Labels: AMP, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#15552 Search: Define number of records in the upgrade card
  _inc/client/plans/single-product-search/index.jsx
Labels: Instant Search, Search, [Status] Ready to Merge

#15547 WordAds - AMP Compatibility
  modules/wordads/wordads.php
Labels: AMP, WordAds, [Status] Ready to Merge

#15470 Instagram Gallery Block: Secondary users handling
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram.php
  class.jetpack-gutenberg.php
  extensions/blocks/instagram-gallery/constants.js
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/instagram-gallery/use-connect-instagram.js
  extensions/blocks/instagram-gallery/use-connect-wpcom.js
Labels: Gutenberg, Touches WP.com Files, [Block] Instagram Gallery, [Status] Ready to Merge

#15440 Settings: add descriptive ID to each settings card
  _inc/client/components/settings-card/index.jsx
  _inc/client/performance/speed-up-site.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/security/index.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/writing/theme-enhancements.jsx
  _inc/client/writing/writing-media.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#15529 Block Editor: Set width for vertically aligned column
  extensions/shared/styles/gutenberg-base-styles.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge

#15481 Debugger: Various Improvements
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/debugger/class-jetpack-cxn-test-base.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  _inc/lib/debugger/class-jetpack-debug-data.php
  _inc/lib/debugger/jetpack-debugger-site-health.js
  class.jetpack-cli.php
Labels: General, Sync, [Status] Ready to Merge, [Type] Bug

#15541 Instant Search: Only show filters dropdown button in mobile if eligible
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-form.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#15472 Instant Search: Make overlay trigger configurable
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/lib/customize.js
  modules/search/instant-search/lib/dom.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#15527 Publicize: Add jetpack_publicize_options
  bin/phpcs-whitelist.js
  modules/publicize.php
  packages/sync/src/class-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Publicize, Touches WP.com Files, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#15370 [Experiment] Blocks: Add a new shared Button block
  extensions/blocks/button/apply-fallback-styles.js
  extensions/blocks/button/attributes.js
  extensions/blocks/button/button-border-panel.js
  extensions/blocks/button/button-colors-panel.js
  extensions/blocks/button/button.php
  extensions/blocks/button/constants.js
  extensions/blocks/button/edit.js
  extensions/blocks/button/editor.js
  extensions/blocks/button/editor.scss
  extensions/blocks/button/icon.js
  extensions/blocks/button/index.js
  extensions/blocks/button/save.js
  extensions/blocks/revue/attributes.js
  extensions/blocks/revue/button-preview.js
  extensions/blocks/revue/deprecated/v1/index.js
  extensions/blocks/revue/edit.js
  extensions/blocks/revue/index.js
  extensions/blocks/revue/revue.php
  extensions/blocks/revue/save.js
  extensions/blocks/revue/view.scss
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Block] Revue, [Status] Ready to Merge, [Type] Enhancement

#15542 Onboarding: saving the site creation flow as a site option
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#15520 Filter out blacklisted post_types for deleted_post actions.
  packages/sync/src/modules/class-posts.php
  tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Sync, [Status] Needs Package Release, [Status] Ready to Merge

#15576 Publicize: add module name to new filter
  modules/publicize.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial
