Repository Automattic/jetpack, pull requests merged in 2020-07, with the labels that each got.

#16348 Send a Message Block: Make sure empty text buttons look good
  extensions/blocks/send-a-message/whatsapp-button/save.js
  extensions/blocks/send-a-message/whatsapp-button/view.scss
Labels: Touches WP.com Files, [Block] Send a message, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16332 only display connection errors to allowed users
  packages/connection/src/error-handlers/class-invalid-blog-token.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge

#16354 Package Unit tests: update test file names to make sure they runs in Travis
  packages/abtest/phpunit.xml
  packages/abtest/tests/php/test-abtest.php
  packages/constants/phpunit.xml
  packages/constants/tests/php/test-constants.php
  packages/partner/tests/php/test-partner.php
  packages/roles/phpunit.xml
  packages/roles/tests/php/test-roles.php
  packages/terms-of-service/tests/php/test-terms-of-service.php
Labels: Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge

#16353 React Dash docs: encourage moving to function components
  _inc/client/README.md
Labels: Admin Page, Docs, [Status] Ready to Merge, [Type] Janitorial

#16345 Connection: add unit tests for is_registered
  packages/connection/tests/php/test_Manager.php
Labels: Jetpack DNA, Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement, [Type] Janitorial

#16339 Tests: improve the test_classic_xmlrpc_* tests
  tests/php/general/test_class.jetpack.php
Labels: Unit Tests, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16335 Broken Tokens tool: clean up user token tests
  docker/mu-plugins/jetpack-debug-helper/modules/class-broken-token.php
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#16360 Autoloader: Tests: Use a string with define
  packages/autoloader/tests/php/test_plugins_handler.php
Labels: Unit Tests, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16333 REST Endpoints: deprecate Jetpack_Core_Json_Api_Endpoints::rest_authorization_required_code
  _inc/lib/class.core-rest-api-endpoints.php
Labels: General, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16359 Repo Gardening: add new action to mark issues being worked on
  .github/actions/assign-issues/action.yml
  .github/actions/assign-issues/package.json
  .github/actions/assign-issues/src/index.js
  .github/workflows/assign-issues.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16365 Debug tools: Fix warnings and notices on save of empty checkboxes.
  docker/mu-plugins/jetpack-debug-helper/class-admin.php
Labels: Debug Tools, [Status] Needs Review, [Type] Bug

#16369 Gathering Tweetstorms: Show a spinner while the thread is loading.
  extensions/blocks/gathering-tweetstorms/editor.js
  extensions/blocks/gathering-tweetstorms/editor.scss
Labels: Touches WP.com Files, [Block] Gathering Tweetstorms, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#16362 Send a Message Block: Add option for the button to open in a new tab
  extensions/blocks/send-a-message/whatsapp-button/attributes.js
  extensions/blocks/send-a-message/whatsapp-button/edit.js
  extensions/blocks/send-a-message/whatsapp-button/save.js
Labels: Touches WP.com Files, [Block] Send a message, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#16356 Send a Message Block: Pass new phone number to validation function
  extensions/blocks/send-a-message/whatsapp-button/edit.js
Labels: Touches WP.com Files, [Block] Send a message, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#16368 Fix the links for the build instructions for extensions and the search module
  docs/development-environment.md
Labels: Docs, Gutenberg, [Status] Ready to Merge, [Type] Janitorial

#16330 Fix PHP notice in infinite scroll
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16104 Improve a11y of infinite scroll. Add aria-live updates for screen readers
  modules/infinite-scroll/infinity.css
  modules/infinite-scroll/infinity.js
  modules/infinite-scroll/infinity.php
Labels: Accessibility, Infinite Scroll, Touches WP.com Files, [Status] Ready to Merge

#16351 In-place connection flow: Remove ab tests
  _inc/connect-button.js
  class.jetpack-connection-banner.php
  docs/testing/regression-checklist/regression-checklist.md
  docs/testing/regression-checklist/test-suites/packages/connection.md
  tests/e2e/bin/install-wordpress.sh
  tests/e2e/bin/setup-e2e-travis.sh
  tests/e2e/specs/connection.test.js
Labels: Connect Flow, [Status] Ready to Merge, [Type] Enhancement

#16376 Move debug helper to packages folder
  bin/update-package.sh
  docker/docker-compose.yml
  docker/mu-plugins/jetpack-debug-helper-loader.php
  packages/debug-helper/class-admin.php
  packages/debug-helper/modules/class-broken-token.php
  packages/debug-helper/modules/class-jetpack-sync-debug-helper.php
  packages/debug-helper/modules/inc/class-broken-token-xmlrpc.php
  packages/debug-helper/modules/inc/css/style.css
  packages/debug-helper/modules/inc/js/xmlrpc-errors.js
  packages/debug-helper/plugin.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16331 Latest Instagram Posts: Delete cache after permanently deleting the connection
  _inc/lib/class-jetpack-instagram-gallery-helper.php
  extensions/blocks/instagram-gallery/instagram-gallery.php
Labels: Gutenberg, Touches WP.com Files, [Block] Latest Instagram Posts, [Status] Ready to Merge, [Type] Bug

#16405 Unit Tests: valid JSON schema type / file deprecation changes
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  tests/php/test_deprecation.php
Labels: General, Touches WP.com Files, Unit Tests, [Block] Map, [Pri] High, [Status] Ready to Merge, [Type] Bug

#16403 External Media: avoid styles bleeding out to Gut welcome modal
  extensions/shared/external-media/editor.scss
Labels: Touches WP.com Files, [Extensions] External Media, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16408 Debug Tools: Added missing Plugin Version constant.
  packages/debug-helper/plugin.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge

#16407 Connection Errors: Clear when there's a successful request to /sites
  _inc/lib/class.core-rest-api-endpoints.php
  packages/connection/src/class-error-handler.php
Labels: Connect Flow, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Proposal, [Status] Ready to Merge

#16417 Debugger: Update vars after #14901
  _inc/lib/debugger/class-jetpack-debugger.php
Labels: General, [Status] Ready to Merge, [Type] Bug

#16370 Gathering Tweetstorms: Allow private sites to unroll threads.
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-tweetstorm-gather.php
Labels: Touches WP.com Files, [Block] Gathering Tweetstorms, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Type] Bug

#16422 Tests: Update WorDBless location
  packages/connection/composer.json
Labels: Unit Tests, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16382 Actions: consolidate into bigger actions with groups
  .github/actions/assign-issues/src/index.js
  .github/actions/repo-gardening/action.yml
  .github/actions/repo-gardening/package.json
  .github/actions/repo-gardening/readme.md
  .github/actions/repo-gardening/src/debug.js
  .github/actions/repo-gardening/src/get-associated-pull-request.js
  .github/actions/repo-gardening/src/if-not-fork.js
  .github/actions/repo-gardening/src/index.js
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
  .github/actions/repo-gardening/src/tasks/add-milestone/readme.md
  .github/actions/repo-gardening/src/tasks/assign-issues/index.js
  .github/actions/repo-gardening/src/tasks/assign-issues/readme.md
  .github/actions/update-package/update-package.sh
  .github/labeler.yml
  .github/workflows/assign-issues.yml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-master.yml
  .github/workflows/gardening.yml
  .github/workflows/label.yml
  .github/workflows/needs-review.yml
  .github/workflows/update-package.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16423 General: update version numbers to start 8.8 release cycle
  jetpack.php
  package.json
  readme.txt
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16317 Fix infinite scroll on p2
  modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16416 Debug Tools: REST API Tester.
  packages/debug-helper/modules/class-rest-api-tester.php
  packages/debug-helper/modules/inc/css/rest-api-tester.css
  packages/debug-helper/modules/inc/js/rest-api-tester.js
  packages/debug-helper/plugin.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge

#16424 External Media: handle errors from the copy endpoint
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Needs Team Review, [Status] Ready to Merge

#16435 Tests: Update our test Upgrader Skin class to match changes in Core
  tests/php/sync/class.silent-upgrader-skin.php
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Sync, Unit Tests, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#15531 Comments: change default comment type of comments created via API
  json-endpoints/class.wpcom-json-api-update-comment-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#12445 General: Use modern WordPress hook deprecation, part 1
  class.jetpack.php
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#16430 User Agent: Restore back-compat
  class.jetpack-user-agent.php
  tests/php/general/test_class.jetpack-user-agent.php
Labels: Jetpack DNA, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#16433 Docs: add recommendations on how to deprecate code
  docs/coding-guidelines.md
  docs/release-management.md
Labels: Docs, [Status] Needs Review, [Type] Enhancement

#16432 Gathering Tweetstorms: Show the loading spinner in WP 5.3.
  extensions/blocks/gathering-tweetstorms/editor.js
Labels: Touches WP.com Files, [Block] Gathering Tweetstorms, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16428 Tiled Gallery Block: only available when Jetpack is connected
  extensions/blocks/tiled-gallery/tiled-gallery.php
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16442 Autoloader: Avoid a PHP warning when an empty string is passed to `is_directory_plugin()`.
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/tests/php/test_plugins_handler.php
Labels: [Package] Autoloader, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16266 External Media: Google Photos Custom Date Range
  extensions/shared/external-media/constants.js
  extensions/shared/external-media/editor.scss
  extensions/shared/external-media/media-browser/index.js
  extensions/shared/external-media/sources/google-photos/filter-option.js
  extensions/shared/external-media/sources/google-photos/filter-request.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge

#16444 Deprecation notices: add details about file/function removals
  functions.global.php
  tests/php/general/test_class.functions.global.php
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16447 Actions: limit actions so they do not run on PRs from forks
  .github/actions/repo-gardening/src/tasks/assign-issues/index.js
  .github/workflows/build-artifacts.yml
  .github/workflows/gardening.yml
  .github/workflows/required-review.yml
  .github/workflows/update-package.yml
Labels: Actions, [Status] Needs Review, [Type] Bug

#16450 i18n: remove unused function
  class.jetpack.php
Labels: Internationalization, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16305 Various: Use wp_resource_hints
  bin/phpcs-requirelist.js
  class.jetpack.php
  modules/comment-likes.php
  modules/comments.php
  modules/likes.php
  modules/masterbar/masterbar.php
  modules/photon-cdn.php
  modules/photon.php
  modules/shortcodes/videopress.php
  packages/assets/README.md
  packages/assets/src/class-assets.php
  tests/php/general/test_class.jetpack.php
Labels: Comment Likes, Comments, Likes, Photon, Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16451 Various: Fix PHP warnings
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram-gallery.php
  json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
  json-endpoints/class.wpcom-json-api-list-posts-v1-2-endpoint.php
  modules/sharedaddy/sharing-service.php
Labels: Sharing, Touches WP.com Files, WP REST API, [Status] Ready to Merge, [Type] Bug

#16415 My Plan: Add card for Jetpack Anti-Spam
  _inc/client/lib/plans/constants.js
  _inc/client/my-plan/my-plan-header/index.js
  images/products/product-jetpack-anti-spam.svg
Labels: Admin Page, Anti-Spam, Plans, [Status] Ready to Merge, [Type] Enhancement

#16411 Add FTP support to partner provision script
  bin/partner-provision.sh
Labels: Jetpack Start, [Status] Ready to Merge, [Type] Enhancement

#16445 General: update minimum required WP version
  .phpcs.xml.dist
  extensions/blocks/amazon/index.js
  extensions/blocks/business-hours/index.js
  extensions/blocks/calendly/index.js
  extensions/blocks/contact-form/index.js
  extensions/blocks/contact-info/address/index.js
  extensions/blocks/contact-info/email/index.js
  extensions/blocks/contact-info/index.js
  extensions/blocks/contact-info/phone/index.js
  extensions/blocks/eventbrite/index.js
  extensions/blocks/gathering-tweetstorms/editor.js
  extensions/blocks/gif/index.js
  extensions/blocks/google-calendar/index.js
  extensions/blocks/image-compare/index.js
  extensions/blocks/instagram-gallery/index.js
  extensions/blocks/mailchimp/index.js
  extensions/blocks/map/edit.js
  extensions/blocks/map/settings.js
  extensions/blocks/markdown/index.js
  extensions/blocks/opentable/index.js
  extensions/blocks/pinterest/index.js
  extensions/blocks/podcast-player/edit.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/rating-star/index.js
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/related-posts/index.js
  extensions/blocks/repeat-visitor/index.js
  extensions/blocks/revue/index.js
  extensions/blocks/send-a-message/index.js
  extensions/blocks/send-a-message/whatsapp-button/index.js
  extensions/blocks/simple-payments/index.js
  extensions/blocks/slideshow/index.js
  extensions/blocks/subscriptions/index.js
  extensions/blocks/tiled-gallery/index.js
  extensions/blocks/wordads/index.js
  extensions/shared/block-category.js
  extensions/shared/styles/gutenberg-base-styles.scss
  jetpack.php
  readme.txt
  tests/php/test_deprecation.php
  tests/setup-travis.sh
Labels: Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#16327 API: Add Connection Owner Name to Endpoint
  _inc/lib/class.core-rest-api-endpoints.php
Labels: Connect Flow, WP REST API, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16292 Fix Latest Instagram Posts Images on AMP pages
  extensions/blocks/instagram-gallery/instagram-gallery.php
Labels: AMP, Blocks V2, Gutenberg, Touches WP.com Files, [Block] Latest Instagram Posts, [Status] Ready to Merge

#16257 Twitter Widget: Enhance functionality and UX
  modules/widgets/twitter-timeline-admin.js
  modules/widgets/twitter-timeline.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#16410 Broken token plugin: fixes invalid user token method
  packages/debug-helper/modules/class-broken-token.php
Labels: [Status] Needs Package Release, [Status] Needs Review, [Type] Janitorial

#16326 OpenTable Block: Allow for custom css classes
  extensions/blocks/opentable/deprecated/v1/index.js
  extensions/blocks/opentable/index.js
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge, [Type] Bug

#16458 Contact Form: Ensure hash is expected type.
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16468 Open Graph: description for posts that start with an image
  functions.opengraph.php
  tests/php/test_class.functions.opengraph.php
Labels: Sharing, Touches WP.com Files, [Pri] High, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16457 8.7.1 Release: Changelog
  changelog.txt
  readme.txt
Labels: General, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#16469 Copy Post: update support link
  _inc/client/writing/composing.jsx
  modules/module-info.php
Labels: Copy a Post, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#16473 Check `IS_WPCOM` constant first
  extensions/blocks/subscriptions/subscriptions.php
Labels: Subscriptions, Touches WP.com Files, [Block] Subscriptions, [Status] Ready to Merge, [Type] Enhancement

#16438 Asset CDN: don't fix local script translation path when $file is false
  modules/photon-cdn.php
  tests/php/modules/photon/test_class.jetpack-photon-static-asset-cdn.php
Labels: Asset CDN, Photon, [Status] Ready to Merge, [Type] Bug

#16474 Search: Increase instant search bundle limit to 150 KiB
  webpack.config.search.js
Labels: Build, Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#16478 Build: update to latest stable of @wordpress/element
  package.json
  yarn.lock
Labels: Admin Page, Build, Internationalization, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge

#15915 Recurring Payments: Replace submit button
  extensions/blocks/recurring-payments/deprecated/v1/index.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/recurring-payments/view.scss
  modules/memberships/class-jetpack-memberships.php
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Block] Payments, [Status] Ready to Merge

#16480 General: disable direct access to file
  _inc/lib/core-api/load-wpcom-endpoints.php
Labels: General, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16486 Tweetstorms: Disable the Unroll button when there's no url.
  extensions/blocks/gathering-tweetstorms/editor.js
Labels: Touches WP.com Files, [Block] Gathering Tweetstorms, [Status] Ready to Merge, [Type] Bug

#16414 Enable restapi tests in multisite configuration
  tests/php.multisite.xml
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Unit Tests, [Status] Ready to Merge

#16315 Secondary user in-place connection flow
  _inc/client/at-a-glance/connections.jsx
  _inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  _inc/client/at-a-glance/test/component.js
  _inc/client/components/auth-iframe/README.md
  _inc/client/components/auth-iframe/index.jsx
  _inc/client/components/auth-iframe/style.scss
  _inc/client/components/auth-iframe/test/component.js
  _inc/client/components/connect-button/index.jsx
  _inc/client/components/connect-button/style.scss
  _inc/client/components/connect-button/test/component.js
  _inc/client/components/connection-banner/README.md
  _inc/client/components/connection-banner/index.jsx
  _inc/client/components/connection-banner/test/component.js
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/main.jsx
  _inc/client/state/action-types.js
  _inc/client/state/connection/actions.js
  _inc/client/state/connection/reducer.js
  _inc/client/state/connection/test/reducer.js
  _inc/client/state/connection/test/selectors.js
  _inc/client/state/initial-state/reducer.js
  _inc/lib/admin-pages/class.jetpack-react-page.php
  packages/connection/src/class-manager.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Admin Page, Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16439 External Media: Use existing copy endpoint on WP.com
  extensions/shared/external-media/sources/api.js
  extensions/shared/external-media/sources/google-photos/google-photos-media.js
  extensions/shared/external-media/sources/pexels.js
  extensions/shared/external-media/sources/with-media.js
Labels: Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#16496 Likes: Resolve warning for a non-post object
  modules/likes/jetpack-likes-settings.php
Labels: Likes, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#16431 Debug Tools: Removing "Missing Jetpack" error from REST API Tester
  packages/debug-helper/modules/class-rest-api-tester.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16329 Mailchimp Block: show error message on validation error
  extensions/blocks/mailchimp/view.js
  extensions/blocks/mailchimp/view.scss
Labels: Touches WP.com Files, [Block] Mailchimp, [Status] Ready to Merge, [Type] Enhancement

#16453 REST Tester: Displaying invalid JSON
  packages/debug-helper/modules/inc/js/rest-api-tester.js
Labels: Debug Tools, [Status] Ready to Merge, [Type] Enhancement

#16505 adds a REAME to the debug helper package
  packages/debug-helper/README.md
Labels: [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#16506 Media & Twitter Cards: Verify WP_Post object before attempted use.
  _inc/lib/class.media-extractor.php
  _inc/lib/class.media-summary.php
  bin/phpcs-requirelist.js
  class.jetpack-twitter-cards.php
Labels: General, Sharing, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#16427 Fix e2e tests
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/page-helper.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/free-blocks.test.js
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#16490 Button Block: Set missing text color in AMP mode
  extensions/blocks/button/button.php
  extensions/blocks/button/view.js
  extensions/blocks/button/view.scss
Labels: AMP, Touches WP.com Files, [Block] Button, [Status] Ready to Merge, [Type] Bug

#16489 Contact Form: fix radio and checkbox alignment on frontend
  modules/contact-form/css/grunion.css
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#16186 WordAds: Swap ad calls to dynamic
  modules/wordads/class-wordads.php
  modules/wordads/php/class-wordads-sidebar-widget.php
Labels: WordAds, [Status] Ready to Merge, [Type] Enhancement

#13527 Admin Page: Move to Core translation functions -- PART 1
  _inc/client/at-a-glance/activity.jsx
  _inc/client/at-a-glance/akismet.jsx
  _inc/client/at-a-glance/backups.jsx
  _inc/client/at-a-glance/connections.jsx
  _inc/client/at-a-glance/index.jsx
  _inc/client/at-a-glance/monitor.jsx
  _inc/client/at-a-glance/photon.jsx
  _inc/client/at-a-glance/plugins.jsx
  _inc/client/at-a-glance/protect.jsx
  _inc/client/at-a-glance/scan.jsx
  _inc/client/at-a-glance/search.jsx
  _inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  _inc/client/at-a-glance/stats/index.jsx
  _inc/client/components/create-interpolate-element/README.md
  _inc/client/components/create-interpolate-element/index.jsx
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16497 Admin Page: Move to Core translation functions -- PART 2
  _inc/client/components/apps-card/index.jsx
  _inc/client/components/chart/index.jsx
  _inc/client/components/connect-button/index.jsx
  _inc/client/components/dash-item/index.jsx
  _inc/client/components/footer/index.jsx
  _inc/client/components/forms/index.jsx
  _inc/client/components/jetpack-dialogue-modern/index.jsx
  _inc/client/components/jetpack-dialogue/index.jsx
  _inc/client/components/jetpack-notices/feedback-dash-request.jsx
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/components/jetpack-notices/jetpack-connection-errors.jsx
  _inc/client/components/jetpack-notices/plan-conflict-warning.jsx
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/components/jetpack-termination-dialog/dialog.jsx
  _inc/client/components/jetpack-termination-dialog/features.jsx
  _inc/client/components/jetpack-termination-dialog/survey.jsx
  _inc/client/components/masthead/index.jsx
  _inc/client/components/mobile-magic-link/index.jsx
  _inc/client/components/module-overridden-banner/index.jsx
  _inc/client/components/module-settings/connect-module-options.jsx
  _inc/client/components/module-settings/index.jsx
  _inc/client/components/module-toggle/index.jsx
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation/index.jsx
  _inc/client/components/plans/plan-price/index.jsx
  _inc/client/components/product-expiration/index.jsx
  _inc/client/components/settings-card/index.jsx
  _inc/client/components/support-card/index.jsx
  _inc/client/components/support-info/index.jsx
  _inc/client/components/upgrade-notice-content/index.jsx
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16498 Admin Page: Move to Core translation functions -- PART 3
  _inc/client/discussion/comments.jsx
  _inc/client/discussion/index.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/my-plan/my-plan-body.jsx
  _inc/client/my-plan/my-plan-header/checklist-cta.js
  _inc/client/my-plan/my-plan-header/checklist-progress-card/index.js
  _inc/client/my-plan/my-plan-header/index.js
  _inc/client/notices/validation-error-list.jsx
  _inc/client/performance/index.jsx
  _inc/client/performance/media.jsx
  _inc/client/performance/search.jsx
  _inc/client/performance/speed-up-site.jsx
  _inc/client/plans-prompt/index.jsx
  _inc/client/plans/constants.js
  _inc/client/plans/duration-switcher.js
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/product-selector.jsx
  _inc/client/plans/single-product-components/plan-radio-button.jsx
  _inc/client/plans/single-product-components/product-options-label.js
  _inc/client/plans/single-product-components/product-savings.jsx
  _inc/client/plans/single-product-components/promo-nudge.jsx
  _inc/client/plans/single-product-components/purchased-product-card.jsx
  _inc/client/plans/single-product-components/upgrade-button.jsx
  _inc/client/plans/single-product-search/index.jsx
  _inc/client/plans/single-product/index.js
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16502 Admin Page: Move to Core translation functions -- PART 4
  _inc/client/privacy/index.jsx
  _inc/client/pro-status/index.jsx
  _inc/client/searchable-modules/index.jsx
  _inc/client/security/antispam.jsx
  _inc/client/security/backups-scan.jsx
  _inc/client/security/index.jsx
  _inc/client/security/jetpack-backup.jsx
  _inc/client/security/manage-plugins.jsx
  _inc/client/security/monitor.jsx
  _inc/client/security/protect.jsx
  _inc/client/security/sso.jsx
  _inc/client/settings/index.jsx
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16503 Admin Page: Move to Core translation functions -- PART 5
  _inc/client/setup-wizard/feature-toggle-group/index.jsx
  _inc/client/setup-wizard/feature-toggle/index.jsx
  _inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
  _inc/client/setup-wizard/income-question/index.jsx
  _inc/client/setup-wizard/intro-page/index.jsx
  _inc/client/setup-wizard/recommended-features/index.jsx
  _inc/client/setup-wizard/updates-question/index.jsx
Labels: Admin Page, Connect Flow, Internationalization, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16515 Admin Page: Move to Core translation functions -- PART 6
  _inc/client/admin.js
  _inc/client/main.jsx
  _inc/client/sharing/index.jsx
  _inc/client/sharing/likes.jsx
  _inc/client/sharing/publicize.jsx
  _inc/client/sharing/share-buttons.jsx
  _inc/client/state/connection/actions.js
  _inc/client/state/dev-version/actions.js
  _inc/client/state/mobile/actions.js
  _inc/client/state/modules/actions.js
  _inc/client/state/settings/actions.js
  _inc/client/state/setup-wizard/reducer.js
  _inc/client/state/site-verify/actions.js
  _inc/client/state/tracking/actions.js
  _inc/client/traffic/ads.jsx
  _inc/client/traffic/google-analytics.jsx
  _inc/client/traffic/index.jsx
  _inc/client/traffic/related-posts.jsx
  _inc/client/traffic/seo.jsx
  _inc/client/traffic/shortlinks.jsx
  _inc/client/traffic/site-stats.jsx
  _inc/client/traffic/sitemaps.jsx
  _inc/client/traffic/verification-services.jsx
  _inc/client/traffic/verification-services/google.jsx
  _inc/client/writing/composing.jsx
  _inc/client/writing/custom-content-types.jsx
  _inc/client/writing/index.jsx
  _inc/client/writing/masterbar.jsx
  _inc/client/writing/post-by-email.jsx
  _inc/client/writing/theme-enhancements.jsx
  _inc/client/writing/widgets.jsx
  _inc/client/writing/writing-media.jsx
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16363 Update blocks categories
  extensions/blocks/button/index.js
  extensions/blocks/image-compare/index.js
  extensions/blocks/markdown/index.js
  extensions/blocks/rating-star/index.js
  extensions/blocks/slideshow/index.js
  extensions/blocks/tiled-gallery/index.js
  extensions/shared/get-category-with-fallbacks.js
  extensions/shared/test/get-category-with-fallbacks.js
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#15791 Add the Instagram widget from wpcomsh
  bin/phpcs-requirelist.js
  class.jetpack.php
  modules/widgets/class-jetpack-instagram-widget.php
  modules/widgets/instagram/instagram.css
  tools/builder/frontend-css.js
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Feature

#16508 Connection Errors: Properly handle invalid JSON response.
  _inc/client/state/site/reducer.js
Labels: Admin Page, Connect Flow, [Status] Ready to Merge

#16526 Admin Page: update i18n documentation
  _inc/client/README.md
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16477 Extensions: update documentation: React in strings is now possible
  extensions/README.md
  extensions/shared/create-interpolate-element.js
Labels: Docs, Gutenberg, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16493 Utilize the blog token vs master user token to send sync actions.
  packages/sync/src/class-actions.php
Labels: Sync, [Pri] High, [Status] Needs Package Release, [Status] Ready to Merge

#16472 Sharing - add link to customize share button settings
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing.css
Labels: Sharing, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#16529 JSDoc Comments: Fix eslint warnings
  extensions/shared/register-jetpack-block.js
  extensions/shared/register-jetpack-block.native.js
  extensions/shared/register-jetpack-plugin.js
Labels: Touches WP.com Files, [Status] Needs Review, [Status] Ready to Merge, [Type] Janitorial

#16535 Admin Page: stop using i18n-calypso for translations
  _inc/client/components/auth-iframe/index.jsx
  _inc/client/performance/search.jsx
  _inc/client/plans/utility.js
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16528 Plans: Add Jetpack Anti-Spam to the Plans page
  class.jetpack.php
Labels: Admin Page, Anti-Spam, Plans, [Status] Ready to Merge, [Type] Enhancement

#16540 REST API: Add permission callback to all that lack one.
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/core-api/wpcom-endpoints/business-hours.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram-gallery.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-mailchimp.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-tweetstorm-gather.php
  _inc/lib/core-api/wpcom-endpoints/hello.php
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  packages/connection/src/class-error-handler.php
  packages/connection/src/class-rest-connector.php
Labels: Touches WP.com Files, WP REST API, [Pri] BLOCKER, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#16384 REST API: Move some endpoints to `jetpack-connection` package.
  _inc/lib/class.core-rest-api-endpoints.php
  packages/connection/src/class-manager.php
  packages/connection/src/class-rest-connector.php
  packages/connection/tests/php/test-rest-endpoints.php
  packages/connection/tests/php/test_Manager.php
  tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Connect Flow, Jetpack DNA, [Status] Needs Package Release, [Status] Needs Review

#16552 e2e tests: update with Prettier
  tests/e2e/lib/blocks/eventbrite.js
  tests/e2e/lib/blocks/mailchimp.js
  tests/e2e/lib/blocks/pinterest.js
  tests/e2e/lib/blocks/simple-payments.js
  tests/e2e/lib/blocks/word-ads.js
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/logger.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/jetpack-connect/site-topic.js
  tests/e2e/lib/pages/page.js
  tests/e2e/lib/pages/postFrontend.js
  tests/e2e/lib/pages/wpcom/checkout.js
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/setup-env.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/free-blocks.test.js
Labels: E2E Tests, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16553 About Page: update Gravatar hashes
  _inc/lib/admin-pages/class-jetpack-about-page.php
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16547 Social Icons Widget: add rel attribute to links
  modules/widgets/social-icons.php
  tests/php/modules/widgets/test_social-icons-widget.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16548 SubmitButton: Remove now its been replaced with shared Button block
  extensions/blocks/mailchimp/edit.js
  extensions/shared/submit-button.js
Labels: Gutenberg, Touches WP.com Files, [Block] Button, [Block] Mailchimp, [Status] Ready to Merge

#16533 Repo Gardening: only assign issues when necessary
  .github/actions/repo-gardening/src/tasks/assign-issues/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#16527 Podcast Block: Save RSS feed URL as post content (#15682)
  extensions/blocks/podcast-player/deprecated/v1/index.js
  extensions/blocks/podcast-player/index.js
  extensions/blocks/podcast-player/save.js
  extensions/blocks/podcast-player/test/save.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Enhancement

#16541 Jetpack Offer Reset: Remove the personal plan from the plans page
  _inc/client/plans/plan-grid.jsx
  _inc/client/plans/style.scss
Labels: Admin Page, Connect Flow, Plans, [Status] Ready to Merge

#16562 Unit Tests: fix tests according to changes in Core
  packages/sync/src/class-defaults.php
  packages/sync/src/modules/class-options.php
  tests/php/modules/shortcodes/test-class.recipe.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Shortcodes / Embeds, Sync, [Pri] BLOCKER, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16569 Contact Form: avoid deprecation notice in WP 5.5
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#16568 WordPress.com API: take new option names into account
  json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16564 Add new method to break the master user
  packages/debug-helper/modules/class-broken-token.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge

#16554 Carousel: add jQuery script dependency
  modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#16566 Linting: update to latest version of eslint-plugin-wpcalypso
  package.json
  yarn.lock
Labels: General, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#16555 Revert the backend changes for the Expert Guidance experiment.
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  sal/class.json-api-site-jetpack.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#16588 Photon: PHPCS class.photon.php
  bin/phpcs-requirelist.js
  class.photon.php
  tests/php/test_class.jetpack_photon.php
Labels: Photon, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#16546 Calypsoify: Change the default link to Customer Home
  modules/calypsoify/class.jetpack-calypsoify.php
Labels: Calypsoify, [Status] Ready to Merge, [Type] Bug

#16504 add messages for some common connection errors
  packages/connection/src/class-manager.php
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16545 Earn: Move donations block to Jetpack Beta Blocks
  class.jetpack-plan.php
  extensions/blocks/donations/attributes.js
  extensions/blocks/donations/context.js
  extensions/blocks/donations/controls.js
  extensions/blocks/donations/donations.php
  extensions/blocks/donations/edit.js
  extensions/blocks/donations/editor.js
  extensions/blocks/donations/editor.scss
  extensions/blocks/donations/fetch-default-products.js
  extensions/blocks/donations/fetch-status.js
  extensions/blocks/donations/icon.js
  extensions/blocks/donations/index.js
  extensions/blocks/donations/loading-error.js
  extensions/blocks/donations/loading-status.js
  extensions/blocks/donations/tab.js
  extensions/blocks/donations/tabs.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/recurring-payments/index.js
  extensions/index.json
  extensions/shared/currencies.js
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge, [Type] Feature

#15983 Creates the MC Stats package
  packages/a8c-mc-stats/README.md
  packages/a8c-mc-stats/composer.json
  packages/a8c-mc-stats/phpunit.xml.dist
  packages/a8c-mc-stats/src/class-a8c-mc-stats.php
  packages/a8c-mc-stats/tests/php/bootstrap.php
  packages/a8c-mc-stats/tests/php/test_Stats.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16244 API: Add owns_site Capability to Sites Endpoint
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#16248 XMLRPC API: Introducing `jetpack_connection` flag.
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  sal/class.json-api-site-base.php
  sal/class.json-api-site-jetpack.php
  tests/php/json-api/test-class.json-api-jetpack-site-endpoints.php
Labels: Connect Flow, Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#16544 WPCOM Block Editor: Check for the _GET var before use
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#16589 Donations block: Remove "import-docblock" rule exceptions
  extensions/blocks/donations/attributes.js
  extensions/blocks/donations/context.js
  extensions/blocks/donations/controls.js
  extensions/blocks/donations/fetch-default-products.js
  extensions/blocks/donations/fetch-status.js
  extensions/blocks/donations/loading-error.js
  extensions/blocks/donations/loading-status.js
Labels: Touches WP.com Files, [Block] Donation, [Status] Ready to Merge

#16561 Add a filter to jetpack options
  packages/options/legacy/class-jetpack-options.php
Labels: General, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#16274 Adds MC Stats package as a dependency for Jetpack
  composer.json
  composer.lock
Labels: Jetpack DNA, Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Feature

#16519 Contact Form: add a CRM Connection setting
  extensions/blocks/contact-form/attributes.js
  extensions/blocks/contact-form/components/jetpack-crm-connection-settings.js
  extensions/blocks/contact-form/edit.js
  modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#16590 Status: add new method to check for a local development site, and expand list of staging sites.
  _inc/client/components/jetpack-notices/index.jsx
  class.jetpack.php
  packages/connection/src/class-rest-connector.php
  packages/status/src/class-status.php
  packages/status/tests/php/test-status.php
Labels: [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#16275 Update/use jetpack mc stats package
  class.jetpack.php
Labels: Jetpack DNA, [Status] Ready to Merge, [Type] Feature

#16276 Creates a new Heartbeat package
  packages/heartbeat/README.md
  packages/heartbeat/composer.json
  packages/heartbeat/src/class-heartbeat.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Feature

#16567 E2E tests: use wp-env in CI
  .travis.yml
  .wp-env.json
  package.json
  tests/e2e/README.md
  tests/e2e/bin/bootstrap-env.sh
  tests/e2e/bin/docker-compose.yml
  tests/e2e/bin/docker-e2e-cli.sh
  tests/e2e/bin/env.sh
  tests/e2e/bin/includes.sh
  tests/e2e/bin/install-wordpress.sh
  tests/e2e/bin/push-allure-artifacts.sh
  tests/e2e/bin/setup-docker-env.sh
  tests/e2e/bin/setup-e2e-travis.sh
  tests/e2e/bin/travis/travis_default-site.conf
  tests/e2e/bin/travis/travis_fastcgi.conf
  tests/e2e/bin/travis/travis_php-fpm.conf
  tests/e2e/config/default.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/connection.test.js
  tests/e2e/specs/pre-connection.test.js
  yarn.lock
Labels: E2E Tests, Touches WP.com Files, [Status] Ready to Merge

#16595 Autoloader: convert '\' directory separators to '/' in plugin paths
  packages/autoloader/src/class-autoloader-handler.php
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/src/functions.php
Labels: Jetpack DNA, [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#16596 Search: Add utm_source to the powered by link.
  modules/search/instant-search/components/jetpack-colophon.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14649 Core REST API: Add permission callback to delete_jitm_message endpoint
  _inc/jetpack-jitm.js
  _inc/lib/class.core-rest-api-endpoints.php
  packages/jitm/src/class-jitm.php
  packages/jitm/tests/php/test_JITM.php
Labels: JITM, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review

#16475 Reconnect Notice: In-place Reconnect
  _inc/client/components/auth-iframe/index.jsx
  _inc/client/components/auth-iframe/style.scss
  _inc/client/components/jetpack-notices/error-notice-cycle-connection.jsx
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/components/jetpack-notices/jetpack-connection-errors.jsx
  _inc/client/components/jetpack-notices/notice-action-reconnect.jsx
  _inc/client/main.jsx
  _inc/client/rest-api/index.js
  _inc/client/scss/shared/_main.scss
  _inc/client/state/action-types.js
  _inc/client/state/connection/actions.js
  _inc/client/state/connection/reducer.js
  _inc/client/state/connection/test/reducer.js
  _inc/client/state/connection/test/selectors.js
  packages/connection/src/class-manager.php
  packages/connection/src/class-rest-connector.php
  packages/connection/tests/php/test-rest-endpoints.php
  packages/connection/tests/php/test_Manager.php
Labels: Admin Page, Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge

#16302 Add beta WP Story block
  extensions/blocks/story/controls.js
  extensions/blocks/story/edit.js
  extensions/blocks/story/editor.js
  extensions/blocks/story/editor.scss
  extensions/blocks/story/index.js
  extensions/blocks/story/player/components/background.js
  extensions/blocks/story/player/components/bullet.js
  extensions/blocks/story/player/components/button.js
  extensions/blocks/story/player/components/controls.js
  extensions/blocks/story/player/components/header.js
  extensions/blocks/story/player/components/icons.scss
  extensions/blocks/story/player/components/index.js
  extensions/blocks/story/player/components/media.js
  extensions/blocks/story/player/components/overlay.js
  extensions/blocks/story/player/index.js
  extensions/blocks/story/player/lib/fullscreen-api.js
  extensions/blocks/story/player/lib/shadow-root.js
  extensions/blocks/story/player/lib/wait-media-ready.js
  extensions/blocks/story/player/player.js
  extensions/blocks/story/player/progress-bar.js
  extensions/blocks/story/player/slide.js
  extensions/blocks/story/player/style.scss
  extensions/blocks/story/player/use-resize-observer.js
  extensions/blocks/story/player/variables.scss
  extensions/blocks/story/save.js
  extensions/blocks/story/story.php
  extensions/blocks/story/story_example-1.png
  extensions/blocks/story/view.js
  extensions/index.json
  yarn.lock
Labels: Touches WP.com Files, [Block] Story, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Feature

#16599 Broken Token: Breaking user tokens improvement
  packages/debug-helper/modules/class-broken-token.php
Labels: Debug Tools, [Status] Needs Package Release, [Status] Ready to Merge

#16608 Admin Page: fix remaining mention of Development mode
  _inc/client/at-a-glance/connections.jsx
Labels: Admin Page, [Status] Ready to Merge, [Type] Bug

#16598 Premium Blocks: Remove Upgrade Nudges
  extensions/blocks/videopress/editor.js
  extensions/shared/register-jetpack-block.js
Labels: Plans, Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Review, [Status] Needs Team Review

#16601 Premium Blocks: add CSS class to body when Upgrade Nudge is enabled
  class.jetpack-gutenberg.php
  extensions/editor.js
  extensions/shared/plan-utils.js
  extensions/shared/premium-blocks/index.js
Labels: Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Review

#16364 Instant Search: Add support for excluding certain post types from search results
  bin/phpcs-requirelist.js
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/class.jetpack-search-helpers.php
  modules/search/customize-controls/class-excluded-post-types-control.css
  modules/search/customize-controls/class-excluded-post-types-control.js
  modules/search/customize-controls/class-excluded-post-types-control.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/lib/api.js
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#16558 External Media: Fix image not attaching or being recognized as "used" in a post
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  class.photon.php
  extensions/shared/external-media/sources/with-media.js
  tests/php/test_class.jetpack_photon.php
Labels: Photon, Touches WP.com Files, [Extensions] External Media, [Status] Ready to Merge, [Type] Bug

#16602 Premium Blocks: Set premium icons for jetpack premium blocks
  extensions/blocks/calendly/icon.js
  extensions/blocks/opentable/icon.js
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/send-a-message/whatsapp-button/icon.js
  extensions/blocks/simple-payments/index.js
  extensions/shared/premium-blocks/editor.scss
  extensions/shared/premium-blocks/index.js
  extensions/shared/premium-blocks/paid-symbol.js
Labels: Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Review

#16614 Premium Blocks: Remove Upgrade Nudges from frontend
  class.jetpack-gutenberg.php
Labels: Plans, Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Team Review

#16456 8.8 Release: Changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: General, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#16623 avoid conflict with other plugins filtering edit url
  class.jetpack.php
Labels: General, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#16603 Premium Blocks: Add upgrade banner to block inspector
  extensions/shared/components/upgrade-nudge/index.jsx
  extensions/shared/plan-utils.js
  extensions/shared/premium-blocks/edit.js
  extensions/shared/premium-blocks/editor.scss
  extensions/shared/premium-blocks/index.js
  extensions/shared/premium-blocks/upgrade-plan-banner.jsx
  extensions/shared/register-jetpack-block.js
Labels: Touches WP.com Files, [Extensions] Premium Blocks

#16618 Premium Blocks: Add Upgrade banner to premium block in the editor canvas
  extensions/shared/premium-blocks/editor.scss
  extensions/shared/premium-blocks/index.js
  extensions/shared/premium-blocks/upgrade-plan-banner.jsx
  extensions/shared/premium-blocks/with-upgrade-banner.jsx
Labels: [Extensions] Premium Blocks, [Status] Needs Team Review

#16637 Update analytics readme
  _inc/client/lib/analytics/README.md
Labels: Docs, Touches WP.com Files, Tracks, [Status] Needs Review

#16629 Premium Blocks: Add premium indicator to donations block icon
  extensions/blocks/donations/icon.js
Labels: Touches WP.com Files, [Block] Donation, [Extensions] Premium Blocks, [Status] Needs Team Review

#16632 Paid blocks: remove paid wording
  extensions/shared/register-jetpack-block.js
Labels: Touches WP.com Files, [Extensions] Premium Blocks, [Status] Needs Review

#16570 Typography: first pass at implementing a consistent type scale
  _inc/client/at-a-glance/style.scss
  _inc/client/components/apps-card/style.scss
  _inc/client/components/banner/style.scss
  _inc/client/components/button/style.scss
  _inc/client/components/card/style.scss
  _inc/client/components/chart/style.scss
  _inc/client/components/count/style.scss
  _inc/client/components/dash-section-header/style.scss
  _inc/client/components/external-link/style.scss
  _inc/client/components/foldable-card/style.scss
  _inc/client/components/search/style.scss
  _inc/client/components/section-header/style.scss
  _inc/client/components/section-nav/style.scss
  _inc/client/components/select-dropdown/style.scss
  _inc/client/components/settings-group/style.scss
  _inc/client/components/spinner/style.scss
  _inc/client/components/support-card/style.scss
  _inc/client/components/support-info/style.scss
  _inc/client/components/text-input/style.scss
  _inc/client/components/textarea/style.scss
  _inc/client/discussion/style.scss
  _inc/client/my-plan/my-plan-card/style.scss
  _inc/client/my-plan/style.scss
  _inc/client/plans/single-product/style.scss
  _inc/client/plans/single-products.scss
  _inc/client/plans/style.scss
  _inc/client/scss/rem.scss
  _inc/client/scss/shared/_main.scss
  _inc/client/scss/style.scss
  _inc/client/scss/typography.scss
Labels: Admin Page, [Status] Needs Design Review, [Status] Needs Review, [Type] Janitorial

#16621 In-Place Connection: Fallback for disabled third-party cookies.
  _inc/connect-button.js
Labels: Connect Flow, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#16413 Rework Sender to properly return state during do_full_sync
  class.jetpack-cli.php
  packages/sync/src/class-actions.php
  packages/sync/src/class-sender.php
  tests/php/sync/test_class.jetpack-sync-actions.php
  tests/php/sync/test_class.jetpack-sync-sender.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#16649 Premium Blocks: populate blocks keywords with Premium
  extensions/shared/premium-blocks/index.js
Labels: [Extensions] Premium Blocks
