Repository Automattic/jetpack, pull requests merged in 2020-01, with the labels that each got.

#14293 Unit Tests: Remove unused test
  tests/php/modules/shortcodes/test-shortcode-defense.php
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#14295 Remove Jetpack Sync Testing Instructions
  to-test.md
Labels: [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#14301 Plans: Move Plans grid above Jetpack Backup
  _inc/client/plans/index.jsx
Labels: Backup & Scan, Plans, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14248 Instant Search: trigger overlay on submit
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/lib/dom.js
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14283 Instant Search: Add sidebar widget area
  modules/search/class.jetpack-search.php
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sidebar.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Type] Feature

#14284 Instant Search: refactor search php for the different experiences
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/class.jetpack-search-helpers.php
  modules/search/class.jetpack-search-options.php
  modules/search/class.jetpack-search.php
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14288 REST API: Add view_hosting capability to sites endpoints
  sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge

#14291 Fix sharing buttons and like buttons when copying a post
  modules/copy-post.php
Labels: Copy a Post, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14299 Autoloader: Remove Jetpack_IXR_Client from ignore list
  packages/autoloader/src/autoload.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#14309 Adds notice in wp-admin if there's a conflict with backups and plan
  _inc/client/components/jetpack-notices/index.jsx
  _inc/client/components/jetpack-notices/plan-conflict-warning.jsx
  _inc/client/components/jetpack-notices/test/component.js
Labels: Admin Page, Backup & Scan, [Status] Ready to Merge

#14292 Autoloader: Remove Manager_Interface and Plugin\Tracking from ignore list
  packages/autoloader/src/autoload.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14312 Instant Search: fix Esc key behaviour
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/search-app.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#13611 Connection: Re-deprecate function
  class.jetpack.php
Labels: Connect Flow, [Status] Ready to Merge, [Type] Janitorial

#14316 Sandbox utils: Use isolated backreference in URL replacement string
  _inc/jetpack-server-sandbox.php
Labels: Development Mode, [Status] Ready to Merge

#14168 Trying to add deterministic initialization.
  class.jetpack.php
  composer.json
  composer.lock
  load-jetpack.php
  packages/autoloader/src/autoload.php
  packages/config/README.md
  packages/config/composer.json
  packages/config/src/class-config.php
  packages/sync/src/class-listener.php
  packages/sync/src/class-main.php
  packages/sync/src/class-sender.php
  packages/sync/src/class-users.php
  tests/php/bootstrap.php
  tests/php/sync/class.silent-upgrader-skin.php
  tests/php/sync/test_class.jetpack-sync-base.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Jetpack DNA, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14304 Contact Form: Add IP & date to CSV Export
  modules/contact-form/grunion-contact-form.php
  tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#14322 Adds two-factor tags to the SSO module header
  modules/sso.php
Labels: SSO, [Status] Needs Review, [Type] Janitorial

#14314 Jetpack: call add_remote_request_handlers() in plugins_loaded
  class.jetpack.php
  tests/php/bootstrap.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14327 Gutenberg Blocks: Fix Jetpack sidebar button
  extensions/shared/jetpack-plugin-sidebar.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14324 Instant Search: Add a button to clear applied filters
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-filters.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Feature

#14334 SVNIgnore: add new bin file, we do not need it in stable release
  .svnignore
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#14333 8.2: update version numbers for upcoming release
  jetpack.php
  package.json
Labels: Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#14275 Subscriptions: Add a clear message when an email having many pending confirmations tries to subscribe a site.
  modules/subscriptions.php
  modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14204 Packages: Various improvements for wp.com or self-contained consumers
  _inc/lib/admin-pages/class.jetpack-react-page.php
  _inc/lib/class.core-rest-api-endpoints.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  class.jetpack-cli.php
  class.jetpack.php
  modules/sharedaddy.php
  modules/sso.php
  packages/assets/composer.json
  packages/assets/src/class-assets.php
  packages/assets/tests/php/test_Assets.php
  packages/connection/src/class-manager.php
  packages/status/composer.json
  packages/status/src/class-status.php
  packages/status/tests/php/test_Status.php
  packages/sync/src/class-actions.php
  packages/sync/src/class-defaults.php
  packages/sync/src/class-main.php
  tests/php/general/test_class.jetpack.php
Labels: Jetpack DNA, Sync, [Status] Ready to Merge, [Status] Tested on WP.com

#14318 REST API: Load files during plugins_loaded action
  _inc/lib/core-api/load-wpcom-endpoints.php
Labels: Jetpack DNA, WP REST API, [Pri] Normal, [Status] Ready to Merge

#14319 Instant Search: Add search filtering inside overlay
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-filters.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14341 SSO: Import Status as we use it in this file.
  modules/sso.php
Labels: Jetpack DNA, SSO, [Pri] High, [Status] Ready to Merge, [Type] Bug

#14220 OpenTable Block
  extensions/blocks/opentable/attributes.js
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/editor.js
  extensions/blocks/opentable/editor.scss
  extensions/blocks/opentable/icon.js
  extensions/blocks/opentable/index.js
  extensions/blocks/opentable/opentable.php
  extensions/blocks/opentable/restaurant-picker.js
  extensions/blocks/opentable/use-restaurant-search.js
  extensions/blocks/opentable/view.js
  extensions/blocks/opentable/view.scss
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge, [Type] Feature

#14213 Adding new managed WordPress hosts to be identified in class-functions.php.
  packages/sync/src/class-functions.php
  tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#14331 Call plugin_upgrade() during the plugins_loaded action
  class.jetpack.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14339 Instant search: introduce overlay from right
  modules/search/instant-search/components/overlay.scss
Labels: Instant Search, Search, [Status] Needs Review

#14313 Media: Fix the notices generated during remote media file updates
  _inc/lib/class.media.php
  json-endpoints/class.wpcom-json-api-edit-media-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#14348 OpenTable: add fill in color for the block icon
  extensions/blocks/opentable/icon.js
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge, [Type] Bug

#14353 OpenTable: Remove country codes from open table language selector
  extensions/blocks/opentable/attributes.js
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14355 Composer: Add jetpack-status to composer.json
  composer.json
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#14357 Sync Package: use Full_Sync_Immediately by default
  packages/sync/src/class-modules.php
  tests/php/bootstrap.php
Labels: Sync, [Status] Ready to Merge, [Type] Enhancement

#14252 Blocks: Calendly block
  extensions/blocks/calendly/attributes.js
  extensions/blocks/calendly/blockStylesPreviewAndSelector.js
  extensions/blocks/calendly/calendly.php
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/editor.js
  extensions/blocks/calendly/editor.scss
  extensions/blocks/calendly/icon.js
  extensions/blocks/calendly/index.js
  extensions/blocks/calendly/test/utils.js
  extensions/blocks/calendly/utils.js
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge, [Type] Feature

#14364 OpenTable: Clarify wording in embed prompt
  extensions/blocks/opentable/edit.js
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14350 OpenTable Block: Make the registration happen via an action
  extensions/blocks/opentable/opentable.php
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge, [Type] Enhancement

#14349 WP.com block editor: Allow cross-site authentication cookies.
  bin/phpcs-whitelist.js
  functions.cookies.php
  load-jetpack.php
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Status] Needs Review, [Type] Bug, x-site cookies

#14360 Instant Search: respect posts per page setting
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14369 Calendly: Prevent notices for undefined attributes
  extensions/blocks/calendly/calendly.php
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14370 Calendly: Don't encode line breaks in the submit button
  extensions/blocks/calendly/calendly.php
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14323 Photon: Remove the duplicate add_filter('jetpack_photon_url', 'jetpack_photon_url') call
  functions.photon.php
  load-jetpack.php
Labels: Jetpack DNA, Photon, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14371 Update JP block style consistency after core update
  extensions/blocks/contact-form/components/jetpack-contact-form.js
  extensions/blocks/contact-form/editor.scss
  extensions/blocks/gif/edit.js
  extensions/blocks/gif/editor.scss
  extensions/blocks/mailchimp/edit.js
  extensions/blocks/mailchimp/editor.scss
  extensions/blocks/map/edit.js
  extensions/blocks/map/editor.scss
  extensions/blocks/pinterest/edit.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/recurring-payments/editor.scss
  extensions/blocks/repeat-visitor/editor.scss
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Block] GIF, [Block] Mailchimp, [Block] Map, [Block] Pinterest, [Block] Repeat Visitor, [Block] Subscriptions, [Status] Ready to Merge

#14375 Calendly: Removed look behinds in regexes
  extensions/blocks/calendly/utils.js
Labels: Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge, [Type] Bug

#14374 Instant Search: Use widgets inside overlay for filtering
  modules/search/instant-search/README.md
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-sidebar.jsx
  modules/search/instant-search/components/widget-area-container.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14386 Use Jetpack_RelatedPosts::get_options() to get options for server-rendered Related Posts
  modules/related-posts/jetpack-related-posts.php
Labels: AMP, Related Posts, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14379 Instant Search: update overlay styles
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-result-minimal.jsx
  modules/search/instant-search/components/search-result-minimal.scss
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14342 Move connection manager related logic to after plugins_loaded.
  class.jetpack.php
  packages/config/src/class-config.php
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14363 OpenTable: Reset the CSS on the suggestions list
  extensions/blocks/opentable/editor.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14325 Subscriptions: Fix "deactivating module unsets Follow email option"
  modules/subscriptions.php
Labels: Subscriptions, [Status] Needs Review, [Type] Bug

#14394 WP.com block editor: auth cookie varies depending on site protocol
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug, x-site cookies

#14384 Sync: ensure we run the initial sync on new connections
  packages/sync/src/class-main.php
Labels: Sync, [Status] Needs Review, [Type] Bug

#14400 WP.com block editor: Set cross-site auth cookies without overriding wp_set_auth_cookies
  functions.cookies.php
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug, x-site cookies

#14373 Load Admin Dashboard prior to connection. Revert of 71d0a1f
  _inc/client/components/footer/index.jsx
  _inc/client/static-main.jsx
  _inc/jetpack-connection-banner.js
  _inc/lib/admin-pages/class.jetpack-admin-page.php
  _inc/lib/admin-pages/class.jetpack-react-page.php
Labels: Admin Page, [Status] Has Changelog, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14340 Jetpack_Media: Delete revision history items before updating metadata
  _inc/lib/class.media.php
Labels: WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#14421 [not verified] Sync Chunk Keys need to be unique
  packages/sync/src/class-sender.php
Labels: Sync, [Status] Needs Review, [Status] Needs Testing

#14407 Blocks: Share attribute validation code
  extensions/blocks/calendly/attributes.js
  extensions/blocks/calendly/edit.js
  extensions/blocks/opentable/attributes.js
  extensions/blocks/opentable/edit.js
  extensions/shared/get-validated-attributes.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge

#14408 Instant Search: Fix taxonomy name compilation bug
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14409 Instant Search: Fix date formatting issue for filters
  modules/search/instant-search/components/search-filter.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14413 Docs: update PHP versions to current requirements
  docs/development-environment.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial

#14416 Simple boolean logic in load-jetpack
  load-jetpack.php
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#14402 Jetpack: Move edit_links_calypso_redirect check to configure()
  class.jetpack.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14381 Calendly: Add CSS to adjust the Calendly block to the masterbar
  extensions/blocks/calendly/view.js
  extensions/blocks/calendly/view.scss
Labels: Gutenberg, [Block] Calendly, [Status] Ready to Merge

#14420 Make the Calendly button accessible
  extensions/blocks/calendly/calendly.php
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14424 Moved JITM initialization to plugins_loaded.
  class.jetpack.php
  load-jetpack.php
  packages/config/src/class-config.php
  packages/jitm/src/class-jitm.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14418 Vimeo: add new shortcode format
  modules/shortcodes/vimeo.php
  tests/php/modules/shortcodes/test-class.vimeo.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14372 Calendly: add an availability check for the Calendly block
  extensions/blocks/calendly/calendly.php
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14401 PHPUnit: fix unclear sync tests
  .travis.yml
  phpunit.xml.dist
  tests/php.multisite.xml
  tests/php/bootstrap.php
  tests/php/sync/test_class.jetpack-sync-full-immediately.php
  tests/php/sync/test_class.jetpack-sync-full.php
  tests/php/sync/test_class.jetpack-sync-term-relationships.php
  tests/run-travis.sh
Labels: Unit Tests, [Status] Ready to Merge, [Type] Janitorial

#14403 Calendly Block: Add alignment options
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14422 Add alignment options to the OpenTable block
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14433 Fix the Calendly placeholder
  extensions/blocks/calendly/edit.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14428 Autoloader: Remove the ignored classes
  packages/autoloader/src/autoload.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14427 Instant Search: Integrate customizer options
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/scroll-button.jsx
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/index.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14419 Update spacing on offline notice
  modules/search/instant-search/components/notice.scss
Labels: Instant Search, Search, [Status] Needs Review

#14434 Calendly: Add a notice to explain how to use colors
  extensions/blocks/calendly/calendly.php
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14307 Map Block: Use the A8C's Mapbox access token if the site doesn't provide one
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  extensions/blocks/map/edit.js
  extensions/blocks/map/editor.scss
  extensions/blocks/map/map.php
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Enhancement

#14415 E2E tests: mock plan data
  bin/phpcs-whitelist.js
  tests/e2e/bin/setup-e2e-travis.sh
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/jest.test.failure.js
  tests/e2e/lib/page-helper.js
  tests/e2e/lib/pages/wp-admin/block-editor.js
  tests/e2e/lib/pages/wp-admin/jetpack.js
  tests/e2e/lib/pages/wpcom/login.js
  tests/e2e/lib/pages/wpcom/pick-a-plan.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/plugins/e2e-plan-data-interceptor.php
  tests/e2e/specs/pro-blocks.test.js
Labels: Unit Tests, [Status] Ready to Merge

#14442 Mapbox: query for an API key differently depending on platform
  extensions/blocks/map/map.php
Labels: Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Bug

#14429 Instant Search: add dark theme styles
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14451 Instant Search: Update filter toggle to work with widget area
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sidebar.scss
  modules/search/instant-search/instant-search.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14445 Map Block: avoid using sprintf to get the local API URL.
  extensions/blocks/map/map.php
Labels: Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Janitorial

#14075 Eventbrite block
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-resolve-redirect.php
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/editor.js
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/eventbrite/eventbrite-in-page-example.png
  extensions/blocks/eventbrite/eventbrite.php
  extensions/blocks/eventbrite/index.js
  extensions/blocks/eventbrite/modal-button-preview.js
  extensions/blocks/eventbrite/save.js
  extensions/blocks/eventbrite/utils.js
  extensions/blocks/pinterest/edit.js
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Feature

#14441 Add an amazon block
  extensions/blocks/amazon/amazon.php
  extensions/blocks/amazon/edit.js
  extensions/blocks/amazon/editor.js
  extensions/blocks/amazon/editor.scss
  extensions/blocks/amazon/index.js
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Amazon, [Status] Ready to Merge

#14463 Eventbrite: Make sure the event ID is a number
  extensions/blocks/eventbrite/utils.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Bug

#14467 Add Complete Open Graph to $open_graph_conflicting_plugins
  class.jetpack.php
Labels: Publicize, Sharing, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement, [Type] Happiness Request

#14470 Addition of progress field to sync/status endpoint
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: Sync, [Status] Ready to Merge

#14469 Avoid using getBlockFromExample, unsupported on WP 5.2
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/eventbrite/eventbrite-modal-example.png
Labels: Touches WP.com Files, [Block] Eventbrite, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#14464 OpenTable: Separate block registration from setting the availability
  extensions/blocks/opentable/opentable.php
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14468 Calendly: Make the block registration consistent with OpenTable
  extensions/blocks/calendly/calendly.php
Labels: Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14474 Instant Search: Improve search form detection
  modules/search/instant-search/lib/dom.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14432 [Coming Soon] Add support for is_coming_soon in sites API
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#14326 Subscriptions: inform a clear error for pending confirmations
  modules/subscriptions.php
  modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14471 Contact Info Block: wrap the phone number link tag in a span
  extensions/blocks/contact-info/class-jetpack-contact-info-block.php
Labels: Touches WP.com Files, [Block] Contact Info, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#14449 Connection\Manager: Use jetpack_master_user class constant
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14337 Connection\Utils: Add a new function which provides the Jetpack API version
  packages/connection/src/class-client.php
  packages/connection/src/class-manager.php
  packages/connection/src/class-utils.php
  packages/connection/tests/php/test_Utils.php
Labels: Jetpack DNA, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#14484 EventBrite: add missing textdomain to new strings
  extensions/blocks/eventbrite/edit.js
Labels: Internationalization, Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Bug

#14485 EventBrite: provide different support link depending on platform
  extensions/blocks/eventbrite/edit.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Enhancement

#14487 Eventbrite block: Fix block transform not properly creating the block
  extensions/blocks/eventbrite/index.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Bug

#14478 Instant Search: Prevent body scroll with overlay open
  modules/search/instant-search/components/search-app.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14477 Instant Search: Move focus into overlay input
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-form.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14437 Instant Search: use taxonomy name rather than slug for filters
  modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14489 Eventbrite block: Restore previous working user agent
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-resolve-redirect.php
Labels: Touches WP.com Files, WPCOM API, [Block] Eventbrite, [Status] Ready to Merge, [Type] Bug

#14438 Calendly: Transform calendly urls to Calendly blocks
  extensions/blocks/calendly/index.js
  extensions/blocks/calendly/utils.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14435 Add save functions for the OpenTable and Calendly blocks
  extensions/blocks/calendly/index.js
  extensions/blocks/opentable/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge

#14332 Changelog: 8.2 release
  changelog.txt
  readme.txt
  to-test.md
Labels: [Status] Ready to Merge, [Type] Janitorial

#14447 E2E tests: fix plan data consistency
  tests/e2e/lib/flows/jetpack-connect.js
  tests/e2e/lib/plan-helper.js
  tests/e2e/lib/utils-helper.js
  tests/e2e/plugins/e2e-plan-data-interceptor.php
  tests/e2e/specs/pro-blocks.test.js
Labels: Plans, Unit Tests, [Status] Needs Review

#14497 Blocks: switch new blocks to production
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] Eventbrite, [Block] OpenTable, [Status] Ready to Merge, [Type] Enhancement

#14498 CI: Disable markdown spell checking
  .travis.yml
Labels: Build, [Status] Ready to Merge

#14425 E2E Tests: Use production build in CI
  .travis.yml
Labels: Unit Tests, [Status] Ready to Merge

#14500 Removing duplicate load_modules call.
  class.jetpack.php
  load-jetpack.php
Labels: General, [Status] Needs Review, [Type] Bug

#14493 Instant Search: fix filter display in Zerif Lite theme
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/components/search-filters.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14492 Instant Search: switch to use .slug_slash_name for displaying custom taxonomies, tags and categories
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14504 Instant Search: Apply customizer changes without page reload
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/lib/customize.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14423 Instant Search : Update mobile structure
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sidebar.scss
  modules/search/instant-search/components/search-sort.jsx
  modules/search/instant-search/components/search-sort.scss
  modules/search/instant-search/instant-search.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14509 Calendly: Changed the required plan slug, so the upgrade button is shown
  extensions/blocks/calendly/calendly.php
Labels: Touches WP.com Files, [Block] Calendly, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14503 Eventbrite Block: update comments, support link, example attributes
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/index.js
  extensions/blocks/eventbrite/save.js
  extensions/blocks/eventbrite/utils.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14501 Eventbrite Block: Support transforms for links with query strings
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/index.js
  extensions/blocks/eventbrite/utils.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14520 General: Add Infinity as code owners to partnership related files
  .github/CODEOWNERS
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#14383 Share the block style selector code
  extensions/blocks/calendly/blockStylesPreviewAndSelector.js
  extensions/blocks/calendly/edit.js
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/editor.scss
  extensions/shared/components/block-styles-selector/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14490 Map Block: Update mapbox-gl dependency to 1.6.1
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Block] Map, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#14530 Changelog: port #14490 entry back to master
  readme.txt
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#14516 JITMs: Allow JITMs to not have a dismiss button.
  _inc/jetpack-jitm.js
Labels: JITM, [Status] Ready to Merge, [Type] Enhancement

#14510 Eventbrite block: add link to saved HTML
  extensions/blocks/eventbrite/eventbrite.php
  extensions/blocks/eventbrite/save.js
  extensions/blocks/eventbrite/style.scss
  extensions/blocks/eventbrite/view.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#14518 Instant Search: Restore initial href upon closing overlay
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14522 Instant Search: Restore focus to activeElement
  modules/search/instant-search/components/search-box.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#14448 Search: Front end search filters open overlay
  modules/search/class.jetpack-search-template-tags.php
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/instant-search.scss
  modules/search/instant-search/lib/dom.js
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14519 Instant search: add "powered by Jetpack" message
  modules/search/instant-search/components/jetpack-colophon.jsx
  modules/search/instant-search/components/jetpack-colophon.scss
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-sidebar.jsx
  modules/search/instant-search/instant-search.scss
  package.json
  yarn.lock
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14538 Resolve Redirect: Explicitly pass the parameter to be validated
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-resolve-redirect.php
Labels: Touches WP.com Files, WP REST API, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14540 Eventbrite and OpenTable Blocks: Increase specificity of the Inserter preview CSS to avoid conflicts
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/opentable/editor.scss
Labels: Touches WP.com Files, [Block] Eventbrite, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14512 Eventbrite Block: Update saved block markup
  extensions/blocks/eventbrite/eventbrite.php
  extensions/blocks/eventbrite/modal-button-preview.js
  extensions/blocks/eventbrite/save.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug
