Repository Automattic/jetpack, pull requests merged in 2020-02, with the labels that each got.

#14533 Instant Search: Clear search and filter queries when necessary
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14565 WP.com block editor: Ignore token on cross-site cookies
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Status] Needs Changelog, [Status] Needs Cherry-Pick, [Status] Needs Review, x-site cookies

#14572 GitHub Actions: Re-enable actions.
  .github/workflows/build-master.yml
  .github/workflows/label.yml
Labels: [Status] Ready to Merge, [Type] Janitorial

#14575 Readme: update with change from release branch
  readme.txt
Labels: [Pri] Low, [Status] Needs Review, [Type] Janitorial

#14587 Instant Search: Refine TrainTracks integration
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-result.jsx
  modules/search/instant-search/components/search-results.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#14586 Instant Search: Fix broken dates in iOS Chrome
  modules/search/instant-search/components/search-filter.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Type] Bug

#14569 Contact form: Use the correct attributes on the Button
  extensions/blocks/contact-form/components/jetpack-contact-form.js
Labels: Contact Form, Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14531 OpenTable: Ensure that the block style CSS is applied on the frontend
  extensions/blocks/opentable/attributes.js
  extensions/blocks/opentable/editor.scss
  extensions/blocks/opentable/index.js
  extensions/blocks/opentable/opentable.php
  extensions/blocks/opentable/view.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14594 Correctly trigger failed_jetpack_search_query action
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14624 Search: Revert "Correctly trigger failed_jetpack_search_query action"
  modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14585 Eventbrite Block: Add a default modal button label
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/eventbrite/index.js
  extensions/blocks/eventbrite/modal-button-preview.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge, [Type] Enhancement

#14588 Eventbrite Block: Add isDefault to the Embed button
  extensions/blocks/eventbrite/edit.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14553 Eventbrite and OpenTable Blocks: Fix block preview sizing with Gutenberg
  extensions/blocks/eventbrite/editor.scss
  extensions/blocks/opentable/editor.scss
Labels: Touches WP.com Files, [Block] Eventbrite, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14625 Calendly: Allow theme color names to be saved in the submit button
  extensions/blocks/calendly/attributes.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14596 Instant Search: Update list of widgets passed to JS client
  modules/search/class-jetpack-instant-search.php
  modules/search/class.jetpack-search-helpers.php
  modules/search/instant-search/components/search-sidebar.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Pri] High, [Status] Needs Review, [Type] Bug

#14548 PHPCS: Remove exclusions
  .phpcs.xml.dist
  bin/phpcs-whitelist.js
  docker/config/wp-tests-config.php
Labels: [Status] Ready to Merge, [Type] Janitorial

#14632 E2E tests: Add some delays for plugin activation
  tests/e2e/lib/utils-helper.js
  tests/e2e/specs/pro-blocks.test.js
Labels: Unit Tests, [Status] Ready to Merge

#14631 Modify jetpack_shim_setcookie to correct strpbrk logic
  functions.cookies.php
Labels: [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14558 Eventbrite block: Make widget div ID more unique
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/eventbrite.php
  extensions/blocks/eventbrite/save.js
  extensions/blocks/eventbrite/style.scss
  extensions/blocks/eventbrite/utils.js
Labels: Touches WP.com Files, [Block] Eventbrite, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14627 Calendly: Updated the rendering of the styles to use the 'style' attribute
  extensions/blocks/calendly/calendly.php
Labels: Touches WP.com Files, [Block] Calendly, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14634 OpenTable: update support doc links
  extensions/blocks/opentable/edit.js
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14574 Clarify distinction between Dashboard widgets
  _inc/client/dashboard-widget/style.scss
  class.jetpack.php
Labels: General, Protect, Stats, [Status] Ready to Merge, [Type] Enhancement

#14635 General: update version numbers to start 8.3 release cycle
  jetpack.php
  package.json
  readme.txt
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#14638 Stop REST API Log entries from being synced
  packages/sync/src/class-defaults.php
Labels: [Status] Needs Package Release, [Status] Ready to Merge, [Type] Happiness Request

#14582 Autoloader: Load only latest version of autoload files to avoid conflicts.
  packages/autoloader/src/AutoloadGenerator.php
  packages/autoloader/src/autoload.php
  packages/autoloader/tests/php/path_to_file.php
  packages/autoloader/tests/php/test_Autoloader.php
  packages/autoloader/tests/php/test_file_loader.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge

#14644 Added better defaults for the connection package.
  class.jetpack.php
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#14544 Added a specific filter to enable iframe authorization API URL.
  class.jetpack.php
  packages/connection/src/class-manager.php
Labels: Jetpack DNA, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#14494 Stats: hide smiley on post embeds as well
  modules/stats.php
Labels: Stats, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#14643 Adjusts text to be more consistent and fix visual glitch
  _inc/client/pro-status/index.jsx
Labels: Admin Page, Backup & Scan, [Status] Ready to Merge, [Type] Bug

#14640 Yarn: run with `--frozen-lockfile`
  package.json
Labels: Build, Touches WP.com Files, [Status] Needs Review

#14633 OpenTable: Allow the various block styles to be centre aligned
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/view.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14570 Initial Sync Health Status Class and Data Loss Handler
  class.jetpack.php
  packages/options/legacy/class-jetpack-options.php
  packages/sync/src/class-actions.php
  packages/sync/src/class-health.php
  packages/sync/src/class-listener.php
  packages/sync/src/class-main.php
  tests/php/sync/test_class.jetpack-sync-actions.php
  tests/php/sync/test_class.jetpack-sync-full-immediately.php
  tests/php/sync/test_class.jetpack-sync-health.php
  tests/php/sync/test_class.jetpack-sync-listener.php
Labels: Sync, [Status] Needs Package Release, [Status] Ready to Merge

#14529 Map Block: add missing text domain for option labels.
  extensions/blocks/map/edit.js
Labels: Internationalization, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Bug

#14514 Mobile Apps: completely remove the edit post link when in app
  class.jetpack.php
Labels: General, [Status] Needs Review, [Type] Bug

#14647 WP.com Block Editor: Remove function that isn't needed
  modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Status] Ready to Merge, [Type] Enhancement

#14654 Sync Health: fix excessive data loss reports
  packages/sync/src/class-health.php
  packages/sync/src/class-listener.php
  tests/php/sync/test_class.jetpack-sync-health.php
  tests/php/sync/test_class.jetpack-sync-listener.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Review

#14550 Instant Search: Update prototype with overlay design
  bin/phpcs-whitelist.js
  jest.config.js
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/class.jetpack-search-helpers.php
  modules/search/class.jetpack-search-options.php
  modules/search/class.jetpack-search-template-tags.php
  modules/search/class.jetpack-search.php
  modules/search/instant-search/README.md
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/jetpack-colophon.jsx
  modules/search/instant-search/components/jetpack-colophon.scss
  modules/search/instant-search/components/notice.jsx
  modules/search/instant-search/components/notice.scss
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/photon-image.jsx
  modules/search/instant-search/components/post-type-icon.jsx
  modules/search/instant-search/components/scroll-button.jsx
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-filter.jsx
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-filters.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-result-date.jsx
  modules/search/instant-search/components/search-result-minimal.jsx
  modules/search/instant-search/components/search-result-minimal.scss
  modules/search/instant-search/components/search-result-product.jsx
  modules/search/instant-search/components/search-result-product.scss
  modules/search/instant-search/components/search-result.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sidebar.jsx
  modules/search/instant-search/components/search-sidebar.scss
  modules/search/instant-search/components/search-sort-widget.jsx
  modules/search/instant-search/components/search-sort-widget.scss
  modules/search/instant-search/components/search-sort.jsx
  modules/search/instant-search/components/search-sort.scss
  modules/search/instant-search/components/test/__snapshots__/notice.test.js.snap
  modules/search/instant-search/components/test/notice.test.js
  modules/search/instant-search/components/widget-area-container.jsx
  modules/search/instant-search/index.jsx
  modules/search/instant-search/instant-search.scss
  modules/search/instant-search/lib/api.js
  modules/search/instant-search/lib/constants.js
  modules/search/instant-search/lib/customize.js
  modules/search/instant-search/lib/dom.js
  modules/search/instant-search/lib/query-string.js
  modules/widgets/search.php
  package.json
  tests/php/modules/search/test-class.jetpack-search-helpers.php
  webpack.config.search.js
  yarn.lock
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14629 Instant Search: Add Jetpack Search gridicon
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-results.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Type] Enhancement

#14655 Instant Search: Update TrainTracks properties to add session_id
  modules/search/instant-search/components/search-result.jsx
Labels: Instant Search, Search, [Status] Needs Review

#14539 Lazy Images: Skip images with data-skip-lazy attribute
  modules/lazy-images/lazy-images.php
  tests/php/modules/lazy-images/test_class.lazy-images.php
Labels: Lazy Images, [Status] Ready to Merge, [Type] Enhancement

#14592 Optimization of "if" checking to prevent errors
  modules/woocommerce-analytics/classes/wp-woocommerce-analytics-universal.php
Labels: WooCommerce Analytics, [Status] Ready to Merge, [Type] Enhancement

#14562 Keyring: Bring the Google Drive implementation into line with the upstream version
  modules/publicize/publicize.php
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#14622 SSO: do not display JITM when not in wp-admin
  modules/sso.php
  packages/jitm/src/class-jitm.php
Labels: SSO, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#14651 Import mediaUpload from @wordpress/editor
  extensions/blocks/slideshow/edit.js
  extensions/blocks/tiled-gallery/edit.js
  extensions/blocks/videopress/editor.js
Labels: Touches WP.com Files, VideoPress, [Block] Slideshow, [Block] Tiled Gallery, [Pri] High, [Status] Ready to Merge

#14571 Gif block: Update placeholder
  extensions/blocks/gif/edit.js
  extensions/blocks/gif/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Block] GIF, [Status] Ready to Merge

#14670 Instant Search: ensures widgets included in the overlay are full width
  modules/search/instant-search/components/search-sidebar.scss
Labels: Instant Search, Search, [Status] Needs Review

#14669 Instant Search: prevents the load more button from being cut off in some themes
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Design Review, [Status] Needs Review

#14665 Instant Search: remove date from search results
  modules/search/instant-search/components/search-result-date.jsx
  modules/search/instant-search/components/search-result-minimal.jsx
  modules/search/instant-search/components/search-result-minimal.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14660 Settings: Hide backups update nudge for multisite
  _inc/client/components/settings-card/index.jsx
Labels: Admin Page, Backup & Scan, [Status] Ready to Merge

#14676 Empty Helper function for checkin handler
  packages/sync/src/modules/class-full-sync-immediately.php
Labels: Sync, [Status] Needs Package Release, [Status] Ready to Merge

#14637 Instant Search: Update search marketing link to add locale
  modules/search/instant-search/components/jetpack-colophon.jsx
  modules/search/instant-search/components/search-sidebar.jsx
Labels: Instant Search, Search, [Status] Needs Review

#14657 React Dash: Add multisite conditional for backup AAG card
  _inc/client/at-a-glance/index.jsx
Labels: Admin Page, Backup & Scan, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#14682 Viewport lib: switch from internal component to package from Calypso monorepo
  _inc/client/components/search/index.jsx
  _inc/client/components/section-nav/tabs.jsx
  _inc/client/components/tooltip/index.jsx
  _inc/client/lib/viewport/README.md
  _inc/client/lib/viewport/index.js
  package.json
  yarn.lock
Labels: Admin Page, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#14684 get_sync_status does not properly account for unexpected states
  packages/sync/src/class-actions.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Review

#14658 Blocks: Update keywords for better search results
  extensions/blocks/map/settings.js
  extensions/blocks/pinterest/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Block] Pinterest, [Status] Ready to Merge, [Type] Enhancement

#14659 Instant Search: Address review feedback from master merge
  modules/search/class-jetpack-instant-search.php
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/notice.scss
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-filters.jsx
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14541 JITM: Show ToS update notice
  _inc/jetpack-jitm.js
  bin/phpcs-whitelist.js
  modules/module-extras.php
  modules/wpcom-tos/wpcom-tos.php
  packages/jitm/src/class-jitm.php
Labels: JITM, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#14702 Tiled gallery: add next-prev image order buttons
  extensions/blocks/tiled-gallery/edit.js
  extensions/blocks/tiled-gallery/editor.scss
  extensions/blocks/tiled-gallery/gallery-image/edit.js
  extensions/blocks/tiled-gallery/icons.js
  extensions/blocks/tiled-gallery/layout/index.js
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Status] Ready to Merge, [Type] Enhancement

#14704 Tiled gallery: rounded corners
  extensions/blocks/tiled-gallery/constants.js
  extensions/blocks/tiled-gallery/edit.js
  extensions/blocks/tiled-gallery/index.js
  extensions/blocks/tiled-gallery/layout/index.js
  extensions/blocks/tiled-gallery/save.js
  extensions/blocks/tiled-gallery/view.scss
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Status] Ready to Merge, [Type] Enhancement

#14687 Map Block: On select, only show the Add Marker UI if there are no markers
  extensions/blocks/map/edit.js
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Enhancement

#14673 Map Block: Tweak the scroll-to-zoom behaviour.
  extensions/blocks/map/component.js
  extensions/blocks/map/edit.js
  extensions/blocks/map/save.js
  extensions/blocks/map/settings.js
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Enhancement

#14679 Eventbrite: implement getValidatedAttributes
  extensions/blocks/eventbrite/attributes.js
  extensions/blocks/eventbrite/edit.js
  extensions/blocks/eventbrite/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Eventbrite, [Status] Ready to Merge

#14678 OpenTable: Fix error when pasting embed codes
  extensions/blocks/opentable/restaurant-picker.js
  extensions/blocks/opentable/use-restaurant-search.js
Labels: Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14639 OpenTable: Accept more embed options
  extensions/blocks/opentable/edit.js
  extensions/blocks/opentable/index.js
  extensions/blocks/opentable/restaurant-picker.js
  extensions/blocks/opentable/test/utils.js
  extensions/blocks/opentable/utils.js
  extensions/shared/get-validated-attributes.js
  extensions/shared/test/get-validated-attributes.js
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14718 Update CODEOWNERS
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Janitorial

#14714 Mobile Theme: remove feature
  _inc/client/components/navigation-settings/index.jsx
  _inc/client/components/navigation-settings/test/component.js
  _inc/client/components/settings-card/test/component.js
  _inc/client/components/settings-group/test/component.js
  _inc/client/settings/style.scss
  _inc/client/writing/index.jsx
  _inc/client/writing/theme-enhancements.jsx
  _inc/lib/class.core-rest-api-endpoints.php
  class.jetpack-modules-list-table.php
  class.jetpack.php
  modules/minileven.php
  modules/minileven/images/wp-app-devices.png
  modules/minileven/minileven.php
  modules/minileven/theme/pub/minileven/comments.php
  modules/minileven/theme/pub/minileven/content-gallery.php
  modules/minileven/theme/pub/minileven/content.php
  modules/minileven/theme/pub/minileven/footer.php
  modules/minileven/theme/pub/minileven/functions.php
  modules/minileven/theme/pub/minileven/header.php
  modules/minileven/theme/pub/minileven/image.php
  modules/minileven/theme/pub/minileven/inc/custom-header.php
  modules/minileven/theme/pub/minileven/inc/fonts/genericons-regular-webfont.eot
  modules/minileven/theme/pub/minileven/inc/fonts/genericons-regular-webfont.svg
  modules/minileven/theme/pub/minileven/inc/fonts/genericons-regular-webfont.ttf
  modules/minileven/theme/pub/minileven/inc/fonts/genericons-regular-webfont.woff
  modules/minileven/theme/pub/minileven/inc/template-tags.php
  modules/minileven/theme/pub/minileven/inc/tweaks.php
  modules/minileven/theme/pub/minileven/index.php
  modules/minileven/theme/pub/minileven/js/small-menu.js
  modules/minileven/theme/pub/minileven/page.php
  modules/minileven/theme/pub/minileven/rtl.css
  modules/minileven/theme/pub/minileven/screenshot.png
  modules/minileven/theme/pub/minileven/searchform.php
  modules/minileven/theme/pub/minileven/sidebar.php
  modules/minileven/theme/pub/minileven/style.css
  modules/module-headings.php
  modules/module-info.php
  packages/options/legacy/class-jetpack-options.php
  packages/sync/src/class-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
  tools/builder/react.js
Labels: Mobile Theme, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#14709 Instant Search: fix missing props on mobile colophon
  modules/search/instant-search/components/search-form.jsx
Labels: Instant Search, Search

#14672 OpenTable: Move the CSS to make the block take only the space it needs
  extensions/blocks/opentable/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Needs Author Reply

#14716 Site migration: change `migration_status` in sites endpoint to `site_migration`
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  sal/class.json-api-site-base.php
  tests/e2e/lib/plan-helper.js
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#14707 Map Block: Fix the map theme picker buttons
  extensions/blocks/map/map-theme-picker/style.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Bug

#14686 Blocks: Update the block scaffolding
  class.jetpack-cli.php
  wp-cli-templates/block-attributes-js.mustache
  wp-cli-templates/block-edit-js.mustache
  wp-cli-templates/block-icon-js.mustache
  wp-cli-templates/block-index-js.mustache
Labels: Gutenberg, [Status] Ready to Merge, [Type] Enhancement

#14513 Amazon block: Add an edit function
  extensions/blocks/amazon/attributes.js
  extensions/blocks/amazon/dummy-data.js
  extensions/blocks/amazon/edit.js
  extensions/blocks/amazon/editor.scss
  extensions/blocks/amazon/icon.js
  extensions/blocks/amazon/index.js
  package.json
  yarn.lock
Labels: Gutenberg, Touches WP.com Files, [Block] Amazon, [Status] Needs Review, [Status] Ready to Merge, [Type] Enhancement

#14664 Instant Search: update input box and icon styles
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/lib/customize.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14680 Instant Search: change visual on close button
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/lib/customize.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14720 Added dynamic plugins_loaded hook priority.
  class.jetpack.php
Labels: Jetpack DNA, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#14736 Debugger: Pass the object to filter to allow easier addition of tests.
  _inc/lib/debugger/class-jetpack-cxn-tests.php
Labels: General, [Type] Enhancement

#14691 Instant Search: Hide mobile filters after applying filters
  modules/search/instant-search/components/jetpack-colophon.jsx
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-form.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14692 Instant Search: Properly handle numerical searches
  modules/search/instant-search/lib/dom.js
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review, [Status] Ready to Merge, [Type] Bug

#14706 Map Block: Add zoom and height settings controls
  extensions/blocks/map/component.js
  extensions/blocks/map/edit.js
  extensions/blocks/map/editor.scss
  extensions/blocks/map/save.js
  extensions/blocks/map/settings.js
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Needs Testing, [Status] Ready to Merge, [Type] Enhancement

#14661 Instant Search: add more styling specificity to search input
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#14730 Block Style Previews: Fix block style previews with an upgrade nudge
  extensions/shared/components/block-styles-selector/index.js
  extensions/shared/get-validated-attributes.js
  extensions/shared/wrap-paid-block.jsx
Labels: Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge, [Type] Bug

#14685 Map Block: Map Controls UI Fixes
  extensions/blocks/map/component.js
  extensions/blocks/map/edit.js
  extensions/blocks/map/index.js
  extensions/blocks/map/save.js
  extensions/blocks/map/settings.js
  extensions/blocks/map/style.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Bug

#14597 Map Block: Consolidate the Mapbox API handling
  _inc/lib/class-jetpack-mapbox-helper.php
  _inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  bin/phpcs-whitelist.js
  extensions/blocks/map/edit.js
  extensions/blocks/map/map.php
Labels: Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Bug, [Type] Enhancement

#13999 Blocks: Add a new Google Calendar block
  extensions/blocks/google-calendar/edit.js
  extensions/blocks/google-calendar/editor.js
  extensions/blocks/google-calendar/editor.scss
  extensions/blocks/google-calendar/google-calendar.php
  extensions/blocks/google-calendar/icon.js
  extensions/blocks/google-calendar/index.js
  extensions/blocks/google-calendar/test/utils.js
  extensions/blocks/google-calendar/utils.js
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Feature

#14749 Multisite: Run configure in all plugin situations
  class.jetpack.php
Labels: Connect Flow, Multisite, [Pri] BLOCKER, [Type] Bug

#14744 Instant Search: use link to clear filters instead of button
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-filters.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge

#14745 Instant Search: improve grid structure in overlay
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Design Review, [Status] Ready to Merge

#14755 Docs: update Jetpack's PHP requirements
  docs/coding-guidelines.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial

#14727 Show LaTeX images inline
  modules/theme-tools/compat/twentytwenty.css
Labels: Beautiful Math, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14711 Instant Search: updates behavior and styling of filtering options
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sort.jsx
  modules/search/instant-search/components/search-sort.scss
  modules/search/instant-search/instant-search.scss
  modules/search/instant-search/lib/sort.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Design Review Complete, [Status] Ready to Merge

#14742 Twitter Widget: remove deprecated color-link parameter
  modules/widgets/twitter-timeline.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#14728 Block scaffolding: switch to namespaces for block registration
  class.jetpack-cli.php
  wp-cli-templates/block-register-php.mustache
Labels: Gutenberg, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#14683 API: bring in Mailchimp / AMP changes to bring files in sync
  class.json-api-endpoints.php
  class.json-api.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#14746 Set OpenGraph title meta attribute on search pages.
  functions.opengraph.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14760 In-place connection flow: Fix redirect after success when connecting via plugins popup.
  _inc/connect-button.js
Labels: Connect Flow, [Status] Ready to Merge, [Type] Bug

#14725 Ensure default block classname is used as the root of other classes
  extensions/blocks/calendly/edit.js
  extensions/blocks/opentable/edit.js
Labels: Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge

#14738 Block List HOC: Ensure className is preserved
  extensions/shared/with-has-warning-is-interactive-class-names/index.jsx
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Status] Ready to Merge

#14732 Change the selector to target blocks that have a warning class
  extensions/shared/with-has-warning-is-interactive-class-names/style.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge

#14751 Remove the paid plan restriction on the google calendar block
  extensions/blocks/google-calendar/google-calendar.php
Labels: Gutenberg, [Block] Google Calendar, [Status] Ready to Merge

#14776 E2E tests: Fix infinity loop in waitForAvailableBlock
  tests/e2e/lib/pages/wp-admin/block-editor.js
Labels: Unit Tests, [Status] Ready to Merge

#14703 Block version gating
  class.jetpack-gutenberg.php
  tests/php/general/test-class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14759 Sync: consistent id field when syncing terms
  packages/sync/src/modules/class-terms.php
  tests/php/sync/test_class.jetpack-sync-terms.php
Labels: Sync, [Status] Needs Package Release, [Status] Needs Testing, [Status] Ready to Merge, [Type] Bug

#14724 Add a track for each time a block plan upgrade nudge is shown to the user
  extensions/shared/components/upgrade-nudge/index.jsx
Labels: Gutenberg, Touches WP.com Files, Tracks, [Status] Ready to Merge, [Type] Enhancement

#14774 Tiled gallery: hide movers when only one image
  extensions/blocks/tiled-gallery/gallery-image/edit.js
  extensions/blocks/tiled-gallery/layout/index.js
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Status] Ready to Merge, [Type] Bug

#14740 Debug Tests: Improve connection test, and allow overrides
  _inc/lib/debugger/class-jetpack-cxn-test-base.php
  _inc/lib/debugger/class-jetpack-cxn-tests.php
  _inc/lib/debugger/debug-functions.php
Labels: Connect Flow, [Status] Design Review Complete, [Status] Ready to Merge, [Type] Enhancement

#14778 Update the tests for block gating so that they don't fail on wpcom
  tests/php/general/test-class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Type] Bug

#13739 Slideshow Shortcode: Add labels to navigation buttons for accessibility
  modules/shortcodes/js/slideshow-shortcode.js
  modules/shortcodes/slideshow.php
Labels: Accessibility, Extra Sidebar Widgets, Good For Community, Shortcodes / Embeds, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#14762 Instant Search: Polish search interface UX
  modules/search/class-jetpack-instant-search.php
  modules/search/class-jetpack-search-customize.php
  modules/search/instant-search/components/gridicon/index.jsx
  modules/search/instant-search/components/jetpack-colophon.jsx
  modules/search/instant-search/components/notice.scss
  modules/search/instant-search/components/overlay.jsx
  modules/search/instant-search/components/overlay.scss
  modules/search/instant-search/components/search-app.jsx
  modules/search/instant-search/components/search-box.jsx
  modules/search/instant-search/components/search-box.scss
  modules/search/instant-search/components/search-filters.jsx
  modules/search/instant-search/components/search-filters.scss
  modules/search/instant-search/components/search-form.jsx
  modules/search/instant-search/components/search-form.scss
  modules/search/instant-search/components/search-result-date.jsx
  modules/search/instant-search/components/search-result-minimal.jsx
  modules/search/instant-search/components/search-result-minimal.scss
  modules/search/instant-search/components/search-result.jsx
  modules/search/instant-search/components/search-results.jsx
  modules/search/instant-search/components/search-results.scss
  modules/search/instant-search/components/search-sidebar.jsx
  modules/search/instant-search/components/search-sidebar.scss
  modules/search/instant-search/components/search-sort.jsx
  modules/search/instant-search/components/search-sort.scss
  modules/search/instant-search/instant-search.scss
  modules/search/instant-search/lib/customize.js
  modules/search/instant-search/lib/dom.js
  modules/search/instant-search/lib/query-string.js
  modules/search/instant-search/lib/sort.js
  modules/widgets/search.php
Labels: Instant Search, Search, Touches WP.com Files, [Status] Needs Review

#14753 Use vanilla JS instead of jQuery for the Cookies & Consents widget
  modules/widgets/eu-cookie-law.php
  modules/widgets/eu-cookie-law/eu-cookie-law.js
  modules/widgets/eu-cookie-law/style.css
Labels: Extra Sidebar Widgets, Performance, [Status] Ready to Merge, [Type] Enhancement

#14754 OpenTable & Calendly: Improve save functions by wrapping links in divs
  extensions/blocks/calendly/index.js
  extensions/blocks/opentable/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge

#14645 Revue Block
  extensions/blocks/contact-form/components/jetpack-field-label.js
  extensions/blocks/revue/attributes.js
  extensions/blocks/revue/button-preview.js
  extensions/blocks/revue/edit.js
  extensions/blocks/revue/editor.js
  extensions/blocks/revue/editor.scss
  extensions/blocks/revue/icon.js
  extensions/blocks/revue/index.js
  extensions/blocks/revue/revue.php
  extensions/blocks/revue/view.js
  extensions/blocks/revue/view.scss
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Revue, [Status] Ready to Merge, [Type] Feature

#14779 Map block: Record a Tracks event on Map load on WordPress.com
  extensions/blocks/map/map.php
Labels: Touches WP.com Files, [Block] Map, [Status] Ready to Merge, [Type] Enhancement

#14599 SubmitButton: Make it use the theme palette
  extensions/blocks/calendly/calendly.php
  extensions/blocks/calendly/edit.js
  extensions/blocks/mailchimp/index.js
  extensions/blocks/mailchimp/mailchimp.php
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/recurring-payments/index.js
  extensions/blocks/subscriptions/index.js
  extensions/shared/submit-button.js
  modules/memberships/class-jetpack-memberships.php
Labels: Gutenberg, Recurring Payments, Touches WP.com Files, [Block] Calendly, [Block] Mailchimp, [Block] Subscriptions, [Status] Needs Testing, [Status] Ready to Merge

#14756 Minileven: add options back as they still exist on sites
  class.jetpack.php
  packages/sync/src/class-defaults.php
  tests/php/sync/test_class.jetpack-sync-options.php
Labels: Mobile Theme, Sync, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#14642 Changelog: 8.3 running changelog
  changelog.txt
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#14787 Jetpack: instantiate manager object if it's null
  class.jetpack.php
  packages/autoloader/src/autoload.php
Labels: [Pri] High, [Status] Needs Package Release, [Status] Ready to Merge

#14793 Revert "OpenTable & Calendly: Improve save functions by wrapping links in divs"
  extensions/blocks/calendly/index.js
  extensions/blocks/opentable/index.js
Labels: Gutenberg, Touches WP.com Files, [Block] Calendly, [Block] OpenTable, [Status] Ready to Merge

#14796 Blocks: switch Google Calendar and Revue to production blocks
  extensions/index.json
Labels: Gutenberg, Touches WP.com Files, [Block] Google Calendar, [Block] Revue, [Status] Ready to Merge, [Type] Enhancement

#14770 Ads module: Use vanilla JS instead of jQuery
  modules/wordads/wordads.php
Labels: Performance, WordAds, [Status] Ready to Merge, [Type] Enhancement

#14795 Override the display settings in the editor for wide blocks
  extensions/blocks/opentable/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Block] OpenTable, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#14794 Private Sites: Make /sites return is_private based on blog_public site option
  json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#14806 Connect In Place: update A/B test number.
  _inc/connect-button.js
Labels: Connect Flow, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Enhancement

#14800 Docker: Ignore heavy directories for docker context
  docker/.dockerignore
Labels: Docker, [Status] Ready to Merge, [Type] Enhancement

#14579 Calendly: Changed the embed, to remove the inline styles
  extensions/blocks/calendly/calendly.php
  extensions/blocks/calendly/edit.js
  extensions/blocks/calendly/view.scss
Labels: Touches WP.com Files, [Block] Calendly, [Status] Ready to Merge, [Type] Enhancement

#14809 Recurring payments: Look for the data attributes on the right element
  extensions/blocks/recurring-payments/view.js
Labels: Recurring Payments, Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Type] Bug

#14792 Revue Block: Minor Fixes
  extensions/blocks/revue/edit.js
  extensions/blocks/revue/revue.php
  extensions/blocks/revue/view.scss
Labels: Gutenberg, Touches WP.com Files, [Block] Revue, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#14555 Connection Package: Add documentation and examples.
  packages/connection/README.md
  packages/connection/docs/authorize-user.md
  packages/connection/docs/register-site.md
Labels: Docs, [Status] Needs Package Release, [Status] Needs Review

#14811 Recurring payments: Fix scrollTo in Firefox
  extensions/blocks/recurring-payments/view.js
Labels: Recurring Payments, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14818 Google Calendar block: Remove min width for iframe
  extensions/blocks/google-calendar/editor.scss
Labels: Touches WP.com Files, [Block] Google Calendar, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14821 SSO: Pass error value to wp_login_failed
  modules/sso.php
Labels: SSO, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14830 Readme update for #14821
  readme.txt
Labels: General, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#14831 Removed the plugins_loaded priority notice.
  class.jetpack.php
Labels: General, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Enhancement

#14820 Calendly: Fix the overlay when the block is left or right aligned
  extensions/blocks/calendly/editor.scss
Labels: Touches WP.com Files, [Block] Calendly, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#14832 Add changelog for #14820
  readme.txt
Labels: [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#14833 Google Calendar block: Fix error message positioning
  extensions/blocks/google-calendar/editor.scss
Labels: Touches WP.com Files, [Block] Google Calendar, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#14839 Block: Google Calendar should give meaningful error when shareable link used
  extensions/blocks/google-calendar/edit.js
  extensions/blocks/google-calendar/utils.js
Labels: Touches WP.com Files, [Block] Google Calendar, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#14837 Fix calender block placeholder layout in older versions of gutenberg
  extensions/blocks/google-calendar/edit.js
  extensions/blocks/google-calendar/editor.scss
Labels: Touches WP.com Files, [Block] Google Calendar, [Status] Needs Cherry-Pick, [Type] Bug
