Repository Automattic/jetpack, pull requests merged in 2021-05, with the labels that each got.

#19706 Remove carousel reblog functionality
  projects/plugins/jetpack/changelog/remove-carousel-reblog
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#19731 JITM: update package version (see #19720)
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/update-jitm_use_connection_auth_url
  projects/packages/jitm/src/class-jitm.php
Labels: JITM, [Package] Jitm, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#19733 Protect: Resolve PHP notice for unknown var
  projects/plugins/jetpack/changelog/fix-protect-notice
  projects/plugins/jetpack/modules/protect.php
Labels: Protect, [Plugin] Jetpack, [Pri] Low, [Status] Needs Cherry-Pick, [Status] Needs Review

#19692 Search: Fix modal intermittently scrolls to wrong position in Firefox
  projects/plugins/jetpack/changelog/fix-firefox-modal-position
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Author Reply

#19377 Pinterest: refactoring and adding unit tests and fixtures
  projects/plugins/jetpack/changelog/add-pinterest-unit-tests-and-fixtures
  projects/plugins/jetpack/extensions/blocks/pinterest/components/edit-url-form.js
  projects/plugins/jetpack/extensions/blocks/pinterest/components/error-notice.js
  projects/plugins/jetpack/extensions/blocks/pinterest/components/loading-container.js
  projects/plugins/jetpack/extensions/blocks/pinterest/controls.js
  projects/plugins/jetpack/extensions/blocks/pinterest/edit.js
  projects/plugins/jetpack/extensions/blocks/pinterest/hooks/use-test-pinterest-embed-url.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/controls.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/edit-url-form.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/edit.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/error-notice.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest.html
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest.json
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest.parsed.json
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest.serialized.html
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/pinterest/test/fixtures/jetpack__pinterest__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/pinterest/test/use-test-pinterest-embed-url.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/utils.js
  projects/plugins/jetpack/extensions/blocks/pinterest/test/validate.js
  projects/plugins/jetpack/extensions/blocks/pinterest/utils.js
Labels: Touches WP.com Files, Unit Tests, [Block] Pinterest, [Plugin] Jetpack, [Status] Ready to Merge

#19730 JITM: move the last sync callback hook to the JITM package
  projects/packages/jitm/changelog/update-move_jitm_sync_hook
  projects/packages/jitm/src/class-jitm.php
  projects/plugins/jetpack/changelog/update-move_jitm_sync_hook
  projects/plugins/jetpack/class.jetpack.php
Labels: JITM, [Package] Jitm, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19736 Embeds: Note when to remove our removal of Core Insta
  projects/plugins/jetpack/changelog/add-insta-oembed-note
  projects/plugins/jetpack/modules/shortcodes/instagram.php
Labels: Shortcodes / Embeds, Touches WP.com Files, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19739 Backup: Fix npm script build paths for the plugin
  package.json
Labels: [Plugin] Backup, [Status] Ready to Merge

#17342 Improve accessibility on story block with keyboard shortcuts
  projects/plugins/jetpack/changelog/update-story-block-keyboard-shortcuts
  projects/plugins/jetpack/extensions/blocks/story/edit.js
  projects/plugins/jetpack/extensions/blocks/story/icon.js
  projects/plugins/jetpack/extensions/blocks/story/index.js
  projects/plugins/jetpack/extensions/blocks/story/player/README.md
  projects/plugins/jetpack/extensions/blocks/story/player/components/background.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/bullet.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/button.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/button.scss
  projects/plugins/jetpack/extensions/blocks/story/player/components/calypso-spinner.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/controls.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/header.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/icons.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/media.js
  projects/plugins/jetpack/extensions/blocks/story/player/components/overlay.js
  projects/plugins/jetpack/extensions/blocks/story/player/expandable-sandbox.js
  projects/plugins/jetpack/extensions/blocks/story/player/index.js
  projects/plugins/jetpack/extensions/blocks/story/player/lib/fullscreen-api.js
  projects/plugins/jetpack/extensions/blocks/story/player/lib/shadow-root.js
  projects/plugins/jetpack/extensions/blocks/story/player/lib/use-merge-refs.js
  projects/plugins/jetpack/extensions/blocks/story/player/lib/wait-media-ready.js
  projects/plugins/jetpack/extensions/blocks/story/player/modal/aria-helper.js
  projects/plugins/jetpack/extensions/blocks/story/player/modal/frame.js
  projects/plugins/jetpack/extensions/blocks/story/player/modal/index.js
  projects/plugins/jetpack/extensions/blocks/story/player/player-ui.js
  projects/plugins/jetpack/extensions/blocks/story/player/progress-bar.js
  projects/plugins/jetpack/extensions/blocks/story/player/slide.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/actions.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/constants.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/effects.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/index.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/middlewares.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/reducer.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/selectors.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/test/index.js
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
  projects/plugins/jetpack/extensions/blocks/story/story.php
  projects/plugins/jetpack/extensions/blocks/story/view.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19644 External Media: don't show duplicate buttons for post thumbnails
  projects/plugins/jetpack/changelog/fix-remove-replace-button
  projects/plugins/jetpack/extensions/shared/external-media/editor.scss
  projects/plugins/jetpack/extensions/shared/external-media/index.js
  projects/plugins/jetpack/extensions/shared/external-media/media-button/index.js
  projects/plugins/jetpack/extensions/shared/external-media/media-button/media-menu.js
  projects/plugins/jetpack/extensions/shared/external-media/media-button/media-sources.js
Labels: Touches WP.com Files, [Extensions] External Media, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19568 JITM: update readme
  projects/packages/jitm/README.md
  projects/packages/jitm/changelog/update-jitm_readme
Labels: Docs, JITM, [Package] Jitm, [Status] Ready to Merge

#19747 If no Full Sync in process early return to minimize option writes
  projects/packages/sync/changelog/fix-sync-early-return-full-sync
  projects/packages/sync/src/class-sender.php
Labels: Performance, [Package] Sync, [Status] Needs Review, [Type] Bug

#19751 Update Full Sync references to fix nomenclature.
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-cxn-tests.php
  projects/plugins/jetpack/changelog/update-sync-site-health-messages
Labels: [Plugin] Jetpack, [Status] Ready to Merge

#19551 Migrating the tracks-callables.js file to the Tracking package.
  projects/packages/tracking/changelog/add-tracks-callables-to-tracking-package
  projects/packages/tracking/src/class-tracking.php
  projects/packages/tracking/src/js/tracks-callables.js
  projects/plugins/jetpack/changelog/add-tracks-callables-to-tracking-package
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/widgets/search.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Package] Tracking, [Plugin] Jetpack, [Status] Needs Review

#19753 SEO: Fix LEGACY_META_OPTION handling for WPcom simple sites
  projects/plugins/jetpack/changelog/fix-legacy-seo-meta
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo-utils.php
Labels: SEO Tools, Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Needs Review, [Type] Bug, [Type] Happiness Request

#19741 Slideshow block: fix drag issue in firefox
  projects/plugins/jetpack/changelog/fix-firefox-slideshow-drag-bug
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: Touches WP.com Files, [Block] Slideshow, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19422 RNA Connection component
  projects/js-packages/connection/README.md
  projects/js-packages/connection/changelog/add-rna-connection
  projects/js-packages/connection/components/in-place-connection/test/component.jsx
  projects/js-packages/connection/components/main/index.jsx
  projects/js-packages/connection/components/main/test/component.jsx
  projects/js-packages/connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/test-main.jsx
  projects/js-packages/connection/tools/jetpack-rest-api-client/index.jsx
  projects/packages/abtest/changelog/add-rna-connection
  projects/packages/abtest/composer.json
  projects/packages/connection-ui/README.md
  projects/packages/connection-ui/_inc/actions/connection-data.js
  projects/packages/connection-ui/_inc/actions/connection-status.js
  projects/packages/connection-ui/_inc/actions/index.js
  projects/packages/connection-ui/_inc/admin.jsx
  projects/packages/connection-ui/_inc/components/admin/index.jsx
  projects/packages/connection-ui/_inc/components/admin/style.scss
  projects/packages/connection-ui/_inc/components/header/index.jsx
  projects/packages/connection-ui/_inc/components/header/style.scss
  projects/packages/connection-ui/_inc/components/header/test/header.test.jsx
  projects/packages/connection-ui/_inc/definitions.scss
  projects/packages/connection-ui/_inc/reducers/api.js
  projects/packages/connection-ui/_inc/reducers/connection-data.js
  projects/packages/connection-ui/_inc/reducers/connection-status.js
  projects/packages/connection-ui/_inc/reducers/index.js
  projects/packages/connection-ui/_inc/selectors/api.js
  projects/packages/connection-ui/_inc/selectors/connection-data.js
  projects/packages/connection-ui/_inc/selectors/connection-status.js
  projects/packages/connection-ui/_inc/selectors/index.js
  projects/packages/connection-ui/changelog/add-rna-connection
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/connection-ui/src/class-initial-state.php
  projects/packages/connection-ui/yarn.lock
  projects/packages/connection/changelog/add-rna-connection
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/jitm/changelog/add-rna-connection
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/add-rna-connection
  projects/packages/licensing/composer.json
  projects/packages/sync/changelog/add-rna-connection
  projects/packages/sync/composer.json
  projects/plugins/backup/changelog/add-rna-connection
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/client/components/auth-iframe/test/component.js
  projects/plugins/jetpack/changelog/add-rna-connection
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: Admin Page, Connect Flow, [JS Package] Connection, [Package] Abtest, [Package] Connection, [Package] Connection UI, [Package] Jitm, [Package] Licensing, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Ready to Merge

#19758 Add `@wordpress/components` dependency
  package.json
  projects/plugins/jetpack/changelog/add-wordpress-components-dep
  yarn.lock
Labels: [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge

#19727 Contact form: remove double quotes in names in email headers
  projects/plugins/jetpack/changelog/update-contact-form-name-quotes
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, Touches WP.com Files, Unit Tests, [Block] Contact Form, [Plugin] Jetpack, [Pri] Low, [Status] Needs Review, [Status] Needs Testing, [Type] Bug, [Type] Happiness Request

#19745 Add Advanced General menu item
  projects/plugins/jetpack/changelog/add-advanced-general-menu-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19748 checks: Sync `engines` across all package.json files
  projects/github-actions/repo-gardening/changelog/add-sync-package.json-engines
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/required-review/changelog/add-sync-package.json-engines
  projects/github-actions/required-review/package.json
  projects/js-packages/connection/changelog/add-sync-package.json-engines
  projects/js-packages/connection/package.json
  tools/check-copied-files.sh
  tools/cli/package.json
Labels: Actions, [Action] Repo Gardening, [Action] Required Review, [JS Package] Connection, [Pri] Normal, [Status] Ready to Merge, [Tools] Development CLI, [Type] Janitorial

#19648 Block Editor: Respect the send_auth_cookies filter
  projects/plugins/jetpack/changelog/fix-19516-respect-send-auth-cookies-filter
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19704 JITM: Prevent JITMs from being registered more than once
  projects/packages/jitm/changelog/update-jitms_register_once
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/class-rest-api-endpoints.php
  projects/packages/jitm/tests/php/test_JITM.php
Labels: JITM, [Package] Jitm, [Status] Ready to Merge, [Type] Enhancement

#19628 Story block: Add more media options to choose from in the editor
  projects/plugins/jetpack/changelog/story-block-add-more-media-options
  projects/plugins/jetpack/extensions/blocks/story/edit.js
  projects/plugins/jetpack/extensions/shared/external-media/index.js
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19764 linting: Update timeout for "Check linter exclude lists"
  .github/workflows/linting.yml
Labels: [Pri] Normal, [Type] Janitorial

#19763 tools: Check for jq before using it in check-copied-files.sh
  tools/check-copied-files.sh
Labels: [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#19765 SEO: fix Calypso error when updating `seo_meta_description` option
  projects/plugins/jetpack/changelog/fix-legacy-seo-calypso-error
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: SEO Tools, Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Needs Review, [Type] Bug

#19631 Story block: address minor display issues
  projects/plugins/jetpack/changelog/story-block-update-display-fixes
  projects/plugins/jetpack/extensions/blocks/story/player/components/overlay.js
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18869 Identity_Crisis: Initial Skeleton
  .github/renovate.json
  .phpcs.config.xml
  projects/packages/identity-crisis/.babelrc
  projects/packages/identity-crisis/.gitattributes
  projects/packages/identity-crisis/.gitignore
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/README.md
  projects/packages/identity-crisis/changelog/.gitkeep
  projects/packages/identity-crisis/changelog/add-identity-crisis-package
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/gulpfile.babel.js
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/phpunit.xml.dist
  projects/packages/identity-crisis/src/_inc/admin.css
  projects/packages/identity-crisis/src/_inc/idc-notice.js
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/src/scss/functions/colors.scss
  projects/packages/identity-crisis/src/scss/jetpack-idc-admin-bar.scss
  projects/packages/identity-crisis/src/scss/jetpack-idc.scss
  projects/packages/identity-crisis/src/scss/variables/_colors.scss
  projects/packages/identity-crisis/tests/php/bootstrap.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
  projects/packages/identity-crisis/webpack.config.js
  projects/packages/identity-crisis/yarn.lock
  tools/check-copied-files.sh
Labels: [Package] Identity Crisis, [Status] Needs Package Release, [Status] Needs Review

#19671 Fix Stripe nudge autosave and redirects in FSE
  projects/plugins/jetpack/changelog/fix-stripe-nudge-redirect-for-fse
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/controls.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/recurring-payments/test/controls.js
  projects/plugins/jetpack/extensions/shared/components/block-nudge/index.jsx
  projects/plugins/jetpack/extensions/shared/components/stripe-nudge/index.jsx
  projects/plugins/jetpack/extensions/shared/get-connect-url.js
  projects/plugins/jetpack/extensions/shared/use-autosave-and-redirect/README.md
  projects/plugins/jetpack/extensions/shared/use-autosave-and-redirect/index.js
  projects/plugins/jetpack/extensions/shared/use-upgrade-flow/index.js
Labels: Touches WP.com Files, [Block] Payments, [Block] Premium Content, [Plugin] Jetpack, [Status] Ready to Merge

#19768 Add attributes needed for hiding nested upgrade nudges
  projects/packages/blocks/changelog/add-support-hiding-nested-nudges
  projects/packages/blocks/src/class-blocks.php
Labels: [Package] Blocks, [Status] Ready to Merge, [Type] Enhancement

#19760 Subscriptions Block: Increase the priority
  projects/plugins/jetpack/changelog/update-priority-of-subscription-block-action
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack, [Status] Ready to Merge

#19743 Jetpack Block PHP Fixture Tests: Add test for the server rendered Business Hours block
  projects/plugins/jetpack/changelog/add-php-test-for-business-hours-server-side-rendering
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours.server-rendered.html
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours__custom-hours.server-rendered.html
  projects/plugins/jetpack/tests/php/extensions/blocks/test-business-hours.php
Labels: Touches WP.com Files, Unit Tests, [Block] Business Hours, [Plugin] Jetpack, [Status] Ready to Merge

#19717 Premium Content blocks: Fix parent block selector button in FSE and when block is nested
  projects/plugins/jetpack/changelog/fix-parent-selector-for-premium-content-blocks
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/edit.js
Labels: Full Site Editing, Touches WP.com Files, [Block] Premium Content, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19735 Embeds: Add support for Instagram Reel permalinks
  projects/plugins/jetpack/changelog/fix-instagram-reel-embeds
  projects/plugins/jetpack/modules/shortcodes/instagram.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.instagram.php
Labels: OSS Citizen, Shortcodes / Embeds, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19740 JITM: allow the pre-connection JITM icon to be set
  projects/packages/jitm/README.md
  projects/packages/jitm/changelog/update-pre-connection-jitm-icon
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/class-pre-connection-jitm.php
  projects/packages/jitm/tests/php/test_pre_connection_jitm.php
Labels: JITM, [Package] Jitm, [Status] Ready to Merge, [Type] Enhancement

#19767 Fix date used in Top Posts dashboar widget
  projects/plugins/jetpack/changelog/fix-top-posts-widget
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19688 Connection: add a default value for jetpack__wpcom_json_api_base.
  projects/packages/connection/changelog/update-add_wpcom_json_api_base_constant
  projects/packages/connection/src/class-utils.php
  projects/packages/connection/tests/php/test_Utils.php
Labels: [Package] Connection, [Status] Ready to Merge, [Type] Enhancement

#19756 Dashboard: Prompt connection instead of upgrade when user not connected
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/search.jsx
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/changelog/fix-prompt-connect-instead-of-upgrade
Labels: Admin Page, Connect Flow, [Plugin] Jetpack, [Status] Ready to Merge

#19643 CLI: Prompt for modified projects when using `changelog add`.
  tools/cli/commands/changelog.js
Labels: [Status] Needs Review, [Tools] Development CLI, [Type] Enhancement

#19781 Calendly block: fix "floating calendar" seen in P2
  projects/plugins/jetpack/changelog/fix-calendly-block-for-p2s
  projects/plugins/jetpack/extensions/blocks/calendly/calendly.php
Labels: Touches WP.com Files, [Block] Calendly, [Plugin] Jetpack, [Type] Bug

#19783 WPCOM API: update settings endpoint to store unslashed values for date/time
  projects/plugins/jetpack/changelog/changelog.md
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Dotcom Merge

#19792 Remove post authorization from package
  projects/packages/connection/changelog/update-remove_post_authorization_from_package
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/connection/tests/php/test_jetpack_xmlrpc_server.php
  projects/plugins/jetpack/changelog/update-remove_post_authorization_from_package
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-xmlrpc-server.php
Labels: [Package] Connection, [Plugin] Jetpack, [Status] Ready to Merge

#19754 API: Refactor wpcom/v2 delete transient endpoint logic
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-transient.php
  projects/plugins/jetpack/changelog/update-wpcom-v2-delete-transient-endpoint
Labels: Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Size] S, [Status] Ready to Merge

#19761 Update phpcs and eslint ignore lists
  .eslintignore
  .phpcs.config.xml
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19788 Story Block: Use CSS scale3d() instead of scale()
  projects/plugins/jetpack/changelog/story-block-fix-chrome-1px-border-on-preview
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19724 Form Block: Allow Changing "Message Sent" Phrasing
  .github/files/renovate-helper.sh
  projects/plugins/jetpack/changelog/update-form-block-message-heading
  projects/plugins/jetpack/extensions/blocks/contact-form/attributes.js
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.json
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  tools/eslint-excludelist.json
Labels: Contact Form, OSS Citizen, Touches WP.com Files, [Block] Contact Form, [Type] Enhancement

#19797 Dependencies: update hosted-git-info dependency for all projects
  projects/packages/connection-ui/changelog/update-hosted-git-info-dep
  projects/packages/connection-ui/yarn.lock
  projects/packages/identity-crisis/changelog/update-hosted-git-info-dep
  projects/packages/identity-crisis/yarn.lock
  projects/plugins/jetpack/changelog/2021-05-10-08-35-31-018587
  projects/plugins/jetpack/tests/e2e/yarn.lock
  projects/plugins/jetpack/yarn.lock
  yarn.lock
Labels: Build, Touches WP.com Files, [Package] Connection, [Package] Connection UI, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial, dependencies

#19769 Calypsoify: add new post link to calypsoifyGutenberg
  projects/plugins/jetpack/changelog/add-calypsoify-create-new-post-url
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
Labels: Calypsoify, [Plugin] Jetpack, [Status] Ready to Merge

#19807 tools: Avoid `composer update --root-reqs` in more places
  .github/files/check-lock-files.sh
  tools/check-composer-deps.sh
  tools/composer-update-monorepo.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19571 Paypal Block: Fix issues with site editor
  projects/plugins/jetpack/changelog/fix-paypal-block-fse
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/editor.scss
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/edit.js
Labels: Touches WP.com Files, [Block] Pay With Paypal, [Plugin] Jetpack, [Status] Ready to Merge

#19791 Ensure VideoPress mime-type is set when updating meta
  projects/plugins/jetpack/changelog/update-ensure-correct-mime-type-on-videopress-updates
  projects/plugins/jetpack/modules/videopress/class.videopress-xmlrpc.php
Labels: VideoPress, [Plugin] Jetpack, [Status] Ready to Merge

#19795 Instant Search: add 'open when user submits the form' overlay trigger
  projects/plugins/jetpack/changelog/add-search-overlay-trigger-submit
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19822 General: Update the Jetpack plugin name
  projects/plugins/jetpack/changelog/update-plugin-name
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/jetpack.php
Labels: General, [Plugin] Jetpack, [Status] Needs Review, [Type] Janitorial

#19615 Do not insert Related Posts feature on FSE sites
  projects/packages/blocks/changelog/add-is-fse-theme-method
  projects/packages/blocks/composer.json
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/fix-related-posts-for-fse
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/related-posts/related-posts.js
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Related Posts, Touches WP.com Files, [Block] Related Posts, [Package] Blocks, [Plugin] Jetpack, [Status] Ready to Merge

#19825 Packages: release a new version of Blocks and Changelogger
  projects/packages/blocks/CHANGELOG.md
  projects/packages/blocks/changelog/add-is-fse-theme-method
  projects/packages/blocks/changelog/add-support-hiding-nested-nudges
  projects/packages/blocks/changelog/fix-changelogger-in-subdir
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/add-changelogger-filename-dups
  projects/packages/changelogger/changelog/fix-changelogger-in-subdir
  projects/packages/changelogger/changelog/fix-changelogger-in-subdir-2
  projects/packages/changelogger/src/Application.php
Labels: Full Site Editing, [Package] Blocks, [Package] Changelogger, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19299 Rename the "Feedback" submenu "Form Responses"
  projects/plugins/jetpack/changelog/update-feedback-menu-name
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
Labels: Contact Form, Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge

#19407 Only show one upgrade nudge for nested paid blocks
  projects/plugins/jetpack/changelog/update-nested-upgrade-nudges
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/README.md
  projects/plugins/jetpack/extensions/blocks/send-a-message/send-a-message.php
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/components.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/editor.scss
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/index.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/media-placeholder.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/media-replace-flow.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
Labels: Touches WP.com Files, [Block] Premium Content, [Block] Send a message, [Package] Blocks, [Plugin] Jetpack, [Status] Ready to Merge

#19776 Nav Unification: Update site redirect flag function
  projects/plugins/jetpack/changelog/update-nav-unification-redirect-flag
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19815 Admin: ensure Jetpack settings can be accessed in Offline mode.
  projects/plugins/jetpack/_inc/client/components/masthead/header-nav.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/index.jsx
  projects/plugins/jetpack/_inc/client/state/modules/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/fix-settings-access-offline-mode
Labels: Admin Page, Connect Flow, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19839 E2E Tests: Unprettify `jq` output
  .github/workflows/e2e-tests.yml
Labels: Actions, E2E Tests, [Status] Needs Review

#19820 Connection UI: init Admin class just once
  projects/packages/connection-ui/changelog/update-connection-ui-singleton
  projects/packages/connection-ui/src/class-admin.php
Labels: [Package] Connection UI, [Plugin] Backup, [Plugin] Jetpack, [Status] Needs Review

#19690 remove set version option of package
  projects/packages/abtest/changelog/update-remove-jetpack-code-from-connection
  projects/packages/connection-ui/changelog/update-remove-jetpack-code-from-connection
  projects/packages/connection/changelog/update-remove-jetpack-code-from-connection
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/jitm/changelog/update-remove-jetpack-code-from-connection
  projects/packages/licensing/changelog/update-remove-jetpack-code-from-connection
  projects/packages/sync/changelog/update-remove-jetpack-code-from-connection
  projects/plugins/jetpack/changelog/update-remove-jetpack-code-from-connection
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
Labels: [Package] Abtest, [Package] Connection, [Package] Connection UI, [Package] Jitm, [Package] Licensing, [Package] Sync, [Plugin] Jetpack, [Status] Ready to Merge

#19782 Update/remove onboarding token from package
  projects/packages/connection/changelog/update-remove_onboarding_token_from_package
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/plugins/jetpack/changelog/update-remove_onboarding_token_from_package
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-xmlrpc-server.php
Labels: [Package] Connection, [Plugin] Jetpack, [Status] Ready to Merge

#19809 Add and use filter to remote_register redirect uri
  projects/packages/connection/changelog/update-filter_remote_register_redirect_uri
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/plugins/jetpack/changelog/update-filter_remote_register_redirect_uri
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-xmlrpc-server.php
Labels: [Package] Connection, [Plugin] Jetpack, [Status] Ready to Merge

#19826 Story Block: Fix video not loading on safari and Chrome iOS
  projects/plugins/jetpack/changelog/story-block-fix-video-partial-content-ios
  projects/plugins/jetpack/extensions/blocks/story/player/lib/wait-media-ready.js
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19746 Story block: Improve rendering in email notifications
  projects/plugins/jetpack/changelog/fix-story-image-scaling-in-emails
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
  projects/plugins/jetpack/extensions/blocks/story/story.php
  projects/plugins/jetpack/extensions/blocks/story/view.js
Labels: Subscriptions, Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge

#19830 Search: Fix the December filter bug
  projects/plugins/jetpack/changelog/fix-search-month-filtering-on-december
  projects/plugins/jetpack/jest.config.js
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
  projects/plugins/jetpack/modules/search/instant-search/lib/test-helpers/tiny-lru.mock.js
  projects/plugins/jetpack/modules/search/instant-search/lib/test/api.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19827 General: Update description
  projects/plugins/jetpack/changelog/update-desc
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: General, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19835 Search: ensure modal search input has no max-width
  projects/plugins/jetpack/changelog/fix-search-input-max-width
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.scss
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19843 Unify carousel JS between Jetpack and wpcom
  projects/plugins/jetpack/changelog/update-unify-carousel-js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19725 Site Verification Tools: Add Facebook Domain Verification
  projects/plugins/jetpack/_inc/client/traffic/verification-services.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-site-verification-facebook
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-3-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/modules/module-info.php
  projects/plugins/jetpack/modules/verification-tools/blog-verification-tools.php
Labels: Admin Page, OSS Citizen, Touches WP.com Files, Verification tools, [Pri] Normal, [Status] Needs Privacy Updates, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#19847 Docs: Use CLI instead of yarn docker:
  docs/development-environment-cli-support.md
  docs/development-environment.md
  tools/docker/README.md
Labels: Docker, Docs, [Pri] Low, [Status] Ready to Merge, [Tools] Development CLI, [Type] Janitorial

#19774 Locale variants: allow switching from locale variant to the primary
  projects/plugins/jetpack/changelog/fusion-sync-dlind555-r225417-wpcom-1620397632
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Dotcom Merge

#19838 Admin Page: display Sharing as new default tab for non-admins
  projects/plugins/jetpack/_inc/client/components/navigation-settings/index.jsx
  projects/plugins/jetpack/_inc/client/components/navigation-settings/test/component.js
  projects/plugins/jetpack/_inc/client/settings/index.jsx
  projects/plugins/jetpack/changelog/update-settings-default-non-admin
  tools/eslint-excludelist.json
Labels: Admin Page, Post By Email, Publicize, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19803 In Jetpack_Google_Analytics, use the static property for instance of Universal or Legacy analytics
  projects/plugins/jetpack/changelog/fix-google-analytics-static-properties
  projects/plugins/jetpack/modules/google-analytics/wp-google-analytics.php
Labels: Google Analytics, OSS Citizen, Touches WP.com Files, [Pri] Low, [Status] Needs Author Reply, [Type] Bug, [Type] Janitorial

#19757 E2E tests: Slack notifications
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-slack-notification
  projects/plugins/jetpack/tests/e2e/bin/slack.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-teardown.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/logger.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/login.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/authorize.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/screenshot.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/slack.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19855 ci: Use new "concurrency" feature instead of potiuk/cancel-workflow-runs
  .github/workflows/build.yml
  .github/workflows/cancel-dups.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/linting.yml
  .github/workflows/phpcompatibility-dev.yml
  .github/workflows/renovate-helper.yml
  .github/workflows/tests.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19856 repo-gardening: Cache label and files API calls
  projects/github-actions/repo-gardening/changelog/add-cache-repo-gardening-api-calls
  projects/github-actions/repo-gardening/src/get-files.js
  projects/github-actions/repo-gardening/src/get-labels.js
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19831 All Projects: Handle LICENSE.txt and SECURITY.md automatically.
  .github/files/build-all-projects.sh
  .github/licenses/GPL-2.0-or-later.txt
  jetpack.php
  projects/js-packages/connection/changelog/add-license-info
  projects/js-packages/connection/composer.json
  projects/js-packages/connection/index.jsx
  projects/plugins/backup/changelog/add-license-info
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/license.txt
  projects/plugins/beta/LICENSE.txt
  projects/plugins/beta/changelog/add-license-info
  projects/plugins/debug-helper/changelog/add-license-info
  projects/plugins/debug-helper/plugin.php
  projects/plugins/jetpack/SECURITY.md
  projects/plugins/jetpack/changelog/add-license-info
  projects/plugins/jetpack/jetpack.php
  tools/check-copied-files.sh
  tools/cli/skeletons/common/license.txt
Labels: Actions, [JS Package] Connection, [Package] Connection, [Plugin] Backup, [Plugin] Beta, [Plugin] Debug Helper, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Tools] Development CLI, [Type] Janitorial

#19750 CI: Check .nvmrc versus package.json engines
  .github/files/lint-project-structure.sh
  package.json
  yarn.lock
Labels: Actions, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#19846 DocBlock for `jetpack_on_connection_ui_init` hook
  projects/packages/connection-ui/changelog/update-connection-ui-hook-docblock
  projects/packages/connection-ui/src/class-admin.php
Labels: Docs, [Package] Connection UI, [Status] Ready to Merge

#19852 Admin Menu: Fix Appearance submenus on Jetpack sites
  projects/plugins/jetpack/changelog/fix-jetpack-admin-menu-customize
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19773 Unified Sidebar: Retrieves & displays upsell nudge for Simple & Atomic.
  projects/plugins/jetpack/changelog/add-sidebar-upsell-nudge
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/_admin.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/_overrides.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/_upsell-banner.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/aquatic/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/blue/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/classic-blue/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/classic-bright/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/classic-dark/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/coffee/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/contrast/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/ectoplasm/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/fresh/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/light/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/midnight/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/modern/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/nightfall/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/ocean/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/powder-snow/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/sakura/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/sunrise/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/sunset/colors.scss
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19866 E2E tests: Slack notification missing html_url for scheduled jobs
  projects/plugins/jetpack/changelog/e2e-fix-slack-notification-for-scheduled-jobs
  projects/plugins/jetpack/tests/e2e/bin/slack.js
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19864 E2E Tests: Fix scheduled gutenberg builds
  .github/workflows/e2e-tests.yml
Labels: Actions, E2E Tests, [Status] Needs Review

#19734 Update/remove userless jargon
  projects/packages/connection/changelog/update-remove-userless-jargon
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/tests/php/test-rest-endpoints.php
  projects/packages/connection/tests/php/test_Manager_integration.php
  projects/plugins/jetpack/_inc/client/components/auth-iframe/index.jsx
  projects/plugins/jetpack/_inc/client/components/settings-group/index.jsx
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/_inc/client/searchable-modules/index.jsx
  projects/plugins/jetpack/_inc/client/security/monitor.jsx
  projects/plugins/jetpack/_inc/client/security/protect.jsx
  projects/plugins/jetpack/_inc/client/security/sso.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/_inc/client/state/connection/reducer.js
  projects/plugins/jetpack/_inc/client/writing/masterbar.jsx
  projects/plugins/jetpack/_inc/client/writing/post-by-email.jsx
  projects/plugins/jetpack/changelog/update-remove-userless-jargon
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/scss/jetpack-connect.scss
  projects/plugins/jetpack/tests/e2e/lib/flows/jetpack-connect.js
  projects/plugins/jetpack/tests/e2e/specs/connection.test.js
  tools/docker/mu-plugins/.gitignore
Labels: Admin Page, Docker, [Package] Connection, [Plugin] Jetpack, [Status] Blocked / Hold

#19719 add support to delete connection owner via CLI
  projects/plugins/jetpack/changelog/add-cli-delete-connection-owner
  projects/plugins/jetpack/class.jetpack-cli.php
Labels: Jetpack CLI, [Plugin] Jetpack, [Status] Ready to Merge

#19778 Story Block: Fix edit button used in block's toolbar
  projects/plugins/jetpack/changelog/story-block-fix-block-option-pencil-icon
  projects/plugins/jetpack/extensions/blocks/story/controls.js
  projects/plugins/jetpack/extensions/shared/external-media/index.js
  projects/plugins/jetpack/extensions/shared/external-media/media-button/media-menu.js
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Needs Team Review, [Status] Needs Testing, [Type] Enhancement

#19862 Related Posts: avoid fatals when class is missing
  projects/plugins/jetpack/changelog/fix-related-posts-customizer
  projects/plugins/jetpack/modules/related-posts.php
Labels: Related Posts, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19845 Related Posts: add height attribute to post images
  projects/plugins/jetpack/changelog/try-add-height-related-posts
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/related-posts/related-posts.js
Labels: Related Posts, Touches WP.com Files, [Block] Related Posts, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#19869 JITM: remove the jetpack-constants dependency from composer.json
  projects/packages/jitm/changelog/update-remove_constants
  projects/packages/jitm/composer.json
  projects/plugins/jetpack/changelog/update-remove_constants
  projects/plugins/jetpack/composer.lock
Labels: JITM, [Package] Jitm, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#19832 CLI: Ensure extras section of composer exists for Changelog
  tools/cli/commands/changelog.js
Labels: [Pri] Normal, [Status] Needs Review, [Tools] Development CLI, [Type] Bug

#19844 Premium Content Block: Update to useBlockProps
  projects/plugins/jetpack/changelog/update-premium-content-10-6
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/save.js
Labels: Touches WP.com Files, [Block] Premium Content, [Plugin] Jetpack, [Status] Ready to Merge

#19851 Search: Apply configured highlight color to text selection
  projects/plugins/jetpack/changelog/update-search-selected-text-color-scheme
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19854 Dashboard: redirect non-admins to dashboard hash when needed
  projects/plugins/jetpack/_inc/client/components/non-admin-view/index.jsx
  projects/plugins/jetpack/changelog/fix-redirect-non-admins-dashboard
Labels: Admin Page, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#19525 Admin: Replace user locale with WordPress.com user locale
  projects/plugins/jetpack/changelog/fix-admin-menu-language
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: Internationalization, Masterbar, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19828 AMP: Standard mode disables the WPCOM toolbar in wp-admin
  projects/plugins/jetpack/3rd-party/class.jetpack-amp-support.php
  projects/plugins/jetpack/changelog/fix-amp-wpcom-toolbar
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: AMP, Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19889 build: Push to JP Beta on push to master as well
  .github/workflows/build.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19884 Site-only Connection: Fix the connection owner info card
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/fix-site-only-connection-owner
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19892 cli: Add comment to generated .gitattributes
  tools/cli/skeletons/github-actions/.gitattributes
  tools/cli/skeletons/packages/.gitattributes
  tools/cli/skeletons/plugins/.gitattributes
Labels: [Pri] Normal, [Status] Needs Review, [Tools] Development CLI, [Type] Janitorial

#19848 Upgrade Nudge: Check for undefined attribute
  projects/plugins/jetpack/changelog/fix-undefined-upgrade-nudge-attribute
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: Gutenberg, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19762 Enable upgrade banner for WoA sites
  projects/plugins/jetpack/changelog/update-simple-and-atomic-plan-parity
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/shared/plan-utils.js
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Extensions] Paid Blocks, [Plugin] Jetpack, [Pri] Normal, [Size] M, [Status] Ready to Merge

#19842 Sync: avoid PHP notices in some edge-cases
  projects/packages/sync/changelog/fix-notice-sync-queue-buffer
  projects/packages/sync/src/class-queue-buffer.php
  projects/packages/sync/src/class-sender.php
Labels: [Package] Sync, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#19886 Feedback: Remove "Export CSV" submenu
  projects/plugins/jetpack/changelog/remove-feedback-export-csv-submenu
  projects/plugins/jetpack/modules/contact-form/admin.php
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: Contact Form, Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19887 Update Nav Unification styles priority
  projects/plugins/jetpack/changelog/update-priority-for-unified-nav-styles
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19868 Story Block: prevent CSS conflicts by making sure buttons don't have outlines
  projects/plugins/jetpack/changelog/story-block-fix-css-button-outline
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19552 Map block: fix script loading to work with FSE
  projects/plugins/jetpack/changelog/update-map-block-for-fse
  projects/plugins/jetpack/extensions/blocks/map/block-editor-assets.json
  projects/plugins/jetpack/extensions/blocks/map/component.js
  projects/plugins/jetpack/extensions/blocks/map/editor.scss
  projects/plugins/jetpack/extensions/blocks/map/map-marker/index.js
  projects/plugins/jetpack/extensions/shared/block-editor-asset-loader.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/copy-block-editor-assets.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/yarn.lock
Labels: Touches WP.com Files, [Block] Map, [Plugin] Jetpack, [Status] Ready to Merge

#19891 Repo Gardening: extend the label configuration we support
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-labels-boost
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge

#19865 Connection: disconnect user from wpcom before to do so locally
  projects/packages/connection/changelog/fix-disconnect-user-wpcom
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/tests/php/test_Manager_integration.php
  projects/packages/connection/tests/php/test_Manager_unit.php
  projects/plugins/jetpack/changelog/fix-disconnect-user-wpcom
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Carousel, [Package] Connection, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19899 Repo gardening: release new version of the action
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/add-cache-repo-gardening-api-calls
  projects/github-actions/repo-gardening/changelog/add-sync-package.json-engines
  projects/github-actions/repo-gardening/changelog/fix-changelogger-in-subdir
  projects/github-actions/repo-gardening/changelog/renovate-actions-core-1.x
  projects/github-actions/repo-gardening/changelog/renovate-vercel-ncc-0.x
  projects/github-actions/repo-gardening/changelog/renovate-vercel-ncc-0.x#2
  projects/github-actions/repo-gardening/changelog/update-docs-changelogger-in-monorepo
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-labels-boost
  projects/github-actions/repo-gardening/package.json
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19901 Update masterbar write button URL
  projects/plugins/jetpack/changelog/Update masterbar write button URL
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: Masterbar, [Plugin] Jetpack, [Status] Needs Author Reply

#19880 Add an API function to get hub a P2 hub id
  projects/plugins/jetpack/changelog/add-hub-id-in-api-reqs
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19894 Hide plan links for P2 sites that can't have plans
  projects/plugins/jetpack/changelog/update-p2-hide-plans-menu-links
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19902 Fixed typo in script usage
  projects/plugins/jetpack/changelog/e2e-fix-typo-e2e-infra
  projects/plugins/jetpack/tests/e2e/bin/container-setup.sh
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19904 E2E tests: Fix Slack notification for scheduled jobs
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-slack-notifications-event-fix
  projects/plugins/jetpack/tests/e2e/bin/slack.js
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19883 Button block: check block root parent attributes
  projects/plugins/jetpack/changelog/fix-passthrough-attributes-get-parent-attributes
  projects/plugins/jetpack/extensions/blocks/button/README.md
  projects/plugins/jetpack/extensions/blocks/button/use-passthrough-attributes.js
Labels: Touches WP.com Files, [Block] Button, [Block] Calendly, [Plugin] Jetpack, [Status] Needs Author Reply, [Type] Bug

#19898 Calendly block: Add default value to input field
  projects/plugins/jetpack/changelog/update-calendly-block-input-default-value
  projects/plugins/jetpack/extensions/blocks/calendly/controls.js
  projects/plugins/jetpack/extensions/blocks/calendly/edit.js
Labels: Touches WP.com Files, [Block] Calendly, [Plugin] Jetpack, [Status] Needs Author Reply, [Type] Bug

#19893 Premium Content Block: Add missed blockprops change
  projects/plugins/jetpack/changelog/update-premium-content-missed-blockprops
  projects/plugins/jetpack/extensions/blocks/premium-content/login-button/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/login-button/save.js
Labels: Touches WP.com Files, [Block] Premium Content, [Plugin] Jetpack, [Status] Ready to Merge

#19905 Docs: Update Node version
  docs/development-environment.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19908 Repo Gardening: remove Block prefix for Boost labels
  projects/github-actions/repo-gardening/changelog/fix-boost-module-name
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19909 Repo gardening: release new version
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/fix-boost-module-name
  projects/github-actions/repo-gardening/package.json
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge

#19890 WP.com Toolbar: Hide the FAB icon on Yoast admin pages
  projects/plugins/jetpack/changelog/fix-help-icons-overlap
  projects/plugins/jetpack/modules/masterbar/inline-help/class-inline-help.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19912 Tools: Pass full dir in check-composer-deps
  tools/check-composer-deps.sh
Labels: [Pri] Normal, [Status] Needs Testing, [Status] Ready to Merge, [Type] Bug

#19910 Hide admin menu link to plans email for P2s
  projects/plugins/jetpack/changelog/update-p2-hide-email-plan-link
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19900 Disabled editing and deleting capabilities in WP-Admin Post list for Posts Page
  projects/plugins/jetpack/changelog/add-disable-edit-and-delete-on-posts-page
  projects/plugins/jetpack/modules/masterbar.php
  projects/plugins/jetpack/modules/masterbar/wp-posts-list/bootstrap.php
  projects/plugins/jetpack/modules/masterbar/wp-posts-list/class-posts-list-page-notification.php
  projects/plugins/jetpack/modules/masterbar/wp-posts-list/wp-posts-list.css
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-posts-list-page-notification.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19911 Remove filter from redirect
  projects/packages/jitm/changelog/remove-filter_from_redirect
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/redirect/changelog/remove-filter_from_redirect
  projects/packages/redirect/composer.json
  projects/packages/redirect/src/class-redirect.php
  projects/plugins/jetpack/changelog/remove-filter_from_redirect
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Jitm, [Package] Redirect, [Plugin] Jetpack, [Status] Ready to Merge

#19875 Story block: Make stories available in the block inserter
  projects/plugins/jetpack/changelog/story-block-release
  projects/plugins/jetpack/extensions/blocks/story/index.js
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Blocked / Hold, [Status] Needs Testing, [Status] Ready to Merge

#19863 Second batch of improvements to Carousel
  projects/plugins/jetpack/changelog/update-carousel-improvement-batch-2
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Design Input Requested, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Enhancement

#19913 Update VideoPress block for `useBlockProps`
  projects/plugins/jetpack/changelog/update-videopress-use-block-props
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
Labels: Touches WP.com Files, [Block] VideoPress, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#19921 E2E tests: Generate Allure results
  projects/plugins/jetpack/changelog/e2e-allure-reporter
  projects/plugins/jetpack/tests/e2e/.eslintrc.js
  projects/plugins/jetpack/tests/e2e/babel.config.js
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/jest.setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/screenshot.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19923 Jetpack Sync: Fix: Get Sync Objects endpoint - Meta - return multiple meta values
  projects/packages/sync/changelog/fix-sync-endpoints-get-sync-object-return-multiple-meta-values
  projects/packages/sync/src/modules/class-meta.php
  projects/plugins/jetpack/changelog/fix-sync-endpoints-get-sync-object-return-multiple-meta-values
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-meta.php
Labels: [Package] Sync, [Plugin] Jetpack, [Type] Bug

#19874 Search: fix modal close button has dark background in light mode (Twenty Twenty One theme)
  projects/plugins/jetpack/changelog/fix-close-button-bg-color
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.scss
Labels: Instant Search, Search, Theme Tools, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19873 Search: remove unexpected sidebar widgets added on theme switch
  projects/plugins/jetpack/changelog/fix-search-sidebar-unexpected-widgets
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/tests/php/modules/search/test-class-jetpack-instant-search.php
Labels: Instant Search, Search, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19929 Jetpack 9.8: add testing list
  to-test.md
Labels: General, [Status] Ready to Merge, [Type] Janitorial

#19931 Jetpack 9.9 init new cycle
  projects/plugins/jetpack/changelog/add-init-99-cycle
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: General, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#19837 RNA Connection: refactoring and simplification
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/README.md
  projects/js-packages/connection/changelog/update-refactor-rna-connection
  projects/js-packages/connection/components/connect-user/index.jsx
  projects/js-packages/connection/components/connect-user/test/component.jsx
  projects/js-packages/connection/components/in-place-connection/index.jsx
  projects/js-packages/connection/components/in-place-connection/test/component.jsx
  projects/js-packages/connection/components/main/index.jsx
  projects/js-packages/connection/components/main/test/component.jsx
  projects/js-packages/connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/tools/jetpack-rest-api-client/index.jsx
  projects/packages/abtest/changelog/update-refactor-rna-connection
  projects/packages/abtest/composer.json
  projects/packages/connection-ui/_inc/actions/connection-data.js
  projects/packages/connection-ui/_inc/actions/connection-status.js
  projects/packages/connection-ui/_inc/actions/index.js
  projects/packages/connection-ui/_inc/components/admin/index.jsx
  projects/packages/connection-ui/_inc/reducers/connection-data.js
  projects/packages/connection-ui/_inc/reducers/connection-status.js
  projects/packages/connection-ui/_inc/selectors/connection-data.js
  projects/packages/connection-ui/changelog/update-refactor-rna-connection
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/src/class-initial-state.php
  projects/packages/connection-ui/yarn.lock
  projects/packages/connection/changelog/update-refactor-rna-connection
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/identity-crisis/changelog/update-refactor-rna-connection
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/update-refactor-rna-connection
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/licensing/changelog/update-refactor-rna-connection
  projects/packages/licensing/composer.json
  projects/packages/sync/changelog/update-refactor-rna-connection
  projects/packages/sync/composer.json
  projects/plugins/backup/changelog/update-refactor-rna-connection
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/yarn.lock
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-refactor-rna-connection
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [JS Package] Connection, [Package] Abtest, [Package] Connection, [Package] Connection UI, [Package] Identity Crisis, [Package] Jitm, [Package] Licensing, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Blocked / Hold

#19920 Gardening: bail without erroring on forks without Slack tokens
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/changelog/fix-failing-task-external-contributors
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/index.js
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19942 RNA Connection: fixing a dependency conflict
  projects/js-packages/connection/changelog/fix-url-dependency-issue
  projects/js-packages/connection/components/connect-user/index.jsx
  projects/js-packages/connection/package.json
  projects/packages/connection-ui/changelog/fix-url-dependency-issue
  projects/packages/connection-ui/yarn.lock
  projects/plugins/backup/changelog/fix-url-dependency-issue
  projects/plugins/backup/yarn.lock
  projects/plugins/jetpack/changelog/fix-sync-rest-contoller
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
Labels: [JS Package] Connection, [Package] Connection UI, [Plugin] Backup, [Plugin] Jetpack, [Status] In Progress, [Type] Bug

#19126 Use the Identity_Crisis package
  projects/packages/abtest/changelog/update-use-identity-crisis-package
  projects/packages/connection-ui/changelog/update-use-identity-crisis-package
  projects/packages/connection/changelog/update-use-identity-crisis-package
  projects/packages/connection/composer.json
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-urls.php
  projects/packages/connection/src/class-utils.php
  projects/packages/identity-crisis/.gitattributes
  projects/packages/identity-crisis/README.md
  projects/packages/identity-crisis/changelog/update-use-identity-crisis-package
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/jitm/changelog/update-use-identity-crisis-package
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/update-use-identity-crisis-package
  projects/packages/redirect/changelog/update-use-identity-crisis-package
  projects/packages/redirect/composer.json
  projects/packages/status/changelog/update-use-identity-crisis-package
  projects/packages/status/composer.json
  projects/packages/status/src/class-status.php
  projects/packages/sync/changelog/add-identity-crisis-package
  projects/packages/sync/changelog/update-use-identity-crisis-package
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-functions.php
  projects/packages/terms-of-service/changelog/update-use-identity-crisis-package
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/changelog/update-use-identity-crisis-package
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/update-use-identity-crisis-package
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/_inc/idc-notice.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-debug-data.php
  projects/plugins/jetpack/_inc/lib/tracks/tracks-callables.js
  projects/plugins/jetpack/changelog/update-use-identity-crisis-package
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack-idc.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/scss/jetpack-idc-admin-bar.scss
  projects/plugins/jetpack/scss/jetpack-idc.scss
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
  projects/plugins/jetpack/tests/php/test_class.jetpack-idc.php
  tools/check-copied-files.sh
  tools/eslint-excludelist.json
  tools/phpcs-excludelist.json
Labels: Extra Sidebar Widgets, [JS Package] Connection, [Package] Abtest, [Package] Connection, [Package] Connection UI, [Package] Identity Crisis, [Package] Jitm, [Package] Licensing, [Package] Redirect, [Package] Status, [Package] Sync, [Package] Terms of Service, [Package] Tracking, [Plugin] Backup, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Needs Review

#19927 Instant Search: don't photon-ize SVG images
  projects/plugins/jetpack/changelog/fix-jetpack-search-photon-svg
  projects/plugins/jetpack/modules/search/instant-search/components/test/photon-image.test.js
  projects/plugins/jetpack/modules/search/instant-search/lib/hooks/use-photon.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19953 Fixed regression introduced in posts page icon notification in WP-Admin edit.php page
  projects/plugins/jetpack/changelog/fix-posts-page-icon
  projects/plugins/jetpack/modules/masterbar/wp-posts-list/bootstrap.php
  projects/plugins/jetpack/modules/masterbar/wp-posts-list/class-posts-list-page-notification.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-posts-list-page-notification.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19924 Add endpoints to retrieve and delete a site's purchase token
  projects/packages/connection/changelog/add-purchase-token-endpoints
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-rest-authentication.php
  projects/packages/connection/tests/php/test_Rest_Authentication.php
  projects/packages/heartbeat/changelog/add-purchase-token-endpoints
  projects/packages/heartbeat/composer.json
  projects/packages/identity-crisis/changelog/add-purchase-token-endpoints
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/add-purchase-token-endpoints
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/add-purchase-token-endpoints
  projects/packages/licensing/composer.json
  projects/packages/options/changelog/add-purchase-token-endpoints
  projects/packages/options/composer.json
  projects/packages/options/legacy/class-jetpack-options.php
  projects/packages/sync/changelog/add-purchase-token-endpoints
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/changelog/add-purchase-token-endpoints
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/changelog/add-purchase-token-endpoints
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/add-purchase-token-endpoints
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/add-purchase-token-endpoints
  projects/plugins/jetpack/class.jetpack-idc.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-authentication.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  tools/phpcs-excludelist.json
Labels: Admin Page, [Package] Connection, [Package] Heartbeat, [Package] Identity Crisis, [Package] Jitm, [Package] Licensing, [Package] Options, [Package] Sync, [Package] Terms of Service, [Package] Tracking, [Plugin] Backup, [Plugin] Jetpack, [Status] Ready to Merge

#19771 Search: don't open overlay when user is composing text using an input method editor (Chinese, Japanese, Korean and Indic languages)
  projects/plugins/jetpack/changelog/fix-search-cjk-input
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19956 Conditionally hide admin menu items for P2 hubs/spaces
  projects/plugins/jetpack/changelog/update-p2-admin-menu-items-hide
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19964 Story Block: Fix Notice: Undefined variable: poster_url
  projects/plugins/jetpack/changelog/fix-9.8-story-block-notice-message
  projects/plugins/jetpack/extensions/blocks/story/story.php
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19970 Remove an unneeded phpcs:ignore
  projects/plugins/jetpack/changelog/fix-unneeded-phpcs-ignore
  projects/plugins/jetpack/class.jetpack.php
Labels: [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19966 Repo Gardening: release new version
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/fix-failing-task-external-contributors
  projects/github-actions/repo-gardening/package.json
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19971 Story Block: Fix syncing muted state
  projects/plugins/jetpack/changelog/story-block-fix-muted
  projects/plugins/jetpack/extensions/blocks/story/player/store/constants.js
  projects/plugins/jetpack/extensions/blocks/story/player/store/effects.js
Labels: Touches WP.com Files, [Block] Story, [Plugin] Jetpack, [Status] Needs Cherry-Pick

#19967 AMP: Fix invalid `@media only` block styles
  projects/plugins/jetpack/changelog/fix-invalid-media-only-styles-amp
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/view.scss
  projects/plugins/jetpack/modules/simple-payments/simple-payments.css
Labels: Pay With Paypal, Touches WP.com Files, [Block] Slideshow, [Block] Tiled Gallery, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge
