Repository Automattic/jetpack, pull requests merged in 2021-04, with the labels that each got.

#19357 Admin Menu: Remove style dependencies
  projects/plugins/jetpack/changelog/fix-admin-menu-styles-dependencies
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/class-admin-color-schemes.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19378 wpcom-api: set post format to aside for dtp
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-r223672-wpcom-1617271820
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Dotcom Merge

#19365 build: Only build branches and PRs, not tags
  .github/workflows/build.yml
Labels: Actions, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19380 Changelog: remove entries for feature that's not ready for launch
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog
  projects/plugins/jetpack/readme.txt
Labels: General, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#19370 Admin Page: Remove check for JSONP
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/remove-jsonp-check
Labels: Admin Page, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19379 Admin Menu: Check position before setting menu item
  projects/plugins/jetpack/changelog/fix-admin-menu-check-position
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19369 CLI: Alpha sort project types during type prompt
  tools/cli/helpers/projectHelpers.js
  tools/cli/helpers/promptForProject.js
Labels: [Status] Ready to Merge, [Tools] Development CLI, [Type] Bug

#19306 CLI: Add Changelog Validate
  tools/cli/commands/changelog.js
Labels: [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#19366 CLI: Add Docker commands
  tools/cli/cliRouter.js
  tools/cli/commands/docker.js
  tools/cli/tests/integration/commands/commands.test.js
Labels: Jetpack CLI, [Status] Ready to Merge, [Tools] Development CLI

#19372 CLI: Enable yargs completion script generation
  tools/cli/cliRouter.js
  tools/cli/tests/integration/commands/commands.test.js
Labels: Jetpack CLI, [Status] Ready to Merge, [Tools] Development CLI

#19368 Connection JS: Add composer.lock
  projects/js-packages/.gitignore
Labels: [JS Package] Connection, [Status] Needs Review, [Type] Bug, [Type] Janitorial

#19385 Search: Fix handling of Customizer controls using refresh
  projects/plugins/jetpack/changelog/fix-search-customizer-handle-refresh-transport
  projects/plugins/jetpack/modules/search/customize-controls/customize-controls.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19410 wpcom-api: update DTP allowed metadata
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-D59714-code-1617527
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Dotcom Merge

#19418 E2E tests: Build Jetpack plugin using Jetpack CLI
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-ci-build-jetpack-using-cli
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19348 Connection UI: initial state
  projects/packages/connection-ui/changelog/add-connection-ui-initial-state
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/connection-ui/src/class-initial-state.php
Labels: [Package] Connection UI, [Plugin] Jetpack, [Status] Ready to Merge

#19419 pr-up-to-date: Release v1.0.0
  projects/github-actions/pr-is-up-to-date/CHANGELOG.md
  projects/github-actions/pr-is-up-to-date/changelog/add-pr-up-to-date-check
  projects/github-actions/pr-is-up-to-date/changelog/fix-pr-up-to-date
  projects/github-actions/pr-is-up-to-date/changelog/update-autotagger-for-actions
Labels: Actions, [Action] Pr Is Up To Date, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19406 SEO: add additional save buttons to card section
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/_inc/client/traffic/style.scss
  projects/plugins/jetpack/changelog/update-seo-tools-save-buttons
Labels: Admin Page, SEO Tools, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19351 Adding the Password Checker package to the composer.json file.
  projects/packages/sync/changelog/add-password-checker-sync-composer
  projects/packages/sync/composer.json
  projects/plugins/jetpack/changelog/add-password-checker-sync-composer
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Password Checker, [Package] Sync, [Plugin] Jetpack, [Plugin] Sync Tester, [Status] Needs Author Reply, [Status] Ready to Merge, [Type] Enhancement

#19423 Changelog: final changes for the 9.6 release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-readme-969
  projects/plugins/jetpack/changelog/fix-admin-menu-check-position
  projects/plugins/jetpack/changelog/fix-admin-menu-styles-dependencies
  projects/plugins/jetpack/changelog/fix-payments-connect-to-stripe
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-D59714-code-1617527
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-r223672-wpcom-1617271820
  projects/plugins/jetpack/changelog/remove-jsonp-check
  projects/plugins/jetpack/changelog/try-jetpack-changelog-backend-section
  projects/plugins/jetpack/changelog/update-changelog
  projects/plugins/jetpack/changelog/update-changelog-link
  projects/plugins/jetpack/changelog/update-final-changelog-96
  projects/plugins/jetpack/readme.txt
Labels: General, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Author Reply, [Status] Ready to Merge, [Type] Janitorial

#19450 Retrieve invisible links when checking bookmarks
  projects/plugins/jetpack/changelog/update-show-links-manager-with-invisible-links
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Team Review

#19429 Search: Fix Customizer and styling bugs introduced in 9.6
  projects/plugins/jetpack/changelog/fix-search-ie11-bugs
  projects/plugins/jetpack/modules/search/customize-controls/customize-controls.js
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-controls.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-sort.scss
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19355 Search: Prevent user from excluding all post types
  projects/plugins/jetpack/changelog/fix-prevent-exclude-all-post-types
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
  projects/plugins/jetpack/modules/search/customize-controls/class-excluded-post-types-control.js
  projects/plugins/jetpack/modules/search/customize-controls/class-excluded-post-types-control.php
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19454 Readme: Remove ref to SEO as paid
  projects/plugins/jetpack/changelog/update-readme-seo
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19446 Docs: fix typos in E2E README
  projects/plugins/jetpack/changelog/fix-e2e-docs-typos
  projects/plugins/jetpack/tests/e2e/README.md
Labels: Docs, [Plugin] Jetpack, [Status] Ready to Merge

#19441 Gardening Action: do not add the "Needs Author Reply" label if a PR is actively being worked on
  projects/github-actions/repo-gardening/changelog/update-gardening-check-progress-label
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19451 wpcom-api: improve post deduplication
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-D59840-code-1617790596
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Dotcom Merge

#19439 Avoid determine_current_user filter to enter an infinite loop
  projects/packages/connection/changelog/fix-rest-authentication-infinite-loop
  projects/packages/connection/src/class-rest-authentication.php
Labels: [Package] Connection, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19456 linting: Improve check for yarn.lock being up to date
  .github/files/check-lock-files.sh
  .github/workflows/linting.yml
  yarn.lock
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19442 actions: Correctly supply git auth token
  .github/files/renovate-helper.sh
  projects/github-actions/push-to-mirrors/changelog/fix-gh-actions-git-auth
  projects/github-actions/push-to-mirrors/push-to-mirrors.sh
Labels: Actions, [Action] Push To Mirrors, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19471 stats: Fix time period selection
  projects/plugins/jetpack/changelog/fix-stats-bug
  projects/plugins/jetpack/modules/stats.php
Labels: [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge, [Type] Bug

#19468 Sharing: ensure the feature is available in offline mode
  projects/plugins/jetpack/_inc/client/sharing/share-buttons.jsx
  projects/plugins/jetpack/changelog/fix-sharing-offline-mode
  projects/plugins/jetpack/modules/sharedaddy.php
Labels: Admin Page, Sharing, [Plugin] Jetpack, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19428 Search: Handle pagination edge case with excluded post types
  projects/plugins/jetpack/changelog/fix-search-excluded-post-types-pagination-bug
  projects/plugins/jetpack/modules/search/instant-search/store/reducer/api.js
  projects/plugins/jetpack/modules/search/instant-search/store/test/reducer.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19458 build: Build projects even if not mirrored
  .github/files/build-all-projects.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19425 Spinner component: Replace with Core's spinner
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/components/install-button/index.jsx
  projects/plugins/jetpack/_inc/client/components/install-button/style.scss
  projects/plugins/jetpack/_inc/client/components/jetpack-termination-dialog/dialog.jsx
  projects/plugins/jetpack/_inc/client/components/search/index.jsx
  projects/plugins/jetpack/_inc/client/components/search/style.scss
  projects/plugins/jetpack/_inc/client/components/spinner/README.md
  projects/plugins/jetpack/_inc/client/components/spinner/docs/example.jsx
  projects/plugins/jetpack/_inc/client/components/spinner/index.jsx
  projects/plugins/jetpack/_inc/client/components/spinner/style.scss
  projects/plugins/jetpack/changelog/update-spinner-component-to-core
  tools/eslint-excludelist.json
Labels: Admin Page, [Plugin] Beta, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19400 SEO: styles for suggested/max char count for front page meta description in wp-admin
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/_inc/client/traffic/style.scss
  projects/plugins/jetpack/changelog/update-seo-meta-char-count
Labels: Admin Page, SEO Tools, [Plugin] Jetpack

#19430 Google Calendar: Add google calendar block fixtures and tests
  projects/plugins/jetpack/changelog/add-google-calendar-block-fixtures-and-tests
  projects/plugins/jetpack/extensions/blocks/google-calendar/controls.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/edit.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/controls.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/edit.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/fixtures/jetpack__google-calendar.html
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/fixtures/jetpack__google-calendar.json
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/fixtures/jetpack__google-calendar.parsed.json
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/fixtures/jetpack__google-calendar.serialized.html
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/utils.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/test/validate.js
  projects/plugins/jetpack/extensions/blocks/google-calendar/utils.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, Unit Tests, [Block] Google Calendar, [Plugin] Jetpack, [Status] Ready to Merge

#19371 Simple-payments blocks: fix tests
  projects/plugins/jetpack/changelog/fix-simple-payment-tests
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/readme.md
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/validate.js
Labels: Pay With Paypal, Touches WP.com Files, [Block] Pay With Paypal, [Plugin] Jetpack, [Status] Ready to Merge

#19431 Contact Info Block: Fix styling issues for FSE compatibility
  projects/plugins/jetpack/changelog/update-contact-info-editor-styling-for-fse
  projects/plugins/jetpack/extensions/blocks/contact-info/editor.scss
Labels: Full Site Editing, Touches WP.com Files, [Block] Contact Info, [Plugin] Jetpack, [Status] Ready to Merge

#19461 WordAds: Add Global Privacy Control (GPC) support for CCPA
  projects/plugins/jetpack/changelog/add-wordads-global-privacy-control
  projects/plugins/jetpack/modules/wordads/js/wordads-ccpa.js
Labels: Ad, WordAds, [Plugin] Jetpack, [Status] Ready to Merge

#19476 WordAds: Use WPCOM hosting type for Atomic sites
  projects/plugins/jetpack/changelog/update-wordads-hosting-type
  projects/plugins/jetpack/modules/wordads/class-wordads.php
Labels: Ad, WordAds, [Plugin] Jetpack, [Status] Ready to Merge

#19467 Tiled Gallery: Fix height of add item for compat with FSE
  projects/plugins/jetpack/changelog/fix-tiled-gallery-upload-button-in-fse-site-editor
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.scss
Labels: Full Site Editing, Gutenberg, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19381 Admin Menu: Replace "Edit CSS" with "Additional CSS"
  projects/plugins/jetpack/changelog/update-additional-css-label
  projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php
  projects/plugins/jetpack/modules/custom-css/custom-css.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, nav-unification

#19263 Admin Menu: Centralize class loading in Jetpack codebase
  projects/plugins/jetpack/changelog/update-admin-menu-sync-wpcom
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/load.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#19489 Cover block: fix paid-block-media-placeholder interference with flex positioning
  projects/plugins/jetpack/changelog/fix-cover-block-paid-block-media-placeholder-flex-child
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/editor.scss
Labels: Gutenberg, Touches WP.com Files, [Extensions] Paid Blocks, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18608 Fixing unchecked references to the JETPACK__PLUGIN_DIR constant
  projects/packages/sync/changelog/update-sync-remove-references-jetpack-plugin-dir
  projects/packages/sync/src/class-functions.php
  projects/packages/sync/src/class-listener.php
  projects/packages/sync/src/modules/class-options.php
Labels: [Package] Sync, [Plugin] Sync Tester, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19477 Search: Fix race condition for API responses
  projects/plugins/jetpack/changelog/fix-search-api-race-condition
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
  projects/plugins/jetpack/modules/search/instant-search/store/effects.js
  projects/plugins/jetpack/modules/search/instant-search/store/reducer/api.js
  projects/plugins/jetpack/modules/search/instant-search/store/test/reducer.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19449 Google Calendar Block: Fix styling issues with new site editor
  projects/plugins/jetpack/changelog/fix-google-calendar-styling-for-fse-site-editor
  projects/plugins/jetpack/extensions/blocks/google-calendar/editor.scss
  projects/plugins/jetpack/extensions/blocks/google-calendar/view.scss
Labels: Full Site Editing, Touches WP.com Files, [Block] Google Calendar, [Plugin] Jetpack, [Status] Ready to Merge

#18995 Masterbar: replace "Add new site" with "Add New Site"
  projects/plugins/jetpack/changelog/bug-masterbar-replace-add-new-site
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#19473 Jetpack Assistant (Recommendations): track the product slug of the product being upsold
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-card-upsell/index.jsx
  projects/plugins/jetpack/changelog/add-product-slug-jetpack-assistant-event
Labels: Admin Page, Assistant (Onboarding), [Plugin] Jetpack, [Status] Ready to Merge

#19503 Sharing: avoid broken sharing icons when using IE11 and legacy AMP theme
  projects/plugins/jetpack/3rd-party/class.jetpack-amp-support.php
  projects/plugins/jetpack/changelog/fix-amp-legacy-reader-social-logos-css-import
Labels: AMP, Sharing, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19491 E2E tests: Publish test results to Testspace
  .github/workflows/e2e-tests.yml
Labels: Actions, E2E Tests, [Status] Ready to Merge

#19501 Search: add woocommerce_currency to sync
  projects/packages/sync/changelog/add-woocommerce-currency-to-sync
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-woocommerce-currency-to-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: Search, [Package] Sync, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#19478 Search: Enable link filtering on built-in WP taxonomies
  projects/plugins/jetpack/changelog/update-search-custom-filter-link-and-built-in-taxonomies
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.scss
  projects/plugins/jetpack/modules/search/instant-search/components/sidebar.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/sidebar.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/filters.js
  projects/plugins/jetpack/modules/search/instant-search/lib/test/filters.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19388 Settings: Improve Instant Search toggle UX
  projects/plugins/jetpack/_inc/client/performance/search.jsx
  projects/plugins/jetpack/changelog/fix-performance-search-toggle-bug
  tools/eslint-excludelist.json
Labels: Admin Page, Instant Search, Search, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19356 WhatsApp block: Increase specificity for background styling
  projects/plugins/jetpack/changelog/fix-whatsapp-button-focused-style
  projects/plugins/jetpack/extensions/blocks/send-a-message/view.scss
Labels: Touches WP.com Files, [Block] Send a message, [Plugin] Jetpack, [Status] Ready to Merge

#19515 Revert "Search: add woocommerce_currency to sync"
  projects/packages/sync/changelog/add-woocommerce-currency-to-sync
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-woocommerce-currency-to-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: Instant Search, Search, [Package] Sync, [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge

#19367 Contact Info Block add manual blur to fix focus issues
  projects/plugins/jetpack/changelog/fix-contact-info-focus
  projects/plugins/jetpack/extensions/blocks/contact-info/address/edit.native.js
Labels: Gutenberg, Touches WP.com Files, [Block] Contact Info, [Plugin] Jetpack, [Status] Ready to Merge

#19507 Mailchimp Block: Fix UX for non-connected users.
  projects/plugins/jetpack/changelog/fix-mailchimp-block-secondary-user
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/use-connect-instagram.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/edit.js
Labels: Touches WP.com Files, [Block] Latest Instagram Posts, [Block] Mailchimp, [Plugin] Jetpack, [Status] Ready to Merge

#19513 Connection: avoid accidental options removal in nonce cleanup
  projects/packages/connection/changelog/fix-nonce-cleanup-zero
  projects/packages/connection/src/class-nonce-handler.php
  projects/packages/connection/tests/php/test-class-nonce-handler.php
Labels: [Package] Connection, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#19522 Connection: Changelog for 1.25.2 release
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/fix-nonce-cleanup-zero
Labels: [Package] Connection, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#19453 Sync Checksum - Enhance performance of postmeta range query
  projects/packages/sync/changelog/sync-fix-checksum-range
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Review, [Type] Bug

#19521 Changelog: update for 9.6.1 release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-cover-block-paid-block-media-placeholder-flex-child
  projects/plugins/jetpack/changelog/fix-search-excluded-post-types-pagination-bug
  projects/plugins/jetpack/changelog/fix-search-ie11-bugs
  projects/plugins/jetpack/changelog/fix-sharing-offline-mode
  projects/plugins/jetpack/changelog/fix-stats-bug
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-D59840-code-1617790596
  projects/plugins/jetpack/changelog/update-961-readme
  projects/plugins/jetpack/changelog/update-admin-menu-sync-wpcom
  projects/plugins/jetpack/changelog/update-readme-seo
  projects/plugins/jetpack/changelog/update-seo-meta-char-count
  projects/plugins/jetpack/changelog/update-show-links-manager-with-invisible-links
  projects/plugins/jetpack/changelog/update-spinner-component-to-core
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Pri] BLOCKER, [Status] Needs Review, [Type] Janitorial

#19333 VideoPress Block: Add setting for playing video inline
  projects/plugins/jetpack/changelog/add-videopress-block-playsinline
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/url.js
Labels: Touches WP.com Files, [Block] VideoPress, [Plugin] Jetpack, [Status] Design Input Requested, [Status] Ready to Merge, [Status] Tested on WP.com

#19364 Admin Menu: Update Jetpack logo SVG and menu SVG icon styling
  projects/plugins/jetpack/changelog/update-admin-menu-logo
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] In Progress, [Status] Needs Team Review

#19517 Define site icon CSS height and width inline
  projects/plugins/jetpack/changelog/update-inline-css-site-icon
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19399 E2E tests: split tunnel setup
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-split-tunnel-setup
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/bin/ecosystem.config.js
  projects/plugins/jetpack/tests/e2e/bin/env.sh
  projects/plugins/jetpack/tests/e2e/bin/tunnel.js
  projects/plugins/jetpack/tests/e2e/config/encrypted.enc
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-teardown.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/env/tunnel-manager.js
  projects/plugins/jetpack/tests/e2e/lib/logger.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/screenshot.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19375 Recommendations (Jetpack Assistant): add unit tests to main React components
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/checkbox-answer/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/loading-card/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-card-upsell-no-price/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-card-upsell/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/summary/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/summary/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/summary/test/fixtures.js
  projects/plugins/jetpack/_inc/client/test/test-utils.js
  projects/plugins/jetpack/changelog/add-unit-tests-to-jetpack-assistant
Labels: Admin Page, Assistant (Onboarding), [Plugin] Jetpack, [Status] Needs Review

#19460 Recommendations (Jetpack Assistant): add e2e test to cover main flow
  projects/plugins/jetpack/changelog/add-e2e-test-to-jetpack-assistant
  projects/plugins/jetpack/tests/e2e/lib/pages/page-actions.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/recommendations.js
  projects/plugins/jetpack/tests/e2e/specs/recommendations.test.js
Labels: Admin Page, Assistant (Onboarding), E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19250 PHPCS: Like module
  projects/plugins/jetpack/changelog/update-phpcs-likes
  projects/plugins/jetpack/modules/likes.php
  tools/phpcs-excludelist.json
Labels: Likes, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19437 Nav unification - hide submenu items instead of removing them
  projects/plugins/jetpack/changelog/fix-refactor-submenu-replace
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Team Review, nav-unification

#19510 Nav Unification: Remove Hover Effect at Top of the Sidebar
  projects/plugins/jetpack/changelog/update-nav-unification-hover
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
Labels: OSS Citizen, Touches WP.com Files, [Status] Needs Review

#19520 Saves sidebar expanded state from WP Admin to WPCOM calypso_preferences in real-time.
  projects/plugins/jetpack/changelog/Sync sidebar collapsed state with wpcom
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19534 Publish to Testspace even if previous steps failed
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/fix-testspace-publish-if-failure
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19398 Move JITM's REST API endpoints into the package
  projects/packages/jitm/changelog/update-move-jitm-rest-endpoints
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/class-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-move-jitm-rest-endpoints
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Jitm, [Plugin] Jetpack, [Status] Ready to Merge

#19538 Photon: Cast dimensions to int when comparing
  projects/plugins/jetpack/changelog/fix-photon-size-comparison
  projects/plugins/jetpack/class.photon.php
Labels: Photon, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#18385 JITM: use the A8c-Mc-Stats package
  projects/packages/jitm/changelog/update-jitm_mc_stats
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-post-connection-jitm.php
  projects/plugins/jetpack/changelog/update-jitm_mc_stats
  projects/plugins/jetpack/composer.lock
Labels: JITM, Jetpack DNA, [Package] Jitm, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#19436 CLI: Automatically Add Changelog Files to Git Staging
  package.json
  tools/cli/commands/changelog.js
  yarn.lock
Labels: [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#19444 CLI: Add "Write" to Jetpack Changelog
  tools/cli/commands/changelog.js
Labels: [Status] Needs Review, [Tools] Development CLI

#19382 Gardening action: add new Flag OSS feature
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/action.yml
  projects/github-actions/repo-gardening/changelog/add-gardening-oss-label
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/flag-oss/index.js
  projects/github-actions/repo-gardening/src/tasks/flag-oss/readme.md
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19554 Gardening: also run from forks for pull_request_target event
  .github/workflows/gardening.yml
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19537 Remove Sharing submenu option from settings menu
  projects/plugins/jetpack/changelog/remove-sharing-submenu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19353 Payments Block: Fix placeholder alignment and spacing issues
  projects/plugins/jetpack/changelog/fix-payments-placeholder-alignment
  projects/plugins/jetpack/extensions/blocks/recurring-payments/editor.scss
Labels: Touches WP.com Files, [Block] Payments, [Plugin] Jetpack, [Status] Needs Review

#19560 Docker: Install Gutenberg
  tools/docker/bin/install.sh
Labels: Docker, [Status] Needs Review, [Type] Enhancement

#19530 Update/compare block for fse
  projects/plugins/jetpack/changelog/2021-04-14-21-46-59-158359
  projects/plugins/jetpack/extensions/blocks/image-compare/edit.js
  projects/plugins/jetpack/extensions/blocks/image-compare/editor.scss
  projects/plugins/jetpack/extensions/blocks/image-compare/view.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, [Block] Image Compare, [Plugin] Jetpack, [Status] Ready to Merge

#19532 Business Hours Block: Site Editor Compatibility: editing styles
  projects/plugins/jetpack/changelog/fix-business-hours-block-in-site-editor
  projects/plugins/jetpack/extensions/blocks/business-hours/editor.scss
Labels: Touches WP.com Files, [Block] Business Hours, [Plugin] Jetpack, [Status] Ready to Merge

#19558 Gardening: release a new version of the action.
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/add-gardening-oss-label
  projects/github-actions/repo-gardening/changelog/update-gardening-check-progress-label
  projects/github-actions/repo-gardening/package.json
Labels: Actions, [Action] Repo Gardening, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19543 Slideshow: Fix height of Upload button for FSE compatibility
  projects/plugins/jetpack/changelog/fix-slideshow-upload-button-height-for-fse
  projects/plugins/jetpack/extensions/blocks/slideshow/editor.scss
Labels: Touches WP.com Files, [Block] Slideshow, [Plugin] Jetpack, [Status] Ready to Merge

#19545 Add a field for zendesk meta in the me/sites API
  projects/plugins/jetpack/changelog/add-field-for-zendesk-meta
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Dotcom Merge, [Type] Enhancement

#19531 Whatsapp Block: Fix issue with button block height in FSE
  projects/plugins/jetpack/changelog/update-whats-app-button-block-for-fse
  projects/plugins/jetpack/extensions/blocks/send-a-message/view.scss
Labels: Touches WP.com Files, [Block] Send a message, [Plugin] Jetpack, [Status] Ready to Merge

#19527 Contact Form Block: Fix issues with FSE
  projects/plugins/jetpack/changelog/fix-contact-form-block-fse
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, Full Site Editing, Touches WP.com Files, [Block] Contact Form, [Plugin] Jetpack, [Status] Ready to Merge

#19526 WordAds: Add translations to page parameters
  projects/plugins/jetpack/changelog/add-wordads-translate-page-params
  projects/plugins/jetpack/modules/wordads/class-wordads.php
Labels: Ad, WordAds, [Plugin] Jetpack, [Status] Ready to Merge

#19512 Remove unused priceTierSlug in getProductsForPurchase
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/remove-price-tier-slug
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge

#19509 Nav Unification: Force Simple sites to use Calypso Themes.
  projects/plugins/jetpack/changelog/fix-nav-uni-simple-themes
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19408 Markdown: Fix broken links with single-quoted href attributes
  projects/plugins/jetpack/_inc/lib/markdown/gfm.php
  projects/plugins/jetpack/changelog/fix-markdown-parser-breaking-single-quoted-href-attributes
  projects/plugins/jetpack/tests/php/_inc/lib/markdown/test-class-wpcom-ghf-markdown-parser.php
Labels: Markdown, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19387 SAL: add activate_plugins to get_capabilities
  projects/plugins/jetpack/changelog/update-add_activate_plugins_to_get_caps
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19523 REST API: Allow site-level authentication on plugins, themes, modules endpoints
  projects/plugins/jetpack/changelog/update-rest-api-allow-blog-token
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-delete-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-get-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-install-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-list-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-new-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: WPCOM API, [Plugin] Jetpack, [Status] Needs Review

#18858 First batch of improvements to Carousel
  projects/plugins/jetpack/changelog/update-carousel-improvement-batch-1
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
  projects/plugins/jetpack/modules/carousel/rtl/jetpack-carousel-rtl.css
  tools/eslint-excludelist.json
Labels: Carousel, Performance, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Testing, [Status] Ready to Merge, [Type] Enhancement

#19519 Masterbar: Update user options only when they change
  projects/plugins/jetpack/changelog/update-masterbar-user-options
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: Masterbar, [Plugin] Jetpack, [Status] Ready to Merge

#19544 Search: use the posts_per_page value from query
  projects/plugins/jetpack/changelog/fix-search_posts_per_page
  projects/plugins/jetpack/modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19582 Carousel: use element ids in the for attributes of the label elements
  projects/plugins/jetpack/changelog/2021-04-20-16-14-30-697350
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Accessibility, Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19581 tests: Stop setting GITHUB_TOKEN when running tests
  .github/workflows/tests.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19591 Live Changes: Add support for installing TT1-Blocks
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: General, [Type] Enhancement

#19564 Site Editor Compatibility: Add fix for ExternalLink CSS in site editor
  projects/plugins/jetpack/changelog/fix-external-link-component-rendering-in-the-site-editor
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/styles/external-link-fix.scss
Labels: Full Site Editing, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19529 Site Editor Compatibility: Fix layout of latest instagram posts cross browser
  projects/plugins/jetpack/changelog/fix-latest-instagram-posts-layout
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/editor.scss
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/image-transition.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/instagram-gallery.php
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/view.scss
Labels: Full Site Editing, Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Status] Ready to Merge

#19587 Feature hints: handle multiple plugin response formats.
  projects/plugins/jetpack/changelog/fix-plugin-search-error
  projects/plugins/jetpack/modules/plugin-search.php
Labels: Plugin Search, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19533 Fix using xdebug from docker container
  tools/docker/Dockerfile
  tools/docker/README.md
  tools/docker/config/php.ini
Labels: Docker, Docs, [Status] Ready to Merge, [Type] Enhancement

#19577 Fixed array_filter warnings when the $submenu[ $slug ] is not set.
  projects/plugins/jetpack/changelog/fix-nav-unification-array-filter-warnings
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge, nav-unification

#19440 Open Graph: Swap out `esc_attr` for `esc_url` with URLs.
  projects/plugins/jetpack/changelog/update-opengraph-use-esc_url-instead-of-esc_attr
  projects/plugins/jetpack/functions.opengraph.php
Labels: Publicize, Sharing, Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19493 jetpack: Add version to autoloader-suffix
  .github/files/lint-project-structure.sh
  projects/plugins/jetpack/changelog/add-version-to-autoloader-suffix
  projects/plugins/jetpack/composer.json
  tools/project-version.sh
Labels: Actions, [Package] Autoloader, [Plugin] Jetpack, [Pri] High, [Status] Needs Review, [Type] Bug

#19590 docker: Add bin/jt to dockerignore
  tools/docker/.dockerignore
Labels: Docker, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19589 At a glance: hide link to Scan from Atomic sites
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/changelog/fix-at-a-glance-link-to-scan-atomic-sites
Labels: Admin Page, Backup & Scan, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19606 CLI: Add a root-level install command
  docs/monorepo.md
  package.json
Labels: Docs, [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#19608 CLI: Cleaner output for cli subcommands.
  tools/cli/commands/cli.js
Labels: [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#19535 Recommendations (Jetpack Assistant): make element selectors more robust
  projects/plugins/jetpack/changelog/add-recommendations-e2e-improvements
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/recommendations.js
  projects/plugins/jetpack/tests/e2e/specs/recommendations.test.js
Labels: Admin Page, Assistant (Onboarding), E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19603 build: Use a shared secret when informing the beta builder
  .github/workflows/build.yml
Labels: Actions, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#19588 Carousel: add label to carousel comment form textarea
  projects/plugins/jetpack/changelog/2021-04-20-19-12-55-295671
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Accessibility, Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19574 Adds the current plan inline with Upgrades menu.
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/Show current plan in sidebar
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19619 E2E tests: fix failing Pinterest test
  projects/plugins/jetpack/changelog/fix-e2e-fix-pinterest-spec
  projects/plugins/jetpack/tests/e2e/config/default.js
  projects/plugins/jetpack/tests/e2e/specs/free-blocks.test.js
Labels: E2E Tests, [Block] Pinterest, [Plugin] Jetpack, [Status] Ready to Merge

#19580 Fix "Add New Theme" menu item highlighted
  projects/plugins/jetpack/changelog/fix-add-new-theme-menu-highlighting
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19612 renovate-helper: Needs yarn install for prettier
  .github/files/renovate-helper.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19599 REST API: Add list modules v1.2 endpoint
  projects/plugins/jetpack/changelog/add-rest-api-v12-list-modules-endpoint
  projects/plugins/jetpack/json-endpoints/jetpack/class-jetpack-json-api-modules-list-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/json-api-jetpack-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-modules-endpoints.php
Labels: WP REST API, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19627 E2E tests: fixed incorrect event name logged for hook end
  projects/plugins/jetpack/changelog/fix-e2e-event-name-logging
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
Labels: E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19623 E2E tests: Bumped Playwright to 1.10
  projects/plugins/jetpack/changelog/e2e-e2e-bump-playwright
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/playwright.config.js
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19593 Live Branches: show JN site options in details element
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#19613 CLI: Refactor `jetpack changelog` tool
  tools/cli/commands/changelog.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#19569 Nav Unification: Link to Calypso screens for Categories and Tags
  projects/plugins/jetpack/changelog/update-taxonomy-nav-links
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19572 Calendly Block: Only use style classes when not in a placeholder state
  projects/plugins/jetpack/changelog/update-calendly-placeholder-height
  projects/plugins/jetpack/extensions/blocks/calendly/edit.js
Labels: Touches WP.com Files, [Block] Calendly, [Plugin] Jetpack, [Status] Ready to Merge

#19602 Always use WP Admin for comments in Atomic sites.
  projects/plugins/jetpack/changelog/Always use WP Admin for comments in Atomic sites.
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19617 Theme Tools: Return early when there's no post context in jetpack_blog_display_custom_excerpt()
  projects/plugins/jetpack/changelog/2021-04-23-01-04-14-716130
  projects/plugins/jetpack/modules/theme-tools/content-options/blog-display.php
Labels: OSS Citizen, Theme Tools, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#19620 Decode special chars in URLs for admin menu responses
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/update-admin-menu-api-special-characters-url
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19614 Changes copy upon jetpack activation
  projects/plugins/jetpack/_inc/connect-button.js
  projects/plugins/jetpack/changelog/update-registration-copy
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/scss/organisms/_banners.scss
Labels: Connect Flow, [Plugin] Jetpack, [Status] Ready to Merge

#19394 Nav Unification: Add Emails submenu to the Upgrades navigation menu
  projects/plugins/jetpack/changelog/add-emails-submenu-to-upgrades
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/image-transition.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19626 Jetpack Modules: Add explanation when a module is unavailable
  projects/plugins/jetpack/changelog/update-add_unavailable_reason_in_modules_list
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack-modules-list-table.php
  projects/plugins/jetpack/scss/templates/_settings.scss
  projects/plugins/jetpack/tests/php/test-get-modules.php
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19492 Only enable Protect when connection has owner
  projects/plugins/jetpack/changelog/fix-protect-userless
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/protect.php
Labels: Protect, [Plugin] Jetpack, [Status] Ready to Merge

#19635 CLI: Add `version` to `jetpack changelog`
  tools/cli/commands/changelog.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#19630 JITM: Add unlinked in redirect url to indicate not-connected user
  projects/packages/jitm/changelog/update-jitm-redirect-unlinked
  projects/packages/jitm/src/class-post-connection-jitm.php
Labels: [Package] Jitm, [Status] Ready to Merge, [Type] Enhancement

#19424 SEO: standardize sanitization for seo inputs
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-front-page-meta-sanitize
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo-titles.php
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo-utils.php
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php/modules/seo-tools/test-class.jetpack.seo-titles.php
Labels: Admin Page, SEO Tools, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19583 Simple site's export menu now follows the should_link_to_wp_admin() setting
  projects/plugins/jetpack/changelog/fix-import-export-inconsistency
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19578 Site Editor Compatibility: Podcast Player block issues in editor and front end views
  projects/plugins/jetpack/changelog/fix-site-editor-podcast-player-block
  projects/plugins/jetpack/extensions/blocks/podcast-player/edit.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/view.js
  projects/plugins/jetpack/extensions/shared/block-editor-asset-loader.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Status] Ready to Merge

#19618 JITMs: update pre-connection messages for launch
  projects/packages/jitm/changelog/update-pre-connection-jitms
  projects/packages/jitm/changelog/update-pre-connection-jitms-2
  projects/packages/jitm/src/class-pre-connection-jitm.php
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/jitm/tests/php/test_pre_connection_jitm.php
  projects/plugins/jetpack/changelog/update-pre-connection-jitms
  projects/plugins/jetpack/class-jetpack-pre-connection-jitms.php
  projects/plugins/jetpack/functions.global.php
  projects/plugins/jetpack/tests/php/general/test-class-jetpack-pre-connection-jitms.php
Labels: Connect Flow, JITM, Touches WP.com Files, [Package] Jitm, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19595 Jetpack Button Block: Ensure block enqueues core Button block styles as a dependency
  projects/plugins/jetpack/changelog/update-jetpack-button-block-to-enqueue-core-button-style
  projects/plugins/jetpack/extensions/blocks/button/button.php
  projects/plugins/jetpack/extensions/blocks/button/editor.scss
  projects/plugins/jetpack/extensions/blocks/button/view.scss
Labels: Touches WP.com Files, [Block] Button, [Plugin] Jetpack, [Status] Ready to Merge

#19638 Admin Menu: Fix invalid menu item ID attributes
  projects/plugins/jetpack/changelog/fix-invalid-menu-id
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19497 Blog Stats Widget: display message when no stats are displayed
  projects/plugins/jetpack/changelog/update-improve-stats-widget
  projects/plugins/jetpack/modules/widgets/blog-stats.php
Labels: Extra Sidebar Widgets, Stats, [Plugin] Jetpack, [Status] Editorial Input Requested, [Status] Needs Copy Review

#19639 Mailchimp Block: Remove wrapper from rendered markup
  projects/plugins/jetpack/changelog/fix-mailchimp-placeholder-state-in-fse
  projects/plugins/jetpack/extensions/blocks/mailchimp/mailchimp.php
Labels: Touches WP.com Files, [Block] Mailchimp, [Plugin] Jetpack, [Status] Ready to Merge

#19642 Record stat of the first time the site is registered
  projects/packages/connection/changelog/add-track-unique-registrations
  projects/packages/connection/composer.json
  projects/packages/heartbeat/changelog/add-track-unique-registrations
  projects/packages/heartbeat/composer.json
  projects/packages/jitm/changelog/add-track-unique-registrations
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/add-track-unique-registrations
  projects/packages/licensing/composer.json
  projects/packages/options/changelog/add-unique_registrations_stat
  projects/packages/options/composer.json
  projects/packages/options/legacy/class-jetpack-options.php
  projects/packages/sync/changelog/add-track-unique-registrations
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/changelog/add-track-unique-registrations
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/changelog/add-track-unique-registrations
  projects/packages/tracking/composer.json
  projects/plugins/jetpack/changelog/add-track-unique-registrations
  projects/plugins/jetpack/changelog/add-unique_registrations_stat
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Connection, [Package] Heartbeat, [Package] Jitm, [Package] Licensing, [Package] Options, [Package] Sync, [Package] Terms of Service, [Package] Tracking, [Plugin] Jetpack, [Status] Ready to Merge

#19505 Featured content: fail gracefully when taxs are filtered out
  projects/plugins/jetpack/changelog/fix-error-featured-content-tax
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
Labels: Theme Tools, Touches WP.com Files, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#19605 Licensing: Enable the connection banner when licenses stored
  projects/plugins/jetpack/changelog/update-userless-license-aware-connection-banner
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack.php
Labels: Connect Flow, [Package] Licensing, [Plugin] Jetpack, [Status] Ready to Merge

#19637 Enables Jetpack without the need of an authorized user
  projects/packages/abtest/changelog/add-enable-userless
  projects/packages/connection/changelog/add-enable-userless
  projects/packages/connection/src/class-manager.php
  projects/packages/status/changelog/add-enable-userless
  projects/packages/status/src/class-status.php
  projects/plugins/jetpack/_inc/connect-button.js
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-cxn-tests.php
  projects/plugins/jetpack/changelog/add-enable-userless
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/general/test-class.jetpack-gutenberg.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-modules-stats.php
Labels: Touches WP.com Files, [Package] Abtest, [Package] Connection, [Package] Connection UI, [Package] Jitm, [Package] Licensing, [Package] Status, [Package] Sync, [Plugin] Jetpack, [Status] Needs Review

#19609 Add/segmentation params to registration
  projects/packages/connection/changelog/add-segmentation_params_to_registration
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/jitm/changelog/add-segmentation_params_to_registration
  projects/packages/jitm/composer.json
  projects/packages/partner/changelog/add-segmentation_params_to_registration
  projects/packages/partner/composer.json
  projects/packages/partner/src/class-partner.php
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/_inc/connect-button.js
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/add-segmentation_params_to_registration
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Connection, [Package] Jitm, [Package] Partner, [Plugin] Jetpack, [Status] Ready to Merge

#19649 e2e: Use folders in Testspace
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-testspace-folders
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review
