Repository Automattic/jetpack, pull requests merged in 2021-01, with the labels that each got.

#18070 Docs: add info about textdomains to the package documentation
  packages/README.md
Labels: Docs, Internationalization, Jetpack DNA, [Pri] Low, [Status] Needs Package Release, [Status] Ready to Merge

#18105 Admin Menu: Second pass at menu structure classes
  modules/masterbar.php
  modules/masterbar/admin-menu/class-admin-menu.php
  modules/masterbar/admin-menu/class-atomic-admin-menu.php
  modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  tests/php/modules/masterbar/data/admin-menu.php
  tests/php/modules/masterbar/test-class-admin-menu.php
  tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge

#18187 EU Cookie Widget: Ensure the widget exists before trying to call a method on it
  modules/widgets/eu-cookie-law/eu-cookie-law.js
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Type] Bug

#18197 Remove @georgestephanis from codeowners file.
  .github/CODEOWNERS
Labels: General, [Status] Ready to Merge, [Type] Enhancement

#18089 Instant Search: add polyfill for CustomEvent (IE11)
  modules/search/instant-search/index.jsx
  modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Search, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#18193 Autoloader: Don't cache deactivating plugins
  packages/autoloader/src/class-autoloader.php
  packages/autoloader/src/class-plugin-locator.php
  packages/autoloader/src/class-plugins-handler.php
  packages/autoloader/tests/php/tests/integration/test-autoloader-scenarios.php
  packages/autoloader/tests/php/tests/unit/test-plugin-locator.php
  packages/autoloader/tests/php/tests/unit/test-plugins-handler.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge

#18031 Instant Search: improve product layout
  modules/search/instant-search/components/search-result-product.jsx
  modules/search/instant-search/components/search-result-product.scss
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#16572 post-details.php now checks for an empty elements array before applyi…
  modules/theme-tools/content-options/post-details.php
Labels: Theme Tools, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18125 Default to `defer` instead of `async` recaptcha
  modules/sharedaddy/recaptcha.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge

#18056 Blocks: update checkout links to include the full Jetpack plan.
  _inc/lib/components.php
  extensions/shared/plan-utils.js
Labels: Gutenberg, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Bug

#17733 Sync Unit Tests: Use mocked themes instead of assumed installed themes
  tests/php/files/theme-file-sync-child/child-only.php
  tests/php/files/theme-file-sync-child/parent-and-child.php
  tests/php/files/theme-file-sync-child/style.css
  tests/php/files/theme-file-sync-parent/parent-and-child.php
  tests/php/files/theme-file-sync-parent/parent-only.php
  tests/php/files/theme-file-sync-parent/style.css
  tests/php/sync/test_class.jetpack-sync-themes.php
Labels: Touches WP.com Files, Unit Tests, [Package] Sync, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18200 Add checksum_disable as a valid param of sync/settings endpoint
  json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: [Package] Sync, [Status] Ready to Merge, [Type] Enhancement

#18021 REST API: properly trap wp_die when updating comments
  class.json-api.php
Labels: Touches WP.com Files, WPCOM API, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Janitorial

#18090 Subscriptions: fix comment subscription toggle behavior
  _inc/client/discussion/index.jsx
  _inc/client/discussion/subscriptions.jsx
  _inc/client/discussion/test/component.js
  _inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  tests/php/core-api/test_class.jetpack-core-api-module-endpoints.php
Labels: Comments, Subscriptions, [Status] Ready to Merge, [Type] Bug

#17934 9.3 Release: changelog
  readme.txt
  to-test.md
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#18191 Contact Form: remove unnecessary calls to wp_transition_post_status
  modules/contact-form/admin.php
Labels: Contact Form, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#18205 Slideshow Unit Test: Parent teardown is required
  tests/php/modules/shortcodes/test-class.slideshow.php
Labels: Shortcodes / Embeds, Touches WP.com Files, Unit Tests, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#18208 Admin Menu: Switch Customizer and Theme links
  modules/masterbar/admin-menu/class-admin-menu.php
  tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18209 Codesniffer: Unpin composer deps
  .github/renovate.json
  packages/codesniffer/composer.json
Labels: [Package] Codesniffer, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#18170 CI: Add GH Actions to test Composer
  .github/files/check-composer-locks.sh
  .github/files/check-monorepo-package-versions.sh
  .github/workflows/composer.yml
  composer.json
  composer.lock
  phpunit.xml.dist
  tests/php/test-composer-lint.php
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18046 Anchor.fm: implement a basic template for podcast blog post
  extensions/blocks/anchor-fm/anchor-fm.php
  extensions/blocks/anchor-fm/editor.js
  extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Ready to Merge

#18163 Conversation: remove unneeded `entry-content` CSS class
  extensions/blocks/conversation/edit.js
  extensions/blocks/conversation/save.js
  extensions/blocks/dialogue/dialogue.php
  extensions/blocks/dialogue/edit.js
  extensions/blocks/dialogue/style.scss
Labels: Enhanced Distribution, Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Status] Ready to Merge

#18217 Composer: update following #18209
  composer.lock
Labels: [Status] Ready to Merge, [Type] Janitorial

#18218 yarn: Remove broken mkdirp/minimist override
  package.json
  yarn.lock
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18168 Conversation: implement show/hide dialogue blocks system
  extensions/blocks/conversation/extend/index.js
  extensions/blocks/conversation/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Block] Dialogue, [Status] Ready to Merge, [Type] Enhancement

#18135 Reorg: Fix build artifacts action
  .eslintignore
  .eslintrc.js
  .github/workflows/build-artifacts.yml
  .github/workflows/code-coverage.yml
  .github/workflows/dangerci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/gardening.yml
  .github/workflows/js-tests.yml
  .github/workflows/linting.yml
  package.json
  projects/packages/lazy-images/src/js/intersectionobserver-polyfill.js
  projects/plugins/jetpack/.eslintrc.js
  projects/plugins/jetpack/.size-limit.js
  projects/plugins/jetpack/.svnignore
  projects/plugins/jetpack/jest.config.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/e2e/.eslintrc.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.packages.js
  projects/plugins/jetpack/yarn.lock
  tools/build-jetpack.sh
  yarn.lock
Labels: Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge

#18212 Reorg: Cleanup yarn scripts in monorepo vs plugin
  package.json
  projects/plugins/jetpack/package.json
  tools/webpack.config.packages.js
  yarn.lock
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18207 Reorg: Add a dummy "jetpack.php" to the monorepo, and update docs
  .github/workflows/linting.yml
  docs/development-environment.md
  jetpack.php
  projects/plugins/jetpack/LICENSE.txt
  projects/plugins/jetpack/readme.md
  projects/plugins/jetpack/readme.txt
  readme.md
  tools/check-copied-files.sh
  tools/pre-commit-hook.js
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18119 Instant Search: Add tests & function defaults for filters
  modules/search/instant-search/lib/filters.js
  modules/search/instant-search/lib/test/filters.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#18196 Anchor.fm: add conversation block to simple template
  extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Block] Dialogue, [Status] Ready to Merge

#18176 Dialogue: improve UX when creating new blocks
  extensions/blocks/conversation/edit.js
  extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Status] Ready to Merge, [Type] Enhancement

#18221 CI: Fix E2E tests
  .github/workflows/code-coverage.yml
  .github/workflows/dangerci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/gardening.yml
  .github/workflows/js-tests.yml
  .github/workflows/linting.yml
Labels: E2E Tests, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18219 Redirect Settings menu to calypso
  modules/masterbar/admin-menu/class-admin-menu.php
  tests/php/modules/masterbar/test-class-admin-menu.php
  tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug, nav-unification

#18230 Codecov action: remove token from action
  .github/workflows/code-coverage.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Infrastructure

#18231 Codecov action: Increase fetch depth to 2
  .github/workflows/code-coverage.yml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18167 Podcast player: Moves podcast-player json schema to podcast helper
  _inc/lib/class-jetpack-podcast-helper.php
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-podcast-player.php
Labels: Touches WP.com Files, WP REST API, [Block] Podcast Player, [Status] Ready to Merge

#18233 ESLint: Add --max-warnings=0 to `yarn lint-required`
  modules/search/instant-search/components/test/.eslintrc.js
  modules/search/instant-search/lib/test/.eslintrc.js
  modules/search/instant-search/lib/test/filters.test.js
  package.json
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#17864 Remove jQuery from non-admin parts of post-flair mu-plugin
  modules/sharedaddy/sharing-service.php
  modules/sharedaddy/sharing-sources.php
  modules/sharedaddy/sharing.js
Labels: Performance, Sharing, Touches WP.com Files, [Status] Needs Author Reply, [Status] Tested on WP.com, [Type] Dotcom Merge, [Type] Enhancement

#17879 Podcasts: Refactor the audio player component
  extensions/blocks/podcast-player/components/audio-player.js
  extensions/blocks/podcast-player/components/header.js
  extensions/blocks/podcast-player/components/playlist.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/constants.js
  extensions/blocks/podcast-player/style.scss
  extensions/shared/components/audio-player/README.md
  extensions/shared/components/audio-player/constants.js
  extensions/shared/components/audio-player/index.jsx
  extensions/shared/components/audio-player/style.scss
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Enhancement

#18157 Jetpack Assistant: Add client side state
  _inc/client/components/data/query-recommendations-data/index.jsx
  _inc/client/components/data/query-recommendations-upsell/index.jsx
  _inc/client/lib/plans/constants.js
  _inc/client/rest-api/index.js
  _inc/client/state/action-types.js
  _inc/client/state/initial-state/reducer.js
  _inc/client/state/recommendations/actions.js
  _inc/client/state/recommendations/index.js
  _inc/client/state/recommendations/reducer.js
  _inc/client/state/reducer.js
  _inc/client/state/site/reducer.js
Labels: Admin Page, [Status] Ready to Merge, [Type] Enhancement

#18118 Instant Search: Add redux state for API, search, and sort
  modules/search/instant-search/lib/constants.js
  modules/search/instant-search/store/actions.js
  modules/search/instant-search/store/effects.js
  modules/search/instant-search/store/index.js
  modules/search/instant-search/store/reducer/api.js
  modules/search/instant-search/store/reducer/index.js
  modules/search/instant-search/store/reducer/query-string.js
  modules/search/instant-search/store/reducer/server-options.js
  modules/search/instant-search/store/selectors.js
  modules/search/instant-search/store/test/reducer.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#18243 Instant search: Fix lint warnings introduced in #18118
  modules/search/instant-search/store/effects.js
  modules/search/instant-search/store/reducer/query-string.js
  modules/search/instant-search/store/selectors.js
  modules/search/instant-search/store/test/.eslintrc.js
  modules/search/instant-search/store/test/reducer.test.js
Labels: Instant Search, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Janitorial

#18237 Conversation: set bold format for new participant
  extensions/blocks/conversation/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Status] Ready to Merge, [Type] Enhancement

#18232 Dialogue: focus on rich text component when created
  extensions/blocks/dialogue/edit.js
Labels: Accessibility, Touches WP.com Files, [Block] Dialogue, [Status] Ready to Merge

#18240 Pre-commit: Actually fail pre-commit if eslint fails
  bin/pre-commit-hook.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18249 Sharing: JS is no longer dependent on jQuery
  modules/sharedaddy/sharing-service.php
Labels: Performance, Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug, [Type] Dotcom Merge

#18246 Story block: Limit title length during playback
  extensions/blocks/story/player/style.scss
Labels: Touches WP.com Files, [Block] Story, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18241 Reorg: Split out .gitignore
  .gitignore
  projects/plugins/jetpack/.gitignore
  projects/plugins/jetpack/tools/prepare-build-branch.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#18242 Tools: Add excludelist cleanup, and use in CI
  .eslintignore
  .github/actions/repo-gardening/src/debug.js
  .github/actions/repo-gardening/src/get-associated-pull-request.js
  .github/actions/repo-gardening/src/if-not-fork.js
  .github/actions/repo-gardening/src/index.js
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
  .github/actions/repo-gardening/src/tasks/assign-issues/index.js
  .github/files/check-excludelist-diff.js
  .github/workflows/linting.yml
  bin/eslint-excludelist.json
  bin/phpcs-excludelist.json
  tools/cleanup-excludelists.sh
Labels: Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18161 AnchorFM: Add impression and click tracking to CTA
  extensions/blocks/anchor-fm/editor.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Needs Privacy Updates, [Status] Ready to Merge

#18236 Masterbar: Remove unwanted Appearance submenu items
  modules/masterbar/admin-menu/class-admin-menu.php
  tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18275 Remove CRM references from readme.txt file
  readme.txt
Labels: Jetpack CRM, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#17659 Add Rating setting to the Video Block when VideoPress is enabled
  _inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-videopress.php
  _inc/lib/core-api/wpcom-fields/class-wpcom-rest-api-v2-attachment-videopress-data.php
  extensions/blocks/videopress/edit.js
  modules/videopress/class.videopress-edit-attachment.php
  modules/videopress/utility-functions.php
  tests/php/core-api/wpcom-fields/class-test-wpcom-rest-api-v2-attachment-videopress-data.php
Labels: Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Enhancement

#18229 Crowdsignal: update shortcode survey URL in using block editor
  modules/shortcodes/crowdsignal.php
Labels: Shortcodes / Embeds, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#18213 Reorg: Write to jetpack-production
  .github/actions/update-project/update-project.sh
  .github/workflows/update-package.yml
  .github/workflows/update-project.yml
Labels: Build, [Status] Ready to Merge, [Type] Enhancement

#18300 Masterbar: Use site_url for stats chart
  modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Type] Bug

#18309 General: update version numbers to start new release cycle
  jetpack.php
  package.json
Labels: General, Touches WP.com Files, [Pri] BLOCKER, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#18280 Lazily load reCAPTCHA for email sharing
  modules/sharedaddy/recaptcha.php
  modules/sharedaddy/sharedaddy.php
  modules/sharedaddy/sharing.js
  tests/php/modules/sharedaddy/test-class.recaptcha.php
Labels: Performance, Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18312 Pre-commit: Don't run eslint on ignored files
  bin/pre-commit-hook.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18288 CI: Provide better feedback for excludelist check failures
  .github/files/check-excludelist-diff.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18308 Build Script: update svnignore with recent additions
  .svnignore
Labels: General, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#18314 SEO Tools: Defensive coding to prevent notices
  modules/seo-tools/jetpack-seo.php
Labels: SEO Tools, Touches WP.com Files, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18202 Various PHPCS and Cleanup
  _inc/footer.php
  bin/build-asset-cdn-json.php
  bin/phpcs-excludelist.json
  class.jetpack-debugger.php
  class.jetpack-error.php
  class.jetpack-user-agent.php
  class.jetpack-xmlrpc-server.php
  extensions/blocks/anchor-fm/editor.js
  json-api-config.php
  load-jetpack.php
  modules/after-the-deadline.php
  modules/json-api.php
  modules/pwa.php
  modules/pwa/class.jetpack-pwa-helpers.php
  modules/pwa/class.jetpack-pwa-manifest.php
  modules/pwa/images/wp-192.png
  modules/pwa/images/wp-512.png
  modules/search.php
  modules/wordads.php
  packages/sync/src/class-actions.php
  tests/get-wp-version.php
  tests/php/test_deprecation.php
  tests/php/uninstall/test_uninstall.php
  uninstall.php
  views/admin/network-admin-alert.php
  views/admin/network-admin-footer.php
Labels: Touches WP.com Files, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#18313 Reorg: Iterate on mirror repo publishing
  .github/actions/update-project/update-project.sh
  .github/files/update-project-mirrors.sh
  .github/workflows/update-project.yml
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/.gitignore
  projects/plugins/jetpack/.svnignore
  projects/plugins/jetpack/SECURITY.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/photon-cdn/.gitkeep
  projects/plugins/jetpack/modules/photon-cdn/jetpack-manifest.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/build-asset-cdn-json.php
  tools/build-asset-cdn-json.php
  tools/check-copied-files.sh
  tools/phpcs-excludelist.json
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18290 Allow cleanup tool to run on OSX
  tools/cleanup-excludelists.sh
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18323 Multisite: avoid Fatals on sites using WPMUDEV domain mapping
  3rd-party/class-domain-mapping.php
Labels: Multisite, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18330 CI: Fix test broken by a PHP bugfix
  tests/php/general/test-class.jetpack-gutenberg.php
Labels: Touches WP.com Files, Unit Tests, [Pri] High, [Status] Ready to Merge, [Type] Bug

#18319 Mirror repos: Avoid concurrent workflow runs
  .github/workflows/update-project.yml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18302 Dialogue Block: Add fallback for _experimentalNumberControl
  bin/eslint-excludelist.json
  extensions/blocks/dialogue/components/timestamp-control.js
  extensions/shared/components/number-control/index.jsx
  extensions/shared/external-media/sources/google-photos/filter-option.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Dialogue, [Extensions] External Media, [Status] Ready to Merge

#18137 Instant Search: Add support for filters in Redux store
  bin/eslint-excludelist.json
  modules/search/instant-search/lib/filters.js
  modules/search/instant-search/lib/query-string.js
  modules/search/instant-search/lib/test/filters.test.js
  modules/search/instant-search/store/actions.js
  modules/search/instant-search/store/effects.js
  modules/search/instant-search/store/reducer/index.js
  modules/search/instant-search/store/reducer/query-string.js
  modules/search/instant-search/store/selectors.js
  modules/search/instant-search/store/test/reducer.test.js
  modules/search/instant-search/store/test/selectors.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#18334 Mirroring: Link GitHub commit after push
  .github/files/update-project-mirrors.sh
Labels: [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#18333 Mirroring: Add a standard .github to all mirrors
  .github/files/mirror-.github/workflows/readonly.yml
  .github/files/update-project-mirrors.sh
  .github/workflows/update-project.yml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18317 Reorg: Move debug-helper to a plugin
  projects/plugins/debug-helper/README.md
  projects/plugins/debug-helper/class-admin.php
  projects/plugins/debug-helper/modules/class-broken-token.php
  projects/plugins/debug-helper/modules/class-jetpack-sync-debug-helper.php
  projects/plugins/debug-helper/modules/class-mocker.php
  projects/plugins/debug-helper/modules/class-rest-api-tester.php
  projects/plugins/debug-helper/modules/inc/class-broken-token-xmlrpc.php
  projects/plugins/debug-helper/modules/inc/css/mocker.css
  projects/plugins/debug-helper/modules/inc/css/rest-api-tester.css
  projects/plugins/debug-helper/modules/inc/css/style.css
  projects/plugins/debug-helper/modules/inc/js/loader.js
  projects/plugins/debug-helper/modules/inc/js/mocker.js
  projects/plugins/debug-helper/modules/inc/js/rest-api-tester.js
  projects/plugins/debug-helper/modules/inc/js/xmlrpc-errors.js
  projects/plugins/debug-helper/modules/inc/mockers/class-nonces-runner.php
  projects/plugins/debug-helper/modules/inc/mockers/class-options-runner.php
  projects/plugins/debug-helper/modules/inc/mockers/class-tools.php
  projects/plugins/debug-helper/modules/inc/mockers/interface-runner.php
  projects/plugins/debug-helper/plugin.php
  tools/docker/bin/run.sh
  tools/eslint-excludelist.json
Labels: [Status] Ready to Merge, [Type] Enhancement

#16455 Internationalization: introduce new linting plugin for i18n errors in blocks
  _inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  extensions/.eslintrc.js
  extensions/blocks/business-hours/components/day-preview.js
  extensions/blocks/contact-form/edit.js
  extensions/blocks/instagram-gallery/edit.js
  extensions/blocks/map/lookup/index.js
  extensions/blocks/opentable/edit.js
  extensions/blocks/podcast-player/components/podcast-player.js
  extensions/blocks/podcast-player/components/track-error.js
  extensions/blocks/podcast-player/utils.js
  extensions/blocks/publicize/form-unwrapped.js
  extensions/blocks/recurring-payments/edit.jsx
  extensions/blocks/repeat-visitor/components/edit.js
  extensions/blocks/seo/panel.js
  extensions/blocks/simple-payments/depecrated/v2/edit.js
  extensions/blocks/simple-payments/edit.js
  extensions/blocks/story/player/components/bullet.js
  extensions/blocks/subscriptions/edit.js
  extensions/blocks/tiled-gallery/deprecated/v1/layout/index.js
  extensions/blocks/tiled-gallery/deprecated/v2/layout/index.js
  extensions/blocks/tiled-gallery/layout/index.js
  extensions/blocks/videopress/edit.js
  extensions/shared/components/upgrade-nudge/index.jsx
  extensions/shared/plan-upgrade-notification.js
  extensions/shared/test-embed-url.js
  extensions/shared/test/i18n-to-php.js
  package.json
  tests/e2e/.eslintrc.js
  yarn.lock
Labels: Gutenberg, Internationalization, Touches WP.com Files, [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#16516 Admin Page: lint all files for @wordpress/i18n errors
  _inc/client/.eslintrc.js
  _inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  _inc/client/components/footer/index.jsx
  _inc/client/components/jetpack-notices/state-notices.jsx
  _inc/client/security/backups-scan.jsx
  _inc/client/setup-wizard/updates-question/index.jsx
Labels: Admin Page, Internationalization, [Status] Ready to Merge, [Type] Janitorial

#18342 E2E Tests: Disable Allure reports generation
  .github/workflows/e2e-tests.yml
Labels: Actions, E2E Tests, [Status] Ready to Merge

#18345 Reorg: Remove temp branch from executing action
  .github/workflows/update-project.yml
Labels: Actions, [Status] Ready to Merge, [Type] Janitorial

#18353 ESlint: Fix i18n relates issue
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#18352 Actions: Improve build-artifacts
  .github/workflows/build-artifacts.yml
Labels: Actions, [Status] Ready to Merge, [Type] Enhancement

#18361 Packages: Do not include .github in dist
  projects/packages/a8c-mc-stats/.gitattributes
  projects/packages/abtest/.gitattributes
  projects/packages/analyzer/.gitattributes
  projects/packages/assets/.gitattributes
  projects/packages/autoloader/.gitattributes
  projects/packages/backup/.gitattributes
  projects/packages/blocks/.gitattributes
  projects/packages/codesniffer/.gitattributes
  projects/packages/compat/.gitattributes
  projects/packages/config/.gitattributes
  projects/packages/connection/.gitattributes
  projects/packages/constants/.gitattributes
  projects/packages/device-detection/.gitattributes
  projects/packages/error/.gitattributes
  projects/packages/heartbeat/.gitattributes
  projects/packages/jitm/.gitattributes
  projects/packages/lazy-images/.gitattributes
  projects/packages/licensing/.gitattributes
  projects/packages/logo/.gitattributes
  projects/packages/options/.gitattributes
  projects/packages/partner/.gitattributes
  projects/packages/redirect/.gitattributes
  projects/packages/roles/.gitattributes
  projects/packages/status/.gitattributes
  projects/packages/sync/.gitattributes
  projects/packages/terms-of-service/.gitattributes
  projects/packages/tracking/.gitattributes
Labels: Jetpack DNA, [Package] Assets, [Package] Autoloader, [Package] Blocks, [Package] Codesniffer, [Package] Config, [Package] Connection, [Package] Lazy Images, [Package] Licensing, [Package] Partner, [Package] Status, [Package] Sync, [Package] Terms of Service, [Package] Tracking, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18331 Changelog: add initial changelog for 9.3.1
  projects/plugins/jetpack/changelog.txt
  projects/plugins/jetpack/readme.txt
Labels: [Pri] BLOCKER, [Status] Needs Review, [Type] Janitorial

#18306 Lazy Images: do not include js linting config in production
  projects/packages/lazy-images/.gitattributes
Labels: [Package] Lazy Images, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#18367 Reorg: Rename root-level project
  package.json
Labels: Build, Touches WP.com Files, [Pri] High, [Status] Needs Review, [Type] Bug

#18151 Store: add jetpack/media-source sub-state tree
  projects/plugins/jetpack/extensions/.eslintrc.js
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
  projects/plugins/jetpack/extensions/store/media-source/README.md
  projects/plugins/jetpack/extensions/store/media-source/index.js
  projects/plugins/jetpack/extensions/store/media-source/storeDefinition.js
  projects/plugins/jetpack/extensions/store/media-source/test/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Podcast Player, [Status] Ready to Merge, store

#18365 Add on: pull_request trigger to CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: Actions, [Status] Ready to Merge, [Type] Janitorial

#18339 Admin Page: change dev version notice link to an external link
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/test/component.js
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#18326 Button block: Fix missing class issue. Closes #18325
  projects/plugins/jetpack/extensions/blocks/button/button.php
Labels: Touches WP.com Files, [Block] Button, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18289 Stats: update dashboard widget to respect new design
  projects/plugins/jetpack/_inc/client/dashboard-widget/style.scss
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18366 i18n: enforce the use of the jetpack textdomain
  projects/plugins/jetpack/_inc/client/.eslintrc.js
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/extensions/.eslintrc.js
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/edit.js
  projects/plugins/jetpack/extensions/blocks/pinterest/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/story/edit.native.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: Admin Page, Gutenberg, Internationalization, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18247 Conversation: add block example
  projects/plugins/jetpack/extensions/blocks/conversation/example.js
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
Labels: Enhanced Distribution, Performance, Touches WP.com Files, [Block] Conversation, [Status] Ready to Merge

#18355 Fix "Build artifacts" job and merge with "Update mirrors"
  .github/files/build-all-projects.sh
  .github/files/push-all-projects.sh
  .github/files/update-project-mirrors.sh
  .github/workflows/build-artifacts.yml
  .github/workflows/build.yml
  .github/workflows/update-project.yml
  tools/build-jetpack.sh
  tools/get-version.sh
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#18356 Connection: in-place flow privacy policy
  projects/packages/connection/src/class-rest-connector.php
  projects/plugins/jetpack/_inc/client/components/auth-iframe/index.jsx
  projects/plugins/jetpack/_inc/client/state/connection/reducer.js
Labels: Connect Flow, [Status] Needs Package Release, [Status] Ready to Merge

#18370 Mirroring: Fix after #18355
  .github/workflows/build.yml
Labels: [Pri] High, [Status] Ready to Merge, [Type] Bug

#18305 Masterbar: Add Calypso support to Testimonials and Portfolios
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18371 Mirroring: Fix auth
  .github/files/push-all-projects.sh
  .github/workflows/build.yml
Labels: [Pri] High, [Status] Needs Review, [Type] Bug

#18375 Mirroring: Fix auth, attempt 2
  .github/workflows/build.yml
Labels: [Pri] High, [Status] Needs Review, [Type] Bug

#18379 Debug-Helper: Add composer.json so it will be mirrored
  projects/plugins/debug-helper/composer.json
Labels: [Pri] Normal, [Status] Needs Review, [Type] Bug

#18377 Dependencies: Remove unused dependencies
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/postcss.config.js
  projects/plugins/jetpack/yarn.lock
Labels: Touches WP.com Files, [Status] Ready to Merge, dependencies

#18350 Docs: Update relative link locations in Docker readme
  tools/docker/README.md
Labels: Docs, [Status] Ready to Merge, [Type] Bug

#18363 REST API: Fix user connection data without owner
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: WP REST API, [Status] Ready to Merge, [Type] Bug

#18296 Masterbar: Use Calypso import/export only on simple sites
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18006 Videopress Block: Fix video width and lack of alignment classes
  projects/plugins/jetpack/extensions/blocks/videopress/deprecated/v2/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/deprecated/v2/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/deprecated/v2/url.js
  projects/plugins/jetpack/extensions/blocks/videopress/deprecated/v2/utils.js
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/test/deprecated/v2/utils.js
  projects/plugins/jetpack/extensions/blocks/videopress/test/index.js
Labels: Touches WP.com Files, VideoPress, [Status] Ready to Merge, [Type] Bug

#18337 Audio Player: Fix the firing of multiple conflicting time changes
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Bug

#18382 Mirroring: Preserve file permissions by uploading a .tar.xz as the build artifact
  .github/workflows/build.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18387 Docs: update path to the Code Sniffer ruleset
  docs/development-environment.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge

#18292 Tracking: get connected user data from the Connection package
  projects/packages/tracking/legacy/class-jetpack-tracks-client.php
Labels: [Package] Tracking, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18394 CI: Give advice in the composer lockfile check
  .github/files/check-composer-locks.sh
Labels: [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#18349 Podcast Player: connect with AudioPlayer via global state
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/playlist.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/podcast-player.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/view.js
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
  projects/plugins/jetpack/extensions/store/media-source/constants.js
  projects/plugins/jetpack/extensions/store/media-source/index.js
  projects/plugins/jetpack/extensions/store/media-source/storeDefinition.js
  projects/plugins/jetpack/extensions/store/media-source/test/index.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, [Block] Podcast Player, [Size] L, [Status] Ready to Merge, [Type] Enhancement

#18372 Full Sync :: Reduce Concurrency.
  projects/packages/sync/src/class-lock.php
  projects/packages/sync/src/modules/class-full-sync-immediately.php
  projects/packages/sync/src/modules/class-full-sync.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-actions.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-lock.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-sender.php
Labels: [Package] Sync, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#18156 Jetpack Assistant: Add backend
  projects/packages/options/legacy/class-jetpack-options.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-wizard.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Admin Page, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18373 Masterbar: Fix undefined variable
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18384 Story block: Playback fixes
  projects/plugins/jetpack/extensions/blocks/story/player/progress-bar.js
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Bug

#18398 CI: Add timeouts for all jobs
  .github/workflows/build.yml
  .github/workflows/code-coverage.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/composer.yml
  .github/workflows/dangerci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/gardening.yml
  .github/workflows/js-tests.yml
  .github/workflows/linting.yml
  .github/workflows/phpcompatibility-dev.yml
  .github/workflows/phpunit.yml
  .github/workflows/required-review.yml
Labels: [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#18400 PHPCS: Don't lint photon-cdn/jetpack-manifest.php
  .phpcs.config.xml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18274 Bugfixes to sharing code
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
  projects/plugins/jetpack/modules/sharedaddy/sharing.js
Labels: Sharing, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18316 Add mirror-repo information to all current composer packages
  .github/files/build-all-projects.sh
  composer.lock
  projects/packages/a8c-mc-stats/composer.json
  projects/packages/abtest/composer.json
  projects/packages/analyzer/composer.json
  projects/packages/assets/composer.json
  projects/packages/autoloader/composer.json
  projects/packages/backup/composer.json
  projects/packages/blocks/composer.json
  projects/packages/codesniffer/composer.json
  projects/packages/compat/composer.json
  projects/packages/config/composer.json
  projects/packages/connection/composer.json
  projects/packages/constants/composer.json
  projects/packages/device-detection/composer.json
  projects/packages/error/composer.json
  projects/packages/heartbeat/composer.json
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/composer.json
  projects/packages/logo/composer.json
  projects/packages/options/composer.json
  projects/packages/partner/composer.json
  projects/packages/redirect/composer.json
  projects/packages/roles/composer.json
  projects/packages/status/composer.json
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/composer.json
  projects/plugins/debug-helper/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#18430 Dialogue: replace wp_kses with wp_kses_post
  projects/plugins/jetpack/extensions/blocks/dialogue/dialogue.php
Labels: Touches WP.com Files, [Block] Dialogue, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#18328 Masterbar: Disable Calypsoify nav overrides when Nav Unification is enabled
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
  projects/plugins/jetpack/modules/masterbar.php
Labels: Calypsoify, Masterbar, [Status] Ready to Merge, [Type] Bug

#18428 anchor-fm: set initial settings for podcast player block
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Ready to Merge, [Type] Enhancement

#18347 P2: rename the `ready.o2` event to `ready_p2`
  projects/plugins/jetpack/extensions/blocks/calendly/calendly.php
Labels: Touches WP.com Files, [Block] Calendly, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#18360 Publicize: Allow clearing Publicize custom message if a post title has been set
  projects/plugins/jetpack/extensions/blocks/publicize/form-unwrapped.js
  projects/plugins/jetpack/extensions/blocks/publicize/form.js
  projects/plugins/jetpack/extensions/blocks/publicize/store/selectors.js
Labels: Publicize, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18383 Infinite Scroll: Bust cache
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
Labels: Infinite Scroll, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Dotcom Merge

#18376 Masterbar: Correctly unfold top level menu items for submenu items
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18399 Mirroring: Mirror release branches, conditionally
  .github/files/push-all-projects.sh
  .github/workflows/build.yml
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18358 Dialogue block: Fix dialogue column alignment
  projects/plugins/jetpack/extensions/blocks/dialogue/style.scss
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Block] Dialogue, [Status] Ready to Merge

#18402 CI: Cancel duplicate workflow runs
  .github/workflows/build.yml
  .github/workflows/cancel-dups.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18364 Connection: Accept blog token on 'jetpack.disconnectBlog'
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
Labels: [Package] Connection, [Status] Needs Package Release, [Status] Ready to Merge

#18432 Docker: Add a mu-plugin to fix monorepo package URLs
  tools/docker/mu-plugins/.gitignore
  tools/docker/mu-plugins/fix-monorepo-plugins-url.php
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18436 Conversation: Fix Block Doesn't Load When Running WordPress 5.5
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Status] Needs Team Review

#18138 Instant Search: Integrate new Redux store with component tree
  .eslintignore
  projects/plugins/jetpack/.size-limit.js
  projects/plugins/jetpack/modules/search/instant-search/components/preselected-search-filters.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-filter.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-form.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-sidebar.jsx
  projects/plugins/jetpack/modules/search/instant-search/index.jsx
  projects/plugins/jetpack/modules/search/instant-search/lib/query-string.js
  projects/plugins/jetpack/modules/search/instant-search/store/effects.js
  projects/plugins/jetpack/tools/webpack.config.search.js
  tools/eslint-excludelist.json
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge

#18443 Update Changelog URL
  projects/plugins/jetpack/readme.txt
Labels: General, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#18435 Social Icons Widget: Adds Patreon social icon for social icons widget and menu
  projects/plugins/jetpack/modules/theme-tools/social-menu/icon-functions.php
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.svg
  projects/plugins/jetpack/modules/widgets/social-icons.php
Labels: Extra Sidebar Widgets, Theme Tools, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18448 anchor.fm: check conversation block availability
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Block] Conversation, [Size] M, [Status] Ready to Merge, [Type] Enhancement

#18442 Admin Menu: Declare admin_page_hooks global
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Touches WP.com Files, WP REST API, [Status] Ready to Merge, nav-unification

#18441 Masterbar: Point Sharing menu to Calypso
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, nav-unification

#18392 Admin Page: better handle i18n for disconnection warnings
  projects/plugins/jetpack/_inc/client/components/jetpack-termination-dialog/features.jsx
Labels: Admin Page, Internationalization, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18378 Mirroring: Fix vendor copy of lazy-images in jetpack-production
  .github/files/build-all-projects.sh
  .github/files/check-monorepo-package-repos.sh
  .github/files/push-all-projects.sh
  .github/workflows/composer.yml
  composer.json
  composer.lock
  package.json
  projects/packages/a8c-mc-stats/composer.json
  projects/packages/abtest/composer.json
  projects/packages/assets/composer.json
  projects/packages/blocks/composer.json
  projects/packages/connection/composer.json
  projects/packages/heartbeat/composer.json
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/.gitattributes
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/composer.json
  projects/packages/options/composer.json
  projects/packages/partner/composer.json
  projects/packages/redirect/composer.json
  projects/packages/roles/composer.json
  projects/packages/status/composer.json
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/composer.json
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/cleanup-excludelists.sh
  tools/pre-commit-hook.js
  tools/prettier
  tools/version-packages.sh
Labels: [Package] Lazy Images, [Pri] High, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#18395 Jetpack ES query builder: fix ignored weightings
  projects/plugins/jetpack/_inc/lib/jetpack-wpes-query-builder/jetpack-wpes-query-builder.php
Labels: Search, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#18406 Add additional selectors to allow slideshow to work with Gallery block refactor
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Touches WP.com Files, [Block] Slideshow, [Status] Ready to Merge, [Type] Enhancement

#18047 Podcasts: Add extra checks to the feed detection
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-feed-locator.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/tests/php/_inc/lib/mocks/class-simplepie-file.php
  projects/plugins/jetpack/tests/php/_inc/lib/mocks/class-simplepie-locator.php
  projects/plugins/jetpack/tests/php/_inc/lib/test-class-jetpack-podcast-feed-locator.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Ready to Merge, [Type] Enhancement

#18459 Instant Search: Fix build-search by restore empty resolution to node's fs
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: Build, Instant Search, Search, Touches WP.com Files, [Pri] High, [Status] Needs Review, [Type] Bug

#18461 Mirroring: Flag some more files with production-exclude
  .gitattributes
  projects/plugins/jetpack/.gitattributes
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18112 Tracking: remove dependency to the Jetpack plugin
  package.json
  projects/packages/tracking/.eslintrc.js
  projects/packages/tracking/.gitattributes
  projects/packages/tracking/composer.json
  projects/packages/tracking/src/class-tracking.php
  projects/packages/tracking/src/js/tracks-ajax.js
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/src/class-tracking.php
  tools/eslint-excludelist.json
Labels: Jetpack DNA, Touches WP.com Files, [Package] Tracking, [Status] Needs Package Release, [Status] Needs Tracks Review, [Status] Ready to Merge, [Type] Bug

#18438 Conversation/Dialogue: handling participants enhancements
  projects/plugins/jetpack/extensions/blocks/dialogue/attributes.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Status] Ready to Merge, [Type] Enhancement

#18472 Mirroring: Move build command into composer
  .github/files/build-all-projects.sh
  projects/packages/lazy-images/composer.json
  projects/packages/lazy-images/package.json
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#18390 Dialogue: media control player integration
  projects/plugins/jetpack/extensions/blocks/dialogue/components/timestamp-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/podcast-player.js
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
  projects/plugins/jetpack/extensions/shared/components/media-player-control/Readme.md
  projects/plugins/jetpack/extensions/shared/components/media-player-control/index.js
  projects/plugins/jetpack/extensions/shared/components/media-player-control/style.scss
  projects/plugins/jetpack/extensions/shared/components/media-player-control/utils.js
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/extensions/store/media-source/storeDefinition.js
Labels: Touches WP.com Files, [Block] Dialogue, [Block] Podcast Player, [Size] L, [Status] Ready to Merge

#18460 Tools: Cleanup and update release scripts
  .github/workflows/build.yml
  .github/workflows/js-tests.yml
  .github/workflows/phpunit.yml
  package.json
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tools/prepare-build-branch.sh
  tools/build-release-branch.sh
  tools/create-release-branch.sh
  tools/deploy-to-master-stable-branch.sh
  tools/deploy-to-svn.sh
  tools/eslint-excludelist.json
  tools/get-version.sh
  tools/git-hooks/post-merge-checkout-hook.sh
  tools/git-hooks/pre-commit
  tools/git-hooks/pre-commit-hook.js
  tools/git-hooks/prepare-commit-msg.js
  tools/includes/check-osx-bash-version.sh
  tools/includes/plugin-functions.sh
  tools/includes/proceed_p.sh
  tools/plugin-version.sh
  tools/trigger-travis-build.sh
  tools/version-compare.php
  tools/version-packages.sh
  tools/version-update.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18473 Anchor.fm: align podcast vertical int the middle
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#18483 Git hooks: Update post-merge-checkout-hook.sh
  tools/git-hooks/post-merge-checkout-hook.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18458 Masterbar: Use user_option rather than Connection_Manager
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Ready to Merge, [Type] Task, nav-unification
