Repository Automattic/jetpack, pull requests merged in 2021-09, with the labels that each got.

#20901 Heartbeat: Fix typo
  projects/packages/heartbeat/changelog/fix-typo-heartbeat
  projects/packages/heartbeat/src/class-heartbeat.php
  projects/plugins/jetpack/changelog/fix-typo-heartbeat
  projects/plugins/jetpack/class.jetpack-heartbeat.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Heartbeat

#20910 Widget Visibility: add scaffolding for upcoming editor features.
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/changelog/add-scaffolding-widget-visibilty-block-editor
  projects/plugins/jetpack/gulpfile.babel.js
  projects/plugins/jetpack/modules/widget-visibility/editor/.eslintrc.js
  projects/plugins/jetpack/modules/widget-visibility/editor/README.md
  projects/plugins/jetpack/modules/widget-visibility/editor/index.jsx
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.widget-visibility.js
Labels: Widget Visibility, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Type] Feature, [Pri] Normal, [Plugin] Jetpack

#20890 Update various JS dependencies
  package.json
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-various-js-deps
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#20832 VideoPress: Fix VideoPress Attachment Deletions on wp.com
  projects/plugins/jetpack/changelog/update-videopress-actually-delete
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
Labels: [Type] Bug, VideoPress, [Plugin] Jetpack

#20839 Show HLS Playlist for the VideoPress video url, instead of fragmented mp4 file
  projects/plugins/jetpack/changelog/update-videopress-video-url-hls
  projects/plugins/jetpack/modules/videopress/utility-functions.php
Labels: [Type] Enhancement, VideoPress, [Status] Ready to Merge, [Plugin] Jetpack

#20913 E2E tests: fix missing stack trace in Slack notifications
  projects/plugins/jetpack/changelog/e2e-fix-slack-stacktrace
  projects/plugins/jetpack/tests/e2e/bin/slack.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#20891 storybook: Use webpack 5 everywhere
  package.json
  pnpm-lock.yaml
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal

#20935 Widget Visibility build tools: adjust command in readme
  projects/plugins/jetpack/changelog/update-widget-visibility-editor-readme
  projects/plugins/jetpack/modules/widget-visibility/editor/README.md
Labels: Widget Visibility, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#20919 Connection: remove invalid user token before reconnect
  projects/packages/connection/changelog/fix-reconnect-button-missing
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
Labels: [Type] Bug, [Status] Needs Review, [Status] Needs Cherry-Pick, [Package] Connection

#20900 Backup: fix dashboard styling
  projects/plugins/backup/changelog/fix-backup-dashboard-styling
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/components/rna-styles.scss
Labels: [Status] Ready to Merge, [Status] Design Review Complete, [Plugin] Backup

#20916 VideoPress Block: New Icon for Edit Button
  projects/plugins/jetpack/changelog/update-videopress-block-edit-icon
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#20937 Jetpack Sync: Checksums: Better handling of WooCommerce tables
  projects/packages/sync/changelog/fix-jetpack-sync-checksum-better-woo-handling
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Type] Bug, [Package] Sync, [Status] Needs Cherry-Pick

#20928 Tiled gallery: fix transform again
  projects/plugins/jetpack/changelog/fix-tiled-gallery-transform-again
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Block] Tiled Gallery, [Plugin] Jetpack

#20942 Backport Connection Package Changelog from Release
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/fix-reconnect-button-missing
  projects/packages/connection/src/class-package-version.php
  projects/plugins/jetpack/changelog/jetpack-branch-10.1
Labels: [Status] Ready to Merge, [Package] Connection, [Plugin] Jetpack

#20936 Blocks: fix HTML markup of buttons added to our blocks.
  projects/plugins/jetpack/changelog/fix-button-block-markup
  projects/plugins/jetpack/extensions/blocks/button/button.php
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Gutenberg, [Block] Mailchimp, [Status] Needs Cherry-Pick, [Block] Revue, [Block] Button, [Plugin] Jetpack

#20912 Contact Form: add filter to allow customizing email headers.
  projects/plugins/jetpack/changelog/add-contact-form-header-filter
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Enhancement, Contact Form, [Status] Needs Review, Touches WP.com Files, [Pri] Low, [Plugin] Jetpack

#20945 Search: Improve style specificity for result highlights in Customberg
  projects/plugins/jetpack/changelog/fix-customberg-result-highlight
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, Search, [Status] Needs Cherry-Pick, Instant Search, [Plugin] Jetpack

#20927 Carousel: Fix cursor css selector
  projects/plugins/jetpack/changelog/update-carousel_css_fix
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: [Type] Bug, Carousel, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#20921 Sync: Defensive coding against E_NOTICE
  projects/packages/sync/changelog/fix-wporg-notices
  projects/packages/sync/src/class-rest-sender.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Package] Sync, [Status] Needs Cherry-Pick

#20917 Update renovate config
  .github/files/renovate-helper.sh
  .github/renovate.json
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#20950 Backport Sync and Heartbeat Changelog from Release
  projects/packages/heartbeat/CHANGELOG.md
  projects/packages/heartbeat/changelog/fix-typo-heartbeat
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-jetpack-sync-checksum-better-woo-handling
  projects/packages/sync/changelog/fix-wporg-notices
  projects/packages/sync/src/class-package-version.php
Labels: [Status] Needs Review, [Package] Sync, [Package] Heartbeat

#20952 renovate: Fix config
  .github/renovate.json
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#20953 Related Posts: Prevent fatal when not passing all filter args
  projects/plugins/jetpack/changelog/update-title-filter
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, Related Posts, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#20931 Instant Search customization: use sentence case consistently
  projects/plugins/jetpack/changelog/fix-customberg-case
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/color-control.jsx
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/excluded-post-types-control.jsx
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/sidebar-options.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack

#20962 Search: fix search admin page wrapping issue for ultra wide screens
  projects/plugins/jetpack/_inc/client/search/dashboard/rna-styles.scss
  projects/plugins/jetpack/changelog/fix-fix-style-for-super-wide-screen
Labels: [Status] Ready to Merge, Admin Page, [Pri] High, Search, [Status] Needs Cherry-Pick, Instant Search, [Plugin] Jetpack

#20964 E2E tests: mention users in Slack based on report name and branch name
  projects/plugins/jetpack/changelog/e2e-slack-mention-atomic-runs
  projects/plugins/jetpack/tests/e2e/bin/slack.js
  projects/plugins/jetpack/tests/e2e/config/encrypted.enc
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#20940 Carousel: update prev/next nav button colors
  projects/plugins/jetpack/changelog/update-carousel-nav-colors
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tools/builder/frontend-css.js
Labels: [Type] Bug, Carousel, [Status] Ready to Merge, [Plugin] Jetpack

#20967 Widget Visibility: fix undefined property ref
  projects/plugins/jetpack/changelog/fix-widget-vis-php-notice
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Bug, Widget Visibility, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#20947 Boost: Add more context to api fetch error
  projects/plugins/boost/app/assets/src/js/api/api.ts
  projects/plugins/boost/changelog/improve-add-more-context-to-api-fetch-error
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#20973 Search: hide search sub menu on disconnection
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/fix-hide-search-menu-on-disconnect
Labels: [Status] Ready to Merge, Admin Page, [Pri] High, Search, [Status] Needs Cherry-Pick, Instant Search, [Plugin] Jetpack

#20955 tools: Fix check-intra-monorepo-deps.sh in CI mode
  tools/check-intra-monorepo-deps.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal

#20954 action: Allow renovate helper workflow re-run
  .github/workflows/renovate-helper.yml
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions

#20951 js libs: Set `exports` in `package.json` for renovate
  .github/files/lint-project-structure.sh
  pnpm-lock.yaml
  projects/js-packages/api/changelog/add-js-packages-exports
  projects/js-packages/api/package.json
  projects/js-packages/components/changelog/add-js-packages-exports
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/add-js-packages-exports
  projects/js-packages/connection/package.json
  projects/js-packages/storybook/changelog/add-js-packages-exports
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/add-js-packages-exports
  projects/packages/connection-ui/package.json
  projects/plugins/backup/changelog/add-js-packages-exports
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-js-packages-exports
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, Actions, [Plugin] Jetpack, [Package] Connection UI, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] API, [JS Package] Storybook

#20972 Fix Block Previews
  projects/plugins/jetpack/changelog/fix-calyps-build-hack
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, Gutenberg, [Status] Needs Cherry-Pick, Build, [Plugin] Jetpack

#20971 Fix git hooks when Jetpack is a git submodule of another repository
  tools/js-tools/git-hooks/pre-commit-hook.js
  tools/js-tools/git-hooks/prepare-commit-msg.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#20983 actions: Display all PHP errors in CI
  .github/actions/tool-setup/action.yml
  .github/files/list-changed-projects.php
  tools/get-wp-version.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#20915 E2E Tests: Improve Mailchimp test stability
  projects/plugins/jetpack/changelog/fix-retry-mailchimp-connection-on-failure
  projects/plugins/jetpack/tests/e2e/bin/env.sh
  projects/plugins/jetpack/tests/e2e/config/encrypted.enc
  projects/plugins/jetpack/tests/e2e/lib/env/prerequisites.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/blocks/mailchimp.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/connections.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#20800 Custom CSS: Remove placeholder text to sync with wpcom
  projects/plugins/jetpack/changelog/remove-custom-css-placeholder-text
  projects/plugins/jetpack/modules/custom-css/custom-css.php
Labels: Custom CSS, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#20992 Backport Changelog From 10.1 Release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-button-block-markup
  projects/plugins/jetpack/changelog/fix-calyps-build-hack
  projects/plugins/jetpack/changelog/fix-customberg-result-highlight
  projects/plugins/jetpack/changelog/fix-fix-style-for-super-wide-screen
  projects/plugins/jetpack/changelog/fix-hide-search-menu-on-disconnect
  projects/plugins/jetpack/changelog/fix-removing-social-icons
  projects/plugins/jetpack/changelog/fix-tiled-gallery-transform-again
  projects/plugins/jetpack/changelog/fix-typo-heartbeat
  projects/plugins/jetpack/changelog/fix-widget-vis-php-notice
  projects/plugins/jetpack/changelog/update-carousel-nav-colors
  projects/plugins/jetpack/changelog/update-carousel_css_fix
  projects/plugins/jetpack/changelog/update-title-filter
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#20976 Search: add translator context to menu item to ensure correct translation
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/add-search-menu-translator-context
Labels: [Status] Ready to Merge, Internationalization, Search, [Plugin] Jetpack

#20944 Extensions: Add `plugins` folder. Move `Sharing` into it.
  projects/plugins/jetpack/changelog/update-extensions-add-plugins-folder
  projects/plugins/jetpack/extensions/README.md
  projects/plugins/jetpack/extensions/plugins/sharing/editor.js
  projects/plugins/jetpack/extensions/plugins/sharing/index.js
  projects/plugins/jetpack/extensions/plugins/sharing/sharing-checkbox.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: Enhanced Distribution, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Extensions] Publicize

#20979 Contact Form: adjust wording for filter description.
  projects/plugins/jetpack/changelog/update-form-filter-note-caution
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Enhancement, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Pri] Low, [Plugin] Jetpack, [Block] Contact Form

#20788 Add a generator for js-packages
  tools/cli/commands/generate.js
  tools/cli/skeletons/common/package.json
  tools/cli/skeletons/js-packages/.gitattributes
  tools/cli/skeletons/js-packages/.nycrc
  tools/cli/skeletons/js-packages/test-main.jsx
  tools/cli/tests/unit/helpers/mergeDirs.test.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#21005 CLI: add 'cli status'
  tools/cli/commands/cli.js
Labels: [Status] Needs Review, [Tools] Development CLI

#21007 Settings: show "Connect" button on Media card in site-only mode
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/performance/index.jsx
  projects/plugins/jetpack/_inc/client/performance/media.jsx
  projects/plugins/jetpack/changelog/fix-settings-media-site-only
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#20895 AAG: Dashboard: improve perf of the AK dashboard card.
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/update-aag-akismet-query
Labels: [Type] Enhancement, Performance, [Status] Ready to Merge, Admin Page, [Pri] Low, Anti-Spam, [Plugin] Jetpack

#21001 Subscription Block: adds class to submit button
  projects/plugins/jetpack/changelog/add-class-subscription-button
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: Subscriptions, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#20990 Allow current node LTS 14.17.6
  package.json
  projects/github-actions/repo-gardening/changelog/try-allow-node-14
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/required-review/changelog/try-allow-node-14
  projects/github-actions/required-review/package.json
  projects/js-packages/api/changelog/try-allow-node-14
  projects/js-packages/api/package.json
  projects/js-packages/base-styles/changelog/try-allow-node-14
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/changelog/try-allow-node-14
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/try-allow-node-14
  projects/js-packages/connection/package.json
  projects/js-packages/eslint-changed/changelog/try-allow-node-14
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/storybook/changelog/try-allow-node-14
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/try-allow-node-14
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/changelog/try-allow-node-14
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/jitm/changelog/try-allow-node-14
  projects/packages/jitm/package.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/lazy-images/changelog/try-allow-node-14
  projects/packages/lazy-images/package.json
  projects/plugins/backup/changelog/try-allow-node-14
  projects/plugins/backup/package.json
  projects/plugins/boost/changelog/try-allow-node-14
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/try-allow-node-14
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/search/changelog/try-allow-node-14
  projects/plugins/search/package.json
  tools/cli/package.json
  tools/cli/skeletons/common/package.json
  tools/js-test-runner/package.json
  tools/js-tools/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Actions, E2E Tests, [Package] Lazy Images, [Tools] Development CLI, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, [Package] Identity Crisis, [Action] Required Review, [JS Package] Connection, [Action] Repo Gardening, [Plugin] Backup, [JS Package] Eslint Changed, [JS Package] Components, [Plugin] Boost, [JS Package] API, [JS Package] Base Styles, [JS Package] Storybook, [Plugin] Search

#20809 CLI: Add Jetpack Test Command
  tools/cli/cliRouter.js
  tools/cli/commands/test.js
Labels: [Status] Needs Review, [Tools] Development CLI

#21003 Fix/20961 recolor score bars
  projects/plugins/boost/app/assets/src/css/components/score.scss
  projects/plugins/boost/app/assets/src/css/main/variables.scss
  projects/plugins/boost/changelog/fix-20961-recolor-score-bars
Labels: [Status] Needs Team Review, OSS Citizen, [Plugin] Boost, [Boost Feature] Speed Score

#20999 Sharing Plugin: Keep polishing implementation
  projects/plugins/jetpack/changelog/update-polishing-show-sharing-button-plugin
  projects/plugins/jetpack/extensions/plugins/sharing/components/show-sharing-control/Readme.md
  projects/plugins/jetpack/extensions/plugins/sharing/components/show-sharing-control/index.js
  projects/plugins/jetpack/extensions/plugins/sharing/index.js
  projects/plugins/jetpack/extensions/plugins/sharing/sharing-checkbox.js
Labels: [Type] Enhancement, Sharing, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [extension] Sharing

#20720 Add an image thumbnail to wp-admin post list.
  .github/renovate.json
  projects/packages/post-list/.gitattributes
  projects/packages/post-list/.gitignore
  projects/packages/post-list/CHANGELOG.md
  projects/packages/post-list/README.md
  projects/packages/post-list/changelog/.gitkeep
  projects/packages/post-list/changelog/add-post-list-package
  projects/packages/post-list/composer.json
  projects/packages/post-list/phpunit.xml.dist
  projects/packages/post-list/src/class-post-list.php
  projects/packages/post-list/src/class-post-thumbnail.php
  projects/packages/post-list/src/index.js
  projects/packages/post-list/src/style.css
  projects/packages/post-list/tests/php/bootstrap.php
  projects/packages/post-list/tests/php/test-post-list.php
  projects/packages/post-list/tests/php/test-post-thumbnail.php
Labels: [Status] Ready to Merge, Admin Page, [Type] Feature, [Package] Post List

#20985 E2E tests: log Jetpack version
  projects/plugins/jetpack/changelog/e2e-get-jetpack-version
  projects/plugins/jetpack/tests/e2e/bin/slack.js
  projects/plugins/jetpack/tests/e2e/lib/api/wp-api.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/block-editor.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/pnpm-lock.yaml
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#21013 Contact Form block: Respect the height of the Spacer block nested between two form fields
  projects/plugins/jetpack/changelog/fix-contact-form-block-spacer-styling
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21025 Slideshow block: Remove "fade" transition slide background
  projects/plugins/jetpack/changelog/fix-slideshow-block-fade-transition-background
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Slideshow, [Plugin] Jetpack

#20883 Notifications and Reader: Fix Spotify shortcode render
  projects/plugins/jetpack/changelog/fix-spotify-shortcode-notification-reader-render
  projects/plugins/jetpack/modules/shortcodes/spotify.php
Labels: Notifications, Shortcodes / Embeds, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21014 Jetpack Assistant: Correct purchased product feature class
  projects/plugins/jetpack/_inc/client/recommendations/product-purchased/index.jsx
  projects/plugins/jetpack/changelog/update-product-purchased-feature-classnname
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#20869 Notifications: Fix SoundCloud shortcode render
  projects/plugins/jetpack/changelog/fix-soundcloud-shortcode-notification-render
  projects/plugins/jetpack/modules/shortcodes/soundcloud.php
Labels: Notifications, Shortcodes / Embeds, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21037 Jetpack Sync: Fix broken Sync unit tests
  projects/plugins/jetpack/changelog/fix-jetpack-sync-unit-tests-failing
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: [Type] Bug, [Status] Needs Review, Unit Tests, [Package] Sync, [Plugin] Jetpack

#21019 actions: Don't run Beta Plugin artifact action on forked PRs
  .github/workflows/build.yml
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions

#21030 Unit tests: Fix silent errors in Jetpack tests
  projects/plugins/jetpack/changelog/fix-coverage-annotations
  projects/plugins/jetpack/tests/php/modules/masterbar/data/admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-dashboard-switcher-tracking.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.quiz.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: Shortcodes / Embeds, [Status] In Progress, Unit Tests, Touches WP.com Files, [Pri] BLOCKER, Masterbar, [Plugin] Jetpack

#20920 SEO Tools: add archive_title page title token
  projects/plugins/jetpack/_inc/client/traffic/seo/custom-seo-titles.jsx
  projects/plugins/jetpack/_inc/client/traffic/seo/test/component.js
  projects/plugins/jetpack/changelog/add-seo-archive-title
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo-titles.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, SEO Tools, [Plugin] Jetpack

#21016 Publicize: move it to plugins folder
  projects/plugins/jetpack/changelog/update-move-publicize-to-plugins
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-verify/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/form-unwrapped/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/form/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/panel/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/settings-button/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/options.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/test/.eslintrc.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/test/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/test/options.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/test/tweet-divider.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/tweet-divider.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/actions.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/controls.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/effects.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/middlewares.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/reducer.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/selectors.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/test/.eslintrc.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/test/actions.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/test/reducer.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/test/selectors.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  tools/eslint-excludelist.json
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Publicize, [Extension] Publicize

#21045 Unit tests: test_get_user_connection_data_with_connected_user skip for multisite
  projects/plugins/jetpack/changelog/fix-api-multisite-test
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: [Status] Needs Review, [Plugin] Jetpack

#21031 Boost: Fix Critical CSS resume on module re-enable
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/changelog/fix-critical-css-resume
Labels: [Status] In Progress, [Plugin] Boost

#21053 Fix/phpunit failed on multisite
  projects/plugins/jetpack/changelog/fix-phpunit-failed-on-multisite
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: [Type] Bug, [Status] Needs Review, Unit Tests, [Plugin] Jetpack

#21049 Admin Menu: Sanitize current screen identifier
  projects/plugins/jetpack/changelog/fix-sanitize-paramter-current-screen
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, OSS Citizen, nav-unification

#21055 Admin Menu: Fix skipped tests
  projects/plugins/jetpack/changelog/fix-screen-options-switcher-tests
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, nav-unification, [Plugin] Jetpack

#21054 E2E tests: fix for logging Jetpack version
  .github/workflows/e2e-tests-atomic.yml
  projects/plugins/jetpack/changelog/e2e-fix-version
  projects/plugins/jetpack/tests/e2e/bin/slack.js
  projects/plugins/jetpack/tests/e2e/lib/api/wp-api.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
Labels: [Status] Needs Review, Actions, E2E Tests, [Plugin] Jetpack

#20871 Notifications: Fix VR shortcode render
  projects/plugins/jetpack/changelog/fix-vr-shortcode-notification-render
  projects/plugins/jetpack/modules/shortcodes/vr.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#20993 Theme Tools: rm extra Social Menu added in Twenty Twenty theme
  projects/plugins/jetpack/changelog/update-twentytwenty-compat-social-menu
  projects/plugins/jetpack/modules/theme-tools/compat/twentytwenty.php
Labels: [Type] Bug, Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#21008 Search: Improve filter label alignment for longer terms
  projects/plugins/jetpack/changelog/fix-search-filter-label-alignment
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack

#20922 Fix/20806 Browser console deprecation warning for BlcokControl entity
  projects/plugins/jetpack/changelog/browser-console-warning-fixed
  projects/plugins/jetpack/extensions/blocks/gathering-tweetstorms/editor.js
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, Gutenberg, OSS Citizen, [Block] Gathering Tweetstorms

#21004 jetpack: Work around another calypso-build oddity
  projects/plugins/jetpack/changelog/fix-another-calypso-build-bug
  projects/plugins/jetpack/modules/search/customberg/index.jsx
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
  projects/plugins/jetpack/tools/webpack.config.search-configure.js
  projects/plugins/jetpack/tools/webpack.config.search.js
  projects/plugins/jetpack/tools/webpack.config.widget-visibility.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Search, [Plugin] Jetpack

#21015 Boost: Fix linting config and standards in files
  .eslintignore
  projects/plugins/boost/.eslintignore
  projects/plugins/boost/.eslintrc_disabled
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/changelog/fix-boost-linting-setup-and-standards
  projects/plugins/boost/tsconfig.json
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Boost

#21034 Label Task: handle new block plugin type
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-block-plugins
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#21000 Notifications: fix YouTube shortcode render in Calypso
  projects/plugins/jetpack/changelog/update-youtube-shortcode
  projects/plugins/jetpack/modules/shortcodes/youtube.php
Labels: Notifications, Shortcodes / Embeds, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21044 Boost: detect xframe options
  projects/plugins/boost/app/assets/src/js/utils/describe-critical-css-recommendations.ts
  projects/plugins/boost/changelog/fix-detect-xframe-options
Labels: [Status] Ready to Merge, OSS Citizen, [Plugin] Boost

#21071 Boost: Fix module toggle console error
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/changelog/fix-module-toggle-console-error
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#20998 instant-search: Remove IE11 polyfill
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/remove-instant-search-ie11-polyfill
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/instant-search/ie11-polyfill.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, Search, Instant Search, [Plugin] Jetpack

#21072 RNA Connect Button: Display error message on site registration failure
  projects/js-packages/connection/changelog/update-rna-connect-button-error-handling
  projects/js-packages/connection/components/connect-button/index.jsx
  projects/js-packages/connection/components/connect-button/style.scss
Labels: [Type] Enhancement, [Status] Needs Review, [JS Package] Connection

#21070 Connection status card: Update styles
  projects/js-packages/connection/changelog/update-connection-status-card-styles
  projects/js-packages/connection/components/connection-status-card/style.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, [JS Package] Connection

#20925 [RNMobile] Register Jetpack Tiled Gallery for native mobile
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.native.scss
  projects/plugins/jetpack/extensions/editor.native.js
Labels: [Type] Enhancement, [Status] In Progress, Touches WP.com Files, Gutenberg, [Block] Tiled Gallery, [Plugin] Jetpack

#21083 tools: Add a tool to list GitHub secret names in repos
  tools/js-tools/list-gh-secrets.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low

#21084 post-list: Fix mirror repo name
  projects/packages/post-list/changelog/fix-post-list-mirror-repo-name
  projects/packages/post-list/composer.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Post List

#21073 Related Posts: enable lazy loading for images.
  projects/plugins/jetpack/changelog/update-related-posts-img-lazy
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/related-posts/related-posts.js
Labels: [Type] Enhancement, Related Posts, [Status] Ready to Merge, Touches WP.com Files, [Pri] Low, [Plugin] Jetpack, [Block] Related Posts

#21078 repo-gardening: Use `pull_request_target` for all tasks
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-pr-target
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/get-affected-changelogger-projects.js
  projects/github-actions/repo-gardening/src/get-pr-workspace.js
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Action] Repo Gardening

#21099 Backup: update readme to include support doc info
  projects/plugins/backup/changelog/update-backup-readme-docs
  projects/plugins/backup/readme.txt
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Pri] Normal, [Plugin] Backup

#21082 Admin Page: do not display JP version in UI on WoA sites
  projects/plugins/jetpack/_inc/client/components/footer/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/state-notices.jsx
  projects/plugins/jetpack/changelog/update-version-jetpack-atomic
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Pri] Low, [Plugin] Jetpack

#20934 E2E tests: save video for all tabs
  projects/plugins/jetpack/changelog/e2e-save-video-for-all-pages
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/pages/page-actions.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/block-editor.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/connections.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#21076 E2E tests: get Jetpack version for local sites
  projects/plugins/jetpack/changelog/e2e-get-version-for-local-sites
  projects/plugins/jetpack/tests/e2e/bin/app-password.sh
  projects/plugins/jetpack/tests/e2e/bin/env.sh
  projects/plugins/jetpack/tests/e2e/config/custom-environment-variables.json
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/env/prerequisites.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
Labels: [Status] In Progress, E2E Tests, [Plugin] Jetpack

#21040 Custom Content Types: Improve loading of Testimonal CPT
  projects/plugins/jetpack/changelog/fix-cpt-call
  projects/plugins/jetpack/modules/custom-post-types/testimonial.php
Labels: [Type] Bug, Custom Content Types, Performance, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21075 Sharing: Icon position fix
  projects/plugins/jetpack/changelog/fix-sharing-icon-position-button
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Status] Needs Review, Touches WP.com Files, [Pri] Normal, OSS Citizen, [Plugin] Jetpack, [Extensions] Sharing

#21017 [Plugin] Backup: Change button border and updated margins for sections
  projects/plugins/backup/changelog/update-backup-plugin-styles-v1
  projects/plugins/backup/src/js/components/admin-style.scss
Labels: [Status] Needs Team Review, [Plugin] Backup

#21026 Boost: Fix TypeScript linting setup and issues
  projects/plugins/boost/.eslintrc.js
  projects/plugins/boost/app/assets/src/js/api/api.ts
  projects/plugins/boost/app/assets/src/js/api/modules.ts
  projects/plugins/boost/app/assets/src/js/api/speed-scores.ts
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/stores/config.ts
  projects/plugins/boost/app/assets/src/js/stores/connection.ts
  projects/plugins/boost/app/assets/src/js/stores/critical-css-recommendations.ts
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/assets/src/js/stores/url-fragment.ts
  projects/plugins/boost/app/assets/src/js/utils/action-link-template-var.ts
  projects/plugins/boost/app/assets/src/js/utils/external-link-template-var.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/app/assets/src/js/utils/make-admin-ajax-request.ts
  projects/plugins/boost/app/assets/src/js/utils/poll-promise.ts
  projects/plugins/boost/app/assets/src/js/utils/remove-admin-notices.ts
  projects/plugins/boost/app/assets/src/js/utils/sort-by-frequency.ts
  projects/plugins/boost/app/assets/src/js/utils/standardize-error.ts
  projects/plugins/boost/app/assets/src/js/utils/support-link-template-var.ts
  projects/plugins/boost/app/assets/src/js/utils/types.ts
  projects/plugins/boost/changelog/fix-boost-linting-typescript
  projects/plugins/boost/package.json
  projects/plugins/boost/tsconfig.json
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Boost

#21096 Boost: clear css on theme switch
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/fix-clear-css-on-theme-switch
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, OSS Citizen, [Plugin] Boost, [Boost Feature] Critical CSS

#21095 Fix check dev env script when Jetpack is submodule
  tools/check-development-environment.sh
Labels: [Status] Ready to Merge, [Tools] Development CLI

#21106 Update google photos icon + logo
  projects/plugins/jetpack/changelog/update-google-photos-icon
  projects/plugins/jetpack/extensions/shared/icons.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Extensions] External Media, [Plugin] Jetpack

#21110 Jetpack Components: fix height prop for JetpackLogo
  projects/js-packages/components/changelog/fix-warning-jetpack-logo
  projects/js-packages/components/components/jetpack-footer/index.jsx
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, [JS Package] Components

#21111 Docker: update references to extra config files.
  tools/cli/helpers/docker-config.js
  tools/docker/compose-extras.yml.sample
  tools/docker/compose-volumes.yml.sample
Labels: Docs, [Status] Ready to Merge, [Pri] Low, Docker, [Tools] Development CLI

#21112 Docker: Fix a bug in $COMPOSE_PROJECT_NAME
  tools/docker/bin/install.sh
  tools/docker/bin/run.sh
  tools/docker/docker-compose.yml
Labels: [Status] Ready to Merge, Docker

#21105 Update division in scss files for sass deprecation
  projects/plugins/backup/changelog/fix-sass-division-deprecation
  projects/plugins/backup/src/js/components/masthead/calypso-mixins.scss
  projects/plugins/jetpack/_inc/client/scss/calypso-mixins.scss
  projects/plugins/jetpack/_inc/client/scss/functions/rem.scss
  projects/plugins/jetpack/changelog/fix-sass-division-deprecation
  projects/plugins/jetpack/extensions/blocks/donations/view.scss
  projects/plugins/jetpack/extensions/blocks/podcast-player/style.scss
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.scss
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/editor.scss
  projects/plugins/jetpack/scss/atoms/typography/_functions.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Block] Tiled Gallery, [Block] Podcast Player, [Block] Story, [Block] Donations, [Plugin] Jetpack, [Plugin] Backup

#21116 Docker: Fix shebang printing from `wp`
  tools/docker/Dockerfile
  tools/docker/bin/install.sh
  tools/docker/bin/run.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Docker

#21085 Publicize: message box control component
  projects/plugins/jetpack/changelog/update-publicize-add-message-control-component
  projects/plugins/jetpack/extensions/plugins/publicize/components/form-unwrapped/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/form/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/message-box-control/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/settings-button/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Size] M, [Plugin] Jetpack, [Extension] Publicize

#21092 Search: Remove dependency on @wordpress/interface
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/remove-interface-from-customberg
  projects/plugins/jetpack/modules/search/customberg/components/header/index.jsx
  projects/plugins/jetpack/modules/search/customberg/components/header/styles.scss
  projects/plugins/jetpack/modules/search/customberg/components/layout/index.jsx
  projects/plugins/jetpack/modules/search/customberg/components/layout/interface.jsx
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/index.jsx
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/styles.scss
  projects/plugins/jetpack/modules/search/customberg/components/sidebar/tabs.jsx
  projects/plugins/jetpack/modules/search/customberg/lib/constants.js
  projects/plugins/jetpack/modules/search/customberg/lib/wordpress-interface.scss
  projects/plugins/jetpack/modules/search/customberg/styles.scss
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, Search, [Plugin] Jetpack

#20867 Google Calendar: Allow iFrame popups
  projects/plugins/jetpack/changelog/update-google-calendar-sandbox-popups
  projects/plugins/jetpack/extensions/blocks/google-calendar/google-calendar.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Google Calendar, [Plugin] Jetpack

#21050 Instagram Widget: Remove from legacy-widget block
  projects/plugins/jetpack/changelog/instagram-widget-block
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/index.js
  projects/plugins/jetpack/modules/widgets/class-jetpack-instagram-widget.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack

#21134 Ads: Fix Typo in Banner
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/changelog/fix-typo-in-ad-banner
Labels: [Status] Ready to Merge, Admin Page, WordAds, [Plugin] Jetpack

#21130 issue templates: Add more "none/other" options
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#20938 Config Package: Allow for enabling post_list package
  projects/packages/config/changelog/update-config-class-with-post-list
  projects/packages/config/composer.json
  projects/packages/config/src/class-config.php
  projects/plugins/backup/changelog/update-config-class-with-post-list
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-config-class-with-post-list
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-config-class-with-post-list
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Type] Happiness Request, [Size] XL, [Package] Config, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search

#20997 jetpack: Use `[contenthash]` in Webpack chunk names
  projects/plugins/jetpack/changelog/try-webpack-contenthash
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
  projects/plugins/jetpack/tools/webpack.config.search-configure.js
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, Gutenberg, Instant Search, [Plugin] Jetpack

#21122 jetpack: Replace unnecessary `page` dep
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/client/mixins/url-search/index.js
  projects/plugins/jetpack/changelog/remove-unnecessary-page-dep
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#21125 docker: Add node and pnpm to the dev environment
  tools/cli/commands/docker.js
  tools/docker/Dockerfile
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Docker, [Tools] Development CLI

#21113 Boost: Refactor module deactivate and uninstall methodology
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/modules/class-module.php
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/update-module-deactivate-and-uninstall
  projects/plugins/boost/tests/php/mocks/mock-module.php
  projects/plugins/boost/tests/php/modules/test-class-module.php
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#21090 Publicize: Improve primary form component.
  projects/plugins/jetpack/changelog/update-publicize-add-hooks-to-improve-data-flow
  projects/plugins/jetpack/extensions/plugins/publicize/components/form-unwrapped/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/form/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-connections/Readme.md
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-connections/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-message/Readme.md
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-message/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Size] M, [Plugin] Jetpack, [Extension] Publicize

#21101 Implement SmartFrame embedding
  projects/plugins/jetpack/changelog/add-smartframe-embed-support
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/index.js
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/smartframe.js
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/modules/shortcodes/smartframe.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.smartframe-HttpRequestCache.json
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.smartframe.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Type] Feature, [Plugin] Jetpack

#21114 E2E tests: include commit SHA in Jetpack version
  projects/plugins/jetpack/changelog/e2e-add-gh-sha-jetpack-version
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#21131 Posts List: Don't display the category and tag columns by default.
  projects/packages/post-list/changelog/update-posts-list-default-columns
  projects/packages/post-list/src/class-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21126 Refactor post list thumbnail preview to function server side. All javascript removed.
  projects/packages/post-list/changelog/refactor-server-side
  projects/packages/post-list/src/class-post-list.php
  projects/packages/post-list/src/class-post-thumbnail.php
  projects/packages/post-list/src/index.js
  projects/packages/post-list/src/rtl.css
  projects/packages/post-list/src/style.css
  projects/packages/post-list/tests/php/bootstrap.php
  projects/packages/post-list/tests/php/test-post-list.php
  projects/packages/post-list/tests/php/test-post-thumbnail.php
Labels: [Status] Ready to Merge, [Package] Post List

#21158 Release new post list package
  projects/packages/post-list/CHANGELOG.md
  projects/packages/post-list/changelog/add-post-list-package
  projects/packages/post-list/changelog/fix-post-list-mirror-repo-name
  projects/packages/post-list/changelog/refactor-server-side
  projects/packages/post-list/changelog/update-posts-list-default-columns
  projects/packages/post-list/src/class-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21028 Adding BottomSheet settings for Tiled Gallery
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/settings.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/styles.native.scss
Labels: [Status] In Progress, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21145 Boost: Insecure ajax api and verify current user capabilities
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/stores/critical-css-recommendations.ts
  projects/plugins/boost/app/assets/src/js/utils/make-admin-ajax-request.ts
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/insecure-ajax-api
Labels: OSS Citizen, [Plugin] Boost, [Boost Feature] Critical CSS

#21157 Fix Jetpack tests after WordPress backported polyfill stuff to 5.7
  .github/files/setup-wordpress-env.sh
  docs/development-environment.md
  docs/examples/bootstrap.php
  docs/monorepo.md
  projects/packages/backup/actions.php
  projects/packages/backup/changelog/fix-tests-after-wp-broke-them
  projects/packages/backup/src/class-package-version.php
  projects/packages/compat/changelog/fix-tests-after-wp-broke-them
  projects/packages/compat/functions.php
  projects/packages/connection/changelog/fix-tests-after-wp-broke-them
  projects/packages/connection/composer.json
  projects/packages/connection/legacy/class-jetpack-ixr-client.php
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/connection/legacy/load-ixr.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-xmlrpc-connector.php
  projects/plugins/backup/changelog/fix-tests-after-wp-broke-them
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-tests-after-wp-broke-them
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-tests-after-wp-broke-them
  projects/plugins/jetpack/changelog/fix-tests-after-wp-broke-them#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/action-phpunit.sh
  projects/plugins/jetpack/tests/action-test-coverage.sh
  projects/plugins/jetpack/tests/action-test-php.sh
  projects/plugins/jetpack/tests/maybe-downgrade-phpunit.sh
  projects/plugins/jetpack/tests/php.multisite.xml
  projects/plugins/jetpack/tests/php/bootstrap.php
  projects/plugins/jetpack/tests/php/find-test-root.php
  tools/check-development-environment.sh
  tools/cli/commands/docker.js
  tools/docker/Dockerfile
  tools/docker/README.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] BLOCKER, Docker, Actions, [Package] Connection, [Tools] Development CLI, [Plugin] Jetpack, [Package] Compat, [Package] Backup, [Plugin] Backup, [Plugin] Boost

#21107 Publicize: fix refreshing social media connections
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-publicize-refresh-social-media-connections
  projects/plugins/jetpack/extensions/plugins/publicize/components/form/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/panel/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/settings-button/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-post-just-saved/Readme.md
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-post-just-saved/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-connections/Readme.md
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-social-media-connections/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/actions.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/effects.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/reducer.js
  projects/plugins/jetpack/extensions/plugins/publicize/store/selectors.js
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Status] Needs Team Review, [Size] L, [Plugin] Jetpack, [Extension] Publicize

#21159 Release config package
  projects/packages/config/CHANGELOG.md
  projects/packages/config/changelog/update-config-class-with-post-list
Labels: [Status] Ready to Merge, [Package] Config

#21151 Multisite: remove commented out code, fix linting warnings & errors
  projects/plugins/jetpack/changelog/update-network-settings-janitorial
  projects/plugins/jetpack/views/admin/network-settings.php
  tools/phpcs-excludelist.json
Labels: Multisite, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#21152 Beautiful Math: move away from the use of extract()
  projects/plugins/jetpack/changelog/update-latex-extract-janitorial
  projects/plugins/jetpack/modules/latex.php
Labels: Beautiful Math, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#21123 Contact Form: Add filters to allow Akismet to add custom form fields for better anti-spam effectiveness.
  projects/plugins/jetpack/changelog/cfinke-contact-form-filters
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Enhancement, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#20731 Widget Visibility: add controls to widget block editor
  projects/plugins/jetpack/changelog/add-widget-visibility-block-editor
  projects/plugins/jetpack/modules/widget-visibility/editor/index.jsx
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions/widget-conditions.css
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions/widget-conditions.js
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php/modules/widget-visibility/test_widget-visibility.php
  tools/eslint-excludelist.json
Labels: Widget Visibility, Extra Sidebar Widgets, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Type] Feature, [Status] Needs Testing, [Plugin] Jetpack

#21104 IDC: rename the sync_idc_optin method, filter, and constant to should_handle_idc
  projects/packages/identity-crisis/changelog/update-idc_remove_sync_from_names
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
  projects/packages/sync/changelog/update-idc_remove_sync_from_names
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-debug-data.php
  projects/plugins/jetpack/changelog/update-idc_remove_sync_from_names
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Sync, [Pri] Normal, [Plugin] Jetpack, [Package] Identity Crisis

#21100 Term Checksums - fix item count discrepancy
  projects/packages/sync/changelog/fix-checksum_terms_count
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync

#21176 Widgets: remove use of extract in widgets
  projects/plugins/jetpack/changelog/fix-extract-usage-D67194
  projects/plugins/jetpack/modules/widgets/facebook-likebox.php
  projects/plugins/jetpack/modules/widgets/gallery.php
  projects/plugins/jetpack/modules/widgets/rsslinks-widget.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21174 Color lib: avoid the use of extract()
  projects/plugins/jetpack/_inc/lib/class.color.php
  projects/plugins/jetpack/changelog/2021-09-23-18-49-09-569454
Labels: Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21183 PHP 7.4 Compatibility: Remove deprecated function
  projects/plugins/jetpack/changelog/fusion-sync-jeherve-r225393-wpcom-1632466003
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, [Type] Dotcom Merge, [Status] Tested on WP.com, Touches WP.com Files, [Pri] Normal, Masterbar, nav-unification, [Plugin] Jetpack

#21164 Publicize: Sync change to fix the custom excerpt
  projects/plugins/jetpack/_inc/lib/class.media-summary.php
  projects/plugins/jetpack/changelog/update-media-summary
Labels: Publicize, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21154 E2E Tests: Improve tests stability
  projects/plugins/jetpack/changelog/fix-e2e-jetpack-flakiness
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/jetpack.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/connections.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#21179 Search: fix search dashboard buttons style
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.scss
  projects/plugins/jetpack/changelog/fix-search-dashboard-buttons
Labels: [Status] Needs Review, Admin Page, [Pri] High, Search, Instant Search, [Plugin] Jetpack

#21140 Changelogger: try a new format
  projects/packages/changelogger/README.md
  projects/packages/changelogger/changelog/update-changelogger-version-wordpress
  projects/packages/changelogger/src/Plugins/WordpressVersioning.php
  projects/packages/changelogger/tests/php/tests/src/Plugins/WordpressVersioningTest.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Pri] Normal, [Package] Changelogger

#21190 Jetpack Plugin: Product suggestion introductory price indicator
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestions/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestions/style.scss
  projects/plugins/jetpack/changelog/update-product-suggestions-introductory-price
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#21144 Search: Enable search on private WPCOM simple sites
  projects/plugins/jetpack/changelog/fix-search-for-simple-private-sites
  projects/plugins/jetpack/modules/search/instant-search/external/wpcom-proxy-request.js
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
  tools/eslint-excludelist.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack, [Plugin] Search

#20676 Stats: Move Jetpack Stats Widget in WP Dashboard to Own Class
  projects/plugins/jetpack/changelog/update-stats-widget
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
  projects/plugins/jetpack/class.jetpack.php
Labels: Stats, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#21171 Jetpack Recommendations: Fix existing Product Suggestions tracks
  projects/plugins/jetpack/_inc/client/recommendations/product-purchased/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestion/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestion/test/component.js
  projects/plugins/jetpack/changelog/update-product-suggestions-tracking
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, Tracks, [Plugin] Jetpack

#20932 Jetpack Search customization: show title on mobile
  projects/plugins/jetpack/changelog/fix-customberg-title
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/modules/search/customberg/components/header/index.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack

#21148 External Media: Update Google Photos connect
  projects/plugins/jetpack/changelog/update-google-photos-verbiage
  projects/plugins/jetpack/extensions/shared/external-media/sources/google-photos/auth-instructions.js
  projects/plugins/jetpack/extensions/shared/external-media/sources/google-photos/google-photos-auth.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Extensions] External Media, [Plugin] Jetpack

#20865 Update Sync annotations versions
  projects/packages/sync/changelog/update-sync-annotations
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-functions.php
  projects/packages/sync/src/class-listener.php
  projects/packages/sync/src/class-main.php
  projects/packages/sync/src/class-modules.php
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/src/class-rest-sender.php
  projects/packages/sync/src/class-sender.php
  projects/packages/sync/src/class-server.php
  projects/packages/sync/src/modules/class-attachments.php
  projects/packages/sync/src/modules/class-callables.php
  projects/packages/sync/src/modules/class-comments.php
  projects/packages/sync/src/modules/class-constants.php
  projects/packages/sync/src/modules/class-full-sync-immediately.php
  projects/packages/sync/src/modules/class-full-sync.php
  projects/packages/sync/src/modules/class-import.php
  projects/packages/sync/src/modules/class-menus.php
  projects/packages/sync/src/modules/class-network-options.php
  projects/packages/sync/src/modules/class-options.php
  projects/packages/sync/src/modules/class-plugins.php
  projects/packages/sync/src/modules/class-posts.php
  projects/packages/sync/src/modules/class-terms.php
  projects/packages/sync/src/modules/class-themes.php
  projects/packages/sync/src/modules/class-updates.php
  projects/packages/sync/src/modules/class-users.php
  projects/packages/sync/src/modules/class-woocommerce.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Package] Sync

#21150 Emails: Add new menu item for "Inbox", add tests for this operation.
  projects/plugins/jetpack/changelog/add-new-menu-item-for-inbox-functionality
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#21120 Shortcodes: remove Hulu
  projects/plugins/jetpack/changelog/remove-deprecated-video-shortcodes
  projects/plugins/jetpack/modules/shortcodes/hulu.php
  projects/plugins/jetpack/modules/shortcodes/unavailable.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.hulu.php
  tools/phpcs-excludelist.json
Labels: Shortcodes / Embeds, [Status] Needs Review, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#20783 Add @automattic/jetpack-analytics package
  .github/renovate.json
  pnpm-lock.yaml
  projects/js-packages/analytics/.gitattributes
  projects/js-packages/analytics/CHANGELOG.md
  projects/js-packages/analytics/README.md
  projects/js-packages/analytics/changelog/.gitkeep
  projects/js-packages/analytics/changelog/initial-version
  projects/js-packages/analytics/composer.json
  projects/js-packages/analytics/index.jsx
  projects/js-packages/analytics/package.json
  projects/js-packages/analytics/test/analytics.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/lib/analytics/index.js
  projects/plugins/jetpack/changelog/add-jetpack-analytics-package
  projects/plugins/jetpack/package.json
  tools/eslint-excludelist.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, [JS Package] Analytics

#21192 Post API endpoint: eliminate use of extract()
  projects/plugins/jetpack/changelog/fix-extract-usage-D67198
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-post-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-post-v1-1-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21006 VideoPress: Allow feature for free sites and add paid product purchase flow
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/videopress.jsx
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/_inc/client/performance/media.jsx
  projects/plugins/jetpack/_inc/client/performance/style.scss
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/add-videopress-support-free-tier
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/images/products/product-jetpack-videopress.svg
Labels: [Type] Enhancement, VideoPress, [Status] Ready to Merge, Admin Page, [Pri] High, [Status] Needs Testing, [Plugin] Jetpack
