Repository Automattic/jetpack, pull requests merged in 2021-07, with the labels that each got.

#20240 Revert the carousel overlay z-index to previous settings
  projects/plugins/jetpack/changelog/revert-carousel-z-index
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20219 Carousel: Fix a bunch of feedback from #20107
  projects/plugins/jetpack/changelog/fix-swiper-merge-followups
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Status] Needs Team Review

#20222 Carousel refactor: use svgs for prev/next instead of default swiper font icons
  projects/plugins/jetpack/changelog/update-carousel-to-use-svgs
  projects/plugins/jetpack/modules/carousel/images/arrows-2x.png
  projects/plugins/jetpack/modules/carousel/images/arrows.png
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20234 Contact Form: Remove textarea border setting
  projects/plugins/jetpack/changelog/2021-06-30-16-41-00-088860
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
Labels: Touches WP.com Files, [Block] Contact Form, [Plugin] Jetpack, [Status] Ready to Merge

#20230 E2E checks: removed obsolete field sent to reporter workflow
  .github/workflows/e2e-tests.yml
Labels: Actions, [Status] Needs Review

#20229 Update checksum query to use a distinct inner join
  projects/packages/sync/changelog/fix-sync-checksum-parent-join
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Review

#20232 Update term_taxonomy checksum filter to an allow list.
  projects/packages/sync/changelog/fix-checksum-invalid-term-in-term-relationship
  projects/packages/sync/src/class-settings.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Review

#20192 Site Logo: update for compatibility with WP 5.8 site_logo option
  projects/plugins/jetpack/changelog/update-site-logo-block-compatibility
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-site-logo-endpoint.php
  projects/plugins/jetpack/modules/theme-tools/site-logo.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/css/site-logo-control-rtl.css
  projects/plugins/jetpack/modules/theme-tools/site-logo/css/site-logo-control-rtl.min.css
  projects/plugins/jetpack/modules/theme-tools/site-logo/css/site-logo-control.css
  projects/plugins/jetpack/modules/theme-tools/site-logo/css/site-logo-control.min.css
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/class-site-logo-control.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/class-site-logo.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/functions.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo-control.js
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo-control.min.js
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo.js
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo.min.js
  projects/plugins/jetpack/sal/class.json-api-site-base.php
  projects/plugins/jetpack/tests/php/test_class.functions.opengraph.php
  projects/plugins/jetpack/tools/builder/admin-css.js
  tools/phpcs-excludelist.json
Labels: Theme Tools, Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Pri] High, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Enhancement

#20243 Sync: Bump Package Readme for Release
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-checksum-invalid-term-in-term-relationship
  projects/packages/sync/changelog/fix-sync-checksum-parent-join
Labels: [Package] Sync, [Status] Ready to Merge

#20244 Carousel: Make sure zoom works on high PPI devices
  projects/plugins/jetpack/changelog/fix-carousel-image-zoom-on-mobile
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Status] Needs Team Review

#20246 [Carousel block]: Fix comments indicator placement on Twenty Twenty
  projects/plugins/jetpack/changelog/fix-carousel-comments-icon-placement
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Type] Bug

#20242 Milestone widget: avoid php notices
  projects/plugins/jetpack/changelog/fix-php-notice-milestone
  projects/plugins/jetpack/modules/widgets/milestone/class-milestone-widget.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#20247 Fix/carousel light small screens
  projects/plugins/jetpack/changelog/fix-carousel-light-small-screens
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Status] Needs Team Review

#20248 Carousel: Only upscale images if they are less than 1k px.
  projects/plugins/jetpack/changelog/add-better-carousel-upscaling
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20236 [Carousel]: Handle error if swiper fails to load
  projects/plugins/jetpack/changelog/add-carousel-error-handling-for-swiper
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#20258 Admin page: remove a duplicated line
  projects/plugins/jetpack/changelog/fix-dup-line-in-jp-admin
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge

#20268 Carousel - fix bug with carousel swiper clashing with slideshow swiper
  projects/plugins/jetpack/changelog/fix-multiple-gallery-bug
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20224 Search: add search setting page with only toggles
  projects/plugins/jetpack/_inc/client/search-dashboard-entry.js
  projects/plugins/jetpack/_inc/client/search/dashboard/_variables.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/index.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-instant-search.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-instant-search.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/placeholder.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/style.scss
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/add-search-admin-page-toggles
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/tools/webpack.config.js
Labels: Admin Page, Instant Search, Search, [Plugin] Jetpack, [Status] Ready to Merge

#20254 Instant Search: fix visual glitch on breadcrumb in Firefox
  projects/plugins/jetpack/changelog/fix-instant-search-breadcrumb
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-expanded.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result.scss
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20270 Nav Unification: Register "Settings > Performance" submenu
  projects/plugins/jetpack/changelog/fix-register-performance-submenu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20280 Backport Changelog and Readme from 9.9 to Master
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-better-carousel-upscaling
  projects/plugins/jetpack/changelog/add-carousel-comments-indicator
  projects/plugins/jetpack/changelog/add-carousel-error-handling-for-swiper
  projects/plugins/jetpack/changelog/fix-carousel-comments-icon-placement
  projects/plugins/jetpack/changelog/fix-carousel-image-zoom-on-mobile
  projects/plugins/jetpack/changelog/fix-carousel-light-small-screens
  projects/plugins/jetpack/changelog/fix-multiple-gallery-bug
  projects/plugins/jetpack/changelog/fix-php-notice-milestone
  projects/plugins/jetpack/changelog/fix-swiper-merge-followups
  projects/plugins/jetpack/changelog/revert-carousel-z-index
  projects/plugins/jetpack/changelog/try-carousel-prevent-zoom-transition-slide
  projects/plugins/jetpack/changelog/update-9.9-to-test
  projects/plugins/jetpack/changelog/update-carousel-fix-prev-button-clicks-on-desktop
  projects/plugins/jetpack/changelog/update-carousel-to-avoid-twenty-nineteen-theme-heading-conflicts
  projects/plugins/jetpack/changelog/update-carousel-to-use-svgs
  projects/plugins/jetpack/changelog/update-refactored-carousel-pagination-to-use-normal-font-weight
  projects/plugins/jetpack/changelog/update-site-logo-block-compatibility
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Status] Ready to Merge

#20228 Nav Unification: Store preferred view on page switch
  projects/plugins/jetpack/changelog/update-nav-unification-store-preferred-view
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/menu-mappings.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20288 JS Components: init version 0.0.2
  projects/js-packages/components/changelog/add-init-js-components-002
  projects/js-packages/components/package.json
Labels: RNA, [JS Package] Components, [Status] Ready to Merge

#20294 Update requested jetpack components version number
  pnpm-lock.yaml
  projects/packages/connection-ui/changelog/fix-update-requested-components-version-number
  projects/packages/connection-ui/package.json
  projects/plugins/jetpack/changelog/fix-update-requested-components-version-number
  projects/plugins/jetpack/package.json
Labels: Build, Touches WP.com Files, [Package] Connection UI, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#20290 Carousel - Namespace all swiper css overrides to stop clashes with other plugins
  projects/plugins/jetpack/changelog/fix-corousel-css-leakage-bug
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Team Review, [Status] Ready to Merge, [Type] Bug

#20281 Carousel: Update icons to match original designs
  projects/plugins/jetpack/changelog/fix-carousel-icon-weight
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20285 Sync: Add note to use new deleted_theme hook
  projects/packages/sync/changelog/add-inline-note-re-new-sync-action
  projects/packages/sync/src/modules/class-themes.php
Labels: [Package] Sync, [Status] Ready to Merge, [Type] Janitorial

#20297 tools: Make "check-composer-deps" into "check-intra-monorepo-deps"
  .github/files/renovate-helper.sh
  .github/workflows/linting.yml
  pnpm-lock.yaml
  projects/packages/connection-ui/changelog/add-check-intra-monorepo-deps
  projects/packages/connection-ui/package.json
  projects/plugins/backup/changelog/add-check-intra-monorepo-deps
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-check-intra-monorepo-deps
  projects/plugins/jetpack/package.json
  tools/check-intra-monorepo-deps.sh
Labels: Actions, Touches WP.com Files, [Package] Connection UI, [Plugin] Backup, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20299 E2E tests: listeners for page error and request failed
  projects/plugins/jetpack/changelog/e2e-page-listeners
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#20304 Backup: Add w.org slug
  projects/plugins/backup/changelog/add-backup-worg-slug
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/readme.txt
Labels: [Plugin] Backup, [Status] Ready to Merge, [Type] Janitorial

#20301 build: Don't publish the wrong plugin's releases
  .github/workflows/build.yml
Labels: Actions, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#20207 Adds Backup plugin components / styles for successful backup state
  pnpm-lock.yaml
  projects/plugins/backup/changelog/add-backup-plugin-ui
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/package.json
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/components/StatBlock.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/components/backups-style.scss
  projects/plugins/backup/src/js/components/icons/backup-animation-1.svg
  projects/plugins/backup/src/js/components/icons/backup-animation-2.svg
  projects/plugins/backup/src/js/components/icons/backup-animation-3.svg
  projects/plugins/backup/src/js/components/icons/cloud.svg
  projects/plugins/backup/src/js/components/icons/jetpack.svg
  projects/plugins/backup/src/js/components/icons/plugins.svg
  projects/plugins/backup/src/js/components/icons/posts.svg
  projects/plugins/backup/src/js/components/icons/themes.svg
  projects/plugins/backup/src/js/components/icons/uploads.svg
  projects/plugins/backup/src/js/components/rna-styles.scss
  projects/plugins/backup/src/js/components/stat-block-style.scss
  projects/plugins/backup/src/js/components/style.scss
  projects/plugins/backup/src/js/reducers/index.js
  projects/plugins/backup/src/js/reducers/jetpack-status.js
  projects/plugins/backup/src/js/selectors/index.js
  projects/plugins/backup/src/js/selectors/jetpack-status.js
  projects/plugins/backup/src/php/class-initial-state.php
  projects/plugins/backup/src/php/class-jetpack-backup.php
Labels: Touches WP.com Files, [Plugin] Backup, [Pri] Normal, [Status] Ready to Merge, [Type] Feature

#20311 tools: Remove compose-volumes.sh
  tools/compose-volumes.sh
Labels: [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#20253 Search: Add search admin page buttons for search/widget settings
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.scss
  projects/plugins/jetpack/changelog/add-search-admin-page-buttons
Labels: Admin Page, Instant Search, RNA, Search, [Plugin] Jetpack, [Status] Ready to Merge

#20312 packages/connection: Fix test after WorDBless change
  projects/packages/connection/changelog/fix-packages-connection-test-broken-by-wordbless
  projects/packages/connection/tests/php/test-class-webhooks.php
Labels: [Package] Connection, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20314 packages/connection: Fix `@covers` directives in tests
  projects/packages/connection/changelog/fix-packages-connection-covers-directives
  projects/packages/connection/tests/php/test_Rest_Authentication.php
  projects/packages/connection/tests/php/test_Signature.php
Labels: [Package] Connection, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#20322 tools: Move remaining monorepo JS dependencies to a project
  .github/files/lint-project-structure.sh
  .github/workflows/linting.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/js-tools/.gitignore
  tools/js-tools/README.md
  tools/js-tools/check-excludelist-diff.js
  tools/js-tools/check-renovate-ignore-list.js
  tools/js-tools/eslint
  tools/js-tools/eslint-changed
  tools/js-tools/git-hooks/post-merge-checkout-hook.sh
  tools/js-tools/git-hooks/pre-commit-hook.js
  tools/js-tools/git-hooks/prepare-commit-msg.js
  tools/js-tools/package.json
  tools/js-tools/prettier
  tools/js-tools/semver
  tools/js-tools/sort-package-json
Labels: Actions, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#20283 Full Site Editing: sync callable for FSE theme support
  projects/packages/backup/changelog/add-full-site-editing-support
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/add-full-site-editing-support
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-functions.php
  projects/plugins/backup/changelog/add-full-site-editing-support
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-full-site-editing-support
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
Labels: Full Site Editing, [Package] Backup, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Ready to Merge

#20323 actions: Avoid context vars in `run` steps
  .github/actions/deepen-to-merge-base/action.yml
  .github/workflows/build.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/linting.yml
  pnpm-lock.yaml
  projects/github-actions/pr-is-up-to-date/action.yml
  projects/github-actions/pr-is-up-to-date/changelog/fix-gh-actions-context-vars-in-run
  projects/github-actions/push-to-mirrors/action.yml
  projects/github-actions/push-to-mirrors/changelog/fix-gh-actions-context-vars-in-run
  tools/js-tools/git-hooks/pre-commit-hook.js
  tools/js-tools/lint-gh-actions.js
  tools/js-tools/package.json
Labels: Actions, Touches WP.com Files, [Action] Pr Is Up To Date, [Action] Push To Mirrors, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20319 Update coming soon badge in menu to display for coming soon v2 sites
  projects/plugins/jetpack/changelog/fix-show-coming-soon-badge-for-v2-sites
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20316 Search: make sure ?s= is set when using filter links
  projects/plugins/jetpack/changelog/fix-search-filter-links-path
  projects/plugins/jetpack/modules/search/instant-search/components/dom-event-handler.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20274 Adds admin / frontend CSS files to the build watcher.
  projects/plugins/jetpack/changelog/fix-watch_css_files
  projects/plugins/jetpack/gulpfile.babel.js
  projects/plugins/jetpack/tools/builder/admin-css.js
  projects/plugins/jetpack/tools/builder/frontend-css.js
Labels: Build, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug, [Type] Janitorial

#20333 linting: Do pnpm install in Jetpack E2E dir before eslint
  .github/workflows/linting.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20335 Fix/allow check for single connected user
  projects/packages/connection/changelog/fix-allow-check-for-single-connected-user
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-tokens.php
  projects/packages/connection/tests/php/test_Manager_integration.php
Labels: [Package] Connection, [Status] Needs Review, [Type] Bug

#20168 Beta plugin: Support managing multiple plugins
  .github/workflows/build.yml
  docs/monorepo.md
  projects/plugins/beta/.gitattributes
  projects/plugins/beta/changelog/add-beta-plugin-multiple-plugins
  projects/plugins/beta/composer.json
  projects/plugins/beta/composer.lock
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/beta/src/admin/admin.css
  projects/plugins/beta/src/admin/admin.js
  projects/plugins/beta/src/admin/branch-card.template.php
  projects/plugins/beta/src/admin/exception.template.php
  projects/plugins/beta/src/admin/header.template.php
  projects/plugins/beta/src/admin/main.php
  projects/plugins/beta/src/admin/notice.template.php
  projects/plugins/beta/src/admin/plugin-manage.template.php
  projects/plugins/beta/src/admin/plugin-select.template.php
  projects/plugins/beta/src/admin/show-needed-updates.template.php
  projects/plugins/beta/src/admin/toggles.template.php
  projects/plugins/beta/src/class-admin.php
  projects/plugins/beta/src/class-autoupdateself.php
  projects/plugins/beta/src/class-clicommand.php
  projects/plugins/beta/src/class-hooks.php
  projects/plugins/beta/src/class-parsedownext.php
  projects/plugins/beta/src/class-plugin.php
  projects/plugins/beta/src/class-plugindataexception.php
  projects/plugins/beta/src/class-utils.php
Labels: Actions, Docs, [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20287 RNA: Add Jetpack footer
  pnpm-lock.yaml
  projects/js-packages/components/.eslintrc.cjs
  projects/js-packages/components/changelog/add-rna-jetpack-footer
  projects/js-packages/components/components/automattic-byline-logo/README.md
  projects/js-packages/components/components/automattic-byline-logo/index.jsx
  projects/js-packages/components/components/automattic-byline-logo/test/component.jsx
  projects/js-packages/components/components/jetpack-footer/README.md
  projects/js-packages/components/components/jetpack-footer/index.jsx
  projects/js-packages/components/components/jetpack-footer/style.scss
  projects/js-packages/components/components/jetpack-footer/test/component.jsx
  projects/js-packages/components/index.jsx
  projects/js-packages/components/package.json
Labels: Admin Page, RNA, Touches WP.com Files, [JS Package] Components, [Status] Ready to Merge

#20336 Backup Plugin: Reorganize Admin.js to facilitate integration
  projects/plugins/backup/changelog/reorganize-admin-js
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
Labels: [Plugin] Backup, [Status] Ready to Merge, [Type] Janitorial

#20262 Nav unification: create and use function setFocusOnActiveMenuItem
  projects/plugins/jetpack/changelog/fix-current-menu-item-focus
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#20329 Carousel: Prevent comments indicator from bumping icon width of comments button
  projects/plugins/jetpack/changelog/fix-carousel-comments-icon-jump-when-comments-loaded
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20306 Carousel: remove unused static images and tweak RTL styles
  projects/plugins/jetpack/changelog/remove-carousel-image-directory
  projects/plugins/jetpack/modules/carousel/images/carousel-likereblog-2x.png
  projects/plugins/jetpack/modules/carousel/images/carousel-likereblog.png
  projects/plugins/jetpack/modules/carousel/images/carousel-link-2x.png
  projects/plugins/jetpack/modules/carousel/images/carousel-link.png
  projects/plugins/jetpack/modules/carousel/images/carousel-sprite-2x.png
  projects/plugins/jetpack/modules/carousel/images/carousel-sprite.png
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/rtl/jetpack-carousel-rtl.css
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20339 Restrict correlated subquery to term_taxonomy joins only
  projects/packages/sync/changelog/fix-sync-checksum-performance
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Cherry-Pick, [Status] Needs Review

#20340 Move get_connected_users logic back to the Manager class
  projects/packages/abtest/changelog/update-manager_get_connected_users
  projects/packages/abtest/composer.json
  projects/packages/backup/changelog/update-manager_get_connected_users
  projects/packages/backup/composer.json
  projects/packages/connection-ui/changelog/update-manager_get_connected_users
  projects/packages/connection-ui/composer.json
  projects/packages/connection/changelog/update-manager_get_connected_users
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-tokens.php
  projects/packages/identity-crisis/changelog/update-manager_get_connected_users
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/jitm/changelog/update-manager_get_connected_users
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/licensing/changelog/update-manager_get_connected_users
  projects/packages/licensing/composer.json
  projects/packages/sync/changelog/update-manager_get_connected_users
  projects/packages/sync/composer.json
  projects/plugins/backup/changelog/update-manager_get_connected_users
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-manager_get_connected_users
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Abtest, [Package] Backup, [Package] Connection, [Package] Connection UI, [Package] Identity Crisis, [Package] Jitm, [Package] Licensing, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Needs Review

#20342 Fixes broken comments with social login
  projects/plugins/jetpack/changelog/fix-comments-break-social-login
  projects/plugins/jetpack/modules/comments/base.php
Labels: Comments, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Author Reply

#20332 Publicize: avoid PHP notices when $post isn't defined yet.
  projects/plugins/jetpack/changelog/fix-php-notice-enhanced-opengraph
  projects/plugins/jetpack/modules/publicize/enhanced-open-graph.php
Labels: Publicize, Touches WP.com Files, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#20345 Update: Sync and Connection Package Updates
  projects/packages/backup/changelog/jetpack-branch-9.9
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/fix-allow-check-for-single-connected-user
  projects/packages/connection/changelog/update-manager_get_connected_users
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-sync-checksum-performance
  projects/plugins/backup/changelog/jetpack-branch-9.9
  projects/plugins/jetpack/changelog/jetpack-branch-9.9
  projects/plugins/jetpack/composer.lock
Labels: [Package] Backup, [Package] Connection, [Package] Identity Crisis, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Ready to Merge

#20300 Carousel: Make sure we show the caption
  projects/plugins/jetpack/changelog/fix-caption-in-carousel
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#20341 Beta: Soft fail if Composer pkgs not installed
  projects/plugins/beta/changelog/add-soft-fail-beta
  projects/plugins/beta/jetpack-beta.php
Labels: [Plugin] Beta, [Status] Ready to Merge, [Type] Enhancement

#20343 [Plugin] Backup: update package usage and add linting.
  projects/plugins/backup/.eslintrc.js
  projects/plugins/backup/changelog/update-backup-plugin-wordpress
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
Labels: [Plugin] Backup, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#20272 JSON API: Add jetpack_connection_active_plugins option in site endpoint.
  projects/plugins/jetpack/changelog/update-add-option-in-json-api-site-endpoints
  projects/plugins/jetpack/sal/class.json-api-site-jetpack-base.php
  projects/plugins/jetpack/sal/class.json-api-site-jetpack.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-site-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20252 Search: Add search admin page footer
  projects/plugins/jetpack/_inc/client/search/dashboard/index.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-instant-search.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/style.scss
  projects/plugins/jetpack/changelog/add-search-admin-page-footer
Labels: Admin Page, Instant Search, Plugin Search, RNA, [Plugin] Jetpack, [Status] Ready to Merge

#20344 Plans: Add new slugs for Backup and Security, deprecating the old ones
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/changelog/add-new-realtime-product-slugs
Labels: Admin Page, Plans, [Plugin] Jetpack, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#20346 Dev Tools: Add new products to the Dev Tools card
  projects/plugins/jetpack/_inc/client/components/dev-card/index.jsx
  projects/plugins/jetpack/_inc/client/components/dev-card/style.scss
  projects/plugins/jetpack/changelog/add-new-products-to-dev-tools
Labels: Admin Page, [Plugin] Jetpack, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#20350 [Plugin] Backup: Add No Backup Capabilities screen
  projects/plugins/backup/changelog/add-no-plan-design
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/components/backups-style.scss
Labels: [Plugin] Backup, [Status] Ready to Merge, [Type] Enhancement

#20349 OpenTable Block: Fix the min width on small widths so it fits on small width viewports.
  projects/plugins/jetpack/changelog/fix-open-table-block-widget
  projects/plugins/jetpack/extensions/blocks/opentable/editor.scss
Labels: Touches WP.com Files, [Block] OpenTable, [Plugin] Jetpack, [Status] Ready to Merge

#20255 Widget visibility: supporting load conditions for legacy widgets in gutenberg widgets screen
  projects/plugins/jetpack/changelog/fix-widget-visibility
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions/widget-conditions.css
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions/widget-conditions.js
Labels: Touches WP.com Files, Widget Visibility, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20347 Comments: refactor jQuery usage
  projects/plugins/jetpack/changelog/2021-07-13-20-10-58-559738
  projects/plugins/jetpack/modules/comments/comments.php
Labels: Comments, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#20358 WordPress.com Block Editor: do not use in the upcoming Block-based Widgets Editor
  projects/plugins/jetpack/changelog/fix-widget-wpcom-block-editor
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: WordPress.com Block Editor, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#20351 Carousel: CSS tweaks to ensure WPCOM compatibility
  projects/plugins/jetpack/changelog/update-carousel-css-tweaks
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug

#20282 Search: Add scaffolding for Gutenberg-enabled Customizer
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/add-search-customberg-1
  projects/plugins/jetpack/gulpfile.babel.js
  projects/plugins/jetpack/modules/search.php
  projects/plugins/jetpack/modules/search/.eslintrc.js
  projects/plugins/jetpack/modules/search/class-jetpack-search-customberg.php
  projects/plugins/jetpack/modules/search/class.jetpack-search-helpers.php
  projects/plugins/jetpack/modules/search/customberg/README.md
  projects/plugins/jetpack/modules/search/customberg/index.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_mixins.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_variables.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/tracks.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.search-configure.js
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20183 Modules: Add module info to the module-headings.php file
  .phpcs.config.xml
  projects/plugins/jetpack/changelog/update-module_info
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/module-headings.php
  projects/plugins/jetpack/tests/php/test-get-modules.php
  projects/plugins/jetpack/tools/build-module-headings-translations.php
  tools/phpcs-excludelist.json
Labels: [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20256 Docker: Introduce configuration file
  .gitignore
  tools/cli/commands/docker.js
  tools/cli/helpers/docker-config.js
  tools/docker/README.md
  tools/docker/compose-extras.yml.sample
  tools/docker/compose-volumes.yml.sample
  tools/docker/docker-compose.dev.yml
  tools/docker/docker-compose.yml
  tools/docker/jetpack-docker-config-default.yml
Labels: Docker, [Status] Ready to Merge, [Tools] Development CLI

#20355 RNA Connection: hide connection screen while loading the status
  projects/js-packages/connection/changelog/fix-rna-connection-screen-loading
  projects/js-packages/connection/components/connect-screen/index.jsx
  projects/js-packages/connection/components/connect-screen/style.scss
Labels: RNA, [JS Package] Connection, [Status] Ready to Merge

#20363 tools: version-packages.sh should update indirect deps too
  tools/version-packages.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20360 Beta plugin: Update release instructions
  projects/plugins/beta/README.md
  projects/plugins/beta/changelog/update-beta-plugin-release-instructions
  projects/plugins/beta/composer.json
  projects/plugins/beta/composer.lock
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement, [Type] Infrastructure

#20354 Fix/nav unification disable function
  projects/plugins/jetpack/changelog/fix-nav-unification-disable-function
  projects/plugins/jetpack/modules/masterbar/admin-menu/load.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#20313 Add package version constants to the Sync, Connection, and Backup packages
  projects/packages/backup/changelog/update-add_package_versions
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/connection/changelog/update-add_package_versions
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/sync/changelog/update-add_package_versions
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/update-add_package_versions
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-add_package_versions
  projects/plugins/jetpack/composer.lock
Labels: [Package] Backup, [Package] Connection, [Package] Sync, [Plugin] Backup, [Plugin] Jetpack, [Status] Ready to Merge

#20185 Modules: Use the module slug in get_available_modules
  projects/plugins/jetpack/changelog/update-get_available_modules_use_slug
  projects/plugins/jetpack/class.jetpack.php
Labels: [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20361 Beta plugin: Release v3.0.0
  projects/plugins/beta/CHANGELOG.md
  projects/plugins/beta/changelog/add-beta-plugin-multiple-plugins
  projects/plugins/beta/changelog/add-changelogs-for-everything
  projects/plugins/beta/changelog/add-enable-package-autotagger-to-test
  projects/plugins/beta/changelog/add-license-info
  projects/plugins/beta/changelog/add-project-structure-check
  projects/plugins/beta/changelog/add-soft-fail-beta
  projects/plugins/beta/changelog/add-testing-info
  projects/plugins/beta/changelog/backfill-pr-18772
  projects/plugins/beta/changelog/backfill-pr-18916
  projects/plugins/beta/changelog/fix-beta-production-build-missing-deps
  projects/plugins/beta/changelog/fix-changelogger-in-subdir
  projects/plugins/beta/changelog/fix-cli-composer-install-vs-update
  projects/plugins/beta/changelog/update-beta-no-jetpack-dev
  projects/plugins/beta/changelog/update-beta-plugin-release-instructions
  projects/plugins/beta/changelog/update-beta_remove_autoload_dev
  projects/plugins/beta/changelog/update-branch-alias-all-packages
  projects/plugins/beta/changelog/update-changelogger-allow-unreleased-date
  projects/plugins/beta/changelog/update-reorganize-beta-plugin
  projects/plugins/beta/changelog/update-sync-v4-endpoints
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
Labels: [Plugin] Beta, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#20364 [Plugin] Backup: Change Backup related info blocks to only display with Backup plan
  projects/plugins/backup/changelog/update-segment-display-logic
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/backups-style.scss
Labels: [Plugin] Backup, [Status] Ready to Merge

#20328 RNA: change footer Jetpack symbol from font to SVG
  projects/js-packages/components/changelog/update-rna-jetpack-footer-svg-jetpack-symbol
  projects/js-packages/components/components/jetpack-footer/index.jsx
  projects/js-packages/components/components/jetpack-footer/style.scss
  projects/js-packages/components/components/jetpack-logo/README.md
  projects/js-packages/components/components/jetpack-logo/index.jsx
Labels: RNA, [JS Package] Components, [Status] Ready to Merge

#20331 Like Button: add title attribute to like post iframe
  projects/plugins/jetpack/changelog/fix-like-button-accessibility
  projects/plugins/jetpack/modules/likes.php
  projects/plugins/jetpack/modules/likes/queuehandler.js
Labels: Accessibility, Likes, Touches WP.com Files, [Plugin] Beta, [Plugin] Jetpack, [Status] Needs Review

#20367 Jetpack: Further cleanup to build-module-headings-translations.php
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/.gitignore
  projects/plugins/jetpack/changelog/update-cleanup-build-module-headings-translations-php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/modules/module-headings.php
  projects/plugins/jetpack/tools/build-module-headings-translations.php
Labels: [Plugin] Jetpack, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#20269 Search: Add search admin page upsell nudge for business plan
  projects/plugins/jetpack/_inc/client/search/dashboard/instant-search-upsell-nudge.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/instant-search-upsell-nudge.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.jsx
  projects/plugins/jetpack/changelog/add-search-admin-page-upsell-nudge
Labels: Admin Page, Instant Search, RNA, Search, [JS Package] Components, [Plugin] Jetpack, [Status] Ready to Merge

#20370 Search: Add mocked legacy search interface for business plan without search subscription
  projects/plugins/jetpack/_inc/client/search/dashboard/index.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-instant-search.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-legacy-search.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-legacy-search.scss
  projects/plugins/jetpack/_inc/client/search/dashboard/mocked-search.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/style.scss
  projects/plugins/jetpack/changelog/add-search-admin-page-mocked-legacy-search
Labels: Admin Page, Instant Search, Search, [Plugin] Jetpack, [Status] Ready to Merge

#20310 Add upgrade CTAs to the Site Stats page
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/add-stats-page-upsells
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20317 Customizer widgets: enqueue script dependencies
  projects/plugins/jetpack/changelog/fix-customize-enqueue-block-dependencies
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/blocks/slideshow/edit.js
  projects/plugins/jetpack/modules/theme-tools/compat/twentytwentyone.css
Labels: Theme Tools, Touches WP.com Files, [Block] Map, [Block] Slideshow, [Block] Tiled Gallery, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Type] Bug

#20308 Docs: consolidate developer documentation
  docs/development-environment-cli-support.md
  docs/development-environment.md
  tools/cli/README.md
  tools/docker/README.md
Labels: Docker, Docs, Jetpack CLI, [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#20375 [Plugin] Backup: Add Jetpack Header and Footer
  pnpm-lock.yaml
  projects/plugins/backup/changelog/add-backup-header-footer
  projects/plugins/backup/package.json
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/components/masthead/calypso-colors.scss
  projects/plugins/backup/src/js/components/masthead/calypso-mixins.scss
  projects/plugins/backup/src/js/components/masthead/masthead-style.scss
Labels: Touches WP.com Files, [Plugin] Backup, [Status] Ready to Merge

#20383 Update Options module to return jetpack_sync_settings_* options from Settings class
  projects/packages/sync/changelog/fix-return-setting-value-of-jetpack-sync-settings-options
  projects/packages/sync/src/modules/class-options.php
  projects/plugins/jetpack/changelog/fix-return-setting-value-of-jetpack-sync-settings-options
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Package] Sync, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20391 Backport Sync Changelog for 1.23.3
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-return-setting-value-of-jetpack-sync-settings-options
Labels: [Package] Sync, [Status] Needs Author Reply

#20392 Development: Soft-fail if Jetpack is not built
  projects/plugins/jetpack/changelog/add-soft-fail-modules
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/tests/php/bootstrap.php
Labels: Docker, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#20371 Map block: show preview not available in customizer to prevent js error
  projects/plugins/jetpack/changelog/fix-mapblock-customizer-widget
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: Touches WP.com Files, [Block] Map, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#20397 Update readme.txt
  projects/plugins/jetpack/changelog/robertbpugh-patch-1
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Status] Needs Author Reply, [Type] Janitorial

#20385 Beta plugin: Recognize releases with tags prefixed with "v"
  projects/plugins/beta/changelog/fix-beta-tag-with-v
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/beta/src/class-autoupdateself.php
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20201 WordPress 5.8 Compatibility: Add support for `block_editor_settings_all`
  projects/plugins/jetpack/changelog/update-block-editor-settings-deprecation
  projects/plugins/jetpack/modules/copy-post.php
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
  projects/plugins/jetpack/modules/wpcom-block-editor/functions.editor-type.php
Labels: Compatibility, Copy a Post, Touches WP.com Files, WordPress.com Block Editor, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20405 Beta plugin: Release 3.0.1
  projects/plugins/beta/CHANGELOG.md
  projects/plugins/beta/changelog/add-beta-breadcrumb-menu
  projects/plugins/beta/changelog/fix-beta-elem-not-found
  projects/plugins/beta/changelog/fix-beta-tag-with-v
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#20406 Jetpack: Change the GH link in the incomplete Jetpack notice.
  projects/plugins/jetpack/changelog/update-build_message
  projects/plugins/jetpack/jetpack.php
Labels: Docs, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge

#20404 Force Calypso interfaces when sso is disabled
  projects/plugins/jetpack/changelog/fix-force-calypso-links-when-sso-is-disabled
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#20411 SEO: Earlier load of functions
  projects/plugins/jetpack/changelog/improve-seo-load-order
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/modules/module-extras.php
Labels: [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#20386 tools: Add the ability to do `@since $$next-version$$`
  .github/files/build-all-projects.sh
  tools/changelogger-release.sh
  tools/replace-next-version-tag.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20325 tools: lint-gh-actions.js may as well report yaml syntax errors
  tools/js-tools/lint-gh-actions.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20366 Backup: replace ConnectButton with ConnectScreen
  projects/js-packages/connection/changelog/update-backup-connect-screen
  projects/js-packages/connection/components/connect-screen/image-slider.jsx
  projects/js-packages/connection/components/connect-screen/index.jsx
  projects/plugins/backup/changelog/update-backup-connect-screen
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/hooks/assets/connect-right.png
  projects/plugins/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/src/js/reducers/index.js
  projects/plugins/backup/src/js/selectors/assets.js
  projects/plugins/backup/src/js/selectors/connection-data.js
  projects/plugins/backup/src/js/selectors/index.js
  projects/plugins/backup/src/php/class-initial-state.php
Labels: [JS Package] Connection, [Plugin] Backup, [Status] Ready to Merge

#20348 jetpack-live-branches: Update to support multiple plugins
  tools/eslint-excludelist.json
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Pri] Normal, [Status] Needs Review, [Type] Enhancement

#20384 Atomic admin menu: Only show security nav item if site has security settings feature
  projects/plugins/jetpack/changelog/fix-hide-security-settings-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20414 Beta plugin: Fix a typo
  projects/plugins/beta/changelog/fix-beta-typo
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/beta/src/admin/plugin-manage.template.php
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20418 Backport Changelog File and update Stable Tag to 9.9.1
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-caption-in-carousel
  projects/plugins/jetpack/changelog/fix-carousel-comments-icon-jump-when-comments-loaded
  projects/plugins/jetpack/changelog/fix-carousel-icon-weight
  projects/plugins/jetpack/changelog/fix-corousel-css-leakage-bug
  projects/plugins/jetpack/changelog/fix-customize-enqueue-block-dependencies
  projects/plugins/jetpack/changelog/fix-mapblock-customizer-widget
  projects/plugins/jetpack/changelog/fix-register-performance-submenu
  projects/plugins/jetpack/changelog/fix-return-setting-value-of-jetpack-sync-settings-options
  projects/plugins/jetpack/changelog/fix-widget-visibility
  projects/plugins/jetpack/changelog/fix-widget-wpcom-block-editor
  projects/plugins/jetpack/changelog/jetpack-branch-9.9
  projects/plugins/jetpack/changelog/remove-carousel-image-directory
  projects/plugins/jetpack/changelog/update-block-editor-settings-deprecation
  projects/plugins/jetpack/changelog/update-carousel-css-tweaks
  projects/plugins/jetpack/changelog/update-manager_get_connected_users
  projects/plugins/jetpack/changelog/update-nav-unification-store-preferred-view
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#20396 tools: Update tools/check-development-environment.sh
  .github/versions.sh
  docs/development-environment-cli-support.md
  tools/check-development-environment.sh
Labels: Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20402 RNA components: Add Disconnect Dialog
  projects/js-packages/connection/README.md
  projects/js-packages/connection/changelog/add-rna-disconnect-dialog
  projects/js-packages/connection/components/disconnect-dialog/index.jsx
  projects/js-packages/connection/components/disconnect-dialog/style.scss
  projects/js-packages/connection/components/disconnect-dialog/test/component.jsx
  projects/js-packages/connection/components/rna-styles.scss
  projects/js-packages/connection/index.jsx
  projects/js-packages/connection/tools/jetpack-rest-api-client/index.jsx
  projects/packages/connection-ui/_inc/components/admin/index.jsx
  projects/packages/connection-ui/changelog/add-rna-disconnect-dialog
Labels: [JS Package] Connection, [Package] Connection UI, [Status] Ready to Merge

#20423 Fix "My Sites" navigation in WP-Admin on Atomic sites with SSO disabled
  projects/plugins/jetpack/changelog/fix-my-sites-on-atomic-without-sso
  projects/plugins/jetpack/modules/masterbar/admin-menu/load.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20424 Tiled gallery: Don't swap width and height in srcset
  projects/plugins/jetpack/changelog/fix-tiled-gallery-srcset-width
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/tiled-gallery.php
Labels: Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20416 [Plugin] Backup: Updated styling wrapping ConnectScreen
  projects/plugins/backup/changelog/update-style-backup-connectscreen
  projects/plugins/backup/src/js/components/Admin.js
Labels: [Plugin] Backup, [Status] Needs Author Reply

#20389 Docker: Clean up Apache pid file on start
  tools/docker/bin/run.sh
Labels: Docker, [Status] Needs Review

#20318 Carousel: Add JS-based smooth scrolling on footer area open/hide
  projects/plugins/jetpack/changelog/try-carousel-add-js-smooth-scroll
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#20417 Beta plugin: Fix search for branches with multiple `-`
  projects/plugins/beta/changelog/fix-beta-search
  projects/plugins/beta/src/admin/admin.js
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20415 Beta plugin: Detect when master needs an update
  projects/plugins/beta/changelog/fix-beta-plugin-master-updates
  projects/plugins/beta/src/class-plugin.php
Labels: [Plugin] Beta, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20382 Sync: remove the arrays_are_similar helper method from WP_Test_iJetpack_Sync_Replicastore
  projects/plugins/jetpack/changelog/update-arrays_are_similar
  projects/plugins/jetpack/tests/php/sync/test_interface.jetpack-sync-replicastore.php
Labels: Unit Tests, [Plugin] Jetpack, [Pri] Low, [Status] Needs Review

#20429 Force local node version to match expected
  .npmrc
  projects/plugins/jetpack/changelog/add-force-node-version-match
  projects/plugins/jetpack/tests/e2e/.npmrc
Labels: E2E Tests, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#20420 Update Contributor List
  projects/plugins/jetpack/changelog/update-contributor-list-readme.txt
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Status] Needs Author Reply, [Type] Janitorial

#20359 My Plan: Recognize and display details for new Backup, Security plans
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/add-my-plan-for-new-backup-security-products
  projects/plugins/jetpack/tests/e2e/lib/plan-helper.js
Labels: Admin Page, E2E Tests, Plans, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20381 Add/stats page upsells actions
  projects/plugins/jetpack/changelog/add-stats-page-upsells-actions
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Needs Review

#20433 tools: Make "check-changelogger-use" a proper tool
  .github/workflows/linting.yml
  tools/check-changelogger-use.php
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#20425 Jetpack: Fail build if the php:module-heading step fails
  projects/plugins/jetpack/changelog/fix-jetpack-build-module-header-step-fail
  projects/plugins/jetpack/gulpfile.babel.js
Labels: Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#20286 IDC: move unit tests from Jetpack to the IDC package.
  projects/packages/identity-crisis/changelog/update-move_idc_tests
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
  projects/plugins/beta/changelog/update-move_idc_tests
  projects/plugins/beta/src/admin/admin.js
  projects/plugins/jetpack/changelog/update-move_idc_tests
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
Labels: Unit Tests, [Package] Identity Crisis, [Plugin] Beta, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#20413 REST disconnect site endpoint: Move to connection package
  projects/packages/connection/changelog/update-move-disconnect-endpoint-to-connection
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/connection/tests/php/test-rest-endpoints.php
  projects/packages/identity-crisis/changelog/update-move-disconnect-endpoint-to-connection
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-move-disconnect-endpoint-to-connection
  projects/plugins/jetpack/class.jetpack.php
Labels: [Package] Connection, [Package] Identity Crisis, [Plugin] Jetpack, [Status] Ready to Merge

#20398 RNA components: Add Connection Status Card
  projects/js-packages/connection/README.md
  projects/js-packages/connection/changelog/add-connection-status-card
  projects/js-packages/connection/components/connect-button/index.jsx
  projects/js-packages/connection/components/connection-status-card/index.jsx
  projects/js-packages/connection/components/connection-status-card/style.scss
  projects/js-packages/connection/components/connection-status-card/test/component.jsx
  projects/js-packages/connection/components/disconnect-dialog/style.scss
  projects/js-packages/connection/index.jsx
  projects/js-packages/connection/tools/jetpack-rest-api-client/index.jsx
  projects/packages/connection-ui/_inc/components/admin/index.jsx
  projects/packages/connection-ui/_inc/components/admin/style.scss
  projects/packages/connection-ui/changelog/add-connection-status-card
Labels: RNA, [JS Package] Connection, [Package] Connection, [Package] Connection UI, [Plugin] Jetpack, [Status] Design Input Requested, [Status] Needs Design Review, [Status] Ready to Merge

#20378 Map Block: Ensure theme styles do not override map button background colors
  projects/plugins/jetpack/changelog/update-map-block-fullscreen-button-color-on-front-end
  projects/plugins/jetpack/extensions/blocks/map/style.scss
Labels: Touches WP.com Files, [Block] Map, [Plugin] Jetpack, [Status] Ready to Merge

#20303 Tools: Add Pre Push Hook for Changelog Check
  package.json
  tools/js-tools/git-hooks/pre-push-hook.js
Labels: Touches WP.com Files, [Status] Ready to Merge, [Tools] Development CLI

#20442 Identity Crisis: remove unneeded test helper method return_example_url
  projects/packages/identity-crisis/changelog/update-remove_example_url
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
Labels: Unit Tests, [Package] Identity Crisis, [Pri] Low, [Status] Ready to Merge

#20443 Heartbeat: Include media library size
  projects/plugins/jetpack/changelog/add-media-library-size
  projects/plugins/jetpack/class.jetpack-heartbeat.php
Labels: [Plugin] Jetpack, [Status] Needs Privacy Updates, [Status] Ready to Merge, [Type] Enhancement

#20227 Carousel: hide carousel controls onZoom
  projects/plugins/jetpack/changelog/update-carousel-toggle-bottom-bar-on-zoom
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#20436 Update/stats upgrade nudges styling
  projects/plugins/jetpack/changelog/update-stats-upgrade-nudges-styling
  projects/plugins/jetpack/images/products/product-jetpack-boost.svg
  projects/plugins/jetpack/images/products/product-jetpack-crm.svg
  projects/plugins/jetpack/images/products/product-jetpack-security-bundle.svg
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Design Input Requested, [Status] Needs Design Review, [Status] Ready to Merge

#20430 [Plugin] Backup: Updated links and changed to use Jetpack Redirect service
  projects/plugins/backup/changelog/update-backup-plugin-links
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
Labels: [Plugin] Backup, [Status] Ready to Merge

#20441 Backup plugin: Integrate ConnectionStatusCard RNA component
  projects/plugins/backup/changelog/update-integrate-connection-status-card-in-backup-plugin
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/hooks/useConnection.js
Labels: [Plugin] Backup, [Status] Needs Review

#20444 Fix bug where strlen is being called on the raw unencoded items
  projects/packages/sync/changelog/fix-sync-sender-upload-size
  projects/packages/sync/src/class-sender.php
Labels: [Package] Sync

#20450 Stats: add rel attribute to Learn More links
  projects/plugins/jetpack/changelog/update-learn_more_rel
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Ready to Merge

#20451 Updated install development tools link
  tools/docker/README.md
Labels: Docker, Docs, [Status] Ready to Merge

#20438 Search: Fix notice issue with new widget editor
  projects/plugins/jetpack/changelog/fix-search-notice-issue
  projects/plugins/jetpack/modules/widgets/search.php
Labels: Extra Sidebar Widgets, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Team Review

#20400 Add tracking support for Dashboard Quick Switcher
  projects/plugins/jetpack/changelog/add-quick-switcher-tracking
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-dashboard-switcher-tracking.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/load.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-dashboard-switcher-tracking.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Privacy Updates, nav-unification

#20457 track events when nudges are displayed
  projects/plugins/jetpack/changelog/update-stats-nudges-view-events
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Needs Review

#20458 Remove stats page Upgrade nudges feature flag and activate it for everyone
  projects/plugins/jetpack/changelog/activate-stats-upgrade-nudges
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
Labels: Stats, [Plugin] Jetpack, [Status] Needs Review

#20447 Carousel: Add admin option to toggle whether or not to display blurred background image.
  projects/packages/sync/changelog/update-carousel-add-option-to-toggle-background-image
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/_inc/client/writing/writing-media.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-carousel-add-option-to-toggle-background-image
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: Admin Page, Carousel, Touches WP.com Files, [Package] Sync, [Plugin] Jetpack

#20440 REST connection/data endpoint: Move to Connection package
  projects/packages/connection/changelog/update-move-connection-data-endpoint-to-connection
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/connection/tests/php/test-rest-endpoints.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-move-connection-data-endpoint-to-connection
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: [Package] Connection, [Plugin] Jetpack, [Status] Needs Review

#20459 Select Dropdown Component: Fix box sizing issue that affects the height of the button
  projects/plugins/jetpack/_inc/client/components/select-dropdown/style.scss
  projects/plugins/jetpack/changelog/update-select-dropdown-styling-to-use-content-box-sizing
Labels: Admin Page, Carousel, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#20377 [Carousel]: Reenable background color
  projects/packages/sync/changelog/update-carousel-add-option-to-toggle-background-image
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/_inc/client/writing/writing-media.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-carousel-add-option-to-toggle-background-image
  projects/plugins/jetpack/changelog/update-fix-and-reenable-carousel-background
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: Admin Page, Carousel, Touches WP.com Files, [Package] Sync, [Plugin] Jetpack, [Status] Needs Review, [Status] Needs Testing

#20462 Init Jetpack 10.1 release cycle
  projects/plugins/jetpack/changelog/add-init-jp-10.0-cycle
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: General, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#20463 Jetpack 10.0: update to-test.md
  projects/plugins/jetpack/changelog/update-jp-10.0-to-test
  projects/plugins/jetpack/to-test.md
Labels: General, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#20326 Update jetpack extension tests to work with update to @wordpress dependencies
  package.json
  pnpm-lock.yaml
  projects/js-packages/components/package.json
  projects/js-packages/components/test-main.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/test-main.jsx
  projects/packages/connection-ui/package.json
  projects/plugins/backup/package.json
  projects/plugins/jetpack/_inc/client/test/main.js
  projects/plugins/jetpack/babel.config.js
  projects/plugins/jetpack/changelog/fix-extension-tests-for-updated-dependencies
  projects/plugins/jetpack/extensions/blocks/button/test/controls.js
  projects/plugins/jetpack/extensions/blocks/calendly/test/controls.js
  projects/plugins/jetpack/extensions/blocks/calendly/test/edit.js
  projects/plugins/jetpack/extensions/blocks/gathering-tweetstorms/test/editor.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/controls.js
  projects/plugins/jetpack/extensions/blocks/publicize/twitter/options.js
  projects/plugins/jetpack/extensions/blocks/publicize/twitter/test/options.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/controls.js
  projects/plugins/jetpack/extensions/blocks/related-posts/controls.js
  projects/plugins/jetpack/extensions/blocks/related-posts/test/controls.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/edit.js
  projects/plugins/jetpack/extensions/blocks/slideshow/controls.js
  projects/plugins/jetpack/extensions/blocks/slideshow/test/edit.js
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
  projects/plugins/jetpack/extensions/blocks/wordads/format-picker.js
  projects/plugins/jetpack/extensions/blocks/wordads/test/controls.js
  projects/plugins/jetpack/extensions/shared/i18n-to-php.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/jest-globals.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  tools/js-test-runner/js-test-runner.js
  tools/js-test-runner/package.json
  tools/js-tools/git-hooks/pre-commit-hook.js
Labels: Admin Page, Touches WP.com Files, [Block] Ad, [Block] Button, [Block] Calendly, [Block] Gathering Tweetstorms, [Block] Latest Instagram Posts, [Block] Payments, [Block] Publicize, [Block] Related Posts, [Block] Send a message, [Block] Slideshow, [Block] Story, [Block] Subscriptions, [JS Package] Components, [JS Package] Connection, [Package] Backup, [Package] Connection UI, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Jetpack, [Status] Needs Author Reply, [Status] Needs Team Review

#20449 Add badge to admin menus endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/add-admin-menu-rest-api-badge
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review

#20387 Admin menu: Move site editor menu item and add beta badge
  projects/plugins/jetpack/changelog/add-site-edior-beta
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#20474 Sync: Utilize import for WP_Error
  projects/packages/sync/changelog/fix-sync-wp-error
  projects/packages/sync/changelog/fix-sync-wp-error-1
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-queue.php
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/class-rest-sender.php
  projects/packages/sync/src/class-sender.php
  projects/packages/sync/src/class-server.php
Labels: [Package] Sync, [Status] Needs Cherry-Pick, [Status] Needs Review, [Type] Bug
