Repository Automattic/jetpack, pull requests merged in 2021-11, with the labels that each got.

#20957 Publicize: Add new publicize icon toggle component
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
  projects/plugins/jetpack/changelog/add-re-publicize-icon-component
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-icon/index.jsx
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-icon/style.scss
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-toggle/index.jsx
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-toggle/style.scss
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/form/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/store/effects.js
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/modules/publicize/publicize-jetpack.php
  projects/plugins/jetpack/modules/publicize/publicize.php
Labels: Publicize, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Extension] Publicize

#21597 Tiled Gallery Block: Fixing Problem Displaying Block Error when >1 Row
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/save.native.js
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21594 Admin page: Fix pricing/currency displayed on the upgrade page
  projects/plugins/jetpack/_inc/client/product-descriptions/index.jsx
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/fix-jetpack-upgrade-page-currency
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#21482 Add webpack-config package
  .github/renovate.json
  pnpm-lock.yaml
  projects/js-packages/webpack-config/.gitattributes
  projects/js-packages/webpack-config/.gitignore
  projects/js-packages/webpack-config/.nycrc
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/README.md
  projects/js-packages/webpack-config/changelog/.gitkeep
  projects/js-packages/webpack-config/changelog/add-webpack-config-js-package
  projects/js-packages/webpack-config/composer.json
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/babel-preset.js
  projects/js-packages/webpack-config/src/babel.js
  projects/js-packages/webpack-config/src/index.js
  projects/js-packages/webpack-config/src/webpack.js
  projects/js-packages/webpack-config/src/webpack/file-rule.js
  projects/js-packages/webpack-config/src/webpack/transpile-rule.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Webpack Config

#21407 docker: Add script to create "fake" translations for testing i18n
  tools/docker/bin/fakepot.sh
Labels: [Status] Ready to Merge, [Type] Feature, [Pri] Low, Docker

#21536 Boost: Explicitly hide admin-bar when generating Critical CSS
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/fix-explicitly-hide-admin-bar
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#21611 Janitorial: bring back 10.3 changelog updates to master
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-jetpack-upgrade-page-currency
  projects/plugins/jetpack/changelog/update-changelogs-from-103
  projects/plugins/jetpack/changelog/update-publicize-fix-panel-issue
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#21577 Update the post-list package post type availability
  projects/packages/post-list/changelog/update-post-type-availability
  projects/packages/post-list/src/class-post-list.php
  projects/packages/post-list/tests/php/test-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21616 Janitorial: start 10.4-a.2 release cycle
  projects/plugins/jetpack/changelog/update-weekly-104a2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21166 [RNMobile] Tiled Gallery Block: Aspect Ratio for Square Layout
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/styles.native.scss
Labels: [Status] Needs Author Reply, Touches WP.com Files, Gutenberg, [Block] Tiled Gallery, [Plugin] Jetpack

#21600 E2E tests: docs update
  projects/plugins/jetpack/changelog/e2e-update-readme
  projects/plugins/jetpack/tests/e2e/README.md
  tools/e2e-commons/README.md
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack

#21614 Post List: Release version 0.2.3
  projects/packages/post-list/CHANGELOG.md
  projects/packages/post-list/changelog/add-test-with-php-8.1
  projects/packages/post-list/changelog/fix-changelogger-prerelease-version-next
  projects/packages/post-list/changelog/fix-phpunit-configs
  projects/packages/post-list/changelog/update-post-type-availability
  projects/packages/post-list/src/class-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21619 Janitorial: release old projects
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/add-changelogger-squash-command
  projects/github-actions/repo-gardening/changelog/add-pr-rna-label
  projects/github-actions/repo-gardening/changelog/fix-changelogger-prerelease-version-next
  projects/github-actions/repo-gardening/changelog/try-allow-node-14
  projects/github-actions/repo-gardening/changelog/try-update-to-node-16
  projects/github-actions/repo-gardening/changelog/update-gh-labels-for-e2e
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-block-plugins
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-pr-target
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/required-review/CHANGELOG.md
  projects/github-actions/required-review/changelog/add-changelogger-squash-command
  projects/github-actions/required-review/changelog/fix-changelogger-prerelease-version-next
  projects/github-actions/required-review/changelog/try-allow-node-14
  projects/github-actions/required-review/changelog/try-update-to-node-16
  projects/github-actions/required-review/package.json
  projects/packages/codesniffer/CHANGELOG.md
  projects/packages/codesniffer/changelog/add-changelogger-squash-command
  projects/packages/codesniffer/changelog/add-test-with-php-8.1
  projects/packages/codesniffer/changelog/fix-changelogger-prerelease-version-next
  projects/packages/codesniffer/changelog/fix-phpunit-configs
  projects/packages/codesniffer/changelog/renovate-mediawiki-mediawiki-codesniffer-38.x
  projects/packages/codesniffer/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/packages/codesniffer/changelog/renovate-yoast-phpunit-polyfills-1.x#2
  projects/plugins/debug-helper/CHANGELOG.md
  projects/plugins/debug-helper/changelog/2021-10-23-02-27-17-913006
  projects/plugins/debug-helper/changelog/add-changelogger-squash-command
  projects/plugins/debug-helper/changelog/add-rna-connect-screen-required-plan
  projects/plugins/debug-helper/changelog/add-rna-idc-package
  projects/plugins/debug-helper/changelog/feature-sync-error-capture
  projects/plugins/debug-helper/changelog/fix-changelogger-prerelease-version-next
  projects/plugins/debug-helper/changelog/renovate-lock-file-maintenance
  projects/plugins/debug-helper/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/plugins/debug-helper/changelog/renovate-yoast-phpunit-polyfills-1.x-1
  projects/plugins/debug-helper/changelog/try-debug-idc-simulation
  projects/plugins/debug-helper/changelog/update-composer-to-2.1
  projects/plugins/debug-helper/changelog/update-idc_simulator_disable_sync
  projects/plugins/debug-helper/changelog/update-idc_simulator_display_options
  projects/plugins/debug-helper/changelog/update-idc_simulator_display_requests
  projects/plugins/debug-helper/changelog/update-idc_simulator_send_request
  projects/plugins/debug-helper/changelog/update-remove_unused_idc_transient
  projects/plugins/debug-helper/plugin.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Package] Codesniffer, [Plugin] Debug Helper, [Action] Required Review, [Action] Repo Gardening

#21576 VideoPress: Set the filename for VideoPress attachments
  projects/plugins/jetpack/changelog/update-videopress-add-filename-to-attachment
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
Labels: VideoPress, [Status] Ready to Merge, [Plugin] Jetpack

#21601 Media Uploads: Set Max File Upload Size to PHP Const
  projects/plugins/jetpack/changelog/fusion-sync-jgcaruso-r234156-wpcom-1635768570
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-upload-media-v1-1-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, Touches WP.com Files, [Plugin] Jetpack

#21629 Search Module: Remove extra WPcom gated code
  projects/plugins/jetpack/changelog/remove-wpcom-file-location-search-test
  projects/plugins/jetpack/tests/php/modules/search/test-class.jetpack-search-helpers.php
Labels: [Status] Needs Review, [Type] Dotcom Merge, Unit Tests, Touches WP.com Files, Search, [Plugin] Jetpack

#21537 VideoPress: Remove poster images from Calypso media library
  projects/plugins/jetpack/changelog/videopress-remove-thumnails-from-calypso
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-media-v1-1-endpoint.php
Labels: VideoPress, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21620 [RNMobile] Tiled Gallery Block: Update placeholder text
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21630 P2: hide inbox admin menu link
  projects/plugins/jetpack/changelog/update-p2-inbox-menu-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, nav-unification, [Plugin] Jetpack

#21628 Sync: Add Atomic Constant
  projects/packages/sync/changelog/add-atomic-constant-sync
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] Sync

#21625 Update usage of useInnerBlocksProps API
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
Labels: [Type] Bug, Tiled Gallery, [Status] Needs Author Reply, Touches WP.com Files, Gutenberg, [Block] Tiled Gallery, [Plugin] Jetpack

#21612 Nav Unification: Set default view with a direct server request
  projects/plugins/jetpack/changelog/fix-nav-unification-set-default-view
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#21623 VideoPress: Load full media item details from backend when uploading videos to VideoPress
  projects/plugins/jetpack/changelog/update-videopress-after-upload-experience
  projects/plugins/jetpack/modules/videopress/js/videopress-plupload.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21602 E2E tests: extract jest setup file into e2e-commons
  projects/plugins/boost/changelog/e2e-extract-jest-setup
  projects/plugins/boost/tests/e2e/jest.config.js
  projects/plugins/jetpack/changelog/e2e-extract-jest-setup
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/jest.setup.js
  tools/e2e-commons/jest.setup.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack, [Plugin] Boost

#21590 [Plugin] Backup: Update/upgrade button link
  projects/plugins/backup/changelog/update-upgrade-link-target
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/src/js/components/Admin.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Backup

#21632 Nav Unification: Remove `preferred-view` param after update
  projects/plugins/jetpack/changelog/remove-nav-unification-preferred-view-param
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#21567 Publicize: Handling feature availability information and upgrading
  projects/plugins/jetpack/changelog/update-publicize-adjust-jetpack-paid-plan-behavior
  projects/plugins/jetpack/extensions/plugins/publicize/components/panel/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/share-post/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/upsell/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/hooks/use-publicize-config/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Size] M, [Plugin] Jetpack, [Extension] Publicize

#21644 E2E tests: deactivate SSO module
  tools/e2e-commons/bin/e2e-env.sh
Labels: [Status] Needs Review, E2E Tests

#21642 js-tools: Add missing eslint plugin dep
  pnpm-lock.yaml
  tools/js-tools/package.json
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal

#21520 Publicize: always add an alt text to Open Graph Images
  projects/plugins/jetpack/changelog/update-add-alt-text-to-opengraph-images
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/functions.opengraph.php
  projects/plugins/jetpack/tests/php/test_class.functions.opengraph.php
Labels: [Type] Enhancement, Sharing, Publicize, Accessibility, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21647 tools: Allow extra spaces in next-version tags
  tools/replace-next-version-tag.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low

#21638 Boost: Fix the official name to the JavaScript word reference
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/fix-boost-javascript-wording
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Boost

#21580 Use webpack config js package in everything except Jetpack
  pnpm-lock.yaml
  projects/packages/connection-ui/babel.config.js
  projects/packages/connection-ui/changelog/add-webpack-config-js-package
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/webpack.config.js
  projects/packages/identity-crisis/changelog/add-webpack-config-js-package
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/webpack.config.js
  projects/packages/jitm/.gitignore
  projects/packages/jitm/changelog/add-webpack-config-js-package
  projects/packages/jitm/package.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/webpack.config.js
  projects/packages/lazy-images/changelog/add-webpack-config-js-package
  projects/packages/lazy-images/package.json
  projects/packages/lazy-images/src/lazy-images.php
  projects/packages/lazy-images/webpack.config.js
  projects/packages/sync/changelog/add-webpack-config-js-package#2
  projects/plugins/backup/babel.config.js
  projects/plugins/backup/changelog/add-use-webpack-config-js-package-in-everything-except-jetpack
  projects/plugins/backup/changelog/add-webpack-config-js-package
  projects/plugins/backup/changelog/add-webpack-config-js-package#2
  projects/plugins/backup/changelog/add-webpack-config-js-package#3
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/package.json
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/src/js/selectors/assets.js
  projects/plugins/backup/src/js/selectors/index.js
  projects/plugins/backup/webpack.config.js
  projects/plugins/jetpack/changelog/add-use-webpack-config-js-package-in-everything-except-jetpack
  projects/plugins/jetpack/changelog/add-webpack-config-js-package#2
  projects/plugins/jetpack/changelog/add-webpack-config-js-package#3
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Package] Sync, [Pri] Normal, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21618 [RNMobile] Tiled Gallery Block: Use default colour for block icon
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21511 Storybook: add Jetpack Spinner
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-jetpack-spinner
  projects/js-packages/components/components/spinner/README.md
  projects/js-packages/components/components/spinner/index.jsx
  projects/js-packages/components/components/spinner/stories/index.jsx
  projects/js-packages/components/components/spinner/test/component.jsx
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/add-jetpack-spinner-to-storybook
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-jetpack-spinner-to-storybook
  projects/js-packages/idc/package.json
  projects/js-packages/storybook/changelog/add-jetpack-spinner-to-storybook
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/add-jetpack-spinner-to-storybook
  projects/packages/connection-ui/package.json
  projects/plugins/backup/changelog/add-jetpack-spinner-to-storybook
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-jetpack-spinner-to-storybook
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, [Status] Needs Design Review, Touches WP.com Files, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Status] Design Input Requested, [Plugin] Backup, [JS Package] Components, [JS Package] Storybook, [JS Package] IDC

#21643 Tiled Gallery Block - Matching `save` serialized HTML with web
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/gallery-image/save.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/square.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/utils/index.js
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21645 Sync Checksums : limit users based on user_level
  projects/packages/sync/changelog/fix-checksums-user-level-limit
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/replicastore/class-table-checksum-usermeta.php
  projects/packages/sync/src/replicastore/class-table-checksum-users.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Status] Needs Review, [Package] Sync

#21648 Full Sync :: limit to contributors and above
  projects/packages/sync/changelog/fix-full-sync-user_level
  projects/packages/sync/src/modules/class-users.php
  projects/plugins/jetpack/changelog/fix-full-sync-user_level
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-full-immediately.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-full.php
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack

#21626 Boost: make progress bar corners round on small screens
  projects/plugins/boost/app/assets/src/css/components/score.scss
  projects/plugins/boost/changelog/fix-boost-progress-bar-round-corners
Labels: [Status] Needs Review, [Size] S, [Plugin] Boost

#21641 Pexels Integration: Make the initial image search for example query run only once
  projects/plugins/jetpack/changelog/fix-pexels-search
  projects/plugins/jetpack/extensions/shared/external-media/sources/pexels.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Extensions] External Media, [Plugin] Jetpack

#21591 Js package generator Add test runner to dev dependencies
  tools/cli/commands/generate.js
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Tools] Development CLI

#21581 Use webpack config JS package in Jetpack
  pnpm-lock.yaml
  projects/plugins/jetpack/babel.config.js
  projects/plugins/jetpack/changelog/add-webpack-config-js-package
  projects/plugins/jetpack/jest.config.js
  projects/plugins/jetpack/modules/search/instant-search/babel.config.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/jest-enzyme-init.js
  projects/plugins/jetpack/tests/jest-extensions-asset-stub.js
  projects/plugins/jetpack/tests/jest-extensions-babel-transform.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
  projects/plugins/jetpack/tools/webpack.config.search-configure.js
  projects/plugins/jetpack/tools/webpack.config.search.js
  projects/plugins/jetpack/tools/webpack.config.widget-visibility.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Package] Sync, [Pri] Normal, Search, Instant Search, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21592 Create JS Config package
  .github/renovate.json
  pnpm-lock.yaml
  projects/js-packages/config/.gitattributes
  projects/js-packages/config/.gitignore
  projects/js-packages/config/.nycrc
  projects/js-packages/config/CHANGELOG.md
  projects/js-packages/config/README.md
  projects/js-packages/config/changelog/.gitkeep
  projects/js-packages/config/changelog/add-config-js-package
  projects/js-packages/config/composer.json
  projects/js-packages/config/package.json
  projects/js-packages/config/src/index.js
  projects/js-packages/config/src/test/index.js
Labels: [Status] In Progress, [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Config

#21675 Fix typo in create-release-branch.sh
  tools/create-release-branch.sh
Labels: [Status] Needs Review, [Type] Janitorial

#21552 Search: Migrate helper classes to standalone package
  .github/CODEOWNERS
  projects/packages/search/.gitignore
  projects/packages/search/changelog/update-move-search-helpers-to-package
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-options.php
  projects/packages/search/src/wpes/class-query-builder.php
  projects/packages/search/src/wpes/class-query-parser.php
  projects/plugins/jetpack/changelog/update-move-search-helpers-to-package
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customberg.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-settings.php
  projects/plugins/jetpack/modules/search/class.jetpack-search-template-tags.php
  projects/plugins/jetpack/modules/search/class.jetpack-search.php
  projects/plugins/jetpack/modules/search/customize-controls/class-excluded-post-types-control.php
  projects/plugins/jetpack/modules/search/customize-controls/class-label-control.php
  projects/plugins/jetpack/modules/widgets/search.php
  projects/plugins/jetpack/tests/php/modules/search/test-class-jetpack-instant-search.php
  projects/plugins/jetpack/tests/php/modules/search/test-class.jetpack-search-helpers.php
  tools/phpcs-excludelist.json
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#21666 Post List: Fix the stretched thumbnail images.
  projects/packages/post-list/changelog/fix-post-list-stretched-thumbnail
  projects/packages/post-list/src/class-post-list.php
  projects/packages/post-list/src/style.css
Labels: [Type] Bug, [Status] Needs Review, [Package] Post List

#21658 Fixed Jetpack Dashboard submenu highlight when the current page is Settings
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/fix-settings-submenu-highlight
Labels: [Status] Ready to Merge, Admin Page, nav-unification, [Plugin] Jetpack

#21677 Display Nav Unification Quick switcher on edit.php?post_type=post
  projects/plugins/jetpack/changelog/fix-quick-switcher-mapping
  projects/plugins/jetpack/modules/masterbar/admin-menu/menu-mappings.php
Labels: Touches WP.com Files, Masterbar, [Status] Needs Team Review, [Plugin] Jetpack

#21568 Boost: Fix files linting formatting and integrate into pre-commit hooks and CI workflow.
  .eslintignore
  .github/workflows/linting.yml
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  projects/plugins/boost/.eslintignore
  projects/plugins/boost/.eslintrc.js
  projects/plugins/boost/.prettierrc.js
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/api/api-error.ts
  projects/plugins/boost/app/assets/src/js/api/api.ts
  projects/plugins/boost/app/assets/src/js/api/modules.ts
  projects/plugins/boost/app/assets/src/js/api/speed-scores.ts
  projects/plugins/boost/app/assets/src/js/elements/CloseButton.svelte
  projects/plugins/boost/app/assets/src/js/elements/ErrorNotice.svelte
  projects/plugins/boost/app/assets/src/js/elements/MoreList.svelte
  projects/plugins/boost/app/assets/src/js/elements/NumberedList.svelte
  projects/plugins/boost/app/assets/src/js/elements/TemplatedString.svelte
  projects/plugins/boost/app/assets/src/js/elements/TimeAgo.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/connection/Connection.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssErrorDescription.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/GenerateCSS.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/RatingCard.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ScoreBar.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ScoreContext.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/UrlComponentsExample.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/AdvancedCriticalCss.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Tips.svelte
  projects/plugins/boost/app/assets/src/js/sections/Footer.svelte
  projects/plugins/boost/app/assets/src/js/sections/Header.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/assets/src/js/utils/analytics.ts
  projects/plugins/boost/app/assets/src/js/utils/describe-critical-css-recommendations.ts
  projects/plugins/boost/app/assets/src/js/utils/describe-time-ago.ts
  projects/plugins/boost/app/assets/src/js/utils/external-link-template-var.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/app/assets/src/js/utils/poll-promise.ts
  projects/plugins/boost/changelog/fix-boost-and-general-linting-formatting
  projects/plugins/boost/package.json
  projects/plugins/boost/rollup.config.js
  tools/js-tools/git-hooks/pre-commit-hook.js
  tools/js-tools/package.json
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Type] Janitorial, [Status] Needs Team Review, Actions, E2E Tests, [Plugin] Boost

#21571 Contact Form: disable buttons when the form is submitted
  projects/plugins/jetpack/changelog/update-disable_button_after_submit
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Contact Form

#21680 Fix propTypes and add story
  projects/js-packages/components/components/decorative-card/index.jsx
  projects/js-packages/components/components/decorative-card/stories/index.jsx
Labels: [Status] Needs Author Reply, Touches WP.com Files, RNA, [JS Package] Components

#21550 Jetpack Plugin: Fixing Infinite scroll allowed var result
  projects/plugins/jetpack/changelog/Infinity-Scroll-allowed-vars
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
  projects/plugins/jetpack/tests/php/modules/infinite-scroll/test_class.infinite-scroll.php
Labels: [Type] Bug, Infinite Scroll, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Pri] Normal, OSS Citizen, [Plugin] Jetpack

#21682 Status: add a function_exists check before calling wp_get_environment_type
  projects/packages/status/changelog/2021-11-09-16-21-32-086404
  projects/packages/status/src/class-status.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Low, [Package] Status

#21692 Revert "Jetpack Plugin: Fixing Infinite scroll allowed var result"
  projects/plugins/jetpack/changelog/Infinity-Scroll-allowed-vars
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
  projects/plugins/jetpack/tests/php/modules/infinite-scroll/test_class.infinite-scroll.php
Labels: Infinite Scroll, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Plugin] Jetpack

#21634 VideoPress: Correct display of VideoPress upsells for security daily plan
  projects/plugins/jetpack/_inc/client/at-a-glance/videopress.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/performance/media.jsx
  projects/plugins/jetpack/changelog/update-videopress-upsells-exclude-new-security-daily
Labels: VideoPress, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#21686 [RNMobile] Tiled Gallery layout selection basic implementation
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout-picker.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/settings.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/styles.native.scss
Labels: [Type] Enhancement, [Status] Needs Author Reply, Touches WP.com Files, Gutenberg, [Block] Tiled Gallery, [Plugin] Jetpack

#21674 Products: Update links on Backup/Security cards to direct to checkout for real-time products
  projects/plugins/jetpack/_inc/client/product-descriptions/constants.js
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/index.jsx
  projects/plugins/jetpack/changelog/update-plan-recommendation-slugs
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, Plans, [Size] S, [Plugin] Jetpack

#21657 E2E tests: log page url on error
  tools/e2e-commons/env/playwright-environment.js
  tools/e2e-commons/env/prerequisites.js
  tools/e2e-commons/pages/wpcom/pick-a-plan.js
Labels: [Status] Needs Review, E2E Tests

#21691 Nav Unification: migrate new Site Editor location
  projects/plugins/jetpack/changelog/fix-site-editor-nav-link
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Touches WP.com Files, Masterbar, [Status] Needs Team Review, nav-unification, [Plugin] Jetpack, [Package] Wpcom Nav

#21456 Boost: Add E2E tests integration into the Github actions workflow.
  .github/workflows/e2e-tests-atomic.yml
  .github/workflows/e2e-tests-boost.yml
  .github/workflows/e2e-tests.yml
  projects/plugins/boost/changelog/add-boost-e2e-ci-integration
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/boost/tests/e2e/specs/homepage.test.js
  projects/plugins/boost/tests/e2e/specs/jetpack-boost/speed-score.test.js
Labels: [Status] Ready to Merge, Actions, E2E Tests, [Action] Repo Gardening, [Plugin] Boost

#21673 CLI: Add release-branch to jetpack release
  tools/cli/commands/release.js
Labels: [Status] Ready to Merge, Jetpack CLI, [Tools] Development CLI

#21596 Search: Restore filter query string functionality
  projects/plugins/jetpack/changelog/fix-search-filter-query-string-handling
  projects/plugins/jetpack/modules/search/instant-search/lib/query-string.js
  projects/plugins/jetpack/modules/search/instant-search/store/effects.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack

#21679 My Plan: Show available storage in description for new Backup/Security plans
  projects/plugins/jetpack/_inc/client/components/dev-card/index.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/update-myplan-backup-security-storage-amounts
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, Plans, [Size] S, [Plugin] Jetpack

#21696 Remove unnecessary use of gulp
  pnpm-lock.yaml
  projects/packages/connection-ui/changelog/remove-unnecessary-use-of-gulp
  projects/packages/connection-ui/gulpfile.babel.js
  projects/packages/connection-ui/package.json
  projects/plugins/backup/changelog/remove-unnecessary-use-of-gulp
  projects/plugins/backup/gulpfile.babel.js
  projects/plugins/backup/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Connection UI, [Plugin] Backup

#21624 Backup: removed backup-in-progress animation on small viewports
  projects/plugins/backup/changelog/fix-remove-backup-animation-mobile
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/components/backups-style.scss
Labels: [Status] Ready to Merge, [Size] S, [Plugin] Backup

#21695 Jetpack mobile navigation: make sure correct dropdown item is selected
  projects/plugins/jetpack/_inc/client/admin.js
  projects/plugins/jetpack/changelog/fix-recommendation-nav-item-not-selected
Labels: [Status] Ready to Merge, Admin Page, [Size] S, [Plugin] Jetpack

#21685 Admin: reduce bottom padding of admin footer
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/fix-jetpack-plugin-footer-size
Labels: [Status] Ready to Merge, Admin Page, [Size] S, [Plugin] Jetpack

#21687 Device Detection: Verify HTTP_USER_AGENT exists
  projects/packages/device-detection/changelog/fix-device-detection-http-user-agent
  projects/packages/device-detection/src/class-user-agent-info.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] Device Detection

#21697 actions: Enable conditions in tool-setup action
  .github/actions/tool-setup/action.yml
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#21654 Likes: replace postmessage.js with native code
  projects/plugins/jetpack/_inc/postmessage.js
  projects/plugins/jetpack/changelog/update-replace-postmessage-js-with-native
  projects/plugins/jetpack/modules/comment-likes.php
  projects/plugins/jetpack/modules/likes.php
  projects/plugins/jetpack/modules/likes/queuehandler.js
  projects/plugins/jetpack/tests/php/modules/comment-likes/test-class.comment-likes.php
Labels: [Type] Enhancement, Likes, Performance, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Status] Needs Testing, Comment Likes, [Plugin] Jetpack

#21684 SVN release: automate the tag copy commit message
  tools/deploy-to-svn.sh
Labels: [Type] Enhancement, [Status] Ready to Merge, [Type] Janitorial

#21655 Nav Unification: Display the stats sparkline on WP Admin for Atomic sites
  projects/plugins/jetpack/changelog/add-nav-unification-stats-sparkline-atomic
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#21712 Gardening: ensure it can use Composer
  .github/workflows/gardening.yml
Labels: [Type] Bug, [Status] Needs Review, Actions, [Action] Repo Gardening

#21474 Display notice when user has unactivated product license keys
  pnpm-lock.yaml
  projects/js-packages/api/changelog/update-user-license-counts
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/js-packages/connection/changelog/add-user-license-activate-notice-2
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-user-license-activate-notice-2
  projects/js-packages/idc/package.json
  projects/js-packages/storybook/changelog/add-user-license-activate-notice-2
  projects/js-packages/storybook/changelog/add-user-license-activate-notice-2#2
  projects/packages/connection-ui/changelog/add-user-license-activate-notice-2
  projects/packages/connection-ui/changelog/add-user-license-activate-notice-2#2
  projects/packages/connection-ui/package.json
  projects/packages/licensing/changelog/add-user-license-activate-notice-2
  projects/packages/licensing/composer.json
  projects/packages/licensing/src/class-licensing.php
  projects/packages/options/changelog/add-user-license-activate-notice-2
  projects/packages/options/legacy/class-jetpack-options.php
  projects/plugins/backup/changelog/add-user-license-activate-notice-2
  projects/plugins/backup/changelog/add-user-license-activate-notice-2#2
  projects/plugins/backup/composer.lock
  projects/plugins/backup/package.json
  projects/plugins/beta/changelog/add-user-license-activate-notice-2
  projects/plugins/beta/composer.lock
  projects/plugins/boost/changelog/add-user-license-activate-notice-2
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/add-user-license-activate-notice-2
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/user-license-activation.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/license.jsx
  projects/plugins/jetpack/_inc/client/state/action-types.js
  projects/plugins/jetpack/_inc/client/state/licensing/actions.js
  projects/plugins/jetpack/_inc/client/state/licensing/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/add-license-activation-notice
  projects/plugins/jetpack/changelog/add-user-license-activate-notice-2
  projects/plugins/jetpack/changelog/add-user-license-activate-notice-2#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/search/changelog/add-user-license-activate-notice-2
  projects/plugins/search/composer.lock
  projects/plugins/vaultpress/changelog/add-user-license-activate-notice-2
  projects/plugins/vaultpress/composer.lock
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, E2E Tests, [Package] Licensing, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, [Package] Connection UI, RNA, [Package] Options, [JS Package] Connection, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [JS Package] API, [JS Package] Storybook, [Plugin] Search, [JS Package] IDC

#21713 Boost: Implement support for loading stylesheets when JavaScript is disabled in the context Critical CSS being enabled
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/fix-boost-critical-css-without-javascript
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#21727 jetpack: Don't set Webpack's `output.pathinfo` in production builds
  projects/plugins/jetpack/changelog/remove-webpack-output-pathinfo-in-prod-builds
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#21659 Allow /sites/${site}/external-media/copy/pexels to insert post meta data
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/changelog/add-external-media-copy-meta
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-external-media.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21595 webpack-config: Fork calypso-build's mini-css-with-rtl plugin
  pnpm-lock.yaml
  projects/js-packages/webpack-config/README.md
  projects/js-packages/webpack-config/changelog/add-fork-mini-css-with-rtl-plugin
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/webpack.js
  projects/js-packages/webpack-config/src/webpack/mini-css-with-rtl.js
  projects/packages/connection-ui/changelog/add-fork-mini-css-with-rtl-plugin
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/changelog/add-fork-mini-css-with-rtl-plugin
  projects/packages/identity-crisis/package.json
  projects/packages/jitm/changelog/add-fork-mini-css-with-rtl-plugin
  projects/packages/jitm/package.json
  projects/packages/lazy-images/changelog/add-fork-mini-css-with-rtl-plugin
  projects/packages/lazy-images/package.json
  projects/plugins/backup/changelog/add-fork-mini-css-with-rtl-plugin
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-fork-mini-css-with-rtl-plugin
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21660 Create eslint-config-target-es JS package
  .github/renovate.json
  pnpm-lock.yaml
  projects/js-packages/eslint-config-target-es/.gitattributes
  projects/js-packages/eslint-config-target-es/.gitignore
  projects/js-packages/eslint-config-target-es/CHANGELOG.md
  projects/js-packages/eslint-config-target-es/README.md
  projects/js-packages/eslint-config-target-es/changelog/.gitkeep
  projects/js-packages/eslint-config-target-es/changelog/add-eslint-config-target-es
  projects/js-packages/eslint-config-target-es/composer.json
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/eslint-config-target-es/src/browsersMap.js
  projects/js-packages/eslint-config-target-es/src/configs/all.js
  projects/js-packages/eslint-config-target-es/src/configs/base.js
  projects/js-packages/eslint-config-target-es/src/configs/builtins.js
  projects/js-packages/eslint-config-target-es/src/configs/language.js
  projects/js-packages/eslint-config-target-es/src/funcs.js
  projects/js-packages/eslint-config-target-es/src/rulesMap.js
  projects/js-packages/eslint-config-target-es/tests/configs.test.js
  projects/js-packages/eslint-config-target-es/tests/funcs.test.js
  projects/js-packages/eslint-config-target-es/tests/rulesMap.test.js
  tools/js-tools/package.json
  tools/js-tools/validate-es
  tools/js-tools/validate-es.config.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Feature, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es

#21700 webpack-config: Use `@automattic/babel-plugin-preserve-i18n`
  pnpm-lock.yaml
  projects/js-packages/webpack-config/README.md
  projects/js-packages/webpack-config/changelog/update-use-babel-plugin-preserve-i18n
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/babel-preset.js
  projects/packages/connection-ui/changelog/update-use-babel-plugin-preserve-i18n
  projects/packages/identity-crisis/changelog/update-use-babel-plugin-preserve-i18n
  projects/packages/jitm/changelog/update-use-babel-plugin-preserve-i18n
  projects/packages/lazy-images/changelog/update-use-babel-plugin-preserve-i18n
  projects/plugins/backup/changelog/update-use-babel-plugin-preserve-i18n
  projects/plugins/jetpack/changelog/update-use-babel-plugin-preserve-i18n
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21667 webpack-config: Configure minifier to preserve translator comments
  docs/yarn-upgrade.md
  package.json
  pnpm-lock.yaml
  projects/js-packages/webpack-config/README.md
  projects/js-packages/webpack-config/changelog/fix-js-minifier-translator-comments
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/webpack.js
  projects/js-packages/webpack-config/src/webpack/mini-css-with-rtl.js
  projects/js-packages/webpack-config/src/webpack/terser.js
  projects/packages/connection-ui/changelog/fix-js-minifier-translator-comments
  projects/packages/identity-crisis/changelog/fix-js-minifier-translator-comments
  projects/packages/jitm/changelog/fix-js-minifier-translator-comments
  projects/packages/lazy-images/changelog/fix-js-minifier-translator-comments
  projects/plugins/backup/changelog/fix-js-minifier-translator-comments
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/index.jsx
  projects/plugins/jetpack/changelog/fix-js-minifier-translator-comments
  projects/plugins/jetpack/changelog/fix-js-minifier-translator-comments#2
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/track.js
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Pri] Normal, [Block] Podcast Player, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21676 Sync: add a new method, do_only_first_initial_sync
  projects/packages/sync/changelog/update-add_method_for_initial_sync_check
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/tests/php/test-actions.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Sync, [Plugin] Jetpack

#21517 Autoloader: Not activated autoload queue is false
  projects/packages/autoloader/changelog/mikaelz-1
  projects/packages/autoloader/src/class-php-autoloader.php
Labels: [Status] Ready to Merge, OSS Citizen, [Package] Autoloader

#21726 Likes: reimplement non-admin portions without jQuery
  projects/plugins/jetpack/_inc/jetpack-connection-banner.js
  projects/plugins/jetpack/_inc/jquery.jetpack-resize.js
  projects/plugins/jetpack/changelog/update-remove-jquery-from-likes
  projects/plugins/jetpack/modules/.eslintrc.js
  projects/plugins/jetpack/modules/comment-likes.php
  projects/plugins/jetpack/modules/likes.php
  projects/plugins/jetpack/modules/likes/queuehandler.js
  projects/plugins/jetpack/modules/likes/style.css
  projects/plugins/jetpack/modules/simple-payments/paypal-express-checkout.js
  tools/eslint-excludelist.json
Labels: [Type] Enhancement, Likes, Performance, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Testing, Comment Likes, Pay With Paypal, [Plugin] Jetpack

#21715 Backup: Replace daily backup references/upsell links with new real-time products
  projects/plugins/backup/changelog/update-backup-plugin-for-new-realtime-backups
  projects/plugins/backup/readme.txt
  projects/plugins/backup/src/js/components/Admin.js
Labels: Docs, [Status] Ready to Merge, Admin Page, [Plugin] Backup

#21729 Use monorepo `validate-es` script to validate Webpack builds
  pnpm-lock.yaml
  projects/js-packages/webpack-config/changelog/add-use-validate-es
  projects/js-packages/webpack-config/src/babel-preset.js
  projects/js-packages/webpack-config/src/webpack/terser.js
  projects/packages/connection-ui/changelog/add-use-validate-es
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/changelog/add-use-validate-es
  projects/packages/identity-crisis/package.json
  projects/packages/jitm/changelog/add-use-validate-es
  projects/packages/jitm/package.json
  projects/packages/lazy-images/changelog/add-use-validate-es
  projects/packages/lazy-images/package.json
  projects/plugins/backup/changelog/add-use-validate-es
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-use-validate-es
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Webpack Config

#21731 eslint-config-target-es: Configure mirror repo
  projects/js-packages/eslint-config-target-es/.gitattributes
  projects/js-packages/eslint-config-target-es/changelog/add-mirror-for-eslint-config-target-es
  projects/js-packages/eslint-config-target-es/composer.json
  projects/js-packages/eslint-config-target-es/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es

#21689 assets: Add `wp_register_script` wrapper (and then use it everywhere)
  .phpcs.config.xml
  projects/packages/assets/changelog/add-assets-wp_register_script-wrapper
  projects/packages/assets/composer.json
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/tests/php/patchwork.json
  projects/packages/assets/tests/php/test-assets-files/everything.asset.php
  projects/packages/assets/tests/php/test-assets-files/everything.css
  projects/packages/assets/tests/php/test-assets-files/everything.js
  projects/packages/assets/tests/php/test-assets-files/everything.rtl.css
  projects/packages/assets/tests/php/test-assets-files/everything.src.js
  projects/packages/assets/tests/php/test-assets-files/js-and-css.asset.php
  projects/packages/assets/tests/php/test-assets-files/js-and-css.css
  projects/packages/assets/tests/php/test-assets-files/js-and-css.js
  projects/packages/assets/tests/php/test-assets-files/single-js-file.js
  projects/packages/assets/tests/php/test-assets.php
  projects/packages/connection-ui/changelog/add-assets-wp_register_script-wrapper
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/jitm/changelog/add-assets-wp_register_script-wrapper
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/changelog/add-assets-wp_register_script-wrapper
  projects/packages/lazy-images/composer.json
  projects/packages/lazy-images/src/lazy-images.php
  projects/packages/post-list/changelog/add-assets-wp_register_script-wrapper
  projects/packages/post-list/composer.json
  projects/packages/tracking/changelog/add-assets-wp_register_script-wrapper
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/add-assets-wp_register_script-wrapper
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/src/php/class-jetpack-backup.php
  projects/plugins/boost/changelog/add-assets-wp_register_script-wrapper
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/add-assets-wp_register_script-wrapper
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customberg.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
  projects/plugins/jetpack/tools/webpack.helpers.js
Labels: [Type] Enhancement, Widget Visibility, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Search, [Package] Lazy Images, [Package] Tracking, [Package] Assets, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, [Plugin] Backup, [Plugin] Boost, [Package] Post List

#21744 Assets: Changelog for package version 1.12.0
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/add-assets-wp_register_script-wrapper
  projects/packages/assets/src/class-assets.php
Labels: [Status] Needs Review, [Package] Assets

#21653 VideoPress: reload block on rating change
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/plugins/jetpack/changelog/fix-videopress-reload-on-rating-change
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#21709 Boost: Replace the site URL by the home URL to cater for subdirectory WordPress install
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/changelog/fix-boost-site-speed-home-url
Labels: [Type] Bug, Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Speed Score

#21724 Boost: Fix the E2E speed scores test assertion
  projects/plugins/boost/changelog/fix-boost-e2e-test-speed-score-assertion
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
Labels: [Type] Bug, [Status] Needs Team Review, E2E Tests, [Plugin] Boost

#21640 VideoPress : allow block resize in Gutenberg
  projects/plugins/jetpack/changelog/add-videopress-resize-handles-gutenberg
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#21749 Janitorial: Update WordPress Spelling
  projects/plugins/jetpack/changelog/fix-spelling
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/test/validate.js
  tools/cli/commands/docker.js
  tools/docker/docker-compose.yml
  tools/e2e-commons/pages/wpcom/login.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, Docker, [Block] Repeat Visitor, E2E Tests, [Tools] Development CLI, [Plugin] Jetpack

#21701 Jetpack Assistant: align info icon
  projects/plugins/jetpack/_inc/client/recommendations/summary/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/summary/style.scss
  projects/plugins/jetpack/changelog/fix-jetpack-assistant-icon-alignment
Labels: [Status] Ready to Merge, Admin Page, [Size] S, [Plugin] Jetpack, Assistant (Onboarding)

#21627 Add new endpoint `attach-licenses` to Jetpack Plugin endpoints and API `js-package`
  pnpm-lock.yaml
  projects/js-packages/api/changelog/add-new-attach-license-method
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/js-packages/api/test/rest-api.jsx
  projects/js-packages/connection/changelog/add-new-attach-license-method
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-new-attach-license-method
  projects/js-packages/idc/package.json
  projects/js-packages/storybook/changelog/add-new-attach-license-method
  projects/packages/connection-ui/changelog/add-new-attach-license-method
  projects/packages/connection-ui/package.json
  projects/packages/licensing/README.md
  projects/packages/licensing/changelog/add-new-attach-license-method
  projects/packages/licensing/tests/php/class-test-licensing.php
  projects/plugins/backup/changelog/add-new-attach-license-method
  projects/plugins/backup/package.json
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/add-new-attach-license-method
  projects/plugins/jetpack/changelog/add-new-attach-license-method#2
  projects/plugins/jetpack/changelog/add-new-attach-license-method#3
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Package] Licensing, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] API, [JS Package] Storybook, [JS Package] IDC

#21699 Jetpack Assistant: hide background image on small viewports
  projects/plugins/jetpack/_inc/client/recommendations/style.scss
  projects/plugins/jetpack/changelog/fix-reco-assistant-background-on-mobile
Labels: [Status] Ready to Merge, Admin Page, [Size] S, [Plugin] Jetpack, Assistant (Onboarding)

#21730 Add Licensing JS Package
  .github/renovate.json
  .gitignore
  pnpm-lock.yaml
  projects/js-packages/licensing/.eslintrc.cjs
  projects/js-packages/licensing/.gitattributes
  projects/js-packages/licensing/.gitignore
  projects/js-packages/licensing/.nycrc
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/README.md
  projects/js-packages/licensing/changelog/.gitkeep
  projects/js-packages/licensing/changelog/add-license-flow-js-package
  projects/js-packages/licensing/components/activation-screen-controls/index.jsx
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/js-packages/licensing/components/activation-screen-controls/test/component.jsx
  projects/js-packages/licensing/components/activation-screen-illustration/index.jsx
  projects/js-packages/licensing/components/activation-screen-illustration/style.scss
  projects/js-packages/licensing/components/activation-screen-illustration/test/component.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/index.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/index.js
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/jetpack-backup-daily.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/jetpack-security-daily.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/style.scss
  projects/js-packages/licensing/components/activation-screen-success-info/test/component.jsx
  projects/js-packages/licensing/components/activation-screen/index.jsx
  projects/js-packages/licensing/components/activation-screen/style.scss
  projects/js-packages/licensing/components/rna-styles.scss
  projects/js-packages/licensing/composer.json
  projects/js-packages/licensing/index.jsx
  projects/js-packages/licensing/package.json
  projects/js-packages/licensing/test-main.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Licensing

#21694 [RNMobile] [WIP] Tiled Gallery: Hide inner block settings
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js
Labels: [Status] Needs Author Reply, [Status] In Progress, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#21665 Boost: Fix CLS increase due to Critical CSS onload events
  projects/plugins/boost/app/modules/critical-css/class-critical-css.php
  projects/plugins/boost/changelog/fix-cls-increase-on-critical-css
Labels: [Plugin] Boost, [Boost Feature] Critical CSS

#21711 Button styles: ensure connection button can accomodate longer text
  projects/js-packages/connection/changelog/update-connection-button-layout-local
  projects/js-packages/connection/components/connect-screen/basic/style.scss
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Pri] Normal, RNA, [JS Package] Connection

#21760 Assets: do not use the new method yet
  projects/packages/connection-ui/changelog/revert-assets-change
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/lazy-images/changelog/revert-assets-change
  projects/packages/lazy-images/src/lazy-images.php
  projects/plugins/backup/changelog/revert-assets-change
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/src/php/class-jetpack-backup.php
  projects/plugins/boost/changelog/revert-assets-change
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/revert-assets-change
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customberg.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Bug, Widget Visibility, [Status] Ready to Merge, Touches WP.com Files, [Pri] BLOCKER, Search, [Package] Lazy Images, [Package] Tracking, [Package] Assets, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, [Plugin] Backup, [Plugin] Boost, [Package] Post List

#21762 Janitorial: update Jetpack version for 10.4-a.6 cycle
  projects/plugins/jetpack/changelog/update-jetpack-weekly-104a6
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#21742 codesniffer: Disable CI on PHP 8.1
  projects/packages/codesniffer/changelog/fix-disable-codesniffer-tests-on-8.1
  projects/packages/codesniffer/tests/action-test-php.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Codesniffer

#21743 eslint-config-target-es: Fix README.md
  projects/js-packages/eslint-config-target-es/README.md
  projects/js-packages/eslint-config-target-es/changelog/fix-eslint-config-target-es-readme
Labels: Docs, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es

#21747 WPCOM no longer forces home_urls to be http
  projects/plugins/jetpack/changelog/wpcom-no-longer-forces-http
  projects/plugins/jetpack/class.json-api.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#21769 Revert "WPCOM no longer forces home_urls to be http"
  projects/plugins/jetpack/changelog/wpcom-no-longer-forces-http
  projects/plugins/jetpack/class.json-api.php
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Plugin] Jetpack

#21766 eslint-config-target-es: Release 1.0.0!
  projects/js-packages/eslint-config-target-es/CHANGELOG.md
  projects/js-packages/eslint-config-target-es/changelog/add-eslint-config-target-es
  projects/js-packages/eslint-config-target-es/changelog/add-mirror-for-eslint-config-target-es
  projects/js-packages/eslint-config-target-es/changelog/fix-eslint-config-target-es-readme
  projects/js-packages/eslint-config-target-es/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es

#21783 Remove special cases for calling changelogger on packages/changelogger
  .github/files/build-all-projects.sh
  projects/packages/changelogger/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/packages/changelogger/composer.json
  projects/packages/changelogger/src/Application.php
  projects/plugins/backup/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/backup/composer.lock
  projects/plugins/beta/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/beta/composer.lock
  projects/plugins/boost/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/search/composer.lock
  projects/plugins/vaultpress/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/vaultpress/composer.lock
  tools/changelogger-release.sh
  tools/changelogger-validate-all.sh
  tools/cli/commands/changelog.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, [Package] Changelogger, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search

#21754 Identity Crisis: add unit tests for has_identity_crisis and get_mismatched_urls
  projects/packages/identity-crisis/changelog/update-add_idc_unit_tests
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
Labels: [Status] Ready to Merge, Unit Tests, [Package] Identity Crisis

#21464 Add/my jetpack skeleton
  .github/renovate.json
  pnpm-lock.yaml
  projects/packages/my-jetpack/.babelrc
  projects/packages/my-jetpack/.eslintrc.js
  projects/packages/my-jetpack/.gitattributes
  projects/packages/my-jetpack/.gitignore
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/README.md
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/babel.config.js
  projects/packages/my-jetpack/changelog/.gitkeep
  projects/packages/my-jetpack/changelog/add-my-jetpack-skeleton
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/phpunit.xml.dist
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/tests/php/bootstrap.php
  projects/packages/my-jetpack/webpack.config.js
  projects/plugins/jetpack/changelog/add-my-jetpack-skeleton
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] My Jetpack

#18770 SSO: Fix Button Text Alignment on Mobile
  projects/plugins/jetpack/changelog/fix-sso-login-alignment
  projects/plugins/jetpack/modules/sso.php
  projects/plugins/jetpack/modules/sso/jetpack-sso-login.css
Labels: [Type] Bug, SSO, [Status] Ready to Merge, [Status] Needs Design Review, [Pri] Normal, [Plugin] Jetpack, [Status] Design Input Requested

#21649 Tests: Fix unit tests for wpcom
  projects/plugins/jetpack/changelog/fix-jetpack-unit-wpcom
  projects/plugins/jetpack/tests/php.multisite.xml
  projects/plugins/jetpack/tests/php/bootstrap.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-class.subscribers-endpoint.php
  projects/plugins/jetpack/tests/php/lib/mock-functions.php
  projects/plugins/jetpack/tests/php/modules/masterbar/data/admin-menu.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
Labels: Subscriptions, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#21794 licensing: jetpack-js-test-runner is a dev dependency
  pnpm-lock.yaml
  projects/js-packages/licensing/changelog/fix-licensing-js-test-runner
  projects/js-packages/licensing/package.json
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] BLOCKER, RNA, [JS Package] Licensing

#21661 Podcast Player: Increase podcast shown
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-podcast-player.php
  projects/plugins/jetpack/changelog/add-increase-podcast-shown
  projects/plugins/jetpack/extensions/blocks/podcast-player/api.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/edit.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Podcast Player, OSS Citizen, [Plugin] Jetpack

#21785 Check if maxwidth exists before trying to call .length
  projects/plugins/jetpack/changelog/fix-videopress-block-gutenberg-error
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#21797 Jetpack: Prepare for 10.4-a.7
  pnpm-lock.yaml
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-rna-pricing-card-same-price
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/prepare-10.4.a.7-release
  projects/js-packages/licensing/package.json
  projects/js-packages/storybook/changelog/prepare-10.4.a.7-release
  projects/js-packages/storybook/package.json
  projects/packages/admin-ui/CHANGELOG.md
  projects/packages/admin-ui/changelog/add-test-with-php-8.1
  projects/packages/admin-ui/changelog/fix-phpunit-configs
  projects/packages/admin-ui/package.json
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/packages/changelogger/src/Application.php
  projects/packages/connection-ui/CHANGELOG.md
  projects/packages/connection-ui/changelog/fix-revert-revert-and-hack-around-bug
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/changelog/update-add_idc_unit_tests
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/lazy-images/CHANGELOG.md
  projects/packages/lazy-images/changelog/fix-revert-revert-and-hack-around-bug
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/add-my-jetpack-skeleton
  projects/packages/my-jetpack/package.json
  projects/plugins/backup/changelog/prepare-10.4.a.7-release
  projects/plugins/backup/package.json
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-increase-podcast-shown
  projects/plugins/jetpack/changelog/add-my-jetpack-skeleton
  projects/plugins/jetpack/changelog/fix-jetpack-unit-wpcom
  projects/plugins/jetpack/changelog/fix-revert-revert-and-hack-around-bug
  projects/plugins/jetpack/changelog/fix-sso-login-alignment
  projects/plugins/jetpack/changelog/fix-videopress-block-gutenberg-error
  projects/plugins/jetpack/changelog/remove-special-cases-for-changelogger-in-changelogger
  projects/plugins/jetpack/changelog/update-jetpack-weekly-104a6
  projects/plugins/jetpack/changelog/update-rna-pricing-card-same-price
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Type] Janitorial, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, RNA, [Package] Changelogger, [Package] Identity Crisis, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Storybook, [JS Package] IDC, [Package] Admin Ui, [JS Package] Licensing, [Package] My Jetpack

#21799 Jetpack: Start 10.4-a.8
  projects/plugins/jetpack/changelog/start-10.4-a.8
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21782 RNA Base styles - Move RNA styles to base-styles package.
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/update-jetpack-base-styles
  projects/js-packages/base-styles/style.scss
  projects/js-packages/components/changelog/update-jetpack-base-styles
  projects/js-packages/components/components/pricing-card/style.scss
  projects/js-packages/components/components/rna-styles.scss
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-jetpack-base-styles
  projects/js-packages/connection/changelog/update-jetpack-base-styles#2
  projects/js-packages/connection/components/connection-status-card/style.scss
  projects/js-packages/connection/components/disconnect-dialog/style.scss
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-jetpack-base-styles
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-jetpack-base-styles
  projects/js-packages/licensing/changelog/update-jetpack-base-styles#2
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/js-packages/licensing/components/activation-screen-illustration/style.scss
  projects/js-packages/licensing/components/activation-screen-success-info/style.scss
  projects/js-packages/licensing/components/rna-styles.scss
  projects/js-packages/licensing/package.json
  projects/js-packages/storybook/changelog/update-jetpack-base-styles
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/update-jetpack-base-styles
  projects/packages/connection-ui/package.json
  projects/packages/my-jetpack/changelog/update-jetpack-base-styles
  projects/packages/my-jetpack/package.json
  projects/plugins/backup/changelog/update-jetpack-base-styles
  projects/plugins/backup/changelog/update-jetpack-base-styles#2
  projects/plugins/backup/package.json
  projects/plugins/backup/src/js/components/StatBlock.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/components/backups-style.scss
  projects/plugins/backup/src/js/components/rna-styles.scss
  projects/plugins/jetpack/changelog/update-jetpack-base-styles
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, [Status] In Progress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Base Styles, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] My Jetpack

#21663 Publicize: Create new objects in the store effect
  projects/plugins/jetpack/changelog/update-publicize-connection-test-result-effect
  projects/plugins/jetpack/extensions/plugins/publicize/store/effects.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Extension] Publicize

#21803 Fix Action button width
  projects/js-packages/components/changelog/fix-action-button-min-width
  projects/js-packages/components/components/action-button/style.scss
  projects/js-packages/connection/changelog/fix-action-button-min-width
  projects/js-packages/connection/components/connect-screen/basic/style.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Connection, [JS Package] Components

#21804 assets: Add missing options doc
  projects/packages/assets/changelog/update-assets-register_script-missing-doc
  projects/packages/assets/src/class-assets.php
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Assets

#21768 CLI: Add amend to jetpack release
  tools/cli/commands/release.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#21503 Backup: Initialize the identity crisis package
  projects/plugins/backup/changelog/update-backup_init_idc
  projects/plugins/backup/src/php/class-jetpack-backup.php
Labels: [Type] Bug, [Status] Ready to Merge, IDC, [Plugin] Backup

#21770 Update Licensing JS Package to make it support all Jetpack products
  projects/js-packages/licensing/changelog/add-licensing-support-for-all-jetpack-products
  projects/js-packages/licensing/components/activation-screen-success-info/index.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/index.js
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/jetpack-backup-daily.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/jetpack-security-daily.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/test/component.jsx
  projects/js-packages/licensing/components/activation-screen/index.jsx
  projects/js-packages/licensing/components/activation-screen/utils.js
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Licensing

#21728 IDC: add spinner for the "Stay in safe mode" button
  pnpm-lock.yaml
  projects/js-packages/api/changelog/add-rna-idc-safe-mode-spinner
  projects/js-packages/api/package.json
  projects/js-packages/api/test/rest-api.jsx
  projects/js-packages/connection/changelog/add-rna-idc-safe-mode-spinner
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-rna-idc-safe-mode-spinner
  projects/js-packages/idc/changelog/add-rna-idc-safe-mode-spinner#2
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/card-migrate/index.jsx
  projects/js-packages/idc/components/idc-screen/index.jsx
  projects/js-packages/idc/components/idc-screen/screen-main.jsx
  projects/js-packages/idc/components/idc-screen/screen-migrated.jsx
  projects/js-packages/idc/components/idc-screen/style.scss
  projects/js-packages/idc/components/safe-mode/index.jsx
  projects/js-packages/idc/components/safe-mode/style.scss
  projects/js-packages/idc/package.json
  projects/packages/connection-ui/changelog/add-rna-idc-safe-mode-spinner
  projects/packages/connection-ui/changelog/add-rna-idc-safe-mode-spinner#2
  projects/packages/connection-ui/package.json
  projects/plugins/backup/changelog/add-rna-idc-safe-mode-spinner
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-rna-idc-safe-mode-spinner
  projects/plugins/jetpack/extensions/blocks/podcast-player/api.js
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] API, [JS Package] IDC

#21798 Fix admin menu tests on WP.com
  projects/plugins/jetpack/changelog/fix-admin-menu-tests-wpcom
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-dashboard-switcher-tracking.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, nav-unification, [Plugin] Jetpack

#21795 Admin Menu: Skip preferred_views test on wpcom
  projects/plugins/jetpack/changelog/fix-admin-menu-unittest-wpcom
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, nav-unification, [Plugin] Jetpack

#21733 Update the README to include information about Actions::do_only_first_initial_sync
  projects/packages/sync/README.md
  projects/packages/sync/changelog/update-sync_document_first_initial_sync_method
  projects/packages/sync/src/class-package-version.php
Labels: Docs, [Status] Ready to Merge, [Package] Sync, [Pri] Low

#21786 Debug Helper Plugin: add a Sync Data Settings Tester page
  projects/plugins/debug-helper/changelog/add-sync_settings_debug_module
  projects/plugins/debug-helper/modules/class-sync-data-settings-tester.php
  projects/plugins/debug-helper/plugin.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Debug Helper

#21718 Post List: Fix the response after saving a Quick Edit.
  projects/packages/post-list/changelog/fix-post-list-quick-edit
  projects/packages/post-list/src/class-post-list.php
  projects/packages/post-list/tests/php/test-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21818 Stats: remove ASCII art from alt text
  projects/plugins/jetpack/_inc/lib/class.jetpack-search-performance-logger.php
  projects/plugins/jetpack/changelog/remove-smiley-alt-ascii-art
Labels: [Type] Bug, Accessibility, [Status] Ready to Merge, Search, [Plugin] Jetpack

#21791 webpack-config: Add a `CssRule` config
  pnpm-lock.yaml
  projects/js-packages/webpack-config/README.md
  projects/js-packages/webpack-config/changelog/update-webpack-config-css-rule
  projects/js-packages/webpack-config/changelog/update-webpack-config-css-rule#2
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/webpack.js
  projects/js-packages/webpack-config/src/webpack/css-rule.js
  projects/packages/connection-ui/changelog/update-webpack-config-css-rule
  projects/packages/connection-ui/changelog/update-webpack-config-css-rule#2
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/webpack.config.js
  projects/packages/identity-crisis/changelog/update-webpack-config-css-rule
  projects/packages/identity-crisis/package.json
  projects/packages/jitm/changelog/update-webpack-config-css-rule
  projects/packages/jitm/package.json
  projects/packages/lazy-images/changelog/update-webpack-config-css-rule
  projects/packages/lazy-images/package.json
  projects/packages/my-jetpack/changelog/update-webpack-config-css-rule
  projects/packages/my-jetpack/changelog/update-webpack-config-css-rule#2
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/webpack.config.js
  projects/plugins/backup/changelog/update-webpack-config-css-rule
  projects/plugins/backup/changelog/update-webpack-config-css-rule#2
  projects/plugins/backup/package.json
  projects/plugins/backup/webpack.config.js
  projects/plugins/jetpack/changelog/update-webpack-config-css-rule
  projects/plugins/jetpack/changelog/update-webpack-config-css-rule#2
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
  projects/plugins/jetpack/tools/webpack.config.search-configure.js
  projects/plugins/jetpack/tools/webpack.config.search.js
  projects/plugins/jetpack/tools/webpack.config.widget-visibility.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Package] Lazy Images, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [Package] My Jetpack, [JS Package] Webpack Config

#21714 [Plugin] Backup: Redirect to plugin page on plugin activation.
  projects/plugins/backup/changelog/add-redirect-to-plugin-page-on-activation
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/src/php/class-jetpack-backup.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Backup

#21735 [Plugin] Backup: Update error screen and detect backup retry
  projects/plugins/backup/changelog/update-error-screens
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/components/icons/cloud-alert.svg
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Ready to Merge, [Plugin] Backup

#21825 docs: Add some tips about handling merge issues
  docs/git-workflow.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Low

#21764 Add License Activation Flow to Jetpack Plugin
  pnpm-lock.yaml
  projects/js-packages/licensing/changelog/add-jetpack-plugin-license-flow
  projects/js-packages/licensing/components/activation-screen/index.jsx
  projects/js-packages/licensing/components/activation-screen/test/component.jsx
  projects/js-packages/licensing/package.json
  projects/plugins/jetpack/_inc/client/admin.js
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/scss/shared/_main.scss
  projects/plugins/jetpack/changelog/add-jetpack-plugin-license-flow
  projects/plugins/jetpack/images/jetpack-license-activation-with-lock.png
  projects/plugins/jetpack/images/jetpack-license-activation-with-success.png
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, RNA, [JS Package] API, [JS Package] Licensing

#21834 REST API: Return user ID for comment author if present.
  projects/plugins/jetpack/changelog/issue-populate-comment-author-id
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: Touches WP.com Files, WP REST API, [Status] Needs Team Review, [Plugin] Jetpack

#21781 Gist Shortcode: refactor unit tests
  projects/plugins/jetpack/changelog/update-gist-tests
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.gist.php
  tools/phpcs-excludelist.json
Labels: Shortcodes / Embeds, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#21800 New workflow to push Boost issues to Project Board
  .github/workflows/issues-to-projects.yml
Labels: [Status] Ready to Merge, Actions, [Plugin] Boost

#21820 Post List: Release version 0.2.4
  projects/packages/post-list/CHANGELOG.md
  projects/packages/post-list/changelog/add-assets-wp_register_script-wrapper
  projects/packages/post-list/changelog/fix-post-list-quick-edit
  projects/packages/post-list/changelog/fix-post-list-stretched-thumbnail
  projects/packages/post-list/src/class-post-list.php
Labels: [Status] Ready to Merge, [Package] Post List

#21652 Analyzer: Handle more code tokens
  projects/packages/analyzer/changelog/fix-analyzer-parser-issues
  projects/packages/analyzer/src/Invocations/class-visitor.php
  projects/packages/analyzer/src/class-PersistentList.php
  projects/packages/analyzer/src/class-utils.php
Labels: [Status] Needs Review, [Package] Analyzer

#21672 Update/inform first connected plugin
  pnpm-lock.yaml
  projects/js-packages/api/changelog/update-inform-first-connected-plugin
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/js-packages/config/README.md
  projects/js-packages/config/changelog/update-inform-first-connected-plugin
  projects/js-packages/connection/changelog/update-inform-first-connected-plugin
  projects/js-packages/connection/changelog/update-inform-first-connected-plugin#2
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-inform-first-connected-plugin
  projects/js-packages/idc/changelog/update-inform-first-connected-plugin#2
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-inform-first-connected-plugin
  projects/js-packages/licensing/package.json
  projects/packages/abtest/changelog/update-inform-first-connected-plugin
  projects/packages/abtest/composer.json
  projects/packages/backup/changelog/update-inform-first-connected-plugin
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/connection-ui/changelog/update-inform-first-connected-plugin
  projects/packages/connection-ui/changelog/update-inform-first-connected-plugin#2
  projects/packages/connection-ui/changelog/update-inform-first-connected-plugin#3
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/package.json
  projects/packages/connection/changelog/update-inform-first-connected-plugin
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/identity-crisis/changelog/update-inform-first-connected-plugin
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/update-inform-first-connected-plugin
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/update-inform-first-connected-plugin
  projects/packages/licensing/composer.json
  projects/packages/sync/changelog/update-inform-first-connected-plugin
  projects/packages/sync/composer.json
  projects/plugins/backup/changelog/update-inform-first-connected-plugin
  projects/plugins/backup/changelog/update-inform-first-connected-plugin#2
  projects/plugins/backup/changelog/update-inform-first-connected-plugin#3
  projects/plugins/backup/changelog/update-inform-first-connected-plugin#4
  projects/plugins/backup/changelog/update-inform-first-connected-plugin#5
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/package.json
  projects/plugins/backup/webpack.config.js
  projects/plugins/boost/changelog/update-inform-first-connected-plugin
  projects/plugins/boost/changelog/update-inform-first-connected-plugin#2
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-inform-first-connected-plugin
  projects/plugins/jetpack/changelog/update-inform-first-connected-plugin#2
  projects/plugins/jetpack/changelog/update-inform-first-connected-plugin#3
  projects/plugins/jetpack/changelog/update-inform-first-connected-plugin#4
  projects/plugins/jetpack/changelog/update-inform-first-connected-plugin#5
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Package] Sync, E2E Tests, [Package] Connection, [Package] Licensing, [Plugin] Jetpack, [Package] Connection UI, [Package] Abtest, [Package] Jitm, RNA, [Package] Identity Crisis, [Package] Backup, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [JS Package] API, [JS Package] IDC, [JS Package] Licensing, [JS Package] Config

#21831 assets: Have `register_script()` take a textdomain
  projects/packages/assets/changelog/add-register_script-textdomain
  projects/packages/assets/composer.json
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/tests/php/test-assets.php
  projects/packages/connection-ui/changelog/add-register_script-textdomain
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/jitm/changelog/add-register_script-textdomain
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/changelog/add-register_script-textdomain
  projects/packages/lazy-images/composer.json
  projects/packages/my-jetpack/changelog/add-register_script-textdomain
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/post-list/changelog/add-register_script-textdomain
  projects/packages/post-list/composer.json
  projects/packages/post-list/src/class-post-list.php
  projects/packages/tracking/changelog/add-register_script-textdomain
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/add-register_script-textdomain
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/src/php/class-jetpack-backup.php
  projects/plugins/boost/changelog/add-register_script-textdomain
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/add-register_script-textdomain
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customberg.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Enhancement, Widget Visibility, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Search, [Package] Lazy Images, [Package] Tracking, [Package] Assets, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, [Plugin] Backup, [Plugin] Boost, [Package] Post List, [Package] My Jetpack

#21828 Connection: deactivate the Connection Manager UI
  projects/plugins/backup/changelog/fix-connection-ui-activator
  projects/plugins/backup/src/php/class-jetpack-backup.php
  projects/plugins/jetpack/changelog/fix-connection-ui-activator
  projects/plugins/jetpack/class.jetpack.php
  tools/docker/mu-plugins/connection-ui-activator.php
Labels: [Type] Bug, [Status] Ready to Merge, Docker, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Plugin] Backup

#21846 Verification tools: remove old Tools interface
  projects/plugins/jetpack/changelog/rm-verification-tools-wp-admin
  projects/plugins/jetpack/modules/verification-tools/blog-verification-tools.php
Labels: Verification tools, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#21847 assets: Release 1.13.0
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/add-register_script-textdomain
  projects/packages/assets/changelog/renovate-brain-monkey-2.x
  projects/packages/assets/changelog/update-assets-register_script-missing-doc
  projects/packages/constants/CHANGELOG.md
  projects/packages/constants/changelog/renovate-brain-monkey-2.x
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Assets, [Package] Constants

#21851 Update/jetpack backup version 1.0.1
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/fix-connection-ui-activator
  projects/plugins/backup/changelog/update-backup_init_idc
  projects/plugins/backup/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Backup

#21852 assets: Stop doing `_doing_it_wrong` wrong
  projects/packages/assets/changelog/fix-doing-it-wrong-wrong
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/tests/php/test-assets.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High, [Package] Assets

#21844 Dismiss licenses activation notice when license is activated.
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/user-license-activation.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/update-licenses-activation-notice
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack
