Repository Automattic/jetpack, pull requests merged in 2021-03, with the labels that each got.

#18899 E2E tests - jest circus
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/jest-playwright.config.js
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/jest.setup.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/mailchimp.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-teardown.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/env/test-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/tunnel-manager.js
  projects/plugins/jetpack/tests/e2e/lib/logger.js
  projects/plugins/jetpack/tests/e2e/lib/page-helper.js
  projects/plugins/jetpack/tests/e2e/lib/plan-helper.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/slack.js
  projects/plugins/jetpack/tests/e2e/lib/setup-env.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/specs/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/plugin-updater.test.js
  projects/plugins/jetpack/tests/e2e/specs/pre-connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/pro-blocks.test.js
  projects/plugins/jetpack/tests/e2e/yarn.lock
  tools/eslint-excludelist.json
  yarn.lock
Labels: Actions, E2E Tests, [Plugin] Jetpack

#18961 Adds return url param for customizer link.
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18454 Contact Form Block: Add shortcode transform
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/extensions/blocks/contact-form/transforms.js
Labels: Contact Form, Touches WP.com Files, [Block] Contact Form, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18962 Admin menu: Update "Dashboard" menu instead of removing/adding it
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#18969 Admin Menu: Remove submenus from hidden menus
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Masterbar, Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18972 General: update version numbers to start 9.5 release cycle
  jetpack.php
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#18973 Build: Build for forked PRs
  .github/workflows/build.yml
Labels: [Pri] Normal, [Status] Needs Review, [Type] Bug

#18920 CLI: Refactors Jetpack Generate
  tools/cli/commands/generate.js
Labels: DO NOT MERGE, [Status] In Progress, [Tools] Development CLI

#18964 Updates Monorepo Doc
  docs/monorepo.md
Labels: [Status] In Progress, [Status] Ready to Merge, [Tools] Development CLI

#18974 Connection UI: remove .github directory from production package
  projects/packages/connection-ui/.gitattributes
Labels: [Package] Connection UI, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#18851 CLI: Jetpack Generate Wizard - add Plugins/Github Actions
  .github/workflows/tests.yml
  docs/monorepo.md
  tools/cli/commands/generate.js
  tools/cli/helpers/github.js
  tools/cli/helpers/mergeDirs.js
  tools/cli/package.json
  tools/cli/skeletons/common/README.md
  tools/cli/skeletons/common/license.txt
  tools/cli/skeletons/github-actions/action.yml
  tools/cli/skeletons/plugins/.gitattributes
  tools/cli/skeletons/plugins/phpunit.xml.dist
  tools/cli/skeletons/plugins/plugin.php
  tools/cli/skeletons/plugins/readme.txt
  tools/cli/skeletons/plugins/src/.gitkeep
  tools/cli/skeletons/plugins/tests/php/bootstrap.php
  tools/cli/tests/integration/helpers/github.test.js
  tools/cli/tests/unit/command/generate.test.js
  tools/cli/tests/unit/helpers/github.test.js
Labels: Actions, [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#18978 Deprecated Method: Throw deprecation notice if used
  projects/plugins/jetpack/class.jetpack.php
Labels: General, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#18984 CLI: Add a prefix for the name of a generated project.
  tools/cli/commands/generate.js
Labels: [Status] Ready to Merge, [Tools] Development CLI, [Type] Bug

#18987 Fixes conflict with Newspack blocks
  projects/plugins/jetpack/functions.opengraph.php
Labels: Publicize, Sharing, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Review, [Status] Ready to Merge

#18955 Beautiful Math - Remove title attribute from module generated image
  projects/plugins/jetpack/modules/latex.php
Labels: Accessibility, Beautiful Math, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement, [Type] Happiness Request

#18979 actions: Cleanup GitHub workflows
  .github/workflows/build.yml
  .github/workflows/composer.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/gardening.yml
  .github/workflows/linting.yml
  .github/workflows/phpcompatibility-dev.yml
  .github/workflows/tests.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18959 Restaurant Menus: disable dragging for inline quick edit
  projects/plugins/jetpack/modules/custom-post-types/js/nova-drag-drop.js
  projects/plugins/jetpack/modules/custom-post-types/nova.php
Labels: Custom Content Types, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#19004 cli: Verbose build for CI
  .github/files/build-all-projects.sh
  tools/cli/commands/build.js
Labels: Actions, [Pri] Normal, [Status] Needs Review, [Tools] Development CLI, [Type] Janitorial

#19008 Anchor post publish link: Change to primary button
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
Labels: Touches WP.com Files, [Block] Anchor Fm, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18997 Changelog: add 9.5.1 entries
  projects/plugins/jetpack/changelog.txt
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#18835 Conversation: Handle closely speaker-name changes propagation
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#18844 Dialogue: improve speakers autocomplete handling
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
Labels: Touches WP.com Files, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#19006 changelogger: Add some docs for the included Changelog library
  projects/packages/changelogger/lib/README.md
Labels: Docs, [Package] Changelogger, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#18981 URL-encode tag markup in SVG data: URLs
  projects/plugins/jetpack/extensions/shared/components/audio-player/style.scss
Labels: AMP, Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Status] Ready to Merge

#18985 Search: Polish copy for Result Format ctrl in Customizer
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19013 Search: Remove redundant url-polyfill import
  projects/plugins/jetpack/modules/search/instant-search/lib/query-string.js
Labels: Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19020 Search: Remove lodash `difference` usage
  projects/plugins/jetpack/modules/search/instant-search/lib/filters.js
Labels: Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18968 Star Ratings: Add unit tests and fixtures to validate block content parsing
  projects/plugins/jetpack/extensions/blocks/rating-star/edit.js
  projects/plugins/jetpack/extensions/blocks/rating-star/test/edit.js
  projects/plugins/jetpack/extensions/blocks/rating-star/test/fixtures/jetpack__rating-star.html
  projects/plugins/jetpack/extensions/blocks/rating-star/test/fixtures/jetpack__rating-star.json
  projects/plugins/jetpack/extensions/blocks/rating-star/test/fixtures/jetpack__rating-star.parsed.json
  projects/plugins/jetpack/extensions/blocks/rating-star/test/fixtures/jetpack__rating-star.serialized.html
  projects/plugins/jetpack/extensions/blocks/rating-star/test/icon.js
  projects/plugins/jetpack/extensions/blocks/rating-star/test/validate.js
Labels: Touches WP.com Files, Unit Tests, [Block] Star Rating, [Plugin] Jetpack, [Status] Ready to Merge

#18990 Jetpack Search: don't use Photon for Jetpack Sites unless the module is enabled
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/instant-search/components/photon-image.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-expanded.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-product.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/test/photon-image.test.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19001 Remove node's deprecated `url` from url-search
  projects/plugins/jetpack/_inc/client/mixins/url-search/build-url.js
Labels: Admin Page, Performance, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Janitorial

#19036 Podcast Player: Remove the noticeOperation dependencies from the API callback
  projects/plugins/jetpack/extensions/blocks/podcast-player/edit.js
Labels: Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Pri] High, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19034 Fix instagram infinite loop bug
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/use-instagram-gallery.js
Labels: Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#19043 Opentable: Remove noticeOperations from the useEffect dependencies
  projects/plugins/jetpack/extensions/blocks/opentable/edit.js
Labels: Touches WP.com Files, [Block] OpenTable, [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge, [Type] Bug

#19028 Update Monorepo.md
  docs/monorepo.md
Labels: Docs, [Status] Ready to Merge, [Type] Enhancement

#19040 Recommendations: display footer.
  projects/plugins/jetpack/_inc/client/main.jsx
Labels: Admin Page, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19047 CI: Fix bug in excluded files check
  .github/workflows/linting.yml
  tools/eslint-excludelist.json
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19012 Autoloader: Added Code Coverage Transformation
  projects/packages/autoloader/composer.json
  projects/packages/autoloader/phpunit.xml.dist
  projects/packages/autoloader/tests/php/bin/test-coverage.php
  projects/packages/autoloader/tests/php/tests/unit/VersionSelectorTest.php
  projects/plugins/jetpack/composer.lock
Labels: [Package] Autoloader, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge

#19050 linting: Increase time limits for eslint jobs
  .github/workflows/linting.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19056 Jetpack, connection: Only check offline mode when needed in map_meta_cap filters
  projects/packages/connection/src/class-manager.php
  projects/plugins/jetpack/class.jetpack.php
Labels: Performance, [Package] Connection, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18912 Update Node to match latest LTS 12
  .nvmrc
  package.json
  projects/packages/connection-ui/package.json
  projects/packages/jitm/package.json
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/e2e/package.json
Labels: Touches WP.com Files, [Package] Connection UI, [Package] Jitm, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#19010 CI: Sync changelogger version and package version constants
  .github/files/build-all-projects.sh
  .github/files/check-monorepo-package-versions.sh
  docs/monorepo.md
  projects/packages/changelogger/changelog/add-versioning-with-changelogger
  projects/packages/changelogger/composer.json
  projects/packages/changelogger/src/Application.php
  projects/packages/changelogger/src/WriteCommand.php
  projects/plugins/jetpack/changelog/add-versioning-with-changelogger
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/changelogger-validate-all.sh
  tools/plugin-version.sh
  tools/project-version.sh
  tools/version-packages.sh
Labels: Actions, [Package] Changelogger, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement

#19032 Repo Gardening: Auto-label docs changes
  .github/actions/repo-gardening/src/tasks/add-labels/index.js
Labels: Actions, Docs, [Status] Ready to Merge, [Type] Enhancement

#19015 Jetpack Search: add 'product' as a result format option in the Customizer
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19053 Prevent attempting to do Gravatar Hovercards for Pingbacks and Trackbacks
  projects/plugins/jetpack/modules/gravatar-hovercards.php
Labels: AMP, Gravatar Hovercards, [Plugin] Jetpack, [Status] Ready to Merge

#19017 Fix Jetpack slug for Nav Unification
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, nav-unification

#19054 Jetpack: Use SpeedTrap in multisite tests
  projects/plugins/jetpack/tests/php.multisite.xml
Labels: [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18945 CI: Start using changelogger
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/repo-gardening/src/tasks/check-description/index.js
  .github/files/build-all-projects.sh
  .github/files/check-monorepo-package-versions.sh
  .github/files/require-change-file-for-touched-projects.php
  .github/files/setup-wordpress-env.sh
  .github/workflows/linting.yml
  docs/monorepo.md
  projects/packages/changelogger/.gitattributes
  projects/packages/changelogger/changelog/add-start-using-changelogger
  projects/packages/changelogger/changelog/add-versioning-with-changelogger
  projects/packages/changelogger/composer.json
  projects/packages/changelogger/src/Application.php
  projects/packages/changelogger/src/WriteCommand.php
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog.txt
  projects/plugins/jetpack/changelog/.gitkeep
  projects/plugins/jetpack/changelog/add-start-using-changelogger
  projects/plugins/jetpack/changelog/add-versioning-with-changelogger
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/changelogger-validate-all.sh
  tools/plugin-version.sh
  tools/project-version.sh
  tools/version-packages.sh
Labels: Actions, [Package] Changelogger, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18837 Userless Connection: connection flow
  projects/packages/redirect/src/class-redirect.php
  projects/plugins/jetpack/_inc/client/at-a-glance/monitor.jsx
  projects/plugins/jetpack/_inc/client/components/auth-iframe/index.jsx
  projects/plugins/jetpack/_inc/client/components/auth-iframe/test/component.js
  projects/plugins/jetpack/_inc/client/components/connect-button/index.jsx
  projects/plugins/jetpack/_inc/client/components/connect-user-bar/index.jsx
  projects/plugins/jetpack/_inc/client/components/connect-user-bar/style.scss
  projects/plugins/jetpack/_inc/client/components/connect-user-frame/index.jsx
  projects/plugins/jetpack/_inc/client/components/connect-user-frame/style.scss
  projects/plugins/jetpack/_inc/client/components/dash-item/style.scss
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/settings-group/index.jsx
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/_inc/client/searchable-modules/index.jsx
  projects/plugins/jetpack/_inc/client/security/index.jsx
  projects/plugins/jetpack/_inc/client/security/monitor.jsx
  projects/plugins/jetpack/_inc/client/security/sso.jsx
  projects/plugins/jetpack/_inc/client/sharing/likes.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/_inc/client/sharing/share-buttons.jsx
  projects/plugins/jetpack/_inc/client/state/connection/reducer.js
  projects/plugins/jetpack/_inc/client/state/modules/reducer.js
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/_inc/client/writing/masterbar.jsx
  projects/plugins/jetpack/_inc/client/writing/post-by-email.jsx
  projects/plugins/jetpack/_inc/connect-button.js
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/masterbar.php
  projects/plugins/jetpack/modules/monitor.php
  projects/plugins/jetpack/modules/notes.php
  projects/plugins/jetpack/modules/post-by-email.php
  projects/plugins/jetpack/modules/publicize.php
  projects/plugins/jetpack/modules/seo-tools.php
  projects/plugins/jetpack/modules/sharedaddy.php
  projects/plugins/jetpack/modules/sso.php
  projects/plugins/jetpack/modules/subscriptions.php
  projects/plugins/jetpack/scss/jetpack-connect.scss
  projects/plugins/jetpack/scss/organisms/_banners.scss
Labels: Admin Page, Connect Flow, Touches WP.com Files, [Package] Redirect, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge

#19021 Fixes sidebar width in dialogue and notices components.
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack

#18918 rest-api: update the new/update post endpoints to always return media errors as an array
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#18982 Search: Add clear search button and polish surrounding visuals
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-form.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-form.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_mixins.scss
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19072 changelogger: Fix autoload.php finding logic
  projects/packages/changelogger/bin/changelogger
  projects/packages/changelogger/changelog/add-changelogs-for-everything.2
Labels: [Package] Changelogger, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19070 Update/release changelogger 1.0.0
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/add-start-using-changelogger
  projects/packages/changelogger/changelog/add-versioning-with-changelogger
  projects/packages/changelogger/changelog/initial-release
  projects/packages/changelogger/composer.json
  projects/packages/changelogger/src/Application.php
  projects/plugins/jetpack/changelog/update-release-changelogger-1.0.0
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Changelogger, [Plugin] Jetpack, [Pri] Normal, [Status] In Progress, [Status] Needs Package Release, [Type] Janitorial

#19074 CI: Avoid spurious GH annotations when setting up test env
  .github/files/setup-wordpress-env.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19076 required-review: Commit yarn.lock
  projects/github-actions/required-review/.gitattributes
  projects/github-actions/required-review/.gitignore
  projects/github-actions/required-review/yarn.lock
Labels: Actions, [Action] Required Review, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19081 Fix changelogger deps
  composer.lock
  projects/github-actions/push-to-mirrors/composer.json
  projects/github-actions/required-review/composer.json
  projects/packages/a8c-mc-stats/composer.json
  projects/packages/abtest/composer.json
  projects/packages/analyzer/composer.json
  projects/packages/assets/composer.json
  projects/packages/autoloader/composer.json
  projects/packages/backup/composer.json
  projects/packages/blocks/composer.json
  projects/packages/codesniffer/composer.json
  projects/packages/compat/composer.json
  projects/packages/config/composer.json
  projects/packages/connection-ui/composer.json
  projects/packages/connection/composer.json
  projects/packages/constants/composer.json
  projects/packages/device-detection/composer.json
  projects/packages/error/composer.json
  projects/packages/heartbeat/composer.json
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/composer.json
  projects/packages/logo/composer.json
  projects/packages/options/composer.json
  projects/packages/partner/composer.json
  projects/packages/redirect/composer.json
  projects/packages/roles/composer.json
  projects/packages/status/composer.json
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/composer.json
  projects/plugins/beta/composer.json
  projects/plugins/beta/composer.lock
  projects/plugins/debug-helper/composer.json
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/composer.lock
Labels: Actions, [Action] Push To Mirrors, [Action] Required Review, [Package] A8c Mc Stats, [Package] Abtest, [Package] Analyzer, [Package] Assets, [Package] Autoloader, [Package] Backup, [Package] Blocks, [Package] Codesniffer, [Package] Compat, [Package] Config, [Package] Connection, [Package] Connection UI, [Package] Constants, [Package] Device Detection, [Package] Error, [Package] Heartbeat, [Package] Jitm, [Package] Lazy Images, [Package] Licensing, [Package] Logo, [Package] Options, [Package] Partner, [Package] Redirect, [Package] Roles, [Package] Status, [Package] Sync, [Package] Terms of Service, [Package] Tracking, [Plugin] Beta, [Plugin] Debug Helper, [Plugin] Jetpack, [Pri] BLOCKER, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19082 changelogger: Fix 1.0.0 release
  projects/packages/changelogger/changelog/add-changelogs-for-everything.2
Labels: [Package] Changelogger, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Janitorial

#19042 Master bar admin menu: check for DOM element before using it
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
Labels: Cheesy Ticket, Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Team Review, [Type] Janitorial

#18967 Slideshow: Add unit tests and fixtures to validate block content parsing
  projects/plugins/jetpack/extensions/blocks/slideshow/controls.js
  projects/plugins/jetpack/extensions/blocks/slideshow/edit.js
  projects/plugins/jetpack/extensions/blocks/slideshow/slideshow.js
  projects/plugins/jetpack/extensions/blocks/slideshow/test/controls.js
  projects/plugins/jetpack/extensions/blocks/slideshow/test/edit.js
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-autoplay.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-autoplay.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-autoplay.parsed.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-autoplay.serialized.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-effect.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-effect.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-effect.parsed.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow-with-effect.serialized.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow.parsed.json
  projects/plugins/jetpack/extensions/blocks/slideshow/test/fixtures/jetpack__slideshow.serialized.html
  projects/plugins/jetpack/extensions/blocks/slideshow/test/validate.js
Labels: Touches WP.com Files, [Block] Slideshow, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19026 Autoloader: Fix Uninstallation Fatal
  projects/packages/autoloader/src/class-autoloader.php
  projects/packages/autoloader/src/class-container.php
  projects/packages/autoloader/src/class-shutdown-handler.php
  projects/packages/autoloader/tests/php/tests/unit/ShutdownHandlerTest.php
Labels: [Package] Autoloader, [Pri] High, [Status] Needs Package Release, [Status] Needs Review

#18994 E2E tests: Remove e2e-test-utils
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/lib/blocks/word-ads.js
  projects/plugins/jetpack/tests/e2e/lib/logger.js
  projects/plugins/jetpack/tests/e2e/lib/pages/page.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/block-editor.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/jetpack.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/specs/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/pro-blocks.test.js
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19089 E2E Tests: minor improvements
  projects/plugins/jetpack/changelog/update-e2e-improvements
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/jetpack.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/login.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/slack.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19087 CLI: Add v/verbose to help text
  tools/cli/cliRouter.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Tools] Development CLI, [Type] Enhancement

#19092 Actions: remind authors to commit their wpcom diffs with comment.
  .github/actions/repo-gardening/src/index.js
  .github/actions/repo-gardening/src/tasks/wpcom-commit-reminder/index.js
  .github/actions/repo-gardening/src/tasks/wpcom-commit-reminder/readme.md
Labels: Actions, Infinite Scroll, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19085 Search: Fix typo in filters autoconfig
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Pri] High, [Status] Ready to Merge, [Type] Bug

#19093 Actions: fix milestone assignment and clean up owner references
  .github/actions/repo-gardening/src/get-labels.js
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
  .github/actions/repo-gardening/src/tasks/check-description/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19098 autoloader: Update composer 2.0.9 hash in tests
  projects/packages/autoloader/changelog/fix-autoloader-tests
  projects/packages/autoloader/tests/php/lib/class-test-plugin-factory.php
Labels: [Package] Autoloader, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#19101 Actions: do not check for fork on push event
  .github/actions/repo-gardening/src/index.js
Labels: Actions, [Pri] Normal, [Status] Needs Review, [Type] Bug

#19105 CI: Don't use dark grey as a "debug" color in CI
  .github/files/list-changed-projects.php
  .github/files/require-change-file-for-touched-projects.php
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19103 Actions: Fix error in commit-reminder check
  .github/actions/repo-gardening/src/tasks/wpcom-commit-reminder/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19104 Actions: Don't try to add a milestone if there are no plugins
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#17632 Search: Fix PHP notices.
  projects/plugins/jetpack/changelog/fix-search-php-notices
  projects/plugins/jetpack/modules/search/class.jetpack-search-helpers.php
  projects/plugins/jetpack/modules/search/class.jetpack-search.php
Labels: Search, Touches WP.com Files, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge

#19106 tools: Fix exit code in project-version.sh
  projects/packages/changelogger/changelog/fix-project-version-exit-code
  projects/packages/changelogger/src/Application.php
  tools/project-version.sh
Labels: [Package] Changelogger, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19046 Site Logo: issues when updating logo in the customizer
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo.js
  projects/plugins/jetpack/modules/theme-tools/site-logo/js/site-logo.min.js
Labels: Theme Tools, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18992 Contact Info: Add unit tests and fixtures for the contact-info blocks address, email, and phone
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address.html
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address.json
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address__link-address-to-google-maps.html
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address__link-address-to-google-maps.json
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address__link-address-to-google-maps.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/fixtures/jetpack__address__link-address-to-google-maps.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/validate.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/fixtures/jetpack__email.html
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/fixtures/jetpack__email.json
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/fixtures/jetpack__email.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/fixtures/jetpack__email.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/validate.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/fixtures/jetpack__phone.html
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/fixtures/jetpack__phone.json
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/fixtures/jetpack__phone.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/fixtures/jetpack__phone.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/validate.js
Labels: Touches WP.com Files, [Block] Contact Info, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19005 Conversation: Support uploading/parsing/composing transcript
  projects/plugins/jetpack/extensions/blocks/conversation/attributes.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/editor.scss
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
Labels: Touches WP.com Files, [Block] Conversation, [Plugin] Jetpack, [Pri] Normal, [Size] L, [Status] Ready to Merge, [Type] Enhancement

#19024 Switch to photon 4.0.0
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/yarn.lock
Labels: Instant Search, Performance, Search, Tiled Gallery, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19108 Jetpack, lazy-images: Update icon file used for tests
  projects/packages/lazy-images/changelog/fix-wporg-not-silencing-exif-errors-anymore
  projects/packages/lazy-images/tests/php/jetpack-icon.jpg
  projects/plugins/jetpack/changelog/fix-wporg-not-silencing-exif-errors-anymore
  projects/plugins/jetpack/tests/php/jetpack-icon.jpg
Labels: [Package] Lazy Images, [Plugin] Jetpack, [Pri] High, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19096 E2E tests: remove jest playwright
  projects/plugins/jetpack/changelog/update-e2e-remove-jest-playwright
  projects/plugins/jetpack/tests/e2e/config/default.js
  projects/plugins/jetpack/tests/e2e/jest-playwright.config.js
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-setup.js
  projects/plugins/jetpack/tests/e2e/lib/env/global-teardown.js
  projects/plugins/jetpack/tests/e2e/lib/env/playwright-environment.js
  projects/plugins/jetpack/tests/e2e/lib/env/test-setup.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/playwright.config.js
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#19109 Connection: Use original flow for Opera Desktop
  projects/packages/device-detection/changelog/update-opera-connection-flow
  projects/packages/device-detection/composer.json
  projects/packages/device-detection/src/class-user-agent-info.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/update-opera-connection-flow
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/timestamp-control.js
Labels: Connect Flow, Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Package] Device Detection, [Plugin] Jetpack, [Pri] High, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19018 Business hours: Add unit tests and fixtures for the business hours block
  projects/plugins/jetpack/changelog/add-business-hours-tests
  projects/plugins/jetpack/extensions/blocks/business-hours/components/day-edit.js
  projects/plugins/jetpack/extensions/blocks/business-hours/edit.js
  projects/plugins/jetpack/extensions/blocks/business-hours/test/edit.js
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours.html
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours.json
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours.parsed.json
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours.serialized.html
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours__custom-hours.html
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours__custom-hours.json
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours__custom-hours.parsed.json
  projects/plugins/jetpack/extensions/blocks/business-hours/test/fixtures/jetpack__business-hours__custom-hours.serialized.html
  projects/plugins/jetpack/extensions/blocks/business-hours/test/validate.js
Labels: Touches WP.com Files, [Block] Business Hours, [Plugin] Jetpack, [Status] Ready to Merge

#19117 ci: Sync fetching of PHP and Node in new linting jobs
  .github/workflows/linting.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19097 Admin Menu: Remove "Links" menu
  projects/plugins/jetpack/changelog/remove-admin-menu-links-manager
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19090 Add Edit CSS menu item to appearance sub menu
  projects/plugins/jetpack/changelog/add-edit-css-appearance-menu-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19009 Limit post_content that gets Synced to 5MB
  projects/packages/sync/changelog/fix-sync-limit-post-content
  projects/packages/sync/src/modules/class-posts.php
  projects/plugins/jetpack/changelog/fix-sync-limit-post-content
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: [Package] Sync, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#18999 Migrate Jetpack multisite callables from Sync package to Jetpack Plugin proper
  projects/packages/sync/changelog/fix-extend-sync-multisite-callables
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/fix-extend-sync-multisite-callables
  projects/plugins/jetpack/class.jetpack.php
Labels: [Package] Sync, [Plugin] Jetpack, [Status] Needs Author Reply, [Status] Needs Package Release, [Status] Ready to Merge

#19122 Docs: Add changelogger info to monorepo.md
  docs/monorepo.md
  docs/writing-a-good-changelog-entry.md
Labels: Docs, [Package] Changelogger, [Status] Ready to Merge, [Type] Enhancement

#19118 Create change files for changes since the last release
  projects/packages/abtest/changelog/add-backfilled-change-files
  projects/packages/abtest/composer.json
  projects/packages/autoloader/changelog/backfill-pr-18878
  projects/packages/autoloader/changelog/backfill-pr-19012
  projects/packages/autoloader/changelog/backfill-pr-19026
  projects/packages/connection-ui/changelog/add-backfilled-change-files
  projects/packages/connection-ui/changelog/backfill-pr-18814
  projects/packages/connection-ui/changelog/backfill-pr-18912
  projects/packages/connection-ui/changelog/backfill-pr-18974
  projects/packages/connection-ui/composer.json
  projects/packages/connection/changelog/backfill-pr-18497
  projects/packages/connection/changelog/backfill-pr-19056
  projects/packages/connection/composer.json
  projects/packages/jitm/changelog/add-backfilled-change-files
  projects/packages/jitm/changelog/backfill-pr-18912
  projects/packages/jitm/changelog/backfill-pr-18916
  projects/packages/jitm/changelog/backfill-pr-19061
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/changelog/backfill-pr-19061
  projects/packages/licensing/changelog/add-backfilled-change-files
  projects/packages/licensing/composer.json
  projects/packages/redirect/changelog/backfill-pr-18837
  projects/packages/sync/changelog/add-backfilled-change-files
  projects/packages/sync/changelog/backfill-pr-18494
  projects/packages/sync/changelog/backfill-pr-18765
  projects/packages/sync/composer.json
  projects/plugins/beta/changelog/backfill-pr-18772
  projects/plugins/beta/changelog/backfill-pr-18916
  projects/plugins/jetpack/changelog/add-backfilled-change-files
  projects/plugins/jetpack/changelog/backfill-pr-17790
  projects/plugins/jetpack/changelog/backfill-pr-18454
  projects/plugins/jetpack/changelog/backfill-pr-18494
  projects/plugins/jetpack/changelog/backfill-pr-18497
  projects/plugins/jetpack/changelog/backfill-pr-18707
  projects/plugins/jetpack/changelog/backfill-pr-18765
  projects/plugins/jetpack/changelog/backfill-pr-18835
  projects/plugins/jetpack/changelog/backfill-pr-18837
  projects/plugins/jetpack/changelog/backfill-pr-18844
  projects/plugins/jetpack/changelog/backfill-pr-18900
  projects/plugins/jetpack/changelog/backfill-pr-18916
  projects/plugins/jetpack/changelog/backfill-pr-18955
  projects/plugins/jetpack/changelog/backfill-pr-18959
  projects/plugins/jetpack/changelog/backfill-pr-18981
  projects/plugins/jetpack/changelog/backfill-pr-18990
  projects/plugins/jetpack/changelog/backfill-pr-19001
  projects/plugins/jetpack/changelog/backfill-pr-19005
  projects/plugins/jetpack/changelog/backfill-pr-19015
  projects/plugins/jetpack/changelog/backfill-pr-19022
  projects/plugins/jetpack/changelog/backfill-pr-19024
  projects/plugins/jetpack/changelog/backfill-pr-19026
  projects/plugins/jetpack/changelog/backfill-pr-19034
  projects/plugins/jetpack/changelog/backfill-pr-19036
  projects/plugins/jetpack/changelog/backfill-pr-19043
  projects/plugins/jetpack/changelog/backfill-pr-19046
  projects/plugins/jetpack/changelog/backfill-pr-19053
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Package] Abtest, [Package] Autoloader, [Package] Connection, [Package] Connection UI, [Package] Jitm, [Package] Lazy Images, [Package] Licensing, [Package] Redirect, [Package] Sync, [Plugin] Beta, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Janitorial

#19123 Docker: Add Core Control plugin
  tools/docker/bin/install.sh
Labels: Docker, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#19121 Blocks: Update fixtures readme and add a check for valid .json in fixture testing
  projects/plugins/jetpack/changelog/update-block-fixture-tests
  projects/plugins/jetpack/extensions/shared/test/block-fixtures.js
  projects/plugins/jetpack/extensions/shared/test/block-fixtures.md
Labels: Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19084 Simple Payments Block: Add tests
  projects/plugins/jetpack/changelog/add-simple-payments-tests
  projects/plugins/jetpack/extensions/blocks/simple-payments/constants.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/controls.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/depecrated/v2/save.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/save.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/controls.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/jetpack__simple-payments__deprecated-2.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.parsed.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/fixtures/test.serialized.html
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/validate.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, [Block] Pay With Paypal, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19138 Bump docs to mention Node 12.
  docs/development-environment.md
Labels: Docs, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#19083 CLI: Add jetpack build packages command
  package.json
  projects/plugins/jetpack/changelog/update-build-tools
  tools/cli/commands/build.js
  tools/cli/commands/install.js
  tools/cli/commands/watch.js
  tools/cli/helpers/normalizeArgv.js
  tools/cli/helpers/projectBuildCommand.js
  tools/cli/helpers/promptForProject.js
  tools/cli/helpers/tasks/buildProjectTask.js
  tools/cli/helpers/tasks/installProjectTask.js
  tools/cli/helpers/tasks/listrOpts.js
  tools/cli/tests/unit/helpers/promptForProjects.test.js
Labels: Build, [Plugin] Jetpack, [Status] Needs Review, [Tools] Development CLI

#19065 Search: automatically select product result format for sites with WooCommerce active
  projects/plugins/jetpack/changelog/add-search-set-woo-result-format
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-options.php
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19064 Image Compare: Add image compare block tests and fixtures
  projects/plugins/jetpack/changelog/add-image-compare-block-tests
  projects/plugins/jetpack/extensions/blocks/image-compare/controls.js
  projects/plugins/jetpack/extensions/blocks/image-compare/edit.js
  projects/plugins/jetpack/extensions/blocks/image-compare/img-upload.js
  projects/plugins/jetpack/extensions/blocks/image-compare/test/controls.js
  projects/plugins/jetpack/extensions/blocks/image-compare/test/edit.js
  projects/plugins/jetpack/extensions/blocks/image-compare/test/fixtures/jetpack__image-compare.html
  projects/plugins/jetpack/extensions/blocks/image-compare/test/fixtures/jetpack__image-compare.json
  projects/plugins/jetpack/extensions/blocks/image-compare/test/fixtures/jetpack__image-compare.parsed.json
  projects/plugins/jetpack/extensions/blocks/image-compare/test/fixtures/jetpack__image-compare.serialized.html
  projects/plugins/jetpack/extensions/blocks/image-compare/test/img-upload.js
  projects/plugins/jetpack/extensions/blocks/image-compare/test/validate.js
  tools/eslint-excludelist.json
Labels: Touches WP.com Files, [Block] Image Compare, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19129 WordAds: Add block tests and fixtures
  projects/plugins/jetpack/changelog/add-wordads-tests-and-fixtures
  projects/plugins/jetpack/extensions/blocks/wordads/controls.js
  projects/plugins/jetpack/extensions/blocks/wordads/edit.js
  projects/plugins/jetpack/extensions/blocks/wordads/test/controls.js
  projects/plugins/jetpack/extensions/blocks/wordads/test/edit.js
  projects/plugins/jetpack/extensions/blocks/wordads/test/fixtures/jetpack__wordads.html
  projects/plugins/jetpack/extensions/blocks/wordads/test/fixtures/jetpack__wordads.json
  projects/plugins/jetpack/extensions/blocks/wordads/test/fixtures/jetpack__wordads.parsed.json
  projects/plugins/jetpack/extensions/blocks/wordads/test/fixtures/jetpack__wordads.serialized.html
  projects/plugins/jetpack/extensions/blocks/wordads/test/validate.js
  projects/plugins/jetpack/extensions/blocks/wordads/wordads.php
Labels: Touches WP.com Files, WordAds, [Block] Ad, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19137 password-checker: Add changelogger
  projects/packages/password-checker/.gitattributes
  projects/packages/password-checker/CHANGELOG.md
  projects/packages/password-checker/changelog/.gitkeep
  projects/packages/password-checker/changelog/add-changelogger-to-password-package
  projects/packages/password-checker/composer.json
Labels: [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Janitorial

#18809 Add button width options for Jetpack Button and Subscriptions Form
  projects/plugins/jetpack/changelog/add-width-selector-to-jetpack-button
  projects/plugins/jetpack/extensions/blocks/button/attributes.js
  projects/plugins/jetpack/extensions/blocks/button/button-width-panel.js
  projects/plugins/jetpack/extensions/blocks/button/button.php
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/button/editor.scss
  projects/plugins/jetpack/extensions/blocks/button/save.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/attributes.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/save.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Block] Button, [Block] Contact Form, [Block] Subscriptions, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18700 Password Checker: Initial Skeleton
  projects/packages/password-checker/.gitattributes
  projects/packages/password-checker/.gitignore
  projects/packages/password-checker/CHANGELOG.md
  projects/packages/password-checker/README.md
  projects/packages/password-checker/changelog/.gitkeep
  projects/packages/password-checker/changelog/add-changelogger-to-password-package
  projects/packages/password-checker/composer.json
  projects/packages/password-checker/phpunit.xml.dist
  projects/packages/password-checker/src/class-password-checker.php
  projects/packages/password-checker/tests/php/bootstrap.php
  projects/packages/password-checker/tests/php/test-class-password-checker.php
Labels: [Package] Password Checker, [Package] Sync, [Status] Needs Author Reply, [Status] Needs Package Release, [Status] Needs Review

#19141 Search: Prevent IE11 from spawning overlay on load
  projects/plugins/jetpack/changelog/fix-search-ie11-modal-summon
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19049 Instant Search: Lazy load
  projects/plugins/jetpack/.size-limit.js
  projects/plugins/jetpack/changelog/update-lazy-load-instant-search
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/instant-search/index.jsx
  projects/plugins/jetpack/modules/search/instant-search/loader.js
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Team Review

#19110 Contact form: Add basic unit tests and fixtures to validate block content parsing
  projects/plugins/jetpack/changelog/contact-form-unit-tests
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.html
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/contact-form/test/validate.js
Labels: Touches WP.com Files, [Block] Contact Form, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19154 Admin Menu: catch up to wpcom
  projects/plugins/jetpack/changelog/update-admin-menu-catchup
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19130 My plan body: Changing title to sentence case for consistency
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/changelog/Enhancement-fixing-capitalization-issue
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#17826 Calypsoify: Remove the user meta setting
  projects/plugins/jetpack/changelog/remove-calypsoify-user-meta
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
  projects/plugins/jetpack/modules/masterbar.php
  projects/plugins/jetpack/tests/php/modules/calypsoify/test-class.jetpack-calypsoify.php
Labels: Calypsoify, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19124 Assistant: Quick language update
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/index.jsx
  projects/plugins/jetpack/changelog/Assistant-Language-change
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19144 Instagram Gallery Connection endpoint: merge in wpcom change
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram-gallery.php
  projects/plugins/jetpack/changelog/update-instagram-gallery-connections-endpoint
Labels: Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Status] Ready to Merge

#19155 Userless Connection: editorial
  projects/plugins/jetpack/_inc/client/at-a-glance/monitor.jsx
  projects/plugins/jetpack/_inc/client/components/connect-user-bar/index.jsx
  projects/plugins/jetpack/_inc/client/components/connect-user-bar/style.scss
  projects/plugins/jetpack/_inc/client/components/connect-user-frame/index.jsx
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/_inc/client/searchable-modules/index.jsx
  projects/plugins/jetpack/_inc/client/security/monitor.jsx
  projects/plugins/jetpack/_inc/client/security/sso.jsx
  projects/plugins/jetpack/_inc/client/sharing/likes.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/_inc/client/sharing/share-buttons.jsx
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/_inc/client/writing/masterbar.jsx
  projects/plugins/jetpack/_inc/client/writing/post-by-email.jsx
  projects/plugins/jetpack/changelog/userless-editorial
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/scss/jetpack-connect.scss
Labels: Admin Page, Connect Flow, [Plugin] Jetpack, [Status] Ready to Merge

#19071 rest-api: prevent duplicate post creation
  projects/plugins/jetpack/changelog/19070-wpcomapi-update-prevent-duplicate-creation
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#19156 Search: Ensure escape key always closes search modal
  projects/plugins/jetpack/changelog/fix-search-esc-binding
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#19168 Update/block validation method
  projects/plugins/jetpack/changelog/update-block-validation-method
  projects/plugins/jetpack/extensions/shared/test/block-fixtures.js
Labels: Touches WP.com Files, [Package] Blocks, [Plugin] Jetpack, [Status] Ready to Merge

#19151 Temporary fix for wp-env database issue
  projects/plugins/jetpack/changelog/fix-e2e-wp-env-failure
  projects/plugins/jetpack/tests/e2e/.wp-env.json
  projects/plugins/jetpack/tests/e2e/bin/env.sh
  projects/plugins/jetpack/tests/e2e/bin/wp-setup.sh
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack, [Status] In Progress

#19179 Replace Blog Name when it is empty with domain name
  projects/plugins/jetpack/changelog/fix-empty_blog_name
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#19079 On non-standard responses stop sending sync requests for 1 minute.
  projects/packages/sync/changelog/fix-sync-response-aware
  projects/packages/sync/src/class-actions.php
Labels: Performance, [Package] Sync, [Status] Needs Package Release, [Status] Ready to Merge

#18905 Add a way for users to enter a license key
  projects/packages/licensing/changelog/add-jetpack-license-ui
  projects/packages/licensing/composer.json
  projects/packages/licensing/src/class-licensing.php
  projects/packages/licensing/tests/php/class-test-licensing.php
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/license.jsx
  projects/plugins/jetpack/_inc/client/my-plan/style.scss
  projects/plugins/jetpack/_inc/client/rest-api/index.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/add-jetpack-license-ui
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: Admin Page, [Package] Licensing, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#19184 Docs: update PR document to better reflect current workflow.
  docs/code-reviews.md
  docs/git-workflow.md
  docs/pull-request.md
  docs/writing-a-good-changelog-entry.md
Labels: Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19044 Instant Search: Replace color literals at build time
  projects/plugins/jetpack/changelog/update-instant-search-colors-at-build-time
  projects/plugins/jetpack/modules/search/instant-search/components/jetpack-colophon.jsx
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: Build, Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19147 Gardening: clean up milestone management.
  .github/actions/repo-gardening/src/get-plugin-names.js
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
  .github/actions/repo-gardening/src/tasks/check-description/index.js
Labels: Actions, [Status] Ready to Merge, [Type] Janitorial

#19149 Gardening: add inline recommendations to PR check comment
  .github/actions/repo-gardening/src/tasks/check-description/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19181 General: Update changelog for internal point release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog-952
  projects/plugins/jetpack/readme.txt
Labels: General, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19033 Limit post meta_values that gets Synced to 2MB
  projects/packages/sync/changelog/fix-sync-limit-meta-value
  projects/packages/sync/src/modules/class-meta.php
  projects/packages/sync/src/modules/class-posts.php
  projects/plugins/jetpack/changelog/fix-sync-limit-meta-value
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-meta.php
Labels: [Package] Sync, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19016 JITM: move pre-connection JITMs to Jetpack
  projects/packages/jitm/README.md
  projects/packages/jitm/changelog/update-jitm_pre_connection_filter
  projects/packages/jitm/src/class-pre-connection-jitm.php
  projects/packages/jitm/tests/php/test_JITM.php
  projects/packages/jitm/tests/php/test_pre_connection_jitm.php
  projects/plugins/jetpack/changelog/update-jitm_pre_connection_filter
  projects/plugins/jetpack/class-jetpack-pre-connection-jitms.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/general/test-class-jetpack-pre-connection-jitms.php
Labels: [Package] Jitm, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#19073 Related Posts: Add unit tests
  projects/plugins/jetpack/changelog/add-related-posts-tests
  projects/plugins/jetpack/extensions/blocks/related-posts/controls.js
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/related-posts/test/controls.js
  projects/plugins/jetpack/extensions/blocks/related-posts/test/edit.js
  projects/plugins/jetpack/extensions/blocks/related-posts/test/fixtures/jetpack__related-posts.html
  projects/plugins/jetpack/extensions/blocks/related-posts/test/fixtures/jetpack__related-posts.json
  projects/plugins/jetpack/extensions/blocks/related-posts/test/fixtures/jetpack__related-posts.parsed.json
  projects/plugins/jetpack/extensions/blocks/related-posts/test/fixtures/jetpack__related-posts.serialized.html
  projects/plugins/jetpack/extensions/blocks/related-posts/test/validate.js
Labels: Touches WP.com Files, [Block] Related Posts, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19198 E2E tests: Bump wordpress/env to 4.0.0
  projects/plugins/jetpack/changelog/fix-e2e-wp-env-bump
  projects/plugins/jetpack/tests/e2e/.wp-env.json
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/yarn.lock
Labels: E2E Tests, [Plugin] Jetpack

#19186 Replace axios with native fetch in Instant Search
  projects/plugins/jetpack/changelog/update-replace-axios-with-fetch-in-instant-search
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.search.js
  projects/plugins/jetpack/yarn.lock
  tools/eslint-excludelist.json
Labels: Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19045 Instant Search: Remove `debug` from production build
  projects/plugins/jetpack/changelog/update-remove-debug-from-production-instant-search
  projects/plugins/jetpack/modules/search/instant-search/lib/dummy-debug.js
  projects/plugins/jetpack/tools/webpack.config.search.js
Labels: Build, Instant Search, Performance, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#19199 rest-api: Handle FB DTP metadata
  projects/packages/sync/changelog/fusion-sync-yoavf-r222889-wpcom-1615978885
  projects/packages/sync/src/class-functions.php
  projects/plugins/jetpack/changelog/fusion-sync-yoavf-r222889-wpcom-1615978885
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: Touches WP.com Files, WPCOM API, [Package] Sync, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Dotcom Merge

#19173 Use `composer update` rather than `install` when lockfile isn't checked in.
  composer.lock
  projects/packages/a8c-mc-stats/changelog/fix-cli-composer-install-vs-update
  projects/packages/a8c-mc-stats/composer.json
  projects/packages/abtest/changelog/fix-cli-composer-install-vs-update
  projects/packages/abtest/composer.json
  projects/packages/assets/changelog/fix-cli-composer-install-vs-update
  projects/packages/assets/composer.json
  projects/packages/autoloader/changelog/fix-cli-composer-install-vs-update
  projects/packages/autoloader/composer.json
  projects/packages/blocks/changelog/fix-cli-composer-install-vs-update
  projects/packages/blocks/composer.json
  projects/packages/changelogger/changelog/fix-cli-composer-install-vs-update
  projects/packages/changelogger/composer.json
  projects/packages/codesniffer/changelog/fix-cli-composer-install-vs-update
  projects/packages/codesniffer/composer.json
  projects/packages/connection/changelog/fix-cli-composer-install-vs-update
  projects/packages/connection/composer.json
  projects/packages/constants/changelog/fix-cli-composer-install-vs-update
  projects/packages/constants/composer.json
  projects/packages/device-detection/changelog/fix-cli-composer-install-vs-update
  projects/packages/device-detection/composer.json
  projects/packages/error/changelog/fix-cli-composer-install-vs-update
  projects/packages/error/composer.json
  projects/packages/jitm/changelog/fix-cli-composer-install-vs-update
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/changelog/fix-cli-composer-install-vs-update
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/changelog/fix-cli-composer-install-vs-update
  projects/packages/licensing/composer.json
  projects/packages/logo/changelog/fix-cli-composer-install-vs-update
  projects/packages/logo/composer.json
  projects/packages/partner/changelog/fix-cli-composer-install-vs-update
  projects/packages/partner/composer.json
  projects/packages/password-checker/changelog/fix-cli-composer-install-vs-update
  projects/packages/password-checker/composer.json
  projects/packages/redirect/changelog/fix-cli-composer-install-vs-update
  projects/packages/redirect/composer.json
  projects/packages/roles/changelog/fix-cli-composer-install-vs-update
  projects/packages/roles/composer.json
  projects/packages/status/changelog/fix-cli-composer-install-vs-update
  projects/packages/status/composer.json
  projects/packages/terms-of-service/changelog/fix-cli-composer-install-vs-update
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/changelog/fix-cli-composer-install-vs-update
  projects/packages/tracking/composer.json
  projects/plugins/beta/changelog/fix-cli-composer-install-vs-update
  projects/plugins/beta/composer.lock
  projects/plugins/debug-helper/changelog/fix-cli-composer-install-vs-update
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/changelog/fix-cli-composer-install-vs-update
  projects/plugins/jetpack/composer.lock
  tools/cli/helpers/tasks/installProjectTask.js
Labels: [Package] A8c Mc Stats, [Package] Abtest, [Package] Assets, [Package] Autoloader, [Package] Blocks, [Package] Changelogger, [Package] Codesniffer, [Package] Connection, [Package] Constants, [Package] Device Detection, [Package] Error, [Package] Jitm, [Package] Lazy Images, [Package] Licensing, [Package] Logo, [Package] Partner, [Package] Password Checker, [Package] Redirect, [Package] Roles, [Package] Status, [Package] Terms of Service, [Package] Tracking, [Plugin] Beta, [Plugin] Debug Helper, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Tools] Development CLI, [Type] Bug

#19140 Try making a generic js test runner
  .github/files/build-all-projects.sh
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  docs/monorepo.md
  package.json
  projects/plugins/jetpack/changelog/try-tools-js-test-runner
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/action-test-coverage.sh
  projects/plugins/jetpack/tests/boot-test.js
  projects/plugins/jetpack/tests/runner.js
  tools/js-test-runner.js
  yarn.lock
Labels: Actions, Docs, Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#19190 actions: Increase timeout for "Build all projects"
  .github/workflows/build.yml
Labels: Actions, [Pri] Normal, [Status] Needs Review, [Type] Janitorial

#19192 mirrors: Add an auto-tagger
  .github/files/build-all-projects.sh
  .github/files/gh-autotagger/workflows/autotagger.yml
  docs/monorepo.md
Labels: Actions, Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Feature

#19094 build: Sort by dependencies
  .github/files/build-all-projects.sh
  .github/files/list-changed-projects.php
  tools/find-project-deps.php
  tools/get-build-order.php
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19194 Licensing: Fix stored licenses not being attached on option creation
  projects/packages/licensing/changelog/fix-licenses-not-attached-on-option-creation
  projects/packages/licensing/src/class-licensing.php
Labels: [Package] Licensing, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19167 Execute Jetpack::init only once
  projects/plugins/jetpack/changelog/remove-double-init-call
  projects/plugins/jetpack/load-jetpack.php
Labels: General, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19068 Add/auto activate modules on userless
  projects/packages/options/changelog/add-auto-activate-modules-on-userless
  projects/packages/options/legacy/class-jetpack-options.php
  projects/plugins/jetpack/changelog/add-auto-activate-modules-on-userless
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php/test-get-modules.php
Labels: [Package] Options, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge

#19204 Calypsoify: Fix use_block_editor_for_post_type undefined error
  projects/plugins/jetpack/changelog/fix-calypsoify-undefined-function
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
Labels: Calypsoify, [Plugin] Jetpack, [Pri] High, [Status] Needs Team Review, [Type] Bug

#19210 tools: Fix js-package handling in find-project-deps.php
  tools/find-project-deps.php
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19145 Eventbrite block: add test coverage and add input trim
  projects/plugins/jetpack/changelog/update-eventbrite-block-tests-and-input-trim
  projects/plugins/jetpack/extensions/blocks/eventbrite/controls.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/deprecated/index.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/deprecated/v2/index.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/deprecated/v2/save.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/edit.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/controls.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/edit.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-style-attr__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-style-attr__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-style-attr__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-style-attr__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-usemodal-attr__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-usemodal-attr__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-usemodal-attr__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal--with-usemodal-attr__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal.parsed.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite-modal.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.parsed.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/utils.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/validate.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/utils.js
Labels: Touches WP.com Files, Unit Tests, [Block] Eventbrite, [Plugin] Jetpack, [Status] Ready to Merge

#19195 Search: updated default photon image size
  projects/plugins/jetpack/changelog/update-photon-image-size
  projects/plugins/jetpack/modules/search/instant-search/components/photon-image.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#19214 Gardening: update readme to mention new tasks
  .github/actions/repo-gardening/readme.md
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19002 Button block: Add tests
  projects/plugins/jetpack/changelog/add-button-tests
  projects/plugins/jetpack/extensions/blocks/button/button-colors-panel.js
  projects/plugins/jetpack/extensions/blocks/button/controls.js
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/button/test/controls.js
  projects/plugins/jetpack/extensions/blocks/button/test/edit.js
  projects/plugins/jetpack/extensions/blocks/button/test/fixtures/jetpack__button.html
  projects/plugins/jetpack/extensions/blocks/button/test/fixtures/jetpack__button.json
  projects/plugins/jetpack/extensions/blocks/button/test/fixtures/jetpack__button.parsed.json
  projects/plugins/jetpack/extensions/blocks/button/test/fixtures/jetpack__button.serialized.html
  projects/plugins/jetpack/extensions/blocks/button/test/validate.js
Labels: Touches WP.com Files, [Block] Button, [Plugin] Jetpack, [Status] Ready to Merge

#19218 tools: Accept slugs to plugin scripts
  tools/includes/plugin-functions.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#19152 Gardening: avoid duplicated runs of the action
  .github/workflows/gardening.yml
Labels: Actions, [Pri] Normal, [Type] Bug

#19220 tools: Highlight errors from `changelogger version` in changelogger-validate-all.sh
  tools/changelogger-validate-all.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#19169 Add mailchimp block unit and fixture tests
  projects/plugins/jetpack/changelog/add-mailchimp-block-tests
  projects/plugins/jetpack/extensions/blocks/mailchimp/constants.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/controls.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/controls.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp.html
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp.parsed.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp.serialized.html
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/validate.js
  projects/plugins/jetpack/extensions/shared/test/block-fixtures.js
Labels: Touches WP.com Files, [Block] Mailchimp, [Plugin] Jetpack, [Status] In Progress, [Status] Ready to Merge

#19128 Instagram Gallery Block: Add fixture and unit tests
  projects/plugins/jetpack/changelog/add-instagram-gallery-tests
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/controls.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/controls.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/fixtures/jetpack__instagram-gallery.html
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/fixtures/jetpack__instagram-gallery.json
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/fixtures/jetpack__instagram-gallery.parsed.json
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/fixtures/jetpack__instagram-gallery.serialized.html
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/validate.js
Labels: Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Status] Ready to Merge

#18993 Subscriptions: Add unit tests and fixtures to validate block content parsing
  projects/plugins/jetpack/changelog/add-subscription-block-tests
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/v2/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/v3/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/v4/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/deprecated/v5/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-1.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-1.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-2.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-2.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-2.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-2.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-3.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-3.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-3.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-3.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-4.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-4.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-4.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-4.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-5.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-5.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-5.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-5.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/validate.js
Labels: Touches WP.com Files, Unit Tests, [Block] Subscriptions, [Plugin] Jetpack, [Status] Ready to Merge

#19197 Jetpack Blocks: Set default editor style to be registered along with blocks if no editor styles are provided
  projects/packages/blocks/changelog/add-editor-style-dependency-when-registering-jetpack-blocks
  projects/packages/blocks/composer.json
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/fix-cover-block-nudge-in-site-editor
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Block] Map, [Package] Blocks, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Bug

#19183 tools: Add changelogger release scripts
  tools/changelogger-release.sh
  tools/plugin-changelog-to-readme.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Feature

#19222 tools: Add a tool to help in updating composer dependencies
  .github/files/check-monorepo-package-versions.sh
  .github/workflows/composer.yml
  tools/check-composer-deps.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Feature
