Repository Automattic/jetpack, pull requests merged in 2021-02, with the labels that each got.

#18498 Editor nudges: use colors from Color Studio
  projects/plugins/jetpack/extensions/shared/components/upgrade-nudge/style.scss
Labels: Gutenberg, Touches WP.com Files, [Status] Ready to Merge, [Type] Janitorial

#18631 Push to Mirrors: Update path
  .github/workflows/build.yml
Labels: Actions, [Actions] Push to Mirror, [Status] Ready to Merge, [Type] Bug

#18622 Docker: Upgrade maildev image
  tools/docker/docker-compose.yml
Labels: Docker, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#18620 Calypso: Check moderation option before comment notification
  projects/plugins/jetpack/_inc/lib/functions.wp-notify.php
Labels: Calypsoify, Comments, [Status] Ready to Merge, [Type] Bug, [Type] Happiness Request

#18611 Changes the customize_slug depending on simple / atomic.
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18648 Mirroring: Fix paths after #18575
  .github/workflows/build.yml
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#18650 Push-to-mirrors: Fix action.yml
  projects/github-actions/push-to-mirrors/action.yml
Labels: [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#18644 Recommendations: do not show for Atomic sites.
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
Labels: Admin Page, Connect Flow, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18651 Build action: Remove unused input
  .github/workflows/build.yml
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18652 push-to-mirrors: Fix mirroring to an empty repo
  projects/github-actions/push-to-mirrors/push-to-mirrors.sh
Labels: [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18617 Build: Use the CLI for build step to avoid duplicating logic
  .github/files/build-all-projects.sh
  tools/cli/commands/build.js
Labels: Actions, Build, [Status] Ready to Merge, [Type] Enhancement

#18625 Beta/Debug Helper: Add .gitignore / composer.lock
  projects/plugins/beta/.gitignore
  projects/plugins/beta/composer.lock
  projects/plugins/debug-helper/.gitignore
  projects/plugins/debug-helper/composer.lock
Labels: [Plugin] Beta Plugin, [Plugin] Debug Helper, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#16653 Convert the Tiled Gallery module to vanilla JS.
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery.css
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery.js
Labels: Performance, Tiled Galleries, Touches WP.com Files, [Status] Ready to Merge, [Type] Enhancement

#18657 Jetpack: Bump to 9.5-alpha
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#18659 codesniffer: Update mediawiki-codesniffer dep to v35.0
  composer.lock
  projects/packages/codesniffer/Jetpack/ruleset.xml
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports-phpunit.php.fixed
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports-phpunit.php.report
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports-phpunit.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports.php.fixed
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports.php.report
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports.php.tolint
  projects/packages/connection/tests/php/test_Error_Handler.php
  tools/phpcs-excludelist.json
Labels: [Package] Codesniffer, [Package] Connection, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Enhancement, [Type] Janitorial

#18609 Story block: Fix srcset tag values on WP.com
  projects/plugins/jetpack/extensions/blocks/story/story.php
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge

#18656 Docker: Add wp-control as a default debugging plugin
  tools/docker/bin/install.sh
Labels: Docker, [Pri] Low, [Status] Needs Review, [Type] Enhancement

#17943 Build: update node to version that matches Calypso
  .nvmrc
  package.json
  projects/plugins/jetpack/package.json
Labels: Build, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18668 Readme: Various staff updates
  readme.md
Labels: General, [Pri] Low, [Status] Ready to Merge, [Type] Janitorial

#18666 codesniffer: Hack around mediawiki-codesniffer bug
  composer.lock
  projects/packages/analyzer/scripts/jetpack-example.php
  projects/packages/analyzer/scripts/jetpack-svn.php
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/hacks/PHPUnitTestTrait.php
  projects/packages/licensing/tests/php/class-test-licensing.php
  projects/plugins/jetpack/tests/php/_inc/lib/test-class.jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-stylist.php
  projects/plugins/jetpack/tests/php/modules/widgets/test_social-icons-widget.php
  projects/plugins/jetpack/tests/php/modules/widgets/test_twitter-timeline-widget.php
Labels: Touches WP.com Files, [Package] Codesniffer, [Pri] Normal, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#18653 Use rest_request_before_callbacks as a filter.
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] In Progress, [Status] Needs Cherry-Pick, [Status] Ready to Merge, nav-unification

#18660 Docs: Add reference to build-development for monorepo docs
  docs/monorepo.md
Labels: Docs, [Status] Ready to Merge, [Type] Bug

#18627 Update phpcs-changed
  .github/workflows/linting.yml
  composer.json
  composer.lock
Labels: [Status] Needs Review, [Type] Janitorial

#18665 Fix JS errors for eu-widget in block widget editor
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/eu-cookie-law-admin.js
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/eu-cookie-law.js
Labels: Extra Sidebar Widgets, Gutenberg, [Status] Ready to Merge, [Type] Bug

#18678 Tools: Update eslint-changed to match phpcs-changed
  .github/workflows/linting.yml
  tools/eslint-changed.js
Labels: Build, [Status] Ready to Merge, [Type] Janitorial

#18640 Instant Search: improve overlay Escape key event handler (including fix for IE11)
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.jsx
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18686 Tests: Suppress errors for imagesize
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.recipe.php
Labels: Unit Tests, [Plugin] Jetpack, [Pri] BLOCKER, [Status] Ready to Merge, [Type] Bug

#18602 Beta Plugin: Prevent Updating Stable Version in Docker Instance
  projects/plugins/beta/class-jetpack-beta-admin.php
  projects/plugins/beta/class-jetpack-beta.php
  tools/docker/bin/run.sh
Labels: [Plugin] Beta Plugin, [Status] Ready to Merge, [Type] Bug

#18683 Autoloader: prevent transitive plugin execution
  projects/packages/autoloader/src/CustomAutoloaderPlugin.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge

#18682 Autoloader: stricter type-checking on WP functions
  projects/packages/autoloader/src/class-plugin-locator.php
  projects/packages/autoloader/src/class-plugins-handler.php
  projects/packages/autoloader/tests/php/tests/unit/test-plugin-locator.php
  projects/packages/autoloader/tests/php/tests/unit/test-plugins-handler.php
Labels: [Package] Autoloader, [Status] Needs Package Release, [Status] Ready to Merge

#18637 API: Add File Size to Media Endpoint
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Type] Enhancement

#18677 E2E Tests: use JS to force connect variation
  projects/plugins/jetpack/.wp-env.json
  projects/plugins/jetpack/tests/e2e/.eslintrc.js
  projects/plugins/jetpack/tests/e2e/lib/flows/jetpack-connect.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/block-editor.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/jetpack.js
  projects/plugins/jetpack/tests/e2e/lib/setup-env.js
  projects/plugins/jetpack/tests/e2e/specs/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/plugin-updater.test.js
  tools/eslint-excludelist.json
Labels: E2E Tests, [Status] Ready to Merge

#18692 Remove Sync's usage of wp_startswith
  projects/packages/sync/src/modules/class-posts.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Ready to Merge

#18690 WPCOM API / Media: handle WordPress.com file operation differences
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: Touches WP.com Files, WPCOM API, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug, [Type] Dotcom Merge

#18676 Analyzer: Some PHPCS improvements
  projects/packages/analyzer/scripts/example.php
  projects/packages/analyzer/scripts/jetpack-slurper.php
  projects/packages/analyzer/src/Declarations/class-declaration.php
  projects/packages/analyzer/src/Declarations/class-visitor.php
  projects/packages/analyzer/src/Differences/class-class-const-missing.php
  projects/packages/analyzer/src/Differences/class-class-const-moved.php
  projects/packages/analyzer/src/Differences/class-class-method-deprecated.php
  projects/packages/analyzer/src/Differences/class-class-method-missing.php
  projects/packages/analyzer/src/Differences/class-class-method-moved.php
  projects/packages/analyzer/src/Differences/class-class-missing.php
  projects/packages/analyzer/src/Differences/class-class-moved.php
  projects/packages/analyzer/src/Differences/class-class-property-missing.php
  projects/packages/analyzer/src/Differences/class-class-property-moved.php
  projects/packages/analyzer/src/Differences/class-function-deprecated.php
  projects/packages/analyzer/src/Differences/class-function-missing.php
  projects/packages/analyzer/src/Differences/class-function-moved.php
  projects/packages/analyzer/src/Invocations/class-depends-on.php
  projects/packages/analyzer/src/Invocations/class-function-call.php
  projects/packages/analyzer/src/Invocations/class-new.php
  projects/packages/analyzer/src/Invocations/class-static-call.php
  projects/packages/analyzer/src/Invocations/class-static-const.php
  projects/packages/analyzer/src/Invocations/class-static-property.php
  projects/packages/analyzer/src/Invocations/class-visitor.php
  projects/packages/analyzer/src/class-PersistentList.php
  projects/packages/analyzer/src/class-declarations.php
  projects/packages/analyzer/src/class-differences.php
  projects/packages/analyzer/src/class-invocations.php
  tools/phpcs-excludelist.json
Labels: [Package] Analyzer, [Status] Needs Author Reply, [Status] Needs Package Release, [Type] Janitorial

#18696 push-to-mirrors: Add .gitignore
  projects/github-actions/push-to-mirrors/.gitignore
Labels: [Actions] Push to Mirror, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18697 Update plugin modify endpoint to use should_update
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
Labels: Manage, [Status] Ready to Merge, [Type] Bug

#18699 require-reviews: Make it a project to publish
  .github/actions/required-review/action.yml
  .github/workflows/required-review.yml
  projects/github-actions/required-review/.gitattributes
  projects/github-actions/required-review/.gitignore
  projects/github-actions/required-review/README.md
  projects/github-actions/required-review/action.yml
  projects/github-actions/required-review/composer.json
  projects/github-actions/required-review/package.json
  projects/github-actions/required-review/src/main.js
  projects/github-actions/required-review/src/paths.js
  projects/github-actions/required-review/src/reporter.js
  projects/github-actions/required-review/src/requirement.js
  projects/github-actions/required-review/src/reviewers.js
  projects/github-actions/required-review/src/team-members.js
  projects/github-actions/required-review/test.sh
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18687 Default block parameter to null for payments render function
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Bug

#18614 Beta Plugin: Fix Welcome Message
  projects/plugins/beta/class-jetpack-beta-admin.php
Labels: [Plugin] Beta Plugin, [Status] Ready to Merge, [Type] Bug

#18705 Revert "Update plugin modify endpoint to use should_update"
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
Labels: [Status] Ready to Merge

#18548 Masterbar: Update link destination setting
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
Labels: Masterbar, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18598 Dialogue block: Add a save function for fallback content
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/components/participants-controls.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/example.js
  projects/plugins/jetpack/extensions/blocks/conversation/participants.json
  projects/plugins/jetpack/extensions/blocks/dialogue/attributes.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/dialogue.php
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/index.js
  projects/plugins/jetpack/extensions/blocks/dialogue/save.js
  projects/plugins/jetpack/extensions/blocks/dialogue/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/view.js
Labels: Touches WP.com Files, [Block] Dialogue, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18504 CLI: Add install command
  .github/workflows/js-tests.yml
  .github/workflows/linting.yml
  .gitignore
  projects/github-actions/.gitignore
  projects/packages/lazy-images/composer.json
  projects/plugins/jetpack/composer.lock
  tools/cli/cliRouter.js
  tools/cli/commands/build.js
  tools/cli/commands/install.js
  tools/cli/commands/watch.js
  tools/cli/helpers/normalizeArgv.js
  tools/cli/helpers/projectHelpers.js
  tools/cli/helpers/promptForProject.js
  tools/cli/helpers/readJson.js
  tools/cli/helpers/tasks/installProjectTask.js
  tools/cli/package.json
  tools/cli/tests/helpers/projectHelpers.test.js
  tools/cli/tests/helpers/readJson.test.js
  yarn.lock
Labels: [Status] Needs Package Release, [Status] Needs Review, [Tools] Development CLI, [Type] Enhancement

#18715 CLI: Refactor unit tests
  tools/cli/cliRouter.js
  tools/cli/package.json
  tools/cli/tests/helpers/readComposerJson.test.js
  tools/cli/tests/integration/commands/build.test.js
  tools/cli/tests/integration/commands/commands.test.js
  tools/cli/tests/runner.js
  tools/cli/tests/unit/helpers/projectHelpers.test.js
  tools/cli/tests/unit/helpers/promptForProjects.test.js
  tools/cli/tests/unit/helpers/readJson.test.js
  tools/cli/tests/unit/helpers/styling.test.js
Labels: Unit Tests, [Status] Needs Review, [Tools] Development CLI, [Type] Enhancement

#18693 Markdown Lib: Convert from 0-load.php load method
  projects/plugins/jetpack/_inc/lib/markdown.php
  projects/plugins/jetpack/_inc/lib/markdown/0-load.php
  tools/phpcs-excludelist.json
Labels: Markdown, Touches WP.com Files, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Janitorial

#18552 Connection: extracting the Jetpack's authorization webhook
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-webhooks.php
  projects/packages/connection/tests/php/bootstrap.php
  projects/packages/connection/tests/php/test-class-webhooks.php
  projects/plugins/jetpack/class.jetpack-client-server.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.lock
Labels: Connect Flow, [Package] Connection, [Status] Needs Package Release, [Status] Needs Tracks Review, [Status] Ready to Merge

#18698 Deprecate jetpack_json_wrap
  projects/packages/sync/src/class-functions.php
  projects/packages/sync/src/class-json-deflate-array-codec.php
  projects/packages/sync/src/modules/class-module.php
  projects/plugins/jetpack/functions.global.php
Labels: Touches WP.com Files, [Package] Sync, [Status] Needs Package Release, [Status] Ready to Merge

#18573 Add error message for when episode is not available
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/extensions/blocks/anchor-fm/anchor-fm.php
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18691 Fix: Remove unexpected markup from menu titles
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18540 [RNMobile] Story block: added use of mediaFilesBlockReplaceSync bridge method
  projects/plugins/jetpack/extensions/blocks/story/edit.native.js
Labels: Touches WP.com Files, [Block] Story, [Status] Ready to Merge, [Type] Enhancement

#18571 Bypass custom link check for galleries created in classic block
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18685 CI: Make tests more generic
  .github/actions/deepen-to-merge-base/action.yml
  .github/actions/php-pipeline/process-coverage.sh
  .github/actions/php-pipeline/setup-env.sh
  .github/files/generate-ci-matrix.php
  .github/files/list-changed-projects.php
  .github/files/process-coverage.sh
  .github/files/setup-wordpress-env.sh
  .github/php-version
  .github/workflows/code-coverage.yml
  .github/workflows/js-tests.yml
  .github/workflows/phpunit.yml
  .github/workflows/tests.yml
  composer.json
  composer.lock
  docs/examples/bootstrap.php
  docs/monorepo.md
  projects/packages/a8c-mc-stats/composer.json
  projects/packages/abtest/composer.json
  projects/packages/analyzer/composer.json
  projects/packages/assets/composer.json
  projects/packages/autoloader/composer.json
  projects/packages/blocks/composer.json
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/tests/action-test-php.sh
  projects/packages/codesniffer/tests/php/ci-can-run.sh
  projects/packages/compat/composer.json
  projects/packages/connection/composer.json
  projects/packages/constants/composer.json
  projects/packages/device-detection/composer.json
  projects/packages/error/composer.json
  projects/packages/heartbeat/composer.json
  projects/packages/jitm/composer.json
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/composer.json
  projects/packages/logo/composer.json
  projects/packages/partner/composer.json
  projects/packages/redirect/composer.json
  projects/packages/roles/composer.json
  projects/packages/status/composer.json
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/composer.json
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/action-test-coverage.sh
  projects/plugins/jetpack/tests/action-test-php.sh
  projects/plugins/jetpack/tests/php.multisite.xml
Labels: Actions, Touches WP.com Files, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18303 Connection UI: Building the Framework
  package.json
  projects/packages/connection-ui/.babelrc
  projects/packages/connection-ui/.gitattributes
  projects/packages/connection-ui/.gitignore
  projects/packages/connection-ui/_inc/actions/index.js
  projects/packages/connection-ui/_inc/admin.jsx
  projects/packages/connection-ui/_inc/reducers/index.js
  projects/packages/connection-ui/_inc/selectors/index.js
  projects/packages/connection-ui/_inc/store.js
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/gulpfile.babel.js
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/connection-ui/webpack.config.js
  projects/packages/connection-ui/yarn.lock
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/docker/mu-plugins/.gitignore
  tools/docker/mu-plugins/connection-ui-activator.php
Labels: Connect Flow, [Package] Connection UI, [Status] Needs Author Reply, [Status] Needs Package Release, [Type] Feature

#18662 Beta plugin: set the JETPACK_AUTOLOAD_DEV constant when changing Jetpack versions
  projects/plugins/beta/class-jetpack-beta.php
  projects/plugins/beta/jetpack-beta.php
Labels: [Plugin] Beta Plugin, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18586 Admin Menu: Use custom menus always in endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/modules/masterbar.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/load.php
  projects/plugins/jetpack/tests/php/_inc/lib/test-class-jetpack-podcast-helper.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18730 Connection: Prevent pointless calls to the test API
  projects/packages/connection/src/class-client.php
  projects/plugins/jetpack/class.jetpack.php
Labels: Admin Page, Performance, [Pri] High, [Status] Needs Cherry-Pick, [Status] Needs Package Release, [Type] Bug

#18728 Anchor: Update post-publish prompt text.
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18734 Anchor: Remove image next to podcast player block
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
Labels: Touches WP.com Files, [Block] Anchor.fm, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#17822 Upgrade Flow: Connecting Jetpack users
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/class.jetpack.php
Labels: Admin Page, Connect Flow, [Status] Needs Review

#18738 Git Hooks: Use CLI commands
  tools/git-hooks/post-merge-checkout-hook.sh
Labels: [Pri] Low, [Status] Needs Review, [Type] Enhancement

#18732 WhatsApp: Adjust menu size and remove some settings from block menu
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/edit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/editor.scss
Labels: Touches WP.com Files, [Block] Send a message, [Status] Ready to Merge, [Type] Bug

#18742 Custom Content Types: add support for Newspack's Blog Posts block
  projects/plugins/jetpack/modules/custom-post-types/portfolios.php
  projects/plugins/jetpack/modules/custom-post-types/testimonial.php
Labels: Custom Content Types, Touches WP.com Files, [Pri] Low, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Enhancement

#18756 Media Player Control: remove useless CSS class
  projects/plugins/jetpack/extensions/shared/components/media-player-control/index.js
Labels: Touches WP.com Files, [Block] Dialogue, [Pri] Normal, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18745 Connection: Migrate deprecations
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/functions.wp-notify.php
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-user-connect-endpoint.php
  projects/plugins/jetpack/modules/monitor.php
  projects/plugins/jetpack/modules/notes.php
  projects/plugins/jetpack/modules/sharedaddy.php
  projects/plugins/jetpack/modules/sso.php
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
Labels: Touches WP.com Files, [Package] Connection, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#18646 Dialogue: edit participant from canvas
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/components/participants-controls.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/example.js
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/attributes.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/index.js
  projects/plugins/jetpack/extensions/blocks/dialogue/save.js
  projects/plugins/jetpack/extensions/shared/icons.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Pri] High, [Size] L, [Status] Needs Author Reply, [Status] Needs Cherry-Pick, [Type] Enhancement

#18674 Conversation: re-organize timestamp and participants controls
  projects/plugins/jetpack/extensions/blocks/conversation/components/participants-controls.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/editor.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/style.scss
Labels: Touches WP.com Files, [Block] Conversation, [Pri] High, [Size] M, [Status] Needs Cherry-Pick, [Status] Needs Tracks Review, [Status] Ready to Merge, [Type] Enhancement

#18654 Filter post content in Open Graph meta tags
  projects/plugins/jetpack/functions.opengraph.php
Labels: Touches WP.com Files, [Block] Premium Content, [Status] Ready to Merge, [Type] Bug

#18590 Optimize require_lib performance
  projects/plugins/jetpack/require-lib.php
  projects/plugins/jetpack/tests/php/test_deprecation.php
Labels: Performance, Touches WP.com Files, [Pri] High, [Status] Ready to Merge, [Type] Dotcom Merge

#18772 Beta: Improve release instructions
  projects/plugins/beta/README.md
Labels: [Plugin] Beta, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18759 Admin Menu: Sanitize URLs in endpoint response
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18764 Dialogue: add fallback for useDebounce
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Pri] High, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18763 User-less connection: Restrict first connection to admins only
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/tests/php/test_Manager_integration.php
  projects/packages/connection/tests/php/test_Manager_unit.php
  projects/plugins/jetpack/_inc/client/at-a-glance/connections.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/test/component.js
  projects/plugins/jetpack/_inc/client/components/data/query-user-connection/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Connect Flow, [Package] Connection, [Status] Needs Package Release, [Status] Needs Review

#18769 Dialogue: clean format when pasting speaker label
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
Labels: Touches WP.com Files, [Block] Dialogue, [Pri] Normal, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18487 Require plan_check for WhatsApp block
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/extensions/blocks/send-a-message/send-a-message.php
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/whatsapp-button.php
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/editor.scss
  projects/plugins/jetpack/extensions/index.json
Labels: Touches WP.com Files, [Block] Send a message, [Status] Ready to Merge, [Type] Enhancement

#18761 Audio Player: add `loadWhenReady` and `preload` properties
  projects/plugins/jetpack/extensions/shared/components/audio-player/README.md
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
Labels: Touches WP.com Files, [Block] Podcast Player, [Pri] Normal, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18783 API Endpoints: filter the switchBlogOwner http response before the request.
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Unit Tests, [Status] In Progress

#18717 Dialogue: new approach to edit timestamp
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/timestamp-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/save.js
  projects/plugins/jetpack/extensions/blocks/dialogue/style.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/view.js
Labels: Touches WP.com Files, [Block] Dialogue, [Block] Podcast Player, [Pri] High, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18785 Dialogue: set Dialogue timestamp from the toolbar button
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/shared/components/media-player-control/index.js
Labels: Touches WP.com Files, [Block] Dialogue, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#18776 Fix sharing button popups
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
Labels: Sharing, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18757 Sync Checksums - Update settings to use comment_date_gmt field
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#18762 E2E tests replace Puppeteer with Playwright
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/e2e/.eslintrc.js
  projects/plugins/jetpack/tests/e2e/.gitignore
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/config/default.js
  projects/plugins/jetpack/tests/e2e/jest-playwright.config.js
  projects/plugins/jetpack/tests/e2e/jest-puppeteer.config.js
  projects/plugins/jetpack/tests/e2e/jest.config.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/eventbrite.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/mailchimp.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/pinterest.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/simple-payments.js
  projects/plugins/jetpack/tests/e2e/lib/blocks/word-ads.js
  projects/plugins/jetpack/tests/e2e/lib/flows/jetpack-connect.js
  projects/plugins/jetpack/tests/e2e/lib/global-teardown.js
  projects/plugins/jetpack/tests/e2e/lib/logger.js
  projects/plugins/jetpack/tests/e2e/lib/page-helper.js
  projects/plugins/jetpack/tests/e2e/lib/pages/jetpack-connect/site-topic.js
  projects/plugins/jetpack/tests/e2e/lib/pages/jetpack-connect/site-type.js
  projects/plugins/jetpack/tests/e2e/lib/pages/jetpack-connect/user-type.js
  projects/plugins/jetpack/tests/e2e/lib/pages/page.js
  projects/plugins/jetpack/tests/e2e/lib/pages/postFrontend.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/block-editor.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/dashboard.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/in-place-authorize.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/in-place-plans.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/jetpack.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/login.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/plugins.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wp-admin/sidebar.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/authorize.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/checkout.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/connections.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/login.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/my-plan.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/pick-a-plan.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/plans.js
  projects/plugins/jetpack/tests/e2e/lib/pages/wpcom/thank-you.js
  projects/plugins/jetpack/tests/e2e/lib/plan-helper.js
  projects/plugins/jetpack/tests/e2e/lib/reporters/screenshot.js
  projects/plugins/jetpack/tests/e2e/lib/setup-env.js
  projects/plugins/jetpack/tests/e2e/lib/tunnel-manager.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/specs/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/pre-connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/pro-blocks.test.js
  projects/plugins/jetpack/yarn.lock
Labels: E2E Tests, Touches WP.com Files, [Status] Needs Review

#18721 Actions: add labels to all PRs, based on list of modified files
  .github/actions/repo-gardening/src/index.js
  .github/actions/repo-gardening/src/tasks/add-labels/index.js
  .github/actions/repo-gardening/src/tasks/add-labels/readme.md
  .github/labeler.yml
  .github/workflows/gardening.yml
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18792 Required Review Action: update so Approvers are the default group
  .github/files/required-review.yaml
Labels: Actions, [Action] Required Reviews, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18780 Adds a WordPress.org theme install menu item.
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18796 Docs: update instructions to test packages
  docs/development-environment.md
  projects/packages/README.md
  tools/docker/README.md
Labels: Docker, Docs, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18663 Audio Player: Fix the error thrown from MediaElement of parentNode being undefined
  projects/plugins/jetpack/extensions/shared/components/audio-player/index.jsx
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18786 Conversation/Dialogue: render render speaker label properly
  projects/plugins/jetpack/extensions/blocks/conversation/components/participants-controls.js
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Pri] High, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18550 Subscriptions Block: Remove logged in view for wpcom
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: Subscriptions, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack, [Status] Ready to Merge

#18225 Instant Search: display price information on product results
  projects/plugins/jetpack/modules/search/instant-search/components/product-price.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/product-price.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-product.jsx
  projects/plugins/jetpack/modules/search/instant-search/lib/api.js
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge

#18787 Instant Search: Fix live integration with the Customizer
  projects/plugins/jetpack/modules/search/instant-search/lib/customize.js
Labels: Instant Search, Search, Touches WP.com Files, [Status] Ready to Merge, [Type] Bug

#18719 Podcast Player: Add the episode selector to the sidebar
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-feed-locator.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-podcast-player.php
  projects/plugins/jetpack/extensions/blocks/podcast-player/api.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/podcast-player.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/edit.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/editor.scss
  projects/plugins/jetpack/extensions/blocks/podcast-player/state.js
  projects/plugins/jetpack/tests/php/_inc/lib/test-class-jetpack-podcast-feed-locator.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18709 Sync: Trigger initial sync on jetpack_site_registered
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-main.php
  projects/packages/sync/src/class-users.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-integration.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review

#18758 Admin Menu API: Account for menu order callbacks
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
Labels: Masterbar, Touches WP.com Files, [Status] Needs Team Review, [Type] Bug, nav-unification

#18798 Dialogue block: use HTML for label attribute
  projects/plugins/jetpack/extensions/blocks/dialogue/attributes.js
  projects/plugins/jetpack/extensions/blocks/dialogue/save.js
Labels: Touches WP.com Files, [Block] Dialogue, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Task

#18781 Ensure callables are callables
  projects/packages/sync/src/modules/class-callables.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review

#18797 Refactor Jetpack callables into the plugin
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/class.jetpack.php
Labels: [Package] Sync, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Needs Review

#18751 Premium Content: Fix call to subscriptions end date as array instead of object
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-offline-subscription-service.php
Labels: Touches WP.com Files, [Block] Premium Content, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18604 Cover Block: Remove the upgrade banner
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/edit.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/index.js
Labels: Touches WP.com Files, [Extensions] Paid Blocks, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18735 Simple Payments: Preserve white-space in Pay with Paypal product description
  projects/plugins/jetpack/extensions/blocks/simple-payments/product-placeholder.scss
  projects/plugins/jetpack/modules/simple-payments/simple-payments.css
Labels: Pay With Paypal, Touches WP.com Files, [Block] Pay With Paypal, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18826 Admin Menu: Remove "Backups & Scan" menu
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Needs Team Review

#18808 Conversation: handling removed/restored speakers
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18359 Jetpack Recommendations: Add dashboard banner
  projects/packages/options/legacy/class-jetpack-options.php
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/style.scss
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/jetpack-recommendations-banner.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/scss/jetpack-recommendations-banner.scss
Labels: Admin Page, Connect Flow, [Package] Options, [Plugin] Jetpack, [Status] Needs Design Review, [Status] Needs Package Release, [Status] Needs Tracks Review, [Status] Ready to Merge, [Type] Enhancement

#18807 Conversation/Dialogue: use `parent` block settings to limit Dialogue availability
  projects/plugins/jetpack/extensions/blocks/conversation/extend/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
  projects/plugins/jetpack/extensions/blocks/dialogue/index.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Pri] High, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18718 CLI: Add project generation wizard
  projects/packages/.gitignore
  tools/cli/.gitignore
  tools/cli/cliRouter.js
  tools/cli/commands/build.js
  tools/cli/commands/cli.js
  tools/cli/commands/generate.js
  tools/cli/commands/install.js
  tools/cli/commands/watch.js
  tools/cli/helpers/json.js
  tools/cli/helpers/mergeDirs.js
  tools/cli/helpers/normalizeArgv.js
  tools/cli/helpers/projectHelpers.js
  tools/cli/helpers/promptForProject.js
  tools/cli/helpers/readComposerJson.js
  tools/cli/helpers/readJson.js
  tools/cli/helpers/tasks/installProjectTask.js
  tools/cli/package.json
  tools/cli/skeletons/common/.gitignore
  tools/cli/skeletons/common/composer.json
  tools/cli/skeletons/common/package.json
  tools/cli/skeletons/packages/.gitattributes
  tools/cli/skeletons/packages/phpunit.xml.dist
  tools/cli/skeletons/packages/src/.gitkeep
  tools/cli/skeletons/packages/tests/php/bootstrap.php
  tools/cli/tests/data/source/source.md
  tools/cli/tests/unit/command/generate.test.js
  tools/cli/tests/unit/helpers/json.test.js
  tools/cli/tests/unit/helpers/mergeDirs.test.js
  tools/cli/tests/unit/helpers/promptForProjects.test.js
Labels: [Status] In Progress, [Tools] Development CLI, [Type] Enhancement

#18827 Markdown: Fix db error missing options table when WP site is being installed.
  projects/plugins/jetpack/modules/markdown/easy-markdown.php
Labels: Markdown, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Status] Tested on WP.com, [Type] Dotcom Merge

#18830 Recurring Payments: fix import errors when adding payment plan
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/recurring-payments/editor.scss
Labels: Touches WP.com Files, [Block] Payments, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18828 Shared: add createBlocksFromInnerBlocksTemplate() fallback
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
  projects/plugins/jetpack/extensions/shared/create-block-from-inner-blocks-template.js
Labels: Touches WP.com Files, [Block] Anchor Fm, [Plugin] Jetpack, [Pri] High, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18737 Conversation/Dialogue: improve transforms
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
  projects/plugins/jetpack/extensions/blocks/dialogue/index.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18829 Conversation/dialogue blocks: use "Speaker" for participant label
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18833 Dialogue: fix copy/paste block into block content
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Dialogue, [Plugin] Jetpack, [Pri] High, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Bug

#18832 Dialogue: Tweak speaker input size
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
  projects/plugins/jetpack/extensions/shared/components/media-player-control/index.js
  projects/plugins/jetpack/extensions/shared/components/media-player-control/style.scss
Labels: Touches WP.com Files, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] M, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Enhancement

#18749 Changelog: 9.4.1
  projects/plugins/jetpack/changelog.txt
  projects/plugins/jetpack/readme.txt
Labels: [Plugin] Jetpack, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Status] Ready to Merge, [Type] Janitorial

#18839 Conversation: use function with fallback to creating blocks from a template.
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
Labels: Touches WP.com Files, [Block] Conversation, [Plugin] Jetpack, [Pri] High, [Size] S, [Status] Needs Cherry-Pick, [Status] Ready to Merge

#18806 E2E tests: separate node project
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/.wp-env.json
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/e2e/.gitignore
  projects/plugins/jetpack/tests/e2e/.wp-env.json
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/babel.config.js
  projects/plugins/jetpack/tests/e2e/config/default.js
  projects/plugins/jetpack/tests/e2e/lib/utils-helper.js
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/yarn.lock
  projects/plugins/jetpack/yarn.lock
Labels: Actions, E2E Tests, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Review

#18791 Override masterbar to show quick links on Atomic sites
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
  projects/plugins/jetpack/modules/masterbar/masterbar/overrides.css
Labels: Masterbar, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18841 E2E tests: Add record video option
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/tests/e2e/jest-playwright.config.js
  projects/plugins/jetpack/tests/e2e/package.json
Labels: Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Review

#18775 Anchor.fm / Widget Visibility: avoid fatal errors when using PHP 8
  projects/plugins/jetpack/extensions/blocks/anchor-fm/anchor-fm.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: Touches WP.com Files, Widget Visibility, [Block] Anchor Fm, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18840 Dialogue: handling attributes for split blocks
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
Labels: Touches WP.com Files, [Block] Dialogue, [Plugin] Jetpack, [Pri] Normal, [Size] S, [Status] Ready to Merge, [Type] Enhancement

#18800 Admin Menu: handle Gutenberg menus
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/data/admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#18702 Jetpack Search: Adapt modal styling from P2+ Project
  projects/plugins/jetpack/modules/search/class-jetpack-instant-search.php
  projects/plugins/jetpack/modules/search/class-jetpack-search-customize.php
  projects/plugins/jetpack/modules/search/instant-search/components/jetpack-colophon.scss
  projects/plugins/jetpack/modules/search/instant-search/components/notice.scss
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.scss
  projects/plugins/jetpack/modules/search/instant-search/components/path-breadcrumbs.scss
  projects/plugins/jetpack/modules/search/instant-search/components/product-ratings.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/product-ratings.scss
  projects/plugins/jetpack/modules/search/instant-search/components/scroll-button.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/scroll-button.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-filter.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-form.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-form.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-comments.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-comments.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-expanded.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-expanded.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-minimal.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-minimal.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-product.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-product.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-result.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-results.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-sidebar.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-sort.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/search-sort.scss
  projects/plugins/jetpack/modules/search/instant-search/components/sidebar.jsx
  projects/plugins/jetpack/modules/search/instant-search/components/sidebar.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/customize.js
  projects/plugins/jetpack/modules/search/instant-search/lib/style-helpers.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_helper.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_mixins.scss
  projects/plugins/jetpack/modules/search/instant-search/lib/styles/_variables.scss
  tools/eslint-excludelist.json
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#17309 SEO: Move to free
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-post-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
  projects/plugins/jetpack/modules/seo-tools.php
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo-utils.php
  projects/plugins/jetpack/modules/seo-tools/jetpack-seo.php
  projects/plugins/jetpack/sal/class.json-api-post-base.php
  tools/eslint-excludelist.json
  tools/phpcs-excludelist.json
Labels: Admin Page, SEO Tools, Touches WP.com Files, WPCOM API, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Enhancement

#18341 JITM: move jetpack-jitm.js to the JITM package
  .eslintignore
  package.json
  projects/packages/jitm/.gitattributes
  projects/packages/jitm/.gitignore
  projects/packages/jitm/composer.json
  projects/packages/jitm/package.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/css/jetpack-admin-jitm-rtl.css
  projects/packages/jitm/src/css/jetpack-admin-jitm-rtl.min.css
  projects/packages/jitm/src/css/jetpack-admin-jitm.css
  projects/packages/jitm/src/css/jetpack-admin-jitm.min.css
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/jitm/src/js/jetpack-jitm.js
  projects/packages/jitm/webpack.config.js
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tools/builder/sass.js
Labels: JITM, Touches WP.com Files, [Package] Jitm, [Plugin] Jetpack, [Pri] Normal, [Status] Needs Package Release, [Status] Ready to Merge, [Type] Enhancement

#18155 VideoPress Block: Add UI for Customizing Player Seekbar Colors
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/seekbar-color-settings.js
  projects/plugins/jetpack/extensions/blocks/videopress/url.js
Labels: Touches WP.com Files, VideoPress, [Block] VideoPress, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18836 Podcast Helper: Allow filtering the number of tracks returned by get_track_list.
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18813 In-Place Connection: Reload for paid plans.
  projects/plugins/jetpack/_inc/connect-button.js
Labels: Connect Flow, [Plugin] Jetpack, [Status] Needs Review, [Type] Bug

#18849 Recommendations: Adjust banner styles
  projects/plugins/jetpack/scss/jetpack-recommendations-banner.scss
Labels: Admin Page, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18771 Add Cloudflare Analytics snippet to site header via (WPCOM only) Jetpack plugin
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/modules/cloudflare-analytics/cloudflare-analytics.php
  projects/plugins/jetpack/modules/module-extras.php
Labels: Cloudflare Analytics, Touches WP.com Files, [Pri] Normal, [Status] Ready to Merge, [Type] Feature

#18801 SSO: Disregard filters to use in-place connection when redirecting after SSO
  projects/plugins/jetpack/modules/sso.php
Labels: SSO, [Plugin] Jetpack, [Status] Ready to Merge

#18804 Add advanced menu items for General and Writing for WP Admin
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Ready to Merge

#18862 Admin Menu: Fix link destination for Widgets and Menus
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: Masterbar, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Status] Needs Review, [Status] Needs Team Review, [Type] Enhancement

#18867 Setup Wizard: Remove setup wizard
  projects/packages/jitm/src/js/jetpack-jitm.js
  projects/packages/options/legacy/class-jetpack-options.php
  projects/plugins/jetpack/_inc/client/components/data/query-setup-wizard-questionnaire/index.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/scss/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/checklist-answer/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/checklist-answer/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle-group/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle-group/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle/README.md
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle/map-feature-to-props.js
  projects/plugins/jetpack/_inc/client/setup-wizard/feature-toggle/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/income-question/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/income-question/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/intro-page/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/intro-page/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/recommended-features/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/recommended-features/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/recommended-features/variables.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/style.scss
  projects/plugins/jetpack/_inc/client/setup-wizard/updates-question/index.jsx
  projects/plugins/jetpack/_inc/client/setup-wizard/updates-question/style.scss
  projects/plugins/jetpack/_inc/client/state/action-types.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/client/state/reducer.js
  projects/plugins/jetpack/_inc/client/state/setup-wizard/actions.js
  projects/plugins/jetpack/_inc/client/state/setup-wizard/feature-recommendations.js
  projects/plugins/jetpack/_inc/client/state/setup-wizard/index.js
  projects/plugins/jetpack/_inc/client/state/setup-wizard/reducer.js
  projects/plugins/jetpack/_inc/jetpack-wizard-banner.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-wizard.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/class-jetpack-wizard-banner.php
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/scss/jetpack-wizard-banner.scss
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  tools/eslint-excludelist.json
Labels: Admin Page, [Package] Jitm, [Package] Options, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge

#18859 Actions: switch from app to action for Stale issue/PR labeling
  .github/stale.yml
  .github/workflows/stale.yml
Labels: Actions, [Pri] Low, [Status] Ready to Merge, [Type] Enhancement

#18768 Instagram: use arguments provided by shortcode attributes
  projects/plugins/jetpack/modules/shortcodes/instagram.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.instagram.php
Labels: Shortcodes / Embeds, Touches WP.com Files, Unit Tests, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18852 Instant Search: Fix theming issues for the new modal design
  projects/plugins/jetpack/modules/search/instant-search/components/overlay.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-box.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-filters.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result-expanded.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-result.scss
  projects/plugins/jetpack/modules/search/instant-search/components/search-sort.scss
  projects/plugins/jetpack/modules/search/instant-search/components/sidebar.scss
Labels: Instant Search, Search, Touches WP.com Files, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18876 Connection: updating the deprecated `is_user_connected()` method
  projects/plugins/jetpack/class.jetpack.php
Labels: [Plugin] Jetpack, [Status] Needs Review, [Type] Janitorial

#18845 Conversation Block: Correct the strokeWidth attribute in the icon
  projects/plugins/jetpack/extensions/shared/icons.js
Labels: Touches WP.com Files, [Block] Conversation, [Plugin] Jetpack, [Pri] Normal, [Size] S, [Status] Ready to Merge

#18857 VideoPress: avoid warning when no rating is set
  projects/plugins/jetpack/modules/videopress/utility-functions.php
Labels: VideoPress, [Block] VideoPress, [Plugin] Jetpack, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18558 Actions: make milestone detection available for all tasks
  .github/actions/repo-gardening/readme.md
  .github/actions/repo-gardening/src/get-labels.js
  .github/actions/repo-gardening/src/get-next-valid-milestone.js
  .github/actions/repo-gardening/src/get-plugin-names.js
  .github/actions/repo-gardening/src/index.js
  .github/actions/repo-gardening/src/tasks/add-milestone/index.js
  .github/actions/repo-gardening/src/tasks/check-description/index.js
  .github/actions/repo-gardening/src/tasks/check-description/readme.md
  .github/workflows/dangerci.yml
  dangerfile.js
  package.json
  projects/plugins/jetpack/babel.config.js
  tools/eslint-excludelist.json
  yarn.lock
Labels: Actions, Touches WP.com Files, [Plugin] Jetpack, [Pri] Normal, [Status] Ready to Merge, [Type] Janitorial

#18881 Actions: do not add milestone info to comment when undefined
  .github/actions/repo-gardening/src/tasks/check-description/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18882 Actions: do not run label and comment automations on closed PRs
  .github/actions/repo-gardening/src/if-not-closed.js
  .github/actions/repo-gardening/src/index.js
Labels: Actions, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18823 Avoid unnecessary converting of booleans to strings in the WordAds module
  projects/plugins/jetpack/modules/wordads/php/class-wordads-api.php
Labels: WordAds, [Pri] Normal, [Status] Ready to Merge, [Type] Bug

#18861 Keyring: Register Sharing page without menu
  projects/plugins/jetpack/_inc/lib/class.jetpack-keyring-service-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/publicize-services.php
Labels: Touches WP.com Files, Verification tools, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Bug

#18779 Update Checksums to support blacklisted taxonomies.
  projects/packages/sync/src/class-settings.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Package Release, [Status] Needs Review, [Type] Bug

#18877 CLI: Fix CodeQL warning
  tools/cli/helpers/projectHelpers.js
Labels: [Pri] Normal, [Status] Ready to Merge, [Tools] Development CLI, [Type] Janitorial

#18884 Issues templates: update label name for Beta plugin
  .github/ISSUE_TEMPLATE/plugin_jetpack-beta.md
Labels: Docs, [Plugin] Beta, [Pri] Low, [Status] Ready to Merge, [Type] Bug

#18855 Podcast API Endpoint: Add the publish date to the track information.
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
Labels: Touches WP.com Files, [Block] Podcast Player, [Plugin] Jetpack, [Status] Ready to Merge, [Type] Enhancement

#18887 Skip master user tests when in userless mode
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-cxn-tests.php
Labels: Unit Tests, [Package] Connection, [Plugin] Jetpack, [Status] Ready to Merge

#18853 Recommendations: Hide JITMs when banner is displaying
  projects/packages/jitm/src/class-jitm.php
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/scss/jetpack-recommendations-banner.scss
Labels: Admin Page, [Package] Jitm, [Plugin] Jetpack, [Status] Needs Package Release, [Status] Ready to Merge

#18812 Refactor secrets and tokens
  projects/packages/connection/docs/authorize-user.md
  projects/packages/connection/docs/register-site.md
  projects/packages/connection/legacy/class-jetpack-xmlrpc-server.php
  projects/packages/connection/src/class-client.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-secrets.php
  projects/packages/connection/src/class-tokens.php
  projects/packages/connection/src/class-utils.php
  projects/packages/connection/tests/php/test-rest-endpoints.php
  projects/packages/connection/tests/php/test_Manager_integration.php
  projects/packages/connection/tests/php/test_Manager_unit.php
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/class.jetpack-keyring-service-helper.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-cxn-tests.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-debug-data.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack-data.php
  projects/plugins/jetpack/class.jetpack-network.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-jetpack-token-subscription-service.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-user-connect-endpoint.php
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/modules/comments/comments.php
  projects/plugins/jetpack/modules/post-by-email/class-jetpack-post-by-email.php
  projects/plugins/jetpack/modules/publicize/publicize-jetpack.php
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-client-server.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-data.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-xmlrpc-server.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
  projects/plugins/jetpack/tests/php/modules/wpcom-block-editor/test_class-jetpack-wpcom-block-editor.php
  tools/phpcs-excludelist.json
Labels: Comments, Post By Email, Publicize, Touches WP.com Files, Unit Tests, WPCOM API, WordPress.com Block Editor, [Block] Premium Content, [Package] Connection, [Package] Jitm, [Plugin] Jetpack, [Status] Needs Author Reply, [Status] Needs Package Release, [Status] Needs Tracks Review, [Status] Ready to Merge
