Repository Automattic/jetpack, pull requests merged in 2022-04, with the labels that each got.

#23665 CodeCov: Use Caryforward flags
  .github/files/list-changed-projects.sh
  .github/files/process-coverage.sh
  .github/workflows/tests.yml
Labels: [Status] Needs Author Reply, Actions

#23750 Update hardcoded plan slug
  projects/plugins/jetpack/changelog/update-required-plan-for-memberships-to-pro
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Plugin] Jetpack, Memberships

#23749 Subscribe block: correct default style selection to split style
  projects/plugins/jetpack/changelog/fix-subscribe-block-default-style-selected
  projects/plugins/jetpack/extensions/blocks/subscriptions/index.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#23617 Boost: Add post purchase page
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/css/components/button.scss
  projects/plugins/boost/app/assets/src/css/components/card.scss
  projects/plugins/boost/app/assets/src/css/main/common.scss
  projects/plugins/boost/app/assets/src/images/check.svg
  projects/plugins/boost/app/assets/src/images/color-shift.svg
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/elements/BackButton.svelte
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/connection/Connection.svelte
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/utils/jetpack-url.ts
  projects/plugins/boost/app/assets/static/images/boost.png
  projects/plugins/boost/changelog/add-post-purchase-page
Labels: Touches WP.com Files, Admin Page, [Status] Needs Team Review, [Plugin] Boost

#23722 Boost: Add support section
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/button.scss
  projects/plugins/boost/app/assets/src/css/components/support.scss
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Support.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Tips.svelte
  projects/plugins/boost/app/assets/src/js/utils/paid-plan.ts
  projects/plugins/boost/changelog/add-support-section
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#23725 JS Components: Add story doc to Text components
  projects/js-packages/components/changelog/update-js-components-improve-text-doc
  projects/js-packages/components/components/text/stories/Text-MDX-Documentation.mdx
  projects/js-packages/components/components/text/stories/headings.index.jsx
  projects/js-packages/components/components/text/stories/index.jsx
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23503 Jetpack Plans: introduce new package
  pnpm-lock.yaml
  projects/packages/plans/.gitattributes
  projects/packages/plans/.gitignore
  projects/packages/plans/CHANGELOG.md
  projects/packages/plans/README.md
  projects/packages/plans/changelog/.gitkeep
  projects/packages/plans/changelog/extract-jetpack-plans
  projects/packages/plans/composer.json
  projects/packages/plans/package.json
  projects/packages/plans/phpunit.xml.dist
  projects/packages/plans/src/class-current-plan.php
  projects/packages/plans/src/class-plans.php
  projects/packages/plans/tests/php/bootstrap.php
  projects/packages/plans/tests/php/test-current-plan.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Feature, [Package] Plans

#23726 Add Autoloader debugger helper.
  projects/plugins/debug-helper/changelog/add-autoloader-debugger
  projects/plugins/debug-helper/modules/class-autoloader-debug-helper.php
  projects/plugins/debug-helper/plugin.php
Labels: [Status] Needs Review, [Plugin] Debug Helper

#23076 Add Jetpack WAF standalone mode
  projects/packages/waf/.gitignore
  projects/packages/waf/.phpcs.dir.xml
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/add-waf-standalone-mode
  projects/packages/waf/cli.php
  projects/packages/waf/composer.json
  projects/packages/waf/run.php
  projects/packages/waf/src/class-waf-cli.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/tests/php/bootstrap.php
  projects/packages/waf/tests/php/class-waf-operators-test-case.php
  projects/packages/waf/tests/php/functions-wordpress.php
  projects/packages/waf/tests/php/test-waf-standalone-bootstrap.php
  projects/plugins/jetpack/changelog/add-waf-standalone-mode
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack, [Package] Waf

#23743 My Jetpack: Improve and tweak styles of Product and Interstitial components/pages
  projects/js-packages/components/changelog/update-my-jetpack-interstitial-styles
  projects/js-packages/components/components/text/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/changelog/update-my-jetpack-interstitial-styles
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] M, RNA, [JS Package] Components, [Package] My Jetpack

#23753 Mailchimp Popup widget: Widget Deprecation
  projects/plugins/jetpack/changelog/update-mailchimp-popup-widget-deprecate
  projects/plugins/jetpack/modules/widgets/mailchimp.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Plugin] Jetpack

#23697 Payments Block: improve redirection auto open modals
  projects/plugins/jetpack/changelog/update-improve-redirection-auto-open-modals
  projects/plugins/jetpack/extensions/blocks/recurring-payments/view.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Payments

#23716 class.jetpack.php: Move useful methods to Status package for other plugins to use.
  projects/packages/connection/changelog/update-add-to-status-package
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/identity-crisis/changelog/update-add-to-status-package
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/update-add-to-status-package
  projects/packages/jitm/composer.json
  projects/packages/partner/changelog/update-add-to-status-package
  projects/packages/partner/composer.json
  projects/packages/plans/changelog/update-add-to-status-package
  projects/packages/plans/composer.json
  projects/packages/redirect/changelog/update-add-to-status-package
  projects/packages/redirect/composer.json
  projects/packages/search/changelog/update-add-to-status-package
  projects/packages/search/changelog/update-add-to-status-package#2
  projects/packages/search/composer.json
  projects/packages/search/src/class-module-control.php
  projects/packages/search/src/class-rest-controller.php
  projects/packages/status/changelog/add-payments-ui-for-wordads
  projects/packages/status/composer.json
  projects/packages/status/src/class-cookiestate.php
  projects/packages/status/src/class-errors.php
  projects/packages/status/src/class-files.php
  projects/packages/status/src/class-modules.php
  projects/packages/status/src/class-paths.php
  projects/packages/status/src/class-status.php
  projects/packages/sync/changelog/update-add-to-status-package
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/tracking/changelog/update-add-to-status-package
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/update-add-to-status-package
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-add-to-status-package
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-add-to-status-package
  projects/plugins/jetpack/changelog/update-add-to-status-package#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-add-to-status-package
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-add-to-status-package
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-add-to-status-package
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-add-to-status-package
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Sync, [Package] Status, [Package] Partner, [Package] Connection, [Package] Tracking, [Plugin] Jetpack, [Package] Jitm, [Package] Redirect, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] Plans, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23732 tools: Let check-changelogger-use.php detect uncommitted change entries
  tools/check-changelogger-use.php
  tools/js-tools/git-hooks/pre-push-hook.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal

#23762 Fix pnpm-lock.yaml
  pnpm-lock.yaml
Labels: [Type] Bug, [Status] Needs Review, Touches WP.com Files, [Pri] High

#23610 PHPCS: JSON GET Endpoints Part 2
  projects/plugins/jetpack/changelog/phpcs-json-endpoints-list
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-comments-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-embeds-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-media-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-media-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-media-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-post-type-taxonomies-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-post-types-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-roles-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-shortcodes-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-terms-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-users-endpoint.php
  tools/phpcs-excludelist.json
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#23772 Boost: Fix paragraph spacing in settings page
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/changelog/fix-whitespace
  projects/plugins/boost/rollup.config.js
Labels: [Status] Needs Team Review, [Plugin] Boost

#23763 renovate: Group GitHub API packages
  .github/renovate-config.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#23768 Publicize Package: Sync recent fixes
  projects/packages/publicize/changelog/update-sync-publicize-package
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize.php
Labels: Publicize, [Status] Ready to Merge, [Type] Janitorial, [Package] Publicize

#23764 renovate: Explicitly disable semantic commits
  .github/renovate-config.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#23775 Jetpack Sync: Run cron sync only once on Dedicated Sync flow
  projects/packages/sync/changelog/update-cron-dedicated-sync
  projects/packages/sync/src/class-actions.php
Labels: [Status] Ready to Merge, [Package] Sync

#23584 RNA: Introduce `Button` component
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-rna-button-component
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/stories/Button.mdx
  projects/js-packages/components/components/button/stories/index.jsx
  projects/js-packages/components/components/button/style.module.scss
  projects/js-packages/components/components/theme-provider/index.jsx
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23643 PHPCS: Custom CSS (Part 1)
  projects/plugins/jetpack/changelog/phpcs-custom-css
  projects/plugins/jetpack/modules/custom-css.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy_ctype.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy_optimise.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy_print.php
  projects/plugins/jetpack/modules/custom-css/csstidy/data-wp.inc.php
  projects/plugins/jetpack/modules/custom-css/csstidy/data.inc.php
  projects/plugins/jetpack/modules/custom-css/csstidy/lang.inc.php
  projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors.php
  tools/phpcs-excludelist.json
Labels: Custom CSS, [Status] In Progress, [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#23724 E2E tests: add custom error messages to the expect functions
  projects/plugins/boost/changelog/e2e-add-assert-messages
  projects/plugins/boost/tests/e2e/specs/common.test.js
  projects/plugins/boost/tests/e2e/specs/connection.test.js
  projects/plugins/boost/tests/e2e/specs/critical-css.test.js
  projects/plugins/boost/tests/e2e/specs/jetpack-compatibility.test.js
  projects/plugins/boost/tests/e2e/specs/lazy-images.test.js
  projects/plugins/boost/tests/e2e/specs/modules-common.test.js
  projects/plugins/boost/tests/e2e/specs/score-auto-refresh.test.js
  projects/plugins/boost/tests/e2e/specs/speed-score.test.js
  projects/plugins/jetpack/changelog/e2e-add-assert-messages
  projects/plugins/jetpack/tests/e2e/specs/connection/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/pro-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/recommendations.test.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/sync.test.js
  projects/plugins/jetpack/tests/e2e/specs/pre-connection/pre-connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/update/plugin-update.test.js
  projects/plugins/search/changelog/e2e-add-assert-messages
  projects/plugins/search/tests/e2e/specs/search-configure.test.js
  projects/plugins/search/tests/e2e/specs/search-dashboard.test.js
  projects/plugins/search/tests/e2e/specs/search.test.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search

#23778 renovate: Treat our libs as libs
  .github/renovate-config.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#23766 Settings: add a caution message for the Jetpack Blocks toggle
  projects/plugins/jetpack/_inc/client/writing/composing.jsx
  projects/plugins/jetpack/changelog/update-jetpack-blocks-toggle-caution
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, Gutenberg, [Plugin] Jetpack

#23615 Search: add API data for record meter
  projects/packages/search/changelog/add-search-record-meter-api-data
  projects/packages/search/src/dashboard/components/record-meter/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/create-data.js
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/components/record-meter/test/record-info.test.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#23740 Pocket Casts: Add Pocket Casts block for internal dev purposes.
  projects/plugins/jetpack/changelog/add-pocket-casts-dev-block
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/index.js
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/index.native.js
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/pocketcasts.js
  projects/plugins/jetpack/extensions/shared/icons.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, Gutenberg, [Plugin] Jetpack, [Block] Pocketcasts

#23788 My Jetpack: align price boxes in the interstitial product page
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/changelog/update-my-jetpack-align-prices-in-interstitial-cmp
Labels: [Type] Enhancement, [Status] Needs Review, [Size] S, [Package] My Jetpack

#23790 Approvals: Scan to approve Scan code
  .github/files/required-review.yaml
Labels: [Status] Needs Review, [Type] Janitorial, Actions

#23756 WAF: fix normalizing nested arrays
  projects/packages/waf/changelog/fix-waf-normalize-nested-arrays
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/tests/php/test-waf-runtime.php
Labels: [Status] Ready to Merge, [Package] Waf

#23780 Protect: Add `Summary` component
  pnpm-lock.yaml
  projects/js-packages/storybook/changelog/add-protect
  projects/js-packages/storybook/storybook/projects.js
  projects/plugins/protect/changelog/add-protect-summary
  projects/plugins/protect/package.json
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/admin-page/styles.module.scss
  projects/plugins/protect/src/js/components/summary/index.jsx
  projects/plugins/protect/src/js/components/summary/stories/index.jsx
  projects/plugins/protect/src/js/components/summary/styles.module.scss
  projects/plugins/protect/src/js/index.js
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Storybook, [Plugin] Protect

#23781 Protect: Add `VulnerabilitiesList` component
  pnpm-lock.yaml
  projects/plugins/protect/changelog/add-protect-vulnerabilities-list
  projects/plugins/protect/package.json
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/index.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/stories/index.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/styles.module.scss
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Storybook, [Plugin] Protect

#23773 Fix ESLint runtime for packages and plugins
  package.json
  pnpm-lock.yaml
  projects/js-packages/eslint-changed/changelog/fix-eslint-dependency
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-config-target-es/changelog/fix-eslint-dependency
  projects/js-packages/eslint-config-target-es/package.json
  projects/plugins/boost/changelog/fix-eslint-dependency
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/fix-eslint-dependency
  projects/plugins/jetpack/package.json
  tools/js-tools/eslint
  tools/js-tools/package.json
  tools/js-tools/validate-es
Labels: [Status] Needs Review, Touches WP.com Files, dependencies, [Plugin] Jetpack, RNA, [JS Package] Eslint Changed, [Plugin] Boost, [JS Package] Eslint Config Target Es, [Tools] Monorepo Setup

#23709 Clean up pre-commit hook
  tools/js-tools/git-hooks/pre-commit-hook.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#23796 Jetpack: backport 10.8 changelog and readme
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-pro-plan
  projects/plugins/jetpack/changelog/fix-carousel-nonce
  projects/plugins/jetpack/changelog/jetpack-branch-10.8
  projects/plugins/jetpack/changelog/update-crm-panel-non-admins
  projects/plugins/jetpack/changelog/update-form-plugin-button-spacing
  projects/plugins/jetpack/changelog/update-google-fonts-beta
  projects/plugins/jetpack/changelog/update-subscribe-block-pages-private
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#23798 Projects: release stale projects as of 10.8
  pnpm-lock.yaml
  projects/js-packages/eslint-config-target-es/CHANGELOG.md
  projects/js-packages/eslint-config-target-es/changelog/fix-eslint-dependency
  projects/js-packages/eslint-config-target-es/changelog/renovate-major-eslint-packages
  projects/js-packages/eslint-config-target-es/changelog/renovate-mdn-browser-compat-data-4.x
  projects/js-packages/eslint-config-target-es/changelog/renovate-mdn-browser-compat-data-4.x#2
  projects/js-packages/eslint-config-target-es/changelog/renovate-mdn-browser-compat-data-4.x#3
  projects/js-packages/eslint-config-target-es/changelog/renovate-wordpress-monorepo
  projects/js-packages/eslint-config-target-es/changelog/renovate-wordpress-monorepo-2
  projects/js-packages/eslint-config-target-es/changelog/update-pnpm-version
  projects/js-packages/eslint-config-target-es/package.json
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/fix-changelogger-deduplication
  projects/packages/changelogger/changelog/update-changelog-error
  projects/packages/changelogger/src/Application.php
  projects/packages/codesniffer/CHANGELOG.md
  projects/packages/codesniffer/changelog/add-disallow-relative-includes
  projects/packages/codesniffer/changelog/add-disallow-relative-includes-2
  projects/packages/codesniffer/changelog/fix-lint-for-dev-deps
  projects/packages/codesniffer/changelog/remove-yoda
  projects/packages/codesniffer/changelog/update-codesniffer-is-test-hack
  projects/packages/codesniffer/changelog/update-phpcs-rules
  projects/packages/codesniffer/changelog/update-wpcs-to-dev-branch
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Package] Codesniffer, RNA, [Package] Changelogger, [JS Package] Eslint Config Target Es

#23765 Adding skipUserConnection option to the connection screen
  projects/js-packages/connection/changelog/update-connect-screen-add-skip-user
  projects/js-packages/connection/components/connect-screen/basic/index.jsx
  projects/js-packages/connection/components/use-connection/index.jsx
  projects/plugins/protect/changelog/update-connect-screen-add-skip-user
  projects/plugins/protect/src/js/components/admin-page/index.jsx
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection, [Plugin] Protect

#23748 Search: fix two Search submenus for older Jetpack plugin
  projects/packages/search/changelog/fix-allow-search-submenu-added-only-once
  projects/packages/search/src/dashboard/class-dashboard.php
Labels: Search, [Status] Needs Team Review, [Plugin] Search, [Package] Search

#23800 Issue templates: Update bug, enhancement, and feature request templates to include Protect, Search and Social plugins
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: [Status] Ready to Merge

#23799 PHPCS: Custom CSS File Changes
  projects/plugins/jetpack/changelog/phpcs-custom-css-filename
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy-ctype.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy-optimise.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy-print.php
  projects/plugins/jetpack/modules/custom-css/csstidy/class.csstidy.php
  projects/plugins/jetpack/modules/custom-css/csstidy/lang.inc.php
Labels: Custom CSS, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#23802 build: Avoid races when writing composer.json
  tools/cli/commands/build.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#23785 Admin page: display blocks info even when classic editor is active
  projects/plugins/jetpack/_inc/client/at-a-glance/blocks.jsx
  projects/plugins/jetpack/_inc/client/writing/composing.jsx
  projects/plugins/jetpack/changelog/update-toggle-blocks-classic-editor
Labels: [Status] Ready to Merge, Admin Page, [Pri] Normal, Gutenberg, [Plugin] Jetpack

#23678 Add recommendation for VideoPress
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/add-videopress-recommendation
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack

#23731 Contact Form: inherit font size for input fields
  projects/plugins/jetpack/changelog/fix-font-size-input-contact-form
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, Compatibility

#23439 Comments: Adding and verifying a nonce field
  projects/plugins/jetpack/changelog/add-comments-nonce
  projects/plugins/jetpack/modules/comments/comments.php
Labels: Comments, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#23467 PHPCS: SAL (part 2)
  projects/plugins/jetpack/changelog/update-phpcs-sal-pt2
  projects/plugins/jetpack/sal/class.json-api-post-base.php
  projects/plugins/jetpack/sal/class.json-api-post-jetpack.php
  tools/phpcs-excludelist.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#23448 Hoist the Tracking package into Connection.
  projects/packages/config/README.md
  projects/packages/config/changelog/hoist-tracking
  projects/packages/connection/.eslintrc.js
  projects/packages/connection/TRACKING.md
  projects/packages/connection/changelog/hoist-tracking
  projects/packages/connection/composer.json
  projects/packages/connection/legacy/class-jetpack-tracks-client.php
  projects/packages/connection/legacy/class-jetpack-tracks-event.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-tracking.php
  projects/packages/connection/src/js/tracks-ajax.js
  projects/packages/connection/src/js/tracks-callables.js
  projects/packages/connection/tests/php/test-tracking.php
  projects/packages/identity-crisis/changelog/hoist-tracking
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/hoist-tracking
  projects/packages/jitm/composer.json
  projects/packages/my-jetpack/changelog/hoist-tracking
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/hoist-tracking
  projects/packages/search/composer.json
  projects/packages/tracking/changelog/hoist-tracking
  projects/packages/tracking/composer.json
  projects/packages/tracking/legacy/class-jetpack-tracks-client.php
  projects/packages/tracking/legacy/class-jetpack-tracks-event.php
  projects/packages/tracking/src/class-tracking.php
  projects/packages/tracking/tests/php/bootstrap.php
  projects/plugins/backup/changelog/hoist-tracking-rebase
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/hoist-tracking-rebase
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/hoist-tracking-rebase
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/hoist-tracking-rebase
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/hoist-tracking-rebase
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/hoist-tracking-rebase
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/hoist-tracking-rebase
  projects/plugins/starter-plugin/composer.lock
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Package] Connection, [Package] Config, [Package] Tracking, [Plugin] Jetpack, [Package] Jitm, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23820 Jetpack 10.9-a.2 init
  projects/plugins/jetpack/changelog/add-jetpack-10.9-a.2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#23818 Add/protect status class
  projects/plugins/protect/README.md
  projects/plugins/protect/changelog/add-protect-status-class
  projects/plugins/protect/composer.lock
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/class-status.php
Labels: [Status] Needs Review, [Plugin] Protect

#23816 Update quick start docs commands
  docs/quick-start.md
Labels: [Type] Bug, Docs, [Status] Ready to Merge

#23673 Payment blocks: Always make available the "One-Time" subscription recurrence
  projects/plugins/jetpack/changelog/fix-make-one-off-subscriptions-available
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/inspector-control.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Premium Content, [Plugin] Jetpack

#23825 RNA: Export `Button` and fix `Button` link variant padding and target
  projects/js-packages/components/changelog/fix-button-link-variant
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/style.module.scss
  projects/js-packages/components/index.jsx
  projects/js-packages/components/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components

#23824 Protect: Update name in the UI to "Brute force protection"
  projects/plugins/jetpack/_inc/client/at-a-glance/protect.jsx
  projects/plugins/jetpack/_inc/client/security/protect.jsx
  projects/plugins/jetpack/changelog/update-protect-name-in-ui
  projects/plugins/jetpack/modules/protect.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-authentication.php
Labels: Protect, [Status] Needs Review, Admin Page, [Status] Needs Copy Review, [Plugin] Jetpack, [Status] Editorial Input Requested

#23830 Protect: Add list of installed pĺugins to the initial state
  projects/plugins/protect/changelog/add-installed-plugins-protect-initial-state
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#23829 JS Components: fix className prop in Button component
  projects/js-packages/components/changelog/update-js-component-fix-button-classname-issue
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/stories/index.jsx
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23838 Fix bug in checkout URLs for sites in subdirs
  projects/packages/my-jetpack/_inc/utils/get-product-checkout-url.js
  projects/packages/my-jetpack/changelog/fix-checkout-url-for-subdirs
Labels: [Type] Bug, [Status] Needs Review, [Package] My Jetpack

#23836 Starter Plugin: Serve via Beta Plugin
  pnpm-lock.yaml
  projects/plugins/starter-plugin/changelog/add-starter-to-beta
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Plugin] Starter Plugin

#23839 jetpack: Move postcss.config.js into tools and update comment
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/changelog/update-move-jetpack-postcss-config
  projects/plugins/jetpack/postcss.config.js
  projects/plugins/jetpack/tools/postcss.config.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
  projects/plugins/jetpack/tools/webpack.config.js
  projects/plugins/jetpack/tools/webpack.config.widget-visibility.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#23834 Fix/recommendations e2e tests
  projects/plugins/jetpack/changelog/fix-recommendations-e2e-tests
  projects/plugins/jetpack/tests/e2e/specs/post-connection/recommendations.test.js
  tools/e2e-commons/pages/wp-admin/recommendations.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack

#23600 Add a conditional recommendation about security
  pnpm-lock.yaml
  projects/plugins/backup/changelog/add-security-recommendation
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-summary/resource.jsx
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/summary/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/add-security-recommendation
  projects/plugins/protect/changelog/add-security-recommendation
  projects/plugins/search/changelog/add-security-recommendation
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-security-recommendation
  projects/plugins/starter-plugin/changelog/add-security-recommendation
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Package] Sync, [Package] Partner, [Status] Needs Privacy Updates, [Package] Connection, [Package] Tracking, [Package] Licensing, [Plugin] Jetpack, [Package] Connection UI, [Package] Heartbeat, [Package] Jitm, RNA, [Package] Options, [Package] Identity Crisis, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [JS Package] API, [Plugin] Search, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Package] Plans, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23833 JS Components: Add ProductPrice component
  projects/js-packages/components/changelog/update-js-components-add-price-component
  projects/js-packages/components/components/product-price/index.jsx
  projects/js-packages/components/components/product-price/stories/index.jsx
  projects/js-packages/components/components/product-price/style.module.scss
  projects/js-packages/components/index.jsx
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23782 Search: fix new settings are overriden by old settings in auto config process
  projects/packages/search/changelog/fix-return-earyl-if-exclude-posts-configured
  projects/packages/search/src/instant-search/class-instant-search.php
Labels: Search, [Status] Needs Team Review, [Package] Search

#23827 Protect: Add `title` and redirect at `VulnerabilitiesList`
  projects/plugins/protect/changelog/update-protect-vulnerabilities-list-redirect
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/index.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/stories/index.jsx
Labels: [Status] Needs Review, [Plugin] Protect

#23849 Janitorial: remove mentions of defunct Google+ service.
  projects/plugins/jetpack/changelog/update-googleplus-rm
  projects/plugins/jetpack/modules/comments.php
  projects/plugins/jetpack/modules/module-info.php
  projects/plugins/jetpack/modules/sharedaddy.php
  projects/plugins/jetpack/modules/shortcodes.php
Labels: [Type] Bug, [Status] Ready to Merge, Internationalization, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#23870 composer-plugin: Set plugin-modifies-install-path flag
  projects/packages/composer-plugin/changelog/add-composer-plugin-modifies-install-path-flag
  projects/packages/composer-plugin/composer.json
  projects/plugins/backup/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-composer-plugin-modifies-install-path-flag
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Composer Plugin, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23860 Payment Blocks: Avoid creating a new product if the site has no products and the block has an invalid product ID
  projects/plugins/jetpack/changelog/fix-product-manager-no-products-create
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/invalid-product-warning.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/utils.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Block] Premium Content, [Plugin] Jetpack

#23867 cli: Avoid including ever-changing "reference" in vendor/ files
  tools/cli/commands/build.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#23862 Pay with PayPal: Save product in Customize > Widgets
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-pay-with-paypal-save-customizer-widgets
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Pay With Paypal

#23758 Boost: Add Cloud CSS showstopper error
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CloudCssMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/GenerateCSS.svelte
  projects/plugins/boost/app/assets/src/js/stores/cloud-css-status.ts
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/assets/src/js/utils/cloud-css.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS_Request.php
  projects/plugins/boost/app/features/optimizations/critical-css/Generator.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/app/rest-api/endpoints/Cloud_CSS_Status.php
  projects/plugins/boost/app/rest-api/endpoints/Update_Cloud_CSS.php
  projects/plugins/boost/changelog/add-cloud-css-error
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Cloud CSS

#23842 JS Components: Add ProductOffer component
  projects/js-packages/components/changelog/update-js-components-add-product-detail-card
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/components/product-offer/stories/index.jsx
  projects/js-packages/components/components/product-offer/style.module.scss
  projects/js-packages/components/index.jsx
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23864 jetpack: Minifiy non-sass css with webpack
  projects/plugins/jetpack/.gitignore
  projects/plugins/jetpack/changelog/update-jetpack-bundle-css-via-webpack
  projects/plugins/jetpack/gulpfile.babel.js
  projects/plugins/jetpack/modules/contact-form/css/editor-inline-editing-style.css
  projects/plugins/jetpack/modules/theme-tools/compat/twentytwenty.css
  projects/plugins/jetpack/modules/videopress/videopress-admin-rtl.min.css
  projects/plugins/jetpack/modules/widgets/gallery/css/admin-rtl.min.css
  projects/plugins/jetpack/tools/builder/admin-css.js
  projects/plugins/jetpack/tools/builder/frontend-css.js
  projects/plugins/jetpack/tools/builder/react.js
  projects/plugins/jetpack/tools/builder/transform-relative-paths.js
  projects/plugins/jetpack/tools/webpack.config.css.js
  projects/plugins/jetpack/tools/webpack.config.js
Labels: Contact Form, Extra Sidebar Widgets, VideoPress, Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#23828 Payment blocks: Extract Gutenberg context resolver to a separate component
  projects/plugins/jetpack/changelog/add-gutenberg-context-resolver
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/use-open-block-sidebar.js
  projects/plugins/jetpack/extensions/shared/get-editor-type.js
  projects/plugins/jetpack/extensions/shared/test/get-editor-type-test.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Payments

#23875 actions: Move error outside group in coverage upload'
  .github/files/process-coverage.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Actions

#23879 Protect: Fix Fatal when checking whether site site has vulnerabilities
  projects/plugins/protect/changelog/update-protect-fix-fatal-getting-vuls
  projects/plugins/protect/src/class-status.php
Labels: [Type] Bug, [Status] Needs Review, [Size] S, [Plugin] Protect

#23876 jetpack: Remove last uses of gulp
  pnpm-lock.yaml
  projects/packages/connection-ui/.gitattributes
  projects/packages/connection-ui/changelog/remove-gulp-🎉
  projects/packages/identity-crisis/.gitattributes
  projects/packages/identity-crisis/changelog/remove-gulp-🎉
  projects/packages/post-list/.gitattributes
  projects/packages/post-list/changelog/remove-gulp-🎉
  projects/packages/post-list/src/class-post-list.php
  projects/plugins/backup/.gitattributes
  projects/plugins/backup/changelog/remove-gulp-🎉
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/babel.config.js
  projects/plugins/jetpack/changelog/remove-gulp-🎉
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/gulpfile.babel.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/builder/react.js
  tools/eslint-excludelist.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Connection UI, [Package] Identity Crisis, [Plugin] Backup, [Package] Post List

#23878 Payment Blocks: Fix add new product not working on child blocks
  projects/plugins/jetpack/changelog/fix-product-manager-child-blocks-add-new
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/context.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/inspector-control.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/invalid-product-warning.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/toolbar-control.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/use-open-block-sidebar.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Block] Premium Content, [Plugin] Jetpack, [Block] Payments

#23865 Update several removed methods to be more defensive for backwards compatibility.
  projects/packages/search/changelog/update-defensive-is-onboarding
  projects/packages/search/src/class-module-control.php
  projects/plugins/jetpack/changelog/update-defensive-is-onboarding
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Plugin] Jetpack, Compatibility, [Package] Search

#23823 Add jsconfig.json to JS packages
  .gitattributes
  projects/js-packages/analytics/changelog/add-jsconfig-to-js-packages
  projects/js-packages/analytics/jsconfig.json
  projects/js-packages/analytics/package.json
  projects/js-packages/api/changelog/add-jsconfig-to-js-packages
  projects/js-packages/api/jsconfig.json
  projects/js-packages/babel-plugin-replace-textdomain/changelog/add-jsconfig-to-js-packages
  projects/js-packages/babel-plugin-replace-textdomain/jsconfig.json
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/base-styles/changelog/add-jsconfig-to-js-packages
  projects/js-packages/base-styles/jsconfig.json
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/changelog/add-jsconfig-to-js-packages
  projects/js-packages/components/jsconfig.json
  projects/js-packages/config/changelog/add-jsconfig-to-js-packages
  projects/js-packages/config/jsconfig.json
  projects/js-packages/config/package.json
  projects/js-packages/connection/changelog/add-jsconfig-to-js-packages
  projects/js-packages/connection/jsconfig.json
  projects/js-packages/eslint-changed/changelog/add-jsconfig-to-js-packages
  projects/js-packages/eslint-changed/jsconfig.json
  projects/js-packages/eslint-config-target-es/changelog/add-jsconfig-to-js-packages
  projects/js-packages/eslint-config-target-es/jsconfig.json
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/i18n-check-webpack-plugin/changelog/add-jsconfig-to-js-packages
  projects/js-packages/i18n-check-webpack-plugin/jsconfig.json
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/i18n-loader-webpack-plugin/changelog/add-jsconfig-to-js-packages
  projects/js-packages/i18n-loader-webpack-plugin/jsconfig.json
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/idc/changelog/add-jsconfig-to-js-packages
  projects/js-packages/idc/jsconfig.json
  projects/js-packages/licensing/changelog/add-jsconfig-to-js-packages
  projects/js-packages/licensing/jsconfig.json
  projects/js-packages/partner-coupon/changelog/add-jsconfig-to-js-packages
  projects/js-packages/partner-coupon/jsconfig.json
  projects/js-packages/remove-asset-webpack-plugin/changelog/add-jsconfig-to-js-packages
  projects/js-packages/remove-asset-webpack-plugin/jsconfig.json
  projects/js-packages/remove-asset-webpack-plugin/package.json
  projects/js-packages/shared-extension-utils/changelog/add-jsconfig-to-js-packages
  projects/js-packages/shared-extension-utils/jsconfig.json
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/storybook/changelog/add-jsconfig-to-js-packages
  projects/js-packages/storybook/jsconfig.json
  projects/js-packages/webpack-config/changelog/add-jsconfig-to-js-packages
  projects/js-packages/webpack-config/jsconfig.json
  projects/js-packages/webpack-config/package.json
  projects/plugins/jetpack/changelog/add-jsconfig-to-js-packages
  projects/plugins/jetpack/jsconfig.json
  tools/cli/skeletons/js-packages/jsconfig.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI, [Plugin] Jetpack, RNA, [JS Package] Connection, [JS Package] Eslint Changed, [JS Package] Components, [JS Package] API, [JS Package] Analytics, [JS Package] Base Styles, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [JS Package] Webpack Config, [JS Package] Config, [JS Package] Eslint Config Target Es, [JS Package] Remove Asset Webpack Plugin, [JS Package] Partner Coupon, [JS Package] I18n Loader Webpack Plugin, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin, [JS Package] Shared Extension Utils

#23877 RNA: fix ProductOffer button loading state issue
  projects/js-packages/components/changelog/update-js-components-fix-offer-issues
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/components/product-offer/style.module.scss
Labels: [Status] Needs Review, Touches WP.com Files, [Size] S, RNA, [JS Package] Components

#23854 Slideshow Block: Fix grid blowout when inserted inside Layout Grid Block.
  projects/plugins/jetpack/changelog/fix-slideshow-block-in-layout-grid-block-blowout
  projects/plugins/jetpack/extensions/blocks/slideshow/editor.scss
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Testing, [Block] Slideshow, [Plugin] Jetpack, Apex

#23562 Assistant: Add timed discount card
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/add-yellow-10
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/style.scss
  projects/js-packages/components/changelog/update-assistant-discount-card
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-assistant-discount-card
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-assistant-discount-card
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-assistant-discount-card
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/update-assistant-discount-card
  projects/js-packages/partner-coupon/package.json
  projects/packages/my-jetpack/changelog/update-assistant-discount-card
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-assistant-discount-card
  projects/packages/search/package.json
  projects/plugins/backup/changelog/update-assistant-discount-card
  projects/plugins/backup/package.json
  projects/plugins/boost/changelog/update-assistant-discount-card
  projects/plugins/boost/package.json
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/header-background-2x.jpg
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/header-background.jpg
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/timer/index.jsx
  projects/plugins/jetpack/_inc/client/scss/mixin_breakpoint.scss
  projects/plugins/jetpack/_inc/client/scss/mixins/_breakpoints.scss
  projects/plugins/jetpack/_inc/client/scss/mixins/_ui.scss
  projects/plugins/jetpack/changelog/update-assistant-discount-card
  projects/plugins/jetpack/changelog/update-assistant-flow
  projects/plugins/jetpack/images/recommendations/cloud-icon.svg
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/update-assistant-discount-card
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/update-assistant-discount-card
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/update-assistant-discount-card
  projects/plugins/starter-plugin/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [JS Package] Base Styles, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23808 Add/waf actions
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/add-waf-actions
  projects/packages/waf/composer.json
  projects/packages/waf/rules/rules.php
  projects/packages/waf/run.php
  projects/packages/waf/src/class-waf-cli.php
  projects/packages/waf/src/class-waf-operators.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/src/class-waf-transforms.php
  projects/packages/waf/tests/php/test-waf-operators.php
  projects/packages/waf/tests/php/test-waf-runner.php
  projects/packages/waf/tests/php/test-waf-runtime.php
  projects/packages/waf/tests/php/test-waf-standalone-bootstrap.php
  projects/packages/waf/tests/php/test-waf-transforms.php
  projects/plugins/jetpack/changelog/add-waf-actions
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, [Package] Waf

#23861 JS Components: Add Dialog component
  projects/js-packages/components/changelog/update-rna-add-dialog-component
  projects/js-packages/components/components/dialog/boost.png
  projects/js-packages/components/components/dialog/index.jsx
  projects/js-packages/components/components/dialog/stories/index.jsx
  projects/js-packages/components/components/dialog/style.module.scss
  projects/js-packages/components/index.jsx
Labels: [Status] Needs Review, Touches WP.com Files, [Size] M, RNA, [JS Package] Components

#23852 Top Posts: ensure hooks can still be used to echo data in widget.
  projects/plugins/jetpack/changelog/fix-top-posts-display-posts
  projects/plugins/jetpack/modules/widgets/top-posts.php
Labels: [Type] Bug, Stats, Extra Sidebar Widgets, [Status] Needs Review, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#23869 PHPCS: JSON Endpoints 1 of ?
  projects/plugins/jetpack/changelog/phpcs-json-endpoints-2
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-check-capabilities-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-core-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-core-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-cron-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-comment-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-database-object-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-option-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-post-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-term-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-get-user-backup-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-jps-woocommerce-connect-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-log-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-maybe-auto-update-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-modules-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-modules-get-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-modules-list-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-modules-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-delete-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-endpoint.php
  tools/phpcs-excludelist.json
Labels: WPCOM API, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#23723 Customizer messages: adjust messaging for new plan
  projects/plugins/jetpack/changelog/sync-claudiuthefilip-r242679-wpcom
  projects/plugins/jetpack/modules/masterbar/nudges/additional-css/class-wpcom-additional-css-manager.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Type] Dotcom Merge, [Status] Tested on WP.com, Touches WP.com Files, [Pri] Normal, Masterbar, nav-unification, [Plugin] Jetpack

#23797 VideoPress: Enable the resumable uploader
  projects/plugins/jetpack/changelog/update-videopress-enable-resumable-uploader
  projects/plugins/jetpack/modules/videopress/class.videopress-gutenberg.php
  projects/plugins/jetpack/modules/videopress/js/videopress-add-resumable-upload-support.js
Labels: VideoPress, [Status] Needs Review, Touches WP.com Files, [Status] Needs Testing, [Plugin] Jetpack

#23898 js-tools: Replace deprecated tweetsodium dep
  pnpm-lock.yaml
  tools/js-tools/mass-update-gh-secret.js
  tools/js-tools/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal

#23902 Custom CSS: Improved saving
  projects/plugins/jetpack/changelog/update-custom-css
  projects/plugins/jetpack/modules/custom-css/custom-css.php
Labels: Custom CSS, [Status] Ready to Merge, [Type] Dotcom Merge, Touches WP.com Files, [Plugin] Jetpack

#23894 Boost: Fix CSS proxy
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/app/features/optimizations/critical-css/CSS_Proxy.php
  projects/plugins/boost/app/features/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/features/optimizations/critical-css/Generator.php
  projects/plugins/boost/app/lib/class-transient.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/changelog/fix-css-proxy
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Boost

#23883 jetpack: Rework popover dismissal to remove obsolete indirect dep
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/client/components/popover/index.jsx
  projects/plugins/jetpack/changelog/remove-old-core-js-dep
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#23906 Init 10.9-a.4
  projects/plugins/jetpack/changelog/update-monorepo-10.9-a.3
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#23759 Starter Plugin: Configure Sync to only sync minimum required data
  projects/plugins/starter-plugin/changelog/update-starter-plugin-sync
  projects/plugins/starter-plugin/src/class-jetpack-starter-plugin.php
Labels: [Status] Ready to Merge, [Plugin] Starter Plugin

#23757 Protect: Configure Sync to minimal required data
  projects/plugins/protect/changelog/update-protect-minimal-sync
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#23887 Protect: Add checks to the Site Health page
  projects/plugins/protect/changelog/add-protect-site-health-check
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/class-site-health.php
  projects/plugins/protect/src/class-status.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#23767 Social: Add publicize package to social plugin
  projects/packages/publicize/changelog/update-add-publicize-pkg-to-social
  projects/packages/publicize/composer.json
  projects/packages/publicize/src/class-keyring-helper.php
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize-ui.php
  projects/packages/publicize/src/class-publicize.php
  projects/plugins/social/changelog/update-add-publicize-pkg-to-social
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
Labels: Publicize, [Status] In Progress, [Package] Publicize, [Plugin] Social

#23868 My Jetpack: Turn search into a hybrid product
  projects/packages/my-jetpack/changelog/update-search-in-my-jetpack
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-hybrid-product.php
  projects/packages/my-jetpack/src/products/class-search.php
Labels: [Status] Ready to Merge, [Package] My Jetpack

#23874 My Jetpack: Add ConnectedProductOffer component
  projects/packages/my-jetpack/_inc/components/connected-product-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/utils.js
  projects/packages/my-jetpack/_inc/components/product-cards-section/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/stories/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-connected-product-offer
Labels: [Type] Enhancement, [Status] Needs Review, [Size] M, RNA, [JS Package] Components, [Package] My Jetpack

#23911 Starter Plugin: minor cleanup for CLI generation
  projects/plugins/starter-plugin/changelog/update-starter-plugin-cleanup
  projects/plugins/starter-plugin/composer.json
  tools/cli/commands/generate.js
  tools/cli/helpers/projectNameTransformations.js
Labels: [Status] Ready to Merge, Jetpack CLI, [Type] Janitorial, [Tools] Development CLI, [Plugin] Starter Plugin

#23905 My Jetpack: Better error handling
  projects/packages/my-jetpack/_inc/state/resolvers.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-error-handling
  projects/packages/my-jetpack/src/class-rest-purchases.php
  projects/packages/my-jetpack/src/products/class-backup.php
  projects/packages/my-jetpack/src/products/class-scan.php
  projects/packages/my-jetpack/src/products/class-search.php
Labels: [Status] Ready to Merge, [Package] My Jetpack

#23358 Connection JS package: new action to refresh the list of connected Plugins - apply it to My Jetpack
  projects/js-packages/connection/changelog/add-get-connected-plugins-resolver
  projects/js-packages/connection/components/connected-plugins/index.jsx
  projects/js-packages/connection/components/connection-status-card/index.jsx
  projects/js-packages/connection/components/disconnect-dialog/index.jsx
  projects/js-packages/connection/components/disconnect-dialog/steps/step-disconnect.jsx
  projects/js-packages/connection/components/use-connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/actions.jsx
  projects/js-packages/connection/state/reducers.jsx
  projects/js-packages/connection/state/selectors.jsx
  projects/js-packages/connection/state/store.jsx
  projects/js-packages/partner-coupon/changelog/add-get-connected-plugins-resolver
  projects/js-packages/partner-coupon/package.json
  projects/packages/connection-ui/changelog/add-get-connected-plugins-resolver
  projects/packages/connection-ui/package.json
  projects/packages/connection/changelog/add-get-connected-plugins-resolver
  projects/packages/connection/src/class-initial-state.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/my-jetpack/_inc/components/connections-section/index.jsx
  projects/packages/my-jetpack/_inc/hooks/use-analytics/index.js
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/changelog/add-get-connected-plugins-resolver
  projects/packages/my-jetpack/changelog/add-get-connected-plugins-resolver#2
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-get-connected-plugins-resolver
  projects/plugins/jetpack/changelog/add-get-connected-plugins-resolver
  projects/plugins/social/changelog/add-get-connected-plugins-resolver
  projects/plugins/starter-plugin/changelog/add-get-connected-plugins-resolver
Labels: [Status] Needs Review, [Package] Connection, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin

#23907 renovate: Fix errors post-upgrade scripts
  .github/files/renovate-post-upgrade-run.sh
  .github/files/renovate-post-upgrade.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#23809 Search: Add a function to estimate record counts pre-connection
  projects/packages/search/changelog/add-search-count-estimate
  projects/packages/search/src/class-stats.php
Labels: Search, [Status] Needs Team Review, [Package] Search

#23903 Search: Add search product tier pricing
  pnpm-lock.yaml
  projects/js-packages/api/changelog/add-search-product-pricing-api
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/js-packages/connection/changelog/add-search-product-pricing-api
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-search-product-pricing-api
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/add-search-product-pricing-api
  projects/js-packages/licensing/package.json
  projects/packages/connection-ui/changelog/add-search-product-pricing-api
  projects/packages/connection-ui/package.json
  projects/packages/search/changelog/add-search-product-pricing-api
  projects/packages/search/changelog/add-search-product-pricing-api#2
  projects/packages/search/package.json
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/src/dashboard/class-initial-state.php
  projects/packages/search/src/dashboard/components/dashboard/index.jsx
  projects/packages/search/src/dashboard/components/dashboard/wrapped-dashboard.jsx
  projects/packages/search/src/dashboard/store/actions/index.js
  projects/packages/search/src/dashboard/store/actions/search-pricing.js
  projects/packages/search/src/dashboard/store/controls.js
  projects/packages/search/src/dashboard/store/reducer/index.js
  projects/packages/search/src/dashboard/store/reducer/search-pricing.js
  projects/packages/search/src/dashboard/store/resolvers.js
  projects/packages/search/src/dashboard/store/selectors/index.js
  projects/packages/search/src/dashboard/store/selectors/search-pricing.js
  projects/packages/search/src/dashboard/store/selectors/site-data.js
  projects/plugins/backup/changelog/add-search-product-pricing-api
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/add-search-product-pricing-api
  projects/plugins/jetpack/package.json
Labels: Touches WP.com Files, Search, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] API, [JS Package] IDC, [JS Package] Licensing, [Package] Search

#23783 Boost: Fix score auto-refresh for cloud CSS
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/features/speed-score/Speed_Score.php
  projects/plugins/boost/app/features/speed-score/Speed_Score_History.php
  projects/plugins/boost/changelog/fix-score-autorefresh
Labels: [Status] Needs Team Review, [Plugin] Boost

#23901 [WordAds]: Replace "Jetpack Ads" with WordAds
  projects/plugins/jetpack/_inc/client/traffic/ads.jsx
  projects/plugins/jetpack/changelog/fix-change-jetpack-ads-to-wordads
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/form.php
  projects/plugins/jetpack/modules/wordads/class-wordads.php
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, Admin Page, WordAds, [Plugin] Jetpack, Ad

#23885 PHPCS: JSON Endpoints 2 of ?
  projects/plugins/jetpack/changelog/phpcs-json-endpoint-3
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-get-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-install-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-list-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-new-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-active-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-delete-endpoint.php
  tools/phpcs-excludelist.json
Labels: WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#23931 Revert "My Jetpack: Add ConnectedProductOffer component"
  projects/packages/my-jetpack/_inc/components/connected-product-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/utils.js
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/stories/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-connected-product-offer
Labels: [Status] Needs Review, [Package] My Jetpack

#23933 My Jetpack: Reintroduce ConnectedProductOffer (Revamp of 23874)
  projects/packages/my-jetpack/_inc/components/connected-product-offer/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/utils.js
  projects/packages/my-jetpack/changelog/add-connected-product-offer-component-my-jetpack
Labels: [Status] Needs Review, [Package] My Jetpack

#23921 RNA: Improve `Button` loading layout
  projects/js-packages/components/changelog/update-js-components-button-loading-state
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/stories/index.jsx
  projects/js-packages/components/components/button/style.module.scss
  projects/js-packages/components/package.json
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] M, RNA, [JS Package] Connection, [JS Package] Components

#23701 Add recommendation for anti-spam
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/add-anti-spam-recommendation
Labels: [Status] Needs Review, Admin Page, [Status] Needs Privacy Updates, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23687 Licensing: Move licensing endpoints to package
  projects/packages/licensing/changelog/update-move-licensing-endpoints-to-package
  projects/packages/licensing/composer.json
  projects/packages/licensing/src/class-endpoints.php
  projects/packages/licensing/src/class-licensing.php
  projects/packages/licensing/tests/php/class-test-licensing-endpoints.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-move-licensing-endpoints-to-package
  projects/plugins/jetpack/changelog/update-move-licensing-endpoints-to-package#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: [Status] Needs Review, [Package] Licensing, [Plugin] Jetpack, RNA

#23937 CLI: Enforce monorepo composer version
  tools/check-development-environment.sh
  tools/cli/bin/jetpack.js
  tools/cli/helpers/checkEnvironment.js
Labels: [Status] Needs Review, [Tools] Development CLI

#23943 Revert "CLI: Enforce monorepo composer version"
  tools/check-development-environment.sh
  tools/cli/bin/jetpack.js
  tools/cli/helpers/checkEnvironment.js
Labels: [Status] Needs Author Reply, [Tools] Development CLI

#23522 Add TypeScript support
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-ts-support
  projects/js-packages/components/jsconfig.json
  projects/js-packages/components/package.json
  projects/js-packages/storybook/changelog/add-ts-support
  projects/js-packages/storybook/storybook/main.js
  projects/js-packages/storybook/storybook/webpack.config.js
  projects/plugins/jetpack/changelog/add-ts-suppport
  projects/plugins/jetpack/extensions/.eslintrc.js
  projects/plugins/jetpack/jsconfig.json
  projects/plugins/jetpack/package.json
  tools/js-test-runner/mocha.js
  tools/js-test-runner/package.json
  tools/js-tools/eslintrc/base.js
  tools/js-tools/eslintrc/react.js
  tools/js-tools/tsconfig.base.json
Labels: [Status] Needs Review, Touches WP.com Files, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Components, [JS Package] Storybook, [Tools] Monorepo Setup

#23815 Boost: Add premium upgrade flow
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PremiumCTA.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Support.svelte
  projects/plugins/boost/app/assets/src/js/utils/paid-plan.ts
  projects/plugins/boost/app/assets/src/js/utils/upgrade.ts
  projects/plugins/boost/app/contracts/Boost_API_Client.php
  projects/plugins/boost/app/features/optimizations/Optimizations.php
  projects/plugins/boost/app/lib/Boost_API.php
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/app/lib/WPCOM_Boost_API_Client.php
  projects/plugins/boost/app/rest-api/endpoints/Optimization_Status.php
  projects/plugins/boost/changelog/add-premium-upgrade-flow
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#23925 [WordAds]: Fix double requesting ads.txt
  projects/plugins/jetpack/changelog/fix-double-ads-txt-request
  projects/plugins/jetpack/modules/wordads/class-wordads.php
Labels: [Status] Ready to Merge, WordAds, [Plugin] Jetpack, Ad

#23945 Comments: Prevent nonce verification when post-types don't support Jetpack comment forms.
  projects/plugins/jetpack/changelog/fix-comment-form-nonce
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Type] Bug, Comments, [Status] Needs Review, [Plugin] Jetpack

#23947 Init 10.9-a.6 cycle
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-comment-form-nonce
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#23888 PHPCS: JSON Endpoints 3 of ?
  projects/plugins/jetpack/changelog/phpcs-json-endpoints-4
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-get-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-install-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-list-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-new-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-translations-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-translations-modify-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-updates-status-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-user-connect-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-user-create-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.wpcom-json-api-get-option-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.wpcom-json-api-update-option-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/json-api-jetpack-endpoints.php
  tools/phpcs-excludelist.json
Labels: WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#23784 E2E tests: fix dedicated sync
  projects/plugins/jetpack/changelog/fix-e2e-dedicated-sync
  projects/plugins/jetpack/tests/e2e/specs/post-connection/sync.test.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#23951 Add intalledThemes to the initial state
  projects/plugins/protect/changelog/add-themes-to-protect-initial-state
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Needs Review, [Plugin] Protect

#23529 PHPCS: Theme Tools
  projects/plugins/jetpack/changelog/phpcs-theme-tools
  projects/plugins/jetpack/modules/theme-tools.php
  projects/plugins/jetpack/modules/theme-tools/compat/twentyfifteen.php
  projects/plugins/jetpack/modules/theme-tools/compat/twentyfourteen.php
  projects/plugins/jetpack/modules/theme-tools/compat/twentynineteen.php
  projects/plugins/jetpack/modules/theme-tools/compat/twentyseventeen.php
  projects/plugins/jetpack/modules/theme-tools/compat/twentysixteen.php
  projects/plugins/jetpack/modules/theme-tools/content-options.php
  projects/plugins/jetpack/modules/theme-tools/content-options/author-bio.php
  projects/plugins/jetpack/modules/theme-tools/content-options/blog-display.php
  projects/plugins/jetpack/modules/theme-tools/content-options/customizer.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images-fallback.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images.php
  projects/plugins/jetpack/modules/theme-tools/content-options/post-details.php
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
  projects/plugins/jetpack/modules/theme-tools/infinite-scroll.php
  projects/plugins/jetpack/modules/theme-tools/random-redirect.php
  projects/plugins/jetpack/modules/theme-tools/responsive-videos.php
  projects/plugins/jetpack/modules/theme-tools/site-logo.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/class-site-logo.php
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/functions.php
  projects/plugins/jetpack/modules/theme-tools/social-links.php
  projects/plugins/jetpack/modules/theme-tools/social-menu.php
  tools/phpcs-excludelist.json
Labels: Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#23915 Add/waf fetch rules
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/add-waf-fetch-rules
  projects/packages/waf/composer.json
  projects/packages/waf/src/class-waf-cli.php
  projects/packages/waf/src/class-waf-runner.php
  projects/plugins/jetpack/changelog/add-waf-fetch-rules
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, [Package] Waf

#23932 codesniffer: Prepare for adding missing WordPress rules
  .phpcs.xml.dist
  composer.json
  composer.lock
  projects/packages/codesniffer/Jetpack/ruleset.xml
  projects/packages/codesniffer/changelog/add-codesniffer-missing-wp-rules
  projects/packages/codesniffer/composer.json
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Package] Codesniffer

#23912 Required Reviews: Allow plugin-touching teams to approve other plugin composer changes
  .github/files/required-review.yaml
Labels: [Status] Needs Review, [Type] Janitorial, Actions

#23927 Added Autoloader debugger enhancements for better debugging.
  projects/plugins/debug-helper/changelog/add-autoloader-debugger-enhancements
  projects/plugins/debug-helper/modules/class-autoloader-debug-helper.php
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Debug Helper

#23897 Move enhanced open graph from modules/publicize to modules/
  projects/plugins/jetpack/changelog/update-remove-enhanced-open-graph-from-publicize
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/enhanced-open-graph.php
  projects/plugins/jetpack/modules/publicize/publicize-jetpack.php
Labels: Publicize, [Status] Needs Review, [Plugin] Jetpack

#23962 Fix build for plugins/boost when using TypeScript inside js-packages
  projects/js-packages/components/changelog/convert-number-format-to-ts
  projects/js-packages/components/components/number-format/index.ts
  projects/plugins/boost/.gitattributes
  projects/plugins/boost/changelog/fix-build-for-external-ts
  projects/plugins/boost/rollup-tsconfig.json
  projects/plugins/boost/rollup.config.js
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components, [Plugin] Boost, [Tools] Monorepo Setup

#23957 Do not hard disconnect Jetpack on deactivation
  projects/js-packages/connection/changelog/update-jetpack-deactivation
  projects/js-packages/connection/components/disconnect-dialog/steps/step-disconnect.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-benefits/index.jsx
  projects/plugins/jetpack/_inc/client/portals/plugin-deactivation.jsx
  projects/plugins/jetpack/changelog/update-jetpack-deactivation
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Connection

#23963 Fix React warning
  projects/js-packages/connection/changelog/fix-jetpack-react-warning
  projects/js-packages/connection/components/disconnect-dialog/index.jsx
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection

#23964 VideoPress: Fixing an issue adding video descriptions in WordPress.com
  projects/plugins/jetpack/changelog/fix-videopress-metadata
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-media-v1-1-endpoint.php
Labels: [Type] Bug, VideoPress, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, Touches WP.com Files, [Pri] BLOCKER, [Plugin] Jetpack

#23948 add get_themes to sync defaults
  projects/packages/sync/changelog/add-get-themes-to-sync-defaults
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-get-themes-to-sync-defaults
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack

#23960 My Jetpack: Adds a skeleton for adding the licensing UI to My Jetpack
  projects/packages/my-jetpack/README.md
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/add-license-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/add-license-screen/styles.module.scss
  projects/packages/my-jetpack/changelog/add-licensing-skeleton-to-my-jetpack
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-licensing-skeleton-to-my-jetpack
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#23844 PHPCS: Custom CSS Part 2
  projects/plugins/jetpack/changelog/phpcs-custom-css-2
  projects/plugins/jetpack/modules/custom-css/custom-css.php
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors/lessc.inc.php
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors/scss.inc.php
  projects/plugins/jetpack/modules/custom-css/migrate-to-core.php
  tools/phpcs-excludelist.json
Labels: Custom CSS, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#23969 add get themes to synced callables in Protect
  projects/plugins/protect/changelog/add-get-themes-to-protect
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Needs Review, [Plugin] Protect

#23968 Licensing: Move image asset to package
  projects/js-packages/licensing/changelog/update-licensing-activation-no-asset-url
  projects/js-packages/licensing/components/activation-screen/index.jsx
  projects/js-packages/licensing/components/jetpack-license-activation-with-lock.png
  projects/js-packages/licensing/components/jetpack-license-activation-with-success.png
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/update-licensing-activation-no-asset-url
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Licensing

#23858 Search: record meter updates to formatting
  projects/packages/search/changelog/update-search-record-meter-formatting
  projects/packages/search/src/dashboard/components/record-meter/bar-chart.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/search/src/dashboard/components/record-meter/style.scss
  projects/packages/search/src/dashboard/components/record-meter/test/record-count.test.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#23896 Security Settings: Convert to feature checks
  projects/plugins/jetpack/_inc/client/security/index.jsx
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/_inc/client/state/site/test/reducer.js
  projects/plugins/jetpack/changelog/update-security-plan-check
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#23977 RNA: Add buttonText property to the ProductOffer component
  projects/js-packages/components/changelog/update-components-add-button-text-property-to-product-offer-cmp
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/components/product-offer/stories/index.jsx
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#23978 Update Social Preview Pro Plan Copy
  projects/plugins/jetpack/changelog/update-social-preview-pro-plan-copy
  projects/plugins/jetpack/extensions/blocks/social-previews/panel.js
  projects/plugins/jetpack/extensions/blocks/social-previews/upgrade.js
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, Touches WP.com Files, [Block] Social Previews, [Plugin] Jetpack

#23966 CLI: Enforce monorepo composer version
  tools/check-development-environment.sh
  tools/cli/bin/jetpack.js
  tools/cli/helpers/checkEnvironment.js
Labels: [Status] Needs Review, [Tools] Development CLI

#23980 Protect: add ProductOffer component
  projects/js-packages/components/changelog/update-protect-add-product-offer-card
  projects/plugins/protect/changelog/update-protect-add-product-offer-card
  projects/plugins/protect/src/js/components/product-offer/index.jsx
  projects/plugins/protect/src/js/components/product-offer/stories/index.jsx
Labels: [Status] In Progress, Touches WP.com Files, RNA, [JS Package] Components, [Plugin] Protect

#23926 jetpack: Fix random redirect module on author archives
  projects/plugins/jetpack/changelog/fix-random-redirect-module
  projects/plugins/jetpack/modules/theme-tools/random-redirect.php
Labels: [Type] Bug, Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#23973 Allow secondary users to connect from My Jetpack
  projects/js-packages/connection/changelog/add-allow-secondary-user-conn-my-jetpack
  projects/js-packages/connection/components/connection-status-card/index.jsx
  projects/js-packages/connection/components/connection-status-card/test/component.jsx
Labels: [Status] Needs Review, RNA, [JS Package] Connection

#23928 Assets: Fix defer for async scripts
  projects/packages/assets/changelog/fix-assets-defer-with-translations
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/tests/php/test-assets.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] Assets

#23982 Stats: Add ability to filter JS and AMP stats footer data
  projects/plugins/jetpack/changelog/add-filter-stats-footer-data
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Plugin] Jetpack

#23794 Search: revamp record meter notice box
  projects/packages/search/changelog/add-search-dismissable-notice-boxes
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/style.scss
Labels: Search, [Status] Needs Team Review, [Package] Search

#23918 WAF: Introduce logging when a request is blocked
  projects/packages/waf/changelog/add-waf-logs
  projects/packages/waf/src/class-waf-constants.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/tests/php/test-waf-runner.php
  projects/packages/waf/tests/php/test-waf-runtime.php
  projects/packages/waf/tests/php/test-waf-standalone-bootstrap.php
Labels: [Status] Needs Team Review, [Package] Waf
