Repository Automattic/jetpack, pull requests merged in 2022-07, with the labels that each got.

#24918 VideoPress: Include private videos URL in VideoPress block (v6) GUID parser
  projects/plugins/jetpack/changelog/update-url-guid-from-url-videopress-block-v6
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24876 Search: Record meter display post type label instead of slug
  projects/packages/search/changelog/add-search-record-meter-get-post-type-labels
  projects/packages/search/src/dashboard/class-initial-state.php
  projects/packages/search/src/dashboard/components/pages/dashboard-page.jsx
  projects/packages/search/src/dashboard/components/record-meter/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/store/selectors/site-data.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#24922 Search Record Meter: Remove all dismissable logic and styling from notice boxes
  projects/packages/search/changelog/update-search-record-meter-remove-dismissable-notice-boxes
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/notice-box.scss
Labels: Search, [Status] Needs Team Review, [Package] Search

#24854 Boost: Sync Critical CSS state
  projects/plugins/boost/app/contracts/Has_Slug.php
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/features/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/features/optimizations/lazy-images/class-lazy-images.php
  projects/plugins/boost/app/features/optimizations/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/app/lib/Status.php
  projects/plugins/boost/changelog/add-sync-ccss-state
Labels: [Status] Needs Team Review, [Plugin] Boost

#24902 Jetpack: handle VPBlock caption attribute
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-implement-caption
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/style.scss
Labels: [Type] Enhancement, [Status] In Progress, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress

#24915 jetpack: Remove use of enzyme
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/test/component.js
  projects/plugins/jetpack/_inc/client/at-a-glance/test/component.js
  projects/plugins/jetpack/_inc/client/at-a-glance/test/fixtures.js
  projects/plugins/jetpack/_inc/client/components/connect-button/test/component.js
  projects/plugins/jetpack/_inc/client/components/connection-banner/test/component.js
  projects/plugins/jetpack/_inc/client/components/contextualized-connection/test/component.js
  projects/plugins/jetpack/_inc/client/components/dash-item/test/component.js
  projects/plugins/jetpack/_inc/client/components/dash-item/test/fixtures.js
  projects/plugins/jetpack/_inc/client/components/dash-section-header/test/component.js
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/test/component.js
  projects/plugins/jetpack/_inc/client/components/masthead/test/component.js
  projects/plugins/jetpack/_inc/client/components/navigation-settings/test/component.js
  projects/plugins/jetpack/_inc/client/components/navigation/test/component.js
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/test/component.js
  projects/plugins/jetpack/_inc/client/components/reconnect-modal/test/component.js
  projects/plugins/jetpack/_inc/client/components/select-dropdown/item.jsx
  projects/plugins/jetpack/_inc/client/components/settings-card/test/component.js
  projects/plugins/jetpack/_inc/client/components/settings-group/test/component.js
  projects/plugins/jetpack/_inc/client/components/support-info/test/component.js
  projects/plugins/jetpack/_inc/client/components/tracker/test/component.js
  projects/plugins/jetpack/_inc/client/discussion/test/component.js
  projects/plugins/jetpack/_inc/client/test/main.js
  projects/plugins/jetpack/changelog/remove-jetpack-use-of-enzyme
  projects/plugins/jetpack/changelog/remove-jetpack-use-of-enzyme#2
  projects/plugins/jetpack/changelog/remove-jetpack-use-of-enzyme#3
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/jest-enzyme-init.js
  projects/plugins/jetpack/tests/jest-globals.gui.js
  projects/plugins/jetpack/tests/jest.config.gui.js
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24934 E2E tests: disable dedicated sync e2e test
  projects/plugins/jetpack/changelog/e2e-disable-dedicated-sync-test
  projects/plugins/jetpack/tests/e2e/specs/sync/sync.test.js
  tools/e2e-commons/.eslintrc.cjs
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#24935 AutomatticBylineLogo | JetpackLogo: Changing `title` tag to `desc`
  projects/js-packages/components/changelog/fix-inline-logo-description
  projects/js-packages/components/components/automattic-byline-logo/index.jsx
  projects/js-packages/components/components/jetpack-logo/index.tsx
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24920 VideoPress: Introduce `VideoPressUploader` component
  projects/plugins/jetpack/changelog/add-videopress-uploader-component
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24936 Jetpack: fix bug wen getting the video preview of the VPBlock
  projects/plugins/jetpack/changelog/update-jetpack-wpblock-fix-refresh-video-preview-issue
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#24887 Stats: Allow custom user role stats settings to be recognized
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/changelog/fix-stats-custom-roles
  tools/eslint-excludelist.json
Labels: Stats, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24939 Jetpack: tweak VideoPress block layout markup and styles
  projects/plugins/jetpack/changelog/update-jetpack-wpblock-improve-markup-and-sizes
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
Labels: [Type] Bug, [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress

#24933 Move `extensionsToTreatAsEsm` to shared jest config
  projects/js-packages/analytics/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/analytics/jest.config.cjs
  projects/js-packages/api/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/api/jest.config.cjs
  projects/js-packages/components/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/components/jest.config.cjs
  projects/js-packages/connection/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/connection/jest.config.cjs
  projects/js-packages/licensing/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/licensing/jest.config.cjs
  projects/js-packages/partner-coupon/changelog/update-move-extensionsToTreatAsEsm-to-shared-jest-config
  projects/js-packages/partner-coupon/jest.config.cjs
  tools/js-tools/jest/config.base.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] API, [JS Package] Analytics, [JS Package] Licensing, [JS Package] Partner Coupon

#24919 Make AAG Backup card more clear about realtime backups.
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/changelog/update-backup-aag-card
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24949 E2E tests: Attempt to fix flaky Sync Dedicated flow test
  projects/plugins/jetpack/changelog/fix-e2e-sync-flaky-test
  projects/plugins/jetpack/tests/e2e/specs/sync/sync.test.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#24938 Related Posts: avoid PHP warnings when visiting AMP post views.
  projects/plugins/jetpack/changelog/fix-related-posts-amp-warning
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, Related Posts, [Status] Ready to Merge, Touches WP.com Files, AMP, [Plugin] Jetpack

#24813 Protect: fix visual height issue of the Interstitial page
  projects/plugins/protect/changelog/update-protect-interstitial-layout-issue
  projects/plugins/protect/src/js/components/interstitial/index.jsx
  projects/plugins/protect/src/js/components/interstitial/styles.module.scss
Labels: [Status] Needs Author Reply, [Size] S, [Plugin] Protect

#24951 VIdeoPress v6: Fix setting the id attribute after upload
  projects/plugins/jetpack/changelog/fix-set-id-attribute
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/hooks/use-uploader.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24950 cli: Detect if run from another checkout
  tools/cli/bin/jetpack.js
  tools/cli/commands/cli.js
  tools/cli/helpers/checkEnvironment.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Tools] Development CLI

#24954 Search: Fix header letter spacing
  projects/packages/search/changelog/fix-header-letter-spacing
  projects/packages/search/src/instant-search/components/overlay.scss
  projects/packages/search/src/instant-search/lib/styles/_mixins.scss
Labels: [Type] Bug, [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#24962 Jetpack: backport 11.1 changelog updates
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-antispam-stats-redirect
  projects/plugins/jetpack/changelog/fix-zero-value-option
  projects/plugins/jetpack/changelog/jetpack-branch-11.1
  projects/plugins/jetpack/changelog/update-jp-11.1-changelog-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24901 Fix calculated price for Jetpack Search in product description
  projects/plugins/jetpack/_inc/client/components/data/query-site-products/index.jsx
  projects/plugins/jetpack/_inc/client/product-descriptions/index.jsx
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/index.jsx
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/fix-search-price-on-wp-product-page
Labels: [Status] Ready to Merge, Admin Page, Search, [Plugin] Jetpack

#24941 Publicize: Sync changes made to wpcom's admin-plugins/publicize.php file.
  projects/plugins/jetpack/changelog/update-sync-publicize-wpcom
  projects/plugins/jetpack/modules/publicize.php
Labels: Publicize, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24943 Publicize: Copy over minor PHPCS fix to the publicize package
  projects/packages/publicize/changelog/update-sync-publicize-package
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/update-sync-publicize-package
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/update-sync-publicize-package
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#24968 Stats: Prevent Traffic page from not loading by checking if stats are enabled
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/changelog/fix-custom-roles-admin-issue
Labels: [Type] Bug, Stats, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24972 Init Jetpack 11.2-a.2 cycle
  projects/plugins/jetpack/changelog/update-monorepo-11.2-a.2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24973 Jetpack: 11.2-a.1 changelog editorial
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-clean-jetpack-11.2-a.1-readme
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24979 Janitorial: release GH actions
  projects/github-actions/pr-is-up-to-date/CHANGELOG.md
  projects/github-actions/pr-is-up-to-date/changelog/add-pr-is-up-to-date-disable-automatic-gc
  projects/github-actions/pr-is-up-to-date/changelog/fix-pr-is-up-to-date-doc
  projects/github-actions/pr-is-up-to-date/changelog/fix-pr-is-up-to-date-stray-comma
  projects/github-actions/pr-is-up-to-date/changelog/fix-pr-up-to-date-workflow-timeout
  projects/github-actions/pr-is-up-to-date/changelog/update-changelogger-add-pr-num
  projects/github-actions/pr-is-up-to-date/changelog/update-monorepo-master-refs-primary
  projects/github-actions/pr-is-up-to-date/changelog/update-monorepo-master-refs-secondary
  projects/github-actions/pr-is-up-to-date/changelog/update-pr-is-up-to-date-multiple-tags
  projects/github-actions/pr-is-up-to-date/changelog/update-pr-is-up-to-date-multiple-tags#2
  projects/github-actions/pr-is-up-to-date/changelog/update-try-to-fix-run-sh
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/add-eslint-import-order
  projects/github-actions/repo-gardening/changelog/add-renovate-self-hosted
  projects/github-actions/repo-gardening/changelog/fix-clarify-expected-changeset-id
  projects/github-actions/repo-gardening/changelog/fix-gardening-cache-milestones
  projects/github-actions/repo-gardening/changelog/fix-repo-gardening-changelog-check
  projects/github-actions/repo-gardening/changelog/fix-repo-gardening-milestone-error
  projects/github-actions/repo-gardening/changelog/remove-claim-of-support-for-node-14
  projects/github-actions/repo-gardening/changelog/remove-wpcalypso-import-docblock-comments
  projects/github-actions/repo-gardening/changelog/renovate-github-api-packages
  projects/github-actions/repo-gardening/changelog/renovate-npm-moment-vulnerability
  projects/github-actions/repo-gardening/changelog/update-actions-to-node16
  projects/github-actions/repo-gardening/changelog/update-changelogger-add-pr-num
  projects/github-actions/repo-gardening/changelog/update-gardening-fusion-comment
  projects/github-actions/repo-gardening/changelog/update-monorepo-master-refs-primary
  projects/github-actions/repo-gardening/changelog/update-monorepo-master-refs-secondary
  projects/github-actions/repo-gardening/changelog/update-pnpm-version
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-severity
  projects/github-actions/repo-gardening/changelog/update-to-pnpm-7
  projects/github-actions/repo-gardening/changelog/update-triage-priority
  projects/github-actions/repo-gardening/changelog/update-triage-priority-matrix
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/required-review/CHANGELOG.md
  projects/github-actions/required-review/changelog/add-eslint-import-order
  projects/github-actions/required-review/changelog/fix-required-review-rereview
  projects/github-actions/required-review/changelog/remove-claim-of-support-for-node-14
  projects/github-actions/required-review/changelog/renovate-github-api-packages
  projects/github-actions/required-review/changelog/update-actions-to-node16
  projects/github-actions/required-review/changelog/update-changelogger-add-pr-num
  projects/github-actions/required-review/changelog/update-pnpm-version
  projects/github-actions/required-review/changelog/update-required-review-needs-token
  projects/github-actions/required-review/changelog/update-to-pnpm-7
  projects/github-actions/required-review/package.json
Labels: [Status] Needs Review, [Type] Janitorial, Actions, [Action] Required Review, [Action] Repo Gardening, [Action] Pr Is Up To Date

#24975 Jetpack: replace local Loading by Spinner in VideoPress block v6
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-remove-loading-dep
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#24974 Jetpack: create and update icons component of the VideoPress block
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-videopress-icon-dep
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/icons/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#24952 Videopress package scaffold
  projects/packages/videopress/.gitattributes
  projects/packages/videopress/.gitignore
  projects/packages/videopress/.phpcs.dir.xml
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/README.md
  projects/packages/videopress/changelog/.gitkeep
  projects/packages/videopress/changelog/videopress-package-scaffold
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/phpunit.xml.dist
  projects/packages/videopress/src/example.php
  projects/packages/videopress/tests/php/bootstrap.php
Labels: [Status] Ready to Merge, [Package] Videopress

#24983 VaultPress: janitorial release for v2.2.2
  projects/plugins/vaultpress/CHANGELOG.md
  projects/plugins/vaultpress/changelog/2022-03-09-12-05-39-624624
  projects/plugins/vaultpress/changelog/2022-04-12-14-16-55-169323
  projects/plugins/vaultpress/changelog/add-analytics-super-props
  projects/plugins/vaultpress/changelog/add-jetpack-10.7-a-5-changelog
  projects/plugins/vaultpress/changelog/add-search-auto-config-to-activation
  projects/plugins/vaultpress/changelog/fix-composer-dep-or
  projects/plugins/vaultpress/changelog/fix-search-auto-add-search-input
  projects/plugins/vaultpress/changelog/hoist-jetpack-terms-of-service
  projects/plugins/vaultpress/changelog/hoist-jetpack-terms-of-service#2
  projects/plugins/vaultpress/changelog/remove-upgrade-handler
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#2
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#3
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#4
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#5
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#6
  projects/plugins/vaultpress/changelog/start-vaultpress-222-cycle
  projects/plugins/vaultpress/changelog/update-changelogger-add-pr-num
  projects/plugins/vaultpress/changelog/update-composer-2.3
  projects/plugins/vaultpress/changelog/update-disconnect-dialog-initial-state
  projects/plugins/vaultpress/changelog/update-monorepo-master-refs-primary
  projects/plugins/vaultpress/changelog/update-monorepo-master-refs-secondary
  projects/plugins/vaultpress/changelog/update-use-connection-redirect-uri
  projects/plugins/vaultpress/changelog/update-use-package-publicize
  projects/plugins/vaultpress/changelog/update-vaultpress-excluded-file
  projects/plugins/vaultpress/changelog/update-wp-compat-60
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] VaultPress

#24967 Record Meter: don't use last_indexed_date to decide if a site is indexed or not
  projects/packages/search/changelog/fix-record-meter-last-indexed-resilience
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/components/record-meter/lib/test/record-info.test.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#24953 VideoPress: Implement upload progress bar
  projects/plugins/jetpack/changelog/add-videopress-upload-progress
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24977 jetpack-live-branches: Improve behavior when switching tabs in GH
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Debug Tools

#24989 Lazy Images: do not attempt to lazy load in embeds
  projects/packages/lazy-images/changelog/fix-lazy-images-embeds
  projects/packages/lazy-images/src/lazy-images.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Lazy Images, [Package] Lazy Images, [Plugin] Jetpack, [Plugin] Boost, [Boost Feature] Lazy Images

#24993 Waf_Endpoints: Fix "Uncaught Error: Class 'Automattic\Jetpack\Waf\WP_Error' not found"
  projects/packages/waf/changelog/vip-fix_waf_namespacing_wp_error
  projects/packages/waf/src/class-waf-endpoints.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] WAF

#24761 Protect: Normalize status report data on the server side
  projects/plugins/protect/changelog/update-protect-data-handling
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/src/class-status.php
  projects/plugins/protect/src/js/components/navigation/badge.jsx
  projects/plugins/protect/src/js/components/navigation/item.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/navigation.jsx
  projects/plugins/protect/src/js/hooks/use-protect-data/index.js
  projects/plugins/protect/tests/php/test-status.php
Labels: [Type] Enhancement, [Status] In Progress, [Plugin] Protect

#24996 Protect: Prepare changelog for 1.0.1
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-tests-fix-jsx-runtime
  projects/js-packages/components/package.json
  projects/plugins/protect/CHANGELOG.md
  projects/plugins/protect/changelog/add-eslint-import-order
  projects/plugins/protect/changelog/add-post_content_sync
  projects/plugins/protect/changelog/add-protect-faq-updates
  projects/plugins/protect/changelog/add-protect-helper-module
  projects/plugins/protect/changelog/add-protect-post-1.0.0
  projects/plugins/protect/changelog/enhancement-protect-remove-superfluous-linebreaks
  projects/plugins/protect/changelog/fix-config-package-prefer-stable
  projects/plugins/protect/changelog/fix-protect-recomendation-fixed-in-null
  projects/plugins/protect/changelog/fix-protect-ui-footer-plan-check
  projects/plugins/protect/changelog/fix-use-plain-remote-request-for-pricing
  projects/plugins/protect/changelog/fix-user-connect-second-attempt-redirect
  projects/plugins/protect/changelog/remove-claim-of-support-for-node-14
  projects/plugins/protect/changelog/remove-wpcalypso-import-docblock-comments
  projects/plugins/protect/changelog/renovate-babel-monorepo
  projects/plugins/protect/changelog/renovate-babel-monorepo#2
  projects/plugins/protect/changelog/renovate-lock-file-maintenance
  projects/plugins/protect/changelog/renovate-wordpress-monorepo
  projects/plugins/protect/changelog/renovate-wordpress-monorepo#2
  projects/plugins/protect/changelog/update-monorepo-master-refs-primary
  projects/plugins/protect/changelog/update-monorepo-master-refs-secondary
  projects/plugins/protect/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/protect/changelog/update-product-offer-error-placeholder
  projects/plugins/protect/changelog/update-protect-data-handling
  projects/plugins/protect/changelog/update-protect-interstitial-layout-issue
  projects/plugins/protect/changelog/update-protect-record-event-just-after-plugin-added
  projects/plugins/protect/changelog/update-sync-must-sync-data-settings
  projects/plugins/protect/changelog/update-to-pnpm-7
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, RNA, [JS Package] Components, [Plugin] Protect

#24822 Search: hide 'Media' from 'Excluded Post Types'
  projects/packages/search/changelog/fix-hide-media-from-excluded-list
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/customizer/customize-controls/class-excluded-post-types-control.php
Labels: Search, [Status] Needs Team Review, [Package] Search

#24824 Search: Fix irrelevant widgets in overlay sidebar on auto config
  projects/packages/search/changelog/fix-unrelevant-widgets-in-overlay-sidebar
  projects/packages/search/compatibility/search-0.15.2.php
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/initializers/class-initializer.php
  projects/packages/search/src/instant-search/class-instant-search.php
  projects/packages/search/src/widgets/class-search-widget.php
  projects/packages/search/tests/php/test-instant-search-auto-config-jp-search-widget.php
  projects/packages/search/tests/php/test-instant-search.php
Labels: [Type] Bug, Search, [Status] Needs Team Review, [Package] Search

#24999 Protect: Create new release cycle for 1.0.2
  projects/plugins/protect/changelog/protect-1.0.2-alpha-cycle
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Protect

#24963 VideoPress: Improve layout for upload error message
  projects/plugins/jetpack/changelog/add-improve-upload-error-handling
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24955 Make Backup plugin more clear about realtime backups.
  projects/packages/backup/changelog/update-backup-standalone-update-copy
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/components/Admin.js
  projects/packages/backup/src/js/components/Backups.js
  projects/packages/backup/src/js/components/admin-style.scss
  projects/packages/backup/src/js/components/backups-style.scss
Labels: [Status] Ready to Merge, [Package] Backup, [Plugin] Backup

#24931 JS Components: Convert ProductPrice component to TypeScript
  projects/js-packages/components/changelog/update-rna-product-price-to-ts
  projects/js-packages/components/components/product-price/index.jsx
  projects/js-packages/components/components/product-price/index.tsx
  projects/js-packages/components/components/product-price/price.tsx
  projects/js-packages/components/components/product-price/stories/index.tsx
  projects/js-packages/components/components/product-price/types.ts
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24978 Package generator: Search and replace package name
  tools/cli/commands/generate.js
  tools/cli/skeletons/packages/src/example.php
Labels: [Status] Ready to Merge, [Tools] Development CLI

#25045 add videopress package as dependency
  projects/plugins/jetpack/changelog/add-videopress-dependency
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack

#25043 js/analytics: Avoid breaking if `_superProps` hasn't been set
  projects/js-packages/analytics/changelog/fix-object-assign-call
  projects/js-packages/analytics/index.jsx
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] High, [Status] Needs Cherry-Pick, RNA, [JS Package] Analytics

#25046 Add hooks for podcast feed fetches
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/changelog/add-hooks-for-podcast-feed-fetches
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Low, [Block] Podcast Player, [Plugin] Jetpack

#25040 Form block: fix preserving new line in form submission
  projects/plugins/jetpack/changelog/fix-contact-form-new-line
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Pri] High, [Plugin] Jetpack, [Block] Contact Form

#25044 Rename hasActiveSiteFeature -> siteHasFeature
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/search.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/videopress.jsx
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/performance/media.jsx
  projects/plugins/jetpack/_inc/client/performance/search.jsx
  projects/plugins/jetpack/_inc/client/pro-status/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/one-click-restores/index.jsx
  projects/plugins/jetpack/_inc/client/security/backups-scan.jsx
  projects/plugins/jetpack/_inc/client/security/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/_inc/client/state/site/test/reducer.js
  projects/plugins/jetpack/changelog/rename-hasActiveSiteFeature
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25051 Fix pretest scripts not running for e2e tests
  projects/plugins/boost/changelog/e2e-fix-pre-scripts
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/jetpack/changelog/e2e-fix-pre-scripts
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/search/changelog/e2e-fix-pre-scripts
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/starter-plugin/changelog/e2e-fix-pre-scripts
  projects/plugins/starter-plugin/tests/e2e/package.json
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search, [Plugin] Starter Plugin

#25053 Protect: Fix PHP warning from unset status $item->checked
  projects/plugins/protect/changelog/fix-protect-undefined-checked
  projects/plugins/protect/src/class-status.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#25058 Jetpack: improve VideoPress Block placeholders
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-polish-placeholder-block-state
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#24823 Search: hide unsupported taxonomies from widget
  projects/packages/search/changelog/fix-hide-unsupported-taxonomies-from-widget-filters
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/widgets/class-search-widget.php
  projects/plugins/jetpack/changelog/fix-hide-unsupported-taxonomies-from-widget-filters
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/fix-hide-unsupported-taxonomies-from-widget-filters
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: [Status] Needs Review, Search, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#25003 Search: Update number formatting across Record Meter
  projects/packages/search/changelog/update-record-meter-number-formatting
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#25039 Stats: Changed dashboard widget form input name to allow settings to save
  projects/plugins/jetpack/changelog/fix-stats-widget-save
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Plugin] Jetpack

#25052 jetpack (block editor): Only add `x-wp-api-fetch-from-editor` on non-CORS reqs
  projects/plugins/jetpack/changelog/fix-add-editor-header-only-on-non-cors
  projects/plugins/jetpack/extensions/editor.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#25063 Subscriptions: format the number of subscribers in block controls
  projects/plugins/jetpack/changelog/fix-subscriptions-number-format-controls
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
Labels: [Type] Bug, Subscriptions, [Status] Ready to Merge, Internationalization, Touches WP.com Files, [Pri] Low, [Block] Subscriptions, [Plugin] Jetpack

#25072 Init Jetpack 11.2-a.4 cycle
  projects/plugins/jetpack/changelog/update-monorepo-11.2-a.4
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24917 VideoPress: Add poster control
  projects/plugins/jetpack/changelog/add-videopress-poster-control
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/poster-image-block-control/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/poster-image-block-control/style.module.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
Labels: [Status] Needs Review, [Status] Needs Design Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress, [Status] Design Input Requested

#25064 Jetpack: iterate over VPBlock UI errors
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-show-error-message-following-core-designs
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#25060 Search: re-enable auto-collapsing sidebar in Customberg
  projects/packages/search/changelog/revert-search-auto-collapse-sidebar-customberg
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/customberg/index.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#25071 VideoPress: add mirror repo information to package.
  projects/packages/videopress/changelog/update-videopress-info
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/plugins/jetpack/changelog/update-videopress-info
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack, [Package] Videopress

#25080 E2E tests: remove the Search package build step for Jetpack plugin tests
  projects/plugins/jetpack/changelog/e2e-dont-build-search
  projects/plugins/jetpack/tests/e2e/package.json
Labels: [Status] Ready to Merge, Search, E2E Tests, [Plugin] Jetpack

#25081 RNA Gridicon: Change `title` to `desc`
  projects/js-packages/components/changelog/fix-grid-icon-description
  projects/js-packages/components/components/gridicon/index.jsx
  projects/js-packages/components/package.json
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components

#24980 Added default module activation for pre-existing settings.
  projects/plugins/jetpack/changelog/add-default-module-activation
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#24997 Videopress: Migrate xmlrpc methods to package
  projects/packages/videopress/changelog/update-videopress-migrate-xmlrpc
  projects/packages/videopress/src/class-xmlrpc.php
  projects/packages/videopress/src/example.php
  projects/plugins/jetpack/changelog/update-videopress-migrate-xmlrpc
  projects/plugins/jetpack/modules/videopress.php
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-xmlrpc.php
Labels: VideoPress, [Status] Needs Review, [Plugin] Jetpack, [Package] Videopress

#25047 Move videopress options
  projects/packages/videopress/changelog/update-migrate-videopress-options
  projects/packages/videopress/changelog/update-migrate-videopress-options#2
  projects/packages/videopress/composer.json
  projects/packages/videopress/src/class-options.php
  projects/plugins/jetpack/changelog/update-migrate-videopress-options
  projects/plugins/jetpack/changelog/update-migrate-videopress-options#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/videopress.php
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-ajax.php
  projects/plugins/jetpack/modules/videopress/class.videopress-options.php
Labels: VideoPress, [Status] Needs Review, [Plugin] Jetpack, [Package] Videopress

#25075 actions: Do not include `.github` in plugin artifacts
  .github/workflows/build.yml
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#25054 Repo Gardening: add new platform triaging label automation
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-platform
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-platform#2
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/readme.md
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Low, Actions, [Action] Repo Gardening

#25076 VideoPress block: Enable select video from Media
  projects/plugins/jetpack/changelog/update-videopress-allow-select-video
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#25059 VideoPress: Improve videopress invalid mime error
  projects/plugins/jetpack/changelog/update-better-error-message
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#25088 Jetpack: replace the fallback thumbnail with a Loading element
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-remove-thumbnail-fallback
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#25070 Minor: Allow extra argument to '/sites/%s/themes/mine' endpoint
  projects/plugins/jetpack/changelog/allow-post-arg-theme-mine
  projects/plugins/jetpack/json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#25089 Fix Jetpack Protect admin toolbar icon display
  projects/plugins/protect/changelog/fix-protect-admin-toolbar-icon-display
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#25069 Jetpack: handle VPBlock notices via withNotices HOC
  projects/plugins/jetpack/changelog/update-jetpack-wpblock-use-with-notice-HOC
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#25095 Jetpack: VPBlock. Clean obsolete cacheThumbnail attribute
  projects/plugins/jetpack/changelog/update-jetapack-wpblock-janitorial
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#24932 Form block: Fix Checkbox Group Option color in Editor
  projects/plugins/jetpack/changelog/fix-form-block-checkbox-group-color
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Contact Form

#24992 Update comments in `.pnpmfile.cjs`
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal

#25096 Jetpack: handle VPBlock loading state listening the VideoPress API events
  projects/plugins/jetpack/changelog/update-my-jetpack-vpblock-improve-getting-video-player-ux
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/scripts/vp-block-bridge/Readme.md
  projects/plugins/jetpack/extensions/blocks/videopress/v6/scripts/vp-block-bridge/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] Contact Form, [Block] VideoPress

#25091 Add option 'fail' to required-review action
  projects/github-actions/required-review/README.md
  projects/github-actions/required-review/action.yml
  projects/github-actions/required-review/changelog/add-fail-option
  projects/github-actions/required-review/src/main.js
Labels: [Status] Needs Author Reply, Actions, OSS Citizen, [Action] Required Review

#25067 Status: Decouple `is_woa_site` from `at_options`
  projects/packages/status/changelog/remove-is-woa-site-at-options-check
  projects/packages/status/src/class-host.php
  projects/packages/status/tests/php/test-host.php
  projects/plugins/jetpack/changelog/remove-is-woa-site-at-options-check
  projects/plugins/jetpack/functions.global.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Package] Status, [Plugin] Jetpack

#25084 Custom Post Types: Changing Nova methods to be public
  projects/plugins/jetpack/changelog/fix-nova-cpt-classes
  projects/plugins/jetpack/modules/custom-post-types/nova.php
Labels: Custom Content Types, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack, Custom Post Types (CPT)

#25074 Nav Unification: Store the correct preferred view when it is selected.
  projects/plugins/jetpack/changelog/fix-prefered-view-selection
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#25118 E2E tests: remove page.waitForTimeout()
  tools/e2e-commons/helpers/plan-helper.js
  tools/e2e-commons/helpers/utils-helper.cjs
Labels: [Status] Ready to Merge, E2E Tests

#25103 Repo gardening: add clarification about automated comment
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-support-references-wording
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Low, Actions, [Action] Repo Gardening

#25121 E2E tests: fix isElementVisible not waiting until timeout
  tools/e2e-commons/pages/page-actions.js
Labels: [Status] Ready to Merge, E2E Tests

#24836 Social: Load share counter on the server side.
  projects/packages/publicize/changelog/update-share-count-init
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/update-share-count-init
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/update-share-count-init
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/header/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#24909 Inline BlockVariationPicker in PaymentsIntro
  projects/plugins/jetpack/changelog/rewrite-block-variations
  projects/plugins/jetpack/extensions/blocks/payments-intro/block-picker.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/editor.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/editor.scss
  projects/plugins/jetpack/extensions/blocks/payments-intro/index.js
Labels: [Status] Ready to Merge, Touches WP.com Files, Earn, [Plugin] Jetpack, [Block] Payments, [Block] Payments Intro

#25090 Update/initialize videopress oembed
  projects/packages/videopress/changelog/update-initialize-videopress-oembed
  projects/packages/videopress/src/class-initializer.php
  projects/plugins/jetpack/changelog/update-initialize-videopress-oembed
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/shortcode.php
Labels: VideoPress, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Videopress

#24930 Admin UI: Adding h1 page headings for screen reader navigation
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/_inc/client/components/admin-notices/style.scss
  projects/plugins/jetpack/_inc/client/discussion/index.jsx
  projects/plugins/jetpack/_inc/client/my-plan/index.jsx
  projects/plugins/jetpack/_inc/client/performance/index.jsx
  projects/plugins/jetpack/_inc/client/privacy/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/security/index.jsx
  projects/plugins/jetpack/_inc/client/sharing/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/client/writing/index.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-about-page.php
  projects/plugins/jetpack/changelog/update-dashboard-headings
  projects/plugins/jetpack/class.jetpack-modules-list-table.php
  projects/plugins/jetpack/modules/stats.php
Labels: Accessibility, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25124 E2E tests: don't throw if isElementVisible matches more elements
  tools/e2e-commons/pages/page-actions.js
Labels: [Status] Needs Review, E2E Tests

#25115 Repo Gardening: move utilities into their own directory
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-utils-dir
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
  projects/github-actions/repo-gardening/src/tasks/add-milestone/index.js
  projects/github-actions/repo-gardening/src/tasks/assign-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
  projects/github-actions/repo-gardening/src/tasks/clean-labels/index.js
  projects/github-actions/repo-gardening/src/tasks/flag-oss/index.js
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-design/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-editorial/index.js
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/wpcom-commit-reminder/index.js
  projects/github-actions/repo-gardening/src/utils/debug.js
  projects/github-actions/repo-gardening/src/utils/get-affected-changelogger-projects.js
  projects/github-actions/repo-gardening/src/utils/get-associated-pull-request.js
  projects/github-actions/repo-gardening/src/utils/get-comments.js
  projects/github-actions/repo-gardening/src/utils/get-files.js
  projects/github-actions/repo-gardening/src/utils/get-labels.js
  projects/github-actions/repo-gardening/src/utils/get-next-valid-milestone.js
  projects/github-actions/repo-gardening/src/utils/get-plugin-names.js
  projects/github-actions/repo-gardening/src/utils/get-pr-workspace.js
  projects/github-actions/repo-gardening/src/utils/if-not-closed.js
  projects/github-actions/repo-gardening/src/utils/if-not-fork.js
  projects/github-actions/repo-gardening/src/utils/send-slack-message.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, Actions, [Action] Repo Gardening

#25114 Fix support for allowed HTML tags in Subscribe block submit button
  projects/plugins/jetpack/changelog/fix-html-tags-in-subscribe-button
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: Subscriptions, [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#25116 Add last_updated blog details field to the site details responses
  projects/plugins/jetpack/changelog/add-last-update-date-to-wpcom-sites-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25106 Allow PHP 7 to `composer install` inside of `plugins/jetpack` again
  projects/plugins/jetpack/changelog/fix-allow-php-7
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Jetpack

#25107 Slideshow Block: Add a bit of CSS to support align wide and align full
  projects/plugins/jetpack/changelog/fix-slideshow-block-align-full
  projects/plugins/jetpack/extensions/blocks/slideshow/editor.scss
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Block] Slideshow, [Plugin] Jetpack, Build Maintenance

#25130 Repo gardening: automatically add in progress label if the PR is created as draft
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/changelog/update-gardening-add-in-progress-for-draft-pr
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#25132 tools: Add mirror repo check to changelogger-release.sh
  tools/changelogger-release.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#25057 Social: Implement StatCards component
  projects/plugins/social/changelog/change-jetpack-social-add-stat-cards-component
  projects/plugins/social/src/js/components/header/illustration.svg
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/header/styles.module.scss
  projects/plugins/social/src/js/components/stat-cards/index.js
  projects/plugins/social/src/js/components/stat-cards/styles.module.scss
Labels: [Status] Needs Team Review, [Plugin] Social

#25141 removes default value from dont_change_homepage argument
  projects/plugins/jetpack/changelog/change-default-arg-theme-mine
  projects/plugins/jetpack/json-endpoints/jetpack/json-api-jetpack-endpoints.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#25142 Plans: Sync mirror repo information with package.
  projects/packages/plans/changelog/update-jetpack-plans-composer-details
  projects/packages/plans/composer.json
  projects/packages/plans/package.json
  projects/plugins/jetpack/changelog/update-jetpack-plans-composer-details
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack, [Package] Plans

#25094 Search: Add Search Dashboard support for WPCOM simple sites
  projects/packages/search/changelog/add-search-dashboard-supports-wpcom-simple
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-module-control.php
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/src/dashboard/class-dashboard.php
  projects/packages/search/src/dashboard/class-initial-state.php
  projects/packages/search/src/dashboard/hooks/use-connection.jsx
  projects/packages/search/src/dashboard/store/selectors/site-data.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#25097 Replace `softprops/turnstyle` with a local rewrite
  .github/actions/turnstile/README.md
  .github/actions/turnstile/action.yml
  .github/workflows/build.yml
  .github/workflows/gardening.yml
  .github/workflows/pr-is-up-to-date.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#25151 build: Fix Actions path to turnstile
  .github/workflows/build.yml
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] BLOCKER, Actions

#25146 My Jetpack: Change button used in ProductCard component
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/changelog/update-my-jetpack-product-card-button
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Package] My Jetpack

#25148 Jetpack: VPBlock: emit events to window where bridge runs
  projects/plugins/jetpack/changelog/update-my-jetpack-vpblock-minor-bridge-iteration
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/scripts/vp-block-bridge/Readme.md
  projects/plugins/jetpack/extensions/blocks/videopress/v6/scripts/vp-block-bridge/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#25156 Jetpack Social: Update the tagline in the admin page header
  projects/plugins/social/changelog/update-social-tagline
  projects/plugins/social/src/js/components/header/index.js
Labels: [Status] Needs Team Review, [Plugin] Social

#25152 Fixing a typo in actions/turnstile/README.md
  .github/actions/turnstile/README.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, Actions

#25129 VideoPress: avoid PHP notices when metadata is missing.
  projects/plugins/jetpack/changelog/fix-videopress-notices
  projects/plugins/jetpack/modules/videopress/class.videopress-edit-attachment.php
  projects/plugins/jetpack/modules/videopress/class.videopress-player.php
Labels: [Type] Bug, Shortcodes / Embeds, VideoPress, [Status] Needs Review, [Pri] Low, [Status] Needs Team Review, [Plugin] Jetpack, [Block] VideoPress

#25127 Comments: avoid PHP notice when Jetpack's connection is broken.
  projects/packages/connection/changelog/fix-comments-notice
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-tokens.php
  projects/plugins/jetpack/changelog/fix-comments-notice
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Type] Bug, Comments, [Status] Ready to Merge, [Pri] Normal, [Package] Connection, [Plugin] Jetpack

#25167 Bug report template: automatically add Needs triage label
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#25098 Protect: Fix PHP notices by adding report data property checks
  projects/plugins/protect/changelog/fix-protect-report-data-property-checks
  projects/plugins/protect/src/class-status.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#24906 JS Components: Convert PricingCard component to TypeScript
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-rna-pricing-carg-to-ts
  projects/js-packages/components/components/jetpack-logo/stories/index.tsx
  projects/js-packages/components/components/pricing-card/index.tsx
  projects/js-packages/components/components/pricing-card/stories/index.tsx
  projects/js-packages/components/components/pricing-card/test/component.tsx
  projects/js-packages/components/components/pricing-card/types.ts
  projects/js-packages/components/components/product-price/stories/index.tsx
  projects/js-packages/components/components/split-button/stories/index.tsx
  projects/js-packages/components/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components

#25147 Jetpack Social: Add share meter
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/components/components/theme-provider/index.jsx
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/publicize-components/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/publicize-components/package.json
  projects/js-packages/storybook/changelog/add-jetpack-social-add-share-meter
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/add-jetpack-social-add-share-meter
  projects/packages/backup/package.json
  projects/packages/my-jetpack/changelog/add-jetpack-social-add-share-meter
  projects/packages/my-jetpack/package.json
  projects/packages/publicize/changelog/add-jetpack-social-add-share-meter
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/search/changelog/add-jetpack-social-add-share-meter
  projects/packages/search/package.json
  projects/packages/wordads/changelog/add-jetpack-social-add-share-meter
  projects/packages/wordads/package.json
  projects/plugins/boost/changelog/add-jetpack-social-add-share-meter
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/add-jetpack-social-add-share-meter
  projects/plugins/jetpack/changelog/add-jetpack-social-add-share-meter#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/add-jetpack-social-add-share-meter
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/add-jetpack-social-add-share-meter
  projects/plugins/social/changelog/add-jetpack-social-add-share-meter#2
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/package.json
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/header/styles.module.scss
  projects/plugins/social/src/js/components/share-counter/index.js
  projects/plugins/social/src/js/components/share-counter/styles.module.scss
  projects/plugins/social/src/js/components/toggle-section/index.js
  projects/plugins/social/src/js/store/actions/index.js
  projects/plugins/social/src/js/store/actions/shares-count.js
  projects/plugins/social/src/js/store/controls.js
  projects/plugins/social/src/js/store/reducer/index.js
  projects/plugins/social/src/js/store/reducer/shares-count.js
  projects/plugins/social/src/js/store/resolvers.js
  projects/plugins/social/src/js/store/selectors/index.js
  projects/plugins/social/src/js/store/selectors/shares-count.js
  projects/plugins/social/src/js/store/selectors/shares-data.js
  projects/plugins/starter-plugin/changelog/add-jetpack-social-add-share-meter
  projects/plugins/starter-plugin/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [Package] Publicize, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [JS Package] Publicize Components

#25049 Publicize: Remove Publicize from Jetpack modules
  projects/plugins/jetpack/changelog/update-remove-publicize-jp-module
  projects/plugins/jetpack/modules/publicize/publicize-jetpack.php
  projects/plugins/jetpack/modules/publicize/publicize.php
  projects/plugins/jetpack/modules/publicize/ui.php
Labels: Publicize, [Status] Ready to Merge, [Plugin] Jetpack

#25263 [Package]Backup: Add ThemeProvider wrapper to Admin component
  projects/packages/backup/changelog/add-themeProvider-for-adminPage
  projects/packages/backup/src/js/index.js
Labels: [Status] Needs Review, [Package] Backup, [Plugin] Backup

#25140 Jetpack Sync: Add Sync lock related info in Sync debug details
  projects/packages/backup/changelog/update-sync-debug-info
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/update-sync-debug-info
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/update-sync-debug-info
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-sync-debug-info
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-actions.php
  projects/plugins/protect/changelog/update-sync-debug-info
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-debug-info
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-debug-info
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-debug-info
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#25135 Connection: fix redirect to user connection after Jetpack site registration action
  projects/plugins/jetpack/changelog/fix-woo-jetpack-redirect
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Bug, [Status] Ready to Merge, [Status] Needs Testing, Connect Flow, [Plugin] Jetpack

#25264 E2E tests: cancel partner plan when resetting WordPress install
  projects/plugins/jetpack/changelog/e2e-cancel-partner-plan
  projects/plugins/jetpack/tests/e2e/specs/connection/connection.test.js
  tools/e2e-commons/helpers/utils-helper.cjs
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack

#24896 Fix sharing buttons in blog posts block
  projects/plugins/jetpack/changelog/fix-sharing-buttons-in-blog-posts-block
  projects/plugins/jetpack/modules/likes.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: Sharing, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25169 Admin menu: display the translations for the plan name
  projects/plugins/jetpack/changelog/fix-admin-menu-plan-translation
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, [Type] Dotcom Merge, Internationalization, [Status] Tested on WP.com, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#23384 VideoPress: Cleanup old player references
  projects/plugins/jetpack/3rd-party/class.jetpack-amp-support.php
  projects/plugins/jetpack/changelog/update-videopress-cleanup-old-player
Labels: VideoPress, WPCOM API, [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, Compatibility

#25149 Search: remove masterbar search menu to Calypso search admin page
  projects/plugins/jetpack/changelog/update-replace-masterbar-search-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, Search, [Status] Blocked / Hold, [Plugin] Jetpack

#25163 Instant Search: Fix keyboard handling on search options.
  projects/packages/search/changelog/fix-search-sort-options-keyboard-handling
  projects/packages/search/src/instant-search/components/search-sort.jsx
  projects/packages/search/src/instant-search/components/search-sort.scss
Labels: [Status] Needs Team Review, [Package] Search

#25260 Search: Consistent design for focus states in Search overlay
  projects/packages/search/changelog/update-search-overlay-focus-borders
  projects/packages/search/src/instant-search/components/search-box.scss
  projects/packages/search/src/instant-search/components/search-results.scss
Labels: [Status] Ready to Merge, Search, [Package] Search

#25085 Admin menu: Add add-ons menu item
  projects/plugins/jetpack/changelog/update-masterbar-menu-add-ons-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#25154 Jetpack: add a transform from/to core/video to VPBlock
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-add-transformation-to-core-video-block
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#25166 Jetpack Social: Add posts box
  projects/plugins/social/changelog/add-jetpack-social-add-posts-box
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/store/selectors/shares-data.js
Labels: [Status] Ready to Merge, [Plugin] Social

#25155 [RNMobile] Block Inserter: Limit Jetpack block collection to the WordPress app
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/rnmobile-limit-block-collection-to-wordpress-app
  projects/js-packages/publicize-components/package.json
  projects/js-packages/shared-extension-utils/changelog/rnmobile-limit-block-collection-to-wordpress-app
  projects/js-packages/shared-extension-utils/index.native.js
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/get-host-app-namespace.native.js
  projects/plugins/jetpack/changelog/rnmobile-limit-block-collection-to-wordpress-app
  projects/plugins/jetpack/changelog/rnmobile-limit-block-collection-to-wordpress-app#2
  projects/plugins/jetpack/extensions/shared/block-category.native.js
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Blocks, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [JS Package] Publicize Components

#25161 [Package] Jetpack Backup: add review request component
  projects/packages/backup/changelog/add-component-review-request
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/backup/src/js/components/Admin.js
  projects/packages/backup/src/js/components/review-request/README.md
  projects/packages/backup/src/js/components/review-request/index.tsx
  projects/packages/backup/src/js/components/review-request/stories/index.tsx
  projects/packages/backup/src/js/components/review-request/style.module.scss
  projects/packages/backup/src/js/components/review-request/types.ts
  projects/packages/connection/changelog/add-component-review-request
  projects/packages/connection/legacy/class-jetpack-options.php
Labels: [Status] Needs Review, [Status] Needs Design Review, [Package] Connection, RNA, [Package] Backup, [Plugin] Backup

#25143 Fix/dedicated sync enable callables for dedicated sync requests
  projects/packages/sync/changelog/fix-dedicated-sync-enable-callables-for-dedicated-sync-requests
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/modules/class-callables.php
Labels: [Type] Bug, [Status] In Progress, [Package] Sync, [Status] Needs Unit Tests

#25274 Jetpack: init 11.3 cycle
  projects/plugins/jetpack/changelog/update-jetpack-init-11.3
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25170 Repo Gardening: create a new "Reply to customers Reminder" task
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/action.yml
  projects/github-actions/repo-gardening/changelog/add-issue-bulk-reply
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/reply-to-customers-reminder/index.js
  projects/github-actions/repo-gardening/src/tasks/reply-to-customers-reminder/readme.md
  projects/github-actions/repo-gardening/src/utils/send-slack-message.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#25204 My Jetpack: Add button to ProductCard with absent plugin
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.test.jsx
  projects/packages/my-jetpack/_inc/components/product-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-product-button
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Status] Needs Design Review, [Size] S, [Status] Design Input Requested, [Package] My Jetpack

#25276 Jetpack 11.2 beta changelog and readme editorial
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-jp-11.2-changelog-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25112 renovate: Use configured version of PHP when running composer
  .github/renovate-config.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#25277 SEO Tools: avoid conflicts with SEOPress and SEOKEY
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/changelog/update-seo-conflicting-plugins
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/seo-tools.php
Labels: [Status] Ready to Merge, Admin Page, [Type] Janitorial, SEO Tools, [Pri] Low, [Plugin] Jetpack

#25262 Subscriptions Block: Fix subscriber count incorrect position when padding is enabled.
  projects/plugins/jetpack/changelog/fix-subscriber-count-padding
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: [Type] Bug, Subscriptions, [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#25061 Search: Record Meter, remove feature flag for record meter
  projects/packages/search/changelog/update-search-record-meter-remove-feature-flag
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/pages/dashboard-page.jsx
  projects/plugins/jetpack/changelog/update-search-record-meter-remove-feature-flag
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-search-record-meter-remove-feature-flag
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: Search, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#25285 Jetpack Social 1.2.0-beta Release: Changelog for jetpack-social-1.2.0-beta
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-product-button
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/options/CHANGELOG.md
  projects/packages/options/changelog/renovate-major-symfony
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/add-jetpack-social-add-posts-box
  projects/plugins/social/changelog/add-jetpack-social-add-share-meter
  projects/plugins/social/changelog/add-jetpack-social-add-share-meter#2
  projects/plugins/social/changelog/change-jetpack-social-add-stat-cards-component
  projects/plugins/social/changelog/renovate-babel-monorepo
  projects/plugins/social/changelog/renovate-lock-file-maintenance#2
  projects/plugins/social/changelog/renovate-major-symfony
  projects/plugins/social/changelog/renovate-wordpress-monorepo
  projects/plugins/social/changelog/update-my-jetpack-add-scroll-to-top
  projects/plugins/social/changelog/update-pnpm-7.5.0
  projects/plugins/social/changelog/update-share-count-init
  projects/plugins/social/changelog/update-social-cycle-1.2.0
  projects/plugins/social/changelog/update-social-tagline
  projects/plugins/social/changelog/update-sync-debug-info
  projects/plugins/social/changelog/update-sync-publicize-package
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
Labels: [Status] Needs Review, [Package] Options, [Package] My Jetpack, [Plugin] Social

#25289 Jetpack social: Start a new release cycle for jetpack-social-1.3.0 alpha
  projects/plugins/social/changelog/add-release-cycle-social-1.3.0-alpha
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Social

#25286 Jetpack Social: Updated the readme file for the jetpacksocial-1.2.0 beta release.
  projects/plugins/social/changelog/add-readme-jetpack-social-1.2.0-beta
  projects/plugins/social/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Social

#25290 Protect: prepare changelog for 1.0.2 release
  projects/plugins/protect/CHANGELOG.md
  projects/plugins/protect/changelog/add-jetpack-social-add-share-meter
  projects/plugins/protect/changelog/fix-protect-admin-toolbar-icon-display
  projects/plugins/protect/changelog/fix-protect-report-data-property-checks
  projects/plugins/protect/changelog/fix-protect-undefined-checked
  projects/plugins/protect/changelog/protect-1.0.2-alpha-cycle
  projects/plugins/protect/changelog/renovate-lock-file-maintenance
  projects/plugins/protect/changelog/renovate-lock-file-maintenance#2
  projects/plugins/protect/changelog/renovate-major-symfony
  projects/plugins/protect/changelog/update-my-jetpack-add-scroll-to-top
  projects/plugins/protect/changelog/update-pnpm-7.5.0
  projects/plugins/protect/changelog/update-sync-debug-info
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Protect

#25292 Protect plugin: bump version to start 1.0.2 release cycle
  projects/plugins/protect/changelog/update-start-protect-103-cycle
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] BLOCKER, [Plugin] Protect

#25287 Jetpack 11.2: Porting testing post instruction changes back to trunk
  projects/plugins/jetpack/changelog/update-to-test-11.2
  projects/plugins/jetpack/to-test.md
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#24944 JS Components: Convert AutomatticBylineLogo component to TypeScript
  projects/js-packages/components/changelog/update-rna-automattic-byline-logo-to-ts
  projects/js-packages/components/components/automattic-byline-logo/index.tsx
  projects/js-packages/components/components/automattic-byline-logo/stories/index.jsx
  projects/js-packages/components/components/automattic-byline-logo/stories/index.tsx
  projects/js-packages/components/components/automattic-byline-logo/test/component.jsx
  projects/js-packages/components/components/automattic-byline-logo/test/component.tsx
  projects/js-packages/components/components/automattic-byline-logo/types.ts
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#25079 JS Components: Convert DecorativeCard component to TypeScript
  projects/js-packages/components/changelog/update-rna-decorative-card-to-ts
  projects/js-packages/components/components/decorative-card/index.jsx
  projects/js-packages/components/components/decorative-card/index.tsx
  projects/js-packages/components/components/decorative-card/stories/index.tsx
  projects/js-packages/components/components/decorative-card/types.ts
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Task, RNA, [JS Package] Components

#25278 Contact Form Block: Use a less strict comparison for Atomic compat
  projects/plugins/jetpack/changelog/fix-contact-form-block-atomic-compat
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Contact Form, Build Maintenance
