Repository Automattic/jetpack, pull requests merged in 2022-08, with the labels that each got.

#25340 Search: Redirect to the Search Dashboard on activation only when Jetpack plugin does not exist
  projects/plugins/search/changelog/fix-search-admin-error-on-activation-with-jetpack-plugin
  projects/plugins/search/src/class-jetpack-search-plugin.php
Labels: Search, [Status] Needs Team Review, [Plugin] Search

#25341 [Boost] Fix script type detection regexp
  projects/plugins/boost/app/features/optimizations/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/changelog/fix-boost-script-exclusions
Labels: [Status] Needs Team Review, [Plugin] Boost

#24628 Blocks: add a new Google Docs embed block
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-google-docs.php
  projects/plugins/jetpack/changelog/feature-gsuite-block
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/edit.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/editor.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/editor.scss
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/embed-placeholder.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/embed.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/google-docs-embed.php
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/icons.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/index.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/preview.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/save.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/transforms.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/view.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/view.scss
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Feature Request, OSS Citizen, [Plugin] Jetpack, [Block] Google Docs Embed

#25345 Google Docs Embed block: switch to stricter check for URL
  projects/plugins/jetpack/changelog/fix-url-google-docs-embed
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/edit.js
Labels: [Type] Bug, [Status] Needs Review, Touches WP.com Files, [Pri] High, [Plugin] Jetpack, [Block] Google Docs Embed

#25281 [GB 13.7] Gutenberg 13.7 Site Editor route fixes
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/gutenberg-13.7-route-fixes
  projects/js-packages/publicize-components/package.json
  projects/js-packages/shared-extension-utils/changelog/gutenberg-13.7-route-fixes
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/plan-utils.js
  projects/plugins/jetpack/changelog/gutenberg-13.7-route-fixes
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/notes.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [JS Package] Publicize Components

#25321 Improve changelog for Search plugin v1.1.0
  projects/plugins/search/CHANGELOG.md
  projects/plugins/search/changelog/update-search-1.1.0-changelog
  projects/plugins/search/readme.txt
Labels: [Status] Ready to Merge, Search, [Status] Needs Cherry-Pick, [Plugin] Search

#25002 Record Meter: add info link to docs
  projects/packages/search/changelog/add-record-meter-info-link
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.scss
Labels: Search, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Package] Search

#25323 Search: Adds text description for post type icons
  projects/packages/search/changelog/add-search-add-post-type-icon-descriptions
  projects/packages/search/src/instant-search/components/gridicon/index.jsx
  projects/packages/search/src/instant-search/components/post-type-icon.jsx
Labels: [Focus] Accessibility, Search, [Status] Needs Team Review, [Package] Search

#25283 Instant Search: Improve Accessibility of Instant Search options form.
  projects/packages/search/changelog/fix-search-options-a11y
  projects/packages/search/src/instant-search/components/search-sort.jsx
  projects/packages/search/src/instant-search/components/search-sort.scss
Labels: [Focus] Accessibility, Search, [Status] Needs Team Review, [Package] Search

#25346 Hide sharing buttons in Blog Posts block in the editor
  projects/plugins/jetpack/changelog/fix-sharing-buttons-in-editor
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: Sharing, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack, Media

#25331 Masterbar: remove empty space between collapsed admin menu and editor
  projects/plugins/jetpack/changelog/fix-collapsed-admin-menu-css
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#24914 Add pattern chooser to the PaymentsIntro block
  projects/plugins/jetpack/changelog/add-patterns-to-payment-intro
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/editor.scss
  projects/plugins/jetpack/extensions/blocks/payments-intro/pattern-picker.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, Earn, [Plugin] Jetpack, [Block] Payments Intro

#25349 Jetpack: register VideoPress block from its editor.js file
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-fix-registering-block-issue
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#25226 Protect: Fix alignment of long navigation items on mobile
  projects/plugins/protect/changelog/fix-protect-navigation-alignment
  projects/plugins/protect/src/js/components/navigation/styles.module.scss
Labels: [Status] Needs Team Review, [Plugin] Protect

#25258 Protect: Add a default "See all results" label to the mobile navigation button
  projects/plugins/protect/changelog/add-protect-navigation-default-label
  projects/plugins/protect/src/js/components/navigation/index.jsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Protect

#25350 VP Block: Add support to pause and resume upload
  projects/plugins/jetpack/changelog/add-videopress-stop-resume-upload
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#25357 JS Components: Add full width option on Button component
  projects/js-packages/components/changelog/add-button-full-width
  projects/js-packages/components/components/button/index.tsx
  projects/js-packages/components/components/button/stories/Button.mdx
  projects/js-packages/components/components/button/stories/index.tsx
  projects/js-packages/components/components/button/style.module.scss
  projects/js-packages/components/components/button/types.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, RNA, [JS Package] Components

#25093 Search: ensure overlay trigger is consistently set
  projects/packages/search/changelog/fix-consolidate-overlay-trigger-defaults
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-options.php
  projects/packages/search/src/class-settings.php
  projects/packages/search/src/customizer/class-customizer.php
  projects/plugins/search/changelog/fix-consolidate-overlay-trigger-defaults
  projects/plugins/search/tests/e2e/specs/search.test.js
Labels: Search, [Status] Needs Team Review, E2E Tests, [Plugin] Search, [Package] Search

#25042 Move VIdeoPress v2 REST api endpoint to package
  projects/packages/videopress/changelog/update-move-videopress-rest
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/plugins/jetpack/changelog/update-move-videopress-rest
Labels: VideoPress, [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Package] Videopress

#25364 Social: Post release README and Changelog update (for release 1.2.0)
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/social-post-release-1.2.0
  projects/plugins/social/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Social

#25369 Jetpack: Porting back 11.2 changelog and readme updates to trunk
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-sharing-buttons-in-editor
  projects/plugins/jetpack/changelog/update-jp-11.2-changelog-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25375 Changelog cleanup for 11.3-a.1
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog-11.3-a.1-cleanup
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25358 Search: Porting back 1.1.0 changelog and readme updates to trunk
  projects/plugins/search/CHANGELOG.md
  projects/plugins/search/changelog/fix-search-admin-error-on-activation-with-jetpack-plugin
  projects/plugins/search/changelog/update-search-1.1.0-changelog
  projects/plugins/search/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Search

#25378 Janitorial: Releasing new version of github-actions/push-to-mirrors
  projects/github-actions/push-to-mirrors/CHANGELOG.md
  projects/github-actions/push-to-mirrors/changelog/add-push-to-mirrors-logging
  projects/github-actions/push-to-mirrors/changelog/renovate-major-symfony
  projects/github-actions/push-to-mirrors/changelog/update-actions-to-node16
  projects/github-actions/push-to-mirrors/changelog/update-changelogger-add-pr-num
  projects/github-actions/push-to-mirrors/changelog/update-monorepo-master-refs-secondary
Labels: [Status] Ready to Merge, [Type] Janitorial, Actions, [Action] Push To Mirrors

#25368 VideoPress: do not show admin upgrade nudge on WoA sites.
  projects/plugins/jetpack/_inc/client/performance/media.jsx
  projects/plugins/jetpack/changelog/fix-dashboard-videopress-card-ecommerce
Labels: [Type] Bug, VideoPress, [Status] Ready to Merge, Admin Page, [Pri] Low, [Plugin] Jetpack

#25265 Add Backup retention disclaimer to product card
  projects/packages/backup/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-backup.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/search/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/plugins/backup/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/client/components/jetpack-product-card/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-product-card/style.scss
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/index.jsx
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/jetpack/changelog/add-backup-disclaimer-text-to-product-card#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#25337 Instagram Latest Posts: clarify use of access token id
  projects/plugins/jetpack/_inc/lib/class-jetpack-instagram-gallery-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-instagram-gallery.php
  projects/plugins/jetpack/changelog/fusion-sync-grantmkin-D81330-code-1659141260
Labels: [Status] Ready to Merge, [Type] Dotcom Merge, [Status] Tested on WP.com, Touches WP.com Files, [Block] Latest Instagram Posts, [Plugin] Jetpack

#24476 Search: better module control error reporting
  projects/packages/search/changelog/update-search-module-control-error-reporting
  projects/packages/search/src/class-module-control.php
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/tests/php/class-test-case.php
  projects/packages/search/tests/php/test-module-control.php
Labels: Search, [Status] Needs Team Review, [Plugin] Search, [Package] Search

#25343 Search: Improve contrast on links in dark mode
  projects/packages/search/changelog/update-search-link-contrast-dark-mode
  projects/packages/search/src/instant-search/lib/styles/_variables.scss
Labels: [Focus] Accessibility, [Status] Ready to Merge, Search, [Package] Search

#25342 Instant Search: Add the "Clear filters" button to the tab loop.
  projects/packages/search/changelog/fix-search-make-sort-filters-accessible
  projects/packages/search/src/instant-search/components/search-filters.jsx
  projects/packages/search/src/instant-search/components/search-filters.scss
  projects/packages/search/src/instant-search/components/search-sort.scss
Labels: [Focus] Accessibility, [Status] Ready to Merge, Search, [Package] Search

#25307 Docs: Updating monorepo.md with extra mirror repo information
  docs/monorepo.md
Labels: Docs, [Status] Ready to Merge, [Tools] Monorepo Setup

#25308 Add github action project for sending Slack notifications with test results
  .github/workflows/e2e-tests.yml
  pnpm-lock.yaml
  projects/github-actions/test-results-to-slack/.gitattributes
  projects/github-actions/test-results-to-slack/.gitignore
  projects/github-actions/test-results-to-slack/CHANGELOG.md
  projects/github-actions/test-results-to-slack/README.md
  projects/github-actions/test-results-to-slack/action.yml
  projects/github-actions/test-results-to-slack/changelog/.gitkeep
  projects/github-actions/test-results-to-slack/changelog/add-test-results-to-slack-action
  projects/github-actions/test-results-to-slack/composer.json
  projects/github-actions/test-results-to-slack/package.json
  projects/github-actions/test-results-to-slack/src/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, Actions, [Action] Test Results to Slack

#25266 Protect: Show vulnerability descriptions in VulAccordionItem
  projects/plugins/debug-helper/changelog/add-protect-threat-descriptions
  projects/plugins/debug-helper/modules/class-protect-helper.php
  projects/plugins/protect/changelog/add-protect-threat-descriptions
  projects/plugins/protect/src/js/components/vulnerabilities-list/list.jsx
  projects/plugins/protect/src/js/components/vulnerabilities-list/styles.module.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Debug Helper, [Plugin] Protect

#24747 [Boost] - Improve the Modal Messages
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/api/speed-scores.ts
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PopOut.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/assets/src/js/stores/config.ts
  projects/plugins/boost/app/assets/src/js/utils/paid-plan.ts
  projects/plugins/boost/changelog/improve-modal-messages
Labels: [Status] Needs Author Reply, Admin Page, [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Boost

#25367 Add missing site owner id to fix UI issue in calypso
  projects/plugins/jetpack/changelog/fix-missing-site-owner-causing-ui-issue-in-calypso
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#25352 JS Components: Convert AdminPage component to TypeScript
  projects/js-packages/components/changelog/update-rna-admin-page-to-ts
  projects/js-packages/components/components/admin-page/index.tsx
  projects/js-packages/components/components/admin-page/stories/index.tsx
  projects/js-packages/components/components/admin-page/types.ts
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Task, RNA, [JS Package] Components

#25384 Payment button: Use block API v2
  projects/plugins/jetpack/changelog/migrate-recurring-payments-block-api-v2
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/recurring-payments/editor.scss
  projects/plugins/jetpack/extensions/blocks/recurring-payments/index.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/save.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/test/edit.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Plugin] Jetpack, [Block] Payments

#25397 Make default payment block plan names dynamic
  projects/plugins/jetpack/changelog/update-payment-button-product-names
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/inspector-control.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/utils.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25385 Updating initializer handling module
  projects/packages/config/changelog/update-videopress-initializer
  projects/packages/config/src/class-config.php
  projects/packages/videopress/changelog/update-videopress-initializer
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-module-control.php
  projects/packages/videopress/src/class-status.php
  projects/plugins/jetpack/changelog/update-videopress-initializer
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/videopress/changelog/update-videopress-initializer
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
  projects/plugins/videopress/jetpack-videopress.php
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
Labels: VideoPress, [Status] Ready to Merge, [Package] Config, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25388 Gather support references: add option to send a Slack message
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/action.yml
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-escalate-issues-with-lots-tickets
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/readme.md
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#25389 Jetpack: sync theme compat files with wpcom
  projects/plugins/jetpack/changelog/update-sync-theme-compat-with-wpcom
  projects/plugins/jetpack/modules/theme-tools/compat/twentyfifteen.css
  projects/plugins/jetpack/modules/theme-tools/compat/twentyfourteen.css
  projects/plugins/jetpack/modules/theme-tools/compat/twentytwenty.css
Labels: Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25353 JS Components: Convert ThemeProvider component to TypeScript
  projects/js-packages/components/changelog/update-rna-theme-provider-to-ts
  projects/js-packages/components/components/theme-provider/index.tsx
  projects/js-packages/components/components/theme-provider/stories/index.tsx
  projects/js-packages/components/components/theme-provider/types.ts
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Task, RNA, [JS Package] Components

#25360 JS Components: Convert admin section (AdminSection, AdminSectionHero) components to TypeScript
  projects/js-packages/components/changelog/update-rna-admin-section-to-ts
  projects/js-packages/components/components/admin-section/basic/index.tsx
  projects/js-packages/components/components/admin-section/hero/index.tsx
  projects/js-packages/components/components/admin-section/stories/index.tsx
  projects/js-packages/components/components/admin-section/types.ts
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Task, RNA, [JS Package] Components

#25361 JS Components: Convert utility functions to TypeScript
  projects/js-packages/components/changelog/update-rna-components-utils-to-ts
  projects/js-packages/components/lib/locale/index.ts
  projects/js-packages/components/lib/locale/test/index.ts
  projects/js-packages/components/tools/get-product-checkout-url/index.ts
  projects/js-packages/components/tools/jp-redirect/index.ts
  projects/js-packages/components/tools/jp-redirect/test/index.tsx
  projects/js-packages/components/tools/jp-redirect/types.ts
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Task, RNA, [JS Package] Components

#24477 Search should not require user connection
  projects/packages/backup/changelog/update-search-require-only-site-connection
  projects/packages/backup/composer.json
  projects/packages/my-jetpack/changelog/update-search-require-only-site-connection
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-search.php
  projects/packages/search/changelog/update-search-require-only-site-connection
  projects/packages/search/changelog/update-search-require-only-site-connection#2
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/dashboard/wrapped-dashboard.jsx
  projects/packages/search/src/dashboard/components/pages/upsell-page.jsx
  projects/packages/search/src/dashboard/hooks/use-connection.jsx
  projects/plugins/backup/changelog/update-search-require-only-site-connection
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-search-require-only-site-connection
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-search-require-only-site-connection
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-search-require-only-site-connection
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-search-require-only-site-connection
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-search-require-only-site-connection
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-search-require-only-site-connection
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-search-require-only-site-connection
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, Search, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#25401 Monorepo Installer: Ensure composer directory is present before moving
  tools/install-monorepo.sh
Labels: [Type] Bug, [Status] Ready to Merge

#25334 Add/calculate scheduled shares on activation
  projects/packages/publicize/changelog/add-calculate-scheduled-shares-on-activation
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/add-calculate-scheduled-shares-on-activation
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-calculate-scheduled-shares-on-activation
  projects/plugins/social/changelog/add-calculate-scheduled-shares-on-activation#2
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/tests/php/test-class-jetpack-social.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#25333 Check currently stored value of the `mfold` user setting before updating
  projects/plugins/jetpack/changelog/sidebar-expanded-state-check-the-stored-value-before-updating
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Masterbar, nav-unification, [Plugin] Jetpack, [Platform] Atomic

#25335 Backup package: Refactor Admin and ReviewRestore components
  projects/packages/backup/changelog/fix-backup-state-errors
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/backup/src/js/components/Admin.js
  projects/packages/backup/src/js/components/Backups.js
  projects/packages/backup/src/js/components/review-request/README.md
  projects/packages/backup/src/js/components/review-request/index.tsx
  projects/packages/backup/src/js/components/review-request/stories/index.tsx
  projects/packages/backup/src/js/components/review-request/style.module.scss
Labels: [Status] Needs Team Review, [Package] Backup, [Plugin] Backup

#25303 Search: update Instant Search description
  projects/packages/search/changelog/fix-instant-search-description
  projects/packages/search/src/dashboard/components/module-control/index.jsx
Labels: [Type] Enhancement, [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#25393 Search: retire results overlay trigger
  projects/packages/search/changelog/fix-search-retire-results-overlay-trigger
  projects/packages/search/compatibility/search-0.17.0.php
  projects/packages/search/src/class-options.php
  projects/packages/search/src/customberg/components/sidebar/sidebar-options.jsx
  projects/packages/search/src/customizer/class-customizer.php
  projects/packages/search/src/initializers/class-initializer.php
  projects/packages/search/src/instant-search/components/dom-event-handler.jsx
Labels: Search, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#25288 Instant Search: Constrain tabbing to the Search overlay when visible.
  projects/packages/search/changelog/fix-search-constrain-tab-loop
  projects/packages/search/src/instant-search/components/overlay.jsx
  projects/packages/search/src/instant-search/components/search-box.jsx
  projects/packages/search/src/instant-search/components/search-results.jsx
  projects/packages/search/src/instant-search/components/search-results.scss
  projects/packages/search/src/instant-search/lib/constants.js
Labels: [Focus] Accessibility, Search, [Status] Needs Team Review, [Plugin] Search, [Package] Search

#25418 Changelog edit for 11.3-a.3
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-rna-admin-page-to-ts
  projects/js-packages/components/changelog/update-rna-admin-section-to-ts
  projects/js-packages/components/changelog/update-rna-components-utils-to-ts
  projects/js-packages/components/changelog/update-rna-theme-provider-to-ts
  projects/js-packages/components/package.json
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/backup/changelog/fix-backup-state-errors
  projects/packages/backup/changelog/update-search-require-only-site-connection
  projects/packages/backup/src/class-package-version.php
  projects/packages/config/CHANGELOG.md
  projects/packages/config/changelog/update-videopress-initializer
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/my-jetpack/changelog/update-search-require-only-site-connection
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/add-calculate-scheduled-shares-on-activation
  projects/packages/publicize/package.json
  projects/packages/search/CHANGELOG.md
  projects/packages/search/changelog/add-backup-disclaimer-text-to-product-card
  projects/packages/search/changelog/fix-instant-search-description
  projects/packages/search/changelog/fix-search-constrain-tab-loop
  projects/packages/search/changelog/fix-search-make-sort-filters-accessible
  projects/packages/search/changelog/fix-search-retire-results-overlay-trigger
  projects/packages/search/changelog/update-search-link-contrast-dark-mode
  projects/packages/search/changelog/update-search-module-control-error-reporting
  projects/packages/search/changelog/update-search-require-only-site-connection
  projects/packages/search/changelog/update-search-require-only-site-connection#2
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/update-videopress-initializer
  projects/packages/videopress/package.json
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-backup-disclaimer-text-to-product-card
  projects/plugins/jetpack/changelog/add-backup-disclaimer-text-to-product-card#2
  projects/plugins/jetpack/changelog/add-calculate-scheduled-shares-on-activation
  projects/plugins/jetpack/changelog/fix-dashboard-videopress-card-ecommerce
  projects/plugins/jetpack/changelog/fix-missing-site-owner-causing-ui-issue-in-calypso
  projects/plugins/jetpack/changelog/fusion-sync-grantmkin-D81330-code-1659141260
  projects/plugins/jetpack/changelog/init-11.3-a.2
  projects/plugins/jetpack/changelog/migrate-recurring-payments-block-api-v2
  projects/plugins/jetpack/changelog/sidebar-expanded-state-check-the-stored-value-before-updating
  projects/plugins/jetpack/changelog/update-changelog-11.3-a.1-cleanup
  projects/plugins/jetpack/changelog/update-payment-button-product-names
  projects/plugins/jetpack/changelog/update-search-require-only-site-connection
  projects/plugins/jetpack/changelog/update-sync-theme-compat-with-wpcom
  projects/plugins/jetpack/changelog/update-videopress-initializer
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Config, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Components, [Package] Search, [Package] My Jetpack, [Package] Publicize, [Package] Videopress

#25419 Init 11.3-a.4
  projects/plugins/jetpack/changelog/Init new cycle
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25386 Test results to Slack action: add tests
  projects/github-actions/test-results-to-slack/changelog/add-tests
  projects/github-actions/test-results-to-slack/composer.json
  projects/github-actions/test-results-to-slack/package.json
  projects/github-actions/test-results-to-slack/src/index.js
  projects/github-actions/test-results-to-slack/src/utils.js
  projects/github-actions/test-results-to-slack/tests/conclusion.test.js
  projects/github-actions/test-results-to-slack/tests/content.test.js
  projects/github-actions/test-results-to-slack/tests/jest.config.js
  projects/github-actions/test-results-to-slack/tests/slack.test.js
  projects/github-actions/test-results-to-slack/tests/test-utils.js
Labels: [Status] Needs Review, Actions, [Action] Test Results to Slack

#25420 Changelog cleanup for 11.3-a.3
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog-11.3-a.3-cleanup
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25398 Moving utility and ajax to videopress package
  projects/packages/videopress/changelog/update-move-utils-videopress
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-ajax.php
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/utility-functions.php
  projects/plugins/jetpack/changelog/update-move-utils-videopress
  projects/plugins/jetpack/modules/module-extras.php
  projects/plugins/jetpack/modules/videopress.php
Labels: VideoPress, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Videopress

#25411 fix: Add unique name to VideoPress e2e tests package
  projects/plugins/videopress/changelog/fix-add-unique-name-to-videopress-e2e-tests-package
  projects/plugins/videopress/tests/e2e/package.json
Labels: [Status] Ready to Merge, [Type] Task, E2E Tests, [Plugin] VideoPress

#25405 P2: hide Jetpack menu for all P2
  projects/plugins/jetpack/changelog/update-hide-jetpack-menu-for-p2s
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#25400 Carousel: ensure a post is an attachment
  projects/plugins/jetpack/changelog/update-iterable-carousel
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: [Type] Bug, Carousel, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25395 Admin: only show license notice to main connection owner
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/changelog/fix-dashboard-licensing-notices-editor
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Pri] High, [Plugin] Jetpack

#25041 Add Jetpack for Agencies module to dashboard to advertise agency dashboard
  projects/plugins/jetpack/_inc/client/components/agencies-card/index.tsx
  projects/plugins/jetpack/_inc/client/components/agencies-card/style.scss
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/scss/style.scss
  projects/plugins/jetpack/_inc/client/state/settings/actions.js
  projects/plugins/jetpack/_inc/client/state/settings/reducer.js
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-jetpack-agencies-module-to-dashboard
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25425 Dashboard: fix a propType warning for <DashAkismet>
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/changelog/2022-08-09-20-42-16-586706
Labels: [Status] Ready to Merge, Admin Page, [Type] Janitorial, [Plugin] Jetpack

#25424 Dashboard: fix <DashScan> child key warning
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/changelog/update-dashscan-use-child-keys
Labels: [Status] Ready to Merge, Admin Page, [Type] Janitorial, [Plugin] Jetpack

#25354 Use minified version of videopress-token-bridge
  projects/plugins/jetpack/changelog/fix-videopress-token-bridge-use-minified-path
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-gutenberg.php
  projects/plugins/jetpack/modules/videopress/editor-media-view.php
Labels: VideoPress, [Focus] Performance, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25436 e2e Performance tests: update script reference
  tools/e2e-commons/bin/performance.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, E2E Tests

#25423 Add: Support for honoring DNT in Google Analytics
  projects/plugins/jetpack/changelog/add-google-analytics-honor-dnt
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/modules/google-analytics/classes/class-jetpack-google-amp-analytics.php
  projects/plugins/jetpack/modules/google-analytics/classes/wp-google-analytics-legacy.php
  projects/plugins/jetpack/modules/google-analytics/classes/wp-google-analytics-options.php
  projects/plugins/jetpack/modules/google-analytics/classes/wp-google-analytics-universal.php
  projects/plugins/jetpack/modules/google-analytics/classes/wp-google-analytics-utils.php
  projects/plugins/jetpack/tests/php/modules/google-analytics/test-class.google-analytics.php
Labels: WPCOM API, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Google Analytics, [Plugin] Jetpack

#25413 Instant Search: if user prefers reduced motion, always use submit overlay trigger
  projects/packages/search/changelog/add-search-reduced-motion-detection
  projects/packages/search/src/instant-search/components/dom-event-handler.jsx
  projects/packages/search/src/instant-search/lib/a11y.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#25433 Instant Search: User-friendly error messaging
  projects/packages/search/changelog/update-proper-error-messages
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/components/search-results.jsx
  projects/packages/search/src/instant-search/lib/api.js
  projects/packages/search/src/instant-search/lib/errors.js
  projects/packages/search/src/instant-search/store/effects.js
  projects/packages/search/src/instant-search/store/reducer/api.js
  projects/plugins/jetpack/changelog/update-proper-error-messages
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-proper-error-messages
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: Search, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#25428 Social: Improve design of admin page on mobile
  projects/plugins/social/changelog/fix-social-mobile-design
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/stat-cards/index.js
  projects/plugins/social/src/js/components/stat-cards/styles.module.scss
  projects/plugins/social/src/js/components/toggle-section/index.js
Labels: [Status] Needs Team Review, [Plugin] Social

#25437 E2E tests: Only send Slack notifications for failures
  .github/workflows/e2e-tests.yml
  projects/github-actions/test-results-to-slack/changelog/e2e-only-send-slack-notif-on-failure
  projects/github-actions/test-results-to-slack/src/index.js
Labels: [Status] Ready to Merge, Actions, [Action] Test Results to Slack

#25448 Hide WPCOM notifications button when 3rd party cookies are blocked
  projects/plugins/jetpack/changelog/update-disable-wpcom-notes-when-no-3pc
  projects/plugins/jetpack/modules/notes.php
Labels: [Type] Bug, Notifications, x-site cookies, [Status] Needs Team Review, [Plugin] Jetpack, Jetpack

#25443 Adds filter to monorepo path
  tools/docker/mu-plugins/01-monorepo.php
Labels: [Status] Needs Review, Docker, [Tools] Monorepo Setup

#25452 WPSC: Ensure PHP 8.0 Compat
  projects/plugins/super-cache/changelog/add-wpcs-8-compat
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Status] Needs Review, [Pri] BLOCKER, [Plugin] Super Cache

#25453 Ubuntu 21.10 is EOL. Moving up to 22.04
  tools/docker/Dockerfile
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] BLOCKER, Docker

#25310 Build Action: post reminder comment to test on WordPress.com
  .github/actions/build/check-test-reminder-comment.js
  .github/actions/build/de-fusioned-files.js
  .github/actions/build/get-check-comments.js
  .github/workflows/build.yml
Labels: [Status] Needs Review, [Pri] Normal, Build, Actions

#25347 Publicize/Plans: Use plans package in publicize to determine if a feature is available.
  projects/packages/plans/changelog/add-jetpack-social-plan-changes
  projects/packages/plans/composer.json
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
  projects/packages/videopress/changelog/add-jetpack-social-plan-changes
  projects/packages/videopress/composer.json
  projects/plugins/jetpack/changelog/add-jetpack-social-plan-changes
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-jetpack-social-plan-changes
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/videopress/changelog/add-jetpack-social-plan-changes
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Publicize, [Package] Plans, [Plugin] Social, [Package] Videopress, [Plugin] VideoPress

#25412 Migrating Jetpack VideoPress class to the package
  projects/packages/videopress/changelog/update-migrate-videopress-class
  projects/packages/videopress/changelog/update-migrate-videopress-class#2
  projects/packages/videopress/composer.json
  projects/packages/videopress/src/class-attachment-handler.php
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-jwt-token-bridge.php
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/js/videopress-token-bridge.js
  projects/plugins/jetpack/changelog/update-migrate-videopress-class
  projects/plugins/jetpack/changelog/update-migrate-videopress-class#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-gutenberg.php
  projects/plugins/videopress/changelog/update-migrate-videopress-class
  projects/plugins/videopress/composer.lock
Labels: VideoPress, [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25630 Instant Search: only show animation to users who have not chosen reduced motion
  projects/packages/search/changelog/add-search-css-reduced-motion
  projects/packages/search/src/instant-search/components/overlay.scss
  projects/packages/search/src/instant-search/components/search-box.scss
  projects/packages/search/src/instant-search/components/search-results.scss
Labels: [Focus] Accessibility, [Status] Ready to Merge, Search, [Package] Search

#25632 Instant Search: use classname rather than ID for styling sort select
  projects/packages/search/changelog/fix-sort-id-to-class
  projects/packages/search/src/instant-search/components/search-app.scss
  projects/packages/search/src/instant-search/components/search-sort.jsx
  projects/packages/search/src/instant-search/components/search-sort.scss
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, Search, [Package] Search

#25634 Issue forms: add Super Cache option
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Super Cache

#25635 Super Cache: add missing plugin slug to composer file
  projects/plugins/super-cache/changelog/add-super-cache-plugin-slug
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Super Cache

#25636 VideoPress plugin: minor doc improvement
  projects/plugins/videopress/README.md
  projects/plugins/videopress/changelog/update-jetpack-videopress-plugin-doc-improve
Labels: [Status] Ready to Merge, [Plugin] VideoPress

#25359 De-Fusion: Site Logo - update with wpcom specific require
  projects/plugins/jetpack/changelog/update-defusion-site-logo
  projects/plugins/jetpack/modules/theme-tools/site-logo.php
Labels: Theme Tools, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack, Jetpack

#25638 VideoPress: Fix private videos after recent namespace changes
  projects/packages/videopress/changelog/fix-videopress-privacy-const-imports
  projects/packages/videopress/src/class-ajax.php
Labels: [Status] Ready to Merge, [Package] Videopress

#25642 De-Fusion: update file list for #25249
  .github/actions/build/de-fusioned-files.js
Labels: [Status] Needs Review, [Type] Janitorial, Actions

#25640 WP Super Cache: Fixup Readme and changelog
  .github/files/required-review.yaml
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/update-wp-super-cache-cleanup
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/composer.lock
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/super-cache.php
  projects/plugins/super-cache/wp-cache.php
  tools/phpcs-excludelist.json
Labels: [Status] Ready to Merge, Actions, [Plugin] Super Cache

#25644 WPSC: fix readme changelog header marker
  projects/plugins/super-cache/changelog/fix-wpsc-readme-changelog-marker
  projects/plugins/super-cache/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Super Cache

#25631 Instant Search: fix button styling in Twenty Twenty One theme
  projects/packages/search/changelog/fix-search-sort-button-styling
  projects/packages/search/src/instant-search/components/scroll-button.scss
  projects/packages/search/src/instant-search/components/search-filters.scss
  projects/packages/search/src/instant-search/components/search-sort.scss
  projects/packages/search/src/instant-search/lib/styles/_mixins.scss
Labels: [Status] In Progress, Search, [Status] Needs Team Review, [Package] Search

#25442 Update Calendly block customization link
  projects/plugins/jetpack/changelog/fix-calendly-block-customization-link
  projects/plugins/jetpack/extensions/blocks/calendly/controls.js
  projects/plugins/jetpack/extensions/blocks/calendly/test/controls.js
Labels: Touches WP.com Files, [Block] Calendly, [Plugin] Jetpack

#25649 Changelog and readme update for 11.3-a.5
  projects/packages/plans/CHANGELOG.md
  projects/packages/plans/changelog/add-jetpack-social-plan-changes
  projects/packages/plans/package.json
  projects/packages/search/CHANGELOG.md
  projects/packages/search/changelog/add-search-css-reduced-motion
  projects/packages/search/changelog/add-search-reduced-motion-detection
  projects/packages/search/changelog/fix-search-order-on-mobile
  projects/packages/search/changelog/fix-search-sort-button-styling
  projects/packages/search/changelog/fix-sort-id-to-class
  projects/packages/search/changelog/update-proper-error-messages
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/add-jetpack-social-plan-changes
  projects/packages/videopress/changelog/fix-videopress-privacy-const-imports
  projects/packages/videopress/changelog/update-migrate-videopress-class
  projects/packages/videopress/changelog/update-migrate-videopress-class#2
  projects/packages/videopress/changelog/update-move-utils-videopress
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/2022-08-09-20-42-16-586706
  projects/plugins/jetpack/changelog/Init new cycle
  projects/plugins/jetpack/changelog/add-google-analytics-honor-dnt
  projects/plugins/jetpack/changelog/add-jetpack-agencies-module-to-dashboard
  projects/plugins/jetpack/changelog/add-jetpack-social-plan-changes
  projects/plugins/jetpack/changelog/fix-calendly-block-customization-link
  projects/plugins/jetpack/changelog/fix-dashboard-licensing-notices-editor
  projects/plugins/jetpack/changelog/fix-videopress-token-bridge-use-minified-path
  projects/plugins/jetpack/changelog/update-changelog-11.3-a.3-cleanup
  projects/plugins/jetpack/changelog/update-dashscan-use-child-keys
  projects/plugins/jetpack/changelog/update-defusion-site-logo
  projects/plugins/jetpack/changelog/update-disable-wpcom-notes-when-no-3pc
  projects/plugins/jetpack/changelog/update-hide-jetpack-menu-for-p2s
  projects/plugins/jetpack/changelog/update-iterable-carousel
  projects/plugins/jetpack/changelog/update-migrate-videopress-class
  projects/plugins/jetpack/changelog/update-migrate-videopress-class#2
  projects/plugins/jetpack/changelog/update-move-utils-videopress
  projects/plugins/jetpack/changelog/update-payment-button-block-width
  projects/plugins/jetpack/changelog/update-proper-error-messages
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/modules/google-analytics/classes/wp-google-analytics-utils.php
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: VideoPress, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, Google Analytics, [Plugin] Jetpack, [Package] Search, [Package] Plans, [Package] Videopress

#25650 Init 11.3-a.6
  projects/plugins/jetpack/changelog/init-11.3-a.6
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25454 Repo Gardening: do not send Slack reminders for closed issues
  projects/github-actions/repo-gardening/changelog/fix-repo-gardening-no-reminders-closed-issues
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#25648 Gardening: ping JPOP Sattelite DRIs on Satellite products
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-slack-messages-satellite
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/reply-to-customers-reminder/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#25652 Fix/wp super cache contents align
  projects/plugins/super-cache/changelog/survey-fix
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Ready to Merge, [Plugin] Super Cache

#25633 Social: Add support section and text with icon component
  projects/plugins/social/changelog/add-social-text-with-icon-component
  projects/plugins/social/src/js/components/admin-page/index.jsx
  projects/plugins/social/src/js/components/icon-text/index.js
  projects/plugins/social/src/js/components/icon-text/styles.module.scss
  projects/plugins/social/src/js/components/support-section/index.js
  projects/plugins/social/src/js/components/support-section/styles.module.scss
  projects/plugins/social/src/js/store/selectors/jetpack-settings.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Social

#25654 1.8 changelog ready for release
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/add-super-cache-plugin-slug
  projects/plugins/super-cache/changelog/add-wpcs-8-compat
  projects/plugins/super-cache/changelog/add-wpsuper-cache-plugin
  projects/plugins/super-cache/changelog/fix-wpsc-readme-changelog-marker
  projects/plugins/super-cache/changelog/survey-fix
  projects/plugins/super-cache/changelog/update-wp-super-cache-cleanup
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Super Cache

#25656 Super Cache: Sync changelogs
  projects/plugins/super-cache/CHANGELOG.md
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Super Cache

#25658 Super Cache: Fix readme
  projects/plugins/super-cache/changelog/fix-wpsc-readme
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] BLOCKER, [Plugin] Super Cache

#25660 Jetpack: Fix requiring missing utility-functions.php file
  projects/plugins/jetpack/changelog/fix-include-utility-functions-videopress
  projects/plugins/jetpack/modules/shortcodes/videopress.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, [Pri] High, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#25387 VideoPress: start to migrate block from Jetpack to VideoPress package
  pnpm-lock.yaml
  projects/packages/videopress/.eslintrc.js
  projects/packages/videopress/.gitattributes
  projects/packages/videopress/.gitignore
  projects/packages/videopress/README.md
  projects/packages/videopress/babel.config.js
  projects/packages/videopress/changelog/update-videopress-add-client-scaffolding
  projects/packages/videopress/changelog/update-videopress-add-client-scaffolding#2
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/postcss.config.js
  projects/packages/videopress/src/Readme.md
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/blocks/videopress/block.json
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/icons/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/inspector-controls.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/poster-image-block-control/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/poster-image-block-control/style.module.scss
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/seekbar-color-settings.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/videopress-player/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/videopress-uploader/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/components/videopress-uploader/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/videopress/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/editor.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/editor.scss
  projects/packages/videopress/src/client/block-editor/blocks/videopress/hooks/use-uploader.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/save.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/scripts/vp-block-bridge/Readme.md
  projects/packages/videopress/src/client/block-editor/blocks/videopress/scripts/vp-block-bridge/index.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/videopress/utils/url.js
  projects/packages/videopress/src/client/block-editor/blocks/videopress/view.js
  projects/packages/videopress/src/client/block-editor/index.js
  projects/packages/videopress/src/client/block-editor/view.js
  projects/packages/videopress/webpack.config.js
  projects/plugins/jetpack/changelog/update-videopress-add-client-scaffolding
  projects/plugins/jetpack/changelog/update-videopress-add-client-scaffolding#2
  projects/plugins/jetpack/changelog/update-videopress-add-client-scaffolding#3
  projects/plugins/jetpack/changelog/update-videopress-add-client-scaffolding#4
  projects/plugins/jetpack/changelog/update-videopress-add-client-scaffolding#5
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding#2
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding#3
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding#4
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding#5
  projects/plugins/videopress/changelog/update-videopress-add-client-scaffolding#6
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
  projects/plugins/videopress/jetpack-videopress.php
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
Labels: VideoPress, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Package] Config, [Plugin] Jetpack, [Plugin] Debug Helper, [Block] VideoPress, RNA, [JS Package] Components, [Plugin] Boost, [Block] Payments, [Plugin] Protect, Jetpack, [Package] Videopress, [Plugin] VideoPress

#25409 Search: Add author filter
  projects/packages/search/changelog/add-author_filtering
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-package.php
  projects/packages/search/src/class-template-tags.php
  projects/packages/search/src/classic-search/class-classic-search.php
  projects/packages/search/src/instant-search/components/search-filter.jsx
  projects/packages/search/src/instant-search/lib/api.js
  projects/packages/search/src/instant-search/lib/filters.js
  projects/packages/search/src/instant-search/lib/test/filters.test.js
  projects/packages/search/src/widgets/class-search-widget.php
  projects/packages/search/src/widgets/css/search-widget-admin-ui.css
  projects/plugins/jetpack/changelog/add-author_filtering
  projects/plugins/jetpack/changelog/add-author_filtering#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/add-author_filtering
  projects/plugins/search/changelog/add-author_filtering#2
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: [Status] Ready to Merge, Search, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#25269 License Activation Notice: fix issue in license activation notice that appears even after being dismissed
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/user-license-activation.jsx
  projects/plugins/jetpack/changelog/fix-dismiss-license-activation-notice
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25653 Stats: don't show links in dashboard widget when module inactive
  projects/plugins/jetpack/changelog/update-stats-widget-inactive
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
Labels: [Type] Bug, Stats, General, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#25651 Test results to Slack: fix notifications for schedule event
  projects/github-actions/test-results-to-slack/changelog/e2e-fix-notifications-for-scheduled
  projects/github-actions/test-results-to-slack/src/utils.js
  projects/github-actions/test-results-to-slack/tests/content.test.js
Labels: [Status] In Progress, Actions, [Action] Test Results to Slack

#25668 Init 11.3-a.8
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-include-utility-functions-videopress
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#25676 VideoPress: re organize client files
  projects/packages/videopress/changelog/update-videopress-pkg-organize-client-code
  projects/packages/videopress/src/class-jwt-token-bridge.php
  projects/packages/videopress/src/client/lib/videopress-token-bridge.js
Labels: [Status] Ready to Merge, [Pri] Normal, [Size] S, [Package] Videopress

#25682 Actions: Don't notify Slack for issue gardening failures
  .github/workflows/slack-workflow-failed.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#25377 Components: Add PricingTable component
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-pricing-table-component
  projects/js-packages/components/components/pricing-table/index.tsx
  projects/js-packages/components/components/pricing-table/stories/index.tsx
  projects/js-packages/components/components/pricing-table/styles.module.scss
  projects/js-packages/components/components/pricing-table/test/component.tsx
  projects/js-packages/components/components/pricing-table/types.ts
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/add-pricing-table-component
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/add-pricing-table-component
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/add-pricing-table-component
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/add-pricing-table-component
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/publicize-components/changelog/add-pricing-table-component
  projects/js-packages/publicize-components/package.json
  projects/js-packages/storybook/changelog/add-pricing-table-component
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/add-pricing-table-component
  projects/packages/backup/package.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/my-jetpack/changelog/add-pricing-table-component
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/add-pricing-table-component
  projects/packages/search/package.json
  projects/packages/wordads/changelog/add-pricing-table-component
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/plugins/boost/changelog/add-pricing-table-component
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/add-pricing-table-component
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/add-pricing-table-component
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/add-pricing-table-component
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/add-pricing-table-component
  projects/plugins/starter-plugin/package.json
  projects/plugins/videopress/changelog/add-pricing-table-component
  projects/plugins/videopress/package.json
Labels: [Status] In Progress, Touches WP.com Files, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [JS Package] Publicize Components, [Plugin] VideoPress

#25677 i18n-check-webpack-plugin: Document another problematic pattern
  projects/js-packages/i18n-check-webpack-plugin/README.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/add-i18n-check-another-example
  projects/js-packages/i18n-check-webpack-plugin/package.json
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Focus] i18n, Touches WP.com Files, [Pri] Normal, RNA, [JS Package] I18n Check Webpack Plugin

#25683 VideoPress: serve a minified version for the token bridge file in production
  projects/packages/videopress/changelog/update-videopress-pgk-serve-token-min-version
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-jwt-token-bridge.php
  projects/packages/videopress/src/client/block-editor/blocks/videopress/block.json
  projects/packages/videopress/webpack.config.js
  projects/plugins/jetpack/changelog/update-videopress-pgk-serve-token-min-version
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-videopress-pgk-serve-token-min-version
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Pri] Normal, [Size] S, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25687 VideoPress: move source-client code from plugin to package
  pnpm-lock.yaml
  projects/packages/videopress/changelog/update-videopress-move-compiling-process-to-pkg
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/client/admin/components/admin-page/index.js
  projects/packages/videopress/src/client/admin/components/admin-page/styles.module.scss
  projects/packages/videopress/src/client/admin/index.js
  projects/packages/videopress/webpack.config.js
  projects/plugins/videopress/README.md
  projects/plugins/videopress/changelog/update-videopress-move-compiling-process-to-pkg
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/package.json
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
  projects/plugins/videopress/webpack.config.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Size] L, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25422 Update/auto redirect after install condition
  projects/packages/my-jetpack/changelog/update-auto-redirect-after-install-condition
  projects/packages/my-jetpack/composer.json
  projects/packages/plugins-installer/changelog/add-condition-to-detect-plugin-install-context
  projects/packages/plugins-installer/composer.json
  projects/packages/plugins-installer/src/class-plugins-installer.php
  projects/plugins/backup/changelog/update-auto-redirect-after-install-condition
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-auto-redirect-after-install-condition
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-auto-redirect-after-install-condition
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-auto-redirect-after-install-condition
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/search/changelog/update-auto-redirect-after-install-condition
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-auto-redirect-after-install-condition
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-auto-redirect-after-install-condition
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-auto-redirect-after-install-condition
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Package] Plugins Installer, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#25665 Search: add filtering support Woo brands plugin
  projects/packages/backup/changelog/update-search-support-woo-brands-plugin
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/update-search-support-woo-brands-plugin
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-search.php
  projects/plugins/backup/changelog/update-search-support-woo-brands-plugin
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-search-support-woo-brands-plugin
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-search-support-woo-brands-plugin
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-search-support-woo-brands-plugin
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-search-support-woo-brands-plugin
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-search-support-woo-brands-plugin
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-search-support-woo-brands-plugin
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Package] Sync, Search, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Package] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#25432 VideoPress: Initial VideoUploadArea component
  pnpm-lock.yaml
  projects/js-packages/storybook/changelog/add-videopress-video-upload-area-component
  projects/js-packages/storybook/composer.json
  projects/js-packages/storybook/package.json
  projects/js-packages/storybook/storybook/projects.js
  projects/packages/videopress/changelog/add-videopress-video-upload-area-component
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/admin/components/video-upload-area/index.tsx
  projects/packages/videopress/src/client/admin/components/video-upload-area/stories/VideoUploadArea.mdx
  projects/packages/videopress/src/client/admin/components/video-upload-area/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/video-upload-area/stories/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-upload-area/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-upload-area/types.ts
  projects/packages/videopress/tsconfig.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Storybook, [Package] Videopress

#24985 VideoPress: only enqueue the bridge script when the player is rendered
  projects/packages/videopress/changelog/update-videopress-only-enqueue-bridge-when-player-is-rendered
  projects/packages/videopress/composer.json
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-jwt-token-bridge.php
  projects/packages/videopress/tests/php/test-class-initializer.php
  projects/plugins/jetpack/changelog/update-videopress-only-enqueue-bridge-when-player-is-rendered
  projects/plugins/jetpack/changelog/update-videopress-only-enqueue-bridge-when-player-is-rendered#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/videopress/class.videopress-gutenberg.php
  projects/plugins/jetpack/modules/videopress/class.videopress-player.php
  projects/plugins/jetpack/modules/videopress/shortcode.php
  projects/plugins/videopress/changelog/update-videopress-only-enqueue-bridge-when-player-is-rendered
  projects/plugins/videopress/composer.lock
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25704 CI: Pass --no-frozen-lockfile to pnpm in "Lock files are up to date" check
  .github/files/check-lock-files.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#25703 improve connection docs
  projects/packages/connection/README.md
  projects/packages/connection/changelog/update-connection-docs
  projects/packages/connection/docs/register-site.md
  projects/packages/connection/src/class-package-version.php
Labels: [Status] Needs Review, [Package] Connection

#25714 VideoPress: remove side effects from package.json file
  projects/packages/videopress/changelog/update-videopress-pkg-remove-side-effects
  projects/packages/videopress/package.json
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High, [Package] Videopress

#25685 Test results to Slack: group and format messages
  projects/github-actions/test-results-to-slack/README.md
  projects/github-actions/test-results-to-slack/action.yml
  projects/github-actions/test-results-to-slack/changelog/update-group-slack-notifications
  projects/github-actions/test-results-to-slack/src/debug.js
  projects/github-actions/test-results-to-slack/src/extra-context.js
  projects/github-actions/test-results-to-slack/src/github.js
  projects/github-actions/test-results-to-slack/src/index.js
  projects/github-actions/test-results-to-slack/src/slack.js
  projects/github-actions/test-results-to-slack/src/utils.js
  projects/github-actions/test-results-to-slack/tests/conclusion.test.js
  projects/github-actions/test-results-to-slack/tests/content.test.js
  projects/github-actions/test-results-to-slack/tests/extra-context.test.js
  projects/github-actions/test-results-to-slack/tests/get-message.test.js
  projects/github-actions/test-results-to-slack/tests/slack.test.js
Labels: [Status] Needs Review, Actions, [Action] Test Results to Slack

#25657 Deploy SVN: Include trunk location at end
  tools/deploy-to-svn.sh
Labels: [Type] Enhancement, [Status] Ready to Merge, [Tools] Monorepo Setup

#25715 Search plugin: only redirect from plugins page activation
  projects/plugins/search/changelog/update-search-activation
  projects/plugins/search/changelog/update-search-activation#2
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/search/src/class-jetpack-search-plugin.php
Labels: [Status] Needs Review, Search, [Plugin] Search

#25717 VideoPress: capital P
  projects/packages/videopress/changelog/update-videopress-pkg-capital-p
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-status.php
  projects/packages/videopress/src/client/admin/components/admin-page/index.js
  projects/plugins/videopress/changelog/update-videopress-pkg-capital-p
  projects/plugins/videopress/jetpack-videopress.php
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
Labels: [Type] Enhancement, [Status] Needs Review, [Size] S, [Package] Videopress, [Plugin] VideoPress

#25713 Backup plugin: only redirect from plugins page activation
  projects/plugins/backup/changelog/update-backup-plugin-activation
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/jetpack-backup.php
Labels: [Status] Needs Review, [Plugin] Backup

#25723 Test results to Slack: fix notification for schedule event
  projects/github-actions/test-results-to-slack/changelog/fix-slack-notif-for-schedule
  projects/github-actions/test-results-to-slack/src/github.js
  projects/github-actions/test-results-to-slack/tests/conclusion.test.js
  projects/github-actions/test-results-to-slack/tests/content.test.js
  projects/github-actions/test-results-to-slack/tests/extra-context.test.js
  projects/github-actions/test-results-to-slack/tests/test-utils.js
Labels: [Status] In Progress, Actions, [Action] Test Results to Slack

#25716 VideoPress plugin: only redirect from plugins page activation
  projects/plugins/videopress/changelog/update-videopress-activation
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
  projects/plugins/videopress/jetpack-videopress.php
Labels: [Status] Needs Review, [Plugin] VideoPress

#25711 Update Starter Plugin activation to only redirect when activated from plugins page
  projects/plugins/starter-plugin/changelog/update-starter-plugin-activation
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/starter-plugin/jetpack-starter-plugin.php
  projects/plugins/starter-plugin/tests/e2e/package.json
Labels: [Status] Needs Review, E2E Tests, [Plugin] Starter Plugin

#25692 VideoPress: Add option to load admin UI
  projects/packages/config/changelog/add-videopress-option-to-load-amdin-ui
  projects/packages/config/src/class-config.php
  projects/packages/videopress/README.md
  projects/packages/videopress/changelog/add-videopress-option-to-load-amdin-ui
  projects/packages/videopress/changelog/add-videopress-option-to-load-amdin-ui#2
  projects/packages/videopress/composer.json
  projects/packages/videopress/src/class-initializer.php
  projects/plugins/jetpack/changelog/add-videopress-option-to-load-amdin-ui
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/add-videopress-option-to-load-amdin-ui
  projects/plugins/videopress/changelog/add-videopress-option-to-load-amdin-ui#2
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
Labels: [Status] Needs Review, [Package] Config, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#25705 cli: Fix jetpack docker clean
  tools/cli/commands/docker.js
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Tools] Development CLI

#25726 Sync class-wpcom-admin-menu.php
  projects/plugins/jetpack/changelog/fix-wpcom-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: [Status] Needs Review, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#25696 Pocket Casts: Add Pocket Casts as oEmbed provider.
  projects/plugins/jetpack/changelog/add-pocket-casts-oembed-provider
  projects/plugins/jetpack/modules/shortcodes/others.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-oembed-pocketcasts.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, Unit Tests, [Plugin] Jetpack, [Block] Pocketcasts

#25729 Update minimum pnpm version
  .github/versions.sh
  package.json
  pnpm-lock.yaml
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal

#25671 Instant Search: Add focus styles.
  projects/packages/search/changelog/overlay-add-focus-styles
  projects/packages/search/src/instant-search/components/scroll-button.scss
  projects/packages/search/src/instant-search/components/search-box.scss
  projects/packages/search/src/instant-search/components/search-filters.scss
  projects/packages/search/src/instant-search/components/search-results.scss
  projects/packages/search/src/instant-search/components/search-sort.scss
  projects/packages/search/src/instant-search/lib/styles/_mixins.scss
Labels: [Focus] Accessibility, [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#25699 Instant Search: Remove redundant links in results.
  projects/packages/search/changelog/search-overlay-hide-redundant-anchors
  projects/packages/search/src/instant-search/components/path-breadcrumbs.jsx
  projects/packages/search/src/instant-search/components/search-result-expanded.jsx
Labels: [Focus] Accessibility, [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#25297 Add Payment Buttons block
  projects/plugins/jetpack/changelog/add-payment-buttons-block
  projects/plugins/jetpack/extensions/blocks/button/button.php
  projects/plugins/jetpack/extensions/blocks/button/controls.js
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/button/index.js
  projects/plugins/jetpack/extensions/blocks/button/test/controls.js
  projects/plugins/jetpack/extensions/blocks/button/test/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/editor.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/editor.scss
  projects/plugins/jetpack/extensions/blocks/payment-buttons/index.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/payment-buttons.php
  projects/plugins/jetpack/extensions/blocks/payment-buttons/save.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/view.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/view.scss
  projects/plugins/jetpack/extensions/blocks/payments-intro/variations.js
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/recurring-payments/index.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/save.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/util.js
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/shared/use-width.js
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Block] Button, [Block] Premium Content, [Plugin] Jetpack, Memberships, [Block] Payments, [Block] Payments Intro, [Block] Payment Buttons

#25721 Donation block: Payment modal not displayed on iOS devices
  projects/plugins/jetpack/changelog/fix-donations-modal-not-displayed-on-ios
  projects/plugins/jetpack/extensions/shared/memberships.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Donations

#25709 Update podcast cache timeout to 1 hour
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/changelog/update-podcast-cache-timeout-to-1-hour
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Podcast Player, [Block] Anchor Fm, [Plugin] Jetpack

#25410 Fix gallery click behaviour for when image has rounded corners
  projects/plugins/jetpack/changelog/fix-gallery-image-with-link
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: Carousel, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#25725 E2E tests renovate: bump dependencies (Playwright 1.25.0)
  pnpm-lock.yaml
  projects/plugins/boost/changelog/e2e-bump-dependencies
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/jetpack/changelog/e2e-bump-dependencies
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/search/changelog/e2e-bump-dependencies
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/starter-plugin/changelog/e2e-bump-dependencies
  projects/plugins/starter-plugin/tests/e2e/package.json
  projects/plugins/videopress/changelog/e2e-bump-dependencies
  projects/plugins/videopress/tests/e2e/package.json
  tools/e2e-commons/config/playwright.config.default.cjs
  tools/e2e-commons/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search, [Plugin] Starter Plugin, [Plugin] VideoPress

#25639 SAL: Syncing class.json-api-site-base.php with WordPress.com.
  projects/plugins/jetpack/changelog/update-defusion-sal-site-base
  projects/plugins/jetpack/sal/class.json-api-site-base.php
  projects/plugins/jetpack/sal/class.json-api-site-jetpack.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22452 My Jetpack: Add JITM container
  projects/packages/jitm/changelog/add-jitm-my-jetpack
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/add-jitm-my-jetpack
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-jitm-my-jetpack
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-jitm-my-jetpack
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-jitm-my-jetpack
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-jitm-my-jetpack
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-jitm-my-jetpack
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-jitm-my-jetpack
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-jitm-my-jetpack
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-jitm-my-jetpack
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Status] Design Review Complete, [Plugin] Jetpack, [Package] Jitm, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#25739 JITM: Readme update with a detail about usage.
  projects/packages/jitm/README.md
  projects/packages/jitm/changelog/update-jitm-readme
Labels: [Status] Ready to Merge, [Package] Jitm

#25736 Test results to Slack: style buttons and message text
  projects/github-actions/test-results-to-slack/README.md
  projects/github-actions/test-results-to-slack/changelog/change-style-e2e-slack-notifications
  projects/github-actions/test-results-to-slack/src/github.js
  projects/github-actions/test-results-to-slack/src/index.js
  projects/github-actions/test-results-to-slack/tests/content.test.js
Labels: [Status] Needs Review, Actions, [Action] Test Results to Slack

#25431 Add/boost recommendation
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/add-boost-recommendation
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25768 Use JP OG Plugin: update composer extras for auto-svn
  projects/plugins/always-use-jetpack-open-graph/changelog/update-jpog-plugin-composer-extras
  projects/plugins/always-use-jetpack-open-graph/composer.json
  projects/plugins/always-use-jetpack-open-graph/composer.lock
Labels: General, [Status] Needs Review, [Plugin] Always Use Jetpack Open Graph

#25767 Fix file location for reminder comment code
  .github/files/build-reminder-comment/check-test-reminder-comment.js
  .github/files/build-reminder-comment/de-fusioned-files.js
  .github/files/build-reminder-comment/get-check-comments.js
  .github/workflows/build.yml
Labels: [Type] Janitorial, [Pri] Normal, Actions

#25446 Add/backup plan recommendation
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-spotlight/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/add-backup-plan-recommendation
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#25392 VPBlock: Support edit title and poster from upload (V6)
  projects/packages/videopress/changelog/add-videopress-edit-from-upload
  projects/packages/videopress/src/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/plugins/jetpack/changelog/add-videopress-stop-resume-upload
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/icons/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/uploader-editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/uploader-error.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-uploader/uploader-progress.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/hooks/use-meta-update.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/hooks/use-poster-image.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/hooks/use-poster-upload.js
Labels: [Status] Needs Review, Touches WP.com Files, [Size] L, [Plugin] Jetpack, [Block] VideoPress, [Package] Videopress

#25771 JP OG Plugin: changelog for v1.0.3
  projects/plugins/always-use-jetpack-open-graph/CHANGELOG.md
  projects/plugins/always-use-jetpack-open-graph/always-use-jetpack-open-graph.php
  projects/plugins/always-use-jetpack-open-graph/changelog/renovate-lock-file-maintenance
  projects/plugins/always-use-jetpack-open-graph/changelog/renovate-lock-file-maintenance#2
  projects/plugins/always-use-jetpack-open-graph/changelog/renovate-lock-file-maintenance#3
  projects/plugins/always-use-jetpack-open-graph/changelog/renovate-major-symfony
  projects/plugins/always-use-jetpack-open-graph/changelog/update-jpog-plugin-composer-extras
Labels: General, [Status] Needs Review, [Plugin] Always Use Jetpack Open Graph

#25730 VideoPress: add ClipboardButtonInput component
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-videopress-pkg-add-clipbioard-button-input-cmp
  projects/js-packages/components/components/button/index.tsx
  projects/js-packages/components/components/button/types.ts
  projects/packages/videopress/changelog/update-videopress-pkg-add-clipbioard-button-input-cmp
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/admin/components/clipboard-button-input/index.tsx
  projects/packages/videopress/src/client/admin/components/clipboard-button-input/stories/ClipboardButtonInput.mdx
  projects/packages/videopress/src/client/admin/components/clipboard-button-input/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/clipboard-button-input/style.module.scss
  projects/packages/videopress/src/client/admin/components/clipboard-button-input/types.ts
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] M, RNA, [JS Package] Components, [Package] Videopress
