Repository Automattic/jetpack, pull requests merged in 2022-11, with the labels that each got.

#27190 Jetpack: Fix CSS import that breaks themes page
  projects/plugins/jetpack/changelog/fix-jetpack-broken-themes-page
  projects/plugins/jetpack/scss/jetpack-connection-widget.scss
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#27178 VideoPress: migrate video chapters plugin
  projects/packages/videopress/changelog/update-videopress-migrate-video-chapters-plugin
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video/save.js
  projects/packages/videopress/src/client/block-editor/extend/core-embed/edit.js
  projects/packages/videopress/src/client/block-editor/extensions/index.json
  projects/packages/videopress/src/client/block-editor/global.d.ts
  projects/packages/videopress/src/client/block-editor/index.js
  projects/packages/videopress/src/client/block-editor/plugins/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.scss
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/edit.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-block-attributes/Readme.md
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-block-attributes/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item-update/Readme.md
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item-update/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item/Readme.md
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item/index.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/index.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/extract-video-chapters.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/generate-chapters-file.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/test/extract-video-chapters.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/test/generate-chapters-file.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/tracks-editor/index.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/tracks-editor/types.ts
  projects/packages/videopress/src/client/lib/url/README.md
  projects/packages/videopress/src/client/lib/url/index.ts
Labels: [Status] Ready to Merge, [Size] XL, [Block] VideoPress, [Package] Videopress

#27142 Newsletters: feature gating
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/utils.js
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#27205 actions: Fix slack-workflow-failed workflow
  .github/workflows/slack-workflow-failed.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#27218 Init 11.6-a.2 cycle
  projects/plugins/jetpack/changelog/update-jetpack-11.6-a.2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#27198 Add a link + message for subscription excerpts.
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#27215 WAF: Generate ip rules when running the update rules cron
  projects/packages/waf/changelog/fix-waf-rule-cron
  projects/packages/waf/src/class-waf-runner.php
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Package] WAF

#27221 WAF: release v0.6.9
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-waf-rule-cron
Labels: [Status] Needs Review, [Package] WAF

#27214 VideoPress: Add VideoPress video block select control component
  projects/packages/videopress/changelog/add-videopress-video-block-select-control
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/components/video-block-select-control/index.tsx
Labels: [Status] Ready to Merge, [Package] Videopress

#27231 Jetpack Boost E2E Fix: 6.1 Removed a default theme (twentytwenty)
  projects/plugins/boost/changelog/boost-fix-e2e-borken-theme
  projects/plugins/boost/tests/e2e/specs/critical-css.test.js
Labels: E2E Tests, [Plugin] Boost, [Status] Needs Test Review

#27192 VideoPress: improve the re-rendering process of the video player when editing video props
  projects/packages/videopress/changelog/update-videopress-polish-video-player-refreshing-flow
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-player/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] M, [Package] Videopress

#27182 Jetpack Sync: Add Updates module in required Sync modules
  projects/packages/backup/changelog/update-sync-minimal-config-add-updates-module
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/sync/changelog/update-sync-minimal-config-add-updates-module
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-data-settings.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/tests/php/data-test-data-settings.php
  projects/plugins/backup/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Status] Needs Test Review

#27227 VideoPress: reorganize and polish hooks to sync video Data
  projects/packages/videopress/changelog/update-videopress-reorganize-video-data-hooks
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/Readme.md
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.js
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/Readme.md
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/edit.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-block-attributes/Readme.md
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-block-attributes/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item-update/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item/index.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/hooks/use-video-item/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/tracks-editor/index.ts
Labels: [Status] Ready to Merge, [Size] L, [Package] Videopress

#27237 VideoPress: Add video chapters style control
  projects/packages/videopress/changelog/add-videopress-video-chapters-style-control
  projects/packages/videopress/src/client/block-editor/components/video-chapters-style-control/index.jsx
Labels: [Status] Ready to Merge, [Block] VideoPress, [Package] Videopress

#27174 Protect: Update and use ThemeProvider colors instead of hex values
  projects/js-packages/components/changelog/add-protect-theme-provider-colors
  projects/js-packages/components/components/theme-provider/index.tsx
  projects/plugins/protect/src/js/components/ignore-threat-modal/styles.module.scss
  projects/plugins/protect/src/js/components/modal/styles.module.scss
  projects/plugins/protect/src/js/components/notice/styles.module.scss
  projects/plugins/protect/src/js/components/severity/styles.module.scss
  projects/plugins/protect/src/js/components/threat-fix-header/styles.module.scss
  projects/plugins/protect/src/js/components/threats-list/styles.module.scss
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Components, [Plugin] Protect

#27239 JSON API: Add 1.4 to dev versions
  projects/plugins/jetpack/changelog/add-json-api-dev-1.4
  projects/plugins/jetpack/json-api-config.php
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#27241 VideoPress: Scaffolding Video Chapters block
  projects/packages/videopress/changelog/add-videopress-chapter-block
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/editor.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/editor.scss
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/save.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/view.js
  projects/packages/videopress/src/client/block-editor/extensions/index.json
  projects/packages/videopress/webpack.config.js
  projects/plugins/jetpack/changelog/add-videopress-chapter-block
  projects/plugins/jetpack/extensions/extended-blocks/videopress-video/videopress-video.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Videopress

#27175 Protect: Use --spacing-base property for layout and positioning styles
  projects/plugins/protect/src/js/components/admin-page/styles.module.scss
  projects/plugins/protect/src/js/components/alert-icon/styles.module.scss
  projects/plugins/protect/src/js/components/credentials-gate/styles.module.scss
  projects/plugins/protect/src/js/components/diff-viewer/styles.module.scss
  projects/plugins/protect/src/js/components/fix-all-threats-modal/styles.module.scss
  projects/plugins/protect/src/js/components/fix-threat-modal/styles.module.scss
  projects/plugins/protect/src/js/components/footer/styles.module.scss
  projects/plugins/protect/src/js/components/free-accordion/styles.module.scss
  projects/plugins/protect/src/js/components/ignore-threat-modal/styles.module.scss
  projects/plugins/protect/src/js/components/marked-lines/styles.module.scss
  projects/plugins/protect/src/js/components/modal/styles.module.scss
  projects/plugins/protect/src/js/components/navigation/styles.module.scss
  projects/plugins/protect/src/js/components/notice/styles.module.scss
  projects/plugins/protect/src/js/components/paid-accordion/styles.module.scss
  projects/plugins/protect/src/js/components/severity/styles.module.scss
  projects/plugins/protect/src/js/components/summary/styles.module.scss
  projects/plugins/protect/src/js/components/threat-fix-header/styles.module.scss
  projects/plugins/protect/src/js/components/threats-list/styles.module.scss
  projects/plugins/protect/src/js/components/user-connection-gate/styles.module.scss
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Protect

#27240 VideoPress: New Control in VideoPress Block to Add VideoChapters Block
  projects/packages/videopress/changelog/add-video-chapter-block
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.scss
  projects/plugins/jetpack/changelog/add-video-chapter-block
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/add-video-chapter-block
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#27244 VideoPress: Implement "Learn How" modal and notices for chapters
  projects/packages/videopress/changelog/feature-videopress-chapters-modal
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/details-control/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/learn-how-notice/index.js
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/components/learn-how-notice/index.scss
Labels: [Status] Needs Review, [Package] Videopress

#27246 VideoPress: Add initial layout for Video Chapters block
  projects/packages/videopress/changelog/add-videopress-chapter-initial-layout
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/editor.scss
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/hooks/use-chapters.js
Labels: [Status] Needs Review, [Package] Videopress

#27242 VideoPress: Add inspector controls to VideoPress Chapters block
  projects/packages/videopress/changelog/add-videopress-chapters-block-inspector-controls
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/components/inspector-controls.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/components/video-block-select-control/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/components/video-chapters-style-control/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video-chapters/edit.js
Labels: [Status] Needs Review, [Block] VideoPress, [Package] Videopress

#26934 Prompts to set up Boost after plugin activation
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/css/admin-banner.scss
  projects/plugins/boost/app/assets/src/js/api/get-started.ts
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/app/assets/src/js/stores/config.ts
  projects/plugins/boost/app/assets/static/images/boost-performance-2x.png
  projects/plugins/boost/app/assets/static/images/boost-performance.png
  projects/plugins/boost/app/assets/static/images/jetpack-colors.svg
  projects/plugins/boost/app/assets/static/images/jetpack-logo.svg
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/features/setup-prompt/Setup_Prompt.php
  projects/plugins/boost/app/features/setup-prompt/_inc/banner.php
  projects/plugins/boost/app/features/setup-prompt/_inc/dismiss-script.php
  projects/plugins/boost/app/lib/Status.php
  projects/plugins/boost/app/rest-api/endpoints/Get_Started.php
  projects/plugins/boost/changelog/add-boost-setup-prompt
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/rollup.config.js
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#27234 actions: Fix slack-workflow-failed workflow (again)
  .github/workflows/slack-workflow-failed.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#27223 Fix Super Cache / Jetpack Compatibility
  projects/packages/device-detection/changelog/auto-import-user-agent
  projects/packages/device-detection/src/class-device-detection.php
  projects/plugins/super-cache/.gitattributes
  projects/plugins/super-cache/changelog/fix-super-cache-jetpack-compatibility
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/composer.lock
  projects/plugins/super-cache/plugins/jetpack.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High, [Package] Device Detection, [Plugin] Super Cache

#27176 Protect: Add stories for recentlty added components
  projects/plugins/protect/src/js/components/diff-viewer/stories/index.jsx
  projects/plugins/protect/src/js/components/interstitial/stories/mock.js
  projects/plugins/protect/src/js/components/marked-lines/stories/index.jsx
  projects/plugins/protect/src/js/components/notice/stories/index.jsx
  projects/plugins/protect/src/js/components/severity/stories/index.jsx
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Protect

#27258 Bring External Media Endpoint in Snyc
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/changelog/sync-jetpack-class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-external-media.php
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Status] Needs Test Review

#27225 Code quality: Add break statement to switch to avoid issues down the road
  projects/plugins/jetpack/changelog/update-add-break-to-site-endpoint
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#27131 Contact Form: Update Form child blocks names
  projects/plugins/jetpack/changelog/update-form-child-blocks-names
  projects/plugins/jetpack/extensions/blocks/contact-form/child-blocks.js
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/extensions/blocks/contact-form/variations.js
  projects/plugins/jetpack/extensions/shared/block-category.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27134 Contact Form: Update block placeholder
  projects/plugins/jetpack/changelog/update-form-placeholder
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27251 [Super Cache] Exclude .phpcs.dir.xml from builds
  projects/plugins/super-cache/.gitattributes
  projects/plugins/super-cache/changelog/super-cache-exclude-phpcs-file
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#27228 Improve post-count="3" width precision
  projects/plugins/jetpack/changelog/try-fix-related-posts-grid-precision
  projects/plugins/jetpack/extensions/blocks/related-posts/style.scss
Labels: [Status] Ready to Merge, OSS Citizen, [Plugin] Jetpack, [Block] Related Posts

#27261 jetpack rsync: Config: remove "clear all" option and add an "add" option
  tools/cli/commands/rsync.js
Labels: [Status] Ready to Merge, [Tools] Development CLI

#27049 Fix `featured_image_email_enabled` option update
  projects/plugins/jetpack/changelog/fix-featured_image_email_enabled-option-update
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#27263 Remove/site editor styles entry point submenu
  projects/plugins/jetpack/changelog/remove-site-editor-styles-entry-point-submenu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: [Status] Needs Review, Masterbar, [Plugin] Jetpack

#27208 push-to-mirrors: Local testing should not require a GH token
  projects/github-actions/push-to-mirrors/changelog/fix-push-to-mirrors-local-testing
  projects/github-actions/push-to-mirrors/push-to-mirrors.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, Actions, [Action] Push To Mirrors

#27262 VideoPress: Ensure video properties exists before using them
  projects/packages/videopress/changelog/fix-ensure-video-properties-exists-before-using-them
  projects/packages/videopress/src/class-data.php
Labels: [Status] Ready to Merge, [Size] S, [Package] Videopress

#27275 VideoPress: Show message when there are no search results
  projects/packages/videopress/changelog/update-videopress-search-no-results
  projects/packages/videopress/src/client/admin/components/admin-page/libraries.tsx
  projects/packages/videopress/src/client/admin/components/admin-page/styles.module.scss
Labels: [Status] Ready to Merge, [Package] Videopress

#27277 VideoPress: Fix icon on privacy column
  projects/packages/videopress/changelog/update-videopress-list-privacy-column
  projects/packages/videopress/src/client/admin/components/video-list/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/index.tsx
  projects/packages/videopress/src/client/components/icons/crossed-eye-icon.js
  projects/packages/videopress/src/client/components/icons/filter-icon.js
  projects/packages/videopress/src/client/components/icons/uncrossed-eye-icon.js
Labels: [Status] Needs Review, [Package] Videopress

#27272 Subscriptions: change 'email followers' to 'email subscribers'
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/changelog/update-email-subscribers-card-text
Labels: Subscriptions, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Status] UI Changes

#27260 git hooks: Improve post-checkout/post-merge hook
  .husky/post-checkout
  .husky/post-merge
  tools/js-tools/git-hooks/post-merge-checkout-hook.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#27274 VideoPress: Use terabytes instead of tebibytes on the storage meter
  projects/packages/videopress/changelog/fix-use-terabytes-instead-of-tebibytes
  projects/packages/videopress/src/client/admin/components/video-storage-meter/index.tsx
  projects/packages/videopress/src/client/state/resolvers.js
Labels: [Status] Needs Review, [Size] S, [Package] Videopress

#27238 Unhide customizer from block themes
  projects/plugins/jetpack/changelog/fix-unhide-customizer-from-block-themes
  projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php
Labels: Custom CSS, [Status] Ready to Merge, [Plugin] Jetpack

#27286 Sync: Update README.md
  projects/packages/sync/README.md
  projects/packages/sync/changelog/update-sync-readme
Labels: [Status] Needs Review, [Package] Sync

#27127 Update Form child blocks to show Manage Responses section
  projects/plugins/jetpack/changelog/add-manage-responses-form-child-blocks
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-email-connection-settings.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-consent.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-controls.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-form-settings-dropdown.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-manage-responses-settings.js
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/shared/components/inspector-hint/index.jsx
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27290 VideoPress: add Site Settings section
  projects/packages/videopress/changelog/update-videopress-add-site-privacy-section-cmp
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/types.ts
Labels: [Status] Needs Review, [Size] S, [Package] Videopress

#26943 Backup: Update purchase flow to use unlinked=1
  projects/packages/backup/changelog/update-backup-connection-flow
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/backup/src/js/hooks/useConnection.js
Labels: [Status] Ready to Merge, [Package] Backup

#27030 Jetpack: Jetpack Forms as patterns
  projects/plugins/jetpack/changelog/add-form-patterns
  projects/plugins/jetpack/modules/contact-form.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#27298 Jetpack: init 11.6-a.4
  projects/plugins/jetpack/changelog/update-jetpack-init-11.6-a.4
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#27305 VideoPress: mitigate video re-rendering flickr
  projects/packages/videopress/changelog/update-videopress-mitigate-player-rerendering-flickr
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-player/index.js
Labels: [Type] Enhancement, [Status] Needs Review, [Size] S, [Block] VideoPress, [Package] Videopress

#27308 [Boost] Update plugin Author and link
  projects/plugins/boost/changelog/fix-author
  projects/plugins/boost/jetpack-boost.php
Labels: [Status] Needs Review, [Plugin] Boost

#27312 Boost: Fix get started rendering
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/lib/Premium_Pricing.php
  projects/plugins/boost/changelog/fix-get-started-rendering
Labels: Admin Page, [Status] Needs Cherry-Pick, [Plugin] Boost

#27316 Social: changelogs and readme for 1.5.0
  projects/js-packages/api/CHANGELOG.md
  projects/js-packages/api/changelog/renovate-wordpress-monorepo
  projects/js-packages/api/package.json
  projects/js-packages/base-styles/CHANGELOG.md
  projects/js-packages/base-styles/changelog/renovate-wordpress-monorepo
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-wordpress-monorepo
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-wordpress-monorepo
  projects/js-packages/connection/package.json
  projects/js-packages/i18n-loader-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/renovate-wordpress-monorepo
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/renovate-wordpress-monorepo
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/renovate-wordpress-monorepo
  projects/js-packages/licensing/package.json
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/renovate-wordpress-monorepo
  projects/js-packages/publicize-components/package.json
  projects/js-packages/shared-extension-utils/CHANGELOG.md
  projects/js-packages/shared-extension-utils/changelog/renovate-wordpress-monorepo
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-wordpress-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/renovate-wordpress-monorepo
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/renovate-wordpress-monorepo
  projects/packages/connection/src/class-package-version.php
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/changelog/renovate-wordpress-monorepo
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/renovate-wordpress-monorepo
  projects/packages/jitm/src/class-jitm.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/renovate-wordpress-monorepo
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/renovate-wordpress-monorepo
  projects/packages/publicize/package.json
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/add-wpcom-platform
  projects/plugins/social/changelog/bump-wp6.0-to-6.1
  projects/plugins/social/changelog/renovate-wordpress-monorepo
  projects/plugins/social/changelog/renovate-wordpress-monorepo#2
  projects/plugins/social/changelog/update-social-init-1.6.0
  projects/plugins/social/changelog/update-sync-minimal-config-add-updates-module
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: [Status] Needs Review, [Package] Connection, [Package] Assets, [Package] Jitm, RNA, [Package] Identity Crisis, [JS Package] Connection, [JS Package] Components, [JS Package] API, [JS Package] Base Styles, [JS Package] IDC, [JS Package] Licensing, [Package] My Jetpack, [JS Package] Webpack Config, [Package] Publicize, [JS Package] I18n Loader Webpack Plugin, [JS Package] Shared Extension Utils, [Plugin] Social, [JS Package] Publicize Components

#27146 Fix/aligment social admin page
  projects/plugins/social/changelog/fix-aligment-social-admin-page
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/info-section/index.js
  projects/plugins/social/src/js/components/info-section/styles.module.scss
  projects/plugins/social/src/js/components/support-section/index.js
  projects/plugins/social/src/js/components/support-section/styles.module.scss
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Social

#27303 VideoPress: introduce PlaybackControl component
  projects/packages/videopress/changelog/update-videopress-introduce-playback-control
  projects/packages/videopress/src/client/block-editor/blocks/video/components/inspector-controls.js
  projects/packages/videopress/src/client/block-editor/blocks/video/components/playback-control/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] Videopress

#27315 VideoPress: remove fallback video
  projects/packages/videopress/changelog/update-videopress-remove-fallback-video
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-player/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/editor.scss
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] Videopress

#27309 VideoPress: Fix and return with select thumbnail from frame
  projects/packages/videopress/changelog/fix-videopress-thumbnail
  projects/packages/videopress/src/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/packages/videopress/src/client/admin/components/video-card/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/index.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/index.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/style.module.scss
  projects/packages/videopress/src/client/state/actions.js
Labels: [Status] Ready to Merge, [Package] Videopress

#27323 Boost: Fix pricing php notices
  projects/plugins/boost/app/lib/Premium_Pricing.php
  projects/plugins/boost/changelog/fix-pricing-php-notices
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#27322 Boost: Update author for Boost again
  projects/plugins/boost/changelog/boost-update-author
  projects/plugins/boost/jetpack-boost.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#27326 RNA: Register --jp-gray-70 color in ThemeProvider
  projects/js-packages/components/changelog/add-gray-variant-to-themeprovider
  projects/js-packages/components/components/theme-provider/index.tsx
  projects/packages/videopress/changelog/add-gray-variant-to-themeprovider
  projects/packages/videopress/src/client/admin/components/edit-video-details/style.module.scss
Labels: [Status] Ready to Merge, RNA, [JS Package] Components, [Package] Videopress

#27297 VideoPress: Add file drop support after first video
  projects/packages/videopress/changelog/update-videopress-drop-videos
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/admin-page/styles.module.scss
  projects/packages/videopress/src/client/admin/components/video-upload-area/index.tsx
  projects/packages/videopress/src/client/admin/hooks/use-drop-files/index.ts
  projects/plugins/jetpack/changelog/update-videopress-drop-videos
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-videopress-drop-videos
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Videopress, [Plugin] VideoPress

#27287 Jetpack Search: Correct link to language support
  projects/packages/search/changelog/fix-jetpack-search-language-support
  projects/packages/search/src/dashboard/components/pages/upsell-page.jsx
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Search

#27104 Protect: Compute "checked" value for extensions in Scan_Status
  projects/plugins/protect/src/class-scan-status.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Blocked / Hold, [Plugin] Protect

#27330 My Jetpack: Add Jetpack Protect
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/scan-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/scan-protect-card.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/state/reducers.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/changelog/add-protect-in-my-jetpack
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] In Progress, [Package] My Jetpack

#27338 VideoPress: Disable automatic re-focus on video quick action popover close
  projects/packages/videopress/changelog/fix-videopress-quick-action-hover-popover
  projects/packages/videopress/src/client/admin/components/video-quick-actions/index.tsx
  projects/packages/videopress/src/client/admin/components/video-quick-actions/types.ts
Labels: [Status] Needs Team Review, [Package] Videopress

#27212 Unlock content based for blog Subscribers
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-unconfigured-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-offline-subscription-service.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Block] Premium Content, [Plugin] Jetpack, Memberships

#27282 fixing logged in check.
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Status] In Progress, [Block] Subscriptions, [Plugin] Jetpack

#24341 Sitemaps: align with Google deprecations
  projects/plugins/jetpack/changelog/update-image-sitemap
  projects/plugins/jetpack/modules/sitemaps/sitemap-builder.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-stylist.php
Labels: [Type] Enhancement, [Status] Ready to Merge, Sitemaps, [Plugin] Jetpack

#27325 Jetpack Boost: Fix unable to click permanent dismiss button when speed score has dropped
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/changelog/fix-score-change-modal-permanent-dismiss-not-clickable
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Boost

#27339 VideoPress: Fix broken video uploading in Full Site Editor
  projects/plugins/jetpack/changelog/fix-fse-broken-videopress-uploads
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
Labels: VideoPress, [Status] Needs Team Review, [Plugin] Jetpack, [Block] VideoPress

#27347 Prevent scrolling to the active menu item on page load
  projects/plugins/jetpack/changelog/fix-current-menu-item-prevent-scroll
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
Labels: [Status] Needs Review, Masterbar, [Plugin] Jetpack

#27345 Test results to Slack: support for repository_dispatch event
  projects/github-actions/test-results-to-slack/README.md
  projects/github-actions/test-results-to-slack/changelog/support-for-repo-dispatch
  projects/github-actions/test-results-to-slack/package.json
  projects/github-actions/test-results-to-slack/src/message.js
  projects/github-actions/test-results-to-slack/tests/message.test.js
Labels: [Status] Needs Review, Actions, [Action] Test Results to Slack, [Status] Needs Test Review

#27293 VideoPress: create endpoints to fetch and update VideoPress settings
  projects/packages/videopress/changelog/add-videopress-private-setting-endpoint
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-videopress-rest-api-v1-settings.php
Labels: [Status] Needs Review, [Status] Needs Team Review, [Package] Videopress

#27348 VideoPress: Unify file drag and drop UI
  projects/packages/videopress/changelog/update-videopress-unify-drop
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/video-upload-area/index.tsx
  projects/packages/videopress/src/client/admin/components/video-upload-area/style.module.scss
  projects/packages/videopress/src/client/admin/hooks/use-select-video-files/index.ts
Labels: [Status] Ready to Merge, [Package] Videopress

#27321 VideoPress: Fetch VideoPress settings from backend using selector/resolver
  projects/packages/videopress/changelog/add-fetch-videopress-site-privacy-setting
  projects/packages/videopress/src/client/state/actions.js
  projects/packages/videopress/src/client/state/constants.js
  projects/packages/videopress/src/client/state/reducers.js
  projects/packages/videopress/src/client/state/resolvers.js
  projects/packages/videopress/src/client/state/selectors.js
Labels: [Status] Needs Team Review, [Size] M, [Package] Videopress

#27357 VideoPress: Allow multiple files selection
  projects/packages/videopress/changelog/update-videopress-upload-multiple-files
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/video-upload-area/index.tsx
  projects/packages/videopress/src/client/state/actions.js
Labels: [Status] Ready to Merge, [Package] Videopress

#27358 Action Bar: Disable for now
  projects/plugins/jetpack/changelog/remove-action-bar-for-now
  projects/plugins/jetpack/modules/action-bar.php
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack

#27350 VideoPress: connect UI settings with data handling
  projects/packages/videopress/changelog/update-videopress-connect-settings-section
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/types.ts
  projects/packages/videopress/src/client/admin/components/video-filter/index.tsx
  projects/packages/videopress/src/client/admin/hooks/use-videopress-settings/index.ts
  projects/packages/videopress/src/client/admin/hooks/use-videopress-settings/types.ts
  projects/packages/videopress/src/client/admin/types/index.ts
  projects/packages/videopress/src/client/state/actions.js
Labels: [Status] In Progress, [Package] Videopress

#27361 VideoPress: show Settings only when user is connected
  projects/packages/videopress/changelog/update-videopress-hide-settings-when-no-connected
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/index.tsx
  projects/packages/videopress/src/client/admin/hooks/use-videopress-settings/types.ts
  projects/packages/videopress/src/client/state/actions.js
Labels: [Status] Ready to Merge, [Size] S, [Package] Videopress

#27349 VideoPress: Expose video visibility flag on VideoPress video data
  projects/packages/videopress/changelog/add-expose-video-visibility-flag-on-video-data
  projects/packages/videopress/src/class-data.php
  projects/packages/videopress/src/class-wpcom-rest-api-v2-attachment-videopress-data.php
Labels: [Status] In Progress, [Status] Ready to Merge, [Size] S, [Package] Videopress

#27363 VideoPress: Fix contributor username
  projects/plugins/videopress/changelog/fix-videopress-contributor
  projects/plugins/videopress/readme.txt
Labels: [Status] Ready to Merge, [Plugin] VideoPress

#27371 Jetpack Defusion: load wpcom specific endpoints
  projects/plugins/jetpack/changelog/update-defusion-json-endpoints
  projects/plugins/jetpack/json-endpoints.php
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#27301 Contact Form: Remove the Connection button from the Form block toolbar
  projects/plugins/jetpack/changelog/remove-form-toolbar-connection-button
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-form-settings-dropdown.js
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27111 E2E tests: add e2e project with a basic test for Jetpack Social
  .github/files/e2e-tests/create-e2e-projects-matrix.sh
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/plugins/social/changelog/add-e2e-scaffolding-for-social
  projects/plugins/social/tests/e2e/.eslintrc.cjs
  projects/plugins/social/tests/e2e/.gitignore
  projects/plugins/social/tests/e2e/.npmrc
  projects/plugins/social/tests/e2e/README.md
  projects/plugins/social/tests/e2e/config/default.cjs
  projects/plugins/social/tests/e2e/flows/connection.js
  projects/plugins/social/tests/e2e/flows/index.js
  projects/plugins/social/tests/e2e/package.json
  projects/plugins/social/tests/e2e/pages/index.js
  projects/plugins/social/tests/e2e/pages/wp-admin/jetpack-social.js
  projects/plugins/social/tests/e2e/playwright.config.cjs
  projects/plugins/social/tests/e2e/specs/connection.test.js
Labels: [Status] Ready to Merge, Actions, E2E Tests, [Plugin] Social, [Status] Needs Test Review

#27336 Jetpack test: Mock `@wordpress/block-editor` `useSetting`
  projects/plugins/jetpack/changelog/fix-mock-block-editor-useSetting
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Block] Subscriptions, [Plugin] Jetpack

#27364 VideoPress: Enable thumbnail selection from video frame on quick action
  projects/packages/videopress/changelog/update-videopress-quick-action-thumbnail-frame
  projects/packages/videopress/src/client/admin/components/video-quick-actions/index.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/index.tsx
Labels: [Status] Ready to Merge, [Package] Videopress

#26930 Jetpack Social: Add an image picker to the Jetpack Social editor panel
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/add-jetpack-social-panel-media-section
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/styles.module.scss
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/hooks/use-attached-media/README.md
  projects/js-packages/publicize-components/src/hooks/use-attached-media/index.js
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/store/selectors.js
  projects/packages/backup/changelog/add-jetpack-social-panel-save-attached-media
  projects/packages/backup/composer.json
  projects/packages/publicize/changelog/add-jetpack-social-panel-save-attached-media
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/sync/changelog/add-jetpack-social-panel-save-attached-media
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
  projects/plugins/jetpack/changelog/add-jetpack-social-panel-media-section
  projects/plugins/jetpack/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/search/jetpack-search.php
  projects/plugins/social/changelog/add-jetpack-social-panel-media-section
  projects/plugins/social/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/package.json
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/starter-plugin/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-jetpack-social-panel-save-attached-media
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, RNA, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Package] Publicize, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [JS Package] Publicize Components, [Plugin] VideoPress

#27288 E2E tests: run tests on updates in mirror repos
  .github/files/mirror-.github/workflows/e2e-tests.yml
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions

#27344 Hide comments based on newsletter setting
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#27341 Update Jetpack Search readme
  projects/plugins/search/changelog/update-jetpack-search-readme
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/readme.txt
Labels: [Status] Needs Author Reply, Search, [Status] Needs Team Review, [Plugin] Search

#27342 Boost: Sync readme (from boost/branch-1.5.4)
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/boost-fix-e2e-borken-theme
  projects/plugins/boost/changelog/fix-author
  projects/plugins/boost/changelog/fix-get-started-rendering
  projects/plugins/boost/changelog/fix-pricing-php-notices
  projects/plugins/boost/changelog/update-readme
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Boost

#27329 Dashboard: Remove the user license activation notice
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/user-license-activation.jsx
  projects/plugins/jetpack/changelog/remove-user-license-activation-notice
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#27381 VideoPress: add Color Panel component
  pnpm-lock.yaml
  projects/packages/videopress/changelog/update-videopress-v6-rename-colors-control
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/components/inspector-controls.js
  projects/packages/videopress/src/client/block-editor/blocks/video/components/playback-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/seekbar-color-settings.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
Labels: [Status] Ready to Merge, [Size] M, [Block] VideoPress, [Package] Videopress

#27378 VideoPress: Allow keyboard navigation on video quick actions
  projects/packages/videopress/changelog/update-videopress-videos-tab
  projects/packages/videopress/src/client/admin/components/video-card/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-row/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/stats.tsx
  projects/packages/videopress/src/client/admin/components/video-row/style.module.scss
Labels: [Focus] Accessibility, [Status] Ready to Merge, [Package] Videopress

#27385 VideoPress: rename Match video title with Dynamic color
  projects/packages/videopress/changelog/update-videopress-rename-match-video-panel-section
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/index.tsx
Labels: [Status] Ready to Merge, [Block] VideoPress, [Package] Videopress

#27211 VideoPress: Add support for new token bridge request id and token `ack` messages
  projects/packages/videopress/changelog/update-videopress-token-bridge-requestId-info-ack-messages
  projects/packages/videopress/src/client/lib/videopress-token-bridge.js
Labels: [Status] Ready to Merge, [Package] Videopress

#27374 Rework plan gifting banner option default behavior
  projects/plugins/jetpack/changelog/update-gifting-option-default
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#27151 Jetpack: Add form wrapper alignment control
  projects/plugins/jetpack/changelog/add-form-wrapper-alignment-control
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: Contact Form, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27394 Protect: Fixed undefined credentials property warning
  projects/plugins/protect/src/class-credentials.php
Labels: [Status] In Progress, [Plugin] Protect

#27380 VideoPress: Use playback tokens to get resources when the VideoPress site privacy is set to private
  projects/packages/videopress/changelog/fix-use-playback-token-when-site-is-private
  projects/packages/videopress/src/class-data.php
  projects/packages/videopress/src/class-wpcom-rest-api-v2-attachment-videopress-data.php
  projects/packages/videopress/src/client/admin/hooks/use-playback-token/index.ts
  projects/packages/videopress/src/client/admin/types/index.ts
  projects/packages/videopress/src/client/state/resolvers.js
  projects/packages/videopress/src/client/state/utils/map-videos.ts
Labels: [Status] Needs Team Review, [Size] M, [Package] Videopress

#27402 VideoPress: Disable actions when user is disconnected or there is no connected site owner
  projects/packages/videopress/changelog/update-videopress-disconnected-user-upload
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/index.tsx
  projects/packages/videopress/src/client/admin/components/video-card/index.tsx
  projects/packages/videopress/src/client/admin/components/video-filter/index.tsx
  projects/packages/videopress/src/client/admin/components/video-quick-actions/index.tsx
  projects/packages/videopress/src/client/admin/components/video-quick-actions/types.ts
  projects/packages/videopress/src/client/admin/components/video-row/index.tsx
  projects/packages/videopress/src/client/admin/hooks/use-permission/index.ts
  projects/packages/videopress/src/client/admin/hooks/use-playback-token/index.ts
Labels: [Status] Ready to Merge, [Package] Videopress

#27247 Stats: Add stats-admin package
  pnpm-lock.yaml
  projects/packages/stats-admin/.gitattributes
  projects/packages/stats-admin/.gitignore
  projects/packages/stats-admin/.phpcs.dir.xml
  projects/packages/stats-admin/CHANGELOG.md
  projects/packages/stats-admin/README.md
  projects/packages/stats-admin/changelog/.gitkeep
  projects/packages/stats-admin/changelog/add-stats-admin-package
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/phpunit.xml.dist
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats-admin/tests/php/bootstrap.php
  projects/packages/stats-admin/tests/php/class-test-case.php
  projects/packages/stats-admin/tests/php/test-rest-controller.php
  projects/packages/stats-admin/tests/php/test-stats-dashboard.php
  projects/plugins/jetpack/changelog/add-stats-admin-package
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, WPCOM API, [Status] Needs Team Review, [Plugin] Jetpack, [Status] Needs Test Review, [Package] Stats Admin

#27414 E2E tests: disable broke search test
  projects/plugins/search/changelog/e2e-disable-search-test
  projects/plugins/search/tests/e2e/specs/search-dashboard.test.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Search, [Status] Needs Test Review

#27384 E2E tests: use mirror repo in tests
  .github/files/e2e-tests/create-e2e-projects-matrix.sh
  .github/files/e2e-tests/map-plugins-for-e2e-env.sh
  .github/workflows/e2e-tests.yml
Labels: [Status] In Progress, Actions

#26903 Jetpack: Add Salesforce Lead form template
  projects/plugins/jetpack/3rd-party/3rd-party.php
  projects/plugins/jetpack/3rd-party/class-salesforce-lead-form.php
  projects/plugins/jetpack/changelog/add-salesforce-form-template
  projects/plugins/jetpack/extensions/blocks/contact-form/attributes.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/contact-form/test/fixtures/jetpack__contact-form__deprecated-2.json
  projects/plugins/jetpack/extensions/index.json
Labels: Contact Form, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form, Compatibility

#27417 E2E tests: fix e2e workflow condition
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions

#27337 Contact Form: Update Form block placeholder to include the patterns modal
  projects/plugins/jetpack/changelog/include-patterns-modal-to-form-placeholder
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
Labels: [Status] Needs Review, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form

#27422 E2E tests: update setup for mirrors
  .github/files/e2e-tests/map-plugins-for-e2e-env.sh
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions

#27412 VaultPress: Rename plugin to Jetpack VaultPress
  projects/plugins/vaultpress/changelog/update-vp-plugin-rebranding-readme
  projects/plugins/vaultpress/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] VaultPress

#27411 Backup: Rename plugin to Jetpack VaultPress Backup
  projects/plugins/backup/changelog/update-jpbu-plugin-rebranding-readme
  projects/plugins/backup/readme.txt
Labels: [Plugin] Backup

#27399 Search: port search 1.3.1 changelog
  projects/plugins/search/CHANGELOG.md
  projects/plugins/search/changelog/update-port-search-1.3.1-changelog
  projects/plugins/search/composer.json
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/readme.txt
Labels: [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#27425 Protect: Sync jetpack_main_network_site option
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Protect

#27372 Jetpack Search: show free plan nudge to classic search users
  projects/packages/search/changelog/link-jetpack-search-free-for-classic-search-users
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/module-control/index.jsx
  projects/packages/search/src/dashboard/components/pages/dashboard-page.jsx
  projects/packages/search/src/dashboard/components/upsell-nudge/index.jsx
  projects/plugins/jetpack/changelog/add-jetpack-search-free-for-classic
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/add-jetpack-search-free-for-classic
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: [Status] In Progress, Search, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#27264 Add global js flag to disable window.pushState
  projects/packages/search/changelog/add-flag-to-disable-pushState-changes
  projects/packages/search/src/instant-search/lib/query-string.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#27355 Protect: Fix checks for paid plan
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/class-plan.php
  projects/plugins/protect/src/class-protect-status.php
  projects/plugins/protect/src/class-scan-status.php
  projects/plugins/protect/src/class-status.php
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/footer/index.jsx
  projects/plugins/protect/src/js/components/summary/index.jsx
  projects/plugins/protect/src/js/components/threats-list/index.jsx
  projects/plugins/protect/src/js/components/threats-list/navigation.jsx
  projects/plugins/protect/src/js/hooks/use-protect-data/index.js
  projects/plugins/protect/src/js/state/actions.js
  projects/plugins/protect/src/js/state/reducers.js
  projects/plugins/protect/src/js/state/selectors.js
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Protect

#27138 Jetpack: add custom validity for input type URL
  projects/plugins/jetpack/changelog/change-form-url-input-validation
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, [Status] Ready to Merge, Unit Tests, [Plugin] Jetpack, [Status] Needs Test Review

#27404 VideoPress: Fix thumb selector error when video or site are private
  projects/packages/videopress/changelog/fix-set-playback-token-on-video-file-url
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/state/actions.js
  projects/packages/videopress/src/client/state/resolvers.js
Labels: [Status] Ready to Merge, [Size] M, [Package] Videopress

#27440 E2E tests: run all relevant e2e tests on updates in mirror repos
  .github/files/e2e-tests/create-e2e-projects-matrix.sh
  .github/files/e2e-tests/e2e-matrix.js
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions

#27415 VideoPress: add "Rating control" to v6
  projects/packages/videopress/changelog/update-videopress-implement-rating-control
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/components/privacy-and-rating-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.js
  projects/packages/videopress/src/client/state/constants.js
Labels: [Status] Needs Team Review, [Size] M, [Block] VideoPress, [Package] Videopress

#27419 VideoPress: TypeScriptify code
  projects/packages/videopress/changelog/update-videopress-tscriptify-use-video-data-update-and-more
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/types.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/generate-chapters-file.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/tracks-editor/index.ts
  projects/packages/videopress/src/client/block-editor/plugins/video-chapters/utils/tracks-editor/types.ts
  projects/packages/videopress/src/client/lib/url/index.ts
  projects/packages/videopress/src/client/types.ts
Labels: [Status] Ready to Merge, [Type] Janitorial, [Block] VideoPress, [Package] Videopress

#27435 VideoPress: fix issue when setting video privacy
  projects/packages/videopress/changelog/update-videopress-fix-setting-privacy-issue
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
Labels: [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] Videopress

#27420 VideoPress: implement "Allow download" control to v6
  projects/packages/videopress/changelog/update-videopress-add-allow-download-control
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/components/privacy-and-rating-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
Labels: [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] Videopress

#27447 E2E tests: checkout specific ref of mirror repo
  .github/workflows/e2e-tests.yml
Labels: [Status] In Progress, [Status] Needs Review, Actions

#27449 RNA: Fix Button style on tertiary variant when disabled
  projects/js-packages/components/changelog/fix-button-disabled-style
  projects/js-packages/components/components/button/index.tsx
Labels: [Status] Ready to Merge, RNA, [JS Package] Components

#27428 VideoPress: add "Details panel" to v6
  projects/packages/videopress/changelog/update-videopress-add-details-panel
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.js
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/types.ts
Labels: [Status] Needs Team Review, [Size] M, [Block] VideoPress, [Package] Videopress

#27430 Search: Fix search dashboard E2E after new pricing
  projects/plugins/search/changelog/fix-search-e2e-after-new-pricing
  projects/plugins/search/tests/e2e/specs/search-dashboard.test.js
  tools/e2e-commons/plugins/e2e-search-test-helper.php
Labels: [Status] Ready to Merge, Search, E2E Tests, [Plugin] Search, [Status] Needs Test Review

#27407 Cleanup after de-Fusioning
  projects/plugins/jetpack/changelog/update-cleanup-after-defusioning
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-publicize-share-post.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-transient.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-class.service-api-keys.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-class.subscribers-endpoint.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-endpoints-accessibility.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-modules-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-site-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-sync-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-plugins-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-post-jetpack.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-update-post-endpoints.php
  projects/plugins/jetpack/tests/php/json-api/test-class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/tests/php/json-api/test_class.json-api-platform-jetpack.php
  projects/plugins/jetpack/tests/php/lib/wpcom-helper-functions.php
  projects/plugins/jetpack/tests/php/media/test-class.jetpack-media-extractor.php
  projects/plugins/jetpack/tests/php/media/test-class.jetpack-post-images.php
  projects/plugins/jetpack/tests/php/modules/carousel/test-class.jetpack-carousel.php
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
  projects/plugins/jetpack/tests/php/modules/csstidy/test-class.jetpack-csstidy.php
  projects/plugins/jetpack/tests/php/modules/google-analytics/test-class.google-analytics.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-color-schemes.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-additional-css-manager.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-base-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-css-customizer-nudge.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-css-nudge-customize-control.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-dashboard-switcher-tracking.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-domain-only-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-posts-list-page-notification.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-additional-css-manager.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-user-profile-fields-revert.php
  projects/plugins/jetpack/tests/php/modules/photon/test_class.jetpack-photon-static-asset-cdn.php
  projects/plugins/jetpack/tests/php/modules/seo-tools/test-class.jetpack.seo-titles.php
  projects/plugins/jetpack/tests/php/modules/sharedaddy/test-class.recaptcha.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.slideshow.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-buffer.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-constants.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-finder.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-librarian.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemap-stylist.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/test-class.sitemaps.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
  projects/plugins/jetpack/tests/php/modules/widget-visibility/test_widget-visibility.php
  projects/plugins/jetpack/tests/php/modules/widgets/test_contact-info-widget.php
  projects/plugins/jetpack/tests/php/modules/widgets/test_social-icons-widget.php
  projects/plugins/jetpack/tests/php/modules/wpcom-block-editor/test_class-jetpack-wpcom-block-editor.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-meta.php
  tools/test-on-wpcom
Labels: Sharing, Subscriptions, Carousel, Contact Form, Widget Visibility, Shortcodes / Embeds, Extra Sidebar Widgets, Photon, [Status] Needs Review, Unit Tests, Sitemaps, [Type] Janitorial, SEO Tools, [Pri] Normal, Google Analytics, Masterbar, WordPress.com Block Editor, [Plugin] Jetpack, [Status] Needs Test Review, Csstidy

#27438 VideoPress: Add "learn how" chapters modal
  projects/packages/videopress/changelog/update-videopress-add-how-learn-chapters-modal
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/learn-how-notice/index.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/learn-how-notice/index.tsx
  projects/packages/videopress/src/client/block-editor/index.js
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] Videopress

#27454 Protect: Fix rendering of pricing page when no introductory offer is available
  projects/plugins/protect/changelog/fix-protect-without-introductory-offer
  projects/plugins/protect/src/js/components/pricing-table/index.jsx
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#27465 VaultPress: Add a note to README that VaultPress is deprecated
  projects/plugins/vaultpress/changelog/update-vp-plugin-depreciation-notice
  projects/plugins/vaultpress/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] VaultPress

#27090 WAF: Update reading values from targets
  projects/packages/waf/changelog/fix-waf-rules-enable-regex-targets
  projects/packages/waf/src/class-waf-request.php
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/src/functions.php
  projects/packages/waf/tests/php/test-waf-request.php
  projects/packages/waf/tests/php/test-waf-runtime-targets.php
  projects/packages/waf/tests/php/test-waf-runtime.php
Labels: [Status] Needs Review, [Package] WAF, [Status] Needs Test Review

#27052 Dashboard: Fix/admin console warnings
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/monitor.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/photon.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/protect.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/search.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/videopress.jsx
  projects/plugins/jetpack/_inc/client/components/dash-item/style.scss
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/changelog/fix-admin-console-warnings
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#27456 JS Components: Allow null offPrice values in ProductPrice
  projects/js-packages/components/changelog/allow-null-offPrice
  projects/js-packages/components/components/product-price/index.tsx
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Components

#27457 VideoPress: Update the list of video file extensions allowed on VideoPress
  projects/packages/videopress/changelog/fix-update-allowed-videopress-file-extensions
  projects/packages/videopress/src/class-admin-ui.php
Labels: [Status] Ready to Merge, [Size] S, [Package] Videopress

#27446 Jetpack Sync: Add endpoint for resetting Sync locks
  projects/packages/backup/changelog/sync-add-reset-endpoint
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/sync-add-reset-endpoint
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/tests/php/test-actions.php
  projects/packages/sync/tests/php/test-rest-endpoints.php
  projects/plugins/backup/changelog/sync-add-reset-endpoint
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/sync-add-reset-endpoint
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/sync-add-reset-endpoint
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/sync-add-reset-endpoint
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/sync-add-reset-endpoint
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/sync-add-reset-endpoint
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/sync-add-reset-endpoint
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Status] Needs Test Review

#27450 VideoPress: Add feedback link to both VideoPress blocks
  projects/packages/videopress/changelog/add-videopress-blocks-feedback-link
  projects/packages/videopress/src/client/block-editor/blocks/video/components/playback-panel/index.tsx
  projects/plugins/jetpack/changelog/add-videopress-blocks-feedback-link
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] VideoPress, [Package] Videopress, [Plugin] VideoPress

#27470 Fix FAQ Question
  projects/plugins/backup/changelog/fix-realtime-backups-faqs
  projects/plugins/backup/readme.txt
Labels: [Status] Ready to Merge, [Type] Happiness Request, [Plugin] Backup

#27413 [JS Packages] Connection: Style ManageConnectionDialog component
  pnpm-lock.yaml
  projects/js-packages/connection/changelog/add-manage-connection-dialog-styling
  projects/js-packages/connection/components/manage-connection-dialog/index.jsx
  projects/js-packages/connection/components/manage-connection-dialog/style.scss
  projects/js-packages/connection/package.json
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection, [Package] My Jetpack

#27187 Custom CSS: Removing Custom CSS Legacy Migration
  projects/plugins/jetpack/changelog/update-customcss-remove-migration
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/modules/custom-css.php
  projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php
  projects/plugins/jetpack/modules/custom-css/custom-css.php
  projects/plugins/jetpack/modules/custom-css/custom-css/css/css-editor.css
  projects/plugins/jetpack/modules/custom-css/custom-css/css/rtl/codemirror-rtl.css
  projects/plugins/jetpack/modules/custom-css/custom-css/css/use-codemirror.css
  projects/plugins/jetpack/modules/custom-css/custom-css/js/core-customizer-css.js
  projects/plugins/jetpack/modules/custom-css/custom-css/js/css-editor.js
  projects/plugins/jetpack/modules/custom-css/custom-css/js/use-codemirror.js
  projects/plugins/jetpack/modules/custom-css/migrate-to-core.php
  projects/plugins/jetpack/tools/webpack.config.css.js
Labels: Custom CSS, [Status] Ready to Merge, [Plugin] Jetpack

#27466 E2E tests: update runs for jetpack-production and add report metadata
  .github/files/e2e-tests/e2e-matrix.js
  .github/files/e2e-tests/report-metadata.sh
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions

#27458 Protect: Fix polling after manual scan is triggered
  projects/plugins/protect/changelog/fix-protect-manual-scan-polling
  projects/plugins/protect/src/js/state/actions.js
Labels: [Type] Bug, [Plugin] Protect

#27459 Protect: Add singular and plural translation options
  projects/plugins/protect/changelog/add-protect-singular-vs-plural-translations
  projects/plugins/protect/src/js/components/threats-list/empty.jsx
Labels: [Status] In Progress, [Status] Ready to Merge, [Plugin] Protect

#27460 Protect: Fix checkStatus
  projects/plugins/protect/changelog/fix-protect-check-status
  projects/plugins/protect/src/js/state/actions.js
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#27434 Sync: add launch-status to synced options
  projects/packages/sync/changelog/add-launch-status-option-sync
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-launch-status-option-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Status] Needs Test Review

#27482 Protect: Release Cycle for 1.1.1-alpha
  projects/plugins/protect/changelog/protect-1-1-1-alpha-cycle
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
Labels: [Status] Needs Review, [Plugin] Protect

#27461 [Boost] Prevent phantom discount display
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/fix-boost-phantom-discount
Labels: [Status] Needs Team Review, [Plugin] Boost

#27313 Jeptack Boost: Image Guide
  projects/plugins/boost/.eslintrc.cjs
  projects/plugins/boost/.gitignore
  projects/plugins/boost/.prettierrc.js
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/features/image-guide/Image_Guide.php
  projects/plugins/boost/app/features/image-guide/src/Attach.ts
  projects/plugins/boost/app/features/image-guide/src/ImageObserver.ts
  projects/plugins/boost/app/features/image-guide/src/Images.ts
  projects/plugins/boost/app/features/image-guide/src/Measurements.ts
  projects/plugins/boost/app/features/image-guide/src/index.ts
  projects/plugins/boost/app/features/image-guide/src/types.ts
  projects/plugins/boost/app/features/image-guide/src/ui/AdminBarToggle.svelte
  projects/plugins/boost/app/features/image-guide/src/ui/Bubble.svelte
  projects/plugins/boost/app/features/image-guide/src/ui/ImageGuide.svelte
  projects/plugins/boost/app/features/image-guide/src/ui/JetpackLogo.svelte
  projects/plugins/boost/app/features/image-guide/src/ui/Main.svelte
  projects/plugins/boost/app/features/image-guide/src/ui/StateStore.ts
  projects/plugins/boost/app/features/optimizations/Optimizations.php
  projects/plugins/boost/changelog/boost-add-image-guide
  projects/plugins/boost/rollup-tsconfig.json
  projects/plugins/boost/rollup.config.js
  projects/plugins/boost/tsconfig.json
Labels: [Status] In Progress, [Plugin] Boost

#27268 Add tracks events for viewing upgrade opportunities
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PremiumCTA.svelte
  projects/plugins/boost/changelog/add-first-use-view
Labels: [Status] Needs Team Review, [Plugin] Boost

#27327 JITMS: Adding jp-admin-notices IDs for the Boost plugin
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/changelog/add-jitm-boost-search-videopress
  projects/plugins/boost/changelog/add-jitm-boost-search-videopress#2
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Boost

#27494 E2E tests: always write report metadata
  .github/files/e2e-tests/report-metadata.sh
  .github/workflows/e2e-tests.yml
Labels: [Status] Needs Review, Actions
