Repository Automattic/jetpack, pull requests merged in 2022-06, with the labels that each got.

#24576 Search: don't open modal if only sort parameter is set
  projects/packages/search/changelog/fix-sort-triggers-search-overlay
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/store/selectors.js
  projects/packages/search/src/instant-search/store/test/selectors.test.js
  projects/plugins/jetpack/changelog/fix-sort-triggers-search-overlay
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/fix-sort-triggers-search-overlay
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: [Status] Needs Review, Search, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#24584 Boost: Update checkout redirection to yearly package
  projects/plugins/boost/app/assets/src/js/utils/upgrade.ts
  projects/plugins/boost/changelog/update-checkout-to-yearly
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium

#24517 Boost: Add cloud css cron
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS_Cron.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_Invalidator.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/changelog/add-cloud-css-cron
Labels: [Status] Needs Team Review, [Plugin] Boost

#24570 boost: Remove unused JS dep `npm-run-all`
  pnpm-lock.yaml
  projects/plugins/boost/changelog/remove-npm-run-all
  projects/plugins/boost/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Boost

#24518 RecordMeterBar Component: Adds a prop to sort items by count value
  projects/js-packages/components/changelog/update-record-meter-bar-component-add-sorting
  projects/js-packages/components/components/record-meter-bar/index.tsx
  projects/js-packages/components/components/record-meter-bar/stories/index.tsx
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24346 Search: update notice box styling for Record Meter
  projects/packages/search/changelog/update-search-record-meter-notice-box
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/style.scss
  projects/packages/search/src/dashboard/components/record-meter/test/notice-box.test.jsx
Labels: Search, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Search

#24615 Wpvideo shortcode: fix useAverageColor parameter handling for "false"
  projects/plugins/jetpack/changelog/fix-wpvideo-shortcode-useaveragecolor
  projects/plugins/jetpack/modules/videopress/class.videopress-player.php
  projects/plugins/jetpack/modules/videopress/shortcode.php
Labels: [Type] Bug, Shortcodes / Embeds, VideoPress, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#24579 Fix ESLint config for TypeScript files
  projects/js-packages/components/changelog/fix-eslint-typescript
  projects/js-packages/components/components/text/types.ts
  projects/plugins/boost/.eslintrc.cjs
  projects/plugins/boost/changelog/fix-eslint-typescript
  tools/js-tools/eslintrc/base.js
  tools/js-tools/eslintrc/svelte.js
  tools/js-tools/eslintrc/typescript.js
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components, [Plugin] Boost, [Tools] Monorepo Setup

#24621 Protect FAQ updates
  projects/plugins/protect/changelog/add-protect-faq-updates
  projects/plugins/protect/readme.txt
Labels: [Status] Needs Review, [Plugin] Protect

#24607 WAF: Disable on atomic
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/add-suppress-waf-on-atomic
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Package] WAF, Atomic

#24624 WAF: release a new version
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/add-suppress-waf-on-atomic
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] WAF

#24627 Switch WPCS to a fork
  composer.json
  composer.lock
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#24609 Search: avoid search query on component mount
  projects/packages/search/changelog/fix-avoid-query-when-invisible
  projects/packages/search/src/instant-search/components/search-app.jsx
Labels: Search, [Status] Needs Team Review, [Plugin] Search, [Package] Search

#24557 Publicize: Configure Publicize only if the Publicize Module is active.
  projects/plugins/jetpack/changelog/update-configure-publicize
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
  projects/plugins/jetpack/tests/php/modules/publicize/test_class.publicize.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-base.php
Labels: Publicize, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Plugin] Social

#24629 Related Posts: avoid using strings in array_values
  projects/plugins/jetpack/changelog/fix-related-posts-fatals
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, Related Posts, [Status] Needs Review, [Type] Dotcom Merge, [Status] Tested on WP.com, Touches WP.com Files, [Pri] Normal, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#24343 Add new Recipe block to Jetpack
  projects/plugins/jetpack/changelog/add-recipe-block
  projects/plugins/jetpack/extensions/blocks/recipe/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/class-jetpack-recipe-block.php
  projects/plugins/jetpack/extensions/blocks/recipe/details/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/editor.scss
  projects/plugins/jetpack/extensions/blocks/recipe/details/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/editor.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/icon.js
  projects/plugins/jetpack/extensions/blocks/recipe/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/editor.scss
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/recipe.php
  projects/plugins/jetpack/extensions/blocks/recipe/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/editor.scss
  projects/plugins/jetpack/extensions/blocks/recipe/steps/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/style.scss
  projects/plugins/jetpack/extensions/blocks/recipe/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Feature, [Plugin] Jetpack, [Block] Recipe

#24633 WAF: Change the run.php hook to plugins_loaded
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/fix-waf-run-hook
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Package] WAF

#24640 [Boost] External links updated in plugin
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Tips.svelte
  projects/plugins/boost/changelog/external links through redirect service
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Boost

#24630 Boost: Re-fetch premium status on new connection
  projects/plugins/boost/app/assets/src/js/pages/connection/Connection.svelte
  projects/plugins/boost/app/assets/src/js/stores/connection.ts
  projects/plugins/boost/app/assets/src/js/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/utils/connection.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/rest-api/endpoints/Optimizations_Status.php
  projects/plugins/boost/changelog/update-boost-post-connection-tasks
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Cloud CSS, [Boost Feature] Boost Premium

#24644 WAF: prepare new release for Jetpack 11.0
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-waf-run-hook
Labels: [Status] Needs Review, [Type] Janitorial, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Package] WAF

#24637 git: pre-commit hook shouldn't check files twice
  tools/js-tools/git-hooks/pre-commit-hook.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal

#24645 Form: support saving array of data, such as multiple checkboxes
  projects/plugins/jetpack/changelog/fix-contact-form-checkboxes-24625
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] In Progress, Touches WP.com Files, [Pri] High, [Plugin] Jetpack, [Block] Contact Form

#24631 Custom CSS: Adding a check for WoA sites to prevent duplicate menu items
  projects/plugins/jetpack/changelog/fix-customcss-menu-woa
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Type] Bug, Custom CSS, [Status] Ready to Merge, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#24647 Boost: Fix connection e2e tests
  projects/plugins/boost/changelog/fix-e2e-tests
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Boost

#24634 cli: Remove js-test-runner from js-package skeleton
  tools/cli/commands/generate.js
  tools/cli/skeletons/js-packages/.nycrc
  tools/cli/skeletons/js-packages/src/index.js
  tools/cli/skeletons/js-packages/test-main.jsx
  tools/cli/skeletons/js-packages/tests/.eslintrc.cjs
  tools/cli/skeletons/js-packages/tests/index.test.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#24635 cli: Use jest for tests
  pnpm-lock.yaml
  tools/cli/helpers/promptForProject.js
  tools/cli/package.json
  tools/cli/tests/integration/commands/build.test.js
  tools/cli/tests/integration/commands/commands.test.js
  tools/cli/tests/integration/helpers/github.test.js
  tools/cli/tests/runner.js
  tools/cli/tests/unit/helpers/dependencyAnalysis.test.js
  tools/cli/tests/unit/helpers/filter-stream.test.js
  tools/cli/tests/unit/helpers/format-duration.test.js
  tools/cli/tests/unit/helpers/github.test.js
  tools/cli/tests/unit/helpers/json.test.js
  tools/cli/tests/unit/helpers/mergeDirs.test.js
  tools/cli/tests/unit/helpers/prefix-stream.test.js
  tools/cli/tests/unit/helpers/projectHelpers.test.js
  tools/cli/tests/unit/helpers/promptForProjects.test.js
  tools/cli/tests/unit/helpers/styling.test.js
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#24649 cli: Only run cli tests, not tests in the skeletons
  tools/cli/package.json
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Tools] Development CLI

#24510 JS Component: move Product offer placeholder above button
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-product-offer-error-placeholder
  projects/js-packages/components/components/alert/style.module.scss
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-product-offer-error-placeholder
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-product-offer-error-placeholder
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-product-offer-error-placeholder
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/update-product-offer-error-placeholder
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/publicize-components/changelog/update-product-offer-error-placeholder
  projects/js-packages/publicize-components/package.json
  projects/js-packages/storybook/changelog/update-product-offer-error-placeholder
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/update-product-offer-error-placeholder
  projects/packages/backup/package.json
  projects/packages/my-jetpack/changelog/update-product-offer-error-placeholder
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-product-offer-error-placeholder
  projects/packages/search/package.json
  projects/packages/wordads/changelog/update-product-offer-error-placeholder
  projects/packages/wordads/package.json
  projects/plugins/boost/changelog/update-product-offer-error-placeholder
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/update-product-offer-error-placeholder
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/update-product-offer-error-placeholder
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/update-product-offer-error-placeholder
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/update-product-offer-error-placeholder
  projects/plugins/starter-plugin/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [JS Package] Publicize Components

#24322 Search: replace ChartJS with Jetpack RecordMeterBar component in Record Meter
  projects/packages/search/changelog/try-search-record-meter-jp-chart-component
  projects/packages/search/src/dashboard/components/record-meter/bar-chart.jsx
  projects/packages/search/src/dashboard/components/record-meter/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/search/src/dashboard/components/record-meter/style.scss
  projects/packages/search/src/dashboard/components/record-meter/test/index.test.jsx
  projects/packages/search/src/dashboard/components/record-meter/test/record-info.test.jsx
Labels: [Status] Needs Author Reply, Search, [Status] Needs Team Review, [Package] Search

#24658 Search: Remove unused chart.js from search package
  pnpm-lock.yaml
  projects/packages/search/changelog/remove-chartjs-from-search-pkg
  projects/packages/search/package.json
Labels: Touches WP.com Files, [Type] Janitorial, Search, [Status] Needs Team Review, [Package] Search

#24616 Add allow="clipboard-write" in VideoPress iframe embed to fix clipboard API in Chrome
  projects/plugins/jetpack/changelog/fix-videopress-copy-button-chrome
  projects/plugins/jetpack/modules/videopress/class.videopress-player.php
Labels: VideoPress, [Status] Needs Team Review, [Plugin] Jetpack

#24622 Related posts: use latest core function to check block-based theme
  projects/packages/blocks/changelog/fix-related-posts-fse
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
Labels: [Type] Bug, Related Posts, [Status] Ready to Merge, [Pri] Normal, Gutenberg, [Package] Blocks, [Block] Related Posts, Full Site Editing

#24660 GitHub Actions: Updating autotagger.yml to act on a push to trunk as well as master
  .github/files/gh-autotagger/workflows/autotagger.yml
Labels: [Status] Ready to Merge, Actions

#24512 WPcom: adjust filter for comment counts used in Calypso
  projects/plugins/jetpack/changelog/add-jetpack-api-include-comment-types-count
  projects/plugins/jetpack/class.json-api.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#24641 WAF: Add support links and more information
  projects/plugins/jetpack/_inc/client/security/style.scss
  projects/plugins/jetpack/_inc/client/security/waf.jsx
  projects/plugins/jetpack/changelog/add-support-links
  projects/plugins/jetpack/modules/module-info.php
Labels: [Type] Enhancement, [Status] Needs Design Review, Admin Page, [Plugin] Jetpack, [Status] Design Input Requested, [Package] WAF

#24642 WAF: Update messaging for sites without latest rules access
  projects/plugins/jetpack/_inc/client/security/style.scss
  projects/plugins/jetpack/_inc/client/security/waf.jsx
  projects/plugins/jetpack/changelog/update-waf-upgrade-messaging
Labels: [Type] Enhancement, [Status] Needs Design Review, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Status] Design Input Requested, [Package] WAF

#24668 Search: fix fill color for gridicons in dark mode in Customberg
  projects/packages/search/changelog/fix-customberg-post-type-icon
  projects/packages/search/src/customberg/styles.scss
Labels: Search, [Status] Needs Team Review, [Package] Search

#24667 Fix bug preventing images in payment buttons
  projects/plugins/jetpack/changelog/fix-payment-block-regex
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Plugin] Jetpack

#24655 E2E Tests: Log start/finish of the test execution
  tools/e2e-commons/config/default.cjs
  tools/e2e-commons/config/playwright.config.default.cjs
  tools/e2e-commons/reporters/reporter.cjs
Labels: [Status] Needs Review, E2E Tests

#24669 Backport readme and changelog edits from 11.0 branch
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-backport-changes-11.0
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24663 Add p2 hub integrations sidebar menu item
  projects/plugins/jetpack/changelog/add-p2-integrations-menu-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#24673 Jetpack: init 11.1-a.2
  projects/plugins/jetpack/changelog/update-jetpack-init-11.1-a.2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24674 Jetpack: 11.1-a.1 changelog editorial
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-jp-11.1-a.1-changelog-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24672 Beta: Preparing the new Beta Tester plugin release
  projects/plugins/beta/CHANGELOG.md
  projects/plugins/beta/changelog/2022-03-09-12-05-34-499604
  projects/plugins/beta/changelog/2022-04-12-14-16-42-370110
  projects/plugins/beta/changelog/add-beta-plugin-update-uri
  projects/plugins/beta/changelog/fix-beta-download-with-v
  projects/plugins/beta/changelog/fix-beta-plugin-links
  projects/plugins/beta/changelog/fix-composer-dep-or
  projects/plugins/beta/changelog/fix-non-jetpack-WordPress.Security.ValidatedSanitizedInput
  projects/plugins/beta/changelog/remove-upgrade-handler
  projects/plugins/beta/changelog/renovate-lock-file-maintenance
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#2
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#3
  projects/plugins/beta/changelog/update-beta-add-trunk
  projects/plugins/beta/changelog/update-changelogger-add-pr-num
  projects/plugins/beta/changelog/update-cli-classes
  projects/plugins/beta/changelog/update-composer-2.3
  projects/plugins/beta/changelog/update-use-package-publicize
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Beta

#24657 Fix Protect UI footer plan check
  projects/plugins/protect/changelog/fix-protect-ui-footer-plan-check
  projects/plugins/protect/src/js/components/footer/index.jsx
Labels: [Status] Needs Team Review, [Plugin] Protect

#24676 Dashboard: format Akismet stats properly.
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/fix-akismet-stats-i18n
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Ready to Merge, Internationalization, Admin Page, [Pri] Normal, Anti-Spam, [Plugin] Jetpack

#24670 Payments - modify link to open new payment plan modal
  projects/plugins/jetpack/changelog/update-new-plan-open-in-modal
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/toolbar-control.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Plugin] Jetpack, [Extension] Payments

#24677 jetpack: Use jest for gui tests
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/plugins/jetpack/.eslintignore
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/test/component.js
  projects/plugins/jetpack/_inc/client/at-a-glance/test/component.js
  projects/plugins/jetpack/_inc/client/components/connect-button/test/component.js
  projects/plugins/jetpack/_inc/client/components/connection-banner/test/component.js
  projects/plugins/jetpack/_inc/client/components/contextualized-connection/test/component.js
  projects/plugins/jetpack/_inc/client/components/dash-item/test/component.js
  projects/plugins/jetpack/_inc/client/components/dash-section-header/test/component.js
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/test/component.js
  projects/plugins/jetpack/_inc/client/components/jetpack-product-card/test/component.js
  projects/plugins/jetpack/_inc/client/components/masthead/test/component.js
  projects/plugins/jetpack/_inc/client/components/navigation-settings/test/component.js
  projects/plugins/jetpack/_inc/client/components/navigation/test/component.js
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/test/component.js
  projects/plugins/jetpack/_inc/client/components/reconnect-modal/test/component.js
  projects/plugins/jetpack/_inc/client/components/settings-card/test/component.js
  projects/plugins/jetpack/_inc/client/components/settings-group/test/component.js
  projects/plugins/jetpack/_inc/client/components/support-info/test/component.js
  projects/plugins/jetpack/_inc/client/components/tracker/test/component.js
  projects/plugins/jetpack/_inc/client/discussion/test/component.js
  projects/plugins/jetpack/_inc/client/performance/test/component.js
  projects/plugins/jetpack/_inc/client/performance/test/fixtures.js
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/component.js
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/_inc/client/recommendations/product-purchased/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestion/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestions/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/product-suggestions/test/fixtures.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/summary/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/summary/test/fixtures.js
  projects/plugins/jetpack/_inc/client/test/init.js
  projects/plugins/jetpack/_inc/client/test/main.js
  projects/plugins/jetpack/_inc/client/test/test-utils.js
  projects/plugins/jetpack/_inc/client/traffic/seo/test/component.js
  projects/plugins/jetpack/changelog/update-jetpack-gui-tests-to-jest
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/action-test-coverage.sh
  projects/plugins/jetpack/tests/jest-globals.extensions.js
  projects/plugins/jetpack/tests/jest-globals.gui.js
  projects/plugins/jetpack/tests/jest.config.extensions.js
  projects/plugins/jetpack/tests/jest.config.gui.js
  tools/js-tools/eslintrc/jest.js
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24691 jetpack: Use jest for remaining tests
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-jetpack-remaining-tests-to-jest
  projects/plugins/jetpack/modules/.eslintrc.js
  projects/plugins/jetpack/modules/videopress/js/test/test-gutenberg-video-upload.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tests/jest.config.client.js
  projects/plugins/jetpack/tools/webpack.config.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24696 [Package] Backup - Removed double headline from connection screen
  projects/packages/backup/changelog/remove-backup-connection-title-dup
  projects/packages/backup/src/js/hooks/useConnection.js
Labels: [Status] Needs Team Review, [Package] Backup

#24689 changelogger: Recognize more non-feature-branch names
  projects/packages/changelogger/changelog/add-changelogger-more-non-feature-branch-names
  projects/packages/changelogger/src/AddCommand.php
  projects/packages/changelogger/src/Application.php
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Package] Changelogger

#24697 Fix regex for matching existing `tk_ai` cookies
  projects/packages/connection/changelog/update-old_cookie_regex
  projects/packages/connection/legacy/class-jetpack-tracks-client.php
Labels: [Status] Needs Author Reply, [Package] Connection

#24706 docker: Clean up Dockerfile
  tools/docker/Dockerfile
Labels: [Type] Bug, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Docker

#24711 codesniffer: Fix dev dep on WPCS
  composer.lock
  projects/packages/codesniffer/changelog/fix-codesniffer-composer-dev-deps
  projects/packages/codesniffer/composer.json
Labels: [Type] Bug, [Status] Needs Review, [Pri] BLOCKER, [Package] Codesniffer

#24719 jetpack, social: Fix `jetpack watch` command
  projects/plugins/jetpack/changelog/fix-jetpack-watch
  projects/plugins/jetpack/package.json
  projects/plugins/social/changelog/fix-jetpack-watch
  projects/plugins/social/package.json
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack, [Plugin] Social

#24694 Mailchimp block - improve loading state
  projects/plugins/jetpack/changelog/update-center-spinner-for-mailchimp-block
  projects/plugins/jetpack/extensions/blocks/mailchimp/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/editor.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Mailchimp, [Plugin] Jetpack

#24731 Search: Record Meter. Sort records before passing to RecordMeterBar component
  projects/packages/search/changelog/update-search-record-meter-sorting
  projects/packages/search/src/dashboard/components/record-meter/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
Labels: Search, [Status] Needs Team Review, [Package] Search

#24378 Boost - seek support modal if score dropped
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/assets/src/js/api/speed-scores.ts
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ScoreDrop.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/features/optimizations/Optimizations.php
  projects/plugins/boost/app/features/speed-score/Speed_Score.php
  projects/plugins/boost/app/features/speed-score/Speed_Score_History.php
  projects/plugins/boost/changelog/prompt-to-seek-support-if-score-dropped
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#24737 Fix broken e2e tests
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/changelog/fix-e2e-tests-again
Labels: [Status] Needs Team Review, [Plugin] Boost

#24743 Jetpack: init 11.1-a.4 cycle
  projects/plugins/jetpack/changelog/update-jetpack-init-11.1-a.4
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24744 Jetpack: 11.1-a.3 changelog editorial
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-jp-11.1-a.3-changelog-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24732 Search: Separate record meter styles by component
  projects/packages/search/changelog/update-search-record-meter-separate-styles
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/notice-box.scss
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.scss
  projects/packages/search/src/dashboard/components/record-meter/style.scss
Labels: Search, [Status] Needs Team Review, [Package] Search

#24739 Removed superfluous line breaks in Protect readme
  projects/plugins/protect/changelog/enhancement-protect-remove-superfluous-linebreaks
  projects/plugins/protect/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Protect

#24558 JS Components: Convert JetpackLogo component to TypeScript
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-rna-jetpack-logo-to-ts
  projects/js-packages/components/components/admin-page/stories/index.jsx
  projects/js-packages/components/components/jetpack-logo/index.jsx
  projects/js-packages/components/components/jetpack-logo/index.tsx
  projects/js-packages/components/components/jetpack-logo/stories/index.tsx
  projects/js-packages/components/components/jetpack-logo/test/component.jsx
  projects/js-packages/components/components/jetpack-logo/test/component.tsx
  projects/js-packages/components/components/jetpack-logo/types.ts
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24746 Sync: adjust the time variation for the delays test
  projects/plugins/jetpack/changelog/fix-sync-delays-test
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-sender.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#24698 js-tools: Adjust jest resolver
  projects/js-packages/eslint-changed/.gitattributes
  projects/js-packages/eslint-changed/changelog/update-jest-resolver-handle-imports
  projects/js-packages/eslint-changed/jest.config.js
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-changed/tests/jest.config.cjs
  tools/js-tools/jest/jest-resolver.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Changed

#24680 [Package] Backup: Added backup warning UI
  projects/packages/backup/changelog/add-backup-warning-link
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/components/Backups.js
  projects/packages/backup/src/js/components/backups-style.scss
  projects/plugins/backup/changelog/add-backup-warning-link
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-backup-warning-link
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Type] Feature, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup

#24679 My Jetpack: changes product cards grid to 3x3 for large viewport size
  projects/packages/backup/changelog/update-my-jetpack-update-products-cards-disposition
  projects/packages/backup/composer.json
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-update-products-cards-disposition
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24741 Memberships: update the required plan for memberships to be conditional
  projects/plugins/jetpack/changelog/update-required-plan-for-memberships-conditional
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, Memberships

#24548 [RNMobile] Prevent validation error when viewing VideoPress markup within app
  projects/plugins/jetpack/changelog/rnmobile-enable-videopress-editing
  projects/plugins/jetpack/extensions/blocks/videopress/editor.native.js
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24718 Fix/prefer featured image meta
  projects/plugins/jetpack/changelog/fix-prefer-featured-image-meta
  projects/plugins/jetpack/class.jetpack-post-images.php
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#24723 Starter plugin: Add E2E setup
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/plugins/starter-plugin/changelog/add-e2e-setup-to-starter-plugin
  projects/plugins/starter-plugin/tests/e2e/.eslintrc.cjs
  projects/plugins/starter-plugin/tests/e2e/.gitignore
  projects/plugins/starter-plugin/tests/e2e/.npmrc
  projects/plugins/starter-plugin/tests/e2e/config/default.cjs
  projects/plugins/starter-plugin/tests/e2e/package.json
  projects/plugins/starter-plugin/tests/e2e/playwright.config.cjs
  projects/plugins/starter-plugin/tests/e2e/specs/start.test.js
  tools/e2e-commons/README.md
Labels: [Status] Needs Review, Touches WP.com Files, Actions, E2E Tests, [Plugin] Starter Plugin

#24760 js/api: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/api/.gitattributes
  projects/js-packages/api/.nycrc
  projects/js-packages/api/changelog/update-js-api-use-jest
  projects/js-packages/api/changelog/update-js-api-use-jest#2
  projects/js-packages/api/composer.json
  projects/js-packages/api/index.jsx
  projects/js-packages/api/jest.config.cjs
  projects/js-packages/api/package.json
  projects/js-packages/api/test-main.jsx
  projects/js-packages/api/test/.eslintrc.cjs
  projects/js-packages/api/test/rest-api.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] API

#24738 cli: Fix user filename input with chars like `#`
  tools/cli/commands/changelog.js
  tools/cli/commands/generate.js
Labels: [Type] Bug, [Status] Needs Author Reply, [Pri] Normal, [Tools] Development CLI

#24759 js/analytics: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/analytics/.gitattributes
  projects/js-packages/analytics/changelog/update-js-analytics-use-jest
  projects/js-packages/analytics/changelog/update-js-analytics-use-jest#2
  projects/js-packages/analytics/composer.json
  projects/js-packages/analytics/index.jsx
  projects/js-packages/analytics/jest.config.cjs
  projects/js-packages/analytics/package.json
  projects/js-packages/analytics/test/.eslintrc.cjs
  projects/js-packages/analytics/test/analytics.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Analytics

#24769 photon: Do not return Photonized URLs to the block editor in WP 6.0
  projects/plugins/jetpack/changelog/fix-editor-photon-urls
  projects/plugins/jetpack/class.photon.php
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/tests/php/test_class.jetpack_photon.php
Labels: [Type] Bug, Photon, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack, Compatibility

#24762 js/components: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/components/.eslintrc.cjs
  projects/js-packages/components/.gitattributes
  projects/js-packages/components/.nycrc
  projects/js-packages/components/changelog/update-js-components-use-jest
  projects/js-packages/components/components/action-button/test/component.jsx
  projects/js-packages/components/components/automattic-byline-logo/test/component.jsx
  projects/js-packages/components/components/jetpack-footer/test/component.jsx
  projects/js-packages/components/components/jetpack-logo/test/component.tsx
  projects/js-packages/components/components/pricing-card/test/component.jsx
  projects/js-packages/components/components/record-meter-bar/test/component.tsx
  projects/js-packages/components/components/spinner/test/component.jsx
  projects/js-packages/components/composer.json
  projects/js-packages/components/jest.config.cjs
  projects/js-packages/components/lib/locale/test/index.js
  projects/js-packages/components/package.json
  projects/js-packages/components/test-main.jsx
  projects/js-packages/components/tools/jp-redirect/test/index.jsx
  tools/js-tools/jest/config.base.js
  tools/js-tools/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Components

#24770 js/config: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/config/.eslintrc.js
  projects/js-packages/config/.gitattributes
  projects/js-packages/config/.nycrc
  projects/js-packages/config/changelog/update-js-config-use-jest
  projects/js-packages/config/composer.json
  projects/js-packages/config/jest.config.js
  projects/js-packages/config/package.json
  projects/js-packages/config/src/test/index.js
  projects/js-packages/config/src/test/index.missing.js
  projects/js-packages/config/src/test/index.provided.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Config

#24758 my-jetpack: Use plain jest for tests
  pnpm-lock.yaml
  projects/packages/my-jetpack/.eslintrc.js
  projects/packages/my-jetpack/.gitattributes
  projects/packages/my-jetpack/_inc/state/test/selectors.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-use-plain-jest
  projects/packages/my-jetpack/changelog/update-my-jetpack-use-plain-jest#2
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/tests/jest.config.js
  projects/packages/my-jetpack/tests/jest.setup.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] My Jetpack

#24779 Sitemaps: add debugging comments
  projects/plugins/jetpack/changelog/add-sitemap-comments
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-image.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-master.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-news.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-page.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-video.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-builder.php
  tools/docker/wordpress/.gitkeep
Labels: Sitemaps, Touches WP.com Files, Docker, [Plugin] Jetpack

#24776 Sharing: avoid fatal errors when email process called outside ajax
  projects/plugins/jetpack/changelog/fix-sharing-email-fatal
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, Touches WP.com Files, [Pri] High, [Plugin] Jetpack

#24736 Publicize: Add icon fallback if profile picture fails to load
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/fix-publicize-connection-picture-graceful-failure
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/connection-icon/index.jsx
  projects/js-packages/publicize-components/src/components/connection-icon/style.scss
  projects/plugins/jetpack/changelog/fix-publicize-connection-picture-graceful-failure
  projects/plugins/jetpack/package.json
  projects/plugins/social/changelog/fix-publicize-connection-picture-graceful-failure
  projects/plugins/social/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#24757 VideoPress block: Fix Cancel button and provide better error message
  projects/plugins/jetpack/changelog/fix-videopress-block-error
  projects/plugins/jetpack/extensions/blocks/videopress/resumable-upload/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24789 js/idc: Remove unused testing infrastructure
  pnpm-lock.yaml
  projects/js-packages/idc/.eslintrc.cjs
  projects/js-packages/idc/.nycrc
  projects/js-packages/idc/changelog/update-js-idc-rm-unused-test-infrastructure
  projects/js-packages/idc/composer.json
  projects/js-packages/idc/package.json
  projects/js-packages/idc/test-main.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] IDC

#24787 PR Template: Add test related checkboxes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#24270 JS Components: Convert SplitButton component to TypeScript
  projects/js-packages/components/changelog/update-rna-split-button-to-ts
  projects/js-packages/components/components/split-button/index.tsx
  projects/js-packages/components/components/split-button/stories/index.jsx
  projects/js-packages/components/components/split-button/stories/index.tsx
  projects/js-packages/components/components/split-button/types.ts
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24771 Boost: update all cloud css on new post
  projects/plugins/boost/app/features/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/changelog/boost-fix-cloud-css-updates
Labels: [Status] Ready to Merge, [Plugin] Boost

#24786 Social: Added proxy end-point to call wpcom's /sites/%d/shares-count
  projects/packages/publicize/changelog/add-social-shares-endpoint
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/add-social-shares-endpoint
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-social-shares-endpoint
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social, [Package] Social

#24792 js/components: Fix missing imports
  projects/js-packages/components/changelog/update-js-components-fix-includes
  projects/js-packages/components/components/button/index.tsx
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/package.json
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, RNA, [JS Package] Components

#24777 js/connection: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/connection/.eslintrc.cjs
  projects/js-packages/connection/.gitattributes
  projects/js-packages/connection/.nycrc
  projects/js-packages/connection/changelog/update-js-connection-use-jest
  projects/js-packages/connection/changelog/update-js-connection-use-jest#2
  projects/js-packages/connection/components/connect-screen/basic/test/component.jsx
  projects/js-packages/connection/components/connect-screen/required-plan/test/component.jsx
  projects/js-packages/connection/components/connect-user/test/component.jsx
  projects/js-packages/connection/components/connection-status-card/test/component.jsx
  projects/js-packages/connection/components/disconnect-dialog/test/component.jsx
  projects/js-packages/connection/components/disconnect-dialog/test/step-disconnect.jsx
  projects/js-packages/connection/components/in-place-connection/test/component.jsx
  projects/js-packages/connection/components/use-connection/test/use-connection.jsx
  projects/js-packages/connection/composer.json
  projects/js-packages/connection/jest.config.cjs
  projects/js-packages/connection/jest.setup.js
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/controls.jsx
  projects/js-packages/connection/state/resolvers.jsx
  projects/js-packages/connection/state/store-id.jsx
  projects/js-packages/connection/state/store.jsx
  projects/js-packages/connection/state/test/actions.jsx
  projects/js-packages/connection/state/test/controls.jsx
  projects/js-packages/connection/state/test/resolvers.jsx
  projects/js-packages/connection/test-main.jsx
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Connection

#24790 js/licensing: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/licensing/.eslintrc.cjs
  projects/js-packages/licensing/.gitattributes
  projects/js-packages/licensing/.nycrc
  projects/js-packages/licensing/changelog/update-js-licensing-use-jest
  projects/js-packages/licensing/changelog/update-js-licensing-use-jest#2
  projects/js-packages/licensing/components/activation-screen-controls/test/component.jsx
  projects/js-packages/licensing/components/activation-screen-illustration/test/component.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/index.js
  projects/js-packages/licensing/components/activation-screen-success-info/test/component.jsx
  projects/js-packages/licensing/components/activation-screen/test/component.jsx
  projects/js-packages/licensing/composer.json
  projects/js-packages/licensing/jest.config.cjs
  projects/js-packages/licensing/package.json
  projects/js-packages/licensing/test-main.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Licensing

#24791 js/partner-coupon: Use jest for tests
  pnpm-lock.yaml
  projects/js-packages/partner-coupon/.eslintrc.cjs
  projects/js-packages/partner-coupon/.gitattributes
  projects/js-packages/partner-coupon/.nycrc
  projects/js-packages/partner-coupon/changelog/update-js-partner-coupon-use-jest
  projects/js-packages/partner-coupon/changelog/update-js-partner-coupon-use-jest#2
  projects/js-packages/partner-coupon/components/partner-coupon-redeem/test/component.jsx
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-post-connection/index.jsx
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-post-connection/test/component.jsx
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-pre-connection/index.jsx
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-pre-connection/test/component.jsx
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-pre-connection/test/connection-pass-along.jsx
  projects/js-packages/partner-coupon/composer.json
  projects/js-packages/partner-coupon/jest.config.cjs
  projects/js-packages/partner-coupon/jest.setup.js
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/partner-coupon/test-main.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Partner Coupon

#24785 Search: record meter, show the same notice box message for not indexed and no records.
  projects/packages/search/changelog/update-search-record-meter-notice-box-fix
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/test/notice-box.test.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#24801 Remove recurring-payments button color
  projects/plugins/jetpack/changelog/fix-payment-button-outline
  projects/plugins/jetpack/extensions/blocks/recurring-payments/view.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Plugin] Jetpack, [Block] Payments

#24809 E2E tests: retry failing tests
  projects/plugins/jetpack/changelog/e2e-repeat-failing-tests
  projects/plugins/jetpack/tests/e2e/package.json
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack

#24804 Components: Add README for layout related components
  projects/js-packages/components/changelog/add-layout-components-docs
  projects/js-packages/components/components/layout/README.md
  projects/js-packages/components/components/layout/col/README.md
  projects/js-packages/components/components/layout/container/README.md
  projects/js-packages/components/components/layout/use-breakpoint-match/README.md
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24501 Update jetpack-connection-banner to Emerald style
  projects/plugins/jetpack/_inc/connect-button.js
  projects/plugins/jetpack/_inc/jetpack-connection-banner.js
  projects/plugins/jetpack/changelog/update-jetpack-connection-banner-style
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/images/jetpack-banner-gradient.png
  projects/plugins/jetpack/images/jetpack-connection-banner-background.svg
  projects/plugins/jetpack/images/jetpack-connection-image-2x.png
  projects/plugins/jetpack/images/jetpack-connection-image-2x.webp
  projects/plugins/jetpack/images/jetpack-connection-image.png
  projects/plugins/jetpack/images/jetpack-connection-image.webp
  projects/plugins/jetpack/scss/jetpack-banners-emerald.scss
  projects/plugins/jetpack/scss/jetpack-connection-banner.scss
  projects/plugins/jetpack/scss/jetpack-recommendations-banner.scss
  projects/plugins/jetpack/scss/organisms/_banners.scss
  tools/e2e-commons/pages/wp-admin/dashboard.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, E2E Tests, [Plugin] Jetpack

#24748 RecordMeterBar Component: Add Accessible Content
  projects/js-packages/components/changelog/add-search-record-meter-accessible-content
  projects/js-packages/components/components/record-meter-bar/index.tsx
Labels: Accessibility, [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components

#24803 js/publicize-components: Use testing-library for tests
  pnpm-lock.yaml
  projects/js-packages/publicize-components/.eslintrc.js
  projects/js-packages/publicize-components/.gitattributes
  projects/js-packages/publicize-components/.nycrc
  projects/js-packages/publicize-components/changelog/update-js-publicize-components-use-testing-library
  projects/js-packages/publicize-components/changelog/update-js-publicize-components-use-testing-library#2
  projects/js-packages/publicize-components/composer.json
  projects/js-packages/publicize-components/jest.config.js
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/twitter/test/index.js
  projects/js-packages/publicize-components/src/components/twitter/test/options.js
  projects/js-packages/publicize-components/test-main.jsx
  projects/js-packages/publicize-components/tests/jest-enzyme-init.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Publicize Components

#24810 Record meter: format the numbers used in notice.
  projects/packages/search/changelog/update-recordmeter-format
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
Labels: [Status] Ready to Merge, Internationalization, [Pri] Normal, Search, [Plugin] Search, [Package] Search

#24808 Boost: Update pricing on connection
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Support.svelte
  projects/plugins/boost/app/assets/src/js/stores/config.ts
  projects/plugins/boost/app/assets/src/js/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/utils/connection.ts
  projects/plugins/boost/app/assets/src/js/utils/jetpack-url.ts
  projects/plugins/boost/app/assets/src/js/utils/paid-plan.ts
  projects/plugins/boost/app/assets/src/js/utils/upgrade.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/rest-api/endpoints/Config_State.php
  projects/plugins/boost/changelog/add-update-pricing-on-connection
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#24815 js/shared-extension-utils: Remove unused testing infrastructure
  pnpm-lock.yaml
  projects/js-packages/shared-extension-utils/.eslintrc.cjs
  projects/js-packages/shared-extension-utils/.nycrc
  projects/js-packages/shared-extension-utils/changelog/update-js-shared-extension-utils-rm-unused-test-infrastructure
  projects/js-packages/shared-extension-utils/composer.json
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/test-main.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Shared Extension Utils

#24797 Social: Display the share counter.
  projects/plugins/social/changelog/change-jetpack-social-admin-page-share-designs
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/header/styles.module.scss
  projects/plugins/social/src/js/components/toggle-section/styles.module.scss
  projects/plugins/social/src/js/store/actions/index.js
  projects/plugins/social/src/js/store/actions/shares-count.js
  projects/plugins/social/src/js/store/controls.js
  projects/plugins/social/src/js/store/reducer/index.js
  projects/plugins/social/src/js/store/reducer/shares-count.js
  projects/plugins/social/src/js/store/resolvers.js
  projects/plugins/social/src/js/store/selectors/connection-data.js
  projects/plugins/social/src/js/store/selectors/index.js
  projects/plugins/social/src/js/store/selectors/shares-count.js
Labels: [Status] Needs Team Review, [Plugin] Social

#24819 eslint-changed: Fix debug output
  projects/js-packages/eslint-changed/changelog/fix-eslint-changed-debug-output
  projects/js-packages/eslint-changed/src/cli.js
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, RNA, [JS Package] Eslint Changed

#24798 E2E tests: improve sync tests
  projects/plugins/jetpack/changelog/e2e-improve-sync-test
  projects/plugins/jetpack/tests/e2e/helpers/sync-helper.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/sync.test.js
Labels: [Status] In Progress, E2E Tests, [Plugin] Jetpack

#24818 Minor: Add action before switch theme
  projects/plugins/jetpack/changelog/add-action-before-switch-theme
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-active-endpoint.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#24829 webpack-config: Remove unused testing infrastructure
  pnpm-lock.yaml
  projects/js-packages/webpack-config/.nycrc
  projects/js-packages/webpack-config/changelog/update-js-webpack-config-rm-unused-test-infrastructure
  projects/js-packages/webpack-config/composer.json
  projects/js-packages/webpack-config/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Webpack Config

#24814 Add amp_is_deprecated for the settings API endpoint
  projects/plugins/jetpack/changelog/fusion-sync-wojtekn-D83017-code-1655914585
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Type] Dotcom Merge, Touches WP.com Files, [Plugin] Jetpack

#24828 Protect: Fix recommendation when plugin doesn't have a fix yet
  projects/plugins/protect/changelog/fix-protect-recomendation-fixed-in-null
  projects/plugins/protect/src/js/components/vulnerabilities-list/list.jsx
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Protect

#24763 Fix double-quotes handling in subscription button
  projects/plugins/jetpack/changelog/fix-doublequotes-handling-in-subscription-button
  projects/plugins/jetpack/extensions/blocks/subscriptions/save.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-6.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-6.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-6.parsed.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-6.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/utils.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#24825 Boost: Hide heading focus on navigation
  projects/plugins/boost/app/assets/src/css/main/wp-admin.scss
  projects/plugins/boost/changelog/update-hide-heading-focus
Labels: [Status] Needs Team Review, [Plugin] Boost

#24772 Sync Table Checksums: Table checksum should be enabled depending on corresponding Sync module
  projects/packages/sync/changelog/fix-sync-min-config-checksums
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
  projects/plugins/jetpack/changelog/fix-sync-min-config-checksums
  projects/plugins/jetpack/tests/php/sync/test-class.jetpack-sync-checksum.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-sender.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-settings.php
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack

#24821 Jetpack: add VideoPress beta block scaffolding
  projects/plugins/jetpack/changelog/update-create-videopress-beta-block
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/style.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/view.js
  projects/plugins/jetpack/extensions/blocks/videopress/videopress.php
  projects/plugins/jetpack/extensions/blocks/videopress/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24830 Remove js-test-runner
  .pnpmfile.cjs
  docs/development-environment.md
  docs/monorepo.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/cli/skeletons/js-packages/tests/index.test.js
  tools/js-test-runner/.gitignore
  tools/js-test-runner/jest-config/babel.config.js
  tools/js-test-runner/jest-config/default.config.js
  tools/js-test-runner/jest-config/fileMock.js
  tools/js-test-runner/jest-config/jest.config.js
  tools/js-test-runner/jest-config/jetpack.config.js
  tools/js-test-runner/jest.js
  tools/js-test-runner/js-test-runner.js
  tools/js-test-runner/js-test-runner.sh
  tools/js-test-runner/mocha.js
  tools/js-test-runner/package.json
  tools/js-tools/eslintrc/base.js
Labels: Docs, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#24827 Added an additional post content sync call before publishing.
  projects/packages/backup/changelog/add-post_content_sync
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/sync/changelog/add-post_content_sync
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-posts.php
  projects/plugins/backup/changelog/add-post_content_sync
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-post_content_sync
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
  projects/plugins/protect/changelog/add-post_content_sync
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-post_content_sync
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-post_content_sync
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-post_content_sync
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24806 Payments Block: only add PayPal email to Payment CPT.
  projects/plugins/jetpack/changelog/fix-simple-payments-spay-email
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Pay With Paypal, [Plugin] Jetpack, [Block] Pay With Paypal

#24774 Add "Getting started with Jetpack Backup" video to Assistant and "At a glance" dashboard
  projects/plugins/jetpack/_inc/client/at-a-glance/backup-getting-started/index.tsx
  projects/plugins/jetpack/_inc/client/at-a-glance/backup-getting-started/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/constants/urls.js
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/mobile-app/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/one-click-restores/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/one-click-restores/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-card-upsell-no-price/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/security/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/sidebar-card/index.tsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/sidebar-card/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/summary/style.scss
  projects/plugins/jetpack/_inc/client/state/settings/actions.js
  projects/plugins/jetpack/_inc/client/state/settings/reducer.js
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-how-to-backup-video
  projects/plugins/jetpack/images/backup-getting-started-thumbnail-2x.png
  projects/plugins/jetpack/images/backup-getting-started-thumbnail.png
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Pri] Normal, [Plugin] Jetpack, Assistant (Onboarding)

#24850 Move Comments in API Files for Sniff
  projects/plugins/jetpack/changelog/update-comments-json-endpoints
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-post-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-post-v1-1-endpoint.php
Labels: WPCOM API, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24844 Jetpack: implement uploading video for VideoPress block
  projects/plugins/jetpack/changelog/update-jetpack-videopress-allow-add-video-source
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/hooks/use-uploader.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24843 live-branches: Allow for not installing Jetpack
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal

#24848 Jetpack: implement save process of the VideoPress block
  projects/plugins/jetpack/changelog/update-jetpack-videopress-save-block
  projects/plugins/jetpack/extensions/blocks/videopress/v6/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/style.scss
Labels: [Status] Needs Review, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24857 Contact Form Block: Ensure styles are enqueued in Block Widget, FSE Template, and FSE Template Part
  projects/plugins/jetpack/changelog/fix-render-contact-form-block-styles
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Contact Form

#24871 new/backup release
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/add-backup-warning-link
  projects/plugins/backup/changelog/add-blogging-prompts-post-meta-sync
  projects/plugins/backup/changelog/add-post_content_sync
  projects/plugins/backup/changelog/add-social-to-my-jetpack
  projects/plugins/backup/changelog/fix-use-plain-remote-request-for-pricing
  projects/plugins/backup/changelog/fix-user-connect-second-attempt-redirect
  projects/plugins/backup/changelog/renovate-lock-file-maintenance
  projects/plugins/backup/changelog/start-backup-1.3.1
  projects/plugins/backup/changelog/update-external-link-instances
  projects/plugins/backup/changelog/update-monorepo-master-refs-primary
  projects/plugins/backup/changelog/update-monorepo-master-refs-secondary
  projects/plugins/backup/changelog/update-move-active-modules-to-sync-callables
  projects/plugins/backup/changelog/update-my-jetpack-licensing-default-feature-flag-state
  projects/plugins/backup/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/backup/changelog/update-sync-dedicated-endpoint
  projects/plugins/backup/changelog/update-sync-must-sync-data-settings
  projects/plugins/backup/changelog/update-to-pnpm-7
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/readme.txt
Labels: [Status] Needs Review, [Plugin] Backup

#24873 Init Backup 1.4.1 Cycle
  projects/plugins/backup/changelog/start-backup-1.4.1
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
Labels: [Status] Needs Review, [Plugin] Backup

#24861 Update/videopress add inspector controls
  projects/plugins/jetpack/changelog/update-videopress-add-inspector-controls
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/inspector-controls.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/seekbar-color-settings.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24874 Lazy Images: release v2.1.19
  projects/packages/lazy-images/CHANGELOG.md
  projects/packages/lazy-images/changelog/fix-lazy-images-srcset-broken
  projects/packages/lazy-images/src/lazy-images.php
  projects/plugins/jetpack/changelog/jetpack-branch-11.1
Labels: [Status] Needs Review, [Package] Lazy Images, [Plugin] Jetpack

#24840 Update Boost changelog post 1.5.0 release
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-update-pricing-on-connection
  projects/plugins/boost/changelog/boost-1.5.0-changelog
  projects/plugins/boost/readme.txt
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Boost

#24875 Fix feature caching
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/changelog/fix-feature-caching
Labels: [Status] Needs Team Review, [Plugin] Boost

#24855 Sync changes for disabling AMP for 2% of existing sites
  projects/plugins/jetpack/changelog/fusion-sync-wojtekn-D82438-code-1656407706
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.archives.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.googlemaps.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.recipe.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.scribd.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.slideshow.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, [Type] Dotcom Merge, Unit Tests, Touches WP.com Files, [Plugin] Jetpack

#24877 [Boost] update changelog for 1.5.1 release
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/add-contextual-trigger-update-component
  projects/js-packages/components/package.json
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/boost-update-changelogs
  projects/plugins/boost/changelog/fix-feature-caching
  projects/plugins/boost/changelog/fix-use-plain-remote-request-for-pricing
  projects/plugins/boost/changelog/update-hide-heading-focus
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components, [Plugin] Boost

#24879 Social: Release version 1.1.0-beta
  projects/packages/config/CHANGELOG.md
  projects/packages/config/changelog/fix-config-package-prefer-stable
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/fix-remote-provision-xmlrpc-in-standalone-plugins
  projects/packages/connection/src/class-package-version.php
  projects/packages/options/CHANGELOG.md
  projects/packages/options/changelog/fix-user-connect-second-attempt-redirect
  projects/packages/options/changelog/update-monorepo-master-refs-primary
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/update-publicize-package-annotations
  projects/packages/publicize/package.json
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/add-eslint-import-order
  projects/plugins/social/changelog/add-post_content_sync
  projects/plugins/social/changelog/add-social-shares-endpoint
  projects/plugins/social/changelog/change-jetpack-social-admin-page-share-designs
  projects/plugins/social/changelog/fix-config-package-prefer-stable
  projects/plugins/social/changelog/fix-jetpack-watch
  projects/plugins/social/changelog/fix-publicize-connection-picture-graceful-failure
  projects/plugins/social/changelog/fix-use-plain-remote-request-for-pricing
  projects/plugins/social/changelog/fix-user-connect-second-attempt-redirect
  projects/plugins/social/changelog/remove-claim-of-support-for-node-14
  projects/plugins/social/changelog/remove-wpcalypso-import-docblock-comments
  projects/plugins/social/changelog/renovate-babel-monorepo
  projects/plugins/social/changelog/renovate-lock-file-maintenance
  projects/plugins/social/changelog/renovate-postcss-8.x
  projects/plugins/social/changelog/renovate-wordpress-monorepo
  projects/plugins/social/changelog/update-monorepo-master-refs-primary
  projects/plugins/social/changelog/update-monorepo-master-refs-secondary
  projects/plugins/social/changelog/update-my-jetpack-update-products-cards-disposition
  projects/plugins/social/changelog/update-product-offer-error-placeholder
  projects/plugins/social/changelog/update-publicize-post-thumbnails-support
  projects/plugins/social/changelog/update-release-social-1.0.0
  projects/plugins/social/changelog/update-sync-must-sync-data-settings
  projects/plugins/social/changelog/update-to-pnpm-7
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: [Status] Ready to Merge, [Package] Connection, [Package] Config, [Package] Options, [Package] Publicize, [Plugin] Social

#24881 Social: Start the 1.2.0 release cycle
  projects/plugins/social/changelog/update-social-cycle-1.2.0
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Social

#24869 Jetpack: re-attempt to get the VideoPress video preview
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-handle-getting-video-preview
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24882 E2E tests: improve dedicated sync test
  projects/plugins/jetpack/changelog/e2e-improve-dedicated-sync
  projects/plugins/jetpack/tests/e2e/helpers/sync-helper.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/sync.test.js
  tools/e2e-commons/logger.cjs
  tools/e2e-commons/reporters/reporter.cjs
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack

#24886 add attributes to player in editor
  projects/plugins/jetpack/changelog/add-videopress-attributes-to-player
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24860 Actions: Clarify that SVN is the expected ID
  projects/github-actions/repo-gardening/changelog/fix-clarify-expected-changeset-id
  projects/github-actions/repo-gardening/src/tasks/wpcom-commit-reminder/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Low, Actions, [Action] Repo Gardening

#24888 Jetpack: save video player attributes of the VPBlock
  projects/plugins/jetpack/changelog/add-videopress-save-player-attributes
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24870 Contact Form Block: Prevent error notice when processing form submission from 404 page
  projects/plugins/jetpack/changelog/fix-contact-form-block-404-error-notice
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Contact Form

#24868 Jetpack Search Widget: Restore support for URLs with `&post_type=post%2Cpage`
  projects/packages/search/changelog/fix-multiple-post-types-search-widget
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/classic-search/class-classic-search.php
Labels: [Type] Bug, [Status] Ready to Merge, Search, [Plugin] Search, [Package] Search

#24883 Jetpack: introduce the new VideoPressPlayer component (VPBlock)
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-add-videopress-sandbox-component
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24890 Jetpack: improve UI when refreshing the video preview of the VPBlock
  projects/plugins/jetpack/changelog/update-jetpack-videopress-improve-flickr-when-updating-video-preview
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24889 E2E tests: regroup Jetpack e2e specs
  .github/files/create-e2e-projects-matrix.sh
  projects/plugins/jetpack/changelog/e2e-regroup-tests
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/blocks/pro-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/sync/sync.test.js
Labels: [Status] Needs Review, Actions, E2E Tests, [Plugin] Jetpack

#24911 VideoPress: Handle input via URL
  projects/plugins/jetpack/changelog/add-videopress-add-video-url
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24899 Jetpack: add an overlay to VPBlock to improve when selecting the video player
  projects/plugins/jetpack/changelog/update-jetpack-vpblock-improve-selecting-block
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24893 Jetpack: save custom size of the VideoPress block
  projects/plugins/jetpack/changelog/update-jetpack-wp-block-store-block-sizes
  projects/plugins/jetpack/extensions/blocks/videopress/v6/attributes.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/components/videopress-player/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6/editor.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6/save.js
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] S, [Plugin] Jetpack, [Block] VideoPress, [Block] Videopress Block

#24913 Triage: update logic to follow issue priority matrix
  .github/ISSUE_TEMPLATE/bug-report.yml
  projects/github-actions/repo-gardening/changelog/update-triage-priority-matrix
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening
