Repository Automattic/jetpack, pull requests merged in 2022-01, with the labels that each got.

#22164 Add activation status and change position of licensing actions in My Plans section
  projects/plugins/jetpack/_inc/client/components/product-activated/index.jsx
  projects/plugins/jetpack/_inc/client/components/product-activated/style.scss
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-card/style.scss
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/_inc/client/my-plan/style.scss
  projects/plugins/jetpack/changelog/plan-status-license-ui
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#22196 Stats: remove the legacy hide_smile option
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/rm-stats-hide-smiley-option
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#22187 Search: Fix styling for Blank Canvas theme
  projects/plugins/jetpack/changelog/fix-blank-canvas-styling-bug
  projects/plugins/jetpack/modules/search/instant-search/components/search-app.scss
Labels: [Type] Bug, [Status] Needs Review, Touches WP.com Files, Search, Instant Search, [Plugin] Jetpack

#22185 Update/videopress convert old embed blocks
  projects/plugins/jetpack/changelog/update-videopress-convert-old-embed-blocks
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#22073 Dashboard: Update Apps Card
  projects/packages/connection-ui/changelog/fix-apps-card-copy
  projects/packages/identity-crisis/changelog/fix-apps-card-copy
  projects/packages/sync/changelog/fix-apps-card-copy
  projects/plugins/backup/changelog/fix-apps-card-copy
  projects/plugins/jetpack/_inc/client/components/apps-badge/README.md
  projects/plugins/jetpack/_inc/client/components/apps-badge/index.jsx
  projects/plugins/jetpack/_inc/client/components/apps-badge/style.scss
  projects/plugins/jetpack/_inc/client/components/apps-card/README.md
  projects/plugins/jetpack/_inc/client/components/apps-card/index.jsx
  projects/plugins/jetpack/_inc/client/components/apps-card/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/mobile-app/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/mobile-app/style.scss
  projects/plugins/jetpack/changelog/fix-apps-card-copy
Labels: [Status] Ready to Merge, Admin Page, [Package] Sync, [Plugin] Jetpack, [Package] Connection UI, [Package] Identity Crisis, [Plugin] Backup

#21870 VideoPress: reload preview on oembed fail
  projects/plugins/jetpack/changelog/fix-videopress-embed-size-on-upload
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#22175 Add "allow download" option for VideoPress video
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/plugins/jetpack/changelog/add-videopress-download-setting
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-media-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-media-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-media-v1-1-endpoint.php
  projects/plugins/jetpack/modules/videopress/class-videopress-attachment-metadata.php
  projects/plugins/jetpack/modules/videopress/class.videopress-edit-attachment.php
  projects/plugins/jetpack/modules/videopress/videopress-admin-rtl.min.css
  projects/plugins/jetpack/modules/videopress/videopress-admin.css
Labels: VideoPress, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#22195 Stats: do not add tracking pixel to embed views
  projects/plugins/jetpack/changelog/fix-stats-embeds
  projects/plugins/jetpack/modules/stats.php
Labels: [Type] Bug, Stats, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#22194 Pay with PayPal: switch to using a unique script tag
  projects/plugins/jetpack/changelog/fix-unique-pay-with-paypal-script-tag
  projects/plugins/jetpack/modules/simple-payments/paypal-express-checkout.js
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, Pay With Paypal, [Plugin] Jetpack, [Block] Pay With Paypal

#22198 Restore HeaderNav, only show on WoA sites
  projects/plugins/jetpack/_inc/client/components/masthead/header-nav.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/index.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/style.scss
  projects/plugins/jetpack/changelog/restore-header-nav-for-woa-sites
Labels: [Status] Needs Author Reply, Admin Page, [Pri] High, [Plugin] Jetpack

#22136 P2 admin menu: update fxn signature to fix PHP warnings
  projects/plugins/jetpack/changelog/update-p2-admin-menu-fxn-override
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-p2-admin-menu.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Masterbar, [Status] Needs Team Review, [Plugin] Jetpack

#22200 Document use of packages together for i18n
  pnpm-lock.yaml
  projects/js-packages/i18n-loader-webpack-plugin/README.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/update-docs-for-i18n-stuff
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/webpack-config/changelog/update-docs-for-i18n-stuff
  projects/js-packages/webpack-config/package.json
  projects/packages/assets/README.md
  projects/packages/assets/changelog/update-docs-for-i18n-stuff
  projects/packages/composer-plugin/README.md
  projects/packages/composer-plugin/changelog/update-docs-for-i18n-stuff
  projects/packages/connection-ui/changelog/update-docs-for-i18n-stuff
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/changelog/update-docs-for-i18n-stuff
  projects/packages/identity-crisis/package.json
  projects/packages/jitm/changelog/update-docs-for-i18n-stuff
  projects/packages/jitm/package.json
  projects/packages/lazy-images/changelog/update-docs-for-i18n-stuff
  projects/packages/lazy-images/package.json
  projects/packages/my-jetpack/changelog/update-docs-for-i18n-stuff
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-docs-for-i18n-stuff
  projects/packages/search/package.json
  projects/plugins/backup/changelog/update-docs-for-i18n-stuff
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/update-docs-for-i18n-stuff
  projects/plugins/jetpack/package.json
Labels: Docs, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images, [Package] Assets, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Plugin] Backup, [Package] Search, [Package] My Jetpack, [JS Package] Webpack Config, [Package] Composer Plugin, [JS Package] I18n Loader Webpack Plugin

#22149 Sync Listener: Don't enqueue actions when the site is disconnected
  projects/packages/sync/changelog/update-check_connection_before_enqueue
  projects/packages/sync/src/class-listener.php
  projects/plugins/jetpack/changelog/update-check_connection_before_enqueue
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-base.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-modules-stats.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-users.php
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack

#22038 Jetpack: Check that the Sync_Actions::do_only_first_initial_sync method exists
  projects/plugins/jetpack/changelog/update-check_for_sync_method
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#22197 Jetpack Connection: Add jetpack_connection_active_plugins fallback when Sync is not present
  projects/packages/connection/changelog/update-jetpack-connection-active-plugins-no-sync
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-plugin-storage.php
  projects/packages/connection/tests/php/test_plugin_storage.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] Connection

#21866 Add Boost and CRM Cards to AAG
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/boost.svg
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/crm/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/crm/people.svg
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/_inc/client/components/banner/index.jsx
  projects/plugins/jetpack/_inc/client/components/banner/style.scss
  projects/plugins/jetpack/_inc/client/components/jetpack-banner/index.jsx
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/README.md
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/index.jsx
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/style.scss
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/test/component.js
  projects/plugins/jetpack/changelog/add-plugin-dashitems
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack

#22188 Add support for v.wordpress.com URLs in VideoPress embed block
  projects/plugins/jetpack/changelog/update-videopress-embed-from-old-urls
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/modules/videopress/shortcode.php
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#22016 [Ads]: Add action for manual placing of top header ad. Allow leaderboard size for Ads Widget
  projects/plugins/jetpack/changelog/update-wordads-header-ad
  projects/plugins/jetpack/modules/wordads/class-wordads.php
  projects/plugins/jetpack/modules/wordads/php/class-wordads-sidebar-widget.php
Labels: [Status] Ready to Merge, WordAds, [Plugin] Jetpack, Ad

#22204 Switch back to upstream project automation tool
  .github/workflows/issues-to-projects.yml
Labels: [Status] Ready to Merge, Actions

#21353 Jetpack: activate default modules when the site is already connected
  projects/plugins/jetpack/changelog/update-activate_default_modules_already_connected
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack

#22207 Jetpack Licenses: Dynamic primary button label and link after product activation
  projects/js-packages/licensing/changelog/update-activation-complete-primary-button-link
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/js-packages/licensing/components/activation-screen-success-info/index.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/index.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/style.scss
  projects/js-packages/licensing/components/activation-screen-success-info/style.scss
  projects/js-packages/licensing/components/activation-screen/index.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/update-activation-complete-primary-button-link
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Licensing

#22203 Tests: Fix typos in the failure message in the assertOptionIsSynced method
  projects/plugins/jetpack/changelog/update-sync_option_test_failure_message
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Status] Ready to Merge, Unit Tests, [Pri] Low, [Plugin] Jetpack

#22202 Tests: fix the multisite logic
  projects/plugins/jetpack/changelog/update-multisite_comment
  projects/plugins/jetpack/tests/php/bootstrap.php
Labels: [Status] Ready to Merge, Unit Tests, [Pri] Low, [Plugin] Jetpack

#22221 Jetpack: init 10.6-a.0 cycle
  projects/plugins/jetpack/changelog/update-jetpack-10.6-a.0-init-cycle
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22222 Jetpack: update to-test.md for 10.5-beta
  projects/plugins/jetpack/changelog/update-jp-10.5-beta-to-test
  projects/plugins/jetpack/to-test.md
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#22227 Assets: Suppress "doing it wrong" warning for aliases during plugin activation
  projects/packages/assets/changelog/fix-assets-alias_textdomain-during-activation-is-not-_doing_it_wrong
  projects/packages/assets/src/class-assets.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] High, [Status] Needs Cherry-Pick, [Package] Assets

#22224 Social Menu: remove role navigation attribute from nav item
  projects/plugins/jetpack/changelog/update-social-menu-nav
  projects/plugins/jetpack/modules/theme-tools/social-menu.php
Labels: Theme Tools, Accessibility, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#22229 General: Remove dictionary file
  .spelling
Labels: [Status] Needs Review, [Type] Janitorial

#22232 assets: release package version 1.16.1
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/fix-assets-alias_textdomain-during-activation-is-not-_doing_it_wrong
Labels: [Status] Ready to Merge, [Package] Assets

#22228 AAG upgrade banner: do not display on WoA sites
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/changelog/fix-display-bundle-woa
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Pri] Normal, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#22206 Improve accessibility and display of math fallback(Protect)
  projects/plugins/jetpack/changelog/fix-protect-math-fallback-accessibility
  projects/plugins/jetpack/modules/protect/math-fallback.php
Labels: [Status] Needs Author Reply, Protect, [Status] Ready to Merge, [Plugin] Jetpack

#22240 Admin Page: remove CRM for now
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/changelog/rm-crm-aag-card
Labels: [Status] Ready to Merge, Admin Page, [Type] Janitorial, [Pri] Normal, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#22238 Licensing buttons: ensure styles are specific enough
  pnpm-lock.yaml
  projects/js-packages/licensing/changelog/fix-license-button-specificity
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/style.scss
  projects/js-packages/licensing/package.json
  projects/plugins/jetpack/changelog/fix-license-button-specificity
  projects/plugins/jetpack/package.json
Labels: [Type] Bug, [Status] Needs Review, Touches WP.com Files, Admin Page, [Pri] Normal, [Status] Needs Cherry-Pick, [Plugin] Jetpack, RNA, Compatibility, [JS Package] Licensing

#22236 Correct mark-up for donations block
  projects/plugins/jetpack/changelog/fix-donations-missing-div
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Donations, [Plugin] Jetpack

#22216 Refactor PluginDashItem Functionally
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/README.md
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/index.jsx
  projects/plugins/jetpack/changelog/update-plugin-dash-item-component
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#22252 [RNMobile] Fix Tiled Gallery JS test failure
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/resize.js
Labels: [Type] Bug, Tiled Gallery, [Status] Needs Author Reply, Touches WP.com Files, Gutenberg, [Block] Tiled Gallery, [Plugin] Jetpack

#22178 Subscription form: adding a default line-height to avoid differences using different font-faces on the input and button elements
  projects/plugins/jetpack/changelog/fix-2488
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#22251 Widget Visibility: Fix "Match all" setting being overwritten on saving in the block editor.
  projects/plugins/jetpack/changelog/fix-widget-visibility-match-all
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Bug, Widget Visibility, [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#22250 IDC: display resolving errors
  pnpm-lock.yaml
  projects/js-packages/idc/changelog/add-idc-errors
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/card-migrate/index.jsx
  projects/js-packages/idc/components/error-message/error-gridicon.jsx
  projects/js-packages/idc/components/error-message/index.jsx
  projects/js-packages/idc/components/error-message/style.scss
  projects/js-packages/idc/components/idc-screen/index.jsx
  projects/js-packages/idc/components/idc-screen/screen-main.jsx
  projects/js-packages/idc/components/idc-screen/stories/index.jsx
  projects/js-packages/idc/components/idc-screen/visual.jsx
  projects/js-packages/idc/components/safe-mode/index.jsx
  projects/js-packages/idc/hooks/use-migration.jsx
  projects/js-packages/idc/hooks/use-start-fresh.jsx
  projects/js-packages/idc/package.json
  projects/js-packages/idc/state/actions.jsx
  projects/js-packages/idc/state/reducers.jsx
  projects/js-packages/idc/state/selectors.jsx
  projects/js-packages/storybook/changelog/add-idc-errors
  projects/js-packages/storybook/package.json
  projects/packages/identity-crisis/changelog/add-idc-errors
  projects/packages/identity-crisis/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [Package] Identity Crisis, [JS Package] Storybook, [JS Package] IDC

#22239 Donations block: Reuse stored plan IDs
  projects/plugins/jetpack/changelog/fix-donations-block-reuse-stored-plan-ids
  projects/plugins/jetpack/extensions/blocks/donations/tabs.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Donations, [Plugin] Jetpack

#21862 Tiled Gallery: Set Max Columns
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/settings.native.js
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#22230 [RNMobile] Fix pixelated Tiled Gallery images
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/save.native.js
Labels: [Status] Needs Author Reply, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#22259 Base Styles: Fix wrong color value --jp-gray-80
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/fix-base-style-color
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/style.scss
  projects/js-packages/components/changelog/fix-base-style-color
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/fix-base-style-color
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/fix-base-style-color
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/fix-base-style-color
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/fix-base-style-color
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/fix-base-style-color
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/fix-base-style-color
  projects/packages/connection-ui/package.json
  projects/packages/my-jetpack/changelog/fix-base-style-color
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/fix-base-style-color
  projects/packages/search/package.json
  projects/plugins/backup/changelog/fix-base-style-color
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/fix-base-style-color
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Base Styles, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon

#22242 Donations: Don't display on front-end if stripe disconnected
  projects/plugins/jetpack/changelog/fix-donations-without-stripe
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Donations, [Plugin] Jetpack

#22260 Fix small typo in Docker README
  tools/docker/README.md
Labels: [Status] Ready to Merge, Docker

#22254 js-packages/licensing release v0.4.1
  pnpm-lock.yaml
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/fix-license-button-specificity
  projects/js-packages/licensing/package.json
  projects/plugins/jetpack/changelog/jetpack-branch-10.5
  projects/plugins/jetpack/changelog/update-js-packages-licensing-v0.4.1
  projects/plugins/jetpack/changelog/update-js-packages-licensing-v0.4.1#2
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Status] Needs Cherry-Pick, [Plugin] Jetpack, RNA, [JS Package] Licensing

#22262 Release js-packages/idc v0.8.0
  pnpm-lock.yaml
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/add-idc-errors
  projects/js-packages/idc/package.json
  projects/js-packages/storybook/changelog/jetpack-branch-10.5
  projects/js-packages/storybook/changelog/update-js-pkg-idc-v0.8.0
  projects/js-packages/storybook/package.json
  projects/packages/identity-crisis/changelog/jetpack-branch-10.5
  projects/packages/identity-crisis/changelog/update-js-pkg-idc-v0.8.0
  projects/packages/identity-crisis/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, RNA, [Package] Identity Crisis, [JS Package] Storybook, [JS Package] IDC

#22258 Admin Page: don't show plugin cards when you can't install plugins
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/changelog/fix-install-plugins-aag-multisite
Labels: [Type] Bug, Multisite, [Status] Ready to Merge, Admin Page, [Pri] Normal, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#21646 [Plugin] Backup: Implement ConnectionScreenRequiredPlan and PricingCard
  projects/plugins/backup/changelog/backup-add-pricing-card
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/components/Backups.js
  projects/plugins/backup/src/js/components/admin-style.scss
  projects/plugins/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/src/php/class-jetpack-backup.php
Labels: [Status] In Progress, [Status] Ready to Merge, [Plugin] Backup

#22121 Add Boost e2e tests
  projects/plugins/boost/changelog/add-boost-e2e-tests-adnan
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/specs/modules-common.test.js
  projects/plugins/boost/tests/e2e/specs/score-auto-refresh.test.js
  projects/plugins/boost/tests/e2e/specs/speed-score.test.js
Labels: [Status] In Progress, E2E Tests, [Plugin] Boost

#22237 Fix/videopress allow download property
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-fields/class-wpcom-rest-api-v2-attachment-videopress-data.php
  projects/plugins/jetpack/changelog/fix-videopress-allow-download-property
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/modules/videopress/utility-functions.php
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#22084 Search package: Add activation / deactivation API
  projects/packages/search/changelog/add-more-search-api
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-module-control.php
  projects/packages/search/src/class-plan.php
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/tests/php/class-test-case.php
  projects/packages/search/tests/php/test-module-control.php
  projects/packages/search/tests/php/test-plan.php
  projects/packages/search/tests/php/test-rest-controller.php
  projects/plugins/jetpack/changelog/add-more-search-api
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, Search, Instant Search, [Plugin] Jetpack, [Package] Search

#22257 Subscription form: Match placeholder color to the theme
  projects/plugins/jetpack/changelog/fix-subscription-form-placeholder
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#22215 Update/refactor number format location
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-refactor-number-format-location
  projects/js-packages/components/components/number-format/README.md
  projects/js-packages/components/components/number-format/index.jsx
  projects/js-packages/components/index.jsx
  projects/js-packages/components/lib/locale/index.jsx
  projects/js-packages/components/lib/locale/test/index.js
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-refactor-number-format-location
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-refactor-number-format-location
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-refactor-number-format-location
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/index.jsx
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/update-refactor-number-format-location
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/update-refactor-number-format-location
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/update-refactor-number-format-location
  projects/packages/identity-crisis/changelog/update-refactor-number-format-location
  projects/packages/my-jetpack/changelog/update-refactor-number-format-location
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-refactor-number-format-location
  projects/packages/search/package.json
  projects/plugins/backup/changelog/update-refactor-number-format-location
  projects/plugins/backup/package.json
  projects/plugins/jetpack/_inc/client/at-a-glance/protect.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/components/apps-badge/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-termination-dialog/single-feature.jsx
  projects/plugins/jetpack/_inc/client/security/backups-scan.jsx
  projects/plugins/jetpack/changelog/update-refactor-number-format-location
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, [Package] Connection UI, RNA, [Package] Identity Crisis, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon

#22276 Donations: Swap display of currency control
  projects/plugins/jetpack/changelog/update-donations-currency-order
  projects/plugins/jetpack/extensions/blocks/donations/controls.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Donations, [Plugin] Jetpack

#22299 My Jetpack: minor doc improvement
  projects/packages/my-jetpack/README.md
  projects/packages/my-jetpack/changelog/update-my-jetpack-doc
Labels: Docs, [Status] Ready to Merge, [Size] S, [Package] My Jetpack

#22284 Identity Crisis: Do not add IDC query args to requests when in offline or staging mode
  projects/packages/identity-crisis/changelog/fix-idc_query_args_check_staging_offline
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
Labels: [Status] Ready to Merge, IDC, [Pri] High, [Status] Needs Cherry-Pick, [Package] Identity Crisis

#22294 Jetpack plugin: check that an Assets package file exists before calling it
  projects/plugins/jetpack/changelog/update-check_for_alias_textdomains_method
  projects/plugins/jetpack/jetpack.php
Labels: [Status] Ready to Merge, [Pri] High, [Status] Needs Cherry-Pick, [Package] Assets, [Plugin] Jetpack

#21888 Search package: move search dashboard to package (2/2)
  .eslintignore
  pnpm-lock.yaml
  projects/packages/search/changelog/update-search-move-search-dashboard-to-package-2
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/dashboard/class-dashboard.php
  projects/packages/search/src/dashboard/class-initial-state.php
  projects/packages/search/src/dashboard/components/button/index.jsx
  projects/packages/search/src/dashboard/components/button/style.scss
  projects/packages/search/src/dashboard/components/card/compact.jsx
  projects/packages/search/src/dashboard/components/card/index.jsx
  projects/packages/search/src/dashboard/components/card/style.scss
  projects/packages/search/src/dashboard/components/dashboard/index.jsx
  projects/packages/search/src/dashboard/components/dashboard/style.scss
  projects/packages/search/src/dashboard/components/form-toggle/compact.jsx
  projects/packages/search/src/dashboard/components/form-toggle/index.jsx
  projects/packages/search/src/dashboard/components/form-toggle/style.scss
  projects/packages/search/src/dashboard/components/global-notices/store/actions.js
  projects/packages/search/src/dashboard/components/global-notices/style.scss
  projects/packages/search/src/dashboard/components/mocked-search/index.jsx
  projects/packages/search/src/dashboard/components/mocked-search/mocked-instant-search.jsx
  projects/packages/search/src/dashboard/components/mocked-search/mocked-instant-search.scss
  projects/packages/search/src/dashboard/components/mocked-search/mocked-legacy-search.jsx
  projects/packages/search/src/dashboard/components/mocked-search/mocked-legacy-search.scss
  projects/packages/search/src/dashboard/components/mocked-search/placeholder.jsx
  projects/packages/search/src/dashboard/components/module-control/index.jsx
  projects/packages/search/src/dashboard/components/module-control/style.scss
  projects/packages/search/src/dashboard/components/notice/index.jsx
  projects/packages/search/src/dashboard/components/notice/style.scss
  projects/packages/search/src/dashboard/components/upsell-nudge/index.jsx
  projects/packages/search/src/dashboard/components/upsell-nudge/style.scss
  projects/packages/search/src/dashboard/index.jsx
  projects/packages/search/src/dashboard/scss/_variables.scss
  projects/packages/search/src/dashboard/scss/rna-styles.scss
  projects/packages/search/src/dashboard/store/actions/jetpack-settings.js
  projects/packages/search/src/dashboard/store/actions/test/jetpack-settings.test.js
  projects/packages/search/src/dashboard/store/reducer/test/jetpack-settings.test.js
  projects/packages/search/tools/babel.config.js
  projects/packages/search/tools/webpack.dashboard.config.js
  projects/plugins/jetpack/_inc/client/search/dashboard/index.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/instant-search-upsell-nudge.jsx
  projects/plugins/jetpack/_inc/client/search/dashboard/module-control.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-search-dashboard-page.php
  projects/plugins/jetpack/changelog/update-search-move-search-dashboard-to-package-2
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Status] Needs Review, Touches WP.com Files, Admin Page, Search, Instant Search, E2E Tests, [Plugin] Jetpack, [Package] Connection UI, [Block] VideoPress, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] API, [JS Package] IDC, [JS Package] Licensing, [Package] Search

#22157 Tools: Add support for jest into js-test-runner
  pnpm-lock.yaml
  tools/js-test-runner/jest-config/babel.config.js
  tools/js-test-runner/jest-config/default.config.js
  tools/js-test-runner/jest-config/fileMock.js
  tools/js-test-runner/jest-config/jest.config.js
  tools/js-test-runner/jest-config/jetpack.config.js
  tools/js-test-runner/jest.js
  tools/js-test-runner/js-test-runner.js
  tools/js-test-runner/mocha.js
  tools/js-test-runner/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Licensing

#22305 Inline PDFs: simplify the output of PDF embeds.
  projects/plugins/jetpack/changelog/fusion-sync-jeherve-r237795-wpcom
  projects/plugins/jetpack/modules/shortcodes/inline-pdfs.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.inline-pdf.php
Labels: [Type] Bug, Shortcodes / Embeds, [Status] Needs Review, Unit Tests, Touches WP.com Files, [Pri] Normal, [Plugin] Jetpack

#22307 Jetpack: port back changelog from 10.5 release branch
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-display-bundle-woa
  projects/plugins/jetpack/changelog/fix-install-plugins-aag-multisite
  projects/plugins/jetpack/changelog/fix-jetpack-modules-this-as-window
  projects/plugins/jetpack/changelog/fix-license-button-specificity
  projects/plugins/jetpack/changelog/fix-widget-visibility-match-all
  projects/plugins/jetpack/changelog/jetpack-branch-10.5
  projects/plugins/jetpack/changelog/rm-crm-aag-card
  projects/plugins/jetpack/changelog/update-check_for_alias_textdomains_method
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22264 PHPCS: class.jetpack.php Errors
  projects/plugins/jetpack/changelog/phpcs-main-jetpack
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22275 E2E tests: fix wrong url for report in Slack notification
  .github/workflows/e2e-tests-boost.yml
  tools/e2e-commons/bin/slack.cjs
Labels: [Status] Needs Review, Actions, E2E Tests

#22298 Image Compare block: Add `wide` and `full` alignment options
  projects/plugins/jetpack/changelog/add-image-compare-block-align-tool
  projects/plugins/jetpack/extensions/blocks/image-compare/edit.js
  projects/plugins/jetpack/extensions/blocks/image-compare/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Image Compare, [Plugin] Jetpack

#22248 Add WooCommerce address and profile settings to the v1.4 settings endpoint.
  projects/plugins/jetpack/changelog/add-woocommerce-settings-to-endpoint
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/tests/php/json-api/test-class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#22283 Subscription Form block: hide custom success message on WPcom simple sites
  projects/plugins/jetpack/changelog/2022-01-10-19-45-37-498032
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Subscriptions, [Plugin] Jetpack

#22302 Storybook: Add My Jetpack components stories
  pnpm-lock.yaml
  projects/js-packages/storybook/changelog/update-my-jetpack-storybook
  projects/js-packages/storybook/package.json
  projects/js-packages/storybook/storybook/main.js
  projects/js-packages/storybook/storybook/projects.js
  projects/js-packages/storybook/storybook/webpack.config.js
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Storybook

#22306 Jetpack Boost: verify that Assets package exists before calling
  projects/plugins/boost/changelog/update-boost_add_check_alias_textdomains
  projects/plugins/boost/jetpack-boost.php
Labels: [Status] Needs Author Reply, [Pri] High, [Package] Assets, [Plugin] Boost

#22325 Site Settings: Default to empty array for WooCommerce Onboarding Profile
  projects/plugins/jetpack/changelog/update-settings-default-values
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/tests/php/json-api/test-class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#22319 My Jetpack: first implementation of plans section
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/_inc/hooks/use-plan/Readme.md
  projects/packages/my-jetpack/_inc/hooks/use-plan/index.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-fetch-site-features
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Ready to Merge, [Size] L, [Package] My Jetpack

#22322 PHPCS: Fix errors in Jetpack root classes, part 1
  projects/plugins/jetpack/changelog/fix-phpcs-jetpack-root-classes-pt-1
  projects/plugins/jetpack/class.frame-nonce-preview.php
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack-affiliate.php
  projects/plugins/jetpack/class.jetpack-autoupdate.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack-client-server.php
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack-heartbeat.php
  projects/plugins/jetpack/class.jetpack-modules-list-table.php
  projects/plugins/jetpack/class.jetpack-network-sites-list-table.php
  projects/plugins/jetpack/class.jetpack-network.php
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/class.json-api.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Review, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#22180 Add connected user data to the initial state
  pnpm-lock.yaml
  projects/js-packages/connection/changelog/update-user-data-on-initial-state
  projects/js-packages/connection/components/connection-status-card/index.jsx
  projects/js-packages/connection/components/use-connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/reducers.jsx
  projects/js-packages/connection/state/selectors.jsx
  projects/js-packages/partner-coupon/changelog/update-user-data-on-initial-state
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/update-user-data-on-initial-state
  projects/packages/abtest/changelog/update-user-data-on-initial-state
  projects/packages/abtest/composer.json
  projects/packages/backup/changelog/update-user-data-on-initial-state
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/connection-ui/changelog/update-user-data-on-initial-state
  projects/packages/connection-ui/composer.json
  projects/packages/connection-ui/package.json
  projects/packages/connection/changelog/update-user-data-on-initial-state
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-initial-state.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/identity-crisis/changelog/update-user-data-on-initial-state
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/jitm/changelog/update-user-data-on-initial-state
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/licensing/changelog/update-user-data-on-initial-state
  projects/packages/licensing/composer.json
  projects/packages/my-jetpack/changelog/update-user-data-on-initial-state
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-user-data-on-initial-state
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/sync/changelog/update-user-data-on-initial-state
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/update-user-data-on-initial-state
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/package.json
  projects/plugins/boost/changelog/update-user-data-on-initial-state
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-user-data-on-initial-state
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Package] Sync, [Package] Connection, [Package] Licensing, [Plugin] Jetpack, [Package] Connection UI, [Package] Abtest, [Package] Jitm, RNA, [Package] Identity Crisis, [Package] Backup, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [JS Package] Storybook, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon

#22324 My Jetpack: add plan section component to storybook
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/plans-section/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/stories/mock-data.js
  projects/packages/my-jetpack/_inc/hooks/use-plan/index.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-plan-section-to-storybook
  projects/packages/my-jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] M, RNA, [JS Package] Storybook, [Package] My Jetpack

#22338 composer-plugin: Recognize composer's 4-component versions
  projects/packages/composer-plugin/changelog/fix-composer-plugin-versions
  projects/packages/composer-plugin/src/class-plugin.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Package] Composer Plugin

#22304 Jetpack Backup: verify that Assets package exists before calling
  projects/plugins/backup/changelog/update-add_check_for_alias_textdomains
  projects/plugins/backup/jetpack-backup.php
Labels: [Status] Needs Review, [Pri] High, [Package] Assets, [Plugin] Backup

#22341 My Jetpack: Janitorial - Fix typo in method name enqueue_scripts
  projects/packages/my-jetpack/changelog/fix-typo-my-jetpack-scripts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] My Jetpack

#22345 My Jetpack: Update Plans Section style
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/style.scss
  projects/packages/my-jetpack/changelog/update-plans-section-style
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] My Jetpack

#22234 Add Descript.com embeds support
  projects/plugins/jetpack/changelog/add-descript-embed-support
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/descript.js
  projects/plugins/jetpack/extensions/extended-blocks/core-embed/index.js
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/modules/shortcodes/descript.php
Labels: Shortcodes / Embeds, [Status] Ready to Merge, Touches WP.com Files, [Type] Feature, [Pri] Normal, [Plugin] Jetpack

#22349 Base styles: make package public so it can be published to npm.
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/update-public-base-styles
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/changelog/update-public-base-styles
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-public-base-styles
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-public-base-styles
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-public-base-styles
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/update-public-base-styles
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/update-public-base-styles
  projects/js-packages/storybook/package.json
  projects/packages/identity-crisis/changelog/update-public-base-styles
  projects/packages/identity-crisis/package.json
  projects/packages/my-jetpack/changelog/update-public-base-styles
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-public-base-styles
  projects/packages/search/package.json
  projects/plugins/backup/changelog/update-public-base-styles
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/update-public-base-styles
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, RNA, [Package] Identity Crisis, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Base Styles, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon

#22353 My Jetpack: Add wordpress components
  pnpm-lock.yaml
  projects/packages/my-jetpack/changelog/add-wordpress-components-my-jetpack
  projects/packages/my-jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Package] My Jetpack

#22347 My Jetpack: Add redux store for my-jetpack
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/_inc/state/reducers.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/_inc/state/store-holder.js
  projects/packages/my-jetpack/_inc/state/store.js
  projects/packages/my-jetpack/changelog/add-my-jetpack-data-store
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Ready to Merge, [Type] Task, [Package] My Jetpack

#22357 actions: Bump build timeout
  .github/workflows/build.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#22321 tools/version-packages.sh: Check for missed upgrades
  tools/version-packages.sh
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal

#22279 [JS-Packages] Connection: Update RequiredPlan login button style
  projects/js-packages/connection/changelog/update-connection-login-button-style
  projects/js-packages/connection/components/connect-screen/required-plan/style.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, [Status] Needs Cherry-Pick, RNA, [JS Package] Connection, [Plugin] Backup

#22361 [JS-package: Connection] Fixed style for button on Required Plan screen
  projects/js-packages/connection/changelog/update-connect-plan-button
  projects/js-packages/connection/components/connect-screen/required-plan/style.scss
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection

#22337 Pay with PayPal Block: Missing quantity input arrows, fixed quantity placeholder.
  projects/plugins/jetpack/changelog/fix-paypal-block-quantity-field-arrows-chrome
  projects/plugins/jetpack/extensions/blocks/simple-payments/product-placeholder.scss
  projects/plugins/jetpack/modules/simple-payments/simple-payments.css
Labels: [Status] Ready to Merge, Touches WP.com Files, Pay With Paypal, [Plugin] Jetpack, [Block] Pay With Paypal

#22358 My Jetpack: Add scripts for JS tests
  pnpm-lock.yaml
  projects/packages/my-jetpack/changelog/update-my-jetpack-unit-tests-scripts
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/jest.setup.js
  projects/packages/my-jetpack/package.json
  projects/plugins/backup/changelog/update-my-jetpack-unit-tests-scripts
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-my-jetpack-unit-tests-scripts
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Plugin] Backup, [Package] My Jetpack

#17297 Added an additional GET parameter to profile sandbox requests.
  projects/packages/abtest/changelog/add-sandbox-profiling-constant
  projects/packages/abtest/composer.json
  projects/packages/backup/changelog/add-sandbox-profiling-constant
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/connection-ui/changelog/add-sandbox-profiling-constant
  projects/packages/connection-ui/composer.json
  projects/packages/connection/changelog/add-sandbox-profiling-constant
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-server-sandbox.php
  projects/packages/connection/tests/php/test_Server_Sandbox.php
  projects/packages/identity-crisis/changelog/add-sandbox-profiling-constant
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/add-sandbox-profiling-constant
  projects/packages/jitm/composer.json
  projects/packages/licensing/changelog/add-sandbox-profiling-constant
  projects/packages/licensing/composer.json
  projects/packages/my-jetpack/changelog/add-sandbox-profiling-constant
  projects/packages/my-jetpack/composer.json
  projects/packages/search/changelog/add-sandbox-profiling-constant
  projects/packages/search/composer.json
  projects/packages/sync/changelog/add-sandbox-profiling-constant
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/add-sandbox-profiling-constant
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-sandbox-profiling-constant
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-sandbox-profiling-constant
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/docker/README.md
Labels: [Type] Enhancement, [Status] Needs Review, [Type] Janitorial, [Package] Sync, Docker, [Package] Connection, [Package] Licensing, [Plugin] Jetpack, [Package] Connection UI, [Package] Abtest, [Package] Jitm, [Package] Identity Crisis, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Package] Search, [Package] My Jetpack

#22369 Assets: Handle `WP_CONTENT_DIR` not in `ABSPATH`
  projects/packages/assets/changelog/fix-assets-contentdir-not-in-abspath
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/tests/php/test-assets.php
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Package] Assets

#22373 Use Composer 2.2.4
  .github/versions.sh
  composer.json
  composer.lock
  projects/packages/abtest/changelog/update-composer
  projects/packages/abtest/composer.json
  projects/packages/admin-ui/changelog/update-composer
  projects/packages/admin-ui/composer.json
  projects/packages/backup/changelog/update-composer
  projects/packages/backup/composer.json
  projects/packages/blocks/changelog/update-composer
  projects/packages/blocks/composer.json
  projects/packages/codesniffer/changelog/update-composer
  projects/packages/codesniffer/composer.json
  projects/packages/connection/changelog/update-composer
  projects/packages/connection/composer.json
  projects/packages/identity-crisis/changelog/update-composer
  projects/packages/identity-crisis/composer.json
  projects/packages/lazy-images/changelog/update-composer
  projects/packages/lazy-images/composer.json
  projects/packages/licensing/changelog/update-composer
  projects/packages/licensing/composer.json
  projects/packages/partner/changelog/update-composer
  projects/packages/partner/composer.json
  projects/packages/password-checker/changelog/update-composer
  projects/packages/password-checker/composer.json
  projects/packages/post-list/changelog/update-composer
  projects/packages/post-list/composer.json
  projects/packages/search/changelog/update-composer
  projects/packages/search/composer.json
  projects/packages/sync/changelog/update-composer
  projects/packages/sync/composer.json
  projects/plugins/backup/changelog/update-composer
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/beta/changelog/update-composer
  projects/plugins/beta/composer.json
  projects/plugins/beta/composer.lock
  projects/plugins/boost/changelog/update-composer
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/update-composer
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/changelog/update-composer
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-composer
  projects/plugins/search/composer.lock
  projects/plugins/vaultpress/changelog/update-composer
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/composer.lock
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Package] Sync, [Pri] Normal, [Package] Partner, [Package] Connection, [Package] Lazy Images, [Package] Blocks, [Package] Licensing, [Package] Codesniffer, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, [Package] Password Checker, [Package] Abtest, [Package] Identity Crisis, [Package] Backup, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Package] Post List, [Plugin] Search, [Package] Admin Ui, [Package] Search

#22376 Docs: monorepo now uses Composer v2.2.x
  docs/development-environment.md
Labels: Docs, [Status] Ready to Merge

#22359 Fix/babel react preset dep
  pnpm-lock.yaml
  projects/js-packages/components/changelog/fix-babel-react-preset-dep
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/fix-babel-react-preset-dep
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/fix-babel-react-preset-dep
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/fix-babel-react-preset-dep
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/fix-babel-react-preset-dep
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/fix-babel-react-preset-dep
  projects/js-packages/storybook/package.json
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [JS Package] Partner Coupon

#22374 Version and Changelog updates for back port cherry-picking
  pnpm-lock.yaml
  projects/js-packages/base-styles/CHANGELOG.md
  projects/js-packages/base-styles/changelog/update-public-base-styles
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-changelog-cherry-pick
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/update-changelog-cherry-pick
  projects/js-packages/connection/changelog/update-connect-plan-button
  projects/js-packages/connection/changelog/update-connection-login-button-style
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/backup-branch-1.1.0
  projects/js-packages/idc/changelog/update-changelog-cherry-pick
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/backup-branch-1.1.0
  projects/js-packages/licensing/changelog/update-changelog-cherry-pick
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/backup-branch-1.1.0
  projects/js-packages/partner-coupon/changelog/update-changelog-cherry-pick
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/backup-branch-1.1.0
  projects/js-packages/storybook/changelog/update-changelog-cherry-pick
  projects/js-packages/storybook/package.json
  projects/packages/connection-ui/changelog/backup-branch-1.1.0
  projects/packages/connection-ui/changelog/update-changelog-cherry-pick
  projects/packages/connection-ui/package.json
  projects/packages/my-jetpack/changelog/backup-branch-1.1.0
  projects/packages/my-jetpack/changelog/update-changelog-cherry-pick
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/backup-branch-1.1.0
  projects/packages/search/changelog/update-changelog-cherry-pick
  projects/packages/search/package.json
  projects/plugins/backup/changelog/backup-branch-1.1.0
  projects/plugins/backup/changelog/update-changelog-cherry-pick
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/backup-branch-1.1.0
  projects/plugins/jetpack/changelog/update-changelog-cherry-pick
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Base Styles, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon

#22356 My Jetpack: Implement plans list properly in the PlansSection
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/stories/mock-data.js
  projects/packages/my-jetpack/_inc/constants.js
  projects/packages/my-jetpack/_inc/hooks/use-purchases/Readme.md
  projects/packages/my-jetpack/_inc/hooks/use-purchases/index.js
  projects/packages/my-jetpack/_inc/utils/get-manage-your-plan-url.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-plans-section-getting-proper-data
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Review, [Size] L, [Package] My Jetpack

#22368 My Jetpack: reduxify purchases data
  projects/packages/my-jetpack/README.md
  projects/packages/my-jetpack/_inc/hooks/use-purchases/index.js
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/_inc/state/controls.js
  projects/packages/my-jetpack/_inc/state/reducers.js
  projects/packages/my-jetpack/_inc/state/resolvers.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/_inc/state/store.js
  projects/packages/my-jetpack/_inc/state/test/selectors.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-reduxify
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] L, [Package] My Jetpack

#22313 [Boost] Add what to do section on page showstopper errors
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssErrorDescription.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/utils/describe-critical-css-recommendations.ts
  projects/plugins/boost/changelog/add-todo-on-page-showstopper-errors
Labels: [Status] Needs Team Review, [Plugin] Boost

#22384 Release management: start new release cycle
  projects/plugins/jetpack/changelog/update-version-jetpack-atomic-106a4
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: General, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] High, [Plugin] Jetpack

#22346 My Jetpack: Add a Connections Section component wrapping the Connection Status Card
  projects/packages/my-jetpack/_inc/components/connections-section/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-connections-section
  projects/packages/my-jetpack/package.json
Labels: [Status] Ready to Merge, [Type] Janitorial, [Package] My Jetpack

#22387 My Jetpack build: do not ship raw files in production bundle
  projects/packages/my-jetpack/.gitattributes
  projects/packages/my-jetpack/changelog/update-my-jetpack-do-not-ship-raw-files
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] My Jetpack

#21849 [RNMobile] Initial Port of Jetpack Tiled Gallery Block
  projects/plugins/jetpack/changelog/rnmobile-add-tiled-gallery-block
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.native.scss
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout-picker.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/resize.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/save.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/settings.native.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/styles.native.scss
  projects/plugins/jetpack/extensions/editor.native.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Status] Needs Testing, [Block] Tiled Gallery, [Plugin] Jetpack

#22282 Add Monorepo Installer Script
  tools/install-monorepo.sh
Labels: [Status] Ready to Merge, [Tools] Development CLI

#22355 Connection: Enforce use of initial state
  pnpm-lock.yaml
  projects/js-packages/connection/README.md
  projects/js-packages/connection/changelog/update-connection-enforce-initial-state
  projects/js-packages/connection/changelog/update-enforce-connection-initial-state
  projects/js-packages/connection/components/connect-screen/basic/index.jsx
  projects/js-packages/connection/components/connect-screen/required-plan/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/controls.jsx
  projects/js-packages/connection/state/resolvers.jsx
  projects/js-packages/connection/state/selectors.jsx
  projects/js-packages/connection/state/store-holder.jsx
  projects/js-packages/connection/state/store.jsx
  projects/js-packages/connection/state/test/controls.jsx
  projects/js-packages/connection/state/test/resolvers.jsx
  projects/js-packages/partner-coupon/changelog/update-connection-enforce-initial-state
  projects/js-packages/partner-coupon/package.json
  projects/packages/connection-ui/changelog/update-connection-enforce-initial-state
  projects/packages/connection-ui/changelog/update-enforce-connection-initial-state
  projects/packages/connection-ui/package.json
  projects/packages/connection-ui/src/class-admin.php
  projects/packages/my-jetpack/changelog/update-connection-enforce-initial-state
  projects/packages/my-jetpack/package.json
  projects/plugins/backup/changelog/update-connection-enforce-initial-state
  projects/plugins/backup/package.json
  projects/plugins/jetpack/changelog/update-connection-enforce-initial-state
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] Connection UI, RNA, [JS Package] Connection, [Plugin] Backup, [Package] My Jetpack, [JS Package] Partner Coupon

#22392 Docs: Update info on Monorepo Installation Script
  docs/quick-start.md
Labels: Docs, [Status] Needs Review

#22344 PHPCS: Fix errors in Jetpack root classes, part 2
  projects/plugins/jetpack/changelog/fix-phpcs-jetpack-root-classes-pt-2
  projects/plugins/jetpack/class.frame-nonce-preview.php
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack-autoupdate.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack-client-server.php
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack-modules-list-table.php
  projects/plugins/jetpack/class.jetpack-network-sites-list-table.php
  projects/plugins/jetpack/class.jetpack-network.php
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/class.json-api.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#22326 PHPCS: EU Cookie Widget
  projects/plugins/jetpack/changelog/phpcs-eu-cookie-widget
  projects/plugins/jetpack/modules/widgets/class-jetpack-eu-cookie-law-widget.php
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/form.php
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/widget.php
  tools/phpcs-excludelist.json
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, [Plugin] Jetpack

#22393 Fix prop type warning in UserLicenseActivationNotice component.
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/user-license-activation.jsx
  projects/plugins/jetpack/changelog/fix-activation-notice-proptypes
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#22340 Dashboard: update CTAs (wording, layout) in the AAG section.
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/security-bundle/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/README.md
  projects/plugins/jetpack/changelog/update-aag-ctas
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Pri] Normal, [Plugin] Jetpack

#22342 Status: Add Visitor class
  projects/packages/connection/changelog/add-visitor-status
  projects/packages/connection/composer.json
  projects/packages/identity-crisis/changelog/add-visitor-status
  projects/packages/identity-crisis/composer.json
  projects/packages/jitm/changelog/add-visitor-status
  projects/packages/jitm/composer.json
  projects/packages/my-jetpack/changelog/add-visitor-status
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/redirect/changelog/add-visitor-status
  projects/packages/redirect/composer.json
  projects/packages/search/changelog/add-visitor-status
  projects/packages/search/composer.json
  projects/packages/status/changelog/add-visitor-status
  projects/packages/status/composer.json
  projects/packages/status/src/class-visitor.php
  projects/packages/status/tests/php/test-visitor.php
  projects/packages/sync/changelog/add-visitor-status
  projects/packages/sync/composer.json
  projects/packages/terms-of-service/changelog/add-visitor-status
  projects/packages/terms-of-service/composer.json
  projects/packages/tracking/changelog/add-visitor-status
  projects/packages/tracking/composer.json
  projects/plugins/backup/changelog/add-visitor-status
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-visitor-status
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/add-visitor-status
  projects/plugins/debug-helper/changelog/add-visitor-status#2
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/plans.php
  projects/plugins/jetpack/changelog/add-visitor-status
  projects/plugins/jetpack/changelog/add-visitor-status#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/add-visitor-status
  projects/plugins/search/changelog/add-visitor-status#2
Labels: [Status] Needs Review, Touches WP.com Files, [Package] Sync, [Package] Status, [Package] Connection, [Package] Terms of Service, [Package] Tracking, [Plugin] Jetpack, [Plugin] Debug Helper, [Package] Jitm, [Package] Redirect, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack

#22397 actions: Fix gardening workflow build
  .github/workflows/gardening.yml
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High

#22396 PHPCS: Verification Tools
  projects/plugins/jetpack/changelog/update-phpcs-verification-tools
  projects/plugins/jetpack/modules/verification-tools/blog-verification-tools.php
  projects/plugins/jetpack/modules/verification-tools/verification-tools-utils.php
  tools/phpcs-excludelist.json
Labels: Verification tools, [Status] Needs Review, [Type] Janitorial

#22401 Backup: Correct wrong use of className prop
  projects/plugins/backup/changelog/fix-classname-use-prop
  projects/plugins/backup/src/js/components/Backups.js
Labels: [Status] Needs Team Review, [Plugin] Backup

#22365 Allow single-quotes when bypassing Deferred JS
  projects/plugins/boost/app/modules/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/changelog/update-defer-js-boost-ignore
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Defer JS

#22391 Justify presence of empty scss file
  projects/plugins/jetpack/changelog/rnmobile-add-empty-file-comment
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.native.scss
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Tiled Gallery, [Plugin] Jetpack

#22404 Connection: Make redirectUri not be required in ConnectionStatusCard
  projects/js-packages/connection/changelog/fix-redirectUri-connection-status-card
  projects/js-packages/connection/components/connection-status-card/index.jsx
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection

#22395 cli: Use native ESM
  pnpm-lock.yaml
  tools/cli/.eslintrc.cjs
  tools/cli/bin/jetpack
  tools/cli/bin/jetpack.js
  tools/cli/cliRouter.js
  tools/cli/commands/build.js
  tools/cli/commands/changelog.js
  tools/cli/commands/clean.js
  tools/cli/commands/cli.js
  tools/cli/commands/docker.js
  tools/cli/commands/draft.js
  tools/cli/commands/generate.js
  tools/cli/commands/install.js
  tools/cli/commands/release.js
  tools/cli/commands/test.js
  tools/cli/commands/watch.js
  tools/cli/helpers/projectBuildCommand.js
  tools/cli/helpers/promptForProject.js
  tools/cli/helpers/tasks/buildProjectTask.js
  tools/cli/helpers/tasks/installProjectTask.js
  tools/cli/package.json
  tools/cli/tests/integration/helpers/github.test.js
  tools/cli/tests/runner.js
  tools/cli/tests/unit/helpers/github.test.js
  tools/cli/tests/unit/helpers/json.test.js
  tools/cli/tests/unit/helpers/mergeDirs.test.js
  tools/cli/tests/unit/helpers/projectHelpers.test.js
  tools/cli/tests/unit/helpers/promptForProjects.test.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, [Tools] Development CLI

#22403 Fix warning on Scan module
  projects/plugins/jetpack/changelog/fix-scan-warning
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, Scan

#22412 [Plugin] Backup: Updated default of prices from null to 0
  projects/plugins/backup/changelog/fix-backup-connect-properties
  projects/plugins/backup/src/js/components/Admin.js
  projects/plugins/backup/src/js/hooks/useConnection.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Backup

#22184 Search: Improve a11y via headings hierarchy and aria roles
  projects/packages/search/changelog/update-instant-search-a11y-aria-and-headings
  projects/packages/search/src/customberg/components/sidebar/sidebar-options.jsx
  projects/packages/search/src/customberg/components/sidebar/theme-control.jsx
  projects/packages/search/src/instant-search/components/gridicon/index.jsx
  projects/packages/search/src/instant-search/components/search-box.jsx
  projects/packages/search/src/instant-search/components/search-controls.jsx
  projects/packages/search/src/instant-search/components/search-filter.jsx
  projects/packages/search/src/instant-search/components/search-filters.jsx
  projects/packages/search/src/instant-search/components/search-filters.scss
  projects/packages/search/src/instant-search/components/search-results.jsx
  projects/packages/search/src/instant-search/components/search-sort.jsx
  projects/plugins/jetpack/changelog/update-instant-search-a11y-aria-and-headings
  projects/plugins/jetpack/jest.config.js
Labels: Accessibility, [Status] Ready to Merge, Search, Instant Search, [Plugin] Jetpack, [Package] Search

#22172 Search: Add E2E tests for Customberg ( the search customizer )
  projects/packages/search/changelog/add-search-customberg-e2e
  projects/packages/search/src/customberg/components/sidebar/sidebar-options.jsx
  projects/plugins/jetpack/changelog/add-search-customberg-e2e
  projects/plugins/jetpack/tests/e2e/helpers/search-helper.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/search-configure.test.js
  tools/e2e-commons/pages/search-homepage.js
  tools/e2e-commons/pages/wp-admin/index.js
  tools/e2e-commons/pages/wp-admin/search-configure.js
Labels: [Status] Ready to Merge, Search, Instant Search, Actions, E2E Tests, [Plugin] Jetpack, [Package] Search

#22312 Instant Search: change search request for widget filters to just before rendering the widgets
  projects/packages/search/changelog/fix-remove-unecessary-search-request
  projects/packages/search/src/instant-search/class-instant-search.php
Labels: [Status] Ready to Merge, Search, Instant Search, [Package] Search

#22158 Search: Add E2E tests for search dashboard
  projects/plugins/jetpack/changelog/add-search-dashboard-e2e
  projects/plugins/jetpack/tests/e2e/specs/post-connection/search-dashboard.test.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/search.test.js
  tools/e2e-commons/pages/wp-admin/index.js
  tools/e2e-commons/pages/wp-admin/search-dashboard.js
Labels: [Status] Needs Review, Search, Instant Search, Actions, E2E Tests, [Plugin] Jetpack, [Package] Search

#22301 Cover block: paid-block-media-placeholder fix zero height
  projects/plugins/jetpack/changelog/fix-22152-paid-block-media-placeholder
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/editor.scss
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, OSS Citizen, [Extensions] Paid Blocks, [Plugin] Jetpack

#22383 Pay with Paypal block: Increased the size of the Pay with Paypal button
  projects/plugins/jetpack/changelog/fix-pay-paypal-block-button-size
  projects/plugins/jetpack/extensions/blocks/simple-payments/paypal-button-2x.png
  projects/plugins/jetpack/extensions/blocks/simple-payments/paypal-button.png
  projects/plugins/jetpack/modules/simple-payments/paypal-express-checkout.js
  projects/plugins/jetpack/modules/simple-payments/simple-payments.css
Labels: [Status] Ready to Merge, Touches WP.com Files, Pay With Paypal, [Plugin] Jetpack, [Block] Pay With Paypal

#22012 Jetpack plugin: hide backup preparation message for sites without Backup
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/changelog/fix-hide-backup-prep-message
Labels: [Status] Ready to Merge, Admin Page, Backup & Scan, [Plugin] Jetpack

#22314 PHPCBF linting fixes for the likes module - part 1
  projects/plugins/jetpack/changelog/jetpack-likes-settings-phpcbf-fixes
  projects/plugins/jetpack/modules/likes/jetpack-likes-master-iframe.php
  projects/plugins/jetpack/modules/likes/jetpack-likes-settings.php
Labels: Likes, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22360 IDC: allow tags in customized texts
  pnpm-lock.yaml
  projects/js-packages/eslint-changed/changelog/add-idc-customizer-tags
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/idc/changelog/add-idc-customizer-tags
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/card-migrate/index.jsx
  projects/js-packages/idc/components/idc-screen/screen-main.jsx
  projects/js-packages/idc/components/idc-screen/screen-migrated.jsx
  projects/js-packages/idc/components/idc-screen/screen-non-admin.jsx
  projects/js-packages/idc/components/idc-screen/visual.jsx
  projects/js-packages/idc/package.json
  projects/packages/identity-crisis/changelog/add-idc-customizer-tags
  projects/packages/identity-crisis/package.json
  projects/plugins/backup/changelog/add-idc-customizer-tags
  projects/plugins/backup/composer.lock
  projects/plugins/beta/changelog/add-idc-customizer-tags
  projects/plugins/boost/changelog/add-idc-customizer-tags
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/add-idc-customizer-tags
  projects/plugins/jetpack/changelog/add-idc-customizer-tags
  projects/plugins/search/changelog/add-idc-customizer-tags
  projects/plugins/search/composer.lock
  projects/plugins/vaultpress/changelog/add-idc-customizer-tags
  projects/plugins/vaultpress/composer.lock
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, RNA, [Package] Identity Crisis, [Plugin] Backup, [JS Package] Eslint Changed, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [JS Package] IDC

#22370 AMP: do not load sharing resources when not necessary
  projects/plugins/jetpack/3rd-party/class.jetpack-amp-support.php
  projects/plugins/jetpack/changelog/fix-sharing-amp-assets
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, AMP, [Plugin] Jetpack, Compatibility

#22352 My Jetpack: Add Product Card component
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.test.jsx
  projects/packages/my-jetpack/_inc/components/product-card/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/changelog/add-my-jetpack-product-card
  projects/packages/my-jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, RNA, [Plugin] Backup, [JS Package] Storybook, [Package] My Jetpack

#22432 My Jetpack: Remove superseded endpoint my-jetpack/v1/site/plans
  projects/packages/my-jetpack/changelog/remove-plans-endpoints-my-jetpack
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] My Jetpack

#22414 PHPCS: Widget Visibility
  projects/plugins/jetpack/changelog/phpcs-widget-visibility
  projects/plugins/jetpack/modules/widget-visibility.php
  projects/plugins/jetpack/modules/widget-visibility/class-jetpack-widget-conditions.php
  projects/plugins/jetpack/tests/php/modules/widget-visibility/test_widget-visibility.php
  tools/phpcs-excludelist.json
Labels: Widget Visibility, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22435 PHPCS: Widget Visibility (revert a file rename)
  projects/plugins/jetpack/changelog/phpcs-widget-visibility-2
  projects/plugins/jetpack/modules/widget-visibility.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
  projects/plugins/jetpack/tests/php/modules/widget-visibility/test_widget-visibility.php
Labels: Widget Visibility, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22436 My Jetpack: remove unused usePlan() hook
  projects/packages/my-jetpack/_inc/hooks/use-plan/Readme.md
  projects/packages/my-jetpack/_inc/hooks/use-plan/index.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-clean-unused-hook
Labels: [Status] Needs Review, [Type] Janitorial, [Size] S, [Package] My Jetpack

#22266 Add class notice to the IDC container
  projects/packages/identity-crisis/changelog/update-jetpack-idc-notice
  projects/packages/identity-crisis/src/_inc/style.scss
  projects/packages/identity-crisis/src/class-ui.php
Labels: [Status] Ready to Merge, IDC, [Package] Identity Crisis, [JS Package] IDC

#22386 My Jetpack: Update Plans section component to use css module
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/style.module.scss
  projects/packages/my-jetpack/changelog/update-css-module-plans-section
Labels: [Type] Enhancement, [Status] Ready to Merge, [Type] Janitorial, [Package] My Jetpack

#22394 IDC: customizing button labels and support URL
  pnpm-lock.yaml
  projects/js-packages/idc/changelog/add-idc-customizate-labels
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/card-migrate/index.jsx
  projects/js-packages/idc/components/idc-screen/screen-main.jsx
  projects/js-packages/idc/components/idc-screen/screen-non-admin.jsx
  projects/js-packages/idc/components/safe-mode/index.jsx
  projects/js-packages/idc/tools/custom-content-shape.jsx
  projects/packages/identity-crisis/changelog/add-idc-customizate-labels
  projects/plugins/backup/changelog/add-idc-customizate-labels
  projects/plugins/beta/changelog/add-idc-customizate-labels
  projects/plugins/boost/changelog/add-idc-customizate-labels
  projects/plugins/debug-helper/changelog/add-idc-customizate-labels
  projects/plugins/jetpack/changelog/add-idc-customizate-labels
  projects/plugins/search/changelog/add-idc-customizate-labels
  projects/plugins/vaultpress/changelog/add-idc-customizate-labels
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, RNA, [Package] Identity Crisis, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [JS Package] IDC

#22438 PHPCS: WP Post Widget
  projects/plugins/jetpack/changelog/phpcs-wp-post-widget
  projects/plugins/jetpack/modules/widgets/wordpress-post-widget.php
  projects/plugins/jetpack/modules/widgets/wordpress-post-widget/class.jetpack-display-posts-widget-base.php
  projects/plugins/jetpack/modules/widgets/wordpress-post-widget/class.jetpack-display-posts-widget.php
  tools/phpcs-excludelist.json
Labels: Extra Sidebar Widgets, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#22431 Build: copy files from the new vendor dir to previous location
  .github/files/build-all-projects.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Status] Needs Cherry-Pick, Actions

#22416 Add support for Beta Plugins to PluginDashItem
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/crm/index.jsx
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/README.md
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/index.jsx
  projects/plugins/jetpack/_inc/client/components/plugin-dash-item/test/component.js
  projects/plugins/jetpack/changelog/add-plugin-dash-multi-plugin-support
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Pri] Low, [Plugin] Jetpack

#19674 Jetpack Search/Sync: ensure syncing of post meta and taxonomies that are indexed (#2)
  projects/packages/backup/changelog/add-jp-search-sync2
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/add-jp-search-sync2
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-main.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-search.php
  projects/plugins/backup/changelog/add-jp-search-sync2
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-jp-search-sync2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php/sync/class-test-jetpack-sync-search.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-meta.php
Labels: [Status] Needs Review, [Package] Sync, Search, Instant Search, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup

#22447 My Jetpack: Add Product Cards Section component
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/anti-spam-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/crm-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/extras-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/scan-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/search-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card.jsx
  projects/packages/my-jetpack/changelog/add-products-section-my-jetpack
Labels: [Status] Needs Review, [Package] My Jetpack

#22439 My Jetpack: Introduce Boost product handling class
  projects/packages/my-jetpack/.gitignore
  projects/packages/my-jetpack/changelog/poc-my-jetpac-product-class
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/class-rest-products.php
  projects/packages/my-jetpack/src/products/class-boost.php
  projects/packages/my-jetpack/tests/php/assets/boost-mock-plugin.txt
  projects/packages/my-jetpack/tests/php/assets/uninstallable-mock-plugin.txt
  projects/packages/my-jetpack/tests/php/bootstrap.php
  projects/packages/my-jetpack/tests/php/test-products-rest.php
  projects/plugins/backup/changelog/poc-my-jetpac-product-class
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/poc-my-jetpac-product-class
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Backup, [Package] My Jetpack

#22444 My Jetpack: Add analytics hook
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/hooks/use-analytics/README.md
  projects/packages/my-jetpack/_inc/hooks/use-analytics/index.js
  projects/packages/my-jetpack/changelog/add-analytics-to-my-jetpack
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-analytics-to-my-jetpack
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-analytics-to-my-jetpack
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Plugin] Backup, [Package] My Jetpack

#22448 My Jetpack: implement first approach of data handling
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card.jsx
  projects/packages/my-jetpack/_inc/hooks/use-product/Readme.md
  projects/packages/my-jetpack/_inc/hooks/use-product/index.js
  projects/packages/my-jetpack/_inc/state/README.md
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/_inc/state/constants.js
  projects/packages/my-jetpack/_inc/state/controls.js
  projects/packages/my-jetpack/_inc/state/reducers.js
  projects/packages/my-jetpack/_inc/state/resolvers.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/_inc/state/store.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-data-approach
  projects/packages/my-jetpack/changelog/update-my-jetpack-reduxify-products
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/class-rest-products.php
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] XL, [Package] My Jetpack

#22429 Markdown block: Add Align and Spacing features
  projects/plugins/jetpack/changelog/add-markdown-block-align-and-spacing-feature
  projects/plugins/jetpack/extensions/blocks/markdown/index.js
  projects/plugins/jetpack/extensions/blocks/markdown/renderer.js
  projects/plugins/jetpack/extensions/blocks/markdown/save.js
  projects/plugins/jetpack/extensions/blocks/markdown/test/__snapshots__/markdown-renderer.js.snap
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] Markdown

#22333 Contact Info block: Add color, typography and spacing features
  projects/plugins/jetpack/changelog/add-contact-info-block-color-typography-spacing-features
  projects/plugins/jetpack/extensions/blocks/contact-info/index.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Contact Info, [Plugin] Jetpack

#22468 Janitorial: add changelog for 10.5.1 release
  projects/plugins/jetpack/CHANGELOG.md
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#22472 js-test-runner: Add WorDBless dir to jest collectCoverageFrom
  tools/js-test-runner/jest-config/default.config.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#22449 Docker Image: Update Ubuntu version to 21.04
  tools/docker/Dockerfile
Labels: [Status] Ready to Merge, [Type] Janitorial, Docker

#22451 Build - Add plugins/backup to previous vendor copy logic
  .github/files/build-all-projects.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Status] Needs Cherry-Pick, Actions
