Repository Automattic/jetpack, pull requests merged in 2022-05, with the labels that each got.

#24108 Boost: Update Contact Support button after Cloud CSS showstopper retry
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CloudCssMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/assets/src/js/utils/cloud-css.ts
  projects/plugins/boost/changelog/update-cloud-css-showstopper-retry-contact
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Cloud CSS, [Boost Feature] Boost Premium

#24209 Revert Jetpack soft disconnect
  projects/js-packages/connection/changelog/revert-jetpack-soft-disconnect
  projects/js-packages/connection/components/disconnect-dialog/steps/step-disconnect.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-benefits/index.jsx
  projects/plugins/jetpack/_inc/client/portals/plugin-deactivation.jsx
  projects/plugins/jetpack/changelog/revert-jetpack-soft-disconnect
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Needs Review, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack, RNA, [JS Package] Connection

#24150 Portfolio: bring changes from WordPress.com to keep files in sync
  projects/plugins/jetpack/changelog/updat-portfolio-cpt-sync
  projects/plugins/jetpack/modules/custom-post-types/portfolios.php
Labels: Custom Content Types, [Status] Ready to Merge, [Type] Dotcom Merge, [Status] Tested on WP.com, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24154 CPT: fix PHPCS linting errors in CPT module files, part 2
  projects/plugins/jetpack/changelog/update-phpcs-cpt-testimonial-part2
  projects/plugins/jetpack/modules/custom-content-types.php
  projects/plugins/jetpack/modules/custom-post-types/testimonial.php
  tools/phpcs-excludelist.json
Labels: Custom Content Types, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24195 Client: Remove unused planClass props
  projects/plugins/jetpack/_inc/client/pro-status/index.jsx
  projects/plugins/jetpack/_inc/client/security/waf.jsx
  projects/plugins/jetpack/changelog/remove-unused-props
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24206 JS Components: fix weird spinner visual issue
  projects/js-packages/components/changelog/update-js-components-spinner
  projects/js-packages/components/components/button/style.module.scss
Labels: [Status] Needs Review, Touches WP.com Files, [Size] S, RNA, [JS Package] Components

#24190 Protect: tweak footer
  projects/plugins/protect/changelog/update-protect-tweak-footer-spacing
  projects/plugins/protect/src/js/components/footer/index.jsx
  projects/plugins/protect/src/js/components/footer/styles.module.scss
Labels: [Type] Enhancement, [Status] Needs Review, [Size] M, [Plugin] Protect

#24214 PHPCS: One Endpoint Fix
  projects/plugins/jetpack/changelog/phpcs-update-menu-json-endpoint
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-menus-v1-1-endpoint.php
Labels: WPCOM API, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24183 Assistant: Fix product price without intro offer
  projects/plugins/jetpack/_inc/client/recommendations/product-card-upsell/index.jsx
  projects/plugins/jetpack/changelog/fix-assistant-no-intro-price
Labels: [Status] Ready to Merge, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#24213 lazy-images: Use modern syntax, not ES5
  projects/packages/lazy-images/changelog/remove-lazy-images-es5
  projects/packages/lazy-images/src/.eslintrc.js
  projects/packages/lazy-images/src/js/lazy-images.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images

#24180 Settings: Display upsells using feature checks
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/changelog/update-settings-plan-checks
Labels: VideoPress, [Status] Ready to Merge, Admin Page, WordAds, Google Analytics, Search, Anti-Spam, Backup & Scan, [Plugin] Jetpack, Scan

#24215 Protect: update new version of icon
  projects/js-packages/components/changelog/update-protect-icon
  projects/js-packages/components/components/product-icons/index.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, [Size] M, RNA, [JS Package] Components, [Plugin] Protect

#24219 JS Components: add weight prop to Button component
  projects/js-packages/components/changelog/update-js-components-button-cmp
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/stories/Button.mdx
  projects/js-packages/components/components/button/stories/index.jsx
  projects/js-packages/components/components/button/style.module.scss
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] S, RNA, [JS Package] Components

#24099 Search: Fix search on private WordPress.com-on-Atomic sites
  projects/packages/search/changelog/try-private-atomic-search-auth
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/src/instant-search/lib/api.js
Labels: [Type] Bug, [Pri] Normal, [Status] Needs Team Review, [Package] Search

#24177 Donations Block: unify stripe nudge and refactor donations block to use it
  projects/plugins/jetpack/changelog/add-unify-stripe-nudge-and-refactor-donations-block-to-use-it
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/tabs.js
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/context.js
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/stripe-nudge.js
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/shared/components/stripe-nudge/index.jsx
  projects/plugins/jetpack/extensions/shared/test/stripe-nudge-test.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Block] Donations Form, [Block] Premium Content, [Plugin] Jetpack, [Block] Payments, [Block] Donations

#24140 Product Management Controls: double subscription creation
  projects/plugins/jetpack/changelog/fix-product-management-controls-double-subscription-creation
  projects/plugins/jetpack/extensions/shared/execution-lock.js
  projects/plugins/jetpack/extensions/shared/test/execution-lock-test.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24188 storybook: Test that deps match projects.js
  pnpm-lock.yaml
  projects/js-packages/storybook/.gitattributes
  projects/js-packages/storybook/changelog/fix-storybook-test-deps
  projects/js-packages/storybook/composer.json
  projects/js-packages/storybook/package.json
  projects/js-packages/storybook/tests/deps.test.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Pri] Normal, RNA, [JS Package] Storybook

#24221 Connection package updates backporting to master
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/revert-jetpack-soft-disconnect
  projects/js-packages/connection/package.json
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection

#24224 Admin menu: Avoid usage of pseudorandom numbers in tests
  projects/plugins/jetpack/changelog/fix-admin-menu-tests-wp6
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, [Plugin] Jetpack

#24220 Protect: use weight Button prop to style the "learn more" footer link
  projects/plugins/protect/changelog/update-protect-learn-more-link
  projects/plugins/protect/src/js/components/footer/index.jsx
  projects/plugins/protect/src/js/components/footer/styles.module.scss
Labels: [Status] Ready to Merge, [Size] S, [Plugin] Protect

#24205 Publicize: add calypso redirect URLs #
  projects/packages/publicize/changelog/update-publicize-calpyso-redirect-url
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize-ui.php
  projects/plugins/jetpack/changelog/update-publicize-calpyso-redirect-url
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/publicize/publicize.php
  projects/plugins/jetpack/modules/publicize/ui.php
  projects/plugins/social/changelog/update-publicize-calpyso-redirect-url
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
Labels: Publicize, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#23908 Update composer to 2.3.5
  .github/actions/tool-setup/action.yml
  .github/versions.sh
  composer.lock
  docs/development-environment.md
  projects/plugins/always-use-jetpack-open-graph/changelog/update-composer-2.3
  projects/plugins/always-use-jetpack-open-graph/composer.lock
  projects/plugins/backup/changelog/update-composer-2.3
  projects/plugins/backup/composer.lock
  projects/plugins/beta/changelog/update-composer-2.3
  projects/plugins/beta/composer.lock
  projects/plugins/boost/changelog/update-composer-2.3
  projects/plugins/boost/composer.lock
  projects/plugins/debug-helper/changelog/update-composer-2.3
  projects/plugins/debug-helper/composer.lock
  projects/plugins/jetpack/changelog/update-composer-2.3
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-composer-2.3
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-composer-2.3
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-composer-2.3
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-composer-2.3
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/vaultpress/changelog/update-composer-2.3
  projects/plugins/vaultpress/composer.lock
  tools/cli/helpers/checkEnvironment.js
Labels: [Status] In Progress, Docs, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Debug Helper, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Always Use Jetpack Open Graph, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24083 General: update requirements to match upcoming WP 6.0 release
  .github/files/generate-ci-matrix.php
  .github/files/setup-wordpress-env.sh
  .phpcs.config.xml
  projects/packages/sync/changelog/update-wp-compat-60
  projects/packages/sync/src/class-users.php
  projects/plugins/backup/changelog/update-wp-compat-60
  projects/plugins/backup/readme.txt
  projects/plugins/boost/changelog/update-wp-compat-60
  projects/plugins/boost/readme.txt
  projects/plugins/jetpack/changelog/update-wp-compat-60
  projects/plugins/jetpack/changelog/update-wp-compat-60#2
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
  projects/plugins/protect/changelog/update-wp-compat-60
  projects/plugins/protect/readme.txt
  projects/plugins/search/changelog/update-wp-compat-60
  projects/plugins/search/readme.txt
  projects/plugins/social/changelog/update-wp-compat-60
  projects/plugins/social/readme.txt
  projects/plugins/starter-plugin/changelog/update-wp-compat-60
  projects/plugins/starter-plugin/readme.txt
  projects/plugins/vaultpress/changelog/update-wp-compat-60
  projects/plugins/vaultpress/readme.txt
  tools/cli/commands/generate.js
Labels: General, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Package] Sync, [Pri] Normal, Masterbar, [Status] Needs Cherry-Pick, [Status] Blocked / Hold, Actions, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24194 Fix VaultPress query refresh
  projects/plugins/jetpack/_inc/client/components/data/query-vaultpress-data/index.jsx
  projects/plugins/jetpack/_inc/client/state/at-a-glance/reducer.js
  projects/plugins/jetpack/changelog/fix-vaultpress-query-refresh
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24227 Comment: Protect: Add Logo component
  projects/plugins/protect/changelog/update-protect-add-logo-component
  projects/plugins/protect/src/js/components/logo/index.tsx
  projects/plugins/protect/src/js/components/logo/stories/index.tsx
Labels: [Status] Ready to Merge, [Plugin] Protect

#24172 Jetpack Social: Added a button to the admin page of Jetpack Social to take the user to the Jetpack Cloud screen for managing their connections.
  projects/plugins/social/changelog/update-publicize-calypso-url
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/admin-page/index.jsx
  projects/plugins/social/src/js/components/admin-page/styles.module.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#24121 Backups: Convert to feature checks
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/changelog/update-glance-backups
  tools/eslint-excludelist.json
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24226 Backport 10.9 Changelog
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-assistant-discount-card-bg
  projects/plugins/jetpack/changelog/fix-assistant-discount-card-copy
  projects/plugins/jetpack/changelog/fix-assistant-no-intro-price
  projects/plugins/jetpack/changelog/fix-assistant-show-base-price
  projects/plugins/jetpack/changelog/fix-videopress-disabled-existing-video-block-error
  projects/plugins/jetpack/changelog/revert-jetpack-soft-disconnect
  projects/plugins/jetpack/changelog/update-readme-109-2
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24161 Protect: Add activation and deactivation hooks
  projects/plugins/protect/changelog/add-protect-activation-hooks
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#24109 [WordAds]: Move from raw HTML tags to Jetpack components
  projects/packages/wordads/changelog/wordads-themeprovider
  projects/packages/wordads/composer.json
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/packages/wordads/src/dashboard/components/dashboard/index.jsx
  projects/packages/wordads/src/dashboard/components/dashboard/style.scss
  projects/packages/wordads/src/dashboard/index.jsx
  projects/plugins/jetpack/changelog/wordads-themeprovider
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, WordAds, [Plugin] Jetpack, [Package] Ad

#24086 General: remove backwards compatibility code now that Jetpack requires WP 5.9
  docs/examples/bootstrap.php
  docs/monorepo.md
  projects/plugins/jetpack/changelog/update-wp-compat-60-rm-old
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/story/player/lib/use-merge-refs.js
  projects/plugins/jetpack/extensions/blocks/story/player/modal/frame.js
  projects/plugins/jetpack/extensions/shared/jetpack-plugin-sidebar.scss
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-users-endpoint.php
  projects/plugins/jetpack/modules/shortcodes/slideshow.php
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
  projects/plugins/jetpack/modules/widgets/authors.php
  projects/plugins/jetpack/tests/action-phpunit.sh
  projects/plugins/jetpack/tests/action-test-coverage.sh
  projects/plugins/jetpack/tests/action-test-php.sh
  projects/plugins/jetpack/tests/maybe-downgrade-phpunit.sh
  projects/plugins/jetpack/tests/php/bootstrap.php
  projects/plugins/jetpack/tests/php/find-test-root.php
  projects/plugins/jetpack/tests/php/test_deprecation.php
Labels: Widget Visibility, Shortcodes / Embeds, Extra Sidebar Widgets, WPCOM API, General, Docs, [Status] Needs Review, Unit Tests, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Status] Needs Cherry-Pick, [Block] Button, [Block] Story, [Plugin] Jetpack

#24231 Update Readme and Changelog
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-stable-tag-10.9
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24232 Protect: update Logo
  projects/js-packages/components/changelog/update-set-custom-logo-to-protect-plugin
  projects/js-packages/components/components/admin-page/index.jsx
  projects/js-packages/components/components/admin-page/stories/index.jsx
  projects/js-packages/components/components/admin-page/stories/style.module.scss
  projects/plugins/protect/changelog/update-set-custom-logo-to-protect-plugin
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/logo/index.tsx
Labels: [Type] Enhancement, [Status] Needs Review, Touches WP.com Files, [Size] M, RNA, [JS Package] Components, [Plugin] Protect

#24217 WAF: Don't execute code if on WPCOM
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/fix-waf-package-actions
Labels: [Status] Needs Team Review, [Package] WAF

#24187 Support Card: Change plan check to feature check
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/changelog/update-support-card-plan-check
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24223 first pass through WP.org listing for Jetpack Boost
  projects/plugins/boost/changelog/improve-boost-wordpress-org-listing
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Status] In Progress, [Plugin] Boost

#24237 Jetpack Sync Config: Full Sync module in "must sync" settings
  projects/packages/sync/changelog/update-must-sync-data-settings
  projects/packages/sync/src/class-data-settings.php
  projects/packages/sync/src/modules/class-full-sync-immediately.php
  projects/packages/sync/tests/php/data-test-data-settings.php
Labels: [Status] In Progress, [Package] Sync

#24245 Init 11.0-a.2
  projects/plugins/jetpack/changelog/add-init-11.0-a.2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24239 Protect: remove full_sync from sync configuration
  projects/plugins/protect/changelog/update-remove-full-sync
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect

#24246 Fixed changelog and readme for 11.0-a.1
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-Fixed-changelog-readme-11.0-a.1
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack

#24204 JS Components: re-write Alert component with TS
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-components-alter-tsx
  projects/js-packages/components/components/alert/declaration.d.ts
  projects/js-packages/components/components/alert/index.tsx
  projects/js-packages/components/components/alert/stories/index.jsx
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-components-alter-tsx
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/update-components-alter-tsx
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/update-components-alter-tsx
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/update-components-alter-tsx
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/update-components-alter-tsx
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/update-components-alter-tsx
  projects/packages/backup/package.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/my-jetpack/changelog/update-components-alter-tsx
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/update-components-alter-tsx
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/wordads/changelog/update-components-alter-tsx
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/plugins/boost/changelog/update-components-alter-tsx
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/update-components-alter-tsx
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/update-components-alter-tsx
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/update-components-alter-tsx
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/update-components-alter-tsx
  projects/plugins/starter-plugin/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad

#24189 Licensing: My Jetpack: Add and update entry points into licensing activation UI in My Jetpack
  pnpm-lock.yaml
  projects/js-packages/connection/changelog/update-licensing-to-my-jetpack
  projects/js-packages/connection/components/connection-status-card/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/partner-coupon/changelog/update-licensing-to-my-jetpack
  projects/js-packages/partner-coupon/package.json
  projects/packages/backup/changelog/update-licensing-to-my-jetpack
  projects/packages/backup/changelog/update-licensing-to-my-jetpack#2
  projects/packages/backup/composer.json
  projects/packages/backup/package.json
  projects/packages/connection-ui/changelog/update-licensing-to-my-jetpack
  projects/packages/connection-ui/package.json
  projects/packages/my-jetpack/_inc/components/add-license-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/style.module.scss
  projects/packages/my-jetpack/changelog/update-licensing-to-my-jetpack
  projects/packages/my-jetpack/changelog/update-licensing-to-my-jetpack#2
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/update-licensing-to-my-jetpack
  projects/packages/search/package.json
  projects/plugins/backup/changelog/update-licensing-to-my-jetpack
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-licensing-to-my-jetpack
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-licensing-to-my-jetpack
  projects/plugins/jetpack/changelog/update-licensing-to-my-jetpack#2
  projects/plugins/jetpack/changelog/update-licensing-to-my-jetpack#3
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/update-licensing-to-my-jetpack
  projects/plugins/protect/changelog/update-licensing-to-my-jetpack#2
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/package.json
  projects/plugins/search/changelog/update-licensing-to-my-jetpack
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-licensing-to-my-jetpack
  projects/plugins/social/changelog/update-licensing-to-my-jetpack#2
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/update-licensing-to-my-jetpack
  projects/plugins/starter-plugin/changelog/update-licensing-to-my-jetpack#2
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/starter-plugin/package.json
Labels: [Status] Needs Review, [Status] Design Review Complete, Touches WP.com Files, Admin Page, Docker, [Plugin] Jetpack, [Package] Connection UI, RNA, [Package] Backup, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24249 docker: Add PHP's intl module to the docker env
  tools/docker/Dockerfile
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Docker

#24248 Protect: Flush cache on plugin deactivation
  projects/plugins/protect/changelog/update-clear-protect-cache-deactivation
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/class-status.php
Labels: [Status] Needs Review, [Plugin] Protect

#24233 jetpack: Remove `node-polyfill-webpack-plugin` JS dep
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/client/mixins/emitter/index.js
  projects/plugins/jetpack/changelog/remove-node-polyfill-webpack-plugin-dep
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Status] Needs Review, Touches WP.com Files, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24252 jetpack: Fix a flaky test added in #24140
  projects/plugins/jetpack/changelog/fix-flaky-test
  projects/plugins/jetpack/extensions/shared/test/execution-lock-test.js
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24242 Publicize: Modifying publicize-jetpack.php filter comment so correct since tag at top
  projects/plugins/jetpack/changelog/fix-publicize-filter-doc-comment
  projects/plugins/jetpack/modules/publicize/publicize-jetpack.php
Labels: Publicize, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#24193 pro-status: Use feature checks for VPScan and VPBackup
  projects/plugins/jetpack/_inc/client/pro-status/index.jsx
  projects/plugins/jetpack/changelog/update-pro-status-feature-check
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24211 Replace Akismet plan with feature
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/changelog/update-replace-akismet-plan-with-feature
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack

#24184 Improve help message of VideoPress Privacy Setting at the block level.
  projects/plugins/jetpack/changelog/add-videopress-privacy-help-message
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24256 JS Components: re-write Text component with TS
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-convert-text-component-to-ts
  projects/js-packages/components/components/admin-page/stories/index.jsx
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/components/product-price/index.jsx
  projects/js-packages/components/components/text/constants.ts
  projects/js-packages/components/components/text/declaration.d.ts
  projects/js-packages/components/components/text/index.jsx
  projects/js-packages/components/components/text/index.tsx
  projects/js-packages/components/components/text/stories/Text-MDX-Documentation.mdx
  projects/js-packages/components/components/text/stories/headings.index.tsx
  projects/js-packages/components/components/text/stories/index.tsx
  projects/js-packages/components/components/text/stories/title.index.tsx
  projects/js-packages/components/components/text/types.ts
  projects/js-packages/components/package.json
  projects/js-packages/components/tsconfig.json
  projects/plugins/jetpack/changelog/upgrade-types-react
  projects/plugins/jetpack/package.json
  tools/js-tools/tsconfig.base.json
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, RNA, [JS Package] Components

#24259 e2e-commons: Replace wpapi to fix plugin fetching
  .npmrc
  pnpm-lock.yaml
  tools/e2e-commons/api/wp-api.cjs
  tools/e2e-commons/helpers/utils-helper.cjs
  tools/e2e-commons/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, E2E Tests

#24260 Protect: request and expose to the client the Security bundle data
  projects/plugins/protect/changelog/update-protect-pull-security-bundle-data
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/js/hooks/use-protect-data/index.js
  projects/plugins/protect/src/js/state/actions.js
  projects/plugins/protect/src/js/state/reducers.js
  projects/plugins/protect/src/js/state/resolvers.js
  projects/plugins/protect/src/js/state/selectors.js
  projects/plugins/protect/src/js/state/store.js
Labels: [Status] Ready to Merge, [Size] M, [Plugin] Protect

#24167 Search: Sync search options
  projects/packages/backup/changelog/add-sync-search-options
  projects/packages/backup/composer.json
  projects/packages/search/changelog/add-sync-search-options
  projects/packages/search/src/class-settings.php
  projects/packages/sync/changelog/add-sync-search-options
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-search.php
  projects/plugins/backup/changelog/add-sync-search-options
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-sync-search-options
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-sync-search-options
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-sync-search-options
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-sync-search-options
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-sync-search-options
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Package] Sync, Search, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Package] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24105 Fix/soft disconnection deprecation
  projects/packages/connection/changelog/fix-soft-disconnection-deprecation
  projects/packages/connection/docs/authorize-user.md
  projects/packages/connection/docs/register-site.md
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-plugin-storage.php
  projects/packages/connection/src/class-plugin.php
  projects/plugins/boost/changelog/fix-soft-disconnection-deprecation
  projects/plugins/boost/tests/e2e/specs/connection.test.js
  projects/plugins/protect/changelog/add-api-dep
Labels: [Status] Ready to Merge, E2E Tests, [Package] Connection, [Plugin] Boost, [Plugin] Protect

#24273 Protect: Add alert icon when having problem scanning the site
  projects/plugins/protect/changelog/update-add-protect-error-icon
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/admin-page/styles.module.scss
  projects/plugins/protect/src/js/components/alert-icon/index.jsx
  projects/plugins/protect/src/js/components/alert-icon/stories/index.jsx
Labels: [Status] Ready to Merge, [Size] M, RNA, [JS Package] Components, [Plugin] Protect

#24274 Protect: render Security component with dynamic data
  projects/plugins/protect/changelog/update-protect-secutiry-bundle-data-ui
  projects/plugins/protect/src/js/components/interstitial/index.jsx
  projects/plugins/protect/src/js/components/interstitial/stories/index.jsx
  projects/plugins/protect/src/js/components/interstitial/stories/mock.js
Labels: [Status] Needs Review, [Size] M, [Plugin] Protect

#24257 JS Components: typescriptify Dialog component
  projects/js-packages/components/changelog/update-js-components-dialog-tsx
  projects/js-packages/components/components/dialog/declaration.d.ts
  projects/js-packages/components/components/dialog/index.tsx
  projects/js-packages/components/components/dialog/stories/boost.png
  projects/js-packages/components/components/dialog/stories/declaration.d.ts
  projects/js-packages/components/components/dialog/stories/index.tsx
  projects/js-packages/components/components/layout/col/index.jsx
  projects/js-packages/components/components/layout/container/index.jsx
  projects/js-packages/components/components/product-offer/index.jsx
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, RNA, [JS Package] Components

#24262 Protect: Add Jetpack Scan to footer promotion section
  projects/plugins/protect/changelog/update-protect-add-scan-to-footer
  projects/plugins/protect/src/js/components/footer/index.jsx
Labels: [Status] Ready to Merge, [Size] S, [Plugin] Protect

#24258 Protect: different copy for unchecked items
  projects/plugins/protect/changelog/update-different-copy-for-unchecked-items
  projects/plugins/protect/src/js/components/vulnerabilities-list/empty.jsx
  projects/plugins/protect/src/js/hooks/use-protect-data/index.js
Labels: [Status] Ready to Merge, [Plugin] Protect

#24265 WAF: Do not throw API exceptions for users who do not have API access
  projects/packages/waf/changelog/allow-rules-api-401
  projects/packages/waf/src/class-waf-runner.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] WAF

#24186 PHPCS: fix linting errors in the Comic CPT file.
  projects/plugins/jetpack/changelog/update-phpcs-cpt-part3
  projects/plugins/jetpack/modules/custom-post-types/comics.php
  tools/phpcs-excludelist.json
Labels: Custom Content Types, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#24272 Do not hard disconnect Jetpack on deactivation
  projects/js-packages/connection/changelog/update-jetpack-soft-deactivation
  projects/js-packages/connection/components/disconnect-dialog/steps/step-disconnect.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-benefits/index.jsx
  projects/plugins/jetpack/_inc/client/portals/plugin-deactivation.jsx
  projects/plugins/jetpack/changelog/update-jetpack-soft-deactivation
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Connection

#24061 Update/assistant illustrations
  projects/plugins/jetpack/_inc/client/recommendations/_mixin.scss
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/product-purchased/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/product-purchased/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/feature-prompt/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/site-type/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/summary/style.scss
  projects/plugins/jetpack/changelog/update-assistant-illustrations
  projects/plugins/jetpack/class-jetpack-recommendations-banner.php
  projects/plugins/jetpack/images/recommendations/assistant-creative-mail-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-creative-mail-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-creative-mail.png
  projects/plugins/jetpack/images/recommendations/assistant-creative-mail.webp
  projects/plugins/jetpack/images/recommendations/assistant-downtime-monitoring-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-downtime-monitoring-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-downtime-monitoring.png
  projects/plugins/jetpack/images/recommendations/assistant-downtime-monitoring.webp
  projects/plugins/jetpack/images/recommendations/assistant-product-purchased-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-product-purchased-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-product-purchased.png
  projects/plugins/jetpack/images/recommendations/assistant-product-purchased.webp
  projects/plugins/jetpack/images/recommendations/assistant-related-post-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-related-post-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-related-post.png
  projects/plugins/jetpack/images/recommendations/assistant-related-post.webp
  projects/plugins/jetpack/images/recommendations/assistant-site-accelerator-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-site-accelerator-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-site-accelerator.png
  projects/plugins/jetpack/images/recommendations/assistant-site-accelerator.webp
  projects/plugins/jetpack/images/recommendations/assistant-site-type-2x.png
  projects/plugins/jetpack/images/recommendations/assistant-site-type-2x.webp
  projects/plugins/jetpack/images/recommendations/assistant-site-type.png
  projects/plugins/jetpack/images/recommendations/assistant-site-type.webp
  projects/plugins/jetpack/images/recommendations/background-alt.svg
  projects/plugins/jetpack/images/recommendations/background.svg
  projects/plugins/jetpack/images/recommendations/creative-mail-illustration.svg
  projects/plugins/jetpack/images/recommendations/general-illustration.png
  projects/plugins/jetpack/images/recommendations/monitor-illustration.svg
  projects/plugins/jetpack/images/recommendations/related-posts-illustration.jpg
  projects/plugins/jetpack/images/recommendations/site-accelerator-illustration.svg
  projects/plugins/jetpack/images/recommendations/site-type-illustration.jpg
  projects/plugins/jetpack/images/recommendations/woocommerce-illustration.jpg
  projects/plugins/jetpack/scss/jetpack-recommendations-banner.scss
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24250 Starter plugin: add activation and deactivation hooks
  projects/plugins/starter-plugin/changelog/update-starter-plugin-hooks
  projects/plugins/starter-plugin/jetpack-starter-plugin.php
  projects/plugins/starter-plugin/src/class-jetpack-starter-plugin.php
Labels: [Status] Ready to Merge, [Plugin] Starter Plugin

#24291 Subscriptions: fix mistake in pending message
  projects/plugins/jetpack/changelog/fix-subs-typo-message
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: [Type] Bug, Subscriptions, [Status] Ready to Merge, Touches WP.com Files, [Pri] Low, [Plugin] Jetpack

#24241 Better Video Privacy Section Label for the Video Block
  projects/plugins/jetpack/changelog/change-video-privacy-label
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: [Status] In Progress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24234 jetpack: Use browser URL API instead of polyfills
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/remove-url-polyfills
  projects/plugins/jetpack/extensions/blocks/calendly/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/fetch-status.js
  projects/plugins/jetpack/extensions/blocks/opentable/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/deprecated/v1/layout/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/deprecated/v2/utils/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/deprecated/v3/utils/index.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/utils/index.js
  projects/plugins/jetpack/extensions/shared/stripe-connection-notification.js
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Block] Tiled Gallery, [Block] OpenTable, [Block] Calendly, [Plugin] Jetpack, [Block] Donations

#24303 Jetpack CLI: add example of a change entry for the 'add' command
  tools/cli/commands/changelog.js
Labels: [Type] Enhancement, [Status] Needs Review, Jetpack CLI, [Tools] Development CLI

#24279 Latest Instagram Posts block: lazy load the images
  projects/plugins/jetpack/changelog/update-lazy-load-instagram-block-images
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/instagram-gallery.php
Labels: [Status] Ready to Merge, Touches WP.com Files, Lazy Images, [Block] Latest Instagram Posts, [Plugin] Jetpack

#24285 Search: Fix left padding for upsell page
  projects/packages/search/changelog/fix-search-upsell-left-padding
  projects/packages/search/src/dashboard/components/dashboard/upsell-page.scss
Labels: [Type] Bug, Search, [Status] Needs Team Review, [Package] Search

#24295 Status: Get site suffix from site URL on WoA sites
  projects/packages/redirect/changelog/fix-get-site-suffix-subdirectory-woa-sites
  projects/packages/redirect/tests/php/test-redirect.php
  projects/packages/status/changelog/fix-get-site-suffix-subdirectory-woa-sites
  projects/packages/status/src/class-status.php
  projects/packages/status/tests/php/test-status.php
Labels: [Package] Status, [Status] Needs Team Review, [Package] Redirect

#24057 CSS Tidy: Add `accent-color`, `aspect-ratio`, `gap`, and `text-underline-offset` properties
  projects/plugins/jetpack/changelog/add-support-new-css-properties
  projects/plugins/jetpack/modules/custom-css/csstidy/data.inc.php
  projects/plugins/jetpack/tests/php/modules/csstidy/test-class.jetpack-csstidy.php
Labels: [Type] Enhancement, Custom CSS, [Status] Ready to Merge, Unit Tests, Touches WP.com Files, [Plugin] Jetpack, Csstidy

#24264 Search: handle tiers without a record limit in Record Meter
  projects/packages/search/changelog/fix-record-meter-1m-plus-records
  projects/packages/search/src/dashboard/components/record-meter/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/lib/record-info.js
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/search/src/dashboard/components/record-meter/test/index.test.jsx
  projects/packages/search/src/dashboard/components/record-meter/test/notice-box.test.jsx
  projects/packages/search/src/dashboard/components/record-meter/test/record-count.test.jsx
Labels: [Status] Ready to Merge, Search, [Package] Search

#24212 Custom Content Types: fix PHPCS errors in Nova CPT file.
  projects/plugins/jetpack/changelog/update-phpcs-cpt-part4
  projects/plugins/jetpack/modules/custom-post-types/nova.php
  tools/phpcs-excludelist.json
Labels: Custom Content Types, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#23670 Custom CSS: Adding an Additional CSS menu item on JP activation
  projects/plugins/jetpack/_inc/client/writing/theme-enhancements.jsx
  projects/plugins/jetpack/changelog/update-custom-css-menu
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/modules/custom-css/custom-css-4.7.php
Labels: Custom CSS, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#23949 Improve Extensibility of VideoPress Privacy Setting filter by adding the embedded post id.
  projects/plugins/jetpack/changelog/add-videopress-privacy-setting-ajax-improvements
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-ajax.php
  projects/plugins/jetpack/modules/videopress/js/videopress-token-bridge.js
Labels: [Type] Enhancement, VideoPress, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24292 putting back in the except as accidentally removed it when adding to body
  projects/plugins/boost/changelog/improve-boost-wordpress-org-listing-patch
  projects/plugins/boost/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Boost

#24302 webpack-config: Add a plugin to make module ids more deterministic
  pnpm-lock.yaml
  projects/js-packages/i18n-check-webpack-plugin/changelog/fix-webpack-deterministic-ids
  projects/js-packages/i18n-check-webpack-plugin/tests/__snapshots__/build.test.js.snap
  projects/js-packages/webpack-config/changelog/fix-webpack-deterministic-ids
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/webpack.js
  projects/js-packages/webpack-config/src/webpack/pnpm-deterministic-ids.js
  projects/packages/assets/changelog/fix-webpack-deterministic-ids
  projects/packages/assets/package.json
  projects/packages/backup/changelog/fix-webpack-deterministic-ids
  projects/packages/backup/package.json
  projects/packages/connection-ui/changelog/fix-webpack-deterministic-ids
  projects/packages/connection-ui/package.json
  projects/packages/identity-crisis/changelog/fix-webpack-deterministic-ids
  projects/packages/identity-crisis/package.json
  projects/packages/jitm/changelog/fix-webpack-deterministic-ids
  projects/packages/jitm/package.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/lazy-images/changelog/fix-webpack-deterministic-ids
  projects/packages/lazy-images/package.json
  projects/packages/my-jetpack/changelog/fix-webpack-deterministic-ids
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/fix-webpack-deterministic-ids
  projects/packages/search/package.json
  projects/packages/wordads/changelog/fix-webpack-deterministic-ids
  projects/packages/wordads/package.json
  projects/plugins/jetpack/changelog/fix-webpack-deterministic-ids
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/fix-webpack-deterministic-ids
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/fix-webpack-deterministic-ids
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/fix-webpack-deterministic-ids
  projects/plugins/starter-plugin/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Package] Lazy Images, [Package] Assets, [Plugin] Jetpack, [Package] Connection UI, [Package] Jitm, RNA, [Package] Identity Crisis, [Package] Backup, [Package] Search, [Package] My Jetpack, [JS Package] Webpack Config, [JS Package] I18n Check Webpack Plugin, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad

#24269 Removed the keepPlaceholderOnFocus property from RichText component
  projects/plugins/jetpack/changelog/fix-remove-keepPlaceholderOnFocus
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/amount.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Donations Form, [Block] Dialogue, [Plugin] Jetpack, [Block] Donations

#24283 My Jetpack: Add from and redirectUri args to connection
  projects/packages/my-jetpack/_inc/components/connection-screen/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-connection-add-from
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] My Jetpack

#24315 Init 11.0-a.4
  projects/plugins/jetpack/changelog/add-jetpack11.0-a.4
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24316 Changelog and readme update for 11.0-a.3
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog-readme-11.0-a.3
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24318 Init jetpack 11.0-a.6
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/jetpack-branch-11.0
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24320 Publicize: Update package
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/fix-pub-namespace
  projects/packages/publicize/package.json
Labels: [Status] Ready to Merge, [Package] Publicize

#24323 Readme: team updates
  readme.md
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low

#24218 WAF: Handle share data option to write to log
  projects/packages/waf/changelog/add-waf-share-data-handling
  projects/packages/waf/composer.json
  projects/packages/waf/run.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/tests/php/test-waf-runtime.php
  projects/plugins/jetpack/changelog/add-waf-share-data-handling
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] WAF

#24153 WAF: Add activation/deactivation hooks for proper setup
  projects/packages/backup/changelog/fix-waf-activation-hooks
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/config/changelog/fix-waf-activation-hooks
  projects/packages/config/composer.json
  projects/packages/config/src/class-config.php
  projects/packages/publicize/changelog/fix-waf-activation-hooks
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/search/changelog/fix-waf-activation-hooks
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/waf/changelog/allow-rules-api-401
  projects/packages/waf/changelog/fix-waf-activation-hooks
  projects/packages/waf/src/class-waf-initializer.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/wordads/changelog/fix-waf-activation-hooks
  projects/packages/wordads/composer.json
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/plugins/backup/changelog/fix-waf-activation-hooks
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-waf-activation-hooks
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-waf-activation-hooks
  projects/plugins/jetpack/changelog/fix-waf-activation-hooks#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/fix-waf-activation-hooks
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-waf-activation-hooks
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-waf-activation-hooks
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-waf-activation-hooks
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Package] Config, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] Publicize, [Package] WAF, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad

#24309 Jetpack connection usage update
  projects/plugins/jetpack/changelog/update-jetpack-connection-usage
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#24299 Protect & Starter: Change methods used to disconnect
  projects/plugins/protect/changelog/update-disconnection-methods
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/starter-plugin/changelog/update-disconnection-methods
  projects/plugins/starter-plugin/src/class-jetpack-starter-plugin.php
Labels: [Status] Ready to Merge, [Plugin] Starter Plugin, [Plugin] Protect

#24300 Backup: Change method used to disconnect
  projects/packages/backup/changelog/update-backup-disconnection
  projects/packages/backup/src/class-jetpack-backup.php
Labels: [Status] Ready to Merge, [Package] Backup

#24263 Components: Add `useBreakpointMatch` hook
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-use-breakpoints
  projects/js-packages/components/components/layout/breakpoints.module.scss
  projects/js-packages/components/components/layout/stories/index.jsx
  projects/js-packages/components/components/layout/stories/styles.module.scss
  projects/js-packages/components/components/layout/use-breakpoint-match/declaration.d.ts
  projects/js-packages/components/components/layout/use-breakpoint-match/index.ts
  projects/js-packages/components/index.jsx
  projects/js-packages/components/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, RNA, [JS Package] Components

#24266 Search dashboard refactoring
  projects/packages/search/changelog/update-search-dashboard-refactoring
  projects/packages/search/src/dashboard/components/dashboard/connection-page.jsx
  projects/packages/search/src/dashboard/components/dashboard/upsell-page.jsx
  projects/packages/search/src/dashboard/components/dashboard/wrapped-dashboard.jsx
  projects/packages/search/src/dashboard/components/loading/index.jsx
  projects/packages/search/src/dashboard/components/loading/style.scss
  projects/packages/search/src/dashboard/components/pages/connection-page.jsx
  projects/packages/search/src/dashboard/components/pages/connection-page.scss
  projects/packages/search/src/dashboard/components/pages/dashboard-page.jsx
  projects/packages/search/src/dashboard/components/pages/dashboard-page.scss
  projects/packages/search/src/dashboard/components/pages/upsell-page.jsx
  projects/packages/search/src/dashboard/components/pages/upsell-page.scss
  projects/packages/search/src/dashboard/components/search-promotion/index.jsx
  projects/packages/search/src/dashboard/components/search-promotion/style.scss
  projects/packages/search/src/dashboard/hooks/use-connection.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#24325 Search: Redirect & enable after plugin activation
  projects/plugins/search/changelog/add-dashboard-redirect-after-search-plugin-activation
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/src/class-jetpack-search-plugin.php
Labels: [Type] Enhancement, Search, [Status] Needs Team Review, [Plugin] Search

#24310 Boost: Update connection usage
  projects/plugins/boost/app/lib/class-connection.php
  projects/plugins/boost/changelog/boost-update-disconnection
Labels: [Status] Needs Review, [Plugin] Boost

#24267 JS Components: Convert Button component to TypeScript
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-rna-button-to-ts
  projects/js-packages/components/components/button/index.jsx
  projects/js-packages/components/components/button/index.tsx
  projects/js-packages/components/components/button/stories/Button.mdx
  projects/js-packages/components/components/button/stories/index.tsx
  projects/js-packages/components/components/button/types.ts
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/js-packages/components/tsconfig.json
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components

#24326 Social: Add the editor sidebar
  projects/plugins/social/changelog/add-jetpack-social-add-sidebar
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/editor.js
  projects/plugins/social/webpack.config.js
Labels: [Status] Needs Team Review, [Plugin] Social

#24293 Publicize: Added publicize list connections end-point to the composer package.
  projects/packages/publicize/changelog/add-publicize-endpoints-to-package
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/tests/php/bootstrap.php
  projects/packages/publicize/tests/php/test-publicize-rest-controller.php
  projects/plugins/jetpack/changelog/add-publicize-endpoints-to-package
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-publicize-endpoints-to-package
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#24247 WAF: Add killswitch define checks
  projects/packages/waf/actions.php
  projects/packages/waf/changelog/add-waf-killswitch-define
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] WAF

#24277 Lazy Images: run lazy-images setup filters to run on 'the_post'
  projects/packages/lazy-images/changelog/update-lazy-images-filter-init
  projects/packages/lazy-images/src/lazy-images.php
Labels: [Type] Bug, [Status] Ready to Merge, Lazy Images, [Package] Lazy Images

#24327 WAF: Add endpoint to update rules on demand
  projects/packages/waf/changelog/add-waf-update-endpoint
  projects/packages/waf/src/class-waf-endpoints.php
Labels: [Status] Needs Team Review, [Package] WAF

#24336 linting: Remove `jetpack install --all`
  .github/workflows/linting.yml
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#24340 PHPCS: class.jetpack.php
  projects/plugins/jetpack/changelog/phpcs-jetpack-class-more
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#24313 Search: show search submenu for standalone with Jetpack plugin and site connected
  projects/plugins/search/changelog/update-show-search-submenu-for-standalone
  projects/plugins/search/compatibility/jetpack.php
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/src/class-jetpack-search-plugin.php
Labels: Search, [Status] Needs Team Review, [Plugin] Search

#23795 Move/service icons to js components package
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/move-service-icons-to-js-package
  projects/js-packages/base-styles/gutenberg-base-styles.scss
  projects/js-packages/base-styles/package.json
  projects/js-packages/components/changelog/move-service-icons-to-js-package
  projects/js-packages/components/components/icons/README.md
  projects/js-packages/components/components/icons/index.jsx
  projects/js-packages/components/components/icons/stories/index.jsx
  projects/js-packages/components/components/icons/stories/style.module.scss
  projects/js-packages/components/components/icons/style.module.scss
  projects/js-packages/components/components/product-icons/style.module.scss
  projects/js-packages/components/components/product-offer/index.jsx
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/move-service-icons-to-js-package
  projects/js-packages/connection/package.json
  projects/js-packages/idc/changelog/move-service-icons-to-js-package
  projects/js-packages/idc/package.json
  projects/js-packages/licensing/changelog/move-service-icons-to-js-package
  projects/js-packages/licensing/package.json
  projects/js-packages/partner-coupon/changelog/move-service-icons-to-js-package
  projects/js-packages/partner-coupon/package.json
  projects/js-packages/storybook/changelog/move-service-icons-to-js-package
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/move-service-icons-to-js-package
  projects/packages/backup/package.json
  projects/packages/my-jetpack/changelog/move-service-icons-to-js-package
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/move-service-icons-to-js-package
  projects/packages/search/package.json
  projects/packages/wordads/changelog/move-service-icons-to-js-package
  projects/packages/wordads/package.json
  projects/plugins/boost/changelog/move-service-icons-to-js-package
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/move-service-icons-to-js-package
  projects/plugins/jetpack/extensions/blocks/social-previews/editor.scss
  projects/plugins/jetpack/extensions/blocks/social-previews/modal.js
  projects/plugins/jetpack/extensions/blocks/social-previews/panel.js
  projects/plugins/jetpack/extensions/plugins/publicize/components/connection-icon/index.jsx
  projects/plugins/jetpack/extensions/plugins/publicize/components/twitter/tweet-divider.js
  projects/plugins/jetpack/extensions/shared/icons.js
  projects/plugins/jetpack/package.json
  projects/plugins/protect/changelog/move-service-icons-to-js-package
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/move-service-icons-to-js-package
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/move-service-icons-to-js-package
  projects/plugins/starter-plugin/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Social Previews, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Base Styles, [JS Package] Storybook, [Extension] Publicize, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad

#24332 Support: add specific copy for WoA sites
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/changelog/update-support-message-for-woa
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#24345 renovate: Log GitHub API rate limits pre- and post-run
  .github/workflows/renovate.yml
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#24280 JS Components: tweak and improve Dialog component
  projects/js-packages/components/changelog/update-js-component-iterate-over-dialog
  projects/js-packages/components/components/dialog/index.tsx
  projects/js-packages/components/components/dialog/stories/index.tsx
  projects/js-packages/components/components/dialog/stories/style.module.scss
  projects/js-packages/components/components/dialog/style.module.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] S, RNA, [JS Package] Components

#24349 Boost: New Screenshots and Readme reference
  projects/plugins/boost/changelog/improve-boost-wordpress-org-screenshots
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Plugin] Boost

#24347 My Jetpack: Add Protect class
  projects/packages/backup/changelog/update-my-jetpack-add-protect-product-data
  projects/packages/backup/composer.json
  projects/packages/my-jetpack/changelog/update-my-jetpack-add-protect-product-data
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/products/class-protect.php
  projects/plugins/backup/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-my-jetpack-add-protect-product-data
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24342 PHPCS: Infinite Scroll
  projects/plugins/jetpack/changelog/phpcs-infinite-scroll-2
  projects/plugins/jetpack/modules/infinite-scroll.php
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentyeleven.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentyfifteen.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentyfourteen.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentyseventeen.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentysixteen.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentyten.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentythirteen.php
  projects/plugins/jetpack/modules/infinite-scroll/themes/twentytwelve.php
  tools/phpcs-excludelist.json
Labels: Infinite Scroll, [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24353 Protect: Cache empty results for a shorter period of time
  projects/plugins/protect/changelog/add-shorter-cache-for-empty-responses
  projects/plugins/protect/src/class-status.php
  projects/plugins/protect/tests/php/bootstrap.php
  projects/plugins/protect/tests/php/test-status.php
Labels: [Status] Needs Review, [Plugin] Protect

#24335 My Jetpack: Install Jetpack if stand-alone plugin installation fails
  projects/packages/my-jetpack/changelog/update-my-jetpack-hybrid-installation
  projects/packages/my-jetpack/src/products/class-hybrid-product.php
  projects/packages/my-jetpack/src/products/class-search.php
Labels: [Status] Needs Review, [Package] My Jetpack

#24328 Gridicon: add info-outline icon to available subset of icons
  projects/js-packages/components/changelog/add-info-outline-gridicon
  projects/js-packages/components/components/gridicon/index.jsx
  projects/js-packages/components/components/gridicon/stories/index.jsx
Labels: [Status] Ready to Merge, Touches WP.com Files, Search, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [JS Package] IDC, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Partner Coupon, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad

#24348 Search: Record Meter. Replaces localStorage with sessionStorage
  projects/packages/search/changelog/update-search-record-meter-session-storage
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
Labels: [Status] Ready to Merge, Search, [Package] Search

#24304 Masterbar: Async the admin menu upsell nudge - take 2
  projects/plugins/jetpack/changelog/try-async-admin-menu-upsell-nudge-2
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
Labels: [Status] Ready to Merge, Unit Tests, Touches WP.com Files, Masterbar, JITM, nav-unification, [Plugin] Jetpack

#24363 Codesniffer: allow the use of lowercase WordPress
  projects/packages/codesniffer/Jetpack/ruleset.xml
  projects/packages/codesniffer/changelog/update-ruleset-wordpress
Labels: [Status] Needs Review, [Pri] Normal, [Package] Codesniffer

#23863 Add WAF to Jetpack Scan feature lists
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/mock-data.js
  projects/packages/my-jetpack/changelog/update-scan-feature-list
  projects/packages/my-jetpack/src/products/class-scan.php
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/changelog/update-scan-feature-list
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Package] My Jetpack

#24352 PHPCS: Tiled Gallery
  projects/plugins/jetpack/changelog/phpcs-tiled-galleries
  projects/plugins/jetpack/modules/tiled-gallery.php
  projects/plugins/jetpack/modules/tiled-gallery/math/class-constrained-array-rounding.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/templates/carousel-container.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/templates/partials/carousel-image-args.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/templates/partials/item.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-circle.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-item.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-layout.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-rectangular.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-shape.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-square.php
  tools/phpcs-excludelist.json
Labels: Tiled Gallery, [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24374 JS Components: rename split Dialog property. Handle layout on mobile.
  projects/js-packages/components/changelog/update-dialog-component-api
  projects/js-packages/components/components/dialog/index.tsx
  projects/js-packages/components/components/dialog/stories/index.tsx
  projects/js-packages/components/components/dialog/stories/js-components.components.dialog.story.mdx
  projects/js-packages/components/components/dialog/stories/style.module.scss
  projects/js-packages/components/components/dialog/style.module.scss
  projects/js-packages/components/components/text/stories/Text-MDX-Documentation.mdx
  projects/plugins/protect/changelog/update-dialog-component-api
  projects/plugins/protect/src/js/components/footer/index.jsx
  projects/plugins/protect/src/js/components/interstitial/index.jsx
Labels: [Type] Enhancement, [Status] Ready to Merge, Touches WP.com Files, [Size] M, RNA, [JS Package] Components, [Plugin] Protect

#24334 My Jetpack Add filter in my jetpack activation
  projects/packages/backup/changelog/add-my-jetpack-activation-filter
  projects/packages/my-jetpack/changelog/add-my-jetpack-activation-filter
  projects/packages/my-jetpack/src/products/class-hybrid-product.php
  projects/packages/my-jetpack/src/products/class-module-product.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-scan.php
  projects/packages/my-jetpack/src/products/class-security.php
  projects/plugins/backup/changelog/add-my-jetpack-activation-filter
  projects/plugins/boost/changelog/add-my-jetpack-activation-filter
  projects/plugins/jetpack/changelog/add-my-jetpack-activation-filter
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-my-jetpack-activation-filter
  projects/plugins/search/changelog/add-my-jetpack-activation-filter
  projects/plugins/social/changelog/add-my-jetpack-activation-filter
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-my-jetpack-activation-filter
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24356 Protect: use data provided by My Jetpack to render Product offer
  projects/plugins/protect/changelog/update-protect-remove-product-mock-data
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/js/components/interstitial/stories/mock.js
  projects/plugins/protect/src/js/components/product-offer/index.jsx
  projects/plugins/protect/src/js/components/product-offer/stories/index.jsx
  projects/plugins/protect/src/js/hooks/use-protect-data/index.js
  projects/plugins/protect/src/js/state/actions.js
  projects/plugins/protect/src/js/state/reducers.js
  projects/plugins/protect/src/js/state/selectors.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] M, [Plugin] Protect

#24382 Boost: Update Cloud CSS timeout error message
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/changelog/update-cloud-css-timeout-error
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Cloud CSS

#24333 Membership Products Store: minimize amount of API requests
  projects/plugins/jetpack/changelog/enhance-membership-product-store-minimize-api-requests
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Block] Premium Content, [Plugin] Jetpack

#24357 My Jetpack: Add tiered pricing copy and update titles for Jetpack Search
  projects/packages/my-jetpack/_inc/components/connected-product-offer/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/product-detail-button/stories/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/update-search-copy-in-my-jetpack
  projects/packages/my-jetpack/src/products/class-search.php
  projects/packages/search/changelog/update-search-copy-in-my-jetpack
  projects/packages/search/src/dashboard/components/pages/connection-page.jsx
Labels: [Type] Enhancement, [Status] Needs Review, Search, [Package] Search, [Package] My Jetpack

#24294 Fix version conflicts for @types/react
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, RNA, [JS Package] Components

#24344 Jetpack Sync: Introduce custom endpoint for spawning Sync requests
  composer.lock
  projects/packages/backup/changelog/update-sync-dedicated-endpoint
  projects/packages/backup/composer.json
  projects/packages/sync/changelog/update-sync-dedicated-endpoint
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-dedicated-sender.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/src/class-sender.php
  projects/packages/sync/src/class-settings.php
  projects/packages/sync/tests/php/test-actions.php
  projects/packages/sync/tests/php/test-dedicated-sender.php
  projects/packages/sync/tests/php/test-rest-endpoints.php
  projects/plugins/backup/changelog/update-sync-dedicated-endpoint
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-sync-dedicated-endpoint
  projects/plugins/jetpack/changelog/update-sync-dedicated-endpoint#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-sender.php
  projects/plugins/protect/changelog/update-sync-dedicated-endpoint
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-dedicated-endpoint
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-dedicated-endpoint
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-dedicated-endpoint
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24393 Social: Initial readme.txt content
  projects/plugins/social/changelog/add-social-readme
  projects/plugins/social/readme.txt
Labels: [Status] Ready to Merge, [Pri] BLOCKER, [Plugin] Social

#24351 PHPCS: VideoPress
  projects/plugins/jetpack/changelog/update-phpcs-videopress
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
  projects/plugins/jetpack/modules/videopress/class.videopress-ajax.php
  projects/plugins/jetpack/modules/videopress/class.videopress-edit-attachment.php
  projects/plugins/jetpack/modules/videopress/class.videopress-player.php
  projects/plugins/jetpack/modules/videopress/class.videopress-video.php
  projects/plugins/jetpack/modules/videopress/class.videopress-xmlrpc.php
  projects/plugins/jetpack/modules/videopress/editor-media-view.php
  projects/plugins/jetpack/modules/videopress/shortcode.php
  projects/plugins/jetpack/modules/videopress/utility-functions.php
  tools/phpcs-excludelist.json
Labels: VideoPress, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#24392 JSON API: Update theme response array to match output
  projects/plugins/jetpack/changelog/update-response-themes
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#24251 My Jetpack: Update "Activate a license" link to send user to connection when not user connnected
  projects/packages/my-jetpack/_inc/components/plans-section/index.jsx
  projects/packages/my-jetpack/changelog/Hide Activate a license link if there is no user connection since user connection is required
Labels: [Type] Enhancement, [Status] Needs Review, [Status] Design Review Complete, [Package] My Jetpack

#24355 Remove pnpm hoisting for eslint
  .npmrc
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/js-packages/shared-extension-utils/.eslintrc.js
  projects/js-packages/shared-extension-utils/changelog/fix-eslint-configs
  projects/js-packages/shared-extension-utils/package.json
  projects/plugins/boost/.eslintrc.cjs
  projects/plugins/boost/changelog/fix-eslint-configs
  projects/plugins/boost/package.json
  projects/plugins/jetpack/changelog/fix-eslint-configs
  projects/plugins/jetpack/modules/widget-visibility/editor/.eslintrc.js
  tools/e2e-commons/.eslintrc.cjs
  tools/js-tools/eslintrc/base.js
  tools/js-tools/eslintrc/jest.js
  tools/js-tools/eslintrc/playwright.js
  tools/js-tools/eslintrc/preload.js
  tools/js-tools/eslintrc/prettier.js
  tools/js-tools/eslintrc/react.js
  tools/js-tools/eslintrc/svelte.js
  tools/js-tools/eslintrc/typescript.js
  tools/js-tools/eslintrc/wp-eslint-plugin/esnext.js
  tools/js-tools/eslintrc/wp-eslint-plugin/recommended-with-formatting.js
  tools/js-tools/eslintrc/wp-eslint-plugin/recommended.js
  tools/js-tools/package.json
Labels: Widget Visibility, [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, E2E Tests, [Plugin] Jetpack, RNA, [Plugin] Boost, [JS Package] Shared Extension Utils

#24364 PHPCS: More class.jetpack.php
  projects/plugins/jetpack/changelog/phpcs-class-jetpack
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#24381 Track boost deactivation
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/changelog/add-track-boost-deactivation
Labels: [Status] Needs Team Review, [Status] Needs Privacy Updates, [Plugin] Boost

#24386 Search: Remove search widget cta on uneligible themes
  projects/plugins/jetpack/_inc/client/performance/search.jsx
  projects/plugins/jetpack/_inc/client/performance/test/component.js
  projects/plugins/jetpack/_inc/client/performance/test/fixtures.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/fix-remove-search-widget-cta-on-uneligible-themes
  projects/plugins/jetpack/tests/php/_inc/lib/test-class-jetpack-redux-state-helper.php
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, Search, [Plugin] Jetpack

#24406 Update boost/tsconfig to use js-tools/tsconfig.base.json
  pnpm-lock.yaml
  projects/plugins/boost/changelog/update-boost-use-consistent-tsconfig
  projects/plugins/boost/package.json
  projects/plugins/boost/tsconfig.json
  tools/js-tools/tsconfig.base.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Boost

#24371 Protect: Update `Footer` and `VulsList` to small/medium viewports.
  projects/plugins/protect/changelog/update-protect-macro-small-viewport
  projects/plugins/protect/src/js/components/footer/index.jsx
  projects/plugins/protect/src/js/components/footer/styles.module.scss
  projects/plugins/protect/src/js/components/vulnerabilities-list/index.jsx
Labels: [Type] Enhancement, [Status] Needs Review, Admin Page, [Pri] Normal, [Plugin] Protect

#24390 Protect: polish interstitial page in medium viewport size
  projects/js-packages/components/changelog/update-protect-interstial-md-size
  projects/js-packages/components/components/dialog/index.tsx
  projects/plugins/protect/changelog/update-protect-interstial-md-size
  projects/plugins/protect/src/js/components/interstitial/index.jsx
  projects/plugins/protect/src/js/components/interstitial/styles.module.scss
Labels: [Status] Needs Review, Touches WP.com Files, RNA, [JS Package] Components, [Plugin] Protect

#24407 Payment Blocks: Only attempt to auto-select a product if it exists
  projects/plugins/jetpack/changelog/fix-payment-blocks-unable-to-autocreate-products-when-stripe-disconnected
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Type] Bug, [Status] Ready to Merge, Touches WP.com Files, [Block] Payment Button, [Block] Premium Content, [Plugin] Jetpack

#24389 Update "Confirmation request" email default body
  projects/plugins/jetpack/changelog/update-subscriptions-confirmation-request-email-default-body
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Type] Enhancement, Subscriptions, [Status] Ready to Merge, [Plugin] Jetpack

#24411 Init jetpack 11.0-a.8
  projects/plugins/jetpack/changelog/init-11.0-a.8
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24414 Changelog fix for 11.0-a.7
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-changelog-fix-11.0-a.7
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Plugin] Jetpack

#24419 Revert Dedicated Sync Endpoints
  projects/packages/backup/changelog/revert-dedicated-sync
  projects/packages/backup/src/class-package-version.php
  projects/packages/sync/changelog/revert-dedicated-sync
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-dedicated-sender.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/src/class-sender.php
  projects/packages/sync/src/class-settings.php
  projects/packages/sync/tests/php/test-actions.php
  projects/packages/sync/tests/php/test-dedicated-sender.php
  projects/packages/sync/tests/php/test-rest-endpoints.php
  projects/plugins/backup/changelog/revert-dedicated-sync
  projects/plugins/jetpack/changelog/revert-dedicated-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-sender.php
  projects/plugins/protect/changelog/revert-dedicated-sync
  projects/plugins/search/changelog/revert-dedicated-sync
  projects/plugins/social/changelog/revert-dedicated-sync
  projects/plugins/starter-plugin/changelog/revert-dedicated-sync
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync, [Pri] BLOCKER, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect

#24427 Stats: remove unnecessary type attribute from style element.
  projects/plugins/jetpack/changelog/update-stats-smiley-css
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#24422 VideoPress: fix validation error for core/video
  projects/plugins/jetpack/changelog/fix-vp-core-video-validation
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
Labels: VideoPress, [Status] Needs Review, Touches WP.com Files, [Plugin] Jetpack, [Block] VideoPress

#24429 Changelog and readme for 11.0-a.9
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/update-licensing-no-jetpack-plugin
  projects/js-packages/licensing/package.json
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/revert-dedicated-sync
  projects/packages/backup/src/class-package-version.php
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/add-check-for-httponly
  projects/packages/connection/src/class-package-version.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-licensing-no-jetpack-plugin
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/CHANGELOG.md
  projects/packages/search/changelog/remove-customberg-sidebar-auto-collapse
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/status/CHANGELOG.md
  projects/packages/status/changelog/add-check-for-httponly
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/revert-dedicated-sync
  projects/packages/sync/src/class-package-version.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-check-for-httponly
  projects/plugins/jetpack/changelog/disable-whitespace-optimization-in-csstidy
  projects/plugins/jetpack/changelog/fix-vp-core-video-validation
  projects/plugins/jetpack/changelog/remove-customberg-sidebar-auto-collapse
  projects/plugins/jetpack/changelog/revert-dedicated-sync
  projects/plugins/jetpack/changelog/update-changelog-fix-11.0-a.7
  projects/plugins/jetpack/changelog/update-licensing-no-jetpack-plugin
  projects/plugins/jetpack/changelog/update-stats-smiley-css
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Package] Sync, [Package] Status, [Package] Connection, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Licensing, [Package] Search, [Package] My Jetpack

#24431 Init 11.0-a.10
  projects/plugins/jetpack/changelog/init-11.0-a.10
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Ready to Merge, Touches WP.com Files, [Plugin] Jetpack

#24430 [Performance tests] Fix performance tests broken setup
  .github/workflows/block-performance.yml
Labels: [Status] Needs Review, Actions

#24433 Release new version of packages for 10.9.1 release
  projects/packages/connection/CHANGELOG.md
  projects/packages/publicize/CHANGELOG.md
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Sync, [Pri] Normal, [Package] Status, [Package] Connection, [Package] Publicize

#24435 Jetpack: update changelog with 10.9.1 entries
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-master-1091-changelog
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, Touches WP.com Files, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack
