Repository Automattic/jetpack, pull requests merged in 2023-04, with the labels that each got.

#29863 Stats Admin: refactor config data to `Odyssey_Config_Data`
  projects/packages/stats-admin/changelog/update-refactoring-config-data
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/packages/stats-admin/tests/php/test-odyssey-config-data.php
  projects/packages/stats-admin/tests/php/test-stats-dashboard.php
Labels: Stats, [Status] Needs Team Review, [Status] Needs Test Review, [Package] Stats Admin

#29868 Jetpack: Change "Gold Token" references to "Golden Token"
  projects/js-packages/licensing/changelog/update-jetpack-gold-token-unification
  projects/js-packages/licensing/components/golden-token-modal/index.jsx
  projects/js-packages/licensing/package.json
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/changelog/update-jetpack-gold-token-unification
Labels: [Status] Ready to Merge, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack, RNA, [JS Package] Licensing

#29843 VideoPress: pause player when previewOnHover enables
  projects/packages/videopress/changelog/update-videopress-stop-when-enabling-preview-on-hover
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/types.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29765 Rnmobile/native vp player caption
  projects/packages/videopress/changelog/rnmobile-vp-native-player-caption
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/types.native.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.native.tsx
Labels: [Status] Needs Team Review, [Package] VideoPress

#29841 Update/launchpad checklist tasks statuses site settings
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-checklist-tasks-statuses-site-settings
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/update-launchpad-checklist-tasks-statuses-site-settings
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] Mu Wpcom Plugin

#29853 Protect: Fix firewall status to be considered "on" if brute force protection is enabled
  projects/plugins/protect/changelog/fix-protect-firewall-status-when-bfp
  projects/plugins/protect/src/js/components/firewall-header/index.jsx
Labels: [Type] Bug, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Protect

#29848 Forms: Add Single Actions menu
  projects/packages/forms/changelog/add-single-actions-menu
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/constants.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#29871 CRM: Update Jetpack CRM stable tag in readme.txt to 5.6.0
  projects/plugins/crm/changelog/update-crm-readme-5.6.0
  projects/plugins/crm/readme.txt
Labels: [Status] Needs Team Review, [Plugin] CRM

#29842 WAF: Prevent Brute_Force_Protection::__construct from registering hooks when Jetpack already has
  projects/packages/sync/changelog/fix-log-failed-login-isset-warning
  projects/packages/sync/src/modules/class-protect.php
  projects/packages/waf/changelog/fix-brute-force-multi-construct
  projects/packages/waf/src/class-brute-force-protection.php
Labels: [Status] Needs Review, [Package] Sync, [Status] Needs Cherry-Pick, [Package] WAF

#29866 Admin Page / AAG: simplify Akismet logic to fix display issue
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/changelog/update-aag-ak-logic
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Pri] Low, Anti-Spam, [Plugin] Jetpack

#29883 VideoPress: Persist hover preview values on markup for video block
  projects/packages/videopress/changelog/update-videopress-preview-on-hover-frontend-attrs
  projects/packages/videopress/src/client/block-editor/blocks/video/save.tsx
Labels: VideoPress, [Status] Ready to Merge, [Block] VideoPress, [Package] VideoPress

#29885 Use magic strings instead of enums
  projects/plugins/jetpack/changelog/2023-04-03-18-38-00-693441
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#29891 Backport 12.0 beta cherry picked changes.
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/fix-cut-line-break
  projects/js-packages/components/package.json
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/update-jetpack-gold-token-unification
  projects/js-packages/licensing/package.json
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/backport-12.0-beta-cherry-picks
  projects/packages/backup/src/class-package-version.php
  projects/packages/blaze/CHANGELOG.md
  projects/packages/blaze/changelog/backport-12.0-beta-cherry-picks
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-blaze.php
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/backport-12.0-beta-cherry-picks
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/changelog/backport-12.0-beta-cherry-picks
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/backport-12.0-beta-cherry-picks
  projects/packages/search/CHANGELOG.md
  projects/packages/search/changelog/backport-12.0-beta-cherry-picks
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-log-failed-login-isset-warning
  projects/packages/sync/src/class-package-version.php
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/backport-12.0-beta-cherry-picks
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-brute-force-multi-construct
  projects/packages/waf/changelog/fix-brute-force-protection-running-twice
  projects/packages/waf/src/class-compatibility.php
  projects/packages/wordads/CHANGELOG.md
  projects/packages/wordads/changelog/backport-12.0-beta-cherry-picks
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/packages/yoast-promo/CHANGELOG.md
  projects/packages/yoast-promo/changelog/add-yoast-promo-package
  projects/packages/yoast-promo/changelog/add-yoast-promo-prepublish-panel
  projects/packages/yoast-promo/package.json
  projects/packages/yoast-promo/src/class-yoast-promo.php
Labels: [Status] Ready to Merge, [Package] Sync, RNA, [Package] Identity Crisis, [Package] Backup, [JS Package] Components, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [Package] WAF, [Package] Ad, [Package] VideoPress, [Package] Blaze, [Package] Forms, [Package] Yoast Promo

#29799 [Boost] Update readme and copy around Image Guide
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/boost-marketing-updates
  projects/plugins/boost/readme.txt
Labels: [Status] In Progress, [Plugin] Boost

#29869 Refactor importer HTTP status code
  projects/packages/import/changelog/change-http-statuses
  projects/packages/import/src/endpoints/class-category.php
  projects/packages/import/src/endpoints/class-comment.php
  projects/packages/import/src/endpoints/class-menu.php
  projects/packages/import/src/endpoints/class-post.php
  projects/packages/import/src/endpoints/class-tag.php
  projects/packages/import/src/endpoints/trait-import.php
Labels: [Status] Needs Author Reply, [Package] Import

#29892 VideoPress: playback video into the boundaries defined the previewOnHover
  projects/packages/videopress/changelog/update-videopress-preview-on-hover-playback-time
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29887 Connection: remove argument deprecation notice
  projects/packages/connection/changelog/update-remove-old-deprecation-notice
  projects/packages/connection/src/class-tokens.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Package] Connection

#29886 CRM: Fixes 3021 - welcome wizard JS issue
  projects/plugins/crm/changelog/fix-crm-3021-welcome_wizard_JS_issue
  projects/plugins/crm/js/welcome-to-zbs/wizard2.js
Labels: [Status] Ready to Merge, [Plugin] CRM

#29880 Display the Correct Newsletter Gated text when Stripe is Disconnected
  projects/plugins/jetpack/changelog/fix-display-correct-newsletter-gated-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#29907 VideoPress: Retry video data fetch if data is not fully available yet
  projects/packages/videopress/changelog/fix-videopress-video-duration
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
Labels: VideoPress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29914 Forms: Dashboard Inbox style adjustments
  projects/packages/forms/changelog/update-forms-dashboard-inbox
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#29888 CRM: Resolves 2929 - adjust dashboard infobox padding
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/fix-crm-2929-adjust_dashboard_infobox_padding
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
Labels: [Status] Needs Review, [Plugin] CRM

#29873 CRM: Change the Give Feedback link to send to Leave a Review
  projects/plugins/crm/changelog/crm-fix-feedback-broken-page
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Plugin] CRM

#29893 Stats Admin: refactor odyssey assets loading
  projects/packages/stats-admin/changelog/update-refactoring-odyssey-assets-loading
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-odyssey-assets.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/packages/stats-admin/tests/php/test-odyssey-assets.php
  projects/packages/stats-admin/tests/php/test-odyssey-config-data.php
  projects/packages/stats-admin/tests/php/test-stats-dashboard.php
Labels: [Status] Needs Team Review, [Package] Stats, [Status] Needs Test Review, [Package] Stats Admin

#29922 Update changelogs after the 12.0 release.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/Amended to-test
  projects/plugins/jetpack/changelog/fix-29773
  projects/plugins/jetpack/changelog/try-useeffect-issues-62
  projects/plugins/jetpack/changelog/update-cleanup-changelog-12.0-beta
  projects/plugins/jetpack/changelog/update-jetpack-gold-token-unification
  projects/plugins/jetpack/readme.txt
  projects/plugins/social/changelog/update-12.0-changelog
  projects/plugins/social/readme.txt
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Social

#29912 VideoPress: first previewOnHover implementation in the front-end
  projects/packages/videopress/changelog/update-videopress-enqueue-iframe-api-asset-file
  projects/packages/videopress/changelog/update-videopress-expose-poh-data-by-using-script-element
  projects/packages/videopress/changelog/update-videopress-play-pause-in-frontend
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/client/block-editor/blocks/video/save.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/view.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29865 Social Previews | Add social icons to the top nav
  projects/js-packages/components/changelog/add-social-icons
  projects/js-packages/components/components/icons/index.tsx
  projects/js-packages/components/components/icons/style.module.scss
  projects/js-packages/publicize-components/changelog/add-social-icons
  projects/js-packages/publicize-components/src/components/social-previews/constants.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.scss
  projects/js-packages/publicize-components/src/components/social-previews/panel.js
  projects/js-packages/publicize-components/src/components/social-previews/panel.scss
  projects/plugins/jetpack/changelog/add-social-icons
  projects/plugins/jetpack/extensions/blocks/social-previews/editor.scss
  projects/plugins/jetpack/extensions/blocks/social-previews/index.js
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Block] Social Previews, [Plugin] Jetpack, RNA, [JS Package] Components, [JS Package] Publicize Components

#29911 Tiled gallery: remove old wpcom code
  projects/plugins/jetpack/changelog/update-remove-old-wpcom-code-from-tiled-gallery
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery.js
Labels: [Type] Enhancement, Tiled Gallery, [Status] Needs Team Review, [Plugin] Jetpack, Jetpack

#29925 VideoPress: Fix minimum loop duration and default hover values
  projects/packages/videopress/changelog/fix-videopress-hover-default
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: VideoPress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29822 CRM: Resolves 2979 - use native CSV parsing when importing
  projects/plugins/crm/changelog/fix-crm-2979-csv_importer_fixes
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29926 VideoPress: check if beta extension is enabled when saving VideoPress video block
  projects/packages/videopress/changelog/update-videopress-check-beta-extensions-when-saving
  projects/packages/videopress/src/client/block-editor/blocks/video/save.tsx
Labels: [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29756 [RNMobile] Fetch VideoPress token
  projects/packages/videopress/changelog/rnmobile-videopress-fetch-token
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.native.tsx
  projects/packages/videopress/src/client/lib/get-media-token/index.native.ts
Labels: [Block] VideoPress, [Package] VideoPress

#29895 CRM: Changing location of externally added import Transaction menu links
  projects/plugins/crm/changelog/update-crm-transaction-menu-dropdown
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29943 [RNMobile] Add empty native version of `PosterPanel` component
  projects/packages/videopress/changelog/rnmobile-videopress-fix-poster-panel
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.native.js
Labels: [Status] Needs Author Reply, [Block] VideoPress, [Package] VideoPress

#29947 stats: Workaround broken plugins on Atomic
  projects/packages/stats/changelog/workaround-broken-crap-on-atomic
  projects/packages/stats/src/class-tracking-pixel.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, [Package] Stats

#29949 VideoPress: turn playback "controls" off when pOH feature is enabled
  projects/packages/videopress/changelog/update-videopress-turn-controls-off-when-switching-poh-feature
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29899 Jetpack Boost: Update data sync flexibility
  pnpm-lock.yaml
  projects/js-packages/svelte-data-sync-client/changelog/update-boost-data-sync-flexibility
  projects/js-packages/svelte-data-sync-client/package.json
  projects/js-packages/svelte-data-sync-client/src/Endpoint.ts
  projects/js-packages/svelte-data-sync-client/src/SyncedStore.ts
  projects/js-packages/svelte-data-sync-client/src/initializeClient.ts
  projects/js-packages/svelte-data-sync-client/src/types.ts
  projects/packages/wp-js-data-sync/changelog/update-boost-data-sync-flexibility
  projects/packages/wp-js-data-sync/src/class-data-sync-entry.php
  projects/packages/wp-js-data-sync/src/class-data-sync-option.php
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/class-registry.php
  projects/packages/wp-js-data-sync/src/contracts/interface-data-sync-entry-adapter.php
  projects/packages/wp-js-data-sync/src/contracts/interface-entry-can-delete.php
  projects/packages/wp-js-data-sync/src/contracts/interface-entry-can-get.php
  projects/packages/wp-js-data-sync/src/contracts/interface-entry-can-merge.php
  projects/packages/wp-js-data-sync/src/contracts/interface-entry-can-set.php
  projects/packages/wp-js-data-sync/src/endpoints/class-endpoint.php
  projects/packages/wp-js-data-sync/src/entry-handlers/class-boolean-entry.php
  projects/packages/wp-js-data-sync/src/entry-handlers/class-data-sync-entry-handler.php
  projects/packages/wp-js-data-sync/src/schema/modifiers/class-decorate-with-default.php
  projects/packages/wp-js-data-sync/src/schema/types/class-type-boolean.php
  projects/packages/wp-js-data-sync/src/storage-drivers/class-storage-driver.php
  projects/packages/wp-js-data-sync/src/storage-drivers/class-wp-option-storage.php
  projects/packages/wp-js-data-sync/tests/php/schema/integration/test-integration-fallback-values.php
  projects/plugins/boost/app/data-sync/cloud-css-sync.php
  projects/plugins/boost/app/data-sync/critical-css-state-handler.php
  projects/plugins/boost/app/lib/Status.php
  projects/plugins/boost/changelog/update-boost-data-sync-flexibility
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, RNA, [Plugin] Boost, [Package] WP JS Data Sync, [JS Package] Svelte Data Sync Client

#29953 Jetpack: backport 12.1-a.3
  projects/packages/stats/CHANGELOG.md
  projects/packages/stats/changelog/workaround-broken-crap-on-atomic
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/fix-videopress-hover-default
  projects/packages/videopress/changelog/rnmobile-videopress-fetch-token
  projects/packages/videopress/changelog/rnmobile-videopress-fix-poster-panel
  projects/packages/videopress/changelog/update-videopress-check-beta-extensions-when-saving
  projects/packages/videopress/changelog/update-videopress-enqueue-iframe-api-asset-file
  projects/packages/videopress/changelog/update-videopress-enqueue-iframe-api-asset-file-version
  projects/packages/videopress/changelog/update-videopress-expose-poh-data-by-using-script-element
  projects/packages/videopress/changelog/update-videopress-play-pause-in-frontend
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/update-remove-old-wpcom-code-from-tiled-gallery
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] VideoPress, [Package] Stats

#29950 VideoPress: add help to the "Starting point" range control
  projects/packages/videopress/changelog/update-videopress-add-time-to-starting-point-range-control
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/utils/video-chapters/generate-chapters-file/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#29929 Stats Admin: Add Odyssey Widget behind feature flag
  projects/packages/stats-admin/changelog/add-odyssey-widget-behind-feature-flag
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/packages/stats-admin/src/class-wp-dashboard-odyssey-widget.php
  projects/plugins/jetpack/changelog/add-odyssey-widget-behind-feature-flag
  projects/plugins/jetpack/changelog/add-odyssey-widget-behind-feature-flag#2
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#29952 Publicize: Reinstate is_social_image_generator_enabled to avoid fatals
  projects/packages/publicize/changelog/fix-sig-check-fatal
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
Labels: [Status] Needs Team Review, [Package] Publicize

#29811 Implement tabbed static filters in Instant Search
  projects/packages/search/changelog/add-tabbed-static-filters
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/components/search-filter.jsx
  projects/packages/search/src/instant-search/components/search-filters.jsx
  projects/packages/search/src/instant-search/components/search-results.jsx
  projects/packages/search/src/instant-search/components/tabbed-search-filters.jsx
  projects/packages/search/src/instant-search/components/tabbed-search-filters.scss
  projects/packages/search/src/instant-search/lib/filters.js
  projects/plugins/jetpack/changelog/add-tabbed-static-filters
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/add-tabbed-static-filters
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
  projects/plugins/search/jetpack-search.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search, Instant Search

#29961 Issue templates: update to include recent plugins
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: General, [Status] Needs Review, [Type] Janitorial, [Pri] Low

#29962 [Boost] Better description for the Image CDN
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/fix-better-image-cdn-tag
Labels: [Status] Needs Team Review, [Plugin] Boost

#29954 VideoPress: set video player position according to "starting point" and "duration"
  projects/packages/videopress/changelog/update-videopress-change-video-position-when-editing-poh
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/index.ts
Labels: [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29939 VideoPress: expose the Preview On Hover data dynamically
  projects/packages/videopress/changelog/update-videopress-propagate-pho-data-dynamically
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/client/block-editor/blocks/video/save.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/view.ts
Labels: [Status] Ready to Merge, [Size] M, [Block] VideoPress, [Package] VideoPress

#29909 Forms: Dashboard finetuning 2
  projects/packages/forms/changelog/update-forms-dashboard-finetuning-2
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/components/search-form/style.scss
  projects/packages/forms/src/dashboard/components/table/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/state/selectors.js
  projects/plugins/jetpack/changelog/update-forms-dashboard-finetuning-2
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29933 [RNMobile] Add token play private videos
  projects/packages/videopress/changelog/rnmobile-videopress-token-play-private-videos
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.native.tsx
  projects/packages/videopress/src/client/block-editor/utils/add-token-iframe-source.js
  projects/packages/videopress/src/client/lib/get-media-token/index.native.ts
Labels: [Status] In Progress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29900 CRM: Moving the invoice status selector underneath the ID
  projects/plugins/crm/changelog/update-crm-move-invoice-status
  projects/plugins/crm/css/ZeroBSCRM.admin.invoicebuilder.css
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Invoices.php
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#29955 VideoPress: add marksEvery to the TimestampControl component
  projects/packages/videopress/changelog/update-videopress-tweak-timestamp-controls-poh
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/style.module.scss
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29941 Forms: Add a line on top of the response list when the actions menu is sticky
  projects/packages/forms/changelog/update-forms-dashboard-sticky-mark
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#29451 Boost: Update feature status to use svelte-data-sync-client
  projects/js-packages/svelte-data-sync-client/changelog/fix-pending-sync-store
  projects/js-packages/svelte-data-sync-client/src/API.ts
  projects/js-packages/svelte-data-sync-client/src/SyncedStore.ts
  projects/packages/wp-js-data-sync/changelog/add-action-hooks
  projects/packages/wp-js-data-sync/src/class-data-sync-entry.php
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/api/modules.ts
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/utils/connection.ts
  projects/plugins/boost/app/assets/src/js/utils/router-history.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/data-sync/Modules_Status_Entry.php
  projects/plugins/boost/app/features/speed-score/Speed_Score.php
  projects/plugins/boost/app/lib/Setup.php
  projects/plugins/boost/app/lib/Status.php
  projects/plugins/boost/app/lib/class-cli.php
  projects/plugins/boost/app/modules/Modules_Index.php
  projects/plugins/boost/app/modules/Modules_Setup.php
  projects/plugins/boost/app/modules/image-guide/Image_Guide.php
  projects/plugins/boost/app/modules/image-guide/src/_unused-image-observer.ts
  projects/plugins/boost/app/modules/image-guide/src/stores/GuideState.ts
  projects/plugins/boost/app/modules/image-size-analysis/Image_Size_Analysis.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/modules/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/modules/optimizations/image-cdn/class-image-cdn.php
  projects/plugins/boost/app/modules/optimizations/lazy-images/class-lazy-images.php
  projects/plugins/boost/app/modules/optimizations/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Start.php
  projects/plugins/boost/app/rest-api/endpoints/Module_Status.php
  projects/plugins/boost/app/rest-api/endpoints/Optimizations_Status.php
  projects/plugins/boost/changelog/update-feature-status-js
  projects/plugins/boost/compatibility/boost-1.8.0.php
  projects/plugins/boost/compatibility/jetpack.php
  projects/plugins/boost/compatibility/lib/class-sync-jetpack-module-status.php
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/specs/common.test.js
  projects/plugins/boost/tests/e2e/specs/critical-css.test.js
  projects/plugins/boost/tests/e2e/specs/jetpack-compatibility.test.js
  projects/plugins/boost/tests/e2e/specs/lazy-images.test.js
  projects/plugins/boost/tests/e2e/specs/modules-common.test.js
  projects/plugins/boost/tests/e2e/specs/render-blocking-js.test.js
  projects/plugins/boost/tests/e2e/specs/score-auto-refresh.test.js
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, Admin Page, E2E Tests, RNA, [Plugin] Boost, [Boost Feature] Speed Score, Compatibility, [Status] Needs Test Review, [Package] WP JS Data Sync, [JS Package] Svelte Data Sync Client, [Boost Feature] Image Guide, [Boost Feature] Optimizations, [Boost Feature] Image Size Analysis

#29920 My Jetpack: Introduce `absent_with_plan` status
  projects/packages/my-jetpack/_inc/components/product-card/action-buton.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.test.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/changelog/feat-my-jetpack-absent-with-plan
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-product.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#29972 Fixed: Post-refactor Cloud CSS bugs
  projects/packages/wp-js-data-sync/changelog/boost-fix-debug-log-spam
  projects/packages/wp-js-data-sync/src/endpoints/class-endpoint.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Start.php
  projects/plugins/boost/app/rest-api/endpoints/Update_Cloud_CSS.php
  projects/plugins/boost/changelog/boost-fix-debug-log-spam
Labels: [Status] Needs Team Review, [Plugin] Boost, [Package] WP JS Data Sync

#29967 VideoPress: support tooltip in TimestampControl component
  projects/packages/videopress/changelog/update-videopress-add-time-tooltip-to-timestamp-control
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
  projects/packages/videopress/src/client/utils/time/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#29970 Forms: Update dashboard source column styles and "trash" action label
  projects/packages/forms/changelog/update-dashboard-source-column
  projects/packages/forms/src/dashboard/components/search-form/style.scss
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#29707 tools: Allow for multiple release branch prefixes in a plugin
  .github/files/filter-mirrors-for-release-branch.sh
  .github/files/gh-autotagger/workflows/autotagger.yml
  .github/workflows/tests.yml
  docs/monorepo.md
  projects/plugins/backup/changelog/update-multiple-release-branch-prefixes
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-multiple-release-branch-prefixes
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-multiple-release-branch-prefixes
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/social/changelog/update-multiple-release-branch-prefixes
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  tools/check-intra-monorepo-deps.sh
  tools/cli/commands/changelog.js
  tools/cli/commands/release.js
  tools/create-release-branch.sh
  tools/get-contributor-list.sh
  tools/js-tools/git-hooks/pre-push-hook.js
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, Actions, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Social, [Plugin] Mu Wpcom Plugin

#29889 tools: partial dep updates are needed for easy-way too
  tools/changelogger-release.sh
  tools/check-intra-monorepo-deps.sh
  tools/fixup-project-versions.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#29908 autotagger: Don't tag packages with alpha deps
  .github/files/gh-autotagger/workflows/autotagger.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#29976 Fix some package versions
  projects/js-packages/svelte-data-sync-client/changelog/fix-js-package-versions
  projects/js-packages/svelte-data-sync-client/package.json
  projects/packages/wp-js-data-sync/changelog/fix-js-package-versions
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] High, RNA, [Package] WP JS Data Sync, [JS Package] Svelte Data Sync Client

#29975 Updated Backup and Social changelog readme after a stable release.
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/update-backup-and-social-changelog-readme-12.0
  projects/plugins/backup/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/update-backup-and-social-changelog-readme-12.0
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Backup, [Plugin] Social

#29938 CRM: Resolves 3043 - fix JS escape functions on non-strings
  projects/plugins/crm/changelog/fix-crm-3043-fix_js_esc_functions_on_non_strings
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#29966 VideoPress: Do not force enable Stats module on VideoPress
  projects/packages/videopress/changelog/fix-do-not-force-enable-stats-on-videopress
  projects/packages/videopress/src/class-module-control.php
  projects/plugins/videopress/changelog/fix-do-not-force-enable-stats-on-videopress
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/composer.lock
  projects/plugins/videopress/jetpack-videopress.php
  projects/plugins/videopress/src/class-jetpack-videopress-plugin.php
Labels: [Status] Needs Review, [Pri] BLOCKER, [Status] Needs Team Review, [Package] VideoPress, [Plugin] VideoPress

#29936 CRM: Moving the transaction status selector underneath the ID
  projects/plugins/crm/changelog/update-crm-move-transaction-status
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Transactions.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29984 Release packages that weren't released for more than 60 days, 12.0 edition.
  projects/github-actions/test-results-to-slack/CHANGELOG.md
  projects/github-actions/test-results-to-slack/changelog/remove-remnants-of-automated-code-coverage
  projects/github-actions/test-results-to-slack/changelog/renovate-jest-monorepo
  projects/github-actions/test-results-to-slack/changelog/renovate-major-eslint-packages
  projects/github-actions/test-results-to-slack/changelog/renovate-vercel-ncc-0.x
  projects/github-actions/test-results-to-slack/changelog/renovate-vercel-ncc-0.x#2
  projects/github-actions/test-results-to-slack/changelog/update-node-to-v18
  projects/github-actions/test-results-to-slack/package.json
  projects/js-packages/eslint-config-target-es/CHANGELOG.md
  projects/js-packages/eslint-config-target-es/changelog/remove-remnants-of-automated-code-coverage
  projects/js-packages/eslint-config-target-es/changelog/renovate-eslint-packages
  projects/js-packages/eslint-config-target-es/changelog/renovate-eslint-packages#2
  projects/js-packages/eslint-config-target-es/changelog/renovate-jest-monorepo
  projects/js-packages/eslint-config-target-es/changelog/renovate-wordpress-monorepo
  projects/js-packages/eslint-config-target-es/changelog/renovate-wordpress-monorepo#2
  projects/js-packages/eslint-config-target-es/changelog/update-node-to-v18
  projects/js-packages/eslint-config-target-es/changelog/update-react-18
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/storybook/CHANGELOG.md
  projects/js-packages/storybook/changelog/remove-remnants-of-automated-code-coverage
  projects/js-packages/storybook/changelog/renovate-autoprefixer-10.x
  projects/js-packages/storybook/changelog/renovate-babel-monorepo
  projects/js-packages/storybook/changelog/renovate-jest-monorepo
  projects/js-packages/storybook/changelog/renovate-major-babel-monorepo
  projects/js-packages/storybook/changelog/renovate-npm-webpack-vulnerability
  projects/js-packages/storybook/changelog/renovate-storybook-monorepo
  projects/js-packages/storybook/changelog/renovate-wordpress-monorepo
  projects/js-packages/storybook/changelog/renovate-wordpress-monorepo#2
  projects/js-packages/storybook/changelog/update-node-to-v18
  projects/js-packages/storybook/changelog/update-react-18
  projects/js-packages/storybook/changelog/update-videopress-add-story-for-banner
  projects/js-packages/storybook/package.json
Labels: [Status] Needs Review, [Type] Janitorial, Actions, RNA, [JS Package] Storybook, [JS Package] Eslint Config Target Es, [Action] Test Results to Slack

#29992 Updated Changelog for 12.1-a.1 and 12.1-a.3.
  projects/plugins/jetpack/CHANGELOG.md
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#29350 CRM: UI Cohesiveness Menu Overhaul
  projects/plugins/crm/admin/settings/general.page.php
  projects/plugins/crm/admin/settings/partials/menu.block.php
  projects/plugins/crm/changelog/add-crm-restore-default-settings-link-menu
  projects/plugins/crm/changelog/crm-remove-restore-default-settings-button-from-settings
  projects/plugins/crm/changelog/fix-crm-ui-cohesiveness-top-menu-showing-ugly-borders
  projects/plugins/crm/changelog/update-crm-transaction-menu-dropdown
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/sass/semantic-ui/collections/_menu.scss
Labels: [Status] In Progress, [Plugin] CRM

#29732 CRM: UI Cohesiveness Edit Quote Page Feature branch
  projects/plugins/crm/changelog/add-crm-add-edit-page-list-button
  projects/plugins/crm/changelog/update-crm-move-quote-status
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Quotes.php
  projects/plugins/crm/includes/class-learn-menu.php
  projects/plugins/crm/includes/jpcrm-learn-menu-legacy-functions.php
Labels: [Plugin] CRM

#30000 CRM: UI Cohesiveness Edit Transaction Page Feature branch
  projects/plugins/crm/changelog/update-crm-move-transaction-status
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Transactions.php
Labels: [Status] Needs Author Reply, [Plugin] CRM

#29994 VideoPress: Fix minimum starting point for preview on hover feature with very short videos
  projects/packages/videopress/changelog/fix-videopress-hover-short-videos
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
Labels: VideoPress, [Status] Ready to Merge, [Block] VideoPress, [Package] VideoPress

#29969 CRM: Fixes 3016 - remove `.htaccess` when not needed
  projects/plugins/crm/changelog/fix-crm-3016-remove_htaccess_in_contact_files
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30004 CRM: Moving the company status selector underneath the ID
  projects/plugins/crm/changelog/update-crm-2957-move-company-status-below-id
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Companies.php
Labels: [Status] Ready to Merge, [Plugin] CRM

#29944 Anchor: Remove Anchor.fm from the post-publish sidebar
  projects/plugins/jetpack/changelog/remove-anchor-post-publish-sidebar
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
Labels: [Type] Janitorial, [Pri] Low, [Status] Needs Team Review, [Block] Anchor Fm, [Plugin] Jetpack

#30011 Adapted 12.1-a.5 changelog for the public.
  projects/plugins/jetpack/CHANGELOG.md
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#30016 VideoPress: fix setting front-end css file issue for the VideoPress video block
  projects/packages/videopress/changelog/update-videopress-fix-video-block-style-handle
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
Labels: [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29977 My Jetpack: Expose standalone plugin information on My Jetpack products initial state
  projects/packages/my-jetpack/changelog/add-expose-standalone-plugin-info-on-my-jetpack-initial-state
  projects/packages/my-jetpack/src/products/class-backup.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-search.php
  projects/packages/my-jetpack/src/products/class-social.php
  projects/packages/my-jetpack/src/products/class-videopress.php
Labels: [Status] Ready to Merge, [Package] My Jetpack

#29910 Show social review prompt with both Social and Jetpack installed
  projects/plugins/social/changelog/update-show-social-review-prompt-in-core
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/editor.js
  projects/plugins/social/src/js/review-prompt.js
  projects/plugins/social/webpack.config.js
Labels: [Status] Ready to Merge, [Plugin] Social

#29995 CRM: Resolves 2930, 2088, 2932 - various fixes for sales funnel
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/admin/settings/field-options.page.php
  projects/plugins/crm/changelog/fix-crm-2930-funnel_glitches
  projects/plugins/crm/includes/ZeroBSCRM.ScriptsStyles.php
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/js/jpcrm-admin-funnel.js
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
  projects/plugins/crm/sass/_JetpackCRM.admin.overrides.scss
  projects/plugins/crm/sass/jpcrm-admin-funnel.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#29958 Stats Admin: real site locale for odyssey
  projects/packages/stats-admin/changelog/fix-correct-locale-for-odyssey
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
Labels: Stats, [Status] Needs Team Review, [Package] Stats Admin

#29683 My Jetpack: Add missing TOS in the product interstitials.
  projects/js-packages/components/changelog/add-missing-interstitial-tos
  projects/js-packages/components/components/terms-of-service/styles.scss
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/changelog/add-missing-interstitial-tos
  projects/plugins/jetpack/_inc/client/components/jetpack-product-card/index.jsx
  projects/plugins/jetpack/changelog/add-missing-interstitial-tos
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, RNA, [JS Package] Components, [Package] My Jetpack

#30010 CRM: Dashboard - aligning Revenue Chart and Latest Contacts main action buttons
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/update-crm-dashboard-revenue-chart-more-button
  projects/plugins/crm/sass/_ZeroBSCRM.prevadmincore.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#24646 Button Block: ensure no borders get added by default browser rules
  projects/plugins/jetpack/changelog/fix-button-reset-border
  projects/plugins/jetpack/extensions/blocks/button/view.scss
Labels: [Type] Bug, [Status] Ready to Merge, [Status] Needs Design Review, [Pri] Normal, [Block] Button, [Plugin] Jetpack, [Status] Design Input Requested

#30034 Blogging prompts v3 endpoint: fix date ordering when using after param
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/fix-blogging-prompts-v3-non-leap-years
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Blogging Prompt

#30021 Revert "Anchor: Remove Anchor.fm from the post-publish sidebar"
  projects/plugins/jetpack/changelog/remove-anchor-post-publish-sidebar
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
Labels: [Status] Ready to Merge, [Block] Anchor Fm, [Plugin] Jetpack

#30035 VideoPress: fix helper VideoPress function when generating URL
  projects/packages/videopress/changelog/update-videopress-iterate-over-util-fn
  projects/packages/videopress/src/class-utils.php
  projects/packages/videopress/tests/php/test-class-utils.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress, [Status] Needs Test Review

#29963 Add a 'Check for spam' button on the new feedback dashboard
  projects/packages/forms/changelog/add-forms-check-for-spam-button
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/add-forms-check-for-spam-button
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29979 Search: Restore Tracks to Instant Search
  projects/packages/search/changelog/revert-29490
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/class-instant-search.php
  projects/packages/search/src/instant-search/components/search-filters.jsx
  projects/packages/search/src/instant-search/components/search-result.jsx
  projects/packages/search/src/instant-search/lib/tracks.js
  projects/plugins/jetpack/changelog/revert-29490
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/revert-29490
  projects/plugins/search/composer.lock
Labels: Tracks, Search, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#30044 Launchpad: Update jetpack mu wpcom launchpad feature namespace
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-launchpad-feature-namespace
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-checklist.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom

#30032 CRM: Resolves 2920 - use current date if quote date is blank
  projects/plugins/crm/changelog/fix-crm-2920-force_default_quote_date
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Quotes.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30054 Repo Gardening: automatically label PRs touching the CRM plugin
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-labels-crm
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Low, Actions, [Action] Repo Gardening

#29982 CRM: Webpack - build additional non-minified CSS for production
  projects/plugins/crm/.gitignore
  projects/plugins/crm/changelog/fix-crm-webpack-generate-css
  projects/plugins/crm/css/JetpackCRM.admin.resources-page.css
  projects/plugins/crm/css/ZeroBSCRM.admin.csvimporter.css
  projects/plugins/crm/css/ZeroBSCRM.admin.editview.css
  projects/plugins/crm/css/ZeroBSCRM.admin.email.css
  projects/plugins/crm/css/ZeroBSCRM.admin.events.css
  projects/plugins/crm/css/ZeroBSCRM.admin.export.css
  projects/plugins/crm/css/ZeroBSCRM.admin.extensions-page.css
  projects/plugins/crm/css/ZeroBSCRM.admin.frontendforms.css
  projects/plugins/crm/css/ZeroBSCRM.admin.global.css
  projects/plugins/crm/css/ZeroBSCRM.admin.homedash.css
  projects/plugins/crm/css/ZeroBSCRM.admin.intro.css
  projects/plugins/crm/css/ZeroBSCRM.admin.invoicebuilder.css
  projects/plugins/crm/css/ZeroBSCRM.admin.invoicepreview.css
  projects/plugins/crm/css/ZeroBSCRM.admin.listview.css
  projects/plugins/crm/css/ZeroBSCRM.admin.maildeliverywizard.css
  projects/plugins/crm/css/ZeroBSCRM.admin.quotebuilder.css
  projects/plugins/crm/css/ZeroBSCRM.admin.segmentedit.css
  projects/plugins/crm/css/ZeroBSCRM.admin.semantic-ui.css
  projects/plugins/crm/css/ZeroBSCRM.admin.settings.css
  projects/plugins/crm/css/ZeroBSCRM.admin.singleview.css
  projects/plugins/crm/css/ZeroBSCRM.admin.sortables.css
  projects/plugins/crm/css/ZeroBSCRM.admin.transactionedit.css
  projects/plugins/crm/css/ZeroBSCRM.public.frontendforms.css
  projects/plugins/crm/css/ZeroBSCRM.public.quotes.css
  projects/plugins/crm/modules/mailpoet/css/jpcrm-mailpoet-add-edit-page.css
  projects/plugins/crm/modules/mailpoet/css/jpcrm-mailpoet-contact-tabs.css
  projects/plugins/crm/modules/mailpoet/css/jpcrm-mailpoet-hub-page.css
  projects/plugins/crm/modules/portal/css/jpcrm-public-portal.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-contact-tabs.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-hub-page.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-my-account.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-settings-connections.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-settings-main.css
  projects/plugins/crm/modules/woo-sync/css/jpcrm-woo-sync-welcome-wizard.css
  projects/plugins/crm/package.json
  projects/plugins/crm/webpack.config.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#29945 CRM: Resolves 3030 - catch PHP 8.1 errors
  projects/plugins/crm/changelog/fix-crm-3030-catch_PHP_8.1_errors
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.WP.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29997 [RNMobile] Fetch VideoPress metadata for native block
  projects/packages/videopress/changelog/rnmobile-methods-to-fetch-metadata
  projects/packages/videopress/src/client/block-editor/editor.native.js
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/lib/fetch-video-item/index.ts
Labels: [Status] Ready to Merge, [Block] VideoPress, [Package] VideoPress

#30051 Repo gardening: standardize how PRs with tests are tracked
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-test-prs
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#30049 CRM: adding dashboard panel spacing consistency
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/update-crm-dashboard-div-alignment
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#30068 jetpack: Only check `is_connection_ready()` once in `Jetpack::configure()`
  projects/plugins/jetpack/changelog/update-jetpack-configure-check-is_connection_ready-just-once
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#29323 Release Script: Support multiple plugins
  tools/create-release-branch.sh
  tools/release-plugin.sh
Labels: [Status] Ready to Merge, [Tools] Development CLI

#30045 My Jetpack: Add endpoint to install the standalone plugin for hybrid products
  projects/packages/my-jetpack/changelog/add-my-jetpack-endpoint-to-install-standalone-plugin
  projects/packages/my-jetpack/src/class-rest-products.php
  projects/packages/my-jetpack/src/products/class-hybrid-product.php
  projects/packages/my-jetpack/tests/php/test-hybrid-product.php
Labels: [Status] Ready to Merge, [Package] My Jetpack, [Status] Needs Test Review, [Tests] Includes Tests

#30069 Launchpad: Fix variable scope issue in endpoint
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-variable-scope-issue
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#30070 jetpack_debugger_enqueue_site_health_scripts(): Only load full-sync Module on site-health.php
  projects/plugins/jetpack/_inc/lib/debugger/debug-functions.php
  projects/plugins/jetpack/changelog/update-jetpack-debugger-enqueue-site-health-scripts
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#30076 Launchpad: Add link-in-bio task logic to endpoint
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-link-in-bio-logic
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#29724 CRM: UI Cohesiveness Edit Contact Page Feature branch
  projects/plugins/crm/admin/contact/view.page.php
  projects/plugins/crm/changelog/crm-2804-contact-edit-content-overflows
  projects/plugins/crm/changelog/crm-change-placeholders-to-lighter-color
  projects/plugins/crm/changelog/crm-make-form-fonts-smaller
  projects/plugins/crm/changelog/update-crm-2957-move-company-status-below-id
  projects/plugins/crm/changelog/update-crm-contact-save-button
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Logs.php
  projects/plugins/crm/sass/ZeroBSCRM.admin.events.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicebuilder.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.segmentedit.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.singleview.scss
  projects/plugins/crm/sass/_JetpackCRM.admin.overrides.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.editcontact.scss
  projects/plugins/crm/sass/_ZeroBSCRM.editview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.forms.scss
  projects/plugins/crm/sass/_ZeroBSCRM.frontendforms.scss
  projects/plugins/crm/sass/_ZeroBSCRM.genericeditpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.logs.scss
  projects/plugins/crm/sass/_ZeroBSCRM.mobile.scss
  projects/plugins/crm/sass/_ZeroBSCRM.prevadmincore.scss
  projects/plugins/crm/sass/_ZeroBSCRM.typeahead.scss
  projects/plugins/crm/sass/_wp-semantic-fixes.scss
Labels: [Status] In Progress, [Plugin] CRM

#30048 [Boost] Minor language updates.
  projects/plugins/boost/app/admin/class-regenerate-admin-notice.php
  projects/plugins/boost/app/assets/src/js/api/speed-scores.ts
  projects/plugins/boost/changelog/boost-verbiage
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#30053 Prevent critical css state set on page load
  projects/plugins/boost/app/assets/src/js/stores/critical-css-state.ts
  projects/plugins/boost/changelog/boost-fix-dont-update-css-state-on-pageload
Labels: [Status] Needs Author Reply, [Plugin] Boost

#30047 [Boost] Add Image CDN to the pricing table.
  projects/plugins/boost/app/assets/src/css/components/icon-tooltip.scss
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/boost-add-image-cdn-pricing-table
Labels: [Status] Needs Team Review, [Plugin] Boost

#30057 Boost: Fix module status
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/utils/connection.ts
  projects/plugins/boost/app/data-sync/Modules_State_Entry.php
  projects/plugins/boost/changelog/update-module-status
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#29981 Staging Sites: Update production staging relation to use trait logic
  projects/plugins/jetpack/changelog/update-production-staging-relation-to-use-trait-logic
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
  projects/plugins/jetpack/sal/class.json-api-site-jetpack.php
Labels: WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack, Staging Sites i2

#30065 CRM: Resolves 2900 - trim extra space in first use dashboard modals
  projects/plugins/crm/changelog/crm-fix-2900-trim_first_use_dashboard_extra_space
  projects/plugins/crm/css/ZeroBSCRM.admin.global.css
  projects/plugins/crm/css/ZeroBSCRM.admin.homedash.css
  projects/plugins/crm/css/ZeroBSCRM.admin.listview.css
  projects/plugins/crm/css/ZeroBSCRM.admin.semantic-ui.css
  projects/plugins/crm/css/jpcrm-admin-funnel.css
  projects/plugins/crm/sass/_JetpackCRM.admin.modals.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#30062 [RNMobile] Refactor native player to handle the embed preview
  projects/packages/videopress/changelog/update-native-player
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.native.js
Labels: [Status] Needs Team Review, [Package] VideoPress

#30079 Blocks: update CLI to only input strings in descriptions
  projects/plugins/jetpack/changelog/update-block-skeleton
  projects/plugins/jetpack/wp-cli-templates/block-index-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-register-php.mustache
Labels: [Status] Needs Review, [Pri] Normal, [Focus] Blocks, [Plugin] Jetpack

#30027 Repo Gardening: consolidate existing triage tasks into one
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/gardening.yml
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/action.yml
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-tasks
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-tasks#2
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-kitkat/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-kitkat/readme.md
  projects/github-actions/repo-gardening/src/tasks/triage-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/triage-issues/readme.md
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/triage-new-issues/readme.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#30075 Forms: Fix Forms styles when inside Cover blocks
  projects/packages/forms/changelog/fix-forms-inside-cover-block
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/blocks/contact-form/util/with-style-variables.js
  projects/packages/forms/src/blocks/contact-form/view.js
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/fix-forms-inside-cover-block
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/extensions/blocks/contact-form/util/form-styles.js
  projects/plugins/jetpack/extensions/blocks/contact-form/util/with-style-variables.js
  projects/plugins/jetpack/extensions/blocks/contact-form/view.js
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#30086 codesniffer: Fix test configs for PHP 8.1+
  projects/packages/codesniffer/changelog/update-codesniffer-tests-ok-on-8.2-now
  projects/packages/codesniffer/tests/action-skip-test-php.sh
  projects/packages/codesniffer/tests/php/tests/files/default.xml
  projects/packages/codesniffer/tests/php/tests/files/i18n-text_domain-default.php.ruleset.xml
  projects/packages/codesniffer/tests/php/tests/files/i18n-text_domain-not-set.php.ruleset.xml
  projects/packages/codesniffer/tests/php/tests/files/i18n.php.report
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Codesniffer, [Tests] Includes Tests

#29996 [RNMobile] Implement useSyncMedia hook on native
  projects/packages/videopress/changelog/rnmobile-implement-use-sync-hook
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.native.js
  projects/packages/videopress/src/client/block-editor/hooks/use-sync-media/index.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30061 Use wp_date in blogging-prompts v3 endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/fix-blogging-prompts-v3-wp-date
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#30090 VideoPress: check guid before to get the VideoPress video url
  projects/packages/videopress/changelog/update-videopress-check-guid-before-to-get-url
  projects/packages/videopress/src/class-initializer.php
Labels: [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#30020 [RNMobile] Update native player viewport
  projects/packages/videopress/changelog/update-native-player-viewport
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] VideoPress

#30092 CRM: Swap stacked logo for horizontal
  projects/plugins/crm/changelog/fix-crm-3001-swap-stacked-logo-for-horizontal
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/sass/_JetpackCRM.admin.overrides.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminmenu.scss
  projects/plugins/crm/sass/_ZeroBSCRM.mobile.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#30081 VideoPress: do not save video block representation
  projects/packages/videopress/changelog/update-videopress-do-not-save-html-representation-of-video-block
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/deprecated/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#29985 Fix Super Cache incorrect debug URL for nested WP instances
  projects/plugins/super-cache/changelog/fix-super-cache-nested-wp-incorrect-debug-url
  projects/plugins/super-cache/partials/debug.php
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache, [Super Cache] UI

#30025 [Boost] Fix Defer JS on short pages
  projects/plugins/boost/app/lib/class-output-filter.php
  projects/plugins/boost/changelog/boost-fix-short-defers
Labels: [Status] Needs Team Review, [Plugin] Boost

#29915 Add forms dashboard overrides for WP.com
  projects/packages/forms/changelog/add-forms-dashboard-wpcom-styles
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/inbox/export-modal/csv.js
  projects/packages/forms/src/dashboard/inbox/export-modal/google-drive.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/inbox/util.js
  projects/packages/forms/src/dashboard/style.wpcom.scss
  projects/packages/forms/tools/webpack.config.dashboard.js
  projects/plugins/jetpack/changelog/add-forms-dashboard-wpcom-styles
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#30029 Social Previews | Update Twitter preview with multiple view type sections
  projects/js-packages/publicize-components/src/components/social-previews/constants.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.scss
  projects/js-packages/publicize-components/src/components/social-previews/twitter.js
  projects/js-packages/publicize-components/src/components/social-previews/utils.js
  projects/js-packages/publicize-components/src/store/test/selectors.js
Labels: [Status] Needs Team Review, [Block] Social Previews, [Plugin] Jetpack, RNA, [JS Package] Components, [JS Package] Publicize Components, [Tests] Includes Tests

#30101 Social: Fix upgrade nudges not showing
  projects/plugins/social/changelog/fix-upgrade-nudges-not-showing
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Ready to Merge, [Plugin] Social

#30084 Anchor: show convert to audio prompt only in blogs already connected to Anchor.fm
  projects/plugins/jetpack/changelog/anchor-convert-to-anchor-cta
  projects/plugins/jetpack/extensions/blocks/anchor-fm/anchor-fm.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Block] Anchor Fm, [Plugin] Jetpack

#30093 Staging Sites: Use our custom function instead of blog sticker
  projects/plugins/jetpack/changelog/improve-staging-sites-avoid-blog-sticker
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, Staging Sites i2

#30100 Gardening: don't trigger automated triage during triage
  projects/github-actions/repo-gardening/changelog/update-gardening-triage-priority-handling-events
  projects/github-actions/repo-gardening/src/tasks/triage-issues/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#30099 CRM: fix logo removal on Invoice Edit page
  projects/plugins/crm/changelog/fix-crm-invoice-logo-remove
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#30091 CRM: Fixes Mailpoet Sync removing avatar
  projects/plugins/crm/changelog/fix-crm-3054-mailpoet-sync-removing-avatar
  projects/plugins/crm/modules/mailpoet/includes/class-mailpoet-background-sync-job.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [CRM] MailPoet Module

#29980 Jetpack Visual Refresh: header and navigation
  projects/plugins/jetpack/_inc/client/components/connection-banner/README.md
  projects/plugins/jetpack/_inc/client/components/connection-banner/index.jsx
  projects/plugins/jetpack/_inc/client/components/connection-banner/test/component.js
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/style.scss
  projects/plugins/jetpack/_inc/client/components/masthead/index.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/style.scss
  projects/plugins/jetpack/_inc/client/components/non-admin-view/index.jsx
  projects/plugins/jetpack/_inc/client/components/section-nav/README.md
  projects/plugins/jetpack/_inc/client/components/section-nav/style.scss
  projects/plugins/jetpack/_inc/client/components/section-nav/tabs.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/scss/calypso-colors.scss
  projects/plugins/jetpack/_inc/client/scss/shared/_main.scss
  projects/plugins/jetpack/_inc/client/static-main.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/update-visual-refresh-header-nav
Labels: Docs, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Tests] Includes Tests

#30113 Fix: Ensure Brute Force Protection Initializes on Atomic and VIP
  projects/packages/waf/changelog/fix-brute-force-on-atomic
  projects/packages/waf/src/class-waf-initializer.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Package] WAF

#30087 Add import package end endpoint
  projects/packages/import/changelog/add-uimp-end-endpoint
  projects/packages/import/src/class-main.php
  projects/packages/import/src/endpoints/class-end.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Package] Import

#30077 Add/ai chat block
  projects/plugins/jetpack/changelog/add-ai-chat-block
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/ai-chat/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/editor.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/editor.scss
  projects/plugins/jetpack/extensions/blocks/ai-chat/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/question-answer.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-question.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.scss
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Status] In Progress, [Pri] Normal, Blocks V2, [Plugin] Jetpack, [Block] Ai Chat

#30120 General: update WordPress version requirements to 6.1.
  .github/files/setup-wordpress-env.sh
  .phpcs.config.xml
  projects/plugins/backup/changelog/update-wp-requirements
  projects/plugins/backup/readme.txt
  projects/plugins/jetpack/changelog/update-wp-requirements
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
  projects/plugins/migration/changelog/update-wp-requirements
  projects/plugins/migration/readme.txt
  projects/plugins/protect/changelog/update-wp-requirements
  projects/plugins/protect/readme.txt
  projects/plugins/search/changelog/update-wp-requirements
  projects/plugins/search/readme.txt
  projects/plugins/social/changelog/update-wp-requirements
  projects/plugins/social/readme.txt
  projects/plugins/starter-plugin/changelog/update-wp-requirements
  projects/plugins/starter-plugin/readme.txt
  projects/plugins/super-cache/changelog/update-wp-requirements
  projects/plugins/super-cache/readme.txt
  projects/plugins/videopress/changelog/update-wp-requirements
  projects/plugins/videopress/readme.txt
  tools/cli/commands/generate.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration

#30111 CRM: Resolves 3031 - PHP notice when exporting subset of objects
  projects/plugins/crm/changelog/fix-crm-3031-catch_PHP_error_on_export
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Export.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30122 backup, videopress: Plugin changelog should not mention semver
  .github/files/lint-project-structure.sh
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/fix-non-semver-plugins-changelog-claiming-semver
  projects/plugins/videopress/CHANGELOG.md
  projects/plugins/videopress/changelog/fix-non-semver-plugins-changelog-claiming-semver
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Plugin] Backup, [Plugin] VideoPress

#30082 ci: Run PHP 8.1 and 8.2 against WP latest now
  .github/files/generate-ci-matrix.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#30124 Auto-labeling: update task to use newer label.
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-compat
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#30132 gardening: Fix event state ref
  .github/workflows/gardening.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#30110 CRM: Resolves 3059 - PHP notice when sending invoice to contact
  projects/plugins/crm/changelog/fix-crm-3059_php-notice_when_sending_invoice
  projects/plugins/crm/html/templates/invoicesent.html
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30121 Add info about why VaultPress Backup is superior to hosts
  projects/plugins/backup/changelog/simonktnga8c-host-backups
  projects/plugins/backup/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Backup

#30136 Menu icon: avoid error when used with older version of Logo
  projects/packages/admin-ui/changelog/fix-method-admin-ui
  projects/packages/admin-ui/package.json
  projects/packages/admin-ui/src/class-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Package] Admin Ui

#30060 3rd Party: improve loading
  projects/plugins/jetpack/3rd-party/3rd-party.php
  projects/plugins/jetpack/3rd-party/atomic.php
  projects/plugins/jetpack/3rd-party/bbpress.php
  projects/plugins/jetpack/3rd-party/bitly.php
  projects/plugins/jetpack/3rd-party/creative-mail.php
  projects/plugins/jetpack/3rd-party/jetpack-backup.php
  projects/plugins/jetpack/3rd-party/jetpack-boost.php
  projects/plugins/jetpack/3rd-party/woocommerce-services.php
  projects/plugins/jetpack/changelog/update-3rd-party
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/src/class-jetpack-crm-data.php
  projects/plugins/jetpack/src/class-jetpack-modules-overrides.php
  projects/plugins/jetpack/src/class.jetpack-amp-support.php
  projects/plugins/jetpack/tests/php.multisite.xml
  projects/plugins/jetpack/tests/php/3rd-party/test__atomic.php
  projects/plugins/jetpack/tests/php/src/test_class-jetpack-modules-overrides.php
  projects/plugins/jetpack/tests/php/src/test_class.jetpack-amp-support.php
Labels: [Focus] Performance, [Status] Needs Review, [Plugin] Jetpack, [Focus] Compatibility, [Tests] Includes Tests, Compatibility

#30137 cli: Add `--no-dev` option to `jetpack dependencies`
  tools/cli/commands/dependencies.js
  tools/cli/helpers/dependencyAnalysis.js
  tools/cli/tests/unit/helpers/dependencyAnalysis.test.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Low, [Tools] Development CLI, [Tests] Includes Tests

#30078 Launchpad Checklist API: Update newsletter task definitions
  projects/packages/jetpack-mu-wpcom/changelog/update-newsletter-task-definitions
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#30123 VideoPress: Pause poster preview video when necessary
  projects/packages/videopress/changelog/fix-videopress-poster-frame-pause
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/style.scss
Labels: [Type] Enhancement, VideoPress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30116 Launchpad Checklist API: Update write flow task definitions
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-write-flow-task-definitions
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#30138 SEO: remove "Jetpack" from the feature name.
  projects/plugins/jetpack/changelog/update-seo-panel-name
  projects/plugins/jetpack/extensions/blocks/seo/index.js
Labels: [Type] Enhancement, [Status] Needs Review, SEO Tools, [Pri] Low, [Plugin] Jetpack, [Block] SEO

#30126 General: remove backwards-compatibility WP 6.0 code
  projects/js-packages/components/changelog/update-backwards-compat-61
  projects/js-packages/components/lib/locale/index.ts
  projects/js-packages/components/package.json
  projects/plugins/jetpack/changelog/update-backwards-compat-61
  projects/plugins/jetpack/extensions/blocks/business-hours/edit.js
  projects/plugins/jetpack/modules/shortcodes/others.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-oembed-pocketcasts.php
Labels: Shortcodes / Embeds, [Status] Needs Review, [Pri] Normal, [Block] Business Hours, [Plugin] Jetpack, RNA, [Focus] Compatibility, [JS Package] Components, [Tests] Includes Tests

#30142 VideoPress: add is_videopress_url() helper method
  projects/packages/videopress/changelog/update-videopress-add-util-videopress-url
  projects/packages/videopress/src/class-utils.php
  projects/packages/videopress/tests/php/test-class-utils.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress, [Tests] Includes Tests
