Repository Automattic/jetpack, pull requests merged in 2023-07, with the labels that each got.

#31593 Component: Adjust Pricing Slider thumb styling
  projects/js-packages/components/changelog/update-component_pricing_slider_styling
  projects/js-packages/components/components/pricing-slider/index.tsx
  projects/js-packages/components/components/pricing-slider/style.scss
Labels: Stats, [Status] Ready to Merge, RNA, [JS Package] Components

#31658 eslint-config-target-es: Improve use of MDN data
  projects/js-packages/eslint-config-target-es/README.md
  projects/js-packages/eslint-config-target-es/changelog/add-eslint-config-target-es-more-mdn-support
  projects/js-packages/eslint-config-target-es/changelog/add-eslint-config-target-es-more-mdn-support#3
  projects/js-packages/eslint-config-target-es/changelog/add-eslint-config-target-es-more-mdn-support#4
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/eslint-config-target-es/src/funcs.js
  projects/js-packages/eslint-config-target-es/src/needsCheck.js
  projects/js-packages/eslint-config-target-es/tests/funcs.test.js
  projects/js-packages/eslint-config-target-es/tests/needsCheck.test.js
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es, [Tests] Includes Tests

#31606 My Jetpack: Organize cards in list
  projects/js-packages/components/changelog/fix-my-jp-card-list
  projects/js-packages/components/components/layout/col/README.md
  projects/js-packages/components/components/layout/col/index.tsx
  projects/js-packages/components/components/layout/container/README.md
  projects/js-packages/components/components/layout/container/index.tsx
  projects/js-packages/components/components/layout/types.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/style.module.scss
  projects/packages/my-jetpack/changelog/fix-my-jp-card-list
Labels: [Focus] Accessibility, Docs, [Status] Ready to Merge, RNA, [JS Package] Components, [Package] My Jetpack

#31654 Adds connected user information to the Blaze dashboard initial load
  projects/packages/blaze/changelog/add-blaze-dashboard-user-information
  projects/packages/blaze/src/class-dashboard-config-data.php
Labels: [Status] Ready to Merge, [Type] Task, [Package] Blaze

#31666 Sharing: remove Reddit's official sharing button
  projects/plugins/jetpack/changelog/update-reddit-official-button
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.js
  projects/plugins/jetpack/modules/sharedaddy/images/smart-reddit.png
  projects/plugins/jetpack/modules/sharedaddy/images/smart-reddit@2x.png
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#31640 Tiled Galleries: fix PHP 8.2 deprecation notices
  projects/plugins/jetpack/changelog/update-tiled-gallery-php82
  projects/plugins/jetpack/modules/tiled-gallery/math/class-constrained-array-rounding.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-layout.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-rectangular.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-shape.php
Labels: Tiled Gallery, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Block] Tiled Gallery, [Plugin] Jetpack

#31641 Blaze: Fixes a 404 error in the dashboard select posts page
  projects/packages/blaze/changelog/fix-blaze-dashboard-posts-search
  projects/packages/blaze/src/class-dashboard-rest-controller.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] Blaze

#31617 Blaze: ensure the Dashboard menu is only inserted once.
  projects/packages/blaze/changelog/update-blaze-menu-masterbar
  projects/packages/blaze/src/class-blaze.php
  projects/plugins/jetpack/changelog/update-blaze-menu-masterbar
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Masterbar, nav-unification, [Plugin] Jetpack, [Package] Blaze, [Tests] Includes Tests

#31667 Contact Form: remove default title in feedback emails
  projects/packages/forms/changelog/update-form-response-title-email
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/src/contact-form/templates/email-response.php
  projects/plugins/jetpack/changelog/update-form-response-title-email
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/contact-form/grunion-response-email-template.php
Labels: [Type] Enhancement, Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Package] Forms

#31623 Launchpad: Update is_enabled_callback for Keep Building checklist
  projects/packages/jetpack-mu-wpcom/changelog/update-keep-building-logic
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31620 Launchpad: Fix edit site design visibility
  projects/packages/jetpack-mu-wpcom/changelog/fix-edit-site-design-visibility
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, Launchpad

#31626 Launchpad: Add validation for required tasks
  projects/packages/jetpack-mu-wpcom/changelog/add-required-tasks-validation
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, Launchpad

#31663 Stats Admin: site plan and products
  projects/packages/stats-admin/changelog/add-odyssey-site-plan-products
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/plugins/jetpack/changelog/add-odyssey-site-plan-products
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#31662 Option: Sync wpcom_site_setup site option
  projects/packages/sync/changelog/add-wpcom-site-setup-option-sync
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/jetpack/changelog/add-wpcom-site-setup-option-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Tests] Includes Tests

#31664 SAL: Add wpcom_site_setup property to /sites/{siteId} endpoint
  projects/plugins/jetpack/changelog/add-wpcom-site-setup-to-sites-endpoint
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#31676 [Boost] Fix Image Guide UI
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/changelog/boost-fix-analyze-polling
Labels: [Status] Needs Team Review, [Plugin] Boost

#31652 Boost: Image Size Analysis - make groups on progress report UI clickable
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/changelog/update-boost-image-size-analysis-make-groups-clickable
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31632 Boost: Update image guide handling of missing images
  projects/js-packages/image-guide/changelog/better-missing-image-handling
  projects/js-packages/image-guide/src/MeasurableImage.ts
  projects/js-packages/image-guide/src/find-image-elements.ts
  projects/plugins/boost/app/modules/image-guide/src/index.ts
  projects/plugins/boost/app/modules/image-guide/src/stores/MeasurableImageStore.ts
  projects/plugins/boost/changelog/update-image-guide-error-handling-missing-images
Labels: [Status] Needs Team Review, RNA, [Plugin] Boost, [JS Package] Image Guide, [Boost Feature] Image Guide, [Boost Feature] Image Size Analysis

#31670 Boost: cut off image filenames in the IG analysis report at 20 characters to avoid overflow
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/RowTitle.svelte
  projects/plugins/boost/app/assets/src/js/utils/truncate-string.ts
  projects/plugins/boost/changelog/fix-overflowing_filenames_image_guide_analysis
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31578 Launchpad: Add new page task
  projects/packages/jetpack-mu-wpcom/changelog/77295-update-add-new-page-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, Launchpad

#31673 Blog Onboarding: Remove site-intent on site launch
  projects/packages/jetpack-mu-wpcom/changelog/add-clean-site-intent-launch-blog-onboarding
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31685 Sync: revert #31423
  projects/packages/sync/changelog/revert-pr-31423
  projects/packages/sync/src/class-actions.php
Labels: [Status] Ready to Merge, [Package] Sync, [Pri] High, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#31687 Sync: backport v1.50.1 release
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/revert-pr-31423
  projects/packages/sync/src/class-package-version.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Package] Sync

#31689 My Jetpack: hide Stats card for standalone plugins
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/changelog/update-only-show-stats-card-for-jetpack
  projects/packages/my-jetpack/src/class-initializer.php
Labels: Stats, [Status] In Progress, [Status] Needs Team Review, [Package] My Jetpack

#31678 Newsletter panel: update copy for activating subscribers feature
  projects/plugins/jetpack/changelog/Update newsletter panel copy when subscriptions feature is disabled
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#31692 [Boost] Fix atomic caching
  projects/plugins/boost/app/lib/minify/Concatenate_CSS.php
  projects/plugins/boost/app/lib/minify/Concatenate_JS.php
  projects/plugins/boost/app/lib/minify/functions-helpers.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/changelog/fix-atomic-caching
Labels: [Pri] High, [Status] Needs Team Review, [Plugin] Boost

#31695 tools: Avoid problems with SVN "peg revisions" in publishing
  .github/files/gh-wp-svn-autopublish/files/wp-svn-autopublish.sh
  tools/deploy-to-svn.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#31686 Social: Update the readme file with the new features
  projects/plugins/social/changelog/update-social-readme-features
  projects/plugins/social/readme.txt
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Social

#31698 Jetpack: backport 12.3 changelog and readme updates
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-fatal-subscriptions
  projects/plugins/jetpack/changelog/modify-ai-extended-blocks
  projects/plugins/jetpack/changelog/update-jetpack-12.3-to-test
  projects/plugins/jetpack/changelog/update-reddit-official-button
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#31697 GH Actions: Update Copy of Testing Comment
  .github/workflows/build.yml
Labels: [Status] Ready to Merge, Actions

#31702 Deletes hello-world default post for users at design-first flow
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-hello-world-post-after-first-post-published
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/update-remove-hello-world-post-after-first-post-published
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#31709 CRM: Update JPCRM Screenshots on WordPress.org
  projects/plugins/crm/.wordpress-org/screenshot-1.png
  projects/plugins/crm/.wordpress-org/screenshot-2.png
  projects/plugins/crm/.wordpress-org/screenshot-3.png
  projects/plugins/crm/.wordpress-org/screenshot-4.png
  projects/plugins/crm/changelog/fix-crm-3161-update-screenshots-on-wporg
Labels: [Status] Needs Team Review, [Plugin] CRM

#31674 [Boost] Add UI support for stuck reports
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/changelog/add-stuck-support
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31675 Fix/boost e2e
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/fix-boost-e2e
Labels: [Status] Needs Team Review, [Plugin] Boost

#31706 Boost: Fix snackbar showing under UI elements on getting started page
  projects/plugins/boost/app/assets/src/css/components/snackbar.scss
  projects/plugins/boost/changelog/fix-getting-started-snackbar-under-separators
Labels: [Status] Needs Team Review, [Plugin] Boost

#31699 Admin Menus: Fix users menu item pointing to wp-admin.
  projects/plugins/jetpack/changelog/fix-atomic-call-parent-add-users-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, Masterbar, [Plugin] Jetpack, [Tests] Includes Tests

#31704 Boost: Update Image Size Analysis to use real data for last updated timestamp
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/changelog/boost-fix-isa-last-updated-timestamp
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31694 Add/blaze add rest logs
  projects/packages/blaze/changelog/add-blaze-add-rest-logs
  projects/packages/blaze/composer.json
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-dashboard-rest-controller.php
  projects/packages/blaze/src/class-dashboard.php
  projects/plugins/jetpack/changelog/add-blaze-add-rest-logs
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Blaze

#31701 Backup and Social: changelog and readme updates for JP 12.3 cycle
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/update-social-readme-features
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Backup, [Plugin] Social

#31726 actions: Update stale action config
  .github/workflows/stale.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#31731 Search: Disable Customizer UI for block themes
  projects/packages/search/changelog/update-conditionally-enable-search-customizer-integration
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/initializers/class-initializer.php
  projects/plugins/jetpack/changelog/update-conditionally-enable-search-customizer-integration
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-conditionally-enable-search-customizer-integration
  projects/plugins/search/composer.lock
Labels: Search, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search, Instant Search

#31715 [Boost] Add new row types to the Premium Image Guide
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRowExpanded.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/BrokenDataRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageMissingRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRowHover.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/zod-types.ts
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/changelog/boost-ig-row-types
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31736 [Image Guide] Prepare next release cycle
  projects/js-packages/image-guide/CHANGELOG.md
  projects/js-packages/image-guide/changelog/better-missing-image-handling
  projects/js-packages/image-guide/changelog/fix-check_small_images
  projects/js-packages/image-guide/changelog/fix-image-guide-proxy
  projects/js-packages/image-guide/package.json
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Image Guide

#31729 VaultPress: update cycle and stable tag
  projects/plugins/vaultpress/changelog/init-release-cycle
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] VaultPress

#31735 [Boost] Fix image guide header
  projects/plugins/boost/app/assets/src/css/components/button.scss
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/sections/Header.svelte
  projects/plugins/boost/changelog/boost-fix-ig-header
Labels: [Status] Needs Team Review, [Plugin] Boost

#31734 [Boost] Conditional Image Guide links
  projects/plugins/boost/app/assets/src/js/elements/ConditionalLink.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/changelog/boost-conditional-ig-links
Labels: [Status] Needs Team Review, [Plugin] Boost

#31733 [Boost] Clean up 'no results' display
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/LoadingRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/preloading-image.ts
  projects/plugins/boost/changelog/boost-no-images-placeholders
Labels: [Status] Needs Team Review, [Plugin] Boost

#31738 [Boost] Fix E2E tests yet again
  projects/plugins/boost/changelog/boost-fix-e2e-yet-again
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/playwright.config.cjs
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#31743 gardening: Remove `[Status] Stale` from closed issues/PRs
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/changelog/update-gardening-remove-stale-from-closed
  projects/github-actions/repo-gardening/changelog/update-gardening-remove-stale-from-closed#2
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/clean-labels/index.js
  projects/github-actions/repo-gardening/src/tasks/clean-labels/readme.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#31744 actions: Update stale exemption tags
  .github/workflows/stale.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#31711 codesniffer: Add "compat" rulesets for per-dir configs
  .github/workflows/phpcompatibility-dev.yml
  composer.lock
  projects/packages/changelogger/changelog/add-codesniffer-compat-rulesets
  projects/packages/changelogger/src/Application.php
  projects/packages/changelogger/src/php7/.phpcs.dir.phpcompatibility.xml
  projects/packages/codesniffer/.gitattributes
  projects/packages/codesniffer/Jetpack-Compat-70/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-71/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-72/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-73/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-74/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-80/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-81/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-82/ruleset.xml
  projects/packages/codesniffer/README.md
  projects/packages/codesniffer/build-compat-rulesets.sh
  projects/packages/codesniffer/changelog/add-codesniffer-compat-rulesets
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/tests/php/tests/test-jetpack-compat.php
  projects/plugins/crm/.phpcs.dir.phpcompatibility.xml
  projects/plugins/crm/changelog/add-codesniffer-compat-rulesets
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, Actions, [Package] Codesniffer, [Package] Changelogger, [Plugin] CRM, [Tests] Includes Tests

#31636 Sharing: deprecate Skype sharing button
  projects/plugins/jetpack/changelog/update-deprecate-skype-sharing
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/images/smart-skype.png
  projects/plugins/jetpack/modules/sharedaddy/images/smart-skype@2x.png
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
  projects/plugins/jetpack/modules/sharedaddy/sharing.php
Labels: Sharing, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#31628 CRM: Time conditions from segments do not get saved
  projects/plugins/crm/changelog/fix-crm-3164-time-condition-does-not-get-saved
  projects/plugins/crm/includes/ZeroBSCRM.DataIOValidation.php
  projects/plugins/crm/includes/ZeroBSCRM.Edit.Segment.php
  projects/plugins/crm/sass/ZeroBSCRM.admin.segmentedit.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#31758 k6 tests: make the output more verbose for debug
  .github/files/jetpack-staging-sites/k6-backend.js
  .github/files/jetpack-staging-sites/k6-frontend.js
Labels: [Status] Needs Review, Actions

#31751 Remove Jetpack Starter activation screen
  projects/js-packages/licensing/changelog/remove-starter-activation-screen
  projects/js-packages/licensing/components/activation-screen-success-info/product-details/index.js
  projects/js-packages/licensing/components/activation-screen-success-info/product-link/index.jsx
  projects/js-packages/licensing/components/activation-screen/utils.js
  projects/js-packages/licensing/package.json
Labels: [Status] Needs Author Reply, RNA, [JS Package] Licensing

#31757 AI Assistant: Add playground flag in initial state
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/update-ai-assistant-add-playground-initial-state
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31762 AI Assistant: add dev playground panel
  projects/plugins/jetpack/changelog/update-ai-assistant-add-custom-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31611 My Jetpack: make card primary button links when applicable
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/action-buton.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.test.jsx
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/changelog/fix-my-jp-card-primary-button
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Focus] Accessibility, [Status] Ready to Merge, [Package] My Jetpack

#31763 AI Assistant: Add GPT4 endpoint parameter
  projects/plugins/jetpack/changelog/update-ai-assistant-add-feature-endpoint-parameter
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31764 AI Assistant: Enable custom prompt if provided
  projects/plugins/jetpack/changelog/update-ai-assistant-enable-custom-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31767 AI Assistant: Only append flag if there's no error
  projects/plugins/jetpack/changelog/fix-jetpack-ai-playground-flag
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#31464 Akismet: update Jetpack replacement logo styles
  projects/plugins/jetpack/changelog/remove-akismet-logo-replacement-styles
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/images/products/logo-anti-spam.svg
Labels: [Status] Ready to Merge, Admin Page, Anti-Spam, [Plugin] Jetpack

#31748 Boost: Fix Image Guide UI (bubble/details) not showing properly
  projects/plugins/boost/app/modules/image-guide/src/index.ts
  projects/plugins/boost/changelog/fix-image-guide-ui-not-showing
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Guide

#31742 [Boost] Refresh ISA data on completed.
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-data.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/zod-types.ts
  projects/plugins/boost/app/assets/src/js/utils/set-promise-interval.ts
  projects/plugins/boost/changelog/boost-refresh-isa-on-finished
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31745 Boost: add yellow color for ISA potential size pills
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/app/assets/src/js/utils/get-image-size-difference-percent.ts
  projects/plugins/boost/changelog/add-yellow-for-potential-size-difference
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31700 Social: Refactor SIG preview component
  projects/js-packages/publicize-components/changelog/refactor-preview-component-values
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/generated-image-preview/index.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#31771 [Boost] Make Image Guide responsive / support small screens
  projects/plugins/boost/app/assets/src/js/elements/BackButton.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Tabs.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageMissingRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/sections/Header.svelte
  projects/plugins/boost/changelog/fix-responsive-ig
Labels: [Status] Needs Team Review, [Plugin] Boost

#31770 [Boost] Remove Image Analyzer toggle
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/contracts/Is_Always_On.php
  projects/plugins/boost/app/data-sync/Modules_State_Entry.php
  projects/plugins/boost/app/modules/image-size-analysis/Image_Size_Analysis.php
  projects/plugins/boost/changelog/boost-ig-always-on
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31784 Starting a new release cycle for 12.4-a.4.
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/remove-starter-activation-screen
  projects/js-packages/licensing/package.json
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/refactor-preview-component-values
  projects/js-packages/publicize-components/package.json
  projects/packages/blaze/CHANGELOG.md
  projects/packages/blaze/changelog/add-blaze-add-rest-logs
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-dashboard.php
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/add-codesniffer-compat-rulesets
  projects/packages/changelogger/src/Application.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-share_site_task
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-hello-world-post-after-first-post-published
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-my-jp-card-primary-button
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/CHANGELOG.md
  projects/packages/search/changelog/update-conditionally-enable-search-customizer-integration
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-blaze-add-rest-logs
  projects/plugins/jetpack/changelog/fix-atomic-call-parent-add-users-menu
  projects/plugins/jetpack/changelog/fix-jetpack-ai-playground-flag
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/remove-akismet-logo-replacement-styles
  projects/plugins/jetpack/changelog/update-ai-assistant-add-custom-prompt
  projects/plugins/jetpack/changelog/update-ai-assistant-add-feature-endpoint-parameter
  projects/plugins/jetpack/changelog/update-ai-assistant-add-playground-initial-state
  projects/plugins/jetpack/changelog/update-ai-assistant-enable-custom-prompt
  projects/plugins/jetpack/changelog/update-conditionally-enable-search-customizer-integration
  projects/plugins/jetpack/changelog/update-deprecate-skype-sharing
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/update-remove-hello-world-post-after-first-post-published
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack, RNA, [Package] Changelogger, [JS Package] Licensing, [Package] Search, [Package] My Jetpack, [JS Package] Publicize Components, [Package] Blaze, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#31420 Fix link to Nginx instructions in Super Cache
  projects/plugins/super-cache/changelog/fix-link-to-nginx-instructions
  projects/plugins/super-cache/partials/advanced.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Super Cache, [Super Cache] UI

#31789 Launchpad: New task for edit_page
  projects/packages/jetpack-mu-wpcom/changelog/78951-update-edit-page-task
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/78951-update-edit-page-task
  projects/plugins/mu-wpcom-plugin/composer.lock
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, Launchpad

#31782 Boost: Various ISA UI tweaks
  projects/plugins/boost/app/assets/src/js/elements/OtherGroupContext.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Tabs.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/update-isa-ui-tweaks
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31777 Boost: Remove BETA tag from Concatenate CSS/JS and Image CDN settings
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/update-boost_settings_page_beta_apps
Labels: [Status] Ready to Merge, [Plugin] Boost

#31710 CRM: Fix WP user not being generated after v6.0.0
  projects/plugins/crm/admin/contact/contact.ajax.php
  projects/plugins/crm/changelog/fix-crm-3163-generate-wp-user-does-not-work-after-6-0-0
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#31792 [Boost] Fix handling of broken background-image urls in the Image Guide
  projects/js-packages/image-guide/changelog/fix-missing-null-filter
  projects/js-packages/image-guide/package.json
  projects/js-packages/image-guide/src/find-image-elements.ts
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, RNA, [JS Package] Image Guide

#31794 [Boost] Ungate image size analyzer
  projects/plugins/boost/app/modules/image-size-analysis/Image_Size_Analysis.php
  projects/plugins/boost/changelog/boost-ungate-image-size-analyzer
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31801 [Boost] Fix potential savings display
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/changelog/boost-fix-potential-savings
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31804 [Boost] Reduce URL scrape limit to 100 for ISA beta
  projects/plugins/boost/app/lib/class-site-urls.php
  projects/plugins/boost/changelog/boost-fix-site-url-limit
Labels: [Status] Needs Team Review, [Plugin] Boost

#31803 Boost: Truncate image titles in the ISA report
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/RowTitle.svelte
  projects/plugins/boost/app/assets/src/js/utils/truncate-string.ts
  projects/plugins/boost/changelog/fix-isa_title_overflow
Labels: [Status] In Progress, [Status] Needs Cherry-Pick, [Plugin] Boost

#31805 Image Guide: post release
  projects/js-packages/image-guide/CHANGELOG.md
  projects/js-packages/image-guide/changelog/fix-missing-null-filter
  projects/js-packages/image-guide/package.json
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Image Guide

#31806 AI Assistant: Introduce `ghostwriter` into AI Assistant block prompt
  projects/plugins/jetpack/changelog/update-ai-assistant-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31790 AI Assistant: fix transform issue when content has formatted text
  projects/plugins/jetpack/changelog/update-ai-assistant-transform-formatted-text
  projects/plugins/jetpack/extensions/blocks/ai-assistant/transforms/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#31813 AI Assistant: Fix crash when transforming to AI Assistant block
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/fix-ai-assistant-crash
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-text-content-from-selected-blocks/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/utils/block-content.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/types.ts
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31814 AI Assistant: Extend blocks when upgrade is required
  projects/plugins/jetpack/changelog/update-ai-assistant-extend-block-when-upgrade-required
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31732 Stats: Add stats subscription to My Plan
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/add-add-stats-products-jetpack
  projects/plugins/jetpack/images/products/product-jetpack-stats.svg
Labels: Stats, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#31730 Testimonials: Make the testimonials customizer extension only be shown if current theme is not a block theme
  projects/plugins/jetpack/changelog/update-testimonial-customizer-section-scoped-to-old-themes
  projects/plugins/jetpack/modules/custom-post-types/testimonial.php
Labels: Custom Content Types, [Status] Ready to Merge, [Plugin] Jetpack

#31754 Portfolios: Make the customizer section only be shown if current theme is not a block theme
  projects/plugins/jetpack/changelog/update-portfolios-customizer-section-scoped-to-old-themes
  projects/plugins/jetpack/modules/custom-post-types/portfolios.php
Labels: Custom Content Types, [Status] Ready to Merge, [Plugin] Jetpack

#31779 Featured content: Make the customizer extension only be shown if current theme is not a block theme
  projects/plugins/jetpack/changelog/update-featured-content-customizer-section-scoped-to-old-themes
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
Labels: Theme Tools, [Status] Ready to Merge, [Plugin] Jetpack

#31755 Related Posts: Make the customizer extension only be shown if current theme is a block theme
  projects/plugins/jetpack/changelog/update-related-posts-customizer-section-scoped-to-old-themes
  projects/plugins/jetpack/modules/related-posts/class.related-posts-customize.php
Labels: Related Posts, [Status] Ready to Merge, [Plugin] Jetpack

#31822 AI Assistant: do not pre-populate inner blocks if Gutenberg syntax is not enabled
  projects/plugins/jetpack/changelog/update-fix-issue-populating-inner-blocks-from-content
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31630 Changelogger: Allow comments in non-interactive mode
  projects/packages/changelogger/changelog/fix-changelogger-comment-non-interactive
  projects/packages/changelogger/src/AddCommand.php
  projects/packages/changelogger/src/Application.php
  projects/packages/changelogger/tests/php/tests/src/AddCommandTest.php
Labels: [Status] Ready to Merge, [Package] Changelogger, [Tests] Includes Tests

#31688 WAF: Add support for non-empty $_SERVER["HTTPS"] values other than "on"
  projects/packages/waf/changelog/non-on-https-values
  projects/packages/waf/src/class-waf-request.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] WAF

#31827 Boost: Add ISA to feature lists
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/add-isa-feature-in-list
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#31833 Boost: Fix ISA edit link
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/app/lib/class-site-urls.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/changelog/fix-isa-edit-link
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31786 WP Super Cache: Check that URI is not null/not set before using it
  projects/plugins/super-cache/changelog/fix-uri_checking_rejected_function
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#31810 Jetpack Sync :: Add support for additional meta fields for Jetpack Search
  projects/packages/sync/changelog/sync-meta-fields-add
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-search.php
Labels: [Status] Needs Review, [Package] Sync, Search

#31780 Release Script: Check for GH CLI Login
  tools/release-plugin.sh
Labels: [Status] Ready to Merge

#31844 eslint-changed: Fix package name in readme
  projects/js-packages/eslint-changed/README.md
  projects/js-packages/eslint-changed/changelog/fix-eslint-changed-readme
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-changed/src/cli.js
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Changed

#31845 Release eslint-changed
  projects/js-packages/eslint-changed/CHANGELOG.md
  projects/js-packages/eslint-changed/changelog/fix-eslint-changed-readme
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-changed/src/cli.js
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Eslint Changed

#31707 Launchpad: Add/blog flow checklist
  projects/packages/jetpack-mu-wpcom/changelog/add-blog-flow-checklist
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom

#31842 AI Extension: fix transform issue when Ask AI Assistant option
  projects/plugins/jetpack/changelog/update-ai-extension-ask-ai-assistant-transform
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-text-content-from-selected-blocks/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#31643 AI Assistant: Support upgrade prompt for Simple and Atomic sites
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/update-ai-assistant-upgrade-simple-atomic
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31825 Launchpad: Filter tasks by newsletter import goal
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-newsletter-import-callback
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#31603 AI Extension: transform to AI Assistant block when requesting a suggestion
  projects/plugins/jetpack/changelog/update-ai-extension-transform-to-block
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/transforms/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#31811 Boost: Fix overlay overlapping issues and update hard-coded post types
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/elements/OtherGroupContext.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/changelog/fix-boost-isa-tooltip-post-types
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31828 [Boost] Fix super-cache measurements
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/utils/measure-super-cache-saving.ts
  projects/plugins/boost/changelog/boost-fix-super-cache-measure
Labels: [Status] Needs Team Review, [Plugin] Boost

#31829 Boost: Add Upgrade CTA under image guide
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/UpgradeCTA.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/add-image-guide-upgrade-cta
Labels: [Status] Needs Team Review, [Plugin] Boost

#31393 Newsletters: Add subscriber modal
  projects/packages/sync/changelog/add-subscriber-modal
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/add-subscriber-modal
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/_inc/client/discussion/test/component.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-subscriber-modal
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/modules/subscriptions.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.css
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscribe-modal.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/jetpack/tools/webpack.config.css.js
  projects/plugins/migration/changelog/add-subscriber-modal
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-subscriber-modal
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-subscriber-modal
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-subscriber-modal
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-subscriber-modal
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-subscriber-modal
  projects/plugins/videopress/composer.lock
Labels: Subscriptions, WPCOM API, [Status] Needs Review, Admin Page, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#31861 Related Posts: do not display block outside of WP context
  projects/plugins/jetpack/changelog/fix-related-posts-emails
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, Related Posts, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Related Posts

#31843 Live Branches: Don't allow selecting unbuilt plugins
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Pri] Normal

#31846 CRM: Fix for Multiline items in the top-right menu
  projects/plugins/crm/changelog/fix-crm-3152-multiline-names-in-menu
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/sass/emerald/_jpcrm_top_menu.scss
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] CRM

#31871 Jetpack Related Posts: fix for 31861
  projects/plugins/jetpack/changelog/fix-related-posts-31861
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, Related Posts, [Status] Needs Review, [Plugin] Jetpack

#31858 Contact Form: avoid Fatal errors when exporting to CSV
  projects/packages/forms/changelog/fix-bad-extra-fields
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/plugins/jetpack/changelog/fix-bad-extra-fields
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: [Type] Bug, Contact Form, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Package] Forms

#31854 CRM: Fix onboarding unit test
  projects/plugins/crm/changelog/fix-onboarding-unit-test
  projects/plugins/crm/src/js/components/onboarding-wizard/test/index.test.jsx
Labels: [Status] Ready to Merge, [Plugin] CRM, [Tests] Includes Tests

#31868 Update Subscribe modal details
  projects/plugins/jetpack/changelog/update subscribe modal details
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#31884 CRM: Enable JS Tests in GitHub
  projects/plugins/crm/changelog/update-crm-enable-js-tests
  projects/plugins/crm/composer.json
Labels: [Status] Ready to Merge, [Plugin] CRM

#31863 Boost: Fix speed score auto refreshing on page load
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/changelog/fix-speed-score-auto-refreshing-on-page-load
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Speed Score

#31809 Generate query string for the JITM request
  projects/packages/jitm/changelog/fix-jitm-search-query
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/class-post-connection-jitm.php
  projects/packages/jitm/src/class-rest-api-endpoints.php
Labels: [Status] Ready to Merge, [Package] Jitm

#31885 renovate: Remove "close old PRs" workflow
  .github/files/renovate-close-old-PRs.sh
  .github/workflows/renovate-cleanup.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#31720 Subscriptions: update link to Subscribers page in Jetpack dashboard
  projects/plugins/jetpack/_inc/client/discussion/index.jsx
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/_inc/client/discussion/test/component.js
  projects/plugins/jetpack/changelog/update-admin-settings-subscribers-link
Labels: [Type] Enhancement, Subscriptions, [Status] Ready to Merge, Admin Page, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#31881 Remove unused JS deps
  pnpm-lock.yaml
  projects/js-packages/storybook/.babelrc
  projects/js-packages/storybook/changelog/remove-unused-js-deps
  projects/js-packages/storybook/package.json
  projects/packages/backup/changelog/remove-unused-js-deps
  projects/packages/backup/package.json
  projects/packages/blaze/changelog/remove-unused-js-deps
  projects/packages/blaze/package.json
  projects/packages/identity-crisis/changelog/remove-unused-js-deps
  projects/packages/identity-crisis/package.json
  projects/packages/yoast-promo/changelog/remove-unused-js-deps
  projects/packages/yoast-promo/package.json
  projects/plugins/crm/changelog/remove-unused-js-deps
  projects/plugins/crm/package.json
  projects/plugins/migration/changelog/remove-unused-js-deps
  projects/plugins/migration/package.json
  projects/plugins/protect/changelog/remove-unused-js-deps
  projects/plugins/protect/package.json
  projects/plugins/social/changelog/remove-unused-js-deps
  projects/plugins/social/package.json
  projects/plugins/starter-plugin/changelog/remove-unused-js-deps
  projects/plugins/starter-plugin/package.json
  projects/plugins/videopress/changelog/remove-unused-js-deps
  projects/plugins/videopress/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, RNA, [Package] Identity Crisis, [Package] Backup, [JS Package] Storybook, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Package] Blaze, [Plugin] Migration, [Plugin] CRM, [Package] Yoast Promo

#31419 CRM: Fix learn menu buttons overlapping
  projects/plugins/crm/changelog/fix-crm-3147-learn-menu-buttons-overlapping
  projects/plugins/crm/sass/emerald/_learn-menu.scss
Labels: [Type] Bug, [Status] In Progress, [Plugin] CRM

#31645 Prevent race conditions during dedicated syncs & plugin update routines
  projects/packages/sync/changelog/fix-race-conditions-with-db-locks
  projects/packages/sync/src/class-dedicated-sender.php
  projects/plugins/jetpack/changelog/fix-race-conditions-with-db-locks
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Needs Author Reply, [Package] Sync, [Plugin] Jetpack

#31696 Jetpack Dashboard: add new "Earn" section
  projects/plugins/jetpack/_inc/client/admin.js
  projects/plugins/jetpack/_inc/client/components/navigation-settings/index.jsx
  projects/plugins/jetpack/_inc/client/components/navigation-settings/test/component.js
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/earn/ads.jsx
  projects/plugins/jetpack/_inc/client/earn/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/settings/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/changelog/add-earn-section-dashboard
Labels: [Status] Ready to Merge, Admin Page, [Pri] Normal, [Plugin] Jetpack, [Status] UI Changes, [Tests] Includes Tests

#31894 Fix Forms dropdown required validation
  projects/packages/forms/changelog/fix-forms-dropdown-validation
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/dropdown.js
  projects/plugins/jetpack/changelog/fix-forms-dropdown-validation
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/contact-form/js/dropdown.js
Labels: Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms

#31899 k6 tests: run after updating test sites
  .github/files/jetpack-staging-sites/k6-frontend.js
  .github/workflows/jetpack-staging-sites-k6-tests.yml
  .github/workflows/update-jetpack-staging-sites.yml
Labels: [Status] Needs Review, Actions

#31128 AI Assistant: Update query request to be a POST request
  projects/plugins/jetpack/changelog/update-jetpack-ai-query-to-post
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31901 AI Assistant: Extend list block and enhance content parsing
  projects/plugins/jetpack/changelog/update-ai-assistant-extend-list-block
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-selected-blocks/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-text-content-from-selected-blocks/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/utils/block-content.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/transforms/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31826 Akismet: show correct logo for all Jetpack plans that include Akismet
  projects/plugins/jetpack/changelog/fix-akismet-logo-all-antispam-plans
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Status] Ready to Merge, Anti-Spam, [Plugin] Jetpack

#31912 Social: Fix Instagram max image size limit
  projects/js-packages/publicize-components/changelog/fix-instagram-image-max-size
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/restrictions.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#31909 WPCOM REST API: fix PHP 8.2 notice
  projects/plugins/jetpack/changelog/fix-php82-dynamic-properties-json-endpoint
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-media-v1-1-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#31873 Social Menu & Social Media Icons: Add Threads support
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.woff2
  projects/plugins/jetpack/changelog/update-social-logos-threads
  projects/plugins/jetpack/modules/theme-tools/social-menu/icon-functions.php
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.css
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.svg
  projects/plugins/jetpack/modules/widgets/social-icons.php
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, Extra Sidebar Widgets, Theme Tools, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#31847 Related Posts: display different configuration link based on theme
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/related-posts.jsx
  projects/plugins/jetpack/changelog/update-related-posts-configure-link
  tools/eslint-excludelist.json
Labels: [Type] Enhancement, Related Posts, [Status] Needs Review, Admin Page, [Pri] Normal, [Plugin] Jetpack

#31919 Jetpack 12.4-a.5 Changelog Entry
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Ready to Merge, [Plugin] Jetpack

#31684 Fix sonar qube issues
  projects/js-packages/components/changelog/fix-sonar-qube-issues
  projects/js-packages/components/components/boost-score-bar/index.tsx
  projects/js-packages/components/components/boost-score-bar/style.scss
  projects/js-packages/components/package.json
  projects/js-packages/components/tools/jp-redirect/index.ts
  projects/js-packages/connection/changelog/fix-sonar-qube-issues
  projects/js-packages/connection/components/disconnect-survey/index.jsx
  projects/js-packages/connection/package.json
  projects/packages/videopress/changelog/fix-sonar-qube-issues
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/hooks/use-uploader.js
  projects/packages/waf/changelog/fix-sonar-qube-issues
  projects/packages/waf/src/class-waf-runtime.php
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection, [JS Package] Components, [Package] WAF, [Package] VideoPress

#31910 General: indicate compatibility with upcoming WP 6.3
  projects/plugins/backup/changelog/update-tested-up-to-63
  projects/plugins/backup/readme.txt
  projects/plugins/boost/changelog/update-tested-up-to-63
  projects/plugins/boost/readme.txt
  projects/plugins/crm/changelog/update-tested-up-to-63
  projects/plugins/crm/readme.txt
  projects/plugins/jetpack/changelog/update-tested-up-to-63
  projects/plugins/jetpack/readme.txt
  projects/plugins/migration/changelog/update-tested-up-to-63
  projects/plugins/migration/readme.txt
  projects/plugins/protect/changelog/update-tested-up-to-63
  projects/plugins/protect/readme.txt
  projects/plugins/search/changelog/update-tested-up-to-63
  projects/plugins/search/readme.txt
  projects/plugins/social/changelog/update-tested-up-to-63
  projects/plugins/social/readme.txt
  projects/plugins/starter-plugin/changelog/update-tested-up-to-63
  projects/plugins/starter-plugin/readme.txt
  projects/plugins/super-cache/changelog/update-tested-up-to-63
  projects/plugins/super-cache/readme.txt
  projects/plugins/vaultpress/changelog/update-tested-up-to-63
  projects/plugins/vaultpress/readme.txt
  projects/plugins/videopress/changelog/update-tested-up-to-63
  projects/plugins/videopress/readme.txt
  tools/cli/commands/generate.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration, [Plugin] CRM

#31921 Jetpack Live branches: Make Jetpack live branches be able to launch Draft PRs
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Ready to Merge

#31906 Connection: redirect users to proper Calypso environment during connection
  projects/js-packages/components/changelog/fix-staging-calypso-domains-js
  projects/js-packages/components/tools/jp-redirect/index.ts
  projects/js-packages/components/tools/jp-redirect/types.ts
  projects/packages/connection/changelog/fix-staging-calypso-domains-js
  projects/packages/connection/src/class-initial-state.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/tests/php/test-initial-state.php
  projects/packages/status/changelog/fix-staging-calypso-domains-js
  projects/packages/status/composer.json
  projects/packages/status/src/class-host.php
  projects/packages/status/src/class-status.php
  projects/packages/status/tests/php/bootstrap.php
  projects/packages/status/tests/php/test-host.php
  projects/plugins/backup/changelog/fix-staging-calypso-domains-js
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-staging-calypso-domains-js
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/fix-staging-calypso-domains-js
  projects/plugins/jetpack/changelog/fix-staging-calypso-domains-js#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/sso.php
  projects/plugins/migration/changelog/fix-staging-calypso-domains-js
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/fix-staging-calypso-domains-js
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-staging-calypso-domains-js
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-staging-calypso-domains-js
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-staging-calypso-domains-js
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-staging-calypso-domains-js
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Status, [Package] Connection, [Plugin] Jetpack, RNA, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#31908 Boost: Update ISA summary colors when there are issues
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/changelog/update-isa-summary-colors
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis

#31926 Boost: Update upgrade banner and post-purchase banner copy to highlight Image Size Analysis feature
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/changelog/boost-update-messaging
Labels: [Status] Needs Team Review, [Plugin] Boost

#31887 Boost: Fix cloud CSS regeneration when module is toggled on
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/lib/critical-css/Regenerate.php
  projects/plugins/boost/app/modules/Modules_Setup.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Start.php
  projects/plugins/boost/changelog/fix-module-toggle-action
Labels: [Status] Needs Team Review, [Plugin] Boost

#31808 Social: Add reel validation for Instagram connections
  projects/js-packages/publicize-components/changelog/add-instagram-video-reel-validation
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/restrictions.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
  projects/packages/publicize/changelog/add-instagram-video-reel-validation
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-ui.php
  projects/packages/publicize/src/js/classic-editor-connections.js
  projects/plugins/jetpack/changelog/add-instagram-video-reel-validation
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-instagram-video-reel-validation
  projects/plugins/social/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#31740 Social: Refactor the TemplatePicker component
  projects/js-packages/publicize-components/changelog/refactor-template-picker-component
  projects/js-packages/publicize-components/index.js
  projects/js-packages/publicize-components/src/components/social-image-generator/panel/index.js
  projects/js-packages/publicize-components/src/components/social-image-generator/template-picker-modal/index.js
  projects/js-packages/publicize-components/src/components/social-image-generator/template-picker-modal/styles.module.scss
  projects/js-packages/publicize-components/src/components/social-image-generator/template-picker-modal/test/index.test.js
  projects/js-packages/publicize-components/src/components/social-image-generator/template-picker/index.js
  projects/js-packages/publicize-components/src/components/social-image-generator/template-picker/styles.module.scss
  projects/plugins/social/changelog/refactor-template-picker-component
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/social-image-generator-toggle/index.tsx
Labels: [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#31907 Add was_migration_trial flag for wpcom sites
  composer.lock
  projects/plugins/jetpack/changelog/add-was-migration-trial-flag-for-wpcom-sites
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
  projects/plugins/jetpack/tests/php/json-api/test-class.json-api-jetpack-site-endpoints.php
Labels: WPCOM API, [Status] In Progress, [Plugin] Jetpack, [Tests] Includes Tests

#31932 Sharing: fix icon font display
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/changelog/fix-icon-font-post-threads
Labels: [Type] Bug, Sharing, [Status] Needs Review, [Pri] BLOCKER, [Plugin] Jetpack

#31924 AI Client: expose and use JWT library
  package.json
  pnpm-lock.yaml
  projects/js-packages/ai-client/changelog/update-ai-client-expose-jwt-lib
  projects/js-packages/ai-client/index.js
  projects/js-packages/ai-client/index.ts
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/global.d.ts
  projects/js-packages/ai-client/src/jwt/Readme.md
  projects/js-packages/ai-client/src/jwt/index.ts
  projects/js-packages/ai-client/tsconfig.json
  projects/plugins/jetpack/changelog/update-ai-client-expose-jwt-lib
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/token.ts
  projects/plugins/jetpack/package.json
Labels: Docs, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client

#31927 Protect: Update Firewall Copy
  projects/plugins/protect/changelog/update-protect-firewall-copy
  projects/plugins/protect/src/js/components/firewall-header/index.jsx
  projects/plugins/protect/src/js/components/firewall-page/index.jsx
Labels: [Type] Enhancement, [Status] Needs Copy Review, [Type] Happiness Request, [Status] Needs Team Review, [Status] Editorial Input Requested, [Plugin] Protect

#31853 CRM: Create Automations UI root
  projects/plugins/crm/admin/automations/main.page.php
  projects/plugins/crm/changelog/add-crm-automations-admin-root
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.WP.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/modules/automations/admin/admin-page-init.php
  projects/plugins/crm/modules/automations/jpcrm-automations-init.php
  projects/plugins/crm/src/js/components/admin-page/index.tsx
  projects/plugins/crm/src/js/components/admin-page/styles.module.scss
  projects/plugins/crm/src/js/components/admin-page/test/index.test.jsx
  projects/plugins/crm/src/js/components/admin-page/types.ts
  projects/plugins/crm/src/js/components/automations-admin/index.tsx
  projects/plugins/crm/src/js/components/automations-admin/test/index.test.tsx
  projects/plugins/crm/src/js/components/automations-admin/view.tsx
  projects/plugins/crm/src/js/components/onboarding-wizard/test/index.test.jsx
  projects/plugins/crm/tsconfig.json
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests, [CRM] Automations Module

#31761 Protect: Add standalone brute force protection support
  projects/packages/waf/changelog/add-protect-standalone-brute-force-access
  projects/packages/waf/composer.json
  projects/packages/waf/src/class-brute-force-protection.php
  projects/packages/waf/src/class-compatibility.php
  projects/packages/waf/src/class-rest-controller.php
  projects/packages/waf/src/class-waf-initializer.php
  projects/plugins/debug-helper/changelog/add-protect-standalone-brute-force-access
  projects/plugins/debug-helper/modules/class-waf-helper.php
  projects/plugins/debug-helper/plugin.php
  projects/plugins/jetpack/changelog/add-protect-standalone-brute-force-access
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-protect-standalone-brute-force-access
  projects/plugins/protect/changelog/add-protect-standalone-brute-force-access#2
  projects/plugins/protect/composer.lock
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/class-rest-controller.php
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/firewall-header/index.jsx
  projects/plugins/protect/src/js/components/firewall-page/index.jsx
  projects/plugins/protect/src/js/components/firewall-page/styles.module.scss
  projects/plugins/protect/src/js/components/scan-footer/styles.module.scss
  projects/plugins/protect/src/js/components/textarea/index.jsx
  projects/plugins/protect/src/js/components/textarea/styles.module.scss
  projects/plugins/protect/src/js/hooks/use-waf-data/index.jsx
  projects/plugins/protect/src/js/state/reducers.js
Labels: [Type] Happiness Request, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Debug Helper, [Package] WAF, [Plugin] Protect, [Tests] Includes Tests

#31952 Protect: Fix Version
  projects/plugins/protect/changelog/add-protect-standalone-brute-force-access
  projects/plugins/protect/changelog/add-zendesk-chat-authentication
  projects/plugins/protect/changelog/update-my-jetpack-zendesk-chat-show-conditionally-with-api
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
Labels: [Status] Ready to Merge, [Plugin] Protect
