Repository Automattic/jetpack, pull requests merged in 2023-02, with the labels that each got.

#28676 Backup and Social plugins: update the release branch prefix
  projects/plugins/backup/changelog/update-backup-social-release-branch-prefix
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/social/changelog/update-backup-social-release-branch-prefix
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
Labels: [Status] Needs Review, [Pri] Normal, [Plugin] Backup, [Plugin] Social

#28673 E2E tests: handle welcome guide modal in site editor
  projects/plugins/jetpack/changelog/e2e-site_editor_welcome_modal
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  tools/e2e-commons/pages/wp-admin/site-editor.js
Labels: [Status] Needs Review, Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28661 Include "Recycle content" feature in all of the Social plans
  projects/plugins/social/changelog/update-social-resharing-free
  projects/plugins/social/src/js/components/pricing-page/index.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Social

#28685 Update dependency social-logos to v2.5.2
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-social-logos
  projects/plugins/jetpack/package.json
Labels: Sharing, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#28666 Jetpack Social: Support VideoPress videos in media picker
  projects/js-packages/publicize-components/changelog/fix-jetpack-social-videopress-mime-type
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/restrictions.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#28554 Protect: update wording in error message
  projects/plugins/jetpack/changelog/update-protect-error-wording
  projects/plugins/jetpack/modules/protect/math-fallback.php
Labels: Protect, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#28626 Jetpack: Check block dependencies after build
  projects/plugins/jetpack/changelog/wip-check-block-assets-script
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#28659 VideoPress: re-write token bridge lib
  projects/packages/videopress/changelog/update-videopress-ts-bridge
  projects/packages/videopress/src/class-jwt-token-bridge.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-player/index.js
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/lib/get-media-token/types.ts
  projects/packages/videopress/src/client/lib/token-bridge/Readme.md
  projects/packages/videopress/src/client/lib/token-bridge/index.ts
  projects/packages/videopress/webpack.config.js
Labels: [Status] Needs Team Review, [Package] VideoPress

#28650 Jetpack: Fix Backup item not displaying when site has a plan but Backup plugin is not active
  projects/plugins/jetpack/changelog/fix-backup-menu-item
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Ready to Merge, [Status] Needs Team Review, [Plugin] Jetpack, Scan

#28657 Stats: Update/remove stats ads page lock
  projects/packages/stats-admin/changelog/update-remove-stats-ads-page-lock
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/plugins/jetpack/changelog/update-remove-stats-ads-page-lock
  projects/plugins/jetpack/composer.lock
Labels: Stats, WordAds, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#28691 VideoPress: Add transform control from video block to videopress/video block
  projects/plugins/jetpack/changelog/add-videopress-conversion-panel
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/blocks/videopress/utils.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/components/transform-control/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/components/transform-control/styles.module.scss
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/index.js
Labels: [Type] Enhancement, VideoPress, [Status] Ready to Merge, [Plugin] Jetpack, [Block] VideoPress

#28711 Jetpack: Fix registering VaultPress and Scan submenus on a new Jetpack connected site
  projects/plugins/jetpack/changelog/fix-backup-scan-submenu-visibility
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, Scan

#28665 Slideshow block: remove dependency on Lodash
  projects/plugins/jetpack/changelog/update-remove-lodash-from-slideshow-block
  projects/plugins/jetpack/extensions/blocks/slideshow/create-swiper.js
  projects/plugins/jetpack/extensions/blocks/slideshow/swiper-callbacks.js
  projects/plugins/jetpack/extensions/blocks/slideshow/view.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Focus] Performance, [Status] Ready to Merge, [Block] Slideshow, [Plugin] Jetpack

#28500 Jetpack dashboard navigation: add external link icon to Plans link
  projects/plugins/jetpack/_inc/client/components/navigation/index.jsx
  projects/plugins/jetpack/_inc/client/components/navigation/test/component.js
  projects/plugins/jetpack/_inc/client/components/section-nav/item.jsx
  projects/plugins/jetpack/_inc/client/components/section-nav/style.scss
  projects/plugins/jetpack/changelog/modify-plans-link
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#28617 [AI] Display user-friendly errors
  projects/plugins/jetpack/changelog/add-open-ai-display-user-error
  projects/plugins/jetpack/extensions/blocks/ai-image/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Image, [Block] AI Paragraph

#28704 Add/watch command contact form package
  projects/packages/forms/changelog/add-watch-command-contact-form-package
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/plugins/jetpack/changelog/add-watch-command-contact-form-package
  projects/plugins/jetpack/changelog/add-watch-command-contact-form-package#2
  projects/plugins/jetpack/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#28689 Add tooling for building the jetpack forms dashboard
  pnpm-lock.yaml
  projects/packages/forms/.eslintrc.js
  projects/packages/forms/.gitattributes
  projects/packages/forms/.gitignore
  projects/packages/forms/babel.config.js
  projects/packages/forms/changelog/add-forms-dashboard-setup
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/logo/index.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/tools/webpack.config.contact-form.js
  projects/packages/forms/tools/webpack.config.dashboard.js
  projects/plugins/jetpack/changelog/add-forms-dashboard-setup
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#28717 VideoPress: enqueue extensions when registrant plugin is active
  projects/packages/videopress/changelog/update-videopress-fix-connect-url
  projects/packages/videopress/src/class-block-editor-extensions.php
  projects/packages/videopress/src/class-status.php
Labels: [Status] Ready to Merge, [Block] VideoPress, [Package] VideoPress

#28674 Slideshow block: Changing icons from URLEncoded to base64 encoded
  projects/plugins/jetpack/changelog/fix-slideshow-block-arrows
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: [Type] Bug, [Status] Ready to Merge, [Block] Slideshow, [Size] S, [Plugin] Jetpack

#28715 Blaze: display action links in page list as well
  projects/packages/blaze/changelog/update-blaze-action-links-pages
  projects/packages/blaze/src/class-blaze.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Status] Needs Cherry-Pick, [Package] Blaze

#28720 Blaze: release v0.5.1
  projects/packages/blaze/CHANGELOG.md
  projects/packages/blaze/changelog/fix-blaze-action-items-cpt
  projects/packages/blaze/changelog/rm-blaze-json-api-gate
  projects/packages/blaze/changelog/update-backport-blaze-v0.5.1
  projects/packages/blaze/changelog/update-blaze-action-links-pages
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-blaze.php
Labels: [Status] Needs Review, [Package] Blaze

#28703 E2E test: improve simple payments block test
  projects/plugins/jetpack/changelog/e2e-improve-paypal-block-test
  projects/plugins/jetpack/tests/e2e/specs/blocks/pro-blocks.test.js
  tools/e2e-commons/pages/wp-admin/blocks/simple-payments.js
Labels: [Status] Ready to Merge, Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28667 Donations: remove deps on lodash and wp-keycodes
  projects/plugins/jetpack/changelog/update-remove-lodash-and-wordpress-keycodes-from-donations-block
  projects/plugins/jetpack/extensions/blocks/donations/view.js
  projects/plugins/jetpack/extensions/shared/currencies.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Focus] Performance, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Donations

#28705 VideoPress: Add Preload control to the video block sidebar
  projects/packages/videopress/changelog/add-videopress-preload-control
  projects/packages/videopress/src/client/block-editor/blocks/video/components/playback-panel/index.tsx
  projects/packages/videopress/src/client/lib/url/index.ts
Labels: VideoPress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#28721 Release Script: Enforce minimum GH CLI version
  tools/release-plugin.sh
Labels: [Status] Needs Review, [Tools] Development CLI

#28732 Custom CSS: Scope Additional CSS submenu item to connected sites
  projects/plugins/jetpack/changelog/update-showadditional-css-submenus-when-connected
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Type] Bug, Custom CSS, [Status] Ready to Merge, [Plugin] Jetpack

#28735 Add Import Package
  projects/packages/import/.gitattributes
  projects/packages/import/.gitignore
  projects/packages/import/.phpcs.dir.xml
  projects/packages/import/.phpcsignore
  projects/packages/import/CHANGELOG.md
  projects/packages/import/README.md
  projects/packages/import/changelog/.gitkeep
  projects/packages/import/changelog/add-import-package
  projects/packages/import/composer.json
  projects/packages/import/package.json
  projects/packages/import/phpunit.xml.dist
  projects/packages/import/src/class-import.php
  projects/packages/import/tests/php/bootstrap.php
Labels: [Status] Ready to Merge, [Status] Needs Test Review, [Package] Import

#28742 Subscription Block: Update block description
  projects/plugins/jetpack/changelog/update-subscribe-block-description
  projects/plugins/jetpack/extensions/blocks/subscriptions/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#28745 JSON API: avoid PHP warning
  projects/plugins/jetpack/changelog/fix-notice-json-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#28738 E2E tests: improve susbscribe block tests
  .github/workflows/e2e-tests.yml
  projects/plugins/jetpack/changelog/e2e-improve-subscribe-block-test
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  tools/e2e-commons/pages/wp-admin/blocks/simple-payments.js
  tools/e2e-commons/pages/wp-admin/blocks/subscribe.js
Labels: [Status] Needs Review, Actions, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28212 Form: Add style variations
  projects/plugins/jetpack/changelog/add-form-loading
  projects/plugins/jetpack/changelog/add-form-style-variations
  projects/plugins/jetpack/extensions/blocks/contact-form/child-blocks.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-dropdown.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-label.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-multiple.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-textarea.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-option.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/extensions/blocks/contact-form/util/form.js
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/contact-form/js/form-styles.js
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, [Status] Ready to Merge, Unit Tests, [Status] Needs Testing, [Plugin] Jetpack, [Block] Contact Form, [Status] Needs Test Review

#28746 Stats: Dashboard - remove box around blocked numbers
  projects/plugins/jetpack/_inc/client/components/dash-item/style.scss
  projects/plugins/jetpack/_inc/client/dashboard-widget/style.scss
  projects/plugins/jetpack/changelog/remove-box-stats
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#28749 Form block: consistency for variation descriptions
  projects/plugins/jetpack/changelog/update-form-variation-desc
  projects/plugins/jetpack/extensions/blocks/contact-form/variations.js
Labels: [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack, [Block] Contact Form

#28630 Move Forms blocks to the Forms package
  pnpm-lock.yaml
  projects/packages/forms/.gitattributes
  projects/packages/forms/changelog/update-move-form-blocks
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/blocks/.eslintrc.js
  projects/packages/forms/src/blocks/contact-form/attributes.js
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/help-message/index.js
  projects/packages/forms/src/blocks/contact-form/components/help-message/style.scss
  projects/packages/forms/src/blocks/contact-form/components/inspector-hint/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-crm-integration/jetpack-crm-integration-settings-extension-error-state.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-crm-integration/jetpack-crm-integration-settings-extension.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-crm-integration/jetpack-crm-integration-settings-plugin-state.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-crm-integration/jetpack-crm-integration-settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-email-connection-settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-checkbox.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-consent.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-css.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-dropdown.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-label.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-textarea.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-width.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-manage-responses-settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-newsletter-integration-settings-consent-block.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-newsletter-integration-settings-creativemail.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-newsletter-integration-settings-error-state.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-newsletter-integration-settings-plugin-state.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-newsletter-integration-settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-option.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/packages/forms/src/blocks/contact-form/components/use-jetpack-field-styles.js
  projects/packages/forms/src/blocks/contact-form/deprecated.js
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/editor.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/index.js
  projects/packages/forms/src/blocks/contact-form/transforms.js
  projects/packages/forms/src/blocks/contact-form/util/block-icons.js
  projects/packages/forms/src/blocks/contact-form/util/focus.js
  projects/packages/forms/src/blocks/contact-form/util/form.js
  projects/packages/forms/src/blocks/contact-form/util/plugin-management.js
  projects/packages/forms/src/blocks/contact-form/util/register-jetpack-block.js
  projects/packages/forms/src/blocks/contact-form/util/render-material-icon.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tools/webpack.config.blocks.js
  projects/plugins/jetpack/changelog/update-move-form-blocks
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#28750 API: php warning fix
  projects/plugins/jetpack/changelog/fix-update-post-endpoint-warning
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#28751 Revert "Custom CSS: Scope Additional CSS submenu item to connected sites"
  projects/plugins/jetpack/changelog/update-showadditional-css-submenus-when-connected
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Status] Needs Review, [Pri] High, [Plugin] Jetpack, [Platform] Atomic

#28662 Odyssey Stats: Add New badge to settings toggle
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/_inc/client/traffic/style.scss
  projects/plugins/jetpack/changelog/odyssey-stats-new-badge
Labels: Stats, [Status] Needs Review, Admin Page, [Plugin] Jetpack

#28744 General: update wrong return types
  projects/plugins/jetpack/changelog/fix-docblocks
  projects/plugins/jetpack/modules/comments/admin.php
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/shortcodes.php
Labels: Comments, Related Posts, General, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#28772 Publicize: add context to the docblock
  projects/packages/publicize/changelog/update-docblock-gplus
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize.php
Labels: [Type] Bug, Docs, [Status] Ready to Merge, [Package] Publicize

#28747 Blaze: do not dispay UI for password-protected posts
  projects/packages/blaze/changelog/fix-blaze-password-ui
  projects/packages/blaze/src/class-blaze.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Package] Blaze

#28731 VideoPress: Enforce chapters restrictions on description parsing
  projects/packages/videopress/changelog/update-videopress-chapters-enforce
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/styles.scss
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
  projects/packages/videopress/src/client/utils/video-chapters/validate-chapters/index.ts
  projects/packages/videopress/src/client/utils/video-chapters/validate-chapters/test/index.ts
Labels: VideoPress, [Status] Ready to Merge, [Block] VideoPress, [Package] VideoPress

#28769 VideoPress: set isPrivate attribute also based on private_enabled_for_site
  projects/packages/videopress/changelog/update-videopress-fix-uploading-chapters-private-videos
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
  projects/packages/videopress/src/client/lib/get-media-token/index.ts
  projects/packages/videopress/src/client/lib/get-media-token/types.ts
  projects/packages/videopress/src/client/lib/video-tracks/index.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#28740 Podcast player: remove wp-components frontend dependency
  projects/plugins/jetpack/changelog/update-remove-wp-components-dep-from-podcast-player-frontend
  projects/plugins/jetpack/extensions/blocks/podcast-player/icons/link.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/icons/queueMusic.js
  projects/plugins/jetpack/extensions/blocks/podcast-player/icons/track-icons.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Focus] Performance, [Status] Ready to Merge, [Block] Podcast Player, [Plugin] Jetpack

#28498 jetpack-mu-wpcom: migrate coming-soon to package
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/update-migrate-coming-soon-to-package
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/phpunit.xml.dist
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/common/index.php
  projects/packages/jetpack-mu-wpcom/src/features/coming-soon/coming-soon.php
  projects/packages/jetpack-mu-wpcom/src/features/coming-soon/fallback-coming-soon-page.php
  projects/packages/jetpack-mu-wpcom/tests/lib/functions-wordpress.php
  projects/packages/jetpack-mu-wpcom/tests/php/bootstrap.php
  projects/packages/jetpack-mu-wpcom/tests/php/common/index-test.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/coming-soon/class-coming-soon-test.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/init-release-cycle
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Pri] Normal, [Status] Needs Test Review, [Package] Jetpack Mu Wpcom, [Plugin] Mu Wpcom Plugin

#28726 Release Script: Double Check Version Matches Flag
  tools/release-plugin.sh
Labels: [Status] Needs Review

#28789 JITM: Fix broken UI on Safari
  projects/packages/jitm/changelog/fix-jitm-styles
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Package] Jitm

#28788 VideoPress: Fix token bridge issue in development environment
  projects/packages/videopress/changelog/fix-videopress-service-worker
  projects/packages/videopress/src/client/lib/token-bridge/index.ts
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#28793 mu-wpcom-plugin: backport v1.0.1 release
  projects/js-packages/babel-plugin-replace-textdomain/CHANGELOG.md
  projects/js-packages/babel-plugin-replace-textdomain/changelog/renovate-babel-monorepo
  projects/js-packages/babel-plugin-replace-textdomain/changelog/renovate-babel-plugin-tester-11.x
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/i18n-check-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/renovate-babel-monorepo
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-babel-monorepo
  projects/js-packages/webpack-config/changelog/renovate-major-babel-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/update-migrate-coming-soon-to-package
  projects/packages/jetpack-mu-wpcom/changelog/update-node-to-v18
  projects/packages/jetpack-mu-wpcom/changelog/update-wordbless-composer-install
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/fix-jitm-styles
  projects/packages/jitm/src/class-jitm.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-jetpack-mu-wpcom-plugin
  projects/plugins/mu-wpcom-plugin/changelog/init-release-cycle
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jitm, RNA, [JS Package] Webpack Config, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin, [Package] Jetpack Mu Wpcom, [Plugin] Mu Wpcom Plugin

#28733 Stats: Support opt-out notice for Odyssey Stats
  projects/packages/stats-admin/changelog/add-opt-out-notice-for-odyssey
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/plugins/jetpack/changelog/add-opt-out-notice-for-odyssey
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#28795 packages/my-jetpack: backport v2.7.8 changelog
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-backport-mj-v2.7.8
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Review, [Package] My Jetpack

#28509 Checkout: redirect users to license activation if they already have one
  projects/js-packages/svelte-data-sync-client/changelog/add-license-verification
  projects/packages/backup/changelog/add-license-verification
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/connection/changelog/add-license-verification
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/webhooks/class-authorize-redirect.php
  projects/packages/licensing/changelog/add-license-verification
  projects/packages/licensing/composer.json
  projects/packages/licensing/src/class-licensing.php
  projects/packages/wp-js-data-sync/changelog/add-license-verification
  projects/plugins/backup/changelog/add-license-verification
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-license-verification
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-license-verification
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-license-verification
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-license-verification
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-license-verification
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-license-verification
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-license-verification
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-license-verification
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Package] Connection, [Package] Licensing, [Plugin] Jetpack, RNA, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Package] Wp Js Data Sync, [JS Package] Svelte Data Sync Client

#28688 Change remaining shares phrasing to be more clear
  projects/js-packages/publicize-components/changelog/change-remaining-shares-phrasing
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/plugins/social/changelog/change-remaining-shares-phrasing
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/share-counter/index.js
Labels: [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components

#28757 Custom CSS: Scope Additional CSS submenu item to connected sites (Take 2)
  projects/plugins/jetpack/changelog/update-showadditional-css-submenus-when-connected
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: Custom CSS, [Status] Ready to Merge, [Plugin] Jetpack

#28761 Subscribe block: Fix rendering of subscriber email in .com as default value for the subscribe block input in wpcom
  projects/plugins/jetpack/changelog/add-render-user_email_to_input
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#28748 Blaze: only display UI to admins.
  projects/packages/blaze/changelog/update-blaze-ui-admins
  projects/packages/blaze/src/class-blaze.php
  projects/packages/blaze/tests/php/test-blaze.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Status] Needs Test Review, [Package] Blaze

#28801 E2E tests: toggle welcomeGuide in site editor using wp data module
  tools/e2e-commons/pages/wp-admin/site-editor.js
Labels: [Status] Ready to Merge, E2E Tests

#28768 Copy Site: Add `site_source_slug` option to json-api
  projects/plugins/jetpack/changelog/add-site-source-slug-option
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#28808 Remove calls to `parent::setUp()` from test `set_up()` methods
  projects/packages/connection/changelog/fix-wrong-parent-setup-call
  projects/packages/connection/tests/php/test_jetpack_xmlrpc_server.php
  projects/packages/stats/changelog/fix-wrong-parent-setup-call
  projects/packages/stats/tests/php/test-base.php
  projects/packages/videopress/changelog/fix-wrong-parent-setup-call
  projects/packages/videopress/tests/php/test-uploader.php
  projects/plugins/protect/changelog/fix-wrong-parent-setup-call
  projects/plugins/protect/tests/php/models/test-extension-model.php
  projects/plugins/protect/tests/php/models/test-threat-model.php
  projects/plugins/protect/tests/php/test-scan-status.php
  projects/plugins/protect/tests/php/test-status.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Package] Connection, [Plugin] Protect, [Package] VideoPress, [Package] Stats, [Status] Needs Test Review

#28799 Masterbar: php warning fix
  projects/plugins/jetpack/changelog/fix-masterbar-php-warning
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, Masterbar, [Plugin] Jetpack

#28730 Release Script: Check for remote release branch first
  tools/release-plugin.sh
Labels: [Status] Needs Review

#28817 VideoPress: Fix fatal error when local video cannot be read
  projects/packages/videopress/changelog/fix-videopress-fatal-local-videos
  projects/packages/videopress/src/class-data.php
  projects/packages/videopress/src/class-upload-exception.php
  projects/packages/videopress/src/class-uploader.php
  projects/packages/videopress/src/client/admin/components/video-list/index.tsx
  projects/packages/videopress/src/client/admin/components/video-list/style.module.scss
  projects/packages/videopress/src/client/admin/types/index.ts
  projects/packages/videopress/src/client/state/constants.js
Labels: [Type] Bug, VideoPress, [Status] Needs Team Review, [Package] VideoPress, [Plugin] VideoPress

#28818 Jetpack: backport 11.8-beta changelogs and stable tags
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/update-backport-jp-11.8-changelogs
  projects/plugins/backup/readme.txt
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-backup-menu-item
  projects/plugins/jetpack/changelog/fix-backup-scan-submenu-visibility
  projects/plugins/jetpack/changelog/remove-box-stats
  projects/plugins/jetpack/changelog/update-jetpack-11.8-beta-changelog-editorial
  projects/plugins/jetpack/changelog/update-jp-11.8-to-test
  projects/plugins/jetpack/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/update-backport-jp-11.8-changelogs
  projects/plugins/social/readme.txt
Labels: [Status] Needs Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Social

#28822 Releases: release stale projects as of JP 11.8
  projects/github-actions/pr-is-up-to-date/CHANGELOG.md
  projects/github-actions/pr-is-up-to-date/changelog/update-build-action-version-handling
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/change-pull-request-template-headings
  projects/github-actions/repo-gardening/changelog/renovate-major-eslint-packages
  projects/github-actions/repo-gardening/changelog/renovate-vercel-ncc-0.x
  projects/github-actions/repo-gardening/changelog/update-bug-report-format
  projects/github-actions/repo-gardening/changelog/update-build-action-version-handling
  projects/github-actions/repo-gardening/changelog/update-node-to-v18
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/required-review/CHANGELOG.md
  projects/github-actions/required-review/changelog/renovate-vercel-ncc-0.x
  projects/github-actions/required-review/changelog/update-build-action-version-handling
  projects/github-actions/required-review/changelog/update-node-to-v18
  projects/github-actions/required-review/package.json
  projects/js-packages/eslint-changed/CHANGELOG.md
  projects/js-packages/eslint-changed/changelog/renovate-major-eslint-packages
  projects/js-packages/eslint-changed/changelog/renovate-major-jest-monorepo
  projects/js-packages/eslint-changed/changelog/update-build-action-version-handling
  projects/js-packages/eslint-changed/changelog/update-node-to-v18
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-changed/src/cli.js
  projects/packages/analyzer/CHANGELOG.md
  projects/packages/analyzer/changelog/update-build-action-version-handling
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/add-license-verification
  projects/packages/connection/changelog/fix-wrong-parent-setup-call
  projects/packages/connection/src/class-package-version.php
  projects/packages/heartbeat/CHANGELOG.md
  projects/packages/heartbeat/changelog/update-build-action-version-handling
  projects/packages/ignorefile/CHANGELOG.md
  projects/packages/ignorefile/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/packages/ignorefile/changelog/update-build-action-version-handling
  projects/packages/phpcs-filter/CHANGELOG.md
  projects/packages/phpcs-filter/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/packages/phpcs-filter/changelog/update-build-action-version-handling
Labels: [Status] Needs Review, [Type] Janitorial, Actions, [Package] Connection, [Package] Analyzer, [Package] Heartbeat, RNA, [Action] Required Review, [Action] Repo Gardening, [Action] PR Is Up To Date, [JS Package] Eslint Changed, [Package] Ignorefile, [Package] Phpcs Filter

#28714 Boost: Add regnerate C.CSS prompts
  projects/plugins/boost/app/admin/class-regenerate-admin-notice.php
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/react-components/RegenerateCriticalCssSuggestion.tsx
  projects/plugins/boost/app/assets/src/js/stores/config.ts
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/features/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/lib/Environment_Change_Detector.php
  projects/plugins/boost/app/lib/class-environment-change-detector.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_Invalidator.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/app/rest-api/endpoints/Generator_Success.php
  projects/plugins/boost/changelog/add-regerate-prompts
  projects/plugins/boost/rollup.config.js
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#28765 Add jetpack-ip package
  projects/packages/ip/.gitattributes
  projects/packages/ip/.gitignore
  projects/packages/ip/.phpcs.dir.xml
  projects/packages/ip/.phpcsignore
  projects/packages/ip/CHANGELOG.md
  projects/packages/ip/README.md
  projects/packages/ip/changelog/.gitkeep
  projects/packages/ip/changelog/init
  projects/packages/ip/composer.json
  projects/packages/ip/phpunit.xml.dist
  projects/packages/ip/src/class-ip.php
  projects/packages/ip/tests/php/bootstrap.php
Labels: [Status] Ready to Merge, [Status] Needs Test Review, [Package] Ip

#28805 E2E tests: wait for block to be available before insert
  projects/plugins/jetpack/changelog/e2e-wait-for-block
  projects/plugins/jetpack/tests/e2e/specs/blocks/pro-blocks.test.js
  tools/e2e-commons/helpers/blocks-helper.js
  tools/e2e-commons/pages/wp-admin/block-editor.js
  tools/e2e-commons/pages/wp-admin/site-editor.js
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28804 VideoPress: add Share and Allow Download option to dashboard video detail page
  projects/packages/videopress/changelog/add-share-download-to-video-detail-page
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/style.module.scss
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
  projects/packages/videopress/src/client/hooks/use-meta-update.js
Labels: [Status] Needs Team Review, [Package] VideoPress

#28813 Subscriptions: Update pay wall design
  projects/plugins/jetpack/changelog/update-newsletters-paywall-design
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#28786 Subscribe block: replace subscriberCount text underline with bold
  projects/plugins/jetpack/changelog/update-subscribe-block-count-underline
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
Labels: [Status] Ready to Merge, [Pri] Low, [Block] Subscriptions, [Plugin] Jetpack

#28832 E2E tests: fix undefined page when waiting for blocks
  tools/e2e-commons/helpers/blocks-helper.js
Labels: [Status] Ready to Merge, E2E Tests

#28798 CRM: Adding back and unminifying font-awesome.css
  projects/plugins/crm/changelog/add-crm-font-awesome
  projects/plugins/crm/sass/font-awesome.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#28787 WP JS Data Sync: First Release
  projects/js-packages/svelte-data-sync-client/.eslintrc.cjs
  projects/js-packages/svelte-data-sync-client/README.md
  projects/js-packages/svelte-data-sync-client/changelog/implement-data-sync-client
  projects/js-packages/svelte-data-sync-client/src/API.ts
  projects/js-packages/svelte-data-sync-client/src/Endpoint.ts
  projects/js-packages/svelte-data-sync-client/src/SyncedStore.ts
  projects/js-packages/svelte-data-sync-client/src/index.ts
  projects/js-packages/svelte-data-sync-client/src/initializeClient.ts
  projects/js-packages/svelte-data-sync-client/src/types.ts
  projects/js-packages/svelte-data-sync-client/src/utils.ts
  projects/js-packages/svelte-data-sync-client/webpack.config.cjs
  projects/packages/wp-js-data-sync/README.md
  projects/packages/wp-js-data-sync/changelog/implement
  projects/packages/wp-js-data-sync/src/class-data-sync-entry-handler.php
  projects/packages/wp-js-data-sync/src/class-data-sync-entry.php
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/class-registry.php
  projects/packages/wp-js-data-sync/src/endpoints/class-authenticated-nonce.php
  projects/packages/wp-js-data-sync/src/endpoints/class-endpoint.php
  projects/packages/wp-js-data-sync/src/storage-drivers/class-storage-driver.php
  projects/packages/wp-js-data-sync/src/storage-drivers/class-wp-option-storage.php
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [Package] Wp Js Data Sync, [JS Package] Svelte Data Sync Client

#28827 CRM: Adding JS functions to the list of exported functions
  projects/plugins/crm/changelog/add-crm-js-functions-module
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#28752 Forms: Update package with latest contact-form changes
  projects/packages/forms/changelog/update-forms-from-trunk
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-dropdown.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-label.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-textarea.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-option.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/index.js
  projects/packages/forms/src/blocks/contact-form/util/form.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/form-styles.js
  projects/packages/forms/tests/php/contact-form/test-class.contact-form.php
Labels: [Status] Ready to Merge, [Status] Needs Test Review, [Package] Forms

#28806 API:admin menu php warning fix
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/fix-api-admin-menu
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, WP REST API, [Plugin] Jetpack

#28835 Allow Heart of Gold to manage their packages
  .github/files/required-review.yaml
Labels: [Status] Ready to Merge, Actions

#28766 Protect: Fix status report caching
  projects/plugins/protect/changelog/fix-protect-status-caching
  projects/plugins/protect/src/class-protect-status.php
  projects/plugins/protect/src/class-scan-status.php
  projects/plugins/protect/src/class-status.php
  projects/plugins/protect/tests/php/test-scan-status.php
  projects/plugins/protect/tests/php/test-status.php
Labels: [Status] In Progress, [Type] Happiness Request, [Plugin] Protect, [Status] Needs Test Review

#28843 build: Add various debug statements
  .github/workflows/build.yml
  tools/cli/commands/build.js
Labels: [Status] Ready to Merge, [Pri] Normal, Actions, [Tools] Development CLI

#28842 Move dialogue and conversation blocks to beta
  projects/plugins/jetpack/changelog/remove-dialogue-and-conversation-block-from-experimental
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, [Block] Conversation, [Block] Dialogue, [Plugin] Jetpack

#28782 Map block: reimplement frontend in vanilla JS
  projects/plugins/jetpack/changelog/update-reimplement-map-block-frontend
  projects/plugins/jetpack/extensions/blocks/map/component.js
  projects/plugins/jetpack/extensions/blocks/map/info-window/index.js
  projects/plugins/jetpack/extensions/blocks/map/map-marker/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapbox-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/view.js
  projects/plugins/jetpack/extensions/shared/debounce.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Focus] Performance, [Status] Needs Review, [Block] Map, [Plugin] Jetpack

#28848 Jetpack: edited changelog for 11.9-a.1
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-jetpack-11.9-a.1-changelog-edited
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#28850 build: Add more debug statements
  tools/cli/commands/build.js
  tools/cli/helpers/list-project-files.js
Labels: [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#28823 Admin: Show survey notice when the new stats UI is disabled
  projects/plugins/jetpack/_inc/client/constants/urls.js
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/_inc/client/traffic/style.scss
  projects/plugins/jetpack/changelog/add-notice-when-odyssey-disabled
Labels: Stats, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#28794 Odyssey: store the timestamp when enabling / disabling new Stats
  projects/packages/stats-admin/changelog/add-store-enable-disable-time-for-odyssey
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats/changelog/add-store-enable-disable-time-for-odyssey
  projects/packages/stats/composer.json
  projects/packages/stats/src/class-options.php
  projects/packages/stats/tests/php/test-options.php
  projects/packages/stats/tests/php/test-xmlrpc-provider.php
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-store-enable-disable-time-for-odyssey
  projects/plugins/jetpack/changelog/add-store-enable-disable-time-for-odyssey#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/search/changelog/add-store-enable-disable-time-for-odyssey
  projects/plugins/search/composer.lock
Labels: Stats, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Stats, [Status] Needs Test Review, [Package] Stats Admin

#28849 Social Logos: update icon font
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.eot
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.ttf
  projects/plugins/jetpack/_inc/social-logos/social-logos.woff2
  projects/plugins/jetpack/changelog/update-social-logos
  projects/plugins/jetpack/changelog/update-social-logos-icon-font
Labels: Sharing, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#28855 Stats: Make the Stats dashboard widget link to Odyssey stats if enabled
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-stats-dashboard-widget-link-odyseey
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Needs Review, Admin Page, [Plugin] Jetpack

#28858 Boost: Remove regenerate suggestion banner
  projects/plugins/boost/app/admin/class-regenerate-admin-notice.php
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/rest-api/endpoints/Generator_Success.php
  projects/plugins/boost/changelog/add-regerate-prompts
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#28825 [Boost] Correct usage of unlinked=1 param during signup
  projects/plugins/boost/app/assets/src/js/stores/connection.ts
  projects/plugins/boost/app/assets/src/js/utils/upgrade.ts
  projects/plugins/boost/app/lib/class-connection.php
  projects/plugins/boost/changelog/boost-correct-unlinked-param-usage
Labels: [Status] Needs Team Review, [Plugin] Boost

#28845 VideoPress dashboard: Disable local video upload for free plan after first upload
  projects/packages/videopress/changelog/fix-disable-local-video-upload-free
  projects/packages/videopress/src/client/admin/components/video-list/index.tsx
Labels: VideoPress, [Status] Ready to Merge, [Package] VideoPress

#28790 Add Jetpack Forms dashboard layout
  projects/packages/forms/changelog/add-jetpack-forms-dashboard-layout
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/components/logo/index.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/add-jetpack-forms-dashboard-layout
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#28862 E2E tests: update edit site button selector
  .github/files/e2e-tests/e2e-matrix.js
  tools/e2e-commons/pages/wp-admin/site-editor.js
Labels: [Status] Needs Review, Actions, E2E Tests

#28863 E2E tests: remove Gutenberg test suite from matrix
  .github/files/e2e-tests/e2e-matrix.js
Labels: [Status] Needs Review, Actions

#28838 CRM: Migrate Trailing comma breaking Php 7.2
  projects/plugins/crm/changelog/fix-trailing_comma_breaking_php_7_2
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Export.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28836 CRM: Migrate Fix escape in contact list filters
  projects/plugins/crm/changelog/fix-esape_issue_on_contact_filter
  projects/plugins/crm/includes/ZeroBSCRM.List.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28831 CRM: Migrate Tag <strong> in the Client Portal Pro bundle notification
  projects/plugins/crm/admin/contact/view.page.php
  projects/plugins/crm/changelog/fix-escape_client_portal_pro_notification
Labels: [Status] Needs Team Review, [Plugin] CRM

#28829 CRM: Migrate Fix avatar getting removed when saving a contact
  projects/plugins/crm/changelog/fix-profile_picture_getting_removed
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Contacts.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28802 CRM: Migrate Resolves 2738 - Show custom profile pictures on dashboard
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/fix-custom_profile_pictures_on_dashboard
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#28800 CRM: Migrate Skip contact created field on WooCommerce Subscription updates
  projects/plugins/crm/changelog/fix-woo-subscription-incorrectly-update-contact-date-added
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28834 CRM: Migrate Fix script tag not being properly opened
  projects/plugins/crm/changelog/fix-crm_form_shows_js_code
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Forms.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28830 CRM: Migrate Escape Invoice ID
  projects/plugins/crm/changelog/fix-crm-escape-invoice-id
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#28879 build: Disable `execa` buffering when not needed
  tools/cli/commands/build.js
  tools/cli/helpers/list-project-files.js
Labels: [Status] Ready to Merge, [Pri] Normal, [Tools] Development CLI

#28880 mu-wpcom-plugin: conditionally load the package
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-loading
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/changelog/update-jetpack-mu-wpcom-loading
  projects/plugins/mu-wpcom-plugin/changelog/update-jetpack-mu-wpcom-loading#2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Ready to Merge, [Package] Jetpack Mu Wpcom, [Plugin] Mu Wpcom Plugin

#28844 WAF: Prevent errors when autoloaded classes are out of date
  projects/packages/waf/changelog/patch-waf-update-fatal
  projects/packages/waf/src/class-waf-constants.php
  projects/packages/waf/src/class-waf-initializer.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] WAF

#28760 WAF: Ensure the jetpack-waf directory exists as part of filesystem initialization
  projects/packages/waf/changelog/add-waf-ensure-content-directory
  projects/packages/waf/src/class-waf-runner.php
Labels: [Status] Ready to Merge, [Package] WAF

#28816 Adds post categories as classnames to search results
  projects/packages/search/changelog/update-search-add-category-classnames
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/components/search-result-expanded.jsx
  projects/packages/search/src/instant-search/components/search-result-minimal.jsx
  projects/packages/search/src/instant-search/components/search-result-product.jsx
  projects/plugins/jetpack/changelog/update-search-add-category-classnames
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-search-add-category-classnames
  projects/plugins/search/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#28846 Add jetpack-ip package functionality
  projects/packages/ip/changelog/add-jetpack-ip-functionality
  projects/packages/ip/composer.json
  projects/packages/ip/src/class-ip.php
  projects/packages/ip/src/class-utils.php
  projects/packages/ip/tests/php/test-utils.php
Labels: [Status] Ready to Merge, [Status] Needs Test Review, [Package] Ip

#28882 VideoPress: Fix custom CSS classes removal
  projects/packages/videopress/changelog/fix-videopress-block-custom-classnames
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/transforms/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
Labels: [Type] Bug, VideoPress, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#28884 mu-wpcom-plugin: backport 1.0.3 release
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-loading
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/init-release-cycle
  projects/plugins/mu-wpcom-plugin/changelog/update-jetpack-mu-wpcom-loading
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Package] Jetpack Mu Wpcom, [Plugin] Mu Wpcom Plugin

#28783 Integrate jetpack-ip package
  projects/packages/ip/README.md
  projects/packages/ip/changelog/add-integrate-ip-package
  projects/packages/status/changelog/integrate-jetpack-ip-package
  projects/packages/status/composer.json
  projects/packages/status/src/class-modules.php
  projects/packages/sync/changelog/integrate-jetpack-ip-package
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-listener.php
  projects/packages/waf/changelog/integrate-jetpack-ip-package
  projects/packages/waf/composer.json
  projects/packages/waf/src/brute-force-protection/shared-functions.php
  projects/packages/waf/src/class-brute-force-protection.php
  projects/plugins/backup/changelog/add-integrate-ip-package
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-integrate-ip-package
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/add-integrate-ip-package
  projects/plugins/jetpack/changelog/integrate-jetpack-ip-package
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/src/class-tracking.php
  projects/plugins/jetpack/tests/php/modules/protect/test-shared-functions.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-listener.php
  projects/plugins/jetpack/views/admin/network-settings.php
  projects/plugins/migration/changelog/add-integrate-ip-package
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-integrate-ip-package
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-integrate-ip-package
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-integrate-ip-package
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-integrate-ip-package
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-integrate-ip-package
  projects/plugins/videopress/composer.lock
Labels: Protect, Unit Tests, [Package] Sync, [Package] Status, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] WAF, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Status] Needs Test Review, [Plugin] Migration, [Package] Ip

#28764 Sync: Remove use of WAF package when logging failed login attempts
  projects/packages/sync/changelog/remove-brute-force-protection-class-dep
  projects/packages/sync/src/modules/class-protect.php
  projects/packages/waf/changelog/add-login-ability-data-to-hook
  projects/packages/waf/src/class-brute-force-protection.php
  projects/plugins/jetpack/changelog/update-sync-brute-force-test
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: [Status] Needs Author Reply, [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Package] WAF, [Status] Needs Test Review

#28869 Boost: fix flashing Failed to generate CSS message
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-status.ts
  projects/plugins/boost/changelog/boost-fix-flashing-error-message
Labels: [Status] Needs Team Review, [Plugin] Boost

#28652 WAF: Update brute force shared functions to namespaced class
  projects/packages/sync/changelog/remove-brute-force-protection-class-dep
  projects/packages/sync/src/modules/class-protect.php
  projects/packages/waf/changelog/add-login-ability-data-to-hook
  projects/packages/waf/changelog/update-waf-brute-force-shared-functions
  projects/packages/waf/src/brute-force-protection/class-blocked-login-page.php
  projects/packages/waf/src/brute-force-protection/class-math-fallback.php
  projects/packages/waf/src/brute-force-protection/class-shared-functions.php
  projects/packages/waf/src/brute-force-protection/class-transient-cleanup.php
  projects/packages/waf/src/brute-force-protection/shared-functions.php
  projects/packages/waf/src/class-brute-force-protection.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/update-sync-brute-force-test
  projects/plugins/jetpack/changelog/update-waf-brute-force-shared-functions
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack-network.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-module-protect.php
  tools/phpcs-excludelist.json
Labels: WPCOM API, Protect, [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Plugin] Search, [Package] WAF, [Status] Needs Test Review, [Package] Ip

#28857 Stats: Add notice status control endpoint
  projects/packages/stats-admin/changelog/add-stats-notice-status-control
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-notices.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats-admin/tests/php/test-rest-controller.php
  projects/packages/stats-admin/tests/php/test-stats-notices.php
  projects/packages/stats/changelog/add-stats-notice-status-control
  projects/packages/stats/src/class-options.php
  projects/packages/stats/tests/php/test-options.php
  projects/packages/stats/tests/php/test-xmlrpc-provider.php
  projects/plugins/jetpack/changelog/add-stats-notice-status-control
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats, [Status] Needs Test Review, [Package] Stats Admin

#28871 Repo gardening: update auto-labeling rules for Boost
  projects/github-actions/repo-gardening/changelog/update-auto-labeling-boost-features
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#28821 Implement the responses table for the new feedback dashboard
  pnpm-lock.yaml
  projects/packages/forms/changelog/update-jetpack-forms-response-list
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/components/table/index.js
  projects/packages/forms/src/dashboard/components/table/item.js
  projects/packages/forms/src/dashboard/components/table/style.scss
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-jetpack-forms-response-list
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#28770 Migration plugin: refactor migration component
  pnpm-lock.yaml
  projects/js-packages/connection/changelog/connection-package
  projects/js-packages/connection/index.jsx
  projects/js-packages/connection/package.json
  projects/plugins/migration/changelog/update-migration-admin-ui
  projects/plugins/migration/images/migration-1.png
  projects/plugins/migration/package.json
  projects/plugins/migration/src/js/components/admin-page/index.jsx
  projects/plugins/migration/src/js/components/illustrations/index.tsx
  projects/plugins/migration/src/js/components/migration/index.tsx
  projects/plugins/migration/src/js/components/migration/styles.module.scss
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection, [Plugin] Migration

#28833 Hide stats dashboard widget for users below view_Stats cap
  projects/plugins/jetpack/changelog/Adds filter to hide the dashboard stats widget.
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
Labels: [Type] Enhancement, Stats, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#28889 Incorrect backup copy & products info
  projects/plugins/jetpack/changelog/simonktnga8c-patch-1
  projects/plugins/jetpack/readme.txt
Labels: [Type] Enhancement, General, [Status] Ready to Merge, [Plugin] Jetpack

#28868 CRM: Migrate Exporting contacts shows County instead of State
  projects/plugins/crm/changelog/fix-translate-crm-field-labels
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#28872 CRM: Replacing all changed consts and lets back to vars
  projects/plugins/crm/.eslintrc.js
  projects/plugins/crm/.gitattributes
  projects/plugins/crm/changelog/update-crm-const-to-vars
  projects/plugins/crm/js/ZeroBSCRM.admin.betafeedback.js
  projects/plugins/crm/js/ZeroBSCRM.admin.customerfilters.js
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/js/ZeroBSCRM.admin.editview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.email.js
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.metabox.manager.js
  projects/plugins/crm/js/ZeroBSCRM.admin.notify.js
  projects/plugins/crm/js/ZeroBSCRM.admin.quotebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.quotebuilder.wysiwygbar.js
  projects/plugins/crm/js/ZeroBSCRM.admin.segmentedit.js
  projects/plugins/crm/js/ZeroBSCRM.admin.settings.js
  projects/plugins/crm/js/ZeroBSCRM.admin.singleview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.tags.metabox.js
  projects/plugins/crm/js/ZeroBSCRM.admin.task.js
  projects/plugins/crm/js/ZeroBSCRM.admin.tour.js
  projects/plugins/crm/js/ZeroBSCRM.admin.transactioneditor.js
  projects/plugins/crm/js/ZeroBSCRM.admin.wysiwygbar.js
  projects/plugins/crm/js/ZeroBSCRM.public.leadform.js
  projects/plugins/crm/js/ZeroBSCRM.public.proposals.js
  projects/plugins/crm/js/jpcrm-admin-maildelivery.js
  projects/plugins/crm/js/jpcrm-public-bind-daterange.js
  projects/plugins/crm/js/welcome-to-zbs/wizard2.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-add-edit-page.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-hub-page.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-listview-additions.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-hub-page.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-settings-connections.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-welcome-wizard.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#28885 E2E tests: fix wrong page type in site editor view page action
  projects/plugins/jetpack/changelog/e2e-fix_site_editor_view_page
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  tools/e2e-commons/pages/wp-admin/site-editor.js
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28890 Backup: Update description headline, add video
  projects/plugins/backup/changelog/modify-backup-plugin-description-add-video
  projects/plugins/backup/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Backup

#28860 CRM: Adding exports to JS functions where needed, throughout the core plugin
  projects/plugins/crm/changelog/update-js-files-export-functions
  projects/plugins/crm/js/ZeroBSCRM.admin.editview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.segmentedit.js
  projects/plugins/crm/js/ZeroBSCRM.admin.tags.metabox.js
  projects/plugins/crm/js/ZeroBSCRM.admin.transactioneditor.js
  projects/plugins/crm/js/welcome-to-zbs/wizard2.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-add-edit-page.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-listview-additions.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#28852 VideoPress: Fix image URLs in the block editor
  projects/packages/videopress/changelog/fix-videopress-editor-images
  projects/packages/videopress/src/class-block-editor-extensions.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/color-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/index.ts
  projects/packages/videopress/src/client/block-editor/global.d.ts
  projects/packages/videopress/src/client/block-editor/utils/editor-image-url.ts
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress, [Plugin] VideoPress

#28895 Jetpack: update readme.txt contributors list
  projects/plugins/jetpack/changelog/update-readme-contributors
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#28875 Actions: update e2e report build
  .github/workflows/e2e-tests.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#28893 E2E tests: rename some tests and steps
  projects/plugins/jetpack/changelog/e2e-rename-tests
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/blocks/pro-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/connection/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/pre-connection/pre-connection.test.js
Labels: [Status] Ready to Merge, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#28877 Add the template for the response view in the new feedback dashboard
  projects/packages/forms/changelog/update-jetpack-forms-response-view
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-jetpack-forms-response-view
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#28853 Release Script: Update Script with Suggestions
  tools/release-plugin.sh
Labels: [Status] Needs Review, [Type] Janitorial

#28866 Jetpack: Remove deprecated `jetpack_require_lib` and friends
  projects/plugins/jetpack/changelog/remove-deprecated-jetpack_require_lib
  projects/plugins/jetpack/load-jetpack.php
  projects/plugins/jetpack/require-lib.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#28902 jetpack-mu-wpcom: update a readme link
  projects/packages/jetpack-mu-wpcom/README.md
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-readme-links
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/README.md
  projects/plugins/mu-wpcom-plugin/changelog/update-jetpack-mu-wpcom-readme-links
Labels: [Status] Ready to Merge, [Pri] Low, [Package] Jetpack mu wpcom, [Plugin] Mu Wpcom Plugin

#28900 Blaze: do not load in the classic editor
  projects/packages/blaze/changelog/fix-blaze-classic-editor
  projects/packages/blaze/src/class-blaze.php
  projects/packages/blaze/tests/php/test-blaze.php
Labels: [Type] Bug, [Status] In Progress, [Pri] High, [Status] Needs Cherry-Pick, [Status] Needs Test Review, [Package] Blaze

#28887 WAF: Do not run on VIP sites
  projects/packages/waf/changelog/add-waf-no-vip
  projects/packages/waf/src/class-waf-runner.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Package] WAF

#28901 CRM: Add watch script to composer
  projects/plugins/crm/changelog/add-crm-add-watch-command
  projects/plugins/crm/composer.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#28891 Update Boost/Super Cache contributors list
  projects/plugins/boost/changelog/update-boost-super-cache-contributors-list
  projects/plugins/boost/readme.txt
  projects/plugins/super-cache/changelog/update-boost-super-cache-contributors-list
  projects/plugins/super-cache/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Boost, [Plugin] Super Cache

#28894 [Paid Newsletters] Fix regression with comment box appearing everywhere
  projects/plugins/jetpack/changelog/paid-newsletters-fix-comments-under-pages
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Block] Subscriptions, [Plugin] Jetpack

#28807 Migration plugin: Create/integrate migration progress screen
  pnpm-lock.yaml
  projects/js-packages/api/changelog/add-api-method
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/plugins/migration/changelog/add-migration-progress
  projects/plugins/migration/images/migration-2.png
  projects/plugins/migration/package.json
  projects/plugins/migration/src/js/components/admin-page/index.jsx
  projects/plugins/migration/src/js/components/admin-page/styles.module.scss
  projects/plugins/migration/src/js/components/constants.ts
  projects/plugins/migration/src/js/components/hooks/use-migration-status.ts
  projects/plugins/migration/src/js/components/migration/error.tsx
  projects/plugins/migration/src/js/components/migration/index.tsx
  projects/plugins/migration/src/js/components/migration/loading.tsx
  projects/plugins/migration/src/js/components/migration/progress.tsx
  projects/plugins/migration/src/js/components/migration/styles.module.scss
  projects/plugins/migration/src/js/components/migration/types.d.ts
Labels: [Status] Ready to Merge, RNA, [JS Package] Connection, [JS Package] API, [Plugin] Migration

#28899 WAF: Fix uncaught exceptions
  projects/packages/waf/changelog/fix-waf-throws
  projects/packages/waf/src/class-waf-initializer.php
  projects/packages/waf/src/class-waf-rules-manager.php
  projects/packages/waf/src/class-waf-runner.php
Labels: [Type] Bug, [Status] Needs Review, [Status] Needs Cherry-Pick, [Package] WAF

#28897 CRM: Adding module exports for vars and all functions
  projects/plugins/crm/changelog/fix-crm-export-var
  projects/plugins/crm/js/ZeroBSCRM.admin.betafeedback.js
  projects/plugins/crm/js/ZeroBSCRM.admin.customerfilters.js
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/js/ZeroBSCRM.admin.editview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.email.js
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.metabox.manager.js
  projects/plugins/crm/js/ZeroBSCRM.admin.quotebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.segmentedit.js
  projects/plugins/crm/js/ZeroBSCRM.admin.settings.js
  projects/plugins/crm/js/ZeroBSCRM.admin.singleview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.tags.metabox.js
  projects/plugins/crm/js/ZeroBSCRM.admin.tour.js
  projects/plugins/crm/js/ZeroBSCRM.admin.transactioneditor.js
  projects/plugins/crm/js/ZeroBSCRM.public.leadform.js
  projects/plugins/crm/js/ZeroBSCRM.public.proposals.js
  projects/plugins/crm/js/jpcrm-admin-maildelivery.js
  projects/plugins/crm/js/jpcrm-admin-system.js
  projects/plugins/crm/js/jpcrm-public-bind-daterange.js
  projects/plugins/crm/js/welcome-to-zbs/wizard2.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-add-edit-page.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-hub-page.js
  projects/plugins/crm/modules/mailpoet/js/jpcrm-mailpoet-listview-additions.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-hub-page.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-settings-connections.js
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-welcome-wizard.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#28912 Fix premium content block access level
  projects/plugins/jetpack/changelog/fix-premium-content-block-access-level
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/access-check.php
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Block] Premium Content, [Plugin] Jetpack

#28915 VideoPress: do not use JS template strings to build queryString of the chapter file to avoid concat_js=no issues
  projects/packages/videopress/changelog/update-videopress-do-not-use-js-template-to-create-file-chapter-url
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Block] VideoPress, [Package] VideoPress

#28921 Readme: add missing periods
  projects/plugins/jetpack/changelog/fix-missing-periods-readme
  projects/plugins/jetpack/readme.txt
Labels: General, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#28926 Forms: Fix persistent blur on amp pages
  projects/packages/forms/changelog/fix-form-blur-amp-pages
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/fix-form-blur-amp-pages
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Needs Review, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Package] Forms

#28928 WAF: Updating package
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/add-waf-no-vip
  projects/packages/waf/changelog/fix-waf-throws
  projects/packages/waf/changelog/patch-waf-update-fatal
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] WAF

#28931 jetpack-mu-wpcom: check array key exists before access
  projects/packages/jetpack-mu-wpcom/changelog/2023-02-13-20-37-22-243565
  projects/packages/jetpack-mu-wpcom/src/features/coming-soon/coming-soon.php
Labels: [Status] Ready to Merge, [Package] Jetpack mu wpcom

#28935 Stats: remove unnecessary params passed to wpcom
  projects/packages/stats-admin/changelog/fix-remove-unnecessary-params-passed-to-wpcom
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats-admin/tests/php/test-rest-controller.php
Labels: Stats, [Status] In Progress, [Status] Needs Team Review, [Package] Stats, [Status] Needs Test Review, [Package] Stats Admin

#28934 build: Remove debug statements
  .github/workflows/build.yml
  tools/cli/commands/build.js
  tools/cli/helpers/list-project-files.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI

#28773 Refactor publicize media component into separate component
  projects/js-packages/publicize-components/changelog/change-refactor-publicize-media-picker
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/media-picker/index.js
  projects/js-packages/publicize-components/src/components/media-picker/styles.module.scss
  projects/js-packages/publicize-components/src/components/media-picker/test/index.test.js
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/styles.module.scss
  projects/js-packages/publicize-components/src/components/media-section/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-media-details/index.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#28810 Display location-aware snackbar upon loading the site editor
  projects/plugins/jetpack/changelog/add-site-editor-snackbar-load
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/site-editor-snackbars/editor.js
  projects/plugins/jetpack/extensions/plugins/site-editor-snackbars/index.js
  projects/plugins/jetpack/extensions/plugins/site-editor-snackbars/site-editor-snackbars.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Extension] Site Editor Snackbars

#28874 Update sharing button styles
  projects/plugins/jetpack/changelog/update-sharing-buttons
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Type] Enhancement, Sharing, [Status] Ready to Merge, [Status] Needs Testing, [Size] S, [Plugin] Jetpack, [Plugin] Social
