Repository Automattic/jetpack, pull requests merged in 2023-11, with the labels that each got.

#33854 wp-admin Site Default: Fix/remove submenu from my sites
  projects/plugins/jetpack/changelog/fix-remove-submenu-from-my-sites
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#33915 Jetpack AI: Remove performance offending code to solve editor loading issues
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/update-jetpack-ai-comment-slow-lines
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#33684 Comments: ensure form is rendered
  projects/plugins/jetpack/changelog/update-comments-must-login
  projects/plugins/jetpack/modules/comments/base.php
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Feature] Comments, [Status] In Progress, [Plugin] Jetpack

#33901 AI Tiered Plans: pick and expose tier plan data
  projects/plugins/jetpack/changelog/update-tiered-plan-update-use-ai-feature
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#33896 Fix Assistant page not showing Jetpack header & footer on some Assistant routes.
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/fix-assistant-not-showing-header
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#33900 Subscriptions: Add param for magic login
  projects/plugins/jetpack/changelog/add-blog-id-para-for-magic-login
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Feature] Subscriptions, [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#33679 Jetpack Boost: Extract ISA Styles
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/isa/multi-progress.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations-meta.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations-page.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/components/device.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/components/pagination-arrow.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/components/pill.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/components/row-title.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/components/thumbnail.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/hero.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/pagination.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/row-types/image-size-row.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/row-types/table-row-hover.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/row-types/table-row.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/table.scss
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations/tabs.scss
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Pagination.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Tabs.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/Device.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/PaginationArrow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/Pill.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/RowTitle.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/Thumbnail.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/BrokenDataRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageMissingRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/ImageSizeRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/LoadingRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/row-types/TableRowHover.svelte
  projects/plugins/boost/changelog/boost-react-isa-refactor-styles
Labels: [Status] Needs Team Review, [Plugin] Boost

#33923 Lanchpad: Customization hooks: Make more resilient
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-hooks
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#33934 Add Facebook to Quick Share buttons
  projects/js-packages/publicize-components/changelog/add-fb-to-quick-share
  projects/js-packages/publicize-components/src/components/share-buttons/available-networks.tsx
  projects/js-packages/publicize-components/src/components/share-buttons/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#33911 CRM: 3382 - Fix PHP notice when contact is assigned to team member
  projects/plugins/crm/changelog/fix-crm-3382-php_notice_when_contact_has_assignee
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#33905 Connection: make sure scheme history option is an array
  projects/packages/connection/changelog/fix-connection-urls-scheme-history
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-urls.php
Labels: [Type] Bug, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Package] Connection

#33930 Google Fonts Module: Cache the response of the remote JSON data
  projects/plugins/jetpack/changelog/feat-google-fonts-cache-json
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Feature] Google Fonts

#33939 AI Asistant: expose tier plans on feature endpoint payload
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/add-tier-plans-on-ai-feature
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#33657 Jetpack Boost: Bare bones React DataSync Prototype
  pnpm-lock.yaml
  projects/js-packages/react-data-sync-client/changelog/boost-react-react-datasync-prototype
  projects/js-packages/react-data-sync-client/package.json
  projects/js-packages/react-data-sync-client/src/ApiError.ts
  projects/js-packages/react-data-sync-client/src/DataSync.ts
  projects/js-packages/react-data-sync-client/src/DataSyncHooks.ts
  projects/js-packages/react-data-sync-client/src/index.ts
  projects/js-packages/react-data-sync-client/src/types.ts
  projects/packages/wp-js-data-sync/changelog/boost-react-react-datasync-prototype
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync-entry-adapter.php
  projects/packages/wp-js-data-sync/src/class-data-sync-readonly.php
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/schema/class-schema.php
  projects/packages/wp-js-data-sync/src/schema/types/class-type-any.php
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/react/pages/settings/elements/MinifyMeta.scss
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CollapsibleMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/MinifyMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/react-components/pages/settings/elements/MinifyMeta.tsx
  projects/plugins/boost/app/assets/src/js/stores/minify.ts
  projects/plugins/boost/app/assets/src/js/svg/pencil.svg
  projects/plugins/boost/app/assets/static/images/pencil.svg
  projects/plugins/boost/changelog/boost-react-react-datasync-prototype
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/rollup-tsconfig.json
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, RNA, [Plugin] Boost, [Package] WP JS Data Sync, [JS Package] React Data Sync Client

#33893 Change WordAds and Simple Payments upsell CTAs to JP Creator LP
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/add-jetpack-creator
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#33933 wp-admin Site Default: add notice banner for wp-admin users
  projects/plugins/jetpack/changelog/add-wp-admin-notice-banner
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#33833 Boost: Update e2e tests to account for lazy loading removal
  projects/plugins/boost/changelog/update-boost-e2e-tests-lazy-loading
  projects/plugins/boost/tests/e2e/specs/base/jetpack-compatibility.test.js
  projects/plugins/boost/tests/e2e/specs/modules/lazy-images.test.js
  projects/plugins/boost/tests/e2e/specs/modules/modules-common.test.js
  projects/plugins/boost/tests/e2e/specs/modules/score-auto-refresh.test.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#33945 wp-admin Site Default: respect user's view setting in Classic style
  projects/plugins/jetpack/changelog/fix-respect-user-view-setting
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#33897 Subscribe Block: Introduce "Subscribed" state
  projects/plugins/jetpack/changelog/update-subscribe-button
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
  tools/e2e-commons/pages/wp-admin/blocks/subscribe.js
Labels: [Status] Needs Review, [Block] Subscriptions, E2E Tests, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships

#33931 Nextdoor: Fix the embed resizing
  projects/plugins/jetpack/changelog/fix-nextdoor-embed-sizing
  projects/plugins/jetpack/extensions/blocks/nextdoor/edit.js
  projects/plugins/jetpack/extensions/blocks/nextdoor/nextdoor.php
  projects/plugins/jetpack/extensions/blocks/nextdoor/test/edit.js
  projects/plugins/jetpack/extensions/blocks/nextdoor/utils.js
  projects/plugins/jetpack/extensions/blocks/nextdoor/view.js
Labels: [Status] In Progress, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Nextdoor

#33709 Comments: Fix reply functionality in WP 6.4 RC
  projects/plugins/jetpack/changelog/y
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Type] Bug, [Feature] Comments, [Status] Ready to Merge, [Pri] BLOCKER, [Plugin] Jetpack

#33950 Social: Move Nextdoor block to production
  projects/plugins/jetpack/changelog/update-move-nextdoor-block-production
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack

#33949 wp-admin Site Default: Ensure settings point to wp-admin when wpcom_admin_interface is 'wp-admin'
  projects/plugins/jetpack/changelog/fix-settings-and-user-menu-incorrect-links
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#33940 wp-admin Site Default: Add login type selection for classic interface
  projects/plugins/jetpack/changelog/add-login-type-selection-for-classic-interface
  projects/plugins/jetpack/modules/sso.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack

#33910 CRM: 3362 - use modern string manipulation functions
  projects/plugins/crm/admin/company/view.page.php
  projects/plugins/crm/admin/settings/business-info.page.php
  projects/plugins/crm/admin/settings/client-portal.page.php
  projects/plugins/crm/admin/settings/companies.page.php
  projects/plugins/crm/admin/settings/field-options.page.php
  projects/plugins/crm/admin/settings/field-sorts.page.php
  projects/plugins/crm/admin/settings/transactions.page.php
  projects/plugins/crm/changelog/fix-crm-3362-code_modernisation
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.Checks.php
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Localisation.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.CustomerFilters.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL.Fields.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Export.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Fields.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Invoices.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Quotes.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Transactions.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/includes/ZeroBSCRM.DataIOValidation.php
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.Jetpack.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Columns.php
  projects/plugins/crm/includes/ZeroBSCRM.Mail.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Logs.php
  projects/plugins/crm/includes/ZeroBSCRM.Migrations.php
  projects/plugins/crm/includes/ZeroBSCRM.PluginUpdates.php
  projects/plugins/crm/includes/ZeroBSCRM.SystemChecks.php
  projects/plugins/crm/includes/class-wordpress-user-integration.php
  projects/plugins/crm/includes/jpcrm-fonts.php
  projects/plugins/crm/js/ZeroBSCRM.admin.global.js
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.segmentedit.js
  projects/plugins/crm/modules/givewp/class-jpcrm-givewp.php
  projects/plugins/crm/modules/mailpoet/includes/class-mailpoet-background-sync-job.php
  projects/plugins/crm/modules/portal/class-client-portal-router.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync.php
  projects/plugins/crm/modules/woo-sync/jpcrm-woo-sync-init.php
  projects/plugins/crm/modules/woo-sync/js/jpcrm-woo-sync-settings-connections.js
  projects/plugins/crm/src/automation/commons/conditions/invoices/class-invoice-field-contains.php
  projects/plugins/crm/src/automation/commons/conditions/transactions/class-transaction-field.php
  projects/plugins/crm/tests/codeception/_support/Helper/JPCRM_Acceptance.php
  projects/plugins/crm/tests/codeception/_support/Module/WordPress.php
  projects/plugins/crm/tests/php/automation/tools/class-automation-faker.php
  tools/phpcs-excludelist.json
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests, [CRM] MailPoet Module, [CRM] WooSync Module, [CRM] Portal Module, [CRM] Givewp Module

#33951 wp-admin Site Default: Always links 'My Sites' to the Sites page
  projects/plugins/jetpack/changelog/improve-wp-admin-toolbar-mods
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Feature] Masterbar, [Status] Needs Team Review, [Plugin] Jetpack, wp-admin Site Default

#33942 AI Assistant: Add loading state to usage panel
  projects/plugins/jetpack/changelog/update-ai-assistant-loading
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant Plugin

#33920 Jetpack: check for other plugins before uninstall cleanup.
  projects/packages/connection/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/tests/php/test_Manager_unit.php
  projects/plugins/backup/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/uninstall.php
  projects/plugins/migration/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/migration/composer.json
  projects/plugins/migration/composer.lock
  projects/plugins/migration/wpcom-migration.php
  projects/plugins/protect/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Package] Connection, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests, [Plugin] Inspect

#33928 Remove scssc 0.0.12, replace with ScssPhp 1.1.11 via composer
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/changelog/update-scssphp
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors.php
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors/scss.inc.php
Labels: [Feature] Custom CSS, [Status] Needs Team Review, [Plugin] Jetpack

#33955 Jetpack: Fix VaultPress submenu not being registered when the standalone plugin is inactive
  projects/plugins/jetpack/changelog/fix-vaultpress-submenu
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Feature] Scan

#33961 Subscribe Block: Improves "Subscribed" state in WPCOM
  projects/plugins/jetpack/changelog/2023-11-03-20-11-20-806088
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-online-subscription-service.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships

#33947 Prevent PHP warnings by adding `isset` and `is_array` checks to inner block loop in WooCommerce Analytics module
  projects/plugins/jetpack/changelog/fix-woo-analytics-warnings
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-universal.php
Labels: [Status] Ready to Merge, [Feature] WooCommerce Analytics, [Plugin] Jetpack

#33954 Boost: Fix background color
  projects/plugins/boost/app/assets/src/css/components/isa/recommendations-page.scss
  projects/plugins/boost/app/assets/src/css/main/wp-admin.scss
  projects/plugins/boost/changelog/fix-background-color
Labels: [Status] Needs Team Review, [Plugin] Boost

#33952 Boost: Implement `BackButton` in React
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/elements/BackButton.svelte
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/AdvancedCriticalCss.svelte
  projects/plugins/boost/app/assets/src/js/react-components/common/back-button/BackButton.tsx
  projects/plugins/boost/app/assets/src/js/react-components/svg/left-arrow.svg
  projects/plugins/boost/app/assets/src/js/sections/Header.svelte
  projects/plugins/boost/app/assets/src/js/utils/navigate.ts
  projects/plugins/boost/changelog/add-react-back-btn
  projects/plugins/boost/package.json
  projects/plugins/boost/rollup.config.js
Labels: [Status] Needs Team Review, [Plugin] Boost

#33967 Subscribe modal: don't show when previewing post or theme
  projects/plugins/jetpack/changelog/update-subscribe-modal-disable-in-preview
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#33969 Social: Fix store/initial-state out of sync issue
  projects/js-packages/publicize-components/changelog/fix-social-store-refresh-issue
  projects/js-packages/publicize-components/src/components/auto-conversion/toggle/index.tsx
  projects/js-packages/publicize-components/src/components/social-image-generator/toggle/index.tsx
  projects/js-packages/publicize-components/src/social-store/actions/auto-conversion-settings.js
  projects/js-packages/publicize-components/src/social-store/actions/social-image-generator-settings.js
  projects/plugins/jetpack/_inc/client/sharing/features/auto-conversion-section.jsx
  projects/plugins/jetpack/_inc/client/sharing/features/social-image-generator-section.jsx
  projects/plugins/jetpack/changelog/fix-social-store-refresh-issue
  projects/plugins/social/changelog/fix-social-store-refresh-issue
  projects/plugins/social/src/js/components/admin-page/index.jsx
  projects/plugins/social/src/js/components/auto-conversion-toggle/index.tsx
  projects/plugins/social/src/js/components/social-image-generator-toggle/index.tsx
Labels: [Status] In Progress, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#33919 Plans: minor code refactoring for wordpress-com/plans store
  projects/plugins/jetpack/changelog/update-jetpack-plans-tscriptify
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/use-upgrade-flow/index.js
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
Labels: Plans, [Status] Needs Team Review, [Plugin] Jetpack

#32154 Introduce VideoPress content gating
  projects/packages/videopress/changelog/add-videopress-content-gating
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-access-control.php
  projects/packages/videopress/src/class-ajax.php
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/lib/get-media-token/index.ts
  projects/packages/videopress/src/client/lib/get-media-token/types.ts
  projects/packages/videopress/src/client/lib/token-bridge/index.ts
  projects/plugins/jetpack/changelog/add-videopress-content-gating
  projects/plugins/jetpack/changelog/add-videopress-content-gating#2
  projects/plugins/jetpack/changelog/add-videopress-content-gating#3
  projects/plugins/jetpack/changelog/add-videopress-content-gating#4
  projects/plugins/jetpack/changelog/add-videopress-content-gating#5
  projects/plugins/jetpack/changelog/add-videopress-content-gating#6
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
  projects/plugins/videopress/changelog/add-videopress-content-gating
  projects/plugins/videopress/changelog/add-videopress-content-gating#2
  projects/plugins/videopress/changelog/add-videopress-content-gating#3
  projects/plugins/videopress/changelog/add-videopress-content-gating#4
  projects/plugins/videopress/changelog/add-videopress-content-gating#5
  projects/plugins/videopress/composer.lock
Labels: [Feature] VideoPress, [Status] Needs Review, [Block] Paid Content, [Plugin] Jetpack, [Block] VideoPress, [Feature] Memberships, [Package] VideoPress, [Plugin] VideoPress

#33971 Plans: introduce `plans` prop to plans store
  projects/plugins/jetpack/changelog/update-introduce-plans-prop-to-the-store
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
Labels: [Type] Enhancement, Plans, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack

#33864 Repo Gardening: flag contact form changes in package as well
  projects/github-actions/repo-gardening/changelog/update-gardening-contact-form-label
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#33773 Remove use of subscribe as site subscriber
  projects/plugins/jetpack/changelog/add-remove-user-of-subscribe_as_site_subscriber
  projects/plugins/jetpack/extensions/store/membership-products/selectors.js
  projects/plugins/jetpack/extensions/store/membership-products/test/selectors-test.js
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Feature] Memberships, [Tests] Includes Tests

#33978 Backport 12.8 Changelog Changes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-social-store-refresh-issue
  projects/plugins/jetpack/changelog/fix-woo-analytics-warnings
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Plugin] Jetpack

#33974 wp-admin Site Default: Add back the Calypso stats menu item when admin interface is Classic
  projects/plugins/jetpack/changelog/fix-enable-calypso-stats-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#33982 wp-admin Site Default: Tweak profile menu items
  projects/plugins/jetpack/changelog/improve-wp-admin-profile-links
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Status] Ready to Merge, [Feature] Masterbar, [Plugin] Jetpack, wp-admin Site Default

#33970 Super Cache: Fix null parameter warning when enabling/disabling caching
  projects/plugins/super-cache/changelog/fix-null_parameter_supercachedir
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#33985 Jetpack: reduxify AI Assistant feature
  projects/plugins/jetpack/changelog/update-reduxify-ai-assistant-to-plans-store
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
Labels: [Type] Enhancement, Plans, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack

#33986 Jetpack Plans: address TS issues
  projects/plugins/jetpack/changelog/update-address-ai-assistant-feature-data-types
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
  projects/plugins/jetpack/extensions/types.ts
Labels: [Type] Enhancement, Plans, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#33880 Admin Page: fix the display of the markdown for comments settings
  projects/plugins/jetpack/_inc/client/discussion/comments.jsx
  projects/plugins/jetpack/changelog/update-markdown-settings-font-size
Labels: [Type] Bug, [Feature] Markdown, [Status] Needs Review, Admin Page, [Pri] Low, [Status] Needs Team Review, [Plugin] Jetpack

#33890 [RNMobile] Fix broken block registration
  projects/js-packages/shared-extension-utils/changelog/rnmobile-fix-broken-block-registration
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/get-block-icon-from-metadata.native.js
  projects/plugins/jetpack/changelog/rnmobile-fix-broken-block-registration
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.native.js
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Pri] High, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils

#33884 Refactor Instagram Gallery block registration
  projects/plugins/jetpack/changelog/refactor-instagram-gallery-registration
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/attributes.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/block.json
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/editor.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/editor.scss
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/index.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/instagram-gallery.php
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/save.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/test/validate.js
Labels: [Focus] Blocks, [Status] Needs Team Review, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Tests] Includes Tests

#33948 Subscriber page: add Launchpad tasks & task list
  projects/packages/jetpack-mu-wpcom/changelog/add-subscriber-launchpad-tasks
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/add-subscriber-launchpad-tasks
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#33979 Repo Gardening: also gather p2 comments as support references
  projects/github-actions/repo-gardening/changelog/update-gather-support-p2s-too
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Low, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#33991 Fix/misspelled var
  projects/plugins/jetpack/changelog/fix-misspelled-var
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Feature] Memberships

#33973 Subscribe Block: Always show email input if not subscribed
  projects/plugins/jetpack/changelog/update-subscribe-block-always-show-input
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-online-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships

#33994 Related Posts: define feature name so the block can be displayed
  projects/plugins/jetpack/changelog/fix-broken-related-posts-block
  projects/plugins/jetpack/extensions/blocks/related-posts/related-posts.php
Labels: [Type] Bug, [Feature] Related Posts, [Status] Needs Review, [Pri] BLOCKER, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Related Posts

#33993 AI Assistant: map the AI Assistant feature data
  projects/plugins/jetpack/changelog/update-plan-map-ai-assistant-feature-props
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/types.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: [Type] Enhancement, Plans, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant Plugin

#33996 AI Assistant: register isFetching state in the plans store
  projects/plugins/jetpack/changelog/update-store-wordpress-com-introduce-is-fetching-in-assistant
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#33405 Add lint configs for VS Code
  .vscode/settings.json
Labels: [Status] Needs Team Review

#33999 lazy-images: Hack to fix tests
  projects/packages/lazy-images/changelog/fix-hack-fix-lazy-images-tests
  projects/packages/lazy-images/src/lazy-images.php
  projects/packages/lazy-images/tests/php/bootstrap.php
  projects/packages/lazy-images/tests/php/test_class.lazy-images.php
Labels: [Status] Needs Review, [Pri] BLOCKER, [Package] Lazy Images, [Tests] Includes Tests

#34005 Prevent PHP Warning by checking for undefined font name
  projects/plugins/jetpack/changelog/fix-font-name-undefined
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
Labels: [Status] In Progress, [Plugin] Jetpack, [Feature] Google Fonts

#33913 Update Calypso URL for launchpad add subscribers task
  projects/packages/jetpack-mu-wpcom/changelog/update-calypso-url-for-launchpad-add-subscribers-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/update-calypso-url-for-launchpad-add-subscribers-task
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#33972 Fix accept header check and add new wpsc_accept_list filter for sites to modify that list
  projects/plugins/super-cache/changelog/fix-accept_list_check
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/wp-cache-phase2.php
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#33959 Jetpack Custom-CSS: Do not `@import` from the filesystem
  projects/plugins/jetpack/changelog/fix-custom-css-load-from-fs
  projects/plugins/jetpack/modules/custom-css/custom-css/preprocessors.php
Labels: [Type] Enhancement, [Feature] Custom CSS, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#34002 Fix/media endpoint length
  projects/plugins/jetpack/changelog/fix-media-endpoing-length
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/sal/class.json-api-post-base.php
Labels: [Type] Bug, [Feature] VideoPress, [Feature] WPCOM API, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#33990 AI Assistant: use new WPCOM helper methods
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/change-use-wpcom-helpers
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34009 Launchpad: Take id_map into consideration when checking wpcom_launchpad_is_task_option_completed
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad_is_task_complete_id_map
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#33941 Refactor payment-related blocks registration
  projects/plugins/jetpack/changelog/refactor-payment-blocks-registration
  projects/plugins/jetpack/extensions/blocks/payments-intro/block.json
  projects/plugins/jetpack/extensions/blocks/payments-intro/editor.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/editor.scss
  projects/plugins/jetpack/extensions/blocks/payments-intro/index.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/payments-intro.php
  projects/plugins/jetpack/extensions/blocks/payments-intro/variations.js
  projects/plugins/jetpack/extensions/blocks/paywall/block.json
  projects/plugins/jetpack/extensions/blocks/paywall/editor.js
  projects/plugins/jetpack/extensions/blocks/paywall/index.js
  projects/plugins/jetpack/extensions/blocks/paywall/paywall.php
  projects/plugins/jetpack/extensions/blocks/paywall/transforms.js
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/premium.js
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/remove-block-keep-content.js
  projects/plugins/jetpack/extensions/blocks/premium-content/block.json
  projects/plugins/jetpack/extensions/blocks/premium-content/editor.js
  projects/plugins/jetpack/extensions/blocks/premium-content/editor.scss
  projects/plugins/jetpack/extensions/blocks/premium-content/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/premium-content.php
  projects/plugins/jetpack/extensions/blocks/premium-content/view.scss
  projects/plugins/jetpack/extensions/blocks/recurring-payments/block.json
  projects/plugins/jetpack/extensions/blocks/recurring-payments/editor.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/index.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/test/validate.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/block.json
  projects/plugins/jetpack/extensions/blocks/simple-payments/editor.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/index.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/simple-payments.php
  projects/plugins/jetpack/extensions/blocks/simple-payments/test/validate.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/attributes.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/block.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/editor.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/index.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscription-placeholder.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/validate.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Status] Ready to Merge, [Focus] Blocks, [Block] Subscriptions, [Block] Paid Content, [Plugin] Jetpack, [Block] Pay With Paypal, [Block] Payments, [Block] Payments Intro, [Tests] Includes Tests, [Block] Paywall

#33980 get_author: wpcom: Add a new wpcom_pre_get_active_blog_for_user filter
  projects/plugins/jetpack/changelog/get_author-add-wpcom-filter
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: [Type] Enhancement, [Feature] WPCOM API, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#34018 Version bumps after #34007
  projects/packages/jetpack-mu-wpcom/changelog/fix-version-bumps
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/jetpack/changelog/fix-version-bumps
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/mu-wpcom-plugin/changelog/fix-version-bumps
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] High, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#34021 Version 1.11.0
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/fix-accept_list_check
  projects/plugins/super-cache/changelog/fix-null_parameter_supercachedir
  projects/plugins/super-cache/changelog/fix-super-cache_cancel_full_preload
  projects/plugins/super-cache/changelog/fix-super_cache_wp_cache_request_uri_defined
  projects/plugins/super-cache/changelog/fix-wp-capital-p
  projects/plugins/super-cache/changelog/init-release-cycle
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#2
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#3
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#4
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#5
  projects/plugins/super-cache/changelog/renovate-wp-coding-standards-wpcs-3.x
  projects/plugins/super-cache/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/plugins/super-cache/changelog/update-authors-list
  projects/plugins/super-cache/changelog/update-composer-2.6
  projects/plugins/super-cache/changelog/update-supercache-jetpack-styling
  projects/plugins/super-cache/changelog/update-tested-up-to-64
  projects/plugins/super-cache/changelog/update-wp-requirements-62
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] In Progress, Docs, [Plugin] Super Cache

#34011 Change tier hash
  projects/plugins/jetpack/changelog/add-tier-hash
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
Labels: [Status] Needs Review, [Plugin] Jetpack

#34019 AI Assistant: introduce action to increase requests counter
  projects/plugins/jetpack/changelog/update-ai-assistant-reduce-requests
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: Plans, [Status] Needs Team Review, [Size] M, [Editor] Store, [Plugin] Jetpack, [Block] AI Assistant

#34023 Subscribe Block: Fix regression in the editor
  projects/plugins/jetpack/changelog/fix-subscribe-block-editor
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#33995 Subscription Block: Enhance button text and styles.
  projects/plugins/jetpack/changelog/update-subscribe-block-submit-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34025 AI Client: ensure dispatching unclear error prompt once per request/response
  projects/js-packages/ai-client/changelog/update-ai-client-dispatch-unclear-prompt-once
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/suggestions-event-source/index.ts
Labels: [Status] Needs Team Review, [Size] S, RNA, [JS Package] AI Client

#34001 AI Assistant: connect useAiFeature() hook with the plans store
  projects/plugins/jetpack/changelog/update-ai-assistant-connect-with-components
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/Readme.md
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/index.tsx
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant Plugin

#33852 Add/blogging-prompts: Add bloganuary field
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/add-blogging-prompts-bloganuary-field
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Blogging Prompt

#34014 JS Components: Fix react warnings in Boost Score Graph
  projects/js-packages/components/changelog/fix-boost-score-graph-warnings
  projects/js-packages/components/components/boost-score-graph/background.tsx
  projects/js-packages/components/package.json
Labels: [Status] Needs Team Review, RNA, [JS Package] Components

#33932 Fixed subscribe block redirect issue on non-post pages
  projects/plugins/jetpack/changelog/fix-subscribe-form-redirect-to-post-bug
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#34037 Release jetpack-mu-wpcom 4.18.0
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad_is_task_complete_id_map
  projects/packages/jetpack-mu-wpcom/changelog/fix-version-bumps
  projects/packages/jetpack-mu-wpcom/changelog/update-docker-php-memory-limit
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/fix-version-bumps
  projects/plugins/mu-wpcom-plugin/changelog/update-docker-php-memory-limit
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#34026 Add two bots signature to device detection
  projects/packages/device-detection/changelog/update-add-bots-sig-to-ua-detection
  projects/packages/device-detection/composer.json
  projects/packages/device-detection/src/class-user-agent-info.php
  projects/plugins/backup/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/super-cache/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/composer.lock
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/wp-cache.php
  projects/plugins/videopress/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Device Detection, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration, Reviewer Can Merge

#34030 Update WooCommerce Analytics module to check for changed template names
  projects/plugins/jetpack/changelog/fix-template-name-change-warning
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-trait.php
Labels: [Type] Bug, [Status] Ready to Merge, [Feature] WooCommerce Analytics, [Plugin] Jetpack

#34032 Subscribe modal: fix lack of spacing in some themes
  projects/plugins/jetpack/changelog/fix-subscribe-modal-spacing
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.css
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#34003 Subscribe Block: Fix alignment
  projects/plugins/jetpack/changelog/update-subscribe-block-alignment
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#34038 AI Assistant: polish TS types for the AI Assistant Feature data
  projects/plugins/jetpack/changelog/update-ai-assistant-tier-data
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
  projects/plugins/jetpack/extensions/types.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#33917 Newsletter Categories: Update pre-publish/post-publish panels to display newsletter categories
  projects/plugins/jetpack/changelog/update-pre-publish-panel
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
  projects/plugins/jetpack/extensions/store/membership-products/actions.js
  projects/plugins/jetpack/extensions/store/membership-products/reducer.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
  projects/plugins/jetpack/extensions/store/membership-products/selectors.js
  projects/plugins/jetpack/extensions/store/membership-products/test/actions-test.js
  projects/plugins/jetpack/extensions/store/membership-products/test/reducer-test.js
  projects/plugins/jetpack/extensions/store/membership-products/test/selectors-test.js
Labels: [Type] Enhancement, [Feature] Subscriptions, [Status] Ready to Merge, [Pri] Normal, [Block] Subscriptions, [Plugin] Jetpack, [Tests] Includes Tests

#34039 Fix/subscribe modal showing to subscribers
  projects/plugins/jetpack/changelog/fix-subscribe-modal-showing-to-subscribers
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#34040 Paywall: fix lack of spacing in some themes
  projects/plugins/jetpack/changelog/fix-paywall-padding
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34029 AI Assistant: compute feature availability optimistically
  projects/plugins/jetpack/changelog/update-ai-assistant-counte-requests-optimistically
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] AI Assistant

#33963 Track/block type for memberships
  projects/plugins/jetpack/changelog/track-block-type-for-memberships
  projects/plugins/jetpack/extensions/blocks/recurring-payments/view.js
Labels: [Status] In Progress, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships, [Block] Payments, [Block] Donations

#34048 AI Excerpt: increases the AI requests counter optimistically
  projects/plugins/jetpack/changelog/update-ai-exceprt-extend-counter
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Extension] Ai Content Lens

#34049 Jetpack form: memoize the onDone and onError callbacks passed to the hook
  projects/plugins/jetpack/changelog/update-jetpack-from-ai-assistant-memoize-callbacks
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
Labels: [Focus] Performance, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34052 AI Assistant: increase the requests counter from the AI Assistant block
  projects/plugins/jetpack/changelog/update-ai-assistant-block-increse-requests-counter
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#34051 AI Client: do not dispatch `done` event when JETPACK_AI_ERROR
  projects/js-packages/ai-client/changelog/update-ai-client-prevent-unclear-error-message-on-done
  projects/js-packages/ai-client/src/suggestions-event-source/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [JS Package] AI Client

#34046 AI Assistant: Add tier data shape and types
  projects/plugins/jetpack/changelog/add-current-tier-data-shape
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
  projects/plugins/jetpack/extensions/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34056 Jetpack: Fix open ai libs require paths
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/fix-open-ai-libs-require-paths
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#34059 Memberships :: Fix fatals for `get_product_list()`
  projects/plugins/jetpack/changelog/gold-memberships-fix-fatals-get_product_list
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] In Progress, [Plugin] Jetpack, [Feature] Memberships

#33988 Update Users menu for consistency on Jetpack sites.
  projects/plugins/jetpack/changelog/update-subscribers-menu-for-jetpack
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Tests] Includes Tests

#34031 Boost: Fix e2e tests
  projects/plugins/boost/changelog/fix-boost-e2e
  projects/plugins/boost/tests/e2e/specs/critical-css/critical-css.test.js
  tools/e2e-commons/pages/wp-admin/themes.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#33989 Boost: Migrate Purchase Success component to react
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/PurchaseSuccess.svelte
  projects/plugins/boost/app/assets/src/js/react-components/pages/purchase-success/index.tsx
  projects/plugins/boost/app/assets/src/js/react-components/svg/jetpack-green.tsx
  projects/plugins/boost/changelog/update-boost-react-purchase-success
Labels: [Status] Needs Team Review, [Plugin] Boost

#34008 Update Users menu for consistency for Atomic sites.
  projects/plugins/jetpack/changelog/fix-atomic-users-menu-consistency
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, Simple/Atomic Parity, [Tests] Includes Tests

#34012 Update gravatar profile shortcode
  projects/plugins/jetpack/changelog/update-gravatar-profile-shortcode
  projects/plugins/jetpack/modules/shortcodes/gravatar.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.gravatar.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#33984 Connection: Add "source" as a query param to the Jetpack connect URL
  projects/packages/connection/changelog/add-souce-to-jetpack-connect-url
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/status/changelog/add-method-to-return-source-query
  projects/packages/status/composer.json
  projects/packages/status/src/class-host.php
  projects/packages/status/tests/php/test-host.php
  projects/plugins/backup/changelog/add-source-to-jetpack-connect-url
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-source-to-jetpack-connect-url
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/add-source-to-jetpack-connect-url
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/add-source-to-jetpack-connect-url
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-source-to-jetpack-connect-url
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-source-to-jetpack-connect-url
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-source-to-jetpack-connect-url
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-source-to-jetpack-connect-url
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-source-to-jetpack-connect-url
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-source-to-jetpack-connect-url
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Status, [Package] Connection, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests, [Plugin] Inspect

#34060 AI Assistant: perform async AI Assistant feature data from the store
  projects/plugins/jetpack/changelog/update-ai-assistant-feature-reduce-async-requests
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/index.tsx
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant Plugin

#27243 Jetpack: Add Jetpack Share Buttons block.
  projects/plugins/jetpack/changelog/add-jetpack-sharing-buttons-block
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/available-services.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/block.json
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-block-placeholder.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-block-skeleton-loader.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-button.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-buttons-container.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-buttons-container.scss
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/social-button.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/editor.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/save.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/sharing-buttons.php
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.scss
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Sharing Buttons

#33981 AI Assistant: Change image and text for interstitial based on tiers
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai.png
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/more-requests.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/style.module.scss
  projects/packages/my-jetpack/_inc/hooks/use-go-back/Readme.md
  projects/packages/my-jetpack/_inc/hooks/use-go-back/index.js
  projects/packages/my-jetpack/changelog/update-ai-assistant-interstitial
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: Docs, [Status] Needs Team Review, [Package] My Jetpack

#34057 AI Assistant: dispatch upgrade action when getting 429 from streaming
  projects/plugins/jetpack/changelog/update-ai-assistant-feture-propagate-require-upgrade-from-streming-429
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant Plugin

#34070 Subscribe Block: Ignore token on simple sites if logged out
  projects/plugins/jetpack/changelog/fix-subscribe-block-logged-out-on-simple
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-token-subscription-service.php
Labels: [Status] Needs Review, [Block] Paid Content, [Plugin] Jetpack

#33397 Add Jetpack Modules redux store to shared utils
  pnpm-lock.yaml
  projects/js-packages/shared-extension-utils/README.md
  projects/js-packages/shared-extension-utils/changelog/fix-ai-assistant-form-blocks-sync
  projects/js-packages/shared-extension-utils/index.js
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/modules-state/actions.js
  projects/js-packages/shared-extension-utils/src/modules-state/controls.js
  projects/js-packages/shared-extension-utils/src/modules-state/index.js
  projects/js-packages/shared-extension-utils/src/modules-state/reducer.js
  projects/js-packages/shared-extension-utils/src/modules-state/resolvers.js
  projects/js-packages/shared-extension-utils/src/modules-state/selectors.js
  projects/packages/forms/changelog/fix-ai-assistant-form-blocks-sync
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/blocks/contact-form/components/jetpack-contact-form-placeholder.js
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/search/changelog/fix-ai-assistant-form-blocks-sync
  projects/packages/search/jest.config.js
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/tests/jest-globals.gui.js
  projects/plugins/jetpack/changelog/fix-ai-assistant-form-blocks-sync
  projects/plugins/jetpack/changelog/fix-ai-assistant-form-blocks-sync#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/ui-handler/with-ui-handler-data-provider.tsx
  projects/plugins/jetpack/tests/jest.config.client.js
Labels: [Type] Enhancement, [Feature] Contact Form, Docs, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form, RNA, [Package] Search, [JS Package] Shared Extension Utils, [Package] Forms, [Tests] Includes Tests, [Block] AI Assistant

#34069 AI Assistant: simplify how to render the upgrade banner in the AI Assistant block
  projects/plugins/jetpack/changelog/update-ai-assistant-block-simply-require-upgrade
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#34074 Proofread: compute AI requests counter from here too
  projects/plugins/jetpack/changelog/update-increases-ai-requests-counter-from-proofread
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/proofread/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Extension] Ai Assistant Plugin

#34076 AI Assistant: Remove TOS notice from interstitial page
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/update-ai-assistant-intertitial-remove-tos
Labels: [Status] Needs Team Review, [Package] My Jetpack

#34082 AI Assistant: increases the requests count of the usage period of the plans store
  projects/plugins/jetpack/changelog/update-ai-assistant-increase-requests-count-of-usage-period
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#34080 AI Assistant: set initial state of AI Assistant feature data at store level
  projects/plugins/jetpack/changelog/update-ai-use-feature-move-initial-state-to-store
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/Readme.md
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34081 AI Assistant: show upgrade banner only when the AI Assistant block is selected
  projects/plugins/jetpack/changelog/update-ai-assistant-block-show-benner-only-when-selected
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#34073 RNMobile: Fix broken appearance of video blocks that were first created on the web
  projects/plugins/jetpack/changelog/rnmobile-set-default-src-for-converted-video-block
  projects/plugins/jetpack/extensions/blocks/videopress/editor.native.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] VideoPress

#33938 Make Subscribe block default texts editable
  projects/plugins/jetpack/changelog/fix-subscription-block-input-placeholder
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
Labels: [Focus] Blocks, [Block] Subscriptions, [Plugin] Jetpack

#34086 Subscribe block: return to correct page after subscribing even when not in a post
  projects/plugins/jetpack/changelog/update-subscriptions-post-id
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34085 Sharing block: add small polish
  projects/plugins/jetpack/changelog/update-polish-sharing-block
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/available-services.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/block.json
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/sharing-block-placeholder.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/components/social-button.jsx
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/save.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.scss
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] Sharing Buttons

#34053 Fix some wpcom rector complaints
  projects/packages/device-detection/changelog/fix-wpcom-rector-complaints
  projects/packages/device-detection/src/class-user-agent-info.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/fix-wpcom-rector-complaints
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack, [Package] Device Detection

#34075 Subscribe Block: Fix place button on new line
  projects/plugins/jetpack/changelog/fix-subscribe-block-new-line-styles
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#33883 CLI Tools: update scaffolding, use block.json to register blocks.
  projects/plugins/jetpack/changelog/update-cli-blocks-scaffold
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/wp-cli-templates/block-attributes-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-block-json.mustache
  projects/plugins/jetpack/wp-cli-templates/block-edit-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-editor-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-icon-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-index-js.mustache
  projects/plugins/jetpack/wp-cli-templates/block-register-php.mustache
Labels: [Type] Janitorial, [Pri] Normal, [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack

#34016 e2e tests: remove e2e tests for blocks.
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/jetpack/changelog/rm-e2e-tests-blocks
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
  projects/plugins/jetpack/tests/e2e/specs/blocks/pro-blocks.test.js
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Focus] Blocks, Customer Report, Actions, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#34095 My Jetpack: Deal with wp_error responses from the Jetpack AI ai-assistant-feature data request
  projects/packages/my-jetpack/changelog/update-jetpack-ai-fix-error-on-getting-next-tier-while-disconnected
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#34104 Social Store | Add connections unit tests
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/add-social-store-connections-unit-tests
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/social-store/actions/test/connection-data.js
  projects/js-packages/publicize-components/src/social-store/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.js
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#33987 Boost: Update header component
  pnpm-lock.yaml
  projects/plugins/boost/.eslintignore
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/app/assets/src/js/react-components/components/back-button/index.tsx
  projects/plugins/boost/app/assets/src/js/react-components/sections/header/index.tsx
  projects/plugins/boost/app/assets/src/js/react-components/sections/header/stories/index.stories.tsx
  projects/plugins/boost/app/assets/src/js/react-components/sections/header/styles.module.scss
  projects/plugins/boost/app/assets/src/js/react-components/svg/chevron-right.tsx
  projects/plugins/boost/app/assets/src/js/react-components/svg/left-arrow.svg
  projects/plugins/boost/app/assets/src/js/react-components/svg/left-arrow.tsx
  projects/plugins/boost/app/assets/src/js/react-components/svg/logo.tsx
  projects/plugins/boost/changelog/update-boost-react-header
  projects/plugins/boost/package.json
  projects/plugins/boost/tsconfig.json
Labels: [Status] In Progress, [Plugin] Boost

#34094 AI Excerpt: dequeue AI feature async request when asking a new suggestion
  projects/plugins/jetpack/changelog/update-ensure-dequeue-ai-feature-async-request
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] Ai Assistant, [Extension] Ai Content Lens

#34096 Jetpack Form: handle AI requests counter when asking AI suggestions
  projects/plugins/jetpack/changelog/update-jetpack-from-ai-feature-data-handling
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#34064 Fix post editor dirty state caused by publicize store
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/add-social-store-connections-unit-tests
  projects/js-packages/publicize-components/changelog/fix-editor-dirty-state-by-publicize
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/connection-verify/index.js
  projects/js-packages/publicize-components/src/components/connection/index.js
  projects/js-packages/publicize-components/src/components/connection/test/index.test.js
  projects/js-packages/publicize-components/src/components/social-previews/facebook.js
  projects/js-packages/publicize-components/src/components/social-previews/instagram.js
  projects/js-packages/publicize-components/src/components/social-previews/linkedin.js
  projects/js-packages/publicize-components/src/components/social-previews/mastodon.js
  projects/js-packages/publicize-components/src/components/social-previews/nextdoor.js
  projects/js-packages/publicize-components/src/components/social-previews/tumblr.js
  projects/js-packages/publicize-components/src/components/social-previews/twitter.js
  projects/js-packages/publicize-components/src/hooks/use-social-media-connections/index.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
  projects/js-packages/publicize-components/src/social-store/actions/index.js
  projects/js-packages/publicize-components/src/social-store/actions/test/connection-data.js
  projects/js-packages/publicize-components/src/social-store/index.js
  projects/js-packages/publicize-components/src/social-store/reducer/connection-data.js
  projects/js-packages/publicize-components/src/social-store/resolvers.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.js
  projects/js-packages/publicize-components/src/store/actions.js
  projects/js-packages/publicize-components/src/store/effects.js
  projects/js-packages/publicize-components/src/store/reducer.js
  projects/js-packages/publicize-components/src/store/selectors.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#34105 General: do not ship development config files in production build
  projects/packages/admin-ui/.gitattributes
  projects/packages/admin-ui/changelog/update-ignore-dev-files-production
  projects/packages/admin-ui/package.json
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/packages/backup/.gitattributes
  projects/packages/backup/changelog/update-ignore-dev-files-production
  projects/packages/compat/.gitattributes
  projects/packages/compat/changelog/update-ignore-dev-files-production
  projects/packages/my-jetpack/.gitattributes
  projects/packages/my-jetpack/changelog/update-ignore-dev-files-production
  projects/packages/plugins-installer/.gitattributes
  projects/packages/plugins-installer/changelog/update-ignore-dev-files-production
  projects/packages/waf/.gitattributes
  projects/packages/waf/changelog/update-ignore-dev-files-production
Labels: General, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Package] Compat, [Package] Backup, [Package] Admin Ui, [Package] My Jetpack, [Package] WAF, [Package] Plugins Installer

#34106 Jetpack: add license information to the readme
  projects/plugins/jetpack/changelog/update-jetpack-readme-license
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#34128 Blocks: update support from __experimentalLayout to layout
  projects/plugins/jetpack/changelog/update-block-layout-support
  projects/plugins/jetpack/extensions/blocks/payment-buttons/block.json
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/payment-buttons.php
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.native.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Block] Tiled Gallery, [Status] Needs Team Review, [Block] Paid Content, [Plugin] Jetpack, [Block] Payment Buttons

#34109 AI Assistant: ensure the client performs AI data feature request at least once
  projects/plugins/jetpack/changelog/y
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/store/wordpress-com/index.ts
  projects/plugins/jetpack/extensions/types.ts
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack

#34110 Performance: only load concatenated CSS when needed by at least 2 modules
  projects/plugins/jetpack/changelog/update-concatenated-css-more-flexible
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Enhancement, General, [Focus] Performance, [Status] Needs Review, [Status] Proposal, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack

#34130 Paywall Block: Better access question
  projects/plugins/jetpack/changelog/update-paywall-access-question
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34127 General: update WP version requirements to WordPress 6.3.
  .github/files/setup-wordpress-env.sh
  .phpcs.config.xml
  projects/plugins/backup/changelog/update-wp-requirements-63
  projects/plugins/backup/readme.txt
  projects/plugins/inspect/changelog/update-wp-requirements-63
  projects/plugins/inspect/readme.txt
  projects/plugins/jetpack/changelog/update-wp-requirements-63
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
  projects/plugins/migration/changelog/update-wp-requirements-63
  projects/plugins/migration/readme.txt
  projects/plugins/protect/changelog/update-wp-requirements-63
  projects/plugins/protect/readme.txt
  projects/plugins/search/changelog/update-wp-requirements-63
  projects/plugins/search/readme.txt
  projects/plugins/social/changelog/update-wp-requirements-63
  projects/plugins/social/readme.txt
  projects/plugins/starter-plugin/changelog/update-wp-requirements-63
  projects/plugins/starter-plugin/readme.txt
  projects/plugins/super-cache/changelog/update-wp-requirements-63
  projects/plugins/super-cache/readme.txt
  projects/plugins/videopress/changelog/update-wp-requirements-63
  projects/plugins/videopress/readme.txt
  tools/cli/commands/generate.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration, [Plugin] Inspect

#34132 AI Assistant: do not request AI Assistant feature data from the backend
  projects/plugins/jetpack/changelog/update-ai-assistant-do-not-perform-ai-assistant-request-from-backend
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] Ai Assistant, [Extension] Ai Content Lens

#34146 ci: Remove PHP 5.6 Tests run
  .github/files/generate-ci-matrix.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] High, Actions

#34083 AI Assistant: compute if the site requires an upgrade depending on on the current tier too
  projects/plugins/jetpack/changelog/update-ai-assistant-compute-require-plan-based-on-current-tier
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/reducer.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/test/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#34118 AI Client: expose build folder
  pnpm-lock.yaml
  projects/js-packages/ai-client/.gitattributes
  projects/js-packages/ai-client/.gitignore
  projects/js-packages/ai-client/changelog/update-ai-client-expose-compiles-files
  projects/js-packages/ai-client/composer.json
  projects/js-packages/ai-client/index.ts
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/components/ai-control/index.tsx
  projects/js-packages/ai-client/src/components/ai-control/stories/index.stories.tsx
  projects/js-packages/ai-client/src/data-flow/context.tsx
  projects/js-packages/ai-client/src/data-flow/with-ai-assistant-data.tsx
  projects/js-packages/ai-client/src/global.d.ts
  projects/js-packages/ai-client/src/hooks/use-media-recording/stories/index.stories.tsx
  projects/js-packages/ai-client/src/icons/stories/index.stories.tsx
  projects/js-packages/ai-client/src/index.ts
  projects/js-packages/ai-client/src/types.ts
  projects/js-packages/ai-client/tsconfig.json
Labels: [Status] Needs Team Review, [Size] S, RNA, [JS Package] AI Client

#34152 CRM: Port back 6.3.0 release changelog, readme, and package updates
  projects/plugins/crm/CHANGELOG.md
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/add-crm-3367-api-create-transaction-with-custom-fields
  projects/plugins/crm/changelog/fix-crm-3319-address-columns-bug-when-odd-fields-above
  projects/plugins/crm/changelog/fix-crm-3362-code_modernisation
  projects/plugins/crm/changelog/fix-crm-3365-catch_fatal_if_openssl_unavailable
  projects/plugins/crm/changelog/fix-crm-3369-assign_customer_to_existing_company
  projects/plugins/crm/changelog/fix-crm-3370-remove_unused_woo_welcome_wizard
  projects/plugins/crm/changelog/fix-crm-3371-remove_buggy_unused_code
  projects/plugins/crm/changelog/fix-crm-3373-deprecation_notices_in_Client_Portal
  projects/plugins/crm/changelog/fix-crm-3374-allow_events_API_filter_by_owner
  projects/plugins/crm/changelog/fix-crm-3375-evaluate_zeroBS_getOwner
  projects/plugins/crm/changelog/fix-crm-3377-php_fatal_on_invoice_from_woo
  projects/plugins/crm/changelog/fix-crm-3379-bump_minimum_wp_to_6.0
  projects/plugins/crm/changelog/fix-crm-3380-bump_min_php_to_7.4
  projects/plugins/crm/changelog/fix-crm-3381-replace_deprecated_constants
  projects/plugins/crm/changelog/fix-crm-3382-php_notice_when_contact_has_assignee
  projects/plugins/crm/changelog/fix-crm-deprecated-inline-styles
  projects/plugins/crm/changelog/fix-crm-quote-template-notes-escaping
  projects/plugins/crm/changelog/fix-crm-quote-template-title-escaping
  projects/plugins/crm/changelog/fix-lock-file
  projects/plugins/crm/changelog/init-release-cycle
  projects/plugins/crm/changelog/patch-1
  projects/plugins/crm/changelog/remove-crm-utf8_encode-usage
  projects/plugins/crm/changelog/renovate-babel-monorepo
  projects/plugins/crm/changelog/renovate-babel-monorepo#2
  projects/plugins/crm/changelog/renovate-definitelytyped
  projects/plugins/crm/changelog/renovate-lock-file-maintenance
  projects/plugins/crm/changelog/renovate-lock-file-maintenance#2
  projects/plugins/crm/changelog/renovate-lock-file-maintenance#4
  projects/plugins/crm/changelog/renovate-lock-file-maintenance#5
  projects/plugins/crm/changelog/renovate-major-codeception-packages
  projects/plugins/crm/changelog/renovate-major-eslint-packages
  projects/plugins/crm/changelog/renovate-npm-axios-vulnerability
  projects/plugins/crm/changelog/renovate-wordpress-monorepo
  projects/plugins/crm/changelog/renovate-wordpress-monorepo#2
  projects/plugins/crm/changelog/update-composer-2.6
  projects/plugins/crm/changelog/update-crm-codeception-deps
  projects/plugins/crm/changelog/update-node-20
  projects/plugins/crm/changelog/update-standardize-on-devtool-source-map
  projects/plugins/crm/changelog/update-tested-up-to-64
  projects/plugins/crm/composer.json
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/package.json
  projects/plugins/crm/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] CRM

#34155 CRM: start 6.3.1-alpha release cycle
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/init-release-cycle
  projects/plugins/crm/composer.json
  projects/plugins/crm/package.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#34090 IDC: add url argument for multisite tracking
  projects/packages/identity-crisis/changelog/add-idc-multisite-tracking
  projects/packages/identity-crisis/src/class-identity-crisis.php
Labels: [Status] Needs Review, [Pri] Low, [Package] Identity Crisis

#34111 Get rid of `jetpack/publicize` store
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-remove-jetpack-publicize-store
  projects/js-packages/publicize-components/index.ts
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/connection/index.js
  projects/js-packages/publicize-components/src/components/connection/test/index.test.js
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/share-buttons/useShareButtonText.ts
  projects/js-packages/publicize-components/src/components/social-previews/mastodon.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/publicize-components/src/components/social-previews/twitter.js
  projects/js-packages/publicize-components/src/components/social-previews/useAvailableServices.js
  projects/js-packages/publicize-components/src/hooks/use-attached-media/index.js
  projects/js-packages/publicize-components/src/hooks/use-image-generator-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-social-media-message/index.js
  projects/js-packages/publicize-components/src/store/actions.js
  projects/js-packages/publicize-components/src/store/controls.js
  projects/js-packages/publicize-components/src/store/effects.js
  projects/js-packages/publicize-components/src/store/index.js
  projects/js-packages/publicize-components/src/store/middlewares.js
  projects/js-packages/publicize-components/src/store/reducer.js
  projects/js-packages/publicize-components/src/store/selectors.js
  projects/js-packages/publicize-components/src/utils/get-attached-media.js
  projects/js-packages/publicize-components/src/utils/get-image-generator-post-settings.js
  projects/js-packages/publicize-components/src/utils/get-jetpack-social-options.js
  projects/js-packages/publicize-components/src/utils/get-jetpack-social-post-already-shared.js
  projects/js-packages/publicize-components/src/utils/get-share-message-max-length.js
  projects/js-packages/publicize-components/src/utils/get-share-message.js
  projects/js-packages/publicize-components/src/utils/get-supported-additional-connections.js
  projects/js-packages/publicize-components/src/utils/index.js
  projects/js-packages/publicize-components/src/utils/is-publicize-enabled.js
  projects/js-packages/publicize-components/src/utils/should-upload-attached-media.js
  projects/js-packages/publicize-components/src/utils/test-utils.js
  projects/js-packages/publicize-components/src/utils/test/get-attached-media.js
  projects/js-packages/publicize-components/src/utils/test/get-image-generator-post-settings.js
  projects/js-packages/publicize-components/src/utils/test/get-jetpack-social-options.js
  projects/js-packages/publicize-components/src/utils/test/get-jetpack-social-post-already-shared.js
  projects/js-packages/publicize-components/src/utils/test/get-share-message.js
  projects/js-packages/publicize-components/src/utils/test/is-publicize-enabled.js
  projects/js-packages/publicize-components/src/utils/test/should-upload-attached-media.js
  projects/js-packages/publicize-components/src/utils/test/toggle-publicize-feature.js
  projects/js-packages/publicize-components/src/utils/toggle-publicize-feature.js
  projects/js-packages/publicize-components/src/utils/types.ts
  projects/packages/publicize/changelog/update-remove-jetpack-publicize-store
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/update-remove-jetpack-publicize-store
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/social/changelog/update-remove-jetpack-publicize-store
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/instagram-notice/index.jsx
  projects/plugins/social/src/js/components/publicize-panel/index.jsx
Labels: [Status] Needs Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#33832 Connection: add partner codes to connection URLs & deprecate Partner package
  projects/packages/connection/changelog/fix-connection-partner-standalone-sites
  projects/packages/connection/docs/partner-tools.md
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-partner-coupon.php
  projects/packages/connection/src/class-partner.php
  projects/packages/connection/src/webhooks/class-authorize-redirect.php
  projects/packages/connection/tests/php/test-partner-coupon.php
  projects/packages/connection/tests/php/test-partner.php
  projects/packages/jitm/changelog/fix-connection-partner-standalone-sites
  projects/packages/jitm/composer.json
  projects/packages/jitm/src/class-jitm.php
  projects/packages/partner/README.md
  projects/packages/partner/changelog/fix-connection-partner-standalone-sites
  projects/packages/partner/composer.json
  projects/packages/partner/src/class-partner-coupon.php
  projects/packages/partner/src/class-partner.php
  projects/plugins/backup/changelog/fix-connection-partner-standalone-sites
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-connection-partner-standalone-sites
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-connection-partner-standalone-sites
  projects/plugins/jetpack/changelog/fix-connection-partner-standalone-sites#2
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-connection-partner-standalone-sites
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/fix-connection-partner-standalone-sites
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-connection-partner-standalone-sites
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-connection-partner-standalone-sites
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-connection-partner-standalone-sites
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-connection-partner-standalone-sites
  projects/plugins/videopress/composer.lock
Labels: [Type] Bug, Docs, [Status] Ready to Merge, [Pri] High, [Package] Partner, [Package] Connection, [Plugin] Jetpack, [Package] Jitm, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#34148 Subscribe Block: Link Subscribed button to subscriptions management
  projects/plugins/jetpack/changelog/update-subscribe-block-subscribed-behavior
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34143 Add missing BLOCK_NAME constant to SimplePayments block
  projects/plugins/jetpack/changelog/fix-simple-payments-missing-block-name
  projects/plugins/jetpack/extensions/blocks/simple-payments/simple-payments.php
Labels: [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Pay With Paypal

#34122 Jetpack AI: Move usage panel to production
  projects/plugins/jetpack/changelog/update-jetpack-ai-move-usage-panel-to-production
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#34160 Launchpad: Add `new_prompt` query param to Write first post task
  projects/packages/jetpack-mu-wpcom/changelog/add-query-param-to-task
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/add-query-param-to-task
  projects/plugins/mu-wpcom-plugin/composer.lock
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#34042 Boost: Migrate benefits interstitial component to react
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/upgrade/Upgrade.svelte
  projects/plugins/boost/app/assets/src/js/pages/upgrade/upgrade.module.scss
  projects/plugins/boost/app/assets/src/js/pages/upgrade/upgrade.tsx
  projects/plugins/boost/app/assets/src/js/svg/jetpack-green.tsx
  projects/plugins/boost/changelog/update-boost-react-benefits-interstitial
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost
