Repository Automattic/jetpack, pull requests merged in 2023-05, with the labels that each got.

#30358 Jetpack Social: Always render Social Image Generator panel when it is available
  projects/js-packages/publicize-components/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/packages/publicize/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/packages/publicize/package.json
  projects/packages/publicize/src/social-image-generator/class-setup.php
  projects/plugins/jetpack/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
  projects/plugins/social/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/editor.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Extension] Publicize, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#30363 Extensions: Add new blogroll scaffolding
  projects/plugins/jetpack/changelog/add-new_blogroll
  projects/plugins/jetpack/extensions/blocks/author-recommendation/attributes.js
  projects/plugins/jetpack/extensions/blocks/author-recommendation/author-recommendation.php
  projects/plugins/jetpack/extensions/blocks/author-recommendation/edit.js
  projects/plugins/jetpack/extensions/blocks/author-recommendation/editor.js
  projects/plugins/jetpack/extensions/blocks/author-recommendation/editor.scss
  projects/plugins/jetpack/extensions/blocks/author-recommendation/icon.js
  projects/plugins/jetpack/extensions/blocks/author-recommendation/index.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] Author Recommendation

#30380 VideoPress: set Preview On Hover player initial state only when it's enabled
  projects/packages/videopress/changelog/update-videopress-set-pho-state-only-when-enabled
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/index.ts
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#30372 Whitelist `_jetpack_newsletter_access` post meta
  projects/plugins/jetpack/changelog/add-whitelist-jetpack-newsletter-access-api
  projects/plugins/jetpack/sal/class.json-api-metadata.php
Labels: [Status] Ready to Merge, [Block] Subscriptions, Earn, [Plugin] Jetpack

#30282 Visual Refresh: Update modules list view
  projects/plugins/jetpack/_inc/client/components/masthead/style.scss
  projects/plugins/jetpack/_inc/client/scss/calypso-colors.scss
  projects/plugins/jetpack/_inc/jetpack-admin.js
  projects/plugins/jetpack/_inc/jetpack-modules.js
  projects/plugins/jetpack/_inc/jetpack-modules.models.js
  projects/plugins/jetpack/_inc/jetpack-modules.views.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-settings-page.php
  projects/plugins/jetpack/changelog/update-modules-list-views
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack-modules-list-table.php
  projects/plugins/jetpack/images/icon-search.svg
  projects/plugins/jetpack/scss/templates/_settings.scss
Labels: [Type] Enhancement, [Status] Ready to Merge, [Status] Design Review Complete, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#30392 Added changelog for 12.1-beta2 and removed changelog entries from Jetpack.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-jetpack-rna-footer
  projects/plugins/jetpack/changelog/add-jetpack-starter-cards
  projects/plugins/jetpack/changelog/fix-aag-card-styles
  projects/plugins/jetpack/changelog/fix-bar-link-for-atomic-sites
  projects/plugins/jetpack/changelog/fix-higher-contrast-for-dashboard-stats-popover
  projects/plugins/jetpack/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/plugins/jetpack/changelog/follow-up-30322
  projects/plugins/jetpack/changelog/hide-akismet-learn-more-link-atomic
  projects/plugins/jetpack/changelog/refresh-expired-subscription
  projects/plugins/jetpack/changelog/refresh-fix-about-plans-2
  projects/plugins/jetpack/changelog/refresh-review-fix-1
  projects/plugins/jetpack/changelog/remove-dashboard-click-to-view-jetpack-stats-text
  projects/plugins/jetpack/changelog/update-full-connect-banner-support-non-dismissible
  projects/plugins/jetpack/changelog/update-jetpack-debugger-minor-issues
  projects/plugins/jetpack/changelog/update-visual-refresh-at-a-glance-fixes
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#29930 My Jetpack: Use Product Detail Table for Jetpack Protect
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/changelog/add-protect-pricing-table
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-protect.php
Labels: FixTheFlows, [Status] Needs Team Review, [Package] My Jetpack

#30383 VideoPress: fix playing state of poster mini-player
  projects/packages/videopress/changelog/update-videopress-fix-mini-player-playing-status
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/hooks/use-video-player/index.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30384 VideoPress: move video frame poster to production
  projects/packages/videopress/changelog/update-videopress-move-video-frame-poster-to-prod
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#30306 CRM: Cleaning up WP Editor helper functions and wp_editor usage
  projects/plugins/crm/admin/email/ajax.php
  projects/plugins/crm/admin/email/main.page.php
  projects/plugins/crm/changelog/fix-crm-wpeditor-db-storage
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.php
  projects/plugins/crm/includes/ZeroBSCRM.DataIOValidation.php
  projects/plugins/crm/includes/ZeroBSCRM.Mail.php
  projects/plugins/crm/includes/ZeroBSCRM.MailTracking.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.QuoteTemplates.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Quotes.php
  projects/plugins/crm/modules/portal/endpoints/class-single-quote-endpoint.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [CRM] Portal Module

#30353 Fix issues with loading placeholders on the forms dashboard
  projects/packages/forms/changelog/fix-forms-dashboard-loading-placeholders
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/state/reducer.js
Labels: [Status] Ready to Merge, [Package] Forms

#30354 Fix responses endpoint returning the wrong totals when 'offset' is set
  projects/packages/forms/changelog/fix-forms-dashboard-tab-totals
  projects/packages/forms/src/class-wpcom-rest-api-v2-endpoint-forms.php
Labels: [Status] Needs Team Review, [Package] Forms

#30312 Jetpack Boost: Phase 3 of the Image guide dashboard
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/ApiMock.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Pagination.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/stores/data-sync-client.ts
  projects/plugins/boost/app/assets/src/js/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/svg/chevron-left.svg
  projects/plugins/boost/app/assets/src/js/svg/chevron-right.svg
  projects/plugins/boost/app/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/app/data-sync/init-image-size-analysis.php
  projects/plugins/boost/changelog/boost-update-igp-phase-3
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Boost

#30399 Jetpack Components: Minor IconTooltip Additions
  projects/js-packages/components/changelog/icon-tooltip-additions
  projects/js-packages/components/components/icon-tooltip/index.tsx
  projects/js-packages/components/components/icon-tooltip/stories/index.stories.tsx
  projects/js-packages/components/components/icon-tooltip/style.scss
  projects/js-packages/components/components/icon-tooltip/types.ts
Labels: [Status] Ready to Merge, RNA, [JS Package] Components

#30403 Jetpack Visual Refresh: "Activate Stats" banner styling
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/changelog/fix-enable-stats-banner
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#30405 Update changelogs and readme files for 12.1 release plugins.
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/update-12.1-janitorial
  projects/plugins/backup/readme.txt
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-12.1-janitorial
  projects/plugins/jetpack/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/fix-jetpack-social-render-sig-panel-even-when-disabled-by-default
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Social

#30317 Fix array diff key warnings
  projects/packages/forms/changelog/fix-array-diff-key-warnings
  projects/packages/forms/src/class-wpcom-rest-api-v2-endpoint-forms.php
  projects/packages/forms/src/contact-form/class-admin.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/util.js
Labels: [Type] Bug, [Type] Janitorial, [Status] Needs Team Review, [Package] Forms

#30367 Add URL navigation for the Jetpack Forms dashboard
  pnpm-lock.yaml
  projects/packages/forms/changelog/add-forms-url-navigation
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/export-modal/index.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/use-feedback-query.js
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/src/dashboard/state/action-types.js
  projects/packages/forms/src/dashboard/state/actions.js
  projects/packages/forms/src/dashboard/state/reducer.js
  projects/packages/forms/src/dashboard/state/selectors.js
Labels: [Status] Needs Team Review, [Package] Forms

#28906 Forms: Update patterns modal default view mode
  projects/packages/forms/changelog/update-form-pattern-modal-view
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/plugins/jetpack/changelog/update-form-pattern-modal-view
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/tests/e2e/specs/post-connection/recommendations.test.js
Labels: [Status] Blocked / Hold, [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests

#30189 Forms: Fix response details date value
  projects/packages/forms/changelog/fix-forms-response-datetime
  projects/packages/forms/src/dashboard/components/table/item.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/state/selectors.js
  projects/plugins/jetpack/changelog/fix-forms-response-datetime
  projects/plugins/jetpack/changelog/fix-forms-response-datetime#2
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#30319 Forms: Multiple Choice and Single Choice fields style variations
  projects/packages/forms/changelog/update-forms-ms-sc-style-variations
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-option.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/update-forms-ms-sc-style-variations
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#30406 My Jetpack: Fix title responsiveness
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-title-responsiveness
Labels: [Status] Ready to Merge, [Size] S, [Package] My Jetpack

#30414 Janitorial: init new "My Jetpack" version.
  projects/packages/my-jetpack/changelog/fix-my-jetpack-versioning
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] My Jetpack

#30255 Blogging prompts API: add param to force prompt dates to a specific year
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/add-blogging-prompts-api-force-year
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#30356 Don't re-send emails when marking responses as not-spam
  projects/packages/forms/changelog/update-no-email-when-restoring-responses
  projects/packages/forms/src/class-wpcom-rest-api-v2-endpoint-forms.php
Labels: [Status] Needs Team Review, [Package] Forms

#30364 My Jetpack: Reload page after successful license activation
  projects/packages/my-jetpack/_inc/components/add-license-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/go-back-link/index.js
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-add-license-reload
Labels: [Status] Ready to Merge, [Pri] Normal, [Package] My Jetpack

#30290 CRM: Resolves 2873 - update to moment.js library
  projects/plugins/crm/changelog/fix-crm-2873-update_moment.js
  projects/plugins/crm/includes/ZeroBSCRM.ScriptsStyles.php
  projects/plugins/crm/js/lib/moment-with-locales.min.js
  projects/plugins/crm/modules/portal/class-client-portal.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-my-account-integration.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [CRM] Woo Sync Module, [CRM] Portal Module

#30309 Backup readme txt changes
  projects/plugins/backup/changelog/backup-readme-txt-changes
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/readme.txt
Labels: [Status] Needs Author Reply, [Type] Janitorial, [Pri] Normal, [Plugin] Backup

#30409 Fix inbox dropdown menu overflow
  projects/packages/forms/changelog/fix-inbox-dropdown-menu-overflow
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#30426 e2e tests: increase time waiting for Openverse response
  tools/e2e-commons/pages/wp-admin/blocks/tilled-gallery.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions, E2E Tests

#30398 Remove the upgrade nudge for the Premium Block
  projects/packages/plans/changelog/add-remove-upgrade-nudge-for-premium-block
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
  projects/plugins/jetpack/changelog/add-remove-upgrade-nudge-for-premium-block
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/extensions/blocks/premium-content/premium-content.php
  tools/e2e-commons/helpers/plan-helper.js
Labels: [Status] Ready to Merge, E2E Tests, [Block] Premium Content, [Plugin] Jetpack, [Package] Plans

#30172 Add newsletter access column to post edit page
  projects/plugins/jetpack/changelog/add-add-newsletter-access-column-to-post-page
  projects/plugins/jetpack/extensions/blocks/subscriptions/constants.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#30430 My Jetpack: Add check for product status before requesting stats
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card.jsx
  projects/packages/my-jetpack/_inc/hooks/use-product/index.js
  projects/packages/my-jetpack/_inc/state/resolvers.js
  projects/packages/my-jetpack/_inc/state/stats-resolvers/index.js
  projects/packages/my-jetpack/_inc/state/stats-resolvers/videopress.js
  projects/packages/my-jetpack/changelog/fix-my-jetpack-videopress-request-not-active
Labels: [Type] Enhancement, [Pri] Normal, [Status] Needs Team Review, [Package] My Jetpack

#30427 VideoPress: Add a wpcom/v2/videopress `check-ownership` endpoint
  projects/packages/videopress/changelog/update-videopress-add-endpoint-to-check-if-video-belong-to-site
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/class-wpcom-rest-api-v2-endpoint-videopress.php
Labels: [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#30397 Launchpad Checklist API Refactor/Fixes: Task completion status and performance optimizations
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-completion-logic
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-checklist.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/add-launchpad-completion-logic
  projects/plugins/mu-wpcom-plugin/changelog/add-launchpad-completion-logic#2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] In Progress, Docs, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#30442 Actions: fix workflow script file permission
  .github/files/update-jetpack-staging-sites.sh
Labels: [Status] Ready to Merge, Actions

#30050 Jetpack: Use image-cdn package
  pnpm-lock.yaml
  projects/packages/image-cdn/.gitattributes
  projects/packages/image-cdn/.gitignore
  projects/packages/image-cdn/changelog/update-photon-compatibility
  projects/packages/image-cdn/composer.json
  projects/packages/image-cdn/package.json
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/image-cdn/src/compatibility/photon.php
  projects/packages/image-cdn/src/js/image-cdn.js
  projects/packages/image-cdn/webpack.config.js
  projects/plugins/boost/changelog/update-composer-lock
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/3rd-party/bbpress.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/class.jetpack-photon-image-sizes.php
  projects/plugins/jetpack/_inc/lib/class.jetpack-photon-image.php
  projects/plugins/jetpack/_inc/lib/class.media-summary.php
  projects/plugins/jetpack/changelog/update-use-image-cdn-package
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/class.photon.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/functions.photon.php
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-themes-endpoint.php
  projects/plugins/jetpack/modules/comments/base.php
  projects/plugins/jetpack/modules/photon.php
  projects/plugins/jetpack/modules/photon/photon.js
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-item.php
  projects/plugins/jetpack/modules/widgets/flickr.php
  projects/plugins/jetpack/modules/widgets/gallery.php
  projects/plugins/jetpack/modules/widgets/image-widget.php
  projects/plugins/jetpack/modules/widgets/internet-defense-league.php
  projects/plugins/jetpack/modules/widgets/top-posts.php
  projects/plugins/jetpack/modules/widgets/wordpress-post-widget/class.jetpack-display-posts-widget-base.php
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php.multisite.xml
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.archives.php
  projects/plugins/jetpack/tests/php/test_class.jetpack_photon.php
  projects/plugins/jetpack/tests/php/test_functions.photon.php
  projects/plugins/jetpack/tools/webpack.config.js
Labels: Comments, Tiled Gallery, Extra Sidebar Widgets, Photon, WPCOM API, [Status] Ready to Merge, [Status] Needs Testing, [Plugin] Jetpack, [Focus] Compatibility, [Plugin] Boost, [Package] Image CDN, [Tests] Includes Tests

#30005 Boost: Update Minify UI
  projects/plugins/boost/app/assets/src/css/components/button.scss
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/MinifyMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/stores/minify.ts
  projects/plugins/boost/app/assets/src/js/svg/pencil.svg
  projects/plugins/boost/app/data-sync/Minify_Excludes_State_Entry.php
  projects/plugins/boost/app/lib/minify/Concatenate_CSS.php
  projects/plugins/boost/app/lib/minify/Concatenate_JS.php
  projects/plugins/boost/app/lib/minify/Config.php
  projects/plugins/boost/app/lib/minify/Dependency_Path_Mapping.php
  projects/plugins/boost/app/lib/minify/functions-helpers.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/app/modules/Modules_Index.php
  projects/plugins/boost/app/modules/optimizations/minify/Minify.php
  projects/plugins/boost/app/modules/optimizations/minify/class-minify-css.php
  projects/plugins/boost/app/modules/optimizations/minify/class-minify-js.php
  projects/plugins/boost/changelog/update-boost-minify-ui
  projects/plugins/boost/changelog/update-boost-minify-ui#2
  projects/plugins/boost/compatibility/page-optimize.php
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Focus] Compatibility, [Plugin] Boost, [Package] WP JS Data Sync, [Boost Feature] Optimizations

#30416 Boost: Update list-site-urls endpoint to include groups
  projects/plugins/boost/app/lib/class-site-urls.php
  projects/plugins/boost/changelog/update-boost-list-pages-endpoint-include-groups
Labels: [Status] Needs Team Review, [Plugin] Boost

#30453 Map block: hook settings to existing block bundle
  projects/packages/jetpack-mu-wpcom/changelog/fix-map-loading-settings
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, [Block] Map, [Package] Jetpack mu wpcom

#30451 Fix Map provider typo
  projects/plugins/jetpack/changelog/fix-map-provider-fix
  projects/plugins/jetpack/extensions/blocks/map/utils/get-map-provider.js
Labels: [Type] Bug, [Status] Ready to Merge, [Block] Map, [Plugin] Jetpack

#30454 Map block: only hook map settings in the right place.
  projects/packages/jetpack-mu-wpcom/changelog/fix-map-loading-settings-duplicate
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Block] Map, [Package] Jetpack mu wpcom

#27693 My Jetpack: Set post-checkout redirect URL on the plan purchase link
  projects/packages/my-jetpack/_inc/utils/get-purchase-plan-url.js
  projects/packages/my-jetpack/changelog/fix-set-redirect-uri-after-my-jetpack-purchase
Labels: [Status] Needs Team Review, [Package] My Jetpack

#30440 My Jetpack: Remove manage option from menu
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/changelog/update-mj-remove-manage-from-menu
Labels: [Status] Needs Team Review, [Package] My Jetpack

#30441 My Jetpack: Remove product card icon
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/stories/index.stories.jsx
  projects/packages/my-jetpack/changelog/update-mj-remove-card-product-icons
Labels: [Status] Needs Team Review, [Package] My Jetpack

#30386 Publicize components: add Tumblr preview
  projects/js-packages/publicize-components/src/components/social-previews/constants.js
  projects/js-packages/publicize-components/src/components/tumblr-preview/index.js
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Size] S, [Block] Social Previews, RNA, [JS Package] Publicize Components

#30393 CRM: Resolves 98 - export company data with segments
  projects/plugins/crm/changelog/fix-crm-98-export_company_data_with_segments
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Segments.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30458 My Jetpack: Remove icon from plugin activation action in product card
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-action-icons
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Package] My Jetpack

#30438 VideoPress: dont allow editing video data when doesn't belong to site
  projects/packages/videopress/changelog/update-videopress-propagate-belong-to-to-client-side
  projects/packages/videopress/src/class-wpcom-rest-api-v2-endpoint-videopress.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-sync-media/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-sync-media/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/types.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#30445 Image CDN: Fixes and improvements
  projects/packages/image-cdn/changelog/update-image-cdn
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/plugins/jetpack/changelog/update-image-cdn
  projects/plugins/jetpack/functions.photon.php
Labels: Photon, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Image CDN

#30464 Fix feedback post status untrash filter
  projects/packages/forms/changelog/fix-feedback-post-status-untrash
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Forms

#30465 VideoPress: Fix JITM layout on video edit page
  projects/packages/jitm/changelog/fix-videopress-jitm-edit-page
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/js/jetpack-jitm.js
  projects/packages/videopress/changelog/fix-videopress-jitm-edit-page
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/admin-page/styles.module.scss
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/style.module.scss
Labels: [Type] Enhancement, VideoPress, [Status] Ready to Merge, [Pri] Low, JITM, [Package] Jitm, [Package] VideoPress

#30443 VideoPress: update UI/UX when the video block doesn't belong to site
  projects/packages/videopress/changelog/update-videopress-add-not-edition-allowed-notice
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/styles.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/privacy-and-rating-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/privacy-and-rating-panel/privacy-and-rating-settings.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30467 VideoPress: hide core/embed block, VideoPress variation, when video block is available
  projects/packages/videopress/changelog/update-videopress-hide-core-embed-videopress-variation
  projects/packages/videopress/src/client/block-editor/blocks/video/index.ts
  projects/packages/videopress/src/client/block-editor/extend/core-embed/index.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] M, [Block] VideoPress, [Package] VideoPress

#30463 VideoPress: create VideoPress video block when pasting URLs
  projects/packages/videopress/changelog/update-videopress-handle-pasting-urls
  projects/packages/videopress/src/client/block-editor/blocks/video/transforms/index.tsx
  projects/packages/videopress/src/client/lib/url/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30400 Settings: Use Constants to check value of REST_API_REQUEST inside the is_syncing function
  projects/packages/sync/changelog/feat-rest-api-jetpack-block
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-settings.php
  projects/plugins/backup/changelog/feat-rest-api-jetpack-block
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/feat-rest-api-jetpack-block
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/feat-rest-api-jetpack-block
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/feat-rest-api-jetpack-block
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/feat-rest-api-jetpack-block
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/feat-rest-api-jetpack-block
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/feat-rest-api-jetpack-block
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/feat-rest-api-jetpack-block
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Author Reply, [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#30466 Update forms dashboard card border radius
  projects/packages/forms/changelog/fix-forms-dashboard-corners
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/style.wpcom.scss
Labels: [Status] Needs Team Review, [Package] Forms

#30468 Fix forms dashboard response class names
  projects/packages/forms/changelog/fix-forms-dashboard-long-ip
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#30469 Fix link area glith on forms dashboard
  projects/packages/forms/changelog/fix-forms-dashboard-link-area
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Status] Needs Team Review, [Package] Forms

#30352 Social Previews | Update Google Search preview with the latest design
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-social-previews-google
  projects/js-packages/components/package.json
  projects/js-packages/publicize-components/changelog/update-social-previews-google
  projects/js-packages/publicize-components/jsconfig.json
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/social-previews/constants.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/changelog/update-social-previews-google
  projects/plugins/jetpack/package.json
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Components, [JS Package] Publicize Components

#30295 CRM: Resolves 1610 - translate object names in PDF filename
  projects/plugins/crm/changelog/fix-crm-1610-adjust_PDF_names
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
  projects/plugins/crm/includes/ZeroBSCRM.QuoteBuilder.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#30415 Bit.ly: avoid errors when using non-official Bit.ly plugins alongside Jetpack.
  projects/plugins/jetpack/3rd-party/bitly.php
  projects/plugins/jetpack/changelog/fix-bitly-method-exists-30412
Labels: [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Focus] Compatibility

#30470 CRM: Resolves 3081 - expand log types that update Last Contacted timestamp
  projects/plugins/crm/changelog/fix-crm-3081-update_last_contacted_date_when_appropriate
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Logs.php
  projects/plugins/crm/includes/ZeroBSCRM.InternalAutomatorRecipes.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Logs.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30260 Forms: add field id setting
  projects/packages/forms/changelog/forms-add-field-id-setting
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-checkbox.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-consent.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-css.js
Labels: [Status] Needs Team Review, [Package] Forms

#30483 CRM: Removing HTML from all invoice date HTML functions, renaming functions
  projects/plugins/crm/admin/company/view.page.php
  projects/plugins/crm/admin/contact/view.page.php
  projects/plugins/crm/changelog/fix-crm-company-view-all-invoices-list-style
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#30484 VideoPress: introduce helper function to get VideoPress video block attributes from URL
  projects/packages/videopress/changelog/update-videopress-pick-video-customization-from-url
  projects/packages/videopress/src/client/lib/url/index.ts
  projects/packages/videopress/src/client/lib/url/test/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress, [Tests] Includes Tests

#30475 Forms: denormalize comment column
  projects/packages/forms/changelog/forms-denormalize-comment-column
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tests/php/contact-form/test-class.contact-form.php
Labels: [Status] Needs Team Review, [Package] Forms, [Tests] Includes Tests

#30489 My Jetpack: Add deactivate plugin menu action on product card
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/action-buton.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/hooks/use-product/index.js
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/changelog/add-my-jetpack-deactivate-plugin-menu-action
Labels: [Type] Enhancement, [Pri] Low, [Status] Needs Team Review, [Status] Needs Privacy Updates, [Package] My Jetpack

#30485 External Media: Define request method directly
  projects/plugins/jetpack/_inc/lib/class-jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/changelog/fix-google-photos-disconnect
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, WP REST API, [Extension] External Media, [Plugin] Jetpack

#30472 Launchpad: migrate business logic to Task definitions
  projects/packages/jetpack-mu-wpcom/changelog/update-migrate-launchpad-business-logic
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-test.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Tests] Includes Tests

#30488 VideoPress: pick video block attrs from URL when pasting/inserting
  projects/packages/videopress/changelog/update-videopress-pick-block-attrs-before-to-paste
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/transforms/index.tsx
  projects/packages/videopress/src/client/lib/url/test/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress, [Tests] Includes Tests

#30435 Boost/update/igp phase 4
  projects/packages/wp-js-data-sync/changelog/boost-update-igp-phase-4
  projects/packages/wp-js-data-sync/composer.json
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync-option.php
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/ApiMock.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Pagination.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRowExpanded.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Tabs.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-data.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-groups.ts
  projects/plugins/boost/app/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/app/data-sync/Image_Size_Analysis_Groups.php
  projects/plugins/boost/app/data-sync/init-image-size-analysis.php
  projects/plugins/boost/app/modules/image-size-analysis/WPCOM_API_Image_Size_Analysis.php
  projects/plugins/boost/app/modules/image-size-analysis/jetpack-boost-mock-api.php
  projects/plugins/boost/changelog/boost-update-igp-phase-4
  projects/plugins/boost/changelog/boost-update-igp-phase-4#2
  projects/plugins/boost/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Boost, [Package] WP JS Data Sync, [Boost Feature] Image Size Analysis

#28791 Enable Jetpack Forms package by default
  projects/plugins/jetpack/changelog/update-enable-jetpack-forms-package
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/modules/contact-form.php
Labels: Contact Form, [Status] Ready to Merge, [Type] Janitorial, [Status] Needs Testing, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#30507 Contact Form: add necessary context to the word "Trash"
  projects/packages/forms/changelog/fix-reference-contact-form-trash
  projects/packages/forms/src/contact-form/class-admin.php
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/single-actions-menu.js
  projects/plugins/jetpack/changelog/fix-reference-contact-form-trash
  projects/plugins/jetpack/modules/contact-form/admin.php
Labels: [Type] Bug, Contact Form, [Status] Needs Review, [Focus] i18n, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#30506 Jetpack > My Plan: Show plans without expire date as active
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/fix-show-lifetime-plans-as-active
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#30514 Fix Jetpack stable version
  projects/plugins/jetpack/changelog/fix-jetpack-readme-stable-version
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#30178 CRM: Profile summary - removing deleted invoice counts and totals
  projects/plugins/crm/admin/company/view.page.php
  projects/plugins/crm/admin/contact/view.page.php
  projects/plugins/crm/changelog/fix-crm-remove-deleted-from-invoice-count
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Invoices.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-woo-admin-integration.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [CRM] Woo Sync Module

#30515 Enable the new Jetpack Forms WP Admin feedback interface
  projects/packages/forms/changelog/update-feedback-default-view
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/plugins/jetpack/changelog/update-feedback-default-view
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#30524 Check for `allowedBlocks` === true for payments intro
  projects/plugins/jetpack/changelog/earn-fix-payments-intro-blocks-true
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Payments Intro

#30498 AI Assistant: Add some UX modifications
  projects/plugins/jetpack/changelog/update-ai-assistant-ux
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Image, [Block] AI Paragraph, [Tests] Includes Tests, [Block] AI Chat, [Block] Ai Assistant

#30411 [RNMobile] Update player status when WebView loads
  projects/packages/videopress/changelog/rnmobile-update-loading-screen-android
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.js
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30513 Add README's for packages/forms
  projects/packages/forms/README.md
  projects/packages/forms/changelog/add-forms-package-readme
  projects/packages/forms/src/blocks/README.md
  projects/packages/forms/src/dashboard/README.md
Labels: Docs, [Status] Needs Team Review, [Package] Forms

#30537 AI Chat block: make the block visible again
  projects/plugins/jetpack/changelog/modify-make-ai-chat-block-visible
  projects/plugins/jetpack/extensions/blocks/ai-chat/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Chat

#30533 AI Assistant: Factor out getSuggestionsFromOpenAI into a hook and createPrompt into own file
  projects/plugins/jetpack/changelog/update-ai-assistant-factor-out-suggestions-from-ai-and-create-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Ai Assistant

#30448 Boost: Update Minify to include latest page optimize updates
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/app/modules/optimizations/minify/class-minify-css.php
  projects/plugins/boost/changelog/update-boost-add-latest-page-optimize-updates
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Optimizations

#30161 Forms: Create dashboard landing page
  projects/packages/forms/assets/images/contact-form.png
  projects/packages/forms/assets/images/feedback-form.png
  projects/packages/forms/assets/images/google-sheets-icon.png
  projects/packages/forms/assets/images/registration-form.png
  projects/packages/forms/assets/images/responses-inbox-wp-com.png
  projects/packages/forms/assets/images/responses-inbox.png
  projects/packages/forms/assets/images/salesforce-icon.png
  projects/packages/forms/changelog/add-forms-landing-page
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/details/index.js
  projects/packages/forms/src/dashboard/components/details/style.scss
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/src/dashboard/landing/index.js
  projects/packages/forms/src/dashboard/landing/style.scss
  projects/packages/forms/src/dashboard/landing/svg/akismet-svg.js
  projects/packages/forms/src/dashboard/landing/svg/check-svg.js
  projects/packages/forms/src/dashboard/landing/svg/close-svg.js
  projects/packages/forms/src/dashboard/landing/svg/export-svg.js
  projects/packages/forms/src/dashboard/landing/svg/notifications-svg.js
  projects/packages/forms/src/dashboard/landing/svg/wordpress-svg.js
  projects/packages/forms/src/dashboard/style.scss
  projects/packages/forms/src/dashboard/style.wpcom.scss
  projects/plugins/jetpack/changelog/add-forms-landing-page
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#30534 AI Assistant: Fix some React warnings
  projects/plugins/jetpack/changelog/fix-ai-assistant-react-warnings-on-image-generation
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/image-with-select.js
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, [Block] Ai Assistant

#30431 CRM: Resolves 300 and 2884 - fix task date inconsistencies
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/fix-crm-300-task_date_inconsistencies
  projects/plugins/crm/composer.json
  projects/plugins/crm/includes/ZeroBSCRM.Core.Localisation.php
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.Migrations.php
  projects/plugins/crm/includes/jpcrm-localisation.php
  projects/plugins/crm/includes/jpcrm-mail-templating.php
  projects/plugins/crm/package.json
  projects/plugins/crm/tests/codeception/acceptance/17_JPCRM_Events_Cest.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests

#30539 Ai Assistant: Accept prompts when post has no title
  projects/plugins/jetpack/changelog/fix-ai-assistant-prompt-without-post-title
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
Labels: [Type] Bug, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Ai Assistant

#30541 AI Assistant: Remove icons from single actions in dropdown
  projects/plugins/jetpack/changelog/update-ai-assistant-control-labels
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Ai Assistant

#30520 Forms/add response defaults
  projects/packages/forms/changelog/forms-add-response-defaults
  projects/packages/forms/src/class-wpcom-rest-api-v2-endpoint-forms.php
  projects/plugins/jetpack/changelog/forms-add-response-defaults
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#30548 Forms: Remove Forms landing page redirection logic
  projects/packages/forms/changelog/update-landing-page-redirection
  projects/packages/forms/src/dashboard/class-dashboard.php
Labels: [Status] Ready to Merge, [Package] Forms

#30552 Jetpack AI: Introduce Try Again option
  projects/plugins/jetpack/changelog/update-ai-discard-option
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#30545 AI Assistance: switch the default `Continue writing` option when no previous content from the assistant block
  projects/plugins/jetpack/changelog/update-ai-assistant-check-continue-writing
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30496 Users: Add is_super_admin flag to single user response
  projects/plugins/jetpack/changelog/add-is-super-admin-flag-to-single-user-response
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-user-endpoint.php
Labels: [Type] Enhancement, WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#30473 Fix notices background
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.scss
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#30532 AI Assistant: Replace TextareaControl with PlainText
  projects/plugins/jetpack/changelog/update-ai-assistant-plaintext
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#30562 Forms fix salesforce variation discoverability
  projects/packages/forms/changelog/forms-fix-salesforce-variation-discoverability
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/service/class-post-to-url.php
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Forms

#30565 AI Assistant: Disable request button when no user prompt provided
  projects/plugins/jetpack/changelog/update-ai-assitant-disable-request-when-no-user-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#30560 AI Assistant: Disable title summary action when there is no title
  projects/plugins/jetpack/changelog/fix-ai-assistant-prevent-title-summary-when-there-is-no-title
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30535 [Boost] Tidy up around the minify functionality
  projects/plugins/boost/app/lib/minify/Concatenate_CSS.php
  projects/plugins/boost/app/lib/minify/Concatenate_JS.php
  projects/plugins/boost/app/lib/minify/functions-helpers.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/app/modules/optimizations/minify/class-minify-css.php
  projects/plugins/boost/app/modules/optimizations/minify/class-minify-js.php
  projects/plugins/boost/changelog/boost-minify-cleanup
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Optimizations

#30546 [Newsletter] misconfiguration notice and various design fixes
  projects/plugins/jetpack/changelog/add-misconfiguration-panels
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/utils.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#30504 tools: Add list-repo-maintenance-commits.sh
  tools/list-repo-maintenance-commits.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#30486 [RNMobile] Add test IDs to VideoPress components for integration tests
  projects/packages/videopress/changelog/rnmobile-videopress-add-test-ids
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.js
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/uploader-progress.native.js
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#30499 Social previews | Remove duplicate "Auto-shared" preview for Twitter and LinkedIn
  projects/js-packages/publicize-components/changelog/social-previews-remove-duplicate-preview-for-twitter
  projects/js-packages/publicize-components/src/components/social-previews/linkedin.js
  projects/js-packages/publicize-components/src/components/social-previews/twitter.js
  projects/js-packages/publicize-components/src/components/social-previews/utils.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#30559 AI Assistant: store last prompt to be able to retry the request
  projects/plugins/jetpack/changelog/update-ai-assistance-fix-retrying-request
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#30432 [Earn] Make Earn products free for all Jetpack plans
  projects/packages/plans/changelog/add-make-earn-products-free-for-all
  projects/packages/plans/composer.json
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
  projects/plugins/jetpack/changelog/add-make-earn-products-free-for-all
  projects/plugins/jetpack/changelog/add-make-earn-products-free-for-all#2
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/extensions/blocks/simple-payments/simple-payments.php
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/inspector-control.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/toolbar-control.js
  projects/plugins/jetpack/extensions/shared/components/stripe-nudge/index.jsx
  projects/plugins/jetpack/extensions/shared/test/stripe-nudge-test.js
  projects/plugins/jetpack/extensions/store/membership-products/actions.js
  projects/plugins/jetpack/extensions/store/membership-products/reducer.js
  projects/plugins/jetpack/extensions/store/membership-products/selectors.js
  projects/plugins/jetpack/extensions/store/membership-products/test/actions-test.js
  projects/plugins/jetpack/extensions/store/membership-products/test/reducer-test.js
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
  projects/plugins/jetpack/tests/php/extensions/blocks/premium-content/test_class.jetpack-premium-content.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
  projects/plugins/protect/changelog/add-make-earn-products-free-for-all
  projects/plugins/protect/composer.lock
  projects/plugins/social/changelog/add-make-earn-products-free-for-all
  projects/plugins/social/composer.lock
  projects/plugins/videopress/changelog/add-make-earn-products-free-for-all
  projects/plugins/videopress/composer.lock
  tools/e2e-commons/helpers/plan-helper.js
Labels: [Status] Ready to Merge, [Pri] High, [Status] Needs Testing, Pay With Paypal, Plans, [Block] Payment Button, Earn, E2E Tests, [Plugin] Jetpack, [Block] Pay With Paypal, Memberships, [Package] Plans, [Block] Payments, [Plugin] Social, [Plugin] Protect, [Block] Donations, Simple Payments, [Block] Payment Buttons, [Plugin] VideoPress, [Tests] Includes Tests

#30574 Load wpcom block editor styles in atomic sites
  projects/plugins/jetpack/changelog/add-wpcom-block-editor-wpcom-editor-styles
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: [Status] Ready to Merge, WordPress.com Block Editor, [Plugin] Jetpack

#30479 Social: Skip posts based on the new post meta key _wpas_skip_publicize_
  projects/packages/publicize/changelog/update-publicize-skip-meta
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-connections-post-field.php
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize-ui.php
  projects/packages/publicize/tests/php/test-connections-post-field.php
  projects/plugins/crm/changelog/Update lock file
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-fields/post-fields-publicize-connections.php
  projects/plugins/jetpack/changelog/update-publicize-skip-meta
  projects/plugins/jetpack/changelog/update-publicize-skip-meta#2
  projects/plugins/jetpack/changelog/update-publicize-skip-meta#3
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test-post-fields-publicize-connections.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-fields/test_post-fields-publicize-connections-inactive.php
  projects/plugins/jetpack/tests/php/modules/publicize/test_class.publicize.php
  projects/plugins/social/changelog/update-publicize-skip-meta
  projects/plugins/social/changelog/update-publicize-skip-meta#2
  projects/plugins/social/composer.lock
Labels: [Status] In Progress, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social, [Plugin] CRM, [Tests] Includes Tests

#30567 Close Newsletter access popover when selecting
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#30572 CRM: fix undefined variable `$order_id` in `get_transaction_from_order_num()`
  projects/plugins/crm/changelog/fix-order-id-crm-warning
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, OSS Citizen, [Plugin] CRM, [CRM] Woo Sync Module

#30568 CRM: impromptu code cleanup
  projects/plugins/crm/changelog/fix-crm-impromptu_cleanup
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.ObjectLayer.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#30586 AI Assistant: Disable content expansion when there is no previous content
  projects/plugins/jetpack/changelog/fix-ai-assistant-expand-disable
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30561 AI Assistant: disable `Summarize` when no content
  projects/plugins/jetpack/changelog/update-ai-assistance-iterate-over-summarize
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: Enhanced Distribution, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30582 Image CDN: Fix compatibility on simple sites
  projects/packages/image-cdn/changelog/fix-legacy-photon-calls
  projects/packages/image-cdn/package.json
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/plugins/jetpack/3rd-party/bbpress.php
  projects/plugins/jetpack/changelog/fix-legacy-photon-calls
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery.php
  projects/plugins/jetpack/modules/widgets/flickr.php
  projects/plugins/jetpack/modules/widgets/image-widget.php
Labels: Tiled Gallery, Extra Sidebar Widgets, Photon, [Status] Needs Team Review, [Plugin] Jetpack, [Focus] Compatibility, [Package] Image CDN

#30604 AI Assistant: make the block content persistent
  projects/plugins/jetpack/changelog/update-ai-assistant-store-content-persistently
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30523 PHP 8 Compatibility fixes
  projects/packages/sync/changelog/php8-jetpack-sync-0508-1440
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-queue.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/src/class-sender.php
  projects/packages/sync/src/class-settings.php
  projects/packages/sync/src/modules/class-callables.php
  projects/packages/sync/src/modules/class-full-sync-immediately.php
  projects/packages/sync/src/modules/class-network-options.php
Labels: [Status] In Progress, [Status] Needs Review, [Package] Sync

#30590 AI Assistant: Introduce mechanism for calling wpcom API directly for OpenAI streaming calls and Demo JS function for testing
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/hack-test-jetpack-ai
  projects/plugins/jetpack/extensions/blocks/ai-assistant/get-suggestion-with-stream.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] AI Assistant

#30557 CRM: Resolves 2891 - clean up logic surrounding Woo status mapping
  projects/plugins/crm/admin/settings/transactions.page.php
  projects/plugins/crm/changelog/fix-crm-2891-remove_ambiguous_default_woo_status_mapping
  projects/plugins/crm/includes/ZeroBSCRM.Config.Init.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/modules/woo-sync/admin/settings/main.page.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-background-sync-job.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [CRM] Woo Sync Module

#30607 PHP 8 Compatibility fixes
  projects/plugins/jetpack/changelog/php8-fixes-0510-1203
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-bulk-update-comments-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-edit-media-v1-2-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-install-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
Labels: WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#30609 AI Assistant: Add option to correct previous content
  projects/plugins/jetpack/changelog/add-ai-assistant-correct-spelling
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#30564 PHP 8 Compatibility fixes
  projects/packages/search/changelog/php8-fixes-0509-1519
  projects/packages/search/package.json
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-package.php
  projects/packages/search/src/classic-search/class-classic-search.php
  projects/packages/search/src/customizer/customize-controls/class-excluded-post-types-control.php
  projects/packages/search/src/instant-search/class-instant-search.php
Labels: [Status] Ready to Merge, [Package] Search

#30573 Odyssey Stats: add several configs for Odyssey
  projects/packages/stats-admin/changelog/update-add-several-configs-odyssey
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/plugins/jetpack/changelog/update-add-several-configs-odyssey
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#30615 AI Assistance: edit generated content before accepting it
  projects/plugins/jetpack/changelog/update-ai-assistant-continue-generating-content-process
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/prompt/tell-what-to-do-next.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30611 AI Assistant: Add option to simplify preceding text
  projects/plugins/jetpack/changelog/add-ai-assistant-simplify-text-option
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#30612 Plans: update plan constants and icons
  projects/packages/plans/changelog/add-woa-3-year-plans
  projects/packages/plans/src/class-current-plan.php
  projects/packages/videopress/changelog/add-woa-3-year-plans
  projects/packages/videopress/src/client/admin/hooks/use-plan/index.ts
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/changelog/add-WoA-3-year-plan-icons
  projects/plugins/jetpack/class.jetpack-plan.php
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Package] Plans, [Package] VideoPress

#30527 Launchpad: checklists API optimization
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-optimization
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom

#30585 AI Assistant: remove icons from toolbar buttons
  projects/plugins/jetpack/changelog/update-ai-asistant-remove-icons-from-toolbar-buttons
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30623 AI Assistant: update input placeholder text depending on the type of request
  projects/plugins/jetpack/changelog/update-ai-assistant-move-placeholder-text-to-control-component
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30521 [RNMobile] VideoPress Android WebView
  projects/packages/videopress/changelog/videopress-rnmobile-android-webview
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.native.js
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/style.native.scss
Labels: VideoPress, [Status] In Progress, [Package] VideoPress

#30622 Stats Admin: align is_automated_transfer option with Jetpack plugin
  projects/packages/stats-admin/changelog/fix-odyssey-is-automated-transfer
  projects/packages/stats-admin/src/class-odyssey-config-data.php
Labels: Stats, [Status] Needs Team Review, [Package] Stats Admin, Reviewer Can Merge

#30494 Blocks: remove custom spinner styles
  projects/plugins/jetpack/changelog/update-spinner-styles
  projects/plugins/jetpack/extensions/blocks/story/player/style.scss
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Focus] Blocks, [Block] Story, [Plugin] Jetpack

#30455 Search: add "Open overlay from filter links" option
  projects/packages/search/changelog/add-filtering-overlay-option
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-package.php
  projects/packages/search/src/class-settings.php
  projects/packages/search/src/customberg/components/app-wrapper/index.jsx
  projects/packages/search/src/customberg/components/sidebar/sidebar-options.jsx
  projects/packages/search/src/customberg/hooks/use-search-options.js
  projects/packages/search/src/customizer/class-customizer.php
  projects/packages/search/src/instant-search/components/search-app.jsx
  projects/packages/search/src/instant-search/lib/customize.js
  projects/packages/search/src/instant-search/store/selectors.js
  projects/packages/search/src/instant-search/store/test/selectors.test.js
  projects/plugins/jetpack/changelog/add-filtering-overlay-option
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/add-filtering-overlay-option
  projects/plugins/search/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Search, [Status] UI Changes, [Package] Search, [Tests] Includes Tests

#30608 Fix/plugins modify endpoint
  projects/plugins/jetpack/changelog/fix-plugins-modify-endpoint
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-plugins-modify-endpoint.php
Labels: [Type] Bug, WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#30613 PHP 8.1 compatibility fixes
  projects/plugins/jetpack/changelog/php8-fixes-0510-1600
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
  projects/plugins/jetpack/modules/shortcodes/recipe.php
  projects/plugins/jetpack/modules/shortcodes/slideshow.php
Labels: Shortcodes / Embeds, Infinite Scroll, [Status] Needs Author Reply, [Plugin] Jetpack

#30605 Forms: Enable landing page redirection
  projects/packages/forms/changelog/update-enable-forms-landing-page
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/landing/index.js
Labels: [Status] Needs Team Review, [Package] Forms

#30634 Plugin config: update reference links to releases in changelogs
  projects/plugins/backup/changelog/fix-changelog-compare-references
  projects/plugins/backup/changelog/fix-changelog-compare-references#2
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-changelog-compare-references
  projects/plugins/boost/changelog/fix-changelog-compare-references#2
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/crm/changelog/fix-changelog-compare-references
  projects/plugins/crm/changelog/fix-changelog-compare-references#2
  projects/plugins/crm/composer.json
  projects/plugins/crm/composer.lock
  projects/plugins/search/changelog/fix-changelog-compare-references
  projects/plugins/search/changelog/fix-changelog-compare-references#2
  projects/plugins/search/composer.json
  projects/plugins/search/composer.lock
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] CRM

#30482 Map block: Fix map zoom being reset after marker color change
  projects/plugins/jetpack/changelog/fix-mapkit-marker-color-zoom-reset
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
Labels: [Status] Needs Review, [Block] Map, [Plugin] Jetpack

#30369 Launchpad Checklist API: Add start writing checklist and tasks
  projects/packages/jetpack-mu-wpcom/changelog/add-start-writing-checklist-and-tasks-to-launchpad-checklist-api
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-checklist.php
  projects/plugins/mu-wpcom-plugin/changelog/add-start-writing-checklist-and-tasks-to-launchpad-checklist-api
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#30637 AI Assistant: Add prompt template builder function
  projects/plugins/jetpack/changelog/update-ai-assistant-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30462 Blaze: remove old unused files
  projects/plugins/jetpack/changelog/rm-unused-blaze-files
  projects/plugins/jetpack/extensions/plugins/blaze/editor.scss
  projects/plugins/jetpack/extensions/plugins/blaze/icon.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack, [Extension] Blaze, [Package] Blaze

#30509 Launchpad: Avoid PHP warning
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-php-warning
  projects/packages/jetpack-mu-wpcom/phpunit.xml.dist
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/class-launchpad-task-lists-test.php
Labels: [Type] Bug, [Status] Ready to Merge, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests

#30646 AI Assistant: Add option to generate title
  projects/plugins/jetpack/changelog/update-ai-assistant-generate-title
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#30298 ActivityPub: add compatibility functions (targeting Photon)
  projects/packages/image-cdn/changelog/update-compat-activitypub
  projects/packages/image-cdn/package.json
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/image-cdn/src/compatibility/activitypub.php
  projects/packages/image-cdn/tests/php/test_activitypub_compat.php
  projects/plugins/jetpack/changelog/update-compat-activitypub
Labels: [Type] Enhancement, Comments, Tiled Gallery, Extra Sidebar Widgets, Photon, WPCOM API, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Focus] Compatibility, [Package] Image CDN, [Tests] Includes Tests

#30139 QR Code: remove Jetpack logo from item in Jetpack sidebar
  projects/plugins/jetpack/changelog/update-qr-code-logo
  projects/plugins/jetpack/extensions/plugins/post-publish-qr-post-panel/components/qr-post.js
  projects/plugins/jetpack/extensions/plugins/post-publish-qr-post-panel/index.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Extension] Post Publish QR Post Panel

#30645 AI Assistant: allow change the `tone` when generating content
  projects/plugins/jetpack/changelog/update-ai-assistant-add-tone-dropdown
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/tone-dropdown-control.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30657 AI Assistant: Fix generated title
  projects/plugins/jetpack/changelog/update-ai-assistant-fix-generated-title
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#30658 AI Assistant: add some predef options when generating content
  projects/plugins/jetpack/changelog/update-ai-assistant-show-predefs
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#30661 Add/publicize mastodon integration
  projects/packages/publicize/changelog/add-publicize-mastodon-integration
  projects/packages/publicize/src/class-publicize.php
Labels: [Status] Ready to Merge, [Size] S, [Package] Publicize

#30656 AI Assistant: Parse markdown inside ShowLittleByLittle
  projects/plugins/jetpack/changelog/fix-markdown-rendering-html-storing-ai-assistant
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/show-little-by-little.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] AI Assistant
