Repository Automattic/jetpack, pull requests merged in 2023-12, with the labels that each got.

#34386 Avoid a PHP Warning in invalid contact form payloads
  projects/packages/forms/changelog/fix-warning-array-to-string
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, OSS Citizen, [Package] Forms

#34353 Jetpack Menu: Add a link to the Jetpack Manage to Jetpack menu
  projects/packages/my-jetpack/changelog/add-jetpack-manage-menu-item
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-jetpack-manage.php
  projects/packages/my-jetpack/tests/php/test-jetpack-manage.php
  projects/plugins/backup/changelog/add-jetpack-manage-menu-item
  projects/plugins/boost/changelog/add-jetpack-manage-menu-item
  projects/plugins/jetpack/changelog/add-jetpack-manage-menu-item
  projects/plugins/migration/changelog/add-jetpack-manage-menu-item
  projects/plugins/protect/changelog/add-jetpack-manage-menu-item
  projects/plugins/search/changelog/add-jetpack-manage-menu-item
  projects/plugins/social/changelog/add-jetpack-manage-menu-item
  projects/plugins/starter-plugin/changelog/add-jetpack-manage-menu-item
  projects/plugins/videopress/changelog/add-jetpack-manage-menu-item
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Review, [Pri] Normal, Customer Report, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#34413 Launchpad: Update link for paid offer task
  projects/packages/jetpack-mu-wpcom/changelog/update-earn-launchpad-open-plan-modal
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/update-earn-launchpad-open-plan-modal
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, Earn, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#34410 Related Posts Block: Fix Thumbnails Opening in Same Tab
  projects/plugins/jetpack/changelog/fix-related-posts-thumbnails
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
Labels: OSS Citizen, [Plugin] Jetpack, [Block] Related Posts

#34384 Add Welcome banner to My Jetpack
  projects/packages/connection/changelog/add-welcome-banner-to-my-jetpack
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/packages/my-jetpack/_inc/components/card/index.jsx
  projects/packages/my-jetpack/_inc/components/card/style.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/action-button.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-banner/assets/images/site-cards.png
  projects/packages/my-jetpack/_inc/components/welcome-banner/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-banner/stories/index.stories.js
  projects/packages/my-jetpack/_inc/components/welcome-banner/style.module.scss
  projects/packages/my-jetpack/_inc/hooks/use-welcome-banner/index.js
  projects/packages/my-jetpack/_inc/state/actions.js
  projects/packages/my-jetpack/_inc/state/constants.js
  projects/packages/my-jetpack/_inc/state/reducers.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/changelog/add-welcome-banner-to-my-jetpack
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Status] In Progress, Customer Report, [Package] Connection, [Package] My Jetpack

#34307 Adds Creator to My Jetpack
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/creator-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/Adding Jetpack Creator to My Jetpack
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/products/class-creator.php
  projects/plugins/jetpack/changelog/add-creator-to-my-jetpack
  projects/plugins/jetpack/modules/carousel.php
  projects/plugins/jetpack/modules/contact-form.php
  projects/plugins/jetpack/modules/enhanced-distribution.php
  projects/plugins/jetpack/modules/google-fonts.php
  projects/plugins/jetpack/modules/related-posts.php
  projects/plugins/jetpack/modules/subscriptions.php
  projects/plugins/jetpack/modules/wordads.php
Labels: [Type] Enhancement, [Status] In Progress, [Status] Ready to Merge, [Plugin] Jetpack, [Package] My Jetpack

#34407 cli: Avoid node bug in process plumbing
  tools/cli/helpers/list-project-files.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#34425 CRM: Resolves 3390 - bypass errant codeception dependency
  projects/plugins/crm/changelog/fix-crm-3390-bypass_errant-dependency
  projects/plugins/crm/composer.json
  projects/plugins/crm/composer.lock
Labels: [Status] Needs Team Review, [Plugin] CRM

#34419 Email preview: fix sending preview if content in the editor is different from latest in the database
  projects/plugins/jetpack/changelog/update-email-preview-save-draft
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34349 Move/source sanitize to jetpack
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/memberships.php
  projects/plugins/jetpack/changelog/move-source-sanitize-to-jetpack
Labels: [Status] In Progress, [Plugin] Jetpack

#34420 Improvements to my Jetpack CTAs and Connection banner
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/action-button.jsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-improvements
Labels: [Status] In Progress, [Package] My Jetpack

#34391 Jetpack Social | Fix admin page connections UI
  projects/plugins/social/changelog/fix-social-admin-page
  projects/plugins/social/src/js/components/header/index.js
Labels: [Status] Needs Team Review, [Plugin] Social

#34158 Add Javascript and TypeScript build for jetpack-wpcom-mu
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/.gitignore
  projects/packages/jetpack-mu-wpcom/README.md
  projects/packages/jetpack-mu-wpcom/changelog/add-js-build-for-jetpack-wpcom-mu
  projects/packages/jetpack-mu-wpcom/changelog/migrate-etk-error-handling
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/error-reporting/error-reporting.php
  projects/packages/jetpack-mu-wpcom/src/features/error-reporting/index.js
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/add-js-build-for-jetpack-wpcom-mu
  projects/plugins/mu-wpcom-plugin/composer.lock
Labels: Docs, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Error Reporting

#34421 Add page view events to WooCommerce Checkout flow.
  projects/plugins/jetpack/changelog/add-page-view-events-for-wc-checkout-flow
  projects/plugins/jetpack/modules/woocommerce-analytics/class-jetpack-woocommerce-analytics.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-checkout-flow.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-trait.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-universal.php
Labels: [Status] Needs Author Reply, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Plugin] Jetpack

#34399 AI Assistant: add suggestions actions
  projects/js-packages/ai-client/changelog/add-ai-suggestions-actions
  projects/js-packages/ai-client/src/components/ai-control/index.tsx
  projects/js-packages/ai-client/src/components/ai-control/style.scss
  projects/plugins/jetpack/changelog/add-ai-suggestions-actions
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] Needs Design Review, [Plugin] Jetpack, RNA, [Status] Design Input Requested, [Block] AI Assistant, [JS Package] AI Client

#34315 CRM: Resolves 3389 - remove axios dependencies
  pnpm-lock.yaml
  projects/plugins/crm/changelog/fix-crm-3389-remove_axios_dependencies
  projects/plugins/crm/package.json
  projects/plugins/crm/src/js/components/automations-admin/components/workflow-row/index.tsx
  projects/plugins/crm/src/js/components/automations-admin/components/workflow-table/index.tsx
  projects/plugins/crm/src/js/data/query-functions.ts
Labels: [Status] Needs Team Review, [Plugin] CRM, [CRM] Automations Module

#34430 Improving likes: fix popover closing area
  projects/plugins/jetpack/changelog/fix-close-likes-popover
  projects/plugins/jetpack/modules/likes/queuehandler.js
Labels: [Feature] Likes, [Status] Needs Author Reply, [Plugin] Jetpack

#34444 AI Assistant: improve spacing and sizes for block and action buttons
  projects/js-packages/ai-client/changelog/change-ai-handle-multiple-lines
  projects/js-packages/ai-client/src/components/ai-control/index.tsx
  projects/js-packages/ai-client/src/components/ai-control/style.scss
  projects/js-packages/ai-client/src/components/ai-status-indicator/style.scss
  projects/plugins/jetpack/changelog/change-ai-handle-multiple-lines
Labels: [Status] Needs Design Review, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Status] Design Input Requested, [Block] AI Assistant, [JS Package] AI Client

#34367 Contact Form: add submitting state
  projects/packages/forms/changelog/update-contact-form-submitting-state
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34313 Repo Gardening: assign teams to an issue based on issue labels.
  projects/github-actions/repo-gardening/README.md
  projects/github-actions/repo-gardening/action.yml
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-update-board-team
  projects/github-actions/repo-gardening/src/index.js
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
  projects/github-actions/repo-gardening/src/tasks/clean-labels/index.js
  projects/github-actions/repo-gardening/src/tasks/flag-oss/index.js
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-design/index.js
  projects/github-actions/repo-gardening/src/tasks/notify-editorial/index.js
  projects/github-actions/repo-gardening/src/tasks/reply-to-customers-reminder/index.js
  projects/github-actions/repo-gardening/src/tasks/triage-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/update-board/automattic-label-team-assignments.js
  projects/github-actions/repo-gardening/src/tasks/update-board/index.js
  projects/github-actions/repo-gardening/src/tasks/update-board/readme.md
  projects/github-actions/repo-gardening/src/utils/get-plugin-names.js
  projects/github-actions/repo-gardening/src/utils/labels/get-labels.js
  projects/github-actions/repo-gardening/src/utils/labels/has-escalated-label.js
  projects/github-actions/repo-gardening/src/utils/labels/has-priority-labels.js
  projects/github-actions/repo-gardening/src/utils/labels/is-bug.js
  projects/github-actions/repo-gardening/src/utils/parse-content/find-platforms.js
  projects/github-actions/repo-gardening/src/utils/parse-content/find-plugins.js
  projects/github-actions/repo-gardening/src/utils/parse-content/find-priority.js
  projects/github-actions/repo-gardening/src/utils/parse-content/has-many-support-references.js
  projects/github-actions/repo-gardening/src/utils/slack/format-slack-message.js
  projects/github-actions/repo-gardening/src/utils/slack/notify-important-issues.js
  projects/github-actions/repo-gardening/src/utils/slack/send-slack-message.js
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#34405 Contact Form: fix checkbox/radio fields layout in editor
  projects/packages/forms/changelog/fix-contact-form-editor-checkbox
  projects/packages/forms/src/blocks/contact-form/editor.scss
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34429 Contact Form: align checkbox and radio button baselines
  projects/packages/forms/changelog/update-contact-form-checkbox-radio-layout
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34436 IDC: add secret to requests from IP URLs
  projects/packages/identity-crisis/changelog/add-send-secret-url-is-ip
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/src/class-url-secret.php
  projects/plugins/backup/changelog/add-send-secret-url-is-ip
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-send-secret-url-is-ip
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-send-secret-url-is-ip
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-send-secret-url-is-ip
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-send-secret-url-is-ip
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-send-secret-url-is-ip
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-send-secret-url-is-ip
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-send-secret-url-is-ip
  projects/plugins/videopress/composer.lock
Labels: [Status] In Progress, [Plugin] Jetpack, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34455 Contact Form: ensure warning icons are visible
  projects/packages/forms/changelog/fix-contact-form-warning-icon
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34439 ci: Fix monorepo auto-tagger
  .github/workflows/autotagger.yml
  .github/workflows/slack-workflow-failed.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#34457 Contact Form: specify version for accessible-form script
  projects/packages/forms/changelog/fix-contact-form-assets-cache-bust
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34440 Fix/css changes like avatar
  projects/plugins/jetpack/changelog/fix-css-changes-like-avatar
  projects/plugins/jetpack/modules/likes/style.css
Labels: [Feature] Likes, [Status] Needs Author Reply, [Plugin] Jetpack

#34456 Backport My Jetpack Release
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-my-jetpack-handle-product-cache-on-jetpack-ai
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: Docs, [Status] Needs Review, [Package] My Jetpack

#34426 Repo Gardening: do not gather support refs on Pull Requests
  projects/github-actions/repo-gardening/changelog/fix-gather-issue-references-pr
  projects/github-actions/repo-gardening/changelog/fix-gather-issue-references-pr#2
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#34448 DRAFT: Launchpad: Add source to stripe connect task
  projects/packages/jetpack-mu-wpcom/changelog/update-earn-launchpad-stripe-return
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, Earn, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34442 Jetpack AI: Improve event tracking on Usage Panel
  projects/plugins/jetpack/changelog/update-jetpack-ai-improve-event-tracking
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/global.d.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-analytics/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant Plugin

#34153 Gutenberg: Add Top Posts and Pages Block
  projects/packages/stats/changelog/add-top-posts-pages-block
  projects/packages/stats/composer.json
  projects/packages/stats/src/class-wpcom-stats.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-top-posts.php
  projects/plugins/jetpack/changelog/add-top-posts-pages-block
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/top-posts/block.json
  projects/plugins/jetpack/extensions/blocks/top-posts/controls.js
  projects/plugins/jetpack/extensions/blocks/top-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/top-posts/editor.js
  projects/plugins/jetpack/extensions/blocks/top-posts/editor.scss
  projects/plugins/jetpack/extensions/blocks/top-posts/inactive-placeholder.js
  projects/plugins/jetpack/extensions/blocks/top-posts/style.scss
  projects/plugins/jetpack/extensions/blocks/top-posts/test/controls.js
  projects/plugins/jetpack/extensions/blocks/top-posts/test/edit.js
  projects/plugins/jetpack/extensions/blocks/top-posts/test/fixtures/jetpack__top__posts.html
  projects/plugins/jetpack/extensions/blocks/top-posts/test/fixtures/jetpack__top__posts.json
  projects/plugins/jetpack/extensions/blocks/top-posts/test/fixtures/jetpack__top__posts.parsed.json
  projects/plugins/jetpack/extensions/blocks/top-posts/test/fixtures/jetpack__top__posts.serialized.html
  projects/plugins/jetpack/extensions/blocks/top-posts/test/validate.js
  projects/plugins/jetpack/extensions/blocks/top-posts/top-posts.php
  projects/plugins/jetpack/extensions/blocks/top-posts/view.js
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/shared/components/loading-posts-grid/index.js
  projects/plugins/jetpack/modules/widgets/top-posts.php
  projects/plugins/search/changelog/add-top-post-pages-block
  projects/plugins/search/composer.lock
Labels: [Type] Enhancement, [Feature] Extra Sidebar Widgets, [Status] Needs Author Reply, [Pri] Normal, OSS Citizen, [Plugin] Jetpack, [Block] Related Posts, [Plugin] Search, [Package] Stats Data, [Tests] Includes Tests, [Block] Top Posts

#34451 Assembler First Flow: Change plan task to plan_completed instead of plan_selected
  projects/packages/jetpack-mu-wpcom/changelog/feat-assembler-first-launchpad-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34478 Fixed typo in class-creator.php
  projects/packages/my-jetpack/changelog/fix-typo-in-class-creator-string
  projects/packages/my-jetpack/src/products/class-creator.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Ready to Merge, [Pri] Low, OSS Citizen, [Package] My Jetpack

#34487 Debug Helper: Add XML-RPC logger module
  projects/plugins/debug-helper/changelog/add-xmlrpc-logger-jetpack-debug-helper
  projects/plugins/debug-helper/modules/class-xmlrpc-logger.php
  projects/plugins/debug-helper/plugin.php
Labels: [Status] Ready to Merge, [Plugin] Debug Helper

#34485 Blogroll: Remove block "beta" text
  projects/plugins/jetpack/changelog/update-blogroll-beta-removal
  projects/plugins/jetpack/extensions/blocks/blogroll/block.json
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Blogroll

#34465 Jetpack Dashboard: disable VideoPress card in offline mode
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/videopress.jsx
  projects/plugins/jetpack/_inc/client/components/dash-item/index.jsx
  projects/plugins/jetpack/changelog/fix-videopress-card-offline-mode
Labels: [Feature] VideoPress, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#34450 Like block: Add iframe to the new Like block (beta)
  projects/plugins/jetpack/changelog/add-iframe-to-Like-block-render
  projects/plugins/jetpack/extensions/blocks/like/block.json
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/modules/likes.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34482 Repo Gardening: fix event trigger name
  projects/github-actions/repo-gardening/changelog/fix-update-board-trigger-reference
  projects/github-actions/repo-gardening/src/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#34447 Contact Form: add margin below global error message
  projects/packages/forms/changelog/fix-contact-form-error-message-margin
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34400 Contact Form: refactor accessible-form script
  projects/packages/forms/changelog/refactor-contact-form-accessible-script
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#34476 AI Assistant bar: fix positioning on mobile
  projects/plugins/jetpack/changelog/fix-ai-assistant-bar-positioning-mobile
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-toolbar-button/index.tsx
Labels: [Status] Needs Design Review, [Status] Needs Team Review, [Plugin] Jetpack, [Status] Design Input Requested, [Block] AI Assistant, [Extension] AI Assistant

#34401 Contact Form: revalidate fields on blur
  projects/packages/forms/changelog/add-contact-form-onblur-validation
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/js/accessible-form.js
  projects/plugins/jetpack/changelog/add-contact-form-onblur-validation
  projects/plugins/jetpack/composer.lock
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#34438 AI Assistant: add prompt to attributes
  projects/js-packages/ai-client/changelog/add-ai-prompt-to-attr
  projects/js-packages/ai-client/src/components/ai-control/index.tsx
  projects/plugins/jetpack/changelog/add-ai-prompt-to-attr
  projects/plugins/jetpack/extensions/blocks/ai-assistant/block.json
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client

#34403 CLI: Try using enquirer to handle autocomplete prompts for changelog add
  pnpm-lock.yaml
  tools/cli/commands/changelog.js
  tools/cli/package.json
Labels: [Status] Needs Review, [Tools] Development CLI

#34494 Jetpack AI: Fix usage panel spacing when it's on the block inspector
  projects/plugins/jetpack/changelog/update-jetpack-ai-fix-usage-panel-spacing
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant Plugin

#34479 Top Posts & Pages Block: Refactor Endpoint
  projects/plugins/jetpack/_inc/lib/class-jetpack-top-posts-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-top-posts.php
  projects/plugins/jetpack/changelog/update-top-posts-endpoint
  projects/plugins/jetpack/extensions/blocks/top-posts/top-posts.php
Labels: [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, OSS Citizen, [Plugin] Jetpack, [Block] Top Posts

#34499 Jetpack Debug Helper: Use error_log if l() is not defined in XML-RPC logger
  projects/plugins/debug-helper/changelog/update-use-error_log_not_l_xmlrpc_logger
  projects/plugins/debug-helper/composer.json
  projects/plugins/debug-helper/composer.lock
  projects/plugins/debug-helper/modules/class-xmlrpc-logger.php
Labels: [Status] Needs Review, [Plugin] Debug Helper

#34041 Add/bloganuary add tags to bloganuary posts
  projects/plugins/jetpack/_inc/blogging-prompts.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/add-bloganuary-add-tags
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Blogging Prompt

#34454 Social: Remove twitter logo from dashboard
  projects/plugins/social/changelog/social-remove-twitter-logo-from-dashboard
  projects/plugins/social/src/js/components/connection-screen/illustration.png
Labels: [Status] Needs Team Review, [Plugin] Social

#34497 tools: Read `.require.php` in parallel-lint
  tools/parallel-lint.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#34495 Jetpack AI: Improve word wraping on the upgrade prompt to reduce the chance of an orphan word
  projects/plugins/jetpack/changelog/update-jetpack-ai-fix-orphan-word-on-upgrade-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34441 Contact Form: replace jQuery UI select by native element
  projects/packages/forms/changelog/fix-contact-form-dropdown-accessibility
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/css/jquery-ui-selectmenu.css
  projects/packages/forms/src/contact-form/js/dropdown.js
  projects/packages/forms/tests/php/contact-form/test-class.contact-form.php
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] In Progress, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests

#34474 Calendly Block: Fix Embed Attributes Being Stripped
  projects/plugins/jetpack/changelog/fix-calendly-block-attributes
  projects/plugins/jetpack/extensions/blocks/calendly/calendly.php
Labels: [Status] Needs Review, [Block] Calendly, OSS Citizen, [Plugin] Jetpack

#34522 AI Assistant: restrict stored state value
  projects/plugins/jetpack/changelog/fix-ai-state-stored-issue
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34516 Stats Admin: Add plan usage endpoint
  projects/packages/stats-admin/changelog/update-stats_admin_add_usage_api
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/update-stats_admin_add_usage_api
  projects/plugins/jetpack/composer.lock
Labels: [Feature] Stats Data, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin

#34414 Update sharing block controls
  projects/plugins/jetpack/changelog/update-sharing-block-controls
  projects/plugins/jetpack/extensions/blocks/sharing-button/block.json
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/components/class-jetpack-mastodon-modal.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/save.js
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/block.json
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/sharing-buttons.php
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/style.scss
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.js
Labels: [Feature] Sharing, [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Block] Sharing Buttons, [Block] Sharing Button

#34511 Launchpad: Complete the task, Personalize your site, when the user updates the site title, site tagline or site logo
  projects/packages/jetpack-mu-wpcom/changelog/feat-launchpad-complete-setup-free-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34480 Launchpad: Complete the plan tasks after upgrade
  projects/packages/jetpack-mu-wpcom/changelog/feat-launchpad-complete-task-after-upgrade
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34390 Limit amount of data send by full sync
  projects/packages/sync/changelog/update-limit-amount-data-send-by-full-sync
  projects/packages/sync/src/modules/class-module.php
  projects/packages/sync/src/modules/class-posts.php
  projects/plugins/jetpack/changelog/update-limit-amount-data-send-by-full-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Tests] Includes Tests

#34536 Like block: Escape attributes in the block output
  projects/plugins/jetpack/changelog/add-like-block-attributes-escape
  projects/plugins/jetpack/extensions/blocks/like/like.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34312 ci: Test against PHP 8.3
  .github/files/generate-ci-matrix.php
  .github/versions.sh
  .github/workflows/linting.yml
  docs/monorepo.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#34475 Protect: Fix Modal overflow scrolling
  projects/plugins/protect/changelog/fix-protect-modal-overflow-scrolling
  projects/plugins/protect/src/js/components/modal/styles.module.scss
Labels: [Status] In Progress, [Plugin] Protect

#34527 Fix sharing buttons block icons on simple/atomic sites
  projects/plugins/jetpack/changelog/fix-sharing-buttons-block-icons-on-simple
  projects/plugins/jetpack/extensions/blocks/sharing-button/block.json
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/components/social-icons.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/edit.js
  projects/plugins/jetpack/extensions/blocks/sharing-button/editor.js
  projects/plugins/jetpack/extensions/blocks/sharing-button/save.js
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
Labels: [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Platform] Simple, [Block] Sharing Button

#34548 Fix: Add Missing Sync Posts Sanity Check
  projects/packages/sync/changelog/fix-jetpack-sync-class-posts-sanity-check
  projects/packages/sync/src/modules/class-posts.php
Labels: [Status] Needs Review, [Package] Sync

#34525 Jetpack AI: Add feedback control to ask for feedback on the block inspector
  projects/plugins/jetpack/changelog/update-jetpack-ai-add-feedback-control
  projects/plugins/jetpack/extensions/blocks/ai-assistant/block.json
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/feedback-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/feedback-control/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34541 My Jetpack: Repeat Jetpack AI features on all tiers
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/update-my-jetpack-repeat-jetpack-ai-features-on-all-tiers
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] My Jetpack

#34552 Jetpack AI: Fix upgrade nudge button style
  projects/plugins/jetpack/changelog/update-jetpack-ai-fix-upgrade-nudge-button-style
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34523 Changelogger: Add New Prompt with Enquirer
  tools/cli/commands/changelog.js
Labels: [Status] Needs Review, [Tools] Development CLI

#34554 ci: Fix lock file up-to-date check
  .github/files/check-lock-files.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, Actions

#34512 Jetpack Boost: React migration - convert premium-tooltip
  projects/plugins/boost/app/assets/src/js/features/PremiumTooltip.svelte
  projects/plugins/boost/app/assets/src/js/features/ReactComponent.svelte
  projects/plugins/boost/app/assets/src/js/features/image-cdn/ImageCdnQualitySettings.svelte
  projects/plugins/boost/app/assets/src/js/features/premium-tooltip/premium-tooltip.module.scss
  projects/plugins/boost/app/assets/src/js/features/premium-tooltip/premium-tooltip.tsx
  projects/plugins/boost/app/assets/src/js/features/ui/Tooltip.svelte
  projects/plugins/boost/app/assets/src/js/features/ui/index.ts
  projects/plugins/boost/app/assets/src/js/features/ui/tooltip/tooltip.module.scss
  projects/plugins/boost/app/assets/src/js/features/ui/tooltip/tooltip.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/Index.svelte
  projects/plugins/boost/changelog/boost-react-premium-tooltip
Labels: [Status] Needs Team Review, [Plugin] Boost, Reviewer Can Merge

#34510 Top Posts and Pages Block: Tidy Up Titles
  projects/plugins/jetpack/changelog/update-top-posts-titles
  projects/plugins/jetpack/extensions/blocks/top-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/top-posts/style.scss
  projects/plugins/jetpack/extensions/blocks/top-posts/top-posts.php
Labels: OSS Citizen, [Plugin] Jetpack, [Block] Top Posts

#34560 Google Fonts Module: Fix the error when parsing a font family that has a reference to a path
  projects/plugins/jetpack/changelog/fix-google-fonts-font-family-ref
  projects/plugins/jetpack/modules/google-fonts/current/class-jetpack-google-font-face.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack, [Feature] Google Fonts

#34310 Newsletter: update post-publish panel copy for scheduled posts
  projects/plugins/jetpack/changelog/update-newsletter-copy-cheduled-posts
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34185 Boost: Refactor performance-history into react
  projects/js-packages/components/changelog/fix-boost-score-graph
  projects/js-packages/components/components/boost-score-graph/style.scss
  projects/js-packages/components/components/boost-score-graph/uplot-line-chart.tsx
  projects/js-packages/components/package.json
  projects/js-packages/react-data-sync-client/changelog/update-performance-history
  projects/js-packages/react-data-sync-client/src/DataSync.ts
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/performance-history.scss
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.module.scss
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.tsx
  projects/plugins/boost/app/assets/src/js/features/error-notice/stories/error-notice.stories.tsx
  projects/plugins/boost/app/assets/src/js/features/performance-history/History.svelte
  projects/plugins/boost/app/assets/src/js/features/performance-history/graph-component/graph-component.module.scss
  projects/plugins/boost/app/assets/src/js/features/performance-history/graph-component/graph-component.tsx
  projects/plugins/boost/app/assets/src/js/features/performance-history/lib/stores/store.ts
  projects/plugins/boost/app/assets/src/js/features/performance-history/lib/types.ts
  projects/plugins/boost/app/assets/src/js/features/performance-history/performance-history.module.scss
  projects/plugins/boost/app/assets/src/js/features/performance-history/performance-history.tsx
  projects/plugins/boost/app/assets/src/js/features/performance-history/stories/graph-component.stories.tsx
  projects/plugins/boost/app/assets/src/js/features/speed-score/Score.svelte
  projects/plugins/boost/app/assets/src/js/layout/SettingsPage/SettingsPage.svelte
  projects/plugins/boost/app/assets/src/js/svg/notice-outline.tsx
  projects/plugins/boost/app/data-sync/Performance_History_Entry.php
  projects/plugins/boost/changelog/update-performance-history
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Boost, [JS Package] React Data Sync Client

#34514 Like block: Add Reblog setting
  projects/plugins/jetpack/changelog/add-like-block-reblog-setting
  projects/plugins/jetpack/extensions/blocks/like/block.json
  projects/plugins/jetpack/extensions/blocks/like/edit.js
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/extensions/blocks/like/use-fetch-reblog-setting.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34555 AI Usage bar: change color for over soft limit
  projects/plugins/jetpack/changelog/change-ai-usage-bar-soft-limit-color
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-panel/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#34406 cli: Fix build execa `stdio` null handling
  tools/cli/commands/build.js
  tools/cli/helpers/list-project-files.js
  tools/js-tools/check-excludelist-diff.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#34550 tools: Lint tools and .github as 8.2+
  tools/parallel-lint.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#34558 Top Posts & Pages Block: Set Aspect Ratio for Thumbnails
  projects/plugins/jetpack/changelog/update-top-posts-thumbnails
  projects/plugins/jetpack/extensions/blocks/top-posts/style.scss
Labels: OSS Citizen, [Plugin] Jetpack, [Block] Top Posts

#34573 Changelogger: Update Copy of Other Prompt
  tools/cli/commands/changelog.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Tools] Development CLI

#34526 tools, cli: Replace inquirer with enquirer
  pnpm-lock.yaml
  tools/cli/commands/build.js
  tools/cli/commands/changelog.js
  tools/cli/commands/clean.js
  tools/cli/commands/draft.js
  tools/cli/commands/generate.js
  tools/cli/commands/release.js
  tools/cli/commands/rsync.js
  tools/cli/commands/test.js
  tools/cli/helpers/github.js
  tools/cli/helpers/promptForProject.js
  tools/cli/package.json
  tools/js-tools/list-gh-secrets.js
  tools/js-tools/mass-update-gh-secret.js
  tools/js-tools/package.json
Labels: [Type] Enhancement, [Status] In Progress, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#34570 Social Menu, Social Media Icons: update Patreon logo
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.woff2
  projects/plugins/jetpack/changelog/update-patreon-icon
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.svg
  projects/plugins/jetpack/package.json
Labels: [Feature] Extra Sidebar Widgets, [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Status] Needs Team Review, [Plugin] Jetpack

#34578 Jetpack AI: Move feedback control below usage panel
  projects/plugins/jetpack/changelog/update-jetpack-ai-move-feedback-control-below-usage-panel
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#34583 Revert "Contact Form: improve form error message"
  projects/packages/forms/changelog/update-contact-form-error-message
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Forms, [Type] Revert

#34534 Boost: Refactor image CDN quality settings into React
  projects/plugins/boost/app/assets/src/js/features/image-cdn/CollapsibleMeta.svelte
  projects/plugins/boost/app/assets/src/js/features/image-cdn/ImageCdnQualityControl.svelte
  projects/plugins/boost/app/assets/src/js/features/image-cdn/ImageCdnQualitySettings.svelte
  projects/plugins/boost/app/assets/src/js/features/image-cdn/collapsible-meta/collapsible-meta.module.scss
  projects/plugins/boost/app/assets/src/js/features/image-cdn/collapsible-meta/collapsible-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/image-cdn/collapsible-meta/stories/collapsible-meta.stories.tsx
  projects/plugins/boost/app/assets/src/js/features/image-cdn/index.ts
  projects/plugins/boost/app/assets/src/js/features/image-cdn/lib/stores.ts
  projects/plugins/boost/app/assets/src/js/features/image-cdn/lib/stores/image-cdn-store.ts
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-control/quality-control.module.scss
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-control/quality-control.tsx
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-control/stories/quality-control.stories.tsx
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-settings/quality-settings.module.scss
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-settings/quality-settings.tsx
  projects/plugins/boost/app/assets/src/js/features/ui/navigation-link/navigation-link.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/Index.svelte
  projects/plugins/boost/app/assets/src/js/svg/close.svg
  projects/plugins/boost/app/assets/src/js/svg/close.tsx
  projects/plugins/boost/app/assets/src/js/svg/pencil.tsx
  projects/plugins/boost/changelog/boost-react-image-cdn-quality
Labels: [Status] Needs Team Review, [Plugin] Boost

#34529 [Boost] Migrate Speed Score popups to React
  pnpm-lock.yaml
  projects/packages/boost-speed-score/changelog/boost-migrate-score-popout
  projects/packages/boost-speed-score/src/class-speed-score.php
  projects/plugins/boost/app/assets/src/css/components/close-button.scss
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/app/assets/src/js/features/ReactComponent.svelte
  projects/plugins/boost/app/assets/src/js/features/speed-score/PopOut.svelte
  projects/plugins/boost/app/assets/src/js/features/speed-score/Score.svelte
  projects/plugins/boost/app/assets/src/js/features/speed-score/pop-out/pop-out.module.scss
  projects/plugins/boost/app/assets/src/js/features/speed-score/pop-out/pop-out.tsx
  projects/plugins/boost/app/assets/src/js/lib/api/speed-scores.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/prompt.ts
  projects/plugins/boost/changelog/boost-migrate-score-popout
  projects/plugins/boost/package.json
Labels: [Status] Needs Team Review, [Plugin] Boost, [Package] Boost Speed Score

#34565 Refactor full sync chunking to not repeat unnecessary DB queries and processing
  projects/packages/sync/changelog/update-refactor-while-in-full-sync-chunking
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-module.php
  projects/packages/sync/src/modules/class-posts.php
  projects/packages/sync/src/modules/class-term-relationships.php
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack

#34576 Contact form: more defensive in screen checks, avoid PHP warnings
  projects/packages/forms/changelog/fix-contact-form-screen-warnings
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-admin.php
  projects/plugins/jetpack/changelog/fix-contact-form-screen-warnings
  projects/plugins/jetpack/modules/contact-form/admin.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#34543 Paywall: fix pending subscription check
  projects/plugins/jetpack/changelog/fix-paywall-pending-subscription
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-jetpack-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-unconfigured-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-online-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships

#34586 CRM: Resolves 3394 - tighten bulk action permissions
  projects/plugins/crm/changelog/fix-crm-3394-restrict_role_access_to_bulk_action
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.List.php
  projects/plugins/crm/includes/ZeroBSCRM.Permissions.php
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#34593 Subscriptions: fix typo in post publish panel
  projects/plugins/jetpack/changelog/fix-subscribe-post-publish-typo
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
Labels: [Type] Bug, [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#34065 Update check for classic vs. block theme in the WooCommerce Analytics module
  projects/plugins/jetpack/changelog/add-page-view-events-for-wc-checkout-flow
  projects/plugins/jetpack/changelog/update-classic-theme-tracking
  projects/plugins/jetpack/modules/woocommerce-analytics/class-jetpack-woocommerce-analytics.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-checkout-flow.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-trait.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-universal.php
Labels: [Type] Bug, [Pri] Normal, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Plugin] Jetpack

#34591 Fix/eu cookie widget console error
  projects/plugins/jetpack/changelog/fix-eu-cookie-widget-console-error
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/eu-cookie-law.js
Labels: [Feature] Extra Sidebar Widgets, [Status] Ready to Merge, [Plugin] Jetpack

#34598 Subscriptions: consolidate pre/post panel copy to a component
  projects/plugins/jetpack/changelog/update-consolidate-newsletter-affirm-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34569 CRM: Fixing quote date placeholders in the editor, portal, pdf, and mail templates
  projects/plugins/crm/changelog/fix-crm-quote-date-placeholders
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] CRM

#34568 CRM: Fixing assorted placeholders: currency symbol and currency, notes from templates
  projects/plugins/crm/changelog/fix-crm-quote-placeholders-notes-currency
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.QuoteTemplates.php
  projects/plugins/crm/includes/jpcrm-mail-templating.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34602 Fix/fatal subscription service
  projects/plugins/jetpack/changelog/fix-fatal-subscription-service
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34490 CRM: Fix quote placeholders on the quote template, client portal, pdf and emails
  projects/plugins/crm/changelog/fix-crm-quote-date-placeholders
  projects/plugins/crm/changelog/fix-crm-quote-placeholders
  projects/plugins/crm/changelog/fix-crm-quote-placeholders-notes-currency
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.QuoteTemplates.php
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.QuoteBuilder.php
  projects/plugins/crm/includes/jpcrm-mail-templating.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
  projects/plugins/crm/modules/portal/endpoints/class-single-quote-endpoint.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [CRM] Portal Module

#34564 Launchpad: Add WooCommerce Setup task
  projects/packages/jetpack-mu-wpcom/changelog/add-woocommerce-setup-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34606 Revert "Subscriptions: consolidate pre/post panel copy to a component"
  projects/plugins/jetpack/changelog/update-consolidate-newsletter-affirm-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack, [Type] Revert

#34489 Boost: Migrate Critical CSS related components to React
  projects/plugins/boost/app/assets/src/js/features/critical-css/CloudCssMeta.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/CriticalCssMeta.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/CriticalCssShowStopperError.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/FoldingElement.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/MoreList.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/ProgressActivityLabel.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/TimeAgo.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/cloud-css-meta/cloud-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-meta/critical-css-meta.module.scss
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-meta/critical-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state-types.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/more-list/more-list.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/status/status.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/time-ago/time-ago.tsx
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.module.scss
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.tsx
  projects/plugins/boost/app/assets/src/js/features/ui/progress-bar/progress-bar.module.scss
  projects/plugins/boost/app/assets/src/js/features/ui/progress-bar/progress-bar.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/Index.svelte
  projects/plugins/boost/app/assets/src/js/svg/refresh.tsx
  projects/plugins/boost/changelog/update-boost-react-critical-css-status
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Cloud CSS

#34182 Jetpack Social| Fix scheduled posts UI
  projects/js-packages/components/changelog/update-enhance-record-meter-bar
  projects/js-packages/components/changelog/update-share-limits-bar-design
  projects/js-packages/components/components/record-meter-bar/index.tsx
  projects/js-packages/components/components/theme-provider/index.tsx
  projects/js-packages/components/components/theme-provider/types.ts
  projects/js-packages/components/package.json
  projects/js-packages/publicize-components/changelog/add-tests-for-sharing-data
  projects/js-packages/publicize-components/changelog/fix-jetpack-social-sheduled-posts-messaging
  projects/js-packages/publicize-components/changelog/fix-scheduled-post-double-count
  projects/js-packages/publicize-components/changelog/update-share-limits-bar-design
  projects/js-packages/publicize-components/index.ts
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/enabled-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/form/share-count-info.tsx
  projects/js-packages/publicize-components/src/components/form/share-count-notice.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
  projects/js-packages/publicize-components/src/components/form/use-auto-save-and-redirect.ts
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/components/share-limits-bar/index.tsx
  projects/js-packages/publicize-components/src/components/share-limits-bar/styles.module.scss
  projects/js-packages/publicize-components/src/hooks/use-share-limits/index.ts
  projects/js-packages/publicize-components/src/hooks/use-share-limits/test/index.test.tsx
  projects/js-packages/publicize-components/src/hooks/use-social-media-connections/index.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
  projects/js-packages/publicize-components/src/social-store/actions/constants.ts
  projects/js-packages/publicize-components/src/social-store/reducer/connection-data.js
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/resolvers.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/jetpack-settings.js
  projects/js-packages/publicize-components/src/social-store/selectors/shares-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/shares-data.ts
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.test.js
  projects/js-packages/publicize-components/src/social-store/selectors/test/shares-data.test.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/js-packages/publicize-components/src/utils/test-utils.js
  projects/packages/publicize/changelog/fix-jetpack-social-sheduled-posts-messaging
  projects/packages/publicize/changelog/fix-scheduled-post-double-count
  projects/packages/publicize/package.json
  projects/plugins/social/changelog/fix-jetpack-social-sheduled-posts-messaging
  projects/plugins/social/changelog/update-share-limits-bar-design
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/header/styles.module.scss
  projects/plugins/social/src/js/components/share-counter/index.js
  projects/plugins/social/src/js/components/share-counter/styles.module.scss
Labels: [Status] In Progress, DO NOT MERGE, [Status] Needs Team Review, RNA, [JS Package] Components, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#34613 CRM: Making sure Quote Accepted and Last Viewed placeholders remain unrendered in Quote Editor
  projects/plugins/crm/changelog/fix-crm-quote-accepted-placeholder-rendering
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34611 Publicize Components | Move `usePostMeta` from `utils/` to `hooks/`
  projects/js-packages/publicize-components/changelog/update-jp-social-move-use-post-meta-to-hooks
  projects/js-packages/publicize-components/index.ts
  projects/js-packages/publicize-components/src/components/share-buttons/useShareButtonText.ts
  projects/js-packages/publicize-components/src/components/social-previews/mastodon.js
  projects/js-packages/publicize-components/src/components/social-previews/twitter.js
  projects/js-packages/publicize-components/src/components/social-previews/use-post-data.js
  projects/js-packages/publicize-components/src/hooks/use-attached-media/index.js
  projects/js-packages/publicize-components/src/hooks/use-image-generator-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-post-meta/index.js
  projects/js-packages/publicize-components/src/hooks/use-post-meta/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-social-media-message/index.js
  projects/js-packages/publicize-components/src/utils/index.js
Labels: [Status] Needs Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#34572 Like block: Handle the Reblog toggle change
  projects/plugins/jetpack/changelog/add-like-block-handle-reblog-toggle
  projects/plugins/jetpack/extensions/blocks/like/edit.js
  projects/plugins/jetpack/extensions/blocks/like/use-fetch-reblog-setting.js
  projects/plugins/jetpack/extensions/blocks/like/use-set-reblog-setting.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34605 CRM: Resolves 1675 - remove KB links from white label
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/admin/settings/invoicing.page.php
  projects/plugins/crm/admin/settings/quotes.page.php
  projects/plugins/crm/admin/system/assistant.page.php
  projects/plugins/crm/changelog/fix-crm-1675-remove_kb_links_from_white_label
  projects/plugins/crm/includes/ZeroBSCRM.DashboardBoxes.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#34446 CRM: OAuth Connection"s" - update typo
  projects/plugins/crm/admin/settings/main.page.php
  projects/plugins/crm/admin/settings/oauth-connections-edit.page.php
  projects/plugins/crm/admin/settings/oauth-connections.page.php
  projects/plugins/crm/admin/settings/partials/menu.block.php
  projects/plugins/crm/changelog/try-crm-34131_OAuth_Connection-s-_update_typo
Labels: [Status] Needs Author Reply, Docs, Admin Page, [Plugin] CRM

#34600 Disable official buttons option in Sharing Buttons block
  projects/plugins/jetpack/changelog/disable-jetpack-sharing-buttons-official-buttons-option
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/edit.js
Labels: [Status] Needs Review, [Focus] Blocks, [Plugin] Jetpack, [Block] Sharing Buttons

#34628 Revert "Subscriptions: consolidate pre/post panel copy to a component (take 2)"
  projects/plugins/jetpack/changelog/update-consolidate-newsletter-affirm-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack, [Type] Revert

#34625 Like block: Add Learn More link to the Like block inspector
  projects/plugins/jetpack/changelog/add-like-block-learn-more
  projects/plugins/jetpack/extensions/blocks/like/edit.js
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34246 Boost: rewrite SuperCacheInfo component in React
  projects/plugins/boost/app/assets/src/js/features/SuperCacheInfo.svelte
  projects/plugins/boost/app/assets/src/js/features/super-cache-info/super-cache-info.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/measure-super-cache-saving.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/super-cache.ts
  projects/plugins/boost/app/assets/src/js/pages/index/Index.svelte
  projects/plugins/boost/changelog/update-boost-supercache-info
Labels: [Status] Needs Team Review, [Plugin] Boost

#34610 Boost: Refactor speed scores into react
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/score.scss
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.tsx
  projects/plugins/boost/app/assets/src/js/features/performance-history/lib/hooks.ts
  projects/plugins/boost/app/assets/src/js/features/performance-history/performance-history.tsx
  projects/plugins/boost/app/assets/src/js/features/speed-score/Score.svelte
  projects/plugins/boost/app/assets/src/js/features/speed-score/lib/hooks.ts
  projects/plugins/boost/app/assets/src/js/features/speed-score/pop-out/pop-out.tsx
  projects/plugins/boost/app/assets/src/js/features/speed-score/speed-score.module.scss
  projects/plugins/boost/app/assets/src/js/features/speed-score/speed-score.tsx
  projects/plugins/boost/app/assets/src/js/layout/SettingsPage/SettingsPage.svelte
  projects/plugins/boost/changelog/boost-react-score
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/specs/modules/speed-score.test.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#34633 Boost: Fix z-index
  projects/plugins/boost/app/assets/src/js/layout/SettingsPage/SettingsPage.svelte
  projects/plugins/boost/changelog/fix-z-index
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Boost

#34612 Split `PublicizeForm` component
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-split-publicize-form-component
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/advanced-plan-nudge.tsx
  projects/js-packages/publicize-components/src/components/form/auto-conversion-notice.tsx
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/connections-list.tsx
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/form/instagram-no-media-notice.tsx
  projects/js-packages/publicize-components/src/components/form/instagram-supported-notice.tsx
  projects/js-packages/publicize-components/src/components/form/share-post-form.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
  projects/js-packages/publicize-components/src/components/form/unsupported-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/utils.ts
  projects/js-packages/publicize-components/src/components/form/validation-notice.tsx
  projects/js-packages/publicize-components/src/components/message-box-control/index.js
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/plugins/social/changelog/update-split-publicize-form-component
  projects/plugins/social/src/js/components/publicize-panel/index.jsx
Labels: [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components

#34618 Jetpack Boost: Strict TypeScript
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/describe-critical-css-recommendations.ts
  projects/plugins/boost/changelog/boost-react-strict-react
  projects/plugins/boost/package.json
  projects/plugins/boost/rollup-tsconfig.json
  projects/plugins/boost/rollup.config.js
  projects/plugins/boost/tsconfig.json
Labels: [Status] Needs Team Review, [Plugin] Boost, Reviewer Can Merge

#34616 Like block: Add edit view for Like block.
  projects/plugins/jetpack/changelog/add-like-block-edit-view
  projects/plugins/jetpack/extensions/blocks/like/edit.js
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
Labels: [Feature] Likes, [Status] Needs Author Reply, [Plugin] Jetpack, [Block] Likes, [Block] Like

#34579 Launchpad: setup_general task completion callback
  projects/packages/jetpack-mu-wpcom/changelog/fix-setup-general-completion-callback
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34641 AI Assistant: Register ai-logo-generator beta flag
  projects/plugins/jetpack/changelog/add-ai-logo-generator-beta-flag
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant

#34631 Subscriptions: consolidate pre/post panel copy to a component (take 3)
  projects/plugins/jetpack/changelog/update-consolidate-newsletter-affirm-text
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.scss
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
  projects/plugins/jetpack/extensions/shared/memberships/utils.js
Labels: [Status] In Progress, [Block] Subscriptions, [Plugin] Jetpack, [Type] Revert

#34640 CRM: Port back 6.3.1 release changelog, readme, and package updates
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-enhance-record-meter-bar
  projects/js-packages/components/changelog/update-share-limits-bar-design
  projects/js-packages/components/package.json
  projects/plugins/crm/CHANGELOG.md
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/2023-11-20-17-49-45-010348
  projects/plugins/crm/changelog/add-codesniffer-Modernize.FunctionCalls.Dirname.Nested-sniff
  projects/plugins/crm/changelog/add-crm-3393-WordPress-Playground_blueprint
  projects/plugins/crm/changelog/add-declare-php-version-for-all-composer-packages
  projects/plugins/crm/changelog/fix-crm-1675-remove_kb_links_from_white_label
  projects/plugins/crm/changelog/fix-crm-3389-remove_axios_dependencies
  projects/plugins/crm/changelog/fix-crm-3390-bypass_errant-dependency
  projects/plugins/crm/changelog/fix-crm-3394-restrict_role_access_to_bulk_action
  projects/plugins/crm/changelog/fix-crm-quote-accepted-placeholder-rendering
  projects/plugins/crm/changelog/fix-crm-quote-date-placeholders
  projects/plugins/crm/changelog/fix-crm-quote-placeholders
  projects/plugins/crm/changelog/fix-crm-quote-placeholders-notes-currency
  projects/plugins/crm/changelog/init-release-cycle
  projects/plugins/crm/changelog/remove-old-composer-deps
  projects/plugins/crm/changelog/renovate-axios-1.x
  projects/plugins/crm/changelog/renovate-babel-monorepo
  projects/plugins/crm/changelog/renovate-js-unit-testing-packages
  projects/plugins/crm/changelog/renovate-lock-file-maintenance
  projects/plugins/crm/changelog/renovate-mediawiki-mediawiki-codesniffer-42.x
  projects/plugins/crm/changelog/renovate-wikimedia-testing-access-wrapper-3.x
  projects/plugins/crm/changelog/renovate-wordpress-monorepo
  projects/plugins/crm/changelog/try-crm-34131_OAuth_Connection-s-_update_typo
  projects/plugins/crm/changelog/update-php-requirements
  projects/plugins/crm/composer.json
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/package.json
  projects/plugins/crm/readme.txt
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] CRM

#34642 Backport: Backports changes from Backup's release yesterday
  projects/js-packages/components/CHANGELOG.md
  projects/packages/backup-helper-script-manager/CHANGELOG.md
  projects/packages/backup-helper-script-manager/changelog/modify-backup-helper-script-manager-tests-verbosity
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/modify-backup-helper-script-manager-tests-verbosity
  projects/packages/backup/src/class-package-version.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/update-refactor-while-in-full-sync-chunking
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/add-activitylog-menu
  projects/plugins/backup/changelog/add-declare-php-version-for-all-composer-packages
  projects/plugins/backup/changelog/add-jetpack-endpoint-for-jetpack-product-data
  projects/plugins/backup/changelog/add-jetpack-manage-menu-item
  projects/plugins/backup/changelog/add-my-jetpack-plans-dependency
  projects/plugins/backup/changelog/add-my-jetpack-stats-section
  projects/plugins/backup/changelog/add-permanent-wpcom-id
  projects/plugins/backup/changelog/add-private-network-connection
  projects/plugins/backup/changelog/add-send-secret-url-is-ip
  projects/plugins/backup/changelog/add-source-to-jetpack-connect-url
  projects/plugins/backup/changelog/add-verbum-subscription-modal-settings
  projects/plugins/backup/changelog/earn-remove-connected-account-id-option-2
  projects/plugins/backup/changelog/fix-autoloader-self-version
  projects/plugins/backup/changelog/fix-connection-partner-standalone-sites
  projects/plugins/backup/changelog/fix-idc-search-replace-protection
  projects/plugins/backup/changelog/fix-videopress-upgrade-path
  projects/plugins/backup/changelog/init-release-cycle
  projects/plugins/backup/changelog/jitm-redirection-after-activate-click
  projects/plugins/backup/changelog/jitm-redirection-after-activate-click#2
  projects/plugins/backup/changelog/modify-backup-helper-script-manager-tests-verbosity
  projects/plugins/backup/changelog/prerelease
  projects/plugins/backup/changelog/refactor-social-register-feature-settings
  projects/plugins/backup/changelog/remove-old-composer-deps
  projects/plugins/backup/changelog/remove-unneeded-condition-from-product-data-api
  projects/plugins/backup/changelog/renovate-lock-file-maintenance
  projects/plugins/backup/changelog/renovate-lock-file-maintenance#2
  projects/plugins/backup/changelog/renovate-lock-file-maintenance#3
  projects/plugins/backup/changelog/renovate-lock-file-maintenance#4
  projects/plugins/backup/changelog/renovate-wikimedia-testing-access-wrapper-3.x
  projects/plugins/backup/changelog/update-add-bots-sig-to-ua-detection
  projects/plugins/backup/changelog/update-changelog-stable-tag
  projects/plugins/backup/changelog/update-composer-2.6
  projects/plugins/backup/changelog/update-dedicated-sync-init-hook-priority
  projects/plugins/backup/changelog/update-jetpack-no-disconnect-on-uninstall
  projects/plugins/backup/changelog/update-jitm-tracking-props
  projects/plugins/backup/changelog/update-my-jetpack-ctas
  projects/plugins/backup/changelog/update-php-requirements
  projects/plugins/backup/changelog/update-php-requirements#2
  projects/plugins/backup/changelog/update-refactor-data-request-for-my-jetpack-cards
  projects/plugins/backup/changelog/update-sync-migrate-before-send-to-before-enqueue
  projects/plugins/backup/changelog/update-tested-up-to-64
  projects/plugins/backup/changelog/update-unpurchased-backup-card-state-my-jetpack
  projects/plugins/backup/changelog/update-vaultpress-backup-card-purchased-state
  projects/plugins/backup/changelog/update-wp-requirements-63
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
Labels: Docs, [Status] Needs Review, [Package] Sync, RNA, [Package] Backup, [Plugin] Backup, [JS Package] Components, [Package] Backup Helper Script Manager

#34622 Contact Form: build JS assets
  projects/packages/forms/changelog/update-contact-form-build
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-admin.php
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-editor-view.php
  projects/packages/forms/src/contact-form/class-form-view.php
  projects/packages/forms/tools/webpack.config.contact-form.js
  projects/plugins/jetpack/changelog/update-contact-form-build
  projects/plugins/jetpack/composer.lock
Labels: [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#34551 Launchpad: Add sensei setup task
  projects/packages/jetpack-mu-wpcom/changelog/add-sensei-setup-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#34636 Social: Fix register_settings namespace php error
  projects/packages/publicize/changelog/fix-social-auto-conversion-php-error
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Publicize

#34651 tools: Fix `svn status` parsing
  .github/files/gh-wp-svn-autopublish/files/wp-svn-autopublish.sh
  tools/deploy-assets-to-svn.sh
  tools/deploy-to-svn.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#34646 Like block: temporarily hide the Reblog setting toggle
  projects/plugins/jetpack/changelog/update-like-block-reblog-toggle-display
  projects/plugins/jetpack/extensions/blocks/like/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34654 Jetpack: Fix OpenTable block input jumping around
  projects/plugins/jetpack/changelog/fix-blocks-for-gutenberg-17.2.1
  projects/plugins/jetpack/extensions/blocks/opentable/editor.scss
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Block] OpenTable, [Plugin] Jetpack

#34643 Subscribers: pre/post-publish panel, show correct subs count with paywall
  projects/plugins/jetpack/changelog/fix-correct-subs-count-with-paywall
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack

#34412 Refactor checkout modal
  projects/plugins/jetpack/changelog/refactor-memberships-checkout-modal
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
  projects/plugins/jetpack/extensions/shared/memberships.js
  projects/plugins/jetpack/extensions/shared/memberships.scss
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack, [Feature] Memberships, [Block] Donations

#34597 Woo Express Trial: Add `was_upgraded_from_trial` flag
  projects/plugins/jetpack/changelog/add-flag-for-expired-plans
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Feature] WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#34655 Backport mu-wpcom-plugin 2.0.6, jetpack 13.0-a.3 Changes
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/add-tests-for-sharing-data
  projects/js-packages/publicize-components/changelog/fix-jetpack-social-sheduled-posts-messaging
  projects/js-packages/publicize-components/changelog/fix-scheduled-post-double-count
  projects/js-packages/publicize-components/changelog/update-jp-social-move-use-post-meta-to-hooks
  projects/js-packages/publicize-components/changelog/update-share-limits-bar-design
  projects/js-packages/publicize-components/changelog/update-split-publicize-form-component
  projects/js-packages/publicize-components/package.json
  projects/packages/boost-speed-score/CHANGELOG.md
  projects/packages/boost-speed-score/changelog/boost-migrate-score-popout
  projects/packages/boost-speed-score/src/class-speed-score.php
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/fix-contact-form-screen-warnings
  projects/packages/forms/changelog/update-contact-form-build
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-context-for-api-requests
  projects/packages/jetpack-mu-wpcom/changelog/add-sensei-setup-task
  projects/packages/jetpack-mu-wpcom/changelog/add-woocommerce-setup-task
  projects/packages/jetpack-mu-wpcom/changelog/fix-setup-general-completion-callback
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/fix-jetpack-social-sheduled-posts-messaging
  projects/packages/publicize/changelog/fix-scheduled-post-double-count
  projects/packages/publicize/changelog/fix-social-auto-conversion-php-error
  projects/packages/publicize/package.json
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-ai-logo-generator-beta-flag
  projects/plugins/jetpack/changelog/add-like-block-edit-view
  projects/plugins/jetpack/changelog/add-like-block-handle-reblog-toggle
  projects/plugins/jetpack/changelog/add-like-block-learn-more
  projects/plugins/jetpack/changelog/add-page-view-events-for-wc-checkout-flow
  projects/plugins/jetpack/changelog/disable-jetpack-sharing-buttons-official-buttons-option
  projects/plugins/jetpack/changelog/fix-blocks-for-gutenberg-17.2.1
  projects/plugins/jetpack/changelog/fix-contact-form-screen-warnings
  projects/plugins/jetpack/changelog/fix-eu-cookie-widget-console-error
  projects/plugins/jetpack/changelog/fix-fatal-subscription-service
  projects/plugins/jetpack/changelog/fix-paywall-pending-subscription
  projects/plugins/jetpack/changelog/fix-subscribe-post-publish-typo
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/modify-backup-helper-script-manager-tests-verbosity
  projects/plugins/jetpack/changelog/update-classic-theme-tracking
  projects/plugins/jetpack/changelog/update-consolidate-newsletter-affirm-text
  projects/plugins/jetpack/changelog/update-contact-form-build
  projects/plugins/jetpack/changelog/update-like-block-reblog-toggle-display
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-launchpad-context-for-api-requests
  projects/plugins/mu-wpcom-plugin/changelog/renovate-lock-file-maintenance
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Contact Form, Docs, [Status] Ready to Merge, [Plugin] Jetpack, RNA, [Package] Publicize, [JS Package] Publicize Components, [Package] Forms, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] Boost Speed Score

#34660 [Boost] Exclude charset from Critcial CSS
  pnpm-lock.yaml
  projects/plugins/boost/changelog/boost-exclude-charsets
  projects/plugins/boost/package.json
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Boost

#34639 Like block: inactivate block when the Likes module or related site options are disabled
  projects/plugins/jetpack/changelog/fix-like-block-disabled-case
  projects/plugins/jetpack/extensions/blocks/like/like.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34650 Like block: remove condition that decided whether to display Like block or Like widget (Jetpack & WoA sites)
  projects/plugins/jetpack/changelog/remove-like-block-special-treatment
  projects/plugins/jetpack/modules/likes.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#34615 Form block: hide 'lead capture' variation for WP.com Atomic sites
  projects/packages/forms/changelog/update-forms-lead-capture-atomic
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/class-jetpack-forms.php
  projects/plugins/jetpack/changelog/update-forms-lead-capture-atomic
  projects/plugins/jetpack/composer.lock
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#34663 Newsletter post publish: show initially closed instead of open
  projects/plugins/jetpack/changelog/update-newsletter-post-publish-initially-closed
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34592 Subscriptions: add "Send as email" toggle
  projects/plugins/jetpack/changelog/add-dont-email-to-subs-toggle
  projects/plugins/jetpack/extensions/blocks/subscriptions/constants.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/shared/memberships/constants.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Status] In Progress, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34630 Contact Form: add missing Required toolbar button to Checkbox field
  projects/packages/forms/changelog/fix-contact-form-required-checkbox
  projects/packages/forms/src/blocks/contact-form/components/block-controls/toolbar-required-group.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-checkbox.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
Labels: [Feature] Contact Form, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#34632 Contact Form: align half-width fields on same row
  projects/packages/forms/changelog/fix-contact-form-input-stacking
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Feature] Contact Form, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#34629 Contact Form: improve form error message 2
  projects/packages/forms/changelog/update-contact-form-error-message
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Feature] Contact Form, [Focus] Accessibility, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#34666 Social: Fix auto-conversion cleanup logic
  projects/packages/publicize/changelog/fix-social-auto-conversion-cleanup-logic
  projects/packages/publicize/package.json
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Publicize

#34648 Launchpad: Improve the WC task visibility check
  projects/packages/jetpack-mu-wpcom/changelog/update-improve-wc-visibility-check
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/update-improve-wc-task-check
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad

#34652 Improve sharing buttons events performance
  projects/plugins/jetpack/changelog/improve-sharing-buttons-events-performance
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/save.js
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.js
Labels: [Status] Needs Review, [Focus] Blocks, [Plugin] Jetpack, [Block] Sharing Buttons, [Block] Sharing Button

#34676 Backport mu-wpcom-plugin 2.0.7, jetpack 13.0-a.5 Changes
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/fix-contact-form-input-stacking
  projects/packages/forms/changelog/fix-contact-form-required-checkbox
  projects/packages/forms/changelog/update-contact-form-error-message
  projects/packages/forms/changelog/update-forms-lead-capture-atomic
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/update-improve-wc-visibility-check
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/fix-social-auto-conversion-cleanup-logic
  projects/packages/publicize/package.json
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-dont-email-to-subs-toggle
  projects/plugins/jetpack/changelog/add-flag-for-expired-plans
  projects/plugins/jetpack/changelog/fix-correct-subs-count-with-paywall
  projects/plugins/jetpack/changelog/fix-like-block-disabled-case
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/refactor-memberships-checkout-modal
  projects/plugins/jetpack/changelog/remove-like-block-special-treatment
  projects/plugins/jetpack/changelog/update-forms-lead-capture-atomic
  projects/plugins/jetpack/changelog/update-newsletter-post-publish-initially-closed
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/update-improve-wc-task-check
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Contact Form, Docs, [Status] Needs Review, [Plugin] Jetpack, [Package] Publicize, [Package] Forms, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#34679 Cleanup quick wins after feedback
  projects/js-packages/ai-client/changelog/remove-back-to-edit-ai-assistant
  projects/js-packages/ai-client/changelog/remove-cancel-button-on-blank-ai-assistant
  projects/plugins/jetpack/changelog/change-ai-assistant-dont-rotate-placeholder
  projects/plugins/jetpack/changelog/remove-cancel-button-on-blank-ai-assistant
Labels: [Status] Needs Author Reply, [Type] Janitorial, [Plugin] Jetpack, RNA, [JS Package] AI Client

#34678 Carousel: fix unresponsive navigation
  projects/plugins/jetpack/changelog/fix-frozen-carousel-buttons
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: [Feature] Carousel, [Status] Needs Team Review, [Plugin] Jetpack

#34674 Admin Menu: check for both plan feature variants
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/changelog/update-supports-checks
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Status] Needs Review, Customer Report, [Plugin] Jetpack, Reviewer Can Merge

#34608 Jetpack Google Fonts: Fix the fonts provided by theme are still added
  projects/plugins/jetpack/changelog/fix-google-fonts-exclude-theme-fonts
  projects/plugins/jetpack/modules/google-fonts/current/class-jetpack-google-font-face.php
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack, [Feature] Google Fonts

#34689 Subscriptions: fix reach count above 1000 in editor pre- & post-publish panel
  projects/plugins/jetpack/changelog/fix-subscription-reach-count
  projects/plugins/jetpack/extensions/shared/memberships/subscribers-affirmation.js
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack
