Repository Automattic/jetpack, pull requests merged in 2023-09, with the labels that each got.

#32746 Add blogroll item block
  projects/plugins/jetpack/changelog/add-blogroll-item
  projects/plugins/jetpack/extensions/README.md
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/blogroll-item.php
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/editor.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/editor.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/icon.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll.php
  projects/plugins/jetpack/extensions/blocks/blogroll/editor.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, Docs, [Plugin] Jetpack, [Block] Blogroll, [Block] Blogroll Item

#32780 Boost: Add Image CDN quality control
  projects/js-packages/components/changelog/rename-number-slider
  projects/js-packages/components/components/number-slider/index.tsx
  projects/js-packages/components/components/number-slider/stories/index.stories.tsx
  projects/js-packages/components/components/number-slider/style.scss
  projects/js-packages/components/components/number-slider/test/component.tsx
  projects/js-packages/components/components/number-slider/types.ts
  projects/js-packages/components/components/pricing-slider/test/component.tsx
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/js/elements/NumberSlider.svelte
  projects/plugins/boost/app/assets/src/js/elements/Tooltip.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CollapsibleMeta.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ImageCdnQualityControl.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ImageCdnQualitySettings.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/stores/image-cdn.ts
  projects/plugins/boost/app/assets/src/js/stores/premium-features.ts
  projects/plugins/boost/app/data-sync/Premium_Features_Entry.php
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/app/modules/optimizations/image-cdn/class-image-cdn.php
  projects/plugins/boost/changelog/add-photon-quality-control
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Boost, [Boost Feature] Optimizations, [Tests] Includes Tests

#32690 Boost: Show Performance History upgrade notice
  projects/js-packages/components/changelog/add-popover
  projects/js-packages/components/components/boost-score-graph/background.tsx
  projects/js-packages/components/components/boost-score-graph/index.tsx
  projects/js-packages/components/components/boost-score-graph/stories/index.stories.tsx
  projects/js-packages/components/components/boost-score-graph/style.scss
  projects/js-packages/components/components/boost-score-graph/types/declarations.d.ts
  projects/js-packages/components/components/boost-score-graph/uplot-line-chart.tsx
  projects/js-packages/components/components/boost-score-graph/use-boost-score-transform.ts
  projects/js-packages/components/components/gridicon/index.tsx
  projects/js-packages/components/components/popover/index.tsx
  projects/js-packages/components/components/popover/stories/index.stories.tsx
  projects/js-packages/components/components/popover/style.scss
  projects/js-packages/components/index.ts
  projects/js-packages/storybook/changelog/update-storybook-config
  projects/js-packages/storybook/storybook/projects.js
  projects/plugins/boost/app/assets/src/css/components/performance-history.scss
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/History.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Score.svelte
  projects/plugins/boost/app/assets/src/js/react-components/PerformanceHistory.tsx
  projects/plugins/boost/app/assets/src/js/react-components/stories/performance-history.stories.tsx
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/app/modules/Modules_Index.php
  projects/plugins/boost/app/modules/performance-history/Performance_History.php
  projects/plugins/boost/changelog/add-performance-history-upgrade-notice
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [Boost Feature] Performance History

#32685 Boost: Improve ISA error UI
  projects/packages/boost-core/changelog/fix-wpcom-request-always-returning-defaults
  projects/packages/boost-core/package.json
  projects/packages/boost-core/src/lib/class-utils.php
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/utils/get-isa-error-suggestion.ts
  projects/plugins/boost/changelog/update-isa-error-ui
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium, [Boost Feature] Image Size Analysis, [Package] Boost Core

#32691 Boost: Add a notice for fresh start
  projects/js-packages/components/changelog/allow-optional-score-graph-args
  projects/js-packages/components/components/boost-score-graph/index.tsx
  projects/plugins/boost/app/assets/src/css/components/performance-history.scss
  projects/plugins/boost/app/assets/src/js/react-components/PerformanceHistory.tsx
  projects/plugins/boost/changelog/add-updated-notice
Labels: [Status] In Progress, RNA, [JS Package] Components, [Plugin] Boost, [JS Package] Storybook, [Boost Feature] Performance History

#32790 Launchpad: Fixes the task path property
  projects/packages/jetpack-mu-wpcom/changelog/update-use-get-calypso-path-prop
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#32801 Paywall Block: Update Settings panel
  projects/plugins/jetpack/changelog/update-paywall-block-panel
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] Paywall

#32798 AI Extension: Remove HTML fragments from AI-generated forms on site editor
  projects/plugins/jetpack/changelog/fix-ai-assistant-site-editor-html
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/ui-handler/with-ui-handler-data-provider.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/utils/compare-blocks.ts
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension, [Extension] Ai Assistant

#32736 Blogroll: wire site recommendations endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-following.php
  projects/plugins/jetpack/changelog/add-blogroll-recommendations
  projects/plugins/jetpack/extensions/blocks/blogroll/use-recommendations.js
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Blogroll

#32448 CRM Automations: Add Bulk Workflow Actions Component
  projects/plugins/crm/changelog/add-crm-workflow-bulk-actions
  projects/plugins/crm/src/js/components/automations-admin/components/bulk-workflow-actions/index.tsx
  projects/plugins/crm/src/js/components/automations-admin/components/bulk-workflow-actions/styles.module.scss
  projects/plugins/crm/src/js/components/automations-admin/index.tsx
Labels: [Status] Needs Review, [Plugin] CRM, [Tests] Includes Tests, [CRM] Automations Module

#32671 Social: Use Auto Conversion logic on the UI
  projects/js-packages/publicize-components/changelog/update-editor-notices-for-auto-conversion
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/styles.module.scss
  projects/js-packages/publicize-components/src/components/media-section/test/index.test.js
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/hooks/use-dismiss-notice/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/packages/publicize/changelog/update-editor-notices-for-auto-conversion
  projects/packages/publicize/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/update-editor-notices-for-auto-conversion
  projects/plugins/social/changelog/update-editor-notices-for-auto-conversion
  projects/plugins/social/changelog/update-editor-notices-for-auto-conversion#2
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/publicize-panel/index.jsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#32768 Remove unused variable
  projects/plugins/jetpack/changelog/add-fix-front-end-bug
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/inspector-control.js
  projects/plugins/jetpack/extensions/shared/test/stripe-nudge-test.js
Labels: [Status] Needs Review, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#32810 Launchpad: Update/remove launchpad launched check
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-launchpad-launched-check
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#32726 Add Jetpack AI forms section to Forms landing page
  pnpm-lock.yaml
  projects/packages/forms/assets/images/ai-forms.png
  projects/packages/forms/changelog/add-ai-forms-section-to-forms-landing-page
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/landing/index.js
  projects/packages/forms/src/dashboard/landing/style.scss
  projects/plugins/jetpack/changelog/add-ai-forms-section
  projects/plugins/jetpack/composer.lock
Labels: [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms

#32821 Boost: Fix performance history availability
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/changelog/fix-performance-history-availability
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#32796 Launchpad: Adapt the pre launch tasks to work on the Customer Home
  projects/packages/jetpack-mu-wpcom/changelog/update-pre-launch-write-customer-home
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#32830 Bump package versions
  projects/js-packages/base-styles/changelog/fix-versions
  projects/js-packages/base-styles/package.json
  projects/js-packages/boost-score-api/changelog/fix-versions
  projects/js-packages/boost-score-api/package.json
  projects/js-packages/components/changelog/fix-versions
  projects/js-packages/components/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, RNA, [JS Package] Components, [JS Package] Base Styles, [JS Package] Boost Score Api

#32622 Cookie consent: remove fixed position in the editor
  projects/plugins/jetpack/changelog/y
  projects/plugins/jetpack/extensions/blocks/cookie-consent/common.scss
  projects/plugins/jetpack/extensions/blocks/cookie-consent/style.scss
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Cookie Consent

#32813 Paywall: Update email verification pending copy.
  projects/plugins/jetpack/changelog/pdate-paywall-subscription-pending-2
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#32809 Paywall block: Better excerpts
  projects/plugins/jetpack/changelog/update-paywall-block-excerpts
  projects/plugins/jetpack/extensions/blocks/paywall/paywall.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack, [Block] Paywall

#32827 Create with voice: show duration and audio player when recording audio
  projects/plugins/jetpack/changelog/update-create-with-voice-show-audio-duration
  projects/plugins/jetpack/extensions/blocks/create-with-voice/edit.tsx
  projects/plugins/jetpack/extensions/blocks/create-with-voice/editor.scss
Labels: Docs, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [JS Package] AI Client, [Block] Create With Voice

#32847 ContentLens: add `ai-content-lens` beta extension
  projects/plugins/jetpack/changelog/update-add-ai-content-lens-feature
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32845 ContentLens: replace AI Post Excerpt with core post excerpt
  projects/plugins/jetpack/changelog/update-ai-driven-content-anlysis-extend-sidebar-excerpt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32849 Paywall: Add login link to simple sites
  projects/plugins/jetpack/changelog/update-paywall-add-login-link
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#32867 Update/hide subscribe modal on post access
  projects/plugins/jetpack/changelog/update-hide-subscribe-modal-on-post-access
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Feature] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#32838 Import: import attachment improvement
  projects/packages/import/changelog/update-import-attachment-improvement
  projects/packages/import/package.json
  projects/packages/import/src/class-main.php
  projects/packages/import/src/endpoints/class-attachment.php
Labels: [Status] Needs Team Review, [Package] Import

#32851 Add Calypso paths for free intent tasks
  projects/packages/jetpack-mu-wpcom/changelog/add-calypso-paths-for-free-intent-tasks
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/bump-mu-wpcom-plugin-version
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, Reviewer Can Merge, [mu wpcom Feature] Launchpad

#32874 Boost: Add image CDN upgrade prompt
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ImageCdnQualitySettings.svelte
  projects/plugins/boost/changelog/add-image-cdn-upgrade
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#32880 Boost: Add image CDN quality benefits listing
  projects/plugins/boost/app/assets/src/js/pages/benefits/BenefitsInterstitial.svelte
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/add-benefits-listing
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#32834 beta: Chain PHP error handlers
  projects/plugins/beta/changelog/fix-beta-chain-error-handlers
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/beta/src/class-hooks.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Beta

#32775 ci: On release branches, build/test relevant plugins only
  .github/files/list-changed-projects.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions

#32807 Setup blogroll attributes and context
  projects/plugins/jetpack/changelog/setup-blogroll-attr-ctx
  projects/plugins/jetpack/extensions/blocks/blogroll/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/common.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/editor.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/style.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/test/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/test/fixtures/jetpack__blogroll.json
  projects/plugins/jetpack/extensions/blocks/blogroll/test/fixtures/jetpack__blogroll.parsed.json
Labels: [Status] In Progress, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Blogroll

#32697 Enable block registration by specifying the path to block.json
  projects/packages/blocks/changelog/add-enable-block-registration-by-path
  projects/packages/blocks/composer.json
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/fixtures/block.json
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/add-enable-block-registration-by-path
  projects/plugins/jetpack/changelog/add-enable-block-registration-by-path#2
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Package] Blocks, [Plugin] Jetpack, [Tests] Includes Tests

#32882 Add Calypso paths for newsletter tasks
  projects/packages/jetpack-mu-wpcom/changelog/add-calypso-paths-for-launchpad-newsletter-tasks
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#32887 Paywall: Update login link
  projects/plugins/jetpack/changelog/update-paywall-login-link
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#32894 jetpack: Restore some WP Requests library v1 back-compat code
  projects/plugins/jetpack/_inc/lib/class-jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-resolve-redirect.php
  projects/plugins/jetpack/changelog/fix-wpcom-isnt-fully-on-WP-6.2-yet-despite-claiming-theyre-on-6.3.1
Labels: [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#32896 Release mu-wpcom-plugin and jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-calypso-paths-for-free-intent-tasks
  projects/packages/jetpack-mu-wpcom/changelog/add-calypso-paths-for-launchpad-newsletter-tasks
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/bump-mu-wpcom-plugin-version
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, Reviewer Can Merge

#32869 Add some subscription meta if exists.
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#32902 Bump jetpack-mu-wpcom to 4.8.0-alpha
  projects/packages/jetpack-mu-wpcom/changelog/bump-jetpack-mu-wpcom-4-8-0-alpa
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/changelog/2023-09-06-18-07-19-807253
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#32912 Add meta to subscription form GET parameters.
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#32846 ContentLens: Add AI control to the Excerpt panel
  projects/plugins/jetpack/changelog/udpate-content-lens-add-AI-controls
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#32886 AI Client: add and expose reset() from useAiSuggestions() hook
  projects/js-packages/ai-client/changelog/update-ai-client-add-reset-suggestion-helper
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/Readme.md
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
Labels: Docs, [Status] Needs Team Review, [Size] S, RNA, [JS Package] AI Client

#32881 AI Excerpt: show excerpt number of words
  projects/plugins/jetpack/changelog/update-ai-excerpt-count-words
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/style.scss
Labels: [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#32875 Content Lens: connect Excerpt UI with data layer
  projects/plugins/jetpack/changelog/update-content-lens-connect-with-data-layer
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32889 AI Excerpt: Add `Accept` button
  projects/plugins/jetpack/changelog/update-ai-excerpt-add-use-button
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/style.scss
Labels: Docs, [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [AI Feature] AI Extension

#32900 WPCOM Media: Add HEIC/HEIF image upload support
  projects/packages/jetpack-mu-wpcom/changelog/improve-jetpack-wpcom-heif-support
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/media/heif-support.php
Labels: [Status] Needs Team Review, Media, [Package] Jetpack mu wpcom, [mu wpcom Feature] Media

#32917 AI Excerpt: show notice when request fails
  projects/plugins/jetpack/changelog/update-ai-excerpt-show-notice-re-attemps-when-error
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32890 AI Excerpt: Add `discard` button
  projects/plugins/jetpack/changelog/update-ai-excerpt-add-discard-button
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [AI Feature] AI Extension

#32923 Release mu-wpcom-plugin v1.6.18
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-marketplace-products-updater
  projects/packages/jetpack-mu-wpcom/changelog/bump-jetpack-mu-wpcom-4-8-0-alpa
  projects/packages/jetpack-mu-wpcom/changelog/improve-jetpack-wpcom-heif-support
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/2023-09-06-18-07-19-807253
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#32666 Newsletter categories: Render non-interactive newsletter category pills in the editor
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-newsletter-categories-list.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/trait-wpcom-rest-api-proxy-request-trait.php
  projects/plugins/jetpack/changelog/add-subscription-block-add-newsletter-categories
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/hooks/use-newsletter-categories.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Feature] Subscriptions, [Feature] WPCOM API, [Status] Ready to Merge, [Block] Subscriptions, Actions, [Package] Blocks, [Plugin] Jetpack, [Tests] Includes Tests

#32839 Blogroll: create blocks from recommendations
  projects/plugins/jetpack/changelog/add placeholder recommendations
  projects/plugins/jetpack/extensions/blocks/blogroll/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/editor.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/test/fixtures/jetpack__blogroll.json
Labels: [Status] In Progress, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Blogroll

#32911 Utilize the Admin UI package for handling the Akismet menu
  projects/plugins/jetpack/changelog/update-dedupe-antispam
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Feature] Akismet, [Plugin] Jetpack

#32924 AI Excerpt: disable Generate button
  projects/plugins/jetpack/changelog/update-ai-excerpt-disable-generate-button
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/style.scss
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#32927 AI Excerpt: do not disable Generate button when there is a request error
  projects/plugins/jetpack/changelog/update-ai-excerpt-do-not-disable-when-error
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32895 AI Excerpt: show upgrade banner
  projects/plugins/jetpack/changelog/update-ai-excerpt-show-upgrade-banner
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/style.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32916 Repo gardening: update stats label name
  projects/github-actions/repo-gardening/changelog/update-stats-module-label-name
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#32925 Main readme: update and remove outdated section
  readme.md
Labels: General, Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Low

#32908 Update various forms of referring to anti-spam to all use Akismet Anti-spam
  projects/packages/admin-ui/changelog/update-akismet
  projects/packages/admin-ui/package.json
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/plugins/jetpack/changelog/update-akismet
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, [Feature] Akismet, [Plugin] Jetpack, [Package] Admin Ui

#32904 Fix two year plans not showing up in my plan
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/fix-two-year-plans-not-showing-up-in-my-plan
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack

#32921 Widgets Save Snackbar: Notice overlaps admin menu
  projects/plugins/jetpack/changelog/fix-edit-widget-snackbar-notice-overlaps-admin-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.css
Labels: [Type] Bug, [Status] Ready to Merge, [Feature] Masterbar, [Plugin] Jetpack

#32712 Social: Add the change setting logic to the auto-conversion feature
  projects/js-packages/publicize-components/changelog/add-change-settings-logic-for-auto-conversion
  projects/js-packages/publicize-components/index.js
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-refresh-auto-conversion-settings/index.js
  projects/js-packages/publicize-components/src/social-store/actions/auto-conversion-settings.js
  projects/js-packages/publicize-components/src/social-store/index.js
  projects/plugins/jetpack/changelog/add-change-settings-logic-for-auto-conversion
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/social/changelog/add-change-settings-logic-for-auto-conversion
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/publicize-panel/index.jsx
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#32824 Featured images fallback: add srcset, width/height, and loading attributes
  projects/plugins/jetpack/changelog/update-featured-images-fallback-add-srcset
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images-fallback.php
Labels: [Type] Enhancement, [Feature] Theme Tools, [Focus] Performance, [Status] Ready to Merge, [Status] Needs Testing, [Plugin] Jetpack

#32928 Fix newsletter tiers feature :: radio control
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Status] Needs Author Reply, [Plugin] Jetpack

#32926 docker: Update logic for installing nodejs
  tools/cli/commands/docker.js
  tools/docker/Dockerfile
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Docker, [Tools] Development CLI

#32741 AI Chat block: First pass at chatting with site functionality
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-ai.php
  projects/plugins/jetpack/changelog/update-ai-chat-block
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/ai-chat/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/controls.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/question-answer.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/save.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-feedback.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-question.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Chat

#32951 CRM: Resolves #3306 - fix unit test deprecation notices
  projects/plugins/crm/changelog/fix-crm-3306-fix_unit_test_deprecation_notices
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/includes/class-crm-modules.php
  projects/plugins/crm/includes/jpcrm-dependency-checker.php
  projects/plugins/crm/includes/jpcrm-feature-sniffer.php
  projects/plugins/crm/phpunit.xml.dist
  projects/plugins/crm/tests/php/bootstrap.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests

#32891 AI Excerpt: save the post before to request excerpt
  projects/plugins/jetpack/changelog/update-ai-excerpt-save-post-before-to-ask
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32941 Paywall: Login link to all users on Simple
  projects/plugins/jetpack/changelog/update-paywall-open-login-link
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#32903 CRM: Resolves #3302 - old branding leakage
  projects/plugins/crm/changelog/fix-crm-3302-old_brand_leakage
  projects/plugins/crm/public/forms/form-content.php
  projects/plugins/crm/public/forms/form-naked.php
  projects/plugins/crm/public/forms/form-simple.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#32915 Docker: silence errors for not defined constants on uninstall
  tools/docker/bin/uninstall.sh
Labels: [Type] Enhancement, [Status] Needs Review, Docker

#32963 Launchpad/navigator api endpoint
  projects/packages/jetpack-mu-wpcom/changelog/launchpad-navigator-api-endpoint
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-navigator.php
  projects/plugins/mu-wpcom-plugin/changelog/launchpad-navigator-api-endpoint
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Endpoints

#32965 Launchpad/get current checklist
  projects/packages/jetpack-mu-wpcom/changelog/launchpad-get-current-checklist
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-navigator.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#32961 SAL: Defenseive coding for optionally returned item
  projects/plugins/jetpack/changelog/fix-undefined-key
  projects/plugins/jetpack/sal/class.json-api-post-base.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack, User Report, Reviewer Can Merge

#32938 Social: Limit auto-conversion accepted types
  projects/js-packages/publicize-components/changelog/change-limit-auto-conversion-convertible-types
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/restrictions.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#32943 AI Excerpt: re-enable generate button when options change
  projects/plugins/jetpack/changelog/update-ai-escerpt-re-enable-when-options-change
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/content-lens/plugins/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32962 SAL: prevent a potential undefined function error
  projects/plugins/jetpack/changelog/fix-undefined-function-code
  projects/plugins/jetpack/sal/class.json-api-post-base.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack, Reviewer Can Merge

#32922 Social: Disable `Share as a social post` if there is no media
  projects/js-packages/publicize-components/changelog/change-disable-share-as-social-post-logic
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/social-post-control/index.js
  projects/js-packages/publicize-components/src/components/social-post-control/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#32850 Add/allow premium to use subcribe as site subscriber
  projects/plugins/jetpack/changelog/add-allow-premium-to-use-subcribe_as_site_subscriber
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
Labels: [Status] Needs Review, [Plugin] Jetpack

#32919 Remove style from calypsoify
  projects/plugins/jetpack/changelog/remove-style-from-calypsoify
  projects/plugins/jetpack/modules/calypsoify/_colors.scss
  projects/plugins/jetpack/modules/calypsoify/_studio-wpcom.scss
  projects/plugins/jetpack/modules/calypsoify/gutenberg-styles/button.scss
  projects/plugins/jetpack/modules/calypsoify/mods-gutenberg.js
  projects/plugins/jetpack/modules/calypsoify/style-gutenberg.scss
  projects/plugins/jetpack/modules/calypsoify/style.scss
Labels: [Type] Bug, [Feature] Calypsoify, [Status] Needs Team Review, [Plugin] Jetpack

#32899 ci: On the prerelease branch, don't build/test plugins
  .github/files/list-changed-projects.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions

#32940 Jetpack Sync: Drop Sync custom queue table when Jetpack is disconnected
  projects/packages/sync/changelog/update-sync-drop-table-on-disconnection
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-main.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-sync-drop-table-on-disconnection
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#32756 Subscription Block: Add newsletter categories to the content view
  projects/plugins/jetpack/changelog/add-newsletter-categories-content-view
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Feature] Subscriptions, [Block] Subscriptions, [Status] Needs Team Review, [Package] Blocks, [Plugin] Jetpack, [Action] Repo Gardening

#32977 AI Excerpt: the extension isn't properly supported by P2 sites. Disable for now.
  projects/plugins/jetpack/changelog/update-ai-excerpt-disable
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
Labels: [Type] Bug, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#32972 AI Chat: Make it work on WPCOM
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-ai.php
  projects/plugins/jetpack/changelog/chat-with-site-wpcom
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/ai-chat/question-answer.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-feedback.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-question.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Chat

#32680 VideoPress: Check if module is active before initializing
  projects/packages/videopress/changelog/change-videopress-block-registration-check
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/changelog/change-videopress-block-registration-check
  projects/plugins/jetpack/changelog/change-videopress-block-registration-check#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/change-videopress-block-registration-check
  projects/plugins/videopress/composer.lock
Labels: [Type] Bug, [Feature] VideoPress, [Status] Ready to Merge, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress

#32987 Updated to-test.md for the 12.6 beta.
  projects/plugins/jetpack/changelog/update-to-test-12.6-beta
  projects/plugins/jetpack/to-test.md
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#32983 Update Jetpack 12.6 readme.txt and changelog.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Plugin] Jetpack

#32932 Connection: use JS to check if initial state is already rendered
  projects/packages/connection/changelog/fix-connection-initial-state-render-repeat-2
  projects/packages/connection/src/class-initial-state.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/tests/php/test-initial-state.php
Labels: [Status] Needs Review, [Status] Needs Cherry-Pick, [Package] Connection, [Tests] Includes Tests

#32934 Boost: Update image CDN quality label
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/ImageCdnQualityControl.svelte
  projects/plugins/boost/changelog/update-image-cdn-quality
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#32936 Boost: Fix performance history
  projects/plugins/boost/app/assets/src/css/components/performance-history.scss
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PremiumTooltip.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/History.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/react-components/PerformanceHistory.tsx
  projects/plugins/boost/app/assets/src/js/react-components/stories/performance-history.stories.tsx
  projects/plugins/boost/changelog/fix-performance-history
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#32989 AI Chat: Error handling, separate components, and feedback UX
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-ai.php
  projects/plugins/jetpack/changelog/update-ai-chat-components-and-errors
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/copy-button/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/copy-button/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/display-error/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/display-error/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/feedback/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/feedback/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-chat/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/question-answer.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-feedback.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/use-submit-question.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Chat

#32933 Components: Fix boost score graph null-ish value handling
  projects/js-packages/components/changelog/fix-nullish-values
  projects/js-packages/components/components/boost-score-graph/index.tsx
  projects/js-packages/components/components/boost-score-graph/tooltip.tsx
  projects/js-packages/components/package.json
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Boost

#32986 AI Extension: Only show input automatically for empty forms
  projects/plugins/jetpack/changelog/fix-ai-assistant-input-empty-forms
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/ui-handler/with-ui-handler-data-provider.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension, [Extension] Ai Assistant

#32993 AI Excerpt: re-enable AI Excerpt panel
  projects/plugins/jetpack/changelog/update-ai-excerpt-reenable
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/ai-content-lens.php
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/index.ts
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension, [Extension] Ai Content Lens

#32964 Launchpad/update current checklist
  projects/packages/jetpack-mu-wpcom/changelog/launchpad-update-current-checklist
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-navigator.php
  projects/plugins/mu-wpcom-plugin/changelog/launchpad-update-current-checklist
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#32675 Jetpack CRM: Remove WorDBless post-install-cmd and post-update-cmd
  projects/plugins/crm/changelog/fix-crm-composer-post-install-cmd
  projects/plugins/crm/composer.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] CRM

#33003 CRM: Resolves #3307 - increase minimum PHP version to 7.3
  projects/plugins/crm/.phpcs.dir.phpcompatibility.xml
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/fix-crm-increase_min_php_to_7.3
  projects/plugins/crm/readme.txt
  projects/plugins/crm/tests/action-skip-test-php.sh
  tools/parallel-lint.sh
Labels: [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests

#32998 Add videopress and complete bi-yearly constants
  projects/packages/videopress/changelog/add-bi-yearly-constants-to-videopress-plugin
  projects/packages/videopress/src/client/admin/hooks/use-plan/index.ts
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] VideoPress

#33011 Launchpad: New behaviour for navigator checklists
  projects/packages/jetpack-mu-wpcom/changelog/launchpad-empty-array-for-navigator-checklists
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-navigator.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#32913 Site Editor: Change the `<` link to the theme showcase
  projects/plugins/jetpack/changelog/add-themePreviewBackLink
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
Labels: [Status] Ready to Merge, [Feature] Masterbar, [Plugin] Jetpack

#33027 Boost: Update stable tag
  projects/plugins/boost/changelog/update-stable-version
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Boost

#32749 Carousel: add new attachment ID filter
  projects/plugins/jetpack/changelog/add-carousel-attachment-id-filter
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: [Type] Enhancement, [Feature] Carousel, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack, [Focus] Compatibility

#33005 AI Extension: import libraries from @wordpress/element package
  projects/plugins/jetpack/changelog/update-ai-extension-import-from-element
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] AI Extension

#32692 Remove logic that prevents site admins being tracked and add store_admin property to WooCommerce analytics events
  projects/plugins/jetpack/changelog/add-store-admin-property
  projects/plugins/jetpack/modules/woocommerce-analytics/class-jetpack-woocommerce-analytics.php
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-universal.php
  projects/plugins/jetpack/to-test.md
Labels: Docs, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Status] Needs Privacy Updates, [Plugin] Jetpack

#33017 AI Assistant: Register ai-assistant-backend-prompts beta extension
  projects/plugins/jetpack/changelog/update-ai-assistant-register-backend-prompts-beta-extension
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] AI Assistant

#32997 AI Excerpt: remove core Excerpt panel when registering the AI Excerpt one
  projects/plugins/jetpack/changelog/update-ai-excerpt-extend-when-registering-plugin
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Extension] Ai Content Lens

#33038 reverts d5ca47d8de after finding out it was not working right with P2
  projects/packages/videopress/changelog/revert-d5ca47d8de
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-initializer.php
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/changelog/revert-d5ca47d8de
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/revert-d5ca47d8de
  projects/plugins/videopress/composer.lock
Labels: [Status] In Progress, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress

#33015 AI Assistant: Remove upgrade button when user is not administrator
  projects/plugins/jetpack/changelog/fix-ai-assistant-upgrade-author
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/connection/index.ts
  projects/plugins/jetpack/extensions/global.d.ts
  projects/plugins/jetpack/extensions/shared/components/upgrade-nudge/index.jsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#33039 Lazy Images: disable when Gutenberg 16.6.0+ is active
  projects/packages/lazy-images/changelog/remove-lazyloading-with-gutenberg
  projects/packages/lazy-images/composer.json
  projects/packages/lazy-images/src/lazy-images.php
  projects/packages/lazy-images/tests/php/test_class.lazy-images.php
  projects/plugins/boost/changelog/remove-lazyloading-with-gutenberg
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/remove-lazyloading-with-gutenberg
  projects/plugins/jetpack/composer.lock
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High, [Feature] Lazy Images, [Package] Lazy Images, [Plugin] Jetpack, [Focus] Compatibility, [Plugin] Boost, [Boost Feature] Lazy Images, [Tests] Includes Tests

#33030 Lazy loading images: Update description on settings toggle to discourage enabling it
  projects/plugins/jetpack/_inc/client/performance/speed-up-site.jsx
  projects/plugins/jetpack/changelog/update-lazy-loading-feature-description
  projects/plugins/jetpack/modules/lazy-images.php
Labels: [Status] Needs Review, Admin Page, [Feature] Lazy Images, [Plugin] Jetpack, [Boost Feature] Lazy Images

#33025 AI Client: Introduce blockListBlockWithAiDataProvider() function
  projects/js-packages/ai-client/changelog/update-ai-extension-introduce-block-with-ai-data-provider
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/data-flow/Readme.md
  projects/js-packages/ai-client/src/data-flow/index.ts
  projects/js-packages/ai-client/src/data-flow/with-ai-assistant-data.tsx
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] AI Client

#33033 Paywall Block: Fix Autosave before redirecting to Earn
  projects/plugins/jetpack/changelog/update-paywall-link-to-earn
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] Paywall

#32814 AI Assistant: Add language reminder to action prompts
  projects/plugins/jetpack/changelog/update-ai-assistant-language-reminder
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#33019 Launchpad: remove checklist from navigator
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-remove-checklist-nav
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-navigator.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#33026 AI Extension: extend only Jetpack Form blocks with AI Data
  projects/plugins/jetpack/changelog/update-jetpack-form-extend-with-ai-data
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
Labels: Docs, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [AI Feature] AI Extension

#33006 Paid Newsletter: Detect subscription tier upgrade
  projects/plugins/jetpack/changelog/add-detect-tier-upgrade
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Status] Needs Team Review, [Block] Premium Content, [Plugin] Jetpack, [Feature] Memberships

#33058 My Jetpack: Show correct CTA and status for Stats card
  projects/packages/my-jetpack/_inc/components/product-card/action-button.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-wpcom-products.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-stats.php
  projects/plugins/backup/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-my-jetpack-stats-active-status-and-upgrade-paths
  projects/plugins/videopress/composer.lock
Labels: [Feature] Stats Data, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#33024 Site Editor: Move the feature of changing backlink into mu-wpcom
  projects/packages/jetpack-mu-wpcom/changelog/add-themePreviewBackLink
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/site-editor-dashboard-link/site-editor-dashboard-link.php
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/plugins/jetpack/changelog/add-themePreviewBackLinkMuWpcom
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Site Editor Dashboard Link

#33041 Jetpack Boost: Refactor MultiProgress component
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/changelog/boost-refactor-multiprogress
Labels: [Status] Needs Team Review, [Plugin] Boost

#33057 Classic Editor Markdown: support double-tilde strikethrough
  projects/plugins/jetpack/_inc/lib/markdown/gfm.php
  projects/plugins/jetpack/changelog/add-markdown-strikethrough-classic-editor
  projects/plugins/jetpack/phpunit.xml.dist
  projects/plugins/jetpack/tests/php/modules/markdown/test_class-markdown.php
Labels: [Feature] Markdown, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack, User Report, [Tests] Includes Tests, Reviewer Can Merge

#33013 AI Client: check media record ref before removing the listeners
  projects/js-packages/ai-client/changelog/update-create-with-voice-removeing-block-bug
  projects/js-packages/ai-client/src/hooks/use-media-recording/index.ts
Labels: [Status] Needs Team Review, [Size] S, RNA, [JS Package] AI Client

#32958 Admin UI: update sort order for individual plugins
  projects/packages/admin-ui/changelog/update-sort-order-for-jetpack-menu
  projects/packages/admin-ui/package.json
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/packages/backup/changelog/update-sort-order-for-jetpack-menu
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/my-jetpack/changelog/update-sort-order-for-jetpack-menu
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/search/changelog/update-sort-order-for-jetpack-menu
  projects/packages/search/src/dashboard/class-dashboard.php
  projects/packages/stats-admin/changelog/update-sort-order-for-jetpack-menu
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
  projects/packages/videopress/changelog/update-sort-order-for-jetpack-menu
  projects/packages/videopress/src/class-admin-ui.php
  projects/packages/wordads/changelog/update-sort-order-for-jetpack-menu
  projects/packages/wordads/src/dashboard/class-dashboard.php
  projects/plugins/beta/changelog/update-sort-order-for-jetpack-menu
  projects/plugins/beta/src/class-admin.php
  projects/plugins/jetpack/changelog/update-sort-order-for-jetpack-menu
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/protect/changelog/update-sort-order-for-jetpack-menu
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/social/changelog/update-sort-order-for-jetpack-menu
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/starter-plugin/changelog/update-sort-order-for-jetpack-menu
  projects/plugins/starter-plugin/src/class-jetpack-starter-plugin.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Beta, [Plugin] Jetpack, [Package] Backup, [Package] Admin Ui, [Package] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [Package] VideoPress, [Package] Stats Admin, Reviewer Can Merge

#33059 [CRM] Correct typo in Automation_Bootstrap class name
  projects/plugins/crm/changelog/crm-update-automation-fix-bootstrap-class-name
  projects/plugins/crm/modules/automations/jpcrm-automations-init.php
  projects/plugins/crm/src/automation/class-automation-bootstrap.php
Labels: [Status] In Progress, [Status] Ready to Merge, [Plugin] CRM, [CRM] Automations Module

#32776 CRM: Automations conditions for contact tags
  projects/plugins/crm/changelog/add-crm-3236-3237-3247-automations-conditions-contact-tags
  projects/plugins/crm/src/automation/commons/conditions/contacts/class-contact-tag.php
  projects/plugins/crm/tests/php/automation/contacts/class-contact-condition-test.php
  projects/plugins/crm/tests/php/automation/tools/class-automation-faker.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests

#32698 Refactor: register business hours block with block.json path
  projects/js-packages/shared-extension-utils/changelog/refactor-business-hours-block-regsitration
  projects/js-packages/shared-extension-utils/index.js
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/get-block-icon-from-metadata.js
  projects/js-packages/shared-extension-utils/src/get-icon-color.js
  projects/packages/blocks/changelog/refactor-business-hours-block-regsitration
  projects/packages/blocks/composer.json
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/fixtures/_inc/blocks/test-block/block.json
  projects/packages/blocks/tests/php/fixtures/test-block/block.json
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/refactor-business-hours-block-regsitration
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/business-hours/block.json
  projects/plugins/jetpack/extensions/blocks/business-hours/business-hours.php
  projects/plugins/jetpack/extensions/blocks/business-hours/edit.js
  projects/plugins/jetpack/extensions/blocks/business-hours/editor.js
  projects/plugins/jetpack/extensions/blocks/business-hours/index.js
  projects/plugins/jetpack/extensions/blocks/business-hours/style.scss
  projects/plugins/jetpack/extensions/blocks/business-hours/test/validate.js
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.js
Labels: [Status] Ready to Merge, [Block] Business Hours, [Package] Blocks, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Tests] Includes Tests

#33037 Boost: Remove global store from Notice component
  projects/plugins/boost/app/assets/src/js/elements/Notice.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/SuperCacheInfo.svelte
  projects/plugins/boost/app/assets/src/js/stores/notice.ts
  projects/plugins/boost/changelog/remove-store-super-cache-notice
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, [Plugin] Boost

#32815 Refactor beta blocks registration
  projects/packages/blocks/changelog/refactor-beta-blocks-registration
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/refactor-beta-blocks-registration
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/ai-chat/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/block.json
  projects/plugins/jetpack/extensions/blocks/ai-chat/editor.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.scss
  projects/plugins/jetpack/extensions/blocks/amazon/amazon.php
  projects/plugins/jetpack/extensions/blocks/amazon/attributes.js
  projects/plugins/jetpack/extensions/blocks/amazon/block.json
  projects/plugins/jetpack/extensions/blocks/amazon/edit.js
  projects/plugins/jetpack/extensions/blocks/amazon/editor.js
  projects/plugins/jetpack/extensions/blocks/amazon/icon.js
  projects/plugins/jetpack/extensions/blocks/amazon/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/block.json
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll.php
  projects/plugins/jetpack/extensions/blocks/blogroll/editor.js
  projects/plugins/jetpack/extensions/blocks/blogroll/icon.js
  projects/plugins/jetpack/extensions/blocks/blogroll/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/test/validate.js
  projects/plugins/jetpack/extensions/blocks/business-hours/block.json
  projects/plugins/jetpack/extensions/blocks/create-with-voice/attributes.js
  projects/plugins/jetpack/extensions/blocks/create-with-voice/block.json
  projects/plugins/jetpack/extensions/blocks/create-with-voice/create-with-voice.php
  projects/plugins/jetpack/extensions/blocks/create-with-voice/editor.js
  projects/plugins/jetpack/extensions/blocks/create-with-voice/index.tsx
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/block.json
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/edit.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/editor.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/editor.scss
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/google-docs-embed.php
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/icons.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/index.js
  projects/plugins/jetpack/extensions/blocks/google-docs-embed/view.scss
  projects/plugins/jetpack/extensions/blocks/recipe/attributes.js
  projects/plugins/jetpack/extensions/blocks/recipe/block.json
  projects/plugins/jetpack/extensions/blocks/recipe/class-jetpack-recipe-block.php
  projects/plugins/jetpack/extensions/blocks/recipe/details/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/editor.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/icon.js
  projects/plugins/jetpack/extensions/blocks/recipe/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/recipe.php
  projects/plugins/jetpack/extensions/blocks/recipe/step/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/style.scss
  projects/plugins/jetpack/extensions/blocks/recipe/view.js
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.js
Labels: [Status] Ready to Merge, [Block] Business Hours, [Block] Amazon, [Package] Blocks, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Block] Recipe, [Block] Google Docs Embed, [Tests] Includes Tests, [Block] AI Chat, [Block] Blogroll, [Block] Create With Voice

#33052 AI Assistant: Use backend prompts on Proofread/Generate feedback feature
  projects/js-packages/ai-client/changelog/update-ai-assistant-use-backend-prompts-on-proofread-feature
  projects/js-packages/ai-client/src/types.ts
  projects/plugins/jetpack/changelog/update-ai-assistant-use-backend-prompts-on-proofread-feature
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/proofread/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Extension] Ai Assistant Plugin

#33071 Jetpack Boost: Refactor Recommendations Meta
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/changelog/boost-refactor-rec-meta
Labels: [Status] Needs Review, [Plugin] Boost

#33061 Boost: Remove store from TimeAgo component
  projects/plugins/boost/app/assets/src/js/elements/TimeAgo.svelte
  projects/plugins/boost/changelog/remove-store-timeago
Labels: [Status] Needs Team Review, [Plugin] Boost

#33066 Change priority of load_map_block_settings action
  projects/packages/jetpack-mu-wpcom/changelog/fix-mu-wpcom-not-loading-map-settings
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Block] Map, [Package] Jetpack mu wpcom

#33068 CRM: Fix/revert the === issue introduced on the Invoice button to send email
  projects/plugins/crm/changelog/fix-crm-3308-revert-the-===-issue-introduced-on-invoice-section
  projects/plugins/crm/includes/ZeroBSCRM.MailTracking.php
Labels: [Status] In Progress, [Status] Ready to Merge, [Plugin] CRM

#33078 My Jetpack: Add AI Assistant Monthly to required plan check
  projects/packages/my-jetpack/changelog/fix-my-jetpack-ai-assistant-monthly
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Type] Bug, [Status] Needs Team Review, [Package] My Jetpack

#32994 Chat with a blog: Prompt config
  projects/packages/search/changelog/prompt-config
  projects/packages/sync/changelog/prompt-config
  projects/packages/sync/src/modules/class-search.php
  projects/plugins/jetpack/changelog/chat-with-blog-prompt-config
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/ai-chat/controls.js
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Package] Search, [Block] AI Chat

#33080 Jetpack Assistant: Fancy UX in placeholder prompts.
  projects/plugins/jetpack/changelog/update-jetpack-ai-placeholder-prompt-ux
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/prompt-templates-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] Ai Assistant

#33084 AI Assistant: Change conditions to show AI guidelines on input
  projects/js-packages/ai-client/changelog/fix-ai-assistant-ai-control-guidelines
  projects/js-packages/ai-client/src/components/ai-control/index.tsx
  projects/plugins/jetpack/changelog/fix-ai-assistant-ai-control-guidelines
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Extension] Ai Assistant

#33090 Fix AI Chat block styles not loading
  projects/plugins/jetpack/changelog/fix-ai-chat-block-styles-not-loading
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Chat

#33072 Fix issue with Donation block in Danish Krone
  projects/plugins/jetpack/changelog/add-fix-issue-when-grouping-is-empty-
  projects/plugins/jetpack/extensions/shared/currencies.js
Labels: [Status] Needs Review, [Plugin] Jetpack

#33076 Fix Blogroll block icon
  projects/plugins/jetpack/changelog/update-blogroll-block-icon
  projects/plugins/jetpack/extensions/blocks/blogroll/block.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Blogroll

#33073 Refactor registration of experimental blocks
  projects/plugins/jetpack/changelog/refactor-experimental-blocks-registration-2
  projects/plugins/jetpack/extensions/blocks/ai-image/ai-image.php
  projects/plugins/jetpack/extensions/blocks/ai-image/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-image/block.json
  projects/plugins/jetpack/extensions/blocks/ai-image/editor.js
  projects/plugins/jetpack/extensions/blocks/ai-image/index.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/ai-paragraph.php
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/block.json
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/editor.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Image, [Block] AI Paragraph

#33075 Remove git hook applying `[not verified]`
  .husky/prepare-commit-msg
  docs/git-workflow.md
  projects/github-actions/repo-gardening/changelog/remove-not-verified-git-hook
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
  tools/js-tools/git-hooks/pre-commit-hook.js
  tools/js-tools/git-hooks/prepare-commit-msg.js
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#33079 Boost Speed Score: Fix PHP 8.2 deprecation notice
  projects/packages/boost-speed-score/changelog/fix-deprecation-notice
  projects/packages/boost-speed-score/src/class-speed-score-graph-history-request.php
Labels: [Status] Ready to Merge, [Plugin] Boost, [Package] Boost Speed Score

#32981 Super Cache: Overhaul styling to match Jetpack aesthetics
  projects/plugins/super-cache/assets/automattic-airline.png
  projects/plugins/super-cache/assets/super-cache-icon.png
  projects/plugins/super-cache/changelog/update-supercache-jetpack-styling
  projects/plugins/super-cache/ossdl-cdn.php
  projects/plugins/super-cache/partials/advanced.php
  projects/plugins/super-cache/partials/debug.php
  projects/plugins/super-cache/partials/easy.php
  projects/plugins/super-cache/partials/lockdown.php
  projects/plugins/super-cache/partials/preload.php
  projects/plugins/super-cache/partials/rejected_user_agents.php
  projects/plugins/super-cache/partials/restore.php
  projects/plugins/super-cache/partials/tracking_parameters.php
  projects/plugins/super-cache/styling/dashboard.css
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache, [Super Cache] UI

#32866 Initial docs for sync local changes with unison
  docs/development-environment.md
  docs/examples/unison-sample.prf
  docs/unison-wordpress-com.md
Labels: Docs, [Status] Ready to Merge

#33063 Publicize: do not display Twitter in post-publish notice
  projects/packages/publicize/changelog/update-publicize-classic-editor-confirmation
  projects/packages/publicize/src/class-publicize-base.php
Labels: [Feature] Publicize, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Publicize

#32861 Add/remove comments
  projects/plugins/jetpack/changelog/add-remove-comments
  projects/plugins/jetpack/extensions/shared/currencies.js
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Feature] Memberships

#33083 AI Client: add `model` param to request helpers
  projects/js-packages/ai-client/changelog/update-ai-client-add-model-param
  projects/js-packages/ai-client/src/ask-question/Readme.md
  projects/js-packages/ai-client/src/ask-question/index.ts
  projects/js-packages/ai-client/src/suggestions-event-source/Readme.md
  projects/js-packages/ai-client/src/suggestions-event-source/index.ts
  projects/js-packages/ai-client/src/types.ts
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] AI Client

#33088 Publicize: Ensure that the auto-conversion setting is enabled by default
  projects/packages/publicize/changelog/fix-social-auto-conversion-default
  projects/packages/publicize/src/auto-conversion-settings/class-settings.php
  projects/packages/publicize/tests/php/test-auto-conversion.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Package] Publicize, [Tests] Includes Tests

#33104 Newsletter categegories: Remove color property from subscriptions block
  projects/plugins/jetpack/changelog/fix-subscribe-block-newsletter-categories-accent-color
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#33096 CRM: Resolves #3317 - prevent tag slug duplication and better fallback support
  projects/plugins/crm/changelog/fix-crm-3317-better_generic_tag_fallback_handling
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
Labels: [Status] Needs Team Review, [Plugin] CRM
