Repository Automattic/jetpack, pull requests merged in 2023-03, with the labels that each got.

#29220 Initial release for Move to WordPress.com
  projects/plugins/migration/CHANGELOG.md
  projects/plugins/migration/changelog/add-license-verification
  projects/plugins/migration/changelog/add-menu-for-migration
  projects/plugins/migration/changelog/add-migration-plugin
  projects/plugins/migration/changelog/add-migration-plugin#2
  projects/plugins/migration/changelog/add-migration-progress
  projects/plugins/migration/changelog/add-migration-rest-routes
  projects/plugins/migration/changelog/fix-migration-styling
  projects/plugins/migration/changelog/migration-plugin-analytics
  projects/plugins/migration/changelog/remove-placeholder-blogging-prompts
  projects/plugins/migration/changelog/remove-remnants-of-automated-code-coverage
  projects/plugins/migration/changelog/renovate-automattic-wordbless-0.x
  projects/plugins/migration/changelog/renovate-babel-monorepo
  projects/plugins/migration/changelog/renovate-lock-file-maintenance
  projects/plugins/migration/changelog/renovate-wordpress-monorepo
  projects/plugins/migration/changelog/update-import-package
  projects/plugins/migration/changelog/update-initial-screen-content
  projects/plugins/migration/changelog/update-jitm-style
  projects/plugins/migration/changelog/update-migration-admin-ui
  projects/plugins/migration/changelog/update-migration-doc-link
  projects/plugins/migration/changelog/update-migration-enable-autoupdates
  projects/plugins/migration/changelog/update-migration-readme
  projects/plugins/migration/changelog/update-move-delete-connection-owner-notice
  projects/plugins/migration/changelog/update-move-delete-connection-owner-notice#2
  projects/plugins/migration/changelog/update-node-to-v18
  projects/plugins/migration/changelog/update-react-18
  projects/plugins/migration/changelog/update-rename-migration-plugin
  projects/plugins/migration/composer.json
  projects/plugins/migration/readme.txt
  projects/plugins/migration/wpcom-migration.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Migration

#28355 Fix out-of-bounds submenus on the admin menu
  projects/plugins/jetpack/changelog/fix-out-of-bounds-submenu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, Masterbar, nav-unification, [Plugin] Jetpack

#29193 CRM: Onboarding wizard get updates opt-in
  projects/plugins/crm/admin/activation/welcome-to-jpcrm.php
  projects/plugins/crm/changelog/fix-crm-onboarding-wizard-change-updates-to-opt-in
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] CRM

#29215 CRM: Fix potential XSS attack in tax settings page
  projects/plugins/crm/admin/settings/tax.page.php
  projects/plugins/crm/changelog/fix-crm-xss-attack-in-tax-rate
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] CRM

#29169 VideoPress: Disable privacy toggle for private atomic sites
  projects/packages/videopress/changelog/update-disable-privacy-toggle-for-private-atomic-sites
  projects/packages/videopress/src/class-data.php
  projects/packages/videopress/src/client/admin/components/site-settings-section/constants.ts
  projects/packages/videopress/src/client/admin/components/site-settings-section/index.tsx
  projects/packages/videopress/src/client/admin/components/site-settings-section/types.ts
  projects/packages/videopress/src/client/admin/components/video-filter/index.tsx
  projects/packages/videopress/src/client/admin/components/video-filter/style.module.scss
  projects/packages/videopress/src/client/admin/hooks/use-videopress-settings/index.ts
  projects/packages/videopress/src/client/admin/hooks/use-videopress-settings/types.ts
  projects/packages/videopress/src/client/admin/types/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] M, [Block] VideoPress, [Package] VideoPress

#29182 Adds wpcom/v3/blogging-prompts REST API endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/add-blogging-prompts-v3-endpoint
Labels: [Status] Ready to Merge, WP REST API, [Plugin] Jetpack

#29210 Removes unused conversation and dialogue blocks
  projects/plugins/jetpack/changelog/remove-conversation-dialogue-blocks
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/attributes.js
  projects/plugins/jetpack/extensions/blocks/conversation/components/context.js
  projects/plugins/jetpack/extensions/blocks/conversation/components/participants-controls.js
  projects/plugins/jetpack/extensions/blocks/conversation/conversation.php
  projects/plugins/jetpack/extensions/blocks/conversation/edit.js
  projects/plugins/jetpack/extensions/blocks/conversation/editor.js
  projects/plugins/jetpack/extensions/blocks/conversation/editor.scss
  projects/plugins/jetpack/extensions/blocks/conversation/example.js
  projects/plugins/jetpack/extensions/blocks/conversation/index.js
  projects/plugins/jetpack/extensions/blocks/conversation/participants.json
  projects/plugins/jetpack/extensions/blocks/conversation/save.js
  projects/plugins/jetpack/extensions/blocks/conversation/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/attributes.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/participants-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/components/timestamp-control.js
  projects/plugins/jetpack/extensions/blocks/dialogue/dialogue.php
  projects/plugins/jetpack/extensions/blocks/dialogue/edit.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.js
  projects/plugins/jetpack/extensions/blocks/dialogue/editor.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/index.js
  projects/plugins/jetpack/extensions/blocks/dialogue/save.js
  projects/plugins/jetpack/extensions/blocks/dialogue/style.scss
  projects/plugins/jetpack/extensions/blocks/dialogue/utils.js
  projects/plugins/jetpack/extensions/blocks/dialogue/view.js
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Status] Ready to Merge, [Block] Conversation, [Block] Anchor Fm, [Block] Dialogue, [Plugin] Jetpack

#29229 svn auto-publish: Correctly publish first version
  .github/files/gh-wp-svn-autopublish/files/wp-svn-autopublish.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions

#29082 Launchpad: add REST API endpoint
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-rest-api-endpoint
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/README.md
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/add-launchpad-rest-api-endpoint
  projects/plugins/mu-wpcom-plugin/composer.lock
Labels: [Status] Needs Review, WP REST API, [Package] Jetpack mu wpcom, [Plugin] Mu Wpcom Plugin

#29228 Removing awkward spacer after every 2nd button in "More" button overlay
  projects/plugins/jetpack/changelog/fix-more-modal-spacing
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Size] S, [Plugin] Jetpack, [Plugin] Social

#29231 Fix broken Tumblr button inside "More" button overlay
  projects/plugins/jetpack/changelog/fix-more-tumblr-button
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Size] S, [Plugin] Jetpack, [Plugin] Social

#29232 Added space bar press to improve "More" button a11y
  projects/plugins/jetpack/changelog/enhancement-more-button-a11y
  projects/plugins/jetpack/modules/sharedaddy/sharing.js
Labels: [Type] Enhancement, Sharing, [Status] Needs Review, [Status] Needs Cherry-Pick, [Size] S, [Plugin] Jetpack, [Plugin] Social

#29155 VideoPress: Add chapters generation from description to dashboard
  projects/packages/videopress/changelog/add-videopress-dashboard-chapters
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/style.module.scss
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.tsx
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data-update/index.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-video-data/index.ts
  projects/packages/videopress/src/client/components/chapters-learn-more-helper/index.tsx
  projects/packages/videopress/src/client/components/incomplete-chapters-notice/index.tsx
  projects/packages/videopress/src/client/hooks/use-chapters-live-parsing/index.ts
  projects/packages/videopress/src/client/lib/fetch-video-item/index.ts
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29226 VideoPress: rewrite player by using TypeScript
  projects/packages/videopress/changelog/update-videopress-tscriptify-player
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
Labels: [Status] Ready to Merge, [Type] Janitorial, [Size] S, [Block] VideoPress, [Package] VideoPress

#29222 CRM: Edit description for company name in onboarding wizard.
  projects/plugins/crm/admin/activation/welcome-to-jpcrm.php
  projects/plugins/crm/changelog/update-crm-onboarding-wizard-company-name-explanation
Labels: [Status] Needs Team Review, [Plugin] CRM

#29089 Maps block: render Apple Maps maps on WP.com frontend
  projects/plugins/jetpack/changelog/add-map-mapkit
  projects/plugins/jetpack/extensions/blocks/map/component.js
  projects/plugins/jetpack/extensions/blocks/map/map.php
  projects/plugins/jetpack/extensions/blocks/map/mapbox-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/style.scss
  projects/plugins/jetpack/extensions/blocks/map/utils/get-map-provider.js
  projects/plugins/jetpack/extensions/blocks/map/utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/utils/resize-map-container.js
  projects/plugins/jetpack/extensions/blocks/map/view.js
  projects/plugins/jetpack/extensions/blocks/map/view/index.js
  projects/plugins/jetpack/extensions/blocks/map/view/mapbox.js
  projects/plugins/jetpack/extensions/blocks/map/view/mapkit.js
Labels: [Status] Ready to Merge, [Block] Map, [Plugin] Jetpack

#29209 CRM: Making sure id is included in a tag inclusion
  projects/plugins/crm/admin/settings/tax.page.php
  projects/plugins/crm/changelog/fix-crm-tax-settings-link
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29227 CRM: Fix tax rate deletion for single entries on tax settings page.
  projects/plugins/crm/admin/settings/tax.page.php
  projects/plugins/crm/changelog/fix-crm-tax-rate-deletion
Labels: [Status] Needs Team Review, [Plugin] CRM

#29241 [Super Cache] Add mike as a contributor
  projects/plugins/super-cache/changelog/super-cache-add-mike
  projects/plugins/super-cache/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#29197 Blocks: add a new Cookie Consent Block
  projects/plugins/jetpack/changelog/add-cookie-consent-block
  projects/plugins/jetpack/extensions/blocks/cookie-consent/attributes.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/common.scss
  projects/plugins/jetpack/extensions/blocks/cookie-consent/cookie-consent.php
  projects/plugins/jetpack/extensions/blocks/cookie-consent/edit.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/editor.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/editor.scss
  projects/plugins/jetpack/extensions/blocks/cookie-consent/icon.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/index.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/save.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/style.scss
  projects/plugins/jetpack/extensions/blocks/cookie-consent/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: Extra Sidebar Widgets, [Status] Needs Review, [Pri] Normal, [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Cookie Consent

#29251 Tiny PR: Fix cookie consent default content and CSS
  projects/plugins/jetpack/changelog/fix-cookie-consent-block
  projects/plugins/jetpack/extensions/blocks/cookie-consent/attributes.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/common.scss
  projects/plugins/jetpack/extensions/blocks/cookie-consent/style.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Cookie Consent

#29189 Writing prompts: adds basic UI to blogging prompts block
  projects/plugins/jetpack/changelog/update-blogging-prompts-block-ui
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/editor.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/index.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/save.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/style.scss
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/view.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#29007 Add response inbox app and endpoint
  pnpm-lock.yaml
  projects/packages/forms/changelog/add-response-inbox-store-endpoint
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/table/index.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/inbox/util.js
  projects/packages/forms/src/dashboard/state/action-types.js
  projects/packages/forms/src/dashboard/state/actions.js
  projects/packages/forms/src/dashboard/state/controls.js
  projects/packages/forms/src/dashboard/state/fixtures/responses.js
  projects/packages/forms/src/dashboard/state/index.js
  projects/packages/forms/src/dashboard/state/reducer.js
  projects/packages/forms/src/dashboard/state/reducer.test.js
  projects/packages/forms/src/dashboard/state/resolvers.js
  projects/packages/forms/src/dashboard/state/selectors.js
  projects/plugins/jetpack/changelog/add-response-inbox-store-endpoint
  projects/plugins/jetpack/changelog/add-response-inbox-store-endpoint#2
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms

#29233 VideoPress: add Caption button to the VideoPress video block toolbar
  projects/packages/videopress/changelog/update-videopress-video-caption
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
Labels: [Status] Needs Team Review, [Size] M, [Block] VideoPress, [Package] VideoPress

#29261 VideoPress: fix requesting video data on Simple sites
  projects/packages/videopress/changelog/update-videopress-fix-requesting-video-data-on-simple-sites
  projects/packages/videopress/src/client/lib/fetch-video-item/index.ts
Labels: [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#29243 Fix Lazy Loading in Safari
  projects/packages/lazy-images/changelog/fix-safari-lazy-loading
  projects/packages/lazy-images/src/js/lazy-images.js
Labels: [Status] Ready to Merge, Lazy Images, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Package] Lazy Images, [Boost Feature] Lazy Images

#29240 CRM: Consistent naming for Tasks
  projects/plugins/crm/admin/settings/general.page.php
  projects/plugins/crm/admin/tags/tag-manager.page.php
  projects/plugins/crm/changelog/fix-crm-consistent-naming-for-tasks
  projects/plugins/crm/html/templates/eventnotification.html
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL2.Mail.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/includes/ZeroBSCRM.Delete.php
  projects/plugins/crm/includes/ZeroBSCRM.InternalAutomatorRecipes.php
  projects/plugins/crm/includes/ZeroBSCRM.List.CompletedEvents.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Views.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Logs.php
  projects/plugins/crm/includes/jpcrm-mail-templating.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] CRM

#29179 Fixes search results extended view for searches hitting `isMultiSite`
  projects/packages/search/changelog/update-add-date-to-search-results
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-settings.php
  projects/packages/search/src/customizer/class-customizer.php
  projects/packages/search/src/instant-search/components/search-result-expanded.jsx
  projects/packages/search/src/instant-search/components/search-result-expanded.scss
Labels: [Status] Ready to Merge, [Package] Search

#29264 [Super Cache] Add missing changelog entry.
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/super-cache-add-missing-changelogs
  projects/plugins/super-cache/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#29111 [Boost] Use snake_case on tracks event props
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/utils/analytics.ts
  projects/plugins/boost/app/assets/src/js/utils/generate-critical-css.ts
  projects/plugins/boost/app/features/image-guide/src/analytics.ts
  projects/plugins/boost/changelog/boost-snake-case-event-props
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Guide

#29235 SSO: Add message to logout notice that gives a heads up to also log out of wpcom if they're on a shared computer.
  projects/plugins/jetpack/changelog/update-sso-logout-heads-up-warning-notice
  projects/plugins/jetpack/modules/sso.php
Labels: [Type] Enhancement, SSO, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack

#29280 E2E: Temporarily disable Gutenberg subscribe block test
  projects/plugins/jetpack/changelog/disable-subscribe-block-e2e
  projects/plugins/jetpack/tests/e2e/specs/blocks/free-blocks.test.js
Labels: [Status] Needs Review, E2E Tests, [Plugin] Jetpack, [Status] Needs Test Review

#29270 Add LoadingPlaceholder component
  projects/js-packages/components/changelog/add-loading-placeholder
  projects/js-packages/components/components/loading-placeholder/README.md
  projects/js-packages/components/components/loading-placeholder/index.tsx
  projects/js-packages/components/components/loading-placeholder/stories/index.tsx
  projects/js-packages/components/components/loading-placeholder/style.module.scss
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
Labels: [Status] Ready to Merge, RNA, [JS Package] Components, [JS Package] Storybook

#29275 Sharing: remove unused variable
  projects/plugins/jetpack/changelog/update-sharing-rm-count-var
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: Sharing, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#29284 E2E: Fix connection tests
  tools/e2e-commons/flows/jetpack-connect.js
  tools/e2e-commons/pages/wpcom/complete-plan.js
  tools/e2e-commons/pages/wpcom/index.js
Labels: [Status] Ready to Merge, E2E Tests

#29236 Add default values for jetpack forms' CSS veriables
  projects/packages/forms/changelog/fix-contact-form-style-defaults
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/fix-contact-form-style-defaults
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#29276 Social: Add the social advanced products to my plans.
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/add-social-advanced
Labels: [Status] In Progress, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#29178 Forms: Fix block previews
  projects/plugins/jetpack/changelog/update-form-styles-script
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/index.js
  projects/plugins/jetpack/extensions/blocks/contact-form/util/form-styles.js
  projects/plugins/jetpack/extensions/blocks/contact-form/util/with-style-variables.js
  projects/plugins/jetpack/extensions/blocks/contact-form/view.js
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/modules/contact-form/js/form-styles.js
Labels: Contact Form, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Block] Contact Form

#29279 Fix Pinterest button JS Error and adjust marginRight instead of width
  projects/plugins/jetpack/changelog/fix-pinterest-official-button
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
Labels: [Type] Bug, Sharing, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Size] S, [Plugin] Jetpack, [Plugin] Social

#29288 Update sharing button height from 34px to 32px
  projects/plugins/jetpack/changelog/fix-sharing-button-height
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Type] Enhancement, Sharing, [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Size] S, [Plugin] Jetpack, [Plugin] Social

#29292 Forms: Fields Sidebar adjustments
  projects/packages/forms/changelog/update-form-fields-sidebar
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/plugins/jetpack/changelog/update-form-fields-sidebar
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-controls.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-multiple.js
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#29268 Remove Jetpack submenu under Settings in Calypso on Atomic sites
  projects/plugins/jetpack/changelog/fix-remove-settings-jetpack-submenu-atomic
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
Labels: [Status] Ready to Merge, Masterbar, [Plugin] Jetpack

#29249 CRM: PHP error with empty values in Address Custom Field (Date)
  projects/plugins/crm/changelog/fix-crm-2978-php-error-empty-addr-custom-field
  projects/plugins/crm/includes/jpcrm-localisation.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] CRM

#29187 Backup: Update to use tracking check from connection package
  projects/packages/backup/changelog/update-backup-tracking-connection-package
  projects/packages/backup/src/class-jetpack-backup.php
Labels: [Status] Ready to Merge, [Package] Backup

#29274 CRM: using correct title slugs for edit and new form pages
  projects/plugins/crm/changelog/fix-crm-edit-add-form-title
  projects/plugins/crm/includes/class-learn-menu.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#29295 Fix/crm UI cohesiveness invoicing pro referred to as csv pro
  projects/plugins/crm/changelog/fix-crm-ui-cohesiveness-invoicing-pro-referred-to-as-csv-pro
  projects/plugins/crm/includes/ZeroBSCRM.List.Views.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] CRM

#29296 VideoPress: add story for the Banner component
  projects/js-packages/storybook/changelog/update-videopress-add-story-for-banner
  projects/js-packages/storybook/storybook/projects.js
  projects/packages/videopress/changelog/update-videopress-add-story-for-banner
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/stories/Banner.mdx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/stories/index.tsx
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Size] M, RNA, [JS Package] Storybook, [Package] VideoPress

#29314 Forms: allow Crowdsignal to approve Forms package PRs.
  .github/files/required-review.yaml
Labels: [Status] Ready to Merge, [Type] Janitorial, Actions

#29214 Writing prompts: use block to indicate answering a prompt
  projects/plugins/jetpack/_inc/blogging-prompts.php
  projects/plugins/jetpack/changelog/update-blogging-prompt-answer-marked
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/blogging-prompt.php
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/editor.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/save.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/use-prompt-tags.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#29300 Repo gardening: fix unwanted issues in Kitkat notification task
  projects/github-actions/repo-gardening/changelog/fix-kitkat-message-emoji
  projects/github-actions/repo-gardening/src/tasks/notify-kitkat/index.js
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#29319 Forms: add additional permissions
  .github/files/required-review.yaml
Labels: [Status] Ready to Merge, [Type] Janitorial, Actions

#29320 Approvers: capitalization Matters
  .github/files/required-review.yaml
Labels: [Status] Needs Review, [Type] Janitorial, Actions

#29259 Fix/forms inbox search
  projects/packages/forms/changelog/fix-forms-inbox-search
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/packages/forms/src/dashboard/state/selectors.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29269 Remove Scan submenu from Jetpack menu in WP-Admin on Atomic sites
  projects/plugins/jetpack/changelog/fix-remove-scan-submenu-on-atomic
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, Scan

#29282 Implement correct table interactions on the feedback dashboard
  projects/packages/forms/changelog/update-feedback-header-and-navigation
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/components/table/index.js
  projects/packages/forms/src/dashboard/components/table/item.js
  projects/packages/forms/src/dashboard/components/table/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/list.js
  projects/plugins/jetpack/changelog/update-feedback-header-and-navigation
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#29325 Forms: Fix Multiple Choice field styles
  projects/plugins/jetpack/changelog/fix-twenty-twenty-styles
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
Labels: Contact Form, [Status] Ready to Merge, [Plugin] Jetpack

#29302 Jetpack Boost: Add error handling capabilities to DS Client
  projects/js-packages/svelte-data-sync-client/README.md
  projects/js-packages/svelte-data-sync-client/changelog/boost-update-data-sync-error-handling
  projects/js-packages/svelte-data-sync-client/src/API.ts
  projects/js-packages/svelte-data-sync-client/src/ApiError.ts
  projects/js-packages/svelte-data-sync-client/src/SyncedStore.ts
  projects/js-packages/svelte-data-sync-client/src/initializeClient.ts
  projects/js-packages/svelte-data-sync-client/src/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Svelte Data Sync Client

#29306 Don't show Mapbox token input when map provider is Mapkit
  projects/plugins/jetpack/changelog/add-map-block-mapkit-remove-token-input
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/test/controls.js
Labels: [Status] Needs Review, [Block] Map, [Plugin] Jetpack

#29247 Paid newsletters fix access levels
  projects/plugins/jetpack/changelog/paid-newsletters-fix-access-levels
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#29315 Implement RWD navigation for feedback dashboard
  projects/packages/forms/changelog/update-feedback-response-rwd-navigation
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/table/item.js
  projects/packages/forms/src/dashboard/components/table/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-feedback-response-rwd-navigation
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#29339 VideoPress: pick and convert core/video VideoPress instances also from inner blocks
  projects/plugins/jetpack/changelog/update-videopress-pick-all-v6-instances-of-post
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/components/transform-control/index.js
  projects/plugins/jetpack/extensions/blocks/videopress/v6-transform/edit.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] VideoPress

#29108 WAF: Minor Error Handling Improvements
  projects/packages/waf/changelog/enhance-waf-error-handling
  projects/packages/waf/src/class-rest-controller.php
  projects/packages/waf/src/class-waf-initializer.php
  projects/packages/waf/src/class-waf-rules-manager.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/src/exceptions/class-file-system-exception.php
  projects/packages/waf/src/exceptions/class-rules-api-exception.php
  projects/packages/waf/src/exceptions/class-waf-exception.php
  projects/packages/waf/tests/php/integration/test-waf-activation.php
  projects/packages/waf/tests/php/integration/test-waf-rest-api.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Type] Janitorial, [Package] WAF, [Status] Needs Test Review

#29252 Add Mapkit support in the editor
  projects/plugins/jetpack/changelog/add-map-block-mapkit-editor
  projects/plugins/jetpack/extensions/blocks/map/component/index.js
  projects/plugins/jetpack/extensions/blocks/map/component/info-window/index.js
  projects/plugins/jetpack/extensions/blocks/map/component/info-window/mapbox.js
  projects/plugins/jetpack/extensions/blocks/map/component/info-window/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/component/map-marker/index.js
  projects/plugins/jetpack/extensions/blocks/map/component/map-marker/style.scss
  projects/plugins/jetpack/extensions/blocks/map/component/mapbox.js
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/context/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
  projects/plugins/jetpack/extensions/blocks/map/style.scss
  projects/plugins/jetpack/extensions/blocks/map/utils/get-map-provider.js
  projects/plugins/jetpack/extensions/blocks/map/view.js
  projects/plugins/jetpack/extensions/blocks/map/view/mapbox.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29185 Protect: More Descriptive Error Messages
  projects/plugins/protect/changelog/more-descriptive-error-messages
  projects/plugins/protect/src/class-rest-controller.php
  projects/plugins/protect/src/js/components/firewall-page/index.jsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] WAF, [Plugin] Protect

#29164 VideoPress: Add/use preview hook
  projects/packages/videopress/changelog/update-add-use-preview-hook
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-preview/Readme.md
  projects/packages/videopress/src/client/block-editor/hooks/use-preview/index.ts
  projects/plugins/jetpack/changelog/add-use-preview-hook
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/add-use-preview-hook
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress

#29326 media summary: write to memo when no images found
  projects/plugins/jetpack/_inc/lib/class.media-summary.php
  projects/plugins/jetpack/changelog/update-media-summary-memo
Labels: [Focus] Performance, [Status] Needs Team Review, [Plugin] Jetpack

#29345 Jetpack: backport 11.9 release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-blogging-prompts-v3-endpoint
  projects/plugins/jetpack/changelog/add-social-advanced
  projects/plugins/jetpack/changelog/enhancement-more-button-a11y
  projects/plugins/jetpack/changelog/fix-contact-form-style-defaults
  projects/plugins/jetpack/changelog/fix-more-modal-spacing
  projects/plugins/jetpack/changelog/fix-more-tumblr-button
  projects/plugins/jetpack/changelog/fix-pinterest-official-button
  projects/plugins/jetpack/changelog/fix-sharing-button-height
  projects/plugins/jetpack/changelog/fix-twenty-twenty-styles
  projects/plugins/jetpack/changelog/update-form-fields-sidebar
  projects/plugins/jetpack/changelog/update-form-styles-script
  projects/plugins/jetpack/changelog/update-jetpack-11.9-editorial
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#29298 CRM: Top menu showing ugly borders
  projects/plugins/crm/changelog/fix-crm-ui-cohesiveness-top-menu-showing-ugly-borders
  projects/plugins/crm/sass/semantic-ui/collections/_menu.scss
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] CRM

#29327 Protect: Display "All threats" instead of "All 1 threats"
  projects/plugins/protect/changelog/fix-all-1-threats-title
  projects/plugins/protect/src/js/components/threats-list/index.jsx
Labels: [Status] Ready to Merge, [Plugin] Protect

#29266 [Boost] Add changelog file for Safari lazy-load fix
  projects/plugins/boost/changelog/fix-safari-lazy-load
Labels: [Status] Needs Team Review, [Plugin] Boost

#29353 Revert "Add Mapkit support in the editor"
  projects/plugins/jetpack/changelog/add-map-block-mapkit-editor
  projects/plugins/jetpack/extensions/blocks/map/component.js
  projects/plugins/jetpack/extensions/blocks/map/component/index.js
  projects/plugins/jetpack/extensions/blocks/map/component/info-window/index.js
  projects/plugins/jetpack/extensions/blocks/map/component/info-window/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/info-window/index.js
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/map-marker/index.js
  projects/plugins/jetpack/extensions/blocks/map/map-marker/style.scss
  projects/plugins/jetpack/extensions/blocks/map/mapkit-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/context/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
  projects/plugins/jetpack/extensions/blocks/map/style.scss
  projects/plugins/jetpack/extensions/blocks/map/utils/get-map-provider.js
  projects/plugins/jetpack/extensions/blocks/map/view.js
  projects/plugins/jetpack/extensions/blocks/map/view/mapbox.js
Labels: [Status] Needs Author Reply, [Block] Map, [Plugin] Jetpack

#29080 Add import package media endpoints
  projects/packages/import/changelog/update-add-import-media-endpoint
  projects/packages/import/composer.json
  projects/packages/import/package.json
  projects/packages/import/src/class-main.php
  projects/packages/import/src/endpoints/class-attachment.php
  projects/packages/import/src/endpoints/class-category.php
  projects/packages/import/src/endpoints/class-comment.php
  projects/packages/import/src/endpoints/class-page.php
  projects/packages/import/src/endpoints/class-post.php
  projects/packages/import/src/endpoints/class-tag.php
  projects/packages/import/src/endpoints/trait-import.php
  projects/plugins/jetpack/changelog/update-add-import-media-endpoint
  projects/plugins/jetpack/composer.lock
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Import

#29342 Jetpack Boost: Add livereload
  pnpm-lock.yaml
  projects/plugins/boost/README.md
  projects/plugins/boost/changelog/boost-update-livereload
  projects/plugins/boost/package.json
Labels: [Status] Needs Team Review, [Plugin] Boost

#29333 Only show specific controls when mapprovider is mapbox
  projects/plugins/jetpack/changelog/add-map-block-mapkit-hide-unimplemented-options
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/test/controls.js
Labels: [Status] In Progress, [Block] Map, [Plugin] Jetpack

#29352 [Boost] Clean up linting issues in the minify feature
  projects/plugins/boost/.phpcsignore
  projects/plugins/boost/app/features/optimizations/minify/Concatenate_CSS.php
  projects/plugins/boost/app/features/optimizations/minify/Concatenate_JS.php
  projects/plugins/boost/app/features/optimizations/minify/Dependency_Path_Mapping.php
  projects/plugins/boost/app/features/optimizations/minify/Minify.php
  projects/plugins/boost/app/features/optimizations/minify/functions-helpers.php
  projects/plugins/boost/app/features/optimizations/minify/service.php
  projects/plugins/boost/changelog/boost-fix-minify-lint
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Optimizations

#29336 Fix double fetch, move search into state
  projects/packages/forms/changelog/change-forms-move-props-to-state
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/state/action-types.js
  projects/packages/forms/src/dashboard/state/actions.js
  projects/packages/forms/src/dashboard/state/reducer.js
  projects/packages/forms/src/dashboard/state/selectors.js
  projects/plugins/jetpack/changelog/change-forms-move-props-to-state
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29346 Jetpack: backport Social and Backup releases
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/update-backport-11.9-social-backup
  projects/plugins/backup/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/update-backport-11.9-social-backup
  projects/plugins/social/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Backup, [Plugin] Social

#29358 VideoPress: first approach of TimestampControl component
  projects/packages/videopress/changelog/update-videopress-add-timestamp-control-cpm
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/style.module.scss
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: [Status] Ready to Merge, RNA, [Package] VideoPress

#29351 Add 'earn-newsletter' as a valid param to membership status endpint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/memberships.php
  projects/plugins/jetpack/changelog/add-add-additional-string-param-for-newsletters
Labels: [Status] Ready to Merge, [Block] Payment Button, Earn, [Plugin] Jetpack

#29364 Jetpack 12.0-a.1 Changelog Cleanup
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-clean-jetpack12.0-a.1-readme
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#29246 Add a feedback admin view switch
  projects/packages/forms/changelog/add-jetpack-forms-dashboard-view-switch
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/plugins/jetpack/changelog/add-jetpack-forms-dashboard-view-switch
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#29370 VideoPress: Fix video URL available to copying in video details page
  projects/packages/videopress/changelog/update-videopress-copy-url
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
Labels: VideoPress, [Status] Needs Team Review, [Size] S, [Package] VideoPress

#29360 Decouple action bar components
  pnpm-lock.yaml
  projects/packages/forms/changelog/change-forms-responses-decouple-action-bar
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/components/actions-menu/index.js
  projects/packages/forms/src/dashboard/components/search-form/index.js
  projects/packages/forms/src/dashboard/components/search-form/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/plugins/jetpack/changelog/change-forms-responses-decouple-action-bar
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29369 VideoPress: Refactor loading state on video details page and disable redirect on save
  projects/packages/videopress/changelog/update-videopress-loading-ui
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
  projects/packages/videopress/src/client/admin/components/video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/video-details/types.ts
  projects/packages/videopress/src/client/admin/components/video-thumbnail/index.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/types.ts
Labels: [Type] Enhancement, VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29348 Writing Prompt block: better error handling when fetching prompt
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/update-blogging-prompts-error-handling
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#29109 [Boost] Catch changes to all post-types which affect the UI
  projects/plugins/boost/app/lib/Environment_Change_Detector.php
  projects/plugins/boost/changelog/fix-react-to-all-visible-changes
Labels: [Status] Needs Team Review, [Plugin] Boost

#29368 VideoPress: add Range control to the Timestamp control component
  projects/packages/videopress/changelog/update-videpress-add-range-to-timestamp-control-cpm
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/style.module.scss
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] S, [Block] VideoPress, [Package] VideoPress

#29377 CODEOWNERS: remove myself from the debugger
  .github/CODEOWNERS
Labels: [Status] Ready to Merge, [Type] Janitorial

#29341 General: indicate compatibility with upcoming WP 6.2
  projects/plugins/backup/changelog/update-wp-tested-up-to
  projects/plugins/backup/readme.txt
  projects/plugins/boost/changelog/update-wp-tested-up-to
  projects/plugins/boost/readme.txt
  projects/plugins/crm/changelog/update-wp-tested-up-to
  projects/plugins/crm/readme.txt
  projects/plugins/jetpack/changelog/update-wp-tested-up-to
  projects/plugins/jetpack/readme.txt
  projects/plugins/migration/changelog/update-wp-tested-up-to
  projects/plugins/migration/readme.txt
  projects/plugins/protect/changelog/update-wp-tested-up-to
  projects/plugins/protect/readme.txt
  projects/plugins/search/changelog/update-wp-tested-up-to
  projects/plugins/search/composer.json
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/readme.txt
  projects/plugins/social/changelog/update-wp-tested-up-to
  projects/plugins/social/readme.txt
  projects/plugins/starter-plugin/changelog/update-wp-tested-up-to
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/jetpack-starter-plugin.php
  projects/plugins/starter-plugin/readme.txt
  projects/plugins/super-cache/changelog/update-wp-tested-up-to
  projects/plugins/super-cache/readme.txt
  projects/plugins/vaultpress/changelog/update-wp-tested-up-to
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
  projects/plugins/videopress/changelog/update-wp-tested-up-to
  projects/plugins/videopress/readme.txt
  tools/cli/commands/generate.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI, [Plugin] Jetpack, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration, [Plugin] CRM

#29301 Only load Mapkit library block once per page
  projects/plugins/jetpack/changelog/fix-map-block-mapkit-duplicate-loads
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/map.php
  projects/plugins/jetpack/extensions/blocks/map/mapkit-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
  projects/plugins/jetpack/extensions/blocks/map/view/mapkit.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29102 Add tracking of Jetpack Forms CSV exports
  projects/packages/forms/changelog/add-tracking_of_forms_csv_exports
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/plugins/jetpack/changelog/add-tracking_of_forms_csv_exports
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: Contact Form, Tracks, [Status] Needs Team Review, [Status] Needs Privacy Updates, [Plugin] Jetpack, [Package] Forms

#29338 Recenter map after closing a marker info window
  projects/plugins/jetpack/changelog/add-map-block-mapkit-recenter
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/context/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29386 Move actions component
  projects/packages/forms/changelog/change-forms-actions-component
  projects/packages/forms/src/dashboard/inbox/bulk-actions-menu.js
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/plugins/jetpack/changelog/change-forms-actions-component
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#29389 VideoPress: set video URL based on the video privacy
  projects/packages/videopress/changelog/update-videopress-change-link-to-video-when-private
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
  projects/packages/videopress/src/client/admin/components/video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/video-details/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/video-details/types.ts
  projects/packages/videopress/src/client/lib/url/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Package] VideoPress

#29391 Forms: avoid fatals when submitting forms with new package
  projects/packages/forms/changelog/fix-contact-form-namespace-package
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
Labels: [Type] Bug, Contact Form, [Pri] Normal, [Status] Needs Team Review, [Package] Forms

#29317 required-review: Add `consume` option
  projects/github-actions/required-review/README.md
  projects/github-actions/required-review/changelog/add-required-review-consume-option
  projects/github-actions/required-review/package.json
  projects/github-actions/required-review/src/main.js
  projects/github-actions/required-review/src/requirement.js
  projects/github-actions/required-review/test.sh
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Required Review

#29042 [Subscriptions] Rebased: Add/newsletter prevent visibility caveats
  projects/plugins/jetpack/changelog/add-newsletter-prevent-visibility-caveats
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.scss
  projects/plugins/jetpack/extensions/shared/components/inspector-notice/index.jsx
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#28712 Add Zendesk chat module
  projects/js-packages/components/changelog/add-zendesk-chat-module
  projects/js-packages/components/components/zendesk-chat/README.md
  projects/js-packages/components/components/zendesk-chat/constants.ts
  projects/js-packages/components/components/zendesk-chat/index.tsx
  projects/js-packages/components/components/zendesk-chat/stories/index.tsx
  projects/js-packages/components/components/zendesk-chat/test/component.tsx
  projects/js-packages/components/components/zendesk-chat/types.ts
  projects/js-packages/components/components/zendesk-chat/utils.ts
  projects/js-packages/components/components/zendesk-chat/zendesk-chat-script.tsx
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/add-zendesk-chat-module
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-zendesk-chat-module
  projects/plugins/backup/changelog/add-zendesk-chat-module#2
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-zendesk-chat-module
  projects/plugins/boost/changelog/add-zendesk-chat-module#2
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-zendesk-chat-module
  projects/plugins/jetpack/changelog/add-zendesk-chat-module#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-zendesk-chat-module
  projects/plugins/migration/changelog/add-zendesk-chat-module#2
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-zendesk-chat-module
  projects/plugins/protect/changelog/add-zendesk-chat-module#2
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-zendesk-chat-module
  projects/plugins/search/changelog/add-zendesk-chat-module#2
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-zendesk-chat-module
  projects/plugins/social/changelog/add-zendesk-chat-module#2
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-zendesk-chat-module
  projects/plugins/starter-plugin/changelog/add-zendesk-chat-module#2
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-zendesk-chat-module
  projects/plugins/videopress/changelog/add-zendesk-chat-module#2
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, RNA, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#29290 Forms: Multiple Choice and Single Choice fields redesign
  projects/packages/forms/changelog/update-mutiple-single-choice-field
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-option.js
  projects/packages/forms/src/blocks/contact-form/components/use-jetpack-field-styles.js
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/use-parent-attributes.js
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/update-mutiple-single-choice-field
  projects/plugins/jetpack/extensions/blocks/contact-form/child-blocks.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-multiple.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/jetpack-field-option.js
  projects/plugins/jetpack/extensions/blocks/contact-form/components/use-jetpack-field-styles.js
  projects/plugins/jetpack/extensions/blocks/contact-form/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-form/editor.scss
  projects/plugins/jetpack/extensions/blocks/contact-form/util/use-parent-attributes.js
  projects/plugins/jetpack/modules/contact-form/css/grunion.css
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
Labels: Contact Form, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#29398 VideoPress: add story for PosterPanel component
  projects/packages/videopress/changelog/update-videopress-add-poster-panel-story
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/stories/PosterPanel.mdx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/poster-panel/stories/index.tsx
Labels: Enhanced Distribution, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29399 Jetpack-mu-wpcom: Check if function exists before loading endpoints
  projects/packages/jetpack-mu-wpcom/changelog/fix-defensive-loader-function
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom

#29373 Writing Prompt block: prevent multiple requests when fetching prompts/tags
  projects/plugins/jetpack/changelog/fix-blogging-prompt-multiple-requests
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/use-prompt-tags.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Blogging Prompt

#29349 Writing prompts: fix post meta not added when immediately publishing post
  projects/plugins/jetpack/_inc/blogging-prompts.php
  projects/plugins/jetpack/changelog/fix-blogging-prompt-post-meta
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-posts.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Status] Needs Test Review, [Block] Blogging Prompt

#29332 [AI] Use chatGPT endpoint
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/add-ai_use_chat_gpt
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-paragraph/test/edit.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Paragraph

#29330 Slideshow Block: Make play/pause icons visible
  projects/plugins/jetpack/changelog/fix-slideshow-icon
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: [Status] Ready to Merge, [Block] Slideshow, [Plugin] Jetpack

#29331 Crowdsignal shortcode: implement review suggestions
  projects/plugins/jetpack/_inc/polldaddy-shortcode.js
  projects/plugins/jetpack/changelog/update-improve-pd-shortcode-script
Labels: [Type] Enhancement, Shortcodes / Embeds, [Focus] Performance, [Status] Ready to Merge, [Plugin] Jetpack, Jetpack

#28944 Subscribe block: Hide social followers toggle when showSubscribersTotal is not on or isPublicizeEnabled is false
  projects/plugins/jetpack/changelog/subscription-block-social-toggle
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/validate.js
  projects/plugins/jetpack/tests/jest.config.extensions.js
  projects/plugins/jetpack/tests/styles-mock.js
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack, [Status] Needs Test Review

#29395 VideoPress: Fix filename with token
  projects/packages/videopress/changelog/fix-videopress-filename
  projects/packages/videopress/src/class-data.php
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
  projects/packages/videopress/src/client/admin/components/video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/video-details/style.module.scss
  projects/packages/videopress/src/client/admin/types/index.ts
  projects/packages/videopress/src/client/state/utils/map-videos.ts
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29405 Jetpack-mu-wpcom: Release 1.0.8
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/fix-defensive-loader-function
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/init-release-cycle
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] Mu Wpcom Plugin

#29394 Geocode the address attribute if it's present
  projects/plugins/jetpack/changelog/add-map-block-mapkit-address-attribute
  projects/plugins/jetpack/extensions/blocks/map/component/mapbox.js
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29334 Round zoom level value in block controls
  projects/plugins/jetpack/extensions/blocks/map/controls.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29356 Catch Mapkit API request failures & show error
  projects/plugins/jetpack/changelog/fix-map-block-mapkit-catch-faillure
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit-utils/index.js
  projects/plugins/jetpack/extensions/blocks/map/mapkit/hooks/index.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#29273 Stats: Add image to upgrade notice
  projects/plugins/jetpack/changelog/stats-add-image-to-odyssey-notice
  projects/plugins/jetpack/images/odyssey-upgrade/background.png
  projects/plugins/jetpack/images/odyssey-upgrade/gradient.png
  projects/plugins/jetpack/modules/stats.php
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats

#29403 VideoPress: Add download button to video details page
  projects/packages/videopress/changelog/add-videopress-dashboard-download
  projects/packages/videopress/src/client/admin/components/video-details-actions/index.tsx
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29250 [Boost] Update copy around Cloud/Critical CSS
  pnpm-lock.yaml
  projects/js-packages/components/changelog/allow-pricing-table-item-custom-class-name
  projects/js-packages/components/components/pricing-table/index.tsx
  projects/js-packages/components/components/pricing-table/types.ts
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/critical-css.scss
  projects/plugins/boost/app/assets/src/css/components/pricing-table.scss
  projects/plugins/boost/app/assets/src/js/elements/Tooltip.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/Module.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PremiumCTA.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/PremiumTooltip.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/changelog/update-boost-c-css-copy
  projects/plugins/boost/package.json
Labels: [Status] In Progress, [Status] Needs Review, RNA, [JS Package] Components, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Cloud CSS, [Boost Feature] Boost Premium, [Boost Feature] Optimizations

#28938 Boost: Update getting started flow
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/getting-started.scss
  projects/plugins/boost/app/assets/src/css/components/icon-tooltip.scss
  projects/plugins/boost/app/assets/src/css/components/snackbar.scss
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/pages/connection/Connection.svelte
  projects/plugins/boost/app/assets/src/js/pages/getting-started/GettingStarted.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/Settings.svelte
  projects/plugins/boost/app/assets/src/js/react-components/BoostPricingTable.tsx
  projects/plugins/boost/app/assets/src/js/stores/connection.ts
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/app/lib/class-connection.php
  projects/plugins/boost/changelog/update-getting-started-flow
  projects/plugins/boost/tests/e2e/lib/env/prerequisites.js
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/specs/connection.test.js
  projects/plugins/boost/tests/e2e/specs/get-started.test.ts
Labels: [Status] In Progress, Admin Page, [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Status] Needs Test Review

#29281 Add wiki link to readme.txt
  projects/plugins/super-cache/changelog/super-cache-update-readme
  projects/plugins/super-cache/readme.txt
Labels: [Status] Ready to Merge, Involves Happiness, [Plugin] Super Cache

#29413 Jetpack Boost: Updated feature naming
  projects/github-actions/repo-gardening/changelog/boost-update-feature-interface-naming
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/contracts/Pluggable.php
  projects/plugins/boost/app/features/image-guide/dist/guide.css
  projects/plugins/boost/app/features/image-guide/dist/guide.js
  projects/plugins/boost/app/features/image-guide/dist/guide.js.map
  projects/plugins/boost/app/features/speed-score/Speed_Score.php
  projects/plugins/boost/app/modules/Module.php
  projects/plugins/boost/app/modules/Modules.php
  projects/plugins/boost/app/modules/image-guide/Image_Guide.php
  projects/plugins/boost/app/modules/image-size-analysis/Image_Size_Analysis.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/modules/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/modules/optimizations/lazy-images/class-lazy-images.php
  projects/plugins/boost/app/modules/optimizations/minify/Minify.php
  projects/plugins/boost/app/modules/optimizations/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Start.php
  projects/plugins/boost/app/rest-api/endpoints/Module_Status.php
  projects/plugins/boost/app/rest-api/endpoints/Optimizations_Status.php
  projects/plugins/boost/app/rest-api/endpoints/Update_Cloud_CSS.php
  projects/plugins/boost/changelog/boost-update-feature-interface-naming
Labels: [Status] Needs Author Reply, Admin Page, Actions, [Action] Repo Gardening, [Plugin] Boost, [Boost Feature] Speed Score, [Boost Feature] Image Guide

#29417 Build action: do not check for comment on PRs from forks.
  .github/workflows/build.yml
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions

#29322 required-review: Don't fail on case mismatch for `@singleuser` pseudo-teams
  projects/github-actions/required-review/changelog/fix-required-review-username-case
  projects/github-actions/required-review/src/team-members.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Required Review

#29371 tools: Regularize changelogger invocation
  .github/files/renovate-post-upgrade.sh
  tools/changelogger-release.sh
  tools/changelogger-validate-all.sh
  tools/check-intra-monorepo-deps.sh
  tools/check-plugin-monorepo-deps.sh
  tools/cli/commands/changelog.js
  tools/cli/commands/release.js
  tools/includes/alpha-tag.sh
  tools/includes/changelogger.sh
  tools/project-version.sh
  tools/version-packages.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Tools] Development CLI

#29416 Coming Soon: Fix coming soon height on iPhones
  projects/packages/jetpack-mu-wpcom/changelog/fix-coming-soon-height
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/coming-soon/fallback-coming-soon-page.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom

#29425 tools: changelogger-release should ask if there are no changes
  .github/files/renovate-post-upgrade.sh
  tools/changelogger-release.sh
  tools/check-intra-monorepo-deps.sh
  tools/includes/changelogger.sh
  tools/project-version.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions

#29427 Clean up misleading comments
  projects/packages/forms/changelog/fix-forms-dependency-comment
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/plugins/jetpack/changelog/fix-forms-dependency-comment
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Package] Forms

#29409 Search: Fix returning URL when site has valid purchase
  projects/packages/search/changelog/fix-redirection-when-site-has-valid-purchase
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/module-control/index.jsx
  projects/packages/search/src/dashboard/components/pages/upsell-page.jsx
  projects/packages/search/src/dashboard/hooks/use-product-checkout-workflow.jsx
Labels: Search, [Status] Needs Team Review, [Package] Search

#29412 Kitkat escalations: use a different label to mark escalation
  projects/github-actions/repo-gardening/changelog/update-kitkat-escalation
  projects/github-actions/repo-gardening/src/tasks/notify-kitkat/index.js
Labels: [Type] Enhancement, [Pri] Normal, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#29375 Search: Customize links should point to Customberg
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/changelog/fix-29374-jetpack-search-recommendation
Labels: [Type] Bug, Admin Page, Search, [Status] Needs Team Review, [Plugin] Jetpack

#29426 Required Review: remove rules except for Sync, Connection, monorepo
  .github/files/required-review.yaml
Labels: [Status] Needs Review, [Type] Janitorial, Actions, [Tools] Monorepo Setup

#29118 Social: Add library for Social Image Generator
  projects/packages/publicize/changelog/add-jetpack-social-image-generator-token
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/social-image-generator/class-post-settings.php
  projects/packages/publicize/src/social-image-generator/class-setup.php
  projects/packages/publicize/src/social-image-generator/utilities.php
  projects/packages/publicize/tests/php/images/jetpack-logo.png
  projects/packages/publicize/tests/php/test-social-image-generator/test-post-settings.php
  projects/packages/publicize/tests/php/test-social-image-generator/test-setup.php
  projects/packages/publicize/tests/php/test-social-image-generator/test-utilities.php
  projects/plugins/jetpack/changelog/add-jetpack-social-image-generator-token
  projects/plugins/jetpack/changelog/add-jetpack-social-image-generator-token#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-jetpack-social-image-generator-token
  projects/plugins/social/changelog/add-jetpack-social-image-generator-token#2
  projects/plugins/social/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social, [Status] Needs Test Review

#29421 VideoPress: Update isPrivate field on state when video privacy changes
  projects/packages/videopress/changelog/update-set-is-private-after-video-privacy-update
  projects/packages/videopress/src/client/state/actions.js
  projects/packages/videopress/src/client/state/constants.js
  projects/packages/videopress/src/client/state/reducers.js
  projects/packages/videopress/src/client/state/utils/video-is-private.ts
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29437 Backport: Jetpack Mu Wpcom Plugin Release
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/fix-coming-soon-height
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/prerelease
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] Mu Wpcom Plugin

#29439 VideoPress: add fineAdjusment to TimestampControl component
  projects/packages/videopress/changelog/update-videopress-timestamp-control
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/style.module.scss
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29442 Protect: Backport changelog and readme changes from the 1.3.0 release, init 1.3.1-alpha
  projects/plugins/protect/CHANGELOG.md
  projects/plugins/protect/changelog/add-license-verification
  projects/plugins/protect/changelog/add-protect-existing-plan-cta
  projects/plugins/protect/changelog/add-waf-activation-tests
  projects/plugins/protect/changelog/add-waf-ip-ranges
  projects/plugins/protect/changelog/add-waf-wordbless
  projects/plugins/protect/changelog/backport-1.3.0-changelog
  projects/plugins/protect/changelog/fix-all-1-threats-title
  projects/plugins/protect/changelog/fix-css-warning-about-start
  projects/plugins/protect/changelog/fix-protect-connection-buttons
  projects/plugins/protect/changelog/fix-protect-example-standalone
  projects/plugins/protect/changelog/fix-protect-status-caching
  projects/plugins/protect/changelog/fix-wrong-parent-setup-call
  projects/plugins/protect/changelog/init-release-cycle
  projects/plugins/protect/changelog/more-descriptive-error-messages
  projects/plugins/protect/changelog/remove-remnants-of-automated-code-coverage
  projects/plugins/protect/changelog/renovate-babel-monorepo
  projects/plugins/protect/changelog/renovate-lock-file-maintenance
  projects/plugins/protect/changelog/renovate-lock-file-maintenance#2
  projects/plugins/protect/changelog/renovate-wordpress-monorepo
  projects/plugins/protect/changelog/update-clean-protect-1.3.0-beta-readme
  projects/plugins/protect/changelog/update-import-package
  projects/plugins/protect/changelog/update-jitm-style
  projects/plugins/protect/changelog/update-move-delete-connection-owner-notice
  projects/plugins/protect/changelog/update-move-delete-connection-owner-notice#2
  projects/plugins/protect/changelog/update-protect-plugin-listing
  projects/plugins/protect/changelog/update-react-18
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/readme.txt
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Protect

#29446 VideoPress: Remove storage meter for Atomic sites
  projects/packages/videopress/changelog/update-videopress-remove-storage-meter-atomic
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/admin/components/video-storage-meter/index.tsx
Labels: VideoPress, [Status] Needs Team Review, [Package] VideoPress

#29445 12.0-a.4 Changelog Edits
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-jetpack-12.0-a.4-readme
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#29411 [Boost] Fix heading fonts sizes and weights on Premium sales pages
  projects/plugins/boost/app/assets/src/css/admin-style.scss
  projects/plugins/boost/app/assets/src/css/components/card.scss
  projects/plugins/boost/app/assets/src/css/components/pricing-table.scss
  projects/plugins/boost/app/assets/src/css/main/dashboard.scss
  projects/plugins/boost/changelog/fix-boost-upsell-headings
Labels: [Status] Needs Team Review, [Plugin] Boost

#29449 VideoPress: add disabled and autoHideTimeInputs props to TimestampControl component
  projects/packages/videopress/changelog/update-videopress-hide-minutes-control
  projects/packages/videopress/src/client/components/timestamp-control/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/stories/TimestampControl.mdx
  projects/packages/videopress/src/client/components/timestamp-control/stories/index.tsx
  projects/packages/videopress/src/client/components/timestamp-control/types.ts
Labels: [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#29271 VideoPress: Update VideoPress to use the placeholder component from js-packages
  projects/packages/videopress/changelog/update-videopress-placeholder
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/placeholder/index.tsx
  projects/packages/videopress/src/client/admin/components/placeholder/stories/index.tsx
  projects/packages/videopress/src/client/admin/components/placeholder/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-card/index.tsx
  projects/packages/videopress/src/client/admin/components/video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/stats.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/index.tsx
  projects/plugins/jetpack/changelog/update-videopress-placeholder
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-videopress-placeholder
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, RNA, [JS Package] Components, [Package] VideoPress, [Plugin] VideoPress

#29441 Sharing: switch to only a base64-encoded icon font
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.ttf
  projects/plugins/jetpack/_inc/social-logos/social-logos.woff
  projects/plugins/jetpack/changelog/fix-woff2-cdns
Labels: [Type] Bug, Sharing, [Status] Needs Review, [Pri] High, [Status] Needs Testing, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#29262 Improve Paid Newsletters Gating
  projects/plugins/jetpack/changelog/fix-improve-newsletter-gating-logic
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
Labels: Subscriptions, [Status] Needs Review, Unit Tests, [Block] Subscriptions, [Plugin] Jetpack, [Status] Needs Test Review

#29448 Fix export bug: missing data/columns (A sort of Revert of #28678)
  projects/packages/forms/changelog/fix-forms-export-bug-29429
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tests/php/contact-form/test-class.contact-form.php
  projects/plugins/jetpack/changelog/fix-forms-export-bug-29429
  projects/plugins/jetpack/changelog/fix-forms-export-bug-29429#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php
  projects/plugins/jetpack/tests/php/modules/contact-form/test-class.grunion-contact-form.php
Labels: Contact Form, Unit Tests, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack, [Status] Needs Test Review, [Package] Forms

#29453 Staging Sites: Ensure `is_wpcom_staging_site` is included in site response and always defined by WPCOM
  projects/plugins/jetpack/changelog/fix-staging-sites-staging-site-attribute
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
Labels: WPCOM API, [Status] Needs Team Review, [Plugin] Jetpack

#29447 VideoPress: Consolidate VideoPreview type
  projects/packages/videopress/changelog/change-videopress-preview-type
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/types.ts
  projects/packages/videopress/src/client/block-editor/hooks/use-preview/index.ts
Labels: [Status] Needs Review, [Package] VideoPress

#29466 VideoPress: get rid of script const / component prop
  projects/packages/videopress/changelog/update-videopress-remove-scripts-const
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/player/types.ts
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
Labels: [Type] Janitorial, [Status] Needs Team Review, [Size] S, [Block] VideoPress, [Package] VideoPress

#29313 CRM: Change customer references to contact
  projects/plugins/crm/admin/activation/welcome-to-jpcrm.php
  projects/plugins/crm/admin/settings/field-options.page.php
  projects/plugins/crm/admin/settings/field-sorts.page.php
  projects/plugins/crm/admin/settings/general.page.php
  projects/plugins/crm/api/create_company.php
  projects/plugins/crm/api/create_customer.php
  projects/plugins/crm/api/create_transaction.php
  projects/plugins/crm/changelog/update-crm-customer-to-contact
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.php
  projects/plugins/crm/includes/ZeroBSCRM.AdminStyling.php
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
  projects/plugins/crm/includes/ZeroBSCRM.Config.Init.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Extensions.php
  projects/plugins/crm/includes/ZeroBSCRM.CustomerFilters.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL.Fields.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Export.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.IntegrationFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Columns.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Quotes.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Transactions.php
  projects/plugins/crm/includes/ZeroBSCRM.Permissions.php
  projects/plugins/crm/includes/class-learn-menu.php
  projects/plugins/crm/includes/jpcrm-mail-templating.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
  projects/plugins/crm/js/ZeroBSCRM.admin.customerfilters.js
  projects/plugins/crm/js/ZeroBSCRM.admin.quotebuilder.js
  projects/plugins/crm/js/ZeroBSCRM.admin.transactioneditor.js
  projects/plugins/crm/readme.txt
  projects/plugins/crm/tests/acceptance/11_JPCRM_Activation_Cest.php
  projects/plugins/crm/tests/acceptance/50_JPCRM_Settings_Cest.php
  projects/plugins/crm/tests/acceptance/92_JPCRM_Deactivation_Activation_Cest.php
Labels: [Status] Needs Team Review, [Status] UI Changes, [Status] Needs Test Review, [Plugin] CRM

#29263 Social: Prevent the metadata updating on autosave
  projects/packages/publicize/changelog/fix-social-autosave-meta
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-connections-post-field.php
Labels: [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components

#29272 Social: Fix bug with video restrictions
  projects/js-packages/publicize-components/changelog/fix-video-limit-bug
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#29456 WP Super Cache - add support for the Accept HTTP header
  projects/plugins/super-cache/changelog/add-accept_header_supercache
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/wp-cache-phase2.php
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#29093 Add support for SIG OpenGraph tags
  projects/packages/publicize/changelog/add-sig-opengraph-tags
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/add-sig-opengraph-tags
  projects/plugins/jetpack/changelog/add-sig-opengraph-tags#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-sig-opengraph-tags
  projects/plugins/social/changelog/add-sig-opengraph-tags#2
  projects/plugins/social/changelog/add-sig-opengraph-tags#3
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/class-meta-tags.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#29414 Boost: Refactor module status to use option store
  projects/plugins/boost/app/lib/Status.php
  projects/plugins/boost/changelog/update-feature-status
  projects/plugins/boost/compatibility/boost-1.8.0.php
  projects/plugins/boost/compatibility/jetpack.php
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, [Plugin] Boost, Compatibility
