Repository Automattic/jetpack, pull requests merged in 2023-06, with the labels that each got.

#31118 ci: Remove required-reviews CI job
  .github/files/required-review.yaml
  .github/workflows/required-review.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Actions

#31107 Prepare for next release
  projects/js-packages/components/changelog/make-pricing-table-tooltip-placement-configurable
  projects/js-packages/components/package.json
  projects/js-packages/videopress-core/changelog/update-cli-generate-typo
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-composer-dev-keywords
  projects/plugins/boost/changelog/add-my-jetpack-jetpack-ai-interstitial
  projects/plugins/boost/changelog/add-my-jetpack-pricing-table-boost
  projects/plugins/boost/changelog/add-my-jetpack-pricing-table-boost#2
  projects/plugins/boost/changelog/add-offline-mode-standalone-plugins
  projects/plugins/boost/changelog/boost-update-readme
  projects/plugins/boost/changelog/fix-boost-ui-issues
  projects/plugins/boost/changelog/fix-changelog-compare-references#2
  projects/plugins/boost/changelog/init-release-cycle
  projects/plugins/boost/composer.lock
  projects/plugins/boost/readme.txt
  projects/plugins/crm/changelog/add-boost-speed-score-package-skeleton
  projects/plugins/crm/changelog/add-featured-image-check-classic-editor
  projects/plugins/crm/changelog/add-offline-mode-standalone-plugins
  projects/plugins/crm/changelog/fix-crm-composer-deps
  projects/plugins/debug-helper/changelog/add-composer-dev-keywords
  projects/plugins/jetpack/changelog/update-boost-independent-concat-service
  projects/plugins/protect/changelog/add-composer-dev-keywords
  projects/plugins/protect/changelog/add-my-jetpack-jetpack-ai-interstitial
  projects/plugins/vaultpress/changelog/add-composer-dev-keywords
  projects/plugins/videopress/changelog/add-composer-dev-keywords
  projects/plugins/videopress/changelog/add-my-jetpack-jetpack-ai-interstitial
  projects/plugins/videopress/changelog/add-my-jetpack-pricing-table-boost
  projects/plugins/videopress/changelog/add-my-jetpack-pricing-table-boost#2
  projects/plugins/videopress/changelog/add-reader-views-toggle
Labels: Photon, [Status] In Progress, Docs, [Package] Status, [Status] Needs Team Review, [Package] Autoloader, [Package] Lazy Images, [Plugin] Jetpack, [Plugin] Debug Helper, RNA, [Block] Related Posts, [Plugin] VaultPress, [JS Package] Components, [Plugin] Boost, [Package] My Jetpack, [Package] Plans, [Plugin] Protect, [Package] VideoPress, [Plugin] VideoPress, [Package] Plugin Deactivation, [JS Package] Image Guide, [Plugin] CRM, [Package] WP JS Data Sync, [JS Package] Svelte Data Sync Client, [Package] IP, [Package] Image CDN, [Tests] Includes Tests, [JS Package] Videopress Core

#31113 Launchpad: Apply filter for keep building task list
  projects/packages/jetpack-mu-wpcom/changelog/add-apply-filter-for-keep-building-task-list
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom

#30983 Boost: Update Image Guide tracking to use Pixel instead of ajax requests
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/utils/analytics.ts
  projects/plugins/boost/app/lib/class-analytics.php
  projects/plugins/boost/app/modules/image-guide/Image_Guide.php
  projects/plugins/boost/app/modules/image-guide/src/analytics.ts
  projects/plugins/boost/app/modules/image-guide/src/index.ts
  projects/plugins/boost/changelog/update-boost-image-guide-tracking
  projects/plugins/boost/package.json
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Guide

#31098 Boost: Minor CSS changes to Purchase Successful page
  projects/plugins/boost/app/assets/src/css/components/button.scss
  projects/plugins/boost/app/assets/src/css/components/checklist.scss
  projects/plugins/boost/changelog/update-boost-minor-styling-changes
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Boost Premium

#31064 Newsletter panel: remove anchor from the link
  projects/plugins/jetpack/changelog/update-newsletter-panel-link
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
Labels: Subscriptions, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#31120 AI Assistant: Focus input on done or unclear prompt
  projects/plugins/jetpack/changelog/update-jetpack-ai-input-focus
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31111 Add tracks event for boost score error
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/index.jsx
  projects/plugins/jetpack/changelog/add-tracks-event-for-boost-score-error
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack

#31084 Add tests to boost score api package
  pnpm-lock.yaml
  projects/js-packages/boost-score-api/changelog/add-tests-to-boost-score-api-package
  projects/js-packages/boost-score-api/package.json
  projects/js-packages/boost-score-api/tests/index.test.js
Labels: [Status] Needs Author Reply, RNA, [Tests] Includes Tests, [JS Package] Boost Score Api

#30947 VideoPress: Add wpcom support to Ajax class
  projects/packages/videopress/changelog/update-videopress-ajax-wpcom-support
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-ajax.php
  projects/packages/videopress/src/class-package-version.php
Labels: [Status] Ready to Merge, [Package] VideoPress

#31028 Send Email Preview Endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-send-email-preview.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/trait-wpcom-rest-api-proxy-request-trait.php
  projects/plugins/jetpack/changelog/add-preview-email-endpoint
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/test-class-wpcom-rest-api-v2-endpoint-send-email-preview.php
Labels: [Status] Needs Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Tests] Includes Tests

#31156 cli: Add a reminder about `JETPACK_AUTOLOAD_DEV` to the rsync command
  tools/cli/commands/rsync.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#31144 AI Assistant: Send array of messages instead of string prompt
  projects/plugins/jetpack/changelog/update-question-messages-jetpack-assistant-ai
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/get-suggestion-with-stream.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/connection/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31117 Anchor.fm: Remove anchor block
  projects/plugins/jetpack/changelog/anchor-remove-extension
  projects/plugins/jetpack/extensions/blocks/anchor-fm/anchor-fm.php
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.js
  projects/plugins/jetpack/extensions/blocks/anchor-fm/editor.scss
  projects/plugins/jetpack/extensions/blocks/anchor-fm/index.js
  projects/plugins/jetpack/extensions/blocks/anchor-fm/templates/index.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Block] Anchor Fm, [Plugin] Jetpack

#31141 Fix/paid subscribers on self hosted
  projects/plugins/jetpack/changelog/earn-newsletters-fix-undefined-counts
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, Subscriptions, [Status] Needs Review, [Pri] High, [Block] Subscriptions, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#31149 Adding comments to launchpad save modal code.
  projects/plugins/jetpack/changelog/update-comments-on-launchpad-modal
  projects/plugins/jetpack/extensions/plugins/launchpad-save-modal/launchpad-save-modal.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Extension] Launchpad Save Modal

#31162 AI Assistant: Add sidebar notice about imprecise replies
  projects/plugins/jetpack/changelog/add-sidebar-notice-ai-assistant
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31164 AI Assistant: Add different message for requests with moderation issues
  projects/plugins/jetpack/changelog/update-ai-assistant-moderation-message
  projects/plugins/jetpack/extensions/blocks/ai-assistant/get-suggestion-with-stream.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31160 AI Assistant: simplify prompt logic
  projects/plugins/jetpack/changelog/modify-simplify-ai-assistant-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31167 AI Assistant: Focus input on moderation error
  projects/plugins/jetpack/changelog/update-focus-on-moderation-jetpack-ai
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31067 Revert gating to simple payments
  projects/packages/plans/changelog/add-revert-changes-to-simple-payments
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
  projects/plugins/jetpack/changelog/add-revert-changes-to-simple-payments
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/extensions/blocks/premium-content/editor.js
  projects/plugins/jetpack/extensions/blocks/premium-content/premium-content.php
  projects/plugins/jetpack/extensions/blocks/simple-payments/simple-payments.php
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
  tools/e2e-commons/helpers/plan-helper.js
Labels: [Status] Ready to Merge, Pay With Paypal, [Status] Needs Cherry-Pick, E2E Tests, [Block] Premium Content, [Plugin] Jetpack, [Block] Pay With Paypal, [Package] Plans

#31173 AI Assistant: Increase `font-size` for small screen
  projects/plugins/jetpack/changelog/fix-jetpack-ai-font-size-small
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31171 AI Assistant: Check if request reference has a current value
  projects/plugins/jetpack/changelog/update-ai-assistant-source-ref-current-check
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31140 Improve/readme add jetpack ai
  projects/plugins/jetpack/changelog/improve-readme-add-jetpack-ai
  projects/plugins/jetpack/readme.txt
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31175 AI Assistant: Add AI guidelines link to sidebar
  projects/plugins/jetpack/changelog/update-ai-assistant-ai-guidelines
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
Labels: [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Block] AI Assistant

#31179 AI Assistant: Set `postTitle` as empty string by default
  projects/plugins/jetpack/changelog/fix-jetpack-ai-title
  projects/plugins/jetpack/extensions/blocks/ai-assistant/create-prompt.js
Labels: [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Block] AI Assistant

#31168 Jetpack Social | Fix state when adding a new connections
  projects/js-packages/publicize-components/changelog/fix-social-connection-state
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/js-packages/publicize-components/src/hooks/use-dismiss-notice/index.js
  projects/js-packages/publicize-components/src/store/effects.js
  projects/plugins/social/changelog/fix-social-connection-state
  projects/plugins/social/src/js/components/instagram-notice/index.jsx
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components

#31185 Publicize | Simplify i18n strings
  projects/js-packages/publicize-components/changelog/fix-simplify-publicize-translations
  projects/js-packages/publicize-components/src/components/form/index.js
  projects/packages/publicize/changelog/fix-simplify-publicize-translations
  projects/packages/publicize/src/class-share-limits.php
Labels: [Status] Ready to Merge, RNA, [Package] Publicize, [JS Package] Publicize Components

#31183 IDC: fix connection screen for broken connection
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/fix-idc-missing-blog-token
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack

#31153 CRM: Resolves 3134 - show invoice assignee link
  projects/plugins/crm/changelog/fix-crm-3134-show_invoice_assignee_link
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
Labels: [Status] Needs Team Review, [Plugin] CRM

#31086 Protect: Add license check filtering
  projects/plugins/protect/changelog/add-protect-license-check-filtering
  projects/plugins/protect/src/class-jetpack-protect.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#31174 CRM: Resolves 3091 - clean up user roles
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/fix-crm-3091-clean_up_user_roles
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.WP.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Page.Controller.php
  projects/plugins/crm/includes/ZeroBSCRM.Migrations.php
  projects/plugins/crm/includes/ZeroBSCRM.Permissions.php
  projects/plugins/crm/includes/jpcrm-learn-menu-legacy-functions.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#31189 CRM: Resolves 3145 - fix company field typo
  projects/plugins/crm/changelog/fix-crm-3145-company_fields_typo
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Companies.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#31197 Backport changelogs for Jetpack 12.2 cherry picks
  projects/packages/plans/CHANGELOG.md
  projects/packages/plans/changelog/add-revert-changes-to-simple-payments
  projects/packages/plans/package.json
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/Make free subscribers confirm email before viewing content
  projects/plugins/jetpack/changelog/add-read-me-link-to-stripe-banner
  projects/plugins/jetpack/changelog/add-revert-changes-to-simple-payments
  projects/plugins/jetpack/changelog/add-sidebar-notice-ai-assistant
  projects/plugins/jetpack/changelog/add-tracks-event-for-boost-score-error
  projects/plugins/jetpack/changelog/earn-newsletters-fix-undefined-counts
  projects/plugins/jetpack/changelog/fix-ai-assistant-error-check
  projects/plugins/jetpack/changelog/fix-ai-assistant-focus-color
  projects/plugins/jetpack/changelog/fix-api-settings-use-defaults
  projects/plugins/jetpack/changelog/fix-idc-missing-blog-token
  projects/plugins/jetpack/changelog/fix-jetpack-ai-font-size-small
  projects/plugins/jetpack/changelog/fix-jetpack-ai-title
  projects/plugins/jetpack/changelog/fix-jetpack-ai-try-again
  projects/plugins/jetpack/changelog/fix-plugins-new-endpoint
  projects/plugins/jetpack/changelog/improve-readme-add-jetpack-ai
  projects/plugins/jetpack/changelog/modify-ai-assistant-title
  projects/plugins/jetpack/changelog/modify-shorten-ai-assistant-menu-text
  projects/plugins/jetpack/changelog/modify-simplify-ai-assistant-prompt
  projects/plugins/jetpack/changelog/update-ai-assistant-add-accept-button-for-partial-content
  projects/plugins/jetpack/changelog/update-ai-assistant-ai-guidelines
  projects/plugins/jetpack/changelog/update-ai-assistant-extend-when-possible
  projects/plugins/jetpack/changelog/update-ai-assistant-introduce-service-unavailable-error
  projects/plugins/jetpack/changelog/update-ai-assistant-iterate-over-block-actions
  projects/plugins/jetpack/changelog/update-ai-assistant-moderation-message
  projects/plugins/jetpack/changelog/update-ai-assistant-populate-prompt-with-title
  projects/plugins/jetpack/changelog/update-ai-assistant-register-endpoints-even-for-jetpack-sites
  projects/plugins/jetpack/changelog/update-ai-assistant-remove-top-level-actions
  projects/plugins/jetpack/changelog/update-ai-assistant-source-ref-current-check
  projects/plugins/jetpack/changelog/update-ai-assistant-track-toolbar-button-events
  projects/plugins/jetpack/changelog/update-ai-assistant-tweak-prompt-input
  projects/plugins/jetpack/changelog/update-focus-on-moderation-jetpack-ai
  projects/plugins/jetpack/changelog/update-jetpack-ai-input-focus
  projects/plugins/jetpack/changelog/update-jetpack-ai-toolbar-options
  projects/plugins/jetpack/changelog/update-question-messages-jetpack-assistant-ai
  projects/plugins/jetpack/changelog/update-readme
  projects/plugins/jetpack/changelog/y
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Plans

#31152 AI Assistant: replace tone button of the block toolbar with audio icon
  projects/plugins/jetpack/changelog/update-ai-assistant-update-tone-icon
  projects/plugins/jetpack/extensions/blocks/ai-assistant/icons/speak-tone.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/tone-dropdown-control.tsx
Labels: [Type] Enhancement, [Status] Needs Design Review, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Status] Design Input Requested, [Block] AI Assistant

#31101 Boost: Update CSS regen notice UX
  projects/plugins/boost/app/assets/src/js/pages/settings/elements/CriticalCssStatus.svelte
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/assets/src/js/react-components/RegenerateCriticalCssSuggestion.tsx
  projects/plugins/boost/app/assets/src/js/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/stores/data-sync-client.ts
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/lib/Boost_Health.php
  projects/plugins/boost/app/lib/Environment_Change_Detector.php
  projects/plugins/boost/app/lib/Site_Health.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_Invalidator.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/app/modules/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/changelog/update-boost-css-regen-notice-more-descriptive
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Optimizations

#31204 Changelog / Readme: update pending Meta approval
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-readme-instagram
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Plugin] Jetpack

#31209 Backport changelogs for releases
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/readme.txt
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Social

#31158 Contact Form: remove duplicated Add Contact Form button
  projects/packages/forms/changelog/fix-double-contact-form-button
  projects/packages/forms/src/contact-form/class-admin.php
  projects/packages/forms/src/contact-form/class-editor-view.php
Labels: [Type] Bug, Contact Form, [Status] Needs Review, [Pri] High, [Package] Forms

#31201 Update CTA section on backup connection page
  projects/js-packages/base-styles/changelog/update-backup-connection-cta-modules-design
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/root-variables.scss
  projects/js-packages/components/changelog/update-backup-connection-cta-modules-design
  projects/js-packages/components/components/jetpack-vaultpress-backup-logo/index.tsx
  projects/js-packages/components/package.json
  projects/js-packages/connection/changelog/update-backup-connection-cta-modules-design
  projects/js-packages/connection/components/connect-screen/layout/index.jsx
  projects/js-packages/connection/components/connect-screen/layout/style.scss
  projects/js-packages/connection/components/connect-screen/required-plan/index.jsx
  projects/js-packages/connection/components/connect-screen/required-plan/visual.jsx
  projects/js-packages/connection/package.json
  projects/packages/backup/changelog/update-backup-connection-cta-modules-design
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/components/backup-promotion/index.jsx
  projects/packages/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/changelog/update-backup-connection-cta-modules-design
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-backup-connection-cta-modules-design
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-backup-connection-cta-modules-design
  projects/plugins/migration/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Connection, [Plugin] Backup, [JS Package] Components, [JS Package] Base Styles, [Plugin] Migration, [Tests] Includes Tests, [JS Package] Boost Score Api

#31211 AI Assistant: improve the process of getting post content
  projects/plugins/jetpack/changelog/update-ai-assistant-getting-blocks-content
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: Enhanced Distribution, [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31121 Launchpad: Refactor launchpad task completion for future tasks
  projects/packages/jetpack-mu-wpcom/changelog/try-refactor-launchpad-task-completion
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom

#31212 Fix: Redirecting from setup page to dashboard
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/fix-connection-back-setup
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Pri] Normal, [Plugin] Jetpack

#31222 AI Assistant: reorganize some block components
  projects/plugins/jetpack/changelog/update-ai-assistant-reorganize-block-components
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/i18n-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/prompt-templates-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/tone-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/multiple-blocks-edition/generate-panel.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/global.d.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Size] M, [Plugin] Jetpack, [Block] AI Assistant

#31232 e2e tests: revert #31190
  tools/e2e-commons/bin/e2e-env.sh
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, E2E Tests

#31214 Blocks: add path to enqueued styles
  projects/plugins/jetpack/changelog/Add-style-add-data
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Type] Enhancement, [Focus] Performance, [Status] Ready to Merge, [Pri] Normal, [Focus] Blocks, OSS Citizen, [Plugin] Jetpack

#30815 CRM: Adding Automation contact triggers
  projects/plugins/crm/changelog/add-crm-automation-triggers-contacts
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.InternalAutomatorRecipes.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-before-deleted.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-deleted.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-email-updated.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-new.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-status-updated.php
  projects/plugins/crm/src/automation/commons/triggers/contacts/class-contact-updated.php
  projects/plugins/crm/tests/php/automation/contacts/class-contact-trigger-test.php
  projects/plugins/crm/tests/php/automation/tools/class-automation-faker.php
Labels: [Status] In Progress, [Plugin] CRM, [Tests] Includes Tests

#31134 [RNMobile] Show "No title"/"No description" placeholder for not belonged videos
  projects/packages/videopress/changelog/rnmobile-videopress-no-description-placeholder
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/block-editor/blocks/video/components/details-panel/index.native.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Block] VideoPress, [Package] VideoPress

#31210 Release stuff that hasn't been released in a while
  projects/github-actions/repo-gardening/CHANGELOG.md
  projects/github-actions/repo-gardening/changelog/add-notify-kitkat-for-high-and-blocker-bugs
  projects/github-actions/repo-gardening/changelog/add-photon-legacy-label
  projects/github-actions/repo-gardening/changelog/boost-update-feature-interface-naming
  projects/github-actions/repo-gardening/changelog/fix-kitkat-message-emoji
  projects/github-actions/repo-gardening/changelog/fix-no-require
  projects/github-actions/repo-gardening/changelog/renovate-prettier-2.x
  projects/github-actions/repo-gardening/changelog/renovate-vercel-ncc-0.x
  projects/github-actions/repo-gardening/changelog/update-auto-labeling-boost-features
  projects/github-actions/repo-gardening/changelog/update-check-changelogger-use-count-changelog-changes
  projects/github-actions/repo-gardening/changelog/update-gardening-triage-priority-handling-events
  projects/github-actions/repo-gardening/changelog/update-improve-notifications-for-kitkat
  projects/github-actions/repo-gardening/changelog/update-kitkat-escalation
  projects/github-actions/repo-gardening/changelog/update-pull-request-md-review-label
  projects/github-actions/repo-gardening/changelog/update-repo-add-labels-loop
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-compat
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-labeling-docs
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-labels-crm
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-task-messages
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-tasks
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-tasks#2
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-triage-test-prs
  projects/github-actions/repo-gardening/changelog/update-triage-slack-notification-rules
  projects/github-actions/repo-gardening/package.json
  projects/js-packages/eslint-changed/CHANGELOG.md
  projects/js-packages/eslint-changed/changelog/remove-remnants-of-automated-code-coverage
  projects/js-packages/eslint-changed/changelog/renovate-jest-monorepo
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-changed/src/cli.js
  projects/packages/codesniffer/CHANGELOG.md
  projects/packages/codesniffer/changelog/add-composer-dev-keywords
  projects/packages/codesniffer/changelog/remove-remnants-of-automated-code-coverage
  projects/packages/codesniffer/changelog/renovate-mediawiki-mediawiki-codesniffer-41.x
  projects/packages/codesniffer/changelog/update-codesniffer-tests-ok-on-8.2-now
  projects/packages/codesniffer/changelog/update-phpcs-rules
  projects/packages/ignorefile/CHANGELOG.md
  projects/packages/ignorefile/changelog/remove-remnants-of-automated-code-coverage
  projects/packages/phpcs-filter/CHANGELOG.md
  projects/packages/phpcs-filter/changelog/add-composer-dev-keywords
  projects/packages/phpcs-filter/changelog/remove-remnants-of-automated-code-coverage
  projects/plugins/debug-helper/CHANGELOG.md
  projects/plugins/debug-helper/changelog/add-broken-token-custom-edit
  projects/plugins/debug-helper/changelog/add-debug-helper-wpcom-api-request-tracker
  projects/plugins/debug-helper/changelog/add-waf-helper
  projects/plugins/debug-helper/changelog/fix-debug-helper-modules-css
  projects/plugins/debug-helper/changelog/fix-deprecated-get-page-by-title
  projects/plugins/debug-helper/changelog/update-phpcs-rules
  projects/plugins/debug-helper/modules/class-scan-helper.php
  projects/plugins/debug-helper/plugin.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Package] Codesniffer, [Plugin] Debug Helper, RNA, [Action] Repo Gardening, [JS Package] Eslint Changed, [Package] Ignorefile, [Package] Phpcs Filter

#31238 My Jetpack: populate the Jetpack AI product with feature data
  projects/packages/my-jetpack/changelog/update-my-jetpack-populate-ai-product-in-the-initial-state-object
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Ready to Merge, [Size] S, [Package] My Jetpack

#31240 PHP8 compatibility updates.
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-tweetstorm-parse.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/service-api-keys.php
  projects/plugins/jetpack/changelog/ph8-fixes-0607-1008
Labels: [Status] Needs Review, [Plugin] Jetpack, PHP8 Compatibility

#31239 Launchpad: Add task to keep-building task-list
  projects/packages/jetpack-mu-wpcom/changelog/add-verify-email-keep-building
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31255 AI Assistant: Check if the block is in the block editor context before enabling Accept title action
  projects/plugins/jetpack/changelog/fix-ai-assistant-title-context
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/global.d.ts
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31230 Stats Admin: Add modules toggling API
  projects/packages/stats-admin/changelog/add-stats-admin-modules-api
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/add-stats-admin-modules-api
  projects/plugins/jetpack/composer.lock
Labels: Stats, [Plugin] Jetpack, [Package] Stats Admin

#31231 Stats Admin: Add module settings api
  projects/packages/stats-admin/changelog/add-stats-admin-module-settings-api
  projects/packages/stats-admin/src/class-rest-controller.php
Labels: Stats, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin, Reviewer Can Merge

#31261 Stats Admin: use WPCOM notice API
  projects/packages/stats-admin/changelog/update-stats-admin-use-wpcom-notice-api
  projects/packages/stats-admin/src/class-notices.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats-admin/src/class-wpcom-client.php
  projects/packages/stats-admin/tests/php/class-test-case.php
  projects/packages/stats-admin/tests/php/test-rest-controller.php
  projects/packages/stats-admin/tests/php/test-stats-notices.php
Labels: Stats, [Status] Needs Team Review, [Package] Stats Admin, [Tests] Includes Tests

#30870 Cookie Consent: backend changes to move cookie consent block to template part
  projects/plugins/jetpack/changelog/fix-cookie-consent-backend
  projects/plugins/jetpack/extensions/blocks/cookie-consent/cookie-consent.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Block] Cookie Consent

#31055 Launchpad: Add is completed callback to launchpad
  projects/packages/jetpack-mu-wpcom/changelog/add-is-completed-callback-to-launchpad
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/class-launchpad-task-list-validation-test.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/class-launchpad-task-lists-test.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Tests] Includes Tests

#31159 Admin Page: indicate external link for Subscribers list
  projects/plugins/jetpack/_inc/client/discussion/subscriptions.jsx
  projects/plugins/jetpack/changelog/fix-admin-page-subs-link-external
Labels: [Type] Bug, Subscriptions, [Status] Needs Review, Admin Page, [Pri] Low, [Plugin] Jetpack

#31262 AI Assistant: Request WPCOM JWT endpoint as user, not blog
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/update-ai-assistant-request-wpcom-jwt-endpoint-as-user
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31246 Launchpad: Add site title task to Keep Building checklist.
  projects/packages/jetpack-mu-wpcom/changelog/add-site-title-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31260 Add backup video section to connect page
  projects/packages/backup/changelog/add-backup-video-section-to-connect-page
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/components/backup-video-section/images/jetpack-backup-video-thumbnail.png
  projects/packages/backup/src/js/components/backup-video-section/index.jsx
  projects/packages/backup/src/js/components/backup-video-section/style.scss
  projects/packages/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/changelog/add-backup-video-section-to-connect-page
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-backup-video-section-to-connect-page
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-backup-video-section-to-connect-page
  projects/plugins/migration/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Migration

#31186 Launchpad: Support task list filtering of visible task
  projects/packages/jetpack-mu-wpcom/changelog/add-launchpad-is-visible-callback
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/class-launchpad-task-lists-test.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Tests] Includes Tests

#31264 AI Assistant: Add keyboard shortcuts
  projects/plugins/jetpack/changelog/add-jetpack-ai-keyboard-shortcuts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31268 [Subscription] Fix for WoA error
  projects/plugins/jetpack/changelog/add-fix-for-wao-error
  projects/plugins/jetpack/modules/subscriptions/views.php
Labels: [Type] Bug, Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#31276 Jetpack: init 12.3-a.4
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-fix-for-wao-error
  projects/plugins/jetpack/changelog/init-release-cycle#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Ready to Merge, [Plugin] Jetpack

#31278 AI Assistant: remove shortcuts labels from block area
  projects/plugins/jetpack/changelog/update-ai-assistant-remove-shortcut-label
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31280 stats-admin: Stop depending on deprecated options package
  projects/packages/stats-admin/changelog/update-remove-use-of-deprecated-package
  projects/packages/stats-admin/composer.json
  projects/plugins/jetpack/changelog/update-remove-use-of-deprecated-package
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Stats Admin

#31243 PHP8 compatibility updates.
  projects/plugins/jetpack/changelog/ph8-fixes-0607-1039
  projects/plugins/jetpack/class.json-api.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, PHP8 Compatibility

#31250 PHP8 compatibility updates.
  projects/plugins/jetpack/_inc/lib/class-jetpack-podcast-helper.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/_inc/lib/class.media-summary.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/ph8-fixes-0607-1318
Labels: [Plugin] Jetpack, PHP8 Compatibility

#31195 Social: Update the plan redirect to default to Advanced
  projects/plugins/social/changelog/update-social-admin-plan-redirect
  projects/plugins/social/src/js/components/header/index.js
Labels: [Status] Needs Team Review, [Plugin] Social

#31200 Do not display newsletter plans in the Premium content and Recurring payment blocks
  projects/plugins/jetpack/changelog/fix-filter-out-newsletter-plans
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
Labels: [Status] Needs Review, [Plugin] Jetpack

#31215 Newsletters: Make Subscriber Reach Sentence Future Tense for Scheduled Post
  projects/plugins/jetpack/changelog/fix-display-correct-newsletter-gated-text-for-panel
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#31290 Jetpack: jsdoc improvements in reducer file
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/changelog/update-jetpack-reducer-jsdoc-improvements
  tools/eslint-excludelist.json
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack

#31254 Correctly Gate Posts Rendered using Query Loop
  projects/plugins/jetpack/changelog/fix-correctly-gate-posts
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack, Memberships

#31292 CRM: Adding several new PHPCompatibility rules to support Automations code additions
  projects/plugins/crm/.phpcs.dir.phpcompatibility.xml
  projects/plugins/crm/.phpcs.dir.xml
  projects/plugins/crm/changelog/add-crm-phpcompatibility-rules-automation
Labels: [Status] Needs Team Review, [Plugin] CRM

#31279 Device Detection: Prevent checking the platform when the user agent is not set
  projects/packages/device-detection/changelog/patch-1
  projects/packages/device-detection/src/class-user-agent-info.php
Labels: [Type] Bug, [Status] Ready to Merge, OSS Citizen, [Package] Device Detection

#31187 Markdown Block: render single and double quotes as smart quotes
  projects/plugins/jetpack/changelog/fix-quotes-markdown-block
  projects/plugins/jetpack/extensions/blocks/markdown/renderer.js
Labels: [Type] Bug, Markdown, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack, [Block] Markdown

#31226 ci: Fix checkout logic in pr-is-up-to-date workflow
  .github/workflows/pr-is-up-to-date.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#31202 CRM: Resolves 2985 - move Email Manager placeholders
  projects/plugins/crm/changelog/fix-crm-2985-email_manager_placeholder_position_fix
  projects/plugins/crm/sass/ZeroBSCRM.admin.email.scss
Labels: [Status] Needs Team Review, [Plugin] CRM

#31291 Jetpack: show Jetpack AI product in the plan products list
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/update-jetpack-show-ai-assistant-product
  projects/plugins/jetpack/images/products/product-jetpack-ai.svg
Labels: [Status] Ready to Merge, Admin Page, [Size] M, [Plugin] Jetpack

#31282 AI Assistant: block query requests when required upgrade
  projects/plugins/jetpack/changelog/update-ai-assistant-block-requests-when-limit-achieved
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/get-suggestion-with-stream.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/Readme.md
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/use-suggestions-from-openai.js
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Block] AI Assistant

#31271 AI Assistant: introduce block Message component
  projects/plugins/jetpack/changelog/update-ai-assistant-introduce-message-component
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/block-message.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.scss
Labels: Enhanced Distribution, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Block] AI Assistant

#31298 AI Assistant: tweak content generated message
  projects/plugins/jetpack/changelog/update-ai-assistant-tweak-block-message
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-control.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/block-message.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/style.scss
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31285 Add why i need backup section to connect page
  projects/packages/backup/changelog/add-why-i-need-backup-section-to-connect-page
  projects/packages/backup/src/js/components/icons/autorenew.svg
  projects/packages/backup/src/js/components/icons/cloud-done.svg
  projects/packages/backup/src/js/components/icons/group-work.svg
  projects/packages/backup/src/js/components/icons/history.svg
  projects/packages/backup/src/js/components/why-i-need-vp-backup/index.tsx
  projects/packages/backup/src/js/components/why-i-need-vp-backup/style.scss
  projects/packages/backup/src/js/hooks/useConnection.js
  projects/packages/backup/types.d.ts
Labels: [Status] Needs Team Review, [Package] Backup

#31266 Testing comment reminder: update to include WoA testing details.
  .github/workflows/build.yml
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Tools] Monorepo Setup

#31300 AI Assistant: Fix translation feature
  projects/plugins/jetpack/changelog/fix-ai-assistant-translate-args
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31124 Protect: Sort threats by severity
  projects/plugins/protect/changelog/fix-threats-list-sorting
  projects/plugins/protect/src/js/components/threats-list/use-threats-list.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Protect

#31288 Update CRM gravatar hash
  projects/plugins/crm/changelog/update-crm-gravatar-hash
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
Labels: [Status] Ready to Merge, [Plugin] CRM

#31177 CRM: Resolves 3130 - centralise browser autocomplete disable
  projects/plugins/crm/admin/email/main.page.php
  projects/plugins/crm/admin/settings/mail-delivery.page.php
  projects/plugins/crm/changelog/fix-crm-3130-centralise_browser_autocomplete_disable
  projects/plugins/crm/includes/ZeroBSCRM.CustomerFilters.php
  projects/plugins/crm/includes/ZeroBSCRM.FormatHelpers.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Logs.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Transactions.php
  projects/plugins/crm/includes/jpcrm-templating-placeholders.php
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
  projects/plugins/crm/modules/portal/endpoints/class-details-endpoint.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-my-account-integration.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [CRM] Woo Sync Module, [CRM] Portal Module

#31315 Docker: Change MariaDB version to LTS
  tools/docker/docker-compose.yml
Labels: [Status] Ready to Merge, Docker

#31320 AI Assistant: Change icon on AI disclaimer message
  projects/plugins/jetpack/changelog/fix-ai-assistant-message-icon
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/block-message.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31303 Blocks: Add a Tock block
  projects/plugins/jetpack/changelog/add-tock-block
  projects/plugins/jetpack/extensions/blocks/tock/attributes.js
  projects/plugins/jetpack/extensions/blocks/tock/edit.js
  projects/plugins/jetpack/extensions/blocks/tock/editor.js
  projects/plugins/jetpack/extensions/blocks/tock/editor.scss
  projects/plugins/jetpack/extensions/blocks/tock/icon.js
  projects/plugins/jetpack/extensions/blocks/tock/index.js
  projects/plugins/jetpack/extensions/blocks/tock/style.scss
  projects/plugins/jetpack/extensions/blocks/tock/tock.php
  projects/plugins/jetpack/extensions/blocks/tock/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, [Pri] Normal, Actions, [Plugin] Jetpack, [Block] Tock

#31060 Update and improve Social Previews defaults
  projects/js-packages/publicize-components/changelog/update-social-previews-defaults
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/store/selectors.js
  projects/js-packages/publicize-components/src/store/test/selectors.js
Labels: [Status] Ready to Merge, [Plugin] Jetpack, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#31335 AI Assistant: Register ai-assistant-support beta extension
  projects/plugins/jetpack/changelog/update-jetpack-ai-assistant-register-beta-extension
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31336 AI Assistant: Files reorganization
  projects/plugins/jetpack/changelog/update-ai-assistant-files-refactor
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-control/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/i18n-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/image-with-select/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/message/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/toolbar-controls/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/multiple-blocks-edition/generate-panel.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/global.d.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/image/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/token.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/test/edit.js
Labels: [Type] Janitorial, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Tests] Includes Tests, [Block] AI Assistant

#30908 AI Assistant: introduce jetpack/ai supports
  projects/plugins/jetpack/changelog/update-ai-assistant-introduce-support
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-panel/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-panel/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/global.d.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/supports/Readme.md
  projects/plugins/jetpack/extensions/blocks/ai-assistant/supports/index.ts
Labels: [Type] Enhancement, Docs, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31310 Social: Fix Instagram image validation
  projects/js-packages/publicize-components/changelog/fix-social-instagram-restriction-name
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/restrictions.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#31311 Super Cache: Update Boost install/activate card
  projects/plugins/super-cache/assets/boost-install-card-main-2x.png
  projects/plugins/super-cache/assets/boost-install-card-main.png
  projects/plugins/super-cache/assets/boost-performance-2x.png
  projects/plugins/super-cache/assets/boost-performance.png
  projects/plugins/super-cache/assets/jetpack-logo.svg
  projects/plugins/super-cache/changelog/update-super-cache-boost-install-card
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache, [Super Cache] UI

#31350 AI Assistant: Do not extend if the AI Assistant block is not registered
  projects/plugins/jetpack/changelog/update-ai-assistant-check-block-registered-before-to-extend
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.js
Labels: [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31349 Update jetpack-mu-wpcom-plugin version
  projects/packages/jetpack-mu-wpcom/changelog/update-package-version
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/changelog/bump-version
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#30653 Adds feature where if review requirement not met, then request
  projects/github-actions/required-review/README.md
  projects/github-actions/required-review/action.yml
  projects/github-actions/required-review/changelog/request-review-if-not-satisfied
  projects/github-actions/required-review/src/main.js
  projects/github-actions/required-review/src/request-review.js
  projects/github-actions/required-review/src/requirement.js
Labels: Docs, [Status] Needs Review, Actions, OSS Citizen, [Action] Required Review

#31354 AI Assistant: extend blocks toolbar
  projects/plugins/jetpack/changelog/update-ai-assistant-add-quick-edits-controls
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
Labels: [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31221 Add testimonial to backup connect screen
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-testimonial-to-backup-connect-screen
  projects/js-packages/components/components/gridicon/index.tsx
  projects/js-packages/components/components/testimonials/index.tsx
  projects/js-packages/components/components/testimonials/style.scss
  projects/js-packages/components/components/testimonials/test/component.tsx
  projects/js-packages/components/components/testimonials/testimonial.tsx
  projects/js-packages/components/components/testimonials/types.ts
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/packages/backup/changelog/add-testimonial-to-backup-connect-screen
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/hooks/assets/ben-giordano-testimonial.png
  projects/packages/backup/src/js/hooks/assets/tim-ferriss-testimonial.png
  projects/packages/backup/src/js/hooks/useConnection.js
  projects/plugins/backup/changelog/add-testimonial-to-backup-connect-screen
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/add-testimonial-to-backup-connect-screen
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-testimonial-to-backup-connect-screen
  projects/plugins/migration/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, RNA, [Package] Backup, [Plugin] Backup, [JS Package] Components, [Plugin] Migration, [Tests] Includes Tests

#31359 AI Assistant: add tone into AI Assistant dropdown menu
  projects/plugins/jetpack/changelog/update-ai-assistant-add-change-tone-option
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/tone-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/tone-dropdown-control/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/toolbar-controls/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
Labels: [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31281 Launchpad: Add domain upsell task to keep building list
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-add-domain-upsell-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31363 AI Assistant: Add Expand option to the extended blocks toolbar
  projects/plugins/jetpack/changelog/add-ai-assistant-add-make-longer-option
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
Labels: [Status] Ready to Merge, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31364 AI Assistant: Add Summarize option to the AI Assistant dropdown menu for extended blocks
  projects/plugins/jetpack/changelog/add-ai-assistant-summarize-option
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31346 AI Assistant: Add and use ImproveToolbarDropdownMenu in block toolbar
  projects/plugins/jetpack/changelog/update-ai-assistant-introduce-improve-dropdown
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/improve-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/toolbar-controls/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31145 Jetpack Boost: Add a proxy to the Image Guide so it can load remote images
  projects/js-packages/image-guide/changelog/fix-proxy_image_guide_images
  projects/js-packages/image-guide/package.json
  projects/js-packages/image-guide/src/MeasurableImage.ts
  projects/js-packages/image-guide/src/find-image-elements.ts
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/utils/make-admin-ajax-request.ts
  projects/plugins/boost/app/modules/image-guide/Image_Guide.php
  projects/plugins/boost/app/modules/image-guide/Image_Guide_Proxy.php
  projects/plugins/boost/app/modules/image-guide/src/index.ts
  projects/plugins/boost/app/modules/image-guide/src/ui/Popup.svelte
  projects/plugins/boost/changelog/fix-proxy_image_guide_images
Labels: [Status] Needs Team Review, RNA, [Plugin] Boost, [JS Package] Image Guide, [Boost Feature] Image Guide

#31355 Tock Block: Implement settings with a dropdown
  projects/plugins/jetpack/changelog/update-tock-block-settings
  projects/plugins/jetpack/extensions/blocks/tock/edit.js
  projects/plugins/jetpack/extensions/blocks/tock/editor.scss
  projects/plugins/jetpack/extensions/blocks/tock/index.js
  projects/plugins/jetpack/extensions/blocks/tock/tock.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, [Block] Tock

#31353 Update/hide customizer and custom css on block based themes
  projects/plugins/jetpack/changelog/update-hide-customizer-and-custom-css-on-block-based-themes
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
Labels: [Status] Ready to Merge, Masterbar, [Plugin] Jetpack

#30855 Jetpack AI Client: Introduce scaffolding for a Jetpack AI client JS package
  pnpm-lock.yaml
  projects/js-packages/ai-client/.gitattributes
  projects/js-packages/ai-client/.gitignore
  projects/js-packages/ai-client/CHANGELOG.md
  projects/js-packages/ai-client/README.md
  projects/js-packages/ai-client/changelog/.gitkeep
  projects/js-packages/ai-client/changelog/add-js-package-jetpack-ai-client
  projects/js-packages/ai-client/composer.json
  projects/js-packages/ai-client/index.js
  projects/js-packages/ai-client/jest.config.cjs
  projects/js-packages/ai-client/jsconfig.json
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/index.js
  projects/js-packages/ai-client/tests/index.test.js
Labels: Docs, [Status] Ready to Merge, RNA, [Tests] Includes Tests, [JS Package] Ai Client

#31378 AI Feature: update block content once AI response is ready
  projects/plugins/jetpack/changelog/update-ai-assistant-plug-ai-feature-with-data-layer
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-ai/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
Labels: [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31377 Launchpad: Add drive traffic task
  projects/packages/jetpack-mu-wpcom/changelog/add-drive-traffic-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#31388 Jetpack: backport 12.2.1 release
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-newsletter-panel-with-react-17
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#31385 Tock Block: Hardcode the HTML code for PHP rendering
  projects/plugins/jetpack/changelog/fix-tock-block-render
  projects/plugins/jetpack/extensions/blocks/tock/tock.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Tock

#31387 AI Feature: fix generating prompt when requesting suggestion
  projects/plugins/jetpack/changelog/update-ai-feature-fix-building-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/toolbar-controls/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31389 AI Assistant: iterate over custom hook to request suggestions
  projects/plugins/jetpack/changelog/update-ai-assistant-print-when-suggestion-event
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-ai/index.ts
Labels: [Type] Enhancement, [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Block] AI Assistant, [AI Feature] Extensibility

#31157 CRM: Resolves 3143 - additional Emerald polish
  projects/plugins/crm/changelog/fix-crm-3143-additional_emerald_polish
  projects/plugins/crm/includes/ZeroBSCRM.AdminPages.php
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.List.CompletedEvents.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Events.php
  projects/plugins/crm/includes/ZeroBSCRM.List.QuoteTemplate.php
  projects/plugins/crm/includes/ZeroBSCRM.List.php
  projects/plugins/crm/includes/class-learn-menu.php
  projects/plugins/crm/includes/jpcrm-learn-menu-legacy-functions.php
  projects/plugins/crm/sass/ZeroBSCRM.admin.intro.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminmenu.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.genericeditpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.listview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.mobile.scss
  projects/plugins/crm/sass/_ZeroBSCRM.prevadmincore.scss
  projects/plugins/crm/sass/emerald/_dashcount.scss
  projects/plugins/crm/sass/emerald/_emerald_base.scss
  projects/plugins/crm/sass/emerald/_jpcrm_top_menu.scss
  tools/phpcs-excludelist.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#31155 CRM: Resolves 3138 - hide resources and support pages on white label installs
  projects/plugins/crm/changelog/fix-crm-3138-hide_resources_page_on_white_label
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.Top.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.WP.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#31224 Paid Newsletters: Implement New Design for Panels
  projects/plugins/jetpack/changelog/add-implement-designs-for-newsletter-panel
  projects/plugins/jetpack/extensions/blocks/subscriptions/constants.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.scss
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Blaze

#31395 Release 1.0.0 of migration plugin
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/add-testimonial-to-backup-connect-screen
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/update-always-display-connection-button
  projects/js-packages/connection/package.json
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/add-testimonial-to-backup-connect-screen
  projects/packages/backup/src/class-package-version.php
  projects/plugins/migration/CHANGELOG.md
  projects/plugins/migration/changelog/add-backup-to-migration
  projects/plugins/migration/changelog/add-backup-video-section-to-connect-page
  projects/plugins/migration/changelog/add-composer-dev-keywords
  projects/plugins/migration/changelog/add-golden-token-experience
  projects/plugins/migration/changelog/add-integrate-ip-package
  projects/plugins/migration/changelog/add-license-key-activation-link
  projects/plugins/migration/changelog/add-my-jetpack-jetpack-ai-interstitial
  projects/plugins/migration/changelog/add-my-jetpack-pricing-table-boost
  projects/plugins/migration/changelog/add-my-jetpack-pricing-table-boost#2
  projects/plugins/migration/changelog/add-my-jetpack-product-detail-table
  projects/plugins/migration/changelog/add-offline-mode-standalone-plugins
  projects/plugins/migration/changelog/add-package-suggestions
  projects/plugins/migration/changelog/add-package-suggestions#2
  projects/plugins/migration/changelog/add-reader-views-toggle
  projects/plugins/migration/changelog/add-secondary-admin-backup
  projects/plugins/migration/changelog/add-testimonial-to-backup-connect-screen
  projects/plugins/migration/changelog/add-w.org-assets
  projects/plugins/migration/changelog/add-yoast-promo-prepublish-panel
  projects/plugins/migration/changelog/add-zendesk-chat-module
  projects/plugins/migration/changelog/add-zendesk-chat-module#2
  projects/plugins/migration/changelog/backport-cherry-pick-12.1-beta
  projects/plugins/migration/changelog/feat-rest-api-jetpack-block
  projects/plugins/migration/changelog/fix-akismet-upgrade-screen
  projects/plugins/migration/changelog/fix-jetpack-icon-menu-bar
  projects/plugins/migration/changelog/monthly-branch-2023-04-25
  projects/plugins/migration/changelog/renovate-automattic-wordbless-0.x
  projects/plugins/migration/changelog/renovate-babel-monorepo
  projects/plugins/migration/changelog/renovate-babel-monorepo#2
  projects/plugins/migration/changelog/renovate-concurrently-7.x
  projects/plugins/migration/changelog/renovate-lock-file-maintenance
  projects/plugins/migration/changelog/renovate-lock-file-maintenance#2
  projects/plugins/migration/changelog/renovate-lock-file-maintenance#3
  projects/plugins/migration/changelog/renovate-npm-webpack-vulnerability
  projects/plugins/migration/changelog/renovate-wordpress-monorepo
  projects/plugins/migration/changelog/renovate-wordpress-monorepo#2
  projects/plugins/migration/changelog/renovate-wordpress-monorepo#3
  projects/plugins/migration/changelog/renovate-wordpress-monorepo#4
  projects/plugins/migration/changelog/update-backup-connection-cta-modules-design
  projects/plugins/migration/changelog/update-jetpack-module-tags-i18n
  projects/plugins/migration/changelog/update-my-jetpack-zendesk-chat-show-conditionally-with-api
  projects/plugins/migration/changelog/update-pnpm-8
  projects/plugins/migration/changelog/update-use-assets-enqueue-stats
  projects/plugins/migration/changelog/update-wp-requirements
  projects/plugins/migration/changelog/update-wp-tested-up-to
  projects/plugins/migration/composer.json
  projects/plugins/migration/readme.txt
  projects/plugins/migration/wpcom-migration.php
Labels: Docs, RNA, [Package] Backup, [JS Package] Connection, [JS Package] Components, [Plugin] Migration

#31376 Enhance/block themes hide customizer
  projects/plugins/jetpack/changelog/enhance-block-themes-hide-customizer
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
Labels: [Type] Enhancement, Custom CSS, [Status] Ready to Merge, Masterbar, [Plugin] Jetpack

#31384 AI Assistant: Add translate action in extension
  projects/plugins/jetpack/changelog/add-jetpack-ai-translate-paragraph
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-controls/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/i18n-dropdown-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/i18n-dropdown-control/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#31398 AI Assistant: introduce function to create the initial system prompt
  projects/plugins/jetpack/changelog/update-ai-assistant-create-fn-to-extract-system-initial-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#31296 Tiled Galleries: fix dynamic property deprecation notices
  projects/plugins/jetpack/changelog/fix-tiled-gallery-deprecations
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery-item.php
Labels: Tiled Gallery, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#31305 Connection: do not disconnect sites on WPCOM in Offline Mode
  projects/packages/connection/changelog/fix-disconnect-wpcom-offline-mode
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/plugins/backup/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/migration/composer.json
  projects/plugins/migration/composer.lock
  projects/plugins/migration/wpcom-migration.php
  projects/plugins/protect/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-disconnect-wpcom-offline-mode
  projects/plugins/videopress/composer.lock
  tools/docker/mu-plugins/.gitignore
  tools/docker/mu-plugins/offline-mode-force-wpcom-disconnect.php
Labels: [Status] Ready to Merge, Docker, [Package] Connection, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#31401 AI Assistant: Separate prompt text from relevant content for extensions
  projects/plugins/jetpack/changelog/update-ai-assistant-separate-prompt-text-from-content
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Block] AI Assistant

#30678 CRM: Client Portal PHP fatal error when loading endpoints/shortcodes
  projects/plugins/crm/changelog/fix-crm-3003-client-portal-fatal-error-loading-endpoints
  projects/plugins/crm/modules/portal/class-client-portal.php
Labels: [Status] In Progress, [Plugin] CRM, [CRM] Portal Module

#31403 AI Assistant: create function to build the post data prompt
  projects/plugins/jetpack/changelog/update-ai-assistant-create-fn-to-build-post-data-prompt
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
Labels: [Type] Enhancement, [Type] Janitorial, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31402 Fix jetpack iframe wpcom path for proper staticizing url generation
  projects/plugins/jetpack/_inc/lib/class.jetpack-iframe-embed.php
  projects/plugins/jetpack/changelog/update-fix-jetpack-iframe-wpcom-path-for-proper-staticizing-url-generation
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#31408 tools: Update output for `check-intra-monorepo-deps.sh -R`
  tools/check-intra-monorepo-deps.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#31178 CRM: Resolves 1907 - Hopscotch welcome tour fixes
  projects/plugins/crm/admin/dashboard/partials/first-use-dashboard-woo.block.php
  projects/plugins/crm/admin/dashboard/partials/first-use-dashboard.block.php
  projects/plugins/crm/changelog/fix-crm-1907-welcome_tour_fixes
  projects/plugins/crm/includes/ZeroBSCRM.OnboardMe.php
  projects/plugins/crm/includes/class-learn-menu.php
  projects/plugins/crm/includes/jpcrm-learn-menu-legacy-functions.php
  projects/plugins/crm/js/ZeroBSCRM.admin.tour.js
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#31409 AI Assistant: extract and use block content utils
  projects/plugins/jetpack/changelog/update-ai-assistant-create-block-content-utils
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/utils/block-content.ts
Labels: [Type] Janitorial, [Status] Needs Team Review, [Size] S, [Plugin] Jetpack, [Block] AI Assistant

#31170 Subscribers Page: Add `Subscribers` link to the menu
  projects/plugins/jetpack/changelog/add-subscribers-menu-item
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-jetpack-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: [Type] Enhancement, Subscriptions, [Status] Ready to Merge, Masterbar, [Plugin] Jetpack, [Tests] Includes Tests

#31017 WP Super Cache: preload notification shows last 5 preloaded files now
  projects/plugins/super-cache/changelog/update-preload_notification
  projects/plugins/super-cache/inc/preload-notification.js
  projects/plugins/super-cache/inc/preload-notification.php
  projects/plugins/super-cache/js/preload-notification.js
  projects/plugins/super-cache/partials/preload.php
  projects/plugins/super-cache/wp-cache.php
  tools/phpcs-excludelist.json
Labels: [Status] In Progress, [Plugin] Super Cache

#31234 [Boost] Connect image guide ui to back-end
  projects/packages/wp-js-data-sync/changelog/boost-image-guide-hookup
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/schema/types/class-type-assoc-array.php
  projects/plugins/boost/app/assets/src/js/api/api-error.ts
  projects/plugins/boost/app/assets/src/js/elements/Button.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/MultiProgress.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsMeta.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/RecommendationsPage.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Hero.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Table.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRow.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRowExpanded.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/TableRowHover.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/Tabs.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/recommendations/components/RowTitle.svelte
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-groups.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/isa-summary.ts
  projects/plugins/boost/app/assets/src/js/modules/image-size-analysis/store/zod-types.ts
  projects/plugins/boost/app/assets/src/js/pages/settings/sections/Modules.svelte
  projects/plugins/boost/app/lib/Premium_Features.php
  projects/plugins/boost/app/lib/critical-css/source-providers/Source_Providers.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Archive_Provider.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Post_ID_Provider.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Provider.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Singular_Post_Provider.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Taxonomy_Provider.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/WP_Core_Provider.php
  projects/plugins/boost/app/modules/image-size-analysis/Image_Size_Analysis.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Groups.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Summary.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/app/rest-api/endpoints/Image_Analysis_Start.php
  projects/plugins/boost/changelog/boost-image-guide-hookup
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, [Plugin] Boost, [Package] WP JS Data Sync, [Boost Feature] Image Size Analysis

#31412 Boost: Fix class namespace
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Summary.php
  projects/plugins/boost/app/rest-api/endpoints/Image_Analysis_Start.php
  projects/plugins/boost/changelog/fix-boost-class-namespace
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#31410 Boost: Fix image guide position
  projects/js-packages/image-guide/changelog/improve-image-url-validation
  projects/js-packages/image-guide/src/find-image-elements.ts
  projects/plugins/boost/app/modules/image-guide/src/initialize.ts
  projects/plugins/boost/app/modules/image-guide/src/ui/Main.svelte
  projects/plugins/boost/changelog/fix-image-guide-position
Labels: [Status] Needs Team Review, RNA, [Plugin] Boost, [JS Package] Image Guide, [Boost Feature] Image Guide

#31407 ci: Checkout package trees for build
  .github/workflows/build.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#31414 Boost: build on yalc push
  projects/plugins/boost/changelog/update-build-boost-on-yalc
  projects/plugins/boost/package.json
Labels: [Status] Needs Team Review, [Plugin] Boost

#30648 Use TypeScript on videopress-core
  pnpm-lock.yaml
  projects/js-packages/videopress-core/.gitignore
  projects/js-packages/videopress-core/babel.config.cjs
  projects/js-packages/videopress-core/changelog/add-videopress-core-ts-build
  projects/js-packages/videopress-core/composer.json
  projects/js-packages/videopress-core/jsconfig.json
  projects/js-packages/videopress-core/package.json
  projects/js-packages/videopress-core/src/index.js
  projects/js-packages/videopress-core/src/index.ts
  projects/js-packages/videopress-core/tests/index.test.ts
  projects/js-packages/videopress-core/tsconfig.json
  projects/js-packages/videopress-core/webpack.config.cjs
Labels: VideoPress, [Status] Ready to Merge, RNA, [Tests] Includes Tests, [JS Package] Videopress Core

#31213 Plans: use the Jetpack Plans package in the Jetpack plugin, and deprecate existing class
  projects/packages/plans/changelog/rm-jetpack-plan-current-plan
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
  projects/packages/stats-admin/changelog/rm-jetpack-plan-current-plan
  projects/packages/stats-admin/changelog/rm-jetpack-plan-current-plan2
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-odyssey-config-data.php
  projects/packages/status/changelog/rm-jetpack-plan-current-plan
  projects/packages/status/src/class-modules.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-recommendations.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-debug-data.php
  projects/plugins/jetpack/changelog/rm-jetpack-plan-current-plan
  projects/plugins/jetpack/changelog/rm-jetpack-plan-current-plan#2
  projects/plugins/jetpack/changelog/rm-jetpack-plan-current-plan2
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/class.jetpack-plan.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/tiled-gallery.php
  projects/plugins/jetpack/modules/infinite-scroll.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-dashboard-switcher-tracking.php
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-jetpack-admin-menu.php
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
  projects/plugins/jetpack/modules/plugin-search.php
  projects/plugins/jetpack/modules/seo-tools/class-jetpack-seo-utils.php
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
  projects/plugins/jetpack/modules/stats/class-jetpack-stats-upgrade-nudges.php
  projects/plugins/jetpack/modules/videopress/class.videopress-gutenberg.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-plan.php
  tools/e2e-commons/helpers/plan-helper.js
Labels: Stats, VideoPress, [Status] In Progress, [Status] Needs Review, [Type] Janitorial, SEO Tools, [Pri] Normal, Masterbar, Pay With Paypal, Plans, [Block] Tiled Gallery, [Package] Status, E2E Tests, [Plugin] Jetpack, [Package] Plans, [Package] Stats Admin, [Tests] Includes Tests

#31411 Reduce Margin Within The Blaze panel
  projects/packages/blaze/changelog/add-fix-margin-with-blaze-panel
  projects/packages/blaze/composer.json
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-blaze.php
  projects/packages/blaze/src/js/editor.scss
  projects/plugins/jetpack/changelog/add-fix-margin-with-blaze-panel
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack, [Package] Blaze

#31416 AI Assistant: collect, store and send prompt history
  projects/plugins/jetpack/changelog/update-ai-assistant-store-prompts-in-block-attr
  projects/plugins/jetpack/extensions/blocks/ai-assistant/attributes.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/suggestions/index.js
Labels: [Status] Needs Team Review, [Size] M, [Plugin] Jetpack, [Block] AI Assistant

#31180 Actions: add new action to run k6 tests against staging sites
  .github/files/jetpack-staging-sites/k6-backend.js
  .github/files/jetpack-staging-sites/k6-frontend.js
  .github/files/jetpack-staging-sites/k6-shared.js
  .github/files/jetpack-staging-sites/update-jetpack-staging-sites.sh
  .github/workflows/jetpack-staging-sites-k6-tests.yml
  .github/workflows/slack-workflow-failed.yml
  .github/workflows/update-jetpack-staging-sites.yml
Labels: [Status] Needs Review, Actions

#31404 Social Logos: update to include a Fediverse and a Nextdoor logo.
  pnpm-lock.yaml
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.woff2
  projects/plugins/jetpack/changelog/update-social-logos-icon-font-fediverse-nextdoor
  projects/plugins/jetpack/modules/theme-tools/social-menu/icon-functions.php
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.css
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.svg
  projects/plugins/jetpack/modules/widgets/social-icons.php
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, Sharing, Extra Sidebar Widgets, Theme Tools, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#31432 Jetpack plugin: add srcset to related posts thumbs
  projects/plugins/jetpack/changelog/update-add-srcset-to-related-posts
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/related-posts/related-posts.js
Labels: [Type] Enhancement, Related Posts, [Focus] Performance, [Status] Ready to Merge, [Plugin] Jetpack

#30940 [Newsletter] Create default membership product silently in newsletter context
  projects/plugins/jetpack/changelog/add-silence-premium-content-product-creation
  projects/plugins/jetpack/extensions/blocks/subscriptions/settings.js
  projects/plugins/jetpack/extensions/store/membership-products/actions.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
  projects/plugins/jetpack/extensions/store/membership-products/selectors.js
  projects/plugins/jetpack/extensions/store/membership-products/test/actions-test.js
  projects/plugins/jetpack/extensions/store/membership-products/test/selectors-test.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, [Block] Subscriptions, [Plugin] Jetpack, [Tests] Includes Tests
