Repository Automattic/jetpack, pull requests merged in 2024-08, with the labels that each got.

#38659 Masterbar: Remove dead Help icon CSS code
  projects/packages/jetpack-mu-wpcom/changelog/remove-dead-css-code
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#38375 Social: Add feature flag management
  projects/js-packages/publicize-components/changelog/add-feature-flag-management
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/add-feature-flag-management
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
  projects/plugins/jetpack/changelog/add-feature-flag-management
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-feature-flag-management
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#38667 Revert "Social: Add feature flag management"
  projects/js-packages/publicize-components/changelog/add-feature-flag-management
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/add-feature-flag-management
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
  projects/plugins/jetpack/changelog/add-feature-flag-management
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-feature-flag-management
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Type] Revert

#38551 Masterbar: Fix icon overlap issue at smaller resolutions
  projects/packages/jetpack-mu-wpcom/changelog/fix-masterbar-icons-overlap-in-mobile
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, [mu wpcom Feature] Wpcom Admin Bar

#38615 AIOWP Helper: Add `target_blog_id` eventprop to Tracks events
  projects/plugins/wpcomsh/changelog/add-aiowp-target-blog-id
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcom-migration-helpers/site-migration-helpers.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#38619 Podcast Player Block: Ensure React 19 compatibility by replacing unmountComponentAtNode
  projects/plugins/jetpack/changelog/update-react-19-compat-unmountComponentAtNode
  projects/plugins/jetpack/extensions/blocks/podcast-player/view.js
Labels: [Status] Needs Review, [Block] Podcast Player, [Plugin] Jetpack

#38646 AI Logo Generator: open the logo block extension to 10% of user base
  projects/plugins/jetpack/changelog/update-ai-logo-generator-release-to-simple-sites
  projects/plugins/jetpack/extensions/extended-blocks/core-site-logo/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#38676 AI Logo Generator: small UI fixes
  projects/js-packages/ai-client/changelog/update-ai-logo-generator-small-ui-fixes
  projects/js-packages/ai-client/src/logo-generator/components/feature-fetch-failure-screen.tsx
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/visit-site-banner.tsx
Labels: [Status] Needs Review, RNA, [JS Package] AI Client

#38672 Admin bar: help center and notification icons now follow color scheme
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-icon-color
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/plugins/jetpack/changelog/fix-wpcom-icon-color
  projects/plugins/jetpack/modules/notes.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#38212 MU WPCOM: Port Dotcom FSE feature from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-a8c-fse
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/common/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/blocks/navigation-menu/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/blocks/post-content/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/blocks/site-description/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/blocks/site-title/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/blocks/template/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/helpers/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/templates/class-wp-template-inserter.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/templates/class-wp-template.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/wpcom-legacy-fse.php
  projects/plugins/jetpack/changelog/mu-wpcom-a8c-fse
  projects/plugins/jetpack/sal/class.json-api-site-jetpack.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Fse, [mu wpcom Feature] Wpcom Legacy Fse

#38669 Social: Add back the feature flag management
  projects/js-packages/publicize-components/changelog/add-social-feature-flag-management-fixed
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/add-social-feature-flag-management-fixed
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
  projects/plugins/jetpack/changelog/add-social-feature-flag-management-fixed
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/add-social-feature-flag-management-fixed
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#38666 Social Post UI: Add trigger and modal to the editor sidebar
  projects/js-packages/publicize-components/changelog/add-social-post-ui-modal
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/modal.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/settings-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38683 Social: Add settings section to social post modal
  projects/js-packages/publicize-components/changelog/add-settings-section-to-social-post-modal
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/styles.module.scss
  projects/js-packages/publicize-components/src/components/social-post-modal/modal.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/settings-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38682 Photon: do not serve Amazon images from our CDN
  projects/packages/image-cdn/changelog/fix-photon-amazon-cdn
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn_core.php
Labels: [Type] Bug, [Feature] Photon, [Status] Needs Review, [Pri] Normal, [Package] Image CDN, [Tests] Includes Tests

#38687 Social: Add connection toggle to the social post modal
  projects/js-packages/publicize-components/changelog/add-connection-toggle-to-the-social-post-modal
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [JS Package] Publicize Components

#38678 Jetpack AI Breve: disable feature toggles on main toggle
  projects/plugins/jetpack/changelog/add-jetpack-ai-breve-disable-controls-on-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/breve.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38689 Social: Fix "No media" notice for Instagram when SIG is ON
  projects/js-packages/publicize-components/changelog/fix-no-media-notice-for-instagram-when-sig-is-on
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38691 My Jetpack: change Jetpack AI product page link redirect
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/changelog/change-jetpack-ai-product-page-breve-link
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] My Jetpack

#38679 Add: paid subscription importer - connect stripe flow
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/memberships.php
  projects/plugins/jetpack/changelog/add-paid-importer-connect-memebership-flow
Labels: [Status] Needs Author Reply, [Plugin] Jetpack

#38690 AI Logo Generator: update upgrade message to make it clear that the feature requires a paid plan
  projects/js-packages/ai-client/changelog/update-ai-logo-generator-fix-upgrade-message
  projects/js-packages/ai-client/src/logo-generator/components/upgrade-screen.tsx
Labels: [Status] Needs Review, RNA, [JS Package] AI Client

#38642 WP.com API: Include Errors Listed for Broken Themes
  projects/plugins/jetpack/changelog/add-theme-errors-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, [Feature] WPCOM API, [Status] Needs Review, [Pri] Normal, OSS Citizen, [Plugin] Jetpack

#38542 wpcomsh: update path to Jetpack Color & Tonesque
  projects/plugins/wpcomsh/.phan/config.php
  projects/plugins/wpcomsh/changelog/update-jetpack-color-tonesque-paths
  projects/plugins/wpcomsh/lib/class.color.php
  projects/plugins/wpcomsh/lib/tonesque.php
Labels: Docs, [Status] Needs Team Review, [Package] Lazy Images, [Plugin] Wpcomsh

#38649 React Compatibility: Replace legacy ReactDOM.render method with createRoot.
  projects/packages/forms/changelog/update-react-19-compat-ReactDOM-render
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/dashboard/index.js
  projects/packages/search/changelog/update-react-19-compat-ReactDOM-render
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/customberg/index.jsx
  projects/plugins/jetpack/changelog/update-react-19-compat-ReactDOM-render
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.js
  projects/plugins/jetpack/extensions/blocks/story/view.js
  projects/plugins/jetpack/extensions/shared/frontend-management.js
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Block] Story, [Plugin] Jetpack, [Package] Search, [Package] Forms, [Block] AI Chat

#38668 WPCOM: Update plan names in plan notices
  projects/plugins/wpcomsh/changelog/update-wpcom-plan-name-revert
  projects/plugins/wpcomsh/notices/plan-notices.php
Labels: [Status] In Progress, [Plugin] Wpcomsh

#38696 AI Logo Generator: open logo block extension to production sites
  projects/plugins/jetpack/changelog/update-ai-logo-generator-move-to-production
  projects/plugins/jetpack/extensions/extended-blocks/core-site-logo/index.tsx
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, [Plugin] Jetpack

#38697 AI Assistant: Release Breve to production
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-production
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/get-availability.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant Plugin

#38702 Social: Added endpoint to sync shares post meta.
  projects/packages/publicize/changelog/add-endpoint-to-sync-shares-meta
  projects/packages/publicize/src/class-rest-controller.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Package] Publicize

#38684 Admin bar: fix icon alignment on small screen widths
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-icon-margins
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#38698 Fix missing "Theme Showcase" sub menu item on Simple Classic site Calyspo pages
  projects/packages/jetpack-mu-wpcom/changelog/fix-simple-theme-showcase-menu
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Themes

#38685 MU WPCOM: Only load ETK features for wpcom users
  projects/packages/jetpack-mu-wpcom/changelog/feat-only-load-etk-features-for-wpcom-user
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#38707 Revert "MU WPCOM: Only load ETK features for wpcom users"
  projects/packages/jetpack-mu-wpcom/changelog/feat-only-load-etk-features-for-wpcom-user
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Type] Revert

#38692 Post Images: don't fetch Gravatars from post content
  projects/plugins/jetpack/changelog/update-post-images-gravatar
  projects/plugins/jetpack/class.jetpack-post-images.php
  projects/plugins/jetpack/tests/php/media/test-class.jetpack-post-images.php
Labels: [Type] Bug, [Feature] Sharing, [Feature] Publicize, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#38686 Social: Add preview section to the social post modal
  projects/js-packages/components/changelog/add-preview-section-to-the-social-post-modal
  projects/js-packages/components/components/notice/index.tsx
  projects/js-packages/components/package.json
  projects/js-packages/publicize-components/changelog/add-connection-toggle-to-the-social-post-modal
  projects/js-packages/publicize-components/changelog/add-preview-section-to-the-social-post-modal
  projects/js-packages/publicize-components/src/components/connection-management/index.tsx
  projects/js-packages/publicize-components/src/components/services/use-service-label.ts
  projects/js-packages/publicize-components/src/components/services/use-service.ts
  projects/js-packages/publicize-components/src/components/social-post-modal/instagram-media-notice.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/post-preview.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
  projects/js-packages/publicize-components/src/components/social-previews/use-post-data.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [JS Package] Publicize Components

#38712 Backport wpcomsh 5.2.0 Changes
  projects/packages/classic-theme-helper/CHANGELOG.md
  projects/packages/classic-theme-helper/changelog/add-social-links-to-classic-theme-helper-package
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/feat-only-load-etk-features-for-wpcom-user
  projects/packages/jetpack-mu-wpcom/changelog/fix-adminbar-profile-menu-colors
  projects/packages/jetpack-mu-wpcom/changelog/fix-masterbar-icons-overlap-in-mobile
  projects/packages/jetpack-mu-wpcom/changelog/fix-rtl-admin-bar
  projects/packages/jetpack-mu-wpcom/changelog/fix-simple-theme-showcase-menu
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-icon-color
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-icon-margins
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-a8c-fse
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-mailerlite-widget
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-newspack-blocks
  projects/packages/jetpack-mu-wpcom/changelog/port-starter-page-templates
  projects/packages/jetpack-mu-wpcom/changelog/remove-dead-css-code
  projects/packages/jetpack-mu-wpcom/changelog/update-subscriber-login-description-link
  projects/packages/jetpack-mu-wpcom/changelog/wpcom-block-editor-nux
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/HEAD
  projects/plugins/wpcomsh/changelog/add-aiowp-target-blog-id
  projects/plugins/wpcomsh/changelog/change-my-jetpack-ai-card
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#3
  projects/plugins/wpcomsh/changelog/port-starter-page-templates
  projects/plugins/wpcomsh/changelog/port-starter-page-templates#2
  projects/plugins/wpcomsh/changelog/port-starter-page-templates#3
  projects/plugins/wpcomsh/changelog/update-ai-logo-generator-improve-extension-availability-check
  projects/plugins/wpcomsh/changelog/update-jetpack-color-tonesque-paths
  projects/plugins/wpcomsh/changelog/update-subscriber-login-description-link
  projects/plugins/wpcomsh/changelog/update-wpcom-plan-name-revert
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Feature] Theme Tools, Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper

#38641 Add Tracks events for Welcome Flow
  projects/packages/my-jetpack/_inc/components/evaluation-recommendations/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/use-pricing-data.ts
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/data/evaluation-recommendations/use-evaluation-recommendations.ts
  projects/packages/my-jetpack/changelog/Add Tracks events for Welcome Flow
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-welcome-flow-tracks-events
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-welcome-flow-tracks-events
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-welcome-flow-tracks-events
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-welcome-flow-tracks-events
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-welcome-flow-tracks-events
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-welcome-flow-tracks-events
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-welcome-flow-tracks-events
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-welcome-flow-tracks-events
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-welcome-flow-tracks-events
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#38675 Newsletters: Add Jetpack Newsletter Plugin Icon + Email Preview option.
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-email-preview.php
  projects/plugins/jetpack/changelog/add-email-preview-endpoint
  projects/plugins/jetpack/extensions/blocks/subscriptions/editor.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38700 AI Assistant: Remove slash highlights on Breve
  projects/plugins/jetpack/changelog/fix-jetpack-ai-breve-complex-word-slash
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/phrases.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/escapeRegExp.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38715 AI Proofread: Disable it by default
  projects/plugins/jetpack/changelog/update-ai-proofread-disabled
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38688 Jetpack Sync: Take order type into account when performing HPOS Checksums
  projects/packages/sync/changelog/fix-sync-hpos-checksums
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Package] Sync, [Status] Needs Team Review

#38717 Update/camel case track props to snake case
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-table/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/update-camel-case-track-props-to-snake-case
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#38716 Newsletter settings: set all settings on the page disabled when module is disabled
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/_inc/client/newsletter/messages-setting.jsx
  projects/plugins/jetpack/_inc/client/newsletter/newsletter-categories.jsx
  projects/plugins/jetpack/changelog/fix-jetpack-settings-disabled-state
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, Admin Page, [Plugin] Jetpack

#38701 Google Analytics: inform users of the feature removal
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-deprecate-feature-notice.ts
  projects/packages/my-jetpack/changelog/update-ga-deprecation-notices
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-ga-deprecation-notices
  projects/plugins/jetpack/src/class-deprecate.php
Labels: [Status] In Progress, Admin Page, [Plugin] Jetpack, [Package] My Jetpack, [Focus] Jetstream

#38719 Revert "MU WPCOM: Port the newspack blocks from the ETK"
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/.gitignore
  projects/packages/jetpack-mu-wpcom/.phan/config.php
  projects/packages/jetpack-mu-wpcom/.phpcs.dir.xml
  projects/packages/jetpack-mu-wpcom/bin/sync-newspack-blocks-formatter.js
  projects/packages/jetpack-mu-wpcom/bin/sync-newspack-blocks.sh
  projects/packages/jetpack-mu-wpcom/changelog/revert-38454-mu-wpcom-newspack-blocks
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/README.md
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/blog-posts/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/blog-posts/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/carousel/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/carousel/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/consts.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/index.php
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#3
Labels: [Status] Needs Author Reply, Docs, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Type] Revert, [mu wpcom Feature] Newspack Blocks

#38638 Site-Level User Profile: Show links back to WordPress.com on profile.php
  projects/packages/jetpack-mu-wpcom/changelog/add-profile-link-towpcom
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-notices.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/types.d.ts
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/add-profile-link-towpcom
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/add-profile-link-towpcom
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Profile Settings

#38713 Sync - HPOS: Update checksum fields to consider
  projects/packages/sync/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
  projects/plugins/automattic-for-agencies-client/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#38728 wpcomsh: Update POT file
  projects/plugins/wpcomsh/changelog/update-wpcomsh-update-i18n
  projects/plugins/wpcomsh/languages/wpcomsh.pot
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Focus] i18n, [Plugin] Wpcomsh

#38737 Backport Sync 3.5.0.
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/packages/sync/src/class-package-version.php
Labels: [Status] Needs Author Reply, Docs, [Package] Sync

#38740 Backport Jetpack 13.7-beta2.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-sync-hpos-checksum-fields-to-consider
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#38621 WAF: Fix request body problem
  projects/packages/waf/changelog/fix-waf-request-body-problem
  projects/packages/waf/src/class-waf-request.php
  projects/packages/waf/tests/php/unit/test-waf-request.php
Labels: [Status] In Progress, [Package] WAF, [Tests] Includes Tests

#38725 Newsletters: Email Preview Improvements
  projects/plugins/jetpack/changelog/update-preview-email
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/icons.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38655 Jetpack Firewall Settings: Redirect users with Protect installed to the standalone plugin's settings page
  projects/plugins/jetpack/_inc/client/security/waf.jsx
  projects/plugins/jetpack/changelog/add-redirect-waf-settings-to-protect
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Focus] Jetstream

#38752 Simple Classic: make Users -> Profile -> Email input readonly instead of disabled
  projects/packages/jetpack-mu-wpcom/changelog/fix-disabled-email-address
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.ts
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Profile Settings

#38724 MU WPCOM: Port the newspack blocks from the ETK (2nd try)
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/.gitignore
  projects/packages/jetpack-mu-wpcom/.phan/config.php
  projects/packages/jetpack-mu-wpcom/.phpcs.dir.xml
  projects/packages/jetpack-mu-wpcom/bin/sync-newspack-blocks-formatter.js
  projects/packages/jetpack-mu-wpcom/bin/sync-newspack-blocks.sh
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-newspack-blocks
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/block-editor/custom-line-height.php
  projects/packages/jetpack-mu-wpcom/src/features/block-inserter-modifications/block-inserter-modifications.php
  projects/packages/jetpack-mu-wpcom/src/features/font-smoothing-antialiased/font-smoothing-antialiased.php
  projects/packages/jetpack-mu-wpcom/src/features/hide-homepage-title/hide-homepage-title.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/class-global-styles.php
  projects/packages/jetpack-mu-wpcom/src/features/mailerlite/subscriber-popup.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/README.md
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/blog-posts/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/blog-posts/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/carousel/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/carousel/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/consts.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/index.php
  projects/packages/jetpack-mu-wpcom/src/features/override-preview-button-url/override-preview-button-url.php
  projects/packages/jetpack-mu-wpcom/src/features/paragraph-block-placeholder/paragraph-block-placeholder.php
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/class-starter-page-templates.php
  projects/packages/jetpack-mu-wpcom/src/features/tags-education/tags-education.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/wpcom-block-description-links.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/class-wpcom-block-editor-nux.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/a8c-posts-list.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/event-countdown.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/timeline.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-documentation-links/wpcom-documentation-links.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/wpcom-legacy-fse.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#3
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#3
Labels: Docs, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Hide Homepage Title, [mu wpcom Feature] Font Smoothing Antialiased, [mu wpcom Feature] Override Preview Button Url, [mu wpcom Feature] Jetpack Global Styles, [mu wpcom Feature] Tags Education, [mu wpcom Feature] Paragraph Block Placeholder, [mu wpcom Feature] Wpcom Legacy Fse, [mu wpcom Feature] Wpcom Whats New, [mu wpcom Feature] Wpcom Documentation Links, [mu wpcom Feature] Wpcom Block Description Links, [mu wpcom Feature] Block Inserter Modifications, [mu wpcom Feature] Wpcom Blocks, [mu wpcom Feature] Mailerlite, [mu wpcom Feature] Block Editor, [mu wpcom Feature] Wpcom Global Styles, [mu wpcom Feature] Wpcom Block Editor Nux, [mu wpcom Feature] Newspack Blocks, [mu wpcom Feature] Starter Page Templates

#38731 MU WPCOM: Port enqueue_coblocks_gallery_scripts from the ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-coblocks
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-legacy-fse/wpcom-legacy-fse.php
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-coblocks
  projects/plugins/wpcomsh/changelog/mu-wpcom-coblocks
Labels: Docs, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Legacy Fse

#38754 Readymade Templates: Use `setup_general` task in Launchpad
  projects/packages/jetpack-mu-wpcom/changelog/update-rt-launchpad
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#38756 Backport crm 6.4.4 Changes
  projects/plugins/crm/CHANGELOG.md
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/fix-37695-classnames_to_clsx
  projects/plugins/crm/changelog/fix-crm-provide_full_changelog
  projects/plugins/crm/changelog/fix-crm-provide_full_changelog2
  projects/plugins/crm/changelog/fix-crm-update_zbs_refs
  projects/plugins/crm/changelog/fix-crm-woo-sync-issue
  projects/plugins/crm/changelog/fix-jsx-runtime-react-19-polyfill
  projects/plugins/crm/changelog/remove-unused-mailpoet-use-statements
  projects/plugins/crm/changelog/renovate-babel-monorepo
  projects/plugins/crm/changelog/renovate-glob-10.x
  projects/plugins/crm/changelog/renovate-lock-file-maintenance
  projects/plugins/crm/changelog/renovate-lock-file-maintenance#2
  projects/plugins/crm/changelog/renovate-wordpress-monorepo
  projects/plugins/crm/changelog/renovate-wordpress-monorepo#2
  projects/plugins/crm/changelog/try-lossless-image-optmization-part-2
  projects/plugins/crm/changelog/update-skip-plugin-setup-by-composer-require-php
  projects/plugins/crm/changelog/update-tested-to-6-6
  projects/plugins/crm/composer.json
  projects/plugins/crm/package.json
  projects/plugins/crm/readme.txt
Labels: Docs, [Status] Needs Review, [Plugin] CRM

#38757 CRM: Fix version to 6.4.4 in ZeroBSCRM.Core.php
  projects/plugins/crm/ZeroBSCRM.php
  projects/plugins/crm/changelog/fix-crm-update-version-to-644-in-ZeroBSCRMCore
  projects/plugins/crm/composer.json
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/package.json
Labels: [Status] Needs Team Review, [Plugin] CRM

#38430 Consolidate Jetpack initial state
  pnpm-lock.yaml
  projects/js-packages/script-data/.gitattributes
  projects/js-packages/script-data/.gitignore
  projects/js-packages/script-data/CHANGELOG.md
  projects/js-packages/script-data/README.md
  projects/js-packages/script-data/changelog/.gitkeep
  projects/js-packages/script-data/changelog/add-consolidate-initial-state
  projects/js-packages/script-data/composer.json
  projects/js-packages/script-data/package.json
  projects/js-packages/script-data/src/index.ts
  projects/js-packages/script-data/src/types.ts
  projects/js-packages/script-data/src/utils.ts
  projects/js-packages/script-data/tsconfig.json
  projects/js-packages/webpack-config/changelog/add-consolidate-initial-state
  projects/js-packages/webpack-config/package.json
  projects/js-packages/webpack-config/src/webpack.js
  projects/packages/assets/actions.php
  projects/packages/assets/changelog/add-consolidate-initial-state
  projects/packages/assets/composer.json
  projects/packages/assets/package.json
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/src/class-script-data.php
  projects/packages/assets/src/js/script-data.js
  projects/packages/assets/webpack.config.js
  projects/plugins/automattic-for-agencies-client/changelog/add-consolidate-initial-state
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/add-consolidate-initial-state
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-consolidate-initial-state
  projects/plugins/boost/composer.lock
  projects/plugins/classic-theme-helper-plugin/changelog/add-consolidate-initial-state
  projects/plugins/classic-theme-helper-plugin/composer.lock
  projects/plugins/crm/changelog/add-consolidate-initial-state
  projects/plugins/crm/composer.lock
  projects/plugins/inspect/changelog/add-consolidate-initial-state
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/add-consolidate-initial-state
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-consolidate-initial-state
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/add-consolidate-initial-state
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/add-consolidate-initial-state
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-consolidate-initial-state
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-consolidate-initial-state
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-consolidate-initial-state
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-consolidate-initial-state
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/add-consolidate-initial-state
  projects/plugins/wpcomsh/composer.lock
Labels: Docs, [Status] Needs Review, [Package] Assets, [Plugin] Jetpack, RNA, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [JS Package] Webpack Config, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] CRM, [Plugin] mu wpcom, [Plugin] Inspect, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin, [JS Package] Script Data

#38743 AI Assistant: Disable Breve when AI Assistant block is disabled
  projects/plugins/jetpack/changelog/fix-jetpack-ai-breve-paid-plans
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/hooks/use-breve-availability.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/get-availability.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38706 JITM: fix background for RTL languages
  projects/packages/jitm/changelog/fix-jitm-background-rtl
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/jitm/src/js/jetpack-jitm.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jitm

#38651 Help center - add icon to front end admin bar
  projects/packages/jetpack-mu-wpcom/changelog/add-help-center-frontend
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#38518 Sync Package: Replace use of Brute_Force_Protection class with a filter hook
  projects/packages/sync/changelog/fix-sync-remove-waf-class-usage
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-protect.php
  projects/packages/waf/changelog/fix-sync-remove-waf-class-usage
  projects/packages/waf/src/class-brute-force-protection.php
  projects/plugins/jetpack/changelog/fix-sync-remove-waf-class-usage
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-module-protect.php
Labels: [Type] Bug, [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Package] WAF, [Tests] Includes Tests

#38774 Simple Classic: Remove the experiment gating for the Admin Interface Style setting
  projects/packages/jetpack-mu-wpcom/changelog/remove-wpcom-admin-interface-setting-field-gating
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#38773 WordPress.com Features - Profile Behavior: Remove bi-directional syncing - Step 2
  projects/packages/jetpack-mu-wpcom/changelog/clean-calypso-locale-sync-files
  projects/packages/jetpack-mu-wpcom/src/features/calypso-locale-sync/sync-calypso-to-wp-admin.php
  projects/packages/jetpack-mu-wpcom/src/features/calypso-locale-sync/sync-wp-admin-to-calypso.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Calypso Locale Sync

#38775 Site-Level User Profile: Point the Edit Profile link to wpcalypso.wprdpress.com
  projects/packages/jetpack-mu-wpcom/changelog/update-patch-profile-links
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#38778 Likes block: add keywords
  projects/plugins/jetpack/changelog/update-likes-keywords
  projects/plugins/jetpack/extensions/blocks/like/block.json
Labels: [Feature] Likes, [Status] Ready to Merge, [Plugin] Jetpack, [Extension] Likes, [Block] Like

#38776 Backport wpcomsh 5.3.0 Changes
  projects/js-packages/script-data/CHANGELOG.md
  projects/js-packages/script-data/changelog/add-consolidate-initial-state
  projects/js-packages/script-data/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/add-consolidate-initial-state
  projects/js-packages/webpack-config/package.json
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/add-consolidate-initial-state
  projects/packages/assets/src/class-script-data.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-help-center-frontend
  projects/packages/jetpack-mu-wpcom/changelog/add-profile-link-towpcom
  projects/packages/jetpack-mu-wpcom/changelog/clean-calypso-locale-sync-files
  projects/packages/jetpack-mu-wpcom/changelog/fix-disabled-email-address
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-coblocks
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-newspack-blocks
  projects/packages/jetpack-mu-wpcom/changelog/remove-wpcom-admin-interface-setting-field-gating
  projects/packages/jetpack-mu-wpcom/changelog/update-patch-profile-links
  projects/packages/jetpack-mu-wpcom/changelog/update-rt-launchpad
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/fix-jitm-background-rtl
  projects/packages/jitm/src/class-jitm.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-sync-remove-waf-class-usage
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-protect.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/add-consolidate-initial-state
  projects/plugins/wpcomsh/changelog/add-profile-link-towpcom
  projects/plugins/wpcomsh/changelog/mu-wpcom-coblocks
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/wpcomsh/changelog/mu-wpcom-newspack-blocks#3
  projects/plugins/wpcomsh/changelog/plan-name-change-i18n
  projects/plugins/wpcomsh/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/wpcomsh/changelog/update-wpcomsh-update-i18n
  projects/plugins/wpcomsh/changelog/update-wpcomsh-update-translations
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: Docs, [Status] Needs Review, [Package] Sync, [Package] Assets, [Package] Jitm, RNA, [JS Package] Webpack Config, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [JS Package] Script Data

#38781 Social: Fix initial state undefined variable
  projects/plugins/jetpack/changelog/fix-social-initial-state-undefined-variable
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#38782 Backport social 5.1.0 Changes
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-sync-remove-waf-class-usage
  projects/packages/waf/changelog/fix-waf-request-body-problem
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/add-consolidate-initial-state
  projects/plugins/social/changelog/add-social-feature-flag-management-fixed
  projects/plugins/social/changelog/add-welcome-flow-tracks-events
  projects/plugins/social/changelog/try-lossless-image-optmization-part-2
  projects/plugins/social/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, [Package] WAF, [Plugin] Social

#38772 Load Scheduled_Updates for non-wpcom users
  projects/packages/jetpack-mu-wpcom/changelog/fix-load-scheduled-updates
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#38721 Update/use connection to use my jetpack connection hook
  projects/packages/my-jetpack/_inc/components/add-license-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/status.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/_inc/components/redeem-token-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-banner/index.jsx
  projects/packages/my-jetpack/_inc/data/products/use-install-standalone-plugin.ts
  projects/packages/my-jetpack/_inc/data/use-simple-mutation.ts
  projects/packages/my-jetpack/changelog/update-use-connection-to-use-my-jetpack-connection-hook
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#38785 Warnings: Handle missing odie-last-chat-id
  projects/packages/jetpack-mu-wpcom/changelog/add-null-fallback-odie-chat-id
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-odie.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#38791 Newsletter: Email Preview: Improve styles
  projects/plugins/jetpack/changelog/update-email-preview-styles
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.scss
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38792 Backport mu-wpcom-plugin 2.5.5 Changes
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-null-fallback-odie-chat-id
  projects/packages/jetpack-mu-wpcom/changelog/fix-load-scheduled-updates
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-consolidate-initial-state
  projects/plugins/mu-wpcom-plugin/changelog/add-profile-link-towpcom
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-coblocks
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#2
  projects/plugins/mu-wpcom-plugin/changelog/mu-wpcom-newspack-blocks#3
  projects/plugins/mu-wpcom-plugin/changelog/update-sync-hpos-checksum-fields-to-consider
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#38793 Newsletter: Email Preview: Improve Access Selector on mobile
  projects/plugins/jetpack/changelog/update-email-preview-access-selector-disabled
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38786 Contact Form: Removing deprecated Google Drive Helper file, and jetpack_form_register_pattern function
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-google-drive-helper.php
  projects/plugins/jetpack/changelog/remove-google-drive-helper
  projects/plugins/jetpack/modules/contact-form.php
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#38556 Jetpack Sync: extract video and audio shortcodes
  projects/plugins/jetpack/_inc/lib/class.media-extractor.php
  projects/plugins/jetpack/changelog/add-extracting-video-audio-shortcodes
  projects/plugins/jetpack/tests/php/media/test-class.jetpack-media-extractor.php
Labels: [Type] Enhancement, [Feature] Sharing, [Feature] Publicize, [Feature] Subscriptions, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#38784 Social: Update custom message placeholder
  projects/js-packages/publicize-components/changelog/update-social-custom-message-placeholder
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/message-box-control/index.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#37859 Adding wpcomsh tests to the matrix.
  .github/files/generate-ci-matrix.php
  projects/packages/jetpack-mu-wpcom/changelog/add-wpcomsh-tests-to-matrix
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/jetpack/changelog/add-wpcomsh-tests-to-matrix
  projects/plugins/jetpack/tests/php/3rd-party/test__atomic.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/extensions/blocks/test-story.php
  projects/plugins/jetpack/tests/php/general/test-class.jetpack-gutenberg.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
  projects/plugins/jetpack/tests/php/modules/csstidy/test-class.jetpack-csstidy.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-css-customizer-nudge.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-css-nudge-customize-control.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.vimeo.php
  projects/plugins/jetpack/tests/php/modules/subscriptions/test_class.jetpack-subscriptions.php
  projects/plugins/jetpack/tests/php/src/test_class-jetpack-modules-overrides.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-full-immediately.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-themes.php
  projects/plugins/jetpack/tests/php/test-get-modules.php
  projects/plugins/wpcomsh/changelog/add-wpcomsh-tests-to-matrix
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/share-post/share-post.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Ready to Merge, Actions, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Launchpad, [Plugin] Wpcomsh

#38799 Social | Social post UI: Update connection toggle and media notice
  projects/js-packages/publicize-components/changelog/fix-social-post-connection-toggle-and-notice
  projects/js-packages/publicize-components/src/components/social-post-modal/instagram-media-notice.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/post-preview.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38802 MU WPCOM: Stop loading wpcom block editor nux feature
  projects/packages/jetpack-mu-wpcom/changelog/fix-pagte-patterns-error
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#38801 Social: Hide notices and preview modal when module is off
  projects/js-packages/publicize-components/changelog/update-social-hide-notices-with-module-off
  projects/js-packages/publicize-components/src/components/form/connections-list.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38803 Backport wpcomsh 5.3.1 Changes
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-wpcomsh-tests-to-matrix
  projects/packages/jetpack-mu-wpcom/changelog/fix-pagte-patterns-error
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/add-wpcomsh-tests-to-matrix
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh

#38771 Allows requests to the v1.1 of the campaigns endpoints for Blaze
  projects/packages/blaze/changelog/update-blaze-campaigns-controller
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-dashboard-rest-controller.php
  projects/packages/blaze/src/class-dashboard.php
Labels: [Status] Needs Review, [Package] Blaze

#38805 Newsletter: Remove Subscribe Modal from Settings -> Discussion
  projects/plugins/jetpack/changelog/update-discussion-settings-modal
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Status] Needs Review, [Plugin] Jetpack

#38762 React compatibility: Removing implicit returns from ref callbacks
  projects/plugins/jetpack/_inc/client/components/button/index.jsx
  projects/plugins/jetpack/_inc/client/components/section-nav/item.jsx
  projects/plugins/jetpack/changelog/update-react-compatibility-ref-cleanup
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack

#38748 Add value to inactive state of VideoPress
  projects/packages/connection/changelog/update-type-for-tracking-string
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/class-tracking.php
  projects/packages/my-jetpack/.phan/baseline.php
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/types.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/ai-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/anti-spam-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/creator-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/crm-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/extras-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/search-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/social-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/stats-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/types.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/use-videopress-description.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/videopress-value-section.tsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/_inc/utils/prevent-widows.ts
  projects/packages/my-jetpack/changelog/add-value-to-videopress-card-inactive-state
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-rest-product-data.php
  projects/packages/my-jetpack/src/products/class-videopress.php
Labels: [Status] Needs Team Review, [Package] Connection, [Package] My Jetpack

#38795 AI Assistant: Add namespace to Breve CSS classes
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-css-namespace
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/long-sentences/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/unconfident-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38813 My Jetpack: fix infinite loading spinner when activating Jetpack with one click
  projects/packages/my-jetpack/_inc/utils/side-load-tracks.ts
  projects/packages/my-jetpack/changelog/fix-sideload-tracks-reject-onerror
Labels: [Status] In Progress, [Package] My Jetpack

#38823 MU WPCOM: Replace @wordpress/react-i18n with @wordpress/i18n
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-block-editor-nux-error
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-minimized.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-rating.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-step-card-navigation.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-step-card-overlay-controls.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-step-card.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/src/sharing-modal/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/src/sharing-modal/suggested-tags.tsx
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Block Editor Nux

#38807 Boost: Check if queried object is null before using it
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/Taxonomy_Provider.php
  projects/plugins/boost/changelog/fix-querying-null-object
Labels: [Status] Needs Team Review, [Plugin] Boost

#38826 Add npm auto-publish to script-data package
  projects/js-packages/script-data/changelog/update-npm-autopublish-script-data
  projects/js-packages/script-data/composer.json
  projects/js-packages/script-data/package.json
Labels: [Status] Needs Review, RNA, [JS Package] Script Data

#38828 Backport wpcomsh 5.3.2 Changes
  projects/packages/blaze/CHANGELOG.md
  projects/packages/blaze/changelog/update-blaze-campaigns-controller
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-dashboard.php
  projects/packages/classic-theme-helper/CHANGELOG.md
  projects/packages/classic-theme-helper/changelog/update-classic-theme-helper-social-links
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-block-editor-nux-error
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Feature] Theme Tools, Docs, [Status] Ready to Merge, [Package] Blaze, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper

#38829 Social: Fix editor spacing issue
  projects/js-packages/publicize-components/changelog/fix-social-editor-spacing
  projects/js-packages/publicize-components/src/components/form/connection-notice.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38830 Social: Fix social post modal height and Mastodon preview
  projects/js-packages/publicize-components/changelog/fix-social-post-moda-height
  projects/js-packages/publicize-components/src/components/social-post-modal/post-preview.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38783 React compatibility: Removing javascript: url usage
  projects/plugins/jetpack/_inc/client/searchable-modules/index.jsx
  projects/plugins/jetpack/changelog/update-react-compat-javascript-url
  projects/plugins/jetpack/extensions/blocks/cookie-consent/view.js
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack, [Block] Cookie Consent

#38819 WPCOM-MU-PLUGIN: add dynamic script loading
  projects/packages/jetpack-mu-wpcom/changelog/add-wpcom-dynamic-enqueue-script
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/common/index.php
  projects/packages/jetpack-mu-wpcom/src/common/wpcom-enqueue-dynamic-script/README.md
  projects/packages/jetpack-mu-wpcom/src/common/wpcom-enqueue-dynamic-script/class-wpcom-enqueue-dynamic-script.php
  projects/packages/jetpack-mu-wpcom/tests/php/common/wpcom-enqueue-dynamic-script/class-wpcom-enqueue-dynamic-script-test.php
  projects/plugins/mu-wpcom-plugin/changelog/add-wpcom-dynamic-enqueue-script
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/add-wpcom-dynamic-enqueue-script
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] In Progress, Docs, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Enqueue Dynamic Script

#38809 Publicize: add Fediverse creator meta tag from Mastodon connection
  projects/packages/publicize/changelog/update-fediverse-og-to-common
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/update-fediverse-og-to-common
  projects/plugins/jetpack/functions.opengraph.php
Labels: [Feature] Sharing, [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Focus] Compatibility, [Package] Publicize

#38810 Jetpack-mu-wpcom: Update wpcom admin interface copy to match Calypso
  projects/packages/jetpack-mu-wpcom/changelog/update-wpcom-admin-interface-copy
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Admin Interface

#38821 VideoPress: update tus JS client lib
  pnpm-lock.yaml
  projects/packages/videopress/changelog/update-videopress-tus-client-lib
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/packages/videopress/src/client/lib/resumable-file-uploader/index.ts
  projects/plugins/jetpack/changelog/update-videopress-tus-client-lib
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-videopress-tus-client-lib
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] VideoPress, [Package] VideoPress, [Plugin] VideoPress

#38814 AI Assistant: Remove Breve highlight popover when feature is disabled
  projects/plugins/jetpack/changelog/fix-jetpack-ai-breve-remove-popover-on-disable
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38852 Hide the Customizer link on Simple sites
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/fix-hide-customizer-menu-on-simple
Labels: [Status] In Progress, [Plugin] Jetpack

#38832 Classic Helper Theme Plugin: Add Social Links to the plugin
  projects/plugins/classic-theme-helper-plugin/changelog/update-classic-theme-helper-plugin-social-links
  projects/plugins/classic-theme-helper-plugin/classic-theme-helper-plugin.php
Labels: [Status] Needs Review, [Plugin] Classic Theme Helper Plugin

#38834 WPCOM MU PLUGIN: update block description links
  projects/packages/jetpack-mu-wpcom/changelog/fix-embed-documentaion-links
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/src/block-links-map.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-documentation-links/wpcom-documentation-links.ts
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Documentation Links, [mu wpcom Feature] Wpcom Block Description Links

#38825 Connection: Update the connection initial state to fallback on the new consolidated Jetpack script data
  pnpm-lock.yaml
  projects/js-packages/connection/changelog/update-connection-initial-state
  projects/js-packages/connection/components/use-connection/index.jsx
  projects/js-packages/connection/helpers/get-calypso-origin.ts
  projects/js-packages/connection/hooks/use-product-checkout-workflow/index.jsx
  projects/js-packages/connection/hooks/use-restore-connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/store.jsx
  projects/packages/connection/changelog/update-connection-initial-state
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-initial-state.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/plugins/automattic-for-agencies-client/changelog/update-connection-initial-state
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/update-connection-initial-state
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-connection-initial-state
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/update-connection-initial-state
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/update-connection-initial-state
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-connection-initial-state
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-connection-initial-state
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/update-connection-initial-state
  projects/plugins/protect/composer.json
  projects/plugins/protect/composer.lock
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/search/changelog/update-connection-initial-state
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-connection-initial-state
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-connection-initial-state
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-connection-initial-state
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/update-connection-initial-state
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Package] Connection, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Plugin] Inspect, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#38846 wpcomsh: rum: Record if woocommerce is active
  projects/plugins/wpcomsh/changelog/update-rum
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Review, [Plugin] Wpcomsh

#38856 AI Proofread: General improvements on UX
  projects/plugins/jetpack/changelog/update-breve-highlight-ux
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/events.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38848 AI Proofread: Allow dismiss after suggesting
  projects/plugins/jetpack/changelog/fix-breve-dismiss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38845 Fix/my jetpack async activate
  projects/packages/my-jetpack/_inc/components/product-card/action-button.tsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-async-activate
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Review, [Package] My Jetpack

#38862 Newsletter: Email Preview: Improved styles and information
  projects/plugins/jetpack/changelog/update-email-preview-improvements
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38874 OG Tags: do not display Fediverse creator tag on wpcom simple
  projects/plugins/jetpack/changelog/update-fediverse-og-no-simple
  projects/plugins/jetpack/functions.opengraph.php
Labels: [Type] Enhancement, [Feature] Publicize, [Focus] Performance, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Focus] Compatibility

#38840 Subscribe block: fix paragraph styles leaking in from theme
  projects/plugins/jetpack/changelog/fix-subscribe-block-paragraph-styles
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Type] Bug, [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#38850 Log out Atomic users from WPCOM when logging out of the local site
  projects/packages/jetpack-mu-wpcom/changelog/logout-wpcom
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-logout/wpcom-logout.php
  projects/plugins/mu-wpcom-plugin/changelog/try-logout-wpcom
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/try-logout-wpcom
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Logout

#38867 AI Assistant: Change Breve type markup and restrict types
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-type-detection
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/events.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38881 Repo gardening: update PR review flow explanation to be clearer
  projects/github-actions/repo-gardening/changelog/update-description-pr-flow-message
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#38729 Issue templates: include workaround details in bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: General, [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#38884 Update/email preview improvements
  projects/plugins/jetpack/changelog/update-email-preview-improvements-2
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38849 Protect: Hide IP list settings when list disabled
  projects/plugins/protect/changelog/update-protect-hide-allow-lists-when-disabled
  projects/plugins/protect/src/js/routes/firewall/index.jsx
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Protect

#38769 VideoPress dashboard: improve upload error handler
  projects/packages/videopress/changelog/fix-videopress-upload-error-handler
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/admin-page/libraries.tsx
  projects/packages/videopress/src/client/admin/components/video-card/error.tsx
  projects/packages/videopress/src/client/admin/components/video-grid/index.tsx
  projects/packages/videopress/src/client/admin/components/video-list/index.tsx
  projects/packages/videopress/src/client/admin/components/video-row/error.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/index.tsx
  projects/packages/videopress/src/client/admin/components/video-thumbnail/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-thumbnail/types.ts
  projects/packages/videopress/src/client/admin/hooks/use-videos/index.js
  projects/packages/videopress/src/client/admin/types/index.ts
  projects/packages/videopress/src/client/lib/resumable-file-uploader/index.ts
  projects/packages/videopress/src/client/state/actions.js
  projects/packages/videopress/src/client/state/constants.js
  projects/packages/videopress/src/client/state/reducers.js
  projects/packages/videopress/src/client/state/selectors.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress

#38891 Jetpack AI: Register ai-title-optimization-keywords-support beta extension
  projects/plugins/jetpack/changelog/update-jetpack-ai-add-beta-flag-for-keywords-on-title-optimization
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] AI Assistant

#38895 AI Assistant: Add flag for Breve typo detection support
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-typo-flag
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#38892 Newsletter: Gutenberg Plugin: Add Send test email button
  projects/plugins/jetpack/changelog/update-newsletter-plugin
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38885 Protect: Fix globalStats access
  projects/plugins/protect/changelog/fix-protect-global-stats-access
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/js/components/scan-footer/index.jsx
  projects/plugins/protect/src/js/routes/scan/index.jsx
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Plugin] Protect

#38886 Update allow list settings access
  projects/plugins/jetpack/_inc/client/security/allowList.jsx
  projects/plugins/jetpack/_inc/client/security/style.scss
  projects/plugins/jetpack/_inc/client/security/waf.jsx
  projects/plugins/jetpack/changelog/update-allow-list-settings-access
  projects/plugins/protect/changelog/update-allow-list-settings-access
  projects/plugins/protect/src/js/routes/firewall/index.jsx
  projects/plugins/protect/src/js/routes/firewall/styles.module.scss
Labels: [Status] Ready to Merge, Admin Page, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Plugin] Protect

#38854 Hide re-tangled first/last/display names, bio, and website fields in profile.php
  projects/packages/jetpack-mu-wpcom/changelog/retangle-name-fields
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.ts
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Profile Settings

#38730 Classic Theme Helper: Require Social Links from package in Jetpack and Jetpack Mu WPcom
  projects/packages/classic-theme-helper/changelog/add-require-social-links-classic-theme-helper-package
  projects/packages/classic-theme-helper/composer.json
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/jetpack-mu-wpcom/changelog/add-require-social-links-classic-theme-helper-package
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/classic-theme-helper-plugin/changelog/add-require-social-links-classic-theme-helper-package
  projects/plugins/classic-theme-helper-plugin/composer.lock
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/add-require-social-links-classic-theme-helper-package
  projects/plugins/jetpack/changelog/add-require-social-links-classic-theme-helper-package#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/theme-tools/site-logo/inc/functions.php
  projects/plugins/jetpack/modules/theme-tools/social-links.php
  projects/plugins/mu-wpcom-plugin/changelog/add-require-social-links-classic-theme-helper-package
  projects/plugins/mu-wpcom-plugin/changelog/add-require-social-links-classic-theme-helper-package#2
  projects/plugins/mu-wpcom-plugin/changelog/add-require-social-links-classic-theme-helper-package#3
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-require-social-links-classic-theme-helper-package
  projects/plugins/wpcomsh/changelog/add-require-social-links-classic-theme-helper-package#2
  projects/plugins/wpcomsh/changelog/add-require-social-links-classic-theme-helper-package#3
  projects/plugins/wpcomsh/composer.lock
Labels: [Feature] Theme Tools, [Status] Needs Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin

#38903 Site-Level User Profile: Point links to wpcalypso.wordpress.com for testing purposes
  projects/packages/jetpack-mu-wpcom/changelog/update-site-level-user-profile-links
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Profile Settings

#38900 Newsletter: Plugin: Add 'Post & Email - Post only' buttons
  projects/plugins/jetpack/changelog/update-newsletter-plugin-2
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38907 Revert "Social | Initial State: Migrate URLs (#38855)"
  projects/js-packages/publicize-components/changelog/update-social-initial-state-migrate-urls
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/connection-notice.tsx
  projects/js-packages/publicize-components/src/components/form/settings-button.tsx
  projects/js-packages/publicize-components/src/components/form/unsupported-connections-notice.tsx
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/site-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.test.js
  projects/js-packages/publicize-components/src/types/types.ts
  projects/js-packages/publicize-components/src/utils/index.js
  projects/js-packages/publicize-components/src/utils/script-data.ts
  projects/js-packages/script-data/changelog/update-social-initial-state-migrate-urls
  projects/js-packages/script-data/package.json
  projects/js-packages/script-data/src/utils.ts
  projects/packages/publicize/changelog/update-social-initial-state-migrate-urls
  projects/packages/publicize/src/class-publicize-script-data.php
  projects/plugins/jetpack/changelog/update-social-initial-state-migrate-urls
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
  projects/plugins/social/changelog/update-social-initial-state-migrate-urls
  projects/plugins/social/src/js/components/admin-page/header/index.jsx
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
  projects/plugins/social/src/js/components/social-notes-toggle/index.tsx
  projects/plugins/social/src/js/components/types/types.ts
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests, [Type] Revert, [JS Package] Script Data

#38677 Jetpack Sync: Update WooCommerce Post Meta whitelist
  projects/packages/sync/changelog/fix-sync-orders-address_index
  projects/packages/sync/src/modules/class-woocommerce.php
Labels: [Status] Ready to Merge, [Package] Sync

#38911 Title Optimization: update UI copy based on keywords feature availability
  projects/plugins/jetpack/changelog/update-title-optimization-update-ui-copy
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/index.tsx
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38912 Help Center: fix 404 error loading languages
  projects/packages/jetpack-mu-wpcom/changelog/help-center-fix-language-script
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#38922 AI Assistant: Remove unique-id sass function call from animation name
  projects/plugins/jetpack/changelog/fix-jetpack-ai-breve-animation-name
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38920 Repo gardening: update PR review flow explanation markdown indent
  projects/github-actions/repo-gardening/changelog/update-pr-request
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Status] Needs Team Review, Actions, [Action] Repo Gardening

#38925 Social: Fix modal dynamic toggle
  projects/js-packages/publicize-components/changelog/fix-social-modal-dynamic-toggle
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38928 Tiled Galleries: enqueue legacy script in footer and defer loading
  projects/plugins/jetpack/changelog/update-tiled-galleries-enqueue
  projects/plugins/jetpack/modules/tiled-gallery/tiled-gallery.php
Labels: [Type] Enhancement, [Feature] Tiled Gallery, [Focus] Performance, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#38913 Newsletter: Plugin: Refactor: Use core components as much as possible
  projects/plugins/jetpack/changelog/update-newsletter-plugin-3
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/panel.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38921 Title Optimization: Add keywords section and make it send the keywords on the request
  projects/plugins/jetpack/changelog/update-title-optimization-keywords-section
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/title-optimization-keywords.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/title-optimization-keywords.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38875 OG Tags / Fediverse: check for active integration instead of class
  projects/plugins/jetpack/changelog/update-fediverse-og-better-compat-check
  projects/plugins/jetpack/functions.opengraph.php
Labels: [Type] Bug, [Feature] Sharing, [Feature] Publicize, [Status] Needs Review, [Pri] High, [Plugin] Jetpack, [Focus] Compatibility

#38934 Newsletter: Plugin: Fixsend test email modal layout
  projects/plugins/jetpack/changelog/fix-send-test-email-modal-layout
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#38923 AI Assistant: Add spelling mistake detection to Breve
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-typo-local
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/spelling-mistakes/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/types.ts
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38842 Add tooltip for installed with no videos
  projects/packages/my-jetpack/_inc/components/info-tooltip/index.tsx
  projects/packages/my-jetpack/_inc/components/info-tooltip/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/auto-firewall-status.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/info-tooltip/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/logins-blocked-status.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/protect-value-section.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/scan-threats-status.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/use-protect-tooltip-copy.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/use-tooltip-copy.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/use-videopress-description.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/videopress-value-section.tsx
  projects/packages/my-jetpack/changelog/add-tooltip-to-videopress-card
Labels: [Status] Needs Author Reply, [Package] My Jetpack, [Package] VideoPress

#38338 Jetpack Color & Tonesque: add deprecation warning in codebase
  projects/plugins/jetpack/_inc/lib/class.color.php
  projects/plugins/jetpack/_inc/lib/tonesque.php
  projects/plugins/jetpack/changelog/update-deprecate-jetpack-color
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#38918 Add: Incompatible plugin one-click-ssl to the incompatible plugin list
  projects/plugins/wpcomsh/changelog/add-incompatible-plugin-one-click-ssl
  projects/plugins/wpcomsh/class-jetpack-plugin-compatibility.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Wpcomsh

#38898 Protect: Disable ignore button when fixer in progress
  projects/plugins/protect/changelog/update-protect-disable-ignore-button-when-fixer-in-progress
  projects/plugins/protect/src/js/components/threats-list/paid-list.jsx
Labels: [Status] In Progress, [Status] Needs Cherry-Pick, [Plugin] Protect

#38897 Protect: Fix manual scans section link button loading state
  projects/plugins/protect/changelog/fix-protect-manual-scans-button-loading-state
  projects/plugins/protect/src/js/components/threats-list/index.jsx
  projects/plugins/protect/src/js/components/threats-list/styles.module.scss
Labels: [Status] Ready to Merge, [Status] Needs Cherry-Pick, [Plugin] Protect

#38879 Site Level User Profile: add /wpcom/v2/profile endpoint to get admin color and locale
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-profile.php
  projects/plugins/jetpack/changelog/site-profile-language
Labels: [Plugin] Jetpack

#38873 MU WPCOM: Keep the synced-newspack-blocks folder instead of pulling on every install
  projects/packages/jetpack-mu-wpcom/.eslintignore
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/.gitignore
  projects/packages/jetpack-mu-wpcom/.phan/baseline.php
  projects/packages/jetpack-mu-wpcom/.phan/config.php
  projects/packages/jetpack-mu-wpcom/changelog/feat-keep-synced-newspack-block
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/.phpcs.dir.xml
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/create-swiper.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/edit.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/index.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/view.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/view.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/block.json
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/edit.tsx
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/index.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/store.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/templates/article.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/templates/articles-list.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/templates/articles-loop.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/utils.ts
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/view.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/view.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/view.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/class-newspack-blocks-api.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/class-newspack-blocks.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/autocomplete-tokenfield.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/autocomplete-tokenfield.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/editor-panels.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/query-controls.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/redirect-after-success.tsx
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/package.json
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/js/newspack-icon.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/js/utils.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_colors.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_mixins.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_placeholder.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_preview.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_variables.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/types/index.d.ts
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Newspack Blocks

#38926 Remove unused show_advanced_plan_upgrade_nudge
  projects/js-packages/publicize-components/changelog/remove-social-advanced-plan-nudge
  projects/js-packages/publicize-components/src/components/form/advanced-plan-nudge.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/hooks/use-share-limits/test/index.test.tsx
  projects/js-packages/publicize-components/src/social-store/selectors/shares-data.ts
  projects/js-packages/publicize-components/src/social-store/selectors/test/shares-data.test.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/plugins/social/changelog/remove-social-advanced-plan-nudge
  projects/plugins/social/src/js/components/admin-page/index.jsx
  projects/plugins/social/src/js/components/advanced-upsell-notice/index.jsx
  projects/plugins/social/src/js/components/advanced-upsell-notice/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#38945 Protect: Fix typo
  projects/plugins/protect/changelog/fix-protect-typo
  projects/plugins/protect/src/js/routes/scan/onboarding-steps.jsx
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Protect
