Repository Automattic/jetpack, pull requests merged in 2024-01, with the labels that each got.

#34698 Protect: Remove use of "rulesVersion" in the Firewall settings screen
  projects/packages/waf/changelog/deprecate-waf-rules-version
  projects/packages/waf/src/class-waf-stats.php
  projects/plugins/protect/changelog/use-datetime-versioning-for-firewall-rules
  projects/plugins/protect/src/class-jetpack-protect.php
  projects/plugins/protect/src/js/components/firewall-page/index.jsx
Labels: [Status] Needs Team Review, [Package] WAF, [Plugin] Protect

#34824 Dotcom Patterns: Fix the start page options modal is still visible on editor
  projects/packages/jetpack-mu-wpcom/changelog/fix-start-page-modal
  projects/packages/jetpack-mu-wpcom/src/features/block-patterns/class-wpcom-block-patterns-from-api.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Block Patterns

#34808 Block patterns: use category name Testimonials rather than Quotes
  projects/packages/jetpack-mu-wpcom/changelog/chore-revert-rename-testimonials-to-quotes
  projects/packages/jetpack-mu-wpcom/src/features/block-patterns/class-wpcom-block-patterns-from-api.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Block Patterns

#34768 Remove jetpack connection banners from non-Jetpack pages
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/remove-jetpack-connection-banners
  projects/plugins/jetpack/class-jetpack-connection-widget.php
  projects/plugins/jetpack/class.jetpack-connection-banner.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/e2e/specs/pre-connection/pre-connection.test.js
Labels: [Status] In Progress, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#34801 In modules store make module updating more precise
  projects/js-packages/shared-extension-utils/README.md
  projects/js-packages/shared-extension-utils/changelog/enhance-modules-store-loading-updating
  projects/js-packages/shared-extension-utils/src/modules-state/actions.js
  projects/js-packages/shared-extension-utils/src/modules-state/reducer.js
  projects/js-packages/shared-extension-utils/src/modules-state/selectors.js
  projects/packages/forms/changelog/enhance-modules-store-loading-updating
  projects/packages/forms/package.json
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/class-jetpack-forms.php
Labels: [Feature] Contact Form, Docs, [Status] Needs Review, [Focus] Blocks, [Block] Contact Form, RNA, [JS Package] Shared Extension Utils, [Package] Forms

#34806 Show JP Creator as active when JP Complete is purchased
  projects/packages/my-jetpack/changelog/fix-jp-creator-for-complete-users
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-creator.php
  projects/plugins/backup/changelog/fix-jp-creator-for-complete-users
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-jp-creator-for-complete-users
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-jp-creator-for-complete-users
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-jp-creator-for-complete-users
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/fix-jp-creator-for-complete-users
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-jp-creator-for-complete-users
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-jp-creator-for-complete-users
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-jp-creator-for-complete-users
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-jp-creator-for-complete-users
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34799 Launchpad: Use Site Title task in the Site Setup Launchpad
  projects/packages/jetpack-mu-wpcom/changelog/update-use-site-title-task-site-setup-launchpad
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34791 Launchpad: Add WooCommerce setup task completion logic
  projects/packages/jetpack-mu-wpcom/changelog/add-woocommerce-setup-task-completion-logic
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34831 Show the Reblog button according to the toggle in the sidebar
  projects/plugins/jetpack/changelog/add-like-block-reblog-button
  projects/plugins/jetpack/extensions/blocks/like/block.json
  projects/plugins/jetpack/extensions/blocks/like/edit.js
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/extensions/blocks/like/use-fetch-reblog-setting.js
  projects/plugins/jetpack/extensions/blocks/like/use-set-reblog-setting.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34838 Added reblog query param to the Like Block iframe URL
  projects/plugins/jetpack/changelog/add-reblog-query-param-to-like-block
  projects/plugins/jetpack/extensions/blocks/like/like.php
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] Like

#34692 wp-admin Site Default: Fix admin bar when notifications are disabled
  projects/plugins/jetpack/changelog/fix-admin-bar-when-notifications-are-disabled
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack

#34829 Launchpad: Fix some function docs
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-method-docs
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34830 Backport mu-wpcom-plugin 2.0.10, jetpack 13.0-a.11 Changes
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/update-improve-quick-share-buttons
  projects/js-packages/components/package.json
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/update-improve-quick-share-buttons
  projects/js-packages/publicize-components/package.json
  projects/js-packages/shared-extension-utils/CHANGELOG.md
  projects/js-packages/shared-extension-utils/changelog/enhance-modules-store-loading-updating
  projects/js-packages/shared-extension-utils/changelog/modules-store-fill-initial-state
  projects/js-packages/shared-extension-utils/package.json
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/enhance-modules-store-loading-updating
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-sensei-setup-task-completion-logic
  projects/packages/jetpack-mu-wpcom/changelog/chore-revert-rename-testimonials-to-quotes
  projects/packages/jetpack-mu-wpcom/changelog/fix-start-page-modal
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-jp-creator-for-complete-users
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/plugins-installer/CHANGELOG.md
  projects/packages/plugins-installer/changelog/fix-language-installation
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/deprecate-waf-rules-version
  projects/packages/waf/src/class-waf-stats.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-query-param-to-like-frame-url
  projects/plugins/jetpack/changelog/fix-double-cookie-token-redirect
  projects/plugins/jetpack/changelog/fix-fonts-not-loading-in-gutenberg-editor
  projects/plugins/jetpack/changelog/fix-subs-block-height
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/modules-store-fill-initial-state
  projects/plugins/jetpack/changelog/remove-jetpack-connection-banners
  projects/plugins/jetpack/changelog/small-fix
  projects/plugins/jetpack/changelog/update-blogroll-item-use-url-as-name-substitute
  projects/plugins/jetpack/changelog/update-improve-quick-share-buttons
  projects/plugins/jetpack/changelog/update-jetpack-ai-content-lens-enable
  projects/plugins/jetpack/changelog/update-newsletter-refactor-postpublish-panel
  projects/plugins/jetpack/changelog/update-sharing-button-block-description
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-sensei-setup-task-completion-logic
  projects/plugins/mu-wpcom-plugin/changelog/prerelease
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Contact Form, Docs, [Status] Needs Review, [Plugin] Jetpack, RNA, [JS Package] Components, [Package] My Jetpack, [Package] WAF, [Package] Plugins Installer, [JS Package] Shared Extension Utils, [JS Package] Publicize Components, [Package] Forms, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#34787 Fix/jetpack footer inconsistent behavior
  projects/js-packages/components/changelog/fix-jetpack-footer-inconsistent-behavior
  projects/js-packages/components/components/admin-page/types.ts
  projects/js-packages/components/components/jetpack-footer/README.md
  projects/js-packages/components/components/jetpack-footer/index.tsx
  projects/js-packages/components/tools/get-site-admin-url/README.md
  projects/js-packages/components/tools/get-site-admin-url/index.ts
  projects/js-packages/components/tools/get-site-admin-url/types.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/fix-jetpack-footer-inconsistent-behavior
  projects/plugins/jetpack/_inc/client/components/footer/index.jsx
  projects/plugins/jetpack/changelog/fix-jetpack-footer-inconsistent-behavior
Labels: Docs, [Status] Needs Review, Admin Page, [Pri] Normal, [Plugin] Jetpack, RNA, [JS Package] Components, [Package] My Jetpack

#34803 Search: stop reseting tracking cookies for a8c sites
  projects/packages/search/changelog/update-stop-reset-cookie-for-a8c-sites
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-helper.php
  projects/packages/search/src/class-package.php
  projects/packages/search/src/instant-search/components/search-app.jsx
  projects/plugins/jetpack/changelog/update-stop-reset-cookie-for-a8c-sites
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/update-stop-reset-cookie-for-a8c-sites
  projects/plugins/search/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Search, [Package] Search, Instant Search

#34826 Launchpad: Rename the title of the setup_general to Give your site a name
  projects/packages/jetpack-mu-wpcom/changelog/feat-rename-setup-general-task-title
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34836 Site Editor Dashboard Link: Allow to customize the url via the query parameter
  projects/packages/jetpack-mu-wpcom/changelog/feat-customize-editor-back-url
  projects/packages/jetpack-mu-wpcom/src/features/site-editor-dashboard-link/site-editor-dashboard-link.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Site Editor Dashboard Link

#34330 Remove/social obsolete twitter helpers
  projects/packages/publicize/changelog/remove-social-obsolete-twitter-helpers
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/sync/changelog/remove-social-obsolete-twitter-helpers
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/backup/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/backup/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/_inc/lib/class-jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-tweetstorm-gather.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-tweetstorm-parse.php
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers#3
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers#4
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers#5
  projects/plugins/jetpack/changelog/remove-social-obsolete-twitter-helpers#6
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/_inc/lib/class-tweetstorm-requests-transport-override.php
  projects/plugins/jetpack/tests/php/_inc/lib/test-class.jetpack-tweetstorm-helper.php
  projects/plugins/jetpack/tests/php/bootstrap.php
  projects/plugins/migration/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/migration/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/protect/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/search/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/social/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/starter-plugin/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/videopress/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/videopress/composer.lock
Labels: [Feature] Publicize, [Status] Ready to Merge, [Type] Janitorial, [Package] Sync, [Pri] Normal, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Search, [Package] Publicize, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#34796 Try to fix failing recommendations.test.js and waf-blocking.test.js E2E tests
  projects/plugins/jetpack/changelog/fix-failing-e2e-tests
  tools/e2e-commons/pages/wp-admin/jetpack-my-plan.js
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#34800 Likes Widget: Fix accessibility on likes popover
  projects/plugins/jetpack/changelog/fix-likes-widget-accessibility
  projects/plugins/jetpack/modules/likes/jetpack-likes-master-iframe.php
  projects/plugins/jetpack/modules/likes/queuehandler.js
  projects/plugins/jetpack/modules/likes/style.css
Labels: [Feature] Likes, [Status] In Progress, [Plugin] Jetpack

#34739 Backup: Add namespace versioning to Helper_Script_Manager and other classes
  projects/packages/backup-helper-script-manager/changelog/backup-helper-script-manager-class-versioning
  projects/packages/backup-helper-script-manager/composer.json
  projects/packages/backup-helper-script-manager/src/class-helper-script-manager-impl.php
  projects/packages/backup-helper-script-manager/src/class-helper-script-manager.php
  projects/packages/backup-helper-script-manager/src/class-throw-on-errors.php
  projects/packages/backup-helper-script-manager/tests/php/test-class-helper-script-manager-impl.php
  projects/packages/backup-helper-script-manager/tests/php/test-class-throw-on-errors.php
  projects/packages/backup/actions.php
  projects/packages/backup/changelog/backup-helper-script-manager-class-versioning
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-initial-state.php
  projects/packages/backup/src/class-jetpack-backup-upgrades.php
  projects/packages/backup/src/class-jetpack-backup.php
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/class-rest-controller.php
  projects/packages/backup/tests/php/test-package-version.php
  projects/packages/backup/tests/php/test-rest-controller.php
  projects/packages/backup/tests/php/test-storage-addon-upsell.php
  projects/packages/transport-helper/README.md
  projects/packages/transport-helper/actions.php
  projects/packages/transport-helper/changelog/backup-helper-script-manager-class-versioning
  projects/packages/transport-helper/src/class-package-version.php
  projects/packages/transport-helper/src/class-rest-controller.php
  projects/packages/transport-helper/tests/php/test-package-version.php
  projects/packages/transport-helper/tests/php/test-rest-controller.php
  projects/plugins/backup/changelog/backup-helper-script-manager-class-versioning
  projects/plugins/backup/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/backup/composer.lock
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/readme.txt
  projects/plugins/jetpack/changelog/backup-helper-script-manager-class-versioning
  projects/plugins/jetpack/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/json-endpoints/jetpack/class-jetpack-json-api-delete-backup-helper-script-endpoint.php
  projects/plugins/jetpack/json-endpoints/jetpack/class-jetpack-json-api-install-backup-helper-script-endpoint.php
  projects/plugins/jetpack/uninstall.php
  projects/plugins/migration/changelog/backup-helper-script-manager-class-versioning
  projects/plugins/migration/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/migration/composer.lock
  projects/plugins/migration/src/class-wpcom-migration.php
  projects/plugins/protect/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/protect/composer.lock
Labels: [Feature] WPCOM API, Docs, [Status] Needs Review, [Pri] BLOCKER, [Feature] Backup & Scan, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Protect, [Package] Transport Helper, [Plugin] Migration, [Tests] Includes Tests, [Package] Backup Helper Script Manager

#34853 Backport backup 2.4 Changes
  projects/packages/backup-helper-script-manager/CHANGELOG.md
  projects/packages/backup-helper-script-manager/changelog/backup-helper-script-manager-class-versioning
  projects/packages/backup/CHANGELOG.md
  projects/packages/backup/changelog/backup-helper-script-manager-class-versioning
  projects/packages/backup/src/class-package-version.php
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/add-idc-compare-secrets-endpoint
  projects/plugins/backup/changelog/add-wpcom_ai_site_prompt-option-settings-endpoint
  projects/plugins/backup/changelog/backup-helper-script-manager-class-versioning
  projects/plugins/backup/changelog/fix-jp-creator-for-complete-users
  projects/plugins/backup/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/backup/changelog/prerelease
  projects/plugins/backup/changelog/remove-social-obsolete-twitter-helpers
  projects/plugins/backup/changelog/remove-social-obsolete-twitter-helpers#2
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/readme.txt
Labels: Docs, [Status] Needs Review, [Package] Backup, [Plugin] Backup, [Package] Backup Helper Script Manager

#34835 Add modules store tests
  projects/js-packages/shared-extension-utils/changelog/add-modules-store-tests
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/modules-state/actions.js
  projects/js-packages/shared-extension-utils/src/modules-state/test/actions.test.js
  projects/js-packages/shared-extension-utils/src/modules-state/test/controls.test.js
  projects/js-packages/shared-extension-utils/src/modules-state/test/reducer.test.js
  projects/js-packages/shared-extension-utils/src/modules-state/test/selectors.test.js
  projects/packages/videopress/changelog/add-modules-store-tests
  projects/packages/videopress/composer.json
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/changelog/add-modules-store-tests
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/add-modules-store-tests
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, Unit Tests, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Package] VideoPress, [Plugin] VideoPress, [Tests] Includes Tests

#34462 Add the documentation parser package and CLI command.
  tools/cli/cliRouter.js
  tools/cli/commands/docs.js
  tools/cli/helpers/doc-parser/.gitignore
  tools/cli/helpers/doc-parser/CHANGELOG.md
  tools/cli/helpers/doc-parser/README.md
  tools/cli/helpers/doc-parser/composer.json
  tools/cli/helpers/doc-parser/docs.json
  tools/cli/helpers/doc-parser/runner.php
  tools/cli/helpers/doc-parser/src/class-doc-parser.php
Labels: Docs, [Status] Needs Review, [Tools] Development CLI

#34855 Jetpack AI: Remove model selector from AI Excerpt generator
  projects/plugins/jetpack/changelog/update-jetpack-ai-remove-model-selector-excerpt
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Content Lens

#34860 Like widget / block: Fix caching issue
  projects/plugins/jetpack/changelog/fix-likes-widget-caching-issue
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/modules/likes.php
  projects/plugins/jetpack/modules/likes/jetpack-likes-master-iframe.php
Labels: [Feature] Likes, [Status] In Progress, [Plugin] Jetpack, [Block] Like

#34857 Likes Widget: Make likes widget accessibility compatible across themes
  projects/plugins/jetpack/changelog/fix-likes-accessibility
  projects/plugins/jetpack/modules/likes/jetpack-likes-master-iframe.php
  projects/plugins/jetpack/modules/likes/queuehandler.js
  projects/plugins/jetpack/modules/likes/style.css
Labels: [Feature] Likes, [Status] Needs Team Review, [Plugin] Jetpack

#34845 Update use-module-status hook to use modules_store
  projects/js-packages/shared-extension-utils/changelog/update-use-redux-store-for-module-data
  projects/js-packages/shared-extension-utils/src/hooks/use-module-status/index.js
  projects/js-packages/shared-extension-utils/src/hooks/use-module-status/test/index.test.js
  projects/packages/forms/changelog/update-use-redux-store-for-module-data
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/videopress/changelog/update-use-redux-store-for-module-data
  projects/plugins/jetpack/changelog/update-use-redux-store-for-module-data
  projects/plugins/jetpack/composer.lock
  projects/plugins/videopress/changelog/update-use-redux-store-for-module-data
Labels: [Feature] Contact Form, [Focus] Performance, [Status] Needs Review, [Focus] Blocks, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Package] VideoPress, [Plugin] VideoPress, [Package] Forms, [Tests] Includes Tests

#34821 Add a check to My Jetpack to determine if a user is "new"
  projects/packages/my-jetpack/changelog/add-my-jetpack-new-user-check
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-wpcom-products.php
  projects/plugins/backup/changelog/add-my-jetpack-new-user-check
  projects/plugins/backup/composer.json
  projects/plugins/backup/composer.lock
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/boost/changelog/add-my-jetpack-new-user-check
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-my-jetpack-new-user-check
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-my-jetpack-new-user-check
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-my-jetpack-new-user-check
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-my-jetpack-new-user-check
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-my-jetpack-new-user-check
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-my-jetpack-new-user-check
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-my-jetpack-new-user-check
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34659 Promote subscription: Add subscription modal on comment
  projects/plugins/jetpack/changelog/add-subscription-modal-on-comment
  projects/plugins/jetpack/modules/comments.php
  projects/plugins/jetpack/modules/comments/comments.php
  projects/plugins/jetpack/modules/comments/subscription-modal-on-comment/class-jetpack-subscription-modal-on-comment.php
  projects/plugins/jetpack/modules/comments/subscription-modal-on-comment/subscription-modal.css
  projects/plugins/jetpack/modules/comments/subscription-modal-on-comment/subscription-modal.js
Labels: [Feature] Comments, [Status] Needs Author Reply, [Plugin] Jetpack

#34834 My Jetpack: Fix Jetpack AI interstitial on disconnected site
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/update-fix-jetpack-ai-interstitial-on-disconnected-site
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] My Jetpack

#34856 Switch to useModuleStatus hook instead of directly calling data store
  projects/packages/forms/changelog/update-contact-form-using-modules-hook
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/plugins/jetpack/changelog/update-contact-form-using-modules-hook
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
Labels: [Feature] Contact Form, [Status] Needs Review, [Focus] Blocks, [Plugin] Jetpack, [Block] Contact Form, RNA, [Package] Forms, [Block] AI Assistant, [Extension] AI Assistant

#34817 Update akismet card on My Jetpack to show interstitial screen
  projects/packages/my-jetpack/changelog/update-akismet-card-to-interstitial
  projects/packages/my-jetpack/src/products/class-anti-spam.php
  projects/plugins/backup/changelog/update-akismet-card-to-interstitial
  projects/plugins/boost/changelog/update-akismet-card-to-interstitial
  projects/plugins/jetpack/changelog/update-akismet-card-to-interstitial
  projects/plugins/migration/changelog/update-akismet-card-to-interstitial
  projects/plugins/protect/changelog/update-akismet-card-to-interstitial
  projects/plugins/search/changelog/update-akismet-card-to-interstitial
  projects/plugins/social/changelog/update-akismet-card-to-interstitial
  projects/plugins/starter-plugin/changelog/update-akismet-card-to-interstitial
  projects/plugins/videopress/changelog/update-akismet-card-to-interstitial
Labels: [Status] Needs Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34818 Jetpack Scan Client: Add Package
  pnpm-lock.yaml
  projects/js-packages/scan/.eslintrc.cjs
  projects/js-packages/scan/.gitattributes
  projects/js-packages/scan/.gitignore
  projects/js-packages/scan/CHANGELOG.md
  projects/js-packages/scan/README.md
  projects/js-packages/scan/changelog/.gitkeep
  projects/js-packages/scan/changelog/init
  projects/js-packages/scan/composer.json
  projects/js-packages/scan/jest.config.cjs
  projects/js-packages/scan/package.json
  projects/js-packages/scan/src/index.test.ts
  projects/js-packages/scan/src/index.ts
  projects/js-packages/scan/src/types/.gitkeep
  projects/js-packages/scan/tsconfig.json
Labels: Docs, [Status] Needs Review, RNA, [JS Package] Scan

#34807 wp-admin Site Default: Fix/enable the menu toggle when in wp-admin
  projects/plugins/jetpack/changelog/fix-enable-the-menu-toggle
  projects/plugins/jetpack/modules/masterbar/admin-menu/admin-menu.js
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, wp-admin Site Default

#34876 Jetpack Dashboard: Fix protect card text on activation
  projects/plugins/jetpack/_inc/client/at-a-glance/protect.jsx
  projects/plugins/jetpack/_inc/client/components/data/query-dash-protect/index.jsx
  projects/plugins/jetpack/changelog/fix-dashboard-protect-card-activation
Labels: [Type] Bug, [Feature] Protect, [Status] Ready to Merge, Admin Page, [Pri] Low, [Plugin] Jetpack

#34772 Add interstitial for Stats
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/stats.png
  projects/packages/my-jetpack/changelog/add-interstitial-for-stats
  projects/packages/my-jetpack/src/products/class-stats.php
  projects/plugins/backup/changelog/add-interstitial-for-stats
  projects/plugins/boost/changelog/add-interstitial-for-stats
  projects/plugins/jetpack/changelog/add-interstitial-for-stats
  projects/plugins/migration/changelog/add-interstitial-for-stats
  projects/plugins/protect/changelog/add-interstitial-for-stats
  projects/plugins/search/changelog/add-interstitial-for-stats
  projects/plugins/social/changelog/add-interstitial-for-stats
  projects/plugins/starter-plugin/changelog/add-interstitial-for-stats
  projects/plugins/videopress/changelog/add-interstitial-for-stats
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34861 Social: Fix review prompt initial state
  projects/plugins/social/changelog/fix-social-review-prompt-initial-state
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Team Review, [Plugin] Social

#34839 Launchpad: Accept the is_dismissible prop in the task list definition
  projects/packages/jetpack-mu-wpcom/changelog/add-is-dismissible-prop-launchpad
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#34886 Forms: Avoid PHP warnings when post is not set
  projects/packages/forms/changelog/fix-forms-warning
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Pri] Normal, [Status] Needs Team Review, [Package] Forms

#34870 generate_documentation: Only split descriptions on ) if one exists
  projects/plugins/jetpack/changelog/generate_documentation_fix
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: [Type] Bug, [Feature] WPCOM API, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, Reviewer Can Merge

#34867 CRM: 3405 - more robust local install detection
  projects/plugins/crm/changelog/fix-crm-3405-use_more_robust_IP_check
  projects/plugins/crm/includes/ZeroBSCRM.GeneralFuncs.php
  projects/plugins/crm/includes/ZeroBSCRM.PluginUpdates.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34873 CRM: 3409 - general cosmetic fixes
  projects/plugins/crm/admin/system/assistant.page.php
  projects/plugins/crm/admin/system/system-status.page.php
  projects/plugins/crm/changelog/fix-crm-3409-various_general_fixes
  projects/plugins/crm/includes/ZeroBSCRM.Migrations.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#34872 CRM: 3406 - address SQLite table creation error
  projects/plugins/crm/admin/system/system-status.page.php
  projects/plugins/crm/changelog/fix-crm-3406-address_sqlite_table_creation_error
  projects/plugins/crm/includes/ZeroBSCRM.Database.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#34869 CRM: 3404 - address syntax differences between SQLite and MySQL
  projects/plugins/crm/changelog/fix-crm-3404-sqlite_transactions
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Transactions.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34871 CRM: 3407 - address database table error in SQLite
  projects/plugins/crm/changelog/fix-crm-3407-fix_log_error
  projects/plugins/crm/includes/ZeroBSCRM.Database.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34868 CRM: 3408 - detect and expose SQLite usage
  projects/plugins/crm/admin/system/system-status.page.php
  projects/plugins/crm/changelog/fix-crm-3404-sqlite_transactions
  projects/plugins/crm/changelog/fix-crm-3406-address_sqlite_table_creation_error
  projects/plugins/crm/changelog/fix-crm-3408-detect_sqlite_usage
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Transactions.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
  projects/plugins/crm/includes/ZeroBSCRM.Database.php
  projects/plugins/crm/includes/ZeroBSCRM.SystemChecks.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#34885 Fix reply link when comment_registration is set
  projects/plugins/jetpack/changelog/fix-comment-reply-link
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Feature] Comments, [Status] In Progress, [Plugin] Jetpack

#34858 Add connection button to Welcome banner
  projects/packages/my-jetpack/_inc/components/welcome-banner/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-banner/style.module.scss
  projects/packages/my-jetpack/changelog/add-connection-button-to-welcome-banner
  projects/plugins/backup/changelog/add-welcome-banner-connection-button
  projects/plugins/boost/changelog/add-welcome-banner-connection-button
  projects/plugins/jetpack/changelog/add-welcome-banner-connection-button
  projects/plugins/migration/changelog/add-welcome-banner-connection-button
  projects/plugins/protect/changelog/add-welcome-banner-connection-button
  projects/plugins/search/changelog/add-welcome-banner-connection-button
  projects/plugins/social/changelog/add-welcome-banner-connection-button
  projects/plugins/starter-plugin/changelog/add-welcome-banner-connection-button
  projects/plugins/videopress/changelog/add-welcome-banner-connection-button
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34814 Fix interstitial for Social
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/social.png
  projects/packages/my-jetpack/changelog/fix-social-interstitial
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] My Jetpack

#34895 Fix Social CTA on My Jetpack
  projects/packages/my-jetpack/changelog/fix-social-cta-my-jetpack
  projects/packages/my-jetpack/src/products/class-social.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#34702 Protect: App-Level Admin Notifications
  projects/plugins/protect/changelog/unify-protect-notifications
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/firewall-page/index.jsx
  projects/plugins/protect/src/js/components/summary/index.jsx
  projects/plugins/protect/src/js/components/summary/styles.module.scss
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Protect

#34894 Backport mu-wpcom-plugin 2.0.12, jetpack 13.0-beta Changes
  projects/js-packages/shared-extension-utils/CHANGELOG.md
  projects/js-packages/shared-extension-utils/changelog/add-modules-store-tests
  projects/js-packages/shared-extension-utils/changelog/update-use-redux-store-for-module-data
  projects/js-packages/shared-extension-utils/package.json
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/fix-forms-warning
  projects/packages/forms/changelog/update-contact-form-using-modules-hook
  projects/packages/forms/changelog/update-use-redux-store-for-module-data
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-is-dismissible-prop-launchpad
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/add-connection-button-to-welcome-banner
  projects/packages/my-jetpack/changelog/add-interstitial-for-stats
  projects/packages/my-jetpack/changelog/add-my-jetpack-new-user-check
  projects/packages/my-jetpack/changelog/fix-social-interstitial
  projects/packages/my-jetpack/changelog/update-akismet-card-to-interstitial
  projects/packages/my-jetpack/changelog/update-fix-jetpack-ai-interstitial-on-disconnected-site
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/add-modules-store-tests
  projects/packages/videopress/changelog/update-use-redux-store-for-module-data
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-interstitial-for-stats
  projects/plugins/jetpack/changelog/add-modules-store-tests
  projects/plugins/jetpack/changelog/add-my-jetpack-new-user-check
  projects/plugins/jetpack/changelog/add-subscription-modal-on-comment
  projects/plugins/jetpack/changelog/add-welcome-banner-connection-button
  projects/plugins/jetpack/changelog/backup-helper-script-manager-class-versioning
  projects/plugins/jetpack/changelog/fix-comment-reply-link
  projects/plugins/jetpack/changelog/fix-dashboard-protect-card-activation
  projects/plugins/jetpack/changelog/fix-enable-the-menu-toggle
  projects/plugins/jetpack/changelog/fix-likes-accessibility
  projects/plugins/jetpack/changelog/fix-likes-widget-accessibility
  projects/plugins/jetpack/changelog/generate_documentation_fix
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/modify-backup-helper-script-manager-class-versioning
  projects/plugins/jetpack/changelog/renovate-lock-file-maintenance
  projects/plugins/jetpack/changelog/update-akismet-card-to-interstitial
  projects/plugins/jetpack/changelog/update-contact-form-using-modules-hook
  projects/plugins/jetpack/changelog/update-jetpack-ai-remove-model-selector-excerpt
  projects/plugins/jetpack/changelog/update-use-redux-store-for-module-data
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/renovate-lock-file-maintenance
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Contact Form, Docs, [Status] Needs Review, [Plugin] Jetpack, RNA, [Package] My Jetpack, [JS Package] Shared Extension Utils, [Package] VideoPress, [Package] Forms, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#34883 Limit Welcome banner to new users
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-banner/index.jsx
  projects/packages/my-jetpack/_inc/hooks/use-welcome-banner/index.js
  projects/packages/my-jetpack/_inc/state/selectors.js
  projects/packages/my-jetpack/changelog/add-welcome-banner-for-new-users
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-welcome-banner-for-new-users
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-welcome-banner-for-new-users
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-welcome-banner-for-new-users
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-welcome-banner-for-new-users
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-welcome-banner-for-new-users
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-welcome-banner-for-new-users
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-welcome-banner-for-new-users
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-welcome-banner-for-new-users
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-welcome-banner-for-new-users
  projects/plugins/videopress/composer.lock
Labels: [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#34905 Update/anti spam plan check
  projects/packages/my-jetpack/changelog/update-anti-spam-plan-check
  projects/packages/my-jetpack/src/class-wpcom-products.php
  projects/packages/my-jetpack/src/products/class-anti-spam.php
Labels: [Status] Needs Review, [Package] My Jetpack

#34755 Jetpack Boost: Add Action Endpoints
  projects/js-packages/react-data-sync-client/changelog/update-boost-datasync-actions
  projects/js-packages/react-data-sync-client/src/DataSync.ts
  projects/js-packages/react-data-sync-client/src/DataSyncHooks.ts
  projects/packages/wp-js-data-sync/changelog/update-boost-datasync-actions
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/class-registry.php
  projects/packages/wp-js-data-sync/src/contracts/interface-data-sync-action.php
  projects/packages/wp-js-data-sync/src/endpoints/class-action-endpoint.php
Labels: [Status] Needs Team Review, RNA, [Package] WP JS Data Sync, [JS Package] React Data Sync Client

#34891 jetpack_spotify_shortcode: Prevent fatal error in PHP 8.1 if $atts is not an array
  projects/plugins/jetpack/changelog/update-spotify-shortcode
  projects/plugins/jetpack/modules/shortcodes/spotify.php
Labels: [Feature] Shortcodes / Embeds, [Status] Needs Review, [Plugin] Jetpack, Reviewer Can Merge

#34827 WooCommerce analytics: Track store managers
  projects/plugins/jetpack/changelog/update-store-admin-property
  projects/plugins/jetpack/modules/woocommerce-analytics/classes/class-jetpack-woocommerce-analytics-trait.php
  projects/plugins/jetpack/to-test.md
Labels: Docs, [Status] Ready to Merge, [Feature] WooCommerce Analytics, [Plugin] Jetpack

#34892 CRM: 3402 - remove "Blacklisted" as default status
  projects/plugins/crm/admin/settings/companies.page.php
  projects/plugins/crm/admin/settings/field-options.page.php
  projects/plugins/crm/changelog/fix-crm-3402-remove_blacklist_term
  projects/plugins/crm/includes/ZeroBSCRM.Config.Init.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL.Fields.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Companies.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.Mail.php
  projects/plugins/crm/tests/codeception/acceptance/50_JPCRM_Settings_Cest.php
  projects/plugins/crm/tests/php/automation/contacts/class-contact-trigger-test.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM, [Tests] Includes Tests

#34898 Recommendations: update link in summary upsell
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/product-card-upsell-no-price/index.jsx
  projects/plugins/jetpack/changelog/fix-recommendation-summary-upsell-link
Labels: [Type] Bug, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#34915 Subscriptions: Fix subscriber pop-up button text color
  projects/plugins/jetpack/changelog/fix-subscriber-popup-button-text-color
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Feature] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#34896 Changes the Blaze Dashboard path to the new format
  projects/packages/blaze/changelog/update-blaze-dashboard-urls
  projects/packages/blaze/composer.json
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-blaze.php
  projects/packages/blaze/src/class-dashboard-config-data.php
  projects/packages/blaze/src/class-dashboard.php
  projects/packages/blaze/src/js/editor.js
  projects/plugins/jetpack/changelog/update-blaze-dashboard-urls
  projects/plugins/jetpack/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Blaze

#34795 External media: provide default numerical post id for uploads
  projects/plugins/jetpack/changelog/test-with-media-send-numerical-post-id
  projects/plugins/jetpack/extensions/shared/external-media/sources/with-media.js
Labels: [Status] Ready to Merge, [Extension] External Media, [Plugin] Jetpack

#34779 GIF Block: Fix Search Bar Input Styling
  projects/plugins/jetpack/changelog/fix-gif-block-input
  projects/plugins/jetpack/extensions/blocks/gif/editor.scss
Labels: [Status] Ready to Merge, [Block] GIF, OSS Citizen, [Plugin] Jetpack

#34823 Boost: Cleanup config constants
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/changelog/update-cleanup-config
Labels: [Status] In Progress, Admin Page, [Plugin] Boost

#34786 GIF Block: Accept Giphy Shortlinks
  projects/plugins/jetpack/changelog/add-giphy-shortlink-support
  projects/plugins/jetpack/extensions/blocks/gif/edit.js
  projects/plugins/jetpack/extensions/blocks/gif/test/edit.js
  projects/plugins/jetpack/extensions/blocks/gif/test/utils.js
  projects/plugins/jetpack/extensions/blocks/gif/utils.js
Labels: [Status] Ready to Merge, [Block] GIF, OSS Citizen, [Plugin] Jetpack, [Tests] Includes Tests

#34929 Fix: isaRequest in purchase success
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/purchase-success.tsx
  projects/plugins/boost/changelog/boost-react-fix-isa-request
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#34919 Subscriptions: Show subscription numbers more elegantly
  projects/plugins/jetpack/changelog/update-subscription-numbers-more-elegantly
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#34931 Fix: Prevent infinite loop in getting started
  projects/plugins/boost/app/assets/src/js/features/image-size-analysis/lib/stores/isa-report.ts
  projects/plugins/boost/app/assets/src/js/pages/purchase-success/purchase-success.tsx
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/changelog/boost-react-fix-getting-started-infinite-loop
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#34932 Make edit_url nullable, not optional
  projects/plugins/boost/app/assets/src/js/features/image-size-analysis/lib/stores/types.ts
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/Image_Size_Analysis_Entry.php
  projects/plugins/boost/changelog/boost-react-hotfix-edit-url-null
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Size Analysis

#34934 Jetpack Boost: Fix ISA Tabs
  projects/plugins/boost/app/assets/src/js/features/image-size-analysis/recommendations/tabs/tabs.tsx
  projects/plugins/boost/changelog/boost-react-hotfix-tabs
Labels: [Status] Needs Team Review, [Plugin] Boost

#34923 Extensions: auto-generate public path
  projects/plugins/jetpack/changelog/update-extensions-auto-public-path
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/block-editor-asset-loader.js
  projects/plugins/jetpack/extensions/shared/public-path.js
  projects/plugins/jetpack/extensions/view.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack

#34937 Like block: Update editor styles and add script to automatically update them.
  projects/plugins/jetpack/changelog/add-like-block-update-styles-script
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
  projects/plugins/jetpack/extensions/blocks/like/tools/README.md
  projects/plugins/jetpack/extensions/blocks/like/tools/update-editor-styles.js
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34805 Content Options: Respect Block Settings for Featured Images
  projects/plugins/jetpack/changelog/fix-content-options-featured-images
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images.php
Labels: [Feature] Theme Tools, [Status] Needs Review, OSS Citizen, [Plugin] Jetpack

#34837 Launchpad: Add the completion logic for the `front_page_updated` task
  projects/packages/jetpack-mu-wpcom/changelog/add-update-front-page-task-completion-logic
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34941 cli: Restore non-interactive use for `jetpack changelog add`
  tools/cli/commands/changelog.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#34944 cli: Use args for prompt defaults in `jetpack changelog add`
  tools/cli/commands/changelog.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#34927 Update/hide jitms new users
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/hide-jitms-for-new-users
Labels: [Status] In Progress, [Package] My Jetpack

#34928 Gold/fix/recurring payments plan ids
  projects/plugins/jetpack/changelog/gold-fix-recurring-payments-plan-ids
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/block.json
  projects/plugins/jetpack/extensions/blocks/recurring-payments/edit.jsx
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] In Progress, [Status] Needs Cherry-Pick, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships, [Block] Payments

#34951 ci: Disable "CI Results" workflow on forks
  .github/workflows/slack-workflow-failed.yml
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions

#34949 CRM: 3410 - prevent LFI with templates
  projects/plugins/crm/changelog/fix-crm-3410-prevent_LFI_with_templates
  projects/plugins/crm/includes/ZeroBSCRM.Permissions.php
  projects/plugins/crm/includes/jpcrm-templating.php
Labels: [Status] Needs Team Review, [Plugin] CRM

#34942 cast_and_filter_item: Do not cast an array to a string
  projects/plugins/jetpack/changelog/cast-and-filter-string-skip-array
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: [Status] Needs Review, [Plugin] Jetpack

#34940 Fix: Import types error message
  projects/plugins/boost/changelog/fix-boost-import-types
  projects/plugins/boost/tsconfig.json
Labels: [Status] Needs Author Reply, [Plugin] Boost

#34956 [Boost] Remove disused code
  projects/plugins/boost/app/assets/src/js/features/Redirect.svelte
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/config.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/dismissed-alerts.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/notice.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/premium-features.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/jetpack-url.ts
  projects/plugins/boost/changelog/boost-update-cleanup-stores
Labels: [Status] Needs Team Review, [Plugin] Boost

#34825 Boost: Add sync
  projects/packages/boost-speed-score/changelog/change-visibility
  projects/packages/boost-speed-score/src/class-speed-score.php
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/changelog/add-sync
Labels: [Status] In Progress, [Status] Needs Team Review, [Status] Needs Privacy Updates, [Plugin] Boost, [Package] Boost Speed Score

#34933 Subscriptions : Fix subscriber popup background scrolling
  projects/plugins/jetpack/changelog/fix-subscriber-popup-background-scrolling
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.css
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
Labels: [Feature] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#34926 Avoid a warning under PHP 8.1 when wp_parse_url() returns false
  projects/plugins/jetpack/changelog/update-post-images
  projects/plugins/jetpack/class.jetpack-post-images.php
Labels: [Type] Bug, General, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack

#34939 Action Bar: remove module and mark package as abandoned
  projects/packages/action-bar/README.md
  projects/packages/action-bar/changelog/update-action-bar-module
  projects/packages/action-bar/composer.json
  projects/packages/action-bar/package.json
  projects/plugins/jetpack/changelog/update-action-bar-module
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/action-bar.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Action Bar

#34959 Newsletter settings: update copy for subscription pop-up
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/changelog/update-newsletter-setting-popup-copy
Labels: [Feature] Subscriptions, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#34952 add new entries for meteorite team for WPJM and Crowdsignal gardening tasks
  projects/github-actions/repo-gardening/changelog/update-gardening-actions-meteorite
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/reply-to-customers-reminder/index.js
Labels: [Status] Needs Author Reply, Actions, [Action] Repo Gardening

#34888 Dedicated sync fall back to default only after unsuccesful spawn sync test
  projects/packages/sync/changelog/fix-dedicated-sync-fall-back-to-default-only-after-unsuccesful-spawn-aync-test
  projects/packages/sync/src/class-dedicated-sender.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/tests/php/test-dedicated-sender.php
Labels: [Status] Ready to Merge, [Package] Sync, [Tests] Includes Tests

#34921 AI Assistant: avoid deprecation notice in AI Excerpt
  projects/plugins/jetpack/changelog/fix-ai-excerpt-deprecation-notices
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant, [Extension] AI Content Lens

#34893 Launchpad: Add Verify Domain Email task logic
  projects/packages/jetpack-mu-wpcom/changelog/add-verify_domain_email-task-logic
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#34963 Subscriptions: Fix page scrolling up after the subscription modal is dismissed
  projects/plugins/jetpack/changelog/fix-subscription-modal-scroll-page-up
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
Labels: [Feature] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#31552 Fix/jetpack sync fix non array input in sender
  projects/packages/sync/changelog/fix-jetpack-sync-fix-non-array-input-in-sender
  projects/packages/sync/src/class-sender.php
Labels: [Type] Bug, [Status] Needs Review, [Type] Janitorial, [Package] Sync, [Pri] Low, [Status] Stale

#34969 jetpack: Fix webpack publicPath with JS concatenation
  projects/plugins/jetpack/changelog/fix-webpack-public-path-js-concatenation
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/editor.js
  projects/plugins/jetpack/extensions/shared/public-path.js
  projects/plugins/jetpack/extensions/view.js
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#34970 AI Assistant: conditionally remove the core excerpt box.
  projects/plugins/jetpack/changelog/fix-34921-take-2
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant, [Extension] AI Content Lens

#34971 Fixed doc parser producing duplicate entries.
  tools/cli/helpers/doc-parser/docs.json
  tools/cli/helpers/doc-parser/runner.php
Labels: [Status] Needs Author Reply, [Tools] Development CLI

#34912 Subscriptions: only show checkboxes under posts
  projects/plugins/jetpack/changelog/fix-subscriptions-checkboxes-cpt
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack

#34972 Jetpack AI: Include feature name on content feedback request
  projects/plugins/jetpack/changelog/update-jetpack-ai-include-feature-name-on-proofread-request
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/proofread/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#34913 Writng Prompts: bloganuary label update
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/changelog/add-bloganuary-label-update
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/block.json
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/bloganuary-icon.svg
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/editor.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/save.js
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/style.scss
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] Blogging Prompt

#34910 [Boost] Switch critical CSS datastores to React
  projects/js-packages/react-data-sync-client/changelog/boost-update-react-ccss-stores
  projects/js-packages/react-data-sync-client/src/DataSyncHooks.ts
  projects/packages/wp-js-data-sync/changelog/boost-update-react-ccss-stores
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/packages/wp-js-data-sync/src/class-registry.php
  projects/packages/wp-js-data-sync/src/endpoints/class-action-endpoint.php
  projects/packages/wp-js-data-sync/src/schema/class-schema.php
  projects/packages/wp-js-data-sync/src/schema/types/class-type-void.php
  projects/plugins/boost/app/assets/src/js/Main.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/cloud-css-meta/cloud-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-meta/critical-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/error-description/error-description.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/error-description/types.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/index.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/cloud-css.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/critical-css-errors.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/describe-critical-css-recommendations.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/generate-critical-css.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-meta.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state-types.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/suggest-regenerate.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/local-generator/local-generator-provider.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/regenerate-critical-css-suggestion/regenerate-critical-css-suggestion.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/status/status.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/suggestion/suggestion.tsx
  projects/plugins/boost/app/assets/src/js/features/speed-score/speed-score.tsx
  projects/plugins/boost/app/assets/src/js/layout/settings-page/settings-page.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/standardize-error.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/types.ts
  projects/plugins/boost/app/assets/src/js/main.tsx
  projects/plugins/boost/app/assets/src/js/pages/critical-css-advanced/critical-css-advanced.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/lib/hooks.ts
  projects/plugins/boost/app/data-sync/Performance_History_Entry.php
  projects/plugins/boost/app/lib/critical-css/Critical_CSS_State.php
  projects/plugins/boost/app/lib/critical-css/Regenerate.php
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Regenerate_CSS.php
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Set_Provider_CSS.php
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Set_Provider_Error_Dismissed.php
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Set_Provider_Errors.php
  projects/plugins/boost/app/modules/image-size-analysis/data-sync/init.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/modules/optimizations/critical-css/Critical_CSS.php
  projects/plugins/boost/app/modules/optimizations/critical-css/Generator.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Insert.php
  projects/plugins/boost/app/rest-api/endpoints/Critical_CSS_Start.php
  projects/plugins/boost/changelog/boost-update-react-ccss-stores
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [Plugin] Boost, [Package] WP JS Data Sync, [Boost Feature] Optimizations, [Boost Feature] Image Size Analysis, [JS Package] React Data Sync Client

#34966 Subscriptions: Fix broken subscribe button in email
  projects/plugins/jetpack/changelog/fix-broken-subscribe-email-button
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack

#34980 Gardening: ensure board triage works regardless of capitalization
  projects/github-actions/repo-gardening/changelog/fix-auto-assignment-capitalization
  projects/github-actions/repo-gardening/src/tasks/update-board/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#34961 Jetpack Sync: Fix buffer_id sanitization in sync close endpoint
  projects/packages/sync/changelog/fix-buffer-sanitization-in-sync-close-endpoint
  projects/packages/sync/src/class-rest-endpoints.php
Labels: [Status] Needs Review, [Package] Sync

#34983 Like block: Update editor styles
  projects/plugins/jetpack/changelog/fix-like-block-editor-styles
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34974 Jetpack AI: Check for post id type and only include numbers
  projects/js-packages/ai-client/changelog/fix-jetpack-ai-post-id
  projects/js-packages/ai-client/src/suggestions-event-source/index.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] AI Client

#34982 Subscribe block: disabled email editing when logged in
  projects/plugins/jetpack/changelog/update-subscribe-block-disabled-when-loggedin
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#34989 Sync: synchronize block status option
  projects/packages/sync/changelog/add-blocks-option-sync
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-blocks-option-sync
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Sync, [Pri] Normal, [Focus] Blocks, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#34991 Sharing Block: be more defensive when fetching services
  projects/plugins/jetpack/changelog/fix-sharing-block-services
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
Labels: [Type] Bug, [Feature] Sharing, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Sharing Button

#35021 [Boost] Remove svelte-data-sync
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/features/TemplatedString.svelte
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/critical-css-errors.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state-types.ts
  projects/plugins/boost/app/assets/src/js/lib/api/api-error.ts
  projects/plugins/boost/app/assets/src/js/lib/api/api.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/data-sync-client.ts
  projects/plugins/boost/app/assets/src/js/lib/stores/modules.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/json-types.ts
  projects/plugins/boost/changelog/boost-remove-svelte-data-sycn
  projects/plugins/boost/package.json
  projects/plugins/boost/rollup-tsconfig.json
Labels: [Status] Needs Team Review, [Plugin] Boost

#35023 [Boost] Misc type fixes
  projects/plugins/boost/app/assets/src/js/features/critical-css/suggestion/suggestion.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/time-ago/time-ago.tsx
  projects/plugins/boost/app/assets/src/js/features/error-notice/error-notice.tsx
  projects/plugins/boost/app/assets/src/js/features/image-cdn/lib/stores.ts
  projects/plugins/boost/app/assets/src/js/features/image-cdn/quality-settings/quality-settings.tsx
  projects/plugins/boost/changelog/boost-fix-misc-type-errors
Labels: [Status] Needs Team Review, [Plugin] Boost

#35018 [Boost] Prevent refetch when Critical CSS module is off.
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state.ts
  projects/plugins/boost/changelog/boost-fix-critical-css-refetch
Labels: [Status] Needs Team Review, [Plugin] Boost

#35019 [Boost] Fix ISA Report error when none found
  projects/plugins/boost/app/assets/src/js/features/image-size-analysis/lib/stores/types.ts
  projects/plugins/boost/changelog/boost-fix-isa-type-error
Labels: [Status] Needs Team Review, [Plugin] Boost

#35022 [Boost] Clean up CSS Meta components
  projects/plugins/boost/app/assets/src/css/components/critical-css.scss
  projects/plugins/boost/app/assets/src/js/features/critical-css/cloud-css-meta/cloud-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-meta/critical-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/use-retry-regenerate.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/status/status.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/changelog/boost-cleanup-critical-css-meta
Labels: [Status] Needs Team Review, [Plugin] Boost

#35024 [Boost] Prevent Critical CSS status flashes
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Regenerate_CSS.php
  projects/plugins/boost/changelog/boost-fix-regen-repeat
Labels: [Status] Needs Team Review, [Plugin] Boost

#35027 Like block: style script enhancements
  projects/plugins/jetpack/changelog/fix-like-block-styles-script-enhacements
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
  projects/plugins/jetpack/extensions/blocks/like/tools/update-editor-styles.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#34998 Jetpack: Add a link to 5-star reviews on plugins page.
  projects/plugins/jetpack/changelog/add-jetpack-5-star-link-plugins-page
  projects/plugins/jetpack/class.jetpack.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack

#35037 Boost: Fix react warnings for critical css tooltip
  projects/plugins/boost/app/assets/src/js/pages/index/index.module.scss
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/changelog/fix-react-tooltip-warnings
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#34985 Super Cache: Fix Blurry Logo
  projects/plugins/super-cache/assets/automattic-airline.png
  projects/plugins/super-cache/assets/automattic-airline.svg
  projects/plugins/super-cache/changelog/fix-blurry-logo
  projects/plugins/super-cache/styling/dashboard.css
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Review, [Status] Needs Team Review, OSS Citizen, [Plugin] Super Cache

#35036 Boost: Add back transition for Super Cache notice
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/features/super-cache-info/super-cache-info.tsx
  projects/plugins/boost/changelog/add-transition-super-cache-notice
  projects/plugins/boost/package.json
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost

#34958 Related Posts: Get the related posts only when the option is turned on and the current post contains a Related Posts block
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-related-posts.php
  projects/plugins/jetpack/changelog/feat-lazy-load-related-posts
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/related-posts/hooks/use-related-posts.js
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Feature] Related Posts, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Related Posts

#34935 Block Theme Previews: show education modal when previewing theme
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/.eslintrc.js
  projects/packages/jetpack-mu-wpcom/babel.config.js
  projects/packages/jetpack-mu-wpcom/changelog/block-theme-previews-modal
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/block-theme-previews.php
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/index.js
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/modal.jsx
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/modal.scss
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/store.js
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/utils.js
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/live-preview-modal
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Block Theme Previews

#35028 Paid/Premium blocks: Fix cover block alignments on free sites
  projects/plugins/jetpack/changelog/fix-paid-blocks-upgrade-nudge-break-cover-block-free
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#35041 Jetpack_Upcoming_Events_Widget: Return early if no feed url set
  projects/plugins/jetpack/changelog/upcoming-events-widget-return-early
  projects/plugins/jetpack/modules/widgets/upcoming-events.php
Labels: [Feature] Extra Sidebar Widgets, [Status] Needs Review, [Plugin] Jetpack, Reviewer Can Merge

#35060 Jetpack Debug: Update Sync related debugging info
  projects/plugins/jetpack/_inc/lib/debugger.php
  projects/plugins/jetpack/_inc/lib/debugger/class-jetpack-cxn-tests.php
  projects/plugins/jetpack/_inc/lib/debugger/debug-functions.php
  projects/plugins/jetpack/_inc/lib/debugger/jetpack-debugger-site-health.css
  projects/plugins/jetpack/_inc/lib/debugger/jetpack-debugger-site-health.js
  projects/plugins/jetpack/changelog/update-sync-debug-info
  tools/eslint-excludelist.json
Labels: [Status] Needs Review, [Plugin] Jetpack

#34889 Launchpad: Enable to temporary dismiss a dismissible launchpad
  projects/packages/jetpack-mu-wpcom/changelog/Enable to temporary dismiss an launchpad
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/class-launchpad-task-lists-test.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad-test.php
  projects/plugins/mu-wpcom-plugin/changelog/add-temporary-dismiss-to-launchpad
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints

#35032 Super Cache: If rebuild is enabled it should be applied to sub-directory files too
  projects/plugins/super-cache/changelog/fix-rebuild_cache_subdirectory
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Status] Needs Author Reply, [Plugin] Super Cache

#34950 Jetpack: Use Blog ID in links to WPCOM instead of site slug
  projects/js-packages/components/changelog/update-jetpack-wpcom-links-blog-id
  projects/js-packages/components/package.json
  projects/js-packages/components/tools/jp-redirect/README.md
  projects/js-packages/components/tools/jp-redirect/index.ts
  projects/js-packages/components/tools/jp-redirect/types.ts
  projects/packages/connection/changelog/update-jetpack-wpcom-links-blog-id
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/plugins/jetpack/_inc/client/components/navigation/index.jsx
  projects/plugins/jetpack/_inc/client/earn/index.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/my-plan/index.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/newsletter/index.jsx
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/_inc/client/recommendations/hoc/with-upgrade-url.jsx
  projects/plugins/jetpack/_inc/client/recommendations/utils/generate-checkout-link.js
  projects/plugins/jetpack/_inc/client/security/index.jsx
  projects/plugins/jetpack/_inc/client/security/monitor.jsx
  projects/plugins/jetpack/_inc/client/settings/index.jsx
  projects/plugins/jetpack/_inc/client/sharing/index.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/_inc/client/sharing/share-buttons.jsx
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/update-jetpack-wpcom-links-blog-id
  projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php
  projects/plugins/jetpack/modules/subscriptions.php
Labels: Docs, [Status] Ready to Merge, Admin Page, IDC, [Feature] Masterbar, [Package] Connection, [Plugin] Jetpack, RNA, [JS Package] Components

#35065 Likes: Flip likers popup when it overflows the edge of the viewport.
  projects/plugins/jetpack/changelog/add-flip-likers-popup-when-overflow
  projects/plugins/jetpack/modules/likes/queuehandler.js
Labels: [Feature] Likes, [Status] Needs Author Reply, [Plugin] Jetpack

#35072 Like block: Change the way the "other likers" list is built
  projects/plugins/jetpack/changelog/update-likes-queuehandler
  projects/plugins/jetpack/modules/likes/queuehandler.js
Labels: [Feature] Likes, [Status] Needs Author Reply, [Plugin] Jetpack

#35039 Draft: Likes block - iframe/scripts logic
  projects/plugins/jetpack/changelog/fix-like-block-looser-legacy-check
  projects/plugins/jetpack/extensions/blocks/like/like.php
Labels: [Status] Needs Author Reply, DO NOT MERGE, [Plugin] Jetpack, [Block] Like

#35020 Backup: Use Blog ID in links to WPCOM instead of site slug
  projects/packages/backup/changelog/update-backup-wpcom-links-blog-id
  projects/packages/backup/composer.json
  projects/packages/backup/src/class-package-version.php
  projects/packages/backup/src/js/components/Admin/no-backup-capabilities.js
  projects/packages/backup/src/js/components/Backups.js
  projects/packages/backup/src/js/selectors/site-data.js
  projects/packages/backup/src/js/selectors/test/site-data.js
  projects/plugins/backup/changelog/update-backup-wpcom-links-blog-id
  projects/plugins/backup/composer.lock
  projects/plugins/jetpack/changelog/update-backup-wpcom-links-blog-id
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-backup-wpcom-links-blog-id
  projects/plugins/migration/composer.lock
Labels: [Status] Ready to Merge, IDC, [Plugin] Jetpack, [Package] Backup, [Plugin] Backup, [Plugin] Migration, [Tests] Includes Tests

#34925 Related Posts: fix accessibility issues
  projects/plugins/jetpack/changelog/fix-related-post-accessibility
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/related-posts/related-posts.css
Labels: [Feature] Related Posts, [Focus] Accessibility, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Related Posts

#34976 My Jetpack: Use Blog ID in links to WPCOM instead of site slug
  projects/js-packages/connection/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/js-packages/connection/hooks/use-product-checkout-workflow/index.jsx
  projects/js-packages/connection/package.json
  projects/packages/connection/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-package-version.php
  projects/packages/my-jetpack/_inc/components/plans-section/stories/mock-data.js
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-table/index.jsx
  projects/packages/my-jetpack/_inc/utils/get-manage-your-plan-url.js
  projects/packages/my-jetpack/_inc/utils/get-purchase-plan-url.js
  projects/packages/my-jetpack/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-activitylog.php
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-jetpack-manage.php
  projects/packages/my-jetpack/src/products/class-backup.php
  projects/packages/my-jetpack/src/products/class-scan.php
  projects/plugins/backup/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-my-jetpack-wpcom-links-blog-id
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, IDC, [Package] Connection, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] Inspect

#35073 Jetpack: Backport never-Fusioned content-options changes from wpcom
  projects/plugins/jetpack/changelog/fix-jetpack-content-options-never-fusioned-changes-from-wpcom
  projects/plugins/jetpack/changelog/fix-jetpack-content-options-never-fusioned-changes-from-wpcom#2
  projects/plugins/jetpack/modules/theme-tools/content-options.php
  projects/plugins/jetpack/modules/theme-tools/content-options/author-bio.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images-fallback.php
Labels: [Type] Enhancement, [Feature] Theme Tools, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#35067 TamperMonkey : Add JN on Atomic link to facilitate testing.
  tools/jetpack-live-branches/jetpack-live-branches.user.js
Labels: [Status] Needs Author Reply

#34843 Add/catch duplicated comment error
  projects/plugins/jetpack/changelog/add-catch-duplicated-comment-error
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Feature] Comments, [Status] Needs Team Review, [Plugin] Jetpack

#34753 IDC: add ip_requester option
  projects/packages/connection/changelog/add-ip-requester-option
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/packages/identity-crisis/changelog/add-ip-requester-option
  projects/packages/identity-crisis/composer.json
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/identity-crisis/tests/php/test-identity-crisis.php
  projects/plugins/backup/changelog/add-ip-requester-option
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-ip-requester-option
  projects/plugins/boost/changelog/add-ip-requester-option#2
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/add-ip-requester-option
  projects/plugins/jetpack/changelog/add-ip-requester-option
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-ip-requester-option
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-ip-requester-option
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-ip-requester-option
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-ip-requester-option
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-ip-requester-option
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-ip-requester-option
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Package] Connection, [Plugin] Jetpack, [Package] Identity Crisis, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests, [Plugin] Inspect

#35061 Boost: Fix critical CSS auto activation
  projects/plugins/boost/app/assets/src/js/pages/getting-started/getting-started.tsx
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/changelog/fix-module-auto-activation
Labels: [Status] Needs Team Review, [Plugin] Boost

#34981 Subscriptions: Add Subscriber Login block
  projects/plugins/jetpack/changelog/add-subscriber-login-block
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-abstract-token-subscription-service.php
  projects/plugins/jetpack/extensions/blocks/subscriber-login/block.json
  projects/plugins/jetpack/extensions/blocks/subscriber-login/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriber-login/editor.js
  projects/plugins/jetpack/extensions/blocks/subscriber-login/editor.scss
  projects/plugins/jetpack/extensions/blocks/subscriber-login/subscriber-login.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] In Progress, [Block] Paid Content, [Plugin] Jetpack, [Block] Subscriber Login

#35082 [Boost] Fix Modules e2e test
  projects/js-packages/react-data-sync-client/changelog/boost-fix-e2e-tests
  projects/js-packages/react-data-sync-client/src/DataSyncHooks.ts
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] React Data Sync Client

#34544 Social: Use core endpoint for dismissing notices
  projects/js-packages/publicize-components/changelog/refactor-social-dismissed-notices-endpoint
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/hooks/use-dismiss-notice/index.js
  projects/packages/publicize/changelog/refactor-social-dismissed-notices-endpoint
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/src/jetpack-social-settings/class-dismissed-notices.php
  projects/packages/publicize/tests/php/jetpack-social-settings/test-dismissed-notices.php
  projects/plugins/jetpack/changelog/refactor-social-dismissed-notices-endpoint
  projects/plugins/jetpack/changelog/refactor-social-dismissed-notices-endpoint#2
  projects/plugins/jetpack/changelog/refactor-social-dismissed-notices-endpoint#3
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/refactor-social-dismissed-notices-endpoint
  projects/plugins/social/changelog/refactor-social-dismissed-notices-endpoint#2
  projects/plugins/social/changelog/refactor-social-dismissed-notices-endpoint#3
  projects/plugins/social/composer.lock
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#35081 Dotcom patterns: allow testing assembler v2 patterns in editor when Assembler theme is active
  projects/packages/jetpack-mu-wpcom/changelog/add-register-dotcom-v2-patterns
  projects/packages/jetpack-mu-wpcom/src/features/block-patterns/class-wpcom-block-patterns-from-api.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/block-patterns/class-wpcom-block-patterns-from-api-test.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Block Patterns

#35084 Newsletter launchpad: move email verify task above subscriber task
  projects/packages/jetpack-mu-wpcom/changelog/update-newsletter-launchpad-subscriber-task-order
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#35069 Boost: Add animation to critical css show stopper element
  projects/plugins/boost/app/assets/src/js/features/critical-css/folding-element/folding-element.tsx
  projects/plugins/boost/changelog/add-transition-critical-css-show-stopper
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#34995 Updating the doc parser to give best results in exporting docs.
  tools/cli/helpers/doc-parser/runner.php
Labels: [Status] In Progress, [Tools] Development CLI

#34924 cli: Pass only needed dirs to chokidar for rsync --watch
  tools/cli/commands/rsync.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Status] Proposal, [Pri] Normal, [Tools] Development CLI

#34909 CLI: add '--watch' option to jetpack rsync command
  pnpm-lock.yaml
  tools/cli/commands/rsync.js
  tools/cli/package.json
Labels: [Type] Enhancement, [Status] In Progress, [Pri] Normal, [Tools] Development CLI

#35071 Plans: support creator plans in our plan checks
  projects/packages/plans/changelog/update-plans-creator
  projects/packages/plans/package.json
  projects/packages/plans/src/class-current-plan.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, Plans, [Status] Needs Team Review, [Package] Plans
