Repository Automattic/jetpack, pull requests merged in 2024-06, with the labels that each got.

#37656 Replace "Site visibility" with a link to Calypso
  projects/packages/jetpack-mu-wpcom/changelog/fix-site-visibility-condition
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/replace-site-visibility/replace-site-visibility.php
Labels: [Status] In Progress, Docs, [Package] Identity Crisis, [Package] Action Bar, [Package] Jetpack mu wpcom, [mu wpcom Feature] Replace Site Visibility

#37644 Social: Update editor nudges for V1 plan
  projects/js-packages/publicize-components/changelog/update-social-editor-notes-v1-plan
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/share-count-info.tsx
  projects/plugins/jetpack/changelog/update-social-editor-notes-v1-plan
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/social/changelog/update-social-editor-notes-v1-plan
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#37663 SSO: Remove tabindex on tooltip modal
  projects/packages/connection/changelog/fix-sso-tooltip_tweaks_on_user_page
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/sso/class-user-admin.php
Labels: [Feature] SSO, [Focus] Accessibility, [Status] Needs Review, [Package] Connection

#37682 Social: Update the Classic Editor nudge
  projects/packages/publicize/changelog/update-social-classic-editor-nudge
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-share-limits.php
  projects/plugins/jetpack/changelog/update-social-classic-editor-nudge
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/update-social-classic-editor-nudge
  projects/plugins/social/composer.lock
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#37685 Revert "Social: Update the Classic Editor nudge"
  projects/packages/publicize/changelog/update-social-classic-editor-nudge
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-share-limits.php
  projects/plugins/jetpack/changelog/update-social-classic-editor-nudge
  projects/plugins/jetpack/composer.lock
  projects/plugins/social/changelog/update-social-classic-editor-nudge
  projects/plugins/social/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social, [Type] Revert

#37687 Fix publicize package version
  projects/packages/publicize/changelog/fix-publicize-package-version
  projects/packages/publicize/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, [Package] Publicize

#37668 AI Featured Image: support backend prompts
  projects/js-packages/ai-client/changelog/update-ai-featured-image-support-backend-prompts
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/hooks/use-image-generator/index.ts
  projects/plugins/jetpack/changelog/update-ai-featured-image-support-backend-prompts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client, [Extension] AI Assistant Plugin

#37607 assets: Fix Phan issues
  projects/packages/assets/.phan/baseline.php
  projects/packages/assets/changelog/fix-phan-issues-in-assets
  projects/packages/assets/src/class-assets.php
  projects/packages/assets/src/class-semver.php
  projects/packages/assets/tests/php/test-assets.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Assets, [Tests] Includes Tests

#37678 Jetpack | Update recommendations section links for Social
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/update-jetpack-recommendations-for-social
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#37673 Jetpack Cloud Simple > Monetize: Fix the link for "Set up an offer for your supporters"
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-monetize-payments
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#37618 Super Cache: remove the minimum preload interval based on post count
  projects/plugins/super-cache/changelog/update-super-cache-remove-min-post-count-preload
  projects/plugins/super-cache/partials/preload.php
  projects/plugins/super-cache/wp-cache.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Super Cache

#37683 Slideshow block: Remove duplicate class names to allow proper block selection
  projects/packages/publicize/changelog/fix-slideshow-block-selection
  projects/plugins/jetpack/changelog/fix-slideshow-block-selection
  projects/plugins/jetpack/extensions/blocks/slideshow/edit.js
  projects/plugins/jetpack/extensions/blocks/slideshow/style.scss
Labels: [Status] Needs Review, [Block] Slideshow, [Status] Needs Cherry-Pick, [Plugin] Jetpack, [Package] Publicize

#37672 contact form: fix/notice id not present on submit
  projects/packages/forms/changelog/fix-notice-id-not-present-on-submit
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Package] Forms

#37677 Classic theme helper: Add dist folder to gitattributes
  projects/packages/classic-theme-helper/.gitattributes
  projects/packages/classic-theme-helper/.gitignore
  projects/packages/classic-theme-helper/changelog/update-classic-theme-helper-change-build-folder-to-dist
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-classic-theme-helper.php
  projects/packages/classic-theme-helper/src/class-featured-content.php
  projects/packages/classic-theme-helper/src/responsive-videos.php
  projects/packages/classic-theme-helper/webpack.config.js
Labels: [Feature] Theme Tools, [Status] In Progress, [Package] Classic Theme Helper

#37686 Sidebar menu: Register "plugin install" route on sites with the default interface
  projects/packages/jetpack-mu-wpcom/changelog/update-plugins-menu
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/masterbar/changelog/update-plugins-menu
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/jetpack/changelog/update-phan-wpcom-stubs
  projects/plugins/jetpack/changelog/update-plugins-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-wpcom-admin-menu.php
  projects/plugins/mu-wpcom-plugin/changelog/update-plugins-menu
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Masterbar, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [Package] Masterbar

#37609 Random Redirect: add deprecation warning
  projects/plugins/jetpack/changelog/update-move-random-redirect
  projects/plugins/jetpack/modules/theme-tools/random-redirect.php
Labels: [Feature] Theme Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize

#37605 Comics CPT: add deprecation warning
  projects/plugins/jetpack/changelog/update-deprecate-comic-cpt
  projects/plugins/jetpack/modules/custom-post-types/comics.php
Labels: [Feature] Custom Content Types, [Status] Needs Team Review, [Plugin] Jetpack

#37697 Social | Update the "Connect accounts" button on Social admin page
  projects/plugins/social/changelog/update-fix-connect-accounts-button-on-social-admin-page
  projects/plugins/social/src/js/components/header/index.js
Labels: [Status] Needs Team Review, [Plugin] Social

#37689 External Media: Ensure the correct connect URL is used.
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/changelog/fix-external-media-connect-url
Labels: [Type] Bug, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack

#37703 Social: Fix external media endpoint return value
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-external-media.php
  projects/plugins/jetpack/changelog/fix-external-media-endpoint-return-value
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Jetpack

#37690 Jetpack 13.5: Clean up changelog
  projects/plugins/jetpack/CHANGELOG.md
Labels: Docs, [Status] Needs Review, [Plugin] Jetpack

#37705 Backport sync v3.0.2
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-default_theme_support_whitelist
  projects/packages/sync/src/class-package-version.php
Labels: [Status] Needs Author Reply, Docs, [Package] Sync

#37661 Payments Block: localize block variations
  projects/plugins/jetpack/changelog/fix-payments-block-l10n
  projects/plugins/jetpack/extensions/blocks/payments-intro/block-picker.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Payments Intro

#37700 Boost: Skip .min files from minification
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/changelog/update-skip-dotmin-files
Labels: [Status] Needs Team Review, [Plugin] Boost

#37714 tools: Don't try to close nonexistent req in await-packagist-updates
  tools/js-tools/await-packagist-updates.mjs
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#37453 Calypsoify: Add deprecations within Calypsoify file
  projects/packages/calypsoify/changelog/update-deprecate-calypsoify-functions
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-deprecate-calypsoify-functions
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
Labels: [Feature] Calypsoify, [Plugin] Jetpack, [Package] Calypsoify

#37718 cli: For `jetpack release version`, only init next cycle when asked to
  tools/cli/commands/release.js
  tools/release-plugin.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#37667 Update/purchase plan url if site is not connected
  projects/packages/my-jetpack/_inc/constants.ts
  projects/packages/my-jetpack/_inc/utils/get-purchase-plan-url.ts
  projects/packages/my-jetpack/changelog/update-purchase-plan-url-if-site-is-not-connected
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#37712 Site Management Panel: Update Dev tools to match Overview tabs
  projects/packages/jetpack-mu-wpcom/changelog/update-site-management-widget-links
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Management Widget

#37704 ci: In post-build job, use `wp db import/export`
  .github/files/test-plugin-update/setup.sh
  .github/files/test-plugin-update/test.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Actions

#37658 Boost: Update critical css errors UI
  projects/plugins/boost/app/assets/src/js/features/critical-css/error-description/error-description.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/folding-element/folding-element.module.scss
  projects/plugins/boost/app/assets/src/js/features/critical-css/folding-element/folding-element.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/generate-critical-css.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/numbered-list/numbered-list.module.scss
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/format-error-set-urls.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/get-critical-css-error-set-interpolate-vars.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/get-support-link-critical-css.ts
  projects/plugins/boost/app/assets/src/js/pages/critical-css-advanced/critical-css-advanced.module.scss
  projects/plugins/boost/app/assets/src/js/svg/chevron-up.tsx
  projects/plugins/boost/changelog/update-critical-css-error-ui
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#37731 Social: Move the admin upsell
  projects/plugins/social/changelog/change-social-admin-page-upsell
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/header/styles.module.scss
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
  projects/plugins/social/src/js/components/social-module-toggle/styles.module.scss
  projects/plugins/social/src/js/components/types/types.ts
Labels: [Status] Needs Team Review, [Plugin] Social

#37730 Social | Add optimistic connection data when adding one
  projects/js-packages/publicize-components/changelog/update-social-add-optimistic-connection-data-when-adding-one
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/connection-management/connection-name.tsx
  projects/js-packages/publicize-components/src/components/connection-management/style.module.scss
  projects/js-packages/publicize-components/src/components/connection-management/tests/specs/index.test.js
  projects/js-packages/publicize-components/src/components/manage-connections-modal/confirmation-form/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/tests/confirmation-form.test.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#37676 Jetpack plugin: Require and use jetpack-masterbar package
  projects/packages/masterbar/changelog/update-use-masterbar-pkg-in-jetpack-plugin
  projects/packages/masterbar/src/admin-menu/admin-menu-nav-unification.css
  projects/packages/masterbar/src/admin-menu/class-base-admin-menu.php
  projects/packages/masterbar/src/masterbar/overrides.css
  projects/packages/masterbar/src/profile-edit/profile-edit.php
  projects/packages/masterbar/src/wp-posts-list/bootstrap.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/update-use-masterbar-pkg-in-jetpack-plugin
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/masterbar.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Package] Masterbar

#37740 Revert/sync locale
  projects/packages/jetpack-mu-wpcom/changelog/revert-sync_wp_admin_locale_to_calypso
  projects/packages/jetpack-mu-wpcom/src/features/calypso-locale-sync/sync-wp-admin-to-calypso.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Type] Revert, [mu wpcom Feature] Calypso Locale Sync

#37537 Add mechanism to track previously working plugins
  projects/packages/connection/changelog/add-mechanism-to-track-previously-working-plugins
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-package-version.php
  projects/packages/my-jetpack/changelog/add-mechanism-to-track-previously-working-plugins
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Ready to Merge, [Package] Connection, [Package] My Jetpack

#37721 Jetpack AI: expose upgrade URL on ai-assistant-feature endpoint
  .phan/stubs/wpcom-stubs.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/update-jetpack-ai-expose-upgrade-url-on-feature-endpoint
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#37741 Backport mu-wpcom-plugin 2.1.30 Changes
  projects/packages/calypsoify/CHANGELOG.md
  projects/packages/calypsoify/changelog/renovate-wordpress-monorepo
  projects/packages/calypsoify/changelog/update-deprecate-calypsoify-functions
  projects/packages/calypsoify/package.json
  projects/packages/calypsoify/src/class-jetpack-calypsoify.php
  projects/packages/classic-theme-helper/CHANGELOG.md
  projects/packages/classic-theme-helper/changelog/renovate-glob-10.x
  projects/packages/classic-theme-helper/changelog/renovate-wordpress-monorepo
  projects/packages/classic-theme-helper/changelog/update-classic-theme-helper-change-build-folder-to-dist
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-classic-theme-helper.php
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/add-mechanism-to-track-previously-working-plugins
  projects/packages/connection/src/class-package-version.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-monetize-payments
  projects/packages/jetpack-mu-wpcom/changelog/fix-site-management-link
  projects/packages/jetpack-mu-wpcom/changelog/renovate-wordpress-monorepo
  projects/packages/jetpack-mu-wpcom/changelog/revert-sync_wp_admin_locale_to_calypso
  projects/packages/jetpack-mu-wpcom/changelog/update-plugins-menu
  projects/packages/jetpack-mu-wpcom/changelog/update-site-management-widget-links
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/update-plugins-menu
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Feature] Theme Tools, Docs, [Status] Needs Review, [Feature] Calypsoify, [Package] Connection, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] Classic Theme Helper, [Package] Calypsoify

#37655 ExPlat: introduce empty JS package
  pnpm-lock.yaml
  projects/js-packages/explat/.gitattributes
  projects/js-packages/explat/.gitignore
  projects/js-packages/explat/CHANGELOG.md
  projects/js-packages/explat/README.md
  projects/js-packages/explat/changelog/.gitkeep
  projects/js-packages/explat/changelog/initial-version
  projects/js-packages/explat/composer.json
  projects/js-packages/explat/package.json
  projects/js-packages/explat/src/index.ts
  projects/js-packages/explat/tests/index.test.js
  projects/js-packages/explat/tsconfig.json
Labels: Docs, [Status] Needs Review, RNA, [JS Package] Explat, [Tests] Includes Tests

#37720 Update to pnpm v9
  .github/versions.sh
  .pnpmfile.cjs
  package.json
  pnpm-lock.yaml
  tools/cli/commands/generate.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI

#37724 Jetpack Scan Visibility i1 : Show jetpack scan menu item on Atomic sites that defaults to wp-admin view
  projects/plugins/jetpack/changelog/update-show-scan-history-on-atomic-sites
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Feature] Scan, Jetpack Scan Visibility i1

#37732 Jetpack-mu-wpcom: Show Hosting > Overview
  projects/packages/jetpack-mu-wpcom/changelog/move-hosting-drawer-to-mu-wpcom
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/plugins/mu-wpcom-plugin/changelog/move-hosting-drawer-to-mu-wpcom
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [mu wpcom Feature] Wpcom Admin Interface

#37693 Jetpack | Fix recommendations CTA being marked as external
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/changelog/fix-jetpack-recommendation-cta-link
Labels: [Status] In Progress, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#37734 Social: Clean up the creating connection spinner for confirm button
  projects/js-packages/publicize-components/changelog/update-clean-up-creating-connection-spinner-logic
  projects/js-packages/publicize-components/src/components/manage-connections-modal/confirmation-form/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/tests/confirmation-form.test.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
  projects/js-packages/publicize-components/src/social-store/actions/constants.ts
  projects/js-packages/publicize-components/src/social-store/reducer/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#37260 Classic Theme Helper: featured content usage from module to package
  projects/packages/classic-theme-helper/.phan/baseline.php
  projects/packages/classic-theme-helper/changelog/update-move-featured-content-usage-from-module-to-package
  projects/packages/classic-theme-helper/composer.json
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-featured-content.php
  projects/packages/classic-theme-helper/src/class-main.php
  projects/plugins/classic-theme-helper-plugin/changelog/update-move-featured-content-usage-from-module-to-package
  projects/plugins/classic-theme-helper-plugin/changelog/update-move-featured-content-usage-from-module-to-package#2
  projects/plugins/classic-theme-helper-plugin/changelog/update-move-featured-content-usage-from-module-to-package#3
  projects/plugins/classic-theme-helper-plugin/changelog/update-move-featured-content-usage-from-module-to-package#4
  projects/plugins/classic-theme-helper-plugin/composer.lock
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package#2
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package#3
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package#4
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package#5
  projects/plugins/jetpack/changelog/update-move-featured-content-usage-from-module-to-package#6
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
  projects/plugins/mu-wpcom-plugin/changelog/update-move-featured-content-usage-from-module-to-package
  projects/plugins/mu-wpcom-plugin/changelog/update-move-featured-content-usage-from-module-to-package#2
  projects/plugins/mu-wpcom-plugin/changelog/update-move-featured-content-usage-from-module-to-package#3
  projects/plugins/mu-wpcom-plugin/changelog/update-move-featured-content-usage-from-module-to-package#4
  projects/plugins/mu-wpcom-plugin/composer.lock
Labels: [Feature] Theme Tools, [Status] Needs Review, [Plugin] Jetpack, [Plugin] mu wpcom, [Focus] Jetstream, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin

#37758 AI Forms: Fix check for inline extensions availability
  projects/plugins/jetpack/changelog/fix-jetpack-old-form-availability
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#37753 AI Inline Extensions: Fix scrolling down while typing
  projects/plugins/jetpack/changelog/fix-scroll-on-type-inline-extensions
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-auto-scroll/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#37751 Add site onboarding segment
  projects/plugins/jetpack/changelog/add-site-onboarding-segment
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Feature] WPCOM API, [Status] In Progress, [Plugin] Jetpack

#37754 AI Inline Extensions: Move form to production
  projects/plugins/jetpack/changelog/update-ai-forms-inline-prod
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#37748 Update/location of product statuses
  projects/packages/my-jetpack/_inc/components/connected-product-card/stories/broken/index.stories.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/action-button.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/status.jsx
  projects/packages/my-jetpack/_inc/components/product-card/stories/broken/index.stories.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/ai-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/boost-speed-score.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/index.tsx
  projects/packages/my-jetpack/_inc/components/stats-section/index.jsx
  projects/packages/my-jetpack/_inc/constants.ts
  projects/packages/my-jetpack/_inc/data/utils/get-product-slugs-that-require-user-connection.ts
  projects/packages/my-jetpack/changelog/update-location-of-product-statuses
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#37527 Memberships: Fix mixed membership products
  projects/plugins/jetpack/changelog/fix-mixed-membership-products
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/access-check.php
Labels: [Status] Needs Team Review, [Block] Paid Content, [Plugin] Jetpack

#37755 Jetpack Connection: Add stricter check before updating 'jetpack_connection_active_plugins' option
  projects/packages/connection/changelog/fix-connected-active-plugins-explicit-check
  projects/packages/connection/src/class-plugin-storage.php
  projects/packages/connection/tests/php/test_plugin_storage.php
Labels: [Status] Needs Review, [Package] Connection, [Tests] Includes Tests

#37771 Boost: Add try again link for 404 errors
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/describe-critical-css-recommendations.ts
  projects/plugins/boost/changelog/add-try-again
Labels: [Status] Needs Team Review, [Plugin] Boost

#37643 Boost: remove wp-content/advanced-cache.php when Cache module is disabled
  projects/plugins/boost/app/modules/optimizations/page-cache/Page_Cache.php
  projects/plugins/boost/changelog/update-boost-page_cache_del_loader
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Page Cache

#37773 Boost: Prepare for next release
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-ccss-missing-urls
  projects/plugins/boost/changelog/fix-woocommerce-8.9-compat
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#37774 Jetpack mu wpcom package: Fix typo in set cookie
  projects/packages/jetpack-mu-wpcom/.phan/baseline.php
  projects/packages/jetpack-mu-wpcom/changelog/fix-rename-typo-in-set-cookie
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] WordPress.com Block Editor

#37761 Admin menu: add link to Customizer in sites with block-based theme an…
  projects/plugins/jetpack/changelog/fix-custom-css-block-based-themes
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#37735 Boost: Remove woocommerce script exclusion from minify JS
  projects/plugins/boost/changelog/remove-woo-compat
  projects/plugins/boost/compatibility/woocommerce.php
Labels: [Status] Needs Team Review, [Focus] Compatibility, [Plugin] Boost

#37775 Backport boost 3.4.0 Changes
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/add-jetpack-development-mode
  projects/js-packages/idc/package.json
  projects/js-packages/react-data-sync-client/CHANGELOG.md
  projects/js-packages/react-data-sync-client/changelog/renovate-react-monorepo
  projects/js-packages/react-data-sync-client/package.json
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/add-jetpack-development-mode
  projects/packages/connection/changelog/fix-connected-active-plugins-explicit-check
  projects/packages/connection/src/class-package-version.php
  projects/packages/connection/src/sso/class-notices.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/add-mechanism-to-track-previously-working-plugins
  projects/packages/my-jetpack/changelog/update-location-of-product-statuses
  projects/packages/my-jetpack/changelog/update-purchase-plan-url-if-site-is-not-connected
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/status/CHANGELOG.md
  projects/packages/status/changelog/add-jetpack-development-mode
  projects/packages/status/src/class-status.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/add-jetpack-development-mode
  projects/packages/sync/src/class-package-version.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-boost-cache-rebuild
  projects/plugins/boost/changelog/add-css-gen-library-check
  projects/plugins/boost/changelog/add-jetpack-development-mode
  projects/plugins/boost/changelog/add-jetpack-development-mode#2
  projects/plugins/boost/changelog/add-jetpack-development-mode#3
  projects/plugins/boost/changelog/add-jetpack-development-mode#4
  projects/plugins/boost/changelog/add-jetpack-development-mode#5
  projects/plugins/boost/changelog/add-phan-plugin-refs
  projects/plugins/boost/changelog/add-switch-to-boost-cache
  projects/plugins/boost/changelog/add-try-again
  projects/plugins/boost/changelog/delete-idc-dependency-from-packages
  projects/plugins/boost/changelog/fix-image-autofixer-warning
  projects/plugins/boost/changelog/remove-deprecate-errors-class
  projects/plugins/boost/changelog/remove-woo-compat
  projects/plugins/boost/changelog/renovate-lock-file-maintenance
  projects/plugins/boost/changelog/renovate-react-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo#2
  projects/plugins/boost/changelog/update-boost-filter-docs
  projects/plugins/boost/changelog/update-boost-page_cache_del_loader
  projects/plugins/boost/changelog/update-cleanup-critical-css-errors-code
  projects/plugins/boost/changelog/update-collecting-source-providers
  projects/plugins/boost/changelog/update-critical-css-error-ui
  projects/plugins/boost/changelog/update-escape-echoed-variables
  projects/plugins/boost/changelog/update-idc-to-connection
  projects/plugins/boost/changelog/update-invite-user-error-response-logging
  projects/plugins/boost/changelog/update-my-jetpack-status-handling
  projects/plugins/boost/changelog/update-plugin-installer-extraction
  projects/plugins/boost/changelog/update-remove-identity-crisis-deprecated-code
  projects/plugins/boost/changelog/update-remove-redundant-sync-action
  projects/plugins/boost/changelog/update-skip-dotmin-files
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Feature] SSO, Docs, [Package] Sync, [Package] Status, [Status] Needs Team Review, [Package] Connection, RNA, [Plugin] Boost, [JS Package] IDC, [Package] My Jetpack, [JS Package] React Data Sync Client

#37717 Jetpack: Update stable version in readme to 13.5
  projects/plugins/jetpack/changelog/fix-jetpack-update_stable_version_to_13.5
  projects/plugins/jetpack/readme.txt
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack

#37763 AI Plugin: Add placement tracking info at Proofread feature
  projects/plugins/jetpack/changelog/add-ai-proofread-placement
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/proofread/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#37707 Update/conditionally hide connection banner
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/context/notices/types.ts
  projects/packages/my-jetpack/_inc/data/utils/get-product-slugs-that-require-user-connection.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-bad-install-notice.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-connection-errors-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.tsx
  projects/packages/my-jetpack/changelog/update-conditionally-render-connection-banner
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/products/class-module-product.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-stats.php
Labels: [Status] Needs Author Reply, [Package] Connection, [Package] My Jetpack

#37780 Update to pnpm 9.3.0
  .github/versions.sh
  package.json
  pnpm-lock.yaml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#37738 Boost: Add tracking event when expanding show stopper "learn more" section
  projects/plugins/boost/app/assets/src/js/features/critical-css/folding-element/folding-element.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/changelog/track-show-stopper-expand
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Cloud CSS

#37785 Fix PHP Unit tests run using WP trunk
  projects/plugins/jetpack/changelog/fix-php-unit-tests-for-wp-trunk
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
Labels: [Status] Needs Review, [Plugin] Jetpack, [Tests] Includes Tests

#37756 Social: Use global state for connections modal
  projects/js-packages/publicize-components/changelog/update-use-global-state-for-connections-modal
  projects/js-packages/publicize-components/src/components/connection-management/connection-info.tsx
  projects/js-packages/publicize-components/src/components/connection-management/connection-status.tsx
  projects/js-packages/publicize-components/src/components/connection-management/index.tsx
  projects/js-packages/publicize-components/src/components/connection-management/reconnect.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/tests/index.test.js
  projects/js-packages/publicize-components/src/components/services/connect-form.tsx
  projects/js-packages/publicize-components/src/components/settings-button/index.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
  projects/js-packages/publicize-components/src/social-store/actions/constants.ts
  projects/js-packages/publicize-components/src/social-store/reducer/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/plugins/social/changelog/update-use-global-state-for-connections-modal
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
Labels: [Status] Needs Team Review, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#37787 Boost: Add tracking to retry and fix css regen notice showing with show stopper
  projects/plugins/boost/app/assets/src/js/features/critical-css/cloud-css-meta/cloud-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-meta/critical-css-meta.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/status/status.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/get-critical-css-error-set-interpolate-vars.tsx
  projects/plugins/boost/changelog/update-boost-tracking-and-regen-prompt-fix
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Critical CSS

#37788 Photon: avoid PHP deprecation warnings with bad URLs
  projects/packages/image-cdn/changelog/fix-photon-warning-37783
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/src/class-image-cdn.php
Labels: [Type] Bug, [Feature] Photon, [Status] Needs Review, [Pri] Normal, [Status] Needs Team Review, [Package] Image CDN, [Boost Feature] Image CDN

#37793 Backport boost 3.4.1-beta Changes
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-storybook-monorepo
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-storybook-monorepo
  projects/js-packages/connection/package.json
  projects/packages/image-cdn/CHANGELOG.md
  projects/packages/image-cdn/changelog/fix-photon-warning-37783
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/renovate-storybook-monorepo
  projects/packages/my-jetpack/changelog/update-conditionally-render-connection-banner
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-boost-tracking-to-wpsc
  projects/plugins/boost/changelog/fix-37695-classnames_to_clsx
  projects/plugins/boost/changelog/fix-37695-classnames_to_clsx#2
  projects/plugins/boost/changelog/renovate-lock-file-maintenance
  projects/plugins/boost/changelog/renovate-playwright-monorepo
  projects/plugins/boost/changelog/renovate-playwright-monorepo#2
  projects/plugins/boost/changelog/renovate-storybook-monorepo
  projects/plugins/boost/changelog/track-show-stopper-expand
  projects/plugins/boost/changelog/update-boost-tracking-and-regen-prompt-fix
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Feature] Photon, Docs, [Status] Needs Review, RNA, [JS Package] Connection, [JS Package] Components, [Plugin] Boost, [Package] My Jetpack, [Package] Image CDN

#37749 Jetpack AI Image: Register ai-general-purpose-image-generator beta extension
  projects/plugins/jetpack/changelog/update-create-general-purpose-image-beta-flag
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#37789 Move Verbum comments from `classnames` to `clsx`
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/changelog/move-verbum-to-clsx
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/SimpleSubscribeModal/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/comment-footer.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/comment-input-field.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/comment-message.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/editor-placeholder.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/logged-in.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/logged-out.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/settings-button.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/utils.ts
Labels: [Status] In Progress, [Type] Janitorial, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments

#37803 ci: Skip plugin setup with composer.json `.require.php`
  .github/files/setup-wordpress-env.sh
  projects/plugins/crm/changelog/update-skip-plugin-setup-by-composer-require-php
  projects/plugins/crm/tests/action-skip-test-php.sh
  projects/plugins/inspect/changelog/update-skip-plugin-setup-by-composer-require-php
  projects/plugins/inspect/composer.json
  projects/plugins/inspect/tests/action-skip-test-php.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Plugin] CRM, [Tests] Includes Tests, [Plugin] Inspect

#37808 Jetpack: Fix Uncaught TypeError for recommendations CTA
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/changelog/fix-uncaught-type-error-for-recommendations-cta
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#37811 Boost: Fix JS minification
  projects/plugins/boost/.gitattributes
  projects/plugins/boost/changelog/update-include-matthiasmullie-minify-package
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#37791 A4A Client plugin: tweak readme
  projects/plugins/automattic-for-agencies-client/changelog/update-a4a-readme
  projects/plugins/automattic-for-agencies-client/readme.txt
Labels: [Feature] Photon, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Image CDN, [Plugin] Automattic For Agencies Client

#37777 Replace WP Logo links that point to about/contribute pages on Simple Sites and Atomic
  projects/packages/jetpack-mu-wpcom/changelog/update-wp-logo-nav-menu
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#37818 tools: Improve final message for release-plugin.sh
  tools/release-plugin.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#37814 Backport automattic-for-agencies-client 0.2.1 Changes
  projects/js-packages/babel-plugin-replace-textdomain/CHANGELOG.md
  projects/js-packages/babel-plugin-replace-textdomain/changelog/renovate-babel-monorepo
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-babel-monorepo
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-babel-monorepo
  projects/js-packages/connection/package.json
  projects/js-packages/i18n-check-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/renovate-babel-monorepo
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/renovate-babel-monorepo
  projects/js-packages/idc/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-babel-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/renovate-babel-monorepo
  projects/packages/connection/src/class-package-version.php
  projects/plugins/automattic-for-agencies-client/CHANGELOG.md
  projects/plugins/automattic-for-agencies-client/automattic-for-agencies-client.php
  projects/plugins/automattic-for-agencies-client/changelog/add-jetpack-development-mode
  projects/plugins/automattic-for-agencies-client/changelog/add-jetpack-development-mode#2
  projects/plugins/automattic-for-agencies-client/changelog/add-jetpack-development-mode#3
  projects/plugins/automattic-for-agencies-client/changelog/add-jetpack-development-mode#4
  projects/plugins/automattic-for-agencies-client/changelog/add-jetpack-development-mode#5
  projects/plugins/automattic-for-agencies-client/changelog/delete-idc-dependency-from-packages
  projects/plugins/automattic-for-agencies-client/changelog/fix-37695-classnames_to_clsx
  projects/plugins/automattic-for-agencies-client/changelog/renovate-babel-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance
  projects/plugins/automattic-for-agencies-client/changelog/renovate-playwright-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/update-a4a-readme
  projects/plugins/automattic-for-agencies-client/changelog/update-idc-to-connection
  projects/plugins/automattic-for-agencies-client/changelog/update-improve-tos-message
  projects/plugins/automattic-for-agencies-client/composer.json
  projects/plugins/automattic-for-agencies-client/readme.txt
Labels: Docs, [Status] Needs Review, [Package] Connection, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] IDC, [JS Package] Webpack Config, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin, [Plugin] Automattic For Agencies Client

#37806 Sakura scheme: Fix color issues on masterbar
  projects/packages/masterbar/changelog/fix-sakura-scheme-issues-masterbar
  projects/packages/masterbar/src/admin-color-schemes/colors/sakura/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sakura/colors.scss
  projects/plugins/jetpack/changelog/fix-sakura-scheme-issues-masterbar
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/sakura/_variables.scss
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/sakura/colors.scss
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Package] Masterbar

#37799 Social Logos: New logos and various fixes
  projects/js-packages/social-logos/README.md
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos10
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos11
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos12
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos13
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos14
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos2
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos3
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos4
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos5
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos6
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos7
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos8
  projects/js-packages/social-logos/changelog/add-social-logos-additional_logos9
  projects/js-packages/social-logos/official_links.md
  projects/js-packages/social-logos/package.json
  projects/js-packages/social-logos/src/css/example.css
  projects/js-packages/social-logos/src/font/codepoints.json
  projects/js-packages/social-logos/src/react/social-logo-data.tsx
  projects/js-packages/social-logos/src/svg-sprite/example.css
  projects/js-packages/social-logos/src/svg/deezer.svg
  projects/js-packages/social-logos/src/svg/discord.svg
  projects/js-packages/social-logos/src/svg/git.svg
  projects/js-packages/social-logos/src/svg/line.svg
  projects/js-packages/social-logos/src/svg/messenger.svg
  projects/js-packages/social-logos/src/svg/quora.svg
  projects/js-packages/social-logos/src/svg/snapchat.svg
  projects/js-packages/social-logos/src/svg/soundcloud.svg
  projects/js-packages/social-logos/src/svg/untappd.svg
  projects/js-packages/social-logos/src/svg/vk.svg
  projects/js-packages/social-logos/tools/build
  projects/js-packages/social-logos/tools/build-react
  projects/js-packages/social-logos/tools/clean
  projects/js-packages/social-logos/tools/svg-optimize
  projects/js-packages/social-logos/tools/svg-to-font.js
  projects/js-packages/social-logos/tools/svg-to-php
  projects/js-packages/social-logos/tools/svg-to-react-data.js
  projects/js-packages/social-logos/tools/svg-to-sprite
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Social Logos

#37825 Added an exception in the plugin update test for wpcomsh.
  .github/files/test-plugin-update/prepare-zips.sh
Labels: [Status] Needs Author Reply, Actions

#37827 social-logos: Replace svgstore-cli dep with svgstore directly
  pnpm-lock.yaml
  projects/js-packages/social-logos/changelog/update-replace-svgstore-cli
  projects/js-packages/social-logos/package.json
  projects/js-packages/social-logos/tools/build
  projects/js-packages/social-logos/tools/svg-to-sprite
  projects/js-packages/social-logos/tools/svg-to-sprite.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Social Logos

#37836 Social: Fix connections UI for unsupported platforms
  projects/js-packages/publicize-components/changelog/fix-social-connections-ui-for-unsupported-platforms
  projects/js-packages/publicize-components/src/components/connection-management/connection-name.tsx
  projects/js-packages/publicize-components/src/components/connection-management/connection-status.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#37809 Ensure the correct site goals option is returned
  projects/plugins/jetpack/changelog/fix-site-goals-option
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Feature] WPCOM API, [Status] Needs Author Reply, [Plugin] Jetpack

#37837 Social: Update readme.txt to get rid of sharing limits
  projects/plugins/social/changelog/update-social-readme
  projects/plugins/social/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Social

#37839 Add an ID to the jetpack form EU cookie law form tag
  projects/plugins/jetpack/changelog/jdv-eu-cookie-law-form-id
  projects/plugins/jetpack/modules/widgets/eu-cookie-law/widget.php
Labels: [Type] Enhancement, [Feature] Extra Sidebar Widgets, [Status] Ready to Merge, [Pri] Low, OSS Citizen, [Plugin] Jetpack

#37841 Sync: fix typo
  projects/packages/sync/changelog/fix-typo-sync
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-rest-endpoints.php
Labels: [Status] Needs Review, [Package] Sync, [Pri] Low

#37842 Boost: Updates for 3.4.2 release
  projects/plugins/boost/app/assets/src/js/features/boost-pricing-table/lib/features.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/show-stopper-error/show-stopper-error.tsx
  projects/plugins/boost/app/assets/src/js/features/performance-history/performance-history.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/get-critical-css-error-set-interpolate-vars.tsx
  projects/plugins/boost/changelog/update-boost-update-tracks-update-pricing
Labels: Admin Page, [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#37719 Like Block: Fix styling conflicts and update editor styles
  projects/plugins/jetpack/changelog/fix-like-block-editor-styling
  projects/plugins/jetpack/extensions/blocks/like/editor.scss
  projects/plugins/jetpack/extensions/blocks/like/tools/update-editor-styles.js
Labels: [Plugin] Jetpack, [Block] Like

#37845 Nav Redesign: Drop the early access and is_proxied.
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1835
  projects/plugins/wpcomsh/feature-plugins/nav-redesign.php
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#37844 Revert adding overview menu option.
  projects/plugins/wpcomsh/.phan/baseline.php
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1897
  projects/plugins/wpcomsh/feature-plugins/nav-redesign.php
Labels: [Status] Needs Author Reply, [Type] Revert, [Plugin] Wpcomsh

#37846 Boost: Backport changes from 3.4.2/ init new plugin cycle
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/update-boost-portback-3.4.2-changes
  projects/plugins/boost/changelog/update-boost-portback-3.4.2-changes#2
  projects/plugins/boost/changelog/update-boost-update-tracks-update-pricing
  projects/plugins/boost/changelog/update-include-matthiasmullie-minify-package
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#37797 Super Cache: notify Boost that migration is in progress
  projects/plugins/super-cache/changelog/update-super-cache-notify-boost-migration
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/inc/boost.php
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#37604 Super Cache: Make sure plugin links is an array before using it
  projects/plugins/super-cache/changelog/fix-super-cache-plugin-links
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#37847 Backport Changes
  projects/packages/classic-theme-helper/CHANGELOG.md
  projects/packages/classic-theme-helper/changelog/renovate-babel-monorepo
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/move-verbum-to-clsx
  projects/packages/jetpack-mu-wpcom/changelog/renovate-babel-monorepo
  projects/packages/jetpack-mu-wpcom/changelog/renovate-eslint-packages
  projects/packages/jetpack-mu-wpcom/changelog/renovate-playwright-monorepo
  projects/packages/jetpack-mu-wpcom/changelog/update-wp-logo-nav-menu
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-typo-sync
  projects/packages/sync/src/class-package-version.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/add-converge-wpcomsh
  projects/plugins/wpcomsh/changelog/add-converge-wpcomsh#2
  projects/plugins/wpcomsh/changelog/initial-version
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1835
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1893
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1897
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Feature] Theme Tools, Docs, [Status] Needs Review, [Package] Sync, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper

#37801 AI Assistant: Hide input when user types on extended block
  projects/plugins/jetpack/changelog/update-jetpack-ai-inline-extension-hide-control-when-typing
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/get-block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/jetpack-form/children.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/jetpack-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/types.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/with-ai-extension.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant

#36305 Top Posts & Pages Block: Prevent Disabling all Types
  projects/plugins/jetpack/changelog/update-top-posts-toggle
  projects/plugins/jetpack/extensions/blocks/top-posts/controls.js
  projects/plugins/jetpack/extensions/blocks/top-posts/editor.scss
Labels: [Status] Ready to Merge, OSS Citizen, [Plugin] Jetpack, [Block] Top Posts

#37834 Jetpack AI Image: implement "insert image" action
  projects/plugins/jetpack/changelog/update-jetpack-ai-image-use-image-action
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/carrousel.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/general-purpose-image.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/hooks/use-save-to-media-library.ts
  projects/plugins/jetpack/extensions/shared/external-media/sources/jetpack-ai-general-purpose-image.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#37856 Backport wpcomsh 3.22.13 Changes
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/update-wpcomsh-3.22.13
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: Docs, [Status] Needs Review, [Plugin] Wpcomsh

#37849 wpcomsh: Fix PHP 8 fatal on managed plugins
  projects/packages/forms/changelog/cast_to_int
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/plugins/super-cache/changelog/cast_to_int
  projects/plugins/super-cache/wp-cache-phase2.php
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-php_8_fatal_on_managed_plugins
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/feature-plugins/managed-plugins.php
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Plugin] Jetpack, [Plugin] Super Cache, [Package] Forms, [Plugin] Wpcomsh

#37831 Social Logos: Rewrite svg-optimize script in JS
  projects/js-packages/social-logos/changelog/update-social-logos-do_svg_optimize_with_js
  projects/js-packages/social-logos/package.json
  projects/js-packages/social-logos/tools/build
  projects/js-packages/social-logos/tools/svg-optimize
  projects/js-packages/social-logos/tools/svg-optimize.js
  projects/js-packages/social-logos/tools/svg-to-font.js
  projects/js-packages/social-logos/tools/svg-to-react-data.js
  projects/js-packages/social-logos/tools/svg-to-sprite.js
  projects/js-packages/social-logos/tools/svgo.config.mjs
Labels: [Status] Needs Author Reply, [Type] Janitorial, RNA, [JS Package] Social Logos

#37861 Change the wpcomsh project composer slug.
  projects/plugins/wpcomsh/changelog/change-wpcomsh-composer-name
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#37863 ci: Use `beta-plugin-slug` in autorelease action
  .github/files/gh-autorelease/files/autorelease.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#37855 eslint-config-target-es: Support flat config (eslint v9)
  pnpm-lock.yaml
  projects/js-packages/eslint-config-target-es/README.md
  projects/js-packages/eslint-config-target-es/changelog/update-eslint-config-target-es-eslint-9
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/eslint-config-target-es/src/eslintrc/all.js
  projects/js-packages/eslint-config-target-es/src/eslintrc/base.js
  projects/js-packages/eslint-config-target-es/src/eslintrc/builtins.js
  projects/js-packages/eslint-config-target-es/src/eslintrc/language.js
  projects/js-packages/eslint-config-target-es/src/flatconfig/all.js
  projects/js-packages/eslint-config-target-es/src/flatconfig/base.js
  projects/js-packages/eslint-config-target-es/src/flatconfig/builtins.js
  projects/js-packages/eslint-config-target-es/src/flatconfig/language.js
  projects/js-packages/eslint-config-target-es/tests/configs-eslintrc.test.js
  projects/js-packages/eslint-config-target-es/tests/configs-flat.test.js
  tools/js-tools/validate-es.config.js
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, RNA, [JS Package] Eslint Config Target Es, [Tests] Includes Tests

#37867 Simple Classic: Release it using wpcom function besides the option
  projects/packages/jetpack-mu-wpcom/changelog/add-condition-to-release-simple-classic
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#37868 Fix site management panel widget link
  projects/packages/jetpack-mu-wpcom/changelog/fix-site-management-panel-widget-link
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Management Widget

#37873 Boost: Include missing dependency
  projects/plugins/boost/.gitattributes
  projects/plugins/boost/changelog/fix-include-dependency
Labels: [Status] Needs Cherry-Pick, [Status] Needs Team Review, [Plugin] Boost

#37871 Backport mu-wpcom-plugin 2.1.32 Changes
  projects/js-packages/social-logos/CHANGELOG.md
  projects/js-packages/social-logos/changelog/update-social-logos-do_svg_optimize_with_js
  projects/js-packages/social-logos/package.json
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-condition-to-release-simple-classic
  projects/packages/jetpack-mu-wpcom/changelog/fix-site-management-panel-widget-link
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/renovate-lock-file-maintenance
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, RNA, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [JS Package] Social Logos

#37877 Social: Fix admin pricing table not shown
  projects/plugins/social/changelog/fix-social-admin-pricing-table-not-shown
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/admin-page/index.jsx
Labels: [Status] Needs Team Review, [Plugin] Social

#37875 Fix E2E tests navigating to block editor
  projects/plugins/jetpack/changelog/fix-e2e-tests-navigating-to-block-editor
  projects/plugins/jetpack/tests/e2e/specs/sync/sync.test.js
  projects/plugins/social/changelog/fix-e2e-tests-navigating-to-block-editor
  projects/plugins/social/tests/e2e/flows/connection.js
  projects/plugins/social/tests/e2e/specs/social-sidebar.test.js
  tools/e2e-commons/pages/page-actions.js
  tools/e2e-commons/pages/wp-admin/block-editor.js
Labels: [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack, [Plugin] Social, [Tests] Includes Tests

#37874 Boost: backport 3.4.3
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-boost-backport-3.4.3
  projects/plugins/boost/changelog/fix-include-dependency
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#37862 Profile Behavior: Remove bi-directional syncing
  projects/packages/jetpack-mu-wpcom/changelog/remove-bi-directional-syncing
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Calypso Locale Sync

#37879 cli: Fix rsync of unpublished plugins to plugins dir
  tools/cli/commands/rsync.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#37876 A4A Client Plugin: update author URL
  projects/plugins/automattic-for-agencies-client/automattic-for-agencies-client.php
  projects/plugins/automattic-for-agencies-client/changelog/update-a4a-client-url
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Automattic For Agencies Client

#37832 Update All Sites icon size for Simple Classic
  projects/packages/jetpack-mu-wpcom/changelog/update-all-sites-icon-size
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.scss
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#37881 Remove status check images from the wpcomsh README.md.
  projects/plugins/wpcomsh/README.md
  projects/plugins/wpcomsh/changelog/remove-status-check-images
Labels: [Status] Needs Author Reply, Docs, [Plugin] Wpcomsh

#37853 Docs: Updating the Git Workflow docs to explain how to update an external contributors PR
  docs/git-workflow.md
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge

#37498 Do not force VS Code settings
  .gitignore
  .vscode/settings.dist.jsonc
  .vscode/tasks.json
  tools/install-vscode-settings.sh
Labels: [Status] Needs Team Review

#37802 Update conditionally render connection footer with unlock
  projects/js-packages/base-styles/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/root-variables.scss
  projects/js-packages/connection/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/js-packages/connection/components/manage-connection-dialog/index.jsx
  projects/js-packages/connection/package.json
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.jsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/jetpack-gray.svg
  projects/packages/my-jetpack/_inc/components/connection-status-card/styles.module.scss
  projects/packages/my-jetpack/_inc/components/connection-status-card/test/component.jsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/types.ts
  projects/packages/my-jetpack/_inc/data/products/use-product.ts
  projects/packages/my-jetpack/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-coditionally-render-connection-footer-with-unlock
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [JS Package] Base Styles, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#37858 Update show tooltip on card hover
  projects/packages/my-jetpack/_inc/components/card/index.jsx
  projects/packages/my-jetpack/_inc/components/connected-product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/boost-speed-score.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/types.ts
  projects/packages/my-jetpack/changelog/update-show-tooltip-on-card-hover
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#37829 Update connection status tests to typescript
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/connection-status-card/test/component.tsx
  projects/packages/my-jetpack/_inc/data/types.ts
  projects/packages/my-jetpack/changelog/update-connection-status-tests-to-typescript
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/package.json
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [JS Package] Base Styles, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests

#37882 Backporting changes from wpcomsh 3.22.14
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/remove-bi-directional-syncing
  projects/packages/jetpack-mu-wpcom/changelog/update-all-sites-icon-size
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/change-wpcomsh-composer-name
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-php_8_fatal_on_managed_plugins
  projects/plugins/wpcomsh/changelog/remove-status-check-images
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Author Reply, Docs, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh

#37880 Remove redundant bin scripts in the wpcomsh plugin.
  projects/plugins/wpcomsh/Makefile
  projects/plugins/wpcomsh/bin/create-github-release.sh
  projects/plugins/wpcomsh/bin/update-version.php
  projects/plugins/wpcomsh/bin/update-version.sh
  projects/plugins/wpcomsh/changelog/remove-redundant-bin-scripts-wpcomsh
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#37804 Add scan team members to Jetpack contributors list
  projects/plugins/jetpack/changelog/add-scan-team-contributors
  projects/plugins/jetpack/readme.txt
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#37886 Update minimum composer version
  .github/actions/tool-setup/action.yml
  .github/versions.sh
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions

#37864 Move the Protect plugin models into it's own package.
  pnpm-lock.yaml
  projects/packages/protect-models/.gitattributes
  projects/packages/protect-models/.gitignore
  projects/packages/protect-models/.phan/config.php
  projects/packages/protect-models/.phpcs.dir.xml
  projects/packages/protect-models/CHANGELOG.md
  projects/packages/protect-models/README.md
  projects/packages/protect-models/changelog/.gitkeep
  projects/packages/protect-models/changelog/initial-version
  projects/packages/protect-models/composer.json
  projects/packages/protect-models/package.json
  projects/packages/protect-models/phpunit.xml.dist
  projects/packages/protect-models/src/class-extension-model.php
  projects/packages/protect-models/src/class-protect-models.php
  projects/packages/protect-models/src/class-status-model.php
  projects/packages/protect-models/src/class-threat-model.php
  projects/packages/protect-models/tests/.phpcs.dir.xml
  projects/packages/protect-models/tests/php/bootstrap.php
  projects/packages/protect-models/tests/php/test-extension-model.php
  projects/packages/protect-models/tests/php/test-threat-model.php
Labels: [Status] Needs Author Reply, Docs, [Tests] Includes Tests, [Package] Protect Models

#37891 Jetpack admin-menu endpoint: Require masterbar menu load file only on self-hosted sites
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/update-jp-admin-menu-endpoint
Labels: [Status] Needs Review, [Plugin] Jetpack

#37824 Super Cache: use "activate/install boost button" on the banner in other areas
  projects/plugins/super-cache/changelog/update-super-cache-multi-button-install
  projects/plugins/super-cache/inc/boost.php
  projects/plugins/super-cache/js/admin.js
  projects/plugins/super-cache/wp-cache.php
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Team Review, [Plugin] Super Cache

#37869 Social: Fix Reconnect link for broken connections in the editor from Calypso to connections modal
  projects/js-packages/publicize-components/changelog/fix-broken-connections-link-in-editor
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
  projects/js-packages/publicize-components/src/hooks/use-social-media-connections/index.ts
  projects/plugins/jetpack/changelog/fix-broken-connections-link-in-editor
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/social/changelog/fix-broken-connections-link-in-editor
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#37681 Social : Update connections management links for classic editor
  projects/packages/publicize/changelog/update-connections-management-links-for-classic-editor
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Publicize

#37893 Disable WP.com custom editor navigation bar
  projects/plugins/wpcomsh/changelog/port-wpcomsh-1197
  projects/plugins/wpcomsh/feature-plugins/full-site-editing.php
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#37798 User Content Link Tracking: check blog_id before link redirection
  projects/plugins/jetpack/changelog/add-domain-check-before-user-link-redirection
  projects/plugins/jetpack/modules/subscriptions/jetpack-user-content-link-redirection.php
Labels: [Feature] Subscriptions, [Status] Ready to Merge, [Plugin] Jetpack

#37896 Super Cache: check for the same Boost that the plugin later tries to install
  projects/plugins/super-cache/changelog/fix-super-cache-detect-boost
  projects/plugins/super-cache/wp-cache.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Super Cache

#37887 Revert "ExPlat: introduce empty JS package"
  pnpm-lock.yaml
  projects/js-packages/explat/.gitattributes
  projects/js-packages/explat/.gitignore
  projects/js-packages/explat/CHANGELOG.md
  projects/js-packages/explat/README.md
  projects/js-packages/explat/changelog/.gitkeep
  projects/js-packages/explat/changelog/initial-version
  projects/js-packages/explat/composer.json
  projects/js-packages/explat/package.json
  projects/js-packages/explat/src/index.ts
  projects/js-packages/explat/tests/index.test.js
  projects/js-packages/explat/tsconfig.json
Labels: [Status] In Progress, Docs, RNA, [JS Package] Explat, [Tests] Includes Tests, [Type] Revert

#37905 Backport wpcomsh 3.22.16 Changes
  projects/plugins/wpcomsh/CHANGELOG.md
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-readme
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: Docs, [Status] Needs Review, [Plugin] Wpcomsh

#37911 Remove/check for broken modules red bubble slug
  projects/packages/my-jetpack/changelog/remove-check-for-broken-modules-red-bubble-slug
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Ready to Merge, [Package] My Jetpack

#37915 My Jetpack: Portback after my-jetpack release
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/remove-check-for-broken-modules-red-bubble-slug
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/prerelease
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Author Reply, Docs, [Plugin] Boost, [Package] My Jetpack

#37870 Stats: Check if Jetpack is integrated with the Complianz plugin to show the notice
  projects/packages/stats-admin/changelog/update-stats_gdpr_cookie_conset_notice
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-notices.php
  projects/plugins/jetpack/changelog/update-stats_gdpr_cookie_conset_notice_bump_jetpack_lock_file
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-stats_gdpr_cookie_conset_notice_bump_lock_files
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/update-stats_gdpr_cookie_conset_notice_bump_lock_files
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin, [Plugin] mu wpcom, [Plugin] Wpcomsh

#37917 Social: Backport changes frome the 4.5.1 release
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/update-backport-social-4.5.1
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Social

#37924 Fix sso modal styles
  projects/plugins/jetpack/_inc/client/security/style.scss
  projects/plugins/jetpack/changelog/fix-sso-modal-styles
Labels: [Status] In Progress, Admin Page, [Plugin] Jetpack

#37925 Backport mu-wpcom-plugin 2.2.0, jetpack 13.6-a.5 Changes
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/stats-admin/CHANGELOG.md
  projects/packages/stats-admin/changelog/update-stats_gdpr_cookie_conset_notice
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-domain-check-before-user-link-redirection
  projects/plugins/jetpack/changelog/fix-sso-modal-styles
  projects/plugins/jetpack/changelog/init-release-cycle
  projects/plugins/jetpack/changelog/update-stats_gdpr_cookie_conset_notice_bump_jetpack_lock_file
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/update-stats_gdpr_cookie_conset_notice_bump_lock_files
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Plugin] Jetpack, [Package] Stats Admin, [Package] Jetpack mu wpcom, [Plugin] mu wpcom

#37603 tools: Default some prompts to "yes"
  tools/create-release-branch.sh
  tools/deploy-assets-to-svn.sh
  tools/deploy-to-svn.sh
  tools/includes/proceed_p.sh
  tools/release-plugin.sh
  tools/stable-tag.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#37934 CRM: Update references to zerobscrm.com
  projects/plugins/crm/admin/activation/before-you-go.php
  projects/plugins/crm/admin/activation/welcome-to-jpcrm.php
  projects/plugins/crm/changelog/fix-crm-update_zbs_refs
  projects/plugins/crm/includes/ZeroBSCRM.Config.Init.php
  projects/plugins/crm/includes/ZeroBSCRM.Core.DateTime.php
  projects/plugins/crm/includes/ZeroBSCRM.Encryption.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Columns.php
  projects/plugins/crm/includes/ZeroBSCRM.Mail.php
  projects/plugins/crm/includes/ZeroBSCRM.PerformanceTesting.php
  projects/plugins/crm/includes/ZeroBSCRM.PluginUpdates.ImminentRelease.php
  projects/plugins/crm/includes/ZeroBSCRM.PluginUpdates.php
  projects/plugins/crm/includes/ZeroBSCRM.SemanticUIHelpers.php
  projects/plugins/crm/includes/wh.config.lib.php
  projects/plugins/crm/js/ZeroBSCRM.admin.editview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/js/ZeroBSCRM.admin.notify.js
  projects/plugins/crm/js/ZeroBSCRM.admin.singleview.js
  projects/plugins/crm/sass/ZeroBSCRM.admin.editview.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.extensions-page.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.frontendforms.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.global.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.intro.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicebuilder.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicepreview.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.listview.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.maildeliverywizard.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.segmentedit.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.settings.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.sortables.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.transactionedit.scss
  projects/plugins/crm/sass/ZeroBSCRM.public.frontendforms.scss
  projects/plugins/crm/sass/_JetpackCRM.admin.learnmenu.scss
  projects/plugins/crm/sass/_ZeroBSCRM.ThemeCompat.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminmenu.scss
  projects/plugins/crm/sass/_ZeroBSCRM.adminpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.animations.scss
  projects/plugins/crm/sass/_ZeroBSCRM.betafeedback.scss
  projects/plugins/crm/sass/_ZeroBSCRM.customerfilters.scss
  projects/plugins/crm/sass/_ZeroBSCRM.editcontact.scss
  projects/plugins/crm/sass/_ZeroBSCRM.editview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.forms.scss
  projects/plugins/crm/sass/_ZeroBSCRM.frontendforms.scss
  projects/plugins/crm/sass/_ZeroBSCRM.genericeditpages.scss
  projects/plugins/crm/sass/_ZeroBSCRM.hidewpfeatures.scss
  projects/plugins/crm/sass/_ZeroBSCRM.listview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.logs.scss
  projects/plugins/crm/sass/_ZeroBSCRM.maildeliverywizard.scss
  projects/plugins/crm/sass/_ZeroBSCRM.metaboxes.scss
  projects/plugins/crm/sass/_ZeroBSCRM.mobile.scss
  projects/plugins/crm/sass/_ZeroBSCRM.nag.scss
  projects/plugins/crm/sass/_ZeroBSCRM.prevadmincore.scss
  projects/plugins/crm/sass/_ZeroBSCRM.spinners.scss
  projects/plugins/crm/sass/_ZeroBSCRM.typeahead.scss
  projects/plugins/crm/sass/_daterangepicker.fix.scss
  projects/plugins/crm/sass/_semantic-ui-additions.scss
  projects/plugins/crm/sass/_wp-hide-admin-notices.scss
  projects/plugins/crm/sass/_wp-semantic-fixes.scss
  projects/plugins/crm/sass/jpcrm-admin-tasks.scss
Labels: Admin Page, [Status] Needs Team Review, [Plugin] CRM

#37909 Update/wpcom site visibility copy update
  projects/packages/jetpack-mu-wpcom/changelog/update-wpcom-site-visibility-copy
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/replace-site-visibility/replace-site-visibility.php
  projects/plugins/mu-wpcom-plugin/changelog/update-wpcom-site-visibility-copy
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/update-wpcom-site-visibility-copy
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Replace Site Visibility

#37938 All sites: Fix icon size in small screen sizes
  projects/packages/jetpack-mu-wpcom/changelog/fix-all-sites-icon-size-mobile
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.scss
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#37920 Fix theme showcase button when there is only one theme left after deletion
  projects/packages/jetpack-mu-wpcom/changelog/fix-theme-showcase-button
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/js/theme-actions.js
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Themes

#37899 Social: Remove unneeded WPCOM check
  projects/packages/publicize/changelog/remove-social-connection-managemet-unneeded-wpcom-check
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
Labels: [Status] Needs Team Review, [Package] Publicize

#37812 Masterbar: Require and use 'jetpack-masterbar' package in jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/.phan/baseline.php
  projects/packages/jetpack-mu-wpcom/changelog/add-masterbar-package-to-jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/admin-color-schemes/admin-color-schemes.php
  projects/packages/masterbar/changelog/add-masterbar-package-to-jetpack-mu-wpcom
  projects/packages/masterbar/composer.json
  projects/packages/masterbar/package.json
  projects/packages/masterbar/src/admin-color-schemes/class-admin-color-schemes.php
  projects/packages/masterbar/src/class-main.php
  projects/packages/masterbar/tests/php/test-class-admin-color-schemes.php
  projects/plugins/jetpack/changelog/add-masterbar-package-to-jetpack-mu-wpcom
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/add-masterbar-package-to-jetpack-mu-wpcom
  projects/plugins/mu-wpcom-plugin/changelog/add-masterbar-package-to-jetpack-mu-wpcom#2
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-masterbar-package-to-jetpack-mu-wpcom
  projects/plugins/wpcomsh/changelog/add-masterbar-package-to-jetpack-mu-wpcom#2
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Feature] Masterbar, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [mu wpcom Feature] Admin Color Schemes, [Package] Masterbar

#37939 Goodreads Block: Accept Vanity Profile Links
  projects/plugins/jetpack/changelog/update-goodreads-links
  projects/plugins/jetpack/extensions/blocks/goodreads/hooks/use-fetch-goodreads-data.js
Labels: [Status] Ready to Merge, OSS Citizen, [Plugin] Jetpack, [Block] Goodreads

#37897 Fix reading of jetpack_verbum_subscription_modal
  projects/packages/jetpack-mu-wpcom/changelog/fix-comment_modal_option
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/class-verbum-comments.php
  projects/plugins/jetpack/changelog/fix-subscription-modal-ls-errors
  projects/plugins/jetpack/modules/comments/subscription-modal-on-comment/subscription-modal.js
Labels: [Feature] Comments, [Status] In Progress, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments
