Repository Automattic/jetpack, pull requests merged in 2024-10, with the labels that each got.

#39561 Social: Add Bluesky connection UI
  projects/js-packages/publicize-components/changelog/add-bluesky-connection-ui
  projects/js-packages/publicize-components/src/components/services/connect-form.tsx
  projects/js-packages/publicize-components/src/components/services/custom-inputs.tsx
  projects/js-packages/publicize-components/src/components/services/service-item.tsx
  projects/js-packages/publicize-components/src/components/services/style.module.scss
  projects/js-packages/publicize-components/src/components/services/use-request-access.ts
  projects/js-packages/publicize-components/src/components/services/use-supported-services.tsx
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/plugins/jetpack/changelog/add-bluesky-connection-ui
  projects/plugins/social/changelog/add-bluesky-connection-ui
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#39598 Backport social 5.4.0 Changes
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/add-bluesky-connection-ui
  projects/js-packages/publicize-components/package.json
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/changelog/add-bluesky-connection-ui
  projects/plugins/social/changelog/add-features-enabled-rest-endpoint
  projects/plugins/social/changelog/add-restful-features-available
  projects/plugins/social/changelog/add-share-save-hook
  projects/plugins/social/changelog/fix-social-social-preview-trigger-button
  projects/plugins/social/changelog/prerelease
  projects/plugins/social/changelog/prerelease#2
  projects/plugins/social/changelog/prerelease#3
  projects/plugins/social/changelog/prerelease#4
  projects/plugins/social/changelog/prerelease#5
  projects/plugins/social/changelog/prerelease#6
  projects/plugins/social/changelog/renovate-js-unit-testing-packages
  projects/plugins/social/changelog/renovate-lock-file-maintenance
  projects/plugins/social/changelog/renovate-major-js-unit-testing-packages
  projects/plugins/social/changelog/renovate-wordpress-monorepo
  projects/plugins/social/changelog/update-my-jetpack-notice-mobile-style
  projects/plugins/social/changelog/update-social-clean-up-media-auto-conversion-backend-logic
  projects/plugins/social/changelog/update-social-initial-state-migrate-feature-flags
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, RNA, [Plugin] Social, [JS Package] Publicize Components

#39597 Social: Fix Bluesky not showing up on page load
  projects/packages/publicize/changelog/fix-social-bluesky-does-not-show-up-on-load
  projects/packages/publicize/src/class-publicize.php
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Publicize

#39476 Email preview: improve error state visually
  projects/plugins/jetpack/changelog/update-email-preview-error-styles
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.scss
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#39424 Jetpack: Check $submenu is not NULL before adding Scan option
  projects/packages/masterbar/changelog/fix-submenu-jetpack-null
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
Labels: [Feature] Masterbar, [Status] Needs Team Review, [Package] Masterbar

#39585 Update/at a glance unify connection ctas
  projects/plugins/jetpack/_inc/client/at-a-glance/connections.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/monitor.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/test/component.js
  projects/plugins/jetpack/_inc/client/components/connect-button/index.jsx
  projects/plugins/jetpack/_inc/client/components/connect-button/test/component.js
  projects/plugins/jetpack/_inc/client/components/connect-button/test/fixtures.js
  projects/plugins/jetpack/changelog/update-at-a-glance-unify-connection-ctas
  tools/e2e-commons/pages/wp-admin/jetpack-dashboard.js
Labels: [Status] Needs Author Reply, Admin Page, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#39515 Changes the error Blaze shows during sync to be a warning
  projects/packages/blaze/changelog/update-blaze-post-not-ready-behavior
  projects/packages/blaze/src/class-dashboard-rest-controller.php
Labels: [Status] Needs Review, [Package] Blaze

#39591 Update/jetpack settings connection nudges
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/earn/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/security/monitor.jsx
  projects/plugins/jetpack/_inc/client/security/sso.jsx
  projects/plugins/jetpack/_inc/client/settings/index.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/_inc/client/traffic/blaze.jsx
  projects/plugins/jetpack/_inc/client/writing/post-by-email.jsx
  projects/plugins/jetpack/changelog/update-jetpack-settings-connection-nudges
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack

#39606 Added deprecated versions of removed public API to fix fatals.
  projects/packages/waf/changelog/add-removed-waf-methods-as-deprecated
  projects/packages/waf/src/class-waf-stats.php
Labels: [Status] Needs Review, [Pri] BLOCKER, [Status] Needs Cherry-Pick, [Package] WAF

#39593 Post-migration Experience: Adds the placeholder task list
  projects/packages/jetpack-mu-wpcom/changelog/add-add-migration-placeholder
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/plugins/mu-wpcom-plugin/changelog/add-add-migration-placeholder
  projects/plugins/wpcomsh/changelog/add-add-migration-placeholder
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad, [Plugin] Wpcomsh

#39607 Backport WAF 0.20.1.
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/add-removed-waf-methods-as-deprecated
  projects/packages/waf/src/class-waf-stats.php
Labels: [Status] Needs Author Reply, Docs, [Package] WAF

#39549 Protect: Fix last_checked conversions
  projects/plugins/protect/changelog/fix-protect-last-checked-conversions
  projects/plugins/protect/src/js/components/summary/index.jsx
Labels: [Status] Needs Author Reply, [Plugin] Protect

#39538 Protect: Improve optimistically scanning
  projects/plugins/protect/changelog/update-protect-optimistically-scanning
  projects/plugins/protect/src/js/data/scan/use-scan-status-query.ts
  projects/plugins/protect/src/js/data/scan/use-start-scan-mutation.ts
Labels: [Status] In Progress, [Plugin] Protect

#39574 Protect: Minor clean up of scan page index component
  projects/plugins/protect/changelog/update-protect-minor-component-refactors
  projects/plugins/protect/src/js/routes/scan/index.jsx
  projects/plugins/protect/src/js/routes/scan/scan-section-notices.tsx
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Protect

#39539 Settings: Newsletter: Adding connection banner to each section
  projects/packages/my-jetpack/changelog/update-settings-newsletter-1022-connection-banner
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/_inc/client/newsletter/messages-setting.jsx
  projects/plugins/jetpack/_inc/client/newsletter/newsletter-categories.jsx
  projects/plugins/jetpack/_inc/client/newsletter/newsletter.jsx
  projects/plugins/jetpack/_inc/client/newsletter/paid-newsletter.jsx
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/changelog/update-settings-newsletter-1022-connection-banner
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack, [Package] My Jetpack

#39374 Admin Menu: Adding tests to test Jetpack admin menu 'current' menu item class and menu order
  projects/plugins/jetpack/_inc/client/test/main.js
  projects/plugins/jetpack/changelog/add-jetpack-admin-menu-tests
  projects/plugins/jetpack/tests/php/general/test_jetpack-admin-menu.php
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Tests] Includes Tests

#39619 Update Jetpack Scan link
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-scan-link
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
  projects/packages/masterbar/changelog/update-jetpack-scan-link
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/tests/php/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/changelog/update-jetpack-scan-link
  projects/plugins/mu-wpcom-plugin/changelog/update-jetpack-scan-link
  projects/plugins/wpcomsh/changelog/update-jetpack-scan-link
Labels: [Status] Ready to Merge, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Menu

#39622 Backport Jetpack 13.9 changes to readme and CHANGELOG.md.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
  projects/plugins/jetpack/to-test.md
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#39624 Backport social 5.4.1 Changes
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-npm-uplot-vulnerability
  projects/js-packages/components/package.json
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-settings-newsletter-1022-connection-banner
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/fix-social-bluesky-does-not-show-up-on-load
  projects/packages/publicize/package.json
  projects/plugins/social/CHANGELOG.md
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/readme.txt
Labels: Docs, [Status] Needs Review, RNA, [JS Package] Components, [Package] My Jetpack, [Package] Publicize, [Plugin] Social

#39604 Connection: initialize assets in wp-admin only
  projects/packages/connection/actions.php
  projects/packages/connection/changelog/update-optimize-connection-js-loading
Labels: [Focus] Performance, [Status] In Progress, [Package] Connection

#39518 Performance: remove imploding CSS code
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/remove-imploding-css-code
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack.php
  projects/plugins/jetpack/tools/webpack.config.css.js
Labels: [Type] Enhancement, [Focus] Performance, [Status] Ready to Merge, [Plugin] Jetpack, [Tests] Includes Tests

#39498 Protect: Update use fixers query error prop handling
  projects/plugins/protect/changelog/update-protect-use-fixers-response-error-prop-handling
  projects/plugins/protect/src/js/data/scan/use-fixers-mutation.ts
  projects/plugins/protect/src/js/data/scan/use-fixers-query.ts
  projects/plugins/protect/src/js/hooks/use-fixers.ts
  projects/plugins/protect/src/js/types/fixers.ts
Labels: [Status] In Progress, [Plugin] Protect

#39613 wpcomsh: Update wc-calypso-bridge to 2.8.0
  projects/plugins/wpcomsh/changelog/update-bridge
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#39572 Sitemap: Make sitemap storing more efficient by not querying the full post content before saving
  projects/plugins/jetpack/changelog/ 
  projects/plugins/jetpack/modules/sitemaps/sitemap-librarian.php
Labels: [Focus] Performance, [Status] Ready to Merge, [Feature] Sitemaps, [Plugin] Jetpack

#39616 Boost: Exclude shortcode produced scripts from deferred js
  projects/plugins/boost/app/modules/optimizations/render-blocking-js/class-render-blocking-js.php
  projects/plugins/boost/changelog/update-exclude-shortcode-scripts
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Defer JS

#39634 Roles endpoint: Use instance of for checking wp roles
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-use-instance-of-for-checking-wp-roles
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-roles-endpoint.php
Labels: [Feature] WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack, [Focus] Compatibility

#39637 Issue templates: add new issue type option
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#36730 Blogging Prompt: preserve language on answers link
  projects/plugins/jetpack/changelog/preserve-language-on-answers-link
  projects/plugins/jetpack/extensions/blocks/blogging-prompt/edit.js
  projects/plugins/jetpack/extensions/shared/locale.js
  projects/plugins/jetpack/extensions/shared/test/locale.test.js
Labels: [Status] Stale, [Status] Blocked / Hold, OSS Citizen, [Plugin] Jetpack, [Block] Blogging Prompt, [Tests] Includes Tests

#39600 Admin bar: replace 'Edit Profile' and 'My Account' with 'My Profile'
  projects/packages/jetpack-mu-wpcom/changelog/edit-profile-link
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#39636 profile.php: Make wpcom links more concise
  projects/packages/jetpack-mu-wpcom/changelog/profile-link-improvements
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.ts
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Profile Settings

#39599 Social: Fix share status tooltip text overflow
  projects/js-packages/publicize-components/changelog/fix-social-share-status-tooltip-text-overflow
  projects/js-packages/publicize-components/src/components/share-status/share-status-label.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/plugins/jetpack/changelog/fix-social-share-status-tooltip-text-overflow
  projects/plugins/social/changelog/fix-social-share-status-tooltip-text-overflow
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components

#39615 WPCOMSH: Remove redirection from /wp-admin/plugin.php to /plugins/manage/<site>
  projects/plugins/wpcomsh/changelog/test-redirect
  projects/plugins/wpcomsh/feature-plugins/hooks.php
Labels: [Status] In Progress, [Plugin] Wpcomsh

#39635 Boost: Fix photon URL check
  projects/packages/image-cdn/changelog/add-photon-url-check-method
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn_core.php
  projects/plugins/boost/app/modules/image-guide/Image_Guide_Proxy.php
  projects/plugins/boost/changelog/improve-cdn-url-check
Labels: [Feature] Photon, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Image Guide, [Package] Image CDN, [Tests] Includes Tests

#39645 e2e tests: update encryption key
  .github/files/e2e-tests/notification-rules.enc
  projects/plugins/jetpack/changelog/update-e2e-encryption-key
  projects/plugins/jetpack/tests/e2e/config/encrypted.enc
  tools/e2e-commons/config/encrypted.enc
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#39628 Update VideoPress block connection banner, align with other blocks
  projects/packages/videopress/changelog/update-jetpack-blocks-confusing-connection-nudges
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/connect-banner.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/components/banner/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/editor.scss
Labels: [Status] Needs Author Reply, [Package] VideoPress

#39516 WAF: Allow rules to specify body parser type
  projects/packages/waf/changelog/add-waf-body-processor
  projects/packages/waf/src/class-waf-request.php
  projects/packages/waf/src/class-waf-runtime.php
  projects/packages/waf/tests/php/unit/test-waf-request.php
Labels: [Status] Needs Team Review, [Package] WAF, [Tests] Includes Tests

#39602 Blocks: provide nice error message for workaround in dev env
  projects/plugins/jetpack/changelog/add-nice-fatal-message
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Low, [Focus] Blocks, [Plugin] Jetpack

#39520 Settings - Newsletter, Sharing: Disabling options for sites missing user connection
  projects/packages/my-jetpack/changelog/settings-disable-inactive-elements
  projects/plugins/jetpack/_inc/client/components/settings-card/index.jsx
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/_inc/client/newsletter/messages-setting.jsx
  projects/plugins/jetpack/_inc/client/newsletter/newsletter-categories.jsx
  projects/plugins/jetpack/_inc/client/newsletter/newsletter.jsx
  projects/plugins/jetpack/_inc/client/newsletter/paid-newsletter.jsx
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/_inc/client/sharing/publicize.jsx
  projects/plugins/jetpack/changelog/settings-disable-inactive-elements
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack, [Package] My Jetpack

#39509 Boost: Use "critical css gen" package from the monorepo
  pnpm-lock.yaml
  projects/js-packages/critical-css-gen/.gitignore
  projects/js-packages/critical-css-gen/changelog/add-playwright-endpoint
  projects/js-packages/critical-css-gen/changelog/update-default-entry-point
  projects/js-packages/critical-css-gen/package.json
  projects/js-packages/critical-css-gen/rollup.config.js
  projects/js-packages/critical-css-gen/src/playwright.ts
  projects/js-packages/critical-css-gen/tests/data/webpack.config.cjs
  projects/js-packages/critical-css-gen/tests/lib/test-server.js
  projects/js-packages/critical-css-gen/tests/unit/generate-critical-css.test.js
  projects/js-packages/critical-css-gen/tsconfig.browser.json
  projects/js-packages/critical-css-gen/tsconfig.json
  projects/plugins/boost/app/admin/class-admin.php
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/generate-critical-css.ts
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/changelog/update-use-monorepo-css-gen-package
  projects/plugins/boost/package.json
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/boost/webpack.config.js
Labels: Admin Page, [Status] Needs Team Review, E2E Tests, RNA, [Plugin] Boost, [Boost Feature] Critical CSS, [Tests] Includes Tests, [JS Package] Critical Css Gen

#39641 Post-migration Experience: Add the "Review the site's content" task
  projects/packages/jetpack-mu-wpcom/changelog/add-review-site-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39664 Backport changes in JS Packages
  pnpm-lock.yaml
  projects/js-packages/critical-css-gen/CHANGELOG.md
  projects/js-packages/critical-css-gen/changelog/add-playwright-endpoint
  projects/js-packages/critical-css-gen/changelog/fix-xss-vulnerability
  projects/js-packages/critical-css-gen/changelog/update-default-entry-point
  projects/js-packages/critical-css-gen/package.json
  projects/js-packages/i18n-loader-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/renovate-wordpress-monorepo
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-wordpress-monorepo
  projects/js-packages/webpack-config/package.json
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Webpack Config, [JS Package] I18n Loader Webpack Plugin, [JS Package] Critical Css Gen

#39631 VideoPress: use "Processing" thumbnail placeholder while a new thumbnail is being saved
  projects/packages/videopress/changelog/update-videopress-update-thumb-placeholder-while-updating
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/use-edit-details.ts
Labels: [Status] Needs Team Review, [Package] VideoPress

#39650 Connection: optimize admin_notices owner delete warning
  projects/packages/connection/changelog/update-optimize-connection-admin-notice-hook
  projects/packages/connection/src/class-connection-notice.php
Labels: [Focus] Performance, [Status] In Progress, [Package] Connection

#39665 Fix new PHPCompatibility-dev sniff
  projects/packages/codesniffer/Jetpack-Compat-74/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-80/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-81/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-82/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-83/ruleset.xml
  projects/packages/codesniffer/Jetpack-Compat-NoWP/ruleset.xml
  projects/packages/codesniffer/changelog/fix-phpcompatibility-new-dev-sniff
  projects/packages/forms/changelog/fix-phpcompatibility-new-dev-sniff
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/plugins/crm/changelog/fix-phpcompatibility-new-dev-sniff
  projects/plugins/crm/includes/ZeroBSCRM.CSVImporter.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Export.php
  projects/plugins/jetpack/changelog/fix-phpcompatibility-new-dev-sniff
  projects/plugins/jetpack/changelog/fix-phpcompatibility-new-dev-sniff#2
  projects/plugins/jetpack/modules/stats.php
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Package] Codesniffer, [Plugin] Jetpack, [Plugin] CRM, [Package] Forms

#39589 Jetpack AI: change logo generator styles source
  projects/js-packages/ai-client/changelog/change-jetpack-ai-logo-generator-styles-source
  projects/js-packages/ai-client/src/hooks/use-image-generator/constants.ts
  projects/js-packages/ai-client/src/hooks/use-image-generator/index.ts
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
  projects/js-packages/ai-client/src/logo-generator/types.ts
  projects/plugins/jetpack/changelog/change-jetpack-ai-logo-generator-styles-source
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/blocks/ai-assistant/index.d.ts
  projects/plugins/jetpack/extensions/extended-blocks/core-site-logo/index.tsx
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Extension] AI Assistant

#39646 find_psr4_file: Quick exit if psr4_map is not populated
  projects/packages/autoloader/changelog/update-find_psr4_file
  projects/packages/autoloader/src/class-version-loader.php
Labels: [Focus] Performance, [Status] Ready to Merge, [Pri] Normal, [Package] Autoloader

#39511 WAF: Include waf_supported and automatic_rules_last_updated in the jetpack/v4/waf REST API endpoint response
  projects/packages/waf/changelog/add-waf-api-new-properties
  projects/packages/waf/src/class-rest-controller.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] WAF

#39658 Jetpack Sync: Add 'woocommerce_analytics_first_activation' in options' whitelist
  projects/packages/sync/changelog/update-jetpack-sync-whitelist
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/update-jetpack-sync-whitelist
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#39560 Image CDN: URL encode path parts
  projects/packages/image-cdn/changelog/fix-photon-url-encoding
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn_core.php
  projects/plugins/boost/changelog/fix-photon-url-encoding
  projects/plugins/jetpack/changelog/fix-photon-url-encoding
Labels: [Feature] Photon, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Boost, [Package] Image CDN, [Tests] Includes Tests

#39663 Sync: Don't sync set object terms action for blacklisted taxonomies
  projects/packages/sync/changelog/update-dont-sync-set-object-terms-action-for-blacklisted-taxonomies
  projects/packages/sync/src/modules/class-terms.php
Labels: [Status] Ready to Merge, [Package] Sync

#39657 Newsletter: change default reply-to option from "no reply" to "comments"
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/update-change-default-reply-to-option
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/modules/subscriptions/class-settings.php
Labels: [Feature] Subscriptions, [Feature] WPCOM API, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack

#39677 Sharing: register menu even when user is not connected to wpcom.
  projects/plugins/jetpack/changelog/fix-sharing-module-settings-non-connected-user
  projects/plugins/jetpack/modules/sharedaddy/sharing.php
Labels: [Type] Bug, [Feature] Sharing, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack

#39443 explat: Fix Phan issues
  projects/packages/explat/.phan/baseline.php
  projects/packages/explat/changelog/fix-phan-errors-in-packages-explat
  projects/packages/explat/src/class-rest-controller.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Explat

#39667 Fix/bug where connection banner shows in p2
  projects/packages/videopress/changelog/fix-bug-where-connection-banner-shows-in-p2
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/lib/connection/index.ts
Labels: [Status] Needs Team Review, [Package] VideoPress

#39638 Fix blogroll block unhelpful error when user not connected
  projects/plugins/jetpack/changelog/fix-blogroll-block-unhelpful-error-when-user-not-connected
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/connect-prompt/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/components/nudge-connect/index.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/edit.js
  projects/plugins/jetpack/extensions/shared/components/connect-banner/index.tsx
  projects/plugins/jetpack/extensions/shared/components/connect-banner/style.scss
  projects/plugins/jetpack/extensions/shared/components/upgrade-nudge/index.jsx
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Block] AI Chat, [Block] AI Assistant, [Block] Blogroll

#39612 My Jetpack: Fix recommendations VideoPress product card not showing "Purchase" button.
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/index.tsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-recommentations-videopress-card-cta
Labels: [Status] Needs Team Review, [Package] My Jetpack

#39647 Add/jetpack blocks add connection nudge where missing
  projects/plugins/jetpack/changelog/add-jetpack-blocks-add-connection-nudge-where-missing
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/payment-buttons.php
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Ready to Merge, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships, [Block] Payments Intro, [Block] Donations, [Block] Payment Buttons, [Block] Paywall

#39687 Fix/payment blocks connection banner showing on simple sites
  projects/plugins/jetpack/changelog/fix-payment-blocks-connection-banner-showing-on-simple-sites
  projects/plugins/jetpack/extensions/blocks/blogroll/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/shared/use-is-user-connected.ts
Labels: [Status] Needs Author Reply, [Block] Paid Content, [Plugin] Jetpack, [Block] Payments Intro, [Block] Donations, [Block] Payment Buttons, [Block] Paywall, [Block] Blogroll

#39691 Stats: Fix top post card on the Insight page
  projects/packages/stats-admin/changelog/fix-add-required-fields-to-stats-single-post-endpiont
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/fix-add-required-fields-to-stats-single-post-endpiont
  projects/plugins/mu-wpcom-plugin/changelog/fix-add-required-fields-to-stats-single-post-endpiont
  projects/plugins/wpcomsh/changelog/fix-add-required-fields-to-stats-single-post-endpiont
Labels: [Feature] Stats Data, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin, [Plugin] mu wpcom, Reviewer Can Merge, [Plugin] Wpcomsh

#39661 Social: Update the check to see if Bluesky is already connected
  projects/js-packages/publicize-components/changelog/fix-social-bluesky-already-connected
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39676 Add check to update post json api to handle null input type
  projects/plugins/jetpack/changelog/update-add-check-to-update-post-json-api-to-avoid-warning
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: [Feature] WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#39683 Prevent welcome tour keyboard navigation from hijacking left right keys on the editor
  projects/packages/jetpack-mu-wpcom/changelog/prevent-welcome-tour-keyboard-navigation-from-hijacking-left-right-keys-on-the-editor
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/components/keyboard-navigation.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/components/tour-kit-frame.tsx
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/hooks/use-keydown-handler.ts
Labels: [Status] Ready to Merge, [Package] Jetpack mu wpcom

#39130 Sync my jetpack's Boost page with Boost's getting started page
  projects/packages/my-jetpack/changelog/update-boost-getting-started-page-to-match-boost
  projects/packages/my-jetpack/src/products/class-boost.php
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/features/boost-pricing-table/boost-pricing-table.tsx
  projects/plugins/boost/app/assets/src/js/features/boost-pricing-table/lib/features.tsx
  projects/plugins/boost/app/assets/src/js/lib/stores/product.ts
  projects/plugins/boost/app/assets/src/js/pages/getting-started/getting-started.tsx
  projects/plugins/boost/app/lib/My_Jetpack.php
  projects/plugins/boost/app/lib/Premium_Pricing.php
  projects/plugins/boost/changelog/sync-getting-started-page-with-my-jetpack
  projects/plugins/boost/tests/php/class-my-jetpack.php
  projects/plugins/boost/wp-js-data-sync.php
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Package] My Jetpack, [Tests] Includes Tests

#39671 AI Client: change logo generator upgrade message
  projects/js-packages/ai-client/changelog/change-jetpack-ai-logo-generator-upgrade-message
  projects/js-packages/ai-client/src/logo-generator/components/upgrade-screen.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-fair-usage-notice-message.tsx
  projects/js-packages/components/changelog/change-jetpack-ai-logo-generator-upgrade-message
  projects/js-packages/components/tools/jp-redirect/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Components, [JS Package] AI Client

#39689 AI Client: add image styles auto and none
  projects/js-packages/ai-client/changelog/add-jetpack-ai-image-styles-auto-none
  projects/js-packages/ai-client/src/hooks/use-image-generator/constants.ts
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#39536 Jetpack AI: don't generate first logo without details
  projects/js-packages/ai-client/changelog/change-jetpack-ai-logo-first-generation-condition
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/history-carousel.tsx
  projects/js-packages/ai-client/src/logo-generator/components/logo-presenter.tsx
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-checkout.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#39701 rolling release: Add timestamp to version numbers
  .github/files/gh-autorelease/files/autorelease.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#38944 WAF: Avoid using Waf_Rules_Manager from Waf_Runner::initialize()
  projects/packages/waf/changelog/fix-waf-no-waf-rules-manager-call-in-standalone-mode
  projects/packages/waf/src/class-waf-cli.php
  projects/packages/waf/src/class-waf-constants.php
  projects/packages/waf/src/class-waf-rules-manager.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
  projects/packages/waf/tests/php/integration/test-waf-activation.php
  projects/plugins/debug-helper/changelog/fix-waf-no-waf-rules-manager-call-in-standalone-mode
  projects/plugins/debug-helper/modules/class-waf-helper.php
Labels: [Status] Needs Team Review, [Plugin] Debug Helper, [Package] WAF, [Tests] Includes Tests

#39421 eslint: Enable more react rules
  projects/js-packages/components/changelog/add-eslint-more-react-rules
  projects/js-packages/components/components/jetpack-footer/index.tsx
  projects/js-packages/connection/changelog/add-eslint-more-react-rules
  projects/js-packages/connection/components/connect-screen/basic/stories/index.stories.jsx
  projects/js-packages/connection/hooks/use-product-checkout-workflow/index.jsx
  projects/js-packages/publicize-components/changelog/add-eslint-more-react-rules
  projects/js-packages/publicize-components/src/components/social-post-modal/preview-section.tsx
  projects/js-packages/publicize-components/src/components/social-previews/threads.js
  projects/js-packages/shared-extension-utils/changelog/add-eslint-more-react-rules
  projects/js-packages/shared-extension-utils/src/hooks/use-module-status/index.js
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/changelog/add-eslint-more-react-rules
  projects/plugins/jetpack/changelog/add-eslint-more-react-rules#2
  projects/plugins/jetpack/extensions/blocks/story/player/progress-bar.js
  projects/plugins/jetpack/extensions/blocks/story/player/slide.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/upgrade-plan-banner.jsx
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/index.js
  projects/plugins/jetpack/extensions/shared/use-upgrade-flow/index.js
  tools/js-tools/eslintrc/react.js
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Pri] Normal, [Block] Story, [Plugin] Jetpack, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] Shared Extension Utils, [JS Package] Publicize Components, [Extension] AI Content Lens

#39551 jetpack: Render Slideshow block correctly in iframed editor
  projects/plugins/jetpack/changelog/fix-jetpack-slideshow-block-in-iframe-editor
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#39713 Goodreads Block: Make sure we check for id attribute in the goodreads block, when rendering
  projects/plugins/jetpack/changelog/fix-missing-id-args-goodreads-block
  projects/plugins/jetpack/extensions/blocks/goodreads/goodreads.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Goodreads

#39693 Added do_action_deprecated and apply_filters_deprecated to next versi…
  tools/replace-next-version-tag.sh
Labels: [Status] Ready to Merge, [Tools] Monorepo Setup

#39618 Infinite scroll added checks to validate input
  projects/plugins/jetpack/changelog/update-infinite-scroll-added-checks-to-validate-input
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
Labels: [Feature] Infinite Scroll, [Status] Needs Author Reply, [Plugin] Jetpack

#39695 Boost: Fix page cache e2e tests
  projects/plugins/boost/app/modules/optimizations/page-cache/Page_Cache_Setup.php
  projects/plugins/boost/changelog/fix-e2e-tests
  projects/plugins/boost/tests/e2e/lib/env/prerequisites.js
  projects/plugins/boost/tests/e2e/specs/page-cache/page-cache.test.js
Labels: [Status] In Progress, [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests, [Boost Feature] Page Cache

#39723 Critical CSS Gen: Add missing build folder for production
  projects/js-packages/critical-css-gen/.gitattributes
  projects/js-packages/critical-css-gen/changelog/fix-missing-build-folder
Labels: [Status] Needs Team Review, RNA, [JS Package] Critical Css Gen

#39685 Photon: avoid deprecation warnings when src is null
  projects/packages/image-cdn/changelog/fix-photon-deprecation-notice
  projects/packages/image-cdn/src/class-image-cdn.php
Labels: [Type] Bug, [Feature] Photon, [Pri] Low, [Status] Needs Team Review, [Plugin] Jetpack, [Focus] Compatibility, [Plugin] Boost, [Package] Image CDN

#39706 VideoPress: Add missing check for empty video_info on get_media_item_v1_1
  projects/plugins/jetpack/changelog/fix-empty-video-info-warning
  projects/plugins/jetpack/class.json-api-endpoints.php
Labels: [Status] In Progress, [Plugin] Jetpack

#39726 Backport Critical css gen 1.0.1
  projects/js-packages/critical-css-gen/CHANGELOG.md
  projects/js-packages/critical-css-gen/changelog/fix-missing-build-folder
  projects/js-packages/critical-css-gen/changelog/renovate-express-4.x
  projects/js-packages/critical-css-gen/package.json
Labels: Docs, [Status] Needs Team Review, RNA, [JS Package] Critical Css Gen

#39700 Newsletter: featured image settings UI defaults
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/fix-newsletter-featured-image-defaults
Labels: [Plugin] Jetpack

#39711 Post-migration Experience: Add the plugin review task
  projects/packages/jetpack-mu-wpcom/changelog/add-plugin-review-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39728 Backport boost 3.5.2-beta Changes
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/renovate-wordpress-monorepo
  projects/js-packages/licensing/package.json
  projects/packages/autoloader/CHANGELOG.md
  projects/packages/autoloader/changelog/update-find_psr4_file
  projects/packages/autoloader/src/AutoloadGenerator.php
  projects/packages/explat/CHANGELOG.md
  projects/packages/explat/changelog/fix-phan-errors-in-packages-explat
  projects/packages/explat/changelog/renovate-npm-cookie-vulnerability
  projects/packages/explat/changelog/renovate-wordpress-monorepo
  projects/packages/explat/package.json
  projects/packages/explat/src/class-explat.php
  projects/packages/image-cdn/CHANGELOG.md
  projects/packages/image-cdn/changelog/fix-photon-deprecation-notice
  projects/packages/image-cdn/changelog/fix-photon-url-encoding
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn_core.php
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/renovate-wordpress-monorepo
  projects/packages/jitm/src/class-jitm.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-my-jetpack-recommentations-videopress-card-cta
  projects/packages/my-jetpack/changelog/renovate-storybook-monorepo
  projects/packages/my-jetpack/changelog/renovate-wordpress-monorepo
  projects/packages/my-jetpack/changelog/update-boost-getting-started-page-to-match-boost
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/schema/CHANGELOG.md
  projects/packages/schema/changelog/renovate-mediawiki-mediawiki-codesniffer-44.x
  projects/packages/schema/src/class-schema.php
  projects/packages/wp-js-data-sync/CHANGELOG.md
  projects/packages/wp-js-data-sync/changelog/renovate-mediawiki-mediawiki-codesniffer-44.x
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-e2e-tests
  projects/plugins/boost/changelog/fix-photon-url-encoding
  projects/plugins/boost/changelog/improve-cdn-url-check
  projects/plugins/boost/changelog/prerelease
  projects/plugins/boost/changelog/prerelease#2
  projects/plugins/boost/changelog/renovate-lock-file-maintenance
  projects/plugins/boost/changelog/renovate-lock-file-maintenance#2
  projects/plugins/boost/changelog/renovate-storybook-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo#2
  projects/plugins/boost/changelog/sync-getting-started-page-with-my-jetpack
  projects/plugins/boost/changelog/update-exclude-shortcode-scripts
  projects/plugins/boost/changelog/update-my-jetpack-notice-mobile-style
  projects/plugins/boost/changelog/update-required-wp-version
  projects/plugins/boost/changelog/update-upgrade-page
  projects/plugins/boost/changelog/update-use-monorepo-css-gen-package
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Feature] Photon, Docs, [Status] Needs Review, [Status] Needs Team Review, [Package] Autoloader, [Package] Jitm, RNA, [Plugin] Boost, [JS Package] Licensing, [Package] My Jetpack, [Package] WP JS Data Sync, [Package] Image CDN, [Tests] Includes Tests, [Package] Explat, [Package] Schema

#39727 Added null check post status obj in sal site class
  projects/plugins/jetpack/changelog/update-added-null-check-post-status-obj-in-sal-site-class
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Status] Needs Review, [Plugin] Jetpack

#39708 eslint: Enable `@wordpress/no-base-control-with-label-without-id` rule
  projects/js-packages/publicize-components/changelog/add-eslint-wordpress-no-base-control-with-label-without-id
  projects/js-packages/publicize-components/src/components/generated-image-preview/index.js
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/social-image-generator/panel/modal.js
  projects/packages/forms/changelog/add-eslint-wordpress-no-base-control-with-label-without-id
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-width.js
  projects/packages/videopress/changelog/add-eslint-wordpress-no-base-control-with-label-without-id
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/uploader-editor.js
  projects/plugins/jetpack/changelog/add-eslint-wordpress-no-base-control-with-label-without-id
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/feedback-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-chat/controls.js
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapbox.js
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapkit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/configuration.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/controls.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/deprecated/v2/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
  projects/plugins/jetpack/extensions/blocks/videopress/uploading-editor/index.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/usage-bar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/shared/width-panel.js
  tools/js-tools/eslintrc/base.js
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Block] Map, [Block] Send a message, [Plugin] Jetpack, [Block] Contact Form, [Block] VideoPress, RNA, [Block] Pay With Paypal, [JS Package] Publicize Components, [Package] VideoPress, [Package] Forms, [Block] AI Chat, [Block] AI Assistant, [Extension] AI Assistant Plugin, [Extension] AI Content Lens

#39709 eslint: Enable `react/jsx-key` rule
  projects/js-packages/components/changelog/add-eslint-react-jsx-key
  projects/js-packages/components/components/button/stories/index.stories.tsx
  projects/js-packages/components/components/theme-provider/stories/index.stories.tsx
  projects/js-packages/connection/changelog/add-eslint-react-jsx-key
  projects/js-packages/connection/components/disconnect-survey/index.jsx
  projects/js-packages/publicize-components/changelog/add-eslint-react-jsx-key
  projects/js-packages/publicize-components/src/components/social-previews/instagram.js
  projects/js-packages/social-logos/changelog/add-eslint-react-jsx-key
  projects/js-packages/social-logos/src/react/example.tsx
  projects/packages/forms/changelog/add-eslint-react-jsx-key
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-table/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/changelog/add-eslint-react-jsx-key
  projects/packages/search/changelog/add-eslint-react-jsx-key
  projects/packages/search/src/instant-search/components/search-result-minimal.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/components/connection-banner/index.jsx
  projects/plugins/jetpack/changelog/add-eslint-react-jsx-key
  projects/plugins/jetpack/extensions/blocks/donations/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/opentable/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/opentable/deprecated/v2/index.js
  projects/plugins/jetpack/extensions/shared/components/block-nudge/index.jsx
  projects/plugins/protect/changelog/add-eslint-react-jsx-key
  projects/plugins/protect/src/js/routes/firewall/index.jsx
  tools/js-tools/eslintrc/react.js
Labels: [Feature] Contact Form, [Status] Needs Review, Admin Page, [Type] Janitorial, [Pri] Normal, [Block] OpenTable, [Plugin] Jetpack, [Block] Contact Form, RNA, [JS Package] Connection, [JS Package] Components, [Package] Search, [Package] My Jetpack, [Plugin] Protect, [Block] Donations, [JS Package] Publicize Components, [Package] Forms, [JS Package] Social Logos

#39725 Jetpack-mu-wpcom plugin banner - update copies
  projects/packages/jetpack-mu-wpcom/changelog/update-plugins-banner-copies
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-plugins/wpcom-plugins.php
Labels: [Status] Requires String Changes, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Plugins

#39736 eslint: Remove `jsx-a11y/label-has-associated-control` override
  projects/packages/jetpack-mu-wpcom/changelog/add-eslint-jsx-a11y-label-has-associated-control
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/src/recommended-tags-modal/form-label.tsx
  projects/packages/search/changelog/add-eslint-jsx-a11y-label-has-associated-control
  projects/packages/search/src/dashboard/components/mocked-search/mocked-instant-search.jsx
  projects/plugins/jetpack/_inc/client/components/select-dropdown/label.jsx
  projects/plugins/jetpack/changelog/add-eslint-jsx-a11y-label-has-associated-control
  tools/js-tools/eslintrc/base.js
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Search, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Block Editor Nux

#39652 WAF: Handle cases where outdated Waf_Rules_Manager has been autoloaded in standalone mode
  projects/packages/waf/changelog/fix-waf-autoloaded-runner-class-handling
  projects/packages/waf/src/class-compatibility.php
Labels: [Status] Needs Team Review, [Package] WAF

#39717 Jetpack Sync: Move 'jetpack_plugins_updated' action to shutdown
  projects/packages/sync/changelog/update-jetpack-sync-delay-jetpack_plugins_updated-hook
  projects/packages/sync/src/modules/class-plugins.php
  projects/plugins/jetpack/changelog/update-jetpack-sync-delay-jetpack_plugins_updated-hook
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-plugins-updates.php
Labels: [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#39642 Site Management Widget: Migrate to react
  projects/packages/jetpack-mu-wpcom/changelog/feat-dashboard-widget-react
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/index.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Management Widget, [mu wpcom Feature] Wpcom Dashboard Widgets

#39741 Revert "Site Management Widget: Migrate to react"
  projects/packages/jetpack-mu-wpcom/changelog/feat-dashboard-widget-react
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/index.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Type] Revert, [mu wpcom Feature] Wpcom Site Management Widget, [mu wpcom Feature] Wpcom Dashboard Widgets

#39742 Site Management Widget: Migrate to react (2nd try)
  projects/packages/jetpack-mu-wpcom/changelog/feat-dashboard-widget-react
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/index.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-site-management-widget/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Management Widget, [mu wpcom Feature] Wpcom Dashboard Widgets

#39740 Jetpack iCalendarReader: Fix Undefined array key Warnings
  projects/plugins/jetpack/_inc/lib/icalendar-reader.php
  projects/plugins/jetpack/changelog/fix-icalendar-reader-warnings
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#39705 Jetpack AI: fix first logo notice
  projects/js-packages/ai-client/changelog/change-jetpack-ai-first-logo-notice
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/store/constants.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
  projects/plugins/jetpack/changelog/change-jetpack-ai-first-logo-notice
  projects/plugins/jetpack/extensions/store/wordpress-com/constants.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/test/index.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Tests] Includes Tests, [JS Package] AI Client

#39712 AI Client: add style guessing and prompt processing
  projects/js-packages/ai-client/changelog/add-jetpack-ai-style-guessing
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/constants.ts
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
  projects/js-packages/ai-client/src/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#39743 Site Management Widget: Remove unused files
  projects/packages/jetpack-mu-wpcom/changelog/feat-dashboard-widget-react-follow-up
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-management-widget/class-wpcom-site-management-widget.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Management Widget, [mu wpcom Feature] Wpcom Dashboard Widgets

#39735 AI Assistant: Make Write Brief no longer flag single quotes as spelling errors
  projects/plugins/jetpack/changelog/fix-breve-spellcheck-ignore-single-quotes
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/spelling-mistakes/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#39737 Jetpack: optimize the 'admin_init' hook callback for Sharing module
  projects/plugins/jetpack/changelog/update-optimize-sharing-init-hook
  projects/plugins/jetpack/modules/sharedaddy/sharing.php
Labels: [Feature] Sharing, [Focus] Performance, [Status] In Progress, [Plugin] Jetpack

#39732 Add/editor blocks add tracks for connection banner
  projects/packages/videopress/changelog/add-editor-blocks-add-tracks-for-connection-banner
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/plugins/jetpack/changelog/add-editor-blocks-add-tracks-for-connection-banner
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/payment-buttons/edit.js
  projects/plugins/jetpack/extensions/blocks/payments-intro/edit.js
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/shared/components/connect-banner/index.tsx
  projects/plugins/videopress/changelog/add-editor-blocks-add-tracks-for-connection-banner
Labels: [Status] Needs Author Reply, [Block] Paid Content, [Plugin] Jetpack, [Block] Payments Intro, [Block] Donations, [Package] VideoPress, [Block] Payment Buttons, [Plugin] VideoPress, [Block] AI Chat, [Block] AI Assistant, [Block] Paywall, [Block] Blogroll

#39730 Related Posts: check for any single post without regard for post type.
  projects/plugins/jetpack/changelog/add-rp-support-on-pages
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, [Feature] Related Posts, [Status] Ready to Merge, [Pri] High, [Plugin] Jetpack

#39738 Social Notes: add support for the ActivityPub reply-to block when the plugin is present
  projects/plugins/social/changelog/add-reply-to-support-social-notes
  projects/plugins/social/src/class-note.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Social

#39703 Components: Migrate JetpackProtectLogo component from Jetpack Protect
  projects/js-packages/components/changelog/add-jetpack-protect-logo-component
  projects/js-packages/components/components/jetpack-protect-logo/README.md
  projects/js-packages/components/components/jetpack-protect-logo/index.tsx
  projects/js-packages/components/components/jetpack-protect-logo/stories/index.stories.tsx
  projects/js-packages/components/components/jetpack-protect-logo/test/component.tsx
  projects/js-packages/components/components/jetpack-protect-logo/types.ts
  projects/js-packages/components/index.ts
  projects/plugins/protect/changelog/use-logo-from-package
  projects/plugins/protect/src/js/components/admin-page/index.jsx
  projects/plugins/protect/src/js/components/logo/index.tsx
  projects/plugins/protect/src/js/components/logo/stories/index.stories.tsx
  projects/plugins/protect/src/js/routes/setup/index.jsx
Labels: [Status] In Progress, Docs, RNA, [JS Package] Components, [Plugin] Protect, [Tests] Includes Tests

#39674 Components: Migrate MarkedLines component from Jetpack Protect
  projects/js-packages/components/changelog/add-components-marked-lines
  projects/js-packages/components/components/marked-lines/README.md
  projects/js-packages/components/components/marked-lines/index.tsx
  projects/js-packages/components/components/marked-lines/stories/index.stories.tsx
  projects/js-packages/components/components/marked-lines/styles.module.scss
  projects/js-packages/components/index.ts
  projects/plugins/protect/changelog/add-components-marked-lines
  projects/plugins/protect/src/js/components/threats-list/paid-list.jsx
Labels: [Status] In Progress, Docs, RNA, [JS Package] Components, [Plugin] Protect

#39752 Update Autoloader docs to include more limitations.
  projects/packages/autoloader/README.md
  projects/packages/autoloader/changelog/update-docs-autoloader
Labels: Docs, [Status] Needs Review, [Package] Autoloader

#39731 VideoPress: Update VideoPress notice URL on Media Library
  projects/plugins/jetpack/changelog/fix-video-upload-media-notice
  projects/plugins/jetpack/modules/videopress/class.jetpack-videopress.php
Labels: [Feature] VideoPress, [Status] In Progress, [Plugin] Jetpack

#39763 Social Notes: ensure the filter does not impact other CPTs
  projects/plugins/social/changelog/fix-jetpack-social-notes-clobber-other-cpts
  projects/plugins/social/src/class-note.php
Labels: [Type] Bug, [Pri] BLOCKER, [Status] Needs Team Review, [Plugin] Social, Reviewer Can Merge

#39680 Post-migration Experience: Add "Connect your domain" task
  projects/packages/jetpack-mu-wpcom/changelog/add-domain-tasks-post-migration
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39672 Components: Migrate DiffViewer from Protect
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-diff-viewer-component
  projects/js-packages/components/components/diff-viewer/README.md
  projects/js-packages/components/components/diff-viewer/index.tsx
  projects/js-packages/components/components/diff-viewer/parse-filename.ts
  projects/js-packages/components/components/diff-viewer/parse-patch.ts
  projects/js-packages/components/components/diff-viewer/stories/index.stories.tsx
  projects/js-packages/components/components/diff-viewer/styles.module.scss
  projects/js-packages/components/index.ts
  projects/plugins/protect/changelog/add-diff-viewer-component
  projects/plugins/protect/package.json
  projects/plugins/protect/src/js/components/diff-viewer/index.jsx
  projects/plugins/protect/src/js/components/diff-viewer/stories/index.stories.jsx
  projects/plugins/protect/src/js/components/threats-list/paid-list.jsx
Labels: [Status] In Progress, Docs, [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Protect

#39714 JITM: Remove JITM from Jetpack Stats dashboard (Preparation to use embedded JITM)
  projects/packages/stats-admin/changelog/update-integration-jitm-in-stats
  projects/packages/stats-admin/src/class-main.php
Labels: [Status] Needs Team Review, [Package] Jitm, [Package] Stats Admin

#39765 Newsletter: Fix class not found error
  projects/plugins/jetpack/changelog/fix-class-not-found-error
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Status] In Progress, [Block] Subscriptions, [Plugin] Jetpack

#39688 Help Center: prevent excessive loading
  projects/packages/jetpack-mu-wpcom/changelog/help-center-prevent-excessive-loading
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#39681 Sync: avoid conflicts with other plugins using the filter
  projects/packages/sync/changelog/fix-sync-filter-null-array
  projects/packages/sync/src/modules/class-callables.php
  projects/plugins/automattic-for-agencies-client/changelog/fix-sync-filter-null-array
  projects/plugins/backup/changelog/fix-sync-filter-null-array
  projects/plugins/boost/changelog/fix-sync-filter-null-array
  projects/plugins/jetpack/changelog/fix-sync-filter-null-array
  projects/plugins/migration/changelog/fix-sync-filter-null-array
  projects/plugins/mu-wpcom-plugin/changelog/fix-sync-filter-null-array
  projects/plugins/protect/changelog/fix-sync-filter-null-array
  projects/plugins/search/changelog/fix-sync-filter-null-array
  projects/plugins/social/changelog/fix-sync-filter-null-array
  projects/plugins/starter-plugin/changelog/fix-sync-filter-null-array
  projects/plugins/videopress/changelog/fix-sync-filter-null-array
  projects/plugins/wpcomsh/changelog/fix-sync-filter-null-array
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync, [Pri] Normal, [Plugin] Jetpack, [Plugin] Backup, [Focus] Compatibility, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#39744 Map block: Add absolute positioning for container only when Mapkit is used
  projects/plugins/jetpack/changelog/fix-map-block-auto-height
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
  projects/plugins/jetpack/extensions/blocks/map/editor.scss
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#39770 Jetpack Sync: Update default Post Type Blacklist
  projects/packages/sync/changelog/update-sync-post-type-blacklst
  projects/packages/sync/src/class-defaults.php
Labels: [Focus] Performance, [Package] Sync, [Status] Needs Team Review

#39771 Boost: Backport 3.5.2 changes
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/backport-3.5.2-changes
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#39757 Verbum Comments: fix gravatar width in nested comments for block themes
  projects/packages/jetpack-mu-wpcom/changelog/fix-verbum-comment-gravatar-width
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/style.scss
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments

#39644 Newsletters: allow skipping subscription modals with URL query arg
  projects/plugins/jetpack/changelog/update-subscriptions-skip-modal
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
  projects/plugins/jetpack/modules/subscriptions/subscribe-overlay/subscribe-overlay.js
Labels: [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#39764 Post-migration experience: Add domain DNS task
  projects/packages/jetpack-mu-wpcom/changelog/add-domain-dns-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39758 Components: Migrate ThreatSeverityBadge from Jetpack Protect
  projects/js-packages/components/changelog/add-threat-severity-badge
  projects/js-packages/components/components/threat-severity-badge/index.tsx
  projects/js-packages/components/components/threat-severity-badge/stories/index.stories.tsx
  projects/js-packages/components/components/threat-severity-badge/styles.module.scss
  projects/js-packages/components/components/threat-severity-badge/test/index.test.tsx
  projects/js-packages/components/index.ts
  projects/plugins/protect/changelog/update-severity-badge-component-import-source
  projects/plugins/protect/src/js/components/ignore-threat-modal/index.jsx
  projects/plugins/protect/src/js/components/paid-accordion/index.jsx
  projects/plugins/protect/src/js/components/threat-fix-header/index.jsx
  projects/plugins/protect/src/js/components/unignore-threat-modal/index.jsx
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Components, [Plugin] Protect, [Tests] Includes Tests

#39766 Protect: Add a 30 second timeout argument to the threat history request
  projects/plugins/protect/changelog/add-protect-history-request-timeout
  projects/plugins/protect/src/class-scan-history.php
Labels: [Status] Needs Team Review, [Plugin] Protect

#39778 Protect: Convert useProtectData to TypeScript
  projects/plugins/protect/changelog/update-protect-use-protect-data-ts
  projects/plugins/protect/src/js/api.ts
  projects/plugins/protect/src/js/data/scan/use-history-query.ts
  projects/plugins/protect/src/js/hooks/use-protect-data/index.ts
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Protect

#39779 Tests: Use Ubuntu 22.04 runner for PHP 7.0 tests
  .github/files/generate-ci-matrix.php
  .github/workflows/tests.yml
Labels: [Status] Needs Review, Actions

#39768 Map block: Do not render the actual map if in block preview mode
  projects/plugins/jetpack/changelog/display-map-block-as-preview-if-in-block-preview-mode
  projects/plugins/jetpack/changelog/remove-preview-attribute-from-map-block
  projects/plugins/jetpack/extensions/blocks/map/block.json
  projects/plugins/jetpack/extensions/blocks/map/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/map/deprecated/v2/index.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/test/fixtures/jetpack__map.json
  projects/plugins/jetpack/extensions/blocks/map/test/fixtures/jetpack__map__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/map/test/fixtures/jetpack__map__deprecated-2.json
Labels: [Status] Needs Review, [Block] Map, [Plugin] Jetpack, [Tests] Includes Tests

#39784 Related Posts: only enable on all singular views in block themes
  projects/plugins/jetpack/changelog/update-related-posts-availability-singular-views
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Bug, [Feature] Related Posts, [Status] Needs Review, [Pri] High, [Plugin] Jetpack, [Block] Related Posts, [Focus] FSE

#39776 Post migration tasklist: Add/ssl provisioned task
  projects/packages/jetpack-mu-wpcom/changelog/add-ssl-provisioned-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39792 Social: Fix OG tag conflicts with Jetpack Beta
  projects/plugins/social/changelog/fix-social-og-tags-jetpack-dev-path
  projects/plugins/social/src/class-meta-tags.php
Labels: [Status] Needs Team Review, [Plugin] Social

#39782 Add/newsletter preview menu item
  projects/plugins/jetpack/changelog/add-newsletter-preview-menu-item
  projects/plugins/jetpack/extensions/blocks/subscriptions/editor.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#39793 Backport 14.0-a.5
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/update-related-posts-availability-singular-views
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Review, [Plugin] Jetpack

#39769 Post-migration Experience: Make the "Migrating the site" task complete by default
  projects/packages/jetpack-mu-wpcom/changelog/fix-migration-site-completed-by-default
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39803 Admin bar: Add reader icon tooltip
  projects/packages/jetpack-mu-wpcom/changelog/add-reader-admin-bar-menu-title
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#39809 My Jetpack: fix the 'Missing site connection' notice
  projects/packages/my-jetpack/changelog/fix-my-jetpack-missing-site-connection-notice
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Type] Bug, [Status] In Progress, [Package] My Jetpack

#39812 WAF: Handle undefined entrypoint constant
  projects/packages/waf/changelog/fix-waf-undefined-entrypoint-in-bootstrap
  projects/packages/waf/src/class-waf-standalone-bootstrap.php
Labels: [Type] Bug, [Pri] High, [Status] Needs Team Review, [Package] WAF

#39815 Newsletter: Fix "subscription_emails_use_excerpt" api.
  projects/plugins/jetpack/changelog/fix-newsletter-settings-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: [Feature] WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#39797 Social | Initial State: Migrate URLs on Social admin page
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-social-initial-state-migrate-urls-on-social-admin
  projects/js-packages/publicize-components/src/types/types.ts
  projects/js-packages/publicize-components/src/utils/index.js
  projects/packages/publicize/changelog/update-social-initial-state-migrate-urls-on-social-admin
  projects/packages/publicize/src/class-publicize-script-data.php
  projects/plugins/social/changelog/update-social-initial-state-migrate-urls-on-social-admin
  projects/plugins/social/package.json
  projects/plugins/social/src/js/components/admin-page/header/index.jsx
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
  projects/plugins/social/src/js/components/social-notes-toggle/index.tsx
  projects/plugins/social/src/js/components/types/types.ts
Labels: [Status] Needs Team Review, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#39814 Backport protect 3.1.1 Changes
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-my-jetpack-missing-site-connection-notice
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-waf-undefined-entrypoint-in-bootstrap
  projects/plugins/protect/CHANGELOG.md
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/readme.txt
Labels: Docs, [Status] Needs Review, [Package] My Jetpack, [Package] WAF, [Plugin] Protect, Reviewer Can Merge

#39799 Social | Initial State: Migrate URLs in the editor
  projects/js-packages/publicize-components/changelog/update-social-initial-state-migrate-urls-in-editor
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/connection-notice.tsx
  projects/js-packages/publicize-components/src/components/form/settings-button.tsx
  projects/js-packages/publicize-components/src/components/form/unsupported-connections-notice.tsx
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/site-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.test.js
  projects/js-packages/publicize-components/src/types/types.ts
  projects/plugins/jetpack/changelog/update-social-initial-state-migrate-urls-in-editor
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/controls.js
Labels: [Status] In Progress, [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#39790 Tests: Fix block performance tests
  .github/workflows/block-performance.yml
  pnpm-lock.yaml
  tools/e2e-commons/bin/performance.js
  tools/e2e-commons/package.json
Labels: [Status] Needs Review, Actions, E2E Tests

#39745 Jetpack outdated WP notices: avoid fatals on outdated WP versions
  projects/plugins/backup/changelog/revert-admin_notice_37051
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/jetpack/changelog/revert-admin_notice_37051
  projects/plugins/jetpack/jetpack.php
Labels: [Type] Bug, General, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Plugin] Backup

#39807 Story Block: be more defensive to avoid error in block previews
  projects/plugins/jetpack/changelog/fix-story-block-fatal
  projects/plugins/jetpack/extensions/blocks/story/player/modal/index.js
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] High, [Block] Story, [Plugin] Jetpack, [Focus] FSE

#39817 Fix site specific features passed to front-end for simple sites
  projects/js-packages/script-data/changelog/fix-site-specific-features-for-simple-sites
  projects/js-packages/script-data/src/utils.ts
  projects/packages/plans/changelog/fix-site-specific-features-for-simple-sites
  projects/packages/plans/src/class-current-plan.php
  projects/packages/publicize/changelog/fix-site-specific-features-for-simple-sites
  projects/packages/publicize/src/class-publicize-script-data.php
Labels: [Status] Needs Review, RNA, [Package] Publicize, [Package] Plans, [JS Package] Script Data

#39831 Boost: Remove unused setup prompt
  projects/plugins/boost/app/features/setup-prompt/Setup_Prompt.php
  projects/plugins/boost/app/features/setup-prompt/_inc/banner.php
  projects/plugins/boost/app/features/setup-prompt/_inc/dismiss-script.php
  projects/plugins/boost/changelog/remove-setup-prompt
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Setup Prompt

#39833 Boost: Implement partial cloud CSS regeneration
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/lib/Foundation_Pages.php
  projects/plugins/boost/app/lib/critical-css/Regenerate.php
  projects/plugins/boost/app/lib/critical-css/source-providers/Source_Providers.php
  projects/plugins/boost/app/lib/critical-css/source-providers/providers/WP_Core_Provider.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/Cloud_CSS.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/Cloud_CSS_Followup.php
Labels: [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Cloud CSS

#39840 Social | Fix Bluesky display name when it's not set in user profile
  projects/js-packages/publicize-components/changelog/fix-social-bluesky-display-name
  projects/js-packages/publicize-components/src/components/connection-management/connection-name.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39822 Story block: Prevent 'key is not a prop' warning in ProgressBullet component
  projects/plugins/jetpack/changelog/fix-story-block-key-prop-warning
  projects/plugins/jetpack/extensions/blocks/story/player/progress-bar.js
Labels: [Type] Bug, [Status] Ready to Merge, [Block] Story, [Plugin] Jetpack

#39821 Slideshow block: Modifying Slideshow block key indexes to prevent same key notice
  projects/plugins/jetpack/changelog/fix-slideshow-block-global-styles
  projects/plugins/jetpack/extensions/blocks/slideshow/slideshow.js
Labels: [Type] Bug, [Status] Ready to Merge, [Block] Slideshow, [Plugin] Jetpack

#39826 Fix Jetpack AI features control types
  projects/js-packages/ai-client/changelog/add-jetpack-ai-features-control-types
  projects/js-packages/ai-client/src/logo-generator/store/initial-state.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#39843 Added `studio-sync` WPCOM plan feature
  projects/plugins/wpcomsh/changelog/f26d-studio-sync-plan-feature
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Wpcomsh

#39845 Admin bar: Add help icon tooltip
  projects/packages/jetpack-mu-wpcom/changelog/add-help-admin-bar-menu-tooltip
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, [mu wpcom Feature] Wpcom Admin Bar

#39780 Protect: remove unused usePolling argument from credentials query hook
  projects/plugins/protect/changelog/fix-protect-credentials-refetch-interval
  projects/plugins/protect/src/js/data/use-credentials-query.ts
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Protect

#37722 Subscriptions: add a floating subscribe button
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/add-floating-subscribe-button
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/modules/subscriptions.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-floating-button/class-jetpack-subscribe-floating-button.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-floating-button/subscribe-floating-button.css
  projects/plugins/jetpack/modules/subscriptions/subscribe-overlay/subscribe-overlay.css
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Feature] Subscriptions, [Feature] WPCOM API, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#39846 AI Client: fix default initial state setting
  projects/js-packages/ai-client/changelog/fix-jetpack-ai-default-initial-state-setting
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/prompt.scss
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
  projects/js-packages/ai-client/src/logo-generator/store/actions.ts
  projects/js-packages/ai-client/src/logo-generator/store/reducer.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client
