Repository Automattic/jetpack, pull requests merged in 2024-09, with the labels that each got.

#39091 Point "Edit Profile" to /me when the user is not a member of the site
  projects/packages/jetpack-mu-wpcom/changelog/add-site-level-user-profile-entry-point130
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/class-wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/plugins/mu-wpcom-plugin/changelog/add-site-level-user-profile-entry-point
  projects/plugins/mu-wpcom-plugin/changelog/add-site-level-user-profile-entry-point#2
  projects/plugins/wpcomsh/changelog/add-site-level-user-profile-entry-point
  projects/plugins/wpcomsh/changelog/add-site-level-user-profile-entry-point#2
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Admin Bar

#39012 MU WPCOM: Disable the Open Graph Tags according to the privacy of the site
  projects/packages/jetpack-mu-wpcom/changelog/feat-disable-seo-tag-by-privacy
  projects/packages/jetpack-mu-wpcom/src/features/blog-privacy/blog-privacy.php
Labels: [Status] Needs Review, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Blog Privacy

#39174 AI Assistant: Add spelling mistakes check for English language
  projects/plugins/jetpack/changelog/update-jetpack-ai-spelling-mistakes-out-of-beta
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant Plugin

#39182 Social: Update feature description
  projects/plugins/social/changelog/update-social-feature-copy
  projects/plugins/social/src/js/components/pricing-page/index.js
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Social

#39157 Social: Add share status resharing
  projects/js-packages/publicize-components/changelog/add-social-share-status-resharing
  projects/js-packages/publicize-components/src/components/share-status/share-info.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-status-action.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39187 Replace `E_USER_ERROR` for PHP 8.4
  projects/packages/stub-generator/changelog/fix-e_user_error-deprecated-in-php-8.4
  projects/packages/stub-generator/tests/php/IntegrationTest.php
  projects/plugins/jetpack/changelog/fix-e_user_error-deprecated-in-php-8.4
  projects/plugins/jetpack/class.jetpack.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests, [Package] Stub Generator

#39146 tools: Improve speed of `tools/changelogger-release.sh`
  tools/changelogger-release.sh
  tools/check-intra-monorepo-deps.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#39169 Custom CSS: remove outdated link from admin menu
  projects/plugins/jetpack/changelog/fix-remove-outdated-custom-css-menu-item
  projects/plugins/jetpack/class.jetpack-admin.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack

#39047 Akismet/Anti-spam: always use Akismet logo in plugin header
  projects/plugins/jetpack/changelog/remove-jetpack-anti-spam-logo
  projects/plugins/jetpack/class.jetpack-admin.php
  projects/plugins/jetpack/images/products/logo-anti-spam.svg
Labels: [Status] Ready to Merge, [Feature] Akismet, [Plugin] Jetpack

#38877 Connection: Load connection JS bundle via connection PHP package
  pnpm-lock.yaml
  projects/js-packages/webpack-config/changelog/update-load-connection-js-bundle-via-connection-package
  projects/js-packages/webpack-config/src/webpack.js
  projects/packages/connection/changelog/update-load-connection-js-bundle-via-connection-package
  projects/packages/connection/package.json
  projects/packages/connection/src/class-connection-assets.php
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/js/jetpack-connection.js
  projects/packages/connection/webpack.config.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/update-load-connection-js-bundle-via-connection-package
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/search/changelog/update-load-connection-js-bundle-via-connection-package
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/social/changelog/update-load-connection-js-bundle-via-connection-package
  projects/plugins/social/tests/e2e/package.json
Labels: [Status] Needs Review, E2E Tests, [Package] Connection, [Plugin] Jetpack, RNA, [Plugin] Search, [JS Package] Webpack Config, [Plugin] Social, [Tests] Includes Tests

#39181 Launch Site-Level User Profile project
  projects/packages/jetpack-mu-wpcom/changelog/site-level-user-profile
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
  projects/packages/masterbar/changelog/site-level-user-profile
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/tests/php/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/changelog/slup-launch
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/wpcomsh/changelog/site-level-user-profile
  projects/plugins/wpcomsh/feature-plugins/masterbar.php
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Bar, [mu wpcom Feature] Wpcom Profile Settings

#38857 Add Store ID in common properties.
  projects/packages/woocommerce-analytics/changelog/tweak-woocommerce-analytics-storeid
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Status] Ready to Merge, [Feature] WooCommerce Analytics, [Plugin] Jetpack, [Package] WooCommerce Analytics

#39193 Boost: Update Boost pricing text
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/upgrade-cta.tsx
  projects/plugins/boost/changelog/update-boost-pricing-text
Labels: [Status] Needs Team Review, [Plugin] Boost

#39184 Social: Fix share status endpoint call feature check
  projects/js-packages/publicize-components/changelog/fix-social-share-status-endpoint-call-feature-check
  projects/js-packages/publicize-components/src/social-store/resolvers.js
Labels: [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39197 Boost: Post 3.4.8 release fixups
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/update-boost-post-3-4-8-fixes
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#39200 Content Options: Adding back an erroneously removed value from a get_post_metadata filter
  projects/packages/classic-theme-helper/changelog/fix-content-options-package-featured-image-filter
  projects/packages/classic-theme-helper/src/content-options/featured-images.php
Labels: [Feature] Theme Tools, [Status] Needs Team Review, [Package] Classic Theme Helper

#39183 Hosting Configuration: Make the menu title under the settings the same as the destination
  projects/packages/masterbar/changelog/feat-rename-hosting-config-under-settings
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
  projects/packages/masterbar/tests/php/test-class-atomic-admin-menu.php
  projects/packages/masterbar/tests/php/test-class-wpcom-admin-menu.php
  projects/plugins/jetpack/changelog/feat-rename-hosting-config-under-settings
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-atomic-admin-menu.php
  projects/plugins/jetpack/tests/php/modules/masterbar/test-class-wpcom-admin-menu.php
Labels: [Feature] Masterbar, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests, [Package] Masterbar

#39188 Subscriptions: Hook the Subscribe block only after single post content
  projects/plugins/jetpack/changelog/update-fix-subscription-after-post-content
  projects/plugins/jetpack/extensions/blocks/subscriptions/class-jetpack-subscription-site.php
Labels: [Type] Bug, [Status] In Progress, [Block] Subscriptions, [Plugin] Jetpack

#39199 Subscriptions: Fix Subscribe Modal spacing
  projects/plugins/jetpack/changelog/update-fix-subscribe-modal-spacing
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Jetpack

#39201 Fix connection assets for WPCOM Simple sites
  projects/packages/connection/actions.php
  projects/packages/connection/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/packages/connection/composer.json
  projects/packages/connection/src/class-manager.php
  projects/plugins/automattic-for-agencies-client/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/boost/composer.lock
  projects/plugins/inspect/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Package] Connection, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Plugin] Inspect, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#39171 Calipsoify: Remove legacy Calypso edit link redirects
  projects/packages/connection/changelog/remove-calypso-redirect-code-from-jetpack__construct
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/plugins/jetpack/_inc/lib/functions.wp-notify.php
  projects/plugins/jetpack/changelog/remove-calypso-redirect-code-from-jetpack__construct
  projects/plugins/jetpack/class.jetpack.php
Labels: [Focus] Performance, [Status] Ready to Merge, [Package] Connection, [Plugin] Jetpack

#39192 My Jetpack: add link to fair usage on limit renewal notice for Jetpack AI
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/changelog/add-jetpack-ai-product-page-fair-usage-link
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] My Jetpack

#39203 Jetpack: Show correct product name for "VaultPress Backup" in sidebar
  projects/plugins/jetpack/changelog/fix-jetpack-saying-vaultpress-not-vaultpress-backup
  projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Feature] Scan

#39205 Sync: Move check for IDC safe mode after check for connection
  projects/packages/sync/changelog/update-move-in_safe_mode-after-checkif-connected
  projects/packages/sync/src/class-actions.php
Labels: [Status] Ready to Merge, [Package] Sync

#39208 image-cdn: Avoid fatal on bad img width/height
  projects/packages/image-cdn/changelog/fix-image-cdn-fatal
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn.php
Labels: [Type] Bug, [Feature] Photon, [Status] Needs Review, [Pri] Normal, [Package] Image CDN, [Tests] Includes Tests

#38661 My Jetpack: add support for feature-specific handling to product interstitials
  projects/packages/my-jetpack/_inc/components/product-detail-table/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/constants.ts
  projects/packages/my-jetpack/changelog/add-my-jetpack-product-urls-by-feature
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-protect.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#39189 Change design task for Writing and Free flows
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-design-done
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] Ready to Merge, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#39007 Licensing: Add conditional Protect redirect post Scan license activation
  projects/js-packages/licensing/changelog/add-licensing-protect-redirect
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/index.jsx
  projects/js-packages/licensing/components/activation-screen-success-info/product-link/index.jsx
Labels: [Status] In Progress, RNA, [JS Package] Licensing

#39213 Backport changes for jetpack-image-cdn@0.4.8
  projects/packages/image-cdn/CHANGELOG.md
  projects/packages/image-cdn/src/class-image-cdn.php
Labels: [Feature] Contact Form, [Feature] Shortcodes / Embeds, [Feature] Photon, Docs, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [Package] Publicize, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [JS Package] Publicize Components, [Package] VideoPress, [Plugin] VideoPress, [Plugin] Migration, [Package] Forms, [Package] Jetpack mu wpcom, [Package] Image CDN, [Plugin] mu wpcom, [Tests] Includes Tests, [JS Package] AI Client, [Plugin] Wpcomsh

#39215 Remove change entry file left behind by #39213
  projects/packages/image-cdn/changelog/fix-image-cdn-fatal
Labels: [Feature] Photon, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Image CDN

#39204 Brief: Update empty helper text layout
  projects/plugins/jetpack/changelog/update-brief-write-help-text
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/breve.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#39219 Debug Helper: fix WPCOM request counter for repeated requests
  projects/plugins/debug-helper/changelog/fix-jetpack-debug-request-counter
  projects/plugins/debug-helper/modules/inc/class-wpcom-api-request-tracker.php
Labels: [Status] In Progress, [Plugin] Debug Helper

#39097 Subscriptions: Make Subscription overlay dismiss cookie a session cookie
  projects/plugins/jetpack/changelog/update-subscribe-modal-session-cookie
  projects/plugins/jetpack/modules/subscriptions/subscribe-overlay/subscribe-overlay.js
Labels: [Feature] Subscriptions, [Status] Needs Author Reply, [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack

#39081 Jetpack menu: only show to contributors and above.
  projects/packages/admin-ui/changelog/update-jetpack-admin-page-subscribers
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/packages/admin-ui/tests/php/test_admin_menu.php
  projects/plugins/jetpack/changelog/update-jetpack-admin-page-subscribers
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
Labels: Admin Page, [Status] Proposal, [Pri] Normal, [Plugin] Jetpack, [Package] Admin Ui, [Tests] Includes Tests

#39222 Boost: Post 3.4.9 fixes
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/prerelease#2
  projects/plugins/boost/changelog/update-boost-after-3.4.9
  projects/plugins/boost/changelog/update-boost-post-3-4-8-fixes
  projects/plugins/boost/changelog/update-page-cache-behavior-on-atomic
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Boost

#39220 Social: Fix resharing not shown when only social plugin is active
  projects/js-packages/publicize-components/changelog/fix-social-republicize-not-shown
  projects/js-packages/publicize-components/src/hooks/use-publicize-config/index.js
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Package] Plans, [JS Package] Publicize Components, [Tests] Includes Tests, [JS Package] Script Data

#39139 SSO: Show wp-admin login form if site has local users
  projects/plugins/wpcomsh/changelog/update-wpcom-sso-local-users
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#39223 Site Settings API: Include is_fully_managed_agency site option
  projects/plugins/jetpack/changelog/update-incl-is-fully-managed-agency-site-prop-in-site-settings-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
Labels: [Feature] WPCOM API, [Status] Needs Author Reply, [Plugin] Jetpack

#39194 Social: Improve polling for share status
  projects/js-packages/publicize-components/changelog/update-social-improve-polling-for-share-status
  projects/js-packages/publicize-components/src/components/post-publish-share-status/index.tsx
  projects/js-packages/publicize-components/src/components/post-publish-share-status/share-status.tsx
  projects/js-packages/publicize-components/src/social-store/actions/share-status.ts
  projects/js-packages/publicize-components/src/social-store/selectors/share-status.ts
  projects/js-packages/publicize-components/src/social-store/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39179 Jetpack: gracefully fail when user data fetch failed
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/changelog/fix-user-connection-card-no-data
  projects/plugins/jetpack/_inc/client/at-a-glance/connections.jsx
  projects/plugins/jetpack/changelog/fix-user-connection-card-no-data
Labels: [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Package] My Jetpack

#39156 Social: Poll for share status after reshare
  projects/js-packages/publicize-components/changelog/update-social-poll-for-share-status-after-reshare
  projects/js-packages/publicize-components/src/components/share-post/index.js
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39231 Fix the changelogger script.
  tools/changelogger-release.sh
Labels: [Status] Needs Review

#39079 Newsletter: Email Preview: Hide Access selector accordingly
  projects/plugins/jetpack/changelog/update-newsletter-email-preview-access-selector
  projects/plugins/jetpack/extensions/blocks/subscriptions/email-preview.js
Labels: [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#39238 Forms: check for private and password-protected posts when handling the contact form submissions
  projects/packages/forms/changelog/fix-contact-form-feedback-parsing
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
Labels: [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#38878 Fix syncing footnotes meta for core footnotes block
  projects/packages/sync/changelog/fix-sync-footnotes-meta
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/fix-sync-footnotes-meta
  projects/plugins/jetpack/tests/php/sync/class-test-jetpack-sync-search.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-meta.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Tests] Includes Tests

#39233 Jetpack Connection: Restrict handling verified errors on admin pages only
  projects/packages/connection/changelog/update-connection-handle-verified-errors-on-admin-init
  projects/packages/connection/src/class-error-handler.php
Labels: [Status] Ready to Merge, [Package] Connection

#39149 AI Client: add logo generator over quota notice
  projects/js-packages/ai-client/changelog/add-logo-ai-generator-over-quota-notice
  projects/js-packages/ai-client/src/logo-generator/components/fair-usage-notice.tsx
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/prompt.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-checkout.ts
  projects/js-packages/ai-client/src/logo-generator/hooks/use-fair-usage-notice-message.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
  projects/js-packages/ai-client/src/logo-generator/store/selectors.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client, [Extension] AI Assistant Plugin

#39234 Backport Jetpack 13.8 changes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] In Progress, Docs, [Plugin] Jetpack

#39235 Site Breadcrumbs: Prevent creation of jetpack_breadcrumbs function unless host is not WP.com
  projects/packages/classic-theme-helper/.phan/baseline.php
  projects/packages/classic-theme-helper/changelog/fix-site-breadcrumbs-prevent-wpcom-function-duplication
  projects/packages/classic-theme-helper/src/site-breadcrumbs.php
Labels: [Feature] Theme Tools, [Status] Ready to Merge, [Package] Classic Theme Helper

#39216 AI Assistant: Remove autofocus on extended blocks while previewing
  projects/plugins/jetpack/changelog/fix-jetpack-ai-preview-focus
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/with-ai-extension.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant

#39240 wpcomsh: Defensive coding around array key
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-ref-invalid-key
  projects/plugins/wpcomsh/feature-plugins/full-site-editing.php
Labels: [Status] Needs Review, [Plugin] Wpcomsh

#39244 AI Client: add logo generator placeholder components
  projects/js-packages/ai-client/changelog/fix-ai-logo-generator-loading-states
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
  projects/js-packages/ai-client/src/logo-generator/components/history-carousel.tsx
  projects/js-packages/ai-client/src/logo-generator/components/logo-presenter.tsx
  projects/js-packages/ai-client/src/logo-generator/hooks/use-logo-generator.ts
  projects/js-packages/ai-client/src/logo-generator/store/actions.ts
  projects/js-packages/ai-client/src/logo-generator/store/constants.ts
  projects/js-packages/ai-client/src/logo-generator/store/reducer.ts
  projects/js-packages/ai-client/src/logo-generator/store/selectors.ts
  projects/js-packages/ai-client/src/logo-generator/store/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#39224 Add text-overflow: ellipsis to the admin menu
  projects/packages/masterbar/changelog/add-admin-menu-site-title-ellipsis
  projects/packages/masterbar/src/admin-menu/admin-menu.css
Labels: [Status] In Progress, [Feature] Masterbar, [Package] Masterbar

#39249 Adjustments to pagination design and accessibility
  projects/plugins/protect/src/js/components/threats-list/pagination.jsx
  projects/plugins/protect/src/js/components/threats-list/styles.module.scss
Labels: [Status] In Progress, [Plugin] Protect

#39058 Protect: Add FreeList and PaidList pagination
  projects/plugins/protect/changelog/add-protect-threats-list-pagination
  projects/plugins/protect/src/js/components/threats-list/free-list.jsx
  projects/plugins/protect/src/js/components/threats-list/pagination.jsx
  projects/plugins/protect/src/js/components/threats-list/paid-list.jsx
  projects/plugins/protect/src/js/components/threats-list/styles.module.scss
Labels: [Status] Ready to Merge, [Plugin] Protect

#39221 Fix script data not available in block editor iframe
  projects/packages/assets/changelog/fix-script-data-not-available-in-editor-iframe
  projects/packages/assets/src/class-script-data.php
Labels: [Status] In Progress, [Status] Needs Review, [Package] Assets

#39202 Boost: remove WP Super Cache promos from settings page
  projects/plugins/boost/app/assets/src/js/features/super-cache-info/lib/hooks.ts
  projects/plugins/boost/app/assets/src/js/features/super-cache-info/super-cache-info.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/lib/Super_Cache_Info.php
  projects/plugins/boost/changelog/update-boost-remove-super-cache-promo
  projects/plugins/boost/wp-js-data-sync.php
Labels: [Status] Needs Team Review, [Plugin] Boost

#39227 Social: Change publicize endpoint to handle async
  projects/js-packages/publicize-components/changelog/add-social-publicize-endpoint-async-option
  projects/js-packages/publicize-components/src/components/share-post/index.js
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
  projects/packages/publicize/changelog/add-social-publicize-endpoint-async-option
  projects/packages/publicize/src/class-rest-controller.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-publicize-share-post.php
  projects/plugins/jetpack/changelog/add-social-publicize-endpoint-async-option
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, RNA, [Package] Publicize, [JS Package] Publicize Components

#39241 Backport changes for forms 0.32.12
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/fix-contact-form-feedback-parsing
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
Labels: [Feature] Contact Form, [Feature] Shortcodes / Embeds, [Feature] Photon, Docs, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Backup, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] Search, [Package] My Jetpack, [Package] Publicize, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Package] Ad, [JS Package] Publicize Components, [Package] VideoPress, [Plugin] VideoPress, [Plugin] Migration, [Package] Forms, [Package] Jetpack mu wpcom, [Package] Image CDN, [Plugin] mu wpcom, [Tests] Includes Tests, [JS Package] AI Client, [Plugin] Wpcomsh

#39246 JPO: Do not check if the user is onboarding when loading modules
  projects/plugins/jetpack/changelog/remove-jetpack_onboarding-get_option-from-frontend
  projects/plugins/jetpack/class.jetpack.php
Labels: [Focus] Performance, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#39117 Add full sync default modules list filter.
  projects/packages/sync/changelog/add-default-full-sync-config-filter
  projects/packages/sync/src/modules/class-full-sync-immediately.php
Labels: [Status] Needs Review, [Package] Sync

#39256 Jetpack REST API: Fix missing requirement in admin-menu endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/fix-rest-api-admin-menu-endpoint
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack

#39229 Jetpack: Deprecate Jetpack Onboarding system
  projects/packages/connection/changelog/update-remove-jpo
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/packages/status/changelog/update-remove-jpo
  projects/packages/status/src/class-modules.php
  projects/packages/status/src/class-status.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/update-remove-jpo
  projects/plugins/jetpack/class-jetpack-xmlrpc-methods.php
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/tests/php/_inc/lib/test_class.rest-api-endpoints.php
  projects/plugins/jetpack/tests/php/general/test_class.jetpack-xmlrpc-server.php
  tools/partner-provision.sh
Labels: [Focus] Performance, [Status] Needs Review, [Package] Status, [Package] Connection, [Plugin] Jetpack, [Tests] Includes Tests

#39214 ci: Check that React-using projects use react eslint rules
  .github/files/lint-project-structure.sh
  projects/js-packages/ai-client/.eslintrc.cjs
  projects/js-packages/ai-client/changelog/add-structure-lint-eslint-react
  projects/js-packages/react-data-sync-client/.eslintrc.cjs
  projects/js-packages/react-data-sync-client/changelog/add-structure-lint-eslint-react
  projects/js-packages/scan/.eslintrc.cjs
  projects/js-packages/scan/changelog/add-structure-lint-eslint-react
  projects/js-packages/social-logos/.eslintrc.cjs
  projects/js-packages/social-logos/changelog/add-structure-lint-eslint-react
  projects/js-packages/social-logos/src/react/example.tsx
  projects/packages/assets/.eslintrc.cjs
  projects/packages/assets/changelog/add-structure-lint-eslint-react
  projects/packages/blaze/.eslintrc.js
  projects/packages/blaze/changelog/add-structure-lint-eslint-react
  projects/packages/blaze/src/js/editor.js
  projects/packages/connection/.eslintrc.cjs
  projects/packages/connection/changelog/add-structure-lint-eslint-react
  projects/packages/videopress/.eslintrc.js
  projects/packages/videopress/changelog/add-structure-lint-eslint-react
  projects/packages/yoast-promo/.eslintrc.js
  projects/packages/yoast-promo/changelog/add-structure-lint-eslint-react
  projects/packages/yoast-promo/src/js/index.jsx
  projects/plugins/boost/.eslintrc.cjs
  projects/plugins/boost/changelog/add-structure-lint-eslint-react
  projects/plugins/crm/.eslintrc.js
  projects/plugins/crm/changelog/add-structure-lint-eslint-react
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Package] Connection, [Package] Assets, RNA, [Plugin] Boost, [Package] VideoPress, [Package] Blaze, [Plugin] CRM, [Package] Yoast Promo, [JS Package] AI Client, [JS Package] React Data Sync Client, [JS Package] Scan, [JS Package] Social Logos

#39242 Fix/translation issue
  projects/packages/videopress/changelog/fix-translation-issue
  projects/packages/videopress/src/class-stats.php
Labels: [Status] Needs Author Reply, [Package] VideoPress

#39257 tools: release-plugin: Better guidance for existing prerelease branch
  tools/release-plugin.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal

#39252 Jetpack 13.8 Readme & Version Updates
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack

#39261 Jetpack Debug: add Broken XML-RPC module
  projects/plugins/debug-helper/.phan/baseline.php
  projects/plugins/debug-helper/changelog/add-jetpack-debug-broken-xmlrpc
  projects/plugins/debug-helper/class-admin.php
  projects/plugins/debug-helper/modules/class-xmlrpc-blocker.php
  projects/plugins/debug-helper/plugin.php
Labels: [Status] In Progress, [Plugin] Debug Helper

#39251 My Jetpack: Move manage connection link
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/styles.module.scss
  projects/packages/my-jetpack/_inc/components/connection-status-card/test/component.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/types.ts
  projects/packages/my-jetpack/changelog/update-myjetpack-connection-link
Labels: [Status] Needs Author Reply, [Package] My Jetpack, [Tests] Includes Tests

#39262 Protect WAF: Ensure request body is parsed correctly
  projects/packages/waf/changelog/fix-waf-request-post-data
  projects/packages/waf/src/class-waf-request.php
  projects/packages/waf/tests/php/unit/test-waf-request.php
Labels: [Status] Needs Author Reply, [Package] WAF, [Tests] Includes Tests

#39263 Backport protect 3.0.1 Changes
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/update-myjetpack-connection-link
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/transport-helper/CHANGELOG.md
  projects/packages/transport-helper/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/packages/transport-helper/changelog/try-no-version-bumps-in-trunk
  projects/packages/transport-helper/package.json
  projects/packages/transport-helper/src/class-package-version.php
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-waf-request-post-data
  projects/packages/waf/changelog/force-a-release
  projects/plugins/protect/CHANGELOG.md
  projects/plugins/protect/changelog/add-eslint-array-callback-return
  projects/plugins/protect/changelog/add-filter-for-filtered-order-data
  projects/plugins/protect/changelog/add-more-eslint-rules
  projects/plugins/protect/changelog/add-new-sync-active-modules-callable
  projects/plugins/protect/changelog/add-protect-hide-autofix-col
  projects/plugins/protect/changelog/add-protect-progress-bar-background
  projects/plugins/protect/changelog/add-protect-threats-list-pagination
  projects/plugins/protect/changelog/fix-connection-assets-for-wpcom-simple-sites
  projects/plugins/protect/changelog/fix-my-jetpack-currency
  projects/plugins/protect/changelog/fix-protect-delete-relevant-options-on-deactivation
  projects/plugins/protect/changelog/fix-protect-global-stats-access
  projects/plugins/protect/changelog/fix-protect-manual-scans-button-loading-state
  projects/plugins/protect/changelog/fix-protect-typo
  projects/plugins/protect/changelog/fix-scan-history-details-fixed-on-date
  projects/plugins/protect/changelog/prerelease
  projects/plugins/protect/changelog/prerelease#2
  projects/plugins/protect/changelog/prerelease#3
  projects/plugins/protect/changelog/prerelease#4
  projects/plugins/protect/changelog/prerelease#5
  projects/plugins/protect/changelog/prerelease#6
  projects/plugins/protect/changelog/remove-eslintrc-unneeded-parseroptions
  projects/plugins/protect/changelog/remove-protect-waf-upgrade-when-unsupported
  projects/plugins/protect/changelog/renovate-definitelytyped
  projects/plugins/protect/changelog/renovate-lock-file-maintenance
  projects/plugins/protect/changelog/renovate-npm-webpack-vulnerability
  projects/plugins/protect/changelog/renovate-wordpress-monorepo
  projects/plugins/protect/changelog/renovate-wordpress-monorepo#2
  projects/plugins/protect/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/plugins/protect/changelog/revert-svg-image-optimizations
  projects/plugins/protect/changelog/try-lossless-image-optmization-part-3
  projects/plugins/protect/changelog/try-no-version-bumps-in-trunk
  projects/plugins/protect/changelog/update-allow-list-settings-access
  projects/plugins/protect/changelog/update-connection-initial-state
  projects/plugins/protect/changelog/update-jetpack-menu-item-order
  projects/plugins/protect/changelog/update-jsdoc-comments-for-wp-coding-standards
  projects/plugins/protect/changelog/update-my-jetpack-protect-card-waf-dependency
  projects/plugins/protect/changelog/update-protect-disable-ignore-button-when-fixer-in-progress
  projects/plugins/protect/changelog/update-protect-hide-allow-lists-when-disabled
  projects/plugins/protect/changelog/update-sync-hpos-add-shop-subscription-to-types
  projects/plugins/protect/composer.json
  projects/plugins/protect/jetpack-protect.php
  projects/plugins/protect/readme.txt
Labels: Docs, [Status] Needs Review, [Package] My Jetpack, [Package] WAF, [Plugin] Protect, [Package] Transport Helper, Reviewer Can Merge

#39230 Social: Update share status modal to use Dataviews component
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-social-share-status-modal-to-use-dataviews
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/share-status/share-info.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-list.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-status-action.tsx
  projects/js-packages/publicize-components/src/components/share-status/shares-dataview.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39265 Social: Add polling flag for share status for better UI
  projects/js-packages/publicize-components/changelog/add-social-polling-flag-for-share-status
  projects/js-packages/publicize-components/src/components/post-publish-share-status/share-status.tsx
  projects/js-packages/publicize-components/src/social-store/actions/constants.ts
  projects/js-packages/publicize-components/src/social-store/actions/share-status.ts
  projects/js-packages/publicize-components/src/social-store/reducer/share-status.ts
  projects/js-packages/publicize-components/src/social-store/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38995 autoloader: Add debug checks for common confusing situations
  projects/packages/autoloader/.phan/config.php
  projects/packages/autoloader/README.md
  projects/packages/autoloader/changelog/try-autoloader-check-for-confusing-situations
  projects/packages/autoloader/changelog/try-autoloader-check-for-confusing-situations#2
  projects/packages/autoloader/src/class-autoloader.php
  projects/packages/autoloader/src/class-latest-autoloader-guard.php
  projects/packages/autoloader/src/class-php-autoloader.php
  projects/packages/autoloader/src/class-version-loader.php
  projects/packages/autoloader/tests/php/lib/functions-wordpress.php
Labels: [Type] Enhancement, [Status] In Progress, Docs, [Status] Proposal, [Pri] Normal, [Tests] Needs Tests, [Package] Autoloader, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] CRM, [Tests] Includes Tests, [Plugin] Inspect, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin

#39270 Options: Do not throw warning if a Jetpack Option is not available
  projects/packages/connection/changelog/update-do-not-show-warning-if-jetpack-option-is-not-available
  projects/packages/connection/legacy/class-jetpack-options.php
Labels: [Status] Ready to Merge, [Package] Connection

#39248 Fix: Don't show AI editing excerpt UI on patterns, templates/parts.
  projects/plugins/jetpack/changelog/fix-dont-show-excerpt-ai-UI-on-patterns-templates-and-template-parts
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Extension] AI Content Lens

#39272 Status Do not use _deprecated_function when deprecating is_onboarding
  projects/packages/status/changelog/update-remove_call_to__deprecated_function-in-Status-is_onboarding
  projects/packages/status/src/class-status.php
Labels: [Status] Ready to Merge, [Package] Status

#39271 Added checks for unexpected contact form entries.
  projects/packages/forms/changelog/fix-contact-form-errors
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Package] Forms

#39245 AI Assistant: Remove dead code from transformative extensions
  projects/plugins/jetpack/changelog/update-jetpack-ai-remove-old-extensions
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-toolbar-dropdown/dropdown-content.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/ai-assistant-toolbar-dropdown/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/editor.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/ai-assistant/with-ai-assistant.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/components/ai-assistant-input/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/components/ai-assistant-input/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/components/ai-assistant-toolbar-dropdown/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/constants.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/get-block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/heading/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-bar/style.scss
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/components/ai-assistant-toolbar-button/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/constants.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/ui-handler/context.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-contact-form/ui-handler/with-ui-handler-data-provider.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-form/children.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/jetpack-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/lib/is-possible-to-extend-block.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/list-item/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/list/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/paragraph/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/types.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/with-ai-extension.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-transform-to-assistant/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/supports/Readme.md
  projects/plugins/jetpack/extensions/blocks/ai-assistant/supports/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/transforms/index.tsx
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant, [Extension] AI Content Lens

#39276 My Jetpack: remove typed parameter on Jetpack AI create post link
  projects/packages/my-jetpack/changelog/fix-ai-use-block-default-content-filter
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] My Jetpack

#39279 Disable terser conditional optimization
  projects/js-packages/i18n-check-webpack-plugin/README.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/fix-etk-translation-issues
  projects/js-packages/i18n-check-webpack-plugin/tests/__snapshots__/build.test.js.snap
  projects/js-packages/webpack-config/changelog/fix-etk-translation-issues
  projects/js-packages/webpack-config/src/webpack/terser.js
Labels: [Status] Needs Author Reply, Docs, [Status] Needs Team Review, RNA, [JS Package] Webpack Config, [JS Package] I18n Check Webpack Plugin, [Tests] Includes Tests

#39280 Revert "Disable terser conditional optimization"
  projects/js-packages/i18n-check-webpack-plugin/README.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/fix-etk-translation-issues
  projects/js-packages/i18n-check-webpack-plugin/tests/__snapshots__/build.test.js.snap
  projects/js-packages/webpack-config/changelog/fix-etk-translation-issues
  projects/js-packages/webpack-config/src/webpack/terser.js
Labels: [Status] Needs Author Reply, Docs, RNA, [JS Package] Webpack Config, [JS Package] I18n Check Webpack Plugin, [Tests] Includes Tests, [Type] Revert

#39281 Jetpack AI: Add fair usage link to interstitial on My Jetpack
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/index.jsx
  projects/packages/my-jetpack/changelog/update-jetpack-ai-add-fair-usage-link-to-interstitial
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#39283 Debug Helper: add a button to clear IDC
  projects/plugins/debug-helper/changelog/add-debug-helper-clean-idc
  projects/plugins/debug-helper/modules/class-idc-simulator.php
Labels: [Status] In Progress, [Plugin] Debug Helper

#39290 Admin bar: update 'My Account' link to /me
  projects/packages/jetpack-mu-wpcom/changelog/my-account-url
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#39198 Social: Add share status modal tracking
  projects/js-packages/publicize-components/changelog/add-social-share-status-modal-tracking
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/components/post-publish-share-status/share-status.tsx
  projects/js-packages/publicize-components/src/components/share-status/modal-trigger.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-status-action.tsx
  projects/js-packages/publicize-components/src/components/share-status/shares-dataview.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39291 Social: Fix issues with share status retry UI and logic
  projects/js-packages/publicize-components/changelog/fix-social-share-status-retry
  projects/js-packages/publicize-components/src/components/share-status/retry.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-status-action.tsx
  projects/js-packages/publicize-components/src/components/share-status/shares-dataview.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/js-packages/publicize-components/src/utils/share-status.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39254 Sync: Enable full sync immediately for woocommerce module
  projects/packages/sync/changelog/updates-sync-woo-commerce-module-enable-full-sync-immediately
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/modules/class-comments.php
  projects/packages/sync/src/modules/class-module.php
  projects/packages/sync/src/modules/class-posts.php
  projects/packages/sync/src/modules/class-term-relationships.php
  projects/packages/sync/src/modules/class-terms.php
  projects/packages/sync/src/modules/class-users.php
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
  projects/packages/sync/src/modules/class-woocommerce.php
Labels: [Status] Needs Review, [Status] Ready to Merge, [Package] Sync

#39284 Jetpack: fix the 'invalid date' error on new site stats
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/changelog/fix-stats-best-day-new-site
Labels: [Status] Needs Review, Admin Page, [Plugin] Jetpack

#39296 Jetpack Sync: Stop syncing 'automatic_updates_complete' actions
  projects/packages/sync/changelog/update-sync-remove-automatic_updates_complete-action
  projects/packages/sync/src/modules/class-updates.php
  projects/plugins/jetpack/changelog/update-sync-remove-automatic_updates_complete-action
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-updates.php
Labels: [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#39292 AI Content Lens: Fix the AI Excerpt is missing from the Post Editor
  projects/plugins/jetpack/changelog/fix-missing-ai-content-lens
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/lib/can-ai-assistant-be-enabled.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/lib/is-possible-to-extend-block.ts
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/editor.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Content Lens

#39282 Write Brief: Fix highlight position on spelling mistake following ignored special word
  projects/plugins/jetpack/changelog/fix-jetpack-ai-spelling-mistake-position
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/spelling-mistakes/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#39300 Remove the mu-wpcom-plugin weekly and monthly prefix.
  projects/plugins/mu-wpcom-plugin/changelog/remove-mu-wpcom-plugin-weekly-monthly-prefix
  projects/plugins/mu-wpcom-plugin/changelog/remove-mu-wpcom-plugin-weekly-monthly-prefix#2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  tools/release-plugin.sh
Labels: [Status] Needs Review, [Plugin] mu wpcom

#39294 Social: Add resharing share status
  projects/js-packages/publicize-components/changelog/add-social-resharing-share-status
  projects/js-packages/publicize-components/src/components/panel/index.jsx
  projects/js-packages/publicize-components/src/components/post-publish-share-status/share-status.tsx
  projects/js-packages/publicize-components/src/components/resharing-panel/index.tsx
  projects/js-packages/publicize-components/src/components/resharing-panel/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39313 wpcomsh: Update wc-calypso-bridge to 2.6.0
  projects/plugins/wpcomsh/changelog/update-wpcomsh-wc-calypso-bridge-2.6.0
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#39297 Sync: Enable Full Sync for woocommerce_hpos_order module
  projects/packages/sync/changelog/update-sync-enable-hpos-module-full-sync
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
Labels: [Status] Ready to Merge, [Package] Sync, [Temp] WooCommerce HPOS Compatibility

#39306 woocommerce-analytics: Check `WC_Install::STORE_ID_OPTION` before using it
  projects/packages/woocommerce-analytics/changelog/fix-undefined-WC_Install-STORE_ID_OPTION
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#39321 repo-gardening: Update release timing information
  projects/github-actions/repo-gardening/changelog/update-gardening-release-timing
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#39286 Jetpack: optimize the way we initialize ToS
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-admin-page.php
  projects/plugins/jetpack/changelog/update-jetpack-tos-initialization
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/src/class-tracking.php
Labels: [Focus] Performance, [Status] Needs Review, [Package] Connection, [Plugin] Jetpack

#39328 Revert "Blocks: determine block names from filename convention instead of disk access (#39307)
  projects/packages/blocks/changelog/add-get_block_name_from_path_convention
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/add-get_block_name_from_path_convention
  projects/plugins/jetpack/tests/php/general/test-class.jetpack-gutenberg.php
Labels: [Status] Needs Team Review, [Package] Blocks, [Plugin] Jetpack, [Tests] Includes Tests, [Type] Revert

#39329 Blocks: determine block names from filename convention instead of disk access (2)
  projects/packages/blocks/changelog/add-get_block_name_from_path_convention
  projects/packages/blocks/src/class-blocks.php
  projects/packages/blocks/tests/php/test-blocks.php
  projects/plugins/jetpack/changelog/add-get_block_name_from_path_convention
  projects/plugins/jetpack/tests/php/general/test-class.jetpack-gutenberg.php
Labels: [Status] Needs Team Review, [Package] Blocks, [Plugin] Jetpack, [Tests] Includes Tests

#39323 Jetpack AI: fix checkout URL
  projects/plugins/jetpack/changelog/fix-jetpack-ai-simple-sites-checkout
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-checkout/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#39336 WPCOMSH change call to wpcom_get_site_purchases after faster checks
  projects/plugins/wpcomsh/changelog/change-wpcom-purchases-check-order
  projects/plugins/wpcomsh/wpcom-features/functions-wpcom-features.php
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant, [Extension] AI Assistant Plugin, [Plugin] Wpcomsh

#39334 My Jetpack: Only add the My Jetpack menu item and page if we are in the WordPress admin side
  projects/packages/my-jetpack/changelog/update-my-jetpack-menu-item-and-page-loading-order
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Focus] Performance, [Status] Needs Review, [Package] My Jetpack

#38587 Social: Clean up media auto-conversion backend logic
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/update-social-clean-up-media-auto-conversion-backend-logic
  projects/packages/publicize/src/auto-conversion-settings/class-rest-settings-controller.php
  projects/packages/publicize/src/auto-conversion-settings/class-settings.php
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/src/jetpack-social-settings/class-dismissed-notices.php
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
  projects/packages/publicize/tests/php/jetpack-social-settings/test-auto-conversion.php
  projects/packages/publicize/tests/php/jetpack-social-settings/test-jetpack-social-settings.php
  projects/packages/sync/changelog/update-social-clean-up-media-auto-conversion-backend-logic
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/update-social-clean-up-media-auto-conversion-backend-logic
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/social/changelog/update-social-clean-up-media-auto-conversion-backend-logic
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Status] In Progress, [Package] Sync, [Plugin] Jetpack, RNA, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Package] Publicize, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [JS Package] Publicize Components, [Package] VideoPress, [Plugin] VideoPress, [Plugin] Migration, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [JS Package] AI Client, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#39293 Social: Update share status to start polling on retry and show spinner
  projects/js-packages/publicize-components/changelog/update-social-share-status-show-spinner-on-retry
  projects/js-packages/publicize-components/src/components/share-status/retry.tsx
  projects/js-packages/publicize-components/src/components/share-status/share-list.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/js-packages/publicize-components/src/utils/share-status.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39312 Admin bar: fix paddings around wpcom and reader logos
  projects/packages/jetpack-mu-wpcom/changelog/admin-bar-consistency
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#39259 Launchpad: "first_post_published" task links to first post if you have one
  projects/packages/jetpack-mu-wpcom/changelog/feat-launchpad_draft_post
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, Groundskeeping

#39342 Social: Call Publicize_UI::init on admin_init instead of on init
  projects/packages/publicize/changelog/update-publicize-ui-init-on-admin-only
  projects/packages/publicize/src/class-publicize-ui.php
Labels: [Focus] Performance, [Status] Needs Review, [Status] Needs Team Review, [Package] Publicize

#39327 SSO: remove legacy codebase in favor of code in Connection package
  projects/plugins/jetpack/changelog/rm-sso-legacy-code
  projects/plugins/jetpack/modules/sso.php
  projects/plugins/jetpack/modules/sso/class-jetpack-force-2fa.php
  projects/plugins/jetpack/modules/sso/class.jetpack-sso-helpers.php
  projects/plugins/jetpack/modules/sso/class.jetpack-sso-notices.php
  projects/plugins/jetpack/modules/sso/class.jetpack-sso-user-admin.php
  projects/plugins/jetpack/modules/sso/jetpack-sso-admin-create-user.css
  projects/plugins/jetpack/modules/sso/jetpack-sso-admin-create-user.js
  projects/plugins/jetpack/modules/sso/jetpack-sso-login.css
  projects/plugins/jetpack/modules/sso/jetpack-sso-login.js
  projects/plugins/jetpack/modules/sso/jetpack-sso-users.js
  projects/plugins/jetpack/tools/webpack.config.css.js
Labels: [Feature] SSO, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#39210 Classic Theme Helper: Require Content Options from the package
  projects/packages/classic-theme-helper/changelog/add-require-content-options-in-classic-theme-helper-package
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/classic-theme-helper/src/content-options/customizer.js
  projects/packages/classic-theme-helper/src/content-options/customizer.php
  projects/packages/classic-theme-helper/src/content-options/post-details.php
  projects/plugins/jetpack/changelog/add-require-content-options-in-classic-theme-helper-package
  projects/plugins/jetpack/modules/theme-tools/content-options.php
  projects/plugins/jetpack/modules/theme-tools/content-options/author-bio.php
  projects/plugins/jetpack/modules/theme-tools/content-options/blog-display.php
  projects/plugins/jetpack/modules/theme-tools/content-options/customizer.js
  projects/plugins/jetpack/modules/theme-tools/content-options/customizer.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images-fallback.php
  projects/plugins/jetpack/modules/theme-tools/content-options/featured-images.php
  projects/plugins/jetpack/modules/theme-tools/content-options/post-details.php
Labels: [Feature] Theme Tools, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Classic Theme Helper

#39309 Shortcode: Fix the youtube url cannot be embedded due to the trailing question mark of the youtube id
  projects/plugins/jetpack/changelog/fix-youtube-embed-trailing-question-mark
  projects/plugins/jetpack/modules/shortcodes/youtube.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/test-class.youtube.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#39305 Update `@wordpress/eslint-plugin`
  pnpm-lock.yaml
  projects/packages/backup/changelog/update-wordpress-eslint-plugin
  projects/packages/backup/src/js/components/Backups.js
  projects/packages/forms/changelog/update-wordpress-eslint-plugin
  projects/packages/forms/src/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/packages/search/changelog/update-wordpress-eslint-plugin
  projects/packages/search/src/dashboard/components/upsell-nudge/index.jsx
  projects/packages/search/src/instant-search/components/search-sort.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/boost/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/search.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/performance/search.jsx
  projects/plugins/jetpack/changelog/update-wordpress-eslint-plugin
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/prompt-templates-control/index.tsx
  projects/plugins/jetpack/extensions/blocks/podcast-player/components/track-error.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.tsx
  projects/plugins/migration/changelog/update-wordpress-eslint-plugin
  projects/plugins/migration/src/js/components/migration/index.tsx
  projects/plugins/protect/changelog/update-wordpress-eslint-plugin
  projects/plugins/protect/src/js/components/firewall-footer/index.jsx
  projects/plugins/protect/src/js/components/scan-footer/index.jsx
  projects/plugins/super-cache/changelog/update-wordpress-eslint-plugin
  projects/plugins/super-cache/js/preload-notification.js
  tools/js-tools/package.json
Labels: [Feature] Contact Form, [Status] Needs Review, Admin Page, [Type] Janitorial, [Pri] Normal, [Block] Podcast Player, [Plugin] Jetpack, [Block] Contact Form, [Package] Backup, [Package] Search, [Plugin] Protect, [Plugin] Super Cache, [Plugin] Migration, [Block] AI Paragraph, [Package] Forms, [Block] AI Assistant, [Extension] AI Assistant Plugin

#39355 Connection: fix the connected plugins option on multisites
  projects/packages/connection/changelog/fix-connected-plugins-on-multisites
  projects/packages/connection/src/class-plugin-storage.php
Labels: [Status] In Progress, [Package] Connection

#39362 Subscribe Block: Remove call to dotcom from the frontend when rendering subscribe block in modal if we don't need it
  projects/plugins/jetpack/changelog/fix-fetch-subscribers-count
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Focus] Performance, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack

#39337 Fix underlined links inside boxes
  projects/plugins/jetpack/_inc/client/components/section-nav/style.scss
  projects/plugins/jetpack/_inc/client/my-plan/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/prompts/prompt-layout/style.scss
  projects/plugins/jetpack/_inc/client/recommendations/sidebar/discount-card/style.scss
  projects/plugins/jetpack/changelog/fix-underlined-links-inside-boxes
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack

#39349 Sharing Service: Make sure we only check for legacy sharing buttons implementation on non-block themes
  projects/plugins/jetpack/changelog/update-sharing-services-assets-only-on-old-themes
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: [Feature] Sharing, [Focus] Performance, [Status] Needs Review, [Plugin] Jetpack

#39287 Stats: Add Stats user feedback endpoint proxy
  projects/packages/stats-admin/changelog/update-add_stats_user_feedback_endpoint_proxy
  projects/packages/stats-admin/src/class-rest-controller.php
Labels: [Status] Needs Review, [Package] Stats Admin

#39368 Color Scheme: Avoid wpcom user data overriding the admin color after flushing cache
  projects/plugins/wpcomsh/changelog/fix-color-scheme-on-default-interface
  projects/plugins/wpcomsh/feature-plugins/masterbar.php
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#39326 Admin Page: display Stats yearly plan on "My Plan"
  projects/plugins/jetpack/_inc/client/components/plans/plan-icon/index.jsx
  projects/plugins/jetpack/_inc/client/lib/plans/constants.js
  projects/plugins/jetpack/changelog/fix-stats-plan-yearly-myplan
Labels: [Type] Bug, [Feature] Stats Data, [Status] Ready to Merge, Admin Page, [Pri] Normal, [Plugin] Jetpack

#39315 Add/shield memberships blocks for unconnected jetpack sites
  projects/plugins/jetpack/changelog/add-shield-memberships-blocks-for-unconnected-jetpack-sites
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/payment-buttons/payment-buttons.php
  projects/plugins/jetpack/extensions/blocks/premium-content/premium-content.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships, [Block] Donations, [Block] Payment Buttons

#39372 Social: Fix share status tool tip.
  projects/js-packages/publicize-components/changelog/fix-social-share-status-tooltip
  projects/js-packages/publicize-components/src/components/share-status/share-status-label.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39367 Wpcomsh: Remove actions and filters related to the Masterbar module
  projects/plugins/wpcomsh/README.md
  projects/plugins/wpcomsh/changelog/update-wpcomsh-remove-masterbar-module-references
  projects/plugins/wpcomsh/feature-plugins/masterbar.php
Labels: Docs, [Feature] Masterbar, [Status] Needs Team Review, [Plugin] Wpcomsh

#39369 Sync Checksums: Ensure is plugin active exists
  projects/packages/sync/changelog/update-sync-ensure-is-plugin-active-exists
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
Labels: [Status] Ready to Merge, [Package] Sync

#39370 Contact Form: remove www prefix from sender email address
  projects/packages/forms/changelog/fix-contact-form-from-email-no-www
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Block] Contact Form, [Package] Forms

#39375 Connection: remove deprecated code from connected plugins component
  projects/packages/connection/changelog/remove-deprecated-disable-plugin-connection
  projects/packages/connection/src/class-plugin-storage.php
  projects/packages/connection/src/class-plugin.php
Labels: [Status] In Progress, [Type] Janitorial, [Package] Connection

#39376 Revert "Add/shield memberships blocks for unconnected jetpack sites"
  projects/plugins/jetpack/changelog/add-shield-memberships-blocks-for-unconnected-jetpack-sites
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/payment-buttons/payment-buttons.php
  projects/plugins/jetpack/extensions/blocks/premium-content/premium-content.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Block] Paid Content, [Plugin] Jetpack, [Feature] Memberships, [Block] Donations, [Block] Payment Buttons, [Type] Revert

#39359 test-results-to-slack: Document required Slack scopes
  projects/github-actions/test-results-to-slack/README.md
  projects/github-actions/test-results-to-slack/changelog/update-github-actions-test-results-to-slack-readme-scopes
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, Actions, [Action] Test Results to Slack

#39380 My Jetpack: Introduce action 'myjetpack_enqueue_scripts'
  projects/packages/my-jetpack/changelog/add-my-jetpack-enqueue-scripts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
Labels: [Focus] Performance, [Status] Needs Review, [Package] My Jetpack

#39333 License activation: Add helpful error messages & display help steps on error response.
  projects/js-packages/licensing/changelog/update-license-activate-error-messages
  projects/js-packages/licensing/components/activation-screen-controls/index.jsx
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/js-packages/licensing/components/activation-screen-controls/test/component.jsx
  projects/js-packages/licensing/components/activation-screen-error/constants.ts
  projects/js-packages/licensing/components/activation-screen-error/index.tsx
  projects/js-packages/licensing/components/activation-screen-error/style.scss
  projects/js-packages/licensing/components/activation-screen-error/use-get-error-content.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Licensing, [Tests] Includes Tests

#39340 Title Optimization: improve error handling
  projects/plugins/jetpack/changelog/update-jetpack-ai-handle-errors-on-title-improvement-tool
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#39382 Revert "Sharing Service: Make sure we only check for legacy sharing buttons implementation on non-block themes"
  projects/plugins/jetpack/changelog/update-sharing-services-assets-only-on-old-themes
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: [Feature] Sharing, [Focus] Performance, [Status] Needs Review, [Plugin] Jetpack, [Type] Revert

#39335 Jetpack 13.8.1 Changelog Backport
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: Docs, [Status] Needs Team Review, [Plugin] Jetpack

#39339 SEO Upsell: update link to open in help center
  projects/plugins/jetpack/changelog/add-seo-link-help-center
  projects/plugins/jetpack/extensions/plugins/seo/components/upsell.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] SEO

#39314 Admin bar: align colors with Calypso's
  projects/packages/jetpack-mu-wpcom/changelog/admin-bar-colors
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/masterbar/changelog/admin-bar-colors
  projects/packages/masterbar/src/admin-color-schemes/colors/_admin.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/aquatic/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-blue/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-bright/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-dark/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/contrast/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/nightfall/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/powder-snow/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sakura/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sakura/colors.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sunset/_variables.scss
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Bar

#39379 Social: Hide share statuses that are not from the connections belonging to the current user
  projects/packages/publicize/changelog/update-social-share-status
  projects/packages/publicize/src/class-rest-controller.php
Labels: [Status] Needs Team Review, [Package] Publicize

#39373 Sites API: Add is_a4a_dev_site to jetpack response field additions.
  projects/plugins/jetpack/changelog/add-a4a-site-props-jetpack-response-field-additions
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: [Feature] WPCOM API, [Status] Needs Author Reply, [Plugin] Jetpack

#39346 Social: Disable sharing UI for invalid connections
  projects/js-packages/publicize-components/changelog/update-social-disable-sharing-for-invalid-connections
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/unsupported-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/post-publish-share-status/index.tsx
  projects/js-packages/publicize-components/src/components/share-post/index.jsx
  projects/js-packages/publicize-components/src/hooks/use-is-sharing-possible/index.ts
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/utils/connections.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#39371 Help Center: Fix the icon color when previewing color scheme
  projects/packages/jetpack-mu-wpcom/changelog/fix-help-center-icon-color
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/masterbar/changelog/fix-help-center-icon-color
  projects/packages/masterbar/src/admin-color-schemes/class-admin-color-schemes.php
  projects/packages/masterbar/src/admin-color-schemes/colors/fresh/colors.scss
  projects/plugins/jetpack/changelog/fix-help-center-icon-color
  projects/plugins/jetpack/modules/masterbar/admin-color-schemes/colors/fresh/colors.scss
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Bar

#39325 Block Editor Welcome Tour: Reduce steps
  projects/packages/jetpack-mu-wpcom/changelog/update-reduce-tour-steps
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/src/welcome-tour/use-tour-steps.tsx
Labels: [Status] Ready to Merge, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Block Editor Nux

#39298 Show cart icon on Simple wp-admin
  projects/packages/jetpack-mu-wpcom/changelog/add-cart-to-wp-admin
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] Needs Review, [Feature] Masterbar, Actions, [Action] Repo Gardening, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Bar

#39237 LaunchpadSaveModal: Update action href based on experiment variation
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-wpcom-launchpad-setup-redirection
  projects/plugins/jetpack/extensions/plugins/launchpad-save-modal/index.js
  projects/plugins/jetpack/package.json
  tools/js-tools/types/global.d.ts
Labels: [Status] In Progress, Docs, [Plugin] Jetpack, [Extension] Launchpad Save Modal, Disable Launchpad

#39385 Backup: do not consider discarded backups as successful backups
  projects/packages/backup/changelog/fix-backup-discarded-as-successful
  projects/packages/backup/src/js/hooks/test/useBackupsState.js
  projects/packages/backup/src/js/hooks/useBackupsState.js
Labels: [Status] Needs Team Review, [Package] Backup, [Tests] Includes Tests

#39392 Update/wpcomsh features
  projects/plugins/wpcomsh/changelog/update-wpcomsh-features
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#39399 Title Optimization: small UI/UX fixes
  projects/plugins/jetpack/changelog/update-jetpack-ai-fix-alignment-on-title-optimization
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/title-optimization-keywords.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/title-optimization-keywords.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/title-optimization/title-optimization-options.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#39402 Stats: Avoid showing the admin bar widget to logged out visitors
  projects/plugins/jetpack/changelog/update-do-not-show-stats-admin-bar-widget-to-visitors
  projects/plugins/jetpack/modules/stats.php
Labels: [Focus] Performance, [Status] In Progress, [Plugin] Jetpack

#39268 Classic Theme Helper: Require Custom Content Types (portfolios) from the package
  projects/packages/classic-theme-helper/.phan/baseline.php
  projects/packages/classic-theme-helper/changelog/add-require-portfolios-cpt-in-classic-theme-helper
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/classic-theme-helper/src/custom-content-types.php
  projects/packages/classic-theme-helper/src/custom-post-types/class-jetpack-portfolio.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/client/writing/custom-content-types.jsx
  projects/plugins/jetpack/changelog/add-require-portfolios-cpt-in-classic-theme-helper
  projects/plugins/jetpack/modules/custom-content-types.php
  projects/plugins/jetpack/modules/custom-post-types/portfolios.php
Labels: [Feature] Custom Content Types, [Feature] Theme Tools, [Status] In Progress, Admin Page, DO NOT MERGE, [Plugin] Jetpack, [Package] Classic Theme Helper

#39137 Social | Initial state: Migrate `useAdminUiV1` feature flag to script data
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-social-initial-state-migrate-feature-flags
  projects/js-packages/publicize-components/index.ts
  projects/js-packages/publicize-components/src/components/form/broken-connections-notice.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/form/settings-button.tsx
  projects/js-packages/publicize-components/src/social-store/reducer/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/index.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/update-social-initial-state-migrate-feature-flags
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/sharing/index.jsx
  projects/plugins/jetpack/changelog/update-social-initial-state-migrate-feature-flags
  projects/plugins/social/changelog/update-social-initial-state-migrate-feature-flags
  projects/plugins/social/package.json
  projects/plugins/social/src/js/components/header/index.js
  projects/plugins/social/src/js/components/social-module-toggle/index.tsx
  projects/plugins/social/src/js/components/types/types.ts
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#39398 Social: adds hook for social shares URLs upon save
  projects/packages/publicize/changelog/add-share-save-hook
  projects/packages/publicize/src/class-rest-controller.php
  projects/plugins/social/changelog/add-share-save-hook
  projects/plugins/social/src/class-rest-social-note-controller.php
Labels: [Status] Needs Review, [Package] Publicize, [Plugin] Social, Reviewer Can Merge

#39141 Forms: refactor Multiple and Single Choice fields
  projects/packages/forms/changelog/refactor-form-choice-fields
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/item/settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/item/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/save.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-option.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/item/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/save.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/get-field-label.js
  projects/packages/forms/src/blocks/contact-form/util/merge-settings.js
Labels: [Feature] Contact Form, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms
