Repository Automattic/jetpack, pull requests merged in 2024-07, with the labels that each got.

#37964 Social: Remove share as a social post toggle
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/remove-social-share-as-a-social-post
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/form/share-post-form.tsx
  projects/js-packages/publicize-components/src/components/form/use-connection-state.ts
  projects/js-packages/publicize-components/src/components/media-section/index.js
  projects/js-packages/publicize-components/src/components/media-section/test/index.test.js
  projects/js-packages/publicize-components/src/components/social-post-control/index.js
  projects/js-packages/publicize-components/src/components/social-post-control/styles.module.scss
  projects/js-packages/publicize-components/src/components/social-previews/instagram.js
  projects/js-packages/publicize-components/src/components/social-previews/mastodon.js
  projects/js-packages/publicize-components/src/components/social-previews/use-post-data.js
  projects/js-packages/publicize-components/src/hooks/use-attached-media/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-post-meta/index.js
  projects/js-packages/publicize-components/src/hooks/use-post-meta/test/index.test.js
  projects/js-packages/publicize-components/src/utils/types.ts
  projects/packages/publicize/changelog/remove-social-share-as-a-social-post
  projects/packages/publicize/composer.json
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/plugins/jetpack/changelog/remove-social-share-as-a-social-post
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/package.json
  projects/plugins/social/changelog/remove-social-share-as-a-social-post
  projects/plugins/social/composer.lock
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#38131 Package release: google-analytics v0.2.2
  projects/packages/google-analytics/CHANGELOG.md
  projects/packages/google-analytics/changelog/fix-google-analytics-missing-key
  projects/packages/google-analytics/package.json
  projects/packages/google-analytics/src/class-ga-manager.php
Labels: Docs, [Status] Needs Review, [Feature] Google Analytics, [Focus] Jetstream, [Package] Google Analytics

#38084 Sync checksum: ensure postmeta table does not filter by whitelist when getting range edges
  projects/packages/sync/changelog/fix-sync-checksum-ensure-postmeta-table-does-not-filter-by-whitelist-when-getting-range-edges
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
Labels: [Status] Ready to Merge, [Package] Sync

#38107 Update/redirect admin interface update
  projects/packages/jetpack-mu-wpcom/changelog/update-redirect-admin-interface-update
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#38088 Super cache: Set stable tag to 1.12.2
  projects/plugins/super-cache/changelog/super-cache-new-cycle
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#38138 Social Previews: Fix Threads and Instagram previews
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/fix-social-preview-update-threads-and-instagram-previews
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/social-previews/instagram.js
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/publicize-components/src/components/social-previews/threads.js
  projects/js-packages/publicize-components/src/components/social-previews/use-post-data.js
  projects/plugins/jetpack/changelog/fix-social-preview-update-threads-and-instagram-previews
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Publicize Components

#37976 Blogroll: Update styling
  projects/plugins/jetpack/changelog/update-blogroll-styling
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/blogroll-item.php
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/edit.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/editor.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/common.scss
  projects/plugins/jetpack/extensions/blocks/blogroll/style.scss
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] Blogroll

#38120 Fix/connection error notice reset incorrectly
  projects/packages/my-jetpack/_inc/context/notices/noticeContext.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-connection-errors-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.tsx
  projects/packages/my-jetpack/changelog/fix-connection-error-notice-reset-incorrectly
  projects/plugins/protect/changelog/fix-connection-error-notice-reset-incorrectly
Labels: [Status] Ready to Merge, [Package] My Jetpack, [Plugin] Protect

#38063 Abandon google-fonts-provider package
  projects/packages/google-fonts-provider/README.md
  projects/packages/google-fonts-provider/changelog/remove-abandon-google-fonts-provider-package
  projects/packages/google-fonts-provider/composer.json
  projects/packages/google-fonts-provider/package.json
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/remove-abandon-google-fonts-provider-package
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/google-fonts/current/class-jetpack-google-font-face.php
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
  projects/plugins/jetpack/modules/google-fonts/load.php
  projects/plugins/jetpack/modules/google-fonts/wordpress-6.3/constants.php
  projects/plugins/jetpack/modules/google-fonts/wordpress-6.3/load-google-fonts.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Google Fonts Provider, [Feature] Google Fonts

#38140 beta: Strip comments in markdown
  projects/plugins/beta/changelog/fix-beta-plugin-markdown-comments
  projects/plugins/beta/src/class-parsedownext.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Beta

#38097 Replace `eslint-plugin-svelte3` with `eslint-plugin-svelte`
  pnpm-lock.yaml
  projects/js-packages/image-guide/changelog/update-replace-eslint-plugin-svelte3
  projects/js-packages/image-guide/src/ui/Popup.svelte
  projects/plugins/inspect/app-ui/src/Dashboard/Log/Actions.svelte
  projects/plugins/inspect/changelog/update-replace-eslint-plugin-svelte3
  tools/js-tools/eslintrc/svelte.js
  tools/js-tools/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Image Guide, [Plugin] Inspect

#38100 image-guide: Update `rollup-plugin-svelte-svg` dep
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/js-packages/image-guide/changelog/update-rollup-plugin-svelte-svg
  projects/js-packages/image-guide/package.json
  projects/js-packages/image-guide/rollup.config.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, RNA, [JS Package] Image Guide

#38141 Tooling: Add macOS support for changelogger-validate-all.sh
  tools/changelogger-validate-all.sh
Labels: [Status] Needs Team Review

#38142 tools: Fix colors in scripts
  .github/files/lint-project-structure.sh
  tools/changelogger-validate-all.sh
  tools/check-changelogger-use.php
  tools/check-intra-monorepo-deps.sh
  tools/includes/chalk-lite.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#38139 wpcomsh: Bump readme header versions
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-bump_readme_header_versions
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/readme.txt
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Wpcomsh

#37716 Subscriptions: added command palette commands for quickly changing post access.
  projects/plugins/jetpack/changelog/update-add-paywall-command-palette
  projects/plugins/jetpack/extensions/blocks/subscriptions/command-palette.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/editor.js
Labels: [Feature] Subscriptions, [Block] Subscriptions, [Plugin] Jetpack

#38125 AI Assistant: Update Breve implementation to React
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-react
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlight.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlights.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/breve.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/dictionaries/dictionaries-config.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/useHighlight.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getClientId.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getHighlightRects.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/requestAnimationFrame.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/textEditingHelpers.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38151 Newsletter settings: fix reply to example email when comment reply chosen
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/changelog/fix-reply-to-example-email
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, Admin Page, [Plugin] Jetpack

#38149 AI Proofread: Change Breve request endpoint
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-endpoint
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlight.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlights.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/FleschKincaidUtils.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getRequestMessages.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/sendAIRequest.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38159 Backport jetpack 13.6 changes into trunk.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: [Status] In Progress, Docs, [Plugin] Jetpack

#38160 Backport beta 4.1.0 Changes
  projects/plugins/beta/CHANGELOG.md
  projects/plugins/beta/changelog/add-bad-installation-notices-to-my-jetpack
  projects/plugins/beta/changelog/add-jetpack-beta-mu-plugin-support
  projects/plugins/beta/changelog/add-phan
  projects/plugins/beta/changelog/add-phan-plugin-refs
  projects/plugins/beta/changelog/add-phan-wp-constant-stubs
  projects/plugins/beta/changelog/fix-admin-ui-network-admin
  projects/plugins/beta/changelog/fix-beta-plugin-markdown-comments
  projects/plugins/beta/changelog/fix-misc-phan-undeclared-issues-1
  projects/plugins/beta/changelog/fix-misc-phan-undeclared-issues-1#2
  projects/plugins/beta/changelog/fix-phan-comment-errors
  projects/plugins/beta/changelog/fix-phan-in-changelogger
  projects/plugins/beta/changelog/fix-phan-issues-in-beta-plugin
  projects/plugins/beta/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/beta/changelog/renovate-lock-file-maintenance
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#2
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#3
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#4
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#5
  projects/plugins/beta/changelog/update-installation-error-to-only-show-on-plugins-page
  projects/plugins/beta/changelog/update-symfony-console
  projects/plugins/beta/changelog/update-use-wp-admin-notice
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/beta/src/class-plugin.php
Labels: Docs, [Status] Needs Review, [Plugin] Beta

#38163 google-fonts-provider: Final release
  projects/packages/google-fonts-provider/CHANGELOG.md
  projects/packages/google-fonts-provider/changelog/remove-abandon-google-fonts-provider-package
  projects/packages/google-fonts-provider/package.json
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Google Fonts Provider

#38162 Remove references to deprecated packages/abtest
  projects/plugins/jetpack/changelog/remove-references-to-packages-abtest
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  tools/cli/tests/unit/helpers/json.test.js
  tools/cli/tests/unit/helpers/projectHelpers.test.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Tools] Development CLI, [Plugin] Jetpack, [Tests] Includes Tests

#38158 actions: Upload wpcomsh to jetpackedge sites
  .github/files/jetpack-staging-sites/update-jetpack-staging-sites.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions

#38164 Remove abandoned packages from the monorepo
  pnpm-lock.yaml
  projects/packages/abtest/.gitattributes
  projects/packages/abtest/.gitignore
  projects/packages/abtest/.phan/baseline.php
  projects/packages/abtest/.phan/config.php
  projects/packages/abtest/CHANGELOG.md
  projects/packages/abtest/README.md
  projects/packages/abtest/changelog/.gitkeep
  projects/packages/abtest/composer.json
  projects/packages/abtest/phpunit.xml.dist
  projects/packages/abtest/src/class-abtest.php
  projects/packages/abtest/tests/php/bootstrap.php
  projects/packages/abtest/tests/php/test-abtest.php
  projects/packages/google-fonts-provider/.gitattributes
  projects/packages/google-fonts-provider/.gitignore
  projects/packages/google-fonts-provider/.phan/baseline.php
  projects/packages/google-fonts-provider/.phan/config.php
  projects/packages/google-fonts-provider/.phpcs.dir.xml
  projects/packages/google-fonts-provider/CHANGELOG.md
  projects/packages/google-fonts-provider/README.md
  projects/packages/google-fonts-provider/changelog/.gitkeep
  projects/packages/google-fonts-provider/composer.json
  projects/packages/google-fonts-provider/package.json
  projects/packages/google-fonts-provider/phpunit.xml.dist
  projects/packages/google-fonts-provider/src/class-google-fonts-provider.php
  projects/packages/google-fonts-provider/src/class-utils.php
  projects/packages/google-fonts-provider/src/introspectors/class-blocks.php
  projects/packages/google-fonts-provider/src/introspectors/class-global-styles.php
  projects/packages/google-fonts-provider/tests/php/bootstrap.php
  projects/packages/google-fonts-provider/tests/php/test-blocks-font-introspector.php
  projects/packages/google-fonts-provider/tests/php/test-global-styles-font-introspector.php
  projects/packages/google-fonts-provider/tests/php/test-google-fonts-provider.php
  projects/plugins/jetpack/changelog/remove-abandoned-packages
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Package] Abtest, [Package] Google Fonts Provider, [Feature] Google Fonts, [Tests] Includes Tests

#38157 AI Proofread: Update Breve toggle location
  projects/plugins/jetpack/changelog/update-jetpack-feedback-location-trigger
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38154 Classic Theme Helper: Featured content remove wpcom only code
  projects/packages/classic-theme-helper/changelog/update-featured-content-remove-wpcom-only-code
  projects/packages/classic-theme-helper/composer.json
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-featured-content.php
  projects/packages/classic-theme-helper/src/class-main.php
  projects/plugins/classic-theme-helper-plugin/changelog/update-featured-content-remove-wpcom-only-code
  projects/plugins/classic-theme-helper-plugin/composer.lock
  projects/plugins/jetpack/changelog/update-featured-content-remove-wpcom-only-code
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-featured-content-remove-wpcom-only-code
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/update-featured-content-remove-wpcom-only-code
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Feature] Theme Tools, [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin

#37715 Set WelcomeFlow structure and update WelcomeBanner (async site-only connection)
  projects/js-packages/components/changelog/update-welcome-banner-connect
  projects/js-packages/components/components/terms-of-service/index.tsx
  projects/js-packages/components/components/terms-of-service/types.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/ConnectionStep.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/assets/images/site-cards.png
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/style.module.scss
  projects/packages/my-jetpack/_inc/context/notices/noticeContext.tsx
  projects/packages/my-jetpack/_inc/context/notices/noticeTemplates.ts
  projects/packages/my-jetpack/_inc/context/notices/types.ts
  projects/packages/my-jetpack/_inc/hooks/use-my-jetpack-connection/index.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.tsx
  projects/packages/my-jetpack/changelog/update-welcome-banner-connect
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [Package] My Jetpack

#38137 Jetpack Sync: Switch 'jetpack_connection_active_plugins' to a callable
  projects/packages/sync/README.md
  projects/packages/sync/changelog/update-sync-make-jetpack_connection_active_plugins-callable
  projects/packages/sync/src/class-data-settings.php
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-functions.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/tests/php/data-test-data-settings.php
  projects/plugins/jetpack/changelog/update-sync-make-jetpack_connection_active_plugins-callable
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-callables.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Status] In Progress, Docs, [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests

#37790 Add evaluation form to Welcome Flow
  projects/packages/my-jetpack/_inc/components/welcome-flow/EvaluationProcessingStep.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/EvaluationStep.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/assets/images/evaluation-blank.png
  projects/packages/my-jetpack/_inc/components/welcome-flow/assets/images/evaluation-selected.png
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/style.module.scss
Labels: [Status] In Progress, RNA, [JS Package] Components, [Package] My Jetpack

#38135 Jetpack Sync: Ensure we always sync heartbeat data and active plugins no matter the consumer config
  projects/packages/sync/README.md
  projects/packages/sync/changelog/update-sync-must-sync-data-settings
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-data-settings.php
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/tests/php/data-test-data-settings.php
  projects/plugins/automattic-for-agencies-client/changelog/update-sync-must-sync-data-settings
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/update-sync-must-sync-data-settings
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-sync-must-sync-data-settings
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-sync-must-sync-data-settings
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-sync-must-sync-data-settings
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-sync-must-sync-data-settings
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/update-sync-must-sync-data-settings
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-must-sync-data-settings
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-must-sync-data-settings
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/jetpack-social.php
  projects/plugins/starter-plugin/changelog/update-sync-must-sync-data-settings
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-sync-must-sync-data-settings
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/update-sync-must-sync-data-settings
  projects/plugins/wpcomsh/composer.lock
Labels: Docs, [Package] Sync, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#38155 Jetpack mu and wpcomsh - hide wpcom items for non wpcom site users, hide hosting card from non-admins
  projects/packages/jetpack-mu-wpcom/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
  projects/plugins/mu-wpcom-plugin/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcom-plugins/plugins.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Themes

#38176 Disable jetpackedgephp74 and jetpackedge82 pending rename
  .github/files/jetpack-staging-sites/k6-shared.js
  .github/files/jetpack-staging-sites/update-jetpack-staging-sites.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#38093 WordPress.com: Add the Help Center App ✨
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/.gitignore
  projects/packages/jetpack-mu-wpcom/bin/download-help-center-languages.js
  projects/packages/jetpack-mu-wpcom/changelog/move-help-center
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/custom-css/custom-css.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/README.md
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-authenticate.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-email-support-enabled.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-fetch-post.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-forum.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-jetpack-search-ai.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-odie.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-search.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-sibyl.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-support-activity.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-support-status.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-ticket.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-user-fields.php
  projects/plugins/mu-wpcom-plugin/changelog/move-help-center
  projects/plugins/wpcomsh/changelog/move-help-center
Labels: [Status] Needs Author Reply, Docs, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Custom Css, [mu wpcom Feature] Help Center

#38116 Verbum: Update Verbum comments accessibility
  projects/packages/jetpack-mu-wpcom/changelog/update-verbum-comments-accessibility
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/FrequencyToggle/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/ToggleControl/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/logged-out.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/style.scss
  projects/plugins/mu-wpcom-plugin/changelog/update-verbum-comments-accessibility
  projects/plugins/wpcomsh/changelog/update-verbum-comments-accessibility
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Verbum Comments, [Plugin] Wpcomsh

#38179 Jetpack AI Image: save images with a better name, based on the user prompt
  projects/plugins/jetpack/changelog/update-jetpack-ai-image-improve-image-naming
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/hooks/use-ai-image.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/hooks/use-save-to-media-library.ts
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38181 Revert "Jetpack mu and wpcomsh - hide wpcom items for non wpcom site users, hide hosting card from non-admins"
  projects/packages/jetpack-mu-wpcom/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
  projects/plugins/mu-wpcom-plugin/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/add-hide-wpcom-wpadmin-items-from-non-wpcom-users
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcom-plugins/plugins.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Type] Revert, [mu wpcom Feature] Wpcom Site Menu, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Themes

#38188 MU WPCOM: Support HEIF/HEIC on simple sites
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-heif-support
  projects/packages/jetpack-mu-wpcom/src/features/media/heif-support.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Media

#38011 Add /recommendations/evaluation endpoint handling
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/_inc/data/recommendations-section/use-recommendations-section.ts
  projects/packages/my-jetpack/_inc/data/use-simple-mutation.ts
  projects/packages/my-jetpack/_inc/data/welcome-banner/use-welcome-banner.ts
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-rest-recommendations-evaluation.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Components, [Package] My Jetpack

#38168 Renovate: update label used to flag Search updates
  .github/renovate.json5
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Feature] Search

#38183 wpcomsh: Add cli actions for post transfer process
  projects/plugins/wpcomsh/changelog/add-wpcomsh-cli-actions-for-woo-express-cache-flush-and-staging-env
  projects/plugins/wpcomsh/woa.php
Labels: [Status] Needs Review, [Plugin] Wpcomsh

#38182 AI Proofread: Move prompts to the backend
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-prompts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlight.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlights.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/dictionaries/dictionaries-config.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getHighlightRects.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getRequestMessages.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38201 Standardize wpcomsh cli post process messages
  projects/plugins/wpcomsh/changelog/fix-wpcomsh-cli-post-process-messages
  projects/plugins/wpcomsh/woa.php
Labels: [Status] Needs Review, [Plugin] Wpcomsh

#37969 Classic Theme Helper: Requiring the Responsive Video package files, and modifying Featured Content require process
  projects/packages/classic-theme-helper/changelog/update-require-classic-theme-helper-package
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/jetpack-mu-wpcom/changelog/update-require-classic-theme-helper-package
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/jetpack/changelog/update-require-classic-theme-helper-package
  projects/plugins/jetpack/modules/theme-tools/responsive-videos.php
Labels: [Feature] Theme Tools, [Status] Needs Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Package] Classic Theme Helper

#38199 Like block: Fix PHP warning related to undefined `postId` array key coming from block context
  projects/plugins/jetpack/changelog/fix-like-block-undefined-postId-array-key
  projects/plugins/jetpack/extensions/blocks/like/like.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Like

#38203 Jetpack AI Image: move general purpose image generator to production
  projects/plugins/jetpack/changelog/update-jetpack-ai-image-move-to-production
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, [Plugin] Jetpack

#38205 Classic Theme Helper: Removing the setup call to the featured content class from the Jetpack Mu Wpcom package
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-featured-content-setup-call
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#38207 AI Assistant: Add feature to tracks event on extensions
  projects/plugins/jetpack/changelog/update-jetpack-ai-inline-extension-tracks-feature
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/components/ai-assistant-input/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/inline-extensions/with-ai-extension.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant

#38150 Stats: Add stats purchases endpoint
  projects/packages/stats-admin/changelog/add-stats-purchases-endpoint
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/plugins/jetpack/changelog/add-stats-purchases-endpoint
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/add-stats-purchases-endpoint
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-stats-purchases-endpoint
  projects/plugins/wpcomsh/composer.lock
Labels: [Feature] Stats Data, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin, [Plugin] mu wpcom, [Plugin] Wpcomsh

#38190 MU WPCOM: Port hide-homepage-title feature from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-hide-homepage-title
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/hide-homepage-title/hide-homepage-title.css
  projects/packages/jetpack-mu-wpcom/src/features/hide-homepage-title/hide-homepage-title.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Hide Homepage Title

#38195 MU WPCOM: Port font-smoothing-antialiased feature from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-font-smoothing
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/font-smoothing-antialiased/font-smoothing-antialiased.css
  projects/packages/jetpack-mu-wpcom/src/features/font-smoothing-antialiased/font-smoothing-antialiased.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Font Smoothing Antialiased

#38196 MU WPCOM: Port override-preview-button-url feature from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-override-preview-button-url
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/override-preview-button-url/override-preview-button-url.js
  projects/packages/jetpack-mu-wpcom/src/features/override-preview-button-url/override-preview-button-url.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Override Preview Button Url

#38191 Jetpack Sync: Fix HPOS checksum support for wc_order_operational_data
  projects/packages/sync/changelog/fix-sync-orders-_cart_hash
  projects/packages/sync/src/modules/class-woocommerce.php
Labels: [Type] Bug, [Package] Sync, [Status] Needs Team Review

#38187 Social: Fix permissions for update/delete connections endpoints
  projects/packages/publicize/changelog/fix-social-update-permissions-for-the-disconnect-endpoint
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize.php
  projects/packages/publicize/src/class-rest-controller.php
Labels: [Status] Needs Team Review, [Package] Publicize

#38193 Social Connections: Select the reconnecting account by default on confirmation screen
  projects/js-packages/publicize-components/changelog/update-social-select-the-reconnecting-account-by-default-on-confirmation-screen
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/connection-management/reconnect.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/confirmation-form/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/tests/confirmation-form.test.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.js
  projects/js-packages/publicize-components/src/social-store/actions/constants.ts
  projects/js-packages/publicize-components/src/social-store/reducer/connection-data.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.js
  projects/js-packages/publicize-components/src/social-store/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#38213 MU WPCOM: Port paragraph-block feature from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-port-paragraph-block
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/paragraph-block-placeholder/paragraph-block-placeholder.js
  projects/packages/jetpack-mu-wpcom/src/features/paragraph-block-placeholder/paragraph-block-placeholder.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Paragraph Block Placeholder

#38170 Fixes scrollbar issue if upsell nudge is loaded in sidebar
  projects/packages/masterbar/changelog/fix-nav-classic-default--wp-admin
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
  projects/packages/masterbar/src/admin-menu/wpcom-upsell-nudge-jitm-fix.js
Labels: [Status] In Progress, [Feature] Masterbar, [Package] Masterbar

#38215 Featured Content: Update loading from different environments loading
  projects/packages/classic-theme-helper/changelog/update-featured-content-update-loading
  projects/packages/classic-theme-helper/src/class-featured-content.php
  projects/packages/jetpack-mu-wpcom/changelog/update-featured-content-update-loading
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/jetpack/changelog/update-featured-content-update-loading
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
Labels: [Feature] Theme Tools, [Status] In Progress, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Package] Classic Theme Helper

#38204 Admin search: update close button behaviour
  projects/plugins/jetpack/_inc/client/components/search/clear-btn.jsx
  projects/plugins/jetpack/_inc/client/components/search/close-btn.jsx
  projects/plugins/jetpack/_inc/client/components/search/index.jsx
  projects/plugins/jetpack/_inc/client/components/search/style.scss
  projects/plugins/jetpack/changelog/fix-jetpack-search-clear-btn
  tools/eslint-excludelist.json
Labels: [Focus] Accessibility, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#38095 Add release tracks to the Monorepo CLI.
  tools/includes/send_tracks_event.sh
  tools/includes/version-compare.sh
  tools/release-plugin.sh
Labels: [Status] Needs Review

#38174 Subscription and payment blocks: improve loading animation
  projects/plugins/jetpack/changelog/update-subscribe-modal-loading
  projects/plugins/jetpack/extensions/blocks/subscriptions/spinner.svg
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
  projects/plugins/jetpack/extensions/shared/memberships.js
  projects/plugins/jetpack/extensions/shared/memberships.scss
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
  projects/plugins/jetpack/modules/subscriptions/subscribe-overlay/subscribe-overlay.js
Labels: [Feature] Subscriptions, [Status] Ready to Merge, [Block] Subscriptions, [Plugin] Jetpack, [Block] Donations

#38171 Add Evaluation Recommendations logic
  projects/packages/connection/changelog/add-evaluation-recommendations-logic
  projects/packages/connection/legacy/class-jetpack-options.php
  projects/packages/my-jetpack/_inc/admin.jsx
  projects/packages/my-jetpack/_inc/components/evaluation-recommendations/index.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/context/value-store/valueStoreContext.tsx
  projects/packages/my-jetpack/_inc/data/recommendations-section/use-recommendations-section.ts
  projects/packages/my-jetpack/_inc/data/welcome-banner/use-welcome-banner.ts
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-rest-recommendations-evaluation.php
Labels: [Status] Needs Author Reply, [Package] Connection, [Package] My Jetpack

#38197 Untangling Cleanup: Clean up `wpcom_is_nav_redesign_enabled()` flag
  projects/packages/blaze/changelog/update-rename-wpcom_is_nav_redesign_enabled
  projects/packages/blaze/composer.json
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-blaze.php
  projects/packages/blaze/src/class-dashboard.php
  projects/packages/jetpack-mu-wpcom/changelog/update-rename-wpcom_is_nav_redesign_enabled
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/admin-color-schemes/admin-color-schemes.php
  projects/packages/jetpack-mu-wpcom/src/features/block-theme-previews/block-theme-previews.php
  projects/packages/jetpack-mu-wpcom/src/features/calypso-locale-sync/sync-calypso-to-wp-admin.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/masterbar/changelog/update-rename-wpcom_is_nav_redesign_enabled
  projects/packages/masterbar/composer.json
  projects/packages/masterbar/package.json
  projects/packages/masterbar/src/admin-color-schemes/class-admin-color-schemes.php
  projects/packages/masterbar/src/class-main.php
  projects/packages/masterbar/tests/php/test-class-admin-color-schemes.php
  projects/packages/masterbar/tests/php/test-class-main.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php
  projects/plugins/jetpack/changelog/update-rename-wpcom_is_nav_redesign_enabled#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/update-rename-wpcom_is_nav_redesign_enabled
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/update-rename-wpcom_is_nav_redesign_enabled#2
  projects/plugins/wpcomsh/class-jetpack-plugin-compatibility.php
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/feature-plugins/blaze.php
  projects/plugins/wpcomsh/feature-plugins/class-theme-homepage-switcher.php
  projects/plugins/wpcomsh/feature-plugins/hooks.php
  projects/plugins/wpcomsh/feature-plugins/masterbar.php
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Blaze, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Block Theme Previews, [mu wpcom Feature] Wpcom Site Menu, [Plugin] Wpcomsh, [mu wpcom Feature] Admin Color Schemes, [mu wpcom Feature] Wpcom Admin Interface, [Package] Masterbar, [mu wpcom Feature] Calypso Locale Sync

#38210 MU WPCOM: Port tags-education feature from ETK
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/babel.config.js
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-tags-education
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/tags-education/tags-education.js
  projects/packages/jetpack-mu-wpcom/src/features/tags-education/tags-education.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Tags Education

#38230 MU WPCOM: Ensure that ETK features have higher priority than the ETK plugin
  projects/packages/jetpack-mu-wpcom/changelog/add-jetpack-mu-wpcom-load-etk-features
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom

#38220 Social: Change `Manage connections` button to a link with connections
  projects/js-packages/publicize-components/changelog/change-social-manage-connection-link
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/form/connections-list.tsx
  projects/js-packages/publicize-components/src/components/form/index.tsx
  projects/js-packages/publicize-components/src/components/form/settings-button.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#38221 Package readme: Minor typo fix
  projects/packages/README.md
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial

#38231 WP.com menu: Bring back "Plugins > Scheduled Updates" to classic sites
  projects/packages/jetpack-mu-wpcom/changelog/fix-plugins-scheduled-updates-menu
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#38211 Boost: Add tracks events
  projects/plugins/boost/app/assets/src/js/features/performance-history/performance-history.tsx
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/upgrade-cta.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/changelog/add-tracks-events
Labels: [Status] Needs Team Review, [Plugin] Boost

#38241 Jetpack mu and wpcomsh - hide wpcom items for non wpcom site users, hide hosting card from non-admins (re-ship)
  projects/packages/jetpack-mu-wpcom/changelog/try-hide-wpcom-wpadmin-items-from-disconnected-users-v2
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
  projects/plugins/mu-wpcom-plugin/changelog/try-hide-wpcom-wpadmin-items-from-disconnected-users-v2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/wpcomsh/changelog/try-hide-wpcom-wpadmin-items-from-disconnected-users-v2
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/wpcom-plugins/plugins.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Themes

#38208 AI Client: Filter suggestions starting with llama artifacts
  projects/js-packages/ai-client/changelog/update-jetpack-ai-client-remove-llama-artifact
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#38189 AI Breve: Update highlight logic to use RichText
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-breve-highlight
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlight.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/Highlights.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/dictionaries/dictionaries-config.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/phrases.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/container.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/highlight.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38242 Remove the WordPress Events and News Dashboard widget
  projects/packages/jetpack-mu-wpcom/changelog/remove-wpcom-events-and-news-widget
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-dashboard/wpcom-admin-dashboard.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Admin Dashboard

#38229 MU WPCOM: Port Whats New from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-whats-new
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-dot-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-list-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Whats New

#38233 Admin bar: update to match with Nav Redesign i3
  projects/packages/jetpack-mu-wpcom/.phan/baseline.php
  projects/packages/jetpack-mu-wpcom/changelog/wpcom-admin-bar-menu
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-sidebar-notice/wpcom-sidebar-notice.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-sidebar-notice/wpcom-sidebar-notice.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-sidebar-notice/wpcom-sidebar-notice.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [mu wpcom Feature] Wpcom Admin Bar, [mu wpcom Feature] Wpcom Admin Menu, [mu wpcom Feature] Wpcom Sidebar Notice

#38209 MU WPCOM: Port jetpack-global-styles from ETK
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-jetpack-global-styles
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/README-DATA.md
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/README.md
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/class-global-styles-fonts-message-control.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/class-global-styles.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/customizer-fonts/index.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/class-data-point-literal.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/class-data-point-option.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/class-data-point-theme.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/class-data-set.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/class-json-endpoint.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/includes/interface-data-point.php
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/index.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/constants.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/dom-updater.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/font-pairings-panel.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/font-pairings-panel.scss
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/font-selection-panel.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/global-styles-sidebar.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/global-styles-sidebar.scss
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/no-support.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/src/store.js
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/static/style.css
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] In Progress, Docs, [Package] Jetpack mu wpcom, [mu wpcom Feature] Jetpack Global Styles

#38222 Social: Fix plan slug in My-Jetpack
  projects/packages/my-jetpack/changelog/fix-social-my-jetpack-plan-slug
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-social.php
Labels: [Status] Needs Team Review, [Package] My Jetpack

#38234 Social: Fix frontend media validation logic
  projects/js-packages/publicize-components/changelog/fix-social-frontent-validation
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/index.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#38156 Classic Theme Helper Plugin: Ensure Featured Content and imported / required files in the package are initialized
  projects/plugins/classic-theme-helper-plugin/changelog/update-classic-helper-theme-plugin-videos-featured-content
  projects/plugins/classic-theme-helper-plugin/classic-theme-helper-plugin.php
  projects/plugins/classic-theme-helper-plugin/composer.json
  projects/plugins/classic-theme-helper-plugin/composer.lock
Labels: [Status] Needs Review, [Plugin] Classic Theme Helper Plugin

#38253 Avoid showing help center for woocommerce admin homepage
  projects/packages/jetpack-mu-wpcom/changelog/fix-hide-hc-wc-admin
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#38247 beta: Fix undefined variable reference
  projects/plugins/beta/changelog/fix-beta-undefined-variable-ref
  projects/plugins/beta/src/admin/plugin-select.template.php
  projects/plugins/beta/src/admin/show-needed-updates.template.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, [Plugin] Beta

#38245 autoloader: Avoid a deprecation notice in `Autoloader_Locator::find_latest_autoloader()`
  projects/packages/autoloader/changelog/fix-autoloader-atomic-deprecated-notice
  projects/packages/autoloader/src/AutoloadGenerator.php
  projects/packages/autoloader/src/class-autoloader-locator.php
  projects/packages/autoloader/tests/php/tests/unit/AutoloaderLocatorTest.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Package] Autoloader, [Tests] Includes Tests

#38251 Jetpack Sync HPOS: Ensure get_objects_by_id will return all relevant orders
  projects/packages/sync/changelog/fix-sync-hpos-get_objects_by_id
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync, [Temp] WooCommerce HPOS Compatibility

#38218 Classic Theme Helper: Adding in Responsive Video class initialization from the Jetpack Mu WPcom package
  projects/packages/jetpack-mu-wpcom/changelog/add-classic-theme-helper-package-initialization
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom

#38236 WooCommerce Analytics: Initialize the package only if is not loaded in WooCommerce Core
  projects/plugins/jetpack/changelog/tweak-load-wc-analytics-core
  projects/plugins/jetpack/modules/woocommerce-analytics.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack

#38261 AI Proofread: Update highlight hover
  projects/plugins/jetpack/changelog/update-breve-highlight-hover
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/events.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38256 Newsletters Settings: Fix Full text-Excerpt default value
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/fix-email-should-excerpt-default-value
Labels: [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack

#38262 Jetpack AI Image: Automatically start generation of featured image when there is content on the post
  projects/plugins/jetpack/changelog/update-jetpack-ai-featured-image-auto-start-generation
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/featured-image.tsx
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38146 Protect: Add TypeScript Support
  pnpm-lock.yaml
  projects/plugins/protect/changelog/add-typescript
  projects/plugins/protect/package.json
  projects/plugins/protect/src/js/index.tsx
  projects/plugins/protect/tsconfig.json
  projects/plugins/protect/webpack.config.js
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Status] Needs Team Review, [Package] Abtest, [Plugin] Protect

#38249 Port wpcom-documentation-links from ETK
  projects/packages/jetpack-mu-wpcom/changelog/etk-documentation-links
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-documentation-links/wpcom-documentation-links.css
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-documentation-links/wpcom-documentation-links.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-documentation-links/wpcom-documentation-links.ts
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Documentation Links

#38254 Port wpcom-block-description-links from ETK
  projects/packages/jetpack-mu-wpcom/changelog/etk-wpcom-block-description-links
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/README.md
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/src/block-links-map.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/src/inline-support-link.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/wpcom-block-description-links.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] In Progress, Docs, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Block Description Links

#38250 Jetpack Blocks: Migrate the EventCountdown block from ETK
  projects/plugins/jetpack/changelog/feat-jetpack-event-countdown-block
  projects/plugins/jetpack/extensions/blocks/event-countdown/block.json
  projects/plugins/jetpack/extensions/blocks/event-countdown/edit.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/editor.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/editor.scss
  projects/plugins/jetpack/extensions/blocks/event-countdown/event-countdown.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/event-countdown.php
  projects/plugins/jetpack/extensions/blocks/event-countdown/event-countdown.scss
  projects/plugins/jetpack/extensions/blocks/event-countdown/icon.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/save.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Event Coutdown, [Block] Event Countdown

#38252 Jetpack Boost: Enhance Image and CSS Proxy with CDN and Caching
  projects/plugins/boost/app/modules/image-guide/Image_Guide_Proxy.php
  projects/plugins/boost/app/modules/optimizations/critical-css/CSS_Proxy.php
  projects/plugins/boost/changelog/fix-boost-proxy
Labels: [Status] In Progress, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Image Guide

#38273 Backport boost 3.4.7 Changes
  projects/js-packages/image-guide/CHANGELOG.md
  projects/js-packages/image-guide/changelog/renovate-rollup-plugin-commonjs-26.x
  projects/js-packages/image-guide/changelog/update-replace-eslint-plugin-svelte3
  projects/js-packages/image-guide/changelog/update-rollup-plugin-svelte-svg
  projects/js-packages/image-guide/package.json
  projects/packages/autoloader/CHANGELOG.md
  projects/packages/autoloader/changelog/fix-autoloader-atomic-deprecated-notice
  projects/packages/autoloader/src/AutoloadGenerator.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-social-my-jetpack-plan-slug
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/fix-sync-hpos-get_objects_by_id
  projects/packages/sync/src/class-package-version.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/add-ga-deprecation-notice
  projects/plugins/boost/changelog/add-tracks-events
  projects/plugins/boost/changelog/boost-fix-logging-too-much
  projects/plugins/boost/changelog/fix-boost-proxy
  projects/plugins/boost/changelog/init-new-plugin-cycle
  projects/plugins/boost/changelog/port-wpcomsh-1904
  projects/plugins/boost/changelog/renovate-lock-file-maintenance
  projects/plugins/boost/changelog/renovate-playwright-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo
  projects/plugins/boost/changelog/update-jetpack-ai-add-title-optimization-video-to-product-page
  projects/plugins/boost/changelog/update-sync-must-sync-data-settings
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Package] Sync, [Package] Autoloader, RNA, [Plugin] Boost, [Package] My Jetpack, [JS Package] Image Guide

#38216 Social: Remove unnecessary social connection feature checks
  projects/js-packages/publicize-components/changelog/update-remove-social-connection-feature-checks
  projects/js-packages/publicize-components/src/components/social-previews/use-available-services.js
  projects/js-packages/publicize-components/src/hooks/use-dismiss-notice/index.js
  projects/packages/publicize/changelog/update-remove-social-connection-feature-checks
  projects/packages/publicize/package.json
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/jetpack-social-settings/class-dismissed-notices.php
  projects/plugins/social/changelog/update-remove-social-connection-feature-checks
  projects/plugins/social/src/js/components/admin-page/index.jsx
  projects/plugins/social/src/js/components/instagram-notice/index.jsx
  projects/plugins/social/src/js/components/instagram-notice/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components

#38258 Jetpack Sync: Ensure HPOS order status is prefixed with 'wc-' before sending it to WPCOM
  projects/packages/sync/changelog/update-sync-hpos-add-wc-order-status-prefix
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/modules/class-woocommerce-hpos-orders.php
Labels: [Status] Needs Review, [Package] Sync

#38276 WP Super cache: make sure the debug log viewer isn't deleted by garbage collection
  projects/plugins/super-cache/changelog/super-cache-fix-log-view-deleted
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#38259 Calypsoify: Removing Calypsoify files and references from the Jetpack plugin
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/changelog/remove-calypoify-module-code
  projects/plugins/jetpack/changelog/remove-calypoify-module-code#2
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/modules/calypsoify/README.md
  projects/plugins/jetpack/modules/calypsoify/class-jetpack-calypsoify.php
  projects/plugins/jetpack/modules/calypsoify/mods-gutenberg.js
  projects/plugins/jetpack/modules/calypsoify/mods.js
  projects/plugins/jetpack/modules/calypsoify/style-gutenberg.scss
  projects/plugins/jetpack/modules/module-extras.php
  projects/plugins/jetpack/tools/webpack.config.css.js
  tools/eslint-excludelist.json
Labels: Docs, [Status] Needs Review, [Feature] Calypsoify, [Plugin] Jetpack

#38274 Map Block: React 19 compatibility - converting defaultProps usage on MapkitComponent
  projects/plugins/jetpack/changelog/fix-defaultProps-usage-react-19
  projects/plugins/jetpack/extensions/blocks/map/component/mapkit.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Block] Map, [Plugin] Jetpack, [Focus] Compatibility

#38275 Boost: Init 3.4.8-alpha and update stable tag
  projects/plugins/boost/changelog/init-new-plugin-cycle
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Boost

#38263 WP Super Cache: fix clearing the cache when scheduled posts are published
  projects/plugins/super-cache/changelog/super-cache-fix-scheduled-posts
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Status] Needs Team Review, [Plugin] Super Cache

#38278 Backport super-cache 1.12.3 Changes
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance
  projects/plugins/super-cache/changelog/super-cache-fix-log-view-deleted
  projects/plugins/super-cache/changelog/super-cache-fix-scheduled-posts
  projects/plugins/super-cache/changelog/super-cache-new-cycle
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: Docs, [Status] Needs Review, [Plugin] Super Cache

#38255 Jetpack Blocks: Migrate the Timeline block from ETK
  projects/plugins/jetpack/changelog/feat-jetpack-timeline-block
  projects/plugins/jetpack/extensions/blocks/timeline/block-appender.js
  projects/plugins/jetpack/extensions/blocks/timeline/block.json
  projects/plugins/jetpack/extensions/blocks/timeline/edit.js
  projects/plugins/jetpack/extensions/blocks/timeline/editor.js
  projects/plugins/jetpack/extensions/blocks/timeline/editor.scss
  projects/plugins/jetpack/extensions/blocks/timeline/example.js
  projects/plugins/jetpack/extensions/blocks/timeline/icon.js
  projects/plugins/jetpack/extensions/blocks/timeline/save.js
  projects/plugins/jetpack/extensions/blocks/timeline/style.scss
  projects/plugins/jetpack/extensions/blocks/timeline/timeline-item/edit.js
  projects/plugins/jetpack/extensions/blocks/timeline/timeline-item/index.js
  projects/plugins/jetpack/extensions/blocks/timeline/timeline-item/save.js
  projects/plugins/jetpack/extensions/blocks/timeline/timeline.php
  projects/plugins/jetpack/extensions/blocks/timeline/view.js
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Timeline

#38119 WPCOMSH: Post transfer action to conditionally enable HPOS on WooCommerce sites
  projects/plugins/wpcomsh/changelog/1468-update-hpos-wpcomsh-wpcli
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/package.json
  projects/plugins/wpcomsh/woa.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#38225 My Jetpack: fix Stats Learn More link when site is disconnected
  projects/packages/my-jetpack/_inc/components/stats-section/index.jsx
  projects/packages/my-jetpack/changelog/fix-learn-more-url-for-disconnected-stats
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] In Progress, [Package] My Jetpack

#38282 Enable jetpackedgephpold and jetpackedgenew
  .github/files/jetpack-staging-sites/k6-shared.js
  .github/files/jetpack-staging-sites/update-jetpack-staging-sites.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#38280 AI Proofread: General toggle and highlights improvements
  projects/plugins/jetpack/changelog/add-proofread-highlights-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/events.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/highlight.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38284 jetpack-mu-wpcom: Stabilize build
  projects/packages/jetpack-mu-wpcom/bin/download-help-center-languages.js
  projects/packages/jetpack-mu-wpcom/changelog/fix-constant-changes-for-help-center-languages
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Package] Jetpack mu wpcom

#38270 AI Assistant: Fix blocks content definition
  projects/plugins/jetpack/changelog/update-jetpack-ai-breve-content
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/getPostText.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38079 Newsletters: Enhance Subscription Modal Display Logic
  projects/plugins/jetpack/changelog/update-subscribe-modal-behaviour
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
Labels: [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#38289 AI Proofread: Update sidebar layout
  projects/plugins/jetpack/changelog/update-ai-proofread-sidebar-layout
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/breve.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/controls.js
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/proofread/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38290 AI Proofread: Add popover content
  projects/plugins/jetpack/changelog/add-proofread-popover-content
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-icon/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/components/carrousel.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38281 jetpack: Fix undefined array warnings in Donations block
  projects/plugins/jetpack/_inc/lib/class-jetpack-currencies.php
  projects/plugins/jetpack/changelog/fix-jetpack-donations-block-missing-array-keys
  projects/plugins/jetpack/changelog/fix-jetpack-donations-block-missing-array-keys#2
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/tests/php/_inc/lib/test-class-jetpack-currencies.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Donations, [Tests] Includes Tests

#38232 Hide My Mailboxes link on P2 sites
  projects/packages/masterbar/changelog/fix-hide-mailboxes-link-on-p2-sites
  projects/packages/masterbar/package.json
  projects/packages/masterbar/src/admin-menu/class-p2-admin-menu.php
  projects/packages/masterbar/src/class-main.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Feature] Masterbar, [Package] Masterbar

#38293 MU WPCOM: Port MailerLite Widget
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-mailerlite
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/mailerlite/subscriber-popup.js
  projects/packages/jetpack-mu-wpcom/src/features/mailerlite/subscriber-popup.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Mailerlite

#38279 MU WPCOM: Port the a8c-posts-list block from ETK
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-a8c-posts-list
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/a8c-posts-list.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/blocks/posts-list/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/blocks/posts-list/index.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/blocks/posts-list/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/blocks/posts-list/transforms.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/templates/no-posts.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/templates/post-item.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/templates/posts-list.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/a8c-posts-list/utils.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Blocks

#38294 Add Profile -> My Account menu to admin bar
  projects/packages/jetpack-mu-wpcom/changelog/wpcom-admin-bar-profile
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#38298 MU WPCOM: Move the Event Countdown and Timeline blocks from jetpack to jetpack-mu-wpcom
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-eventcoutdown-timeline-blocks
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/block.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/edit.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/event-countdown.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/event-countdown.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/event-countdown.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/icon.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/save.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/event-countdown/view.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/block-appender.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/block.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/child-blocks.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/edit.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/example.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/icon.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/save.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/timeline-item/edit.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/timeline-item/index.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/timeline-item/save.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/timeline.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/timeline/view.js
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/jetpack/changelog/mu-wpcom-eventcoutdown-timeline-blocks
  projects/plugins/jetpack/extensions/blocks/event-countdown/editor.js
  projects/plugins/jetpack/extensions/blocks/event-countdown/event-countdown.php
  projects/plugins/jetpack/extensions/blocks/timeline/editor.js
  projects/plugins/jetpack/extensions/blocks/timeline/timeline.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Block] Event Countdown, [Block] Timeline, [mu wpcom Feature] Wpcom Blocks

#38302 wpcomsh: Update WooCommerce Calypso Bridge to 2.5.3
  projects/plugins/wpcomsh/changelog/update-wc-calypso-bridge-2.5.3
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#38299 WPCOM Block Editor: Removing files from the Jetpack plugin
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/remove-wpcom-block-editor-module
  projects/plugins/jetpack/modules/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
  projects/plugins/jetpack/modules/wpcom-block-editor/functions.editor-type.php
Labels: [Status] Ready to Merge, [Feature] WordPress.com Block Editor, [Plugin] Jetpack

#38300 Jetpack-mu-wpcom: Simplify the Help Center translations
  projects/packages/jetpack-mu-wpcom/.gitattributes
  projects/packages/jetpack-mu-wpcom/bin/download-help-center-languages.js
  projects/packages/jetpack-mu-wpcom/changelog/simplify-help-center-translations
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/features/help-center/README.md
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
  projects/plugins/wpcomsh/changelog/simplify-help-center-translations
  projects/plugins/wpcomsh/package.json
Labels: [Status] Needs Author Reply, [Status] In Progress, Docs, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Help Center

#38306 Release tracking: added anon parameter, timestamp, and fixed hyphen replacement.
  tools/includes/send_tracks_event.sh
  tools/release-plugin.sh
Labels: [Status] In Progress

#38264 ci: Update pnpm message in check-lock-files.sh
  .github/files/check-lock-files.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions

#38266 Fix/newsletter popup tabs
  projects/plugins/jetpack/changelog/fix-newsletter-popup-tabs
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
Labels: [Feature] Subscriptions, [Status] Needs Author Reply, [Plugin] Jetpack

#37999 Add component for authenticated experiments to ExPlat
  projects/packages/explat/changelog/add-explat-authenticated-component
  projects/packages/explat/src/class-rest-controller.php
  projects/packages/explat/src/client/assignment.ts
  projects/packages/explat/src/client/index.ts
Labels: Docs, [Status] Needs Team Review, [Package] Explat

#38317 MU WPCOM: Enable the custom-line-height feature for classic theme by default
  projects/packages/jetpack-mu-wpcom/changelog/mu-wpcom-custom-line-height
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/block-editor/custom-line-height.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Block Editor

#38246 Forms: remove onSplit in favor of splitting feature
  projects/packages/forms/changelog/fix-form-onSplit-deprecation
  projects/packages/forms/package.json
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-option.js
  projects/packages/forms/src/blocks/contact-form/util/block-support.js
  projects/packages/forms/src/class-jetpack-forms.php
Labels: [Feature] Contact Form, [Status] In Progress, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#38091 Protect card: Add the Last scan time (with tooltip) based on plugin state.
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/protect-value-section.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/use-protect-tooltip-copy.ts
  projects/packages/my-jetpack/_inc/utils/time-since.ts
  projects/packages/my-jetpack/changelog/add-mj-protect-card-last-scan-time
  projects/packages/my-jetpack/changelog/add-mj-protect-last-scan-time
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/backup/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/backup/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/boost/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/boost/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/jetpack/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/jetpack/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/migration/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/migration/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/protect/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/protect/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/search/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/search/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/social/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/social/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/starter-plugin/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/starter-plugin/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-mj-protect-card-last-scan-time
  projects/plugins/videopress/changelog/add-mj-protect-card-last-scan-time#2
  projects/plugins/videopress/changelog/add-mj-protect-card-last-scan-time#3
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#38165 Protect card: Add the Scan/Threats status column (with tooltip)
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/assets/shield-off.svg
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/assets/shield-partial.svg
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/assets/shield-success.svg
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/info-tooltip/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/info-tooltip/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/protect-value-section.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/scan-threats.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/use-protect-tooltip-copy.ts
  projects/packages/my-jetpack/changelog/add-my-protect-card-scan-threats
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/products/class-protect.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#38322 Jetpack AI: Register ai-assistant-site-logo-support beta extension
  projects/plugins/jetpack/changelog/update-jetpack-ai-logo-extension-beta-feature
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Review, [Plugin] Jetpack, [Block] AI Assistant

#37622 Google Analytics: initialize via MU-WPCOM plugin
  projects/packages/jetpack-mu-wpcom/changelog/add-google-analytics-to-mu-wpcom
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/google-analytics/google-analytics.php
  projects/plugins/mu-wpcom-plugin/changelog/add-google-analytics-to-mu-wpcom
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-google-analytics-to-mu-wpcom
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, E2E Tests, [Plugin] Boost, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [mu wpcom Feature] Google Analytics

#38148 Admin: Redirect Jetpack Admin Pages to Specific Sections
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/add-redirect-admin-pages
Labels: [Status] Needs Review, [Plugin] Jetpack

#38198 Publicize: add Fediverse meta tag on posts when available
  projects/packages/publicize/changelog/add-fediverse-tag-social
  projects/packages/publicize/src/class-publicize-base.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Proposal, [Pri] Normal, [Plugin] Jetpack, [Package] Publicize, [Plugin] Social

#38219 Social: Add recommendation steps for the V1 plan
  projects/js-packages/licensing/changelog/update-social-v1-recommendation-steps
  projects/js-packages/licensing/package.json
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/recommendations/constants.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/index.jsx
  projects/plugins/jetpack/_inc/client/recommendations/prompts/resource-prompt/index.jsx
  projects/plugins/jetpack/_inc/client/state/recommendations/reducer.js
  projects/plugins/jetpack/changelog/update-social-v1-recommendation-steps
Labels: [Status] In Progress, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Licensing

#38320 Jetpack Sync: Add support for WooCommerce HPOS checksums
  projects/packages/sync/changelog/fix-sync-hpos-checksum-support
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-replicastore.php
  projects/packages/sync/src/replicastore/class-table-checksum.php
  projects/plugins/automattic-for-agencies-client/changelog/fix-sync-hpos-checksum-support
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/fix-sync-hpos-checksum-support
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/fix-sync-hpos-checksum-support
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/fix-sync-hpos-checksum-support
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-sync-hpos-checksum-support
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/fix-sync-hpos-checksum-support
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/fix-sync-hpos-checksum-support
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-sync-hpos-checksum-support
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-sync-hpos-checksum-support
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-sync-hpos-checksum-support
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/fix-sync-hpos-checksum-support
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/fix-sync-hpos-checksum-support
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#38301 Fix comment redirect and avoid loading likes for unapproved comments
  projects/plugins/jetpack/changelog/fix-at-comment-post-redirect
  projects/plugins/jetpack/modules/comment-likes.php
  projects/plugins/jetpack/modules/comments/subscription-modal-on-comment/subscription-modal.js
Labels: [Feature] Comments, [Status] In Progress, [Plugin] Jetpack

#38329 Jetpack Boost: Fix Image Guide Display for SVGs
  projects/js-packages/image-guide/changelog/update-fix-image-guide-svgs
  projects/js-packages/image-guide/src/find-image-elements.ts
  projects/js-packages/image-guide/src/ui/Bubble.svelte
  projects/js-packages/image-guide/src/ui/Main.svelte
  projects/js-packages/image-guide/src/ui/Popup.svelte
Labels: [Status] Needs Author Reply, RNA, [JS Package] Image Guide

#38310 Random Redirect: remove module from Jetpack plugin
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-remove-random-redirect
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/module-extras.php
  projects/plugins/jetpack/modules/theme-tools/random-redirect.php
Labels: [Feature] Theme Tools, [Status] Ready to Merge, [Plugin] Jetpack

#38314 AI Assistant: Add long sentences feature to proofread
  projects/plugins/jetpack/changelog/add-proofread-long-sentences
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/ambiguous-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/complex-words/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/events.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/long-sentences/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/highlight.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/highlight/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#38309 Comic CPT: remove definition from Jetpack plugin
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-remove-comic-cpt-include
  projects/plugins/jetpack/modules/custom-post-types/comics.php
  projects/plugins/jetpack/modules/module-extras.php
Labels: [Feature] Custom Content Types, [Status] Needs Team Review, [Plugin] Jetpack

#38184 WAF: Introduce separate toggles for the block and allow lists
  projects/packages/waf/changelog/add-waf-ip-list-toggles
  projects/packages/waf/composer.json
  projects/packages/waf/src/class-brute-force-protection.php
  projects/packages/waf/src/class-compatibility.php
  projects/packages/waf/src/class-rest-controller.php
  projects/packages/waf/src/class-waf-rules-manager.php
  projects/packages/waf/src/class-waf-runner.php
  projects/packages/waf/tests/php/integration/test-waf-compatibility.php
  projects/plugins/jetpack/changelog/add-waf-ip-list-toggles
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/add-waf-ip-list-toggles
  projects/plugins/protect/composer.lock
Labels: [Status] In Progress, [Plugin] Jetpack, [Package] WAF, [Plugin] Protect, [Tests] Includes Tests

#38307 Delete Comic Custom Post Type assets
  projects/plugins/jetpack/changelog/update-remove-comic-cpt
  projects/plugins/jetpack/modules/custom-post-types/comics/admin.css
  projects/plugins/jetpack/modules/custom-post-types/comics/comics.css
  projects/plugins/jetpack/modules/custom-post-types/comics/comics.js
  projects/plugins/jetpack/modules/custom-post-types/comics/rtl/comics-rtl.css
  projects/plugins/jetpack/tools/webpack.config.css.js
Labels: [Feature] Custom Content Types, [Status] Needs Team Review, [Plugin] Jetpack

#38326 WAF: Remove unnecessary mode check before updating rule files
  projects/packages/waf/changelog/remove-waf-update-rules-mode-check
  projects/packages/waf/src/class-waf-initializer.php
  projects/packages/waf/src/class-waf-rules-manager.php
  projects/packages/waf/src/class-waf-runner.php
Labels: [Type] Janitorial, [Status] Needs Team Review, [Package] WAF

#38328 Remove Stats copy from connection screen
  projects/js-packages/connection/changelog/remove-stats-from-connection-interstitial
  projects/js-packages/connection/components/connect-screen/basic/stories/index.stories.jsx
  projects/js-packages/connection/package.json
  projects/packages/my-jetpack/_inc/components/product-detail-card/stories/broken/mock-data.js
  projects/packages/my-jetpack/changelog/remove-stats-from-connection-interstitial
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/products/class-extras.php
  projects/plugins/backup/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/changelog/remove-stats-from-connection-interstitial
  projects/plugins/jetpack/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-remove-stats-from-connection-interstitial
  projects/plugins/videopress/composer.lock
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#38343 jetpack_get_google_fonts_data: Add optional pre_ filter to shortcircuit fetching google fonts data
  projects/plugins/jetpack/changelog/update-google-fonts-prefilter
  projects/plugins/jetpack/modules/google-fonts/current/load-google-fonts.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Feature] Google Fonts

#38345 Update/subscribe overlay track
  projects/plugins/jetpack/changelog/update-subscribe-overlay-track
  projects/plugins/jetpack/modules/subscriptions/subscribe-overlay/class-jetpack-subscribe-overlay.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#38351 WPCom Themes on Atomic: Fix WP_CLI errors when working with themes
  projects/plugins/wpcomsh/changelog/fix-wp-cli-theme-install-displays-warning
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh

#38349 Newsletters: Add appSource to modal and navigation subscribe blocks
  projects/plugins/jetpack/changelog/update-subscribe-block-tracks
  projects/plugins/jetpack/extensions/blocks/subscriptions/class-jetpack-subscription-site.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
Labels: [Feature] Subscriptions, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack

#38283 Add/segmentation to jetpack products my jetpack
  projects/js-packages/components/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/js-packages/components/components/admin-section/types.ts
  projects/js-packages/components/package.json
  projects/packages/jitm/changelog/update-my-jetpack-jitm-css
  projects/packages/jitm/src/class-jitm.php
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/styles.module.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/style.module.scss
  projects/packages/my-jetpack/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/products/class-anti-spam.php
  projects/packages/my-jetpack/src/products/class-boost.php
  projects/packages/my-jetpack/src/products/class-crm.php
  projects/packages/my-jetpack/src/products/class-protect.php
  projects/plugins/backup/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/boost/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/jetpack/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/migration/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/protect/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/search/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/social/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/starter-plugin/changelog/add-segmentation-to-jetpack-products-my-jetpack
  projects/plugins/videopress/changelog/add-segmentation-to-jetpack-products-my-jetpack
Labels: [Status] Needs Author Reply, [Status] Needs Design Review, [Plugin] Jetpack, [Package] Jitm, RNA, [Status] Design Input Requested, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#38356 Added PHP 7.0 testing in WordPress previous.
  .github/files/generate-ci-matrix.php
  .github/files/setup-wordpress-env.sh
  .github/workflows/tests.yml
  projects/packages/jetpack-mu-wpcom/changelog/add-manual-previous-70-testing
  projects/packages/jetpack-mu-wpcom/tests/php/features/verbum-comments/class-verbum-block-utils-test.php
  projects/plugins/jetpack/changelog/add-manual-previous-70-testing
  projects/plugins/jetpack/tests/action-test-php.sh
Labels: [Status] In Progress, Actions, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Tests] Includes Tests
