Repository Automattic/jetpack, pull requests merged in 2024-04, with the labels that each got.

#36634 Fix: Mapkit search accuracy
  projects/plugins/jetpack/changelog/fix-mapkit-accuracy
  projects/plugins/jetpack/extensions/blocks/map/location-search/mapkit.js
Labels: [Status] Needs Review, [Block] Map, [Plugin] Jetpack

#36673 CI: Disable 8.4 PHPCompatibility rule in dev run
  .github/files/phpcompatibility-dev-phpcs.xml
  projects/packages/identity-crisis/changelog/fix-phpcompatibility-dev-phpcs
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/my-jetpack/changelog/fix-phpcompatibility-dev-phpcs
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/boost/changelog/fix-phpcompatibility-dev-phpcs
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] BLOCKER, Actions, [Package] Identity Crisis, [Plugin] Boost, [Package] My Jetpack

#36677 Update changelog and readme for 13.3-beta.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#36675 crm, inspect: Set minimum PHP version in composer.json
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/changelog/fix-specify-php-version-in-composer.json-for-crm-and-inspect
  projects/plugins/crm/composer.json
  projects/plugins/crm/composer.lock
  projects/plugins/inspect/changelog/fix-specify-php-version-in-composer.json-for-crm-and-inspect
  projects/plugins/inspect/composer.json
  projects/plugins/inspect/composer.lock
  tools/parallel-lint.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] CRM, [Plugin] Inspect

#36679 Fix/sync between boost scores
  projects/packages/my-jetpack/changelog/fix-sync-between-boost-scores
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#36569 AI Assistant: PoC scroll on suggestion stream
  projects/plugins/jetpack/changelog/poc-ai-assistant-follow-scroll
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-auto-scroll/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#36667 WPCOM Simple Site: Remove add license link in the Search upsell page
  projects/packages/search/changelog/remove-wpcom-simple-site-search-add-license
  projects/packages/search/composer.json
  projects/packages/search/package.json
  projects/packages/search/src/class-package.php
  projects/packages/search/src/dashboard/components/pages/upsell-page/header.jsx
  projects/plugins/jetpack/changelog/remove-wpcom-simple-site-search-add-license
  projects/plugins/jetpack/composer.lock
  projects/plugins/search/changelog/remove-wpcom-simple-site-search-add-license
  projects/plugins/search/composer.lock
Labels: [Status] In Progress, [Plugin] Jetpack, [Plugin] Search, [Package] Search

#36654 Social: Ensure the panel is rendered during pre/post publish
  projects/plugins/jetpack/changelog/fix-social-publish-panel
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
  projects/plugins/jetpack/extensions/plugins/publicize/settings.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] Publicize

#36686 Backport boost 3.2.2 Changes
  projects/packages/identity-crisis/CHANGELOG.md
  projects/packages/identity-crisis/changelog/fix-phpcompatibility-dev-phpcs
  projects/packages/identity-crisis/package.json
  projects/packages/identity-crisis/src/class-identity-crisis.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-phpcompatibility-dev-phpcs
  projects/packages/my-jetpack/changelog/fix-sync-between-boost-scores
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/videopress/CHANGELOG.md
  projects/packages/videopress/changelog/renovate-automattic-calypso-color-schemes-3.x
  projects/packages/videopress/package.json
  projects/packages/videopress/src/class-package-version.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-cache-broken-reference
  projects/plugins/boost/changelog/fix-phpcompatibility-dev-phpcs
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: Docs, [Status] Needs Review, [Package] Identity Crisis, [Plugin] Boost, [Package] My Jetpack, [Package] VideoPress

#36691 Boost: Init new plugin cycle
  projects/plugins/boost/changelog/init-release-cycle
  projects/plugins/boost/changelog/update-init-plugin-cycle
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/package.json
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Team Review, [Plugin] Boost

#36681 Fix Carousel undefined array item warnings.
  projects/plugins/jetpack/changelog/fix-carousel-undefined-array-item
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: [Type] Bug, [Feature] Carousel, [Status] Ready to Merge, [Plugin] Jetpack

#36432 Boost: Add speed score popout
  projects/plugins/boost/app/assets/src/js/features/speed-score/speed-score.tsx
  projects/plugins/boost/changelog/add-speed-score-prompt
Labels: Admin Page, [Status] Needs Team Review, [Plugin] Boost, [Package] Boost Speed Score

#36680 Fix deprecation warnings in the Color library.
  projects/plugins/jetpack/_inc/lib/class.color.php
  projects/plugins/jetpack/changelog/fix-deprecation-warnings-color
Labels: [Type] Bug, [Feature] Theme Tools, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack

#36684 Add Hosting menu to Simple sites
  projects/packages/jetpack-mu-wpcom/changelog/add-hosting-menu-to-simple
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/plugins/mu-wpcom-plugin/changelog/add-hosting-menu-to-simple
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#36693 Sync send queue size for pull jobs
  projects/packages/sync/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/packages/sync/src/class-rest-sender.php
  projects/plugins/automattic-for-agencies-client/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-sync-send-queue-size-for-pull-jobs
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] Automattic For Agencies Client

#36700 Fix/cache on front end boost scores
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/boost-speed-score.tsx
  projects/packages/my-jetpack/changelog/fix-cache-on-front-end-boost-scores
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#36705 Fix/tier upgrades my jetpack
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/changelog/fix-tier-upgrades-my-jetpack
  projects/packages/my-jetpack/src/products/class-product.php
Labels: [Status] Needs Review, [Package] My Jetpack

#36683 Jetpack AI Assistant: Remove old deadcode from image modal
  projects/plugins/jetpack/changelog/update-jetpack-ai-remove-unused-code-image
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/image-with-select/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/toolbar-controls/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/image/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#36614 Update My Jetpack Notice behavior
  projects/packages/my-jetpack/_inc/components/notice/index.tsx
  projects/packages/my-jetpack/_inc/context/notices/noticeContext.tsx
  projects/packages/my-jetpack/_inc/context/notices/types.ts
  projects/packages/my-jetpack/changelog/update-connection-and-notice-behavior
Labels: [Status] In Progress, [Package] My Jetpack

#36708 VideoPress: Update plugin readme
  projects/plugins/videopress/changelog/update-videopress-readme
  projects/plugins/videopress/readme.txt
Labels: [Status] Needs Team Review, [Plugin] VideoPress

#36690 SSO: disable user invite system on Multisite
  projects/plugins/jetpack/changelog/update-sso-no-multisite
  projects/plugins/jetpack/modules/sso.php
Labels: [Type] Bug, [Feature] SSO, [Status] Proposal, [Pri] High, [Status] Needs Team Review, [Plugin] Jetpack

#36695 Fix untranslated sharing label
  projects/plugins/jetpack/changelog/fix-translation-issues
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
Labels: [Feature] Sharing, [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack

#36689 Update Odyssey Stats default name and slug in Admin Menu
  projects/packages/stats-admin/changelog/update-odyssey-stats-menu
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-dashboard.php
  projects/packages/stats-admin/src/class-main.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Stats Admin

#36671 Social Notes: Add options and UI for link formatting
  projects/js-packages/publicize-components/changelog/add-options-and-ui-for-link-formatting
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/social-store/actions/social-notes-settings.js
  projects/js-packages/publicize-components/src/social-store/selectors/jetpack-settings.js
  projects/packages/sync/changelog/add-options-and-ui-for-link-formatting
  projects/packages/sync/src/class-defaults.php
  projects/plugins/jetpack/changelog/add-options-and-ui-for-link-formatting
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/social/changelog/add-options-and-ui-for-link-formatting
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/class-note.php
  projects/plugins/social/src/class-rest-settings-controller.php
  projects/plugins/social/src/js/components/social-notes-toggle/index.tsx
  projects/plugins/social/src/js/components/social-notes-toggle/styles.module.scss
Labels: [Status] Needs Review, [Package] Sync, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#36715 Social notes | Fix i18n for link format options
  projects/plugins/social/changelog/fix-social-notes-i18n-for-link-format-options
  projects/plugins/social/src/js/components/social-notes-toggle/index.tsx
Labels: [Status] Needs Review, [Plugin] Social

#36568 Extract browser and platform from user agent
  projects/packages/device-detection/changelog/Add get_browser capability for device stats
  projects/packages/device-detection/src/class-device-detection.php
  projects/packages/device-detection/src/class-user-agent-info.php
  projects/packages/device-detection/tests/php/test_DeviceDetection.php
Labels: [Status] Needs Review, [Package] Device Detection, [Tests] Includes Tests

#36704 Jetpack CRM: Font reinstallation improvements
  projects/plugins/crm/admin/settings/locale.page.php
  projects/plugins/crm/changelog/fix-jpcrm-3458-broken-pdf-due-to-fonts
Labels: [Status] Needs Team Review, [Plugin] CRM

#36374 Newsletters: Add Filter for Timing of Subscribe Modal Pop-up
  projects/plugins/jetpack/changelog/update-subscription-modal-load-time
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/class-jetpack-subscribe-modal.php
  projects/plugins/jetpack/modules/subscriptions/subscribe-modal/subscribe-modal.js
Labels: [Feature] Subscriptions, [Status] Ready to Merge, OSS Citizen, [Plugin] Jetpack

#36560 Woo Analytics: prevent accessing undefined wp.hooks on checkout
  projects/packages/woocommerce-analytics/changelog/fix-wp-hooks-check
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#36716 Boost: Add e2e tests for Image Guide
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/boost/app/assets/src/js/features/module/module.tsx
  projects/plugins/boost/app/lib/class-cli.php
  projects/plugins/boost/changelog/add-e2e-tests-image-guide
  projects/plugins/boost/tests/e2e/lib/env/prerequisites.js
  projects/plugins/boost/tests/e2e/lib/pages/frontend/FirstPostPage.js
  projects/plugins/boost/tests/e2e/lib/pages/index.js
  projects/plugins/boost/tests/e2e/plugins/e2e-appended-image/assets/e2e-image.png
  projects/plugins/boost/tests/e2e/plugins/e2e-appended-image/e2e-appended-image.php
  projects/plugins/boost/tests/e2e/specs/image-guide/image-guide.test.js
  tools/docker/jetpack-docker-config-default.yml
Labels: Docker, [Status] Needs Team Review, Actions, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#36642 Sharing block: make sharing options translatable
  projects/plugins/jetpack/changelog/fix-sharing-blocks-not-translatable-text
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
Labels: [Status] Ready to Merge, [Focus] i18n, [Plugin] Jetpack, [Block] Sharing Button

#36720 jetpack-mu-wpcom: Fix test for WP 6.5
  projects/packages/jetpack-mu-wpcom/changelog/fix-mu-wpcom-test-for-wp-6.5
  projects/packages/jetpack-mu-wpcom/tests/php/features/verbum-comments/class-verbum-block-utils-test.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, [Package] Jetpack mu wpcom, [Tests] Includes Tests

#36718 Fix the (no title) link on the post publish panel
  projects/js-packages/publicize-components/changelog/fix-no-title-link-on-the-post-publish-panel
  projects/js-packages/publicize-components/src/components/panel/global.scss
  projects/js-packages/publicize-components/src/components/panel/index.jsx
Labels: [Status] Needs Review, RNA, [JS Package] Publicize Components

#36713 CRM: Fixes Automattic/zero-bs-crm#3425 - Statement PDF broken for long lists
  projects/plugins/crm/changelog/fix-jpcrm-3425-invoice-statement-pdf-cut-off-fix
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
  projects/plugins/crm/templates/invoices/statement-pdf.html
Labels: [Status] Needs Team Review, [Plugin] CRM

#36703 AI Featured Image: handle posts longer than Dall-e's prompt limit
  projects/js-packages/ai-client/changelog/update-featured-image-handle-posts-longer-than-the-limit
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/hooks/use-image-generator/index.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] AI Client

#36723 ✏️ Backup: fixing minor typo
  projects/plugins/backup/changelog/fix-minor-spelling
  projects/plugins/backup/jetpack-backup.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Backup

#36072 My Jetpack: Integrate Boost score increase into Boost card and tooltip
  projects/packages/boost-speed-score/changelog/add-my-jetpack-boost-score-increase
  projects/packages/boost-speed-score/src/class-speed-score.php
  projects/packages/my-jetpack/_inc/components/product-card/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/boost-speed-score.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/style.scss
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/types.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/boost-card/use-boost-tooltip-copy.ts
  projects/packages/my-jetpack/changelog/add-my-jetpack-boost-score-increase
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Boost, [Package] My Jetpack, [Package] Boost Speed Score

#36712 Load Stats on Simple sites during admin_menu hook
  projects/packages/jetpack-mu-wpcom/changelog/load-simple-stats-on-admin-menu-hook
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom

#36709 AI Featured Image: Handling errors
  projects/js-packages/ai-client/changelog/add-error-rejection
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/hooks/use-image-generator/index.ts
  projects/plugins/jetpack/changelog/add-error-featured-image
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client, [Extension] AI Assistant Plugin

#36664 A4A: Add connection card and related components
  projects/js-packages/base-styles/changelog/add-automattic-colors
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/root-variables.scss
  projects/js-packages/components/changelog/add-a8c-logos
  projects/js-packages/components/components/automattic-for-agencies-logo/index.tsx
  projects/js-packages/components/components/automattic-icon-logo/index.tsx
  projects/js-packages/components/index.ts
  projects/js-packages/components/package.json
  projects/plugins/automattic-for-agencies-client/changelog/add-a4a-connection-card-components
  projects/plugins/automattic-for-agencies-client/src/js/components/admin-page/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/branded-card/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/branded-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/check-icon/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-button/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-button/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-card/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/scss/_mixins.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [JS Package] Base Styles, [Plugin] Automattic For Agencies Client

#36701 Blocks: upgrade to API version 3 - Part 1
  projects/plugins/jetpack/changelog/update-bump-block-api-version
  projects/plugins/jetpack/extensions/blocks/blog-stats/block.json
  projects/plugins/jetpack/extensions/blocks/blog-stats/edit.js
  projects/plugins/jetpack/extensions/blocks/blog-stats/test/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/buttons/index.js
  projects/plugins/jetpack/extensions/blocks/recurring-payments/block.json
  projects/plugins/jetpack/extensions/blocks/send-a-message/block.json
  projects/plugins/jetpack/extensions/blocks/send-a-message/edit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/save.js
  projects/plugins/jetpack/extensions/blocks/wordads/block.json
  projects/plugins/jetpack/extensions/blocks/wordads/edit.js
  projects/plugins/jetpack/extensions/blocks/wordads/test/__snapshots__/edit.js.snap
  projects/plugins/jetpack/extensions/blocks/wordads/test/edit.js
Labels: [Status] Ready to Merge, [Block] Ad, [Block] Send a message, [Block] Paid Content, [Plugin] Jetpack, [Block] Payments, [Tests] Includes Tests, [Block] Blog Stats

#36697 Fix scheduled updates deletion/saving
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-saving
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-test.php
Labels: [Status] In Progress, [Tests] Includes Tests, [Package] Scheduled Updates

#36687 Scheduled Updates: Add /logs endpoints
  projects/packages/scheduled-updates/changelog/add-scheduled-updates-logs-endpoint
  projects/packages/scheduled-updates/src/class-scheduled-updates-logs.php
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-logs-test.php
  projects/packages/scheduled-updates/tests/php/class-wpcom-rest-api-v2-endpoint-update-schedules-test.php
Labels: [Status] Needs Team Review, [Plugin] mu wpcom, [Tests] Includes Tests, [Package] Scheduled Updates

#36694 Boost: Add tests for Image CDN
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/boost/app/lib/class-cli.php
  projects/plugins/boost/changelog/add-e2e-tests-image-cdn
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/specs/image-cdn/image-cdn.test.js
Labels: Docker, [Status] Needs Team Review, Actions, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#36668 Boost: Add e2e tests to concatenate JS/CSS
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/boost/app/assets/src/js/features/minify-meta/minify-meta.tsx
  projects/plugins/boost/app/lib/class-cli.php
  projects/plugins/boost/changelog/add-e2e-tests-concatenate-js-css
  projects/plugins/boost/tests/e2e/lib/env/prerequisites.js
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/plugins/e2e-concatenate-enqueue/assets/e2e-script-one.js
  projects/plugins/boost/tests/e2e/plugins/e2e-concatenate-enqueue/assets/e2e-script-two.js
  projects/plugins/boost/tests/e2e/plugins/e2e-concatenate-enqueue/assets/e2e-style-one.css
  projects/plugins/boost/tests/e2e/plugins/e2e-concatenate-enqueue/assets/e2e-style-two.css
  projects/plugins/boost/tests/e2e/plugins/e2e-concatenate-enqueue/e2e-concatenate-enqueue.php
  projects/plugins/boost/tests/e2e/specs/concatenate/concatenate.test.js
  tools/docker/jetpack-docker-config-default.yml
Labels: Docker, [Status] Needs Team Review, Actions, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#36727 CRM: Let Woo invoices use crm reference number
  projects/plugins/crm/changelog/update-crm-3457-let-woo-invoices-use-crm-reference-number
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Invoices.php
  projects/plugins/crm/modules/woo-sync/admin/settings/main.page.php
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-background-sync-job.php
Labels: [Status] Needs Team Review, [Plugin] CRM, [CRM] WooSync Module

#36736 Scheduled update logs: Log timestamp as int
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-logs-timestamp-int
  projects/packages/scheduled-updates/src/class-scheduled-updates-logs.php
Labels: [Status] Needs Review, [Package] Scheduled Updates

#36731 Photon: update filter docblock to match possible types
  projects/packages/image-cdn/changelog/update-photon-filter-doc
  projects/packages/image-cdn/package.json
  projects/packages/image-cdn/src/class-image-cdn.php
Labels: [Feature] Photon, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Status] Needs Team Review, [Package] Image CDN

#36733 Updates jetpack changelog, dates, and version numbers after 13.3.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/fix-social-publish-panel
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#36738 Backport mu-wpcom-plugin 2.1.12 Changes
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/changelog/add-hosting-menu-to-simple
  projects/packages/jetpack-mu-wpcom/changelog/fix-mu-wpcom-test-for-wp-6.5
  projects/packages/jetpack-mu-wpcom/changelog/load-simple-stats-on-admin-menu-hook
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/scheduled-updates/CHANGELOG.md
  projects/packages/scheduled-updates/changelog/add-scheduled-updates-logs
  projects/packages/scheduled-updates/changelog/add-scheduled-updates-logs-endpoint
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-logs-timestamp-int
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-saving
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-hosting-menu-to-simple
  projects/plugins/mu-wpcom-plugin/changelog/add-scheduled-updates-logs
  projects/plugins/mu-wpcom-plugin/changelog/add-scheduled-updates-logs#2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] Scheduled Updates

#36724 Blocks: move localizable strings out of the metadata attributes field
  projects/plugins/jetpack/changelog/fix-blocks-non-localized-strings
  projects/plugins/jetpack/extensions/blocks/ai-chat/block.json
  projects/plugins/jetpack/extensions/blocks/ai-chat/constants.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/controls.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/question-answer.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/save.js
  projects/plugins/jetpack/extensions/blocks/ai-chat/view.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/block.json
  projects/plugins/jetpack/extensions/blocks/cookie-consent/constants.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/edit.js
  projects/plugins/jetpack/extensions/blocks/cookie-consent/save.js
  projects/plugins/jetpack/extensions/blocks/donations/block.json
  projects/plugins/jetpack/extensions/blocks/donations/constants.js
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/donations/tab.js
  projects/plugins/jetpack/extensions/blocks/goodreads/block.json
  projects/plugins/jetpack/extensions/blocks/goodreads/controls.js
  projects/plugins/jetpack/extensions/blocks/goodreads/test/fixtures/jetpack__goodreads.json
  projects/plugins/jetpack/extensions/blocks/goodreads/utils.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/block.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/constants.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/controls.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/edit.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp.json
  projects/plugins/jetpack/extensions/blocks/mailchimp/test/fixtures/jetpack__mailchimp__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/premium-content/block.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/block.json
  projects/plugins/jetpack/extensions/blocks/subscriptions/constants.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-2.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-3.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-5.serialized.html
  projects/plugins/jetpack/extensions/blocks/subscriptions/test/fixtures/jetpack__subscriptions__deprecated-6.serialized.html
Labels: [Status] Ready to Merge, [Block] Subscriptions, [Block] Mailchimp, [Block] Paid Content, [Plugin] Jetpack, [Block] Donations, [Block] Cookie Consent, [Tests] Includes Tests, [Block] AI Chat, [Block] Goodreads

#36711 Update Notice component in My Jetpack
  projects/js-packages/components/changelog/update-notice-component
  projects/js-packages/components/components/notice/index.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/styles.module.scss
  projects/packages/my-jetpack/_inc/context/notices/noticeContext.tsx
  projects/packages/my-jetpack/_inc/context/notices/types.ts
  projects/packages/my-jetpack/_inc/data/notices/use-fetching-error-notice.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-bad-install-notice.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.ts
  projects/packages/my-jetpack/changelog/update-my-jetpack-notice
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/update-my-jetpack-notice
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/update-my-jetpack-notice
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/update-my-jetpack-notice
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/update-my-jetpack-notice
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/update-my-jetpack-notice
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/update-my-jetpack-notice
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/update-my-jetpack-notice
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/update-my-jetpack-notice
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/update-my-jetpack-notice
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Plugin] Jetpack, RNA, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#36477 Update/bot list
  projects/packages/device-detection/changelog/update-bot-list
  projects/packages/device-detection/src/class-user-agent-info.php
Labels: [Status] Needs Review, [Package] Device Detection

#36729 A4A: Add "share details" content to the Connection Card
  pnpm-lock.yaml
  projects/plugins/automattic-for-agencies-client/changelog/add-share-details-info-to-connection-card
  projects/plugins/automattic-for-agencies-client/package.json
  projects/plugins/automattic-for-agencies-client/src/js/components/branded-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/close-icon/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-card/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/left-arrow/index.jsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [JS Package] Base Styles, [Plugin] Automattic For Agencies Client

#36735 Social: Fix instagram learn more link
  projects/js-packages/publicize-components/changelog/fix-social-instagram-learn-more-link
  projects/js-packages/publicize-components/src/components/form/instagram-no-media-notice.tsx
  projects/packages/publicize/changelog/fix-social-instagram-learn-more-link
  projects/packages/publicize/package.json
  projects/packages/publicize/src/js/classic-editor-connections.js
Labels: [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components

#36739 Eventbrite Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-bump-block-api-version-2
  projects/plugins/jetpack/extensions/blocks/eventbrite/controls.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/edit.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/form.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/loader.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/preview.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/save.js
Labels: [Block] Eventbrite, [Status] Needs Team Review, [Plugin] Jetpack

#36501 Boost: Add e2e tests to Page Cache
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/boost/app/assets/src/js/features/page-cache/page-cache.tsx
  projects/plugins/boost/app/lib/class-cli.php
  projects/plugins/boost/changelog/add-more-e2e-tests
  projects/plugins/boost/tests/e2e/lib/pages/index.js
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/JetpackBoostPage.js
  projects/plugins/boost/tests/e2e/lib/pages/wp-admin/PermalinksPage.js
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/boost/tests/e2e/specs/page-cache/page-cache.test.js
Labels: Docker, [Status] Needs Team Review, Actions, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#36734 Social | Simplify and clarify social network selection for post sharing
  projects/plugins/jetpack/changelog/update-simplify-and-clarify-social-network-selection-for-post-sharing
  projects/plugins/jetpack/extensions/plugins/publicize/components/upsell/index.js
  projects/plugins/social/changelog/update-simplify-and-clarify-social-network-selection-for-post-sharing
  projects/plugins/social/src/js/components/publicize-panel/description.jsx
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] Publicize, [Plugin] Social

#36737 Subscriptions: Add Subscriber Login block navigation placement setting to Sync and Dotcom API
  projects/plugins/jetpack/changelog/update-subscriber-login-option-sync
  projects/plugins/jetpack/extensions/blocks/subscriber-login/subscriber-login.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
Labels: [Feature] WPCOM API, [Status] In Progress, [Plugin] Jetpack, [Tests] Includes Tests, [Block] Subscriber Login

#36752 Scheduled updates: Infer status from logs
  projects/packages/scheduled-updates/changelog/add-update-manager-infer-status-from-logs
  projects/packages/scheduled-updates/composer.json
  projects/packages/scheduled-updates/src/class-scheduled-updates-logs.php
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/plugins/mu-wpcom-plugin/changelog/add-update-manager-infer-status-from-logs
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: [Status] Needs Team Review, [Plugin] mu wpcom, [Package] Scheduled Updates

#36717 Subscription Site: Release the Subscriber Login navigation placement toggle
  projects/plugins/jetpack/_inc/client/newsletter/subscriptions-settings.jsx
  projects/plugins/jetpack/changelog/update-subscriber-login-release
  projects/plugins/jetpack/extensions/blocks/subscriber-login/class-jetpack-subscription-site.php
Labels: [Status] In Progress, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Subscriber Login

#36751 Janitorial: update to the most recent version of Color Studio
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-color-studio-260
  projects/js-packages/publicize-components/package.json
  projects/packages/forms/changelog/update-color-studio-260
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/search/changelog/update-color-studio-260
  projects/packages/search/package.json
  projects/packages/wordads/changelog/update-color-studio-260
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
  projects/plugins/jetpack/changelog/update-color-studio-260
  projects/plugins/jetpack/package.json
  projects/plugins/social/changelog/update-color-studio-260
  projects/plugins/social/package.json
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Search, [Plugin] Social, [Package] Ad, [JS Package] Publicize Components, [Package] Forms

#36754 mu-wpcom-plugin 2.1.13 Changes
  projects/packages/jetpack-mu-wpcom/CHANGELOG.md
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/scheduled-updates/CHANGELOG.md
  projects/packages/scheduled-updates/changelog/add-update-manager-infer-status-from-logs
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/plugins/mu-wpcom-plugin/CHANGELOG.md
  projects/plugins/mu-wpcom-plugin/changelog/add-update-manager-infer-status-from-logs
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
Labels: Docs, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] Scheduled Updates

#36759 Jetpack: update the readme to reduce WP Super Cache with Boost being the replacement
  projects/plugins/jetpack/changelog/update-readme-supercache
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#36742 Blocks: upgrade to API version 3 - Part 2
  projects/plugins/jetpack/changelog/update-upgrade-block-api-part-2
  projects/plugins/jetpack/extensions/blocks/cookie-consent/block.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/block.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/edit.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/save.js
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite.serialized.html
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.json
  projects/plugins/jetpack/extensions/blocks/eventbrite/test/fixtures/jetpack__eventbrite__deprecated-1.serialized.html
  projects/plugins/jetpack/extensions/blocks/goodreads/block.json
  projects/plugins/jetpack/extensions/blocks/goodreads/edit.js
  projects/plugins/jetpack/extensions/blocks/goodreads/save.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/block.json
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/instagram-gallery/save.js
  projects/plugins/jetpack/extensions/blocks/opentable/block.json
  projects/plugins/jetpack/extensions/blocks/opentable/edit.js
  projects/plugins/jetpack/extensions/blocks/opentable/editor.js
  projects/plugins/jetpack/extensions/blocks/opentable/editor.scss
  projects/plugins/jetpack/extensions/blocks/opentable/view.scss
Labels: [Status] Ready to Merge, [Block] Eventbrite, [Block] OpenTable, [Block] Latest Instagram Posts, [Plugin] Jetpack, [Block] Cookie Consent, [Tests] Includes Tests, [Block] Goodreads

#36758 Markdown Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-markdown-block
  projects/plugins/jetpack/extensions/blocks/markdown/controls.js
  projects/plugins/jetpack/extensions/blocks/markdown/edit.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack, [Block] Markdown

#36749 Untangling: Create /wpcom/v2/admin-color endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-color.php
  projects/plugins/jetpack/changelog/untangling-nav-reunification-color
Labels: [Feature] WPCOM API, [Status] In Progress, [Plugin] Jetpack

#36615 E2E: Support for custom tunnel URL
  tools/e2e-commons/README.md
  tools/e2e-commons/bin/tunnel.js
Labels: Docs, [Status] Needs Review, E2E Tests

#36762 Repeat Visitor Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-repeat-visitor-block
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/components/edit.js
Labels: [Block] Repeat Visitor, [Status] Needs Team Review, [Plugin] Jetpack

#36748 Compat: update GlotPress locales
  projects/packages/compat/changelog/update-glotpress-locales
  projects/packages/compat/lib/locales.php
Labels: [Status] Needs Author Reply, [Type] Janitorial, [Pri] Normal, OSS Citizen, [Package] Compat

#36373 Boost: Add endpoint to list source providers
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/rest-api/endpoints/List_Source_Providers.php
  projects/plugins/boost/changelog/add-list-source-providers-endpoint
Labels: [Status] Needs Team Review, [Plugin] Boost

#36779 Social Notes: Fix share as a social post issue
  projects/js-packages/publicize-components/changelog/fix-social-notes-share-as-a-social-post
  projects/js-packages/publicize-components/src/components/form/share-post-form.tsx
Labels: [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#36778 Fix: delete logs after scheduled update deletion
  projects/packages/scheduled-updates/changelog/fix-scheduled-update-delete-logs
  projects/packages/scheduled-updates/src/class-scheduled-updates-logs.php
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-logs-test.php
Labels: [Status] In Progress, [Tests] Includes Tests, [Package] Scheduled Updates

#36744 AI Featured Image: show usage information on the modal
  projects/plugins/jetpack/changelog/update-ai-featured-image-show-usage-information
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.tsx
  projects/plugins/jetpack/extensions/store/wordpress-com/actions.ts
  projects/plugins/jetpack/extensions/store/wordpress-com/types.ts
  projects/plugins/jetpack/extensions/types.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36767 cli: Fix handling of pseudo-projects for `jetpack phan --all`
  tools/cli/commands/phan.js
Labels: [Status] Needs Author Reply, [Tools] Development CLI

#36741 Add/from property to connection call
  projects/js-packages/api/changelog/add-from-property-to-connection-call
  projects/js-packages/api/index.jsx
  projects/js-packages/api/package.json
  projects/js-packages/connection/changelog/add-from-property-to-connection-call
  projects/js-packages/connection/components/use-connection/index.jsx
  projects/js-packages/connection/package.json
  projects/js-packages/connection/state/actions.jsx
  projects/js-packages/connection/state/controls.jsx
  projects/js-packages/connection/state/test/actions.jsx
  projects/js-packages/connection/state/test/controls.jsx
  projects/js-packages/partner-coupon/changelog/add-from-property-to-connection-call
  projects/js-packages/partner-coupon/components/redeem-partner-coupon-pre-connection/test/connection-pass-along.jsx
  projects/packages/my-jetpack/_inc/components/connection-screen/body.tsx
  projects/packages/my-jetpack/changelog/add-from-property-to-connection-call
Labels: [Status] Needs Author Reply, RNA, [JS Package] Connection, [JS Package] API, [Package] My Jetpack, [JS Package] Partner Coupon, [Tests] Includes Tests

#36772 Remove My Jetpack custom notice
  projects/packages/my-jetpack/_inc/components/notice/index.tsx
  projects/packages/my-jetpack/_inc/components/notice/styles.scss
  projects/packages/my-jetpack/changelog/remove-my-jetpack-custom-notice
Labels: [Type] Janitorial, [Status] Needs Team Review, [Package] My Jetpack

#36789 Actually fix color deprecation notices.
  projects/plugins/jetpack/_inc/lib/class.color.php
  projects/plugins/jetpack/changelog/fix-color-deprecation-notice-actually
Labels: [Status] Needs Author Reply, [Plugin] Jetpack

#36768 Fix: post endpoint return 404 on trash not found
  projects/plugins/jetpack/changelog/fix-post-endpoint-return-404-on-trash-not-found
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-2-endpoint.php
Labels: [Feature] WPCOM API, [Status] Ready to Merge, [Status] Needs Testing, [Feature] WP REST API, [Plugin] Jetpack

#36726 AI Assistant: Fix auto scrolling on iframe editor and Safari
  projects/plugins/jetpack/changelog/fix-auto-scroll-on-iframe
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-auto-scroll/index.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#36745 Add/track for product activations from my jetpack
  projects/packages/my-jetpack/_inc/data/products/use-activate.ts
  projects/packages/my-jetpack/changelog/add-track-for-product-activations-from-my-jetpack
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#36747 A4A Plugin: Add ConnectedCard component for site connected state
  pnpm-lock.yaml
  projects/js-packages/base-styles/changelog/remove-a4a-colors
  projects/js-packages/base-styles/package.json
  projects/js-packages/base-styles/root-variables.scss
  projects/js-packages/components/changelog/add-a4a-connected-card
  projects/js-packages/components/package.json
  projects/plugins/automattic-for-agencies-client/changelog/add-connected-state
  projects/plugins/automattic-for-agencies-client/package.json
  projects/plugins/automattic-for-agencies-client/src/js/components/admin-page/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/admin-page/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/branded-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/check-circle-icon/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/close-circle-icon/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connected-card/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connected-card/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-button/index.jsx
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-button/styles.module.scss
  projects/plugins/automattic-for-agencies-client/src/js/components/connection-card/styles.module.scss
Labels: [Status] Needs Team Review, RNA, [JS Package] Components, [JS Package] Base Styles, [Plugin] Automattic For Agencies Client

#36783 Masterbar: be more defensive when fetching site menus
  projects/plugins/jetpack/changelog/fix-masterbar-fatal-menu
  projects/plugins/jetpack/modules/masterbar/admin-menu/class-base-admin-menu.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, [Feature] Masterbar, [Status] Needs Team Review, nav-unification, [Plugin] Jetpack, [Focus] Compatibility

#36787 Clean up duplicate names in package.json
  .github/files/lint-project-structure.sh
  projects/plugins/automattic-for-agencies-client/changelog/fix-duplicate-package-json-names
  projects/plugins/automattic-for-agencies-client/tests/e2e/package.json
  projects/plugins/boost/changelog/fix-duplicate-package-json-names
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/jetpack/changelog/fix-duplicate-package-json-names
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/migration/changelog/fix-duplicate-package-json-names
  projects/plugins/migration/tests/e2e/package.json
  projects/plugins/search/changelog/fix-duplicate-package-json-names
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/social/changelog/fix-duplicate-package-json-names
  projects/plugins/social/tests/e2e/package.json
  projects/plugins/starter-plugin/changelog/fix-duplicate-package-json-names
  projects/plugins/starter-plugin/tests/e2e/package.json
  projects/plugins/super-cache/changelog/fix-duplicate-package-json-names
  projects/plugins/super-cache/tests/e2e/package.json
  projects/plugins/videopress/changelog/fix-duplicate-package-json-names
  projects/plugins/videopress/tests/e2e/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Actions, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] VideoPress, [Plugin] Super Cache, [Plugin] Migration, [Tests] Includes Tests, [Plugin] Automattic For Agencies Client

#36795 Map Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-map-block
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
Labels: [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack

#36785 Business Hours Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-business-hours
  projects/plugins/jetpack/extensions/blocks/business-hours/edit.js
Labels: [Block] Business Hours, [Status] Needs Team Review, [Plugin] Jetpack

#36750 Boost: Add tribe event tickets compatibility
  projects/plugins/boost/changelog/add-tribe-event-tickets-compatibility
  projects/plugins/boost/compatibility/js-concatenate.php
  projects/plugins/boost/jetpack-boost.php
Labels: [Status] Needs Team Review, [Focus] Compatibility, [Plugin] Boost

#36766 autoloader: Fix PhanUndeclared* issues
  .phpcsignore
  projects/packages/autoloader/.phan/baseline.php
  projects/packages/autoloader/.phan/stubs/test-stubs.php
  projects/packages/autoloader/changelog/fix-phan-undeclared-in-autoloader
  projects/packages/autoloader/composer.json
  projects/packages/autoloader/src/AutoloadFileWriter.php
  projects/packages/autoloader/src/AutoloadGenerator.php
  projects/packages/autoloader/src/CustomAutoloaderPlugin.php
  projects/packages/autoloader/src/class-autoloader-locator.php
  projects/packages/autoloader/tests/php/tests/integration/VersionLoadingFromManifestTest.php
  projects/packages/autoloader/tests/php/tests/unit/AutoloaderHandlerTest.php
  projects/packages/autoloader/tests/php/tests/unit/LatestAutoloaderGuardTest.php
  projects/packages/autoloader/tests/php/tests/unit/PHPAutoloaderTest.php
  projects/packages/autoloader/tests/php/tests/unit/PluginLocatorTest.php
  projects/packages/autoloader/tests/php/tests/unit/PluginsHandlerTest.php
  projects/packages/autoloader/tests/php/tests/unit/ShutdownHandlerTest.php
  projects/packages/autoloader/tests/php/tests/unit/VersionLoaderTest.php
  projects/plugins/automattic-for-agencies-client/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/backup/composer.lock
  projects/plugins/beta/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/beta/composer.lock
  projects/plugins/boost/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/boost/composer.lock
  projects/plugins/crm/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/crm/composer.lock
  projects/plugins/inspect/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/inspect/composer.lock
  projects/plugins/jetpack/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/vaultpress/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/vaultpress/composer.lock
  projects/plugins/videopress/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/videopress/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Autoloader, [Plugin] Beta, [Plugin] Jetpack, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] CRM, [Tests] Includes Tests, [Plugin] Inspect, [Plugin] Automattic For Agencies Client

#36793 phan: Add WooCommerce stubs
  .phan/config.base.php
  composer.json
  composer.lock
  projects/packages/blaze/.phan/baseline.php
  projects/packages/blaze/.phan/config.php
  projects/packages/blaze/changelog/add-phan-woocommerce-stubs
  projects/packages/jitm/.phan/baseline.php
  projects/packages/jitm/.phan/config.php
  projects/packages/jitm/changelog/add-phan-woocommerce-stubs
  projects/packages/sync/.phan/baseline.php
  projects/packages/sync/.phan/config.php
  projects/packages/sync/changelog/add-phan-woocommerce-stubs
  projects/packages/woocommerce-analytics/.phan/baseline.php
  projects/packages/woocommerce-analytics/.phan/config.php
  projects/packages/woocommerce-analytics/changelog/add-phan-woocommerce-stubs
  projects/plugins/boost/.phan/baseline.php
  projects/plugins/boost/.phan/config.php
  projects/plugins/boost/changelog/add-phan-woocommerce-stubs
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/.phan/config.php
  projects/plugins/crm/changelog/add-phan-woocommerce-stubs
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/.phan/config.php
  projects/plugins/jetpack/changelog/add-phan-woocommerce-stubs
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Sync, [Pri] Normal, [Feature] WooCommerce Analytics, [Plugin] Jetpack, [Package] Jitm, [Plugin] Boost, [Package] Blaze, [Plugin] CRM, [Package] WooCommerce Analytics

#36794 Protect: Ensured that the "Go to cloud" link and the promotion around it is hidden on non-supporting platforms.
  projects/plugins/protect/changelog/dont-show-go-to-cloud-link-on-non-supported-envs
  projects/plugins/protect/src/js/components/scan-footer/index.jsx
Labels: [Status] In Progress, [Status] Needs Team Review, [Plugin] Protect

#36652 Add packages/stub-generator
  projects/packages/stub-generator/.gitattributes
  projects/packages/stub-generator/.gitignore
  projects/packages/stub-generator/.phan/baseline.php
  projects/packages/stub-generator/.phan/config.php
  projects/packages/stub-generator/.phpcs.dir.phpcompatibility.xml
  projects/packages/stub-generator/.phpcs.dir.xml
  projects/packages/stub-generator/.phpcsignore
  projects/packages/stub-generator/CHANGELOG.md
  projects/packages/stub-generator/README.md
  projects/packages/stub-generator/bin/jetpack-stub-generator
  projects/packages/stub-generator/changelog/.gitkeep
  projects/packages/stub-generator/changelog/fake-change-file
  projects/packages/stub-generator/composer.json
  projects/packages/stub-generator/phpunit.xml.dist
  projects/packages/stub-generator/src/Application.php
  projects/packages/stub-generator/src/PhpDocParser/NameResolver.php
  projects/packages/stub-generator/src/PhpDocParser/StripDocsNodeVisitor.php
  projects/packages/stub-generator/src/PhpParser/PhpDocNameResolver.php
  projects/packages/stub-generator/src/PhpParser/StripDocsNodeVisitor.php
  projects/packages/stub-generator/src/PhpParser/StubNodeVisitor.php
  projects/packages/stub-generator/tests/.phpcs.dir.xml
  projects/packages/stub-generator/tests/php/IntegrationTest.php
  projects/packages/stub-generator/tests/php/PhpDocParser/StripDocsNodeVisitorTest.php
  projects/packages/stub-generator/tests/php/PhpParser/PhpDocNameResolverTest.php
  projects/packages/stub-generator/tests/php/PhpParser/StubNodeVisitorTest.php
  projects/packages/stub-generator/tests/php/bootstrap.php
  projects/packages/stub-generator/tests/php/fixtures/bad-files.php
  projects/packages/stub-generator/tests/php/fixtures/bad-json.notjson
  projects/packages/stub-generator/tests/php/fixtures/basedir_absolute.php
  projects/packages/stub-generator/tests/php/fixtures/basedir_absolute.php.out
  projects/packages/stub-generator/tests/php/fixtures/basedir_relative.php
  projects/packages/stub-generator/tests/php/fixtures/basedir_relative.php.out
  projects/packages/stub-generator/tests/php/fixtures/basic.php
  projects/packages/stub-generator/tests/php/fixtures/basic.php.out
  projects/packages/stub-generator/tests/php/fixtures/files/bad-php.notphp
  projects/packages/stub-generator/tests/php/fixtures/files/functions.php
  projects/packages/stub-generator/tests/php/fixtures/files/functions_ns.php
  projects/packages/stub-generator/tests/php/fixtures/files/ns_class1.php
  projects/packages/stub-generator/tests/php/fixtures/header-footer.php
  projects/packages/stub-generator/tests/php/fixtures/header-footer.php.out
  projects/packages/stub-generator/tests/php/fixtures/namespaces.php
  projects/packages/stub-generator/tests/php/fixtures/namespaces.php.out
  projects/packages/stub-generator/tests/php/fixtures/namespaces2.php
  projects/packages/stub-generator/tests/php/fixtures/namespaces2.php.out
  projects/packages/stub-generator/tests/php/fixtures/no-files.php
  projects/packages/stub-generator/tests/php/fixtures/not-array.json
  projects/packages/stub-generator/tests/php/fixtures/not-array.php
  projects/packages/stub-generator/tests/php/fixtures/strip-docs.php
  projects/packages/stub-generator/tests/php/fixtures/strip-docs.php.out
  projects/packages/stub-generator/tests/php/fixtures/throws.php
Labels: Docs, [Status] Needs Review, [Type] Feature Request, [Pri] Normal, [Tests] Includes Tests, [Package] Stub Generator

#36796 a4a: add first version of the plugin's readme and assets
  projects/plugins/automattic-for-agencies-client/.w.org-assets/banner-1544x500.png
  projects/plugins/automattic-for-agencies-client/.w.org-assets/banner-772x250.png
  projects/plugins/automattic-for-agencies-client/.w.org-assets/icon-128x128.png
  projects/plugins/automattic-for-agencies-client/.w.org-assets/icon-256x256.png
  projects/plugins/automattic-for-agencies-client/.w.org-assets/screenshot-1.png
  projects/plugins/automattic-for-agencies-client/automattic-for-agencies-client.php
  projects/plugins/automattic-for-agencies-client/changelog/add-a4a-plugin-readme-assets
  projects/plugins/automattic-for-agencies-client/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Plugin] Automattic For Agencies Client

#36800 a4a: do not ship scss folder and its contents with stable version
  projects/plugins/automattic-for-agencies-client/.gitattributes
  projects/plugins/automattic-for-agencies-client/changelog/update-a4a-exclude-scss
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Status] Needs Team Review, [Plugin] Automattic For Agencies Client

#36790 Fix product card tracks loading issue
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/fix-product-card-tracks-loading-issue
Labels: [Status] Ready to Merge, [Package] My Jetpack

#36632 Move "All Sites" link to the top bar
  projects/packages/jetpack-mu-wpcom/.phan/baseline.php
  projects/packages/jetpack-mu-wpcom/changelog/update-all-sites-nav
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.scss
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/jetpack/changelog/update-all-sites-nav
  projects/plugins/mu-wpcom-plugin/changelog/update-all-sites-nav
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu, [mu wpcom Feature] Admin Color Schemes

#36816 Scheduled updates: add enum in API definition
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-logs-endpoint-enums
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
Labels: [Status] Needs Team Review, [Package] Scheduled Updates

#36801 Untangling: Show WP.com themes banner
  projects/packages/jetpack-mu-wpcom/changelog/add-wpcom-themes-banner
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/css/banner.css
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/images/banner-background.png
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/images/wpcom-logo.svg
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/js/banner.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
  projects/plugins/mu-wpcom-plugin/changelog/add-wpcom-themes-banner
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Themes

#36763 Dotcom Patterns: Hide categories that start with an underscore
  projects/packages/jetpack-mu-wpcom/changelog/add-hidden-categories-with-underscore-prefix
  projects/packages/jetpack-mu-wpcom/src/features/block-patterns/class-wpcom-block-patterns-from-api.php
  projects/plugins/mu-wpcom-plugin/changelog/add-hidden-categories-with-underscore-prefix
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Block Patterns

#36817 Schedules updates: log success when there are no plugins to update
  projects/packages/scheduled-updates/changelog/add-scheduled-updates-no-plugins-to-update
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
Labels: [Status] Needs Team Review, [Package] Scheduled Updates

#36799 Monetize: Move into Jetpack menu and open the page on Jetpack Cloud
  projects/packages/jetpack-mu-wpcom/changelog/feat-move-monetize-to-jetpack-menu
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#36803 phan: Add missing woocommerce stubs
  .github/workflows/slack-workflow-failed.yml
  .github/workflows/update-phan-stubs.yml
  .phan/config.base.php
  .phan/stubs/woocommerce-internal-stubs.php
  projects/packages/backup/.phan/baseline.php
  projects/packages/backup/.phan/config.php
  projects/packages/backup/changelog/add-woocommerce-internal-stubs
  projects/packages/backup/src/class-package-version.php
  projects/packages/sync/.phan/baseline.php
  projects/packages/sync/.phan/config.php
  projects/packages/sync/changelog/add-woocommerce-internal-stubs
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/.phan/config.php
  projects/plugins/jetpack/changelog/add-woocommerce-internal-stubs
  tools/stubs/update-stubs.sh
  tools/stubs/woocommerce-internal-stub-defs.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Sync, [Pri] Normal, Actions, [Plugin] Jetpack, [Package] Backup

#36806 AI Featured Image: Add upgrade prompt inside modal
  projects/plugins/jetpack/changelog/add-upgrade-featured-image
  projects/plugins/jetpack/extensions/blocks/ai-assistant/components/upgrade-prompt/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Extension] AI Assistant Plugin

#36812 AI Featured Image: update copy and usage/buttons placement
  projects/plugins/jetpack/changelog/update-featured-image-copy-update
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36819 Social Notes: Remove featured image block from template
  projects/plugins/social/changelog/changee-social-notes-remove-featured-image-block
  projects/plugins/social/src/class-note.php
Labels: [Status] Needs Team Review, [Plugin] Social

#36808 AI Assistant: Remove AI Playground
  projects/plugins/jetpack/changelog/update-jetpack-ai-remove-playground
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/extensions/blocks/ai-assistant/block.json
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/backend-prompt.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/lib/prompt/index.ts
  projects/plugins/jetpack/extensions/types.ts
  tools/js-tools/types/global.d.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#36771 My Jetpack: Add async site connection to site connection Notice
  projects/js-packages/components/changelog/add-custom-class-prop
  projects/js-packages/components/components/action-button/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/styles.module.scss
  projects/packages/my-jetpack/_inc/context/notices/noticeContext.tsx
  projects/packages/my-jetpack/_inc/context/notices/types.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.tsx
  projects/packages/my-jetpack/changelog/add-async-connection-to-notice
  projects/packages/my-jetpack/composer.json
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/changelog/add-site-connection-notice
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-site-connection-notice
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-site-connection-notice
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-site-connection-notice
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-site-connection-notice
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-site-connection-notice
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-site-connection-notice
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-site-connection-notice
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-site-connection-notice
  projects/plugins/videopress/composer.lock
Labels: [Status] Ready to Merge, [Plugin] Jetpack, RNA, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration

#36822 AI Featured Image: Auto-save image to library
  projects/plugins/jetpack/changelog/update-auto-save-featured-image
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36804 Tiled Gallery Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-tiled-gallery-edit
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/controls.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/utils.js
Labels: [Block] Tiled Gallery, [Status] Needs Team Review, [Plugin] Jetpack

#36805 Slideshow Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-slide-show-edit
  projects/plugins/jetpack/extensions/blocks/slideshow/edit.js
Labels: [Block] Slideshow, [Status] Needs Team Review, [Plugin] Jetpack

#36825 codesniffer: Fix Phan issues
  projects/packages/codesniffer/.phan/baseline.php
  projects/packages/codesniffer/Jetpack/Sniffs/Constants/MasterUserConstantSniff.php
  projects/packages/codesniffer/Jetpack/Sniffs/Functions/I18nSniff.php
  projects/packages/codesniffer/Jetpack/Sniffs/Functions/SetCookieSniff.php
  projects/packages/codesniffer/changelog/fix-phan-in-codesniffer
  projects/packages/codesniffer/hacks/PHPUnitTestTrait.php
  projects/packages/codesniffer/tests/php/tests/test-jetpack-compat.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Codesniffer, [Tests] Includes Tests

#36830 repo-gardening: Ignore Phan stub update PRs
  projects/github-actions/repo-gardening/changelog/fix-repo-gardening-ignore-stub-updates
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#36833 Improve REQUEST_URI handling
  projects/packages/waf/changelog/fix-request-uri-handling
  projects/packages/waf/src/class-waf-request.php
  projects/packages/waf/tests/php/unit/test-waf-request.php
Labels: [Status] Needs Author Reply, [Package] WAF, [Tests] Includes Tests

#36834 AI Featured Image: Introduce Carrousel
  projects/plugins/jetpack/changelog/update-featured-image-carrousel
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/blankbase64.json
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/carrousel.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/carrousel.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36836 Backporting changes from Jetpack 13.3.1.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Author Reply, Docs, [Plugin] Jetpack

#36728 Update/monetize jpcloud launchpad links
  projects/packages/jetpack-mu-wpcom/changelog/update-monetize-jpcloud-launchpad-links
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, DO NOT MERGE, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#36827 Blocks: upgrade to API version 3 - Part 3
  projects/plugins/jetpack/changelog/update-upgrade-block-api-part-3
  projects/plugins/jetpack/extensions/blocks/gif/block.json
  projects/plugins/jetpack/extensions/blocks/gif/edit.js
  projects/plugins/jetpack/extensions/blocks/gif/test/edit.js
  projects/plugins/jetpack/extensions/blocks/markdown/block.json
  projects/plugins/jetpack/extensions/blocks/markdown/edit.js
  projects/plugins/jetpack/extensions/blocks/markdown/save.js
  projects/plugins/jetpack/extensions/blocks/rating-star/block.json
  projects/plugins/jetpack/extensions/blocks/rating-star/edit.js
  projects/plugins/jetpack/extensions/blocks/rating-star/save.js
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/block.json
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/components/edit.js
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/components/save.js
  projects/plugins/jetpack/extensions/blocks/story/block.json
  projects/plugins/jetpack/extensions/blocks/story/edit.js
  projects/plugins/jetpack/extensions/blocks/story/save.js
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story.serialized.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-images.serialized.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-video.serialized.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-videopress.serialized.html
Labels: [Block] GIF, [Block] Repeat Visitor, [Block] Star Rating, [Status] Needs Team Review, [Block] Story, [Plugin] Jetpack, [Block] Markdown, [Tests] Includes Tests

#36842 Add configs for simple classic to load blaze
  projects/packages/blaze/changelog/update-blaze-default-config-data
  projects/packages/blaze/src/class-dashboard-config-data.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Blaze

#36821 Memberships: improve performance
  projects/plugins/jetpack/changelog/update-improve-memberships-performance
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
Labels: [Status] Needs Review, [Plugin] Jetpack, [Feature] Memberships

#36831 AI Featured Image: add feedback link on footer
  projects/plugins/jetpack/changelog/update-featured-image-add-provide-feedback-link-on-footer
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36847 CRM: Updating the readme to include information on how to contribute
  projects/plugins/crm/changelog/update-crm-readme-contributing-mention
  projects/plugins/crm/readme.txt
Labels: [Status] Needs Team Review, [Plugin] CRM

#36841 Donations Form block: show Stripe notice when not connected
  projects/plugins/jetpack/changelog/dontations-form-show-stripe-notice-when-not-connected
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/tabs.js
Labels: [Status] In Progress, [Plugin] Jetpack, [Block] Donations, Reviewer Can Merge

#36865 AI Featured Image: Update UX on generating and navigating on carrousel
  projects/plugins/jetpack/changelog/update-featured-image-ux
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/carrousel.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36863 AI Featured Image: fix panel transition after setting featured image
  projects/plugins/jetpack/changelog/update-featured-images-fix-panel-transition
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36866 Make Custom Content Types settings order consistent between Simple and Atomic
  projects/plugins/jetpack/changelog/update-testimonial-cpt-priority
  projects/plugins/jetpack/modules/custom-post-types/testimonial.php
Labels: [Feature] Custom Content Types, [Status] Needs Team Review, [Plugin] Jetpack

#36856 Hide the Customize menu item on Simple Classic wp-admin
  projects/packages/jetpack-mu-wpcom/changelog/update-hide-customize-on-simple
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-site-menu/wpcom-site-menu.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Site Menu

#36849 Add scheduled updates sync option
  projects/packages/sync/changelog/add-scheduled-updates-sync
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-package-version.php
  projects/plugins/automattic-for-agencies-client/changelog/add-scheduled-updates-sync
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/add-scheduled-updates-sync
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-scheduled-updates-sync
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-scheduled-updates-sync
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/tests/php/sync/test_class.jetpack-sync-options.php
  projects/plugins/migration/changelog/add-scheduled-updates-sync
  projects/plugins/migration/composer.lock
  projects/plugins/protect/changelog/add-scheduled-updates-sync
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-scheduled-updates-sync
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-scheduled-updates-sync
  projects/plugins/social/composer.json
  projects/plugins/social/composer.lock
  projects/plugins/social/jetpack-social.php
  projects/plugins/starter-plugin/changelog/add-scheduled-updates-sync
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-scheduled-updates-sync
  projects/plugins/videopress/composer.lock
Labels: [Status] In Progress, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Tests] Includes Tests, [Plugin] Automattic For Agencies Client

#36871 stub-generator: Skip setting `'kind'` on `Namespace_` nodes
  projects/packages/stub-generator/changelog/fix-stub-generator-namespace-kind
  projects/packages/stub-generator/src/Application.php
  projects/packages/stub-generator/src/PhpParser/StubNodeVisitor.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Stub Generator

#36870 stub-generator: Handle functions calling `func_get_args()`
  projects/packages/stub-generator/changelog/add-stub-generator-func_get_args
  projects/packages/stub-generator/src/PhpParser/StubNodeVisitor.php
  projects/packages/stub-generator/tests/php/PhpParser/StubNodeVisitorTest.php
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Tests] Includes Tests, [Package] Stub Generator

#36809 Simple Payments Block: refactor Edit component to function
  projects/plugins/jetpack/changelog/update-refactor-simple-payments
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] Pay With Paypal

#36845 Untangling: Update WP.com themes banner image
  projects/packages/jetpack-mu-wpcom/changelog/update-wpcom-themes-banner-background
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/images/banner-background.png
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/images/banner-background.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-themes/wpcom-themes.php
Labels: [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Themes

#36852 Blocks: upgrade to API version 3 - Part 4
  projects/plugins/jetpack/changelog/update-upgrade-block-api-part-4
  projects/plugins/jetpack/extensions/blocks/map/block.json
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/save.js
  projects/plugins/jetpack/extensions/blocks/nextdoor/block.json
  projects/plugins/jetpack/extensions/blocks/nextdoor/edit.js
  projects/plugins/jetpack/extensions/blocks/nextdoor/save.js
  projects/plugins/jetpack/extensions/blocks/premium-content/block.json
  projects/plugins/jetpack/extensions/blocks/premium-content/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/save.js
  projects/plugins/jetpack/extensions/blocks/subscriber-login/block.json
  projects/plugins/jetpack/extensions/blocks/subscriber-login/edit.js
  projects/plugins/jetpack/extensions/blocks/top-posts/block.json
  projects/plugins/jetpack/extensions/blocks/top-posts/edit.js
Labels: [Block] Map, [Status] Needs Team Review, [Block] Paid Content, [Plugin] Jetpack, [Block] Nextdoor, [Block] Top Posts, [Block] Subscriber Login

#36854 Blocks: upgrade to API version 3 - Part 5
  projects/plugins/jetpack/changelog/update-upgrade-block-api-part-5
  projects/plugins/jetpack/extensions/blocks/contact-info/block.json
  projects/plugins/jetpack/extensions/blocks/contact-info/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/save.js
  projects/plugins/jetpack/extensions/blocks/image-compare/block.json
  projects/plugins/jetpack/extensions/blocks/image-compare/edit.js
  projects/plugins/jetpack/extensions/blocks/image-compare/save.js
  projects/plugins/jetpack/extensions/blocks/image-compare/test/edit.js
  projects/plugins/jetpack/extensions/blocks/pinterest/block.json
  projects/plugins/jetpack/extensions/blocks/pinterest/edit.js
  projects/plugins/jetpack/extensions/blocks/pinterest/save.js
  projects/plugins/jetpack/extensions/blocks/related-posts/block.json
  projects/plugins/jetpack/extensions/blocks/related-posts/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/block.json
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/edit.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.scss
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/save.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/view.scss
Labels: [Block] Contact Info, [Block] Tiled Gallery, [Block] Pinterest, [Status] Needs Team Review, [Block] Image Compare, [Plugin] Jetpack, [Block] Related Posts, [Tests] Includes Tests

#36868 AI Featured Image: update designs to follow i3 guidance
  projects/plugins/jetpack/changelog/update-ai-featured-image-update-designs-to-i3
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/carrousel.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/carrousel.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/style.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/usage-counter.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36874 Update social previews package
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-social-previews-package
  projects/js-packages/publicize-components/package.json
  projects/plugins/jetpack/changelog/update-social-previews-package
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, [Plugin] Jetpack, RNA, [JS Package] Publicize Components

#36850 push-to-mirrors: Set Upstream-Ref in mirror commits, and use when creating branches
  .github/workflows/build.yml
  projects/github-actions/push-to-mirrors/README.md
  projects/github-actions/push-to-mirrors/action.yml
  projects/github-actions/push-to-mirrors/changelog/add-push-to-mirrors-upstream-ref
  projects/github-actions/push-to-mirrors/changelog/add-push-to-mirrors-upstream-ref#2
  projects/github-actions/push-to-mirrors/push-to-mirrors.sh
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Type] Feature Request, [Pri] Normal, Actions, [Action] Push To Mirrors

#36855 docker: Support `docker compose` for Docker compose v2
  .gitignore
  tools/check-development-environment.sh
  tools/cli/commands/docker.js
  tools/docker/README.md
  tools/docker/compose-volumes.yml.sample
  tools/docker/docker-compose.yml
  tools/docker/jetpack-docker-config-default.yml
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, Docker, [Tools] Development CLI

#36644 Scheduled Updates: Pass status fields directly
  projects/packages/scheduled-updates/changelog/move-status-fields
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
Labels: [Status] Needs Team Review, [Package] Scheduled Updates

#36838 Fix/memberships/subscription end date format
  projects/plugins/jetpack/changelog/fix-memberships-subscription-end-date-format
  projects/plugins/jetpack/extensions/blocks/premium-content/_inc/subscription-service/class-wpcom-online-subscription-service.php
Labels: [Status] In Progress, [Block] Paid Content, [Plugin] Jetpack

#36869 AI Assistant: Rename useSuggestionsFromOpenAI to useAIAssistant and deduplicate suggestion logic
  projects/js-packages/ai-client/changelog/update-jetpack-ai-merge-hooks
  projects/js-packages/ai-client/package.json
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
  projects/js-packages/ai-client/src/hooks/use-transcription-post-processing/index.ts
  projects/js-packages/ai-client/src/index.ts
  projects/js-packages/ai-client/src/suggestions-event-source/index.ts
  projects/plugins/jetpack/changelog/update-jetpack-ai-merge-hooks
  projects/plugins/jetpack/extensions/blocks/ai-assistant/edit.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-ai-assistant/index.js
  projects/plugins/jetpack/extensions/blocks/ai-assistant/hooks/use-suggestions-from-openai/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Extension] AI Assistant

#36872 Social Notes: Disable toggles while API call is flying
  projects/plugins/social/changelog/fix-social-notes-toggle-state
  projects/plugins/social/composer.json
  projects/plugins/social/jetpack-social.php
  projects/plugins/social/src/js/components/social-notes-toggle/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Social

#36894 SIG | Fix 403 error for non-admin authors
  projects/packages/publicize/changelog/fix-sig-for-non-admin-authors
  projects/packages/publicize/package.json
  projects/packages/publicize/src/social-image-generator/class-rest-token-controller.php
Labels: [Status] Needs Review, [Package] Publicize

#36895 Fix SIG not shown in Jetpack sidebar
  projects/plugins/jetpack/changelog/fix-sig-not-visible-in-jetpack-sidebar
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] Publicize

#36860 Repo Gardening: check if PR owner is a member of the org to determine if they're an OSS Citizen
  projects/github-actions/repo-gardening/changelog/try-check-for-org-membership-for-oss-citizen
  projects/github-actions/repo-gardening/package.json
  projects/github-actions/repo-gardening/src/tasks/flag-oss/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#36899 AI Featured Image: Show Upgrade Prompt after generation
  projects/plugins/jetpack/changelog/update-featured-image-upgrade-prompt-on-generating
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/featured-image/index.tsx
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin

#36902 push-to-mirrors: Disable git automatic garbage collection
  projects/github-actions/push-to-mirrors/changelog/fix-push-to-mirrors-no-gc
  projects/github-actions/push-to-mirrors/push-to-mirrors.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Action] Push To Mirrors

#36883 stub-generator: Set function stub return type when needed
  projects/packages/stub-generator/changelog/add-stub-generator-function-return-type
  projects/packages/stub-generator/src/PhpParser/StubNodeVisitor.php
  projects/packages/stub-generator/tests/php/PhpParser/StubNodeVisitorTest.php
  projects/packages/stub-generator/tests/php/fixtures/files/functions.php
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Tests] Includes Tests, [Package] Stub Generator

#36911 Enable SIG even if Publicize is turned off for a post
  projects/plugins/jetpack/changelog/fix-sig-not-visible-on-publicize-off
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] Publicize

#36877 Add scheduled updates sync option
  projects/packages/scheduled-updates/changelog/add-scheduled-updates-sync-2
  projects/packages/scheduled-updates/composer.json
  projects/packages/scheduled-updates/src/class-scheduled-updates.php
  projects/packages/scheduled-updates/src/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-update-schedules.php
  projects/packages/scheduled-updates/tests/php/class-wpcom-rest-api-v2-endpoint-update-schedules-test.php
  projects/packages/sync/changelog/add-scheduled-updates-sync
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/plugins/automattic-for-agencies-client/changelog/add-scheduled-updates-sync-2
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/backup/changelog/add-scheduled-updates-sync-2
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/add-scheduled-updates-sync-2
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/add-scheduled-updates-sync-2
  projects/plugins/jetpack/changelog/add-scheduled-updates-sync-2#2
  projects/plugins/jetpack/composer.lock
  projects/plugins/migration/changelog/add-scheduled-updates-sync-2
  projects/plugins/migration/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/add-scheduled-updates-sync-2
  projects/plugins/mu-wpcom-plugin/composer.json
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/mu-wpcom-plugin/mu-wpcom-plugin.php
  projects/plugins/mu-wpcom-plugin/package.json
  projects/plugins/protect/changelog/add-scheduled-updates-sync-2
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/add-scheduled-updates-sync-2
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/add-scheduled-updates-sync-2
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/add-scheduled-updates-sync-2
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/add-scheduled-updates-sync-2
  projects/plugins/videopress/composer.lock
Labels: [Status] In Progress, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] Migration, [Plugin] mu wpcom, [Tests] Includes Tests, [Package] Scheduled Updates, [Plugin] Automattic For Agencies Client

#36893 Adds the ability to filter users in the WPCOM_JSON_API_List_Users_Endpoint endpoint by capability
  projects/plugins/jetpack/changelog/add-list-users-endpoint-capabilities-filter
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-users-endpoint.php
Labels: [Feature] WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#36876 Photon: do not use Photon on private simple sites
  projects/packages/image-cdn/changelog/fix-tiled-gallery-block-private-simple-sites
  projects/packages/image-cdn/package.json
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/src/class-image-cdn.php
  projects/plugins/jetpack/changelog/fix-tiled-gallery-block-private-simple-sites
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/utils/index.js
Labels: [Type] Bug, [Feature] Tiled Gallery, [Feature] Photon, [Status] Needs Review, [Pri] High, [Feature] Private Sites, [Block] Tiled Gallery, [Status] Needs Team Review, [Plugin] Jetpack, [Platform] Simple, [Package] Image CDN
