Repository Automattic/jetpack, pull requests merged in 2025-09, with the labels that each got.

#44990 Fix labelBackgroundColor to apply to background instead of text
  projects/js-packages/charts/changelog/fix-charts-100-fix-labelbackgroundcolor-to-apply-to-background-instead-of
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/providers/theme/themes.ts
  projects/js-packages/charts/src/types.ts
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, RNA, [JS Package] Charts

#45031 Portback: Charts 0.31.0 release
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/add-charts-library-agents-md
  projects/js-packages/charts/changelog/charts-84-charts-stable-colors-for-groups
  projects/js-packages/charts/changelog/charts-86-charts-refactor-shared-hooks-utils
  projects/js-packages/charts/changelog/es
  projects/js-packages/charts/changelog/fix-charts-100-fix-labelbackgroundcolor-to-apply-to-background-instead-of
  projects/js-packages/charts/changelog/update-charts-95-improve-storybook-controls-and-sample-data-follow-up
  projects/js-packages/charts/changelog/update-enhance_component_ConversionFunnelChart
  projects/js-packages/charts/changelog/update_CHARTS-93-refactor-leaderboard-chart-to-remove-progressbar
  projects/js-packages/charts/package.json
Labels: [Status] Needs Author Reply, [Type] Task, RNA, [JS Package] Charts

#45033 Charts: Fix the "conversion-funnel-chart" component exportation
  projects/js-packages/charts/changelog/update-fix_conversion-funnel-chart_exportation
  projects/js-packages/charts/src/components/conversion-funnel-chart/index.ts
Labels: [Status] Needs Review, [Type] Task, RNA, [JS Package] Charts

#45028 Charts: Use global context provider for all stories
  projects/js-packages/charts/changelog/charts-97-charts-use-globalcontextprovider-for-all-stories
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/bar-list-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/leaderboard-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/legend/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/annotation.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/config.tsx
  projects/js-packages/charts/src/components/line-chart/stories/glyph.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/tooltip.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/donut.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/providers/chart-context/stories/index.stories.tsx
  projects/js-packages/charts/src/stories/chart-decorator.tsx
  projects/js-packages/charts/src/stories/index.ts
  projects/js-packages/charts/src/stories/theme-config.tsx
Labels: [Type] Enhancement, [Status] In Progress, RNA, [JS Package] Charts

#45030 Charts: Use getStringWidth for accurate text measurement in pie chart labels
  projects/js-packages/charts/changelog/update-charts-108-use-getstringwidth-for-labelbackgroundcolor
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Charts

#45011 Remove unnecessary filter for deleted WooCommerce products
  projects/packages/sync/changelog/update-wc-product-deleted
  projects/packages/sync/src/modules/class-woocommerce-products.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Sync

#45032 Charts: Format percentage values with smart decimal handling
  projects/js-packages/charts/changelog/update-charts-102-format-percentage-values-to-be-shorter
  projects/js-packages/charts/src/components/conversion-funnel-chart/conversion-funnel-chart.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/test/conversion-funnel-chart.test.tsx
  projects/js-packages/charts/src/components/legend/hooks/use-chart-legend-items.ts
  projects/js-packages/charts/src/utils/format-percentage.ts
  projects/js-packages/charts/src/utils/index.ts
  projects/js-packages/charts/src/utils/test/format-metric-value.test.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#44998 Forms: release rating and slider fields for WP.com customers
  projects/packages/forms/changelog/update-forms-release-rating-slider
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#45040 Charts: Add showLabels prop to control pie chart label visibility
  projects/js-packages/charts/changelog/charts-99-add-showlabels-prop-to-control-label-visibility
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/test/pie-chart.test.tsx
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#44921 Add MCP settings to site settings endpoint
  projects/plugins/jetpack/changelog/add-mcp-settings
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-v1-4-endpoint.php
  projects/plugins/jetpack/tests/php/json-api/WPCOM_JSON_API_Site_Settings_V1_4_Endpoint_Test.php
Labels: [Feature] WPCOM API, [Status] Needs Review, [Plugin] Jetpack, [Tests] Includes Tests, [Type] Feature, I don't care about code coverage for this PR

#45020 i18n + webpack + dataviews + forms: generate function variants programmatically
  projects/packages/forms/changelog/fix-i18n-webpack_and_dataviews_function_variants
  projects/packages/forms/tools/webpack.config.dashboard.js
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Package] Forms

#45044 Portback: Charts 0.32.0 release
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/charts-97-charts-use-globalcontextprovider-for-all-stories
  projects/js-packages/charts/changelog/charts-99-add-showlabels-prop-to-control-label-visibility
  projects/js-packages/charts/changelog/fix_CHARTS-109-z-index-breaking-styling
  projects/js-packages/charts/changelog/update-charts-102-format-percentage-values-to-be-shorter
  projects/js-packages/charts/changelog/update-charts-108-use-getstringwidth-for-labelbackgroundcolor
  projects/js-packages/charts/changelog/update-fix_conversion-funnel-chart_exportation
  projects/js-packages/charts/package.json
  projects/packages/my-jetpack/changelog/force-a-release
Labels: [Status] Needs Author Reply, [Type] Task, RNA, [Package] My Jetpack, [JS Package] Charts

#44927 Forms: Fix decoding issue
  projects/packages/forms/changelog/fix-decoding-issue
  projects/packages/forms/src/contact-form/class-feedback-field.php
  projects/packages/forms/src/contact-form/class-feedback.php
  projects/packages/forms/tests/php/contact-form/Feedback_Field_Test.php
  projects/packages/forms/tests/php/contact-form/Feedback_Test.php
  projects/packages/forms/tests/php/contact-form/class-utility.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, [Tests] Includes Tests

#45046 Prevent PHP error on invalid excluded extensions check
  projects/plugins/jetpack/changelog/fix-jetpack-fatal_on_invalid_excluded_extensions
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#45045 Fix PHP fatal when running WP-CLI
  projects/packages/my-jetpack/changelog/try-fix_WP-CLI_fatal
  projects/packages/my-jetpack/src/class-rest-products.php
  projects/plugins/jetpack/changelog/try-fix_WP-CLI_fatal
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, [Package] My Jetpack, I don't care about code coverage for this PR

#45054 Forms: sentence case couple CTAs from integrations panel
  projects/packages/forms/changelog/update-forms-sentence-case2
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/google-sheets-card.tsx
  projects/packages/forms/src/dashboard/integrations/google-sheets-card.tsx
  projects/packages/forms/src/dashboard/integrations/salesforce-card.tsx
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms

#44997 Boost Score Graph: Update the way styles are loaded
  .stylelintignore
  projects/js-packages/components/changelog/fix-boost-score-graph-css-hack
  projects/js-packages/components/components/boost-score-graph/style-uplot.scss
  projects/js-packages/components/components/boost-score-graph/uplot-line-chart.tsx
  projects/plugins/jetpack/changelog/fix-boost-score-graph-css-hack
  projects/plugins/jetpack/tests/jest.config.gui.js
  tools/js-tools/jest/config.base.js
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, RNA, [JS Package] Components, [Tests] Includes Tests, Reviewer Can Merge, I don't care about code coverage for this PR

#45057 Backport jetpack 15.0-beta.3 Changes
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/update-forms-sentence-case2
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/try-fix_WP-CLI_fatal
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/try-fix_WP-CLI_fatal
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [Package] My Jetpack, [Package] Forms

#44922 Forms: move international phone input to production
  projects/packages/forms/changelog/move-international-phone-input-to-telephone
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/blocks/field-phone/edit.js
  projects/packages/forms/src/blocks/field-phone/index.js
  projects/packages/forms/src/blocks/field-phone/save.js
  projects/packages/forms/src/blocks/field-telephone/country-list.js
  projects/packages/forms/src/blocks/field-telephone/deprecated.js
  projects/packages/forms/src/blocks/field-telephone/edit.js
  projects/packages/forms/src/blocks/field-telephone/index.js
  projects/packages/forms/src/blocks/input-phone/editor.scss
  projects/packages/forms/src/blocks/input-phone/index.js
  projects/packages/forms/src/blocks/label/edit.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/grunion.scss
  projects/packages/forms/src/contact-form/css/phone-field.scss
  projects/packages/forms/src/modules/field-phone/view.js
  projects/packages/forms/tests/js/field-telephone/migration.test.js
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Feature] Contact Form, [Type] Task, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, Coverage tests to be added later

#45039 feat: Limit mobile editor to working blocks
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-block-editor-assets.php
  projects/plugins/jetpack/changelog/feat-limit-mobile-editor-to-working-blocks
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/WPCOM_REST_API_V2_Endpoint_Block_Editor_Assets_Test.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] WP REST API, [Plugin] Jetpack, [Tests] Includes Tests

#45047 Forms: Start using the new feedvack version v3
  projects/packages/forms/changelog/update-forms-switch-to-v3
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, [Tests] Includes Tests

#44999 Writing Settings: Add Mailchimp connection
  pnpm-lock.yaml
  projects/packages/external-connections/changelog/dotcom-14242-add-support-to-manage-the-mailchimp-connection-in-settings
  projects/packages/external-connections/package.json
  projects/packages/external-connections/src/class-external-connections.php
  projects/packages/external-connections/src/settings.js
  projects/packages/external-connections/src/settings.scss
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-mailchimp.php
  projects/plugins/jetpack/changelog/add-mailchimp-connection-writing-settings
  projects/plugins/jetpack/extensions/README.md
  projects/plugins/jetpack/extensions/blocks/mailchimp/admin.js
  projects/plugins/jetpack/extensions/blocks/mailchimp/admin.scss
  projects/plugins/jetpack/extensions/blocks/mailchimp/mailchimp.php
  projects/plugins/jetpack/tools/webpack.config.extensions.js
Labels: Docs, [Status] Needs Review, [Type] Task, [Block] Mailchimp, [Plugin] Jetpack, I don't care about code coverage for this PR, [Package] External Connections

#45049 Sharing: fix typo in 'services' for sharing buttons wrapper element
  projects/js-packages/publicize-components/changelog/jetpack-731-typo-in-sharing-buttons-code-serivces
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/publicize-components/src/components/social-previews/panel.js
  projects/js-packages/publicize-components/src/components/social-previews/use-available-services.js
  projects/plugins/jetpack/changelog/jetpack-731-typo-in-sharing-buttons-code-serivces
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/save.js
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Review, [Plugin] Jetpack, RNA, [Extension] Social Previews, [JS Package] Publicize Components, [Block] Sharing Buttons, [Block] Sharing Button

#45065 Forms: split editor.js into two chunks to reduce loading of one big file.
  projects/packages/forms/changelog/update-split-editor-forms
  projects/packages/forms/src/blocks/contact-form/edit.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Status] Needs Testing, [Block] Contact Form, [Package] Forms

#45051 Charts: Use only tsup for builds
  pnpm-lock.yaml
  projects/js-packages/charts/.gitattributes
  projects/js-packages/charts/changelog/update-replace-with-global-charts-provider
  projects/js-packages/charts/package.json
  projects/js-packages/charts/rollup.config.mjs
  projects/js-packages/charts/src/components/bar-chart/index.ts
  projects/js-packages/charts/src/components/bar-list-chart/index.ts
  projects/js-packages/charts/src/components/leaderboard-chart/index.ts
  projects/js-packages/charts/src/components/legend/private/base-legend.tsx
  projects/js-packages/charts/src/components/line-chart/index.ts
  projects/js-packages/charts/src/components/line-chart/types.ts
  projects/js-packages/charts/src/components/pie-chart/index.ts
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/index.ts
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/providers/index.ts
  projects/js-packages/charts/src/types.ts
  projects/js-packages/charts/tsconfig.json
  projects/js-packages/charts/tsup.config.ts
  projects/js-packages/charts/webpack.config.cjs
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#45053 Enable scan and backup functionality for summer special sites
  projects/plugins/wpcomsh/changelog/add-summer-special-scan-backups-features
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh, Enhancement

#45074 Forms: propoerly set Gdrive export button state
  projects/packages/forms/changelog/fix-forms-export-gdrive-button-state
  projects/packages/forms/src/dashboard/inbox/export-responses/google-drive.tsx
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Plugin] Jetpack, [Package] Forms, Coverage tests to be added later

#45090 Forms: Add logging for form validation errors. To help us debug the issues.
  projects/packages/forms/changelog/add-logging-for-form-validation
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/plugins/jetpack/changelog/add-logging-for-form-validation
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms, I don't care about code coverage for this PR

#45082 Charts: Re-allow typechecking of tests and stories
  projects/js-packages/charts/changelog/charts-113-remove-tsconfig-exclude-field
  projects/js-packages/charts/src/components/line-chart/stories/tooltip.stories.tsx
  projects/js-packages/charts/tsconfig.json
Labels: [Type] Bug, [Status] In Progress, RNA, [JS Package] Charts

#45052 Charts: Add legendValueDisplay prop to control legend value format in PieChart
  projects/js-packages/charts/changelog/charts-101-add-ability-to-control-percentage-vs-value-display
  projects/js-packages/charts/src/components/legend/hooks/use-chart-legend-items.ts
  projects/js-packages/charts/src/components/legend/index.ts
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/donut.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/test/pie-chart.test.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/stories/legend-config.tsx
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#45083 Sharing: Fix Facebook sharing URL
  projects/plugins/jetpack/changelog/fix-sharing-buttons-facebook-url
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
Labels: [Type] Bug, [Feature] Sharing, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Sharing Button

#45105 Prevent PHP fatals when directly accessing files, round 6
  projects/packages/connection/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/packages/connection/src/sso/class-user-admin.php
  projects/packages/forms/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/packages/forms/src/contact-form/templates/email-response.php
  projects/packages/my-jetpack/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/packages/my-jetpack/src/products/class-anti-spam.php
  projects/packages/my-jetpack/src/products/class-complete.php
  projects/packages/my-jetpack/src/products/class-creator.php
  projects/packages/my-jetpack/src/products/class-crm.php
  projects/packages/my-jetpack/src/products/class-growth.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
  projects/packages/my-jetpack/src/products/class-newsletter.php
  projects/packages/my-jetpack/src/products/class-protect.php
  projects/packages/my-jetpack/src/products/class-related-posts.php
  projects/packages/my-jetpack/src/products/class-security.php
  projects/packages/my-jetpack/src/products/class-site-accelerator.php
  projects/packages/my-jetpack/src/products/class-social.php
  projects/packages/my-jetpack/src/products/class-starter.php
  projects/packages/my-jetpack/src/products/class-stats.php
  projects/packages/my-jetpack/src/products/class-videopress.php
  projects/packages/publicize/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/packages/publicize/src/rest-api/class-share-status-controller.php
  projects/packages/waf/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/packages/waf/src/class-waf-cli.php
  projects/packages/waf/src/exceptions/class-file-system-exception.php
  projects/packages/waf/src/exceptions/class-rules-api-exception.php
  projects/plugins/jetpack/changelog/fix-jetpack-direct_access_fatals_part_6
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/blogroll-item.php
  projects/plugins/jetpack/extensions/blocks/google-calendar/google-calendar.php
  projects/plugins/jetpack/extensions/plugins/sharing/sharing.php
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
  projects/plugins/jetpack/modules/theme-tools/social-links.php
Labels: [Feature] Publicize, [Feature] Contact Form, [Feature] Infinite Scroll, [Feature] SSO, [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Block] Google Calendar, [Package] Connection, [Plugin] Jetpack, [Extension] Sharing, [Package] My Jetpack, [Package] Publicize, [Package] WAF, [Package] Forms, [Block] Blogroll

#45113 Portback Charts 0.34.1 changes
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/fix-pie-semi-circle-chart-legend-value-display-prop
  projects/js-packages/charts/package.json
  projects/packages/my-jetpack/changelog/force-a-release
Labels: [Status] In Progress, [Type] Janitorial, [Status] Needs Team Review, RNA, [Package] My Jetpack, [JS Package] Charts

#45055 Sitemap Generation: Add Blog Stickers to Sitemap Generation functionality
  projects/plugins/wpcomsh/changelog/add-sitemap-blog-stickers-HOG-332
  projects/plugins/wpcomsh/sitemaps/class-wpcomsh-sitemap-sticker-handlers.php
  projects/plugins/wpcomsh/tests/SitemapsStickerHandlersTest.php
  projects/plugins/wpcomsh/tests/lib/mocks/sticker-functions.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] Sitemaps, [Plugin] Jetpack, [Tests] Includes Tests, [Plugin] Wpcomsh

#45018 Forms: add searchable country dropdown for phone number
  projects/packages/forms/changelog/add-forms-fancy-country-dropdown
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/blocks/field-telephone/country-names-translated.js
  projects/packages/forms/src/blocks/field-telephone/edit.js
  projects/packages/forms/src/blocks/input-phone/edit.js
  projects/packages/forms/src/blocks/input-phone/editor.scss
  projects/packages/forms/src/blocks/input-phone/index.js
  projects/packages/forms/src/blocks/shared/components/searchable-combobox.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/combobox.scss
  projects/packages/forms/src/contact-form/css/grunion.scss
  projects/packages/forms/src/contact-form/css/phone-field.scss
  projects/packages/forms/src/modules/field-phone/view.js
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, Coverage tests to be added later

#45119 Revert "Forms: add searchable country dropdown for phone number"
  projects/packages/forms/changelog/add-forms-fancy-country-dropdown
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/blocks/field-telephone/country-names-translated.js
  projects/packages/forms/src/blocks/field-telephone/edit.js
  projects/packages/forms/src/blocks/input-phone/edit.js
  projects/packages/forms/src/blocks/input-phone/editor.scss
  projects/packages/forms/src/blocks/input-phone/index.js
  projects/packages/forms/src/blocks/shared/components/searchable-combobox.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/combobox.scss
  projects/packages/forms/src/contact-form/css/grunion.scss
  projects/packages/forms/src/contact-form/css/phone-field.scss
  projects/packages/forms/src/modules/field-phone/view.js
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Feature] Contact Form, [Status] In Progress, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, [Type] Revert

#45121 Jetpack AI: Change moderation error message
  projects/js-packages/ai-client/changelog/fix-jetpack-ai-moderation-message
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] AI Client

#45081 Charts: Deprecate ThemeProvider
  projects/js-packages/charts/changelog/charts-112-charts-deprecate-themeprovider
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/bar-chart/test/bar-chart.test.tsx
  projects/js-packages/charts/src/components/bar-list-chart/bar-list-chart.tsx
  projects/js-packages/charts/src/components/bar-list-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/conversion-funnel-chart.tsx
  projects/js-packages/charts/src/components/leaderboard-chart/leaderboard-chart.tsx
  projects/js-packages/charts/src/components/leaderboard-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/legend/hooks/use-chart-legend-items.ts
  projects/js-packages/charts/src/components/legend/legend.tsx
  projects/js-packages/charts/src/components/legend/private/base-legend.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/private/line-chart-annotation.tsx
  projects/js-packages/charts/src/components/line-chart/stories/config.tsx
  projects/js-packages/charts/src/components/line-chart/stories/glyph.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/line-chart/test/line-chart.test.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/test/pie-chart.test.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/test/pie-semi-circle-chart.test.tsx
  projects/js-packages/charts/src/hooks/use-xychart-theme.ts
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/providers/chart-context/global-charts-provider.tsx
  projects/js-packages/charts/src/providers/chart-context/hooks/use-global-charts-theme.ts
  projects/js-packages/charts/src/providers/chart-context/index.ts
  projects/js-packages/charts/src/providers/chart-context/test/use-global-charts-theme.test.tsx
  projects/js-packages/charts/src/providers/chart-context/themes.ts
  projects/js-packages/charts/src/providers/index.ts
  projects/js-packages/charts/src/providers/theme/index.ts
  projects/js-packages/charts/src/providers/theme/stories/index.stories.tsx
  projects/js-packages/charts/src/providers/theme/theme-provider.tsx
  projects/js-packages/charts/src/stories/chart-decorator.tsx
  projects/js-packages/charts/src/stories/decorator-config.tsx
  projects/js-packages/charts/src/stories/index.docs.mdx
  projects/js-packages/charts/src/stories/index.ts
  projects/js-packages/charts/src/stories/theme-config.tsx
Labels: [Status] In Progress, [Type] Task, RNA, [Tests] Includes Tests, [JS Package] Charts

#45041 Admin Menu: Remove "Hosting > Marketing" and "Settings > Newsletter"
  projects/packages/jetpack-mu-wpcom/changelog/remove-untangling-deprecated-menus
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
  projects/packages/masterbar/changelog/remove-untangling-deprecated-menus
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-jetpack-admin-menu.php
  projects/packages/masterbar/tests/php/Admin_Menu_Test.php
Labels: [Status] Needs Review, [Type] Task, [Feature] Masterbar, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Menu

#45036 Featured images: fix post preview images
  projects/packages/classic-theme-helper/changelog/fix-featured-images-in-preview
  projects/packages/classic-theme-helper/src/content-options/featured-images.php
Labels: [Type] Bug, [Feature] Theme Tools, [Status] Needs Team Review, [Package] Classic Theme Helper

#44755 Connection: use external storage class
  projects/plugins/wpcomsh/.phan/baseline.php
  projects/plugins/wpcomsh/changelog/add-wpcomsh-external-storage
  projects/plugins/wpcomsh/connection/class-atomic-storage-provider.php
  projects/plugins/wpcomsh/connection/connection-handlers.php
  projects/plugins/wpcomsh/jetpack-token-resilience/class-wpcomsh-blog-token-resilience.php
  projects/plugins/wpcomsh/phpunit.11.xml.dist
  projects/plugins/wpcomsh/phpunit.9.xml.dist
  projects/plugins/wpcomsh/tests/BlogTokenResilienceTest.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Ready to Merge, [Tests] Includes Tests, [Plugin] Wpcomsh, [Type] Feature

#45120 Forms: add combobox for phone country selector
  projects/packages/forms/changelog/add-forms-fancy-country-dropdown
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/contact-form/util/form-styles.js
  projects/packages/forms/src/blocks/field-telephone/country-names-translated.js
  projects/packages/forms/src/blocks/field-telephone/edit.js
  projects/packages/forms/src/blocks/input-phone/edit.js
  projects/packages/forms/src/blocks/input-phone/editor.scss
  projects/packages/forms/src/blocks/input-phone/index.js
  projects/packages/forms/src/blocks/shared/components/searchable-combobox.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/combobox.scss
  projects/packages/forms/src/contact-form/css/grunion.scss
  projects/packages/forms/src/contact-form/css/phone-field.scss
  projects/packages/forms/src/modules/field-phone/view.js
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
  projects/plugins/jetpack/changelog/add-forms-country-combobox
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, Coverage tests to be added later

#45134 Shortcodes: fix a fatal caused by undefined dependencies function
  projects/plugins/jetpack/changelog/fix-shortcodes-dependencies-fatal
  projects/plugins/jetpack/modules/shortcodes.php
  projects/plugins/jetpack/modules/shortcodes/recipe.php
  projects/plugins/jetpack/modules/shortcodes/slideshow.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] In Progress, [Plugin] Jetpack

#45037 Forms: Add integrations feature flag
  projects/packages/forms/changelog/add-form-show-integrations-filter
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/layout/index.tsx
  projects/packages/forms/src/dashboard/index.tsx
  projects/packages/forms/src/types/index.ts
  projects/packages/forms/tests/php/contact-form/Contact_Form_Endpoint_Test.php
  projects/plugins/jetpack/changelog/add-form-show-integrations-filter
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests

#45160 Launchpad: Update social tasks to open Jetpack Social
  projects/packages/jetpack-mu-wpcom/changelog/dotcom-14515-replace-links-to-marketingconnectionssite-with-jetpack
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, I don't care about code coverage for this PR

#45072 Forms: save submissions toggle
  projects/packages/forms/changelog/add-forms-store-submissions-toggle
  projects/packages/forms/src/blocks/contact-form/attributes.js
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/shared/components/jetpack-manage-responses-settings.js
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-contact-form-shortcode.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
  projects/plugins/jetpack/changelog/add-forms-store-submissions-toggle
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests

#45138 Forms: add extra layer of cache busting
  projects/packages/forms/changelog/add-forms-cache-busting-strategy
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, Coverage tests to be added later

#45177 e2e tests: Update verification step for WordPress.com user login
  tools/e2e-commons/setup-specs/auth.setup.ts
Labels: [Status] In Progress, [Type] Task, E2E Tests

#45167 Forms: Add cache busting on new version for interactivity API script file on top level context
  projects/packages/forms/changelog/update-forms-cache-busting-interactivity-api
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, I don't care about code coverage for this PR

#45104 Forms: release hidden field
  projects/packages/forms/changelog/update-forms-release-hidden-field
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/plugins/jetpack/changelog/update-forms-release-hidden-field
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#45198 Connection: Avoid PHP warnings when user ID doesn't match a valid user
  projects/packages/connection/changelog/fix-connection-avoid_php_warnings_on_non_user
  projects/packages/connection/src/sso/class-user-admin.php
Labels: [Type] Bug, [Feature] SSO, [Status] Ready to Merge, [Package] Connection

#45158 PayPal Payments: Improve robustness of payment buttons parsing logic
  projects/packages/paypal-payments/changelog/update-paypal-payment-buttons-robustness
  projects/packages/paypal-payments/src/paypal-payment-buttons/class-paypal-payment-buttons.php
  projects/packages/paypal-payments/src/paypal-payment-buttons/edit.js
  projects/packages/paypal-payments/tests/js/paypal-payment-buttons-block-tests/edit.test.js
Labels: [Type] Enhancement, [Status] Needs Review, [Tests] Includes Tests, [Package] Paypal Payments

#45203 Docker: Only symlink actual plugins
  tools/docker/bin/run.sh
Labels: [Status] Needs Review, [Type] Janitorial, Docker

#45204 Backport paypal-payment-buttons 0.3.0 Changes
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/fix-connection-avoid_php_warnings_on_non_user
  projects/packages/connection/src/class-package-version.php
  projects/packages/paypal-payments/CHANGELOG.md
  projects/packages/paypal-payments/changelog/update-paypal-payment-buttons-robustness
  projects/packages/paypal-payments/package.json
  projects/packages/paypal-payments/src/class-paypal-payments.php
  projects/plugins/paypal-payment-buttons/CHANGELOG.md
  projects/plugins/paypal-payment-buttons/changelog/e2e-add-tsconfigs-for-e2e-tests
  projects/plugins/paypal-payment-buttons/changelog/initial-plugin-setup
  projects/plugins/paypal-payment-buttons/changelog/paypal-54-update-plugin-skeleton-to-match-figma-design
  projects/plugins/paypal-payment-buttons/changelog/paypal-56-address-feedback-from-initial-plugin-scaffold
  projects/plugins/paypal-payment-buttons/changelog/paypal-payments-integration
  projects/plugins/paypal-payment-buttons/changelog/prerelease
  projects/plugins/paypal-payment-buttons/changelog/prerelease#2
  projects/plugins/paypal-payment-buttons/changelog/prerelease#3
  projects/plugins/paypal-payment-buttons/changelog/prerelease#4
  projects/plugins/paypal-payment-buttons/changelog/renovate-lock-file-maintenance
  projects/plugins/paypal-payment-buttons/changelog/renovate-lock-file-maintenance#2
  projects/plugins/paypal-payment-buttons/changelog/renovate-wordpress-monorepo
  projects/plugins/paypal-payment-buttons/changelog/renovate-wordpress-monorepo#2
  projects/plugins/paypal-payment-buttons/changelog/renovate-wordpress-monorepo2
  projects/plugins/paypal-payment-buttons/changelog/try-eslint-package-json-files
  projects/plugins/paypal-payment-buttons/changelog/try-eslint-package-json-files#2
  projects/plugins/paypal-payment-buttons/changelog/update-paypal-payment-buttons-change-package-location
  projects/plugins/paypal-payment-buttons/changelog/update-paypal-payment-buttons-fix-version
  projects/plugins/paypal-payment-buttons/changelog/update-paypal-payment-buttons-plugin-check-version
  projects/plugins/paypal-payment-buttons/changelog/update-paypal-payment-buttons-remove-admin-page
  projects/plugins/paypal-payment-buttons/changelog/update-paypal-payment-buttons-remove-redirect-settings-link
  projects/plugins/paypal-payment-buttons/changelog/working-payment-block
  projects/plugins/paypal-payment-buttons/composer.json
  projects/plugins/paypal-payment-buttons/paypal-payment-buttons.php
  projects/plugins/paypal-payment-buttons/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Connection, [Package] Paypal Payments, [Plugin] Paypal Payment Buttons

#45189 Forms: Fix outline and animated styles for Image Select field
  projects/packages/forms/changelog/update-forms-image-select-animated-outlined
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/field-image-select/edit.tsx
  projects/packages/forms/src/blocks/fieldset-image-options/edit.tsx
  projects/packages/forms/src/blocks/fieldset-image-options/index.tsx
  projects/packages/forms/src/blocks/input-image-option/edit.tsx
  projects/packages/forms/src/blocks/input-image-option/index.tsx
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Block] Contact Form, [Package] Forms, I don't care about code coverage for this PR

#45217 Backport boost 4.4.0-beta1 Changes
  projects/js-packages/critical-css-gen/CHANGELOG.md
  projects/js-packages/critical-css-gen/changelog/renovate-playwright-monorepo
  projects/js-packages/critical-css-gen/changelog/renovate-typescript-5.x
  projects/js-packages/critical-css-gen/package.json
  projects/js-packages/image-guide/CHANGELOG.md
  projects/js-packages/image-guide/changelog/renovate-postcss-8.x
  projects/js-packages/image-guide/changelog/renovate-typescript-5.x
  projects/js-packages/image-guide/package.json
  projects/js-packages/react-data-sync-client/CHANGELOG.md
  projects/js-packages/react-data-sync-client/changelog/renovate-typescript-5.x
  projects/js-packages/react-data-sync-client/changelog/renovate-zod-3.x
  projects/js-packages/react-data-sync-client/package.json
  projects/packages/plugin-deactivation/CHANGELOG.md
  projects/packages/plugin-deactivation/changelog/renovate-typescript-5.x
  projects/packages/plugin-deactivation/package.json
  projects/packages/plugin-deactivation/src/class-deactivation-handler.php
  projects/packages/wp-js-data-sync/CHANGELOG.md
  projects/packages/wp-js-data-sync/changelog/fix-phan-PhanImpossibleCondition
  projects/packages/wp-js-data-sync/package.json
  projects/packages/wp-js-data-sync/src/class-data-sync.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/app/lib/cornerstone/class-cornerstone-utils.php
  projects/plugins/boost/changelog/add-boost-lcp-new-element-not-stable-error-HOG-317
  projects/plugins/boost/changelog/add-image-cdn-breakdance-compatibility
  projects/plugins/boost/changelog/fix-boost-cornerstone-get-params-exclusion-hog-335
  projects/plugins/boost/changelog/fix-boost-using-translations-early
  projects/plugins/boost/changelog/fix-minor_string_typos_throughout
  projects/plugins/boost/changelog/fix-page-cache-multisite-update-page-fatal-hog-325
  projects/plugins/boost/changelog/jetpack-787-flaky-test-boost-e2e-tests-intermittent-failures-during
  projects/plugins/boost/changelog/prerelease
  projects/plugins/boost/changelog/prerelease#2
  projects/plugins/boost/changelog/prerelease#3
  projects/plugins/boost/changelog/prerelease#4
  projects/plugins/boost/changelog/renovate-livereload-0.x
  projects/plugins/boost/changelog/renovate-lock-file-maintenance
  projects/plugins/boost/changelog/renovate-playwright-monorepo
  projects/plugins/boost/changelog/renovate-postcss-8.x
  projects/plugins/boost/changelog/renovate-typescript-5.x
  projects/plugins/boost/changelog/renovate-wordpress-monorepo2
  projects/plugins/boost/changelog/renovate-zod-3.x
  projects/plugins/boost/changelog/update-boost-backport-4.3.1-changes
  projects/plugins/boost/changelog/update-boost-cornerstone-pages-filter-complete-list
  projects/plugins/boost/changelog/update-boost-critical-css-ui-support-large-payload-error-hog-258
  projects/plugins/boost/changelog/update-do-not-force-install-crm-on-complete
  projects/plugins/boost/changelog/update-jetpack-no-null-content-cdn-HOG-301
  projects/plugins/boost/changelog/update-myjp-intestitial-component-use-pricing-table
  projects/plugins/boost/changelog/update-phan_5.5.1
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, RNA, [Plugin] Boost, [Package] Plugin Deactivation, [JS Package] Image Guide, [Package] WP JS Data Sync, [JS Package] Critical Css Gen, [JS Package] React Data Sync Client

#45185 Widgets: Avoid PHP warnings when handling malformed data
  projects/plugins/jetpack/changelog/fix-widgets-avoid_php_warnings
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Bug, [Feature] Widget Visibility, [Status] Needs Review, [Plugin] Jetpack

#45182 Phan: Address PhanTypeSuspiciousStringExpression violations
  projects/packages/sync/.phan/baseline.php
  projects/packages/sync/changelog/fix-phan-PhanTypeSuspiciousStringExpression
  projects/packages/sync/src/class-replicastore.php
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/admin/company/view.page.php
  projects/plugins/crm/admin/email/main.page.php
  projects/plugins/crm/admin/settings/partials/template-variant-setting.block.php
  projects/plugins/crm/changelog/fix-phan-PhanTypeSuspiciousStringExpression
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Obj.Contacts.php
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
  projects/plugins/crm/includes/ZeroBSCRM.Mail.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBox.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Tags.php
  projects/plugins/crm/includes/ZeroBSCRM.NotifyMe.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/fix-phan-PhanTypeSuspiciousStringExpression
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-constants.php
  projects/plugins/super-cache/.phan/baseline.php
  projects/plugins/super-cache/changelog/fix-phan-PhanTypeSuspiciousStringExpression
  projects/plugins/super-cache/wp-cache-phase2.php
  projects/plugins/super-cache/wp-cache.php
  projects/plugins/wpcomsh/changelog/fix-phan-PhanTypeSuspiciousStringExpression
  projects/plugins/wpcomsh/tests/lib/mocks/class-jetpack-options.php
Labels: [Feature] Related Posts, [Status] Needs Review, [Feature] Sitemaps, Admin Page, [Type] Janitorial, [Package] Sync, [Plugin] Jetpack, [Plugin] Super Cache, [Plugin] CRM, [Tests] Includes Tests, [Plugin] Wpcomsh

#45214 CRM: Improve tax rate duplicate detection with WordPress-compliant caching
  projects/plugins/crm/admin/settings/tax.page.php
  projects/plugins/crm/changelog/fix-crm-tax-rate-duplicates
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
Labels: [Type] Bug, [Status] In Progress, Admin Page, [Plugin] CRM, I don't care about code coverage for this PR

#45180 Subscriptions: Always link to WP Admin in Newsletter widget
  projects/plugins/jetpack/changelog/dotcom-14519-replace-the-calypso-stats-quick-link-in-the-widget-with-the
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/class-jetpack-newsletter-dashboard-widget.php
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/helpers.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/index.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/helpers.test.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/newsletter-widget.test.tsx
Labels: [Feature] Subscriptions, [Status] Needs Review, [Type] Task, [Plugin] Jetpack, [Tests] Includes Tests, I don't care about code coverage for this PR

#45211 Instant Search: Include additional WC taxonomies to sync
  projects/packages/sync/changelog/update-class-search-taxonomies-wc-attributes
  projects/packages/sync/src/modules/class-search.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Sync

#44524 Untangling: Replace Calypso stats menu w WP-Admin version
  projects/packages/jetpack-mu-wpcom/changelog/update-stats-link-to-wp-admin
  projects/packages/masterbar/changelog/update-stats-link-to-wp-admin
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
  projects/packages/masterbar/tests/php/Admin_Menu_Test.php
  projects/packages/stats-admin/changelog/update-stats-link-to-wp-admin
  projects/packages/stats-admin/src/class-dashboard.php
  projects/plugins/jetpack/changelog/update-stats-link-to-wp-admin
  projects/plugins/jetpack/modules/stats.php
  projects/plugins/mu-wpcom-plugin/changelog/update-stats-link-to-wp-admin
  projects/plugins/wpcomsh/changelog/update-stats-link-to-wp-admin
Labels: [Type] Task, [Feature] Masterbar, DO NOT MERGE, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Stats Admin, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Menu, I don't care about code coverage for this PR

#45218 Forms: Fix slider value position in editor
  projects/packages/forms/changelog/fix-forms-slider-value-position
  projects/packages/forms/src/blocks/input-range/edit.js
  projects/packages/forms/src/blocks/input-range/utils.js
  projects/packages/forms/src/modules/slider-field/view.js
  projects/plugins/jetpack/changelog/fix-forms-slider-value-position
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#45206 Forms: Add test to Image Select field processing function
  projects/packages/forms/changelog/update-forms-image-select-process-test
  projects/packages/forms/src/contact-form/class-feedback.php
  projects/packages/forms/tests/php/contact-form/Feedback_Test.php
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Package] Forms, [Tests] Includes Tests

#45188 Forms: horizontal button align
  projects/packages/forms/changelog/test-forms-horizontal-button-align
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/contact-form/css/grunion.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, Coverage tests to be added later

#45207 Charts: Add global context utility for getting styles for any chart component
  projects/js-packages/charts/changelog/charts-111-charts-add-hook-to-get-the-styles-for-any-chart-component
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/leaderboard-chart/hooks/use-leaderboard-legend-items.ts
  projects/js-packages/charts/src/components/leaderboard-chart/leaderboard-chart.tsx
  projects/js-packages/charts/src/components/leaderboard-chart/test/use-leaderboard-legend-items.test.tsx
  projects/js-packages/charts/src/components/legend/hooks/use-chart-legend-items.ts
  projects/js-packages/charts/src/components/legend/private/base-legend.tsx
  projects/js-packages/charts/src/components/legend/stories/index.stories.tsx
  projects/js-packages/charts/src/components/legend/types.ts
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/providers/chart-context/global-charts-provider.tsx
  projects/js-packages/charts/src/providers/chart-context/index.ts
  projects/js-packages/charts/src/providers/chart-context/test/chart-context.test.tsx
  projects/js-packages/charts/src/providers/chart-context/types.ts
  projects/js-packages/charts/src/types.ts
  projects/js-packages/charts/src/utils/get-styles.ts
  projects/js-packages/charts/src/utils/test/get-styles.test.ts
Labels: [Type] Enhancement, [Status] Ready to Merge, RNA, [Tests] Includes Tests, [JS Package] Charts

#45208 WooCommerce Analytics: Implement server-side tracker class
  projects/packages/woocommerce-analytics/changelog/add-wc-server-tracking
  projects/packages/woocommerce-analytics/src/class-wc-analytics-ch-event.php
  projects/packages/woocommerce-analytics/src/class-wc-analytics-tracking.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#45209 WooCommerce Analytics: Implement server-side direct event delivery
  projects/packages/woocommerce-analytics/changelog/update-wooa7s-491-implement-server-side-direct-event-delivery
  projects/packages/woocommerce-analytics/src/class-my-account.php
  projects/packages/woocommerce-analytics/src/class-universal.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#45233 Forms: restrict jetpack button flex setup grow/shrink behavior
  projects/packages/forms/changelog/fix-forms-jetpack-button-flex-setup
  projects/packages/forms/src/blocks/contact-form/editor.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, Coverage tests to be added later

#45225 CRM: Small fix to transactions line items hiding fix
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/changelog/fix-crm-transaction-line-items
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Transactions.php
Labels: [Type] Bug, [Status] In Progress, [Plugin] CRM, I don't care about code coverage for this PR

#45219 Forms: Fix slider min max editing
  projects/packages/forms/changelog/fix-forms-slider-min-max-values
  projects/packages/forms/src/blocks/field-slider/edit.js
  projects/packages/forms/src/blocks/input-range/edit.js
  projects/plugins/jetpack/changelog/fix-forms-slider-min-max-values
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, I don't care about code coverage for this PR

#45227 WooCommerce Analytics: Implement on-site pixel API endpoint with POST support
  projects/packages/woocommerce-analytics/changelog/wooa7s-489-implement-on-site-pixel-api-endpoint-with-post-support
  projects/packages/woocommerce-analytics/src/API/class-wc-analytics-tracking-proxy.php
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
Labels: [Status] Needs Review, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics, [Type] Feature

#45252 fix: Editor assets endpoint allows contact info inner blocks
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-block-editor-assets.php
  projects/plugins/jetpack/changelog/fix-editor-assets-endpoint-allows-contact-info-inner-blocks
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, [Feature] WP REST API, [Plugin] Jetpack

#45228 Forms: rename responses storage panel
  projects/packages/forms/changelog/update-forms-responses-storage-panel
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/shared/components/jetpack-manage-responses-settings.js
  projects/plugins/jetpack/changelog/update-forms-responses-storage-panel
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#45264 Conversion funnel chart: make theming consistent with other charts
  projects/js-packages/charts/changelog/charts-122-conversion-funnel-chart-make-theming-consistent-with-other
  projects/js-packages/charts/src/components/conversion-funnel-chart/conversion-funnel-chart.module.scss
  projects/js-packages/charts/src/components/conversion-funnel-chart/conversion-funnel-chart.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/index.ts
  projects/js-packages/charts/src/components/conversion-funnel-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/conversion-funnel-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/test/conversion-funnel-chart.test.tsx
  projects/js-packages/charts/src/components/conversion-funnel-chart/types.ts
  projects/js-packages/charts/src/providers/chart-context/themes.ts
Labels: [Type] Enhancement, [Status] In Progress, RNA, [Tests] Includes Tests, [JS Package] Charts

#45268 WooCommerce Analytics: Implement client-side analytics tracking
  pnpm-lock.yaml
  projects/packages/woocommerce-analytics/.gitattributes
  projects/packages/woocommerce-analytics/.gitignore
  projects/packages/woocommerce-analytics/changelog/add-wca-frontend-js-tracking
  projects/packages/woocommerce-analytics/composer.json
  projects/packages/woocommerce-analytics/package.json
  projects/packages/woocommerce-analytics/src/class-my-account.php
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-wc-analytics-tracking.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
  projects/packages/woocommerce-analytics/src/client/analytics.ts
  projects/packages/woocommerce-analytics/src/client/constants.ts
  projects/packages/woocommerce-analytics/src/client/index.ts
  projects/packages/woocommerce-analytics/src/client/listeners/account.ts
  projects/packages/woocommerce-analytics/src/client/session-manager.ts
  projects/packages/woocommerce-analytics/src/client/types/global.d.ts
  projects/packages/woocommerce-analytics/src/client/types/shared.ts
  projects/packages/woocommerce-analytics/tsconfig.json
  projects/packages/woocommerce-analytics/webpack.config.js
  projects/plugins/jetpack/changelog/add-wca-frontend-js-tracking
  projects/plugins/jetpack/composer.lock
  tools/docker/mu-plugins/fix-monorepo-plugins-url.php
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Review, [Feature] WooCommerce Analytics, Docker, [Plugin] Jetpack, [Package] WooCommerce Analytics

#45276 Charts: generate extra colors from color palette
  projects/js-packages/charts/changelog/charts-107-generate-extra-colors-for-charts-from-primary-color
  projects/js-packages/charts/src/components/line-chart/stories/annotation.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/config.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/providers/chart-context/global-charts-provider.tsx
  projects/js-packages/charts/src/providers/chart-context/private/get-chart-color.ts
  projects/js-packages/charts/src/providers/chart-context/test/chart-context.test.tsx
  projects/js-packages/charts/src/stories/sample-data/index.ts
  projects/js-packages/charts/src/utils/color-utils.ts
  projects/js-packages/charts/src/utils/index.ts
  projects/js-packages/charts/src/utils/test/color-utils.test.ts
Labels: [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts, [Type] Feature

#45285 WooCommerce Analytics: Add IP-based unique visitor identification
  projects/packages/woocommerce-analytics/changelog/wooa7s-488-improve-visitor-tracking-switch-from-cookie-based-to-ip
  projects/packages/woocommerce-analytics/src/class-features.php
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-wc-analytics-tracking.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#45312 Prepare for Forms 6.2.2
  projects/packages/forms/CHANGELOG.md
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Package] Forms, Reviewer Can Merge

#45316 WooCommerce Analytics: README documentation update
  projects/packages/woocommerce-analytics/README.md
  projects/packages/woocommerce-analytics/changelog/improve-readme-documentation
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#45016 Untangling: Add Substack importer entry in import.php
  projects/packages/jetpack-mu-wpcom/changelog/update-substack-importer-entry
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-imports/wpcom-imports.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, I don't care about code coverage for this PR, [mu wpcom Feature] Wpcom Imports

#45320 Forms: add interactivity API withSyncEvent fallback
  projects/packages/forms/changelog/add-forms-interactivity-api-withsyncevent-fallback
  projects/packages/forms/changelog/fix-missing-withSyncEvent
  projects/packages/forms/src/modules/field-phone/view.js
  projects/packages/forms/src/modules/form-step-navigation/view.js
  projects/plugins/jetpack/changelog/fix-missing-withSyncEvent
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Plugin] Jetpack, [Package] Forms, Coverage tests to be added later

#45284 Line Chart: Add support for annotated line sections
  projects/js-packages/charts/changelog/charts-85-line-chart-add-story-for-alert-annotation
  projects/js-packages/charts/src/components/line-chart/index.ts
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/private/index.ts
  projects/js-packages/charts/src/components/line-chart/private/line-chart-glyph.tsx
  projects/js-packages/charts/src/components/line-chart/stories/annotation.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/glyph.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.docs.mdx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/test/line-chart.test.tsx
  projects/js-packages/charts/src/components/line-chart/types.ts
  projects/js-packages/charts/src/components/private/default-glyph/default-glyph.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Status] Ready to Merge, RNA, [Tests] Includes Tests, [JS Package] Charts, [Type] Feature

#45287 Cookie Consent Block: add fallback colors for styles
  projects/plugins/jetpack/changelog/fix-cookie-consent-block-color-fallback
  projects/plugins/jetpack/extensions/blocks/cookie-consent/block.json
  projects/plugins/jetpack/extensions/blocks/cookie-consent/test/fixtures/jetpack__cookie-consent.html
  projects/plugins/jetpack/extensions/blocks/cookie-consent/test/fixtures/jetpack__cookie-consent.json
  projects/plugins/jetpack/extensions/blocks/cookie-consent/test/fixtures/jetpack__cookie-consent.parsed.json
  projects/plugins/jetpack/extensions/blocks/cookie-consent/test/fixtures/jetpack__cookie-consent.serialized.html
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Focus] FSE, [Block] Cookie Consent, [Tests] Includes Tests, Bug

#45331 Update Static Site Generation comment
  projects/plugins/jetpack/changelog/update-static-site-generation-comment
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#45327 Widgets: Avoid more PHP warnings
  projects/plugins/jetpack/changelog/fix-widgets-avoid_more_php_warnings
  projects/plugins/jetpack/modules/widget-visibility/widget-conditions.php
Labels: [Type] Bug, [Feature] Widget Visibility, [Status] Needs Review, [Plugin] Jetpack
