Repository Automattic/jetpack, pull requests merged in 2025-06, with the labels that each got.

#43698 STATS-39: Atomic site's help center shows curated messages.
  projects/packages/jetpack-mu-wpcom/changelog/fix-stats-39-make-atomic-help-center-similar-to-others
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-search.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, I don't care about code coverage for this PR

#43637 Reader: Improve paywall messages for restricted content
  projects/plugins/jetpack/changelog/improve-paywall-messages-for-restricted-content
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack, [Feature] Memberships

#43701 Social: Hide preview modal if there are no connections
  projects/js-packages/publicize-components/changelog/fix-social-hide-preview-with-no-connections
  projects/js-packages/publicize-components/src/components/social-post-modal/modal.tsx
Labels: [Feature] Publicize, [Status] Needs Author Reply, RNA, [JS Package] Publicize Components

#43708 Forms: add context to About tab translation
  projects/packages/forms/changelog/update-forms-about-add-context
  projects/packages/forms/src/dashboard/components/layout/index.tsx
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Focus] i18n, [Package] Forms

#43725 My jetpack: Onboarding i3 | Fix layout and alignment issues
  projects/js-packages/components/changelog/fix-my-jetpack-layout-and-alighment-issues
  projects/js-packages/components/components/admin-page/index.tsx
  projects/js-packages/components/components/admin-page/types.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/styles.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/styles.module.scss
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Components, [Package] My Jetpack

#43726 My Jetpack: Replace deprecated sass APIs with alternatives
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/help/styles.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/overview/styles.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/styles.module.scss
Labels: [Status] Needs Author Reply, [Type] Task, [Status] Needs Team Review, [Package] My Jetpack

#43706 Boost: Ensure LCP Errors are not partially hidden
  projects/plugins/boost/app/assets/src/js/features/lcp/status/error-details.module.scss
  projects/plugins/boost/changelog/fix-boost-lcp-error-details-partially-hidden
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost

#43526 My Jetpack: limit styling to the onboarding screen
  projects/packages/my-jetpack/_inc/components/onboarding-screen/styles.module.scss
  projects/packages/my-jetpack/changelog/fix-blurry-text
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, [Package] My Jetpack, Bug

#43735 renovate: Deprioritize dataviews updates
  .github/renovate.json5
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low

#43721 Forms: account for missing placeholder when transforming input fields to select dropdown and fix z-index
  projects/packages/forms/src/blocks/shared/settings/transforms.js
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Feature] Contact Form, [Block] Contact Form, [Package] Forms, Bug

#43679 Add dynamic chart margin calculation and improve Y-axis tick formatting
  pnpm-lock.yaml
  projects/js-packages/charts/changelog/charts-2-axis-label-overflow-in-line-and-bar-charts
  projects/js-packages/charts/package.json
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/large-values-sample.ts
  projects/js-packages/charts/src/components/shared/test/use-chart-margin.test.tsx
  projects/js-packages/charts/src/components/shared/test/utils.test.ts
  projects/js-packages/charts/src/components/shared/use-chart-margin.tsx
  projects/js-packages/charts/src/components/shared/utils.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#43641 Jetpack_Media_Summary: Prevent warnings related to undefined keys and unexpected array offsets
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/class.media-summary.php
  projects/plugins/jetpack/changelog/update-class-media-summary-array-warnings
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack

#43713 search pkg: Fix sass deprecation warnings
  projects/packages/search/changelog/fix-sass-imports-in-packages-search
  projects/packages/search/src/customberg/components/app-wrapper/styles.scss
  projects/packages/search/src/customberg/components/header/styles.scss
  projects/packages/search/src/customberg/components/layout/styles.scss
  projects/packages/search/src/customberg/components/save-button/styles.scss
  projects/packages/search/src/customberg/components/sidebar/color-control.scss
  projects/packages/search/src/customberg/components/sidebar/excluded-post-types-control.scss
  projects/packages/search/src/customberg/components/sidebar/styles.scss
  projects/packages/search/src/customberg/lib/_base-styles.scss
  projects/packages/search/src/customberg/styles.scss
  projects/packages/search/src/dashboard/components/button/style.scss
  projects/packages/search/src/dashboard/components/card/style.scss
  projects/packages/search/src/dashboard/components/donut-meter-container/style.scss
  projects/packages/search/src/dashboard/components/form-toggle/style.scss
  projects/packages/search/src/dashboard/components/global-notices/style.scss
  projects/packages/search/src/dashboard/components/mocked-search/mocked-instant-search.scss
  projects/packages/search/src/dashboard/components/mocked-search/mocked-legacy-search.scss
  projects/packages/search/src/dashboard/components/module-control/style.scss
  projects/packages/search/src/dashboard/components/notice/style.scss
  projects/packages/search/src/dashboard/components/pages/dashboard-page.scss
  projects/packages/search/src/dashboard/components/pages/upsell-page/styles.scss
  projects/packages/search/src/dashboard/components/upsell-nudge/style.scss
  projects/packages/search/src/dashboard/scss/rna-styles.scss
  projects/packages/search/src/instant-search/components/jetpack-colophon.scss
  projects/packages/search/src/instant-search/components/notice.scss
  projects/packages/search/src/instant-search/components/overlay.scss
  projects/packages/search/src/instant-search/components/path-breadcrumbs.scss
  projects/packages/search/src/instant-search/components/product-price.scss
  projects/packages/search/src/instant-search/components/product-ratings.scss
  projects/packages/search/src/instant-search/components/scroll-button.scss
  projects/packages/search/src/instant-search/components/search-app.scss
  projects/packages/search/src/instant-search/components/search-box.scss
  projects/packages/search/src/instant-search/components/search-controls.scss
  projects/packages/search/src/instant-search/components/search-filters.scss
  projects/packages/search/src/instant-search/components/search-result-expanded.scss
  projects/packages/search/src/instant-search/components/search-result-minimal.scss
  projects/packages/search/src/instant-search/components/search-result-product.scss
  projects/packages/search/src/instant-search/components/search-result.scss
  projects/packages/search/src/instant-search/components/search-results.scss
  projects/packages/search/src/instant-search/components/search-sort.scss
  projects/packages/search/src/instant-search/components/sidebar.scss
  projects/packages/search/src/instant-search/components/tabbed-search-filters.scss
  projects/packages/search/src/instant-search/lib/styles/_helper.scss
  projects/packages/search/src/instant-search/lib/styles/_mixins.scss
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Search

#43750 Fix sass deprecation warnings in misc packages
  projects/packages/backup/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/backup/src/js/components/Admin/style.scss
  projects/packages/backup/src/js/components/backups-style.scss
  projects/packages/jetpack-mu-wpcom/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/jetpack-mu-wpcom/src/common/tour-kit/variants/wpcom/components/wpcom-tour-kit-pagination-control.scss
  projects/packages/jetpack-mu-wpcom/src/features/holiday-snow/holiday-snow.scss
  projects/packages/jetpack-mu-wpcom/src/features/jetpack-global-styles/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor-nux/src/nux-modal/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/modal.scss
  projects/packages/jitm/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/jitm/src/css/jetpack-admin-jitm.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/style.module.scss
  projects/packages/my-jetpack/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/videopress/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/videopress/src/client/block-editor/blocks/video/view.scss
  projects/packages/wordads/changelog/fix-sass-deprecations-in-misc-stuff
  projects/packages/wordads/src/dashboard/components/button/style.scss
  projects/packages/wordads/src/dashboard/components/card/style.scss
  projects/packages/wordads/src/dashboard/components/dashboard/style.scss
  projects/packages/wordads/src/dashboard/components/form-toggle/style.scss
  projects/packages/wordads/src/dashboard/components/global-notices/style.scss
  projects/packages/wordads/src/dashboard/components/module-control/style.scss
  projects/packages/wordads/src/dashboard/components/notice/style.scss
  projects/packages/wordads/src/dashboard/scss/rna-styles.scss
  projects/plugins/inspect/app-ui/css/style.scss
  projects/plugins/inspect/changelog/fix-sass-deprecations-in-misc-stuff
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Jitm, [Package] Backup, [Package] My Jetpack, [Package] Ad, [Package] VideoPress, [Package] Jetpack mu wpcom, [Plugin] Inspect, [mu wpcom Feature] Jetpack Global Styles, [mu wpcom Feature] Wpcom Global Styles, [mu wpcom Feature] Wpcom Block Editor Nux, [mu wpcom Feature] Holiday Snow

#43738 Forms: Fix required field and form validation for single and multiple options blocks
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Package] Forms

#43742 Charts: Fix @rollup/plugin-typescript warnings
  projects/js-packages/charts/changelog/charts-25-fix-plugin-typescript-rollupplugin-typescript-warnings
  projects/js-packages/charts/rollup.config.mjs
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/legend/base-legend.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/components/shared/test/use-chart-margin.test.tsx
  projects/js-packages/charts/src/components/shared/test/with-responsive.test.tsx
  projects/js-packages/charts/src/components/shared/utils.ts
  projects/js-packages/charts/src/components/shared/with-responsive.tsx
  projects/js-packages/charts/src/declarations.d.ts
  projects/js-packages/charts/src/providers/theme/theme-provider.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#43741 Charts: Enhance BarChart component to support horizontal orientation
  projects/js-packages/charts/changelog/add-horizontal-bar-chart
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/bar-chart/use-bar-chart-options.ts
  projects/js-packages/charts/src/components/shared/use-chart-margin.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Status] Needs Team Review, RNA, [JS Package] Charts, [Type] Feature

#43723 CHARTS-4: Export types from visx and charts library
  projects/js-packages/charts/changelog/charts-4-exposing-vsix-types
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/types.ts
Labels: [Status] In Progress, [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#43745 Boost: Update LCP Module Title and Description
  projects/plugins/boost/app/assets/src/js/features/lcp/lcp.tsx
  projects/plugins/boost/changelog/update-boost-lcp-description
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost

#43768 Help Center: add SSP flag to the Help Center data
  projects/packages/jetpack-mu-wpcom/changelog/fix-add-ssp-flag-to-hc
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#43755 Jetpack Forms: fix Calypso menu issues
  projects/packages/forms/changelog/fix-jetpack-forms-calypso-menu
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/dashboard/class-dashboard.php
Labels: [Feature] Contact Form, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms, Coverage tests to be added later

#43593 Connection: protected owner errors manual fix
  projects/js-packages/connection/changelog/add-protected_owner_error_manual
  projects/js-packages/connection/components/connection-error-notice/index.jsx
  projects/js-packages/connection/components/connection-error-notice/styles.module.scss
  projects/js-packages/connection/hooks/use-connection-error-notice/index.jsx
  projects/js-packages/connection/hooks/use-connection-error-notice/test/index.test.jsx
  projects/js-packages/connection/index.jsx
  projects/packages/connection/changelog/add-protected_owner_error_manual
  projects/packages/connection/src/class-error-handler.php
  projects/packages/connection/tests/php/Error_Handler_Test.php
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/test/use-connection-errors-notice.test.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-connection-errors-notice.tsx
  projects/packages/my-jetpack/changelog/add-protected_owner_error_manual
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/jetpack-connection-errors.jsx
  projects/plugins/jetpack/changelog/add-protected_owner_error_manual
Labels: [Status] Needs Review, Admin Page, [Package] Connection, [Plugin] Jetpack, RNA, [JS Package] Connection, [Package] My Jetpack, [Tests] Includes Tests, [Type] Feature

#43769 Bump wpcomsh podcast
  projects/plugins/wpcomsh/changelog/bump-wpcomsh-podcast
  projects/plugins/wpcomsh/composer.lock
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Wpcomsh

#43775 Protect/improve readme clarity
  projects/plugins/protect/changelog/protect-improve-readme-clarity
  projects/plugins/protect/readme.txt
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Protect

#43770 Forms: show - when no files were uploaded to field
  projects/packages/forms/changelog/update-forms-file-none
  projects/packages/forms/src/dashboard/inbox/response.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#43450 Search: do not add new widget to classic theme main sidebar
  projects/packages/search/changelog/remove-auto-main-sidebar
  projects/packages/search/src/instant-search/class-instant-search.php
  projects/plugins/jetpack/changelog/remove-auto-main-sidebar
  projects/plugins/search/changelog/remove-auto-main-sidebar
Labels: [Type] Enhancement, [Status] Needs Review, [Status] Proposal, [Plugin] Jetpack, [Plugin] Search, [Package] Search, Enhancement

#43772 Charts: Prefer color from data if it is available for legend
  projects/js-packages/charts/changelog/charts-use-stroke-color-in-legend
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [JS Package] Charts

#43761 CHARTS-24: Update/support line dasharray
  projects/js-packages/charts/changelog/update-support-line-dasharray
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#43789 Forms: account for missing placeholder when transforming input and options fields to select dropdown
  projects/packages/forms/src/blocks/shared/settings/transforms.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms

#43767 Forms: Fix confusion over label/defaultLabel/placeholder
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/blocks/field-checkbox/deprecated.js
  projects/packages/forms/src/blocks/field-checkbox/edit.js
  projects/packages/forms/src/blocks/field-consent/deprecated.js
  projects/packages/forms/src/blocks/field-consent/edit.js
  projects/packages/forms/src/blocks/field-date/edit.js
  projects/packages/forms/src/blocks/field-multiple-choice/edit.js
  projects/packages/forms/src/blocks/field-single-choice/edit.js
  projects/packages/forms/src/blocks/field-textarea/deprecated.js
  projects/packages/forms/src/blocks/field-textarea/edit.js
  projects/packages/forms/src/blocks/label/edit.js
  projects/packages/forms/src/blocks/label/index.js
  projects/packages/forms/src/blocks/option/edit.js
  projects/packages/forms/src/blocks/option/index.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field.js
  projects/packages/forms/src/blocks/shared/deprecations/migrate-inner-option-blocks.js
  projects/packages/forms/src/blocks/shared/deprecations/migrate-options-to-inner-blocks.js
  projects/packages/forms/src/blocks/shared/deprecations/multiple-choice-field-deprecation.js
  projects/packages/forms/src/blocks/shared/settings/transforms.js
  projects/packages/forms/tests/php/contact-form/Contact_Form_Plugin_Test.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, [Feature] Forms Blocks, Bug

#43790 Forms: Fix button style checkbox alignment
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43763 Charts: Add bar list chart
  projects/js-packages/charts/changelog/add-bar-list-chart
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/use-bar-chart-options.ts
  projects/js-packages/charts/src/components/bar-list-chart/bar-list-chart.tsx
  projects/js-packages/charts/src/components/bar-list-chart/index.tsx
  projects/js-packages/charts/src/components/bar-list-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/bar-list-chart/stories/sample-data.ts
  projects/js-packages/charts/src/components/bar-list-chart/test/bar-list-chart.test.tsx
  projects/js-packages/charts/src/components/shared/with-responsive.tsx
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/types.ts
Labels: [Status] Needs Review, [Type] Task, RNA, [Tests] Includes Tests, [JS Package] Charts, [Type] Feature

#43727 Atomic: Fix Jetpack menus on untangled screens
  projects/plugins/wpcomsh/changelog/fix-jetpack-menus-on-atomic
  projects/plugins/wpcomsh/class-jetpack-plugin-compatibility.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Wpcomsh, I don't care about code coverage for this PR

#43777 Connection: display info on WoA sites
  projects/js-packages/connection/changelog/update-at-connection-card
  projects/js-packages/connection/components/manage-connection-dialog/index.jsx
  projects/js-packages/connection/components/manage-connection-dialog/stories/index.stories.jsx
  projects/packages/connection/changelog/update-at-connection-card
  projects/packages/connection/src/class-initial-state.php
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/test/component.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/overview/content.tsx
  projects/packages/my-jetpack/changelog/update-at-connection-card
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Connection, RNA, [JS Package] Connection, [Package] My Jetpack, [Tests] Includes Tests

#43573 Enforce comment blocks allowlist on inner blocks
  projects/packages/jetpack-mu-wpcom/changelog/improve_verbum_filtering
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/assets/class-verbum-block-utils.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/verbum-comments/Verbum_Block_Utils_Test.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Verbum Comments

#43786 Clear out to-test.md in preparation for Jetpack 14.8 release cycle
  projects/plugins/jetpack/changelog/update-jetpack-clear_out_to-test.md_for_14.8
  projects/plugins/jetpack/to-test.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#43779 Jetpack: update Creative Mail redirect
  projects/packages/jitm/changelog/change-jetpack-forms-legacy-urls-update
  projects/packages/jitm/src/class-post-connection-jitm.php
  projects/plugins/jetpack/3rd-party/creative-mail.php
  projects/plugins/jetpack/changelog/change-jetpack-forms-legacy-urls-update
Labels: [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jitm, [Focus] Compatibility, Coverage tests to be added later

#43792 Charts: Added support for customizable legend shapes/styles
  projects/js-packages/charts/changelog/charts-6-provide-better-control-over-the-legend
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/legend/base-legend.tsx
  projects/js-packages/charts/src/components/legend/legend.module.scss
  projects/js-packages/charts/src/components/legend/legend.test.tsx
  projects/js-packages/charts/src/components/legend/types.ts
  projects/js-packages/charts/src/components/legend/utils.ts
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Status] Needs Review, [Type] Task, RNA, [JS Package] Charts

#43805 Boost: skip flaky tests
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/boost/changelog/add-skip-e2e-boost
  projects/plugins/boost/tests/e2e/specs/base/common.test.js
  projects/plugins/boost/tests/e2e/specs/modules/modules-common.test.js
Labels: [Type] Bug, [Status] Needs Review, Actions, E2E Tests, [Plugin] Boost, [Tests] Includes Tests

#43809 CHARTS-5: Remove animation from line and bar charts
  projects/js-packages/charts/changelog/remove-charts-animation
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
Labels: [Status] In Progress, [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#43810 Charts: Fix smoothing when curve type is not specified
  projects/js-packages/charts/changelog/update-unify-smooth-option
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
Labels: [Type] Bug, [Feature] Stats Data, [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Charts

#43811 Release @automattic/charts v0.12.0
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/add-bar-list-chart
  projects/js-packages/charts/changelog/add-horizontal-bar-chart
  projects/js-packages/charts/changelog/charts-2-axis-label-overflow-in-line-and-bar-charts
  projects/js-packages/charts/changelog/charts-25-fix-plugin-typescript-rollupplugin-typescript-warnings
  projects/js-packages/charts/changelog/charts-3-hovering-over-the-chart-causes-horizontal-scrollbars-to
  projects/js-packages/charts/changelog/charts-4-exposing-vsix-types
  projects/js-packages/charts/changelog/charts-6-provide-better-control-over-the-legend
  projects/js-packages/charts/changelog/charts-8-refactor-barchart-to-use-visxxychart-barseriesbargroup
  projects/js-packages/charts/changelog/charts-use-stroke-color-in-legend
  projects/js-packages/charts/changelog/fix-charts-test-on-utc-negative-timezone-hosts
  projects/js-packages/charts/changelog/fix-stylelint-fixables
  projects/js-packages/charts/changelog/force-a-release
  projects/js-packages/charts/changelog/remove-charts-animation
  projects/js-packages/charts/changelog/renovate-babel-monorepo
  projects/js-packages/charts/changelog/renovate-definitelytyped
  projects/js-packages/charts/changelog/renovate-jest-monorepo
  projects/js-packages/charts/changelog/renovate-postcss-loader-8.x
  projects/js-packages/charts/changelog/renovate-react-spring-web-9.x
  projects/js-packages/charts/changelog/renovate-sass-1.x
  projects/js-packages/charts/changelog/renovate-sass-embedded-1.x
  projects/js-packages/charts/changelog/renovate-sass-loader-16.x
  projects/js-packages/charts/changelog/renovate-typescript-5.x
  projects/js-packages/charts/changelog/renovate-wordpress-monorepo
  projects/js-packages/charts/changelog/renovate-wordpress-monorepo#2
  projects/js-packages/charts/changelog/update-support-line-dasharray
  projects/js-packages/charts/changelog/update-unify-smooth-option
  projects/js-packages/charts/changelog/update-use-sass-embedded
  projects/js-packages/charts/package.json
Labels: [Status] Needs Author Reply, RNA, [JS Package] Charts

#43594 Update/connection banner multisite url redirection
  projects/plugins/jetpack/changelog/update-connection-banner-multisite-url-redirection
  projects/plugins/jetpack/extensions/shared/components/connect-banner/index.tsx
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, [Package] Connection, [Plugin] Jetpack

#43709 Boost: Update LCP Error Messaging within Plugin
  projects/plugins/boost/app/assets/src/js/features/lcp/lib/stores/lcp-state-types.ts
  projects/plugins/boost/app/assets/src/js/features/lcp/status/error-details.tsx
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/app/rest-api/endpoints/class-update-lcp.php
  projects/plugins/boost/changelog/update-boost-lcp-error-displaying
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43803 Boost: correctly display Critical CSS status on JP Dash for Complete
  projects/plugins/jetpack/_inc/client/state/site/reducer.js
  projects/plugins/jetpack/changelog/fix-hog-91
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Plugin] Jetpack, Reviewer Can Merge, Bug

#43813 Charts: Fix dependency issue
  pnpm-lock.yaml
  projects/js-packages/charts/changelog/fix-chart-dependencies
  projects/js-packages/charts/package.json
Labels: [Status] Needs Review, [Type] Task, RNA, [JS Package] Charts

#43781 NavUnification: Fix Jetpack submenu order
  projects/packages/admin-ui/changelog/fix-nav-unification-jetpack-menu-order
  projects/packages/admin-ui/src/class-admin-menu.php
  projects/packages/masterbar/changelog/fix-nav-unification-jetpack-menu-order
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/tests/php/Admin_Menu_Test.php
  projects/packages/my-jetpack/.phan/baseline.php
  projects/packages/my-jetpack/changelog/fix-nav-unification-jetpack-menu-order
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/fix-nav-unification-jetpack-menu-order
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Plugin] Jetpack, [Package] Admin Ui, [Package] My Jetpack, [Tests] Includes Tests, [Package] Masterbar

#43806 Backport inspect 2.0.0-a.3 Changes
  projects/plugins/inspect/CHANGELOG.md
  projects/plugins/inspect/changelog/fix-sass-deprecations-in-misc-stuff
  projects/plugins/inspect/changelog/fix-stylelint-color_rules
  projects/plugins/inspect/changelog/fix-stylelint-fixables
  projects/plugins/inspect/changelog/fix-stylelint-newline_reqs
  projects/plugins/inspect/changelog/fix-stylelint-round_x_of_cleanup
  projects/plugins/inspect/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/inspect/changelog/prerelease
  projects/plugins/inspect/changelog/prerelease#2
  projects/plugins/inspect/changelog/prerelease#3
  projects/plugins/inspect/changelog/renovate-babel-monorepo
  projects/plugins/inspect/changelog/renovate-eslint-packages
  projects/plugins/inspect/changelog/renovate-lock-file-maintenance
  projects/plugins/inspect/changelog/renovate-major-eslint-packages
  projects/plugins/inspect/changelog/renovate-sass-1.x
  projects/plugins/inspect/changelog/renovate-sass-loader-16.x
  projects/plugins/inspect/changelog/renovate-typescript-5.x
  projects/plugins/inspect/changelog/renovate-wordpress-monorepo
  projects/plugins/inspect/changelog/renovate-wordpress-monorepo#2
  projects/plugins/inspect/changelog/update-bump-min-wp-to-67
  projects/plugins/inspect/changelog/update-composer-lock-file
  projects/plugins/inspect/changelog/update-use-sass-embedded
  projects/plugins/inspect/changelog/update-yoast-polyfills-v4
  projects/plugins/inspect/composer.json
  projects/plugins/inspect/jetpack-inspect.php
  projects/plugins/inspect/package.json
  projects/plugins/inspect/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Inspect

#43731 Subscriptions: do not attempt to fetch or display elements from WordPress.com when user is not connected
  projects/plugins/jetpack/changelog/fix-newsletter-non-connected-editor
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Pri] Normal, [Block] Subscriptions, [Plugin] Jetpack, I don't care about code coverage for this PR

#43827 Jetpack forms migration page: fix heading line-height
  projects/packages/forms/changelog/fix-jetpack-forms-migration-page-heading
  projects/packages/forms/src/dashboard/admin-migrate-page/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Package] Forms, Coverage tests to be added later

#43820 Removed "Select a design" task from build launchpad definition
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-select-design-step-from-build-task
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#43830 Revert "Subscriptions: do not attempt to fetch or display elements from WordPress.com when user is not connected
  projects/plugins/jetpack/changelog/fix-newsletter-non-connected-editor
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/menu.js
  projects/plugins/jetpack/extensions/store/membership-products/resolvers.js
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack, [Type] Revert

#43835 Fix/fatal error notices in form responses
  projects/packages/forms/changelog/fix-fatal-error-notices-in-form-responses
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
  projects/plugins/jetpack/changelog/fix-fatal-error-notices-in-form-responses
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms, [Tests] Includes Tests

#43798 Forms: Add file upload dropzone block (REBASED)
  projects/packages/forms/changelog/update-file-dropzone-block-rebase
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/blocks/dropzone/edit.js
  projects/packages/forms/src/blocks/dropzone/editor.scss
  projects/packages/forms/src/blocks/dropzone/index.js
  projects/packages/forms/src/blocks/dropzone/save.js
  projects/packages/forms/src/blocks/field-file/edit.js
  projects/packages/forms/src/blocks/field-file/editor.scss
  projects/packages/forms/src/blocks/field-file/index.js
  projects/packages/forms/src/blocks/field-file/save.js
  projects/packages/forms/src/blocks/label/edit.js
  projects/packages/forms/src/blocks/label/index.js
  projects/packages/forms/src/blocks/shared/components/upsell-nudge/index.js
  projects/packages/forms/src/blocks/shared/components/upsell-nudge/style.scss
  projects/packages/forms/src/blocks/shared/hooks/use-parent-form-client-id.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/css/file-field.css
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/images/file-icons/cal.svg
  projects/packages/forms/src/contact-form/images/file-icons/html.svg
  projects/packages/forms/src/contact-form/images/file-icons/mp3.svg
  projects/packages/forms/src/contact-form/images/file-icons/mp4.svg
  projects/packages/forms/src/contact-form/images/file-icons/pdf.svg
  projects/packages/forms/src/contact-form/images/file-icons/png.svg
  projects/packages/forms/src/contact-form/images/file-icons/ppt.svg
  projects/packages/forms/src/contact-form/images/file-icons/sql.svg
  projects/packages/forms/src/contact-form/images/file-icons/txt.svg
  projects/packages/forms/src/contact-form/images/file-icons/xls.svg
  projects/packages/forms/src/contact-form/images/file-icons/zip.svg
  projects/packages/forms/src/modules/file-field/view.js
  projects/plugins/jetpack/changelog/update-file-dropzone-block-rebase
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Testing, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests

#43816 Forms: Remove unused form block code (and move a few components)
  projects/packages/forms/changelog/remove-unused-form-block-code
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-checkbox.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/item/settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-choice/settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-consent.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/item/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-multiple-choice/save.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-number.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/item/edit.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/item/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-single-choice/save.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-textarea.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-option.js
  projects/packages/forms/src/blocks/contact-form/index.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/blocks/field-checkbox/edit.js
  projects/packages/forms/src/blocks/field-checkbox/index.js
  projects/packages/forms/src/blocks/field-consent/edit.js
  projects/packages/forms/src/blocks/field-consent/index.js
  projects/packages/forms/src/blocks/field-date/index.js
  projects/packages/forms/src/blocks/field-multiple-choice/index.js
  projects/packages/forms/src/blocks/field-name/index.js
  projects/packages/forms/src/blocks/field-number/index.js
  projects/packages/forms/src/blocks/field-select/index.js
  projects/packages/forms/src/blocks/field-single-choice/index.js
  projects/packages/forms/src/blocks/field-text/index.js
  projects/packages/forms/src/blocks/field-textarea/index.js
  projects/packages/forms/src/blocks/input/index.js
  projects/packages/forms/src/blocks/label/index.js
  projects/packages/forms/src/blocks/option/index.js
  projects/packages/forms/src/blocks/options/index.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field-width.js
  projects/packages/forms/src/blocks/shared/components/render-material-icon.js
  projects/packages/forms/src/blocks/shared/components/toolbar-required-group.js
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, I don't care about code coverage for this PR

#43838 Forms: Fix: Update render-material-icon import path in dropzone block
  projects/packages/forms/changelog/fix-forms-package-build
  projects/packages/forms/src/blocks/dropzone/index.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms

#43841 Charts: update dependencies
  pnpm-lock.yaml
  projects/js-packages/charts/changelog/update-charts-dependencies
  projects/js-packages/charts/package.json
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#43819 CHARTS-15 - Add support to enable default start glyph for the line chart
  projects/js-packages/charts/changelog/charts-15-add-glyphs-at-the-start-of-the-lines
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/test/line-chart.test.tsx
  projects/js-packages/charts/src/index.ts
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#43842 Charts: Fix output CSS file name
  projects/js-packages/charts/changelog/charts-27-cant-import-automatticchartsstylescss
  projects/js-packages/charts/rollup.config.mjs
Labels: [Type] Task, RNA, [JS Package] Charts

#43845 Charts: Fix default grid visibility for bar chart
  projects/js-packages/charts/changelog/fix-bar-default-grid
  projects/js-packages/charts/src/components/bar-chart/use-bar-chart-options.ts
Labels: [Status] Needs Author Reply, RNA, [JS Package] Charts

#43848 Forms: Fix dropdown field option background color
  projects/packages/forms/changelog/fix-dropdown-field-option-background-color
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/fix-dropdown-field-option-background-color
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43818 Forms: sentence case field names
  projects/packages/forms/changelog/update-forms-field-names-lowercase
  projects/packages/forms/src/blocks/field-consent/index.js
  projects/packages/forms/src/blocks/field-date/index.js
  projects/packages/forms/src/blocks/field-email/index.js
  projects/packages/forms/src/blocks/field-multiple-choice/index.js
  projects/packages/forms/src/blocks/field-name/index.js
  projects/packages/forms/src/blocks/field-number/index.js
  projects/packages/forms/src/blocks/field-select/index.js
  projects/packages/forms/src/blocks/field-single-choice/index.js
  projects/packages/forms/src/blocks/field-telephone/index.js
  projects/packages/forms/src/blocks/field-text/index.js
  projects/packages/forms/src/blocks/field-textarea/index.js
  projects/packages/forms/src/blocks/field-url/index.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43832 Comments: Catch PHP errors when malformed POST is submitted
  projects/plugins/jetpack/changelog/fix-jetpack-php_errors_with_malformed_POST
  projects/plugins/jetpack/modules/comments/comments.php
Labels: [Type] Bug, [Feature] Comments, [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, Bug

#43833 Backport starter-plugin 0.7.0 Changes
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-nav-unification-jetpack-menu-order
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/starter-plugin/CHANGELOG.md
  projects/plugins/starter-plugin/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/starter-plugin/changelog/fix-e2e-update_config_encryption
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-backup-notice-when-deactivated
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-invalid-email-sent-on-onboarding
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/starter-plugin/changelog/fix-remaining-phpunit-11-deprecations
  projects/plugins/starter-plugin/changelog/fix-sass-import-jetpack-base-styles
  projects/plugins/starter-plugin/changelog/fix-stylelint-newline_reqs
  projects/plugins/starter-plugin/changelog/fix-stylelint-remaining_hoopla
  projects/plugins/starter-plugin/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/starter-plugin/changelog/prerelease
  projects/plugins/starter-plugin/changelog/prerelease#2
  projects/plugins/starter-plugin/changelog/prerelease#3
  projects/plugins/starter-plugin/changelog/prerelease#4
  projects/plugins/starter-plugin/changelog/prerelease#5
  projects/plugins/starter-plugin/changelog/prerelease#6
  projects/plugins/starter-plugin/changelog/prerelease#7
  projects/plugins/starter-plugin/changelog/prerelease#8
  projects/plugins/starter-plugin/changelog/prerelease#9
  projects/plugins/starter-plugin/changelog/renovate-babel-monorepo
  projects/plugins/starter-plugin/changelog/renovate-jest-monorepo
  projects/plugins/starter-plugin/changelog/renovate-lock-file-maintenance
  projects/plugins/starter-plugin/changelog/renovate-playwright-monorepo
  projects/plugins/starter-plugin/changelog/renovate-sass-1.x
  projects/plugins/starter-plugin/changelog/renovate-sass-loader-16.x
  projects/plugins/starter-plugin/changelog/renovate-wordpress-monorepo
  projects/plugins/starter-plugin/changelog/renovate-wordpress-monorepo#2
  projects/plugins/starter-plugin/changelog/update-bump-min-wp-to-67
  projects/plugins/starter-plugin/changelog/update-composer-lock-file
  projects/plugins/starter-plugin/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/starter-plugin/changelog/update-my-jetpack-onboarding-ui-to-only-button
  projects/plugins/starter-plugin/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/starter-plugin/changelog/update-tooling-add_wp_slug_via_generate_command
  projects/plugins/starter-plugin/changelog/update-use-sass-embedded
  projects/plugins/starter-plugin/changelog/update-yoast-polyfills-v4
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/jetpack-starter-plugin.php
  projects/plugins/starter-plugin/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Package] My Jetpack, [Plugin] Starter Plugin

#43855 Backport vaultpress 4.0.2 Changes
  projects/plugins/vaultpress/CHANGELOG.md
  projects/plugins/vaultpress/changelog/fix-stylelint-color_rules
  projects/plugins/vaultpress/changelog/fix-stylelint-fixables
  projects/plugins/vaultpress/changelog/fix-stylelint-font_rules
  projects/plugins/vaultpress/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/plugins/vaultpress/changelog/fix-stylelint-property-no-vendor-prefix
  projects/plugins/vaultpress/changelog/fix-stylelint-pseudo-element-colon-notation
  projects/plugins/vaultpress/changelog/fix-stylelint-round_x_of_cleanup
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#2
  projects/plugins/vaultpress/changelog/update-yoast-polyfills-v4
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] VaultPress

#43776 Forms: remove all notice on forms dashboard
  projects/packages/forms/changelog/fix-remove-all-notice-on-forms
  projects/packages/forms/src/dashboard/class-dashboard.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Package] Forms

#43846 Forms: Release File Upload Field from Beta to Production
  projects/packages/forms/changelog/update-forms-field-file-release
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/field-file/index.js
  projects/plugins/jetpack/changelog/update-forms-field-file-release
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43856 Forms: Fix plugin connection badges
  projects/packages/forms/changelog/fix-forms-connection-badges
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.tsx
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Endpoint_Test.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, [Feature] Forms Blocks

#43863 Forms: Unauth Upload remove beta check
  projects/plugins/jetpack/changelog/update-forms-upload-remove-beta
  projects/plugins/jetpack/unauth-file-upload.php
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#43730 Forms: Add preview and download file links
  projects/packages/forms/changelog/update-forms-dashboard-file-upload-links
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/packages/forms/src/contact-form/css/file-field.css
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-forms-dashboard-file-upload-links
  projects/plugins/jetpack/unauth-file-upload.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#43867 Add TS type checking for forms package
  projects/packages/forms/changelog/add-forms-type-checking
  projects/packages/forms/package.json
  projects/packages/forms/tsconfig.json
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Tools] Monorepo Setup, [Package] Forms

#43824 Jetpack Admin pages: Use `JetpackScriptData` for hosting checks
  projects/js-packages/script-data/changelog/update-host-checks-for-consistency
  projects/js-packages/script-data/src/utils.ts
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/backups.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/components/footer/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/state-notices.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/index.jsx
  projects/plugins/jetpack/_inc/client/components/masthead/test/component.js
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/_inc/client/discussion/index.jsx
  projects/plugins/jetpack/_inc/client/earn/ads.jsx
  projects/plugins/jetpack/_inc/client/earn/index.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-body.jsx
  projects/plugins/jetpack/_inc/client/sharing/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/blaze.jsx
  projects/plugins/jetpack/_inc/client/traffic/google-analytics/test/component.js
  projects/plugins/jetpack/_inc/client/traffic/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-host-checks-for-consistency
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Plugin] Jetpack, RNA, [Tests] Includes Tests, [JS Package] Script Data

#43843 Status: add new class used to classify requests on a site.
  projects/packages/status/changelog/add-is-frontend-status
  projects/packages/status/src/class-request.php
  projects/packages/status/tests/php/Request_Test.php
  projects/packages/status/tests/php/patchwork.json
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Package] Status, [Tests] Includes Tests

#43882 ci: Fix conditions for skipping the coverage upload
  .github/workflows/coverage-check.yml
  .github/workflows/tests.yml
Labels: [Type] Bug, [Pri] Normal, Actions

#43884 Boost: Remove unnecessary Photon params for LCP img Analysis
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-optimize-img-tag.php
  projects/plugins/boost/changelog/update-boost-lcp-remove-unwanted-photon-params
Labels: [Type] Bug, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43872 Charts: Change import to only import types
  projects/js-packages/charts/changelog/charts-typeonly-import
  projects/js-packages/charts/src/components/legend/utils.ts
Labels: [Status] Needs Author Reply, [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#43868 Charts: Enhance chart legend styling and theme integration
  projects/js-packages/charts/changelog/charts-31-add-supports-for-customizing-legend-labelcontainer-styles
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/legend/base-legend.tsx
  projects/js-packages/charts/src/components/legend/legend.module.scss
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/providers/theme/themes.ts
  projects/js-packages/charts/src/types.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Charts

#43871 Charts: Refactor `withResponsive` HOC to Allow Custom Responsive Config for Chart Component
  projects/js-packages/charts/changelog/charts-28-enhance-responsive-handling-for-chart-components
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/donut.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/shared/test/with-responsive.test.tsx
  projects/js-packages/charts/src/components/shared/with-responsive.tsx
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#43844 Charts: Ensure chart and legend combined height equals the specified height prop
  projects/js-packages/charts/changelog/charts-30-linebar-chart-height-prop-does-not-account-for-legend-height
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/legend/base-legend.tsx
  projects/js-packages/charts/src/components/legend/types.ts
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/shared/use-element-height.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Charts

#43894 Bump js-packages/charts 0.13.0
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/charts-15-add-glyphs-at-the-start-of-the-lines
  projects/js-packages/charts/changelog/charts-27-cant-import-automatticchartsstylescss
  projects/js-packages/charts/changelog/charts-28-enhance-responsive-handling-for-chart-components
  projects/js-packages/charts/changelog/charts-30-linebar-chart-height-prop-does-not-account-for-legend-height
  projects/js-packages/charts/changelog/charts-31-add-supports-for-customizing-legend-labelcontainer-styles
  projects/js-packages/charts/changelog/charts-typeonly-import
  projects/js-packages/charts/changelog/fix-axis-overflow
  projects/js-packages/charts/changelog/fix-bar-default-grid
  projects/js-packages/charts/changelog/update-allow-date-literals
  projects/js-packages/charts/changelog/update-charts-dependencies
  projects/js-packages/charts/package.json
Labels: [Status] Needs Author Reply, RNA, [JS Package] Charts

#43873 Frontend/email detection: deprecate function and use new method
  projects/packages/forms/.phan/config.php
  projects/packages/forms/changelog/update-jetpack-is-frontend-usage
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/plugins/jetpack/changelog/update-jetpack-is-frontend-usage
  projects/plugins/jetpack/extensions/blocks/blog-stats/blog-stats.php
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/blogroll-item.php
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll.php
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/extensions/blocks/pinterest/pinterest.php
  projects/plugins/jetpack/extensions/blocks/podcast-player/podcast-player.php
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/sharing-buttons.php
  projects/plugins/jetpack/extensions/blocks/simple-payments/simple-payments.php
  projects/plugins/jetpack/extensions/blocks/subscriber-login/subscriber-login.php
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
  projects/plugins/jetpack/extensions/blocks/top-posts/top-posts.php
  projects/plugins/jetpack/functions.global.php
  projects/plugins/jetpack/modules/memberships/class-jetpack-memberships.php
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
  projects/plugins/jetpack/modules/simple-payments/simple-payments.php
  projects/plugins/jetpack/tests/php/general/Functions_Global_Test.php
Labels: [Feature] Contact Form, [Feature] Related Posts, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Focus] Blocks, [Block] Subscriptions, [Block] Pinterest, [Block] Podcast Player, [Plugin] Jetpack, [Block] Contact Form, [Block] Pay With Paypal, [Feature] Memberships, [Block] Donations, [Feature] Pay with PayPal, [Block] Sharing Buttons, [Package] Forms, [Tests] Includes Tests, [Block] Blogroll, [Block] Top Posts, [Block] Like, [Block] Blog Stats, [Block] Subscriber Login

#43306 Jetpack CRM: Improve Woo Sync's Tax Importing process
  projects/plugins/crm/changelog/improve-woosync
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-background-sync-job.php
Labels: [Type] Bug, [Status] In Progress, [Plugin] CRM, [CRM] WooSync Module

#43880 Slideshow block: fix unwanted image cropping
  projects/plugins/jetpack/changelog/fix-slideshow-image-cropping
  projects/plugins/jetpack/extensions/blocks/slideshow/swiper-callbacks.js
Labels: [Type] Bug, [Status] Needs Review, [Block] Slideshow, [Plugin] Jetpack

#43328 Jetpack CRM: WooCommerce - Import the short description from the Product to the invoice description (and not just title(ID))
  projects/plugins/crm/changelog/fix-crm-woo-import-short-description-as-invoice-description
  projects/plugins/crm/modules/woo-sync/includes/class-woo-sync-background-sync-job.php
Labels: [Type] Bug, [Status] In Progress, [Plugin] CRM, [CRM] WooSync Module, I don't care about code coverage for this PR

#42848 VideoPress: Prevent unload during thumbnail processing or update
  projects/packages/videopress/changelog/fix-prevent-unload-during-thumbnail-update
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/plugins/jetpack/changelog/fix-prevent-unload-during-thumbnail-update
  projects/plugins/videopress/changelog/fix-prevent-unload-during-thumbnail-update
Labels: [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress, I don't care about code coverage for this PR

#43898 My Jetpack: Onboarding i4 | Add barebones UI
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/content.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/filtered-products.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/filters.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/products.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/styles.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/utils.ts
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack

#43876 Connection: display connection in dashboard on WoA no2
  projects/plugins/jetpack/_inc/client/at-a-glance/connections.jsx
  projects/plugins/jetpack/_inc/client/components/connect-button/index.jsx
  projects/plugins/jetpack/changelog/update-dashboard-connection-card
Labels: [Type] Enhancement, [Status] Needs Review, Admin Page, [Plugin] Jetpack

#43889 Prevent PHP warning when checking for deprecated blocks
  projects/plugins/jetpack/changelog/fix-jetpack-php_warning_in_Jetpack_Gutenberg
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, Bug

#43905 Scheduled Updates: Prevent rare PHPUnit failure due to clock time.
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-make_test_more_robust
  projects/packages/scheduled-updates/tests/php/WPCOM_REST_API_V2_Endpoint_Update_Schedules_Test.php
Labels: [Status] Needs Review, [Type] Janitorial, [Tests] Includes Tests, [Package] Scheduled Updates

#43316 Jetpack CRM - WooCommerce Sync Make Partial Payments an optional setting
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/admin/settings/invoicing.page.php
  projects/plugins/crm/changelog/fix-crm-woo-turn-off-partial-payments-option
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.Helpers.php
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
  projects/plugins/crm/js/ZeroBSCRM.admin.invoicebuilder.js
Labels: [Type] Bug, [Status] In Progress, Admin Page, [Plugin] CRM, I don't care about code coverage for this PR

#43909 Forms: Add inline docs for Salesforce
  projects/packages/forms/changelog/add-forms-salesforce-docs
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/salesforce-card.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43911 Forms: Add button to create Salesforce form
  projects/packages/forms/changelog/add-create-salesforce-form-button
  projects/packages/forms/src/contact-form/class-util.php
  projects/packages/forms/src/dashboard/integrations/salesforce-card.tsx
  projects/packages/forms/src/types/index.ts
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Coverage tests to be added later

#43912 Forms: fix animated and ourlined styles when filled in
  projects/packages/forms/changelog/fix-forms-animated-styles
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Package] Forms

#43896 Charts: Fix useElementHeight hook to use a callback ref for reliable height measurement
  projects/js-packages/charts/changelog/fix-use-element-height
  projects/js-packages/charts/src/components/shared/test/use-element-height.test.tsx
  projects/js-packages/charts/src/components/shared/use-element-height.ts
Labels: [Type] Bug, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#43919 Forms: use correct select box padding
  projects/packages/forms/changelog/fix-forms-select-padding
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#42934 Forms: Add form submission e2e tests
  .github/files/e2e-tests/e2e-matrix.js
  projects/plugins/jetpack/changelog/add-form-submission-e2e-tests
  projects/plugins/jetpack/tests/e2e/specs/forms/submission.test.js
  tools/e2e-commons/config/global-setup.mjs
  tools/e2e-commons/helpers/utils-helper.js
Labels: [Status] In Progress, [Type] Task, Actions, E2E Tests, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, [Feature] Forms Blocks

#43883 Post editor: Open support links in Help Center
  projects/js-packages/shared-extension-utils/changelog/dotsup-57-master-list-open-support-links-in-help-center-modal
  projects/js-packages/shared-extension-utils/src/components/index.js
  projects/js-packages/shared-extension-utils/src/components/wpcom-support-link.jsx
  projects/packages/jetpack-mu-wpcom/changelog/dotsup-57-master-list-open-support-links-in-help-center-modal
  projects/packages/jetpack-mu-wpcom/src/features/tags-education/tags-education.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/src/description-support-link.tsx
  projects/plugins/jetpack/changelog/dotsup-57-master-list-open-support-links-in-help-center-modal
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
  projects/plugins/jetpack/extensions/plugins/seo/components/upsell.js
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Extension] SEO, [Package] Jetpack mu wpcom, [Extension] AI Content Lens, [mu wpcom Feature] Tags Education, [mu wpcom Feature] Wpcom Block Description Links, I don't care about code coverage for this PR

#43879 Stats: Fix tracking of search terms, tags & parsing of tax queries
  projects/packages/stats/changelog/fix-search-stats-missing-fields
  projects/packages/stats/src/class-tracking-pixel.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Stats Data

#43891 Update/wpcom simple payments doc link
  projects/packages/jetpack-mu-wpcom/changelog/update-wpcom-simple-payments-doc-link
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-description-links/src/block-links-map.ts
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Block Description Links, [Feature] Pay with PayPal: aka Simple Payments

#43904 Recipe shortcode: Check for theme color array keys before using them
  projects/plugins/jetpack/changelog/update-recipe-shortcode-theme-color-array-key-check
  projects/plugins/jetpack/modules/shortcodes/recipe.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Needs Review, [Plugin] Jetpack

#43938 Forms: Fix select dropdown that has labels
  projects/packages/forms/changelog/fix-select-dropdown
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Block] Contact Form, [Package] Forms

#43916 AI Assistant: Add support for file upload field on Forms extension
  projects/plugins/jetpack/changelog/update-jetpack-ai-extension-supports-form-upload-field
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/get-block-handler.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/jetpack-form/index.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/types.ts
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/with-ai-text-extension.tsx
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Block] AI Assistant, I don't care about code coverage for this PR

#43941 Add Advanced SEO to A8C Sites - Sync changes from wpcom-185424
  projects/plugins/wpcomsh/changelog/sync-advanced-seo-settings-changes
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Type] Janitorial, [Plugin] Wpcomsh

#43943 Forms: Adjust About page layout to fit any text on feature cards
  projects/packages/forms/changelog/fix-forms-about-layout
  projects/packages/forms/src/dashboard/about/index.tsx
  projects/packages/forms/src/dashboard/about/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, I don't care about code coverage for this PR

#43930 Settings: Open support links in Help Center
  projects/packages/classic-theme-helper/changelog/dotsup-66-open-settings-support-links-in-help-center
  projects/packages/classic-theme-helper/src/custom-post-types/class-jetpack-portfolio.php
  projects/packages/classic-theme-helper/src/custom-post-types/class-jetpack-testimonial.php
  projects/packages/jetpack-mu-wpcom/changelog/dotsup-66-open-settings-support-links-in-help-center
  projects/packages/jetpack-mu-wpcom/src/features/replace-site-visibility/site-visibility/index.tsx
  projects/plugins/jetpack/changelog/dotsup-66-open-settings-support-links-in-help-center
  projects/plugins/jetpack/modules/markdown/easy-markdown.php
Labels: [Type] Enhancement, [Feature] Markdown, [Feature] Theme Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Package] Classic Theme Helper, [mu wpcom Feature] Replace Site Visibility

#43949 Help Center: Open media export link in the Help Center
  projects/packages/jetpack-mu-wpcom/changelog/dotsup-65-open-monetize-support-links-in-help-center
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-media/wpcom-export-media-files.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Media

#43948 Boost: LCP - make sure there's no half pixel within the srcset
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-optimize-img-tag.php
  projects/plugins/boost/changelog/fix-boost-lcp-sizes-with-half-pixels
Labels: [Type] Bug, [Status] Needs Review, [Status] Needs Cherry-Pick, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43940 CRM: Address various tasks quirks
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks#1
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks#2
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks#3
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks#4
  projects/plugins/crm/changelog/fix-crm-task_completion_quirks#5
  projects/plugins/crm/includes/ZeroBSCRM.AJAX.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Tasks.php
  projects/plugins/crm/includes/ZeroBSCRM.MetaBoxes3.Tasks.php
  projects/plugins/crm/includes/ZeroBSCRM.ScriptsStyles.php
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/js/jpcrm-admin-tasks.js
  projects/plugins/crm/sass/_semantic-ui-additions.scss
  projects/plugins/crm/sass/jpcrm-admin-tasks.scss
Labels: [Type] Bug, [Type] Enhancement, [Status] Needs Review, [Type] Janitorial, [Plugin] CRM, Bug, Enhancement

#43950 Boost: LCP try to use original image when applying optimization
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-optimize-img-tag.php
  projects/plugins/boost/changelog/fix-boost-lcp-using-incorrect-image-when-optimizing
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost, Coverage tests to be added later, Bug, [Boost Feature] Lcp

#43957 Forms: Add date picker translations
  projects/packages/forms/changelog/add-date-picker-translations
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Package] Forms

#43942 Forms: Fix empty placeholder hack
  projects/packages/forms/changelog/fix-forms-animated-styles
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/modules/form/view.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, I don't care about code coverage for this PR

#43923 Forms: fix html labels in subject line mapping
  projects/packages/forms/changelog/forms-test-sepcial-characters
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Package] Forms, [Tests] Includes Tests

#43959 Forms: fix interactivity field is undefined
  projects/packages/forms/changelog/fix-forms-interactivity-undefined
  projects/packages/forms/src/modules/form/view.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, I don't care about code coverage for this PR

#43921 Add line chart tooltip crosshair support
  projects/js-packages/charts/changelog/line-chart-add-crosshair-support
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/config.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/stories/tooltip.stories.tsx
Labels: [Status] Needs Review, RNA, [JS Package] Charts, [Type] Feature

#43895 Forms: Remove more old form components
  projects/packages/forms/changelog/remove-more-old-form-components
  projects/packages/forms/src/blocks/contact-form/components/jetpack-email-connection-settings.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-label.js
  projects/packages/forms/src/blocks/contact-form/components/use-jetpack-field-styles.js
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/index.js
  projects/packages/forms/src/blocks/contact-form/util/block-support.js
  projects/packages/forms/src/blocks/contact-form/util/caret.js
  projects/packages/forms/src/blocks/contact-form/util/focus.js
  projects/packages/forms/src/blocks/contact-form/util/form.js
  projects/packages/forms/src/blocks/contact-form/util/merge-settings.js
  projects/packages/forms/src/blocks/contact-form/util/use-parent-attributes.js
  projects/packages/forms/src/blocks/contact-form/util/with-shared-field-attributes.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/packages/forms/src/blocks/dropzone/index.js
  projects/packages/forms/src/blocks/field-checkbox/edit.js
  projects/packages/forms/src/blocks/field-checkbox/index.js
  projects/packages/forms/src/blocks/field-consent/edit.js
  projects/packages/forms/src/blocks/field-consent/index.js
  projects/packages/forms/src/blocks/field-date/index.js
  projects/packages/forms/src/blocks/field-email/index.js
  projects/packages/forms/src/blocks/field-file/index.js
  projects/packages/forms/src/blocks/field-multiple-choice/index.js
  projects/packages/forms/src/blocks/field-name/index.js
  projects/packages/forms/src/blocks/field-number/index.js
  projects/packages/forms/src/blocks/field-select/index.js
  projects/packages/forms/src/blocks/field-single-choice/index.js
  projects/packages/forms/src/blocks/field-telephone/index.js
  projects/packages/forms/src/blocks/field-text/index.js
  projects/packages/forms/src/blocks/field-textarea/index.js
  projects/packages/forms/src/blocks/field-url/index.js
  projects/packages/forms/src/blocks/shared/components/inspector-hint.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/shared/components/jetpack-manage-responses-settings.js
  projects/packages/forms/src/blocks/shared/hooks/use-variation-style-properties.js
  projects/packages/forms/src/blocks/shared/util/block-icons.js
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Janitorial, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, I don't care about code coverage for this PR

#43947 Social Notes: update filter name
  projects/plugins/social/changelog/fix-notes-deprecation-filter
  projects/plugins/social/src/class-note.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Social, [Feature] Social Notes

#43953 tools, ci: Fix tests on plugin release branches
  .github/workflows/tests.yml
  tools/version-packages.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#43937 Forms: Add Akismet refresh status button
  projects/packages/forms/changelog/add-forms-akismet-refresh-status
  projects/packages/forms/src/dashboard/integrations/akismet-card.tsx
  projects/packages/forms/src/dashboard/integrations/google-sheets-card.tsx
  projects/plugins/jetpack/changelog/add-forms-akismet-refresh-status
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] In Progress, [Pri] Normal, [Plugin] Jetpack, [Package] Forms

#43929 Critical CSS Gen: Allow generation to work after a redirect
  projects/js-packages/critical-css-gen/changelog/fix-critical-css-gen-redirect-breaking-generation-playwright
  projects/js-packages/critical-css-gen/src/browser-interface-playwright.ts
Labels: [Type] Bug, [Status] Needs Review, RNA, [JS Package] Critical Css Gen

#43969 Forms: Updates integration card types
  projects/packages/forms/changelog/updates-form-integration-card-types
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/hooks/use-integration-status.ts
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.tsx
  projects/packages/forms/src/dashboard/integrations/akismet-card.tsx
  projects/packages/forms/src/dashboard/integrations/creative-mail-card.tsx
  projects/packages/forms/src/dashboard/integrations/google-sheets-card.tsx
  projects/packages/forms/src/dashboard/integrations/jetpack-crm-card.tsx
  projects/packages/forms/src/dashboard/integrations/salesforce-card.tsx
  projects/packages/forms/src/types/index.ts
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Block] Contact Form, [Package] Forms

#43967 Forms: fix date picker overlay
  projects/packages/forms/changelog/fix-forms-date-picker-overlay
  projects/packages/forms/src/contact-form/css/jquery-ui-datepicker.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#43931 My Jetpack: Onboarding i4 | Render basic filtered products
  projects/js-packages/shared-extension-utils/changelog/update-my-jetpack-onboarding-i4-to-render-filtered-products
  projects/js-packages/shared-extension-utils/src/modules-state/index.js
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/constants.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/filtered-plans.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/filtered-products.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/mappings.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/product-section.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/products.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/styles.module.scss
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/types.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/use-all-jetpack-modules.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/use-filtered-plans.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/use-filtered-products.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/products/utils.ts
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/products/class-product.php
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Team Review, RNA, [Package] My Jetpack, [JS Package] Shared Extension Utils

#43860 Add/jetpack forms file upload nudge event
  projects/packages/forms/changelog/add-jetpack-forms-file-upload-nudge-event
  projects/packages/forms/src/blocks/shared/components/upsell-nudge/index.js
Labels: [Feature] Contact Form, [Type] Task, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms, Coverage tests to be added later

#43974 i18n-check-webpack-plugin: Link docs in error messages
  projects/js-packages/i18n-check-webpack-plugin/README.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/add-i18n-check-doc-link
  projects/js-packages/i18n-check-webpack-plugin/src/I18nCheckPlugin.js
  projects/js-packages/i18n-check-webpack-plugin/tests/__snapshots__/build.test.js.snap
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, RNA, [JS Package] I18n Check Webpack Plugin, [Tests] Includes Tests

#43986 Forms: Update integration card to TypeScript
  projects/packages/forms/changelog/update-forms-integration-card-typescript
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/index.tsx
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-body.tsx
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.tsx
  projects/packages/forms/src/dashboard/integrations/akismet-card.tsx
  projects/packages/forms/src/dashboard/integrations/creative-mail-card.tsx
  projects/packages/forms/src/dashboard/integrations/google-sheets-card.tsx
  projects/packages/forms/src/dashboard/integrations/jetpack-crm-card.tsx
  projects/packages/forms/src/dashboard/integrations/salesforce-card.tsx
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms

#43996 My Jetpack: Onboarding i4 | Always show the Products tab
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/index.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-tab-panel/utils.ts
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack

#43577 CRM: Remove React prototype content
  projects/plugins/crm/changelog/fix-crm-remove_React_prototype_content
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/src/js/components/onboarding-wizard/index.jsx
  projects/plugins/crm/src/js/components/onboarding-wizard/styles.module.scss
  projects/plugins/crm/src/js/components/onboarding-wizard/test/index.test.jsx
  projects/plugins/crm/src/js/components/onboarding-wizard/view.jsx
  projects/plugins/crm/src/onboarding-wizard/class-bootstrap.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] CRM, [Tests] Includes Tests

#43991 Jetpack_Carousel: Fix fatal error on array-like email POST
  projects/plugins/jetpack/changelog/Jetpack_Carousel-email-fix
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.php
Labels: [Type] Bug, [Feature] Carousel, [Status] Needs Review, [Plugin] Jetpack

#44003 ci: Further fix tests on plugin release branches
  .github/workflows/tests.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#44006 Move gemini test flag to production
  projects/plugins/jetpack/changelog/change-chrome-gemini-feature-production
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant, Coverage tests to be added later

#44008 Infinite_Scroll: Fix fatal error on non-string currentday parameter
  projects/plugins/jetpack/changelog/fix-infinite-scroll
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
Labels: [Type] Bug, [Feature] Infinite Scroll, [Status] Needs Review, [Plugin] Jetpack

#44011 Fix AI client inverted flag check
  projects/js-packages/ai-client/changelog/fix-ai-client-inverted-flag-check
  projects/js-packages/ai-client/src/chrome-ai/factory.ts
  projects/js-packages/ai-client/src/chrome-ai/get-availability.ts
  projects/plugins/jetpack/changelog/fix-ai-client-inverted-flag-check
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, Coverage tests to be added later

#44004 Boost: Backport changes from Boost 4.1.0 release
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-lcp-bg-images-aspect-ratio-preservation
  projects/plugins/boost/changelog/fix-boost-lcp-sizes-with-half-pixels
  projects/plugins/boost/changelog/fix-boost-lcp-use-resize-instead-width
  projects/plugins/boost/changelog/fix-boost-lcp-using-incorrect-image-when-optimizing
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Boost

#43927 Flickr shortcode: Ensure arrays are defined before accessing keys
  projects/plugins/jetpack/changelog/update-flickr-shortcode-array-key-check
  projects/plugins/jetpack/modules/shortcodes/flickr.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/Jetpack_Shortcodes_Flickr_Test.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Needs Review, [Plugin] Jetpack, [Tests] Includes Tests

#43990 CRM: Update Chart.js dependency to 4.5.0
  pnpm-lock.yaml
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/update-crm-chart.js
  projects/plugins/crm/includes/ZeroBSCRM.Core.Menus.WP.php
  projects/plugins/crm/includes/ZeroBSCRM.DashboardBoxes.php
  projects/plugins/crm/includes/ZeroBSCRM.ScriptsStyles.php
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/package.json
  projects/plugins/crm/sass/ZeroBSCRM.admin.homedash.scss
  projects/plugins/crm/sass/emerald/_dashcard.scss
  projects/plugins/crm/webpack.config.js
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Plugin] CRM

#44023 Backport WordAds 0.4.29 (final release)
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/package.json
  projects/js-packages/number-formatters/CHANGELOG.md
  projects/js-packages/number-formatters/changelog/try-eslint-json-files
  projects/js-packages/number-formatters/package.json
  projects/js-packages/shared-extension-utils/CHANGELOG.md
  projects/js-packages/shared-extension-utils/package.json
  projects/packages/config/CHANGELOG.md
  projects/packages/config/changelog/update-wordads-deprecate_package
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/src/class-package-version.php
  projects/packages/status/CHANGELOG.md
  projects/packages/status/changelog/update-tooling-shebangs_for_bash
  projects/packages/wordads/CHANGELOG.md
  projects/packages/wordads/changelog/try-update-jest-30
  projects/packages/wordads/changelog/update-wordads-deprecate_package
  projects/packages/wordads/package.json
  projects/packages/wordads/src/class-package.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Status, [Package] Connection, [Package] Config, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] IDC, [JS Package] Shared Extension Utils, [Package] Ad, [JS Package] Number Formatters

#43998 Forms: allow super admins see form submissions
  projects/packages/forms/changelog/update-forms-super-admin
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] In Progress, [Package] Forms

#44026 Fix chrome ai experiment async code
  projects/js-packages/ai-client/changelog/fix-chrome-ai-experiment-async-code
  projects/js-packages/ai-client/src/chrome-ai/factory.ts
  projects/js-packages/ai-client/src/chrome-ai/suggestions.ts
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
  projects/plugins/jetpack/changelog/fix-chrome-ai-experiment-async-code
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client, Coverage tests to be added later

#43964 Boost: Fix image guide reporting on images in WP admin bar
  pnpm-lock.yaml
  projects/js-packages/image-guide/changelog/ignore-wp-admin-bar-images
  projects/js-packages/image-guide/package.json
  projects/js-packages/image-guide/src/initialize.ts
  projects/plugins/boost/changelog/fix-boost-image-guide-ignore-admin-bar-images
Labels: [Type] Bug, [Status] Ready to Merge, RNA, [Plugin] Boost, [JS Package] Image Guide, [Boost Feature] Image Guide, I don't care about code coverage for this PR

#44022 Charts - Fix: Set a fallback size for the legend glyph size if it is not specified
  projects/js-packages/charts/changelog/fallback-legend-glyph-size
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [JS Package] Charts

#44024 Admin Menu: Add "Dashboard > Updates" screen to Simple sites
  projects/packages/jetpack-mu-wpcom/changelog/dotcom-13619-untangling-ia-dashboard-updates
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Menu, I don't care about code coverage for this PR

#44029 Zendesk: Add CSAT endpoint
  projects/packages/jetpack-mu-wpcom/changelog/add-csat-endpoint
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-ticket-csat.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, I don't care about code coverage for this PR

#44028 STATS-116: Add endpoint `/stats/archives` support for Odyssey Stats
  projects/packages/stats-admin/changelog/update-stats_add_endpoint_archives_support
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats/changelog/update-stats_add_endpoint_archives_support
  projects/packages/stats/src/class-wpcom-stats.php
  projects/plugins/jetpack/changelog/update-stats_add_endpoint_archives_support
  projects/plugins/mu-wpcom-plugin/changelog/update-stats_add_endpoint_archives_support
  projects/plugins/search/changelog/update-stats_add_endpoint_archives_support
  projects/plugins/wpcomsh/changelog/update-stats_add_endpoint_archives_support
Labels: [Status] Needs Review, [Plugin] Jetpack, [Plugin] Search, [Package] Stats Data, [Package] Stats Admin, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Type] Feature

#43874 Connection: display connection in dashboard on WoA
  projects/plugins/wpcomsh/assets/admin-style.css
  projects/plugins/wpcomsh/changelog/update-dashboard-connection-card-wpcomsh
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Wpcomsh

#44052 Backport stats-admin 0.27.0
  projects/js-packages/api/CHANGELOG.md
  projects/js-packages/api/package.json
  projects/js-packages/base-styles/CHANGELOG.md
  projects/js-packages/base-styles/package.json
  projects/js-packages/boost-score-api/CHANGELOG.md
  projects/js-packages/boost-score-api/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-wordpress-monorepo
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-wordpress-monorepo
  projects/js-packages/connection/package.json
  projects/js-packages/i18n-loader-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/renovate-wordpress-monorepo
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/renovate-wordpress-monorepo
  projects/js-packages/idc/package.json
  projects/js-packages/shared-extension-utils/CHANGELOG.md
  projects/js-packages/shared-extension-utils/changelog/renovate-wordpress-monorepo
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-wordpress-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/renovate-wordpress-monorepo
  projects/packages/blaze/CHANGELOG.md
  projects/packages/blaze/changelog/force-a-release
  projects/packages/blaze/changelog/renovate-wordpress-monorepo
  projects/packages/blaze/package.json
  projects/packages/blaze/src/class-dashboard.php
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/renovate-wordpress-monorepo
  projects/packages/connection/src/class-package-version.php
  projects/packages/jitm/CHANGELOG.md
  projects/packages/jitm/changelog/renovate-wordpress-monorepo
  projects/packages/jitm/src/class-jitm.php
  projects/packages/stats-admin/CHANGELOG.md
  projects/packages/stats-admin/changelog/update-stats_add_endpoint_archives_support
  projects/packages/stats-admin/composer.json
  projects/packages/stats-admin/package.json
  projects/packages/stats-admin/src/class-main.php
  projects/packages/stats/CHANGELOG.md
  projects/packages/stats/changelog/update-stats_add_endpoint_archives_support
  projects/packages/stats/composer.json
  projects/packages/stats/src/class-package-version.php
  projects/plugins/jetpack/changelog/prerelease
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/prerelease#3
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/search/changelog/prerelease
  projects/plugins/search/composer.lock
  projects/plugins/wpcomsh/changelog/prerelease#2
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Author Reply, [Package] Connection, [Package] Assets, [Plugin] Jetpack, [Package] Jitm, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] API, [JS Package] Base Styles, [Plugin] Search, [JS Package] IDC, [JS Package] Webpack Config, [JS Package] I18n Loader Webpack Plugin, [JS Package] Shared Extension Utils, [Package] Stats Data, [Package] Stats Admin, [Package] Blaze, [Plugin] mu wpcom, [JS Package] Boost Score Api, [Plugin] Wpcomsh

#44050 My Jetpack: Onboarding i4 | Wire up toggle success and error notices
  projects/packages/my-jetpack/_inc/components/module-toggle/index.tsx
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack

#44056 Backport boost 4.1.1 Changes
  projects/js-packages/critical-css-gen/CHANGELOG.md
  projects/js-packages/critical-css-gen/changelog/fix-critical-css-gen-redirect-breaking-generation-playwright
  projects/js-packages/critical-css-gen/changelog/try-eslint-json-files
  projects/js-packages/critical-css-gen/changelog/try-update-jest-30
  projects/js-packages/critical-css-gen/changelog/update-eslint-configs
  projects/js-packages/critical-css-gen/package.json
  projects/js-packages/image-guide/CHANGELOG.md
  projects/js-packages/image-guide/changelog/ignore-wp-admin-bar-images
  projects/js-packages/image-guide/changelog/try-eslint-json-files
  projects/js-packages/image-guide/changelog/try-update-jest-30
  projects/js-packages/image-guide/changelog/update-eslint-configs
  projects/js-packages/image-guide/package.json
  projects/js-packages/licensing/CHANGELOG.md
  projects/js-packages/licensing/changelog/renovate-wordpress-monorepo
  projects/js-packages/licensing/package.json
  projects/js-packages/react-data-sync-client/CHANGELOG.md
  projects/js-packages/react-data-sync-client/changelog/try-update-jest-30
  projects/js-packages/react-data-sync-client/changelog/update-eslint-configs
  projects/js-packages/react-data-sync-client/package.json
  projects/packages/boost-core/CHANGELOG.md
  projects/packages/boost-core/changelog/fix-hog-127
  projects/packages/boost-core/package.json
  projects/packages/explat/CHANGELOG.md
  projects/packages/explat/changelog/renovate-wordpress-monorepo
  projects/packages/explat/package.json
  projects/packages/explat/src/class-explat.php
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/renovate-wordpress-monorepo
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/plugin-deactivation/CHANGELOG.md
  projects/packages/plugin-deactivation/changelog/force-a-release
  projects/packages/plugin-deactivation/package.json
  projects/packages/plugin-deactivation/src/class-deactivation-handler.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-defer-js-output-twice
  projects/plugins/boost/changelog/fix-boost-image-guide-ignore-admin-bar-images
  projects/plugins/boost/changelog/renovate-copy-webpack-plugin-13.x
  projects/plugins/boost/changelog/renovate-major-react-router-monorepo
  projects/plugins/boost/changelog/renovate-wordpress-monorepo
  projects/plugins/boost/changelog/replace-react-router-dom_with_react-router
  projects/plugins/boost/changelog/try-eslint-json-files
  projects/plugins/boost/changelog/try-update-jest-30
  projects/plugins/boost/changelog/update-eslint-configs
  projects/plugins/boost/changelog/update-wordads-deprecate_package
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, RNA, [Plugin] Boost, [JS Package] Licensing, [Package] My Jetpack, [Package] Plugin Deactivation, [JS Package] Image Guide, [Package] Boost Core, [JS Package] Critical Css Gen, [JS Package] React Data Sync Client, [Package] Explat

#44030 Remove extra slash from autoloader paths
  projects/packages/autoloader/README.md
  projects/packages/autoloader/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/packages/connection/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/packages/connection/docs/register-site.md
  projects/packages/stats/README.md
  projects/packages/stats/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/packages/videopress/README.md
  projects/packages/videopress/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/plugins/beta/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/plugins/beta/jetpack-beta.php
  projects/plugins/inspect/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/plugins/inspect/jetpack-inspect.php
  projects/plugins/search/changelog/fix-remove_extra_slash_from_autoloader_requires
  projects/plugins/search/jetpack-search.php
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Package] Autoloader, [Package] Connection, [Plugin] Beta, [Plugin] Search, [Package] VideoPress, [Package] Stats Data, [Plugin] Inspect

#43968 Forms: improves the validation error animation
  projects/packages/forms/changelog/add-forms-validation-animation
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/add-forms-validation-animation
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Status] Needs Design, [Plugin] Jetpack, [Status] Design Input Requested, [Package] Forms

#43834 Forms: Add dashboard link to response email
  projects/packages/forms/changelog/update-forms-email-dashboard-link
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/src/contact-form/templates/email-response.php
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms, I don't care about code coverage for this PR
