Repository Automattic/jetpack, pull requests merged in 2025-03, with the labels that each got.

#42168 Line Chart: expose events handling
  projects/js-packages/charts/changelog/add-add-events-handling-line-chart
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#42169 Backport release charts 0.9.0 to trunk
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/add-add-events-handling-line-chart
  projects/js-packages/charts/package.json
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#41889 Launchpad: Add `goals` prop to `wpcom_launchpad_mark_task_complete` event
  projects/packages/jetpack-mu-wpcom/changelog/add-goals-task-complete-tracks-event
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Status] In Progress, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, I don't care about code coverage for this PR

#42147 MU WPCOM: Dashboard: remove launchpad from Atomic
  projects/packages/jetpack-mu-wpcom/changelog/fix-launch-atomic-dashboard
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Dashboard Widgets

#41921 Boost: add Speculation Rules module
  projects/plugins/boost/app/assets/src/js/features/speculation-rules/speculation-method.module.scss
  projects/plugins/boost/app/assets/src/js/features/speculation-rules/speculation-method.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/modules/Modules_Index.php
  projects/plugins/boost/app/modules/optimizations/speculation-rules/Speculation_Rules.php
  projects/plugins/boost/changelog/add-boost-speculation-rules
  projects/plugins/boost/tests/php/modules/optimizations/speculation-rules/test-speculation-rules.php
Labels: [Status] Needs Review, [Plugin] Boost, [Tests] Includes Tests, [Type] Feature, I don't care about code coverage for this PR, [Boost Feature] Speculation Rules

#42115 Forms: Fix warning when post author data returns false.
  projects/packages/forms/.phan/baseline.php
  projects/packages/forms/changelog/fix-contact-form-object-property-on-bool
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/test-class.contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Package] Forms, [Tests] Includes Tests

#42152 Newsletter Dashboard Widget: add translations
  projects/plugins/jetpack/changelog/add-translations-newsletter-widget
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/newsletter-widget.tsx
Labels: [Type] Enhancement, [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack

#42154 Update/remove purchases from window state
  projects/js-packages/licensing/changelog/update-optional-parameters-for-golden-token-component
  projects/js-packages/licensing/components/golden-token-modal/index.jsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/plans-section/index.tsx
  projects/packages/my-jetpack/_inc/components/redeem-token-screen/index.tsx
  projects/packages/my-jetpack/_inc/components/welcome-flow/index.tsx
  projects/packages/my-jetpack/_inc/data/evaluation-recommendations/use-evaluation-recommendations.ts
  projects/packages/my-jetpack/_inc/data/utils/is-jetpack-user-new.ts
  projects/packages/my-jetpack/_inc/hooks/use-is-jetpack-user-new/get-guessed-site-lifecycle-status.ts
  projects/packages/my-jetpack/_inc/hooks/use-is-jetpack-user-new/index.ts
  projects/packages/my-jetpack/_inc/hooks/use-my-jetpack-connection/index.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-paid-plan-needs-plugin-install-activation-notice.tsx
  projects/packages/my-jetpack/changelog/update-remove-purchases-from-window-state
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, RNA, [JS Package] Licensing, [Package] My Jetpack

#42129 phpunit: Cleanup remaining `phpunit.xml.dist` files
  projects/packages/account-protection/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/account-protection/phpunit.xml.dist
  projects/packages/boost-core/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/boost-core/phpunit.xml.dist
  projects/packages/calypsoify/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/calypsoify/phpunit.xml.dist
  projects/packages/chatbot/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/chatbot/phpunit.xml.dist
  projects/packages/classic-theme-helper/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/classic-theme-helper/phpunit.xml.dist
  projects/packages/composer-plugin/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/composer-plugin/phpunit.xml.dist
  projects/packages/explat/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/explat/phpunit.xml.dist
  projects/packages/external-media/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/external-media/phpunit.xml.dist
  projects/packages/import/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/import/phpunit.xml.dist
  projects/packages/plugin-deactivation/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/plugin-deactivation/phpunit.xml.dist
  projects/packages/plugins-installer/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/plugins-installer/phpunit.xml.dist
  projects/packages/woocommerce-analytics/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/woocommerce-analytics/phpunit.xml.dist
  projects/packages/wordads/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/wordads/phpunit.xml.dist
  projects/packages/wp-js-data-sync/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/wp-js-data-sync/phpunit.xml.dist
  projects/packages/yoast-promo/changelog/fix-update-remaining-phpunit-xml-files
  projects/packages/yoast-promo/phpunit.xml.dist
  projects/plugins/backup/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/backup/phpunit.xml.dist
  projects/plugins/classic-theme-helper-plugin/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/classic-theme-helper-plugin/phpunit.xml.dist
  projects/plugins/inspect/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/inspect/phpunit.xml.dist
  projects/plugins/mu-wpcom-plugin/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/mu-wpcom-plugin/phpunit.xml.dist
  projects/plugins/protect/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/protect/phpunit.xml.dist
  projects/plugins/search/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/search/phpunit.xml.dist
  projects/plugins/super-cache/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/super-cache/phpunit.xml.dist
  projects/plugins/vaultpress/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/vaultpress/phpunit.xml.dist
  tools/cli/skeletons/packages/phpunit.xml.dist
  tools/cli/skeletons/plugins/phpunit.xml.dist
Labels: [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Feature] WooCommerce Analytics, [Feature] Calypsoify, [Tools] Development CLI, [Plugin] Backup, [Plugin] VaultPress, [Plugin] Search, [Package] Composer Plugin, [Package] Plugins Installer, [Plugin] Protect, [Package] Ad, [Plugin] Super Cache, [Package] Plugin Deactivation, [Package] WP JS Data Sync, [Package] Import, [Package] Yoast Promo, [Plugin] mu wpcom, [Package] Boost Core, [Plugin] Inspect, [Package] Chatbot, [Package] WooCommerce Analytics, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin, [Package] Calypsoify, [Package] Explat, [Package] Account Protection, [Package] External Media

#42190 post-list: Exclude unit tests from published package
  projects/packages/post-list/.gitattributes
  projects/packages/post-list/changelog/fix-post-lists-exclude-tests-from-package
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] BLOCKER, [Package] Post List

#41930 codesniffer: Add Jetpack.PHPUnit.TestClassName sniff
  composer.lock
  projects/packages/codesniffer/.phpcs.dir.phpcompatibility.xml
  projects/packages/codesniffer/.phpcs.dir.xml
  projects/packages/codesniffer/Jetpack/Sniffs/PHPUnit/TestClassNameSniff.php
  projects/packages/codesniffer/Jetpack/Sniffs/PHPUnit/UseTestCaseSniff.php
  projects/packages/codesniffer/changelog/add-codesniffer-phpunit-classname-sniff
  projects/packages/codesniffer/changelog/add-codesniffer-phpunit-classname-sniff#2
  projects/packages/codesniffer/changelog/add-codesniffer-phpunit-classname-sniff#3
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTest.php.report
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTest.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestBase.php.report
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestBase.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestCase.php.report
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestCase.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestCaseX.php.report
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameMatchTestCaseX.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameNoMatchTest.php.report
  projects/packages/codesniffer/tests/php/tests/files/PhpunitFilenameNoMatchTest.php.tolint
  projects/packages/codesniffer/tests/php/tests/files/mediawiki-imports-phpunit.php.report
  projects/packages/codesniffer/tests/php/tests/files/phpunit-use-testcase.php.report
  projects/packages/codesniffer/tests/php/tests/files/phpunit-use-testcase.php.tolint
  projects/plugins/boost/changelog/add-codesniffer-phpunit-classname-sniff
  projects/plugins/boost/tests/php/modules/optimizations/speculation-rules/Speculation_Rules_Test.php
Labels: [Type] Enhancement, [Status] Proposal, [Pri] Normal, [Status] Blocked / Hold, [Package] Codesniffer, [Plugin] Boost, [Tests] Includes Tests

#42189 Update/jp dashboard currency code to check user currency
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/component.js
  projects/plugins/jetpack/_inc/client/product-descriptions/product-description/test/fixtures.js
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/update-jp-dashboard-currency-code-to-check-user-currency
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack, [Tests] Includes Tests

#42160 AI Assistant: Add image block extension with alt text and caption generation
  projects/plugins/jetpack/changelog/add-jetpack-ai-image-extension-release
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Feature] AI, [Type] Feature, Coverage tests to be added later

#41826 Forms: Add Akismet panel to form block
  projects/packages/forms/changelog/add-jetpack-form-block-akismet
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/components/jetpack-akismet-panel.js
  projects/packages/forms/src/blocks/contact-form/components/shared/plugin-integration-panel/index.js
  projects/packages/forms/src/blocks/contact-form/components/shared/plugin-integration-panel/plugin-action-button.js
  projects/packages/forms/src/blocks/contact-form/components/shared/plugin-integration-panel/styles.css
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/plugins/jetpack/changelog/add-jetpack-form-block-akismet
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] In Progress, [Status] Needs Privacy Updates, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#42174 Add Podcasting submenu item on Classic sites
  projects/packages/jetpack-mu-wpcom/changelog/update-podcasting-menu
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Menu, I don't care about code coverage for this PR

#42193 Launchpad: Use heuristic to hide verify email task, regardless of experiment cohort
  projects/packages/jetpack-mu-wpcom/changelog/update-verify-email-task-visibility-no-cumulative
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/launchpad/Launchpad_Task_Lists_Test.php
  projects/packages/jetpack-mu-wpcom/tests/php/features/wpcom-endpoints/WPCOM_REST_API_V2_Endpoint_Launchpad_Test.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Launchpad

#42058 Admin bar: add "My WP.com Account" profile submenu
  projects/packages/jetpack-mu-wpcom/changelog/untangle-admin-bar-1
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar, I don't care about code coverage for this PR

#42099 Admin bar: add subitems to the top-left WP.com icon menu
  projects/packages/jetpack-mu-wpcom/changelog/untangle-admin-bar-2
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar, I don't care about code coverage for this PR

#42146 Admin bar: bring back updates and comments menu
  projects/packages/jetpack-mu-wpcom/changelog/untangle-admin-bar-3
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Bar

#42201 Fix cookie consent JS error
  projects/plugins/jetpack/changelog/fix-cookie-consent-js-error
  projects/plugins/jetpack/extensions/blocks/cookie-consent/view.js
Labels: [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Block] Cookie Consent, Groundskeeping

#42074 Connection: add modal for disconnecting owner account in dashboard
  projects/js-packages/connection/changelog/add-disconnect-owner-dashboard
  projects/js-packages/connection/components/manage-connection-dialog/style.scss
  projects/plugins/jetpack/_inc/client/at-a-glance/connections.jsx
  projects/plugins/jetpack/_inc/client/components/connect-button/index.jsx
  projects/plugins/jetpack/_inc/client/components/owner-disconnect-dialog/index.jsx
  projects/plugins/jetpack/_inc/client/components/owner-disconnect-dialog/test/component.js
  projects/plugins/jetpack/changelog/add-disconnect-owner-dashboard
Labels: [Type] Enhancement, [Status] Needs Review, Admin Page, [Pri] Normal, [Plugin] Jetpack, RNA, [JS Package] Connection, [Tests] Includes Tests

#42203 Backport Jetpack 14.4.
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Author Reply, [Type] Janitorial, [Plugin] Jetpack

#42181 Repo Gardening: remove comment about e2e test results
  .github/workflows/e2e-tests.yml
  projects/github-actions/repo-gardening/changelog/update-rm-e2e-comment
  projects/github-actions/repo-gardening/src/tasks/check-description/index.js
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Actions, E2E Tests, [Action] Repo Gardening

#42204 Cleanup Jetpack to-test.md and update stable tag.
  projects/plugins/jetpack/changelog/cleanup-jetpack-14.4
  projects/plugins/jetpack/readme.txt
  projects/plugins/jetpack/to-test.md
Labels: [Status] Needs Author Reply, Docs, [Type] Janitorial, [Plugin] Jetpack

#42192 Protect: add post-connection redirect to ensure consistent initial state data
  projects/plugins/protect/src/js/components/pricing-table/index.jsx
  projects/plugins/protect/src/js/data/use-connection-mutation.ts
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Protect

#42036 Brute Force Protection: Ensure check valid blocked user methods handles errors
  projects/packages/waf/.phan/baseline.php
  projects/packages/waf/changelog/update-packages-bfp-check-valid-blocked-user-handle-errors
  projects/packages/waf/src/brute-force-protection/class-blocked-login-page.php
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] WAF

#42195 My Jetpack: Moving REST route registration for historically active modules
  projects/packages/my-jetpack/changelog/fix-my-jetpack_history_active_api
  projects/packages/my-jetpack/src/class-historically-active-modules.php
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] My Jetpack, I don't care about code coverage for this PR

#42177 MU WPCOM: Prevent site owner from editing user's account-level fields (2nd try)
  projects/packages/jetpack-mu-wpcom/changelog/feat-disable-account-fields-on-edit-user
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-profile-settings/profile-settings-link-to-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-user-edit/wpcom-user-edit.php
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/plugins/mu-wpcom-plugin/changelog/feat-disable-account-fields-on-edit-user
  projects/plugins/wpcomsh/changelog/feat-disable-account-fields-on-edit-user
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Profile Settings, I don't care about code coverage for this PR, [mu wpcom Feature] Wpcom User Edit

#42219 Add filter to hide the Elementor Beta/Dev install banner
  projects/plugins/wpcomsh/changelog/hideandgeek404-manage-elementor-beta-notice
  projects/plugins/wpcomsh/plugin-hotfixes.php
Labels: [Status] Needs Review, [Plugin] Wpcomsh, [Type] Feature, I don't care about code coverage for this PR

#42223 Update newspack blocks 4.5.2 → 4.7.0
  projects/packages/jetpack-mu-wpcom/changelog/update-newspack-blocks
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/index.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/block.json
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/create-swiper.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/edit.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/index.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/carousel/view.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/class-wp-rest-newspack-articles-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/edit.tsx
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/editor.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/editor.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/index.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/templates/article.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/blocks/homepage-articles/utils.ts
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/class-newspack-blocks-api.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/class-newspack-blocks.php
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/autocomplete-tokenfield.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/autocomplete-tokenfield.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/editor-panels.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/components/query-controls.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/js/newspack-icon.js
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/shared/sass/_colors.scss
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/types/index.d.ts
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/version.txt
Labels: [Status] Needs Author Reply, [Status] In Progress, [Status] Needs Review, [Type] Janitorial, [Package] Jetpack mu wpcom, [mu wpcom Feature] Newspack Blocks, I don't care about code coverage for this PR

#42228 jetpack: Fix test class comment
  projects/plugins/jetpack/changelog/fix-comment-referring-to-core-class
  projects/plugins/jetpack/tests/php/lib/Jetpack_REST_TestCase.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#42212 docker: Build arm image using ubuntu-24.04-arm runner
  .github/workflows/build-docker-monorepo.yml
  .github/workflows/build-docker.yml
Labels: [Type] Enhancement, [Status] In Progress, [Pri] Normal, Actions

#42229 ci: Don't try to run Tests / Publish coverage data on forked PRs
  .github/workflows/tests.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#42216 VideoPress Block: Fix critical error in the core Video block
  projects/plugins/jetpack/changelog/fix-videopress-core-block-crash
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: [Type] Bug, [Feature] VideoPress, [Status] Needs Review, OSS Citizen, [Plugin] Jetpack, [Block] VideoPress

#42231 Newspack Blocks: Fix perms issue when syncing
  projects/packages/jetpack-mu-wpcom/bin/sync-newspack-blocks.sh
  projects/packages/jetpack-mu-wpcom/changelog/fix-newspack_blocks_sync-perms_issue
Labels: [Type] Bug, [Status] Needs Review, [Package] Jetpack mu wpcom

#42235 Safe Mode: fix custom string for development sites
  projects/js-packages/idc/changelog/fix-safe-mode-custom-text
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/safe-mode/index.jsx
  projects/js-packages/idc/tools/custom-content-shape.jsx
Labels: [Type] Bug, [Status] In Progress, [Status] Ready to Merge, RNA, [JS Package] IDC

#42211 AI Assistant: Use base64 on image extension requests
  projects/plugins/jetpack/changelog/update-jetpack-ai-image-extension-base64
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/image/with-ai-image-extension.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Feature] AI, Coverage tests to be added later

#42171 WPCOM: Add the Add custom address button to options-general.php
  projects/packages/jetpack-mu-wpcom/changelog/update-add-domain-button
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-options-general/options-general.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-options-general/options-general.ts
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, Lego Maintenance, [mu wpcom Feature] Wpcom Options General

#41836 Social | Move the editor components from Social/Jetpack to publicize-components
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/update-social-move-editor-code-to-package
  projects/js-packages/publicize-components/index.ts
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/block-editor/components/placeholder.tsx
  projects/js-packages/publicize-components/src/components/block-editor/components/post-publish-panels.tsx
  projects/js-packages/publicize-components/src/components/block-editor/components/pre-publish-panels.tsx
  projects/js-packages/publicize-components/src/components/block-editor/components/social-panels.tsx
  projects/js-packages/publicize-components/src/components/block-editor/components/social-settings.tsx
  projects/js-packages/publicize-components/src/components/block-editor/components/upsell.tsx
  projects/js-packages/publicize-components/src/components/block-editor/jetpack-sidebar.tsx
  projects/js-packages/publicize-components/src/components/block-editor/social-sidebar.tsx
  projects/js-packages/publicize-components/src/components/form/styles.module.scss
  projects/js-packages/publicize-components/src/components/manual-sharing/info.tsx
  projects/js-packages/publicize-components/src/components/panel/index.tsx
  projects/js-packages/publicize-components/src/components/social-previews/modal.js
  projects/js-packages/shared-extension-utils/changelog/update-social-move-editor-code-to-package
  projects/js-packages/shared-extension-utils/index.js
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/hooks/use-upgrade-flow/README.md
  projects/js-packages/shared-extension-utils/src/hooks/use-upgrade-flow/index.js
  projects/packages/publicize/changelog/update-social-move-editor-code-to-package
  projects/packages/publicize/src/class-publicize-assets.php
  projects/packages/publicize/src/class-publicize-utils.php
  projects/packages/publicize/src/js/editor-jetpack-sidebar.js
  projects/packages/publicize/src/js/editor-social-sidebar.js
  projects/packages/publicize/webpack.config.js
  projects/plugins/jetpack/changelog/update-social-move-editor-code-to-package
  projects/plugins/jetpack/changelog/update-social-move-editor-code-to-publicize
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/upgrade-plan-banner.jsx
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/publicize/README.md
  projects/plugins/jetpack/extensions/plugins/publicize/components/skeleton-loader.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.js
  projects/plugins/jetpack/extensions/plugins/publicize/editor.scss
  projects/plugins/jetpack/extensions/plugins/publicize/index.js
  projects/plugins/jetpack/extensions/plugins/seo/components/upsell.js
  projects/plugins/jetpack/extensions/plugins/social-previews/editor.js
  projects/plugins/jetpack/extensions/plugins/social-previews/index.js
  projects/plugins/jetpack/extensions/plugins/social-previews/social-previews.php
  projects/plugins/social/babel.config.js
  projects/plugins/social/changelog/update-social-move-editor-code-to-package
  projects/plugins/social/jest.config.js
  projects/plugins/social/jest.setup.js
  projects/plugins/social/package.json
  projects/plugins/social/postcss.config.js
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/js/components/publicize-panel/description.jsx
  projects/plugins/social/src/js/components/publicize-panel/styles.module.scss
  projects/plugins/social/src/js/editor.js
  projects/plugins/social/src/js/editor.scss
  projects/plugins/social/tests/styles-mock.js
  projects/plugins/social/tsconfig.json
  projects/plugins/social/webpack.config.js
Labels: [Feature] Publicize, Docs, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Extension] Social Previews, [Extension] Publicize, [Package] Publicize, [JS Package] Shared Extension Utils, [Extension] SEO, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests, I don't care about code coverage for this PR

#41984 Fix Sessions support in WooCommerce Analytics
  projects/packages/woocommerce-analytics/changelog/add-clickhouse-param
  projects/packages/woocommerce-analytics/changelog/tweak-analytics_session_id
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Package] WooCommerce Analytics, I don't care about code coverage for this PR

#42245 Boost: Base64 encode critical CSS payload
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-context/critical-css-context-provider.tsx
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state.ts
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Set_Provider_CSS.php
  projects/plugins/boost/app/lib/critical-css/data-sync/Data_Sync_Setup.php
  projects/plugins/boost/changelog/fix-critical-css-waf-issue
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost

#42225 Boost: Disable 404 tester on Atomic/WoA sites
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/features/image-size-analysis/multi-progress/multi-progress.module.scss
  projects/plugins/boost/app/assets/src/js/features/minify-meta/minify-meta.module.scss
  projects/plugins/boost/app/assets/src/js/features/ui/collapsible-meta/collapsible-meta.module.scss
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/lib/minify/functions-helpers.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/app/modules/optimizations/minify/Minify.php
  projects/plugins/boost/changelog/fix-boost-concat-notice
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Plugin] Boost, [Boost Feature] Minify

#42249 Boost: Delete static minification option on atomic
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/changelog/fix-boost-atomic-clear-minification-option
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost, [Platform] Atomic, [Boost Feature] Minify

#42251 Backport boost 3.10.1 Changes
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/fix-safe-mode-custom-text
  projects/js-packages/idc/package.json
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/src/class-package-version.php
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-atomic-clear-minification-option
  projects/plugins/boost/changelog/fix-boost-concat-notice
  projects/plugins/boost/changelog/fix-critical-css-waf-issue
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Connection, RNA, [Plugin] Boost, [JS Package] IDC

#42244 Social | Fix the share date schema for scheduled actions endpoint
  projects/packages/publicize/changelog/fix-social-share-date-schema-for-scheduled-action-endpoint
  projects/packages/publicize/src/rest-api/class-scheduled-actions-controller.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize, I don't care about code coverage for this PR

#42238 Jetpack SEO: default filter to false
  projects/plugins/jetpack/changelog/update-jetpack-seo-assistant-filter-disabled
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Block] AI Assistant, [Type] Revert

#42256 ci: Fix PR creation for update stubs job
  .github/workflows/update-phan-stubs.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#42239 Newsletter Dashboard Widget: add hash to import subscribers href
  projects/plugins/jetpack/changelog/update-newsletter-widget-import-link
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/newsletter-widget.test.tsx
Labels: [Type] Enhancement, [Feature] Subscriptions, [Status] Ready to Merge, [Plugin] Jetpack, [Tests] Includes Tests

#42255 Tools: Ignore Storybook files from the Jest coverage
  tools/js-tools/jest/config.coverage.js
Labels: [Type] Enhancement, [Status] Needs Review

#42262 Backport boost 3.10.2 Changes
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-critical-css-btoa
  projects/plugins/boost/changelog/update-boost-stable-tag
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost

#42246 Repo Gardening: do not add label to assigned issues
  projects/github-actions/repo-gardening/changelog/rm-repo-gardening-assignment-progress-label
  projects/github-actions/repo-gardening/src/tasks/assign-issues/index.js
  projects/github-actions/repo-gardening/src/tasks/assign-issues/readme.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, Actions, [Action] Repo Gardening

#42264 Backport boost 3.10.3 Changes
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/changelog/fix-boost-revert-critical-css-encoding-fix
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost

#42265 Safe Mode: fix array loop for custom string
  projects/packages/connection/changelog/fix-safe-mode-custom-text-2
  projects/packages/connection/src/identity-crisis/class-ui.php
Labels: [Type] Bug, [Status] In Progress, [Status] Ready to Merge, [Package] Connection, [Plugin] Jetpack

#42269 AI Assistant: Remove image data from contextual content for image extension features
  projects/js-packages/ai-client/changelog/fix-jetpack-ai-image-extension-remove-urls
  projects/js-packages/ai-client/src/hooks/use-post-content.ts
  projects/plugins/jetpack/changelog/fix-jetpack-ai-image-extension-remove-urls
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/image/with-ai-image-extension.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/lib/preprocess-image-content.ts
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Feature] AI, Coverage tests to be added later

#42103 Newsletter Dashboard Widget: add chart for subscriber stats
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/add-line-chart-for-subscriber-stats
  projects/plugins/jetpack/class-jetpack-newsletter-dashboard-widget.php
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/subscribers-chart.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/constants.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/helpers.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/index.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/style.scss
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/types.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/helpers.test.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/index.test.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/newsletter-widget.test.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/subscribers-chart.test.tsx
  projects/plugins/jetpack/package.json
Labels: [Type] Enhancement, [Feature] Subscriptions, [Status] Needs Review, [Plugin] Jetpack, [Tests] Includes Tests

#42277 Newsletter Widget: fix type imports
  projects/plugins/jetpack/changelog/fix-newsletter-types
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/subscribers-chart.tsx
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack

#42221 Social | Add scheduled post components
  pnpm-lock.yaml
  projects/js-packages/publicize-components/changelog/add-social-scheduled-post-components
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/scheduled-posts/clock-icon.tsx
  projects/js-packages/publicize-components/src/components/scheduled-posts/item-style.module.scss
  projects/js-packages/publicize-components/src/components/scheduled-posts/item.tsx
  projects/js-packages/publicize-components/src/components/scheduled-posts/list-style.module.scss
  projects/js-packages/publicize-components/src/components/scheduled-posts/list.tsx
  projects/js-packages/publicize-components/src/components/scheduled-posts/stories/item.stories.tsx
  projects/js-packages/publicize-components/src/components/scheduled-posts/stories/list.stories.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/scheduled-shares-styles.module.scss
Labels: [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Type] Feature, I don't care about code coverage for this PR

#42280 Add mainBodyTextDev for the body text of the Safe Mode notice in the dev mode
  projects/js-packages/idc/changelog/fix-add-mainBodyTextDev
  projects/js-packages/idc/components/idc-screen/screen-main.jsx
  projects/js-packages/idc/tools/custom-content-shape.jsx
Labels: [Status] Needs Author Reply, RNA, [JS Package] IDC

#42257 Fix: do not set default values for autoincrement columns
  projects/plugins/wpcomsh/changelog/fix-plaground-importer-autoimp-default
  projects/plugins/wpcomsh/imports/playground/class-sql-generator.php
  projects/plugins/wpcomsh/tests/imports/SQLGeneratorTest.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Tests] Includes Tests, [Plugin] Wpcomsh

#42233 Social: Add the ConnectionList and ConnectionListItem components
  projects/js-packages/publicize-components/changelog/add-social-connection-list-components
  projects/js-packages/publicize-components/src/components/connection-list/item-style.module.scss
  projects/js-packages/publicize-components/src/components/connection-list/item.tsx
  projects/js-packages/publicize-components/src/components/connection-list/list-style.module.scss
  projects/js-packages/publicize-components/src/components/connection-list/list.tsx
  projects/js-packages/publicize-components/src/components/connection-list/stories/item.stories.tsx
  projects/js-packages/publicize-components/src/components/connection-list/stories/list.stories.tsx
  projects/js-packages/publicize-components/src/components/connection-list/tests/item.test.tsx
  projects/js-packages/publicize-components/src/components/connection-list/tests/list.test.tsx
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests, [Type] Feature

#42290 Avoid warning newspack blocks api accessing attachment images
  projects/packages/jetpack-mu-wpcom/changelog/update-avoid-warning-newspack-blocks-api-accessing-attachment-images
  projects/packages/jetpack-mu-wpcom/src/features/newspack-blocks/synced-newspack-blocks/class-newspack-blocks-api.php
Labels: [Status] In Progress, [Type] Janitorial, [Package] Jetpack mu wpcom, [mu wpcom Feature] Newspack Blocks

#42289 Social | Fix stylesheets loaded on the front-end
  projects/packages/publicize/changelog/fix-social-assets-loaded-on-the-front-end
  projects/packages/publicize/src/class-publicize-assets.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#42254 Include Business sites in Classic Search
  projects/plugins/wpcomsh/changelog/Add business sites to Classic Search
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Wpcomsh

#42276 Newsletter Dashboard Widget: remove feature flag
  projects/packages/jetpack-mu-wpcom/changelog/remove-newsletter-widget-feature-flag
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-newsletter-widget/wpcom-newsletter-widget.php
  projects/plugins/jetpack/changelog/remove-newsletter-dashboard-widget
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/mu-wpcom-plugin/changelog/remove-newsletter-widget-feature-flag
  projects/plugins/wpcomsh/changelog/remove-newsletter-widget-feature-flag
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Newsletter Widget

#42259 [WooCommerce Analytics] Implement Page View Tracking
  projects/packages/woocommerce-analytics/changelog/add-page-view
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Package] WooCommerce Analytics

#42270 repo-gardening: Avoid trying to add no labels with "All the things!"
  projects/github-actions/repo-gardening/changelog/fix-gardening-add-labels-all-the-things-already-there
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#42240 Update/jp dashboard update how expiry status is checked
  projects/plugins/jetpack/_inc/client/components/product-expiration/index.jsx
  projects/plugins/jetpack/_inc/client/my-plan/my-plan-header/index.js
  projects/plugins/jetpack/changelog/update-jp-dashboard-update-how-expiry-status-is-checked
Labels: [Status] Needs Author Reply, Admin Page, [Plugin] Jetpack

#42305 Update extend cookie life my jetpack dismissals
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-backup-needs-attention-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-expiring-plans-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-paid-plan-needs-plugin-install-activation-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-protect-threats-detected-notice.tsx
  projects/packages/my-jetpack/_inc/utils/create-cookie.ts
  projects/packages/my-jetpack/changelog/update-extend-cookie-life-my-jetpack-dismissals
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#42274 AI Assistant: Add image index information on caption generation request
  projects/js-packages/ai-client/changelog/update-jetpack-ai-image-extension-image-index
  projects/js-packages/ai-client/src/hooks/use-post-content.ts
  projects/js-packages/ai-client/src/libs/get-all-blocks.ts
  projects/js-packages/ai-client/src/libs/index.ts
  projects/plugins/jetpack/changelog/update-jetpack-ai-image-extension-image-index
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/image/with-ai-image-extension.tsx
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/lib/preprocess-image-content.ts
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Feature] AI, Coverage tests to be added later

#42304 Newsletter Widget: update newsletter widget default placement in dashboard
  projects/plugins/jetpack/changelog/update-newsletter-widget-default-placement
  projects/plugins/jetpack/class-jetpack-newsletter-dashboard-widget.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack

#42172 Improve jetpack-mu-wpcom Translation Updates with Automatic Download & Version Checking
  projects/packages/jetpack-mu-wpcom/changelog/update-local-translations
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/wpcomsh/changelog/update-jetpack-mu-wpcom-translation-path
  projects/plugins/wpcomsh/i18n.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, Coverage tests to be added later

#42286 [WooCommerce Analytics] Set session expiration to 30 mins or midnight
  projects/packages/woocommerce-analytics/changelog/tweak-session-expiration-30-mins-midnight
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Package] WooCommerce Analytics

#42291 Safe Mode: fix and refactor parts of code
  projects/js-packages/idc/changelog/fix-safe-mode-multiple-minor-fixes
  projects/js-packages/idc/components/card-fresh/index.jsx
  projects/js-packages/idc/components/idc-screen/index.jsx
  projects/js-packages/idc/components/idc-screen/visual.jsx
  projects/js-packages/idc/tools/custom-content-shape.jsx
  projects/packages/connection/changelog/fix-safe-mode-multiple-minor-fixes
  projects/packages/connection/src/identity-crisis/class-ui.php
  projects/packages/connection/tests/php/identity-crisis/UI_Test.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Connection, RNA, [JS Package] IDC, [Tests] Includes Tests

#42253 Social: Clean up the MessageBoxControl component
  projects/js-packages/publicize-components/changelog/update-social-clean-up-message-box
  projects/js-packages/publicize-components/src/components/form/share-post-form.tsx
  projects/js-packages/publicize-components/src/components/message-box-control/index.tsx
  projects/js-packages/publicize-components/src/components/message-box-control/stories/index.stories.tsx
  projects/js-packages/publicize-components/src/components/message-box-control/tests/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-social-media-message/index.js
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#42298 Social: Add tabbed modal component
  projects/js-packages/publicize-components/changelog/add-social-tabbed-modal-component
  projects/js-packages/publicize-components/src/components/tabbed-modal/index.tsx
  projects/js-packages/publicize-components/src/components/tabbed-modal/stories/index.stories.tsx
  projects/js-packages/publicize-components/src/components/tabbed-modal/style.module.scss
  projects/js-packages/publicize-components/src/components/tabbed-modal/tests/index.test.js
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#42075 Compatibility: Auditing __nextHasNoMarginUsage for missing margins
  projects/js-packages/licensing/changelog/update-nexthasnomarginbottom-usage
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/packages/videopress/changelog/update-nexthasnomarginbottom-usage
  projects/packages/videopress/src/client/block-editor/blocks/video/components/tracks-control/style.scss
  projects/plugins/jetpack/changelog/update-nexthasnomarginbottom-usage
  projects/plugins/jetpack/extensions/blocks/map/editor.scss
  projects/plugins/jetpack/extensions/blocks/recipe/details/editor.scss
  projects/plugins/jetpack/extensions/index.scss
  projects/plugins/jetpack/extensions/shared/jetpack-likes-and-sharing-panel.js
Labels: [Status] Needs Review, [Type] Janitorial, [Block] Map, [Plugin] Jetpack, RNA, [JS Package] Licensing, [Block] Recipe, [Package] VideoPress

#42295 Notes: update wordpress.com/notifications URL to /reader
  projects/plugins/jetpack/changelog/update-notifications-url
  projects/plugins/jetpack/modules/notes.php
Labels: [Feature] Notifications, [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, [Plugin] Jetpack

#42237 VideoPress, Invalid VP URL: Handle case when the URL doesn't contain VP GUID
  projects/packages/videopress/changelog/fix-videopress-invalid-url
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/index.js
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/components/videopress-uploader/uploader-error.js
  projects/packages/videopress/src/client/lib/url/index.ts
  projects/packages/videopress/src/client/lib/url/test/index.ts
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] VideoPress, [Tests] Includes Tests, I don't care about code coverage for this PR

#42310 Jetpack SEO: add enhancer filter and draft
  projects/plugins/jetpack/changelog/add-jetpack-seo-enhancer-filter-and-draft
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-assistant-plugin-sidebar/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/style.scss
  projects/plugins/jetpack/extensions/plugins/seo/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Block] AI Assistant, [Extension] AI Assistant Plugin, [Type] Feature, Coverage tests to be added later

#42197 Protect: Add E2E Tests
  .github/files/e2e-tests/e2e-matrix.js
  pnpm-lock.yaml
  projects/plugins/protect/changelog/add-protect-e2e-tests
  projects/plugins/protect/tests/e2e/.gitignore
  projects/plugins/protect/tests/e2e/config/default.cjs
  projects/plugins/protect/tests/e2e/eslint.config.mjs
  projects/plugins/protect/tests/e2e/package.json
  projects/plugins/protect/tests/e2e/playwright.config.mjs
  projects/plugins/protect/tests/e2e/specs/start.test.js
  tools/e2e-commons/README.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, Actions, E2E Tests, [Plugin] Protect, [Tests] Includes Tests

#42331 Jetpack SEO Enhancer: add switch trigger toggle
  projects/plugins/jetpack/changelog/add-jetpack-seo-enhancer-switch-trigger-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/style.scss
Labels: [Feature] SEO Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, [Type] Feature, Coverage tests to be added later

#42210 ci: Test for wpcom Simple filename restrictions
  .github/files/test-wpcom-filename-restrictions.sh
  .github/workflows/post-build.yml
Labels: [Status] Needs Review, [Pri] Normal, Actions, [Type] Feature

#42078 Boost: add interstitial modal for Critical CSS
  pnpm-lock.yaml
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/interstitial-modal-cta.tsx
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/upgrade-cta.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/changelog/add-boost-interstitial-modal-critical-css
  projects/plugins/boost/package.json
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/boost/tests/e2e/specs/base/common.test.js
Labels: [Status] Needs Author Reply, [Status] In Progress, E2E Tests, [Plugin] Boost, [Package] My Jetpack, [Tests] Includes Tests, Coverage tests to be added later

#42272 Add tasks for new "publish a blog" tasklist
  projects/packages/jetpack-mu-wpcom/changelog/add-publish-a-blog-tasks
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/class-launchpad-task-lists.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-launchpad.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, [mu wpcom Feature] Wpcom Endpoints, I don't care about code coverage for this PR

#42319 Newsletter Dashboard Widget: handle singular/plural forms of labels
  projects/plugins/jetpack/changelog/fix-count-labels
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/newsletter-widget.test.tsx
Labels: [Feature] Subscriptions, [Status] Needs Author Reply, [Plugin] Jetpack, [Tests] Includes Tests

#42325 Social: Add helper to get the max message length
  projects/js-packages/publicize-components/changelog/add-social-max-message-length-hook-helper
  projects/js-packages/publicize-components/src/components/media-picker/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-media-restrictions/test/index.test.js
  projects/js-packages/publicize-components/src/hooks/use-post-meta/test/index.test.js
  projects/js-packages/publicize-components/src/utils/test/use-share-message-max-length.test.js
  projects/js-packages/publicize-components/src/utils/use-share-message-max-length.js
  projects/js-packages/publicize-components/src/utils/use-share-message-max-length.ts
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, [Tests] Includes Tests

#42296 Social | Configure data store to handle scheduled shares
  projects/js-packages/publicize-components/changelog/update-social-configure-store-4-scheduled-shares
  projects/js-packages/publicize-components/src/social-store/actions/index.ts
  projects/js-packages/publicize-components/src/social-store/actions/scheduled-shares.ts
  projects/js-packages/publicize-components/src/social-store/hydrate-stores.ts
  projects/js-packages/publicize-components/src/social-store/selectors/index.ts
  projects/js-packages/publicize-components/src/social-store/selectors/scheduled-shares.ts
  projects/js-packages/publicize-components/src/social-store/types.ts
Labels: [Type] Enhancement, [Feature] Publicize, [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, Coverage tests to be added later

#42313 Publicize Components: Add schedule button
  projects/js-packages/publicize-components/changelog/add-schedule-button
  projects/js-packages/publicize-components/src/components/schedule-button/index.tsx
  projects/js-packages/publicize-components/src/components/schedule-button/stories/index.stories.jsx
  projects/js-packages/publicize-components/src/components/schedule-button/styles.module.scss
  projects/js-packages/publicize-components/src/components/schedule-button/test/index.test.tsx
  projects/plugins/jetpack/changelog/add-schedule-button
  projects/plugins/social/changelog/add-schedule-button
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#41978 Fix Paypal block when duplicating
  projects/plugins/jetpack/changelog/add-fix-paypal-product-id
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
Labels: [Type] Bug, [Status] In Progress, [Plugin] Jetpack, [Block] Pay With Paypal

#42320 Boost: Sanitize CSS to prevent WAF false positives
  projects/plugins/boost/app/assets/src/js/features/critical-css/critical-css-context/critical-css-context-provider.tsx
  projects/plugins/boost/app/assets/src/js/lib/utils/mask-content.ts
  projects/plugins/boost/app/lib/critical-css/data-sync-actions/Set_Provider_CSS.php
  projects/plugins/boost/changelog/fix-boost-waf-blocking-css-requests
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost, [Boost Feature] Critical CSS, I don't care about code coverage for this PR

#42345 Forms: Fix issue where only the first contact form on a page could be submitted
  projects/packages/forms/changelog/fix-multiple-forms-submission
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Package] Forms, [Tests] Includes Tests

#42340 Forms: Remove default 16px padding block
  projects/packages/forms/changelog/update-remove-form-padding
  projects/packages/forms/src/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/plugins/jetpack/changelog/update-remove-form-padding
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Pri] Normal, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#42341 Forms: Fix export modal - remove jetpack footer
  projects/packages/forms/changelog/fix-form-export-modal
  projects/packages/forms/src/contact-form/class-admin.php
  projects/packages/forms/src/contact-form/css/grunion-admin.css
  projects/packages/forms/src/dashboard/inbox/export-responses/index.js
  projects/packages/forms/src/dashboard/inbox/export-responses/style.scss
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Forms

#42348 Forms: Adjust spacing for DataViews responses
  projects/packages/forms/changelog/update-forms-dataviews-spacing
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Package] Forms

#42347 SEO Enhancer: Update UI
  projects/plugins/jetpack/changelog/add-jetpack-ai-seo-enhancer-ui
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/style.scss
  projects/plugins/jetpack/extensions/plugins/seo/description-panel.js
  projects/plugins/jetpack/extensions/plugins/seo/editor.scss
  projects/plugins/jetpack/extensions/plugins/seo/index.js
  projects/plugins/jetpack/extensions/plugins/seo/title-panel.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, [Feature] AI, [Type] Feature, Coverage tests to be added later

#41698 Forms: add date validation in all browsers
  projects/packages/forms/changelog/fix-date-validation-in-all-browsers
  projects/packages/forms/src/contact-form/js/accessible-form.js
  projects/packages/forms/src/contact-form/js/validate-helper.js
  projects/packages/forms/tests/js/contact-form/validate-helper.test.js
  projects/packages/forms/tests/js/contact-form/wp-mocks.js
  projects/plugins/jetpack/changelog/fix-date-validation-in-all-browsers
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms, [Tests] Includes Tests

#42366 Forms: fix variations previews
  projects/packages/forms/changelog/fix-form-previews-variations
  projects/packages/forms/src/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/plugins/jetpack/changelog/fix-form-previews-variations
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#42300 Duplicate Views: Comment likes on Atomic
  projects/packages/jetpack-mu-wpcom/changelog/add-comment-likes-on-atomic
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-comments/class-wp-rest-comment-like.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-comments/wpcom-comments.php
  projects/plugins/jetpack/changelog/add-comment-likes-on-atomic
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/class.json-api.php
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Comments, I don't care about code coverage for this PR

#42165 Stats: add highlights heading level as prop
  projects/packages/my-jetpack/_inc/components/stats-section/cards.jsx
  projects/packages/my-jetpack/_inc/components/stats-section/index.jsx
  projects/packages/my-jetpack/changelog/update-stats-card-heading-level
Labels: [Type] Bug, [Focus] Accessibility, [Status] Needs Team Review, [Package] My Jetpack

#42155 My Jetpack: add h1 for screen readers
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/add-jp-admin-page-h1
Labels: [Type] Enhancement, [Focus] Accessibility, [Status] Needs Team Review, [Package] My Jetpack

#42156 Components: add role to Jetpack footer
  projects/js-packages/components/changelog/update-jetpack-footer-role
  projects/js-packages/components/components/jetpack-footer/index.tsx
  projects/js-packages/components/components/jetpack-footer/test/__snapshots__/component.tsx.snap
Labels: [Type] Enhancement, [Focus] Accessibility, [Status] Needs Team Review, RNA, [JS Package] Components, [Tests] Includes Tests

#42365 Boost: Add more cookies to the ignorelist
  projects/plugins/boost/app/modules/optimizations/page-cache/pre-wordpress/Boost_Cache.php
  projects/plugins/boost/changelog/add-whitelist-more-cookies
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, [Boost Feature] Page Cache, I don't care about code coverage for this PR

#42336 Sharing block: update native sharing description wording
  projects/plugins/jetpack/changelog/update-sharing-block-native-share-wording
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
Labels: [Type] Enhancement, [Feature] Sharing, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Block] Sharing Button

#42372 Update/social/schedule component internal state
  projects/js-packages/publicize-components/changelog/update-social-schedule-component-internal-state
  projects/js-packages/publicize-components/src/components/schedule-button/index.tsx
  projects/js-packages/publicize-components/src/components/schedule-button/stories/index.stories.jsx
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#42214 [gold] :: Add Donation modal warning
  projects/plugins/jetpack/changelog/donation-block-add-warning
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
  projects/plugins/jetpack/extensions/blocks/donations/edit.js
  projects/plugins/jetpack/extensions/blocks/donations/first-time-modal.js
  projects/plugins/jetpack/extensions/blocks/donations/first-time-modal.scss
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Block] Donations, I don't care about code coverage for this PR

#42000 Components: Remove external relative import from JetpackFooter
  pnpm-lock.yaml
  projects/js-packages/components/changelog/provide-jetpack-info-to-footer-component
  projects/js-packages/components/components/admin-page/index.tsx
  projects/js-packages/components/components/admin-page/types.ts
  projects/js-packages/components/components/jetpack-footer/index.tsx
  projects/js-packages/components/components/jetpack-footer/types.ts
  projects/js-packages/components/package.json
  projects/js-packages/components/tools/get-site-admin-url/index.ts
  projects/js-packages/publicize-components/changelog/provide-jetpack-info-to-footer-component
  projects/js-packages/publicize-components/src/components/admin-page/index.tsx
  projects/js-packages/shared-extension-utils/changelog/add-should-use-internal-links-util
  projects/js-packages/shared-extension-utils/index.js
  projects/js-packages/shared-extension-utils/package.json
  projects/js-packages/shared-extension-utils/src/should-use-internal-links.js
  projects/packages/backup/changelog/provide-jetpack-info-to-footer-component
  projects/packages/backup/package.json
  projects/packages/backup/src/js/components/Admin/index.js
  projects/packages/forms/changelog/provide-jetpack-info-to-footer-component
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/my-jetpack/_inc/components/add-license-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/connection-screen/index.tsx
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/more-requests.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/changelog/provide-jetpack-info-to-footer-component
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/provide-jetpack-info-to-footer-component
  projects/packages/search/package.json
  projects/packages/search/src/dashboard/components/dashboard/wrapped-dashboard.jsx
  projects/packages/search/src/dashboard/components/pages/dashboard-page.jsx
  projects/packages/search/src/dashboard/components/pages/upsell-page/index.jsx
  projects/packages/videopress/changelog/provide-jetpack-info-to-footer-component
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/admin/components/admin-page/index.tsx
  projects/packages/videopress/src/client/admin/components/edit-video-details/index.tsx
  projects/packages/wordads/changelog/provide-jetpack-info-to-footer-component
  projects/packages/wordads/package.json
  projects/packages/wordads/src/dashboard/components/dashboard/index.jsx
  projects/plugins/classic-theme-helper-plugin/changelog/provide-jetpack-info-to-footer-component
  projects/plugins/classic-theme-helper-plugin/package.json
  projects/plugins/classic-theme-helper-plugin/src/js/components/admin-page/index.jsx
  projects/plugins/jetpack/_inc/client/components/footer/index.jsx
  projects/plugins/jetpack/changelog/provide-jetpack-info-to-footer-component
  projects/plugins/starter-plugin/changelog/provide-jetpack-info-to-footer-component
  projects/plugins/starter-plugin/package.json
  projects/plugins/starter-plugin/src/js/components/admin-page/index.jsx
Labels: [Type] Bug, [Feature] Publicize, [Feature] Contact Form, [Status] Needs Review, Admin Page, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Components, [Package] Search, [Package] My Jetpack, [Package] Publicize, [JS Package] Shared Extension Utils, [Plugin] Starter Plugin, [Package] Ad, [JS Package] Publicize Components, [Package] VideoPress, [Package] Forms, [Plugin] Classic Theme Helper Plugin, [JS Package] Script Data

#42378 Jetpack SEO Enhancer: add global setting toggle on sidebar
  projects/plugins/jetpack/changelog/add-jetpack-seo-enhancer-sidebar-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
Labels: [Status] In Progress, [Feature] SEO Tools, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, [Type] Feature, Coverage tests to be added later

#42360 wpcomsh: Update wc-calypso-bridge to 2.8.4
  projects/plugins/wpcomsh/changelog/update-bridge-to-2.8.4
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Type] Janitorial, [Type] Infrastructure, [Plugin] Wpcomsh

#41294 Fix button block contrast checker
  projects/plugins/jetpack/changelog/fix-button-fallback-contrast-checking
  projects/plugins/jetpack/extensions/blocks/button/apply-fallback-styles.js
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/button/test/use-fallback-colors.js
  projects/plugins/jetpack/extensions/blocks/button/use-fallback-colors.js
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Team Review, [Block] Button, [Plugin] Jetpack, [Tests] Includes Tests

#42385 Revert "Jetpack SEO Enhancer: add global setting toggle on sidebar (#42378)"
  projects/plugins/jetpack/changelog/add-jetpack-seo-enhancer-sidebar-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
Labels: [Status] Needs Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin, [Type] Revert

#42323 Revert "Boost: add Speculation Rules module"
  projects/plugins/boost/app/assets/src/js/features/speculation-rules/speculation-method.module.scss
  projects/plugins/boost/app/assets/src/js/features/speculation-rules/speculation-method.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/modules/Modules_Index.php
  projects/plugins/boost/app/modules/optimizations/speculation-rules/Speculation_Rules.php
  projects/plugins/boost/changelog/revert-41921-add-boost-speculation-rules
  projects/plugins/boost/tests/php/modules/optimizations/speculation-rules/Speculation_Rules_Test.php
Labels: [Status] Needs Author Reply, [Plugin] Boost, [Tests] Includes Tests, [Type] Revert, [Boost Feature] Speculation Rules

#42377 JSON API: fix post encoding in REST requests
  projects/plugins/jetpack/changelog/fix-json-api-encoding-fix
  projects/plugins/jetpack/class.json-api-endpoints.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-list-posts-v1-2-endpoint.php
Labels: [Type] Bug, [Feature] WPCOM API, [Status] In Progress, [Plugin] Jetpack

#42392 Jetpack SEO Enhancer: add global setting toggle on sidebar
  projects/plugins/jetpack/changelog/add-jetpack-seo-enhancer-sidebar-toggle
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Extension] AI Assistant Plugin, [Type] Revert, Coverage tests to be added later

#42393 Release packages/phpunit-select-config v1.0.0
  projects/packages/changelogger/CHANGELOG.md
  projects/packages/changelogger/changelog/update-use-phpunit-select-config-and-cleanup
  projects/packages/changelogger/src/Application.php
  projects/packages/phpunit-select-config/CHANGELOG.md
  projects/packages/phpunit-select-config/changelog/fix-rename-packages-n-z-tests-for-phpunit-11
  projects/packages/phpunit-select-config/changelog/initial-version
  projects/packages/phpunit-select-config/changelog/update-changelogger-and-stub-generator-require-composer-2-2
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Changelogger, [Package] Phpunit Select Config

#42337 Feature Suggestions: do not load by default.
  projects/plugins/jetpack/changelog/rm-plugin-search-loading
  projects/plugins/jetpack/modules/module-extras.php
  projects/plugins/jetpack/modules/plugin-search.php
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Plugin Search, [Plugin] Jetpack

#41479 Remove: Start page modal - default to core behaviour.
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/changelog/remove-start-page-modal
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/class-starter-page-templates.php
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/class-wp-rest-sideload-image-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/index.scss
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/page-patterns-plugin.tsx
  projects/packages/jetpack-mu-wpcom/src/features/starter-page-templates/store.ts
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/remove-start-page-modal
  projects/plugins/wpcomsh/changelog/remove-start-page-modal
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Block Editor Nux, [mu wpcom Feature] Starter Page Templates

#42387 Tweak SSO login wording
  projects/packages/connection/changelog/tweak-sso-login-wording
  projects/packages/connection/src/sso/class-sso.php
Labels: [Type] Enhancement, [Feature] SSO, [Status] Needs Author Reply, [Status] Ready to Merge, [Package] Connection

#42383 SEO Enhancer: Add SEO requests
  projects/plugins/jetpack/changelog/update-jetpack-ai-seo-enhancer-requests
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-module-settings.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin, [Feature] AI, [Type] Feature, Coverage tests to be added later

#42391 Verbum comments: remove dynamic loader dependency on wp-polyfill
  projects/packages/jetpack-mu-wpcom/changelog/fix-remove-verbum-comments-dynamic-loader-dependency-on-wp-polyfill
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/assets/dynamic-loader.js
Labels: [Type] Bug, [Focus] Performance, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments

#42363 Tiled Gallery Block: Remove custom link validation to allow more user options
  projects/plugins/jetpack/changelog/remove-tiled-gallery-link-validation
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/controls.js
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.scss
Labels: [Type] Enhancement, [Feature] Tiled Gallery, [Status] Ready to Merge, [Block] Tiled Gallery, [Plugin] Jetpack

#42330 Remove/agency data from initial state
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/changelog/remove-agency-data-from-initial-state
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-jetpack-manage.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#42399 Changes in docs in 3.10.4 release
  projects/plugins/boost/CHANGELOG.md
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/jetpack-boost.php
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Type] Task, [Plugin] Boost

#42400 Fix error with videos uploaded through the Video block
  projects/plugins/jetpack/changelog/fix-video-to-videopress
  projects/plugins/jetpack/extensions/blocks/videopress/edit.js
Labels: [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Block] VideoPress

#42312 VideoPress: Fix other files not getting uploaded when there is a Video file among dragged files
  projects/packages/videopress/changelog/fix-transformer-breaking-multiple-file-upload
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/block-editor/blocks/video/transforms/index.tsx
  projects/packages/videopress/src/client/block-editor/blocks/video/transforms/test/index.tsx
  projects/plugins/videopress/changelog/fix-transformer-breaking-multiple-file-upload
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress, [Tests] Includes Tests

#42307 Prepare Product Interstitial Modal to be used in plugins
  pnpm-lock.yaml
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstifial-feature-list.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstitial-modal-cta.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstitial-my-jetpack.tsx
  projects/packages/my-jetpack/changelog/add-boost-interstitial-modal-critical-css
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/interstitial-modal-cta.tsx
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/upgrade-cta.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/changelog/add-boost-interstitial-modal-critical-css
  projects/plugins/boost/package.json
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/boost/tests/e2e/specs/base/common.test.js
Labels: [Type] Task, [Status] Needs Team Review, E2E Tests, [Plugin] Boost, [Package] My Jetpack, [Tests] Includes Tests, Coverage tests to be added later

#42382 JSON API: add REST support for site info endpoint
  projects/plugins/jetpack/changelog/add-json-api-rest-get-site
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-v1-2-endpoint.php
Labels: [Feature] WPCOM API, [Status] In Progress, [Plugin] Jetpack

#42398 Twitter Timeline Widget: Expand deprecation handling and only enqueue scripts when needed
  projects/plugins/jetpack/changelog/twitter-timeline-update
  projects/plugins/jetpack/modules/widgets/twitter-timeline.php
Labels: [Type] Enhancement, [Feature] Extra Sidebar Widgets, [Status] In Progress, [Plugin] Jetpack

#42349 My Jetpack: prevent displaying initial price when intro offer is not available
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstitial-my-jetpack.tsx
  projects/packages/my-jetpack/changelog/fix-my-jetpack-modal-intro-pricing
Labels: [Type] Bug, [Status] Needs Team Review, [Package] My Jetpack, Coverage tests to be added later

#42407 SEO Enhancer: Auto-run requests on pre-publish if enabled
  projects/plugins/jetpack/changelog/update-jetpack-ai-seo-enhancer-auto-request
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/store/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/store/selectors.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-module-settings.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
  projects/plugins/jetpack/extensions/plugins/seo/index.js
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, [Type] Feature, Coverage tests to be added later

#42409 Big Sky Free Trial: Allow Global Styles
  projects/packages/jetpack-mu-wpcom/changelog/add-big-sky-free-trial-global-styles-exception
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/index.php
  projects/plugins/mu-wpcom-plugin/changelog/add-big-sky-free-trial-global-styles-exception
  projects/plugins/wpcomsh/changelog/add-big-sky-free-trial-global-styles-exception
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Global Styles

#42318 Social | Improve permission checks for scheduled-actions endpoint
  projects/packages/publicize/changelog/update-social-improve-scheduled-actions-endpoint-permission-checks
  projects/packages/publicize/src/rest-api/class-scheduled-actions-controller.php
  projects/packages/publicize/tests/php/Scheduled_Actions_Controller_Test.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize, [Tests] Includes Tests

#42415 Social | Remove unused scheduled-actions endpoint routes
  projects/packages/publicize/changelog/update-social-remove-unused-scheduled-actions-endpoint-routes
  projects/packages/publicize/src/rest-api/class-scheduled-actions-controller.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, [Package] Publicize

#42388 Theme Switch: Don't change homepage when switching theme
  projects/packages/jetpack-mu-wpcom/changelog/feat-untangle-theme-switch
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/plugins/mu-wpcom-plugin/changelog/feat-untangle-theme-switch
  projects/plugins/wpcomsh/changelog/feat-untangle-theme-switch
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh

#42369 [WooCommerce Analytics] Fix update cart not being triggered
  projects/packages/woocommerce-analytics/changelog/fix-update-cart
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
Labels: [Type] Bug, [Status] In Progress, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Package] WooCommerce Analytics

#41354 Critical CSS Gen: Add cleanup to playwright mode
  projects/js-packages/critical-css-gen/changelog/fix-critical-css-gen-potential-memory-leak
  projects/js-packages/critical-css-gen/src/browser-interface-playwright.ts
  projects/js-packages/critical-css-gen/src/generate-critical-css.ts
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [JS Package] Critical Css Gen

#42297 Social | Add scheduled posts panel
  projects/js-packages/publicize-components/changelog/add-social-scheduled-posts-panel
  projects/js-packages/publicize-components/src/components/scheduled-posts/item-style.module.scss
  projects/js-packages/publicize-components/src/components/scheduled-posts/item.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/scheduled-shares-styles.module.scss
  projects/js-packages/publicize-components/src/components/social-post-modal/scheduled-shares.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/settings-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Type] Enhancement, [Feature] Publicize, [Status] In Progress, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, Coverage tests to be added later

#42376 Social: Add scheduled share functionality to the share post modal
  projects/js-packages/publicize-components/changelog/add-social-social-post-schedule-share
  projects/js-packages/publicize-components/src/components/schedule-button/index.tsx
  projects/js-packages/publicize-components/src/components/share-post/index.jsx
  projects/js-packages/publicize-components/src/components/social-post-modal/settings-section.tsx
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
  projects/js-packages/publicize-components/src/hooks/use-is-resharing-possible/index.ts
  projects/js-packages/publicize-components/src/hooks/use-schedule-post/index.tsx
  projects/js-packages/publicize-components/src/hooks/use-share-post/index.js
  projects/js-packages/publicize-components/src/social-store/actions/scheduled-shares.ts
  projects/js-packages/publicize-components/src/social-store/selectors/scheduled-shares.ts
  projects/plugins/jetpack/changelog/add-social-social-post-schedule-share
  projects/plugins/social/changelog/add-social-social-post-schedule-share
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components, Coverage tests to be added later

#42332 VideoPress Block: Fix undo not working
  projects/packages/videopress/changelog/fix-videopress-block-undo
  projects/packages/videopress/src/client/block-editor/blocks/video/edit.tsx
  projects/packages/videopress/src/client/block-editor/hooks/use-sync-media/index.ts
  projects/plugins/jetpack/changelog/fix-videopress-block-undo
  projects/plugins/videopress/changelog/fix-videopress-block-undo
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, [Package] VideoPress, [Plugin] VideoPress, I don't care about code coverage for this PR

#42343 Pages: Add notice for homepage editing
  projects/packages/jetpack-mu-wpcom/changelog/add-pages-homepage-notice
  projects/packages/jetpack-mu-wpcom/src/features/pages/css/pages-homepage-connection-banner.css
  projects/packages/jetpack-mu-wpcom/src/features/pages/js/pages-homepage-connection-banner.js
  projects/packages/jetpack-mu-wpcom/src/features/pages/pages-homepage-connection-banner.php
  projects/packages/jetpack-mu-wpcom/src/features/pages/pages.php
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Pages, I don't care about code coverage for this PR

#42431 SEO Enhancer: Fix function call on P2
  projects/plugins/jetpack/changelog/fix-seo-enhancer-p2
  projects/plugins/jetpack/extensions/plugins/seo/index.js
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, Coverage tests to be added later

#42403 Migration: fix wordpress importer link
  projects/packages/jetpack-mu-wpcom/changelog/migration-fix-import-wordpress-link
  projects/packages/jetpack-mu-wpcom/src/features/import-customizations/import-customizations.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Jetpack mu wpcom, [mu wpcom Feature] Import Customizations

#42416 Boost: Update Historical Performance CTA with a modal
  projects/plugins/boost/app/assets/src/js/features/performance-history/graph-component/graph-component.tsx
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/interstitial-modal-cta.tsx
  projects/plugins/boost/changelog/update-my-jetpack_historical_perf
Labels: [Status] Needs Author Reply, [Plugin] Boost

#42271 Remove/red bubble data from window state
  projects/packages/my-jetpack/.phan/baseline.php
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/videopress-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-table/index.jsx
  projects/packages/my-jetpack/_inc/components/product-detail-table/style.module.scss
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstifial-feature-list.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstitial-modal.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial-modal/product-interstitial-my-jetpack.tsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/index.jsx
  projects/packages/my-jetpack/_inc/components/product-interstitial/jetpack-ai/product-page.jsx
  projects/packages/my-jetpack/_inc/context/value-store/valueStoreContext.tsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/_inc/data/evaluation-recommendations/use-evaluation-recommendations.ts
  projects/packages/my-jetpack/_inc/data/products/use-products.ts
  projects/packages/my-jetpack/_inc/data/use-red-bubble-query.ts
  projects/packages/my-jetpack/_inc/data/welcome-banner/use-welcome-banner.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/get-paid-plan-needs-plugins-content.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/index.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/types.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-backup-needs-attention-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-bad-install-notice.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-deprecate-feature-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-expiring-plans-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-get-readable-failed-backup-reason.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-paid-plan-needs-plugin-install-activation-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-protect-threats-detected-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-site-connection-notice.tsx
  projects/packages/my-jetpack/changelog/remove-red-bubble-data-from-window-state
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-red-bubble-notifications.php
  projects/packages/my-jetpack/src/class-rest-purchases.php
  projects/packages/my-jetpack/src/products/class-boost.php
  projects/packages/my-jetpack/src/products/class-jetpack-ai.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-protect.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#42438 Docker: Migrate phpmyadmin to official Docker (with support for arm64/v8)
  tools/docker/jetpack-docker-config-default.yml
Labels: [Status] Needs Review, [Type] Janitorial, Docker

#42439 cli: Add `jetpack docker` command to run wpcomsh tests
  docs/development-environment.md
  projects/plugins/wpcomsh/changelog/add-cli-docker-phpunit-wpcomsh
  projects/plugins/wpcomsh/imports/playground/class-sql-importer.php
  projects/plugins/wpcomsh/tests/imports/Playground_Clean_Up_Test.php
  tools/cli/commands/docker.js
  tools/docker/README.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, Docker, [Tools] Development CLI, [Tests] Includes Tests, [Plugin] Wpcomsh

#42352 Social | Fix connecting additional users for LinkedIn and Tumblr
  projects/js-packages/publicize-components/changelog/fix-social-connecting-additional-users
  projects/js-packages/publicize-components/src/components/manage-connections-modal/confirmation-form/index.tsx
  projects/js-packages/publicize-components/src/components/manage-connections-modal/tests/confirmation-form.test.js
  projects/js-packages/publicize-components/src/utils/test-constants.js
  projects/plugins/jetpack/changelog/fix-social-connecting-additional-users
  projects/plugins/social/changelog/fix-social-connecting-additional-users
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Social, [JS Package] Publicize Components, [Tests] Includes Tests

#42390 Social | Clean up unused old initial state
  projects/js-packages/shared-extension-utils/changelog/update-social-clean-up-old-initial-state
  projects/js-packages/shared-extension-utils/src/get-site-fragment.js
  projects/packages/publicize/changelog/update-social-clean-up-old-initial-state
  projects/packages/publicize/src/jetpack-social-settings/class-settings.php
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-social-clean-up-old-initial-state
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/social/changelog/update-social-clean-up-old-initial-state
  projects/plugins/social/src/class-jetpack-social.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [JS Package] Shared Extension Utils, [Plugin] Social

#42433 Sync: Don't send any old full sync actions if full sync has been restarted
  projects/packages/sync/changelog/update-stop-full-sync-when-restarted
  projects/packages/sync/src/modules/class-full-sync-immediately.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync

#42451 Social | Remove the use_admin_ui_v1 usage on the backend
  projects/packages/publicize/changelog/update-social-remove-use_admin_ui_v1-flag
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize.php
  projects/plugins/jetpack/changelog/update-social-remove-use_admin_ui_v1-flag
  projects/plugins/jetpack/tests/php/modules/publicize/Publicize_Test.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Publicize, [Tests] Includes Tests

#42454 Social: Connections schema: Remove the deprecated fields
  projects/js-packages/publicize-components/changelog/update-social-remove-deprecated-fields
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/update-social-remove-deprecated-fields
  projects/packages/publicize/src/class-connections.php
  projects/packages/publicize/src/class-publicize.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components
