Repository Automattic/jetpack, pull requests merged in 2025-04, with the labels that each got.

#42807 Fixing E2E tests affected by new onboarding
  tools/e2e-commons/pages/wp-admin/sidebar.js
Labels: [Status] Needs Author Reply, E2E Tests

#42811 WordPress logo: update blue color
  projects/plugins/jetpack/changelog/update-wordpress-logo-blue-color
  projects/plugins/jetpack/images/get-apps-icon.svg
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack

#42787 Boost: Remove Unnecessary phpcs Exclusion
  projects/plugins/boost/.phpcs.dir.xml
  projects/plugins/boost/app/modules/optimizations/page-cache/pre-wordpress/boost-cache-actions.php
  projects/plugins/boost/app/modules/optimizations/page-cache/pre-wordpress/class-boost-cache.php
  projects/plugins/boost/changelog/update-boost-remove-phpcs-exclusion
Labels: [Status] In Progress, [Status] Needs Review, [Type] Janitorial, [Focus] Compatibility, [Plugin] Boost, [Boost Feature] Critical CSS, [Boost Feature] Cloud CSS, [Boost Feature] Image Guide, [Boost Feature] Image Size Analysis, [Tests] Includes Tests, [Boost Feature] Performance History, [Boost Feature] Page Cache, I don't care about code coverage for this PR, [Boost Feature] Speculation Rules

#42645 Newsletter Widget: improve the display of links.
  projects/plugins/jetpack/changelog/fix-newsletter-widget-external-links
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/dashboard-link.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/components/newsletter-widget.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/helpers.ts
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/src/style.scss
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/dashboard-link.test.tsx
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/test/helpers.test.ts
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, [Tests] Includes Tests

#42691 Add/export media files feature
  projects/packages/jetpack-mu-wpcom/changelog/add-export-media-files-feature
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-media/wpcom-export-media-files.php
Labels: [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface, [mu wpcom Feature] Wpcom Media, I don't care about code coverage for this PR, [mu wpcom Feature] Export Media Files

#42329 Forms: Update default forms view to DataViews
  projects/packages/forms/changelog/update-change-forms-default-view
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/plugins/jetpack/changelog/update-change-forms-default-view
Labels: [Feature] Contact Form, [Pri] Normal, [Plugin] Jetpack, [Package] Forms

#42823 Boost: Bump the stable tag version to 3.13.0
  projects/plugins/boost/changelog/update-boost-version-3.13.0-bump
  projects/plugins/boost/readme.txt
Labels: [Status] Needs Review, [Type] Task, [Plugin] Boost

#42826 Forms: Update integrations endpoint
  projects/packages/forms/changelog/update-form-integrations-endpoint
  projects/packages/forms/src/blocks/contact-form/components/hooks/useIntegrationStatus.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-akismet-panel.js
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/plugins/jetpack/changelog/update-form-integrations-endpoint
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42749 codesniffer: Reorganize tests
  projects/packages/codesniffer/changelog/update-codesniffer-reorganize-tests
  projects/packages/codesniffer/phpunit.11.xml.dist
  projects/packages/codesniffer/phpunit.9.xml.dist
  projects/packages/codesniffer/tests/php/integration/JetpackCompatTest.php
  projects/packages/codesniffer/tests/php/integration/JetpackStandardTest.php
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTest.php.report
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTest.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestBase.php.report
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestBase.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestCase.php.report
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestCase.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestCaseX.php.report
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameMatchTestCaseX.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameNoMatchTest.php.report
  projects/packages/codesniffer/tests/php/integration/files/PhpunitFilenameNoMatchTest.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/default.xml
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-default.php.fixed
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-default.php.report
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-default.php.ruleset.xml
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-default.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-not-set.php.report
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-not-set.php.ruleset.xml
  projects/packages/codesniffer/tests/php/integration/files/i18n-text_domain-not-set.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/i18n.php.fixed
  projects/packages/codesniffer/tests/php/integration/files/i18n.php.report
  projects/packages/codesniffer/tests/php/integration/files/i18n.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/jetpack-nowp.php.dirruleset.xml
  projects/packages/codesniffer/tests/php/integration/files/jetpack-nowp.php.report
  projects/packages/codesniffer/tests/php/integration/files/jetpack-nowp.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/master-user-constant.php.report
  projects/packages/codesniffer/tests/php/integration/files/master-user-constant.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports-phpunit.php.fixed
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports-phpunit.php.report
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports-phpunit.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports.php.fixed
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports.php.report
  projects/packages/codesniffer/tests/php/integration/files/mediawiki-imports.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/phpunit-use-testcase.php.report
  projects/packages/codesniffer/tests/php/integration/files/phpunit-use-testcase.php.tolint
  projects/packages/codesniffer/tests/php/integration/files/setcookie.php.report
  projects/packages/codesniffer/tests/php/integration/files/setcookie.php.tolint
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Package] Codesniffer, [Tests] Includes Tests

#42798 CI: Sync wpcom-filename-restrictions with upstream
  .github/files/test-wpcom-filename-restrictions.sh
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low, Actions

#42825 Account Protection: Fix wp_login_failed action conflict
  projects/packages/account-protection/changelog/fix-account-protection-wp-login-failed-action-conflict
  projects/packages/account-protection/src/class-account-protection.php
  projects/packages/account-protection/src/class-config.php
  projects/packages/account-protection/src/class-password-detection.php
  projects/packages/account-protection/tests/php/Password_Detection_Test.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] WAF, [Tests] Includes Tests, [Package] Account Protection

#42830 Backport releases of packages/account-protection 0.2.0 and packages/waf 0.24.1
  projects/js-packages/api/CHANGELOG.md
  projects/js-packages/api/package.json
  projects/js-packages/base-styles/CHANGELOG.md
  projects/js-packages/base-styles/package.json
  projects/js-packages/boost-score-api/CHANGELOG.md
  projects/js-packages/boost-score-api/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-wordpress-monorepo
  projects/js-packages/connection/package.json
  projects/js-packages/critical-css-gen/changelog/force-a-release
  projects/js-packages/i18n-loader-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/renovate-wordpress-monorepo
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/renovate-wordpress-monorepo
  projects/js-packages/idc/package.json
  projects/js-packages/react-data-sync-client/changelog/force-a-release
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-wordpress-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/account-protection/CHANGELOG.md
  projects/packages/account-protection/changelog/fix-account-protection-wp-login-failed-action-conflict
  projects/packages/account-protection/changelog/fix-brute-force-protection-log-failed-attempt-missing-error-param
  projects/packages/account-protection/composer.json
  projects/packages/account-protection/package.json
  projects/packages/account-protection/src/class-account-protection.php
  projects/packages/assets/CHANGELOG.md
  projects/packages/assets/changelog/renovate-wordpress-monorepo
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/renovate-wordpress-monorepo
  projects/packages/connection/src/class-package-version.php
  projects/packages/plugin-deactivation/changelog/force-a-release
  projects/packages/waf/CHANGELOG.md
  projects/packages/waf/changelog/fix-brute-force-protection-log-failed-attempt-missing-error-param
  projects/plugins/jetpack/changelog/prerelease
  projects/plugins/jetpack/composer.lock
  projects/plugins/protect/changelog/prerelease#3
  projects/plugins/protect/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Connection, [Package] Assets, [Plugin] Jetpack, RNA, [JS Package] Connection, [JS Package] Components, [JS Package] API, [JS Package] Base Styles, [JS Package] IDC, [JS Package] Webpack Config, [JS Package] I18n Loader Webpack Plugin, [Package] WAF, [Plugin] Protect, [Package] Plugin Deactivation, [JS Package] Boost Score Api, [JS Package] Critical Css Gen, [JS Package] React Data Sync Client, [Package] Account Protection

#42832 Fix pnpmfile hack for dataviews change-case dep
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: [Type] Bug, [Status] Needs Review, [Pri] BLOCKER

#42828 Forms: Update Creative Mail integration to hooks
  projects/packages/forms/changelog/update-forms-creative-mail-to-hooks
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42838 Changelogger: Allow beta.2 suffix in WordPress versioning
  projects/packages/changelogger/changelog/fix-changelogger-allow_beta_dot_version
  projects/packages/changelogger/src/Plugins/WordpressVersioning.php
  projects/packages/changelogger/tests/php/tests/src/Plugins/WordpressVersioningTest.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Changelogger, [Tests] Includes Tests

#42833 Backport 14.5-beta.2 changes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#42788 Jetpack Newsletter: Set the post access level to everyone when deleting the paywall block.
  projects/plugins/jetpack/changelog/update-post-access-when-deleting-paywall
  projects/plugins/jetpack/extensions/blocks/paywall/edit.js
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, [Plugin] Jetpack, [Block] Paywall

#42601 Star Rating: Fix color control padding and copy
  projects/plugins/jetpack/changelog/fix-star-rating-color-control-padding-and-copy
  projects/plugins/jetpack/extensions/blocks/rating-star/edit.js
Labels: [Type] Bug, [Status] Needs Review, [Block] Star Rating, [Plugin] Jetpack

#42814 Search menu registration: allow child classes to modify priority
  projects/packages/search/changelog/fix-jetpack-menu-simple
  projects/packages/search/src/dashboard/class-dashboard.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, [Feature] Search, nav-unification, [Package] Search

#42672 Remove What's New from the Help Center in WoA sites.
  projects/packages/jetpack-mu-wpcom/changelog/remove-whats-new
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-dot-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-list-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
Labels: [Status] In Progress, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Whats New

#42856 Boost: Fix missing status code when generation fails due to a 404
  projects/js-packages/critical-css-gen/changelog/fix-boost-critical-css-no-404-status-code
  projects/js-packages/critical-css-gen/src/browser-interface-iframe.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/raw-error/raw-error.tsx
  projects/plugins/boost/changelog/fix-boost-critical-css-no-404-status-code
Labels: [Type] Bug, [Status] Needs Review, RNA, [Plugin] Boost, [Boost Feature] Critical CSS, [JS Package] Critical Css Gen, I don't care about code coverage for this PR

#42778 Slideshow: Prevent scrollable content when using block-based themes
  projects/plugins/jetpack/changelog/fix-slideshow-block-scrollable-content
  projects/plugins/jetpack/extensions/blocks/slideshow/slideshow.js
Labels: [Type] Bug, [Status] Needs Review, [Block] Slideshow, [Plugin] Jetpack

#42859 Remove What's New from the Help Center in WoA sites
  projects/packages/jetpack-mu-wpcom/changelog/remove-whats-new-2
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom

#42862 Typekit Custom Fonts: update to version 2.0.2
  projects/plugins/wpcomsh/changelog/update-custom-fonts-typekit
  projects/plugins/wpcomsh/changelog/update-custom-fonts-typekit#2
  projects/plugins/wpcomsh/composer.lock
Labels: General, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] Wpcomsh

#42793 Add/testimonial font family and change generical css testimonial name
  projects/packages/my-jetpack/_inc/components/testimonials/index.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/style.scss
  projects/packages/my-jetpack/changelog/add-testimonial-font-family-and-change-generical-css-testimonial-name
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Package] My Jetpack

#42841 State: fix typo in newsletter state
  projects/plugins/jetpack/_inc/client/README.md
  projects/plugins/jetpack/_inc/client/newsletter/email-settings.jsx
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/changelog/fix-correct-typo-in-newsletter-state
Labels: [Type] Bug, [Feature] Subscriptions, Docs, [Status] Ready to Merge, Admin Page, [Pri] Low, [Plugin] Jetpack

#42314 feat: Block editor assets endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-block-editor-assets.php
  projects/plugins/jetpack/changelog/add-block-editor-assets-endpoint
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/WPCOM_REST_API_V2_Endpoint_Block_Editor_Assets_Test.php
Labels: [Status] Needs Review, [Feature] WP REST API, [Plugin] Jetpack, [Tests] Includes Tests, [Type] Feature

#42842 pnpmfile: Better hack for `@wordpress/dataviews`
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#42851 Renovate: add reviewers for WP-DataViews package updates
  .github/renovate.json5
Labels: [Type] Enhancement, [Status] Needs Review

#42752 codesniffer: Document custom sniffs
  composer.lock
  projects/packages/codesniffer/.gitattributes
  projects/packages/codesniffer/Jetpack/Sniffs/Functions/I18nSniff.php
  projects/packages/codesniffer/README.md
  projects/packages/codesniffer/changelog/add-codesniffer-sniff-docs
  projects/packages/codesniffer/check-docs.sh
  projects/packages/codesniffer/composer.json
  projects/packages/codesniffer/docs/Jetpack.Constants.MasterUserConstant.md
  projects/packages/codesniffer/docs/Jetpack.Functions.I18n.md
  projects/packages/codesniffer/docs/Jetpack.Functions.SetCookie.md
  projects/packages/codesniffer/docs/Jetpack.PHPUnit.TestClassName.md
  projects/packages/codesniffer/docs/Jetpack.PHPUnit.UseTestCase.md
Labels: [Type] Enhancement, Docs, [Status] Needs Review, [Pri] Normal, [Package] Codesniffer

#42827 Fix/copy on jetpack onboarding testimonials
  projects/packages/my-jetpack/_inc/components/testimonials/index.tsx
  projects/packages/my-jetpack/changelog/fix-copy-on-jetpack-onboarding-testimonials
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#42837 Write Brief: Add Harper support feature flag
  projects/plugins/jetpack/changelog/add-jetpack-ai-write-brief-with-harper-flag
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant, [Type] Feature, Coverage tests to be added later

#42867 Added combined coverage data upload.
  .github/files/coverage-munger/upload-coverage.sh
Labels: [Status] Needs Review, [Type] Janitorial, Actions

#42733 Stylelint: Ignore certain files
  .stylelintignore
Labels: [Status] Needs Review, [Type] Janitorial

#42863 Backport jetpack 14.5 changes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#42871 Reset to-test.md for Jetpack 14.6
  projects/plugins/jetpack/changelog/update-jetpack-reset_to-test.md_for_14.6
  projects/plugins/jetpack/to-test.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#42875 Tests: Check for assets file before including it
  projects/plugins/jetpack/changelog/fix-tests-prevent_include_on_missing_file
  projects/plugins/jetpack/modules/photon-cdn.php
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack

#42765 RDV: Force treatment group for everyone on WPCom
  projects/packages/jetpack-mu-wpcom/changelog/add-force-rdv-true-by-default
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-menu/wpcom-admin-menu.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-options-general/options-general.php
  projects/packages/masterbar/changelog/add-force-rdv-true-by-default
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Menu, [mu wpcom Feature] Wpcom Options General

#42860 Remove What's New files
  projects/packages/jetpack-mu-wpcom/changelog/remove-whats-new-files
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-dot-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-list-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Whats New

#42883 Forms: Fix responses management compatibility with 6.6
  projects/packages/forms/changelog/fix-forms-dataviews-with-6-6
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/dataviews/views.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Package] Forms

#42888 Revert "Remove What's New files"
  projects/packages/jetpack-mu-wpcom/changelog/remove-whats-new-files
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-dot-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-list-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
Labels: [Status] Needs Review, [Package] Jetpack mu wpcom, [Type] Revert, [mu wpcom Feature] Wpcom Whats New

#42839 Update tracks event context for wpadmin-dashboard-widget
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-dashboard-widget-context
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-dashboard-widgets.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-dashboard-widgets/wpcom-launchpad-widget/index.js
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Dashboard Widgets

#42893 Remove/whats new files 2
  projects/packages/jetpack-mu-wpcom/changelog/remove-whats-new-files-2
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-dot-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/class-wp-rest-wpcom-block-editor-whats-new-list-controller.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-whats-new/wpcom-whats-new.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Whats New

#42878 Forms: Use single endpoint request for all integration data
  projects/packages/forms/changelog/add-forms-all-integrations-endpoint
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integration-panel.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/plugins/jetpack/changelog/add-forms-all-integrations-endpoint
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42874 Forms: Add consent toggle to Creative Mail card
  projects/packages/forms/changelog/update-move-creative-mail-consent-toggle
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42805 Jetpack SEO Enhancer: change auto-generation to-do list
  projects/plugins/jetpack/changelog/fix-jetpack-seo-enhancer-generation-task-list
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer-task-list.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/style.scss
Labels: [Feature] SEO Tools, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42894 Stylelint: Disable all rules temporarily
  .github/workflows/linting.yml
  tools/js-tools/stylelint.config.base.mjs
Labels: [Status] Needs Review, [Type] Janitorial, Actions, [Plugin] Jetpack

#42900 Backport automattic-for-agencies-client 0.5.0 Changes
  projects/packages/plugin-deactivation/CHANGELOG.md
  projects/packages/plugin-deactivation/changelog/force-a-release
  projects/packages/plugin-deactivation/package.json
  projects/packages/plugin-deactivation/src/class-deactivation-handler.php
  projects/plugins/automattic-for-agencies-client/CHANGELOG.md
  projects/plugins/automattic-for-agencies-client/automattic-for-agencies-client.php
  projects/plugins/automattic-for-agencies-client/changelog/add-display-connection-status-users-page
  projects/plugins/automattic-for-agencies-client/changelog/add-magic-link-connection
  projects/plugins/automattic-for-agencies-client/changelog/chore-upgrade-calypso-color-scheme
  projects/plugins/automattic-for-agencies-client/changelog/feat-move-external-media-to-package
  projects/plugins/automattic-for-agencies-client/changelog/fix-bad-npm-package-names
  projects/plugins/automattic-for-agencies-client/changelog/fix-disconnect-owner-disconnect-all
  projects/plugins/automattic-for-agencies-client/changelog/fix-functionify_and_statusify_exit_and_die
  projects/plugins/automattic-for-agencies-client/changelog/fix-rename-plugin-tests-for-phpunit-11
  projects/plugins/automattic-for-agencies-client/changelog/prerelease
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#10
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#11
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#12
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#2
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#3
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#4
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#5
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#6
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#7
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#8
  projects/plugins/automattic-for-agencies-client/changelog/prerelease#9
  projects/plugins/automattic-for-agencies-client/changelog/renovate-babel-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-js-unit-testing-packages
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance#2
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance#3
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance#4
  projects/plugins/automattic-for-agencies-client/changelog/renovate-npm-babel-runtime-vulnerability
  projects/plugins/automattic-for-agencies-client/changelog/renovate-webpack-cli-6.x
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo#2
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo#3
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo#4
  projects/plugins/automattic-for-agencies-client/changelog/try-one-wordpress-to-rule-them-all
  projects/plugins/automattic-for-agencies-client/changelog/update-changelogger-and-stub-generator-require-composer-2-2
  projects/plugins/automattic-for-agencies-client/changelog/update-package-hook-registration-organization
  projects/plugins/automattic-for-agencies-client/changelog/update-phpunit-11
  projects/plugins/automattic-for-agencies-client/changelog/update-tested-to-6-8
  projects/plugins/automattic-for-agencies-client/changelog/update-use-phpunit-select-config-and-cleanup
  projects/plugins/automattic-for-agencies-client/composer.json
  projects/plugins/automattic-for-agencies-client/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Plugin Deactivation, [Plugin] Automattic For Agencies Client

#42903 Forms: Add header, body, button components for integrations modal
  projects/packages/forms/changelog/update-refactor-form-integration-cards
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card-body.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card-header.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/plugin-action-button.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42904 Jetpack SEO Enhancer: cancel edits if post is published
  projects/plugins/jetpack/changelog/fix-jetpack-seo-enhancer-cancel-requests-for-published-posts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
Labels: [Feature] SEO Tools, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42909 Backport beta 4.1.2 Changes
  projects/plugins/beta/CHANGELOG.md
  projects/plugins/beta/changelog/fix-functionify_and_statusify_exit_and_die
  projects/plugins/beta/changelog/fix-php-dollar-brace-deprecations
  projects/plugins/beta/changelog/prerelease
  projects/plugins/beta/changelog/renovate-composer-semver-3.x
  projects/plugins/beta/changelog/renovate-lock-file-maintenance
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#2
  projects/plugins/beta/changelog/renovate-lock-file-maintenance#3
  projects/plugins/beta/changelog/try-one-wordpress-to-rule-them-all
  projects/plugins/beta/changelog/update-changelogger-and-stub-generator-require-composer-2-2
  projects/plugins/beta/changelog/update-eslint-9
  projects/plugins/beta/changelog/update-phpunit-11
  projects/plugins/beta/changelog/update-use-phpunit-select-config-and-cleanup
  projects/plugins/beta/composer.json
  projects/plugins/beta/jetpack-beta.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Beta

#42905 Write Brief: Add initial Harper linting
  pnpm-lock.yaml
  projects/plugins/jetpack/changelog/update-jetpack-ai-write-brief-with-harper
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/_features.colors.scss
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/grammar/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/register-format.ts
  projects/plugins/jetpack/package.json
Labels: [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin, [Feature] AI, [Type] Feature, Coverage tests to be added later

#42907 Jetpack SEO Enhancer: fix auto generation trigger all features
  projects/plugins/jetpack/changelog/fix-jetpack-seo-enhancer-auto-triggers-all-features
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
Labels: [Type] Bug, [Feature] SEO Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42899 Jetpack SEO Enhancer: fix post publish panel styles
  projects/plugins/jetpack/changelog/fix-jetpack-seo-enahncer-post-publish-panel
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer-task-list.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-enhancer.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/seo-summary.tsx
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/style.scss
Labels: [Feature] SEO Tools, [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42754 Tooling: Rsync, fix circular dependencies
  tools/cli/commands/rsync.js
Labels: [Status] Needs Author Reply, [Tools] Development CLI

#42869 Subscribe block: Match front-end wrapping behavior
  projects/plugins/jetpack/changelog/fix-subscribe-block-responsiveness
  projects/plugins/jetpack/extensions/blocks/subscriptions/view.scss
Labels: [Status] Needs Author Reply, [Block] Subscriptions, [Plugin] Jetpack, Bug

#42908 Forms: Move shared form integration card logic
  projects/packages/forms/changelog/update-forms-integration-card-body
  projects/packages/forms/src/blocks/contact-form/components/hooks/usePluginInstallation.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card-body.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/plugin-action-button.js
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42891 Boost: Fix Image Guide state not resetting
  projects/plugins/boost/app/assets/src/js/features/image-guide/image-guide.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/changelog/fix-boost-isa-guide-state-resetting
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost, [Boost Feature] Image Guide, I don't care about code coverage for this PR

#40685 Blocks: update remaining child blocks to API version v3
  projects/plugins/jetpack/changelog/fix-child-blocks-api-version-v3
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/supports.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/save.js
  projects/plugins/jetpack/extensions/blocks/premium-content/login-button/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/save.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/edit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/index.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/save.js
  projects/plugins/jetpack/extensions/shared/simple-input.js
Labels: [Type] Bug, [Pri] Normal, [Focus] Blocks, [Block] Contact Info, [Status] Needs Team Review, [Block] Send a message, [Block] Paid Content, [Plugin] Jetpack, [Block] Recipe, [Tests] Includes Tests, [Block] Blogroll

#42922 Revert "Blocks: update child blocks to API version v3 (#40685)"
  projects/plugins/jetpack/changelog/fix-child-blocks-api-version-v3
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/supports.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/save.js
  projects/plugins/jetpack/extensions/blocks/premium-content/login-button/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/save.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/edit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/index.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/save.js
  projects/plugins/jetpack/extensions/shared/simple-input.js
Labels: [Status] In Progress, [Pri] High, [Focus] Blocks, [Block] Contact Info, [Block] Send a message, [Block] Paid Content, [Plugin] Jetpack, [Block] Recipe, [Tests] Includes Tests, [Block] Blogroll, [Type] Revert

#42925 Jetpack SEO: change panel textareas placeholders copy
  projects/plugins/jetpack/changelog/fix-jetpack-seo-meta-panels-placeholders-copy
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
  projects/plugins/jetpack/extensions/plugins/seo/counted-textarea.js
  projects/plugins/jetpack/extensions/plugins/seo/description-panel.js
  projects/plugins/jetpack/extensions/plugins/seo/title-panel.js
Labels: [Type] Enhancement, [Feature] SEO Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42898 MU: Add CSS monkey patches WP.com feature
  projects/packages/jetpack-mu-wpcom/changelog/fix-add-misc-css
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/css-monkey-patches/README.md
  projects/packages/jetpack-mu-wpcom/src/features/css-monkey-patches/index.php
  projects/packages/jetpack-mu-wpcom/src/features/css-monkey-patches/jetpack-elementor-fix.css
Labels: [Status] Needs Author Reply, [Status] In Progress, Docs, [Package] Jetpack mu wpcom, [mu wpcom Feature] Css Monkey Patches

#42918 Forms: Reorganize forms modal code
  projects/packages/forms/changelog/update-reorganize-forms-modal
  projects/packages/forms/src/blocks/contact-form/components/hooks/index.js
  projects/packages/forms/src/blocks/contact-form/components/hooks/useIntegrationStatus.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integration-panel.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/hooks/useIntegrationsStatus.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/hooks/usePluginInstallation.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/index.scss
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-body.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/plugin-action-button.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42930 Forms: Update integration card header controls
  projects/packages/forms/changelog/add-integration-card-header-details
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/plugin-action-button.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/style.scss
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42927 Backport super-cache 2.0.1 Changes
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/fix-donotcachepage-constant-already-defined-php-warning
  projects/plugins/super-cache/changelog/fix-functionify_and_statusify_exit_and_die
  projects/plugins/super-cache/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/super-cache/changelog/prerelease
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#2
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#3
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#4
  projects/plugins/super-cache/changelog/renovate-npm-axios-vulnerability
  projects/plugins/super-cache/changelog/renovate-typescript-5.x
  projects/plugins/super-cache/changelog/try-one-wordpress-to-rule-them-all
  projects/plugins/super-cache/changelog/update-changelogger-and-stub-generator-require-composer-2-2
  projects/plugins/super-cache/changelog/update-phpunit-11
  projects/plugins/super-cache/changelog/update-super-cache-min-wp-version-6-6
  projects/plugins/super-cache/changelog/update-super-cache-version-numbers
  projects/plugins/super-cache/changelog/update-use-phpunit-select-config-and-cleanup
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Super Cache

#42845 Forms: file field show error and progress
  projects/packages/forms/changelog/fix-file-field-errors
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/css/file-field.css
  projects/packages/forms/src/modules/file-field/view.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#42910 Onboarding: improve testimonial styles
  projects/js-packages/base-styles/changelog/update-onboarding-testimonial-styles
  projects/js-packages/base-styles/root-variables.scss
  projects/packages/my-jetpack/_inc/components/testimonials/index.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/style.scss
  projects/packages/my-jetpack/changelog/update-onboarding-testimonial-styles
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Base Styles, [Package] My Jetpack

#42817 Fix TS type checking
  .github/workflows/tests.yml
  package.json
  pnpm-lock.yaml
  projects/js-packages/ai-client/changelog/fix-ts-type-checking
  projects/js-packages/ai-client/package.json
  projects/js-packages/charts/changelog/fix-ts-type-checking
  projects/js-packages/charts/package.json
  projects/js-packages/charts/src/components/line-chart/test/line-chart.test.tsx
  projects/js-packages/charts/src/components/pie-chart/test/pie-chart.test.tsx
  projects/js-packages/components/changelog/fix-ts-type-checking
  projects/js-packages/components/package.json
  projects/js-packages/number-formatters/changelog/fix-ts-type-checking
  projects/js-packages/number-formatters/package.json
  projects/js-packages/publicize-components/changelog/fix-ts-type-checking
  projects/js-packages/publicize-components/package.json
  projects/js-packages/publicize-components/src/components/schedule-button/test/index.test.tsx
  projects/js-packages/scan/changelog/fix-ts-type-checking
  projects/js-packages/scan/package.json
  projects/plugins/jetpack/changelog/fix-ts-type-checking
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/package.json
Labels: [Feature] Publicize, [Status] Needs Review, Actions, [Type] Infrastructure, [Plugin] Jetpack, RNA, [JS Package] Components, [Tools] Monorepo Setup, [JS Package] Publicize Components, [Tests] Includes Tests, [JS Package] AI Client, [JS Package] Scan, [JS Package] Charts, [JS Package] Number Formatters

#42937 number-formatters: `1.0.0-alpha.1` release
  projects/js-packages/number-formatters/CHANGELOG.md
  projects/js-packages/number-formatters/changelog/fix-ts-type-checking
  projects/js-packages/number-formatters/changelog/renovate-typescript-5.x
  projects/js-packages/number-formatters/changelog/update-i18n-number-formatters-fallback-locale
  projects/js-packages/number-formatters/changelog/update-i18n-number-formatters-package
  projects/js-packages/number-formatters/package.json
Labels: [Type] Janitorial, RNA, [Status] Needs JS Package Release, [JS Package] Number Formatters

#42929 Blocks: update child blocks to API version v3, take 2
  projects/plugins/jetpack/changelog/fix-child-blocks-api-version-v3
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/attributes.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/deprecated/v1/supports.js
  projects/plugins/jetpack/extensions/blocks/blogroll/blogroll-item/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/address/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/email/test/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/edit.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/index.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/save.js
  projects/plugins/jetpack/extensions/blocks/contact-info/phone/test/edit.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/logged-out-view/save.js
  projects/plugins/jetpack/extensions/blocks/premium-content/login-button/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/index.js
  projects/plugins/jetpack/extensions/blocks/premium-content/subscriber-view/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/details/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/hero/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredient-item/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/ingredients-list/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/step/save.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/edit.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/index.js
  projects/plugins/jetpack/extensions/blocks/recipe/steps/save.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/edit.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/index.js
  projects/plugins/jetpack/extensions/blocks/send-a-message/whatsapp-button/save.js
  projects/plugins/jetpack/extensions/shared/simple-input.js
Labels: [Type] Bug, [Status] In Progress, [Pri] Normal, [Focus] Blocks, [Block] Contact Info, [Block] Send a message, [Block] Paid Content, [Plugin] Jetpack, [Block] Recipe, [Tests] Includes Tests, [Block] Blogroll, I don't care about code coverage for this PR

#42942 Forms: Fix integration card toggle styles
  projects/packages/forms/changelog/fix-integration-card-header-toggle
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42912 Likes: unify likes-master rendering between wpcom and Jetpack
  projects/plugins/jetpack/changelog/unify-likes-master-render
  projects/plugins/jetpack/extensions/blocks/like/like.php
  projects/plugins/jetpack/modules/likes.php
Labels: [Feature] Likes, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [Block] Like

#42936 Likes: remove unused liked/like CSS class
  projects/plugins/jetpack/changelog/likes-remove-liked-css
  projects/plugins/jetpack/modules/likes/queuehandler.js
Labels: [Feature] Likes, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#42944 Stylelint: Clean up issues introduced before check was required
  projects/packages/my-jetpack/_inc/components/testimonials/style.scss
  projects/packages/my-jetpack/changelog/fix-stylelint-required_cleanup
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#42946 Backport vaultpress 4.0.1 Changes
  projects/plugins/vaultpress/CHANGELOG.md
  projects/plugins/vaultpress/changelog/fix-functionify_and_statusify_exit_and_die
  projects/plugins/vaultpress/changelog/fix-phan-PhanParamTooMany
  projects/plugins/vaultpress/changelog/fix-phan-PhanUndeclaredProperty
  projects/plugins/vaultpress/changelog/fix-stylelint-newline_reqs
  projects/plugins/vaultpress/changelog/fix-update-remaining-phpunit-xml-files
  projects/plugins/vaultpress/changelog/patch-37326
  projects/plugins/vaultpress/changelog/prerelease
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#2
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#3
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#4
  projects/plugins/vaultpress/changelog/try-one-wordpress-to-rule-them-all
  projects/plugins/vaultpress/changelog/update-changelogger-and-stub-generator-require-composer-2-2
  projects/plugins/vaultpress/changelog/update-phpunit-11
  projects/plugins/vaultpress/changelog/update-tested-to-6-8
  projects/plugins/vaultpress/changelog/update-use-phpunit-select-config-and-cleanup
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] VaultPress

#42945 Forms: Fix integrations modal tracks events
  projects/packages/forms/changelog/fix-form-integrations-tracks-events
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/hooks/usePluginInstallation.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#42949 Backport videopress 2.3 Changes
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/fix-stylelint-required_cleanup
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/videopress/CHANGELOG.md
  projects/plugins/videopress/changelog/add-display-connection-status-users-page
  projects/plugins/videopress/changelog/add-link-onboarding-screen-disconnected-users
  projects/plugins/videopress/changelog/add-magic-link-connection
  projects/plugins/videopress/changelog/add-next40pxdefaultsize-to-controls-1
  projects/plugins/videopress/changelog/add-onboarding-screen
  projects/plugins/videopress/changelog/add-replace-video-for-media-text
  projects/plugins/videopress/changelog/add-title-to-videopress-attachment-view
  projects/plugins/videopress/changelog/clean-extra-composer-things
  projects/plugins/videopress/changelog/feat-move-external-media-to-package
  projects/plugins/videopress/changelog/fix-bad-npm-package-names
  projects/plugins/videopress/changelog/fix-disconnect-owner-disconnect-all
  projects/plugins/videopress/changelog/fix-functionify_and_statusify_exit_and_die
  projects/plugins/videopress/changelog/fix-transformer-breaking-multiple-file-upload
  projects/plugins/videopress/changelog/fix-videopress-block-classic-themes
  projects/plugins/videopress/changelog/fix-videopress-block-undo
  projects/plugins/videopress/changelog/prerelease
  projects/plugins/videopress/changelog/prerelease#10
  projects/plugins/videopress/changelog/prerelease#11
  projects/plugins/videopress/changelog/prerelease#12
  projects/plugins/videopress/changelog/prerelease#13
  projects/plugins/videopress/changelog/prerelease#14
  projects/plugins/videopress/changelog/prerelease#15
  projects/plugins/videopress/changelog/prerelease#16
  projects/plugins/videopress/changelog/prerelease#17
  projects/plugins/videopress/changelog/prerelease#2
  projects/plugins/videopress/changelog/prerelease#3
  projects/plugins/videopress/changelog/prerelease#4
  projects/plugins/videopress/changelog/prerelease#5
  projects/plugins/videopress/changelog/prerelease#6
  projects/plugins/videopress/changelog/prerelease#7
  projects/plugins/videopress/changelog/prerelease#8
  projects/plugins/videopress/changelog/prerelease#9
  projects/plugins/videopress/changelog/renovate-babel-monorepo
  projects/plugins/videopress/changelog/renovate-lock-file-maintenance
  projects/plugins/videopress/changelog/renovate-lock-file-maintenance#2
  projects/plugins/videopress/changelog/renovate-lock-file-maintenance#3
  projects/plugins/videopress/changelog/renovate-npm-babel-runtime-vulnerability
  projects/plugins/videopress/changelog/renovate-webpack-cli-6.x
  projects/plugins/videopress/changelog/renovate-wordpress-monorepo
  projects/plugins/videopress/changelog/renovate-wordpress-monorepo#2
  projects/plugins/videopress/changelog/renovate-wordpress-monorepo#3
  projects/plugins/videopress/changelog/renovate-wordpress-monorepo#4
  projects/plugins/videopress/changelog/try-one-wordpress-to-rule-them-all
  projects/plugins/videopress/changelog/update-changelogger-and-stub-generator-require-composer-2-2
  projects/plugins/videopress/changelog/update-lock-file
  projects/plugins/videopress/changelog/update-package-hook-registration-organization
  projects/plugins/videopress/changelog/update-phpunit-11
  projects/plugins/videopress/changelog/update-tested-to-6-8
  projects/plugins/videopress/changelog/update-unowned-section-to-list
  projects/plugins/videopress/changelog/update-use-phpunit-select-config-and-cleanup
  projects/plugins/videopress/composer.json
  projects/plugins/videopress/jetpack-videopress.php
  projects/plugins/videopress/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Package] My Jetpack, [Plugin] VideoPress

#42948 js-packages: Add npm keywords for some utility packages
  projects/js-packages/babel-plugin-replace-textdomain/changelog/add-js-package-utility-keywords
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/eslint-changed/changelog/add-js-package-utility-keywords
  projects/js-packages/eslint-changed/package.json
  projects/js-packages/eslint-config-target-es/changelog/add-js-package-utility-keywords
  projects/js-packages/eslint-config-target-es/package.json
  projects/js-packages/i18n-check-webpack-plugin/changelog/add-js-package-utility-keywords
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/i18n-loader-webpack-plugin/changelog/add-js-package-utility-keywords
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/remove-asset-webpack-plugin/changelog/add-js-package-utility-keywords
  projects/js-packages/remove-asset-webpack-plugin/package.json
Labels: [Status] In Progress, [Status] Needs Review, [Type] Janitorial, [Pri] Low, RNA, [JS Package] Eslint Changed, [JS Package] Eslint Config Target Es, [JS Package] Remove Asset Webpack Plugin, [JS Package] I18n Loader Webpack Plugin, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin

#42897 Jetpack Search: fix errors caused by malformed order arguments
  projects/packages/search/changelog/fix-jetpack-search-orderby-array-fatal
  projects/packages/search/src/widgets/class-search-widget.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] Search, [Package] Search

#42955 Jetpack SEO Enhancer: fix manual trigger on published posts
  projects/plugins/jetpack/changelog/fix-jetpack-seo-enhancer-manual-trigger-published-post
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/use-seo-requests.ts
Labels: [Type] Bug, [Feature] SEO Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42853 Site Visibility: Disable search engines indexing for sites with wpcomstaging.com domain
  projects/packages/jetpack-mu-wpcom/changelog/feat-staging-domain-disable-search-engines
  projects/packages/jetpack-mu-wpcom/src/features/replace-site-visibility/site-visibility/index.tsx
  projects/plugins/mu-wpcom-plugin/changelog/feat-staging-domain-disable-search-engines
  projects/plugins/wpcomsh/changelog/feat-staging-domain-disable-search-engines
Labels: [Status] In Progress, [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Replace Site Visibility

#42847 Update JavaScript unit test docs
  docs/development-environment.md
Labels: [Status] Needs Author Reply, [Status] In Progress, Docs, [Type] Janitorial

#42914 E2E Tests: Suggest UI mode in docs before headed or debug modes
  projects/plugins/jetpack/changelog/update-e2e-docs-suggesting-ui-mode
  projects/plugins/jetpack/tests/e2e/README.md
  projects/plugins/search/changelog/update-e2e-docs-suggesting-ui-mode
  projects/plugins/search/tests/e2e/README.md
  projects/plugins/social/changelog/update-e2e-docs-suggesting-ui-mode
  projects/plugins/social/tests/e2e/README.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial, E2E Tests, [Plugin] Jetpack, [Plugin] Search, [Plugin] Social, [Tests] Includes Tests

#42913 E2E Tests: Fix jetpack connection util assuming 'wordpress' is the correct site username
  tools/e2e-commons/env/prerequisites.js
Labels: [Type] Bug, [Status] Needs Team Review, E2E Tests, Bug

#42593 Social: Add Share Status support for WPCOM sites
  projects/js-packages/publicize-components/changelog/add-social-wpcom-share-status-support
  projects/js-packages/publicize-components/src/social-store/resolvers.ts
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/add-social-wpcom-share-status-support
  projects/packages/publicize/src/class-publicize-script-data.php
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/class-publicize.php
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/src/class-share-status.php
  projects/packages/publicize/src/rest-api/class-share-status-controller.php
  projects/plugins/jetpack/changelog/add-social-wpcom-share-status-support
  projects/plugins/social/changelog/add-social-wpcom-share-status-support
Labels: [Feature] Publicize, [Status] In Progress, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [Type] Feature, Coverage tests to be added later

#42959 My Jetpack: Add onboarding error logging
  projects/packages/my-jetpack/_inc/hooks/use-oauth-connection/index.ts
  projects/packages/my-jetpack/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/backup/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/boost/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/jetpack/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/protect/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/search/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/social/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/starter-plugin/changelog/add-JETPACK-286-onboarding-email-error-logging
  projects/plugins/videopress/changelog/add-JETPACK-286-onboarding-email-error-logging
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#39545 Social: Disable retry in share status when resharing is not supported
  projects/js-packages/publicize-components/changelog/update-social-disable-retry-in-share-status-when-resharing-is-not-supported
  projects/js-packages/publicize-components/src/components/share-status/retry.tsx
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components, I don't care about code coverage for this PR

#42963 Social: Remove the unused share status endpoint
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-publicize-share-status.php
  projects/plugins/jetpack/changelog/update-social-remove-unused-share-status-endpoint
Labels: [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack

#42947 Jetpack SEO Enhancer: release to production
  projects/plugins/jetpack/_inc/lib/class.core-rest-api-endpoints.php
  projects/plugins/jetpack/changelog/change-jetpack-seo-enhancer-release-filters
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/index.json
Labels: [Feature] SEO Tools, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] SEO, [Block] AI Assistant, [Type] Feature, Coverage tests to be added later

#42951 Subscriptions: do not show the widget to non-admins
  projects/plugins/jetpack/changelog/fix-newsletter-widget-just-admins
  projects/plugins/jetpack/class-jetpack-newsletter-dashboard-widget.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#42844 Add/default featured image option value
  projects/plugins/jetpack/_inc/client/newsletter/newsletter.jsx
  projects/plugins/jetpack/_inc/client/newsletter/test/component.js
  projects/plugins/jetpack/changelog/add-new-featured-email-option
  projects/plugins/jetpack/modules/subscriptions.php
Labels: [Type] Enhancement, [Feature] Subscriptions, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, [Tests] Includes Tests

#42924 Move I Voted widget from wpcomsh to jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/changelog/update-move-i-voted-widget
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-widgets/class-jetpack-i-voted-widget.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-widgets/wpcom-widgets.php
  projects/plugins/wpcomsh/changelog/update-move-i-voted-widget
  projects/plugins/wpcomsh/widgets/class-jetpack-i-voted-widget.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, Coverage tests to be added later, [mu wpcom Feature] Wpcom Widgets

#42968 Forms: center the pattern button within forms placeholder
  projects/packages/forms/changelog/update-forms-pattern-button-center
  projects/packages/forms/src/blocks/contact-form/editor.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#41147 Add/button block border support
  projects/plugins/jetpack/changelog/add-button-block-border-support
  projects/plugins/jetpack/extensions/blocks/button/button.php
  projects/plugins/jetpack/extensions/blocks/button/edit.js
  projects/plugins/jetpack/extensions/blocks/button/index.js
  projects/plugins/jetpack/extensions/blocks/button/save.js
  projects/plugins/jetpack/extensions/blocks/button/view.scss
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Status] Needs Team Review, [Block] Button, [Plugin] Jetpack, I don't care about code coverage for this PR

#42960 Color Scheme: Clean up *-rgb css variables
  projects/packages/masterbar/changelog/chore-clean-up-rgb-css-variables
  projects/packages/masterbar/src/admin-color-schemes/colors/_inline-help.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/aquatic/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/blue/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-blue/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-bright/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/classic-dark/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/coffee/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/contrast/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/ectoplasm/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/fresh/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/light/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/midnight/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/modern/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/nightfall/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/ocean/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/powder-snow/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sakura/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sunrise/_variables.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/sunset/_variables.scss
  projects/packages/masterbar/src/inline-help/inline-help.css
  projects/plugins/jetpack/changelog/chore-clean-up-rgb-css-variables
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/editor.scss
  projects/plugins/mu-wpcom-plugin/changelog/chore-clean-up-rgb-css-variables
  projects/plugins/wpcomsh/changelog/chore-clean-up-rgb-css-variables
Labels: [Type] Enhancement, [Status] Needs Review, [Type] Janitorial, [Feature] Masterbar, [Block] Tiled Gallery, [Plugin] Jetpack, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Masterbar

#42977 Fix cookie consent switch padding
  projects/packages/jetpack-mu-wpcom/changelog/fix-verbum-cookie-consent-padding
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/style.scss
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments

#42674 Connection: display warning when connected email is used
  projects/packages/connection/changelog/add-account-mismatch-error
  projects/packages/connection/src/class-manager.php
  projects/packages/connection/src/class-rest-connector.php
  projects/packages/connection/src/class-user-account-status.php
  projects/packages/connection/tests/php/ManagerTest.php
  projects/packages/connection/tests/php/REST_Connector_Test.php
  projects/packages/connection/tests/php/REST_Endpoints_Test.php
  projects/packages/connection/tests/php/User_Account_Status_Test.php
  projects/packages/my-jetpack/_inc/components/connection-status-card/index.tsx
  projects/packages/my-jetpack/_inc/components/connection-status-card/styles.module.scss
  projects/packages/my-jetpack/_inc/components/connection-status-card/test/component.tsx
  projects/packages/my-jetpack/changelog/add-account-mismatch-error
Labels: [Type] Enhancement, [Status] Ready to Merge, [Package] Connection, [Package] My Jetpack, [Tests] Includes Tests

#42938 Boost: Add basic LCP module
  projects/plugins/boost/app/assets/src/js/features/lcp/lcp.module.scss
  projects/plugins/boost/app/assets/src/js/features/lcp/lcp.tsx
  projects/plugins/boost/app/assets/src/js/pages/index/index.tsx
  projects/plugins/boost/app/modules/class-features-index.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/add-boost-lcp-module-skeleton
  projects/plugins/boost/tests/php/modules/Features_Index_Test.php
Labels: [Status] Needs Review, Admin Page, [Plugin] Boost, [Tests] Includes Tests, [Type] Feature, Coverage tests to be added later, [Boost Feature] Lcp

#42964 Subscriptions: load dashboard widget within the Subscriptions module
  projects/packages/jetpack-mu-wpcom/.phan/config.php
  projects/packages/jetpack-mu-wpcom/changelog/update-newsletter-dashboard-widget-registration
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-newsletter-widget/wpcom-newsletter-widget.php
  projects/plugins/jetpack/changelog/update-newsletter-dashboard-widget-registration
  projects/plugins/jetpack/class-jetpack-newsletter-dashboard-widget.php
  projects/plugins/jetpack/class.jetpack.php
  projects/plugins/jetpack/modules/subscriptions.php
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/class-jetpack-newsletter-dashboard-widget.php
Labels: [Type] Bug, [Feature] Subscriptions, [Focus] Performance, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Package] Jetpack mu wpcom, I don't care about code coverage for this PR, [mu wpcom Feature] Wpcom Newsletter Widget

#42813 Social icons: update legacy Twitter icon to X icon
  projects/packages/classic-theme-helper/changelog/update-twitter-legacy-button-x
  projects/packages/classic-theme-helper/src/social-menu/icon-functions.php
  projects/packages/classic-theme-helper/src/social-menu/social-menu.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/_inc/social-logos/social-logos.min.css
  projects/plugins/jetpack/changelog/update-twitter-legacy-button-x
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
  projects/plugins/jetpack/modules/sharedaddy/admin-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/amp-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.css
  projects/plugins/jetpack/modules/widgets/social-icons.php
Labels: [Feature] Sharing, [Feature] Extra Sidebar Widgets, [Feature] WPCOM API, [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack, [Block] Sharing Buttons, [Block] Sharing Button, [Package] Classic Theme Helper

#42986 Social: Fix share status typo and styling
  projects/js-packages/publicize-components/changelog/fix-social-share-status-styling
  projects/js-packages/publicize-components/src/components/post-publish-share-status/share-status.tsx
  projects/js-packages/publicize-components/src/components/share-status/modal-trigger.tsx
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/js-packages/publicize-components/src/components/social-post-modal/styles.module.scss
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#42975 Write Brief: Fix Harper integration for complex blocks
  projects/plugins/jetpack/changelog/fix-jetpack-ai-write-brief-harper-table
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/features/grammar/index.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/actions.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/reducer.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/store/selectors.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/types.ts
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/breve/utils/register-format.ts
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant Plugin, Coverage tests to be added later

#42989 Subscriptions block: fix email detection
  projects/plugins/jetpack/changelog/fix-subscriptions-block-email-detection
  projects/plugins/jetpack/extensions/blocks/subscriptions/subscriptions.php
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Plugin] Jetpack, I don't care about code coverage for this PR

#42994 Tooling: Address issues with openrsync
  tools/cli/commands/rsync.js
Labels: [Status] Needs Review, [Type] Janitorial, [Tools] Development CLI

#42995 Add a pnpmfile hack for a "latest" dep
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal

#42981 Charts: export DataPoint, DataPointDate and SeriesData types
  projects/js-packages/charts/changelog/update-charts-export-some-types
  projects/js-packages/charts/src/index.ts
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Charts

#42880 My Jetpack: Adding product tour
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/components/onboarding-tour/index.tsx
  projects/packages/my-jetpack/_inc/components/onboarding-tour/styles.scss
  projects/packages/my-jetpack/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/backup/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/boost/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/jetpack/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/protect/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/search/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/social/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/starter-plugin/changelog/update-martech-52-restore-my-jetpack-tour
  projects/plugins/videopress/changelog/update-martech-52-restore-my-jetpack-tour
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#43001 Backport release js-packages/charts CHARTS-1
  projects/js-packages/babel-plugin-replace-textdomain/CHANGELOG.md
  projects/js-packages/babel-plugin-replace-textdomain/changelog/add-js-package-utility-keywords
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/boost-score-api/changelog/force-a-release
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/fix-stylelint-color_rules
  projects/js-packages/charts/changelog/fix-stylelint-font_rules
  projects/js-packages/charts/changelog/fix-stylelint-newline_reqs
  projects/js-packages/charts/changelog/fix-ts-type-checking
  projects/js-packages/charts/changelog/update-charts-export-some-types
  projects/js-packages/charts/package.json
  projects/js-packages/i18n-check-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/add-js-package-utility-keywords
  projects/js-packages/i18n-check-webpack-plugin/changelog/fix-stylelint-color_rules
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/i18n-loader-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-loader-webpack-plugin/changelog/add-js-package-utility-keywords
  projects/js-packages/i18n-loader-webpack-plugin/package.json
  projects/js-packages/shared-extension-utils/changelog/force-a-release
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/package.json
  projects/packages/calypsoify/changelog/force-a-release
  projects/packages/explat/changelog/force-a-release
  projects/packages/post-list/changelog/force-a-release
  projects/packages/subscribers-dashboard/changelog/force-a-release
Labels: [Status] Needs Author Reply, [Feature] Calypsoify, RNA, [Package] Post List, [JS Package] Webpack Config, [JS Package] I18n Loader Webpack Plugin, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin, [JS Package] Shared Extension Utils, [JS Package] Boost Score Api, [Package] Calypsoify, [Package] Explat, [JS Package] Charts, [Package] Subscribers Dashboard

#42984 Remove `default_rendering_mode` hotfix
  projects/packages/jetpack-mu-wpcom/changelog/remove-default_rendering_mode-hotfix
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-hotfixes/wpcom-hotfixes.php
  projects/plugins/mu-wpcom-plugin/changelog/remove-default_rendering_mode-hotfix
  projects/plugins/wpcomsh/changelog/remove-default_rendering_mode-hotfix
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Hotfixes

#42978 Social: Improve share status logic
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/update-social-share-status-logic
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/src/class-share-status.php
  projects/packages/publicize/src/rest-api/class-share-status-controller.php
  projects/packages/publicize/tests/php/Share_Status_Test.php
  projects/plugins/social/changelog/update-social-share-status-logic
  projects/plugins/social/src/class-jetpack-social.php
  projects/plugins/social/src/class-rest-social-note-controller.php
  projects/plugins/social/src/class-social-shares.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] In Progress, [Status] Needs Team Review, [Package] Publicize, [Plugin] Social, [Tests] Includes Tests, I don't care about code coverage for this PR

#42812 Social: Swap to using the My Jetpack Endpoint for product information
  projects/js-packages/publicize-components/changelog/fix-social-pricing-page
  projects/js-packages/publicize-components/src/hooks/use-product-info/index.js
  projects/js-packages/publicize-components/src/hooks/use-product-info/test/index.test.js
  projects/packages/publicize/changelog/fix-social-pricing-page
  projects/packages/publicize/src/class-rest-controller.php
  projects/packages/publicize/tests/php/REST_Controller_Test.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components, [Tests] Includes Tests

#42962 Social: Enable share status for all WPCOM sites
  projects/plugins/wpcomsh/changelog/update-social-enable-share-status-for-all-sites
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Wpcomsh

#42824 Sharing: fix a11y issues in buttons' links
  projects/plugins/jetpack/changelog/fix-sharedaddy-button-a11y
  projects/plugins/jetpack/extensions/blocks/sharing-button/sharing-button.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
  projects/plugins/jetpack/modules/sharedaddy/sharing.css
Labels: [Type] Bug, [Feature] Sharing, [Focus] Accessibility, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Sharing Button

#42965 Enable bulk plugin deactivation
  projects/plugins/wpcomsh/changelog/dotobrd-39-feature-request-bulk-plugin-management-site-by-site
  projects/plugins/wpcomsh/feature-plugins/managed-plugins.php
  projects/plugins/wpcomsh/tests/FunctionsTest.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Type] Task, [Tests] Includes Tests, [Plugin] Wpcomsh

#42499 Admin Bar: Add site badge and plan
  projects/packages/jetpack-mu-wpcom/changelog/add-site-badge-plan-admin-bar
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/wpcom-admin-bar.scss
  projects/packages/masterbar/changelog/remove-site-card
  projects/packages/masterbar/src/admin-color-schemes/colors/_admin.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/_overrides.scss
  projects/packages/masterbar/src/admin-menu/admin-menu.css
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-base-admin-menu.php
  projects/packages/masterbar/src/admin-menu/class-wpcom-admin-menu.php
  projects/packages/masterbar/tests/php/Atomic_Admin_Menu_Test.php
  projects/packages/masterbar/tests/php/WPcom_Admin_Menu_Test.php
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] Masterbar, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [Package] Masterbar, [mu wpcom Feature] Wpcom Admin Bar

#43010 Stylelint: Handle a hodgepodge of heretical rule violations
  projects/js-packages/base-styles/README.md
  projects/js-packages/base-styles/_animations.scss
  projects/js-packages/base-styles/_breakpoints.scss
  projects/js-packages/base-styles/_colors.scss
  projects/js-packages/base-styles/_default-custom-properties.scss
  projects/js-packages/base-styles/_mixins.scss
  projects/js-packages/base-styles/_variables.scss
  projects/js-packages/base-styles/_z-index.scss
  projects/js-packages/base-styles/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/js-packages/connection/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/js-packages/connection/components/connect-screen/layout/style.scss
  projects/js-packages/connection/components/connect-screen/required-plan/style.scss
  projects/js-packages/connection/components/disconnect-dialog/style.scss
  projects/js-packages/licensing/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/js-packages/licensing/components/activation-screen-success-info/primary-link/style.scss
  projects/js-packages/licensing/components/golden-token-modal/styles.module.scss
  projects/js-packages/publicize-components/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/js-packages/publicize-components/src/components/share-status/styles.module.scss
  projects/packages/assets/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/packages/assets/tests/php/test-assets-files/everything.css
  projects/packages/assets/tests/php/test-assets-files/everything.rtl.css
  projects/packages/assets/tests/php/test-assets-files/js-and-css.css
  projects/packages/forms/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/packages/forms/src/contact-form/class-form-view.php
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/masterbar/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/packages/masterbar/src/admin-color-schemes/colors/_admin.scss
  projects/packages/masterbar/src/admin-color-schemes/colors/_overrides.scss
  projects/packages/masterbar/src/admin-menu/admin-menu.css
  projects/packages/my-jetpack/_inc/components/plans-section/style.scss
  projects/packages/my-jetpack/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/packages/videopress/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/packages/videopress/src/client/admin/components/video-grid/stories/broken/style.module.scss
  projects/packages/videopress/src/client/admin/components/video-grid/style.module.scss
  projects/plugins/crm/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/plugins/crm/css/welcome-to-zbs/wizard.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicebuilder.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicepreview.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.listview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.listview.scss
  projects/plugins/crm/sass/_ZeroBSCRM.prevadmincore.scss
  projects/plugins/crm/sass/_wp-semantic-fixes.scss
  projects/plugins/crm/sass/jpcrm-admin-tasks.scss
  projects/plugins/crm/src/js/components/automations-admin/components/edit-modal/styles.module.scss
  projects/plugins/crm/src/js/components/automations-admin/components/trigger-info/styles.module.scss
  projects/plugins/jetpack/_inc/client/components/search/style.scss
  projects/plugins/jetpack/_inc/client/components/select-dropdown/style.scss
  projects/plugins/jetpack/_inc/client/scss/style.scss
  projects/plugins/jetpack/_inc/client/writing/style.scss
  projects/plugins/jetpack/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.css
  projects/plugins/jetpack/scss/wordads-ccpa.scss
  projects/plugins/vaultpress/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/plugins/vaultpress/styles.css
  projects/plugins/wpcomsh/changelog/fix-stylelint-handle_a_hodgepodge_of_heretics
  projects/plugins/wpcomsh/custom-colors/css/colors-control-beta.css
  projects/plugins/wpcomsh/custom-colors/css/colors-control.css
  projects/plugins/wpcomsh/custom-colors/css/rtl/colors-control-rtl.css
  tools/js-tools/stylelint.config.base.mjs
Labels: [Feature] Publicize, [Feature] Carousel, [Feature] Contact Form, Docs, [Status] Needs Review, Admin Page, [Type] Janitorial, [Feature] Masterbar, [Package] Assets, [Plugin] Jetpack, RNA, [JS Package] Connection, [Plugin] VaultPress, [JS Package] Base Styles, [JS Package] Licensing, [Package] My Jetpack, [JS Package] Publicize Components, [Package] VideoPress, [Plugin] CRM, [Package] Forms, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Masterbar

#42956 Updating VideoPress e2e tests for jetpack menu
  projects/plugins/videopress/changelog/fix-e2e-videopress-jetpack-menu
  projects/plugins/videopress/tests/e2e/specs/start.test.js
Labels: [Status] Ready to Merge, [Type] Janitorial, E2E Tests, [Plugin] VideoPress, [Tests] Includes Tests

#43015 Prerelease
  projects/js-packages/number-formatters/CHANGELOG.md
  projects/js-packages/number-formatters/changelog/add-typescript-rewriteRelativeImportExtensions
  projects/js-packages/number-formatters/changelog/update-i18n-number-formatters-build-cjs
  projects/js-packages/number-formatters/package.json
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Type] Janitorial, RNA, [JS Package] Number Formatters

#43011 Forms: Fix render_field should not return null
  projects/packages/forms/changelog/fix-form-field-hook-returns-null
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/plugins/jetpack/changelog/fix-form-field-hook-returns-null
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43017 Forms: Update IntegrationCard markup and style
  projects/packages/forms/changelog/fix-forms-integration-toggle-centering
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/plugin-action-button.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/style.scss
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43020 Forms: Simplify IntegrationCardBody content
  projects/packages/forms/changelog/update-simplify-form-integration-card
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-body.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/jetpack-crm-card.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43025 CLI: ignore pnpm-store
  .gitignore
Labels: [Type] Bug, [Status] Needs Review, [Tools] Development CLI, Reviewer Can Merge

#43004 Update form field style syncing
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/field-checkbox/index.js
  projects/packages/forms/src/blocks/field-consent/index.js
  projects/packages/forms/src/blocks/input/edit.js
  projects/packages/forms/src/blocks/input/index.js
  projects/packages/forms/src/blocks/label/edit.js
  projects/packages/forms/src/blocks/label/index.js
  projects/packages/forms/src/blocks/option/edit.js
  projects/packages/forms/src/blocks/option/index.js
  projects/packages/forms/src/blocks/shared/hooks/use-sync-style-attributes.js
  projects/packages/forms/src/blocks/shared/hooks/use-synced-attributes.js
  projects/packages/forms/src/blocks/shared/settings/index.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43027 Forms: Prevent errors when synced attribute context is not available
  projects/packages/forms/src/blocks/shared/hooks/use-synced-attributes.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43000 Fix blog stats block for simple sites
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/class-jetpack-blog-stats-helper.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-blog-stats.php
  projects/plugins/jetpack/changelog/fix-wpcom-blog-stats-block
  projects/plugins/jetpack/extensions/blocks/blog-stats/blog-stats.php
Labels: [Status] In Progress, [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack, [Platform] Simple, [Block] Blog Stats, Coverage tests to be added later

#43029 Admin Menu: Update the icon of WooCommerce for the woo installation
  projects/packages/masterbar/changelog/fix-admin-menu-woo-icon
  projects/packages/masterbar/src/admin-menu/class-admin-menu.php
  projects/packages/masterbar/tests/php/Admin_Menu_Test.php
  projects/plugins/jetpack/changelog/fix-admin-menu-woo-icon
  projects/plugins/mu-wpcom-plugin/changelog/fix-admin-menu-woo-icon
  projects/plugins/wpcomsh/changelog/fix-admin-menu-woo-icon
Labels: [Type] Enhancement, [Status] Needs Review, [Feature] Masterbar, [Plugin] Jetpack, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Masterbar

#43030 Social: Use siteHasFeature utility for share status feature check
  projects/js-packages/publicize-components/changelog/update-social-use-site-has-feature-for-share-status-check
  projects/js-packages/publicize-components/src/components/global-modals/index.tsx
  projects/js-packages/publicize-components/src/components/panel/index.tsx
  projects/js-packages/publicize-components/src/components/post-publish-share-status/index.tsx
  projects/js-packages/publicize-components/src/components/share-post/index.jsx
  projects/js-packages/publicize-components/src/components/share-status/modal-trigger.tsx
  projects/js-packages/publicize-components/src/social-store/index.ts
  projects/js-packages/publicize-components/src/social-store/resolvers.ts
  projects/js-packages/publicize-components/src/types.ts
  projects/js-packages/publicize-components/src/utils/constants.ts
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#42368 Stats: Init tracking of archive and search pages
  projects/packages/stats/changelog/add-archive-tracking
  projects/packages/stats/src/class-tracking-pixel.php
  projects/packages/stats/tests/php/Tracking_Pixel_Test.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Stats Data, [Tests] Includes Tests, [Type] Feature

#43034 Revert "Social: Enable share status for all WPCOM sites"
  projects/plugins/wpcomsh/changelog/update-social-enable-share-status-for-all-sites
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Author Reply, [Type] Revert, [Plugin] Wpcomsh

#43009 Protect: Replace deprecated ButtonGroup with Flex component
  projects/plugins/protect/changelog/fix-buttongroup-scan
  projects/plugins/protect/src/js/components/button-group/index.jsx
Labels: [Type] Bug, [Status] Needs Review, [Type] Janitorial, [Plugin] Protect

#43012 Jetpack: Remove Jetpack submenu item
  projects/plugins/jetpack/_inc/lib/admin-pages/class.jetpack-react-page.php
  projects/plugins/jetpack/changelog/remove-jetpack-submenu-item
  tools/e2e-commons/pages/wp-admin/sidebar.js
Labels: [Type] Enhancement, [Status] Ready to Merge, Admin Page, E2E Tests, [Plugin] Jetpack

#43038 Updated wc calypso bridge dependency
  projects/plugins/wpcomsh/changelog/update-wc-calypso-bridge-dependency
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Author Reply, [Plugin] Wpcomsh

#42974 Update/consolidate wpcom widgets
  projects/packages/jetpack-mu-wpcom/changelog/update-consolidate-wpcom-widgets
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-widgets/wpcom-widgets.php
  projects/plugins/wpcomsh/changelog/update-consolidate-wpcom-widgets
  projects/plugins/wpcomsh/widgets/class-aboutme-widget.php
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Jetpack mu wpcom, [Plugin] Wpcomsh, I don't care about code coverage for this PR, [mu wpcom Feature] Wpcom Widgets

#42941 Export media files: Update support documentation link.
  projects/packages/jetpack-mu-wpcom/changelog/update-export-doc-url
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-media/wpcom-export-media-files.php
Labels: [Status] Needs Author Reply, [Status] Ready to Merge, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Media

#42940 Stats: add fallback capability for Simple Sites
  projects/packages/stats-admin/changelog/fix-stats-icon-cap-on-simple
  projects/packages/stats-admin/src/class-admin-post-list-column.php
  projects/packages/stats-admin/tests/php/Admin_Post_List_Test.php
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Stats Admin, [Tests] Includes Tests

#43043 Stats: update home tracking pixel
  projects/packages/stats/changelog/update-home-tracking-pixel
  projects/packages/stats/src/class-tracking-pixel.php
  projects/packages/stats/tests/php/Tracking_Pixel_Test.php
Labels: [Status] Needs Author Reply, [Package] Stats Data, [Tests] Includes Tests

#43008 Boost: Add LCP optimization attributes for img tags
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/add-boost-apply-lcp-img-result
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43021 Image Guide: Lazily load image weight
  projects/js-packages/image-guide/changelog/update-reduce-ig-proxy-requests
  projects/js-packages/image-guide/src/MeasurableImage.ts
  projects/js-packages/image-guide/src/analytics.ts
  projects/js-packages/image-guide/src/stores/MeasurableImageStore.ts
  projects/js-packages/image-guide/src/ui/Popup.svelte
Labels: [Type] Enhancement, [Status] Needs Review, RNA, [JS Package] Image Guide, I don't care about code coverage for this PR

#43022 Infinite Scroll: Fix PHP fatal when using AMP
  projects/plugins/jetpack/changelog/fix-jetpack-infinite_scroll_fatal
  projects/plugins/jetpack/modules/infinite-scroll/infinity.php
Labels: [Feature] Infinite Scroll, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#42835 feat: Limit editor assets endpoint allowed block types
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-block-editor-assets.php
  projects/plugins/jetpack/changelog/add-block-editor-assets-endpoint-allow-list
  projects/plugins/jetpack/class.jetpack-gutenberg.php
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/WPCOM_REST_API_V2_Endpoint_Block_Editor_Assets_Test.php
Labels: [Type] Enhancement, [Status] In Progress, [Feature] WP REST API, [Plugin] Jetpack, [Tests] Includes Tests

#43039 Sync: Convert to array theme data to avoid fatals when checking update changes
  projects/packages/sync/changelog/update-sync-update-checksums-convert-to-array-theme-data-to-avoid-fatals
  projects/packages/sync/src/modules/class-updates.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Sync

#43036 Fix form undo redo issues
  projects/packages/forms/src/blocks/contact-form/util/form.js
  projects/packages/forms/src/blocks/contact-form/variation-picker.js
  projects/packages/forms/src/blocks/field-consent/edit.js
  projects/packages/forms/src/blocks/field-textarea/edit.js
  projects/packages/forms/src/blocks/shared/hooks/use-form-wrapper.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43002 Forms: Add PHP unit tests for Migrate form fields to inner blocks JETPACK-262
  projects/packages/forms/changelog/add-php-unit-tests-migrate-form-fields-to-inner-blocks
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Block_Test.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Plugin_Test.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Type] Task, [Package] Forms, [Tests] Includes Tests

#43055 Remove unused ids from consent, checkbox, single choice and multiple choice fields
  projects/packages/forms/src/blocks/field-checkbox/edit.js
  projects/packages/forms/src/blocks/field-consent/edit.js
  projects/packages/forms/src/blocks/field-multiple-choice/edit.js
  projects/packages/forms/src/blocks/field-single-choice/edit.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43031 Jetpack SEO: Ensure more performant practices when getting enabled features.
  projects/plugins/jetpack/changelog/fix-jetpack-seo-getEnabledFeatures
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/seo-enhancer/store/selectors.ts
Labels: [Type] Bug, [Status] In Progress, [Feature] SEO Tools, [Plugin] Jetpack, [Extension] SEO, [Extension] AI Assistant Plugin

#43060 Jetpack Connection: Add Jetpack package versions' info to Heartbeat
  projects/packages/connection/changelog/update-add-jp-package-versions-to-heartbeat
  projects/packages/connection/src/class-manager.php
  projects/plugins/jetpack/changelog/update-add-jp-package-versions-to-heartbeat
  projects/plugins/jetpack/tests/php/sync/Jetpack_Sync_Module_Stats_Test.php
Labels: [Status] Needs Review, [Type] Task, [Package] Connection, [Plugin] Jetpack, [Tests] Includes Tests

#42923 Remove links to deprecated calypso views on the launchpad tasks
  projects/packages/jetpack-mu-wpcom/changelog/update-launchpad-add_new_page-href
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/plugins/mu-wpcom-plugin/changelog/update-launchpad-add_new_page-href
  projects/plugins/wpcomsh/changelog/update-launchpad-add_new_page-href
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Launchpad, [Plugin] Wpcomsh

#41135 Use a generic story title if the story block is not in the loop
  projects/plugins/jetpack/changelog/fix-story-block-title-out-of-loop
  projects/plugins/jetpack/extensions/blocks/story/story.php
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story.server-rendered.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-images.server-rendered.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-video.server-rendered.html
  projects/plugins/jetpack/extensions/blocks/story/test/fixtures/jetpack__story__story-with-videopress.server-rendered.html
Labels: [Type] Bug, [Block] Story, [Plugin] Jetpack, [Tests] Includes Tests

#43047 Boost: use more specific rec keys for HttpErrors
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/critical-css-errors.ts
  projects/plugins/boost/app/assets/src/js/features/critical-css/lib/stores/critical-css-state-types.ts
  projects/plugins/boost/changelog/fix-hog-24
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Plugin] Boost

#43056 Social: re-enable share status for Atomic sites
  projects/plugins/wpcomsh/changelog/update-social-enable-share-status-for-all-sites
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Needs Team Review, [Plugin] Wpcomsh, [Type] Feature
