Repository Automattic/jetpack, pull requests merged in 2025-01, with the labels that each got.

#40639 My Jetpack: add feature as possible recommendations
  projects/packages/my-jetpack/_inc/components/evaluation-recommendations/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/pricing-component.tsx
  projects/packages/my-jetpack/_inc/components/product-card/recommendation-actions.tsx
  projects/packages/my-jetpack/_inc/components/product-card/use-pricing-data.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/all.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/index.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/newsletter-card.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/related-posts-card.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/site-accelerator-card.tsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/changelog/add-feature-recommendations-cards
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/products/class-module-product.php
  projects/packages/my-jetpack/src/products/class-newsletter.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-related-posts.php
  projects/packages/my-jetpack/src/products/class-site-accelerator.php
Labels: [Status] In Progress, [Package] My Jetpack

#40789 Resolves #40765 - Prevent SoundCloud shortcode conflict
  projects/plugins/jetpack/changelog/fix-jetpack-40765-prevent_soundcloud_shortcode_conflict
  projects/plugins/jetpack/modules/shortcodes.php
Labels: [Type] Bug, [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack

#40790 Resolves #40766 - Prevent TypeError in VideoPress shortcode
  projects/plugins/jetpack/changelog/fix-jetpack-40766-catch_typeerror
  projects/plugins/jetpack/modules/videopress/shortcode.php
Labels: [Type] Bug, [Feature] VideoPress, [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack

#40791 Resolves #40767 - Prevent error with http_request_timeout filter
  projects/plugins/jetpack/changelog/fix-jetpack-40767-prevent_error_on_http_override_filter
  projects/plugins/jetpack/modules/shortcodes/others.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack

#40807 AI Client: add first logo generation style
  projects/js-packages/ai-client/changelog/fix-jetpack-ai-first-logo-generation-style
  projects/js-packages/ai-client/src/logo-generator/components/generator-modal.tsx
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] AI Client

#40801 Social Logos | Fix package.json exports to expose built in types
  projects/js-packages/social-logos/README.md
  projects/js-packages/social-logos/changelog/deprecate-default-import
  projects/js-packages/social-logos/changelog/fix-types-export-for-social-logos
  projects/js-packages/social-logos/package.json
  projects/js-packages/social-logos/src/react/index.ts
Labels: [Type] Bug, [Type] Enhancement, Docs, [Status] Needs Review, RNA, [JS Package] Social Logos

#40762 Fix/form block submit button styles when errors
  projects/packages/forms/changelog/fix-form-block-submit-button-styles-when-errors
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/packages/forms/src/contact-form/js/accessible-form.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#40698 [WooCommerce Analytics] Support for Search and Landing Page
  projects/packages/woocommerce-analytics/.phan/baseline.php
  projects/packages/woocommerce-analytics/changelog/add-search-event
  projects/packages/woocommerce-analytics/src/class-checkout-flow.php
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
Labels: [Type] Enhancement, [Pri] Normal, [Feature] WooCommerce Analytics, [Status] Needs Team Review, [Package] WooCommerce Analytics

#40602 ScanReport: Disable hiding relevant fields
  projects/js-packages/components/components/scan-report/index.tsx
Labels: [Type] Enhancement, [Status] Needs Author Reply, RNA, [JS Package] Components, [Plugin] Protect, [JS Package] Scan

#40817 Charts: Adding Rollup
  pnpm-lock.yaml
  projects/js-packages/charts/changelog/add-charts-rollup
  projects/js-packages/charts/package.json
  projects/js-packages/charts/rollup.config.mjs
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/components/tooltip/base-tooltip.tsx
  projects/js-packages/charts/src/hooks/use-chart-mouse-handler.ts
  projects/js-packages/charts/src/providers/theme/theme-provider.tsx
  projects/js-packages/charts/tsconfig.json
  projects/js-packages/charts/tsup.config.js
Labels: [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#40836 Release Charts v0.2.2 - backporting prerelease
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/add-charts-rollup
  projects/js-packages/charts/changelog/renovate-definitelytyped
  projects/js-packages/charts/package.json
Labels: [Status] Needs Author Reply, RNA, [JS Package] Charts

#40837 Map block: UI updates to inspector controls
  projects/plugins/jetpack/changelog/map-block-ui-updates
  projects/plugins/jetpack/extensions/blocks/map/controls.js
  projects/plugins/jetpack/extensions/blocks/map/edit.js
  projects/plugins/jetpack/extensions/blocks/map/editor.scss
  projects/plugins/jetpack/extensions/blocks/map/test/controls.js
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Block] Map, [Status] Needs Team Review, [Plugin] Jetpack, [Tests] Includes Tests, [Feature] Maps

#40628 My Jetpack: Add a Protect 'needs-attention' status when Threats are detected.
  projects/packages/my-jetpack/_inc/components/product-card/action-button.tsx
  projects/packages/my-jetpack/_inc/components/product-card/index.tsx
  projects/packages/my-jetpack/_inc/components/product-card/status.tsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card/index.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/use-protect-tooltip-copy.ts
  projects/packages/my-jetpack/_inc/constants.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-backup-needs-attention-notice.tsx
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-get-readable-failed-backup-reason.tsx
  projects/packages/my-jetpack/changelog/add-protect-fix-threats-status
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
  projects/packages/my-jetpack/src/class-products.php
  projects/packages/my-jetpack/src/products/class-backup.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/src/products/class-protect.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, RNA, [JS Package] Components, [Package] My Jetpack

#40719 My Jetpack: Add red bubble & notice when Protect threats detected
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/index.ts
  projects/packages/my-jetpack/_inc/hooks/use-notification-watcher/use-protect-threats-detected-notice.tsx
  projects/packages/my-jetpack/changelog/add-protect-redbubble-and-notice
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack

#40827 E2E Tests: Only install Chromium and its deps for Playwright
  projects/plugins/automattic-for-agencies-client/changelog/fix-playwright_install_tweaks
  projects/plugins/automattic-for-agencies-client/tests/e2e/package.json
  projects/plugins/boost/changelog/fix-playwright_install_tweaks
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/classic-theme-helper-plugin/changelog/fix-playwright_install_tweaks
  projects/plugins/classic-theme-helper-plugin/tests/e2e/package.json
  projects/plugins/jetpack/changelog/fix-playwright_install_tweaks
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/search/changelog/fix-playwright_install_tweaks
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/social/changelog/fix-playwright_install_tweaks
  projects/plugins/social/tests/e2e/package.json
  projects/plugins/starter-plugin/changelog/fix-playwright_install_tweaks
  projects/plugins/starter-plugin/tests/e2e/package.json
  projects/plugins/videopress/changelog/fix-playwright_install_tweaks
  projects/plugins/videopress/tests/e2e/package.json
Labels: [Type] Janitorial, [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] VideoPress, [Tests] Includes Tests, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin

#40832 ScanReport: Use error variant ShieldIcon for threats
  projects/js-packages/components/components/scan-report/index.tsx
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Ready to Merge, RNA, [JS Package] Components

#40852 Odyssey Stats: Add API support for Location stats
  projects/packages/stats-admin/changelog/add-odyssey-stats-location-views-api
  projects/packages/stats-admin/src/class-rest-controller.php
  projects/packages/stats/changelog/add-odyssey-stats-location-views-api
  projects/packages/stats/src/class-wpcom-stats.php
Labels: [Status] Needs Review, [Type] Task, [Package] Stats Data, [Package] Stats Admin

#40855 [Analyzer] Fix fatal when trying to call toCodeString() in Node\Expr\Variable class
  projects/packages/analyzer/changelog/fix-analyzer-expr-variable-exception
  projects/packages/analyzer/src/class-utils.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Package] Analyzer

#40846 Fix/bug color palettes
  projects/plugins/wpcomsh/changelog/fix-color-palette
  projects/plugins/wpcomsh/custom-colors/colors.php
  projects/plugins/wpcomsh/custom-colors/js/colors-control.js
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Wpcomsh

#40858 Jetpack AI: trim title and content before triggering featured image generation
  projects/plugins/jetpack/changelog/fix-jetpack-ai-featured-image-trigger-emtpy
  projects/plugins/jetpack/extensions/plugins/ai-assistant-plugin/components/ai-image/featured-image.tsx
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Extension] AI Assistant, [Extension] AI Assistant Plugin

#40552 Site Migrations: Add `migration_source_site_domain` option to sites API
  projects/plugins/jetpack/changelog/add-option-to-sites-api
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Type] Enhancement, [Feature] WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#40859 Jetpack AI: Moving AI Response Feedback feature out of beta
  projects/plugins/jetpack/changelog/change-jetpack-ai-feedback-out-of-beta
  projects/plugins/jetpack/extensions/index.json
Labels: [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack

#40825 Blaze: Fix external icon alignment on "Blaze this Post" button
  projects/packages/blaze/changelog/fix-icon-alignment-on-blaze-this-post-button
  projects/packages/blaze/src/js/editor.scss
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Package] Blaze

#40711 Jetpack CRM: Fix hundreds of unneeded db queries
  projects/plugins/crm/admin/settings/general.page.php
  projects/plugins/crm/changelog/fix-crm-3504-hundreds-of-unnedded-db-queries-fix
  projects/plugins/crm/includes/ZeroBSCRM.DAL3.php
Labels: [Type] Bug, Admin Page, [Status] Needs Team Review, [Plugin] CRM

#40853 Stats: Fix stats setting role toggles not sticking
  projects/plugins/jetpack/_inc/client/traffic/site-stats.jsx
  projects/plugins/jetpack/changelog/fix-stats-setting-role-toggles
Labels: [Type] Bug, [Feature] Stats Data, Admin Page, [Status] Needs Team Review, [Plugin] Jetpack

#40816 Update social-logos imports from default to named
  projects/js-packages/components/changelog/update-social-logo-usage
  projects/js-packages/components/components/icons/index.tsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/traffic/seo.jsx
  projects/plugins/jetpack/changelog/update-social-logo-usage
  projects/plugins/jetpack/extensions/blocks/sharing-button/edit.js
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
Labels: [Status] Needs Review, Admin Page, [Type] Task, [Plugin] Jetpack, RNA, [JS Package] Components, [Block] Sharing Button

#40839 Stats: Remove legacy widget loader from WP Admin
  projects/plugins/jetpack/changelog/update-stats_remove_legacy_widget_loader
  projects/plugins/jetpack/class-jetpack-stats-dashboard-widget.php
Labels: [Type] Bug, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [mu wpcom Feature] Wpcom Simple Odyssey Stats

#40864 Gardening: Fix errant dependency update (compare-versions)
  projects/github-actions/repo-gardening/changelog/fix-gardening-self_inflicted_failure
  projects/github-actions/repo-gardening/src/utils/get-next-valid-milestone.js
Labels: [Type] Bug, [Type] Janitorial, [Status] Needs Team Review, Actions, [Action] Repo Gardening

#40772 Jetpack AI: Enable ratings feedback thumbs for all
  projects/plugins/jetpack/changelog/update-jetpack-ai-enable-feedback
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
Labels: [Type] Task, [Status] Needs Team Review, [Plugin] Jetpack, [Block] AI Assistant

#40867 Fix package.json in social-logos
  projects/js-packages/social-logos/changelog/fix-package.json-in-social-logos
  projects/js-packages/social-logos/package.json
Labels: [Status] Needs Review, [Type] Task, RNA, [JS Package] Social Logos

#40848 Fix/33301 form checkbox field
  projects/packages/forms/changelog/fix-33301-form-checkbox-field
  projects/packages/forms/src/blocks/contact-form/editor.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#40877 Backport jetpack 14.2 (stable) changes
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#40879 supercache: update homepage etc on post un-publish
  projects/plugins/super-cache/changelog/bugfix-supercache-unpublish
  projects/plugins/super-cache/wp-cache-phase2.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Super Cache

#40878 Jetpack: Fix authors widget 'all' checkbox
  projects/plugins/jetpack/changelog/fix-author-widget-all-checkbox
  projects/plugins/jetpack/modules/widgets/authors.php
Labels: [Type] Bug, [Feature] Extra Sidebar Widgets, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack

#40750 Explore usage of @wordpress/e2e-test-utils-playwright for E2E tests
  .github/files/e2e-tests/e2e-matrix.js
  pnpm-lock.yaml
  projects/plugins/social/changelog/explore-wp-e2e-setup
  projects/plugins/social/tests/e2e/specs/admin-page.test.js
  projects/plugins/social/tests/e2e/specs/social-sidebar.test.js
  tools/e2e-commons/config/global-setup.mjs
  tools/e2e-commons/config/playwright.config.default.mjs
  tools/e2e-commons/fixtures/base-test.js
  tools/e2e-commons/helpers/utils-helper.js
  tools/e2e-commons/package.json
  tools/e2e-commons/reporters/flaky-tests-reporter.ts
Labels: [Status] In Progress, [Status] Ready to Merge, Actions, [Type] Infrastructure, E2E Tests, [Plugin] Social, [Tests] Includes Tests

#40644 Decrease interaction count for Sensei to 5
  projects/github-actions/repo-gardening/changelog/update-sensei-interaction-count
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
Labels: [Type] Enhancement, [Status] Needs Author Reply, Actions, [Action] Repo Gardening

#40362 Update jetpack-mu-wpcom translation files
  projects/packages/jetpack-mu-wpcom/changelog/update-jetpack-mu-wpcom-translations
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ar.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ar.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de_DE.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de_DE.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es_ES.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es_ES.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr_FR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr_FR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he_IL.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he_IL.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id_ID.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id_ID.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it_IT.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it_IT.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ja.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ja.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko_KR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko_KR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl_NL.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl_NL.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt_BR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt_BR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru_RU.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru_RU.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv_SE.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv_SE.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr_TR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr_TR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_CN.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_CN.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_TW.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_TW.po
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Jetpack mu wpcom, Reviewer Can Merge

#38660 Instant Search: Include a8c-support-theme kb_article taxonomies
  projects/packages/sync/changelog/update-class-search-taxonomies-kb-article
  projects/packages/sync/src/modules/class-search.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Package] Sync

#40149 Proposal: Rename AIOWP tracks events so we don't count them as site migrations
  projects/plugins/wpcomsh/changelog/remove-aiowp-tracking
  projects/plugins/wpcomsh/wpcom-migration-helpers/site-migration-helpers.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Wpcomsh

#38915 Add WordAds WoA post transfer action
  projects/plugins/wpcomsh/changelog/update-wpcomsh-woa-transfer-wordads
  projects/plugins/wpcomsh/woa.php
Labels: [Status] In Progress, [Type] Task, [Plugin] Wpcomsh

#40897 Tooling: Add support for bundled `jq` version in dev environment check
  tools/check-development-environment.sh
Labels: [Status] Ready to Merge, [Type] Janitorial

#40880 Add explanation firewall inactive when not supported
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/use-protect-tooltip-copy.ts
  projects/packages/my-jetpack/changelog/add-explanation-firewall-inactive-when-not-supported
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack

#40889 Stop Blaze & Copy quick links disappearing after using Quick Edit
  projects/packages/blaze/changelog/fix-show-quicklinks-after-quickedit
  projects/packages/blaze/src/class-blaze.php
  projects/plugins/jetpack/changelog/fix-show-quicklinks-after-quickedit
  projects/plugins/jetpack/modules/copy-post.php
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Jetpack, [Package] Blaze

#40905 Jetpack: Blank out to-test.md in preparation for 14.3
  projects/plugins/jetpack/changelog/update-jetpack-pre_14.3_to_test_reset
  projects/plugins/jetpack/to-test.md
Labels: Docs, [Type] Janitorial, [Status] Needs Team Review, [Plugin] Jetpack

#40909 WPCOMSH: Use WP_CLI to activate wordads module post-transfer
  projects/plugins/wpcomsh/changelog/update-wordads-wpcomsh-post-transfer
  projects/plugins/wpcomsh/woa.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Wpcomsh

#40704 Social | Add site context for publicize endpoints
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/add-filtering-for-publicize-endpoints
  projects/packages/publicize/src/rest-api/class-base-controller.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#40907 Stop showing limited global styles notice in editor distraction free mode
  projects/packages/jetpack-mu-wpcom/changelog/fix-global-styles-notice-distraction-free
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/notices.js
  projects/plugins/mu-wpcom-plugin/changelog/fix-global-styles-notice-distraction-free
  projects/plugins/wpcomsh/changelog/fix-global-styles-notice-distraction-free
Labels: [Type] Bug, [Status] In Progress, [Status] Ready to Merge, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, Reviewer Can Merge, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Global Styles

#40914 Social | Add site context for publicize endpoints
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/add-filtering-for-publicize-endpoints
  projects/packages/publicize/src/rest-api/class-base-controller.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, [Package] Publicize

#40896 Testimonials: Ensure we avoid a division by zero error if the columns attribute is set to 0
  projects/packages/classic-theme-helper/changelog/fix-testimonials-module-by-zero-error
  projects/packages/classic-theme-helper/src/custom-post-types/class-jetpack-testimonial.php
  projects/plugins/classic-theme-helper-plugin/changelog/fix-testimonials-module-by-zero-error
  projects/plugins/jetpack/changelog/fix-testimonials-module-by-zero-error
  projects/plugins/mu-wpcom-plugin/changelog/fix-testimonials-module-by-zero-error
  projects/plugins/wpcomsh/changelog/fix-testimonials-module-by-zero-error
Labels: [Type] Bug, [Feature] Theme Tools, [Status] Ready to Merge, [Plugin] Jetpack, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin

#40779 Tiled Gallery: Ensure container enclosing image is selectable
  projects/plugins/jetpack/changelog/fix-tiled-gallery-image-controls
  projects/plugins/jetpack/extensions/blocks/tiled-gallery/gallery-image/edit.js
Labels: [Type] Bug, [Block] Tiled Gallery, [Status] Needs Team Review, [Plugin] Jetpack

#40699 Pages: Add quick actions to change the homepage and the posts page
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-pages-quick-actions
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/pages/pages.php
  projects/packages/jetpack-mu-wpcom/src/features/pages/quick-actions.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Pages

#40872 Post List: Fix the layout on mobile when details are open
  projects/packages/post-list/changelog/fix-edit-page-on-mobile
  projects/packages/post-list/src/style.css
  projects/plugins/jetpack/changelog/fix-edit-page-on-mobile
  projects/plugins/social/changelog/fix-edit-page-on-mobile
  projects/plugins/wpcomsh/changelog/fix-edit-page-on-mobile
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack, [Package] Post List, [Plugin] Social, [Plugin] Wpcomsh

#40916 Social | Update editor connections schema in Connections_Post_Field
  projects/js-packages/publicize-components/changelog/update-social-connections-post-field
  projects/js-packages/publicize-components/src/social-store/resolvers.ts
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/update-social-connections-post-field
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/class-publicize-setup.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
  projects/packages/publicize/src/rest-api/class-connections-post-field.php
  projects/packages/publicize/tests/php/test-connections-post-field.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components, [Tests] Includes Tests

#40901 Remove duplicate views: Redesign notices
  projects/packages/jetpack-mu-wpcom/changelog/remove-duplicate-views-redesign-notices
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-bg-pattern.png
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-comments-php.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-php.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-phppost_typejetpack-portfolio.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-phppost_typejetpack-testimonial.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-tags-phptaxonomycategory.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/screens/edit-tags-phptaxonomypost_tag.webp
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#40706 Remove duplicate views: Enforce WP Admin for Pages
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-view-pages
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#40881 Contact Forms: Update webpack to rename RTL files to match WP core expectations
  projects/packages/forms/changelog/update-contact-form-rtl-styles
  projects/packages/forms/tools/webpack.config.contact-form.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Focus] i18n, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms

#40929 phan: Update custom stubs
  .phan/stubs/woocommerce-internal-stubs.php
  .phan/stubs/woocommerce-payments-stubs.php
Labels: [Status] Needs Author Reply, [Type] Janitorial, [Pri] Normal

#40927 Add a watch script for jetpack-mu-wpcom package
  projects/packages/jetpack-mu-wpcom/changelog/add-jetpack-mu-wpcom-watch
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/plugins/mu-wpcom-plugin/changelog/add-jetpack-mu-wpcom-watch
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-jetpack-mu-wpcom-watch
  projects/plugins/wpcomsh/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh

#40915 WP Super Cache: Bump tested version to 6.7.1
  projects/plugins/super-cache/changelog/update-super-cache-version-tested-bump
  projects/plugins/super-cache/readme.txt
Labels: [Type] Janitorial, [Status] Needs Team Review, [Plugin] Super Cache

#40900 Update/always show upgrade button if one is available my jetpack
  projects/packages/my-jetpack/_inc/components/product-card/action-button.tsx
  projects/packages/my-jetpack/changelog/update-always-show-upgrade-button-if-one-is-available-my-jetpack
  projects/packages/my-jetpack/src/products/class-anti-spam.php
  projects/packages/my-jetpack/src/products/class-product.php
  projects/packages/my-jetpack/tests/php/test-products-rest.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] My Jetpack, [Tests] Includes Tests

#40937 WC Analytics: Disable session cookie that was breaking cache
  projects/packages/woocommerce-analytics/changelog/disable-woo_analytics_session_cookie
  projects/packages/woocommerce-analytics/src/class-universal.php
  projects/packages/woocommerce-analytics/src/class-woo-analytics-trait.php
  projects/plugins/jetpack/changelog/disable-woo_analytics_session_cookie
Labels: [Type] Bug, [Status] Needs Review, [Feature] WooCommerce Analytics, [Plugin] Jetpack, [Package] WooCommerce Analytics

#40936 Backport automattic-for-agencies-client 0.4.0 Changes
  projects/packages/sync/CHANGELOG.md
  projects/packages/sync/changelog/update-class-search-taxonomies-kb-article
  projects/packages/sync/composer.json
  projects/packages/sync/src/class-package-version.php
  projects/plugins/automattic-for-agencies-client/CHANGELOG.md
  projects/plugins/automattic-for-agencies-client/automattic-for-agencies-client.php
  projects/plugins/automattic-for-agencies-client/changelog/add-ci-always-process-coverage
  projects/plugins/automattic-for-agencies-client/changelog/fix-bump_composer_versions
  projects/plugins/automattic-for-agencies-client/changelog/fix-playwright_install_tweaks
  projects/plugins/automattic-for-agencies-client/changelog/renovate-automattic-color-studio-4.x
  projects/plugins/automattic-for-agencies-client/changelog/renovate-brain-monkey-2.x
  projects/plugins/automattic-for-agencies-client/changelog/renovate-config-3.x
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance
  projects/plugins/automattic-for-agencies-client/changelog/renovate-lock-file-maintenance#6
  projects/plugins/automattic-for-agencies-client/changelog/renovate-playwright-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo#2
  projects/plugins/automattic-for-agencies-client/changelog/renovate-wordpress-monorepo#3
  projects/plugins/automattic-for-agencies-client/changelog/update-bump_min_php_to_7.2
  projects/plugins/automattic-for-agencies-client/changelog/update-bump_min_wp_to_6.6
  projects/plugins/automattic-for-agencies-client/changelog/update-eslint-9
  projects/plugins/automattic-for-agencies-client/composer.json
  projects/plugins/automattic-for-agencies-client/composer.lock
  projects/plugins/automattic-for-agencies-client/readme.txt
  projects/plugins/backup/changelog/prerelease#7
  projects/plugins/backup/composer.lock
  projects/plugins/boost/changelog/prerelease
  projects/plugins/boost/composer.lock
  projects/plugins/jetpack/changelog/prerelease
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/prerelease#9
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/protect/changelog/prerelease#13
  projects/plugins/protect/composer.lock
  projects/plugins/search/changelog/prerelease#20
  projects/plugins/search/composer.lock
  projects/plugins/social/changelog/prerelease#12
  projects/plugins/social/composer.lock
  projects/plugins/starter-plugin/changelog/prerelease#4
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/videopress/changelog/prerelease#19
  projects/plugins/videopress/composer.lock
  projects/plugins/wpcomsh/changelog/prerelease#5
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Author Reply, [Package] Sync, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client

#40892 Social: Implement connections caching with the updated endpoint
  projects/packages/publicize/changelog/add-social-connections-caching
  projects/packages/publicize/src/class-connections.php
  projects/packages/publicize/src/class-publicize-script-data.php
  projects/packages/publicize/src/class-publicize.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#40917 Forms: Fix success message color inside a dark Cover block
  projects/packages/forms/changelog/fix-form-go-back-color-success-message
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Status] Needs Team Review, [Package] Forms

#40921 Forms: Update default URL field label to match front-end
  projects/packages/forms/changelog/forms-update-default-url-field-label-value
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#40931 Social: Fix license activation message showing for paid users
  projects/plugins/social/changelog/fix-social-show-pricing-page-default-value
  projects/plugins/social/src/js/components/admin-page/header/index.jsx
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Social

#40888 Social: Replace can_disconnect with a store data selector
  projects/js-packages/publicize-components/changelog/update-social-connections-remove-can_disconnect-prop
  projects/js-packages/publicize-components/src/components/connection-management/disconnect.tsx
  projects/js-packages/publicize-components/src/components/connection-management/reconnect.tsx
  projects/js-packages/publicize-components/src/components/connection-management/tests/specs/disconnect.test.js
  projects/js-packages/publicize-components/src/components/connection-management/tests/specs/mark-as-shared.test.js
  projects/js-packages/publicize-components/src/components/connection-management/tests/specs/reconnect.test.js
  projects/js-packages/publicize-components/src/components/services/service-connection-info.tsx
  projects/js-packages/publicize-components/src/components/services/service-item.tsx
  projects/js-packages/publicize-components/src/components/services/service-status.tsx
  projects/js-packages/publicize-components/src/components/services/tests/service-connection-info.test.js
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.ts
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.ts
  projects/js-packages/publicize-components/src/social-store/selectors/index.ts
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/js-packages/publicize-components/src/utils/test-factory.js
  projects/js-packages/script-data/changelog/add-wpcom-data-for-current-user
  projects/js-packages/script-data/src/types.ts
  projects/packages/publicize/changelog/update-social-connections-remove-can_disconnect-prop
  projects/packages/publicize/src/class-publicize-script-data.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components, [Tests] Includes Tests, [JS Package] Script Data

#40933 Fix Verbum comments in Query Loop
  projects/packages/jetpack-mu-wpcom/changelog/allow-multiple-verbum-instances-on-one-page
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/class-verbum-comments.php
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/email-form-cookie-consent.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/SimpleSubscribeModal/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/SimpleSubscribeModal/logged-in.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/SimpleSubscribeModal/logged-out.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/comment-footer.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/comment-input-field.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/editor-placeholder.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/logged-in.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/logged-out.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/settings-button.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/types.d.ts
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/hooks/useFormMutations.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/hooks/useSocialLogin.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/hooks/useSubscriptionApi.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/index.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/state.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/style.scss
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/types.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/utils.ts
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/tests/simple/open_comments_for_everyone.test.ts
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/tests/simple/user_must_be_registered_and_logged_in_to_comment.test.ts
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [Tests] Includes Tests, [mu wpcom Feature] Verbum Comments

#40959 Backport backup 3.1 Changes
  projects/packages/my-jetpack/CHANGELOG.md
  projects/packages/my-jetpack/changelog/add-explanation-firewall-inactive-when-not-supported
  projects/packages/my-jetpack/changelog/update-always-show-upgrade-button-if-one-is-available-my-jetpack
  projects/packages/my-jetpack/package.json
  projects/packages/my-jetpack/src/class-initializer.php
  projects/plugins/backup/CHANGELOG.md
  projects/plugins/backup/changelog/fix-bump_composer_versions
  projects/plugins/backup/changelog/fix-bump_composer_versions_round2#2
  projects/plugins/backup/changelog/prerelease
  projects/plugins/backup/changelog/prerelease#2
  projects/plugins/backup/changelog/prerelease#3
  projects/plugins/backup/changelog/prerelease#4
  projects/plugins/backup/changelog/prerelease#5
  projects/plugins/backup/changelog/prerelease#6
  projects/plugins/backup/changelog/prerelease#7
  projects/plugins/backup/changelog/renovate-brain-monkey-2.x
  projects/plugins/backup/changelog/renovate-lock-file-maintenance
  projects/plugins/backup/changelog/update-backup-plugin-screenshots
  projects/plugins/backup/changelog/update-composer
  projects/plugins/backup/changelog/update-eslint-9
  projects/plugins/backup/changelog/update-fetch-available-licenses
  projects/plugins/backup/changelog/update-my-jetpack-social-cta
  projects/plugins/backup/composer.json
  projects/plugins/backup/jetpack-backup.php
  projects/plugins/backup/readme.txt
Labels: [Status] Needs Author Reply, [Plugin] Backup, [Package] My Jetpack

#40919 Rebrander fixes in the core plugin
  projects/plugins/crm/admin/settings/general.page.php
  projects/plugins/crm/changelog/crm-fix-rebrandr-issues
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/includes/ZeroBSCRM.PluginAdminNotices.php
  tools/phpcs-excludelist.json
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Plugin] CRM

#40514 Jetpack CRM - Modern Invoice template (improves CSS and layouts)
  projects/plugins/crm/changelog/crm-fix-invoice-pdf-css
  projects/plugins/crm/includes/ZeroBSCRM.InvoiceBuilder.php
  projects/plugins/crm/includes/ZeroBSCRM.List.Views.php
  projects/plugins/crm/js/ZeroBSCRM.admin.listview.js
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicebuilder.scss
  projects/plugins/crm/sass/_ZeroBSCRM.listview.scss
  projects/plugins/crm/sass/emerald/_listview-table.scss
  projects/plugins/crm/templates/invoices/invoice-pdf-template-modern.html
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] CRM

#40963 Backport vaultpress 4.0.0 Changes
  projects/plugins/vaultpress/CHANGELOG.md
  projects/plugins/vaultpress/changelog/add-bad-installation-notices-to-my-jetpack
  projects/plugins/vaultpress/changelog/add-phan
  projects/plugins/vaultpress/changelog/add-phan-more-constant-stubs
  projects/plugins/vaultpress/changelog/add-phan-wp-constant-stubs
  projects/plugins/vaultpress/changelog/fix-bump_composer_versions_round2#2
  projects/plugins/vaultpress/changelog/fix-phan-in-changelogger
  projects/plugins/vaultpress/changelog/fix-phan-undeclared-in-autoloader
  projects/plugins/vaultpress/changelog/prerelease
  projects/plugins/vaultpress/changelog/prerelease#2
  projects/plugins/vaultpress/changelog/prerelease#3
  projects/plugins/vaultpress/changelog/prerelease#4
  projects/plugins/vaultpress/changelog/prerelease#5
  projects/plugins/vaultpress/changelog/prerelease#6
  projects/plugins/vaultpress/changelog/prerelease#7
  projects/plugins/vaultpress/changelog/prerelease#8
  projects/plugins/vaultpress/changelog/remove-pre_wp6.6_and_php7.2_code
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#10
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#11
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#12
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#2
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#3
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#4
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#5
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#6
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#7
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#8
  projects/plugins/vaultpress/changelog/renovate-lock-file-maintenance#9
  projects/plugins/vaultpress/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/plugins/vaultpress/changelog/restore-jp_test_coverage
  projects/plugins/vaultpress/changelog/restore-jp_test_coverage#2
  projects/plugins/vaultpress/changelog/revert-svg-image-optimizations
  projects/plugins/vaultpress/changelog/try-lossless-image-optmization-part-3
  projects/plugins/vaultpress/changelog/try-no-version-bumps-in-trunk
  projects/plugins/vaultpress/changelog/update-bump_min_php_to_7.2
  projects/plugins/vaultpress/changelog/update-bump_min_php_to_7.2#2
  projects/plugins/vaultpress/changelog/update-composer
  projects/plugins/vaultpress/changelog/update-installation-error-to-only-show-on-plugins-page
  projects/plugins/vaultpress/changelog/update-switch-to-raw-coverage-files
  projects/plugins/vaultpress/changelog/update-symfony-console
  projects/plugins/vaultpress/changelog/update-tested-to-6-6
  projects/plugins/vaultpress/changelog/update-tested-to-6-7
  projects/plugins/vaultpress/changelog/update-use-wp-admin-notice
  projects/plugins/vaultpress/composer.json
  projects/plugins/vaultpress/readme.txt
  projects/plugins/vaultpress/vaultpress.php
Labels: [Status] Needs Author Reply, [Plugin] VaultPress

#40218 Fix/newsletter welcome message html wpses
  projects/plugins/jetpack/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php
  projects/plugins/jetpack/changelog/fix-newsletter-welcome-message-html_wpses
Labels: [Status] In Progress, [Plugin] Jetpack

#40946 Social | Restore must_reauth as connection status
  projects/js-packages/publicize-components/changelog/update-social-add-back-must_reauth-as-connection-status
  projects/js-packages/publicize-components/src/components/connection/index.js
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.ts
  projects/js-packages/publicize-components/src/social-store/selectors/test/connection-data.test.js
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/update-social-add-back-must_reauth-as-connection-status
  projects/packages/publicize/src/rest-api/class-connections-controller.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components, [Tests] Includes Tests

#38838 CRM: Add the order capability to the API events endpoint.
  projects/plugins/crm/api/customer_search.php
  projects/plugins/crm/api/events.php
  projects/plugins/crm/api/invoices.php
  projects/plugins/crm/api/quotes.php
  projects/plugins/crm/api/transactions.php
  projects/plugins/crm/changelog/add-crm-api-events-pagination-order-support
  projects/plugins/crm/includes/ZeroBSCRM.API.php
Labels: [Status] Needs Author Reply, [Plugin] CRM, [CRM] API

#40920 Allow the site owner to run extra code before the cache loads
  projects/plugins/boost/app/modules/optimizations/page-cache/pre-wordpress/Boost_Cache.php
  projects/plugins/boost/changelog/add-boost-extra-code-loader
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Page Cache

#40968 Backport search 4.0.0 Changes
  projects/plugins/search/CHANGELOG.md
  projects/plugins/search/changelog/add-ci-always-process-coverage
  projects/plugins/search/changelog/add-dependency-extraction-auto-polyfill
  projects/plugins/search/changelog/add-features-enabled-rest-endpoint
  projects/plugins/search/changelog/add-jetpack-search-custom-results
  projects/plugins/search/changelog/add-my-jetpack-recommendations-slider
  projects/plugins/search/changelog/add-restful-features-available
  projects/plugins/search/changelog/fix-bump_composer_versions
  projects/plugins/search/changelog/fix-bump_composer_versions_round2#2
  projects/plugins/search/changelog/fix-playwright_install_tweaks
  projects/plugins/search/changelog/fix-sync-filter-null-array
  projects/plugins/search/changelog/prerelease
  projects/plugins/search/changelog/prerelease#10
  projects/plugins/search/changelog/prerelease#11
  projects/plugins/search/changelog/prerelease#12
  projects/plugins/search/changelog/prerelease#13
  projects/plugins/search/changelog/prerelease#14
  projects/plugins/search/changelog/prerelease#15
  projects/plugins/search/changelog/prerelease#16
  projects/plugins/search/changelog/prerelease#17
  projects/plugins/search/changelog/prerelease#18
  projects/plugins/search/changelog/prerelease#19
  projects/plugins/search/changelog/prerelease#2
  projects/plugins/search/changelog/prerelease#20
  projects/plugins/search/changelog/prerelease#3
  projects/plugins/search/changelog/prerelease#4
  projects/plugins/search/changelog/prerelease#5
  projects/plugins/search/changelog/prerelease#6
  projects/plugins/search/changelog/prerelease#7
  projects/plugins/search/changelog/prerelease#8
  projects/plugins/search/changelog/prerelease#9
  projects/plugins/search/changelog/renovate-brain-monkey-2.x
  projects/plugins/search/changelog/renovate-config-3.x
  projects/plugins/search/changelog/renovate-lock-file-maintenance
  projects/plugins/search/changelog/renovate-lock-file-maintenance#2
  projects/plugins/search/changelog/renovate-lock-file-maintenance#3
  projects/plugins/search/changelog/renovate-lock-file-maintenance#4
  projects/plugins/search/changelog/renovate-lock-file-maintenance#5
  projects/plugins/search/changelog/renovate-lock-file-maintenance#6
  projects/plugins/search/changelog/renovate-playwright-monorepo
  projects/plugins/search/changelog/restore-jp_test_coverage
  projects/plugins/search/changelog/restore-jp_test_coverage#2
  projects/plugins/search/changelog/update-bump_min_php_to_7.2
  projects/plugins/search/changelog/update-bump_min_php_to_7.2#2
  projects/plugins/search/changelog/update-bump_min_wp_to_6.6
  projects/plugins/search/changelog/update-composer
  projects/plugins/search/changelog/update-eslint-9
  projects/plugins/search/changelog/update-fetch-available-licenses
  projects/plugins/search/changelog/update-my-jetpack-notice-mobile-style
  projects/plugins/search/changelog/update-my-jetpack-social-cta
  projects/plugins/search/changelog/update-switch-to-raw-coverage-files
  projects/plugins/search/changelog/update-tested-to-6-7
  projects/plugins/search/changelog/update-widgets-enqueuing-strategy
  projects/plugins/search/composer.json
  projects/plugins/search/jetpack-search.php
  projects/plugins/search/readme.txt
Labels: [Status] Needs Author Reply, [Plugin] Search

#40970 Backport super-cache 2.0.0 Changes
  projects/plugins/super-cache/CHANGELOG.md
  projects/plugins/super-cache/changelog/add-phpunit-coverage-configs
  projects/plugins/super-cache/changelog/bugfix-supercache-unpublish
  projects/plugins/super-cache/changelog/fix-bump_composer_versions_round2
  projects/plugins/super-cache/changelog/fix-mu-wpcom-scssphp
  projects/plugins/super-cache/changelog/prerelease
  projects/plugins/super-cache/changelog/prerelease#2
  projects/plugins/super-cache/changelog/remove-eslintrc-unneeded-parseroptions
  projects/plugins/super-cache/changelog/remove-pre_wp6.6_and_php7.2_code
  projects/plugins/super-cache/changelog/renovate-js-unit-testing-packages
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#2
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#3
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#4
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#5
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#6
  projects/plugins/super-cache/changelog/renovate-lock-file-maintenance#7
  projects/plugins/super-cache/changelog/renovate-npm-axios-vulnerability
  projects/plugins/super-cache/changelog/renovate-yoast-phpunit-polyfills-1.x
  projects/plugins/super-cache/changelog/restore-jp_test_coverage
  projects/plugins/super-cache/changelog/restore-jp_test_coverage#2
  projects/plugins/super-cache/changelog/revert-svg-image-optimizations
  projects/plugins/super-cache/changelog/try-lossless-image-optmization-part-3
  projects/plugins/super-cache/changelog/try-no-version-bumps-in-trunk
  projects/plugins/super-cache/changelog/update-bump_min_php_to_7.2
  projects/plugins/super-cache/changelog/update-bump_min_php_to_7.2#2
  projects/plugins/super-cache/changelog/update-bump_min_wp_to_6.6
  projects/plugins/super-cache/changelog/update-cleanup-deprecated-eslint-rules
  projects/plugins/super-cache/changelog/update-cleanup-project-level-eslint-prettier
  projects/plugins/super-cache/changelog/update-composer
  projects/plugins/super-cache/changelog/update-eslint-9
  projects/plugins/super-cache/changelog/update-plugins-fix-eslint-9-lints
  projects/plugins/super-cache/changelog/update-super-cache-cache-file-race-condition
  projects/plugins/super-cache/changelog/update-super-cache-get-apache-headers
  projects/plugins/super-cache/changelog/update-super-cache-version-tested-bump
  projects/plugins/super-cache/changelog/update-switch-to-raw-coverage-files
  projects/plugins/super-cache/changelog/update-tested-to-6-7
  projects/plugins/super-cache/changelog/update-wordpress-eslint-plugin
  projects/plugins/super-cache/composer.json
  projects/plugins/super-cache/package.json
  projects/plugins/super-cache/readme.txt
  projects/plugins/super-cache/wp-cache.php
Labels: [Status] Needs Author Reply, [Plugin] Super Cache

#40912 Charts: Replace Rollup with Webpack
  pnpm-lock.yaml
  projects/js-packages/charts/changelog/update-change-to-webpack-charts-2
  projects/js-packages/charts/index.ts
  projects/js-packages/charts/package.json
  projects/js-packages/charts/rollup.config.mjs
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/grid-control/grid-control.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/sample-data.ts
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/hooks/use-chart-mouse-handler.ts
  projects/js-packages/charts/src/index.ts
  projects/js-packages/charts/src/providers/theme/theme-provider.tsx
  projects/js-packages/charts/src/providers/theme/themes.ts
  projects/js-packages/charts/src/types.ts
  projects/js-packages/charts/tools/fixup.sh
  projects/js-packages/charts/tsconfig.json
  projects/js-packages/charts/webpack.config.cjs
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#40977 Port 0.2.3 chart release changes back to trunk
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/renovate-storybook-monorepo
  projects/js-packages/charts/changelog/update-change-to-webpack-charts-2
  projects/js-packages/charts/package.json
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#40922 Chart Library: Responsive Charts
  projects/js-packages/charts/changelog/add-chart-library-responsiveness
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/bar-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/line-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/components/shared/with-responsive.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Type] Task, [Status] Needs Team Review, RNA, [JS Package] Charts

#40978 Charts: Fix React ref for charts
  projects/js-packages/charts/changelog/fix-react-ref-for-charts
  projects/js-packages/charts/webpack.config.cjs
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [JS Package] Charts

#40979 Charts: port 0.3.0 charts changes back
  projects/js-packages/charts/CHANGELOG.md
  projects/js-packages/charts/changelog/add-chart-library-responsiveness
  projects/js-packages/charts/changelog/fix-react-ref-for-charts
  projects/js-packages/charts/package.json
Labels: [Type] Janitorial, [Status] Needs Team Review, RNA, [JS Package] Charts

#40898 Fix form submission with no name but mail
  projects/packages/forms/changelog/try-fix-form-submission-with-no-name-but-mail
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Status] Needs Team Review, [Package] Forms

#40782 Classic Theme Helper: Require Nova Restaurant CPT from the package
  projects/packages/classic-theme-helper/changelog/add-require-nova-restaurant-cpt-in-classic-theme-helper
  projects/packages/classic-theme-helper/src/custom-content-types.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/add-require-nova-restaurant-cpt-in-classic-theme-helper
  projects/plugins/jetpack/modules/custom-post-types/nova.php
  projects/plugins/jetpack/modules/module-extras.php
Labels: [Feature] Custom Content Types, [Feature] Theme Tools, [Status] Needs Team Review, [Type] Infrastructure, [Plugin] Jetpack, [Package] Classic Theme Helper

#40874 Boost: Fix checkout page when running WC Shipping and Concat JS
  projects/plugins/boost/changelog/fix-woocommerce-shipping-concat-js-conflict
  projects/plugins/boost/compatibility/js-concatenate.php
Labels: [Type] Enhancement, [Status] Needs Team Review, [Focus] Compatibility, [Plugin] Boost, [Boost Feature] Minify

#40995 Social | Fix connect button for broken connections
  projects/js-packages/publicize-components/changelog/fix-social-broken-connections-button
  projects/js-packages/publicize-components/src/components/services/service-item.tsx
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, RNA, [JS Package] Publicize Components

#40973 Resolves #40969 - Allow three-letter language code translations in notifications pane
  projects/plugins/jetpack/changelog/fix-40969-notifications_pane_language_bug
  projects/plugins/jetpack/modules/notes.php
Labels: [Type] Bug, [Feature] Notifications, [Status] Needs Author Reply, [Plugin] Jetpack

#40975 Code coverage: Fix warnings in scheduled updates package
  projects/packages/scheduled-updates/changelog/fix-scheduled-updates-coverage_warnings
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-admin-test.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-health-paths-test.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-logs-test.php
  projects/packages/scheduled-updates/tests/php/class-scheduled-updates-test.php
  projects/packages/scheduled-updates/tests/php/class-wpcom-rest-api-v2-endpoint-update-schedules-active-test.php
  projects/packages/scheduled-updates/tests/php/class-wpcom-rest-api-v2-endpoint-update-schedules-test.php
Labels: [Status] Needs Review, [Type] Janitorial, [Tests] Includes Tests, [Package] Scheduled Updates

#41003 Backport jetpack 14.3-a.1 Changes
  projects/js-packages/publicize-components/CHANGELOG.md
  projects/js-packages/publicize-components/changelog/update-social-connections-post-field
  projects/js-packages/publicize-components/package.json
  projects/packages/classic-theme-helper/CHANGELOG.md
  projects/packages/classic-theme-helper/changelog/add-require-nova-restaurant-cpt-in-classic-theme-helper
  projects/packages/classic-theme-helper/composer.json
  projects/packages/classic-theme-helper/package.json
  projects/packages/classic-theme-helper/src/class-main.php
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/fix-33301-form-checkbox-field
  projects/packages/forms/changelog/fix-form-go-back-color-success-message
  projects/packages/forms/changelog/forms-update-default-url-field-label-value
  projects/packages/forms/changelog/try-fix-form-submission-with-no-name-but-mail
  projects/packages/forms/changelog/update-contact-form-rtl-styles
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/jetpack-mu-wpcom/changelog/force-a-release
  projects/packages/post-list/CHANGELOG.md
  projects/packages/post-list/changelog/fix-edit-page-on-mobile
  projects/packages/post-list/src/class-post-list.php
  projects/packages/publicize/CHANGELOG.md
  projects/packages/publicize/changelog/add-filtering-for-publicize-endpoints
  projects/packages/publicize/changelog/update-social-connections-post-field
  projects/packages/publicize/package.json
  projects/packages/woocommerce-analytics/CHANGELOG.md
  projects/packages/woocommerce-analytics/changelog/disable-woo_analytics_session_cookie
  projects/plugins/classic-theme-helper-plugin/changelog/prerelease#14
  projects/plugins/classic-theme-helper-plugin/composer.lock
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/add-require-nova-restaurant-cpt-in-classic-theme-helper
  projects/plugins/jetpack/changelog/disable-woo_analytics_session_cookie
  projects/plugins/jetpack/changelog/fix-40969-notifications_pane_language_bug
  projects/plugins/jetpack/changelog/fix-author-widget-all-checkbox
  projects/plugins/jetpack/changelog/fix-edit-page-on-mobile
  projects/plugins/jetpack/changelog/fix-newsletter-welcome-message-html_wpses
  projects/plugins/jetpack/changelog/fix-show-quicklinks-after-quickedit
  projects/plugins/jetpack/changelog/fix-stats-setting-role-toggles
  projects/plugins/jetpack/changelog/fix-testimonials-module-by-zero-error
  projects/plugins/jetpack/changelog/fix-tiled-gallery-image-controls
  projects/plugins/jetpack/changelog/update-boost-messaging-admin-page
  projects/plugins/jetpack/changelog/update-jetpack-ai-enable-feedback
  projects/plugins/jetpack/changelog/update-jetpack-pre_14.3_to_test_reset
  projects/plugins/jetpack/changelog/update-jetpack-react-router-dom_v5_to_v6
  projects/plugins/jetpack/changelog/update-newsletter-category-settings
  projects/plugins/jetpack/changelog/update-social-logo-usage
  projects/plugins/jetpack/changelog/update-stats-lazy-loading-adminbar-image
  projects/plugins/jetpack/changelog/update-stats_remove_legacy_widget_loader
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/modules/custom-post-types/nova.php
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/readme.txt
  projects/plugins/mu-wpcom-plugin/changelog/prerelease
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/prerelease#7
  projects/plugins/wpcomsh/composer.lock
Labels: [Feature] Publicize, [Feature] Contact Form, [Status] Needs Author Reply, [Feature] Custom Content Types, [Feature] Theme Tools, [Feature] WooCommerce Analytics, [Plugin] Jetpack, RNA, [Package] Post List, [Package] Publicize, [JS Package] Publicize Components, [Package] Forms, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Package] WooCommerce Analytics, [Plugin] Wpcomsh, [Package] Classic Theme Helper, [Plugin] Classic Theme Helper Plugin

#41008 ci: Upload coverage data to jetpackcodecoverage site
  .github/files/coverage-munger/upload-coverage.sh
  .github/workflows/tests.yml
  tools/cli/commands/dependencies.js
Labels: [Status] Needs Review, [Type] Feature Request, [Pri] Normal, Actions, [Tools] Development CLI

#41005 Update jetpack-mu-wpcom translation files
  projects/packages/jetpack-mu-wpcom/changelog/update-translations
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ar-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ar.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ar.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de_DE.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de_DE.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es_ES.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es_ES.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr_FR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr_FR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he_IL.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he_IL.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id_ID.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id_ID.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it_IT.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it_IT.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ja-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ja.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ja.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko_KR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko_KR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl_NL.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl_NL.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt-br-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt_BR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt_BR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru_RU.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru_RU.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv_SE.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv_SE.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr_TR.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr_TR.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh-cn-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh-tw-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_CN.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_CN.po
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_TW.mo
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_TW.po
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Ready to Merge, [Package] Jetpack mu wpcom, Reviewer Can Merge

#40993 PieChart: iterate over component. Introduce `size`, `thickness` and `padding` property
  projects/js-packages/charts/changelog/update-iterate-over-pie-chart-component
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/stories/index.stories.tsx
Labels: [Type] Enhancement, RNA, [JS Package] Charts

#41000 Social | Fix failure on post save with LinkedIn connection enabled
  projects/packages/publicize/changelog/fix-social-schema-validation-on-saving-post
  projects/packages/publicize/src/rest-api/class-connections-controller.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#40983 Remove duplicate views: Fix background image for removed Calypso screen notice
  projects/packages/jetpack-mu-wpcom/changelog/update-welcome-notice-background-pattern-image
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-bg-pattern.png
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.tsx
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#40886 Image CDN: Prevent URLs from being double encoded
  projects/packages/image-cdn/changelog/fix-double-encoding
  projects/packages/image-cdn/src/class-image-cdn-core.php
  projects/packages/image-cdn/tests/php/test_class.image_cdn_core.php
  projects/plugins/boost/changelog/fix-image-cdn-double-encoding
  projects/plugins/jetpack/changelog/fix-image-cdn-double-encoding
Labels: [Type] Bug, [Feature] Photon, Unit Tests, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Boost, [Package] Image CDN, [Tests] Includes Tests

#40956 Boost: Update CSS minification library
  projects/plugins/boost/.gitattributes
  projects/plugins/boost/app/lib/class-minify.php
  projects/plugins/boost/changelog/update-boost-minify-css-library
  projects/plugins/boost/composer.json
  projects/plugins/boost/composer.lock
  projects/plugins/boost/serve-minified-content.php
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Minify

#40994 Forms: rename "URL" field to "Website"
  projects/packages/forms/changelog/update-forms-url-field-rename
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#40997 Social | Fix connected accounts not marked as such on confirmation screen
  projects/packages/publicize/changelog/fix-social-connected-accounts-not-marked-as-such
  projects/packages/publicize/src/class-connections.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#40501 Issue Templates: update bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: [Status] In Progress, [Type] Janitorial, [Pri] Normal

#41025 Social | Update connections schema to change `user_id` to `wpcom_user_id`
  projects/js-packages/publicize-components/changelog/update-social-change-user_id-to-wpcom_user_id
  projects/js-packages/publicize-components/src/social-store/selectors/connection-data.ts
  projects/js-packages/publicize-components/src/social-store/types.ts
  projects/packages/publicize/changelog/update-social-change-user_id-to-wpcom_user_id
  projects/packages/publicize/src/class-connections.php
  projects/packages/publicize/src/class-publicize-base.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
  projects/packages/publicize/src/rest-api/class-connections-post-field.php
Labels: [Feature] Publicize, [Type] Task, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components

#41026 Revert "Forms: rename "URL" field to "Website" and update icon"
  projects/packages/forms/changelog/update-forms-url-field-rename
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Type] Revert

#41028 Revert "Stop showing limited global styles notice in editor distraction free mode"
  projects/packages/jetpack-mu-wpcom/changelog/revert-40907-fix-global-styles-notice-distraction-free
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/notices.js
Labels: [Type] Bug, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Type] Revert, [mu wpcom Feature] Wpcom Global Styles

#41030 Forms: Fix redirect field styles
  projects/packages/forms/changelog/fix-contact-form-redirect-address-styles
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Status] Needs Team Review, [Block] Contact Form, [Package] Forms

#40876 Make the global styles upgrade bar independent from the launch bar.
  projects/packages/jetpack-mu-wpcom/changelog/update-global-styles-upgrade-nudge
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/index.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/wpcom-global-styles-view.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/wpcom-global-styles-view.scss
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Global Styles

#40999 Boost: Fix cache bypass patterns not applied from start of URL
  projects/plugins/boost/.phan/baseline.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/app/modules/optimizations/page-cache/data-sync/Page_Cache_Entry.php
  projects/plugins/boost/app/modules/optimizations/page-cache/pre-wordpress/Request.php
  projects/plugins/boost/changelog/fix-boost-cache-bypass-patterns
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Boost, [Boost Feature] Page Cache

#41029 Revert "Revert "Forms: rename "URL" field to "Website" and update icon""
  projects/packages/forms/changelog/update-forms-url-field-rename
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Type] Revert

#41034 Forms: use core icons for phone and email fields
  projects/packages/forms/changelog/update-forms-core-icons
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#41027 Repo Gardening: ping in slack for issues labeled customer report
  projects/github-actions/repo-gardening/changelog/add-repo-gardening-slack-message-customer-reports
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/index.js
  projects/github-actions/repo-gardening/src/tasks/gather-support-references/readme.md
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Pri] Normal, Actions, [Action] Repo Gardening

#40996 Remove duplicate views: Enhance notices
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-notices-improvements
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.scss
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#41031 Update jetpack-mu-wpcom translation files
  projects/packages/jetpack-mu-wpcom/changelog/update-wordpress-translations
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-de_DE-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-es_ES-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-fr_FR-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-he_IL-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-id_ID-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-it_IT-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ko_KR-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-nl_NL-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-pt_BR-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-ru_RU-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-sv_SE-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-tr_TR-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_CN-14e8287aa601c8c430c4d159f4ed7a88.json
  projects/packages/jetpack-mu-wpcom/languages/jetpack-mu-wpcom-zh_TW-14e8287aa601c8c430c4d159f4ed7a88.json
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom

#40904 Fix/issue description not showing up on backup card
  projects/packages/my-jetpack/_inc/components/product-cards-section/backup-card/index.jsx
  projects/packages/my-jetpack/_inc/data/constants.ts
  projects/packages/my-jetpack/changelog/fix-issue-description-not-showing-up-on-backup-card
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-rest-product-data.php
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#41041 General: fix typo in .gitignore
  .gitignore
Labels: [Type] Bug, General, [Status] Needs Review, [Pri] Low

#40670 ThreatsDataViews: Improve responsiveness
  projects/js-packages/components/components/threats-data-views/index.tsx
  projects/plugins/protect/src/js/routes/home/styles.module.scss
  projects/plugins/protect/src/js/routes/scan/styles.module.scss
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Ready to Merge, RNA, [JS Package] Components, [Plugin] Protect

#41061 ci: Fix Test workflow concurrency for code coverage
  .github/workflows/tests.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#41033 PieChart: Introduce padScale and cornerScale properties
  projects/js-packages/charts/changelog/update-introduce-slide-gap-prop-to-pie-charts
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/stories/index.stories.tsx
Labels: [Type] Enhancement, [Status] Needs Team Review, RNA, [JS Package] Charts

#41040 Forms: allow HTML block within forms
  projects/packages/forms/changelog/update-forms-core-html-block
  projects/packages/forms/src/blocks/contact-form/edit.js
  projects/plugins/jetpack/changelog/update-forms-core-html-block
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#40928 Social | Implement the other CRUD operations for connections
  projects/js-packages/publicize-components/changelog/add-social-rest-crud-endpoints
  projects/js-packages/publicize-components/src/social-store/actions/connection-data.ts
  projects/packages/publicize/.phan/baseline.php
  projects/packages/publicize/changelog/add-social-rest-crud-endpoints
  projects/packages/publicize/src/class-connections.php
  projects/packages/publicize/src/rest-api/class-base-controller.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
  projects/packages/publicize/src/rest-api/class-proxy-requests.php
Labels: [Type] Enhancement, [Feature] Publicize, [Status] Needs Team Review, RNA, [Package] Publicize, [JS Package] Publicize Components

#41017 Embeds: Fix descript block variation icon console error
  projects/plugins/jetpack/changelog/fix-descript-icon-console-error
  projects/plugins/jetpack/extensions/shared/icons.js
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Ready to Merge, [Pri] Low, [Focus] Blocks, [Plugin] Jetpack, [Feature] Misc Blocks

#41032 Import Media: Introduce the new Import Media page under the Media menu
  projects/packages/jetpack-mu-wpcom/changelog/feat-introduce-wpcom-external-media-import-page
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-media/wpcom-external-media-import.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-media/wpcom-external-media-import.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/plugins/mu-wpcom-plugin/changelog/feat-introduce-wpcom-external-media-import-page
  projects/plugins/wpcomsh/changelog/feat-introduce-wpcom-external-media-import-page
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh

#41054 Remove duplicate views: Remove icons object
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-icons
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/removed-calypso-screen-notice.tsx
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#41024 Pexels: Update title of option to be sentence case
  projects/plugins/jetpack/changelog/update-sentence-case-pexels
  projects/plugins/jetpack/extensions/shared/external-media/media-service/index.ts
  projects/plugins/jetpack/extensions/shared/external-media/sources/index.js
Labels: [Type] Enhancement, [Status] Ready to Merge, [Pri] Normal, [Extension] External Media, [Plugin] Jetpack

#41023 Move WPCOM_REST_API_Proxy_Request trait to the connection package
  projects/packages/connection/changelog/update-move-wpcom-rest-api-proxy-request-trait
  projects/packages/connection/src/traits/trait-wpcom-rest-api-proxy-request.php
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-email-preview.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-newsletter-categories-list.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-newsletter-categories-subscriptions-count.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-send-email-preview.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v3-endpoint-blogging-prompts.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/memberships.php
  projects/plugins/jetpack/changelog/update-move-wpcom-rest-api-proxy-request-trait
Labels: [Status] Ready to Merge, [Type] Task, [Package] Connection, [Plugin] Jetpack

#41002 Sharing Block > Native sharing: use relevant link for popup
  projects/plugins/jetpack/changelog/fix-sharing-dialog-location
  projects/plugins/jetpack/extensions/blocks/sharing-buttons/view.js
Labels: [Type] Bug, [Feature] Sharing, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Sharing Buttons

#40672 Priority indicators: update logic to match new priority matrix
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-priority-indicators
  projects/github-actions/repo-gardening/src/utils/parse-content/find-priority.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, Actions, [Action] Repo Gardening

#41083 Temporarily restore WPCOM_REST_API_Proxy_Request_Trait for deployments
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/trait-wpcom-rest-api-proxy-request-trait.php
  projects/plugins/jetpack/changelog/update-add-back-the-moved-file-to-fix-deployments
Labels: [Status] Needs Review, [Type] Task, [Plugin] Jetpack

#41066 Add a watch script for masterbar package
  projects/packages/masterbar/changelog/add-masterbar-watch
  projects/packages/masterbar/composer.json
  projects/packages/masterbar/package.json
  projects/plugins/jetpack/changelog/add-masterbar-watch
  projects/plugins/jetpack/composer.lock
  projects/plugins/mu-wpcom-plugin/changelog/add-masterbar-watch
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/add-masterbar-watch
  projects/plugins/wpcomsh/composer.lock
Labels: [Type] Enhancement, [Status] Ready to Merge, [Feature] Masterbar, [Plugin] Jetpack, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Masterbar

#40902 Upsell nudge: fix click Safari, disable block
  projects/js-packages/shared-extension-utils/changelog/fix-upsell-nudge-safari
  projects/js-packages/shared-extension-utils/index.js
  projects/js-packages/shared-extension-utils/src/with-has-warning-is-interactive-class-names/index.jsx
  projects/js-packages/shared-extension-utils/src/with-has-warning-is-interactive-class-names/style.scss
  projects/packages/forms/changelog/fix-upsell-nudge-safari
  projects/packages/forms/src/blocks/contact-form/util/register-jetpack-block.js
  projects/plugins/jetpack/changelog/fix-upsell-nudge-safari
  projects/plugins/jetpack/extensions/blocks/videopress/editor.js
  projects/plugins/jetpack/extensions/extended-blocks/paid-blocks/with-upgrade-banner.jsx
  projects/plugins/jetpack/extensions/shared/register-jetpack-block.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, Plans, [Plugin] Jetpack, [Block] Contact Form, [Block] VideoPress, RNA, [JS Package] Shared Extension Utils, [Package] Forms

#41006 Boost: Trigger a site health issue if cornerstone change is detected
  projects/plugins/boost/app/lib/Environment_Change_Detector.php
  projects/plugins/boost/changelog/add-cornerstone-to-site-health
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Boost

#41064 Dev CLI: Add mirror repo information
  projects/js-packages/jetpack-cli/changelog/add-auto-publish-cli
  projects/js-packages/jetpack-cli/composer.json
  projects/js-packages/jetpack-cli/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Tools] Development CLI, RNA, Reviewer Can Merge, [JS Package] Jetpack CLI

#41096 Jetpack Dev Env: 1.0 release
  projects/js-packages/jetpack-cli/CHANGELOG.md
  projects/js-packages/jetpack-cli/changelog/add-auto-publish-cli
  projects/js-packages/jetpack-cli/changelog/initial-version
  projects/js-packages/jetpack-cli/package.json
Labels: [Status] Needs Review, [Type] Janitorial, RNA, Reviewer Can Merge, [JS Package] Jetpack CLI

#41095 cli: Add `--use-version` option to `jetpack release`
  tools/cli/commands/release.js
Labels: [Type] Enhancement, [Status] Needs Review, [Pri] Normal, [Tools] Development CLI

#40971 Add/api sandboxed tag to my jetpack
  pnpm-lock.yaml
  projects/js-packages/components/changelog/add-optional-api-sandboxed-tag-to-admin-page-component
  projects/js-packages/components/components/admin-page/index.tsx
  projects/js-packages/components/components/admin-page/style.module.scss
  projects/js-packages/components/components/admin-page/types.ts
  projects/js-packages/components/package.json
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/add-api-sandboxed-tag-to-my-jetpack
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, RNA, [JS Package] Components, [Package] My Jetpack

#41076 Social: Hide license link on Social admin page of WoA sites
  projects/js-packages/script-data/changelog/hide-license-on-woa
  projects/js-packages/script-data/src/types.ts
  projects/packages/publicize/changelog/hide-license-on-woa
  projects/packages/publicize/src/class-publicize-script-data.php
  projects/plugins/social/changelog/hide-license-on-woa
  projects/plugins/social/src/js/components/admin-page/header/index.jsx
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Author Reply, [Status] In Progress, RNA, [Package] Publicize, [Plugin] Social, [JS Package] Publicize Components, [JS Package] Script Data, Groundskeeping

#41110 Only run GB 19.8 hotfix for non-admin users
  projects/packages/jetpack-mu-wpcom/changelog/hotfix-template-locked-bug-2
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-hotfixes/wpcom-hotfixes.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, Groundskeeping, [mu wpcom Feature] Wpcom Hotfixes

#41111 Jetpack mu wpcom: Fix WPCOM global style popup issue
  projects/packages/jetpack-mu-wpcom/changelog/fix-wpcom-global-popup-issue
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-global-styles/wpcom-global-styles-view.scss
Labels: [Type] Bug, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Global Styles

#41036 Fix: newsletter toggle in editor sidebar has a visually broken active state
  projects/plugins/jetpack/changelog/fix-broken-newsletter-toggle
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack

#41075 Related Posts: Hide settings in block themes
  projects/plugins/jetpack/_inc/client/traffic/related-posts.jsx
  projects/plugins/jetpack/changelog/update-related-posts-block-theme
  projects/plugins/jetpack/modules/related-posts/jetpack-related-posts.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Feature] Related Posts, [Status] In Progress, Admin Page, [Plugin] Jetpack

#40930 Full sync: Send context for initial full sync action
  projects/packages/sync/changelog/update-handle-context-in-full-sync
  projects/packages/sync/src/class-actions.php
  projects/packages/sync/src/class-rest-endpoints.php
  projects/packages/sync/src/modules/class-full-sync-immediately.php
  projects/packages/sync/src/modules/class-full-sync.php
  projects/plugins/jetpack/_inc/class.jetpack-provision.php
  projects/plugins/jetpack/changelog/update-handle-context-in-full-sync
  projects/plugins/jetpack/class.jetpack-cli.php
  projects/plugins/jetpack/json-endpoints/jetpack/class.jetpack-json-api-sync-endpoint.php
Labels: [Feature] WPCOM API, [Status] Ready to Merge, [Package] Sync, [Type] Infrastructure, [Plugin] Jetpack

#41093 Remove duplicate views: Implement A/A test (WP Admin)
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-aa-test
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#41087 Social | Use the proxy trait from connection package
  projects/packages/publicize/src/class-connections.php
  projects/packages/publicize/src/rest-api/class-connections-controller.php
  projects/packages/publicize/src/rest-api/class-proxy-requests.php
Labels: [Feature] Publicize, [Status] Needs Author Reply, [Type] Task, [Status] Needs Team Review, [Package] Publicize

#41114 Social | Fix the connections field schema to allow null where it can be
  projects/packages/publicize/changelog/fix-social-status-set-default-fo-unknown
  projects/packages/publicize/src/rest-api/class-connections-controller.php
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Package] Publicize

#41118 Repo Gardening: update VideoPress team assignment
  projects/github-actions/repo-gardening/changelog/update-repo-gardening-videopress-assigments
  projects/github-actions/repo-gardening/src/tasks/triage-issues/automattic-label-team-assignments.js
Labels: [Status] In Progress, [Type] Janitorial, [Pri] Normal, Actions, [Action] Repo Gardening

#41037 Remove duplicate views: Store experiment assignment in a different option
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-experiment-assignment-option
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#41125 Remove duplicate views: Rename experiment
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-duplicate-views-experiment-rename
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
Labels: [Type] Task, [Status] Needs Team Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface

#41010 Package protect-status: Fix Current_Plan::supports from busting cache on every call.
  projects/packages/protect-status/changelog/fix-protect-current-plan-supports-allow-cached
  projects/packages/protect-status/src/class-plan.php
Labels: [Status] Needs Author Reply, [Status] Needs Team Review, [Package] Protect Status

#41115 Storybook: Improve startup instructions
  projects/js-packages/storybook/changelog/howto-command-docs
  projects/js-packages/storybook/storybook/stories/docs/howto.mdx
  projects/js-packages/storybook/storybook/stories/docs/introduction.mdx
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, RNA, [JS Package] Storybook

#40943 Add reset options to my jetpack footer
  projects/js-packages/components/changelog/add-option-for-custom-footer-items
  projects/js-packages/components/components/admin-page/index.tsx
  projects/js-packages/components/components/admin-page/types.ts
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/_inc/data/utils/onKeyDownCallback.ts
  projects/packages/my-jetpack/_inc/data/utils/reset-jetpack-options.ts
  projects/packages/my-jetpack/changelog/add-reset-options-to-my-jetpack-footer
  projects/packages/my-jetpack/global.d.ts
  projects/packages/my-jetpack/src/class-initializer.php
Labels: [Status] Needs Author Reply, RNA, [JS Package] Components, [Package] My Jetpack

#41073 Fix: Customiser color settings affect block editor UI.
  projects/plugins/wpcomsh/changelog/fix-customizer-color-css-affects-block-edior-ui
  projects/plugins/wpcomsh/custom-colors/colors.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] Needs Review, [Status] Needs Team Review, [Plugin] Wpcomsh

#41102 VideoPress Block: Fix block line-height.
  projects/packages/videopress/changelog/fix-videopress-block-line-height
  projects/packages/videopress/src/client/block-editor/blocks/video/block.json
  projects/packages/videopress/src/client/block-editor/blocks/video/style.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/view.scss
  projects/packages/videopress/src/client/block-editor/blocks/video/view.ts
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Package] VideoPress
