Repository Automattic/jetpack, pull requests merged in 2025-05, with the labels that each got.

#43301 Forms: Fix Single Choice (radio) block missing checkmark for selected option on frontend
  projects/packages/forms/src/contact-form/css/grunion.css
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43275 Blocks: Enable the Top Posts block for Simple sites WP-Admin
  projects/plugins/jetpack/_inc/lib/class-jetpack-top-posts-helper.php
  projects/plugins/jetpack/changelog/update-fix_top_posts_block_for_simple_sites
  projects/plugins/jetpack/extensions/blocks/top-posts/top-posts.php
Labels: [Type] Enhancement, [Status] Needs Review, [Status] Needs Team Review, [Plugin] Jetpack, [Block] Top Posts, I don't care about code coverage for this PR

#43303 Launchpad - first post published task - ignore import process
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-first-post-published-counting-imports
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#43309 Remove unnecessary `@babel/eslint-parser` dep
  pnpm-lock.yaml
  tools/js-tools/package.json
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Low

#43329 MU WPCOM: Fix Incorrectly Namespaced Tracks Events
  projects/packages/jetpack-mu-wpcom/changelog/dotcom-12946-investigate-settings-upsells-not-firing-tracks-event
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-fiverr/wpcom-fiverr.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-options-general/options-general.ts
Labels: [Type] Bug, [Status] Needs Review, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [mu wpcom Feature] Wpcom Options General, [mu wpcom Feature] Wpcom Fiverr

#43332 renovate: Update teams for reviewing dataviews upgrades
  .github/renovate.json5
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal

#43336 Forms: Ensure block modal handles services
  projects/packages/forms/changelog/update-forms-modal-for-services
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-body.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.js
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43280 Forms: Add tabs to forms dashboard
  projects/packages/forms/changelog/add-forms-dashboard-tabs
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/src/dashboard/landing/index.js
  projects/packages/forms/src/dashboard/landing/style.scss
  projects/plugins/jetpack/changelog/add-forms-dashboard-tabs
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43312 Svelte Data Sync Client: Deprecate
  projects/js-packages/svelte-data-sync-client/README.md
  projects/js-packages/svelte-data-sync-client/changelog/deprecate-svelte-data-sync-client
Labels: Docs, [Status] Ready to Merge, [Type] Janitorial, RNA, [JS Package] Svelte Data Sync Client

#43308 Returns site slug in the REST /sites/%s endpoint
  projects/plugins/jetpack/changelog/get-site-slug
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
  projects/plugins/jetpack/sal/class.json-api-site-base.php
Labels: [Feature] WPCOM API, [Status] Needs Author Reply, [Plugin] Jetpack

#43305 My Jetpack: Add E2E tests for onboarding
  .github/files/e2e-tests/e2e-matrix.js
  projects/packages/my-jetpack/_inc/components/onboarding-screen/connection-form/connection-form.tsx
  projects/packages/my-jetpack/changelog/add-my-jetpack-onboarding-e2e-tests
  projects/plugins/jetpack/changelog/add-my-jetpack-onboarding-e2e-tests
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/jetpack/tests/e2e/specs/connection/connection.test.js
  projects/plugins/jetpack/tests/e2e/specs/onboarding/full-connection.test.ts
  projects/plugins/jetpack/tests/e2e/specs/onboarding/landing-page.test.ts
  projects/plugins/jetpack/tests/e2e/specs/onboarding/site-connection.test.ts
  projects/plugins/jetpack/tests/e2e/specs/pre-connection/pre-connection.test.js
  tools/e2e-commons/flows/onboarding.ts
Labels: [Status] Needs Review, [Type] Task, Actions, E2E Tests, [Plugin] Jetpack, [Package] My Jetpack, [Tests] Includes Tests

#43283 Newsletter launchpad - update task labels and order
  projects/packages/jetpack-mu-wpcom/changelog/update-newsletter-launchpad-task-order-and-labels
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad.php
Labels: [Status] In Progress, [Status] Needs Review, [Type] Task, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad

#43343 Revert "Forms: Fix responses management compatibility with 6.6"
  projects/packages/forms/changelog/revert-42883-fix-forms-dataviews-with-6-6
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/dataviews/views.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Author Reply, [Status] Ready to Merge, [Package] Forms, [Type] Revert

#43344 Launchpad checklist: mark migrate_content task complete on imports.
  projects/packages/jetpack-mu-wpcom/changelog/fix-launchpad-migrate-content-task-completion
  projects/packages/jetpack-mu-wpcom/src/features/launchpad/launchpad-task-definitions.php
Labels: [Type] Bug, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Launchpad, I don't care about code coverage for this PR

#43311 Sharing: remove deprecated Skype sharing service
  projects/plugins/jetpack/changelog/rm-skype-sharing-service
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/components/social-icons.php
  projects/plugins/jetpack/extensions/blocks/sharing-button/style.scss
  projects/plugins/jetpack/modules/sharedaddy/amp-sharing.css
  projects/plugins/jetpack/modules/sharedaddy/sharing-service.php
  projects/plugins/jetpack/modules/sharedaddy/sharing-sources.php
Labels: [Feature] Sharing, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Plugin] Jetpack, [Block] Sharing Button

#43346 WooCommerce Analytics: Catch errant null param from third-party code
  projects/packages/woocommerce-analytics/changelog/fix-woocommerc-analytics-catch_null_param
  projects/packages/woocommerce-analytics/src/class-universal.php
Labels: [Type] Bug, [Status] Needs Review, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics, Bug

#43341 Forms: use WP.com specific copy and URLs at about page
  projects/packages/forms/changelog/update-forms-about-links
  projects/packages/forms/src/dashboard/landing/index.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#43024 Newsletter settings: default featured image in email to true for new sites
  projects/plugins/jetpack/changelog/update-newsletter-featured-image-default-to-true
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-site-settings-endpoint.php
Labels: [Type] Enhancement, [Feature] Subscriptions, [Feature] WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#43351 Shortcodes: Prefix YouTube shortcode functions
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/fix-jetpack-prefix_youtube_id_function
  projects/plugins/jetpack/functions.compat.php
  projects/plugins/jetpack/modules/shortcodes/youtube.php
  projects/plugins/jetpack/tests/php/general/Functions_Compat_Test.php
  projects/plugins/jetpack/tests/php/modules/shortcodes/Jetpack_Shortcodes_Youtube_Test.php
Labels: [Type] Bug, [Feature] Shortcodes / Embeds, [Status] Needs Review, [Plugin] Jetpack, [Tests] Includes Tests, Bug

#43357 Shortcodes: Remove temporary wrapper functions for YouTube
  projects/plugins/jetpack/changelog/fix-jetpack-prefix_youtube_functions_part3
  projects/plugins/jetpack/modules/shortcodes/youtube.php
Labels: [Feature] Shortcodes / Embeds, [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#43339 My Jetpack tour - copy update
  projects/packages/my-jetpack/_inc/components/onboarding-tour/index.tsx
  projects/packages/my-jetpack/changelog/update-MYJP-114-tour-copy
  projects/plugins/jetpack/changelog/update-MYJP-114-tour-copy
  projects/plugins/jetpack/tests/e2e/specs/onboarding/full-connection.test.ts
Labels: [Status] Needs Author Reply, E2E Tests, [Plugin] Jetpack, [Package] My Jetpack, [Tests] Includes Tests, Reviewer Can Merge

#43035 Jetpack: Lower the specificity of the global box-sizing styles applied in the editor context
  projects/js-packages/components/changelog/fix-turn-off-global-styles-in-the-editor
  projects/js-packages/components/components/theme-provider/globals.module.scss
  projects/plugins/automattic-for-agencies-client/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/backup/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/boost/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/classic-theme-helper-plugin/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/crm/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/inspect/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/jetpack/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/mu-wpcom-plugin/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/protect/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/search/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/social/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/starter-plugin/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/videopress/changelog/fix-turn-off-global-styles-in-the-editor
  projects/plugins/wpcomsh/changelog/fix-turn-off-global-styles-in-the-editor
Labels: [Type] Bug, [Status] Needs Review, [Block] Subscriptions, [Block] Ad, [Plugin] Jetpack, RNA, [Extension] Likes, [Plugin] Backup, [JS Package] Components, [Plugin] Boost, [Plugin] Search, [Extension] Sharing, [Extension] SEO, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] CRM, [Plugin] mu wpcom, [Plugin] Inspect, [Block] Voice To Content, [Plugin] Wpcomsh, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin

#43176 Boost: Gracefully handle overflow of max concat files
  projects/plugins/boost/.phan/baseline.php
  projects/plugins/boost/app/lib/minify/class-concatenate-css.php
  projects/plugins/boost/app/lib/minify/class-concatenate-js.php
  projects/plugins/boost/app/lib/minify/functions-helpers.php
  projects/plugins/boost/app/lib/minify/functions-service-fallback.php
  projects/plugins/boost/app/lib/minify/functions-service.php
  projects/plugins/boost/changelog/fix-concat-max-file-overflow
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost

#43208 Boost: Delete transients linked to updated post type records
  projects/plugins/boost/app/lib/class-storage-post-type.php
  projects/plugins/boost/changelog/update-boost-fix-deleting-transients
Labels: [Type] Bug, [Status] Needs Review, [Pri] BLOCKER, [Plugin] Boost, Coverage tests to be added later

#43307 Forms: no colon after question mark
  projects/packages/forms/changelog/update-forms-no-colon-after-question-mark
  projects/packages/forms/src/contact-form/class-contact-form.php
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Package] Forms

#43360 crm: Update `@tanstack/react-query` to v5
  pnpm-lock.yaml
  projects/plugins/crm/changelog/update-crm-tanstack-query
  projects/plugins/crm/package.json
  projects/plugins/crm/src/js/data/hooks/mutations.ts
  projects/plugins/crm/src/js/data/hooks/queries.ts
Labels: [Status] Needs Review, [Type] Janitorial, [Pri] Normal, [Plugin] CRM

#43331 Social: Fix start for free not working when module is OFF
  projects/js-packages/publicize-components/changelog/fix-social-start-for-free-not-working
  projects/js-packages/publicize-components/src/components/admin-page/index.tsx
  projects/js-packages/publicize-components/src/components/admin-page/pricing-page/index.tsx
  projects/plugins/jetpack/changelog/fix-social-start-for-free-not-working
Labels: [Type] Bug, [Feature] Publicize, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [JS Package] Publicize Components, Covered by non-unit tests

#43370 My Jetpack: Fix onboarding E2E tests for site connection
  projects/plugins/jetpack/changelog/fix-onboarding-e2e-tests
  projects/plugins/jetpack/tests/e2e/specs/onboarding/site-connection.test.ts
Labels: [Status] In Progress, [Type] Task, [Status] Needs Team Review, E2E Tests, [Plugin] Jetpack, [Tests] Includes Tests

#43372 Forms: Preserve responses query parameters
  projects/packages/forms/changelog/fix-form-responses-parameters
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/plugins/jetpack/changelog/fix-form-responses-parameters
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43358 Forms: Update form responses tabs
  projects/packages/forms/changelog/update-forms-inbox-tabs
  projects/packages/forms/src/dashboard/components/InboxStatusToggle/index.js
  projects/packages/forms/src/dashboard/components/InboxStatusToggle/style.scss
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/export-responses/index.js
  projects/packages/forms/src/dashboard/inbox/export-responses/style.scss
  projects/packages/forms/src/dashboard/inbox/index.js
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-forms-inbox-tabs
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43377 Forms: Fix responses toggle background
  projects/packages/forms/changelog/fix-form-toggle-bg
  projects/packages/forms/src/dashboard/components/InboxStatusToggle/index.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Package] Forms

#42796 i18n: Update `formatCurrency` / `getCurrencyObject` imports to be from `@automattic/number-formatters`
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-i18n-number-formatters-formatCurrency
  projects/js-packages/components/components/pricing-card/index.tsx
  projects/js-packages/components/components/product-price/price.tsx
  projects/js-packages/components/package.json
  projects/js-packages/number-formatters/changelog/update-i18n-number-formatters-formatCurrency
  projects/packages/backup/changelog/update-i18n-number-formatters-formatCurrency
  projects/packages/backup/package.json
  projects/packages/backup/src/js/components/backup-storage-space/storage-addon-upsell-prompt/price.js
  projects/packages/my-jetpack/_inc/components/product-card/pricing-component.tsx
  projects/packages/my-jetpack/_inc/components/product-detail-card/index.jsx
  projects/packages/my-jetpack/changelog/update-i18n-number-formatters-formatCurrency
  projects/packages/my-jetpack/package.json
  projects/packages/search/changelog/update-i18n-number-formatters-formatCurrency
  projects/packages/search/package.json
  projects/packages/search/src/dashboard/components/price/index.jsx
  projects/packages/subscribers-dashboard/changelog/update-i18n-number-formatters-formatCurrency
  projects/packages/subscribers-dashboard/package.json
  projects/plugins/boost/app/assets/src/js/features/upgrade-cta/upgrade-cta.tsx
  projects/plugins/boost/changelog/update-i18n-number-formatters-formatCurrency
  projects/plugins/boost/package.json
  projects/plugins/jetpack/_inc/client/components/jetpack-product-card/test/component.js
  projects/plugins/jetpack/_inc/client/recommendations/feature-utils.js
  projects/plugins/jetpack/_inc/client/recommendations/product-card-upsell/index.jsx
  projects/plugins/jetpack/changelog/update-i18n-number-formatters-formatCurrency
  projects/plugins/jetpack/extensions/blocks/donations/amount.js
  projects/plugins/jetpack/extensions/blocks/donations/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/donations/view.js
  projects/plugins/jetpack/extensions/shared/components/product-management-controls/toolbar-control.js
  projects/plugins/jetpack/extensions/store/membership-products/actions.js
  projects/plugins/jetpack/package.json
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, Docs, Admin Page, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Components, [Plugin] Boost, [Package] Search, [Package] My Jetpack, [Block] Donations, [Tests] Includes Tests, [Package] Subscribers Dashboard, [JS Package] Number Formatters

#43150 Boost: Support background-images for LCP Optimization
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/add-lcp-bg-img-support-plugin
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43272 Appearance menu: Add Additional CSS menu for classic themes
  projects/packages/masterbar/changelog/fix-add-additional-css-on-atomic
  projects/packages/masterbar/src/admin-menu/class-atomic-admin-menu.php
Labels: [Type] Bug, [Feature] Masterbar, [Status] Needs Team Review, [Package] Masterbar, I don't care about code coverage for this PR

#43379 Carousel: fix comment form element detection
  projects/plugins/jetpack/changelog/fix-carousel-comments-closed
  projects/plugins/jetpack/modules/carousel/jetpack-carousel.js
Labels: [Type] Bug, [Feature] Carousel, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack

#43323 Forms: Update feedback email template
  projects/packages/forms/changelog/update-feedback-emails-take-2
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/src/contact-form/templates/email-response.php
  projects/plugins/jetpack/changelog/update-feedback-emails-take-2
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms, I don't care about code coverage for this PR

#43382 Backport Jetpack 14.6
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#43380 Forms: Refactor logic for Success and Email Messages
  projects/packages/forms/changelog/update-forms-success-message
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Test.php
  projects/plugins/jetpack/changelog/update-forms-success-message
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Plugin] Jetpack, [Package] Forms, [Tests] Includes Tests

#43386 Fixing button label for E2E tests for onboarding
  tools/e2e-commons/flows/onboarding.ts
Labels: [Status] Needs Author Reply, E2E Tests

#43151 Boost: Invalidate LCP Data on Environment Changes
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/lib/class-environment-change-detector.php
  projects/plugins/boost/app/lib/critical-css/class-critical-css-invalidator.php
  projects/plugins/boost/app/modules/optimizations/cloud-css/class-cloud-css.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-invalidator.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/add-boost-lcp-invalidate-conditions
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, [Boost Feature] Cloud CSS, Coverage tests to be added later, [Boost Feature] Lcp

#43222 Boost: Invalidate LCP when Cornerstone Page list is updated
  projects/plugins/boost/app/assets/src/js/features/cornerstone-pages/meta/meta.tsx
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-invalidator.php
  projects/plugins/boost/changelog/add-boost-lcp-invalidate-cornerstone-list
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, [Boost Feature] Cloud CSS, Coverage tests to be added later, [Boost Feature] Lcp

#43284 Add Gravatar to logged-in verbum comments
  projects/packages/jetpack-mu-wpcom/changelog/verbum-add-gravatar-logged-in
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/EmailForm/profile-image.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/quick-editor.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/components/settings-button.tsx
  projects/packages/jetpack-mu-wpcom/src/features/verbum-comments/src/style.scss
  projects/packages/jetpack-mu-wpcom/verbum.webpack.config.js
Labels: [Type] Enhancement, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] Verbum Comments

#43286 Boost: Add the rest of the global variables for WP CLI
  projects/plugins/super-cache/changelog/fix-super-cache-wp-cli-global-variables
  projects/plugins/super-cache/wp-cache.php
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Super Cache, Coverage tests to be added later

#43003 Block / site editor: Prevent iframe related warnings for blocks
  projects/plugins/jetpack/changelog/fix-blocks-editor-style-loading
  projects/plugins/jetpack/class.jetpack-gutenberg.php
Labels: [Type] Bug, [Status] Ready to Merge, [Focus] Blocks, [Plugin] Jetpack

#43381 Forms: Adjust form responses styles
  projects/packages/forms/changelog/fix-form-export-button-mobile
  projects/packages/forms/src/dashboard/components/InboxStatusToggle/index.js
  projects/packages/forms/src/dashboard/components/InboxStatusToggle/style.scss
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/export-responses/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Package] Forms

#43223 Boost: Invalidate LCP when Cornerstone Page is updated
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-invalidator.php
  projects/plugins/boost/app/modules/optimizations/page-cache/class-cache-preload.php
  projects/plugins/boost/changelog/add-boost-lcp-invalidate-post-update
  projects/plugins/boost/tests/php/modules/optimizations/page-cache/Cache_Preload_Test.php
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, [Tests] Includes Tests, Coverage tests to be added later, [Boost Feature] Lcp

#43392 Forms: Fix: Ensure File Upload field auto-wraps in Form
  projects/packages/forms/changelog/fix-forms-file-upload-insert
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms

#43384 Sitemap: make XMLWriter optional, off by default
  projects/plugins/jetpack/changelog/fix-sitemap-oom
  projects/plugins/jetpack/modules/sitemaps/sitemap-buffer-factory.php
  projects/plugins/jetpack/modules/sitemaps/sitemap-logger.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/Jetpack_Sitemap_Buffer_Factory_Test.php
  projects/plugins/jetpack/tests/php/modules/sitemaps/Jetpack_Sitemap_Builder_Test.php
Labels: [Type] Bug, [Status] In Progress, [Feature] Sitemaps, [Pri] Normal, [Plugin] Jetpack, [Tests] Includes Tests

#43394 Forms: Add Typescript support
  pnpm-lock.yaml
  projects/packages/forms/.gitattributes
  projects/packages/forms/changelog/update-forms-add-typescript
  projects/packages/forms/declarations.d.ts
  projects/packages/forms/global.d.ts
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/landing/svg/akismet-svg.tsx
  projects/packages/forms/src/dashboard/landing/svg/check-svg.tsx
  projects/packages/forms/src/dashboard/landing/svg/close-svg.tsx
  projects/packages/forms/src/dashboard/landing/svg/export-svg.js
  projects/packages/forms/src/dashboard/landing/svg/export-svg.tsx
  projects/packages/forms/src/dashboard/landing/svg/notifications-svg.tsx
  projects/packages/forms/src/dashboard/landing/svg/wordpress-svg.tsx
  projects/packages/forms/tsconfig.json
Labels: [Feature] Contact Form, [Status] Ready to Merge, [Type] Janitorial, [Package] Forms, I don't care about code coverage for this PR

#43385 Forms: fix feedback submenu items
  projects/packages/forms/changelog/fix-jetpack-forms-feedback-submenu-items
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms, Coverage tests to be added later

#43383 CRM: Avoid running Phan on generated test file
  projects/plugins/crm/.phan/baseline.php
  projects/plugins/crm/.phan/config.php
  projects/plugins/crm/.phan/pre-run
  projects/plugins/crm/changelog/fix-crm-pin_gherkin_dep_for_codeception_tests
  projects/plugins/crm/composer.lock
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] CRM, [Tests] Includes Tests

#43396 Stats: avoid trying to access formatter for unavailable locale
  projects/packages/stats-admin/changelog/fix-php84-locale-error-stats
  projects/packages/stats-admin/src/class-admin-post-list-column.php
  projects/packages/stats-admin/tests/php/Admin_Post_List_Test.php
Labels: [Type] Bug, [Feature] Stats Data, [Status] Needs Review, [Pri] Normal, [Package] Stats Admin, [Tests] Includes Tests

#42456 i18n: Internalise legacy `getCurrencyDefaults` method from `@automattic/format-currency`
  projects/plugins/jetpack/changelog/update-i18n-internalize-get-currency-defaults
  projects/plugins/jetpack/extensions/blocks/simple-payments/deprecated/v2/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/edit.js
  projects/plugins/jetpack/extensions/blocks/simple-payments/utils.js
  projects/plugins/jetpack/extensions/shared/currencies.js
Labels: [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, RNA, [Block] Pay With Paypal, [JS Package] Number Formatters

#43334 Blocks: use new useResizeObserver hook
  projects/plugins/jetpack/changelog/update-useResizeObserver-hook-usage
  projects/plugins/jetpack/extensions/blocks/image-compare/edit.js
  projects/plugins/jetpack/extensions/blocks/story/player/player-ui.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Focus] Blocks, [Block] Image Compare, [Block] Story, [Plugin] Jetpack, I don't care about code coverage for this PR

#43405 i18n: Revert use of number-formatters for currency-formatting in donations block
  projects/plugins/jetpack/changelog/update-i18n-number-formatters-donations-bring-format-currency-back
  projects/plugins/jetpack/extensions/blocks/donations/amount.js
  projects/plugins/jetpack/extensions/blocks/donations/deprecated/v1/index.js
  projects/plugins/jetpack/extensions/blocks/donations/view.js
  projects/plugins/jetpack/tools/check-block-assets.php
Labels: [Status] Ready to Merge, [Plugin] Jetpack, [Block] Donations, [Type] Revert

#43315 Add PayPal Payments package - skeleton code only
  pnpm-lock.yaml
  projects/packages/paypal-payments/.gitattributes
  projects/packages/paypal-payments/.gitignore
  projects/packages/paypal-payments/.phan/baseline.php
  projects/packages/paypal-payments/.phan/config.php
  projects/packages/paypal-payments/.phpcs.dir.xml
  projects/packages/paypal-payments/CHANGELOG.md
  projects/packages/paypal-payments/README.md
  projects/packages/paypal-payments/changelog/.gitkeep
  projects/packages/paypal-payments/changelog/initial-version
  projects/packages/paypal-payments/composer.json
  projects/packages/paypal-payments/package.json
  projects/packages/paypal-payments/phpunit.11.xml.dist
  projects/packages/paypal-payments/phpunit.12.xml.dist
  projects/packages/paypal-payments/phpunit.8.xml.dist
  projects/packages/paypal-payments/phpunit.9.xml.dist
  projects/packages/paypal-payments/src/class-paypal-payments.php
  projects/packages/paypal-payments/tests/.phpcs.dir.xml
  projects/packages/paypal-payments/tests/php/Base_Test.php
  projects/packages/paypal-payments/tests/php/bootstrap.php
Labels: [Type] Enhancement, Docs, [Status] Ready to Merge, [Block] Pay With Paypal, [Feature] Pay with PayPal, [Tests] Includes Tests, [Package] Pay With Paypal, [Package] Paypal Payments

#43310 Stable release management: do not ship source files, and remove deprecated files
  projects/packages/backup/.gitattributes
  projects/packages/backup/changelog/update-ignored-files-production
  projects/packages/connection/.gitattributes
  projects/packages/connection/changelog/update-ignored-files-production
  projects/packages/explat/.gitattributes
  projects/packages/explat/changelog/update-ignored-files-production
  projects/packages/external-media/.gitattributes
  projects/packages/external-media/changelog/update-ignored-files-production
  projects/packages/forms/.gitattributes
  projects/packages/forms/changelog/update-ignored-files-production
  projects/packages/my-jetpack/.gitattributes
  projects/packages/my-jetpack/changelog/update-ignored-files-production
  projects/packages/subscribers-dashboard/.gitattributes
  projects/packages/subscribers-dashboard/changelog/update-ignored-files-production
  projects/packages/videopress/.gitattributes
  projects/packages/videopress/changelog/update-ignored-files-production
  projects/packages/wordads/.gitattributes
  projects/packages/wordads/changelog/update-ignored-files-production
  projects/plugins/jetpack/.gitattributes
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/_inc/lib/functions.wp-notify.php
  projects/plugins/jetpack/changelog/update-ignored-files-production
  projects/plugins/jetpack/class.jetpack-affiliate.php
  projects/plugins/jetpack/class.jetpack-bbpress-json-api.compat.php
  projects/plugins/jetpack/modules/cloudflare-analytics/cloudflare-analytics.php
  projects/plugins/jetpack/modules/masterbar.php
  projects/plugins/jetpack/modules/theme-tools/devicepx.php
  projects/plugins/jetpack/phpunit.11.xml.dist
  tools/phpcs-excludelist.json
Labels: [Feature] Contact Form, [Feature] Theme Tools, [Focus] Performance, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Package] Connection, [Plugin] Jetpack, [Feature] Cloudflare Analytics, [Package] Backup, [Package] My Jetpack, [Package] Ad, [Package] VideoPress, [Package] Forms, [Package] Explat, [Package] External Media, [Package] Subscribers Dashboard

#43402 Donations Block: ensure links in modal use ExternalLink component
  projects/plugins/jetpack/changelog/fix-donation-modal-external
  projects/plugins/jetpack/extensions/blocks/donations/first-time-modal.js
Labels: [Type] Bug, [Status] Needs Review, [Pri] Low, Earn, [Plugin] Jetpack, [Block] Donations

#43404 WPCOM_JSON_API_Update_Post_Endpoint: Ensure key and meta_key properties are not undefined.
  projects/plugins/jetpack/changelog/update-json-api-post-endpoint-undefined-property
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-endpoint.php
Labels: [Type] Bug, [Feature] WPCOM API, [Status] Needs Review, [Plugin] Jetpack

#43361 Forms: Update Landing page to About page
  pnpm-lock.yaml
  projects/packages/forms/assets/images/appointment-form.png
  projects/packages/forms/assets/images/contact-form.png
  projects/packages/forms/assets/images/feedback-form.png
  projects/packages/forms/assets/images/google-sheets-icon.png
  projects/packages/forms/assets/images/jetpack-icon.png
  projects/packages/forms/assets/images/registration-form.png
  projects/packages/forms/assets/images/rsvp-form.png
  projects/packages/forms/assets/images/salesforce-form.png
  projects/packages/forms/changelog/update-forms-dashboard-about
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/about/index.tsx
  projects/packages/forms/src/dashboard/about/style.scss
  projects/packages/forms/src/dashboard/about/svg/akismet-svg.tsx
  projects/packages/forms/src/dashboard/about/svg/check-svg.tsx
  projects/packages/forms/src/dashboard/about/svg/close-svg.tsx
  projects/packages/forms/src/dashboard/about/svg/export-svg.tsx
  projects/packages/forms/src/dashboard/about/svg/notifications-svg.tsx
  projects/packages/forms/src/dashboard/about/svg/wordpress-svg.tsx
  projects/packages/forms/src/dashboard/components/create-form-button/index.tsx
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/src/dashboard/landing/index.js
  projects/packages/forms/src/dashboard/landing/style.scss
  projects/plugins/jetpack/changelog/update-forms-dashboard-about
Labels: [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Package] Forms, [Type] Feature, Coverage tests to be added later

#42864 i18n: Switch `numberFormat` to `@automattic/number-formatters`
  pnpm-lock.yaml
  projects/js-packages/components/changelog/update-i18n-number-formatters-numberFormat
  projects/js-packages/components/components/boost-score-graph/uplot-line-chart.tsx
  projects/js-packages/components/components/number-format/README.md
  projects/js-packages/components/components/number-format/index.ts
  projects/js-packages/components/components/record-meter-bar/index.tsx
  projects/js-packages/components/components/stat-card/index.tsx
  projects/js-packages/components/index.ts
  projects/packages/my-jetpack/_inc/components/product-cards-section/contextual-card-info.jsx
  projects/packages/my-jetpack/_inc/components/product-cards-section/protect-card/logins-blocked-status.tsx
  projects/packages/my-jetpack/_inc/utils/format-number.ts
  projects/packages/my-jetpack/_inc/utils/format-percentage.ts
  projects/packages/my-jetpack/changelog/update-i18n-number-formatters-numberFormat
  projects/packages/search/changelog/update-i18n-number-formatters-numberFormat
  projects/packages/search/src/dashboard/components/donut-meter-container/index.jsx
  projects/packages/search/src/dashboard/components/record-meter/notice-box.jsx
  projects/packages/search/src/dashboard/components/record-meter/record-count.jsx
  projects/packages/videopress/changelog/update-i18n-number-formatters-numberFormat
  projects/packages/videopress/package.json
  projects/packages/videopress/src/client/admin/components/video-card/index.tsx
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/protect.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/dash-stats-bottom.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/security/backups-scan.jsx
  projects/plugins/jetpack/changelog/update-i18n-number-formatters-numberFormat
  projects/plugins/jetpack/extensions/blocks/blog-stats/edit.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/controls.js
  projects/plugins/jetpack/extensions/blocks/subscriptions/edit.js
  projects/plugins/jetpack/extensions/shared/memberships/settings.js
Labels: [Status] Needs Author Reply, [Status] In Progress, Docs, Admin Page, [Type] Janitorial, [Block] Subscriptions, [Plugin] Jetpack, RNA, [Package] Backup, [JS Package] Components, [Plugin] Boost, [Package] Search, [Package] My Jetpack, [Block] Donations, [Package] VideoPress, [Tests] Includes Tests, [Block] Blog Stats, [JS Package] Number Formatters

#43414 Forms: Unify icons and add Creative Mail to about page
  projects/packages/forms/assets/images/jetpack-icon.png
  projects/packages/forms/changelog/update-forms-icons-tsx
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/active-integrations/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/active-integrations/style.scss
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/creative-mail-card.js
  projects/packages/forms/src/dashboard/about/index.tsx
  projects/packages/forms/src/dashboard/about/style.scss
  projects/packages/forms/src/icons/akismet-icon.js
  projects/packages/forms/src/icons/akismet.tsx
  projects/packages/forms/src/icons/creative-mail.tsx
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Block] Contact Form, [Package] Forms, I don't care about code coverage for this PR

#43406 Upsell SEO tools: Fix color of the Upsell button on Simple sites
  projects/plugins/jetpack/changelog/fix-color-on-upsell-screen
  projects/plugins/jetpack/extensions/plugins/seo/components/upsell.scss
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, [Extension] SEO

#43419 Forms: remove Salesforce variation
  projects/packages/forms/changelog/update-remove-salesforce-form-variation
  projects/packages/forms/src/blocks/contact-form/attributes.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-salesforce-lead-form/jetpack-salesforce-lead-form-settings.js
  projects/packages/forms/src/blocks/contact-form/variations.js
  projects/plugins/jetpack/changelog/update-remove-salesforce-form-variation
Labels: [Type] Enhancement, [Feature] Contact Form, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43403 Modules: Fix JS string extraction.
  projects/plugins/jetpack/changelog/fix-newsletter-js-string-extraction
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/class-jetpack-newsletter-dashboard-widget.php
  projects/plugins/jetpack/tools/webpack.config.js
Labels: [Type] Bug, [Feature] Sharing, [Feature] Subscriptions, [Feature] Carousel, [Feature] Tiled Gallery, [Feature] Widget Visibility, [Feature] Shortcodes / Embeds, [Feature] Extra Sidebar Widgets, [Feature] Infinite Scroll, [Feature] VideoPress, [Status] Needs Author Reply, [Feature] Theme Tools, [Feature] Related Posts, [Status] Needs Review, [Focus] i18n, [Plugin] Jetpack, [Feature] Ad, [Feature] Scan, [Block] Like, I don't care about code coverage for this PR

#43422 Forms: Fix mobile styles for block modal
  projects/packages/forms/changelog/fix-forms-modal-on-mobile
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] In Progress, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43375 Remove reference to Skype
  projects/js-packages/social-logos/changelog/remove-skype
  projects/js-packages/social-logos/official_links.md
  projects/js-packages/social-logos/src/font/codepoints.json
  projects/js-packages/social-logos/src/react/social-logo-data.tsx
  projects/js-packages/social-logos/src/social-logo-colors.css
  projects/js-packages/social-logos/src/svg/skype.svg
  projects/packages/classic-theme-helper/changelog/remove-skype
  projects/packages/classic-theme-helper/src/social-menu/icon-functions.php
  projects/packages/classic-theme-helper/src/social-menu/social-menu.css
  projects/packages/classic-theme-helper/src/social-menu/social-menu.svg
  projects/plugins/jetpack/_inc/client/scss/variables/_colors.scss
  projects/plugins/jetpack/_inc/genericons/genericons/genericons.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.css
  projects/plugins/jetpack/_inc/social-logos/social-logos.html
  projects/plugins/jetpack/changelog/remove-skype
  projects/plugins/jetpack/extensions/blocks/sharing-button/variations.js
  projects/plugins/jetpack/extensions/extended-blocks/core-social-links/services.js
  projects/plugins/jetpack/modules/theme-tools/social-menu/icon-functions.php
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.css
  projects/plugins/jetpack/modules/theme-tools/social-menu/social-menu.svg
  projects/plugins/jetpack/modules/widgets/social-icons.php
Labels: [Type] Bug, [Feature] Extra Sidebar Widgets, [Feature] Theme Tools, Docs, [Status] Ready to Merge, Admin Page, [Plugin] Jetpack, RNA, [Block] Sharing Button, [JS Package] Social Logos, [Package] Classic Theme Helper

#43373 Fix loading of translations for JS files in jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/changelog/fix-js-translations-jetpack-mu-wpcom
  projects/packages/jetpack-mu-wpcom/src/utils.php
  projects/plugins/jetpack/changelog/fix-js-translations-jetpack-mu-wpcom
Labels: [Type] Bug, [Status] Needs Author Reply, [Status] In Progress, [Plugin] Jetpack, [Package] Jetpack mu wpcom

#43423 Subscriptions: Load script translations for newsletter.
  projects/plugins/jetpack/changelog/fix-newsletter-localization
  projects/plugins/jetpack/modules/subscriptions/newsletter-widget/class-jetpack-newsletter-dashboard-widget.php
Labels: [Type] Bug, [Feature] Subscriptions, [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Jetpack, I don't care about code coverage for this PR

#43424 Theme Tools: fix minor typo in HTML comment
  projects/plugins/jetpack/changelog/fix-typo-author
  projects/plugins/jetpack/modules/theme-tools/content-options/author-bio.php
Labels: [Type] Bug, [Status] Needs Author Reply, [Feature] Theme Tools, [Status] Ready to Merge, [Pri] Low, [Plugin] Jetpack

#43225 Boost: Add srcset and some diff sized images to lcp img tag.
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/update-boost-add-lcp-srcset
Labels: [Status] Needs Review, [Plugin] Boost, [Type] Feature, Coverage tests to be added later, [Boost Feature] Lcp

#43369 Boost: Add partial LCP analysis
  projects/plugins/boost/app/lib/cornerstone/class-cornerstone-utils.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-analyzer.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-invalidator.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-state.php
  projects/plugins/boost/changelog/update-boost-lcp-partial-analysis
Labels: [Status] Needs Review, [Plugin] Boost, [Type] Feature, Coverage tests to be added later, [Boost Feature] Lcp

#43390 AI Assistant: Track model used in toolbar extension and AI excerpt features
  projects/js-packages/ai-client/changelog/ai-model-used
  projects/js-packages/ai-client/src/chrome-ai/factory.ts
  projects/js-packages/ai-client/src/chrome-ai/suggestions.ts
  projects/js-packages/ai-client/src/hooks/use-ai-suggestions/index.ts
  projects/js-packages/ai-client/src/types.ts
  projects/plugins/jetpack/changelog/add-chrome-ai-event-properties
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
  projects/plugins/jetpack/extensions/blocks/ai-assistant/extensions/text-blocks/with-ai-text-extension.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/components/ai-excerpt-control/index.tsx
  projects/plugins/jetpack/extensions/plugins/ai-content-lens/extend/ai-post-excerpt/index.tsx
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, [Extension] AI Content Lens, I don't care about code coverage for this PR

#43432 Prevent PHP fatal when `option_site_logo` filter receives WP_Error as param
  projects/plugins/jetpack/changelog/fix-jetpack-site_logo_fatal
  projects/plugins/jetpack/modules/theme-tools/site-logo.php
Labels: [Type] Bug, [Feature] Theme Tools, [Status] Ready to Merge, [Plugin] Jetpack, Bug

#43434 wpcomsh: Remove unused legacy CI files
  projects/plugins/wpcomsh/.circleci/config.yml
  projects/plugins/wpcomsh/.github/workflows/linting.yml
  projects/plugins/wpcomsh/.github/workflows/wpcloud.yml
  projects/plugins/wpcomsh/changelog/remove-wpcomsh-legacy_ci_files
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Wpcomsh

#43431 Concatenate JS: avoid issues with WooCommerce Bookings
  projects/plugins/boost/changelog/fix-boost-concat-js-woocommerce-bookings
  projects/plugins/boost/compatibility/js-concatenate.php
Labels: [Type] Bug, [Status] Ready to Merge, [Pri] Normal, [Focus] Compatibility, [Plugin] Boost, [Boost Feature] Minify

#43421 Full sync: Calculate metadata size for trimming and dynamic chunking based on all item not just value
  projects/packages/sync/changelog/update-full-sync-calculate-metadata-size-based-on-all-item-not-just-value
  projects/packages/sync/src/modules/class-module.php
  projects/plugins/jetpack/changelog/update-full-sync-calculate-metadata-size-based-on-all-item-not-just-value
  projects/plugins/jetpack/tests/php/sync/Jetpack_Sync_Comments_Test.php
  projects/plugins/jetpack/tests/php/sync/Jetpack_Sync_Post_Test.php
Labels: [Type] Bug, [Status] In Progress, [Status] Ready to Merge, [Package] Sync, [Plugin] Jetpack, [Tests] Includes Tests

#43433 Chrome AI: shorten lengthy summaries
  projects/js-packages/ai-client/changelog/add-chrome-ai-shorten-lenghy-summaries
  projects/js-packages/ai-client/src/chrome-ai/suggestions.ts
Labels: [Type] Bug, [Status] Needs Review, RNA, [JS Package] AI Client, I don't care about code coverage for this PR

#43416 Boost Page Cache: make module off when Endurance Page Cache is on
  projects/plugins/boost/app/admin/class-config.php
  projects/plugins/boost/app/assets/src/js/features/page-cache/page-cache.tsx
  projects/plugins/boost/app/assets/src/js/global.d.ts
  projects/plugins/boost/app/assets/src/js/lib/utils/caching.ts
  projects/plugins/boost/app/lib/class-cache-compatibility.php
  projects/plugins/boost/app/modules/optimizations/page-cache/class-page-cache.php
  projects/plugins/boost/changelog/update-boost-cache-endurance
  projects/plugins/boost/tests/php/lib/Cache_Compatibility_Test.php
Labels: [Type] Bug, [Status] Needs Review, Admin Page, [Pri] Normal, [Focus] Compatibility, [Plugin] Boost, [Tests] Includes Tests, [Boost Feature] Page Cache, I don't care about code coverage for this PR

#43444 Add endpoint for LCP analysis payload
  projects/plugins/boost/app/class-jetpack-boost.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-utils.php
  projects/plugins/boost/app/rest-api/endpoints/class-list-lcp-analysis.php
  projects/plugins/boost/changelog/add-boost-endpoint-lcp-payload
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43445 Bump WC Calypso Bridge to 2.10.3
  projects/plugins/wpcomsh/changelog/wc-woo-calypso-bridge
  projects/plugins/wpcomsh/composer.json
  projects/plugins/wpcomsh/composer.lock
Labels: [Status] Needs Review, [Type] Task, [Plugin] Wpcomsh

#43443 Boost: Move Optimization functionality to new LCP_Optimizer class
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-optimizer.php
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp.php
  projects/plugins/boost/changelog/update-boost-add-lcp-optimizer
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43437 cli: Update `jetpack docker phpunit` command
  docs/development-environment.md
  projects/plugins/jetpack/changelog/update-cli-docker-phpunit-command
  projects/plugins/jetpack/extensions/shared/test/block-fixtures.md
  projects/plugins/jetpack/tests/php/core-api/wpcom-endpoints/WPCOM_REST_API_V2_Endpoint_Send_Email_Preview_Test.php
  projects/plugins/jetpack/tests/php/json-api/Jetpack_Base_Json_Api_Endpoints_Test.php
  projects/plugins/jetpack/tests/php/json-api/WPCOM_JSON_API_Site_Settings_V1_4_Endpoint_Test.php
  projects/plugins/jetpack/tests/php/modules/videopress/VideoPress_Player_Test.php
  projects/plugins/jetpack/tests/php/modules/widget-visibility/Jetpack_Widget_Conditions_Test.php
  tools/cli/commands/docker.js
  tools/docker/README.md
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Normal, Docker, [Tools] Development CLI, [Plugin] Jetpack, [Tests] Includes Tests

#43417 Forms: support 1/3 (33%) width in fields
  projects/packages/forms/changelog/update-forms-1-3-input
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-width.js
  projects/packages/forms/src/blocks/contact-form/editor.scss
  projects/packages/forms/src/contact-form/css/grunion.css
  projects/plugins/jetpack/changelog/update-forms-1-3-input
  projects/plugins/jetpack/extensions/shared/width-panel.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43449 Remove deprecated svelte-data-sync-client package from monorepo
  pnpm-lock.yaml
  projects/js-packages/svelte-data-sync-client/.gitattributes
  projects/js-packages/svelte-data-sync-client/.gitignore
  projects/js-packages/svelte-data-sync-client/CHANGELOG.md
  projects/js-packages/svelte-data-sync-client/README.md
  projects/js-packages/svelte-data-sync-client/babel.config.cjs
  projects/js-packages/svelte-data-sync-client/changelog/.gitkeep
  projects/js-packages/svelte-data-sync-client/composer.json
  projects/js-packages/svelte-data-sync-client/eslint.config.mjs
  projects/js-packages/svelte-data-sync-client/package.json
  projects/js-packages/svelte-data-sync-client/src/ApiError.ts
  projects/js-packages/svelte-data-sync-client/src/DataSync.ts
  projects/js-packages/svelte-data-sync-client/src/SyncedStore.ts
  projects/js-packages/svelte-data-sync-client/src/index.ts
  projects/js-packages/svelte-data-sync-client/src/initializeClient.ts
  projects/js-packages/svelte-data-sync-client/src/types.ts
  projects/js-packages/svelte-data-sync-client/src/utils.ts
  projects/js-packages/svelte-data-sync-client/tests/index.test.js
  projects/js-packages/svelte-data-sync-client/tests/jest.config.cjs
  projects/js-packages/svelte-data-sync-client/tsconfig.json
  projects/js-packages/svelte-data-sync-client/webpack.config.cjs
  projects/packages/wp-js-data-sync/README.md
  projects/packages/wp-js-data-sync/changelog/remove-svelte-data-sync-client
Labels: Docs, [Status] Needs Review, [Type] Janitorial, RNA, [Package] WP JS Data Sync, [JS Package] Svelte Data Sync Client, [Tests] Includes Tests

#43451 ci: Fix variable name
  .github/workflows/slack-workflow-failed.yml
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#43452 wpcomsh_footer_rum_js: Add wptheme, wptheme_is_block, logged_in custom properties
  projects/plugins/wpcomsh/changelog/update-wpcomsh-bilmur
  projects/plugins/wpcomsh/wpcomsh.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Review, [Plugin] Wpcomsh, I don't care about code coverage for this PR

#43441 Jetpack Search: additional filters support for Inline Search
  projects/packages/search/changelog/feature-inline-search-filters
  projects/packages/search/src/inline-search/class-inline-search.php
  projects/packages/search/tests/php/Inline_Search_Filters_Test.php
Labels: [Status] In Progress, [Status] Needs Review, [Package] Search, [Tests] Includes Tests, [Type] Feature

#43460 Jetpack Forms: fix forms dashboard not loading on different languages
  projects/packages/forms/changelog/fix-jetpack-forms-menu-page-translated-bug
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms, Coverage tests to be added later

#43466 locked-mode: Check option before checking feature
  projects/packages/jetpack-mu-wpcom/changelog/update-locked-mode
  projects/packages/jetpack-mu-wpcom/src/features/100-year-plan/locked-mode.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] Needs Review, [Package] Jetpack mu wpcom, [mu wpcom Feature] 100 Year Plan

#43430 Sync: Add support for `sandbox` environment type
  projects/packages/sync/changelog/add-support-for-sandbox-env-type
  projects/packages/sync/src/class-data-settings.php
  projects/packages/sync/src/class-defaults.php
  projects/packages/sync/src/class-functions.php
  projects/packages/sync/tests/php/Functions_Test.php
  projects/packages/sync/tests/php/data-test-data-settings.php
Labels: [Type] Enhancement, [Status] In Progress, [Package] Sync, [Tests] Includes Tests

#43470 Update endpoint Boost calls on WP.com for LCP requests
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-analyzer.php
  projects/plugins/boost/changelog/fix-boost-lcp-wpcom-endpoint
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Boost, I don't care about code coverage for this PR, [Boost Feature] Lcp

#43471 Forms: simplify dropzone area and settings for file upload field
  projects/packages/forms/assets/images/upload-icon.svg
  projects/packages/forms/changelog/update-forms-file-upload-tuning
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/editor.css
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43395 Forms: change copy of upsell banner for file upload block
  projects/packages/forms/changelog/update-forms-file-upload-upsell-copy
  projects/packages/forms/src/blocks/contact-form/components/upsell-nudge/index.js
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Block] Contact Form, [Package] Forms

#43462 Forms: Fix double scrollbars for responses
  projects/packages/forms/changelog/update-form-responses-styles
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/plugins/jetpack/changelog/update-form-responses-styles
Labels: [Type] Bug, [Feature] Contact Form, [Pri] Normal, [Plugin] Jetpack, [Package] Forms

#43487 Forms: Update Salesforce icons
  projects/packages/forms/changelog/update-forms-salesforce-icon
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/active-integrations/index.js
  projects/packages/forms/src/dashboard/about/index.tsx
  projects/packages/forms/src/icons/salesforce-circle.tsx
  projects/packages/forms/src/icons/salesforce.js
  projects/packages/forms/src/icons/salesforce.tsx
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43488 Forms inner blocks refactor: Add esc_attr calls to render_radio_field
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Package] Forms

#43473 My Jetpack: Onboarding | Optimize slider images for faster page load
  projects/packages/my-jetpack/_inc/components/onboarding-screen/icons/apple.svg
  projects/packages/my-jetpack/_inc/components/onboarding-screen/icons/github.svg
  projects/packages/my-jetpack/_inc/components/onboarding-screen/icons/google.svg
  projects/packages/my-jetpack/_inc/components/onboarding-screen/icons/jetpack.svg
  projects/packages/my-jetpack/_inc/components/testimonials/grow-your-audience.png
  projects/packages/my-jetpack/_inc/components/testimonials/index.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/sasha-endoh.png
  projects/packages/my-jetpack/_inc/components/testimonials/slide-01-sasha-endoh.jpg
  projects/packages/my-jetpack/_inc/components/testimonials/slide-02-tim-ferriss.jpg
  projects/packages/my-jetpack/_inc/components/testimonials/style.scss
  projects/packages/my-jetpack/_inc/components/testimonials/tim-ferriss-testimonial.png
  projects/packages/my-jetpack/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/backup/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/boost/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/jetpack/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/protect/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/search/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/social/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/starter-plugin/changelog/update-my-jetpack-optimize-onbording-slider-images
  projects/plugins/videopress/changelog/update-my-jetpack-optimize-onbording-slider-images
Labels: [Type] Enhancement, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, Enhancement

#43472 Repeat Visitor Block: Replace `__experimentalRole` with `role` attribute
  projects/plugins/jetpack/changelog/update-repeat-visitor-block-role-attribute
  projects/plugins/jetpack/extensions/blocks/repeat-visitor/test/validate.js
Labels: [Status] Needs Review, [Type] Janitorial, [Block] Repeat Visitor, [Plugin] Jetpack, [Tests] Includes Tests

#43458 Open Graph: Prevent PHP warnings for some Vimeo URL formats
  projects/plugins/jetpack/changelog/fix-open-graph-undefined-array-key-warning
  projects/plugins/jetpack/enhanced-open-graph.php
Labels: [Type] Bug, [Status] Needs Review, [Plugin] Jetpack

#43411 WPCOM: Add tracks in the post list for Quick links and stats icon
  projects/packages/jetpack-mu-wpcom/changelog/add-post-list-tracking
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-post-list/js/wpcom-post-list-tracks.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-post-list/wpcom-post-types-tracking.php
  projects/packages/jetpack-mu-wpcom/webpack.config.js
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Post List

#43110 Inline Search: Highlight searched term in returned results
  projects/packages/search/changelog/add-inline-search-term-highlighting
  projects/packages/search/src/inline-search/class-inline-search-highlighter.php
  projects/packages/search/src/inline-search/class-inline-search.php
  projects/packages/search/tests/php/Inline_Search_Filters_Test.php
  projects/packages/search/tests/php/Inline_Search_Test.php
  projects/plugins/jetpack/changelog/add-inline-search-term-highlighting
  projects/plugins/search/changelog/add-inline-search-term-highlighting
Labels: [Status] In Progress, [Plugin] Jetpack, [Plugin] Search, [Package] Search, [Tests] Includes Tests, Coverage tests to be added later

#43485 Jetpack Forms: fit dashboard layout height and scrollbars
  projects/packages/forms/changelog/fix-jetpack-forms-dashboard-layout-heights
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Team Review, [Plugin] Jetpack, [Package] Forms

#43442 Retrieve Chrome AI tokens from AI Assistant features
  .phan/stubs/wpcom-stubs.php
  projects/js-packages/ai-client/changelog/add-chrome-ai-tokens-from-assistant-features
  projects/js-packages/ai-client/src/hooks/use-ai-feature/index.ts
  projects/js-packages/shared-extension-utils/changelog/add-chrome-ai-tokens-from-assistant-features
  projects/js-packages/shared-extension-utils/src/store/wordpress-com/actions.ts
  projects/js-packages/shared-extension-utils/src/store/wordpress-com/types.ts
  projects/plugins/jetpack/_inc/lib/class-jetpack-ai-helper.php
  projects/plugins/jetpack/changelog/add-chrome-ai-tokens-from-assistant-features
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
Labels: [Type] Enhancement, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [Block] AI Assistant, [JS Package] AI Client, I don't care about code coverage for this PR

#43474 Boost: Check LCP data status before applying optimization
  projects/plugins/boost/app/modules/optimizations/lcp/class-lcp-optimizer.php
  projects/plugins/boost/changelog/fix-boost-lcp-apply-only-when-successful
Labels: [Type] Enhancement, [Status] Needs Review, [Plugin] Boost, Coverage tests to be added later, [Boost Feature] Lcp

#43457 Jetpack Search: add option for new inline search
  projects/packages/search/README.md
  projects/packages/search/changelog/add-inline-search-option
  projects/packages/search/src/class-module-control.php
  projects/packages/search/src/class-plan.php
  projects/packages/search/src/class-rest-controller.php
  projects/packages/search/src/classic-search/class-classic-search.php
  projects/packages/search/src/inline-search/class-inline-search.php
  projects/packages/search/src/instant-search/class-instant-search.php
  projects/packages/search/tests/php/REST_Controller_Test.php
Labels: Docs, [Status] Needs Review, [Package] Search, [Tests] Includes Tests, [Type] Feature

#43498 phpcs-filter: Fix code coverage run with phpcs 3.13
  projects/packages/phpcs-filter/changelog/fix-phpcs-filter-phpunit-coverage
  projects/packages/phpcs-filter/tests/php/bootstrap.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] High, [Package] Phpcs Filter, [Tests] Includes Tests

#43467 Tooling: Fix some `jetpack generate` quirks
  projects/plugins/automattic-for-agencies-client/changelog/update-tooling-add_wp_slug_via_generate_command
  projects/plugins/automattic-for-agencies-client/tests/e2e/specs/start.test.js
  projects/plugins/classic-theme-helper-plugin/changelog/update-tooling-add_wp_slug_via_generate_command
  projects/plugins/classic-theme-helper-plugin/tests/e2e/specs/start.test.js
  projects/plugins/starter-plugin/changelog/update-tooling-add_wp_slug_via_generate_command
  projects/plugins/starter-plugin/composer.json
  projects/plugins/starter-plugin/composer.lock
  projects/plugins/starter-plugin/jetpack-starter-plugin.php
  projects/plugins/starter-plugin/src/class-jetpack-starter-plugin.php
  projects/plugins/starter-plugin/tests/e2e/specs/start.test.js
  projects/plugins/starter-plugin/tests/php/Jetpack_Starter_Plugin_Test.php
  projects/plugins/starter-plugin/tests/php/bootstrap.php
  projects/plugins/videopress/changelog/update-tooling-add_wp_slug_via_generate_command
  projects/plugins/videopress/tests/e2e/specs/start.test.js
  tools/cli/commands/generate.js
Labels: [Status] Needs Review, [Type] Janitorial, E2E Tests, [Tools] Development CLI, [Plugin] Starter Plugin, [Plugin] VideoPress, [Tests] Includes Tests, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin

#43479 Forms: Add Google Drive to integrations modal
  projects/packages/forms/changelog/add-forms-modal-google-drive
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/google-sheets-card.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/index.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/integration-card-header.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/integration-card/style.scss
  projects/packages/forms/src/icons/google-sheets.tsx
  projects/plugins/jetpack/changelog/add-forms-modal-google-drive
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] In Progress, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43500 wpcomsh: Add PHPUnit script
  .github/workflows/wpcloud.yml
  projects/plugins/wpcomsh/bin/run-phpunit-tests.sh
  projects/plugins/wpcomsh/changelog/fix-tooling-prevent_tsconfig_inline_comments
Labels: [Status] Needs Review, [Type] Janitorial, Actions, [Plugin] Wpcomsh

#43503 Inline Search: Mitigate P2 bug
  projects/packages/search/changelog/fix-highlighter-title-param
  projects/packages/search/src/inline-search/class-inline-search-highlighter.php
  projects/plugins/jetpack/changelog/fix-highlighter-title-param
  projects/plugins/search/changelog/fix-highlighter-title-param
Labels: [Status] Needs Author Reply, [Plugin] Jetpack, [Plugin] Search, [Package] Search, Coverage tests to be added later

#43489 Forms: Fix label position when input has border and options does not
  projects/packages/forms/src/contact-form/class-contact-form-field.php
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43493 Stats: Remove deprecated code calling deprecated function
  projects/plugins/jetpack/.phan/baseline.php
  projects/plugins/jetpack/changelog/update-stats-remove-deprecated-code-calling-deprecated-function
  projects/plugins/jetpack/modules/stats.php
Labels: [Status] Ready to Merge, [Type] Janitorial, [Plugin] Jetpack

#42477 Remove/my jetpack remove zendesk chat script from dom
  projects/packages/my-jetpack/_inc/components/my-jetpack-screen/index.jsx
  projects/packages/my-jetpack/changelog/remove-my-jetpack-remove-zendesk-chat-script-from-dom
Labels: [Type] Task, [Status] Needs Team Review, [Package] My Jetpack

#43496 Boost: Remove beta tag from Auto-resize lazy images
  projects/plugins/boost/app/assets/src/js/features/image-cdn/image-cdn-liar/image-cdn-liar.tsx
  projects/plugins/boost/changelog/update-boost-liar-remove-beta-tag
Labels: [Type] Enhancement, [Status] Ready to Merge, [Plugin] Boost, [Boost Feature] Lazy Images

#43495 Add Chrome AI feature availability
  projects/js-packages/ai-client/changelog/ai-model-used
  projects/js-packages/ai-client/src/chrome-ai/factory.ts
  projects/js-packages/ai-client/src/chrome-ai/get-availability.ts
  projects/js-packages/ai-client/src/hooks/use-ai-feature/index.ts
  projects/plugins/jetpack/changelog/add-chrome-ai-event-properties
  projects/plugins/jetpack/extensions/blocks/ai-assistant/ai-assistant.php
Labels: [Type] Enhancement, [Status] In Progress, [Plugin] Jetpack, RNA, [Block] AI Assistant, [JS Package] AI Client, I don't care about code coverage for this PR

#43524 renovate: Fix new npmrc bug, and update script
  .github/files/renovate-post-upgrade.sh
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Actions

#43502 Forms: Add Integrations tab behind feature flag
  projects/packages/forms/changelog/add-forms-integration-tab-with-flag
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/layout/index.js
  projects/packages/forms/src/dashboard/index.js
  projects/packages/forms/src/dashboard/integrations/index.tsx
  projects/packages/forms/src/dashboard/integrations/style.scss
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] In Progress, [Pri] Normal, [Package] Forms

#43523 E2E tests: Update config encryption
  projects/plugins/automattic-for-agencies-client/changelog/fix-e2e-update_config_encryption
  projects/plugins/automattic-for-agencies-client/tests/e2e/package.json
  projects/plugins/boost/changelog/fix-e2e-update_config_encryption
  projects/plugins/boost/tests/e2e/package.json
  projects/plugins/classic-theme-helper-plugin/changelog/fix-e2e-update_config_encryption
  projects/plugins/classic-theme-helper-plugin/tests/e2e/package.json
  projects/plugins/jetpack/changelog/fix-e2e-update_config_encryption
  projects/plugins/jetpack/tests/e2e/config/encrypted.enc
  projects/plugins/jetpack/tests/e2e/package.json
  projects/plugins/protect/changelog/fix-e2e-update_config_encryption
  projects/plugins/protect/tests/e2e/package.json
  projects/plugins/search/changelog/fix-e2e-update_config_encryption
  projects/plugins/search/tests/e2e/package.json
  projects/plugins/social/changelog/fix-e2e-update_config_encryption
  projects/plugins/social/tests/e2e/package.json
  projects/plugins/starter-plugin/changelog/fix-e2e-update_config_encryption
  projects/plugins/starter-plugin/tests/e2e/package.json
  projects/plugins/videopress/changelog/fix-e2e-update_config_encryption
  projects/plugins/videopress/tests/e2e/package.json
  tools/e2e-commons/config/encrypted.enc
  tools/e2e-commons/package.json
Labels: [Status] In Progress, [Status] Needs Review, [Type] Janitorial, E2E Tests, [Plugin] Jetpack, [Plugin] Boost, [Plugin] Search, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Tests] Includes Tests, [Plugin] Automattic For Agencies Client, [Plugin] Classic Theme Helper Plugin

#43525 Forms: Fix issues in Forms inbox filters
  projects/packages/forms/changelog/fix-forms-inbox-filters-encoding
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Package] Forms

#43535 AI Chat / Donations blocks: fix inline script loading
  projects/plugins/jetpack/changelog/fix-order-chat-donations-blocks
  projects/plugins/jetpack/extensions/blocks/ai-chat/ai-chat.php
  projects/plugins/jetpack/extensions/blocks/donations/donations.php
Labels: [Type] Bug, [Status] Needs Review, [Pri] Normal, Earn, [Plugin] Jetpack, [Block] Donations, [Block] AI Chat

#43536 functions-wpcom-features.php: Sync changes from wpcom
  projects/plugins/wpcomsh/changelog/update-functions-wpcom-features
  projects/plugins/wpcomsh/wpcom-features/functions-wpcom-features.php
Labels: [Status] Needs Author Reply, [Status] Needs Review, [Type] Janitorial, [Plugin] Wpcomsh, I don't care about code coverage for this PR

#43538 Help Center APIs: Add support for an array of statuses
  projects/packages/jetpack-mu-wpcom/changelog/fix-hc-apu
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-support-interactions.php
Labels: [Status] Needs Author Reply, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, I don't care about code coverage for this PR

#43359 eslint: Add `@tanstack/eslint-plugin-query` plugin
  .pnpmfile.cjs
  pnpm-lock.yaml
  projects/js-packages/react-data-sync-client/changelog/add-eslint-tanstack-query
  projects/js-packages/react-data-sync-client/src/DataSyncHooks.ts
  projects/packages/my-jetpack/_inc/data/use-simple-query.ts
  projects/packages/my-jetpack/changelog/add-eslint-tanstack-query
  projects/plugins/crm/changelog/update-crm-tanstack-query
  projects/plugins/crm/package.json
  projects/plugins/crm/src/js/data/hooks/mutations.ts
  projects/plugins/crm/src/js/data/hooks/queries.ts
  projects/plugins/protect/changelog/add-eslint-tanstack-query
  projects/plugins/protect/src/js/data/scan/use-fixers-query.ts
  tools/js-tools/eslintrc/base.mjs
  tools/js-tools/package.json
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Normal, RNA, [Package] My Jetpack, [Plugin] Protect, [Plugin] CRM, [JS Package] React Data Sync Client

#43521 Boost e2e: Temporary skipping error notice checking
  projects/plugins/boost/changelog/fix-boost-module-e2e
  projects/plugins/boost/tests/e2e/specs/critical-css/critical-css.test.js
Labels: [Type] Bug, [Status] In Progress, [Status] Needs Review, E2E Tests, [Plugin] Boost, [Tests] Includes Tests, Bug

#43520 Theme Compatibility: Catch Twenty Twenty PHP warning
  projects/plugins/jetpack/changelog/fix-jetpack-twentytwenty_compat_warning
  projects/plugins/jetpack/modules/theme-tools/compat/twentytwenty.php
Labels: [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#43540 Forms: Fix file upload block insertion
  projects/packages/forms/changelog/fix-file-upload-insertion
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Status] In Progress, [Block] Contact Form, [Package] Forms

#43529 Forms: Add Create Form button to dashboard header
  pnpm-lock.yaml
  projects/packages/forms/changelog/update-forms-dashboard-create-form-button
  projects/packages/forms/package.json
  projects/packages/forms/src/dashboard/about/style.scss
  projects/packages/forms/src/dashboard/components/create-form-button/index.tsx
  projects/packages/forms/src/dashboard/components/create-form-button/style.scss
  projects/packages/forms/src/dashboard/components/layout/index.tsx
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/export-responses/style.scss
  projects/packages/forms/src/dashboard/index.tsx
  projects/packages/forms/tools/webpack.config.dashboard.js
Labels: [Feature] Contact Form, [Type] Task, [Status] Needs Team Review, [Package] Forms, I don't care about code coverage for this PR

#43295 Forms: add menu entry feature flags and code
  projects/packages/forms/changelog/add-jetpack-forms-dev-menu-entry-poc
  projects/packages/forms/composer.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/dashboard/admin-migrate-page/index.tsx
  projects/packages/forms/src/dashboard/class-dashboard-view-switch.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/packages/forms/src/dashboard/components/layout/style.scss
  projects/packages/forms/src/dashboard/inbox/style.scss
  projects/packages/forms/src/dashboard/index.tsx
  projects/packages/forms/src/dashboard/style.scss
  projects/plugins/jetpack/changelog/add-jetpack-forms-dev-menu-entry-poc
  projects/plugins/jetpack/composer.lock
Labels: [Feature] Contact Form, [Status] In Progress, [Type] Task, [Plugin] Jetpack, [Package] Forms, [Type] Feature, Coverage tests to be added later

#43543 Forms: Add max-width to Salesforce id input
  projects/packages/forms/changelog/updates-forms-salesforce-id-max-width
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/salesforce-card.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43542 Forms: Fix Akismet spam URL
  projects/packages/forms/changelog/update-forms-akismet-links
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/blocks/contact-form/components/jetpack-integrations-modal/akismet-card.js
  projects/packages/forms/src/contact-form/class-contact-form-endpoint.php
  projects/packages/forms/src/dashboard/integrations/akismet-card.tsx
  projects/plugins/jetpack/changelog/update-forms-akismet-links
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#43532 Forms: Fix block instance border color not overriding global styles border color with outlined style active (on the frontend)
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks, Bug

#43510 My Jetpack: Fix onboarding slider shift on window resize
  projects/js-packages/components/changelog/fix-my-jetpack-slider-shift-on-window-resize
  projects/js-packages/components/components/swipeable/index.tsx
Labels: [Type] Bug, [Status] Needs Team Review, RNA, [JS Package] Components

#43533 My Jetpack: Fix Onboarding UI responsiveness at 600px
  projects/packages/my-jetpack/_inc/components/onboarding-screen/styles.module.scss
  projects/packages/my-jetpack/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/backup/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/boost/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/jetpack/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/protect/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/search/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/social/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
  projects/plugins/videopress/changelog/fix-my-jetpack-onboarding-responsiveness-at-600px
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [Package] My Jetpack, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress

#43534 Forms: Fix typography input styles applying to labels when outline style is active (on frontend)
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Plugin_Test.php
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Author Reply, [Block] Contact Form, [Package] Forms, [Tests] Includes Tests, [Feature] Forms Blocks, Bug

#43549 HC: Add odie conversation endpoint
  projects/packages/jetpack-mu-wpcom/changelog/add-odie-conversation-endpoint
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-wp-rest-help-center-odie.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center, I don't care about code coverage for this PR

#43512 My jetpack: Update typography for onboarding slides
  projects/packages/my-jetpack/_inc/components/testimonials/index.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/slide-01-content.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/slide-01-gradient.tsx
  projects/packages/my-jetpack/_inc/components/testimonials/style.scss
  projects/packages/my-jetpack/changelog/update-my-jetpack-fix-typography-for-slides
Labels: [Type] Enhancement, [Status] In Progress, [Package] My Jetpack, I don't care about code coverage for this PR

#43548 Jetpack Post Images: Prevent undefined variable and key warnings
  projects/plugins/jetpack/changelog/update-jetpack-post-images-fixup-warnings
  projects/plugins/jetpack/class.jetpack-post-images.php
Labels: [Type] Bug, [Feature] Sharing, [Status] Ready to Merge, [Plugin] Jetpack

#43513 WPCOM_JSON_API_Update_Post_v1_1_Endpoint: Ensure properties and keys are not undefined
  projects/plugins/jetpack/changelog/update-json-api-post-endpoint-v1-1-undefined-values
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-update-post-v1-1-endpoint.php
Labels: [Type] Bug, [Feature] WPCOM API, [Status] Ready to Merge, [Plugin] Jetpack

#43539 Sharing buttons: Ensure we don't retrieve the post title or id from the object if it does not exist
  projects/plugins/jetpack/changelog/update-class-sharing-source-block-undefined-properties
  projects/plugins/jetpack/extensions/blocks/sharing-button/class-sharing-source-block.php
Labels: [Type] Bug, [Feature] Sharing, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Sharing Button

#43553 Classic Theme Helper: Catch PHP warning in featured content feature
  projects/packages/classic-theme-helper/.phan/baseline.php
  projects/packages/classic-theme-helper/changelog/fix-class-theme-helper-php_warning_on_featured_content
  projects/packages/classic-theme-helper/src/class-featured-content.php
  projects/plugins/jetpack/changelog/fix-class-theme-helper-php_warning_on_featured_content
  projects/plugins/jetpack/modules/theme-tools/featured-content.php
Labels: [Feature] Theme Tools, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [Package] Classic Theme Helper

#43555 Forms: File upload one file and bug fix
  projects/packages/forms/changelog/update-forms-file-upload-one-file
  projects/packages/forms/src/blocks/contact-form/child-blocks.js
  projects/packages/forms/src/blocks/contact-form/components/jetpack-field-file/index.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/packages/forms/src/contact-form/class-contact-form-plugin.php
  projects/packages/forms/src/modules/file-field/view.js
Labels: [Type] Bug, [Feature] Contact Form, [Status] Needs Review, [Block] Contact Form, [Package] Forms

#43560 Image Guide: remove rollup-plugin-svelte-svg dependency
  pnpm-lock.yaml
  projects/js-packages/image-guide/changelog/update-svelte
  projects/js-packages/image-guide/package.json
  projects/js-packages/image-guide/rollup.config.js
Labels: [Status] Ready to Merge, [Type] Janitorial, [Pri] Low, RNA, [JS Package] Image Guide

#43544 My Jetpack: fixing icon underline
  projects/packages/my-jetpack/_inc/components/onboarding-screen/connection-form/styles.module.scss
  projects/packages/my-jetpack/changelog/fix-MYJP-112-icon-underline
Labels: [Status] Needs Author Reply, [Package] My Jetpack

#43550 My Jetpack: Fix license activation button hover styles
  projects/js-packages/licensing/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/js-packages/licensing/components/activation-screen-controls/style.scss
  projects/plugins/backup/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/boost/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/jetpack/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/mu-wpcom-plugin/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/protect/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/search/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/social/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/starter-plugin/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/videopress/changelog/fix-my-jetpack-license-activation-button-hover-styles
  projects/plugins/wpcomsh/changelog/fix-my-jetpack-license-activation-button-hover-styles
Labels: [Type] Bug, [Status] Needs Team Review, [Plugin] Jetpack, RNA, [Plugin] Backup, [Plugin] Boost, [Plugin] Search, [JS Package] Licensing, [Plugin] Social, [Plugin] Starter Plugin, [Plugin] Protect, [Plugin] VideoPress, [Plugin] mu wpcom, [Plugin] Wpcomsh

#43322 CRM: Ensure consistent package annotations (and bonus linting)
  projects/plugins/crm/.phan/config.php
  projects/plugins/crm/admin/support/main.page.php
  projects/plugins/crm/changelog/fix-crm-consistent_package_annotations
  projects/plugins/crm/changelog/fix-crm-consistent_package_annotations#1
  projects/plugins/crm/includes/ZeroBSCRM.Core.php
  projects/plugins/crm/modules/portal/endpoints/class-cancel-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-dashboard-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-details-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-invoices-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-payments-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-quotes-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-single-quote-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-thanks-endpoint.php
  projects/plugins/crm/modules/portal/endpoints/class-transactions-endpoint.php
  projects/plugins/crm/modules/portal/templates/cancelled.php
  projects/plugins/crm/modules/portal/templates/dashboard.php
  projects/plugins/crm/modules/portal/templates/details.php
  projects/plugins/crm/modules/portal/templates/disabled.php
  projects/plugins/crm/modules/portal/templates/footer.php
  projects/plugins/crm/modules/portal/templates/invoices.php
  projects/plugins/crm/modules/portal/templates/login.php
  projects/plugins/crm/modules/portal/templates/quotes.php
  projects/plugins/crm/modules/portal/templates/single-invoice.php
  projects/plugins/crm/modules/portal/templates/single-quote.php
  projects/plugins/crm/modules/portal/templates/thank-you.php
  projects/plugins/crm/modules/portal/templates/transactions.php
  projects/plugins/crm/src/rest-api/v4/class-rest-automation-workflows-controller.php
  projects/plugins/crm/src/rest-api/v4/class-rest-base-controller.php
  projects/plugins/crm/src/rest-api/v4/class-rest-base-objects-controller.php
  projects/plugins/crm/src/rest-api/v4/class-rest-contacts-controller.php
  tools/phpcs-excludelist.json
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Plugin] CRM, [CRM] Portal Module

#43563 CRM: Decommit more dependencies
  .stylelintignore
  pnpm-lock.yaml
  projects/plugins/crm/admin/activation/welcome-to-jpcrm.php
  projects/plugins/crm/admin/dashboard/main.page.php
  projects/plugins/crm/changelog/fix-crm-decommit_more_dependencies
  projects/plugins/crm/css/lib/fullcalendar.print.min.css
  projects/plugins/crm/css/lib/hopscotch.css
  projects/plugins/crm/css/lib/hopscotch.min.css
  projects/plugins/crm/css/lib/jquery.modal.min.css
  projects/plugins/crm/css/lib/notifyme-front.min.css
  projects/plugins/crm/css/lib/sweetalert2-7.29.0.min.css
  projects/plugins/crm/css/welcome-to-zbs/bootstrap.css
  projects/plugins/crm/includes/ZeroBSCRM.NotifyMe.php
  projects/plugins/crm/includes/ZeroBSCRM.OnboardMe.php
  projects/plugins/crm/includes/ZeroBSCRM.ScriptsStyles.php
  projects/plugins/crm/js/ZeroBSCRM.admin.dash.js
  projects/plugins/crm/js/jpcrm-notifyme-front.js
  projects/plugins/crm/js/lib/bootstrap.min.js
  projects/plugins/crm/js/lib/chart.min.js
  projects/plugins/crm/js/lib/cookie.js
  projects/plugins/crm/js/lib/cookie.min.js
  projects/plugins/crm/js/lib/daterangepicker.min.js
  projects/plugins/crm/js/lib/hopscotch.js
  projects/plugins/crm/js/lib/hopscotch.min.js
  projects/plugins/crm/js/lib/hopscotch_amd.js
  projects/plugins/crm/js/lib/hopscotch_amd.min.js
  projects/plugins/crm/js/lib/jquery.funnel.min.js
  projects/plugins/crm/js/lib/jquery.modal.min.js
  projects/plugins/crm/js/lib/moment-with-locales.min.js
  projects/plugins/crm/js/lib/notifyme-front.js
  projects/plugins/crm/js/lib/notifyme-front.min.js
  projects/plugins/crm/js/lib/push.min.js
  projects/plugins/crm/js/lib/sweetalert2-7.29.0.min.js
  projects/plugins/crm/js/lib/typeahead.bundle.min.js
  projects/plugins/crm/js/welcome-to-zbs/bootstrap.min.js
  projects/plugins/crm/modules/woo-sync/sass/jpcrm-woo-sync-my-account.scss
  projects/plugins/crm/package.json
  projects/plugins/crm/sass/ZeroBSCRM.admin.global.scss
  projects/plugins/crm/sass/ZeroBSCRM.admin.invoicepreview.scss
  projects/plugins/crm/sass/_daterangepicker.scss
  projects/plugins/crm/sass/jpcrm-notifyme-front.scss
  projects/plugins/crm/webpack.config.js
Labels: [Status] Needs Review, Admin Page, [Type] Janitorial, [Plugin] CRM, [CRM] WooSync Module

#43541 Docker: Update WP login defaults
  tools/docker/bin/install.sh
  tools/docker/default.env
  tools/docker/docker-compose.yml
  tools/e2e-commons/bin/e2e-env.sh
  tools/e2e-commons/config/encrypted.enc
Labels: [Status] In Progress, [Status] Needs Review, [Type] Janitorial, Docker, E2E Tests

#43481 WoA: Clarify function names and comments related to checking for WoA sites
  projects/js-packages/script-data/changelog/update-woa-atomic-jetpack-site-usage-functions
  projects/js-packages/script-data/src/utils.ts
  projects/js-packages/shared-extension-utils/changelog/update-woa-atomic-jetpack-site-usage-functions
  projects/js-packages/shared-extension-utils/src/site-type-utils.js
  projects/plugins/jetpack/_inc/client/at-a-glance/akismet.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/index.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/scan.jsx
  projects/plugins/jetpack/_inc/client/at-a-glance/stats/index.jsx
  projects/plugins/jetpack/_inc/client/components/jetpack-notices/index.jsx
  projects/plugins/jetpack/_inc/client/components/support-card/index.jsx
  projects/plugins/jetpack/_inc/client/earn/ads.jsx
  projects/plugins/jetpack/_inc/client/earn/index.jsx
  projects/plugins/jetpack/_inc/client/main.jsx
  projects/plugins/jetpack/_inc/client/sharing/index.jsx
  projects/plugins/jetpack/_inc/client/state/initial-state/reducer.js
  projects/plugins/jetpack/_inc/lib/admin-pages/class-jetpack-redux-state-helper.php
  projects/plugins/jetpack/changelog/update-woa-atomic-jetpack-site-usage-functions
  tools/eslint-excludelist.json
Labels: [Status] In Progress, [Status] Needs Review, Admin Page, [Type] Janitorial, [Plugin] Jetpack, RNA, [JS Package] Shared Extension Utils, [JS Package] Script Data

#43574 Boost: Do not run an LCP analysis for cornerstone update if module is off
  projects/plugins/boost/app/modules/optimizations/lcp/class-optimize-lcp-endpoint.php
  projects/plugins/boost/changelog/fix-no-lcp-when-off
Labels: [Type] Bug, [Status] Ready to Merge, [Plugin] Boost, I don't care about code coverage for this PR, [Boost Feature] Lcp
