Repository Automattic/jetpack, pull requests merged in 2025-10, with the labels that each got.

#45346 class.wpcom-json-api-get-site-endpoint.php: Update docblocks
  projects/plugins/jetpack/changelog/api-get-site-endpoint-doc-changes
  projects/plugins/jetpack/json-endpoints/class.wpcom-json-api-get-site-endpoint.php
Labels: [Feature] WPCOM API, [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack

#45323 WooCommerce Analytics: Implement WP Consent API Integration
  projects/packages/woocommerce-analytics/.phan/stubs/wp-consent-api-stubs.php
  projects/packages/woocommerce-analytics/README.md
  projects/packages/woocommerce-analytics/changelog/wooa7s-526-implement-wp-consent-api-integration-in-woocommerce
  projects/packages/woocommerce-analytics/package.json
  projects/packages/woocommerce-analytics/src/API/class-wc-analytics-tracking-proxy.php
  projects/packages/woocommerce-analytics/src/class-consent-manager.php
  projects/packages/woocommerce-analytics/src/class-wc-analytics-tracking.php
  projects/packages/woocommerce-analytics/src/client/analytics.ts
  projects/packages/woocommerce-analytics/src/client/consent.ts
  projects/packages/woocommerce-analytics/src/client/index.ts
  projects/packages/woocommerce-analytics/src/client/init.ts
  projects/packages/woocommerce-analytics/src/client/session-manager.ts
  projects/packages/woocommerce-analytics/src/client/types/global.d.ts
Labels: Docs, [Status] Needs Review, [Type] Task, [Feature] WooCommerce Analytics, [Package] WooCommerce Analytics

#45349 Backport: WooCommerce Analytics 0.10.0 release
  projects/js-packages/babel-plugin-replace-textdomain/CHANGELOG.md
  projects/js-packages/babel-plugin-replace-textdomain/package.json
  projects/js-packages/boost-score-api/CHANGELOG.md
  projects/js-packages/boost-score-api/package.json
  projects/js-packages/components/CHANGELOG.md
  projects/js-packages/components/changelog/renovate-definitelytyped
  projects/js-packages/components/package.json
  projects/js-packages/connection/CHANGELOG.md
  projects/js-packages/connection/changelog/renovate-babel-monorepo
  projects/js-packages/connection/changelog/renovate-definitelytyped
  projects/js-packages/connection/package.json
  projects/js-packages/i18n-check-webpack-plugin/CHANGELOG.md
  projects/js-packages/i18n-check-webpack-plugin/changelog/renovate-babel-monorepo
  projects/js-packages/i18n-check-webpack-plugin/package.json
  projects/js-packages/idc/CHANGELOG.md
  projects/js-packages/idc/changelog/renovate-babel-monorepo
  projects/js-packages/idc/package.json
  projects/js-packages/number-formatters/CHANGELOG.md
  projects/js-packages/number-formatters/changelog/renovate-babel-monorepo
  projects/js-packages/number-formatters/package.json
  projects/js-packages/social-logos/CHANGELOG.md
  projects/js-packages/social-logos/changelog/renovate-definitelytyped
  projects/js-packages/social-logos/package.json
  projects/js-packages/webpack-config/CHANGELOG.md
  projects/js-packages/webpack-config/changelog/renovate-babel-monorepo
  projects/js-packages/webpack-config/package.json
  projects/packages/assets/CHANGELOG.md
  projects/packages/connection/CHANGELOG.md
  projects/packages/connection/changelog/renovate-babel-monorepo
  projects/packages/connection/src/class-package-version.php
  projects/packages/jitm/changelog/force-a-release
  projects/packages/post-list/changelog/force-a-release
  projects/packages/woocommerce-analytics/CHANGELOG.md
  projects/packages/woocommerce-analytics/changelog/renovate-babel-monorepo
  projects/packages/woocommerce-analytics/changelog/wooa7s-526-implement-wp-consent-api-integration-in-woocommerce
  projects/packages/woocommerce-analytics/composer.json
  projects/packages/woocommerce-analytics/package.json
  projects/packages/woocommerce-analytics/src/class-woocommerce-analytics.php
  projects/plugins/jetpack/changelog/prerelease
  projects/plugins/jetpack/composer.lock
Labels: [Status] Needs Author Reply, [Feature] WooCommerce Analytics, [Package] Connection, [Package] Assets, [Plugin] Jetpack, [Package] Jitm, RNA, [JS Package] Connection, [JS Package] Components, [Package] Post List, [JS Package] IDC, [JS Package] Webpack Config, [JS Package] Babel Plugin Replace Textdomain, [JS Package] I18n Check Webpack Plugin, [JS Package] Boost Score Api, [Package] WooCommerce Analytics, [JS Package] Social Logos, [JS Package] Number Formatters

#45181 jetpack-mu-wpcom: Add code block
  pnpm-lock.yaml
  projects/packages/jetpack-mu-wpcom/changelog/feature-wpcom-code-block
  projects/packages/jetpack-mu-wpcom/lezer-loader.js
  projects/packages/jetpack-mu-wpcom/package.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-definition/block-definition.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-definition/color-tools.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-definition/transforms.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/block-edit-function.tsx
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror-language-data.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror/block-delimiters-tokens.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror/block-html-parser.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror/blocks.grammar
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror/log-line-parser.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/codemirror/loglines.grammar
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/language-utils.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-edit-function/worker-admin.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-front/block-front.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/block-worker/block-worker.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/class-code-block-html-replacer.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/class-code-block.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/common/base-64.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/common/block.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/common/block.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/common/improved-code-editor-theme.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/editor.css
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/empty.js
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/style.css
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.base.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.block-definition.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.block-edit-function.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.block-front.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.block-worker.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.common.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/tsconfig.json
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/types/generated-codemirror-language-data.d.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/types/global.d.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/code/types/grammars.d.ts
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-blocks/tsconfig.json
  projects/packages/jetpack-mu-wpcom/tsconfig.json
  projects/packages/jetpack-mu-wpcom/webpack-plugins/codemirror-language-data-plugin.js
  projects/packages/jetpack-mu-wpcom/webpack.config.js
  projects/packages/jetpack-mu-wpcom/webpack.config.modules.js
  projects/plugins/mu-wpcom-plugin/changelog/feature-wpcom-code-block
  projects/plugins/wpcomsh/changelog/feature-wpcom-code-block
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Plugin] Wpcomsh, [mu wpcom Feature] Wpcom Blocks, [Type] Feature, I don't care about code coverage for this PR

#45353 Cleaning: Remove RDV untangling for the quick switcher
  projects/packages/jetpack-mu-wpcom/changelog/update-remove-rdv-logic
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-interface/wpcom-admin-interface.php
  projects/packages/masterbar/changelog/update-remove-rdv-logic
  projects/packages/masterbar/src/admin-menu/menu-mappings.php
Labels: [Status] Needs Author Reply, [Feature] Masterbar, [Package] Jetpack mu wpcom, [mu wpcom Feature] Wpcom Admin Interface, [Package] Masterbar

#45362 Forms: Improve preloading for endpoints
  projects/packages/forms/changelog/fix-forms-endpoints-preloading
  projects/packages/forms/src/blocks/contact-form/class-contact-form-block.php
  projects/packages/forms/src/dashboard/class-dashboard.php
  projects/plugins/jetpack/changelog/fix-forms-endpoints-preloading
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, [Feature] Forms Blocks

#45286 Charts: Add legendItemClassName prop for custom legend item styling
  projects/js-packages/charts/changelog/charts-103-add-legend-margin-and-styling-customization-props
  projects/js-packages/charts/src/components/bar-chart/bar-chart.tsx
  projects/js-packages/charts/src/components/legend/private/base-legend.tsx
  projects/js-packages/charts/src/components/legend/test/legend.test.tsx
  projects/js-packages/charts/src/components/legend/types.ts
  projects/js-packages/charts/src/components/line-chart/line-chart.tsx
  projects/js-packages/charts/src/components/pie-chart/pie-chart.tsx
  projects/js-packages/charts/src/components/pie-semi-circle-chart/pie-semi-circle-chart.tsx
  projects/js-packages/charts/src/stories/legend-config.tsx
  projects/js-packages/charts/src/types.ts
Labels: [Type] Enhancement, [Status] In Progress, [Status] Needs Review, RNA, [Tests] Includes Tests, [JS Package] Charts

#45367 Cookie Consent Widget: ensure the default text can be translated
  projects/plugins/jetpack/changelog/fix-legacy-cookie-consent-i18n
  projects/plugins/jetpack/modules/widgets/class-jetpack-eu-cookie-law-widget.php
Labels: [Type] Bug, [Feature] Extra Sidebar Widgets, [Status] Needs Review, [Pri] Low, [Plugin] Jetpack, Bug

#45363 Forms: add loading spinner for integrations
  projects/packages/forms/changelog/add-forms-integrations-loading-state
  projects/packages/forms/src/dashboard/integrations/index.tsx
  projects/packages/forms/src/dashboard/integrations/style.scss
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Package] Forms

#45370 Tests: Address now-deprecated RunClassInSeparateProcess PHPUnit attribute
  projects/packages/autoloader/changelog/fix-testing-replace_RunClassInSeparateProcess_with_RunTestsInSeparateProcesses
  projects/packages/autoloader/tests/php/tests/unit/AutoloaderHandlerTest.php
  projects/packages/autoloader/tests/php/tests/unit/PluginLocatorTest.php
Labels: [Status] Needs Review, [Type] Janitorial, [Package] Autoloader, [Tests] Includes Tests

#45371 Prevent PHP fatals when directly accessing files, round 8
  projects/plugins/jetpack/changelog/fix-jetpack-direct_access_fatals_part_8
  projects/plugins/jetpack/extensions/blocks/contact-form/contact-form.php
  projects/plugins/jetpack/extensions/blocks/paypal-payment-buttons/paypal-payment-buttons.php
  projects/plugins/jetpack/extensions/plugins/seo/seo.php
Labels: [Status] Needs Review, [Type] Janitorial, [Plugin] Jetpack, [Block] Contact Form, [Extension] SEO, [Block] Paypal Payment Buttons

#45373 Forms: remove integrations loading spinner
  projects/packages/forms/changelog/remove-forms-integration-spinner
  projects/packages/forms/src/dashboard/integrations/index.tsx
  projects/packages/forms/src/dashboard/integrations/style.scss
Labels: [Type] Bug, [Feature] Contact Form, [Status] Ready to Merge, [Pri] Normal, [Package] Forms

#45366 Calypsoify: mark package as abandoned
  projects/packages/calypsoify/README.md
  projects/packages/calypsoify/changelog/update-abandon-calypsoify-45356
  projects/packages/calypsoify/composer.json
  projects/plugins/mu-wpcom-plugin/changelog/update-abandon-calypsoify-45356
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/update-abandon-calypsoify-45356
  projects/plugins/wpcomsh/composer.lock
Labels: Docs, [Status] Needs Review, [Type] Janitorial, [Pri] Low, [Feature] Calypsoify, [Plugin] mu wpcom, [Plugin] Wpcomsh, [Package] Calypsoify

#45356 Remove Calypsoify package
  pnpm-lock.yaml
  projects/github-actions/repo-gardening/changelog/dotcom-14866-remove-calypsoify
  projects/github-actions/repo-gardening/src/tasks/add-labels/index.js
  projects/packages/calypsoify/.gitattributes
  projects/packages/calypsoify/.gitignore
  projects/packages/calypsoify/.phan/config.php
  projects/packages/calypsoify/.phpcs.dir.xml
  projects/packages/calypsoify/CHANGELOG.md
  projects/packages/calypsoify/README.md
  projects/packages/calypsoify/changelog/.gitkeep
  projects/packages/calypsoify/changelog/renovate-wordpress-monorepo2
  projects/packages/calypsoify/changelog/update-abandon-calypsoify-45356
  projects/packages/calypsoify/composer.json
  projects/packages/calypsoify/package.json
  projects/packages/calypsoify/phpunit.11.xml.dist
  projects/packages/calypsoify/phpunit.12.xml.dist
  projects/packages/calypsoify/phpunit.8.xml.dist
  projects/packages/calypsoify/phpunit.9.xml.dist
  projects/packages/calypsoify/src/class-jetpack-calypsoify.php
  projects/packages/calypsoify/src/js/mods-gutenberg.js
  projects/packages/calypsoify/src/scss/style-gutenberg.scss
  projects/packages/calypsoify/tests/.phpcs.dir.xml
  projects/packages/calypsoify/tests/php/bootstrap.php
  projects/packages/calypsoify/webpack.config.calypsoify.js
  projects/packages/jetpack-mu-wpcom/changelog/dotcom-14866-remove-calypsoify
  projects/packages/jetpack-mu-wpcom/composer.json
  projects/packages/jetpack-mu-wpcom/src/class-jetpack-mu-wpcom.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-admin-bar/class-wpcom-admin-bar.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-block-editor/class-jetpack-wpcom-block-editor.php
  projects/packages/jetpack-mu-wpcom/src/features/wpcom-wpadmin-page-view/wpcom-wpadmin-page-view.php
  projects/plugins/mu-wpcom-plugin/changelog/dotcom-14866-remove-calypsoify
  projects/plugins/mu-wpcom-plugin/changelog/dotcom-14866-remove-calypsoify#2
  projects/plugins/mu-wpcom-plugin/composer.lock
  projects/plugins/wpcomsh/changelog/dotcom-14866-remove-calypsoify
  projects/plugins/wpcomsh/changelog/dotcom-14866-remove-calypsoify#2
  projects/plugins/wpcomsh/composer.lock
Labels: Docs, [Status] Needs Review, [Type] Task, [Feature] Calypsoify, Actions, [Action] Repo Gardening, [Package] Jetpack mu wpcom, [Plugin] mu wpcom, [Tests] Includes Tests, [Plugin] Wpcomsh, [Package] Calypsoify, [mu wpcom Feature] WordPress.com Block Editor, [mu wpcom Feature] Wpcom Admin Bar, [mu wpcom Feature] Wpcom Wpadmin Page View

#45383 WPCOM Features: Add granular features for all theme tiers
  projects/plugins/wpcomsh/changelog/dotthem-92-theme-tiers-replace-upload_themes-and-atomic-feature-checks
  projects/plugins/wpcomsh/wpcom-features/class-wpcom-features.php
Labels: [Status] Ready to Merge, [Type] Task, [Plugin] Wpcomsh

#45354 Make the Help Center runnable as a standalone plugin
  projects/packages/jetpack-mu-wpcom/changelog/allow-help-center-to-run-as-a-standalone-plugin
  projects/packages/jetpack-mu-wpcom/src/features/help-center/class-help-center.php
  projects/packages/jetpack-mu-wpcom/src/features/help-center/help-center.php
Labels: [Status] Needs Author Reply, [Status] In Progress, [Package] Jetpack mu wpcom, [mu wpcom Feature] Help Center

#45300 Forms: Add implicitly required single input form
  projects/packages/forms/changelog/add-implicitly-required-single-input-form
  projects/packages/forms/src/blocks/contact-form/edit.tsx
  projects/packages/forms/src/blocks/field-email/edit.js
  projects/packages/forms/src/blocks/field-name/edit.js
  projects/packages/forms/src/blocks/field-number/edit.js
  projects/packages/forms/src/blocks/field-telephone/edit.js
  projects/packages/forms/src/blocks/field-text/edit.js
  projects/packages/forms/src/blocks/field-textarea/edit.js
  projects/packages/forms/src/blocks/field-time/edit.js
  projects/packages/forms/src/blocks/field-url/edit.js
  projects/packages/forms/src/blocks/label/edit.js
  projects/packages/forms/src/blocks/label/index.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field-controls.js
  projects/packages/forms/src/blocks/shared/components/jetpack-field.js
  projects/packages/forms/src/blocks/shared/hooks/use-sync-required-indicator.js
  projects/packages/forms/src/blocks/shared/settings/index.js
  projects/packages/forms/src/contact-form/class-contact-form-field.php
  projects/plugins/jetpack/changelog/add-implicitly-required-single-input-form
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Ready to Merge, [Plugin] Jetpack, [Block] Contact Form, [Package] Forms, I don't care about code coverage for this PR

#45406 Charts: Specify the color for axis labels in the theme
  projects/js-packages/charts/changelog/charts-127-specify-colors-for-woo-axis-and-legend-labels
  projects/js-packages/charts/src/providers/chart-context/themes.ts
  projects/js-packages/charts/src/types.ts
Labels: [Status] Needs Review, RNA, [JS Package] Charts, [Type] Feature

#45352 Forms: Add response view actions
  projects/packages/forms/changelog/add-forms-response-view-actions
  projects/packages/forms/src/dashboard/components/gravatar/style.scss
  projects/packages/forms/src/dashboard/inbox/dataviews/index.js
  projects/packages/forms/src/dashboard/inbox/response.js
  projects/packages/forms/src/dashboard/inbox/style.scss
Labels: [Feature] Contact Form, [Status] Needs Review, [Type] Task, [Status] Needs Design, [Plugin] Jetpack, [Status] Design Input Requested, [Package] Forms, Coverage tests to be added later

#45412 Connection: add support for granular error logs in external storage
  projects/packages/connection/changelog/update-external-storage-error-loging
  projects/packages/connection/src/class-external-storage.php
Labels: [Type] Enhancement, [Status] Needs Author Reply, [Status] In Progress, [Package] Connection

#45415 Backport 15.1 release
  projects/packages/forms/CHANGELOG.md
  projects/packages/forms/changelog/add-forms-response-view-actions
  projects/packages/forms/changelog/add-implicitly-required-single-input-form
  projects/packages/forms/changelog/fix-forms-field-telephone-dropdown-z
  projects/packages/forms/changelog/optimize-inbox-fields
  projects/packages/forms/composer.json
  projects/packages/forms/package.json
  projects/packages/forms/src/class-jetpack-forms.php
  projects/packages/forms/src/contact-form/class-contact-form.php
  projects/packages/forms/tests/php/contact-form/Contact_Form_Plugin_Test.php
  projects/plugins/jetpack/CHANGELOG.md
  projects/plugins/jetpack/changelog/prerelease
  projects/plugins/jetpack/composer.json
  projects/plugins/jetpack/composer.lock
  projects/plugins/jetpack/jetpack.php
  projects/plugins/jetpack/readme.txt
Labels: [Feature] Contact Form, [Status] Needs Author Reply, [Plugin] Jetpack, [Package] Forms, [Tests] Includes Tests

#45372 Forms: add integrations store
  projects/packages/forms/changelog/add-forms-integrations-store
  projects/packages/forms/src/dashboard/integrations/index.tsx
  projects/packages/forms/src/store/integrations/action-types.ts
  projects/packages/forms/src/store/integrations/actions.ts
  projects/packages/forms/src/store/integrations/index.ts
  projects/packages/forms/src/store/integrations/reducer.ts
  projects/packages/forms/src/store/integrations/resolvers.ts
  projects/packages/forms/src/store/integrations/selectors.ts
  projects/packages/forms/src/store/integrations/types.ts
  projects/plugins/jetpack/changelog/add-forms-integrations-store
Labels: [Type] Enhancement, [Feature] Contact Form, [Status] Needs Review, [Pri] Normal, [Plugin] Jetpack, [Package] Forms, [Package] Calypsoify
